<template>
  <div class="wrap" @click="hideMenu">
    <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

    <div class="site-canvas">

      <div class="container-fluid top-bar">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 ">
              <h1 class="ltr text-left">交易账号类型</h1>
              <ol class="breadcrumb">
                <li class="home">
                  <router-link to="/" class="home">NOBLE SKY</router-link>
                </li>
                <li class="post post-page current-item">交易账号类型</li>
              </ol>
            </div>
            <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
              <div class="option-nav">
                <router-link to="/contact">
                  <i class="contact"></i>
                  <span>联系我们</span>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="container-fluid text-center  top80">
          <div class="feature-item5">
            <i class="  tfxfont3 xmHigh-bars red fs100"></i>
            <p class="top30">卓越的交易环境</p>
          </div>
          <div class="feature-item5">
            <i class="  tfxfont3 xmArrows red fs100"></i>
            <p class="top30">
              交易标准手
            </p>
          </div>
          <div class="feature-item5">
            <i class="  tfxfont3 xmChart red fs100"></i>
            <p class="top30">无限制访问MT5和EA交易</p>
          </div>
          <div class="feature-item5">
            <i class="  tfxfont3 xmInfinity red fs100"></i>
            <p class="top30">每日免费市场更新以及技术分析</p>
          </div>
          <div class="feature-item5">
            <i class="  tfxfont3 xmScale red fs100"></i>
            <p class="top30">所有账户类型执行质量一样</p>
          </div>
          <div class="feature-item5">
            <i class="  tfxfont3 xmGlobe red fs100"></i>
            <p class="top30">多语言客服支持以及私人客户经理</p>
          </div>
        </div>

        <div class="dis40 visible-xs"></div>
        <div class="row mx-auto">
          <div class="col-md-12 text-justify mx-2">
            <h2>NBS交易账户类型</h2>
            <div class="dis40 hidden-xs"></div>
            <div class="divTable clone-11  sharesAccount" style="height: 1265px;">
              <div class="area-11" style="height: 1265px;">
                <h3 class="titleRed">微型账户</h3>
                <div class="content">
                  <ul class="area-5" style="height: 104px;">
                    <li class="title">可选基础货币</li>
                    <li class="text">USD</li>
                  </ul>
                  <ul class="area-4" style="height: 104px;">
                    <li class="title">合约规模</li>
                    <li class="text">1手 = 1,000个单位</li>
                  </ul>
                  <ul class="area-2" style="height: 146px;">
                    <li class="title">杠杆*</li>
                    <li class="text">1:1 to 1:200 </li>
                  </ul>
                  <ul>
                    <li class="title">负余额保护政策</li>
                    <li class="text">
                      <i class="fa fa-check"></i>
                    </li>
                  </ul>
                  <ul class="area-6" style="height: 84px;">
                    <li class="title">主流货币对点差</li>
                    <li class="text">低至 1 个点</li>
                  </ul>
                  <ul>
                    <li class="title">手续费</li>
                    <li class="text">
                      <i class="fa fa-times"></i>
                    </li>
                  </ul>
                  <ul>
                    <li class="title">单客户最大开/挂单数</li>
                    <li class="text">200单</li>
                  </ul>
                  <ul class="area-7" style="height: 84px;">
                    <li class="title">最小交易量</li>
                    <li class="text">
                      <br>0.1手数 (MT5)
                      <br>
                    </li>
                  </ul>
                  <ul class="area-8" style="height: 84px;">
                    <li class="title">每单手数限制</li>
                    <li class="text">100手数</li>
                  </ul>
                  <ul>
                    <li class="title">允许锁仓</li>
                    <li class="text">
                      <i class="fa fa-check"></i>
                    </li>
                  </ul>

                  <ul>
                    <li class="title">最低入金</li>
                    <li class="text">5美金</li>
                  </ul>
                </div>
                <div class="content">
                  <ul>
                    <li class="text-center">
                      <div class="dis20"></div>
                      <router-link to="/register" class="btn btn-solid btn-red center-block">建立账户</router-link>
                      <div class="dis20"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="divTable clone-11  sharesAccount" style="height: 1265px;">
              <div class="area-11" style="height: 1265px;">
                <h3 class="titleGray">标准账户</h3>
                <div class="content">
                  <ul class="area-5" style="height: 104px;">
                    <li class="title">可选基础货币</li>
                    <li class="text">USD</li>
                  </ul>
                  <ul class="area-4" style="height: 104px;">
                    <li class="title">合约规模</li>
                    <li class="text">1手 = 100,000个单位</li>
                  </ul>
                  <ul class="area-2" style="height: 146px;">
                    <li class="title">杠杆*</li>
                    <li class="text">1:1 to 1:200 </li>
                  </ul>
                  <ul>
                    <li class="title">负余额保护政策</li>
                    <li class="text">
                      <i class="fa fa-check"></i>
                    </li>
                  </ul>
                  <ul class="area-6" style="height: 84px;">
                    <li class="title">主流货币对点差</li>
                    <li class="text">低至 1 个点</li>
                  </ul>
                  <ul>
                    <li class="title">手续费</li>
                    <li class="text">
                      <i class="fa fa-times"></i>
                    </li>
                  </ul>
                  <ul>
                    <li class="title">单客户最大开/挂单数</li>
                    <li class="text">200单</li>
                  </ul>
                  <ul class="area-7" style="height: 84px;">
                    <li class="title">最小交易量</li>
                    <li class="text">0.01手数</li>
                  </ul>
                  <ul class="area-8" style="height: 84px;">
                    <li class="title">每单手数限制</li>
                    <li class="text">50手数</li>
                  </ul>
                  <ul>
                    <li class="title">允许锁仓</li>
                    <li class="text">
                      <i class="fa fa-check"></i>
                    </li>
                  </ul>

                  <ul>
                    <li class="title">最低入金</li>
                    <li class="text">5美金</li>
                  </ul>
                </div>
                <div class="content">
                  <ul>
                    <li class="text-center">
                      <div class="dis20"></div>

                      <router-link to="/register" class="btn btn-solid btn-red center-block">建立账户</router-link>
                      <div class="dis20"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="dis10"></div>

            <small class="atnotecn">* 杠杆的适用范围是根据在NBS集团持有的所有交易账户总资金累计金额计算的。</small>
          </div>
        </div>
      </div>
      <div class="container-fluid top115 option-type info">
        <div class="row">
          <div class="col-md-12 text-justify mx-2">
            <p>
              以上表格仅供参考。NBS乐意为每一位客户量身定制解决方案。如果入金货币不是USD，
              <br>那么最终显示的将是USD转换为入金货币后的数额。
            </p>
            <div class="top80"></div>
            <p>
              请注意，为了确保我们服务器的最佳性能和实现我们
              <span class="text-underline">订单执行政策</span>中的标准, 长时间未使用的账户需要遵循
              <a href="javascript:">账户关闭及存档政策</a>。
            </p>
            <p>
              如果您是
              <router-link to="/forex-trading">外汇</router-link>新手，那么
              <strong>
                模拟账户
              </strong>是测试您交易潜力的最佳选择。您可以用虚拟资金交易，不冒任何风险，因为盈亏都是模拟的。在您测试过交易策略、学会掌握市场动向和如何下单之后，您可以开始下一步，建立真实账户，交易真实资金。
            </p>
          </div>
        </div>
      </div>
      <div class="container-fluid top80 text-center">
        <div class="row">
          <div class="col-md-12 text-justify mx-2">
            <div class="panel-group" id="accordion1">
              <!-- What is a Forex Trading Account? -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">什么是外汇交易账户？</h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a1collapse1" class="panel-collapse collapse">
                  <div class="panel-body gray">
                    <p>Noble Sky外汇账户是您持有的交易账户，它与您的银行账户类似，但不同之处在于它主要用以货币进行交易。</p>
                    <p>
                      如上述，Noble Sky 外汇交易账户有：
                      <strong>Standard</strong>类型
                    </p>
                    <p>
                      请注意，可以在
                      <span class="text-underline">Noble Sky所有平台</span>进行外汇（或货币）交易。
                    </p>
                    <p>总之，您可以使用自己的交易账户登录：</p>
                    <ul class="ftr-faq">
                      <li>1. CRM中心</li>
                      <li>2. MT5平台</li>
                    </ul>
                    <p>当您在Noble Sky注册 外汇交易账户时，您需要通过一个简单的资料流程的审核，在这里Noble Sky需要确保您提交的个人详细信息是正确的，并确保您的资金和您的账户详细信息的安全。</p>
                    <p>在外汇交易账户开通之后，您可登录Noble Sky的CRM中心，您可以在这里进行账户资料认证、激活MT5账户、出入金。</p>
                    <p>您的交易账户登录详细信息将与MT5交易平台相匹配，并且最终将用于执行您的交易。您在CRM执行的任何入金或出金或其他改变将会反映在MT5交易平台上。</p>

                  </div>
                </div>
              </div>
              <!-- What is a Multi-Asset Trading Account? -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">什么是多资产交易账户？</h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a1collapse1" class="panel-collapse collapse">
                  <div class="panel-body gray">
                    <p>Noble Sky多资产交易账户是与您的银行账户相似的账户，但是区别在于其目的是交易外汇、贵金属和能源差价合约</p>
                    <p>
                      如上述，Noble Sky 的多资产交易账户有：
                      <strong>Standard</strong>类型。
                    </p>
                    <p>请注意，多资产交易账户只可以在MT5使用，并且可以访问Noble Sky线上交易者</p>
                    <p>总的来说，您可以通过多资产交易账户</p>
                    <ul class="ftr-faq">
                      <li>1. 登录CRM</li>
                      <li>2. 登录MT5平台</li>
                      <li>3. 登录Noble Sky网页终端</li>
                    </ul>
                    <p>当您在Noble Sky注册 外汇交易账户时，您需要通过一个简单的资料流程的审核，在这里Noble Sky需要确保您提交的个人详细信息是正确的，并确保您的资金和您的账户详细信息的安全。</p>
                    <p>在外汇交易账户开通之后，您可登录Noble Sky的CRM中心，您可以在这里进行账户资料认证、激活MT5账户、出入金。</p>
                    <p>您的交易账户登录详细信息将与MT5交易平台相匹配，并且最终将用于执行您的交易。您在CRM执行的任何入金或出金或其他改变将会反映在MT5交易平台上。</p>
                  </div>
                </div>
              </div>
              <!-- Who Should Choose MT4? -->
              <!-- Who Should Choose MT5? -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">谁需要选择MT5？</h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a1collapse3" class="panel-collapse collapse">
                  <div class="panel-body gray">
                    <p>选择MT5的客户可以进行更广泛的交易，包括外汇、贵金属和原油差价合约。</p>
                    <p>MT5账户除了可以登录电脑版（可供下载）MT5和对应的App，还可以登录网页终端。。</p>
                    <p>如上述， Standard 账户可以使用MT5平台进行交易。</p>
                  </div>
                </div>
              </div>
              <!-- What is the Main Difference Between MT4 Trading Accounts and MT5 Trading Accounts? -->
              <!-- Can I Hold Multiple Trading Accounts? -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">我能同时拥有多个账户吗？</h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a1collapse1" class="panel-collapse collapse">
                  <div class="panel-body gray">
                    <p>一个身份证仅可以认证一个真实账户。</p>
                  </div>
                </div>
              </div>
              <!-- How to Manage Your Trading Accounts? -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">如何管理您的交易账户？</h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a1collapse1" class="panel-collapse collapse">
                  <div class="panel-body gray">
                    <p>您可以在Noble Sky的CRM中心操作账户资料认证、激活MT5账户、出入金。</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dis70"></div>

    </div>


    <pageFooter />
  </div>
</template>


<script>

  import pageHeader from '../../components/pageHeaderTFX.vue'
  import pageFooter from '../../components/pageFooterTFX.vue'
  import { languageCode } from '../../utils/lan-code'





  export default {
    name: "my-acount",
    data: function () {
      return {
        isLogin: false,
        userLoginInfo: '',
        curCoinType: 1,
        curLanguage: 2,
        // language:coinstrad,

        userInfo: {
          configure: {
          }
        },

        tableIndex: 0,
        queryIndex: 0,
        queryIndexFlag: false




      };
    },
    metaInfo: {
      title: 'Account types-NOBLE SKY',
    },
    created() {

      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');

      this.curCoinType = !!storeCoinType ? storeCoinType : this.$api.defaultCoinType;
      this.curLanguage = !!storeLanguage ? storeLanguage : this.$api.defaultLanguage;

      if (this.curLanguage != 2) {
        let pName = this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[this.curLanguage]
        this.$router.push({ name: pNameStr });
      }



      this.isLogin = this.util.isLogin();

      if (!!this.isLogin) {
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
        // this.getUserInfo();
      }


      // this.getSystemTradMode()

      // this.getUserAsset()
      // this.getCoinList();
      // this.getUserOrder();
      // this.getUserOrder2();
      // this.settingAPIDataLanguage();
      // this.getcurrency()



    },

    mounted() {

      let element = document.querySelectorAll(".panel-heading");

      console.log(element)
      console.log('aaaaaaaaaaa')


      for (let i = 0; i < element.length; i++) {

        (function (m) {

          let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

          panel.classList.add('showFlag')

          element[m].addEventListener('click', function () {

            console.log('aaaaaaaaa')
            this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
            this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

            panel.classList.toggle('showFlag')


          })


        })(i)



      }


      document.documentElement.scrollTop = 0


    },




    components: {
      pageHeader,
      pageFooter
    },

    methods: {
      changeLanguage(val) {
        console.log(this.curLanguage)
        let pName = this.curLanguage == 1 ? this.$route.name : this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[val]
        this.$router.push({ name: pNameStr });
      },
      hideMenu() {
        this.$refs.pageHead.hideMenu();
      },
      handleTableIndex(val) {
        this.tableIndex = val
      },
      handleQueryIndex(val) {
        if (val === this.queryIndex) {
          this.queryIndexFlag = !this.queryIndexFlag
        } else {
          this.queryIndex = val
          this.queryIndexFlag = true
        }

      }


    }


  };
</script>





<style scoped lang="scss">
  h2 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .top115 {
    margin-top: 115px !important;
  }

  .top30 {
    margin-top: 30px !important;
  }

  .top50 {
    margin-top: 50px !important;
  }

  .top60 {
    margin-top: 60px !important;
  }

  .top80 {
    margin-top: 80px !important;
  }


  .text-center {
    text-align: center !important;
  }

  .center-block {
    float: none !important;
  }

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    display: none;
  }


  .dis20 {
    height: 20px;
    clear: both;
  }

  .dis30 {
    height: 30px;
    clear: both;
  }

  .dis60 {
    height: 60px;
    clear: both;
  }



  .site-canvas .top-bar .breadcrumb {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .site-canvas .top-bar {
    background-color: #e8e8e8;
    padding: 20px 25px;
    margin: 0;
  }


  .area-11 .btn.btn-solid {
    background-color: #74c109;
    color: #fff;
    height: 40px;
    line-height: 22px;
    display: block;
    font-size: 24px;
  }

    .area-11 .btn.btn-solid:hover {
      background-color: #29a643;
    }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
    clear: both;
  }

  .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
  }



  .box-text-btn {
    text-align: center;
    padding: 10px !important;
    .row

  {
    margin-left: -15px;
    margin-right: -15px;
  }

  .btn-full {
    background-color: #74c109;
    display: inline-block;
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
    width: 247px;
    text-align: center;
  }

    .btn-full:hover {
      background-color: #29a643;
    }

  }

  .nav-flexbox-tabs {
    padding: 10px !important;
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
  }

    .nav-flexbox-tabs > li {
      width: 213px;
      text-align: center;
      background-color: #fff;
      margin-bottom: 15px;
      margin-right: 15px;
      border: 1px solid #cbcbcb;
    }

      .nav-flexbox-tabs > li.active {
        background-color: #d51820;
      }

      .nav-flexbox-tabs > li > a, .nav-flexbox-tabs > li > button {
        color: #000;
      }

      .nav-flexbox-tabs > li.active a, .nav-flexbox-tabs > li.active button {
        color: #fff;
      }


  // a:focus, a:visited {
  //   color: #d51820;
  // }

  .nav-flexbox-tabs a, .nav-flexbox-tabs button {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #000;
    line-height: normal;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    min-height: 38px;
    padding: 0 15px;
  }




  .nav-tabs {
    border: 0;
    font-size: 0;
    margin-bottom: 30px;
  }

  #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
    position: relative;
    margin-bottom: 0;
    z-index: 9;
  }

  #tabs2, #tabs3, #tabs4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }





  .nav > li {
    position: relative;
    display: block;
  }

  .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
  }

  .nav-tabs > li {
    width: 50%;
  }

  #tabs2.nav-tabs > li, #tabs3.nav-tabs > li, #tabs4.nav-tabs > li {
    float: none;
    width: 100%;
  }

  #tabs2.nav-tabs > li, #tabs3.nav-tabs > li, #tabs4.nav-tabs > li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }



  .collapse {
    display: block;
  }

  .panel-default > .panel-heading i.fa-angle-up {
    color: #d51820 !important;
  }

  #tabContent .panel-default > .panel-heading i.fa.fa-angle-up, .panel-default > .panel-heading i.fa.fa-angle-up, #tabContent .panel-default > .panel-heading i.fa.fa-angle-down, .panel-default > .panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-up, .panel-default > .panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-down, .panel-default > .panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
  }

  .tab-pane .dis30 {
    height: 50px;
  }

  .panel-collapse.showFlag {
    display: none;
  }

  .btnAccordion.pull-right {
    display: none;
  }

  footer {
    // height: 300px;
    background-color: #333;
    text-align: center;
  }

    footer .cell {
      padding-top: 100px;
      font-size: 26px;
      color: #fff;
    }

  .divTable.sharesAccount {
    width: 100%;
    margin-bottom: 0;
  }

  .row {
    width: 100%;
  }

  .container-fluid, .container-fluid .top-bar {
    padding: 30px 10px;
    margin: auto;
    width: 100%;
  }

  .feature-item6 {
    width: 50%;
  }

  .row h2 {
    text-align: center;
  }
</style>
