<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="contact-box">

            <h3>联系我们</h3>
            <p><i class="fa fa-warning red"></i>我们竭诚提供多方面的服务，切确解答您的各种疑惑，以提供最佳用户体验为最高指标！请参考我们精心规划且信息详细的常见问题页面。您的疑问将即刻迎刃而解。</p>
            <p>若您在
            <router-link to="/faq">常见问题</router-link>
            页面无法获得满意的答案 ，欢迎通过电子邮件或网页客服联系我们。
            </p>
            <h6>地址</h6>
            <p>香港观塘成业界7号宁晋中心27楼B室</p>
            <dl>
               <dt>线上支持</dt>
               <dd><i class="fa fa-clock-o red"></i>工作时间：24/5 GMT</dd>
               <dd><i class="fa fa-headphones red"></i>网页客服</dd>
               <dd><i class="fa fa-envelope red"></i>nbstraderservice@gmail.com</dd>
            </dl>
            <!-- <dl>
               <dt>电话支持</dt>
               <dd><i class="fa fa-clock-o red"></i>工作时间：24/5 GMT</dd>
               <dd><i class="fa fa-phone red"></i> +501 223-6696</dd>
            </dl> -->


        </div>


         <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'




export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=1){
       let pName = this.$route.name
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },

     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">

  .contact-box {
    width: auto;
    margin: 0 auto;
    padding: 20px;
    
    h3{padding:30px 0 20px;font-size: 24px;}
      h5{padding:20px 0 10px;font-size: 18px;}
      h6{font-weight: bold;font-size: 16px;margin: 20px 0 2px;}
      dl{margin:30px 0  0;border-bottom: 1px solid #ccc;padding-bottom: 30px;}
      dl:last-child{border:0}

   }


</style>
