<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <div class="site-canvas">


        <div class="container-fluid top-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 ">
                        <h1 class="ltr text-left">
                            MetaTrader 5 (MT5)                </h1>
                        <ol class="breadcrumb">
                            <li class="home"><router-link to="/" class="home">NOBLE SKY</router-link></li>
        <li class="post post-page current-item">MetaTrader 5 (MT5)</li>
                        </ol>
                    </div>

                    <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                        <div class="option-nav">
                                                <router-link to="/contact">
                                                  <i class="contact"></i>
                                                  <span>联系我们</span></router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row top80">
                <div class="col-sm-12">
                    <h2>
                        为什么Noble sky MT5更好呢？            </h2>
                    <div class="quote-msg top30">
                        <p>
                            <i class="quote-right "></i>
                           Noble sky MT5平台提供了所有必要功能，使得MT5成为了一个理想的多资产管理平台。在同一平台上可交易外汇和CFD合约，黄金，原油和股指，无拒绝订单，无重复报价，同时杠杆可从1:1到200:1灵活进行选择。                </p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-12 top40">
                            <h3>Noble sky MT5特点</h3>
                            <ul class="checks top35">
                                <li>
                                    超过100种交易商品，包括股指指数差价合约，外汇，贵金属差价合约和能源差价合约。                        </li>
                                <li>
                                                点差低至0.6个点                        </li>
                                <li>完整EA功能</li>
                                <li>一键交易</li>
                                <li>支持所有订单类型</li>
                                <li>超过80种技术分析工具</li>
                                <li>具有市场深度的最新报价</li>
                                <li>允许锁仓</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 top60 hidden-sm">
                    <img class="img-responsive center-block" src="../../../static/images/page-img/mt5/mt5-pc.png?v3.0" alt="mt5 pc screenshot">
                </div>
            </div>
             <div class="greenRed-btns top50 text-center">
                <router-link to="/register" class="btn btn-solid btn-green btn-block">
                    <i class="fa fa-pencil-square-o"></i>
                    建立账户        </router-link>
                <div class="dis20"></div>
                <a href="https://download.mql5.com/cdn/web/hk.noble.sky/mt5/hknobleskytreasure5setup.exe" class="btn btn-solid btn-red btn-block">
                    <i class="fa fa-download"></i>
                    下载        </a>
                 <div class="dis20"></div>
                 <router-link :to="{name:'register',params:{regType:2}}" class="btn btn-outline btn-block">
                     <i class="fa fa-pencil-square-o"></i>
                     建立模拟账户         </router-link>
            </div>
        </div>
        <!--section class="section top80">
            <div class="container-fluid metatrader">
                <div class="row">
                    <div class="col-md-12 text-justify mx-2">
                        <h2 class="text-center big">Noble sky MT5 - 1 种平台, 多种交易品种</h2>
                        <img class="img-responsive center-block top30" src="../../../static/images/page-img/mt5/mt5-pc-half.png?v3.0" alt="mt5 pc screenshot">
                    </div>
                </div>
            </div>
        </section-->
        <div class="container-fluid">
            <!--div class="container-fluid">
                <div class="dis30 visible-xs visible-sm"></div>
                <div class="row btn-a-box">
                    <div class="col-12 py-2 text-center">
                        <router-link to="/register" class="btn-a crate-account-btn">
                            <i class="fa fa-pencil-square-o"></i>
                            建立账户                </router-link>
                    </div>

                    <div class="col-12 py-2 text-center">
                        <a href="https://download.mql5.com/cdn/web/hk.noble.sky/mt5/hknobleskytreasure5setup.exe" class="btn-a download-btn">
                            <i class="fa fa-download"></i>
                            下载                </a>
                    </div>
                    <div class="dis20"></div>
                    <p class="text-center">
                        进入全球金融市场            </p>
                </div>
            </div-->
            <div class="row">
                <hr>
            </div>
            <div class="container-fluid metatrader">
                <div class="row top50 hidden-xs hidden-sm hidden-l-sm">
                    <div class="col-sm-12">
                        <h2>
                            <i class="tfxfont3 xmInstall-pc sm red"></i>
                            如何安装Noble sky MT5                </h2>
                        <ul class="arrows top30">
        	                <li>点击<a href="https://download.mql5.com/cdn/web/hk.noble.sky/mt5/hknobleskytreasure5setup.exe">这里</a> (.exe 文件)下载终端</li>
                            <li>下载后运行NOBLE SKY.exe文件。</li>
                            <li>当首次运行程序时，您将看到登录窗口。</li>
                            <li>输入您的真实账户或者模拟账户登录信息。</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid metatrader">
            <div class="row top80">
                <div class="col-md-12 text-justify mx-2">
                    <h2>
                        <i class="tfxfont3 xmZoom sm red"></i>
                        Noble sky MT5主要特点            </h2>
                </div>
                <div class="col-sm-12">
                    <ul class="arrows">
                        <li>多重资产投资平台，超过100个交易品种</li>
                        <li>可以同时显示100个图表</li>
                        <li>支持所有订单类型，包括现价订单，挂单，止盈止损和追踪止损</li>
                        <li>超过80种技术指标和40种分析工具</li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul class="arrows">
                        <!--<li></li>-->
                        <li>卓越的内置MQL5开发环境</li>
                        <li>适用于安卓&amp;IOS系统移动端交易</li>
                        <li>支持Windows, Linux操作系统的网页交易</li>
                        <li>内部邮件系统</li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul class="arrows">
                        <li>多货币测试仪和警报</li>
                    </ul>
                </div>
            </div>
            <div class="row top80 hidden-xs hidden-sm hidden-l-sm">
                <div class="col-sm-6 col-md-7">
                    <h2>
                        <i class="tfxfont3 xmGears sm red"></i>
                        Noble sky MT5系统需求            </h2>
                   <!-- <div class="col-md-6 visible-xs">
                        <img class="img-responsive center-block" src="../../../static/images/page-img/mt5/mt5-pc-small.png?v3.0" alt="mt5 pc screenshot">
                    </div> -->
                    <ul class="arrows top30">
                        <li><strong>操作系统：</strong>建议64位的Windows 10或Microsoft Windows 7以上的版本，使用效果最佳。</li>
                        <li><strong>处理器：</strong>支援SSE2适用所有（Pentium 4/Athlon 64 以上规格）的CPU</li>
                        <li>其他硬件需求取决于使用平台（例如，运行MQL5应用程序的负载、选取商品种类和图表的数量）</li>
                    </ul>
                </div>
                <div class="col-sm-12 hidden-xs top30">
                   <img class="img-responsive center-block" src="../../../static/images/page-img/mt5/mt5-pc.png?v3.0" alt="mt5 pc screenshot">
                </div>
            </div>
        </div>
        <div class="container-fluid metatrader">
            <div class="row top80 hidden-xs hidden-sm hidden-l-sm">
                <div class="col-md-12 text-justify mx-2">
                    <h2><i class="tfxfont3 xmTrash sm red"></i> 如何卸载PC系统Noble sky MT5</h2>
                    <ul class="arrows">
                        <li>
                            <span class="red mt4_steps"><strong>步骤 1:</strong></span>
                            点击开始→所有程序→Noble sky MT5→卸载                </li>
                        <li>
                            <span class="red mt4_steps"><strong>步骤 2:</strong></span>
                            按照屏幕上的步骤介绍开始卸载，直到卸载程序完成                </li>
                        <li>
                            <span class="red mt4_steps"><strong>步骤 3:</strong></span>
                            点击我的电脑→ 点击安装操作系统的驱动C盘或者root驱动→ 点击程序文件夹→ 选中Noble sky MT5文件夹并删除                </li>
                        <li>
                            <span class="red mt4_steps"><strong>步骤 4:</strong></span>
                            重启电脑                </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="faq">
            <div class="container-fluid top80 text-center">
                <div class="row">
                    <div class="col-md-6">
                        <h2>常见问题</h2>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="accordionText" class="hidden"> </div>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btnAccordion pull-right" data-parent="#accordion1"> </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row top20">
                    <div class="col-md-12 text-justify mx-2">
                        <div class="panel-group" id="accordion1">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">怎样访问MT5平台？</h4>
                                    <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a1collapse1" class="panel-collapse collapse">
                                    <div class="panel-body gray">
                                        <p>您需要有Noble Sky MT5交易账户才可以在MT5平台交易。创建Noble Sky MT5账户<router-link to="/register">点击这里</router-link>。</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">怎样认证我的MT5账户呢？</h4>
                                    <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a1collapse1" class="panel-collapse collapse">
                                    <div class="panel-body gray">
                                        <p>点击CRM - >“注册”创建一个MT5账户，创建并登录进行认证，您需要提供我们所需的认证文件（例如，身份证明和地址证明）。</p>
                                    </div>
                                </div>
                            </div>



                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">我可以在MT5上交易什么商品呢？</h4>
                                    <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a1collapse1" class="panel-collapse collapse">
                                    <div class="panel-body gray">
                                        <p>
                                            在 MT5交易终端您可以交易Noble Sky所有的商品，包括外汇，大宗商品，证券指数，贵金属差价合约和能源差价合约。                              </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><div class="container-fluid metatrader top80 hidden-xs hidden-sm hidden-l-sm">
            <div class="row">
                <div class="col-md-12 text-justify mx-2">
                    <h2><i class="tfxfont3 xmMobile-devices sm red"></i> 同样适用于</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="feature-item7 noborder">
                    <router-link to="/mt5" class="device">
                        <i class="tfxfont3 xmPc"></i>
                        <p class="text-center top20">
                            PC系统MT5                </p>
                    </router-link>
                </div>


                <div class="feature-item7 noborder">
                    <router-link to="/mt5-webtrader" class="device">
                        <i class="tfxfont3 xmLaptop"></i>
                        <p class="text-center top20">
                            MT5 WebTrader                </p>
                     </router-link>
                </div>
                <div class="feature-item7 noborder">
                    <router-link to="/mt5-ipad" class="device">
                        <i class="tfxfont3 xmIpad"></i>
                        <p class="text-center top20">
                            iPad系统MT5                </p>
                     </router-link>
                </div>
                <div class="feature-item7 noborder">
                    <router-link to="/mt5-iphone" class="device">
                        <i class="tfxfont3 xmIphone"></i>
                        <p class="text-center top20">
                            iPhone版MT5                </p>
                     </router-link>
                </div>
                <div class="feature-item7 noborder">
                    <router-link to="/mt5-android" class="device">
                        <i class="tfxfont3 xmAndroid-phone"></i>
                        <p class="text-center top20">
                            安卓系统MT5                </p>
                     </router-link>
                </div>
                <!-- <div class="feature-item7 noborder">
                    <router-link to="/mt5">
                        <i class="tfxfont3 xmAndroid-tablet"></i>
                        <p class="text-center top20">
                            安卓平板电脑MT5                </p>
                    </router-link>
                </div> -->
            </div>

            </div>
            <div class="container-fluid metatrader hidden-xs hidden-sm hidden-l-sm">
                <div class="row top50">
                    <div class="col-md-12 text-justify mx-2">
                        <h2><i class="tfxfont3 xmZoom sm red"></i> 关于MetaTrader 5 (MT5)</h2>
                        <p>线上交易平台MetaTrader 5，通常也称为MT5，是众所周知的MetaTrader 4 (MT4)的升级版。它是由<em>MetaQuotes Software Corp.</em>开发，并在2010年发布了测试版。多年来， <em>MetaQuotes</em>连续不断地投入开发、测试与改进，使如今的MT5成为了新一代更具可延展性的交易平台。</p>
                        <p>MT5所拥有的比前代更大的优势是它的灵活性，它可以灵活地通过多种资产类别的不同设置来提供更多的交易商品，所有这些商品都可以在同一界面以及相同的交易账户中进行交易。</p>
                        <p>MetaTrader 5 (MT5) 将众所周知的图表包和自动交易的可能性提升到了一个全新的水平。所有MetaTrader 4 (MT4) 的功能都被完整得保留下来，并升级到了更复杂的后端基础设施，以支持交易者进行各种资产类别的多种商品交易。</p>
                        <div class="row top30"></div>
                        <h3>通过MT5进行多资产交易</h3>
                        <div class="row top30"></div>
                        <p>
                            MT5为线上投资者提供了从<a href="http://crm.hknstpm.com:9999/#">外汇</a>（货币交易），股指，贵金属，能源到大宗商品的差价合约（CFDs）等多种资产类别的交易选择。                </p>
                        <p>无论是初学者，资深的还是专业的线上交易者，MT5都为其开辟了一种全新视野，不仅仅只是在交易层面，更是让交易者可以在不同市场和不同资产类别中获得更清晰的认识。</p>
                        <p>此外，在二十一世纪，线上投资者从一个账户交易各种金融资产的能力为其提供了战略资产配置（或资产管理）的优势，其主要目的是将投资资本分配在各种不同的资产中，并根据市场波动，以及这些资产在短期或长期的表现来管理风险。</p>
                        <div class="row top30"></div>
                        <h3>MT5 线上交易的优势</h3>
                        <div class="row top30"></div>
                        <p>MT5多功能平台包含强大的性能，它们都采用最先进的技术开发而成，几个主要标准得以保留，无可替代的图标包，自动化交易的可能性与灵活性（算法交易），以及对多种市场的支持。</p>
                        <p>对于初学者和资深交易者而言，MT5确保了平台的性能与功能符合当今任何线上投资者的最高期望。其中包括各种待定订单的类型（买入限价，买入止损，卖出限价，卖出止损，买入止损限价和卖出止损限价）；一个拥有无限数量的交易订单数据库，以及最先进的编程语言MQL5，允许交易者编辑适用于他们个人交易偏好，以及金融资产交易选择偏好的程序和指标。</p>
                        <div class="row top30"></div>
                        <h3>通过手机端MT5进行交易</h3>
                        <div class="row top30"></div>
                        <p>MT5应用程序适用于iOS和安卓设备，并可以随时随地访问您的账户，其功能包含无与伦比的移动图表及超过30种内置指标，以及超过24种分析对象的技术选项。</p>
                    </div>
                </div>
            </div>


        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=1){
       let pName = this.$route.name
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){

      let element = document.querySelectorAll(".panel-heading");



      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){


               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }


     document.documentElement.scrollTop = 0


  },



  components: {
    pageHeader,
    pageFooter
  },


  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     }
  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }

   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }
   .img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
       display: block;
       max-width: 100%;
       height: auto;
   }



   .dis20 {
       height: 20px;
       clear: both;
   }


   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }

 .greenRed-btns{
    .btn{color: #fff;text-align: center;}
    .btn.btn-green{background-color: #74c109;}
    .btn.btn-green:hover{background-color: #29a643;}
    .btn.btn-red{background-color: #d51820;}
    .btn.btn-red:hover{background-color: #b30000;}
    .btn-outline{
       color: #d51820;
       border:1px solid #d51820;
       font-size: 24px;
       padding: 8px 18px !important;
    }
    .btn-outline:hover{
      background-color: #d51820;
      color: #fff;
    }

 }
.greenRed-btns .btn.btn-red {
    font-size: 24px;
    padding: 10px 20px !important;
}

.greenRed-btns .btn.btn-green {
    font-size: 30px;
    padding: 15px 20px !important;
}
.btn-a-box{text-align: center;padding-top: 50px;}
.btn-a{
  display: inline-block;
  width: 450px;
  background-color: #74c109;
  color: #fff;
  font-size: 24px;
  padding:10px 20px;
}
.btn-a:hover{background-color: #29a643;}
.btn-a.download-btn{background-color: #d51820;}
.btn-a.download-btn:hover{background-color:#b30000 ;}





   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }

    #tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
        font-size: 50px;
        margin-top: -25px;
        margin-left: 0;
        right: 20px;
    }
    .collapse {
        display: block;
    }
   .tab-pane .dis30{height: 50px;}
   .panel-collapse.showFlag{display: none;}

   
   footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

</style>
