<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 ">
                  <h1 class="ltr text-left">过夜仓位</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">过夜仓位</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>联系我们</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <h2 class="top80">NOBLE SKY的展期交割</h2>
            <div class="row text-center feature-icons">
              <div class="feature-item4">
                <i class="tfxfont3 xmArrow-circle fs100 red"></i>
                <p>有竞争力的掉期利率</p>
              </div>
              <div class="feature-item4">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p>透明隔夜利息</p>
              </div>
              <div class="feature-item4 hidden-xs">
                <i class="tfxfont3 xmStrategy fs100 red"></i>
                <p>3日展期交割策略</p>
              </div>
              <div class="feature-item4 hidden-xs">
                <i class="tfxfont3 xmPercent fs100 red"></i>
                <p>依照现行利息率</p>
              </div>
            </div>
          </div>
          
         
          <div class="container-fluid">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-12 ">
                  <p>
                    <br>在NOBLE SKY交易外汇，贵金属和能源。</p></div>
                <div class="col-12">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">建立账户</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid top80 text-center">
            <div class="row">
              <div class="col-md-12 text-justify mx-2">
                <h2>隔夜利息</h2>
                <p>隔夜持仓可能会收取隔夜利息。就外汇商品而言，该金额取决于多头或空头头寸，再加上货币对间的利率差异。</p>
                <p>请注意，仅现货商品会产生隔夜利息。期货商品仅有到期日期，没有隔夜利息。</p>
                <h2 class="top80">关于展期交割</h2>
                <p>展期交割是延长开仓交割日(比如：已执行交易的交割日期)的行为。外汇市场允许所有的即期交易在两个营业日内完成。</p>
                <p>然而，在保证金商品交易中，因为没有实体交割，因此所有未平仓头寸必须在每天结束时（22:00 GMT）关闭，并在下一个交易日重新开仓。因为这个机制而产生所谓的隔夜利息。</p>
                <p>隔夜利息是依隔夜利息合约所制定。对交易者而言，可以是成本或收益。 NOBLE SKY不会真的进行实质关仓和重新开仓，而是根据当前利率，于交易账户中加计隔夜利息。</p>
                <h2 class="top80">NOBLE SKY延期付款政策</h2>
                <p>交易日截止时间22:00 GMT后的持仓头寸，NOBLE SKY 保证提供所有客户最有利的隔夜利息率并呈现于交易账户中。</p>
                <p>周六和周日虽然市场休市，但银行仍会计算周末持仓的利息。为了调整此落差，NOBLE SKY规定于每周三应收取3天的隔夜利息。</p>
                <h2 class="top80">计算展期交割</h2>
                <h3>
                  <strong>外汇与现货贵金属（黄金和白银）</strong></h3>
                <div class="dis10"></div>
                <p>外汇和现货贵金属的隔夜利息率，是取决于即期交割率（明天和后天），且包括NOBLE SKY溢价。
                  <strong>即期交割</strong>率是依货币间的利率差而产生，NOBLE SKY
                  <strong>无法</strong>任意操控。</p>
                <div class="dis10"></div>
                <div class="section-box small" style="font-size: 14px;">
                  <p>
                    <strong>
                      <u>例如：</u>
                    </strong>
                  </p>例如：您交易USDJPY货币对，且即期交割率如下：
                  <br>多头头寸为+0.5%
                  <br>空头头寸为-1.5%
                  <br>在此设定下，因美国的利率高于日本。此货币对的多头头寸隔夜利息将为+ 0.5％ - NOBLE SKY溢价。
                  <br>反之，空头头寸的计算方式为 -1.5% - NOBLE SKY溢价。</div>
                <div class="dis10"></div>
                <p>计算方式如下：</p>
                <div class="red section-box small" style="font-size: 14px;"><strong>交易规模 X（+/- 即期交割率 - NOBLE SKY溢价）*</strong></div>
                <div class="dis10 "></div>
                <p>上述的<strong>+/-</strong>依货币对间的利率差而定。</p>
                <small>*该金额以报价货币呈现。</small>
                <div class="dis20 "></div>
                <!-- <h3><strong>股票和股指</strong></h3>
                <div class="dis10 "></div>
                <p>股票和股指商品的隔夜利息率，是取决于股票或股指的同业拆款利率（例如，澳大利亚上市的证券商品，即采用澳大利亚银行间的短期贷款利率），并分别依多头和空头头寸+/- NOBLE SKY溢价。</p>
                <div class="dis10 "></div>
                <div class="section-box small " style="font-size: 14px; ">
                <p><strong><u>例如：</u></strong></p>
                例如：您购买联合利华（英国上市股票），且英国短期同业拆款利率为1.5％。其多头头寸的隔夜利息的计算方式如下：<br>-1.5%/365 – NOBLE SKY 每日溢价<br>反之，空头头寸的计算方式为+ 1.5％/ 365 - NOBLE SKY每日溢价。            </div>
                <div class="dis10 "></div>
                <p>每日费率计算方式如下：</p>
                <div class="red section-box small " style="font-size: 14px; ">
                  <strong>交易规模 X 收盘价 X（+/-短期同业拆款利率 - NOBLE SKY溢价）</strong></div>
                <div class="dis10"></div>
                <p>上述的
                  <strong>+/-</strong>依交易商品的空头或多头头寸而定。</p> -->
                <h2 class="top80">预订展期交割</h2>
                <p>交易日的起讫时间点为22:00 GMT。在22:00 GMT整点后的所有持仓订单都属隔夜持仓，并加计隔夜利息。但在22:01后，新增的头寸则不在此规范内。反之，如果您在21:59开仓，则会立即于22:00点后计算隔夜利息。对于在22:00 GMT开立的所有头寸，隔夜利息将在一小时内显示在交易账户中。</p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=1){
       let pName = this.$route.name
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: center;padding: 10px !important;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29a643;}
   }

   .nav-flexbox-tabs {padding: 10px !important;
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


  //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap>
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}


</style>
