<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">
          <div class="container-fluid top-bar">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 ">
                  <h1 class="ltr text-left">交易时间</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">交易时间</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>联系我们</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid hidden-xs">
            <h2 class="top80">我们提供</h2>
            <div class="row text-center top50 mx-auto">
              <div class="feature-item5">
                <i class="tfxfont3 xmChart-24h fs100 red"></i>
                <p>全天24小时在线交易</p>
              </div>
              <div class="feature-item5">
                <i class="tfxfont3 xmCalendar fs100 red"></i>
                <p>星期日22:05 GMT至 星期五21:50 GMT</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmClock fs100 red"></i>
                <p>实时市场信息</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p>最新金融新闻</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmChart-24h fs100 red"></i>
                <p>24/5客服支持</p>
              </div>
            </div>
          </div>
          
         
          <div class="container-fluid">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-12 ">
                  <p>
                    <br>在NOBLE SKY交易外汇，贵金属和能源。</p></div>
                <div class="col-12">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">建立账户</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid top80 text-center">
            <div class="row">
              <div class="col-md-12 text-justify mx-2">
                <h2>外汇市场开放时间</h2>
                <p>市场从不停止它的步伐。NOBLE SKY的交易也是。一个外汇市场关闭后，另一个又会开始。因此客户可以享受到24/5循环交易，纽约交易时间是01:00 pm – 10:00 pm GMT; 悉尼交易时间是10:00 pm GMT; 东京交易开始于00:00 am ，结束于9:00 am GMT;伦敦交易时间开始于 8:00 am，结束于 05:00 pm GMT。这使得全世界的交易者以及所有大洲的中央银行的参股者可以进行24小时（全天）交易。</p>
                <h2 class="top50">更多交易时间，更多可能性</h2>
                <p>外汇市场全天24小时开放，知道最活跃的交易时段是很重要的。</p>
                <p>例如，如果我们选择一个交易量少的时段，美国东部标准时间5 pm – 7 pm EST也就是在纽约关闭之后、东京开门之前。这时候只有悉尼开始交易，于是这个时间段的点差跟伦敦、美国和东京相比较，点差相对于高些。交易机会少也就意味着金融机遇少。如果您想交易EUR/USD、GBP/USD或是USD/CHF等货币对，最合适的时段为上午8:00 – 中午12:00，这是欧洲和美国最活跃的交易时段。</p>
              </div>
              <div class="col-md-12 text-justify mx-2">
                <h2 class="top50">警觉性和机遇性</h2>
                <p>另一个需要各位投资者警惕的是政府报告和官方紧急新闻发布的时间。虽然每个政府都会提前公布新闻发布的确切时间,但由于时差问题，每个国家的发布时间也就不同。</p>
                <p>所以找出不同国家的发布时间是很有价值的。大多数时候，它与
                  <a href="/cn/forex-trading">外汇交易</a>最激烈的时间一致。所以这对于投资者有着很大的获利机会，但是同时也有可能事与愿违。</p>
                <p>作为交易者，您有两个选择：您可以参与外汇交易激烈的时段从高浮动中获取更高的利润；或者在这些时间段内决定暂停交易，以保守的方式进行外汇交易。无论您选择哪一个，您应该未雨绸缪，以防新闻发布时的价钱突变导致您亏损。</p>
              </div>
              <div class="col-md-12 text-justify mx-2">
                <h2 class="top50">交易时间</h2>
                <p>对日间交易者来说，交易效率最高的时间是伦敦市场开始08:00 GMT 到美国市场结束 22:00 GMT. 交易的高峰时间是美国和伦敦市场的重叠交易时间1 pm GMT – 4 pm GMT。一天的几个主要交易市场是伦敦、美国和亚洲市场。</p>
                <p>以下是交易时间的简要概述，可以帮助您充分利用市场：</p>
                <p>伦敦高峰交易时间 –8 am GMT至5 pm GMT;欧元、英镑和美元是交易最频繁的货币；</p>
                <p>美国高峰交易时间 – 是 1 pm GMT 至 10 pm GMT; 美元、欧元、英镑、澳元和日元是交易最频繁的货币；</p>
                <p>亚洲高峰交易时间 –从星期日下午10 pm GMT 至欧洲交易开始，大约 9 am GMT左右; 不太适合日间交易。</p>
              </div>
              <div class="col-md-12 text-justify mx-2">
                <h2 class="top50">在线交易</h2>
                <p>NOBLE SKY 的交易时间是 星期日 22:05 GMT（格林威治标准时间) 至星期五 21:50 GMT（格林威治标准时间。当我们的交易后台关闭后，
                  <a href="/cn/platforms">交易平台</a>不再执行交易，数据只能观看。</p>
                <p>对于任何咨询，技术上的困难，或者紧急支持，欢迎随时通过电子邮件或即时聊天联系我们24小时在线客服。如果您身边没有电脑，请牢记你的账户登录信息，以便我们的团队解决您订单的问题。</p>
                <p>在现有仓位上平仓、设置盈利或止损订单时，您同样需要提供单号给我们。然后，您只需说明货币对和交易手数。(比如：我想要10手EUR/USD的报价)。请记住：如果密码验证失败或您不希望执行密码验证，那么我们不能执行您的电话订单。</p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>
        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=1){
       let pName = this.$route.name
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
     width: 100%;
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
     text-align: center;
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: center;padding: 10px !important;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29a643;}
   }

   .nav-flexbox-tabs {padding: 10px !important;
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


  //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap>
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
.feature-item5{width: 50%;}
</style>
