
.content-wrapper {
  min-height: calc(100vh - 56px);
  padding-top: 1rem;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.smaller {
  font-size: 0.7rem;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh;
}

#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
  cursor: pointer;
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  float: right;
  content: '\f107';
  font-family: 'FontAwesome';
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
  content: '\f105';
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
  padding-left: 0;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
  display: block;
  padding: 0.5em 0;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover {
  text-decoration: none;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a {
  padding-left: 1em;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
  padding-left: 2em;
}

#mainNav .navbar-collapse .sidenav-toggler {
  display: none;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
  position: relative;
  min-width: 45px;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  float: right;
  width: auto;
  content: '\f105';
  border: none;
  font-family: 'FontAwesome';
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator {
  position: absolute;
  top: 5px;
  left: 21px;
  font-size: 10px;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
  content: '\f107';
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
  overflow: hidden;
  max-width: none;
  text-overflow: ellipsis;
}

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    width: 250px;
  }
  #mainNav .navbar-collapse {
    overflow: visible;
    max-height: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 56px;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    padding: 1em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    padding-left: 0;
    list-style: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li,
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li {
    width: 250px;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    padding: 1em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a {
    padding-left: 2.75em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    padding-left: 3.75em;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
    min-width: 0;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    width: 24px;
    text-align: center;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
    max-width: 300px;
  }
}

#mainNav.fixed-top .sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  #mainNav.fixed-top .navbar-sidenav {
    height: calc(100vh - 112px);
  }
  #mainNav.fixed-top .sidenav-toggler {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc(100vh - 56px);
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
    padding: 1em;
  }
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
  background-color: #212529;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
  color: #adb5bd;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler {
  background-color: #dee2e6;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler a i {
  color: rgba(0, 0, 0, 0.5);
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
  overflow-x: hidden;
  width: 55px;
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
  width: 55px !important;
}

body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

#mainNav.static-top .sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  #mainNav.static-top .sidenav-toggler {
    display: flex;
  }
}

body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

.content-wrapper {
  overflow-x: hidden;
  background: white;
}

@media (min-width: 992px) {
  .content-wrapper {
    margin-left: 250px;
  }
}

#sidenavToggler i {
  font-weight: 800;
}

.navbar-sidenav-tooltip.show {
  display: none;
}

@media (min-width: 992px) {
  body.sidenav-toggled .content-wrapper {
    margin-left: 55px;
  }
}

body.sidenav-toggled .navbar-sidenav {
  width: 55px;
}

body.sidenav-toggled .navbar-sidenav .nav-link-text {
  display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item,
body.sidenav-toggled .navbar-sidenav .nav-link {
  width: 55px !important;
}

body.sidenav-toggled .navbar-sidenav .nav-item:after,
body.sidenav-toggled .navbar-sidenav .nav-link:after {
  display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item {
  white-space: nowrap;
}

body.sidenav-toggled .navbar-sidenav-tooltip.show {
  display: flex;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: #868e96;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: #868e96;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
  color: #adb5bd;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
  color: #868e96;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
  color: #adb5bd;
}

#mainNav.navbar-dark .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  color: #adb5bd;
}

@media (min-width: 992px) {
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    background: #343a40;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
    color: white !important;
    background-color: #495057;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
    color: white;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    background: #343a40;
  }
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
  color: rgba(0, 0, 0, 0.7);
}

#mainNav.navbar-light .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
    background: #f8f9fa;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
    color: #000 !important;
    background-color: #e9ecef;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
    color: #000;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    background: #f8f9fa;
  }
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 2;
  }
}

.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}

footer.sticky-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-color: #e9ecef;
  line-height: 55px;
}

@media (min-width: 992px) {
  footer.sticky-footer {
    width: calc(100% - 250px);
  }
}

@media (min-width: 992px) {
  body.sidenav-toggled footer.sticky-footer {
    width: calc(100% - 55px);
  }
}

.center2 {
  
  display: block;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 88vh;
  /* max-width: 800px; */
  display: flex;
}
.inspiration {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Gill Sans', sans-serif;
  color: #fff;
}
.left2 {
  flex: 0 0 150px;
  width: 150px;
  height:65.4%;
  background-color: #fff;
  color: #848697;
  border-radius: 3px 0 0 3px;
}
.logo2 {
  position: relative;
  top: 0px;
  height: 100px;
}
.company2 {
  text-align: center;
}
.company2 .company-name {
  font-weight: bold;
  color: #333;
}
.company2 .company-description {
  position: relative;
  margin: 10px auto;
  width: 100px;
  font-size: 10px;
}
.navigation2 {
  position: relative;
  display: block;
  margin-top: 50px;
}
.navigation2 li {
  padding: 0px 25px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navigation2 li i {
  font-size: 20px;
}
.navigation2 li span {
  padding-left: 15px;
  vertical-align: super;
}
.right2 {
  flex: 1 1 auto;
  background-color: #f6f6fc;
  padding: 30px;
  border-radius: 0 3px 3px 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.right2 .title {
  font-size: 25px;
  font-weight: bold;
}
.right2 .description {
  margin-top: 5px;
  margin-bottom: 20px;
  color: #808080;
}
.right2 .row {
  display: flex;
  margin: 10px 0 40px;
}
.right2 .row:last-child {
  margin: 10px 0 0;
}
.right2 .column {
  flex-direction: column;
}
.right2 .graph {
  display: inline-block;
  width: 250px;
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 22px -8px #808080;
}
.right2 .graph .stock {
  margin: 0;
  margin-left: 20px;
  top: 5px;
}
.right2 .graph + .graph {
  margin-left: 10px;
}
.right2 .asset-category {
  display: flex;
}
.right2 .category {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right2 .asset {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}
.right2 .asset-logo {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 0;
}
.right2 .asset-logo:before {
  content: '';
  width: 40px;
  height: 40px;
  background-color: #fff;
  transform: rotate(45deg);
  border-radius: 10px;
}
.right2 .asset-logo i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.right2 .asset-name {
  color: #808080;
}
.right2 .sub-title {
  margin-bottom: 10px;
  color: #00008b;
}
.right2 .half {
  flex: 1;
}
.right2 .stock {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  padding: 5px 0;
  margin: 8px 0;
}
.right2 .stock-logo {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 0;
  margin-right: 10px;
}
.right2 .stock-logo:before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #555;
  transform: rotate(45deg);
  border-radius: 7px;
}
.right2 .stock-logo i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.right2 .stock-info {
  margin-left: 5px;
  flex: 1;
}
.right2 .stock-name {
  color: #00008b;
}
.right2 .stock-fullname {
  color: #808080;
}
.right2 .stock-value {
  flex: 1;
  font-weight: bold;
  color: #808080;
}
.right2 .stock-logo.apple:before {
  background: #808080;
}
.right2 .stock-logo.facebook:before {
  background: #3b5998;
}
.right2 .stock-logo.amazon:before {
  background: #ff9b24;
}
.right2 .stock-logo.twitter:before {
  background: #55acee;
}
.right2 .stock-logo.paypal:before {
  background: #003087;
}
.right2 .stock-logo.google:before {
  background: #d62d20;
}
.right2 .stock-logo.paperpillar:before {
  background: linear-gradient(to top right, #7871ff, #6feaff);
}
.right2 .stock-logo.dandruft:before {
  background: linear-gradient(to top right, #f88781, #f7c682);
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
/* square container css */
.container3 {
  display: flex;
  flex-direction: column;
  width: 800px;
}
.row3 {
  display: flex;
  justify-content: space-between;
}
.card3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.65em 1em;
  background: var(--white);
  margin: 0.85rem;
  border-radius: var(--border-radius);
}
.card--dark {
  background: #eaeffd;
}
.card__header {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.card__title, .card__sub-title {
  font-size: 0.6em;
  color: var(--gray);
  text-align: center;
  line-height: 1;
}
.card__title {
  text-transform: uppercase;
}
.card__title--notification {
  position: relative;
}
.card__title--notification::after {
  content: '';
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background: var(--green);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(0.35rem);
}
.card__sub-title, .card__sub-title a {
  color: var(--dark-gray);
}
.card__price, .card__progess {
  font-size: 2em;
  font-family: 'Roboto Slab', serif;
  line-height: 1;
  padding: 0.45rem 0;
}
.card__progess {
  font-size: 1.75em;
}
.card__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card__inner > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__link {
  text-decoration: underline;
}
.graph {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 2.75em;
  position: relative;
}
.graph::after {
  content: '';
  width: 100%;
  height: 1px;
  margin: 0 auto;
  z-index: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-bottom: 1px dashed var(--gray);
}
.graph__line {
  flex: 1;
  background: var(--graph-grey);
  height: 20%;
  width: 0.7em;
  margin: 0 0.05rem;
  border-radius: 0.15rem;
  z-index: 1;
  position: relative;
}
.graph__line--active {
  background: var(--graph-purple);
}
.graph__line--active:nth-child(1) {
  height: 65%;
}
.graph__line--active:nth-child(2) {
  height: 55%;
}
.graph__line--active:nth-child(3) {
  height: 75%;
}
.graph__line--active:nth-child(4) {
  height: 45%;
}
.graph__line--active:nth-child(4) {
  height: 55%;
}
.graph__line--active:nth-child(5) {
  height: 65%;
}
.graph__line--active:nth-child(6) {
  height: 55%;
}
/********************************************
 Animations
 ********************************************/
.card[data-animate-top] {
  animation: flyInTop var(--transition-duration);
}
.card[data-animate-bottom] {
  animation: flyInBottom var(--transition-duration);
}
@keyframes flyInTop {
  from {
    transform: translateY(-300%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes flyInBottom {
  from {
    transform: translateY(300%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.dribble {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: var(--white);
  transition: transform 0.3s ease-in-out;
}
.dribble:hover {
  transform: translateY(-0.5rem);
}


/*FAQ Styling*/

.transition, p, ul li i:before, ul li i:after {
	transition: all 0.25s ease-in-out;
}

.flipIn, h1, ul li {
	animation: flipdown 0.5s ease both;
}

.no-select, h2 {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.para {
    color: rgba(48, 69, 92, 0.8);
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 25%);
    margin-top: 14px;
    z-index: 2;
}

.ulist {
	list-style: none;
	perspective: 900;
	padding: 0;
	margin: 0;
	color:#675b6df0;
}

.ulist li {
	position: relative;
	padding: 0;
	margin: 0;
	padding-bottom: 10px;
	padding-top: 18px;
	border-top: 1px dotted #dce7eb;
	text-shadow: 1px 1px dark-gray;
}

.ulist li:nth-of-type(1) {
	animation-delay: 0.5s;
}

.ulist li:nth-of-type(2) {
	animation-delay: 0.75s;
}

.ulist li:nth-of-type(3) {
	animation-delay: 1.0s;
}
.ulist li:nth-of-type(4) {
	animation-delay: 1.25s;
}

.ulist li:nth-of-type(5) {
	animation-delay: 1.5s;
}
.ulist li:last-of-type {
	padding-bottom: 0;
}

.ulist li i {
	position: absolute;
	transform: translate(-6px, 0);
	margin-top: 16px;
	right: 0;
}

.ulist li i:before, .ulist li i:after {
	content: "";
	position: absolute;
	background-color: #ff6873;
	width: 3px;
	height: 9px;
}

.ulist li i:before {
	transform: translate(-2px, 0) rotate(45deg);
}

.ulist li i:after {
	transform: translate(2px, 0) rotate(-45deg);
}

.ulist li input[type=checkbox] {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
}

.ulist li input[type=checkbox]:checked ~ p {
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	transform: translate(0, 50%);
}

.ulist li input[type=checkbox]:checked ~ i:before {
	transform: translate(2px, 0) rotate(45deg);
}

.ulist li input[type=checkbox]:checked ~ i:after {
	transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
	0% {
		opacity: 0;
		transform-origin: top center;
		transform: rotateX(-90deg);
	}

	5% {
		opacity: 1;
	}

	80% {
		transform: rotateX(8deg);
	}

	83% {
		transform: rotateX(6deg);
	}

	92% {
		transform: rotateX(-3deg);
	}

	100% {
		transform-origin: top center;
		transform: rotateX(0deg);
	}
}

.ulist li:hover, .ulist li:active {
    color: #6aac0e;
    font-weight: 800;
}
.ulist li input[type=checkbox]:checked{
    color: #6aac0e;
    font-weight: 800;
}
/* to be used for active header colors 

.ulist li h3{ */

/* } */

/* .ulist li input[type=checkbox]:checked ~ h3::after{ */
	
	/* color:#227171; */
/* } */

   a .prodBtn {
                    color: #6aac0e;
                    text-decoration: none;
                    background-color: transparent;
                    -webkit-text-decoration-skip: objects;
                }

                    a .prodBtn:hover {
                        color: #74c109;
                        text-decoration: underline;
                    }

                ::-moz-selection {
                    background:  #74c109;
                    color: #fff;
                }

                ::selection {
                    background:  #74c109;
                    color: #fff;
                }

                .prodBtn {
                    border-radius: 3px;
                    min-width: 230px;
                    position: relative;
                    border: none;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.1;
                    cursor: pointer;
                    transition: box-shadow .4s,color .4s,background-color .4s,transform .4s;
                    text-align: center;
                    display: inline-block;
                    padding: 1em;
                    transform: translateY(0);
                }

                    .prodBtn:focus, .prodBtn:hover:focus {
                        outline: none;
                        box-shadow: none;
                    }

                    .prodBtn:hover {
                        box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
                        text-decoration: none;
                        transform: translateY(-2px);
                    }

                    .prodBtn.btn-primary {
                        background: #6aac0e;
                        color: #fff;
                    }

                        .prodBtn.btn-primary:hover {
                            background:  #74c109;
                            color: #fff;
                        }

                        .prodBtn.btn-primary:focus {
                            background:  #74c109;
                            color: #fff;
                        }

                a .prodBtn {
                    transition: color .4s;
                }

                    a .prodBtn:hover {
                        text-decoration: none;
                        color:  #74c109;
                    }

                        a.prodBtn:focus, a.prodBtn:hover:focus {
                            color:  #74c109;
                        }

                .btn-group .prodBtn {
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 13px;
                    padding-top: 24px;
                    padding-bottom: 24px;
                }

                a .prodBtn {
                    color: #009cfc;
                }
				.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(38 255 45 / 38%);
}
				.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #74c109;
    border-color: #74c109;
}
			
.prodDet{
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.25);
}

.prodDet:hover{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
                        text-decoration: none;
                        transform: translateY(-2px);
}

table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border:rgba(48, 69, 92, 0.8);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: rgba(48, 69, 92, 0.8);
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: rgba(48, 69, 92, 0.8);
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
.fixedTable{
    overflow-y: auto;
}
.fixedTable th{
    position: sticky;
    top:0;
    background-color: aliceblue;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0px;
    margin:0px;
}
.dataTables_wrapper.previous{
    padding: 0px;
    margin:0px;
}.dataTables_wrapper.next{
    padding: 0px;
    margin:0px;
}
.page-link:focus{
    border:0px!important;
    box-shadow:0 0 0 0;
}
.page-link {
        border:0px!important;

}

#tradingTable_wrapper .row{
    margin: 0px;
}

#tradingTable_paginate{
    margin-top: 10px;
    width: 100%;
    height: 88vh;
    /* max-width: 800px; */
    display: flex;
}
#orderTable_wrapper .row{
    margin: 0px;
}
#orderTable_paginate{
    margin-top: 10px;
    width: 100%;
    height: 88vh;
    /* max-width: 800px; */
    display: flex;
}
#rebateTable_wrapper .row{
    margin: 0px;
}
#rebateTable_paginate{
    margin-top: 10px;
    width: 100%;
    height: 88vh;
    /* max-width: 800px; */
    display: flex;
}
.tab-content>.active{
    height: 5.5rem;
    width: 60vw;
}
.btn2{
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1.1em;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn2 a{
    
    margin: 0!important;
    padding: 15px 0 15px 0!important;
}

.carousel-inner {
    height: 350px;
}
table.dataTable thead tr th{
    border-bottom: none!important;
}
.table-bordered td, .table-bordered th{
    border-bottom:0.1px solid #dee2e6;
}
table.dataTable thead th, table.dataTable thead td, table.dataTable tbody th, table.dataTable tbody td, table.dataTable tfoot th, table.dataTable tfoot td{
        border-bottom: none!important;
}
table.dataTable thead th:first-child, table.dataTable thead td:first-child, table.dataTable tbody th:first-child, table.dataTable tbody td:first-child, table.dataTable tfoot th:first-child, 
table.dataTable tfoot td:first-child {
    border-left: none !important;
    border-right: none!important;
}

.btn-grad {background-image: linear-gradient(to right, #76b852 0%, #8DC26F  51%, #76b852  100%)!important}
.btn-grad {
text-align: center;
transition: 0.5s;
background-size: 200% auto;
color: white;            
box-shadow: 0 0 20px #eee;
display: block;
}

.btn-grad:hover {
background-position: right center; 
color: #fff;
text-decoration: none;
}

#types li a.active{
    background: none;
    color:white;
    font-size:3em;
    box-shadow: -15px 0px 25px 2px rgba(0,0,0,0.4);
}

#types li a{
    background: white;
    color: #201e22;
    font-size: 3em;
    border-color: #201e22;
}
#types li{
    width:33.3%;
}

