<template lang="html">
  <div class="editor">
    <div id="edit1">

    </div>
  </div>
</template>

<script>
  import E from 'wangeditor'
  import i18next from 'i18next';
  // import 'wangeditor/release/wangEditor.min.css'
  export default {
    name: 'editoritem',
    props: {
      value: {
        type: String,
        default: ''
      },
      isClear: {
        type: Boolean,
        default: false
      },
      defaultLanguage: {
        default: 1,
        type: Number
      }
    },
    data() {
      return {
        // uploadPath,
        curLanguage:this.defaultLanguage,
        editor: null,
        info_: null,
        uploadType:1,

        uploadURL:this.$api.imgUploadURL,


        uploadData:{
        		  file:null,
        		  baseData:null
        },
        imgMaxWidth:800,
        imgMaxHeight:1000,
      }
    },
    model: {
      prop: 'value',
      event: 'change'
    },

    watch: {
      isClear(val) {
        // 触发清除文本域内容
        if (val) {
          this.editor.txt.clear()
          this.info_ = null
        }
      },
      value: function(value) {
        if (value !== this.editor.txt.html()) {
          this.editor.txt.html(this.value)
        }
      }
      //value为编辑框输入的内容，这里我监听了一下值，当父组件调用得时候，如果给value赋值了，子组件将会显示父组件赋给的值
    },
    mounted() {
      this.seteditor()
      this.editor.txt.html(this.value)
    },
    methods: {
      seteditor() {

        const that = this;
        this.editor = new E('#edit1')
        // this.editor.config.uploadImgShowBase64 = true // base 64 存储图片
        // this.editor.config.uploadImgServer = 'https://img.nbstrader.com/UploadFile.ashx'// 配置服务器端地址
        // this.editor.config.uploadImgHeaders = {
        //        accept: 'application/json, text/plain, */*'
        //  }// 自定义 header
        //  // this.editor.config.uploadImgHeaders = {'Content-Type':'application/x-www-form-urlencoded; charset=UTF-8' }// 自定义 header
        // this.editor.config.uploadFileName = 'file' // 后端接受上传文件的参数名
        // // this.editor.config.withCredentials = true
        // this.editor.config.uploadImgMaxSize = 2 * 1024 * 1024 // 将图片大小限制为 2M
        this.editor.config.uploadImgMaxLength = 1 // 限制一次最多上传 3 张图片
        this.editor.config.showLinkImg = false
        // this.editor.config.uploadImgTimeout = 3 * 60 * 1000 // 设置超时时间


         this.editor.config.customUploadImg = function (resultFiles, insertImgFn) {
             // resultFiles 是 input 中选中的文件列表
             // insertImgFn 是获取图片 url 后，插入到编辑器的方法

             // 上传图片，返回结果，将图片插入到编辑器中



             that.uploadData.file = resultFiles[0]




             that.uploadStart().then(resp => {


                 insertImgFn(resp)

             })




             // new Promise(resolve=>{
             //     that.uploadStart()
             //     resolve('hello')

             // }).then(res=>{
             //     console.log(res)
             // })





         }

        // 配置菜单
        this.editor.config.colors = [
            '#000000',
            '#ffffff',
            '#eeece0',
            '#1c487f',
            '#4d80bf',
            '#ff6600',
            '#09b936',
            '#fee880',
            '#1fa1fd',
            '#ff0000',
            '#fe02ef'
        ]

        this.editor.config.menus = [
          'head', // 标题
          'bold', // 粗体
          'fontSize', // 字号
          'fontName', // 字体
          'italic', // 斜体
          'underline', // 下划线
          'strikeThrough', // 删除线
          'foreColor', // 文字颜色
          'backColor', // 背景颜色
          'link', // 插入链接
          'list', // 列表
          'justify', // 对齐方式
          // 'quote', // 引用
          // 'emoticon', // 表情
          'image', // 插入图片
          'table', // 表格
          // 'video', // 插入视频
          // 'code', // 插入代码
          'undo', // 撤销
          'redo', // 重复
          'fullscreen' // 全屏
        ]

        // this.editor.config.uploadImgHooks = {
        //   fail: (xhr, editor, result) => {
        //     // 插入图片失败回调
        //   },
        //   success: (xhr, editor, result) => {
        //     // 图片上传成功回调
        //   },
        //   timeout: (xhr, editor) => {
        //     // 网络超时的回调
        //   },
        //   error: (xhr, editor) => {
        //     // 图片上传错误的回调
        //   },
        //   customInsert: (insertImg, result, editor) => {
        //     // 图片上传成功，插入图片的回调
        //     //result为上传图片成功的时候返回的数据，这里我打印了一下发现后台返回的是data：[{url:"路径的形式"},...]
        //     // console.log(result.data[0].url)
        //     //insertImg()为插入图片的函数
        //      //循环插入图片
        //     // for (let i = 0; i < 1; i++) {
        //       // console.log(result)
        //       let url = "http://otp.cdinfotech.top"+result.url
        //       insertImg(url)
        //     // }
        //   }
        // }
        this.editor.config.onchange = (html) => {
          this.info_ = html // 绑定当前逐渐地值
          this.$emit('change', this.info_) // 将内容同步到父组件中
        }

        this.editor.config.lang = this.curLanguage==1?'zh-CN':'en'
        // 引入 i18next 插件
        this.editor.i18next = i18next



        // 创建富文本编辑器
        this.editor.create()

      },

      changeLanguage(val){
         this.curLanguage = val

         this.editor.destroy()
         this.editor = null

         this.seteditor()

      },
      uploadStart(){

               return new Promise(resolve=>{
                 const that=this
                  var img = new Image()
                  var reader = new FileReader();
                   reader.readAsDataURL(this.uploadData.file);
                   reader.onload=function(){
                  	img.src = this.result;
                  }

                    img.onload=function(){
                         that.uploadData.baseData = that.getBase64Image(this);

                         that.$axios.post(that.uploadURL,{file:that.uploadData.baseData})
                         .then((res)=>{

                          if(res.data.code!=0){
                           that.$message({
                             message: this.language[this.curLanguage][20]+ " "+this.language[this.curLanguage][15]+resultMsg,
                             type: "error",
                             center: true
                           })



                           // if(that.uploadType==1){
                           //   that.photos.upload2Status.splice(photosIndex,1);
                           //   that.photos.up2FileType.splice(photosIndex,1);
                           // }else{
                           //   that.photos.uploadStatus.splice(photosIndex,1);
                           //   that.photos.fileType.splice(photosIndex,1);
                           // }



                          }else{

                             resolve(res.data.result)


                          }


                         // if(res.data.code==0){
                         //    that.handlePhotosSuccess(res.data.result,that.uploadType);
                         //  }

                         })

                    }


                })


               // return new Promise(resolve=>{
               //   const that=this
               //    var img = new Image()
               //    var reader = new FileReader();
               //     reader.readAsDataURL(this.uploadData.file);
               //     reader.onload=function(){
               //    	img.src = this.result;
               //    }

               //      img.onload=function(){
               //          setTimeout(()=>{
               //              resolve('hhhhhhhhhhhhhhhhhhhhhhhhh////')
               //          },5000)

               //      }

               //  })

      	 },

         getBase64Image(img) {
         			var canvas = document.createElement("canvas");
         			var context = canvas.getContext('2d');
         			//原始尺寸
         			var originWidth  = img.width;
         			var originHeight  = img.height;

         			//最大尺寸限制
         			var maxWidth = this.imgMaxWidth, maxHeight = this.imgMaxHeight;
         			// 目标尺寸
         			var targetWidth = originWidth, targetHeight = originHeight;

         			 // 图片尺寸超过设定的限制
         			if (originWidth > maxWidth || originHeight > maxHeight) {
         				if (originWidth / originHeight > maxWidth / maxHeight) {
         					// 更宽，按照宽度限定尺寸
         					targetWidth = maxWidth;
         					targetHeight = Math.round(maxWidth * (originHeight / originWidth));
         				} else {
         					targetHeight = maxHeight;
         					targetWidth = Math.round(maxHeight * (originWidth / originHeight));
         				}
         			}

         			// canvas对图片进行缩放
         			canvas.width = targetWidth;
         			canvas.height = targetHeight;
         			// 清除画布
         			context.clearRect(0, 0, targetWidth, targetHeight);
         			// 图片压缩
         			context.drawImage(img, 0, 0, targetWidth, targetHeight);


         			var dataURL = canvas.toDataURL("image/jpeg", 0.8);
         			return dataURL;

         },

    },
    beforeDestroy() {
        // 销毁编辑器
        this.editor.destroy()
        this.editor = null
      }


  }
</script>

<style lang="css">
  .editor {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
  }
  .toolbar {
    border: 1px solid #ccc;
  }
  .text {
    border: 1px solid #ccc;
    min-height: 500px;
  }
</style>
