<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 ">
                  <h1 class="ltr text-left">Cookie Politikası</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">Cookies Politikası</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>Bize Ulaşın</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid top40 regulation">
            <!-- <div class="row">
              <div class="col-md-12 text-justify mx-2">
                <h2>相关法律文件</h2></div>
            </div> -->
            <div class="cookie-box">
                 <h5>Cookie nedir?</h5>
                 <p>Cookies, bir web sitesini ziyaret ettiğinizde bilgisayarınızda veya mobil cihazınızda saklanan küçük bir veri dosyasıdır. Cookies, web sitesi sahipleri tarafından web sitelerinin daha iyi çalışmasını veya daha verimli çalışmasını sağlamak ve bilgileri bildirmek için yaygın olarak kullanılmaktadır. Site sahibi tarafından belirlenen tanımlama bilgilerine "birinci taraf tanımlama bilgileri" denir. Site sahibi dışındaki bir tarafça belirlenen tanımlama bilgilerine "üçüncü taraf tanımlama bilgileri" adı verilir. Üçüncü taraf tanımlama bilgileri, üçüncü taraf işlevlerinin (reklam, etkileşimli içerik ve analiz gibi) bir web sitesinde veya web sitesi aracılığıyla sağlanmasına izin verir. Bu üçüncü taraf Cookiesini ayarlayan taraflar, ilgili web sitelerini veya diğer web sitelerini ziyaret ettiklerinde sizi tanımlayabilir.</p>

                 <h5>Neden Cookies kullanıyoruz?</h5>
                 <p>Birinci taraf ve üçüncü taraf Cookiesini bir nedenle kullanıyoruz. Teknik nedenlerle, sitemizin çalıştığından emin olmak için "kesinlikle gerekli" dediğimiz Cookies oluştururuz. Diğer Cookies de sitemizin kullanıcı deneyimini geliştirmek için kullanıcı tercihlerini daha iyi anlamamızı sağlar.</p>

                 <h5>kişisel bilgilerin</h5>
                 <p>Web sitemizi ziyaret ettiğinizde, web sitemizde en iyi deneyimi yaşamanızı sağlamak için Cookiesi kullanacağız. Bu Cookies sizinle, tercihlerinizle veya cihazınızla ilgili olabilir. Bu bilgiler genellikle sizi doğrudan tanımlamak için kullanılmaz, ancak size daha kişiselleştirilmiş bir web sitesi deneyimi sağlayabilir. Kişisel bilgi haklarınıza saygı duyuyoruz ve belirli Cookies türlerini devre dışı bırakmayı seçebilirsiniz, ancak belirli Cookies türlerinin engellenmesi, Web Sitenizi ve size sağlayabileceğimiz hizmetleri kullanma deneyimini etkileyebilir.</p>
                 <p>Cookies gizlilik yöneticimizde yaptığınız seçimleri kaydetmek için Cookiesi kullanacağız. Bunun aşağıdaki sonuçları olacaktır:</p>
                 <p>Cookiesinizi silerseniz ve web sitemizi tekrar ziyaret ederseniz, tercihinizi bize tekrar bildirmeniz gerekecektir.</p>
                 <p>Sitemize erişmek için farklı bir cihaz veya tarayıcı kullanıyorsanız, tercihinizi bize tekrar bildirmeniz gerekecektir.</p>

                 <h5>Yerleşimin amacı ve yasal dayanağı</h5>
                 <p>Web sitemizi ziyaret ettiğinizde, IP adresinizi ve tarayıcı bilgilerinizi toplayıp işleyeceğiz. Bu bilgileri, Web Sitemize geri dönen ziyaretçi olup olmadığınızı belirlemek, web sitemizi ziyaretinizi analiz etmek ve web sitemizin kullanıcı deneyimini iyileştirmek amacıyla toplar ve işleriz.</p>
                 <p>Yukarıda belirtildiği gibi, kişisel verilerinizi Siber Güvenlik Yasası ve geçerli yasa ve yönetmeliklerin gerektirdiği şekilde işleyeceğiz. Erişim davranışı verilerinizi ve nihayetinde bize sağlayabileceğiniz diğer kişisel verileri toplamadan ve işlemeden önce aktif olarak onayınızı isteyeceğiz. Ayrıca, istediğiniz zaman onayınızı geri almamızı talep etme hakkına sahipsiniz. Ayrıca, tarayıcınızda Cookiesi devre dışı bırakmak için Cookies ayarlayarak Cookies kullanımını reddetme hakkına da sahipsiniz. Bu veriler veya sizinle ilgili olarak işleyebileceğimiz diğer kişisel verilerle bizimle iletişime geçmek isterseniz, lütfen aşağıdaki "Haklarınız ve İletişim Bilgileriniz" bölümüne bakın.</p>


                 <h5>Kişisel verilerinizin ifşası / alınması</h5>
                 <p>Size Web Sitemizdeki hizmetleri sunmak için, bize hizmetleri sağlamak üzere bağlı kuruluşlarımız ve iş ortaklarımızı istihdam edebiliriz. Yukarıdaki amaçlar doğrultusunda, kişisel verileriniz iştiraklerimiz ve iş ortaklarımıza ifşa edilecek ve bunlar tarafından işlenecektir.</p>

                 <h5>Saklama süresi</h5>
                 <p>Web sitemize erişiminizle ilgili kişisel verilerinizi, Hizmetin sona ermesine veya siz bizden silmemizi talep edene kadar saklayacağız.</p>

                 <h5>Haklarınız ve iletişim bilgileriniz</h5>
                 <p>Kişisel verilerinizi işlememizle ilgili haklarınız hakkında daha fazla bilgi, soru ve iletişim bilgileri için lütfen Gizlilik Politikasını ziyaret edin.</p>
                 <p>Bu Cookies politikası, web sitemizi ziyaret ettiğinizde sizi tanımak için Cookiesi ve benzer teknikleri nasıl kullandığımızı açıklamak için kullanılır. Bu teknolojilerin ne olduğunu, neden kullandığımızı ve bunları kullanmamız için bize yetki verme hakkınızı açıklar. Bazı durumlarda kişisel bilgileri toplamak için Cookies kullanabiliriz veya kişisel bilgiler oluşturmak için bunları diğer bilgilerle birleştirebiliriz.</p>

                 <h5>Cookiesinizi nasıl yönetiyorsunuz?</h5>
                 <p>Kendi takdirinize bağlı olarak Sitede Cookies kullanımını kabul etme veya reddetme hakkına sahipsiniz. Tarayıcınızda ayarlayarak tanımlama bilgilerinin kullanımını ayarlayabilirsiniz. Cookies ayarındaki seçenek, toplanan Cookiesi kabul veya reddetmenize olanak tanır. Kesinlikle gerekli olan Cookies, size hizmet etmek için katı bir gereklilik oldukları için reddedilemez. Örneğin Chrome'da, kullanıcılar Ayarlar - Gelişmiş - Gizlilik ve Güvenlik - sayfa Ayarları'nı tıklayarak bir web sitesinin Cookies toplama isteklerini yönetebilir.</p>
                 <p>Cookies ayarındaki seçenekler, bildirim başlığında ve web sitemizde bulunabilir. Cookiesi reddetmeyi seçerseniz, Web Sitemizi yine de kullanabilirsiniz ve Web Sitesinin belirli özellikleri ve alanları kısıtlanabilir. Cookiesi kabul etmek veya reddetmek için Web tarayıcınızın Ayarlarını da ayarlayabilir veya değiştirebilirsiniz. Reddetme tanımlama bilgilerini Web tarayıcınız üzerinden ayarlama şekliniz tarayıcıdan tarayıcıya değişiklik gösterdiğinden, daha fazla bilgi için tarayıcınızın Yardım menüsünü ziyaret etmelisiniz.</p>

                 <h5>Kesinlikle gerekli Cookies</h5>
                 <p>Bu Cookies, web sitemizin çalışması için gereklidir ve web sitemizde kapatılamaz. Genellikle yaptıklarınıza göre ayarlanırlar, bu da bir hizmet talep etmeye eşdeğerdir. Tarayıcınızı bu Cookiesin kullanımını engelleyecek şekilde ayarlayabilirsiniz, ancak sitenizin bazı işlevleri çalışmayacaktır. Kesinlikle gerekli olan Cookies, kişisel olarak tanımlanabilir herhangi bir bilgiyi saklamaz.</p>

                 <h5>Performans ve işlevsellik Cookiesi</h5>
                 <p>Bu Cookiesi, web sitemizin performansını ölçmek ve iyileştirmek için ziyaretleri ve trafik kaynaklarını saymak için kullanırız. Hangi sayfaların en popüler olduğunu, hangi sayfaların en az popüler olduğunu ve ziyaretçilerin sitede nasıl gezindiğini anlamamıza yardımcı olabilirler. Bu Cookies tarafından toplanan tüm bilgileri anonim olarak topluyoruz. Bu Cookiesi devre dışı bırakırsanız, web sitemizi ne zaman ziyaret ettiğinizi bilemeyeceğiz ve web sitesi performansını izleyemeyeceğiz ve bazı özellikler kullanılamayabilir.</p>

                 <h5>Cookies politikanızı ne sıklıkla güncelliyorsunuz?</h5>
                 <p>Bu Cookies Politikasını zaman zaman veya kullandığımız Cookiesdeki değişiklikleri yansıtmak için diğer operasyonel, yasal veya düzenleyici nedenlerle güncelleyebiliriz. Bu nedenle, Cookiesi ve ilgili teknolojileri kullanımımızı anlamak için lütfen bu Cookies Politikasını periyodik olarak gözden geçirin.</p>
                 <p>Bu Cookies politikasının üstündeki tarih, en son güncellemenin zamanını temsil eder.</p>


            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=3){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-8 {
       width: 66.66666667%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: center;padding: 10px !important;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29a643;}
   }

   .nav-flexbox-tabs {padding: 10px !important;
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


 //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}

.pdf-list{
   li{width: 50%;float: left;text-align: center;margin-bottom: 50px;

     i{font-size: 120px;display: block;color: #d51820;margin-bottom: 5px;}
     span{color: #333;}
   }
}

.cookie-box{
   h5{font-size: 18px;font-weight: bold;margin:50px 0 10px}
   p{font-size: 14px;margin-bottom: 10px;}
}


footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}



</style>
