<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 ">
                  <h1 class="ltr text-left">Marj ve ticaret kaldıracı</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">Marj ve ticaret kaldıracı</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>Bize Ulaşın</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid hidden-xs hidden-sm hidden-l-sm">
            <h2 class="top80">Kadar özel kaldıraç200:1</h2>
            <div class="row text-center top50 mx-auto">
              <div class="feature-item4">
                <i class="tfxfont3 xmLeverage-100 fs100 red"></i>
                <p>Esnek ticaret kaldıracı 1:1 den 200:1 arasında</p>
              </div>
              <div class="feature-item4">
                <i class="tfxfont3 xmLock-check fs100 red"></i>
                <p>Negatif bakiye koruma politikası</p>
              </div>
              <div class="feature-item4">
                <i class="tfxfont3 xmClock fs100 red"></i>
                <p>Gerçek zamanlı risk maruziyeti izleme</p>
              </div>
              <div class="feature-item4">
                <i class="tfxfont3 xmStop-sign fs100 red"></i>
                <p>Gece veya hafta sonu için marjda değişiklik yok</p>
              </div>
            </div>
          </div>
          
         
          <div class="container-fluid">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-12 ">
                  <p>
                    <br>NOBLE SKY'de döviz, bireysel hisse senetleri, emtialar, değerli metaller, enerji ve hisse senedi endeksleri ticareti yapın.</p></div>
                <div class="col-12">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">Hesap oluştur</router-link></div>
              </div>
            </div>
          </div>
          <div class="container-fluid top80 text-center">
            <div class="row">
              <div class="col-md-12 text-justify mx-2">
                <h2>Esnek kaldıraç 1:1 den 200:1</h2>
                <p>NOBLE SKY müşterileri, ticaret için aynı marj gereksinimlerini esnek bir şekilde kullanabilir ve kaldıraç oranı1:1 den 200:1.</p>
                <h2 class="top50">Marj hakkında</h2>
                <p>Teminat, alım satım işlemleri sırasında herhangi bir kredi riskini sigortalamak için teminat miktarıdır.</p>
                <p>Marj, konum boyutunun yüzdesi olarak hesaplanır (örneğin:% 5 veya% 1),
                  <a href="/cn/account-types">işlem hesabı</a>Para yatırma ihtiyacının tek nedeni, marjın yeterli olmasını sağlamaktır. Örneğin, marj% 1 olduğunda, 1.000.000 $ değerindeki bir pozisyon için gereken marj 10.000 $ 'dır.</p>
                <p>Bu nedenle, işlem hesabınızdaki marj oranı% 100'den az olmamalıdır; aksi takdirde tekrar pozisyon açmak yetersiz marj nedeniyle likidasyona neden olabilir.</p>
              </div>
              <div class="col-md-12 top50">
                <h2>Kaldıraç ticareti hakkında</h2>
                <p>Alım satım kaldıracını kullanarak ticaret hesabınızdaki para yatırma pozisyonunu büyütebilirsiniz. Alım satım kaldıraç tutarı 50: 1, 100: 1 veya 200: 1 gibi orana göre hesaplanır. İşlem hesabınızda 1.000 USD olduğunu ve işlem emri değerinizin 200.000 USD / JPY olduğunu varsayarsak, işlem kaldıracınız 200: 1'e eşittir.</p>
                <p>NOBLE SKY'da, marjı ne zaman kullanırsanız kullanın, ücretsiz bir kısa vadeli kredi limitiniz vardır: Bu, hesabınızın değerinden daha fazlasını satın almanıza olanak tanır. Bu limit olmadan, bir seferde yalnızca 1.000 değerinde işlem alabilir veya satabilirsiniz.</p>
                <p>NOBLE SKY, müşteri hesaplarının kaldıraç oranını her an izleyebilir ve müşterilerin kaldıraç oranını değiştirme ve değiştirme hakkını saklı tutar (kaldıraç oranını düşürmek gibi) Aksi belirtilmedikçe tüm NOBLE SKY hesapları için geçerlidir.</p>
              </div>
              <div class="col-md-12 top50">
                <h2>NOBLE SKY ticaret kaldıracı</h2>
                <p>NOBLE SKY'ye kaydolduğunuz hesabın türüne bağlı olarak, kaldıraç oranı 1: 1 ila 200: 1 arasında değişebilir. Teminat gereksinimleri bir hafta içinde değişmeyecek, bir gecede veya bir hafta sonunda genişlemeyecektir.</p>
              </div>
              <div class="col-md-12 top50">
                <h2>Ticaret kaldıraç riski</h2>
                <p>Bir yandan, ilk yatırımınız nispeten küçük olsa bile, ticaret kaldıracı yoluyla önemli karlar elde edebilirsiniz. Öte yandan, uygun risk yönetimini yapmazsanız, zararlarınız da artabilir.</p>
                <p>NOBLE SKY, müşterilerin tercih ettikleri risk düzeyini seçmelerine yardımcı olabilecek bir dizi ticari kaldıraç sağlar.</p>
              </div>
              <div class="col-md-12 top50">
                <h2>Marj izleme</h2>
                <p>NOBLE SKY'de marjınızı izleyebilir ve gerçek zamanlı risk maruziyetini kontrol edebilirsiniz.</p>
                <p>İşgal edilen marj ve serbest marj, net değerinizi oluşturur. İşgal edilen marj, işlemi sürdürmek için kullandığınız miktarı ifade eder. (Örneğin: Hesabınızın ticaret kaldıracını 100: 1 olarak ayarlarsanız, işlem tutarının% 1'ini marj olarak ayırmanız gerekir). Serbest marj, ticaret hesabınızda tuttuğunuz paradır. Hesabın net değeri ile dalgalanır; diğer pozisyonları açmak veya kayıpları karşılamak için kullanabilirsiniz.</p>
              </div>
              <div class="col-md-12 top50">
                <h2>Marj çağrısı</h2>
                <p>Her müşteri kendi hesabının kar ve zararını izlemekten sorumlu olsa da, NOBLE SKY, hesabınızın tamamen tasfiye edilmemesini sağlamak için hesabınız tasfiye edilmek üzereyken bir marj çağrısı hatırlatması verecektir.</p>
                <p>Hesap varlığınız, açık pozisyonları korumak için gereken marjın% 50'sinden az olduğunda, açık pozisyonları sürdürmek için yeterli para olmadığı konusunda sizi uyarmak için size bir marj çağrısı e-posta hatırlatıcısı göndereceğiz.</p>
                <!-- <p>Hesap varlığınız, açık pozisyonları korumak için gereken marjın% 50'sinden az olduğunda, açık pozisyonları sürdürmek için yeterli para olmadığı konusunda sizi uyarmak için size bir marj çağrısı e-posta hatırlatıcısı göndereceğiz.</p>
                -->
              </div>
              <div class="col-md-12 top50">
                <h2>Tasfiye Standardı</h2>
                <p>Kaybı durdur, bir pozisyonu açtığınız noktaya göre otomatik olarak kapatmayı ifade eder. İşlem hesabındaki net değer, gerekli marjın% 30'undan fazla olmadığında, hesap zorunlu likidasyon gereksinimlerini karşılar.</p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=3){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  .xmLeverage-200.fs100 {
    width: 150px;
    height: 100px;
    display: block;
    background: url(../../../static/images/ico-200-1.png) no-repeat center 0;
  }

  .xmLeverage-100.fs100 {
    width: 150px;
    height: 100px;
    display: block;
    background: url(../../../static/images/ico-200-1.png) no-repeat center 0;
  }
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: center;padding: 10px !important;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29a643;}
   }

   .nav-flexbox-tabs {padding: 10px !important;
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


 //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap>
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}


</style>
