<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="page-title">
            <h3>Finansal Yönetim</h3>
            <div class="links">
                <router-link to="/publish" v-if="isLogin"><i class="icon icon-plane"></i>Ürünü yayınla</router-link>
                <router-link to="/login?page=publish" v-if="!isLogin"><i class="icon icon-plane"></i>Ürünü yayınla</router-link>

                <router-link to="/my-products" v-if="isLogin"><i class="icon icon-product"></i>Ürünüm</router-link>
                <router-link to="/login?page=myProducts" v-if="!isLogin"><i class="icon icon-product"></i>Ürünüm</router-link>

               <router-link to="/f-order" v-if="isLogin"><i class="icon icon-record"></i>Siparişim</router-link>
               <router-link to="/login?page=fOrder" v-if="!isLogin"><i class="icon icon-record"></i>Siparişim</router-link>
            </div>
        </div>

        <div class="filter">
            <div class="tab-head">
                <router-link :to="{name:'products',params:{type:3}}">İşe Alım</router-link>
                <router-link :to="{name:'products',params:{type:4}}">İşlemde</router-link>
                <router-link to="/tur/fm-introduce" class="active"><em><i></i></em>Finansal yönetime giriş</router-link>
                <router-link :to="{name:'products',params:{type:6}}">Ürün kuralları</router-link>
            </div>
        </div>


        <div class="row white" style="background: url('../../../static/images/ETFs-Hero-Banner-.jpg');height: 532px;background-position: center;">
                <!--<img src="../../../static/images/ETFs-Hero-Banner-.jpg" />-->
                <div class="container-fluid text-center " style="padding-top:1.5rem; letter-spacing:3px;">
                    <h1 class="HeroLoadtext" style="font-family: 'Montserrat', sans-serif; font-weight:bold">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                GİRİŞ
                            </font>
                        </font>
                    </h1><br>
                    <h2 class="HeroLoadtextSub" style="font-weight: bold; font-family: 'Montserrat', sans-serif; font-size:40px;padding-top:0.8rem;">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Noble Sky ™ Finansal özgürlük ürünleri
                            </font>
                        </font>
                    </h2>

                </div>

            </div>
            <div class=" row blueSectionBg">
                <div class="container-fluidcontainer-fluid2 ">
                    <div class="row">

                        <div class="col-6 LBrick " style=" background: url('../../../static/images/peace-of-mind.jpg');
                            height: 450px; background-size: cover;">
                            <h2 class="title" style="padding: 25px 7px;z-index: 10;color: white;position: absolute;left: 10vw;top: 18vh;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tam </font></font><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rahatlık</font></font></b> </h2>
                            <div class="text-left white small" style="padding: 25px 7px;z-index: 10;color: white;position: absolute;left: 6vw;top: 24vh;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">üzerinde   </font></font><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">150 finans uzmanları</font></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">   mali alanda deneyim uzun yıllar birlikte</font></font></div>
                            <div class="overlayCI">

                            </div>
                        </div>
                        <div class="col-6 RBrick" style="padding:1rem;">
                            <div class="left">
                                <h2 class="title" style=" padding: 20px 7px;"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ticareti Uzmanlara Bırakın </font></font></b></h2>
                                <p class="generalText" style=" padding: 10px 12px;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Sektörün önde gelen 150'den fazla finans uzmanıyla, uzmanlar gerisini hallederken rahatlayabilirsiniz, böylece en iyi hayatınızı yaşamaya devam edebilirsiniz.
                                        </font><font style="vertical-align: inherit;">
                                            Tam anlamıyla uyurken para kazanıyor olabilirsiniz ve uzmanların zor işi yapmasına izin verebilirsiniz.
                                        </font>
                                    </font>
                                </p>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="row section-light">
                <div class="container-fluidcontainer-fluid2 ">

                    <div class="row">
                        <div class="col-6 LBrick" style="padding:0.5rem;">
                            <div class="left">
                                <h2 class="title" style=" padding: 25px 7px;"><font style="vertical-align: inherit;"><b><font style="vertical-align: inherit;">Yirmi Bin Dolara</font></b><font style="vertical-align: inherit;"> Kadar </font></font><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Koruma</font></font></b></h2>
                                <p class="generalText">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Ödüllü lider forex ve CFD brokeri NobelSky ™, yeni ve yenilikçi bir risk aracı olan Nobel Sky Protect ile yeni bir risk azaltma standardı getiriyor.
                                        </font>
                                    </font><br><font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Bu benzersiz risk yönetimi özelliği, belirli bir ticareti, seçilen bir zaman dilimi içinde yirmi bin avroya kadar olan kayıplara karşı korumanıza olanak tanır, tüm bunlar, böylece müşteri tabanımıza ne kadar adanmış olduğumuzu kanıtlamaya devam edebilir ve bizim güvence altına alabiliriz. lider güvenilir aracı kurum olarak yer
                                        </font>
                                    </font>
                                </p>
                                <p class="generalText">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            NobelSky ™ Protect, şirketin müşteri başarısı ve memnuniyetine yönelik süregelen bağlılığının bir parçası olarak geliştirilmiştir ve yalnızca Nobel Sky platformlarında mevcuttur.
                                        </font>
                                    </font>
                                </p>
                            </div>

                        </div>
                        <div class="col-6 RBrick " style="background: url('../../../static/images/depoProtectBrick.jpg');
        height: 450px; background-size: cover;">
                            <h2 class="title" style="padding: 25px 7px;z-index: 10;color: white;position: absolute;left: 8vw;top: 18vh;"> <b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Mevduat Kaybı Yok </font></font></b> <br><div class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Garantili</font></font></div></h2>
                            <div class="overlay">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" row blueSectionBg">

                <div class="container-fluidcontainer-fluid2 ">

                    <div class="row">

                        <div class="col-6 LBrick " style=" background: url('../../../static/images/Stocks_v2.png');
        height: 450px; background-size: cover;">
                            <h2 class="title" style="padding: 25px 7px; z-index: 10; color: white; position: absolute; left: 10vw; top: 18vh;"> <b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Güvenle Ticaret </font></font></b> </h2>
                            <div class="text-left white small" style="padding: 25px 7px; z-index: 10; color: white; position: absolute; left: 4vw; top: 24vh;"> <b><font style="vertical-align: inherit;"></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CGSE ™ tarafından </font><b><font style="vertical-align: inherit;">AA</font></b><font style="vertical-align: inherit;"> ticaret lisansı ve iki ayrı düzenleyici kurum tarafından düzenlenir</font></font></div>
                            <div class="overlayCI">

                            </div>
                        </div>
                        <div class="col-6 RBrick" style="padding:0.5rem;">
                            <div class="left">
                                <h2 class="title" style=" padding: 20px 7px;"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Yarım Milyondan Fazla Memnun Müşteri </font></font></b></h2>
                                <p class="generalText" style=" padding: 10px 12px;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            NobleSky ™, 500.000'den fazla müşterisiyle kurulduğu 2009 yılından bu yana, uluslararası üne sahip bir yatırım şirketi ve sektörde gerçek bir lider haline geldi.
                                        </font><font style="vertical-align: inherit;">NobleSky ™ şu anda finans alanında uzun yıllara dayanan deneyime sahip 150'den fazla profesyonele sahiptir. </font><font style="vertical-align: inherit;">NobleSky ™ 'de müşteri fonlarının güvenliği en büyük önceliğimizdir. </font><font style="vertical-align: inherit;">Müşteri fonlarının güvenliğini sağlamak için şirket hesaplarını ve müşteri fonlarını ayrı ayrı depolamak için dünyanın en iyi yatırım bankalarıyla işbirliği yapıyoruz.</font>
                                    </font><br><font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Bu benzersiz risk yönetimi özelliği, belirli bir ticareti, seçilen bir zaman dilimi içinde bir milyon dolara kadar olan kayıplara karşı korumanıza olanak tanır; tüm bunlar, satın alma sırasında ödenen mütevazı bir riskten korunma maliyeti karşılığında yapılır.
                                        </font>
                                    </font>
                                </p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row section-light hDIWSection" style="background: url('../../../static/images/seesaw-coins.png');
        background-size: cover; background-position: center;">
                <div class="col-12" style="background: rgba(0, 0, 0, .35);  height: -webkit-fill-available;">
                    <div class="container-fluidcontainer-fluid3container-fluid4 ">
                        <h1 class="text-center white pb-1" style=" font-family: 'Montserrat', sans-serif; ">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    O nasıl çalışır?
                                </font>
                            </font>
                        </h1>
                        <div class="row pt-2 pb-3">
                            <div class="col-4 text-center white px-2 ">
                                <span><img src="../../../static/images/investorGroupWhite.png"></span>
                                <br>
                                <p class="pt-1">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Yatırımcılar, ana para olarak kullanılan bir Finansal Özgürlük Ürününe yatırım yapar ve bir usta tüccar, ticaret sermayesi olarak kullanılan özel sermayesini yerleştirir.
                                        </font>
                                    </font>
                                </p>
                            </div>
                            <div class="col-4 text-center white px-2 ">
                                <span><img src="../../../static/images/financeGrowthWhite.png"></span>
                                <br>
                                <p class="pt-1">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Master tüccar,
                                        </font>
                                    </font><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sadece</font></font></b><font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;"> Master tüccarın kendi özel sermayesini riske </font><font style="vertical-align: inherit;">atarken, çok daha fazla para kazanmalarına izin veren daha büyük alım satımlar yapmak için birleşik fonları marj olarak kullanır </font><font style="vertical-align: inherit;">. </font><font style="vertical-align: inherit;">
                                            NobleSky, her durumda yatırımcıların müdürüne güvence verir.
                                        </font>
                                    </font>
                                </p>
                            </div>
                            <div class="col-4 text-center white px-2 ">
                                <span><img src="../../../static/images/paperMoneyWhite.png"></span>
                                <br>
                                <p class="pt-1">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Ticaret döngüsü tamamlandıktan sonra, kâr NobleSky ™ tarafından Finansal özgürlük ürününün dağıtım yöntemine göre dağıtılır.
                                        </font><font style="vertical-align: inherit;">uyurken tam anlamıyla para kazanıyorsunuz, </font>
                                    </font><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">bu kadar kolay!</font></font></b>
                                </p>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
            <!-- <div class="row py-3">
                <div class="container-fluid">
                    <h1 class="text-center  pb-2 " id="datacounters" style=" font-family: 'Montserrat', sans-serif; color:#53455b; ">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                O kadar kolay olabilir mi?
                            </font>
                        </font>
                    </h1>
                    <h3 class="text-center  pb-2" style=" font-family: 'Montserrat', sans-serif; color:#53455b; ">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                NobelSky ™ ile çok düzenlemeli, ödüllü bir lider forex ve CFD komisyoncusu.
                            </font>
                        </font><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">işte Bu.</font></font></b>
                    </h3>
                    <div class="content">
                        <div class="data bold">
                            <ul>
                                <li>
                                    <span class="num clients" style="color:#53455b"><font style="vertical-align: inherit;">0</font></span>
                                    <span class="title title-tweets " style="color: rgb(102, 153, 0);"><font style="vertical-align: inherit;">Memnun Müşteriler</font></span>
                                </li>
                                <li>
                                    <span class="num experts" style="color:#53455b"><font style="vertical-align: inherit;">0</font></span>
                                    <span class="title title-followers" style="color: rgb(255, 136, 0);"><font style="vertical-align: inherit;">Usta Uzmanlar</font></span>
                                </li>
                                <li>
                                    <span class="num products" style="color:#53455b"><font style="vertical-align: inherit;">0</font></span>
                                    <span class="title title-following" style="color: rgb(204, 0, 0);"><font style="vertical-align: inherit;">Finansal Özgürlük Ürünleri</font></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div> -->
            <div class="row productBody">
                <div class="container-fluid">
                    <h1 class="text-center white pb-3 pt-2" style=" font-family: 'Montserrat', sans-serif; ">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                NobleSky ™ Finansal Özgürlük Ürünleri
                            </font>
                        </font>
                    </h1>
                </div>
                <div class="container-fluid">
                    <div class=" group">
                        <div class="grid-1-5">
                            <h2 class="py-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sabit İadeler</font></font></h2>
                            <h3 class="pb-1"><span class="uppercase"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">İç rahatlığı</font></font></span></h3>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sabit% yatırım getirisi</font></font></p>
                            <ul>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Depozito kaybı yok</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mevduata dayalı% Gaurenteed getiri</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Piyasalar nasıl giderse gitsin</font></font></li>
                            </ul>

                        </div>
                        <div class="grid-1-5">
                            <h2 class="py-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kar paylaşımı</font></font></h2>
                            <h3 class="pb-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Sınırsız Potansiyel</font></font></h3>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Toplam kârdan sabit% getiri</font></font></p>
                            <ul>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Depost Kaybı Olmaz</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Çok daha yüksek ödüller</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sınırsız Kazanç Potansiyeli </font></font></li>
                            </ul>

                        </div>

                    </div>
                </div>
                <div class="container-fluid">
                    <div class="container-fluid text-center pt-3 pb-1">
                        <router-link to="/products" class="text-md prodBtn btn-primary d-inline-block"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Ürünü görüntüle </font></font></router-link>
                    </div>
                </div>

            </div>


           <div class="container-fluid pb-2">
                <div class="row py-2 center">
                    <div class="container-fluid text-center"><h1 class="py-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sık Sorulan Sorular</font></font></h1></div>
                    <ul class="ulist">
                        <li>
                            <input type="checkbox" checked="">
                            <i></i>
                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bir finansal özgürlük ürünü bana ne kadara mal olur?</font></font></h3>
                            <p class="para">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        NobleSky ™ Finansal özgürlük ürünlerinin kullanımı için herhangi bir ücret talep etmez
                                    </font>
                                </font>
                            </p>
                        </li>
                        <li>
                            <input type="checkbox" checked="">
                            <i></i>
                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bir Finansal Özgürlük ürünüyle başlamak için gereken minimum miktar nedir?</font></font></h3>
                            <p class="para"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bir Finansal Özgürlük ürününe satın almak için minimum 100 ABD Doları</font></font></p>
                        </li>
                        <li>
                            <input type="checkbox" checked="">
                            <i></i>
                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ürün alım satım döneminden sonra hesabıma para aktarılması ne kadar sürer?</font></font></h3>
                            <p class="para">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        NobleSky ™ İşlem dönemini tamamladığında bir fonu otomatik olarak kapatır ve fonlar 1 iş günü içinde dağıtılır
                                    </font>
                                </font>
                            </p>
                        </li>
                        <li>
                            <input type="checkbox" checked="">
                            <i></i>
                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Depozitonumu kaybetmem mümkün mü?</font></font></h3>
                            <p class="para">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Hayır öyle değil.
                                    </font><font style="vertical-align: inherit;">
                                        Primamry ilkesi yalnızca daha büyük işlemler açmak için teminat olarak kullanılabilir ve işlemlerin negatif bakiyesi alt anapara miktarına ulaşırsa fon otomatik olarak kapatılır.
                                    </font>
                                </font>
                            </p>
                        </li>
                        <li>
                            <input type="checkbox" checked="">
                            <i></i>
                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sabit bir getiri yüzdesinden fazlasını istiyorum, bu mümkün mü?</font></font></h3>
                            <p class="para"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Evet var! </font><font style="vertical-align: inherit;">Kar paylaşım ürünleri, yatırımcıların sabit bir getiri yerine toplam kârın belirli bir yüzdesini almasına olanak tanır</font></font></p>
                        </li>
                    </ul>

                </div>
            </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },




    };
  },
   metaInfo: {
      title: 'Finansal yönetime giriş-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

  if(this.curLanguage!=3){
      let pName = this.$route.name.substring(0,this.$route.name.length-2)
      let pNameStr = pName + languageCode[this.curLanguage]
      this.$router.push({name:pNameStr});
  }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){

      let element = document.querySelectorAll(".panel-heading");



      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){


               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }


     document.documentElement.scrollTop = 0


  },



  components: {
    pageHeader,
    pageFooter
  },


  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     }
  }


};
</script>





<style scoped lang="scss">
 /*product boxes styling start*/

.page-title{height: 75px;line-height: 50px;padding-top: 25px;width: inherit;margin: 0 auto;
          h3{font-size: 24px;float: left;}
          .links{float: right;
            a{margin-left: 20px;font-size: 14px;color: #888;}
            i{font-size: 18px;margin-right: 3px;position: relative;top:-1px}
            .icon-product{margin-right: 3px;}
            .icon-record{margin-right: 2px;}
          }
          a:hover{color: #000;}
       }

 .filter{width: inherit;margin:10px auto 0;margin-bottom:30px;
    span,a{-webkit-transition: all .2s ease 0s;transition: all .2s ease 0s;}
    .tab-head{height: 46px;line-height: 46px;border-bottom: 1px solid #eee;font-size: 16px;
       span,a{float: left;color: #888;position: relative;padding:0 20px;cursor: pointer;}
       span:hover,a:hover{color: #000;}
       span.active,a.active{color: #000;
          em{
             position: absolute;
                 height: 0;
                 width: 0;
             border-left: 8px solid transparent;
                 border-right: 8px solid transparent;
                 border-bottom: 8px solid #D51820;
                 left: 50%;
                 bottom: -1px;
                 -webkit-transform: translate(-50%);
                 transform: translate(-50%);
                 z-index: 10;
          }
          i{
            position: absolute;
                content: " ";
                display: block;
                height: 0;
                width: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid #fff;
                left: -6px;
                top: 2px;
          }
       }
       span.active:after,a.active:after{
         content: "";
         position: absolute;
         width: 100%;
         height: 2px;
         background-color: #D51820;
         bottom:-1px;
         left:0;
       }
    }


 }

 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
 /* squarecontainer-fluid css */
 .container3 {
   display: flex;
   flex-direction: column;
   width: 800px;
 }
 .row3 {
   display: flex;
   justify-content: space-between;
 }
 .card3 {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 1.65em 1em;
   background: var(--white);
   margin: 0.85rem;
   border-radius: var(--border-radius);
 }
 .card--dark {
   background: #eaeffd;
 }
 .card__header {
   display: flex;
   justify-content: space-between;
   width: 80%;
 }
 .card__title, .card__sub-title {
   font-size: 0.6em;
   color: var(--gray);
   text-align: center;
   line-height: 1;
 }
 .card__title {
   text-transform: uppercase;
 }
 .card__title--notification {
   position: relative;
 }
 .card__title--notification::after {
   content: '';
   width: 0.25rem;
   height: 0.25rem;
   border-radius: 50%;
   background: var(--green);
   position: absolute;
   top: 0;
   right: 0;
   transform: translateX(0.35rem);
 }
 .card__sub-title, .card__sub-title a {
   color: var(--dark-gray);
 }
 .card__price, .card__progess {
   font-size: 2em;
   font-family: 'Roboto Slab', serif;
   line-height: 1;
   padding: 0.45rem 0;
 }
 .card__progess {
   font-size: 1.75em;
 }
 .card__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
 }
 .card__inner > div {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .card__link {
   text-decoration: underline;
 }
 .graph {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   height: 2.75em;
   position: relative;
 }
 .graph::after {
   content: '';
   width: 100%;
   height: 1px;
   margin: 0 auto;
   z-index: 0;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   border-bottom: 1px dashed var(--gray);
 }
 .graph__line {
   flex: 1;
   background: var(--graph-grey);
   height: 20%;
   width: 0.7em;
   margin: 0 0.05rem;
   border-radius: 0.15rem;
   z-index: 1;
   position: relative;
 }
 .graph__line--active {
   background: var(--graph-purple);
 }
 .graph__line--active:nth-child(1) {
   height: 65%;
 }
 .graph__line--active:nth-child(2) {
   height: 55%;
 }
 .graph__line--active:nth-child(3) {
   height: 75%;
 }
 .graph__line--active:nth-child(4) {
   height: 45%;
 }
 .graph__line--active:nth-child(4) {
   height: 55%;
 }
 .graph__line--active:nth-child(5) {
   height: 65%;
 }
 .graph__line--active:nth-child(6) {
   height: 55%;
 }
 /********************************************
  Animations
  ********************************************/
 .card[data-animate-top] {
   animation: flyInTop var(--transition-duration);
 }
 .card[data-animate-bottom] {
   animation: flyInBottom var(--transition-duration);
 }
 @keyframes flyInTop {
   from {
     transform: translateY(-300%);
     opacity: 0;
   }
   to {
     transform: translateY(0);
     opacity: 1;
   }
 }
 @keyframes flyInBottom {
   from {
     transform: translateY(300%);
     opacity: 0;
   }
   to {
     transform: translateY(0);
     opacity: 1;
   }
 }
 .dribble {
   position: absolute;
   bottom: 1rem;
   right: 1rem;
   color: var(--white);
   transition: transform 0.3s ease-in-out;
 }
 .dribble:hover {
   transform: translateY(-0.5rem);
 }


 /*FAQ Styling*/

 .transition, p, ul li i:before, ul li i:after {
 	transition: all 0.25s ease-in-out;
 }

 .flipIn, h1, ul li {
 	animation: flipdown 0.5s ease both;
 }

 .no-select, h2 {
 	-webkit-tap-highlight-color: transparent;
 	-webkit-touch-callout: none;
 	-webkit-user-select: none;
 	-khtml-user-select: none;
 	-moz-user-select: none;
 	-ms-user-select: none;
 	user-select: none;
 }


 .para {
     color: rgba(48, 69, 92, 0.8);
     font-size: 16px;
     line-height: 50px;
     letter-spacing: 1px;
     position: relative;
     overflow: hidden;
     max-height: 800px;
     opacity: 1;
     transform: translate(0, 25%);
     margin-top: 14px;
     z-index: 2;
 }

 .ulist {
 	list-style: none;
 	perspective: 900;
 	padding: 0;
 	margin: 0;
 	color:#675b6df0;
 }

 .ulist li {
 	position: relative;
 	padding: 0;
 	margin: 0;
 	padding-bottom: 10px;
 	padding-top: 18px;
 	border-top: 1px dotted #dce7eb;
 	text-shadow: 1px 1px dark-gray;
 }

 .ulist li:nth-of-type(1) {
 	animation-delay: 0.5s;
 }

 .ulist li:nth-of-type(2) {
 	animation-delay: 0.75s;
 }

 .ulist li:nth-of-type(3) {
 	animation-delay: 1.0s;
 }
 .ulist li:nth-of-type(4) {
 	animation-delay: 1.25s;
 }

 .ulist li:nth-of-type(5) {
 	animation-delay: 1.5s;
 }
 .ulist li:last-of-type {
 	padding-bottom: 0;
 }

 .ulist li i {
 	position: absolute;
 	transform: translate(-6px, 0);
 	margin-top: 16px;
 	right: 0;
 }

 .ulist li i:before, .ulist li i:after {
 	content: "";
 	position: absolute;
 	background-color: #ff6873;
 	width: 3px;
 	height: 9px;
 }

 .ulist li i:before {
 	transform: translate(-2px, 0) rotate(45deg);
 }

 .ulist li i:after {
 	transform: translate(2px, 0) rotate(-45deg);
 }

 .ulist li input[type=checkbox] {
 	position: absolute;
 	cursor: pointer;
 	width: 100%;
 	height: 100%;
 	z-index: 1;
 	opacity: 0;
 }

 .ulist li input[type=checkbox]:checked ~ p {
 	margin-top: 0;
 	max-height: 0;
 	opacity: 0;
 	transform: translate(0, 50%);
 }

 .ulist li input[type=checkbox]:checked ~ i:before {
 	transform: translate(2px, 0) rotate(45deg);
 }

 .ulist li input[type=checkbox]:checked ~ i:after {
 	transform: translate(-2px, 0) rotate(-45deg);
 }

 @keyframes flipdown {
 	0% {
 		opacity: 0;
 		transform-origin: top center;
 		transform: rotateX(-90deg);
 	}

 	5% {
 		opacity: 1;
 	}

 	80% {
 		transform: rotateX(8deg);
 	}

 	83% {
 		transform: rotateX(6deg);
 	}

 	92% {
 		transform: rotateX(-3deg);
 	}

 	100% {
 		transform-origin: top center;
 		transform: rotateX(0deg);
 	}
 }

 .ulist li:hover, .ulist li:active {
     color: #6aac0e;
     font-weight: 800;
 }
 .ulist li input[type=checkbox]:checked{
     color: #6aac0e;
     font-weight: 800;
 }


 a .prodBtn {
                  color: #6aac0e;
                  text-decoration: none;
                  background-color: transparent;
                  -webkit-text-decoration-skip: objects;
              }

                  a .prodBtn:hover {
                      color: #74c109;
                      text-decoration: underline;
                  }

              ::-moz-selection {
                  background:  #74c109;
                  color: #fff;
              }

              ::selection {
                  background:  #74c109;
                  color: #fff;
              }

              .prodBtn {
                  border-radius: 3px;
                  min-width: 230px;
                  position: relative;
                  border: none;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 1.1;
                  cursor: pointer;
                  transition: box-shadow .4s,color .4s,background-color .4s,transform .4s;
                  text-align: center;
                  display: inline-block;
                  padding: 1em;
                  transform: translateY(0);
              }

                  .prodBtn:focus, .prodBtn:hover:focus {
                      outline: none;
                      box-shadow: none;
                  }

                  .prodBtn:hover {
                      box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
                      text-decoration: none;
                      transform: translateY(-2px);
                  }

                  .prodBtn.btn-primary {
                      background: #6aac0e;
                      color: #fff;
                  }

                      .prodBtn.btn-primary:hover {
                          background:  #74c109;
                          color: #fff;
                      }

                      .prodBtn.btn-primary:focus {
                          background:  #74c109;
                          color: #fff;
                      }

              a .prodBtn {
                  transition: color .4s;
              }

                  a .prodBtn:hover {
                      text-decoration: none;
                      color:  #74c109;
                  }

                      a.prodBtn:focus, a.prodBtn:hover:focus {
                          color:  #74c109;
                      }

              .btn-group .prodBtn {
                  font-size: 18px;
                  font-weight: 500;
                  margin-bottom: 13px;
                  padding-top: 24px;
                  padding-bottom: 24px;
              }

              a .prodBtn {
                  color: #009cfc;
              }


 //////////////***//////////

 @import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

 .productBody {
     background-color: #211f23;
     background-repeat: no-repeat;
     *zoom: 1;
     filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF53455B', endColorstr='#FF201E22');
     background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjAlIiByPSI3MCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1MzQ1NWIiLz48c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzIwMWUyMiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
     background-size: 100%;
     background-image: -moz-radial-gradient(top, circle, #53455b 0%, #201e22 70%);
     background-image: -webkit-radial-gradient(top, circle, #53455b 0%, #201e22 70%);
     background-image: radial-gradient(circle at top, #53455b 0%, #201e22 70%);
     color: #fff;
     font-family: 'Lato', sans-serif;
     font-size: 100%;
     min-height: 100%;
     line-height: 1.5;
     padding: 2.5em 0;
 }

 .container {
     margin: 0 auto;
     width: 100%;
     max-width: inherit;
 }

 .group:after {
     content: "";
     display: table;
     clear: both;
 }

 body {
     color: #333;
     font-size: 14px;
     overflow-x: hidden;
     line-height: 22px;
 }


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.pb-3, .py-3{
    padding-bottom: 1rem!important;
}
.pt-2, .py-2 {
    padding-top: .5rem!important;
}
.text-center {
    text-align: center!important;
}
.pl-2, .px-2 {
    padding-left: .5rem!important;
}
.pr-2, .px-2 {
    padding-right: .5rem!important;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.pb-1, .py-1 {
    padding-bottom: .25rem!important;
}
.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}

.data {
    color: #81878b;
    margin-top: 1em;
}

.data li {
    width: 32%;
    text-align: center;
    display: inline-block;
    font-size: 2em;
    border-right: solid 1px #bdc3c7;
    margin: 0 0 1.8333333333333333em;
}
.data li:last-child {
    border: none;
}
.data li span.title {
    display: block;
    text-transform: uppercase;
    font-size: .85em;
    margin-top: .6em;
    font-weight: 700;
}
 .grid-1-5 {
     border: 2px solid #5d4e65;
     min-height: 350px;
     padding: 1.5em 0.6em;
     margin: 0em 5em;
     position: relative;
     text-align: center;
     transition: all .2s ease-in-out;
 }

 .container3 {
     display: flex;
     flex-direction: column;
     width: 800px;
 }

 header .right .customer.en[data-v-adedc7c0], header .right .login.en[data-v-adedc7c0] {
     width: 200px;
     white-space: nowrap;
 }

 @media screen and (min-width: 700px) {
     .grid-1-5 {
         float: left;
         width: 35%;
     }

         .grid-1-5:nth-child(odd) {
             clear: left;
         }
 }

 @media screen and (min-width: 800px) {
     .grid-1-5 {
         width: 35%;
     }

         .grid-1-5:nth-child(3n+1) {
             clear: left;
         }

         .grid-1-5:nth-child(odd) {
             clear: none;
         }
 }

 @media screen and (min-width: 1120px) {
     .grid-1-5 {
         width: 35%;
     }

         .grid-1-5:nth-child(odd), .grid-1-5:nth-child(3n+1) {
             clear: none;
         }
 }

 .grid-1-5:hover {
     background-color: #53455b;
     *zoom: 1;
     filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF53455B', endColorstr='#FF201D22');
     background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUzNDU1YiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwMWQyMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
     background-size: 100%;
     background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #53455b), color-stop(100%, #201d22));
     background-image: -moz-linear-gradient(top, #53455b 0%, #201d22 100%);
     background-image: -webkit-linear-gradient(top, #53455b 0%, #201d22 100%);
     background-image: linear-gradient(to bottom, #53455b 0%, #201d22 100%);
     border-top: 2px solid #ec7a37;
     border-bottom: 2px solid #ff4f69;
     box-shadow: 0px 0px 10px 0px #323232;
     transform: scale(1.025);
     z-index: 2;
 }

     .grid-1-5:hover:before, .grid-1-5:hover:after {
         content: "";
         position: absolute;
         background-color: #d4af37;
         *zoom: 1;
         filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFd4af37', endColorstr='#FFFF4F68');
         background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2N2QzNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNGY2OCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
         background-size: 100%;
         background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f67d35), color-stop(100%, #ff4f68));
         background-image: -moz-linear-gradient(top, #d4af37 0%, #ff4f68 100%);
         background-image: -webkit-linear-gradient(top, #d4af37 0%, #ff4f68 100%);
         background-image: linear-gradient(to bottom, #d4af37 0%, #ff4f68 100%);
         top: -2px;
         bottom: -2px;
         width: 2px;
     }

     .grid-1-5:hover:before {
         left: -2px;
     }

     .grid-1-5:hover:after {
         right: -2px;
     }

     .grid-1-5:hover ul {
         color: goldenrod;
         font-size: 0.75em;
         list-style-type: none;
         padding: 0;
     }

     .grid-1-5:hover .button {
         background-color: #ee7a36;
         *zoom: 1;
         filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEE7A36', endColorstr='#FFEB495D');
         background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlN2EzNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViNDk1ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
         background-size: 100%;
         background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ee7a36), color-stop(100%, #eb495d));
         background-image: -moz-linear-gradient(left, #ee7a36 0%, #eb495d 100%);
         background-image: -webkit-linear-gradient(left, #ee7a36 0%, #eb495d 100%);
         background-image: linear-gradient(to right, #ee7a36 0%, #eb495d 100%);
     }

 /*       h2, h3, p, ul {
             margin: 0;
         }

         h2 {
             font-size: 1em;
             font-weight: 400;
             margin: 0 0 0.5em;
         }

         h3 {
             font-size: 1.5em;
             letter-spacing: 0.0625em;
             margin: 0 0 0.3333333333333333em;
         }
 */
 /*  p {
                     font-size: 0.875em;
                 }*/

 p, ul {
     margin: 0 0 1.5em;
 }

 ul {
     color: skyblue;
     font-size: 0.75em;
     list-style-type: none;
     padding: 0;
 }

     ul li {
         margin: 0 0 1.8333333333333333em;
     }



 .uppercase, .button, h2 {
     text-transform: uppercase;
 }


 /*product boxes styling end */

 .HeroLoadtext {
     margin-top: 25px;

     text-shadow: 2px 2px #000000;
     -webkit-animation: fadein 4s;
     -moz-animation: fadein 4s;
     -ms-animation: fadein 4s;
     -o-animation: fadein 4s;
     animation: fadein 4s;
 }

 .HeroLoadtextSub {
     /* margin-top: 25px;
                 font-size: 21px;*/
     text-shadow: 2px 2px #000000;
     text-align: center;
     -webkit-animation: fadein 8s;
     -moz-animation: fadein 8s;
     -ms-animation: fadein 8s;
     -o-animation: fadein 8s;
     animation: fadein 8s;
 }

 @keyframes fadein {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }


 @-moz-keyframes fadein {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }


 @-webkit-keyframes fadein {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }

 /* Internet Explorer */
 @-ms-keyframes fadein {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }


 @-o-keyframes fadein {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }

 .section-light {
     background-color: #f0f0f0;
     border-color: #f0f0f0;
 }

 .section-white {
     background-color: #fefefe;
     border-color: #f0f0f0;
 }

 .container2 {
     /*  margin: 0;
                 padding: 0;*/
     /*  background: #fefefe;*/
     font-weight: 400;
     line-height: 1.5;
     color: #343434;
     padding: 1.4rem 0rem;
     max-width: 1250px;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }

 .container3 {
     /*  margin: 0;
                 padding: 0;*/
     /*  background: #fefefe;*/
     font-weight: 400;
     line-height: 1.5;
     color: #343434;
     padding: 8em 0em 5em 0em;
     max-width: 1250px;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }

 .LBrick {
     padding: 22px;
 }

 .RBrick {
     padding: 22px;
 }

 .overlay {
     position: absolute;
     transition: 0.5s ease;
     height: 450px;
     width: 642px;
     top: 0;
     left: 0;
     background-color: #000000;
     opacity: 0.45;
 }

 .container .overlay:hover {
     opacity: 1;
 }

 .overlayCI {
     position: absolute;
     transition: 0.5s ease;
     height: -webkit-fill-available;
     width: inherit;
     top: 0;
     left: 0;
     background-color: #000000;
     opacity: 0.45;
 }

 .container .overlayCI:hover {
     opacity: 1;
 }

 .blueSectionBg {
     background-color: #d4efff6b;
 }

 p {
     text-shadow: 0.31px 0.31px #000000;
     font-family: 'Montserrat', sans-serif;
 }
 /*       @media screen and (max-width:inherit) {
             .hDIWSection {
                 height: 522px !important;
             }
         }*/

</style>
