<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">
          <div class="container-fluid top-bar">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 ">
                  <h1 class="ltr text-left">işlem saati</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">işlem saati</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>Bize Ulaşın</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid hidden-xs">
            <h2 class="top80">Biz sağlıyoruz</h2>
            <div class="row text-center top50 mx-auto">
              <div class="feature-item5">
                <i class="tfxfont3 xmChart-24h fs100 red"></i>
                <p>Günde 24 saat çevrimiçi işlemler</p>
              </div>
              <div class="feature-item5">
                <i class="tfxfont3 xmCalendar fs100 red"></i>
                <p>Pazar 22:05 GMT - Cuma 21:50 GMT</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmClock fs100 red"></i>
                <p>Gerçek zamanlı piyasa bilgileri</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p>En son finans haberleri</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmChart-24h fs100 red"></i>
                <p>24/5 Müşteri desteği</p>
              </div>
            </div>
          </div>
          
         
          <div class="container-fluid">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-12 ">
                  <p>
                    <br>NOBLE SKY'de döviz, bireysel hisse senetleri, emtialar, değerli metaller, enerji ve hisse senedi endeksleri ticareti yapın.</p></div>
                <div class="col-12">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">Hesap oluştur</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid top80 text-center">
            <div class="row">
              <div class="col-md-12 text-justify mx-2">
                <h2>Döviz piyasası açılış saatleri</h2>
                <p>Piyasa hızını asla durdurmaz. NOBLE SKY işlemi de öyle. Bir döviz piyasası kapandıktan sonra diğeri yeniden başlayacaktır. Bu nedenle, müşteriler 24/5 döngüsel işlemin keyfini çıkarabilir. New York işlem saati 13:00 - 22:00 GMT'dir; Sydney işlem saati 22:00 GMT'dir; Tokyo ticareti 00: 00'da başlar ve 9: 00'da biter GMT am; Londra ticaret saati 08: 00'da başlar ve 17:00 GMT'de biter. Bu, dünyanın her yerinden tüccarların ve tüm kıtalardaki merkez bankalarının hissedarlarının günde 24 saat işlem yapmasına olanak tanır.</p>
                <h2 class="top50">Daha fazla işlem süresi, daha fazla olanak</h2>
                <p>Döviz piyasası 24 saat açıktır ve en aktif işlem saatlerini bilmek önemlidir.</p>
                <p>Örneğin, düşük işlem hacmine sahip bir zaman aralığı seçersek, ABD Doğu Standart Saati 17:00 - 19:00 EST, New York kapatıldıktan sonra ve Tokyo açılmadan öncedir. Şu anda sadece Sydney ticarete başladı, bu nedenle bu dönemdeki spreadler Londra, Amerika Birleşik Devletleri ve Tokyo ile karşılaştırıldığında nispeten daha yüksek. Daha az ticaret fırsatı, daha az finansal fırsat demektir. EUR / USD, GBP / USD veya USD / CHF gibi döviz çiftlerinde işlem yapmak istiyorsanız, en uygun zaman aralığı Avrupa ve Amerika'daki en aktif işlem saati olan 08:00 - 12:00 arasındadır.</p>
              </div>
              <div class="col-md-12 text-justify mx-2">
                <h2 class="top50">Uyanıklık ve fırsat</h2>
                <p>Yatırımcıların dikkat etmesi gereken bir diğer şey de hükümet raporlarının ve resmi acil durum haber bültenlerinin zamanlamasıdır. Her hükümet haberin kesin olarak yayınlanma zamanını önceden ilan edecek olsa da, zaman farkı nedeniyle her ülkenin yayınlanma süresi de farklıdır.</p>
                <p>Bu nedenle, farklı ülkelerin çıkış zamanını öğrenmek değerlidir. Çoğu zaman birlikte
                  <a href="/cn/forex-trading">Döviz işlemleri</a>En yoğun zaman tutarlıdır. Yani bunun yatırımcılar için büyük bir kâr fırsatı var ama aynı zamanda geri tepebilir.</p>
                <p>Bir tüccar olarak iki seçeneğiniz var: Yüksek dalgalanmalardan daha yüksek kar elde etmek için yoğun döviz işlemlerine katılabilir veya bu dönemlerde alım satım işlemlerini durdurmaya karar verebilir ve ihtiyatlı bir şekilde döviz işlemleri yapabilirsiniz. Hangisini seçerseniz seçin, haberin yayınlandığı anda fiyatlarda ani değişikliklerin olmasını önlemek ve kaybetmenize neden olmak için önceden plan yapmalısınız.</p>
              </div>
              <div class="col-md-12 text-justify mx-2">
                <h2 class="top50">işlem saati</h2>
                <p>Günlük tüccarlar için en verimli işlem zamanı, Londra piyasasının 08:00 GMT'de başladığı ve ABD piyasasında 22:00 GMT'de bittiği zamandır. . Günün ana ticaret piyasaları Londra, ABD ve Asya piyasalarıdır.</p>
                <p>Aşağıda, piyasadan en iyi şekilde yararlanmanıza yardımcı olacak işlem saatlerine kısa bir genel bakış yer almaktadır.：</p>
                <p>Londra'nın en yüksek işlem saatleri - GMT 8 - 17:00 GMT; Euro, İngiliz sterlini ve ABD doları en sık işlem gören para birimleridir；</p>
                <p>ABD en yüksek işlem saatleri - GMT 13:00 - 22:00 GMT; ABD doları, euro, İngiliz sterlini, Avustralya doları ve Japon yeni en sık işlem gören para birimleridir；</p>
                <p>Asya'da en yoğun işlem saatleri - Pazar öğleden sonra 22.00 GMT'den Avrupa işlemlerinin başlangıcına kadar, 09.00 GMT civarında; günlük işlem için uygun değil。</p>
              </div>
              <div class="col-md-12 text-justify mx-2">
                <h2 class="top50">Online Ticaret</h2>
                <p>NOBLE SKY İşlem saatleri Pazar 22:05 GMT (Greenwich Ortalama Saati) ile Cuma 21:50 GMT (Greenwich Ortalama Saati) arasındadır. Ticaret geçmişimiz kapalı olduğunda,
                  <a href="/cn/platforms">Ticaret platformu</a>İşlem artık yürütülmez ve veriler yalnızca görüntülenebilir.</p>
                <p>Herhangi bir danışma, teknik zorluk veya acil destek için lütfen 24 saat çevrimiçi müşteri hizmetlerimizle e-posta veya canlı sohbet yoluyla iletişime geçmekten çekinmeyin. Yanınızda bir bilgisayarınız yoksa ekibimizin sipariş sorununuzu çözebilmesi için lütfen hesap giriş bilgilerinizi hatırlayın.</p>
                <p>Mevcut bir pozisyonu kapatırken, kar veya zararı durdur emri verirken, bize sipariş numarasını da vermeniz gerekir. Ardından, yalnızca döviz çiftini ve işlem sayısını belirtmeniz gerekir. (Örneğin: 10 lot EUR / USD için fiyat teklifi istiyorum). Lütfen unutmayın: Parola doğrulama başarısız olursa veya parola doğrulamasını yapmak istemezseniz, telefon siparişinizi gerçekleştiremeyiz.</p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>
        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=3){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
     width: 100%;
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
     text-align: center;
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: center;padding: 10px !important;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29a643;}
   }

   .nav-flexbox-tabs {padding: 10px !important;
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


 //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap>
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
.feature-item5{width: 50%;}
</style>
