<template>
    <div class="header-container">
        <header>
            <div class="top-bar" :class="{chart:pageName=='exchange'||pageName=='contract'||pageName=='futures'}">
                <div class="head-left">
                  <h1>
                    <!--<router-link to='/zh' v-if="curLanguage==1">
                      <img src="../../static/images/home-logo.png" />-->
                      <!-- <em>&nbsp;MT5 CRM</em> -->
                    <!--</router-link>-->
                    <router-link to='/' >
                      <img src="../../static/images/home-logo.png" />
                      <!-- <em>&nbsp;MT5 CRM</em> -->
                    </router-link>
                    <!--<router-link to='/tur' v-if="curLanguage==3">
                      <img src="../../static/images/home-logo.png" />-->
                      <!-- <em>&nbsp;MT5 CRM</em> -->
                    <!--</router-link>
                    <router-link to='/ar' v-if="curLanguage==4">
                      <img src="../../static/images/home-logo.png" />-->
                      <!-- <em>&nbsp;MT5 CRM</em> -->
                    <!--</router-link>-->

                  </h1>
                    <ul>



                        <li :class="{active:pageName=='coinsTrade'}">
                          <!--<router-link to='/mobile/coinstrad?uid=200002&device=web&session=76787a46d73d3f65a41b2e3f7d768ece'>{{language[curLanguage][1] || '出入金'}}</router-link> -->
                          <router-link to='/coinstrad'>{{language[curLanguage][1] || '出入金'}}</router-link>
                          <!-- <router-link to='/coinstrad'>{{'法币交易'}}</router-link> -->
                        </li>

                        <!--<li>

                          <router-link to='/fm-introduce'>{{language[curLanguage][17]}}</router-link>

                        </li>-->


                        <!-- <li>
                           <a href="javacript:">{{language[curLanguage][4]}}</a>
                        </li> -->
                    </ul>
                </div>
                <div class="head-right">
                  <div class="user" v-if="!!isLogin">

                    <!-- <router-link to='/my/register-operator' class="operator" v-if="userLoginInfo.userType == 0&&pageName!='exchange'&&pageName!='contract'&&pageName!='coinsTrade'"> -->
                    <!-- <router-link to='/my/register-operator' class="operator" v-if="userLoginInfo.userType == 0">

        <span>期货操盘手</span>
    </router-link>

    <router-link to='/my/operator-info' class="operator" v-if="userLoginInfo.userType == 4">

        <span>我的操盘手信息</span>
    </router-link> -->

                    <router-link to='/my'>
                      <i class="icon icon-user"></i>
                      <!-- <span>{{userInfo.u_name + ' '}}</span> -->
                      <!--<span>{{language[curLanguage][12]}}</span>--><span v-if="userInfo!=null">{{userInfo.u_name + ' '}}</span>
                    </router-link>
                    <span class="logout" @click="logout">|{{' ' + language[curLanguage][13]}}</span>
                  </div>
                  <!--<div v-if="!isLogin" class="login_register">
      <router-link to='/login'>{{language[curLanguage][5]}}</router-link>
      <router-link to='/register'>{{language[curLanguage][6]}}</router-link>
  </div>-->
                  <!-- <div class="iphon select">
      <router-link to='/'><i class="icon icon-iphon"></i></router-link>
  </div> -->
                  <div class="language" @mouseover="languageMouseOver"  @mouseleave="languageMouseLeave">
                    <span>{{languageOptions[curLanguage-1].label}} <img style="width:1.5em" v-bind:src="languageOptions[curLanguage-1].image"></span>
                    <i class="icon icon-triangle-bt"></i>
                    <ul v-show="mouseOverFlag">
                      <li v-for="(item,index) in languageOptions" @click="selectLanguage(item.value)" :key="index">{{item.label}} <img style="width:1.5em" v-bind:src="item.image"></li>
                    </ul>
                  </div>
                  <!-- <div class="setting" @click="openSetting">
      <i class="icon icon-setting"></i>
  </div> -->
                </div>
            </div>

        </header>

        <div class="theme-black head-dialog">
            <el-dialog
              :title="language[curLanguage][7]"
              :visible.sync="dialogVisible"
              width="30%">
              <div class="setting-dialog-content">
                  <div class="item">
                      <span>{{language[curLanguage][8]}}</span>
                      <i style="padding:0 0 0 10px">GMT+08:00</i>
                  </div>
                  <div class="item">
                      <span>{{language[curLanguage][9]}}</span>
                      <template>
                      <el-select v-model="setCoinType" popper-class="select-dropdown-black"	 placeholder="选择币种">
                        <el-option
                          v-for="item in coinOptions"
                          :key="item.value"
                          :label="curLanguage==1?item.label:item.label_en"
                          :value="item.value">
                        </el-option>
                      </el-select>
                    </template>
                  </div>
                  <!-- <div class="item">
                      <span>{{language[curLanguage][10]}}</span>
                      <template>
                      <el-select v-model="setLanguage" popper-class="select-dropdown-black" placeholder="选择语言">
                        <el-option
                          v-for="item in languageOptions"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value">
                        </el-option>
                      </el-select>
                    </template>
                  </div> -->
              </div>
              <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="settedConfirm">{{language[curLanguage][11]}}</el-button>
              </span>
            </el-dialog>
        </div>
    </div>
</template>


<script>
  import $ from 'jquery'
function noop() {}

export default {
  name: "pageHeader",
  props: {
      pageName: {
        default: '',
        type: String
      },
      defaultCoinType: {
        default: 1,
        type: Number
      },
      defaultLanguage: {
        default: 1,
        type: Number
      }

  },
  data: function() {
    return {
       isLogin:false,
       userLoginInfo:{},
       curLanguage:this.defaultLanguage,
       setLanguage:this.defaultLanguage,
       dialogVisible: false,
       curCoinType:this.defaultCoinType,
       setCoinType:this.defaultCoinType,
       coinOptions:[
           {value:1,label:'人民币(CNY)',label_en:'CNY(CNY)'},
           {value:2,label:'美元(USD)',label_en:'USD(USD)'},
//            {value:3,label:'比索(PHP)',label_en:'PHP(PHP)'},
//            {value:4,label:'港元(HKD)',label_en:'HKD(HKD)'},
//            {value:5,label:'日元(JPY)',label_en:'JPY(JPY)'},
//            {value:6,label:'韩元(KRW)',label_en:'KRW(KRW)'}
       ],
       systemCoinOption:[

       ],
       languageOptions:[
           {value:1,label:'简体中文',image:"../../../static/images/CNFlag.png"},
           {value:2,label:'English',image:"../../../static/images/ENFlag.png"},
           {value:3,label:'Türkçe',image:"../../../static/images/TRFlag.png"},
         {value:4,label:'العربية',image:"../../../static/images/ARFlag.png"},
          {value:5,label:'Persian',cardImage:"../../static/images/IRFlag.png"}
       ],
      dialogLanguage: false,
      mouseOverFlag: false,
      language: {
        1: {
          1: '出入金',
          2: '现货交易',
          3: '合约交易',
          4: '币银行',
          5: '登录',
          6: '注册',
          7: '设置',
          8: '交易所时区',
          9: '计价币种',
          10: '显示语言',
          11: '确 定',
          12: '个人信息',
          13: '退出',
          14: '主页',
          15: '期货交易',
          16: '简体中文',
          17: '安心理财',
          18: '土耳其语'

        },
        2: {
          1: 'OTC',
          2: 'Spot Gold',
          3: 'Forex&CFD',
          4: 'currency bank',
          5: 'Sign in',
          6: 'Register',
          7: 'Setting',
          8: 'Exchange time zone',
          9: 'Valuation currency',
          10: 'Display language',
          11: 'Confirm',
          12: 'User Information',
          13: 'Logout',
          14: 'Home',
          15: 'Futures',
          16: 'Chinese',
          17: '.',
          18: 'Turkish'
        },
        3: {
          1: 'OTC',
          2: 'Spot Altın',
          3: 'Forex ve FS',
          4: 'Döviz Bankası',
          5: 'oturum aç',
          6: 'kayıtlı',
          7: 'Ayar',
          8: 'Saat dilimi değişimi',
          9: 'Değerleme para birimi',
          10: 'Ekran dili',
          11: 'Onaylamak',
          12: 'Kullanıcı bilgisi',
          13: 'Çıkış Yap',
          14: 'Ana Sayfa',
          15: 'Vadeli işlemler',
          16: 'Çince',
          17: 'Finansal Hizmetler',
          18: 'Türkçe'

        },
        4: {
          1: "OTC",
          2: "الذهب الفوري",
          3: "الفوركس والعقود مقابل الفروقات",
          4: "بنك العملة",
          5: "تسجيل الدخول",
          6: "تسجيل",
          7: "الإعداد",
          8: "المنطقة الزمنية للتبادل",
          9: "عملة التقييم",
          10: "لغة العرض",
          11: "تأكيد",
          12: "معلومات المستخدم",
          13: "تسجيل الخروج",
          14: "الصفحة الرئيسية",
          15: "العقود الآجلة",
          16: "صيني",
          17: ".",
          18: " اللغة التركية"

        },
         5: {
           1: "OTC" ,
           2: "Spot Gold" ,
           3: "فارکس و CFD" ,
           4: "بانک ارز" ,
           5: "ورود به سیستم" ,
           6: "ثبت نام" ,
           7: "تنظیم" ,
           8: "منطقه زمانی مبادله" ,
           9: "ارز ارزیابی" ,
           10: "نمایش زبان" ,
           11: "تأیید" ,
           12: "اطلاعات کاربر" ,
           13: "خروج" ,
           14: "خانه" ,
           15: "آینده" ,
           16: "چینی" ,
           17: "." ,
           18: 'ترکی'
         }
      },

      menuFlag1: false,
      menuFlag2: false,
      menuFlag3: false,
      menuFlag4: false,

    };
  },
  created(){

//       console.log(window.TradingView)
//
//       if(this.pageName!='symbolPriceList'&&!this.localStore.getItem('tvPriceListPlugin')){
//           console.log()
//           console.log('aaaaaa')
//           console.log(window.TradingView)
//           let ttv = window.TradingView;
//           console.log(ttv)
//           console.log(JSON.stringify(ttv))
//           this.localStore.setItem('tvChartPlugin',ttv);
//           console.log(this.localStore.getItem('tvChartPlugin'))
//       }




    if (!!this.localStore.getItem('userLoginInfo')) {
      this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'))
      this.isLogin = true;
      console.log(this.localStore.getItem('userLoginInfo'));
      console.log(this.userLoginInfo);
    }
    console.log(this.userLoginInfo);
    console.log("usearrr innfoooooo");
    this.getCoinList();
    this.settingAPIDataLanguage();

    if (!!this.localStore.getItem('userInfo')) {
      this.userInfo = JSON.parse(this.localStore.getItem('userInfo'))



    } else {

      this.getUserInfo();
    }

    this.getUserInfo();
      this.getCoinList();
      this.settingAPIDataLanguage();


  },

 components: {

  },
  methods: {
    settingAPIDataLanguage(){
        let languageOptions = [
          { value: 1, label: '简体中文', image: '../../static/images/CNFlag.png' },
          { value: 2, label: 'English', image: '../../static/images/ENFlag.png' },
          { value: 3, label: 'Türkçe', image: '../../static/images/TRFlag.png' },
          { value: 4, label: 'العربية', image: '../../static/images/ARFlag.png' },
          { value: 5, label: 'فارسى', image: '../../static/images/IRFlag.png' }      
        ]



        this.languageOptions = languageOptions



    },
    handleMenuFlag(val) {
      if (val == 1) {
        this.menuFlag2 = false;
        this.menuFlag3 = false;
        this.menuFlag1 = !this.menuFlag1
        this.menuFlag4 = false;
        this.menuFlag5 = false;
        return
      }
      if (val == 2) {
        this.menuFlag1 = false;
        this.menuFlag3 = false;
        this.menuFlag2 = !this.menuFlag2
        this.menuFlag4 = false;
        this.menuFlag5 = false;
        return
      }
      if (val == 3) {
        this.menuFlag1 = false;
        this.menuFlag2 = false;
        this.menuFlag3 = !this.menuFlag3
        this.menuFlag4 = false;
        this.menuFlag5 = false;
        return
      }
      if (val == 4) {
        this.menuFlag1 = false;
        this.menuFlag2 = false;
        this.menuFlag3 = false;
        this.menuFlag4 = !this.menuFlag4;
        this.menuFlag5 = false;
        return
      } if (val == 5) {
        this.menuFlag1 = false;
        this.menuFlag2 = false;
        this.menuFlag3 = false;
        this.menuFlag5 = !this.menuFlag5;
        this.menuFlag4 = false;
        return
      }
    },
    languageMouseOver() {
      $('.language li').each(function () {
        var delay = ($(this).index() / 8) + 's';
        $(this).css({
          webkitAnimationDelay: delay,
          mozAnimationDelay: delay,
          animationDelay: delay
        });
      });
      this.mouseOverFlag = true;
    }, languageMouseLeave() {

    },
    selectLanguage(index){

      this.curLanguage = index
      this.localStore.setItem('curLanguage', this.curLanguage);
      this.$emit('changeLanguage', this.curLanguage);
      this.dialogLanguage = false;
      this.mouseOverFlag = false;
    },
    openSetting(){
        this.dialogVisible = true;
        this.setCoinType = this.curCoinType;
        this.setLanguage = this.curLanguage;
    },
    settedConfirm(){
        this.curCoinType = this.setCoinType;
        this.curLanguage = this.setLanguage;
        this.dialogVisible = false;
        this.localStore.setItem('curCoinType',this.curCoinType);
        this.localStore.setItem('curLanguage',this.curLanguage);
        this.$emit('changeCoinType',this.curCoinType);
        this.$emit('changeLanguage',this.curLanguage);
    },

    languageShowOrHide(){
        this.dialogLanguage = !!this.dialogLanguage?false:true;
    },
    logout(){

        this.localStore.removeItem('userLoginInfo');
        this.localStore.removeItem('userInfo');
        this.localStore.removeItem('userCountry');
        this.isLogin = false;
        this.$emit('userLogout');
    },
    loginSuccess(){

       this.userLoginInfo = this.localStore.getItem('userLoginInfo');

       this.isLogin = true;
    }
    , hideMenu() {
      this.menuFlag1 = false;
      this.menuFlag2 = false;
      this.menuFlag3 = false;
      this.menuFlag4= false;
    },

    getCoinList(){

        this.coinOptions = [];
       const api = this.$api.url.currency_info;
       let coinsPrecision = {}
       this.$axios.get(api)
       .then((res)=>{
           if(res.data.code==0){
               let _data = JSON.parse(res.data.data)

               let x = 0.2%0.02



               _data.forEach(item=>{
                   coinsPrecision[item.Code] = item.Precision
                   if(item.Type==1){
                      this.coinOptions.push(item);
                   }
                   if(item.Type==0){
                      this.systemCoinOption.push(item);
                   }
               })

               let data =this.coinOptions.map((item,index)=>{
                   let value = index+1;
                   let label = decodeURI(item.Name)+'(' + item.Code + ')';
                   let label_en = item.Code+'(' + item.Code + ')';


                   return {value:value,label:label,label_en:label_en,code:item.Code,default:item.Default}
               })
               this.coinOptions = data;


               this.localStore.setItem('coinsPrecision',coinsPrecision);
               this.localStore.setItem('coinsList',this.coinOptions);

               this.localStore.setItem('systemCoinsList',this.systemCoinOption);
           }else{
             this.$message({
               message:res.data.msg+ " 获取币种失败",
               type: "error",
               center: true,
               duration:1800
             })
           }
       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:1800
           })
         })
    },
    getUserInfo() {
    
      const api = this.$api.url.userVerify1;
      const params = {
        Device: 'web',
        Uid: this.userLoginInfo.userID,
        Token: this.userLoginInfo.session
      }
      this.$axios.get(api, { params: params })
        .then((res) => {
          if (res.data.code == 0) {

            this.userInfo = JSON.parse(res.data.data);
            console.log(this.userInfo);
            // this.userInfo.u_country = this.userCountry;
            this.localStore.setItem('userInfo', this.userInfo)
            // this.getUserCountry();


          } else if (res.data.code == 1011) {

            this.$refs.pageHead.logout();
            this.isLogin = false;
            this.$router.push({ name: 'login' });
          } else {
            let resultMsg = this.getStateCodeText(res.data.code)
            this.$message({
              message: this.language[this.curLanguage][39] + " " + this.language[this.curLanguage][38] + resultMsg,
              type: "error",
              center: true,
              duration: 1800
            })
          }

        }).catch((error) => {
          this.$message({
            message: error,
            type: "error",
            center: true,
            duration: 1800
          })
        })

    },
  }

};
</script>



<style scoped lang="scss">


  header{
      .top-bar
  {
    height: 95px;
    background: linear-gradient(90deg, #0e0e23 0%, #141731 100%) 0% 0% repeat scroll rgba(0, 0, 0, 0);
    color: #aeb9d8;
    min-width: 960px;
    a{color: #aeb9d8;}
        a:hover{color: #fff;}
      }
  .top-bar.chart {
    background: linear-gradient(90deg, #272833 0%, #1d1e2b 100%) 0% 0% repeat scroll rgba(0, 0, 0, 0);
  }
      h1{padding-top:5px;float: left;
          img{height: 60px;float:left;}
          em{float: left;margin-top: 14px;font-style:italic}
      }
      .head-left{float: left;padding-left: 20px;
          ul{float: left;height: 60px;margin-left: 30px;}
          li{float: left;line-height: 60px;margin:0 10px;font-size: 15px;position: relative;}
          li.active{
              a{color: #fff;}
              &:after{position: absolute;content: "";width: 100%;height: 3px;background: #387ee2;bottom: 0;left:0;}
          }
      }
      .head-right{float: right;line-height: 60px;
         &>div{float: left;margin-right: 20px;}
         .login_register{
             a:last-child{display: inline-block;border:1px solid #aeb9d8;height: 32px;width:70px;line-height: 32px;text-align: center;margin-left: 20px;}
         }
         .user{
             a.operator{margin-right: 15px;color: #05c19e;}
             .logout{color: #7b87a9;cursor: pointer;}
             .logout:hover{color: #8893b4}
             i{margin-right: 2px;position: relative;top:-1px;}
         }
         .iphon{font-size: 20px;height: 60px;
           i{position: relative;top:-2px;}
         }
         .setting{font-size: 20px;cursor: pointer;
             i{-webkit-transition:all .3s ease 0s;transition:all .3s ease 0s;}
             i:hover{color: #fff;}

         }
         .language{height:60px;position: relative;padding-left: 35px;z-index:999999;
            background-size: 30px auto;
             span{display: block;height: 60px;cursor: pointer;position:relative;z-index: 10;padding-right: 16px;}
             i{font-size: 16px;padding-left:2px;position: absolute;right: 0;top:0;
               -webkit-transition:all .2s ease 0s;transition:all .2s ease 0s;
             }
             .menu-show{
                 i{-webkit-transform:rotate(180deg);transform:rotate(180deg); }
             }
             .language{position: absolute;left:30px;top:50px;background:none;padding:3px 5px 7px;width: 70px;z-index: 3;border-radius: 3px;
              -webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;
              &:after{position: absolute;content: "";width:0;height: 0;border-style:solid;border-color:transparent;
         border-width: 8px;border-top-width:0;border-bottom-color:#192742;top:-8px;left:calc(50% - 8px);}
             }
            ul {
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              padding-left:initial;
              background-color:transparent;
              visibility:hidden;
               transition: 0.70s;
              -webkit-transition: 0.70s;
              -moz-transition: 0.70s;
              -ms-transition: 0.70s;
              -o-transition: 0.70s;
            }
            /*   li
              {
                  transition: 0.70s;
              -webkit-transition: 0.70s;
              -moz-transition: 0.70s;
              -ms-transition: 0.70s;
              -o-transition: 0.70s;
              }*/
          
         }
         .language:hover{
             span{color: #fff;}
            

         }
    .language i {
        transition: 0.70s;
        -webkit-transition: 0.70s;
        -moz-transition: 0.70s;
        -ms-transition: 0.70s;
        -o-transition: 0.70s;
      }
  .language ul {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    animation: rolldown .85s 1;
    animation-direction: reverse;
  }

   .language:hover {
    border-color: #555;
    i

  {
    transition: 1.50s;
    -webkit-transition: 1.50s;
    -moz-transition: 1.50s;
    -ms-transition: 1.50s;
    -o-transition: 1.50s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  ul {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: initial;
    background-color: transparent;
    /*   visibility:hidden;
                transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;*/
  }

  li {
    text-align: right;
    padding: .35em;
    border-bottom: 1px solid #555;
    visibility: hidden;
    animation: rolldown .35s 1;
    transform-origin: 50% 0;
    animation-fill-mode: forwards;
    background: #192742;
  }

    li:last-child {
      border-bottom: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    li:hover {
      color: #fff;
      text-shadow: 1px 1px 2px #f5f7fa;
      cursor:pointer;
    }

  }

         .language.english{background-image: url(../../static/images/english-ico.png);}
      }

  }
  @keyframes rolldown {
    0% {
      visibility: visible;
      opacity: 0.5;
      transform: rotateX(-180deg) perspective(500px);
    }

    50% {
      visibility: visible;
      opacity: 0.75;
      transform: rotateX(-80deg);
    }

    50% {
      visibility: visible;
      opacity: 0.75;
      transform: rotateX(-80deg);
    }

    70% {
      visibility: visible;
      opacity: 0.75;
      transform: rotateX(-20deg);
    }

    100% {
      visibility: visible;
      opacity: 1;
      transform: rotateX(0deg);
    }
  }
 .setting-dialog-content{
     .item{margin-bottom:12px;
         span{display: block!important;margin-bottom: 8px;}
         .el-select{width: 100%;
         }
     }
     .item:first-child{
         span{display: inline;}
     }
 }


.dialog-footer{text-align: center;display: block;
    button{width: 116px;height: 40px;font-size: 16px;}
}




  ::-webkit-scrollbar {
    background: #192742;
    width: auto;
    height: auto;
    color: beige;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb {
    background: #fff;
    width: 10px;
    height: 10px;
    color: beige;
    border-radius: 50px;
  }


dd{
   margin-bottom: 0!important;
}

</style>
<style>
  .language ul {
    background-color: #192742;
  }
</style>
