<template>
    <div class="header-container">
        <div class="header-cell">

                      <header>
                           <div class="width-cell">
                               <div class="left">
                                     <router-link to='/'>N Sky HOME PAGE</router-link>
                                     <!-- <router-link to='/login' v-if="!isLogin">Member login</router-link> -->
                                     <router-link to='/en/faq'>FAQ</router-link>
                                     <!-- <router-link to='/en/contact'>CLIENT SUPPORT</router-link> -->
                                     <!-- <a href="https://uk.investing.com/news/" target="_blank">Financial Information</a>
                                     <a href="https://uk.investing.com/economic-calendar/" target="_blank">Economic Calendar</a> -->
                               </div>
                               <div class="right">
                                     <router-link to='/my' class="user-account" v-if="!!isLogin"><i class="icon icon-user"></i>{{userLoginInfo.userName}}</router-link>
                                     <router-link to='/login' v-if="!isLogin" class="login en"><i class="icon icon-lock"></i>Member login</router-link>
                                     <router-link to='/en/contact' class="customer en"><i class="icon icon-service"></i>Web customer service</router-link>
                                     <router-link to='/register' class="create-account en">OPEN AN ACCOUNT</router-link>
                                     <div class="language" @mouseover="languageMouseOver">
                                         <span>{{languageOptions[curLanguage-1].label}} <img style="width:1.5em" v-bind:src="languageOptions[curLanguage-1].image"></span>
                                         <i class="icon icon-triangle-bt"></i>
                                         <ul v-show="mouseOverFlag">
                                            <li v-for="(item,index) in languageOptions" @click="selectLanguage(item.value)" :key="index" >{{item.label}} <img style="width:1.5em" v-bind:src="item.image"></li>
                                         </ul>
                                     </div>
                               </div>
                           </div>
                      </header>
                      <div class="nav">
                          <div class="width-cell">
                              <div class="logo">
                                   <router-link to='/'>
                                       <img src="../../static/images/home-logo.png" />
                                       <!-- <em>&nbsp;MT5 CRM</em> -->
                                   </router-link>


                              </div>
                              <ul>
                                  <li>
                                       <router-link to='/' :class="{active:pageName=='home'}">HOME </router-link>
                                       <!-- <router-link to='/fm-introduce' :class="{active:pageName=='products'}">F.M.</router-link> -->
                                       <router-link to='/coinstrad' v-if="isLogin">CRM</router-link>
                                       <router-link to='/login?page=coinstrad' v-if="!isLogin">CRM</router-link>
                                       <router-link to="/en/analytics-info">ANALYTICS</router-link>
                                       <a href="javascript:" @click.stop="handleMenuFlag(1)" :class="{active2:menuFlag1}">TRADING</a>
                                       <a href="javascript:" @click.stop="handleMenuFlag(2)" :class="{active2:menuFlag2}">TRADING PLATFORM</a>
                                       <!-- <a href="javascript:">An psychological wealth</a> -->
                                       <router-link to='/activity-list' :class="{active:pageName=='activityList'}">ACTIVITY</router-link>
                                       <a href="javascript:" @click.stop="handleMenuFlag(3)" :class="{active2:menuFlag3}">INTRODUCTION</a>
                                       <router-link to='/agent' :class="{active:pageName=='agent'}">AGENT</router-link>
                                  </li>
                              </ul>
                          </div>

                          <div class="dropdown" style="display: block;" v-if="menuFlag1" @click.stop="menuClick">
                              <div class="width-cell">
                                  <div class="dr-left">
                                       <h5>Trading</h5>
                                       <p>
                                          At N Sky, we provide micro and standard accounts, which are suitable for novices and experienced traders, with flexible trading conditions and leverage up to 200:1.
                                          <br />

        N Sky provides more than 55 kinds of extremely low spread currency pairs and CFD commodities, including precious metals, and energy, without rejection orders, and no secondary quotes.
                                          <br />
                                          Risk warning: There are huge risks in foreign exchange transactions using margin
                                          <br />
                                       </p>
                                  </div>
                                  <div class="dr-right">
                                       <dl style="width: 284px;">
                                            <dt><i class="tfxfont3 xmUser-id"></i>Trading account</dt>
                                            <dd>
                                               <router-link to='/en/account-types'>Trading account type</router-link>
                                            </dd>
                                       </dl>
                                       <dl>
                                           <dt><i class="tfxfont3 xmCandlestick"></i>Trading tools</dt>
                                           <dd>
                                              <router-link to='/en/forex-trading'>Foreign exchange</router-link>
                                           </dd>
                                           <!-- <dd>
                                              <router-link to='/en/commodities'>Commodity</router-link>
                                           </dd>
                                           <dd>
                                              <router-link to='/en/equity-indices'>Securities Index</router-link>
                                           </dd> -->
                                           <dd>
                                              <router-link to='/en/precious-metals'>Precious metals</router-link>
                                           </dd>
                                           <dd>
                                              <router-link to='/en/energies'>Energy</router-link>
                                           </dd>
                                           <!-- <dd>
                                              <router-link to='/'>stock</router-link>
                                           </dd> -->

                                       </dl>

                                       <dl>
                                           <dt><i class="tfxfont3 xmChart-bars-arrow"></i>Trading terms</dt>
                                           <dd>
                                              <router-link to='/en/execution-policy'>Execution Policy</router-link>
                                           </dd>
                                           <dd>
                                              <router-link to='/en/spreads'>Spread</router-link>
                                           </dd>
                                           <dd>
                                              <router-link to='/en/margin-and-leverage'>Margin and leverage</router-link>
                                           </dd>
                                           <dd>
                                              <router-link to='/en/overnight-positions'>Overnight position</router-link>
                                           </dd>
                                           <dd>
                                              <router-link to='/en/trading-hours'>Trading hours</router-link>
                                           </dd>

                                       </dl>

                                  </div>
                              </div>
                              <div class="up-menu" @click="menuFlag1=false" v-if="pageName=='webHtml'"><i class="icon el-icon-arrow-up"></i>Collapse menu</div>
                          </div>



                          <div class="dropdown" style="display: block;" v-if="menuFlag2" @click.stop="menuClick">
                              <div class="width-cell">
                                  <div class="dr-left">
                                       <h5>Trading platform</h5>
                                       <p>
                                          You can trade on-demand goods on N Sky MT5, which is suitable for PC and various mobile devices. You can also try N Sky WebTrader.
                                          <br />
                                          In addition, the full functionality of the platform is also applicable to Apple and Android mobile devices, and can be seamlessly linked to your smartphone or tablet.
                                          <br />
                                          Risk Warning: Precious Metals trading involves high risks.
                                          <br />
                                       </p>
                                  </div>
                                  <div class="dr-right">
                                       <dl>
                                            <dt><i class="tfxfont3 xmPc"></i>PC</dt>
                                            <dd>
                                               <i class="fab fa-windows"></i>
                                               <router-link to='/mt5'>MT5 for PC</router-link>
                                            </dd>
                                            <!-- <dd>
                                               <i class="fa fa-apple"></i>
                                               <router-link to='/mt5-mac'>MacsystemMT5</router-link>
                                            </dd> -->
                                            <dd>
                                               <i class="fa fa-desktop"></i>
                                               <router-link to='/en/mt5-webtrader'>MT5 WebTrader</router-link>
                                            </dd>
                                       </dl>
                                       <dl>
                                            <dt><i class="tfxfont3 xmIphone"></i>SMARTPHONES</dt>
                                            <dd>
                                               <i class="fa fa-apple"></i>
                                               <router-link to='/en/mt5-iphone'>MT5 for iPhone</router-link>
                                            </dd>
                                            <dd>
                                               <i class="fa fa-android"></i>
                                               <router-link to='/en/mt5-android'>MT5 for Android</router-link>
                                            </dd>

                                       </dl>

                                       <dl>
                                            <dt><i class="tfxfont3 xmIpad"></i>TABLET</dt>
                                            <dd>
                                               <i class="fa fa-apple"></i>
                                               <router-link to='/en/mt5-ipad'>MT5 for iPad</router-link>
                                            </dd>
                                       </dl>

                                  </div>
                              </div>
                              <div class="up-menu" @click="menuFlag2=false" v-if="pageName=='webHtml'"><i class="icon el-icon-arrow-up"></i>Collapse menu</div>
                          </div>

                          <div class="dropdown" style="display: block;" v-if="menuFlag3" @click.stop="menuClick">
                              <div class="width-cell">
                                  <div class="dr-left">
                                       <h5>Introduction</h5>
                                       <p>
                                          N Sky pursues high-quality service, because quality is very important to customers and us. We believe that comprehensive and thoughtful financial services need to be based on comprehensive thinking and a unified policy of business principles.
                                          <br />
                                          Our task is to keep pace with the global market demand, use broad thinking, and help customers achieve their investment goals.
                                          <br />
                                          Risk warning: There are huge risks in foreign exchange transactions using margin.
                                          <br />
                                       </p>
                                  </div>
                                  <div class="dr-right">
                                       <dl style="width: 300px;">
                                            <dt><i class="tfxfont3 xmUser-profile"></i>Introduction</dt>
                                            <dd>
                                               <router-link to='/en/about'>About N Sky group</router-link>
                                            </dd>
                                            <dd>
                                               <router-link to='/en/regulation'>Supervision</router-link>
                                            </dd>
                                            <dd>
                                               <router-link to='/en/faq'>Common Questions</router-link>
                                            </dd>
                                            <dd>
                                               <router-link to='/en/legal-documents'>Related legal documents</router-link>
                                            </dd>
                                       </dl>


                                  </div>
                              </div>
                              <div class="up-menu" @click="menuFlag3=false" v-if="pageName=='webHtml'"><i class="icon el-icon-arrow-up"></i>Collapse menu</div>
                          </div>


                      </div>
                </div>
    </div>
</template>


<script>
import $ from 'jquery'
function noop() {}

export default {
  name: "pageHeader",
  props: {
      pageName: {
        default: '',
        type: String
      },
      defaultCoinType: {
        default: 1,
        type: Number
      },
      defaultLanguage: {
        default: 1,
        type: Number
      }

  },
  data: function() {
    return {
       isLogin:false,
       userLoginInfo:{},
       curLanguage:this.defaultLanguage,
       setLanguage:this.defaultLanguage,
       dialogVisible: false,
       curCoinType:this.defaultCoinType,
       setCoinType:this.defaultCoinType,
       coinOptions:[
           {value:1,label:'人民币(CNY)',label_en:'CNY(CNY)'},
           {value:2,label:'美元(USD)',label_en:'USD(USD)'},
//            {value:3,label:'比索(PHP)',label_en:'PHP(PHP)'},
//            {value:4,label:'港元(HKD)',label_en:'HKD(HKD)'},
//            {value:5,label:'日元(JPY)',label_en:'JPY(JPY)'},
//            {value:6,label:'韩元(KRW)',label_en:'KRW(KRW)'}
       ],
       systemCoinOption:[

       ],
       languageOptions:[
           {value:1,label:'简体中文',image:'../../static/images/CNFlag.png'},
           {value:2,label:'English',image:'../../static/images/ENFlag.png'},
           {value:3,label:'Türkçe',image:'../../static/images/TRFlag.png'} ,
        { value: 4, label: 'العربية', image: "../../static/images/ARFlag.png" },
        { value: 5, label: 'فارسى', image: "../../static/images/IRFlag.png" }
       ],
       dialogLanguage:false,
       mouseOverFlag:false,
       language:{
           1:{
             1:'出入金',
             2:'现货交易',
             3:'合约交易',
             4:'币银行',
             5:'登录',
             6:'注册',
             7:'设置',
             8:'交易所时区',
             9:'计价币种',
             10:'显示语言',
             11:'确 定',
             12:'个人信息',
             13:'退出',
             14:'主页',
             15:'期货交易'

           },
           2:{
             1:'OTC',
             2:'Spot Gold',
             3:'Forex&CFD',
             4:'currency bank',
             5:'Sign in',
             6:'Register',
             7:'Setting',
             8:'Exchange time zone',
             9:'Valuation currency',
             10:'Display language',
             11:'Confirm',
             12:'User Information',
             13:'Logout',
             14:'Home',
             15:'futures'
         },
         3: {
           1: "OTC",
           2: 'Spot Altın',
           3: 'Forex ve CFD',
           4: 'döviz bankası',
           5: 'Oturum açın',
           6: 'Kayıt Ol',
           7: 'Ayar',
           8: 'Saat dilimi değişimi',
           9: 'Değerleme para birimi',
           10: 'Ekran dili',
           11: 'Onayla',
           12: 'Kullanıcı Bilgileri',
           13: 'Oturumu Kapat',
           14: 'Ana Sayfa',
           15: 'Vadeli İşlemler'

         },
         4: {
          1: "خارج المقصورة",
          2: "الذهب الفوري",
          3: "الفوركس والعقود مقابل الفروقات",
          4: "بنك العملة",
          5: "تسجيل الدخول",
          6: "تسجيل",
          7: "الإعداد",
          8: "المنطقة الزمنية للتبادل",
          9: "عملة التقييم",
          10: "لغة العرض",
          11: "تأكيد",
          12: "معلومات المستخدم",
          13: "تسجيل الخروج",
          14: "الصفحة الرئيسية",
          15: "العقود الآجلة",

        },
           5: {
              1: "OTC" ,
              2: "Spot Gold" ,
              3: "فارکس و CFD" ,
              4: "بانک ارز" ,
              5: "ورود به سیستم" ,
              6: "ثبت نام" ,
              7: "تنظیم" ,
              8: "منطقه زمانی مبادله" ,
              9: "ارز ارزیابی" ,
              10: "نمایش زبان" ,
              11: "تأیید" ,
              12: "اطلاعات کاربر" ,
              13: "خروج" ,
              14: "خانه" ,
              15: "آینده"
          }
       },

       menuFlag1:false,
       menuFlag2:false,
       menuFlag3:false,
       menuFlag4:false,
       meduFlag5:false,
    };
  },
  
  created(){

//       console.log(window.TradingView)
//
//       if(this.pageName!='symbolPriceList'&&!this.localStore.getItem('tvPriceListPlugin')){
//           console.log()
//           console.log('aaaaaa')
//           console.log(window.TradingView)
//           let ttv = window.TradingView;
//           console.log(ttv)
//           console.log(JSON.stringify(ttv))
//           this.localStore.setItem('tvChartPlugin',ttv);
//           console.log(this.localStore.getItem('tvChartPlugin'))
//       }




      if(!!this.localStore.getItem('userLoginInfo')){
          this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'))
          this.isLogin = true;
      }

      this.getCoinList();

   // this.settingAPIDataLanguage();

  },

 components: {

  },
  methods: {
    handleMenuFlag(val){
       if(val==1){
          this.menuFlag2 = false;
          this.menuFlag3 = false;
          this.menuFlag1 = !this.menuFlag1
          return
       }
       if(val==2){
          this.menuFlag1 = false;
          this.menuFlag3 = false;
          this.menuFlag2 = !this.menuFlag2
          return
       }
       if(val==3){
          this.menuFlag1 = false;
          this.menuFlag2 = false;
          this.menuFlag3 = !this.menuFlag3
          return
       }
    },
    languageMouseOver(){
       console.log(this.mouseOverFlag)
       this.mouseOverFlag = true;
    },
    selectLanguage(index){

         this.curLanguage = index
         this.localStore.setItem('curLanguage',this.curLanguage);
         this.$emit('changeLanguage',this.curLanguage);
         this.dialogLanguage = false;
         this.mouseOverFlag = false;
    },
    openSetting(){
        this.dialogVisible = true;
        this.setCoinType = this.curCoinType;
        this.setLanguage = this.curLanguage;
    },
    settedConfirm(){
        this.curCoinType = this.setCoinType;
        this.curLanguage = this.setLanguage;
        this.dialogVisible = false;
        this.localStore.setItem('curCoinType',this.curCoinType);
        this.localStore.setItem('curLanguage',this.curLanguage);
        this.$emit('changeCoinType',this.curCoinType);
        this.$emit('changeLanguage',this.curLanguage);
    },

    languageShowOrHide(){
        this.dialogLanguage = !!this.dialogLanguage?false:true;
    },
    logout(){

        this.localStore.removeItem('userLoginInfo');
        this.localStore.removeItem('userInfo');
        this.localStore.removeItem('userCountry');
        this.isLogin = false;
        this.$emit('userLogout');
    },
    loginSuccess(){

       this.userLoginInfo = this.localStore.getItem('userLoginInfo');

       this.isLogin = true;
    },
    getCoinList(){

        this.coinOptions = [];
       const api = this.$api.url.currency_info;
       let coinsPrecision = {}
       this.$axios.get(api)
       .then((res)=>{
           if(res.data.code==0){
               let _data = JSON.parse(res.data.data)

               let x = 0.2%0.02



               _data.forEach(item=>{
                   coinsPrecision[item.Code] = item.Precision
                   if(item.Type==1){
                      this.coinOptions.push(item);
                   }
                   if(item.Type==0){
                      this.systemCoinOption.push(item);
                   }
               })

               let data =this.coinOptions.map((item,index)=>{
                   let value = index+1;
                   let label = decodeURI(item.Name)+'(' + item.Code + ')';
                   let label_en = item.Code+'(' + item.Code + ')';


                   return {value:value,label:label,label_en:label_en,code:item.Code,default:item.Default}
               })
               this.coinOptions = data;


               this.localStore.setItem('coinsPrecision',coinsPrecision);
               this.localStore.setItem('coinsList',this.coinOptions);

               this.localStore.setItem('systemCoinsList',this.systemCoinOption);
           }else{
             this.$message({
               message:res.data.msg+ " 获取币种失败",
               type: "error",
               center: true,
               duration:1800
             })
           }
       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:1800
           })
         })
    },

    hideMenu(){
        this.menuFlag1 = false;
        this.menuFlag2 = false;
        this.menuFlag3 = false;
    },

    menuClick(){
       return;
    }

    // handleMenu(val){
    //     this.menuIndex =
    // }

  }

};
</script>



<style scoped lang="scss">

  header{height: 62px;line-height: 62px;background-color: #000;}
  header .width-cell{width: 1300px;margin:0 auto;}
  header a{color: #fff;}
  header .left{float:left;}
  header .left a{margin-right: 15px;opacity: 1;-webkit-transition: opacity 0.3s ease 0s;transition: opacity 0.3s ease 0s;}
  header .left a:hover{opacity: 1;}

  header .right{float: right;position: relative;padding-right: 100px;padding-top: 15px;}
  header .right a{float:left;margin-right: 15px;}
  header .right a i{margin-right: 15px;}
  header .right a.user-account{border:0;width: auto;color: #fff;}
  header .right a.user-account:hover{text-decoration: underline;}
  header .right .language,header .right a{width: 110px;height: 32px;line-height: 32px;border:1px solid #ccc;color: #ccc;text-align: center;}
  header .right .create-account.en{width: 190px;background-color: #74c109;color: #fff;font-size: 16px;font-weight: bold;border: 0; margin-right:30px;}
  header .right .login.en,header .right .customer.en{width: 220px;}

  header .right .create-account:hover{background-color: #29A643;}
  header .right .language{position: absolute;right:0;top:15px;cursor: pointer;z-index: 100;}
  @media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1400px !important;
    }
  }
  header .right .language>ul{position: absolute;;width:calc(100% + 2px);left: -1px;top: 30px;background: #333;color: #fff;padding:5px 0;border:1px solid #555;border-top:0;display:none;
     li.active,li:hover{color: #fff;}
  }
  header .right .language:hover{border-color: #555;
     // i{transform: rotate(180deg);}
     ul{display:block;}
  }


  .width-cell{width: 1300px;margin:0 auto;}
  .nav{height: 88px;line-height: 88px;background-color: #000;border-top: 1px solid #262628;position: relative;}
  .nav li{margin-right: -10px;}
  .nav a{color: #fff;font-size: 18px;float:left;height: 40px;line-height: 40px;padding:0 9px;margin-top: 24px;font-weight: bold;}
  .nav a:hover,.nav a.active{color: #f00;}
  .nav a.active2{background-color: #f00;color: #fff;}
  .nav .logo{float:left;height: 87px;
    img{width: 286px;}
  }
  .nav .logo a{margin-top: 6px;}
  .nav ul{float: right;}



.dialog-footer{text-align: center;display: block;
    button{width: 116px;height: 40px;font-size: 16px;}
}

    ::-webkit-scrollbar{
      background:#fff;width:0;height:0;display:none;
  }
  ::-webkit-scrollbar-thumb{
      background:#fff;width:0;height:0;display:none;
  }



.dropdown{height: 481px;background-color: #000;color: #fff;position: absolute;left:0;top:87px;width: 100%;z-index: 100;line-height: 22px;

   .width-cell{width: 1170px;margin:0 auto;height: 100%;}
   .dr-left{float: left;width: 350px;border-right: 1px solid #666;padding:30px 50px;margin-top: 50px;font-size: 12px;color: #c2c2c2;}
   h5{font-size: 28px;margin-bottom: 25px;}
   .dr-right{padding-top: 90px;}
   dl{float:left;width: 254px;padding-left: 50px;}
   dt{font-size: 20px;height: 54px;line-height: 54px;position: relative;padding-left: 55px;font-weight: normal;margin-bottom: 10px;
     i{font-size: 50px;position: absolute;left:0;top:0;}
   }
   dd{
     a{float: none;font-weight: normal;font-size: 16px;line-height: 50px;width:100%;}
   }
   .up-menu{position: absolute;right: 15px;bottom:15px;font-size: 16px;color: #ccc;cursor: pointer;
     i{margin-right: 5px;}
   }
   .up-menu:hover{color: #fff;}

}

dd{
   margin-bottom: 0!important;
}






</style>
