<template>
  <div class="header-container">

    <header>
      <div class="width-celly  " style="width:100%">
        <div class="width-celly widthie nav navie" id="header" >
          <div class="left col-2" >
            <!-- <router-link to='/'>{{lang[curLanguage][1]}}</router-link> -->
            <!-- <router-link to='/login' v-if="!isLogin">Member login</router-link> -->
            <!-- <router-link to='/faq'>{{lang[curLanguage][2]}}</router-link> -->
            <!-- <router-link to='/en/contact'>CLIENT SUPPORT</router-link> -->
            <!-- <a href="https://uk.investing.com/news/" target="_blank">Financial Information</a>
          <a href="https://uk.investing.com/economic-calendar/" target="_blank">Economic Calendar</a> -->
          <div class="logo ">
            <router-link to='/'>
              <img src="../../static/images/home-logo4sm.png" />
              <!-- <em>&nbsp;MT5 CRM</em> -->
            </router-link>


          </div>
          </div>
          <div class="right col-10">
            <router-link to='/' :class="{active:pageName=='home'}">{{lang[curLanguage][6]}} </router-link>
            <a href="javascript:" @click.stop="handleMenuFlag(5)" :class="{active2:menuFlag5}">F.M.</a>
            <router-link to='/coinstrad' v-if="isLogin">CRM</router-link>
            <router-link to='/login?page=coinstrad' v-if="!isLogin">CRM</router-link>
            <router-link to="/analytics-info">{{lang[curLanguage][7]}}</router-link>
            <a href="javascript:" @click.stop="handleMenuFlag(1)" :class="{active2:menuFlag1}">{{lang[curLanguage][8]}}</a>
            <a href="javascript:" @click.stop="handleMenuFlag(2)" :class="{active2:menuFlag2}">{{lang[curLanguage][9]}}</a>
            <!-- <a href="javascript:">An psychological wealth</a> -->
            <router-link to='/activity-list' :class="{active:pageName=='activityList'}">{{lang[curLanguage][10]}}</router-link>
            <a href="javascript:" @click.stop="handleMenuFlag(3)" :class="{active2:menuFlag3}">{{lang[curLanguage][11]}}</a>
            <router-link to='/agent' :class="{active:pageName=='agent'}">{{lang[curLanguage][12]}}</router-link>
            <router-link to='/my' class="user-account" v-if="!!isLogin"><i class="fas fa-user"></i> {{userInfo.u_name}}</router-link>
            <router-link to='/login' v-if="!isLogin" class="login en"><i class="icon icon-lock"></i></router-link>
            <router-link to='/contact' class="customer en"><i class="icon icon-service"></i></router-link>
            <router-link to='/register' v-if="!isLogin" class="create-account en" id="openAccount">{{lang[curLanguage][5]}}</router-link>
            <div class="language" @mouseover="languageMouseOver" style="border:none; margin-right:10px">
              <span> <img style="width:1.5em" v-bind:src="languageOptions[curLanguage-1].image"></span>
              <i class="fas fa-chevron-down"></i>
              <ul v-show="mouseOverFlag">
                <li v-for="(item,index) in languageOptions" @click="selectLanguage(item.value)" :key="index">{{item.label}} <img style="width:1.5em" v-bind:src="item.image"></li>
              </ul>
            </div>
          </div>
        </div>
        </div>
      </header>
      <!-- <div class="nav navie" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}"> -->
        <!-- <div class="width-celly widthie" id="header">
          <div class="logo">
            <router-link to='/'>
              <img src="../../static/images/home-logo.png" /> -->
              <!-- <em>&nbsp;MT5 CRM</em> -->
            <!-- </router-link>


          </div> -->
          <!-- <ul style="width:75%">
            <li>
              <router-link to='/' :class="{active:pageName=='home'}">{{lang[curLanguage][6]}} </router-link>
              <router-link style="direction:ltr" to='/product-introduce' :class="{active:pageName=='products' }">F.M.</router-link> 
              <router-link to='/coinstrad' v-if="isLogin">CRM</router-link>
              <router-link to='/login?page=coinstrad' v-if="!isLogin">CRM</router-link>
              <router-link to="/analytics-info">{{lang[curLanguage][7]}}</router-link>
              <a href="javascript:" @click.stop="handleMenuFlag(1)" :class="{active2:menuFlag1}">{{lang[curLanguage][8]}}</a>
              <a href="javascript:" @click.stop="handleMenuFlag(2)" :class="{active2:menuFlag2}">{{lang[curLanguage][9]}}</a> -->
              <!-- <a href="javascript:">An psychological wealth</a> -->
              <!-- <router-link to='/activity-list' :class="{active:pageName=='activityList'}">{{lang[curLanguage][10]}}</router-link>
              <a href="javascript:" @click.stop="handleMenuFlag(3)" :class="{active2:menuFlag3}">{{lang[curLanguage][11]}}</a>
              <router-link to='/agent' :class="{active:pageName=='agent'}">{{lang[curLanguage][12]}}</router-link>
              
            </li>
          </ul>
        </div> -->

        <div class="dropdown" style="display: block;" v-if="menuFlag5" @click.stop="menuClick" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}" >
          <div class="width-celly widthie">
            <div class="dr-left" v-bind:class="{bright:(this.curLanguage==4||this.curLanguage==5)}">
              <h5>{{lang[curLanguage][55]}}</h5>
              <p>
                {{lang[curLanguage][56]}}
                <br />
                {{lang[curLanguage][57]}}
                <br />
                {{lang[curLanguage][58]}}
                <br />
              </p>
            </div>
            <div class="dr-right">
              <dl>
                <dt><i class="fas fa-coins"></i>{{lang[curLanguage][59]}}</dt>
                <dd>
                  <i class="fas fa-file-invoice-dollar"></i>
                  <router-link to='/product-introduce'>{{lang[curLanguage][61]}}</router-link>
                </dd>
                <dd>
                  <i class="fas fa-balance-scale"></i>
                  <router-link to='/product-introduction'>{{lang[curLanguage][60]}}</router-link>
                </dd>
              </dl>
              <dl>
                <dt><i class="fas fa-file-contract"></i>{{lang[curLanguage][62]}}</dt>
                <dd>
                  <i class="fas fa-file-contract"></i>
                  <router-link to='/futures-introduce'>{{lang[curLanguage][64]}}</router-link>
                </dd>
                <dd>
                  <i class="fas fa-clock"></i>
                  <router-link to='/futures-introduction'>{{lang[curLanguage][63]}}</router-link>
                </dd>
              </dl>
              <dl>
                <dt><i class="fab fa-gg"></i>{{lang[curLanguage][65]}}</dt>
                <dd>
                  <i class="fab fa-btc"></i>
                  <router-link to='/crypto-introduce'>{{lang[curLanguage][66]}}</router-link>
                </dd>
                <dd>
                  <i class="fab fa-ethereum"></i>
                  <router-link to='/crypto-introduction'>{{lang[curLanguage][67]}}</router-link>
                </dd>
              </dl>

            </div>
          </div>
          <div class="up-menu" @click="menuFlag5=false" v-if="pageName=='webHtml'"><i class="icon el-icon-arrow-up"></i>{{lang[curLanguage][42]}}</div>
        </div>

        <div class="dropdown" style="display: block;" v-if="menuFlag1" @click.stop="menuClick" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}" >
          <div class="width-celly widthie">
            <div class="dr-left" v-bind:class="{bright:(this.curLanguage==4||this.curLanguage==5)}">
              <h5>{{lang[curLanguage][13]}}</h5>
              <p>
                {{lang[curLanguage][14]}}
                <br />

                {{lang[curLanguage][15]}}
                <br />
                {{lang[curLanguage][16]}}
                <br />
              </p>
            </div>
            <div class="dr-right">
              <dl>
                <dt><i class="tfxfont3 xmUser-id"></i>{{lang[curLanguage][17]}}</dt>
                <dd>
                  <router-link to='/account-types'>{{lang[curLanguage][18]}}</router-link>
                </dd>
              </dl>
              <dl>
                <dt><i class="tfxfont3 xmCandlestick"></i>{{lang[curLanguage][19]}}</dt>
                <dd>
                  <router-link to='/forex-trading'>{{lang[curLanguage][20]}}</router-link>
                </dd>
  
                <dd>
                  <router-link to='/precious-metals'>{{lang[curLanguage][21]}}</router-link>
                </dd>
                <dd>
                  <router-link to='/energies'>{{lang[curLanguage][22]}}</router-link>
                </dd>
                <dd>
                  <router-link to='/futures'>{{language[curLanguage][15]}}</router-link>
                </dd>
                <dd>
                  <router-link to='/crypto'>{{lang[curLanguage][65]}}</router-link>
                </dd>


              </dl>

              <dl>
                <dt><i class="tfxfont3 xmChart-bars-arrow"></i>{{lang[curLanguage][23]}}</dt>
                <dd>
                  <router-link to='/execution-policy'>{{lang[curLanguage][24]}}</router-link>
                </dd>
                <dd>
                  <router-link to='/spreads'>{{lang[curLanguage][25]}}</router-link>
                </dd>
                <dd>
                  <router-link to='/margin-and-leverage'>{{lang[curLanguage][26]}}</router-link>
                </dd>
                <dd>
                  <router-link to='/overnight-positions'>{{lang[curLanguage][27]}}</router-link>
                </dd>
                <dd>
                  <router-link to='/trading-hours'>{{lang[curLanguage][28]}}</router-link>
                </dd>

              </dl>

            </div>
          </div>
          <div class="up-menu" @click="menuFlag1=false" v-if="pageName=='webHtml'"><i class="icon el-icon-arrow-up"></i>{{lang[curLanguage][29]}}</div>
        </div>



        <div class="dropdown" style="display: block;" v-if="menuFlag2" @click.stop="menuClick" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}" >
          <div class="width-celly widthie">
            <div class="dr-left" v-bind:class="{bright:(this.curLanguage==4||this.curLanguage==5)}">
              <h5>{{lang[curLanguage][30]}}</h5>
              <p>
                {{lang[curLanguage][31]}}
                <br />
                {{lang[curLanguage][32]}}
                <br />
                {{lang[curLanguage][33]}}
                <br />
              </p>
            </div>
            <div class="dr-right">
              <dl>
                <dt><i class="tfxfont3 xmPc"></i>{{lang[curLanguage][34]}}</dt>
                <dd>
                  <i class="fab fa-windows"></i>
                  <router-link to='/mt5'>{{lang[curLanguage][35]}}</router-link>
                </dd>
                <!-- <dd>
                 <i class="fab fa-apple"></i>
                 <router-link to='/mt5-mac'>MacsystemMT5</router-link>
              </dd> -->
                <dd>
                  <i class="fas fa-desktop"></i>
                  <router-link to='/mt5-webtrader'>{{lang[curLanguage][36]}}</router-link>
                </dd>
              </dl>
              <dl>
                <dt><i class="tfxfont3 xmIphone"></i>{{lang[curLanguage][37]}}</dt>
                <dd>
                  <i class="fab fa-apple"></i>
                  <router-link to='/mt5-iphone'>{{lang[curLanguage][38]}}</router-link>
                </dd>
                <dd>
                  <i class="fab fa-android"></i>
                  <router-link to='/mt5-android'>{{lang[curLanguage][39]}}</router-link>
                </dd>

              </dl>

              <dl>
                <dt><i class="tfxfont3 xmIpad"></i>{{lang[curLanguage][40]}}</dt>
                <dd>
                  <i class="fab fa-apple"></i>
                  <router-link to='/mt5-ipad'>{{lang[curLanguage][41]}}</router-link>
                </dd>
              </dl>

            </div>
          </div>
          <div class="up-menu" @click="menuFlag2=false" v-if="pageName=='webHtml'"><i class="icon el-icon-arrow-up"></i>{{lang[curLanguage][42]}}</div>
        </div>

        <div class="dropdown" style="display: block;" v-if="menuFlag3" @click.stop="menuClick" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}" >
          <div class="width-celly widthie">
            <div class="dr-left" v-bind:class="{bright:(this.curLanguage==4||this.curLanguage==5)}">
              <h5>{{lang[curLanguage][43]}}</h5>
              <p>
                {{lang[curLanguage][44]}}
                <br />
                {{lang[curLanguage][45]}}
                <br />
                {{lang[curLanguage][46]}}
                <br />
              </p>
            </div>
            <div class="dr-right">
              <dl style="width: 300px;">
                <dt><i class="tfxfont3 xmUser-profile"></i>{{lang[curLanguage][47]}}</dt>
                <dd>
                  <router-link to='/about'>{{lang[curLanguage][48]}}</router-link>
                </dd>
                <dd>
                  <router-link to='/regulation'>{{lang[curLanguage][49]}}</router-link>
                </dd>
                <dd>
                  <router-link to='/faq'>{{lang[curLanguage][50]}}</router-link>
                </dd>
                <dd>
                  <router-link to='/legal-documents'>{{lang[curLanguage][51]}}</router-link>
                </dd>
              </dl>


            </div>
          </div>
          <div class="up-menu" @click="menuFlag3=false" v-if="pageName=='webHtml'"><i class="icon el-icon-arrow-up"></i>{{lang[curLanguage][52]}}</div>
        </div>


      </div>

   
  
</template>


<script>

 import $ from 'jquery'
   import { changLang } from '../main.js' 
function noop() {}

export default {
  name: "pageHeader",
  props: {
      pageName: {
        default: '',
        type: String
      },
      defaultCoinType: {
        default: 1,
        type: Number
      },
      defaultLanguage: {
        default: 1,
        type: Number
      }

  },
  data: function() {
    return {
       isLogin:false,
       userLoginInfo:{},
       curLanguage:this.defaultLanguage,
       setLanguage:this.defaultLanguage,
       dialogVisible: false,
       curCoinType:this.defaultCoinType,
       setCoinType:this.defaultCoinType,
       coinOptions:[
           {value:1,label:'人民币(CNY)',label_en:'CNY(CNY)'},
           {value:2,label:'美元(USD)',label_en:'USD(USD)'}
//            {value:3,label:'比索(PHP)',label_en:'PHP(PHP)'},
//            {value:4,label:'港元(HKD)',label_en:'HKD(HKD)'},
//            {value:5,label:'日元(JPY)',label_en:'JPY(JPY)'},
//            {value:6,label:'韩元(KRW)',label_en:'KRW(KRW)'}
       ],
       systemCoinOption:[

       ],
       languageOptions:[
           {value:1,label:'简体中文',image:'../../static/images/CNFlag.png'},
           {value:2,label:'English',image:'../../static/images/ENFlag.png'},
           {value:3,label:'Türkçe',image:'../../static/images/TRFlag.png'},
           {value:4,label:'العربية',image:'../../static/images/ARFlag.png'},
          {value:5,label:'فارسى',image:'../../static/images/IRFlag.png'}      
       ],
       dialogLanguage:false,
       mouseOverFlag:false,
       language:{
           1:{
             1:'出入金',
             2:'现货交易',
             3:'合约交易',
             4:'币银行',
             5:'登录',
             6:'注册',
             7:'设置',
             8:'交易所时区',
             9:'计价币种',
             10:'显示语言',
             11:'确 定',
             12:'个人信息',
             13:'退出',
             14:'主页',
             15:'期货交易',
             16:'简体中文',
             17:'土耳其语'

           },
           2:{
             1:'OTC',
             2:'Spot Gold',
             3:'Forex&CFD',
             4:'currency bank',
             5:'Sign in',
             6:'Register',
             7:'Setting',
             8:'Exchange time zone',
             9:'Valuation currency',
             10:'Display language',
             11:'Confirm',
             12:'User Information',
             13:'Logout',
             14:'Home',
             15:'Futures',
             16:'Chinese',
             17:'Turkish'
           },
           3:{
             1: "OTC",
             2: 'Spot Altın',
             3: 'Forex ve CFD',
             4: 'döviz bankası',
             5: 'Oturum açın',
             6: 'Kayıt Ol',
             7: 'Ayar',
             8: 'Saat dilimi değişimi',
             9: 'Değerleme para birimi',
             10: 'Ekran dili',
             11: 'Onayla',
             12: 'Kullanıcı Bilgileri',
             13: 'Oturumu Kapat',
             14: 'Ana Sayfa',
             15: 'Vadeli İşlemler',
             16: 'Çince',
             17: 'Türkçe'

                },
           4:{
             1: "OTC",
             2: 'Spot Altın',
             3: 'Forex ve CFD',
             4: 'döviz bankası',
             5: 'Oturum açın',
             6: 'Kayıt Ol',
             7: 'Ayar',
             8: 'Saat dilimi değişimi',
             9: 'Değerleme para birimi',
             10: 'Ekran dili',
             11: 'Onayla',
             12: 'Kullanıcı Bilgileri',
             13: 'Oturumu Kapat',
             14: 'Ana Sayfa',
             15: 'العقود الآجلة',
             16: 'Çince',
             17: 'Türkçe'

                },
           5: {
              1: "OTC" ,
              2: "طلای لکه دار" ,
              3: "فارکس و CFD" ,
              4: "بانک ارز" ,
              5: "ورود به سیستم" ,
              6: "ثبت نام" ,
              7: "تنظیم" ,
              8: "منطقه زمانی مبادله" ,
              9: "ارز ارزیابی" ,
              10: "نمایش زبان" ,
              11: "تأیید" ,
              12: "اطلاعات کاربر" ,
              13: "خروج" ,
              14: "خانه" ,
              15: "آینده" ,
              16: "چینی" ,
              17: 'ترکی'
            }

       },
       lang:{
        1:{
          1:'NSky主页',
          2:'常见问题',
          3:'会员登录',
          4:'网页客服',
          5:'建立真实账户',
          6:'首页',
          7:'分析学',
          8:'交易',
          9:'交易平台',
          10:'活动',
          11:'简介',
          12:'代理',
          13:'交易',
          14:'既适合新手也能满足有经验的交易者，灵活的交易条件，杠杆高达 200:1。',
          15:'N Sky提供超过 55 种极低点差货币对和差价合约商品，包括贵重金属、和能源，无拒绝订单，无二次报价。',
          16:'风险警告 : 利用保证金进行外汇交易有着巨大风险',
          17:'交易账户',
          18:'交易账户类型',
          19:'交易工具',
          20:'外汇',
          21:'贵重金属',
          22:'能源',
          23:'交易条件',
          24:'执行策略',
          25:'点差',
          26:'保证金和杠杆作用',
          27:'过夜仓位',
          28:'交易时间',
          29:'收起菜单',
          30:'交易平台',
          31:'您可以在N Sky MT5上交易自选商品，适用于PC和多种移动设备。您也可以尝试选用N Sky WebTrader，直接通过浏览器即可访问。',
          32:'此外，平台的完整功能同样适用于Apple 和Android移动设备，可无缝链接到您的智能手机或者平板电脑。',
          33:'风险警告 : 利用保证金进行外汇交易有着巨大风险。',
          34:'PC',
          35:'PC系统MT5',
          36:'MT5 WebTrader',
          37:'智能手机',
          38:'iPhone版MT5',
          39:'安卓系统MT5',
          40:'平板电脑',
          41:'iPad系统MT5',
          42:'收起菜单',
          43:'简介',
          44:'N Sky追求高质量的服务，因为质量不管对于客户还是我们来说都是至关重要的。我们相信全面周到的金融服务需要建立在思维的全面化，以及商业原则的统一政策上。',
          45:'我们的任务就是和全球市场需求同步，运用开阔思维，帮助客户达到投资目标。',
          46:'风险警告 : 利用保证金进行外汇交易有着巨大风险。',
          47:'简介',
          48:'N Sky集团是谁？',
          49:'监管',
          50:'常见问题',
          51:'相关法律文件',
          52:'收起菜单',
          53:'大宗商品',
          54:'证券指数',
           55:'金融市场',
           56:'屡获殊荣的外汇，期货和差价合约经纪人N Sky™推出了Financal产品，这是一种创新的风险管理交易方式。 主交易员将资金用作保证金，仅将其资金用作分散资金。',
           57:'主交易员能够进行更大的交易，以赚更多的钱，与投资者分享或提供固定利润。 因此，您可以轻松休息，让专家在您睡觉时真正赚钱的同时照顾其余的人。',
           58:'单击简介页面以了解更多信息',
           59:'自由产品',
           60:'财务介绍',
          61:'理财产品',
           62:'期货产品',
           63:'期货介绍',
           64:'期货产品',
           65:'加密货币',
           66:'加密产品',
           67:'加密货币介绍',

        },
        2:{
          1:'N Sky HOME PAGE',
          2:'FAQ',
          3:'Member login',
          4:'Web customer service',
          5:'OPEN AN ACCOUNT',
          6:'HOME',
          7:'ANALYTICS',
          8:'TRADING',
          9:'TRADING PLATFORM',
          10:'ACTIVITY',
          11:'INTRODUCTION',
          12:'AGENT',
          13:'Trading',
          14:'At N Sky, we provide standard accounts, which are suitable for novices and experienced traders, with flexible trading conditions and leverage up to 200:1.',
          15:'N Sky provides more than 55 kinds of extremely low spread currency pairs and CFD commodities, including precious metals, and energy, without rejection orders, and no secondary quotes.',
          16:'Risk warning: There are huge risks in foreign exchange transactions using margin',
          17:'Trading account',
          18:'Trading account type',
          19:'Trading tools',
          20:'Foreign exchange',
          21:'Precious metals',
          22:'Energy',
          23:'Trading terms',
          24:'Execution Policy',
          25:'Spread',
          26:'Margin and leverage',
          27:'Overnight position',
          28:'Trading hours',
          29:'Collapse menu',
          30:'Trading platform',
          31:'You can trade on-demand goods on N Sky MT5, which is suitable for PC and various mobile devices. You can also try N Sky WebTrader.',
          32:'In addition, the full functionality of the platform is also applicable to Apple and Android mobile devices, and can be seamlessly linked to your smartphone or tablet.',
          33:'Risk Warning: Precious Metals trading involves high risks.',
          34:'PC',
          35:'MT5 for PC',
          36:'MT5 WebTrader',
          37:'SMARTPHONES',
          38:'MT5 for iPhone',
          39:'MT5 for Android',
          40:'TABLET',
          41:'MT5 for iPad',
          42:'Collapse menu',
          43:'Introduction',
          44:'N Sky pursues high-quality service, because quality is very important to customers and us. We believe that comprehensive and thoughtful financial services need to be based on comprehensive thinking and a unified policy of business principles.',
          45:'Our task is to keep pace with the global market demand, use broad thinking, and help customers achieve their investment goals.',
          46:'Risk warning: There are huge risks in foreign exchange transactions using margin.',
          47:'Introduction',
          48:'About N Sky group',
          49:'Supervision',
          50:'Common Questions',
          51:'Related legal documents',
          52:'Collapse menu',
          53:'Commodities',
          54:'Equity Indicies',
          55:'Financial Market',
          56: 'N Sky™ the award-winning Forex, Futures, and CFD broker, Introduces Financal Products, an innovative risk management way to trade. Master traders pool funds as margin with only their funds used as colatteral.',
          57: 'Master traders are able to make bigger trades to make more money and share or give fixed profits with investors. So you rest easy and let the experts take care of the rest while you literally make money while you sleep. ',
          58: 'click in the introduction pages to learn more.',
          59: 'Freedom Products',
          60:'Financial introduction',
          61:'Financial Products',
          62:'Futures Products',
          63:'Futures Introduction',
          64:'Futures products',
          65:'Cryptocurrencies',
          66:'Crypto Products',
          67:'Crypto Introduction',
        },
        3:{
          1:'N Sky Ana Sayfası',
          2:'SSS',
          3:'Üye Girişi',
          4:'Web Müşteri Hizmetleri',
          5:'HESAP AÇ',
          6:'ANA SAYFA',
          7:'ANALIZ',
          8:'FİNANS',
          9:'PLATFORMLAR',
          10:'AKTİVİTE',
          11:'GİRİŞİM',
          12:'ACENTA',
          13:'Ticaret',
          14:"N Sky'de, hem deneyimli hem de deneyimli tüccarlar, Esnek ticaret koşulları, Kaldıraç 50:1 - 200:1 için uygun Profesyonel Altın Standart Hesaplar sunuyoruz.",
          15:'N Sky Değerli Metal Marjı ticareti ve fiziksel Altın külçe siparişi ve koruma hizmetleri sağlar.',
          16:'Risk uyarısı: Değerli metal marjı ticareti yüksek riskler içerir',
          17:'Hesaplar',
          18:'Ticaret Hesabı Tipi',
          19:'Ticaret Araçları',
          20:'Döviz',
          21:'Değerli Metaller',
          22:'Enerji',
          23:'Ticaret Koşulları',
          24:'Yürütme Poliçesi',
          25:'Spreads',
          26:'Marj ve Kaldıraç',
          27:'Gecelik Pozisyonlar',
          28:'İşlem Saatleri',
          29:'Menüyü daralt',
          30:'Ticaret Platformları',
          31:"PC'ler ve çok çeşitli mobil cihazlar için N Sky MT5'te seçtiğiniz öğeleri takas edebilirsiniz.Ayrıca tarayıcınızdan doğrudan erişebileceğiniz N Sky WebTrader'ı da deneyebilirsiniz.",
          32:'Ek olarak, platformun tam işlevselliği, akıllı telefonunuza veya tabletinize sorunsuz bir şekilde bağlanan Apple ve Android mobil cihazlar için de mevcuttur.',
          33:'Risk uyarısı: Altın ticareti için marj kullanmanın büyük bir riski vardır.',
          34:'PC',
          35:'MT5 PC için',
          36:'MT5 WebTrader',
          37:'AKILLI TELEFONLAR',
          38:'MT5 İPhone için',
          39:'MT5 Android için',
          40:'TABLET',
          41:'MT5 İPad için',
          42:'Menüyü daralt',
          43:'HAKIMIZDA',
          44:'N Sky yüksek kaliteli hizmet peşinde koşmaktadır, çünkü kalite hem Müşterilerimiz hem de bizler için son derece önemlidir Düşünceli finansal hizmetlerin kapsamlı bir düşünceye ve birleşik bir iş ilkeleri politikasına dayanması gerektiğine inanıyoruz.',
          45:"Misyonumuz, küresel pazar olan Broaden Horizon'a ayak uydurmak ve Müşterilerimizin yatırım hedeflerine ulaşmalarına yardımcı olmaktır.",
          46:'Risk uyarısı: Teminat kullanarak Altın Ticaretinde büyük riskler vardır.',
          47:'Giriş',
          48:'N Sky Group Hakkında',
          49:'Nezaret',
          50:'SSS',
          51:'İlgili Yasal Belgeler',
          52:'Menüyü daralt',
          53:'Emtia',
          54:'Menkul Kıymetler Endeksi',
          55: 'Finans Piyasası',
          56: 'N Sky ™ ödüllü Forex, Vadeli İşlemler ve CFD komisyoncusu, ticaret için yenilikçi bir risk yönetimi yolu olan Financal Ürünleri Tanıttı, Usta tüccarlar, fonları yalnızca parasal olarak kullanılan fonları ile marj olarak bir araya getirir, ',
          57: 'Usta tüccarlar daha fazla para kazanmak ve yatırımcılarla sabit kar paylaşmak veya vermek için daha büyük işlemler yapabilirler, Böylece rahat bir şekilde dinlenin ve siz uyurken kelimenin tam anlamıyla para kazanırken uzmanların gerisini halletmesine izin verin, ',
          58: 'Daha fazlasını öğrenmek için giriş sayfalarına tıklayın,',
          59: 'Özgürlük Ürünleri',
          60: 'Finansal giriş',
          61: 'Finansal Ürünler',
          62: 'Vadeli Ürünler',
          63: 'Vadeli İşlemlere Giriş',
          64: 'Vadeli ürünler',
          65: 'Kripto Para Birimleri',
          66: 'Kripto Ürünleri',
          67: 'Kripto Giriş',
        },
        4:{
          1:'الصفحة الرئيسية',
          2:'الأسئلة الشائعة',
          3:'تسجيل الدخول',
          4:'خدمة العملاء',
          5:'فتح حساب جديد',
          6:'الصفحة الرئيسية',
          7:'التحليلات',
          8:'المداولات',
          9:'منصة التداول',
          10:'النشاطات',
          11:'حول',
          12:'وكيل',
          13:'المداولات',
          14:'في ™N Sky  ، نقدم حسابات STANDARD مناسبة للمتداولين المبتدئين وذوي الخبرة ، مع شروط تداول مرنة ورافعة مالية تصل إلى 200: 1.',
          15:'توفر ™N Sky أكثر من 55 نوعًا من أزواج العملات ذات الفروق المنخفضة للغاية وسلع العقود مقابل الفروقات ، بما في ذلك المعادن الثمينة والطاقة ، دون رفض الطلبات ، ولا توجد عروض أسعار ثانوية.',
          16:'تحذير: هناك مخاطر كبيرة في معاملات الصرف الأجنبي باستخدام الهامش',
          17:'حساب التداول',
          18:'نوع حساب التداول',
          19:'أدوات التداول',
          20:'تداول العملات',
          21:'المعادن النفيسة',
          22:'الطاقات',
          23:'شروط التداول',
          24:'سياسة التنفيذ',
          25:'سبريد',
          26:'الهامش و الرافعة المالية',
          27:'المداولات الليلية',
          28:'ساعات التداول',
          29:'Collapse menu',
          30:'منصة التداول',
          31:'يمكنك تداول السلع حسب الطلب على ™N Sky MT5 ، وهو مناسب لأجهزة الكمبيوتر الشخصية والأجهزة المحمولة المختلفة. يمكنك أيضًا تجربة ™N Sky WebTrader.',
          32:'بالإضافة إلى ذلك ، فإن الوظائف الكاملة للمنصة تنطبق أيضًا على أجهزة Apple و Android المحمولة ، ويمكن ربطها بسلاسة بهاتفك الذكي أو جهازك اللوحي.',
          33:'تحذير: يحتوي تداول المعادن الثمينة على مخاطر عالية.',
          34:'الكمبيوتر',
          35:'MT5 للكمبيوتر الشخصي',
          36:'MT5 WebTrader',
          37:'الجولات الذكية',
          38:'MT5 على iPhone',
          39:'MT5 على Android',
          40:'الأجهزة اللوحية',
          41:'MT5 على iPad',
          42:'Collapse menu',
          43:'حول',
          44:'تسعى ™N Sky  إلى تقديم خدمة عالية الجودة ، لأن الجودة مهمة جدًا للعملاء ولنا. نعتقد أن الخدمات المالية الشاملة والمدروسة تحتاج إلى أن تستند إلى تفكير شامل وسياسة موحدة لمبادئ الأعمال.',
          45:'مهمتنا هي مواكبة طلب السوق العالمي ، واستخدام التفكير الواسع ، ومساعدة العملاء على تحقيق أهدافهم الاستثمارية.',
          46:'تحذير: هناك مخاطر كبيرة في معاملات الصرف الأجنبي باستخدام الهامش.',
          47:'حول',
          48:'معلومات عنا',
          49:'التراخيص والمؤهلات',
          50:'الأسئلة الشائعة',
          51:'الوثائق القانونية ذات الصلة',
          52:'Collapse menu',
          53:'السلع',
          55:'مؤشرات الأسهم',
          55:'السوق المالية',
          55: 'السوق المالية',
          56: 'نوبل سكاي ™ , وسيط الفوركس والعقود الآجلة وعقود الفروقات الحائز على جوائز , يقدم المنتجات المالية , وهي طريقة مبتكرة لإدارة المخاطر للتداول, يجمع المتداولون الرئيسيون الأموال كهامش مع استخدام أموالهم فقط كعمولة, ',
          57: 'يمكن للمتداولين الرئيسيين إجراء صفقات أكبر لكسب المزيد من المال والمشاركة أو إعطاء أرباح ثابتة مع المستثمرين, لذا فأنت مرتاح ودع الخبراء يعتنون بالباقي بينما تكسب المال حرفيًا أثناء نومك, ',
           58: 'انقر في صفحات المقدمة لمعرفة المزيد',
          59: 'منتجات الحرية',
          60: 'مقدمة مالية',
          61: 'المنتجات المالية',
          62: 'منتجات العقود الآجلة',
          63: 'مقدمة عن العملات الرقمية',
          64: 'منتجات العقود الآجلة',
          65: 'العملات الرقمية',
          66: 'منتجات العملات الرقمية',
          67: 'مقدمة العملات الرقمية',
        },
        5:{
          1:'صفحه ی اصلی',
          2:'سوالات متداول',
          3:' ورود اعضاء',
          4:'تماس با ما',
          5:'افتتاح حساب',
          6:'صفحه ی اصلی',
          7:'تحلیل',
          8:'معامله',
          9:'پلتفرم معاملاتی',
          10:'فعالیت ها',
          11:'معرفی',
          12:'پشتیبان',
          13:'معامله',
          14:'در ™N Sky حساب های میکرو و استاندارد، مناسب معامله گران تازه وارد و حرفه ای، با شرایط انعطاف پذیر معامله گری و لوریج 1:200 فراهم آورده اییم.',
          15:'در ™N Sky  بیشتر از 55 جفت ارز و CFD شامل فلزات گران بها و انرژی) با اسپرد بسیار پایین بدون ریجکشن و قیمت های مجدد گردآوری کرده اییم)',
          16:'هشدار: در معاملات ارزهای خارجی که در آن ها از مارجین استفاده شده است ریسک معاملات بالا هستند',
          17:'حساب معاملاتی',
          18:'انواع حساب',
          19:'نمادهای قابل معامله',
          20:'ارزهای خارجی',
          21:'فلزات گران بها',
          22:'انرژی ها',
          23:'قوانین معامله گری',
          24:'سیاست های اجرای دستورات',
          25:'اسپرد',
          26:'لوریج و مارجین',
          27:'پوزیشن های شبانه',
          28:'ساعت های معامله',
          29:'مینیمایز کردن فهرست',
          30:'پلتفرم معاملاتی',
          31:'کالاهای مورد نظر خود را می توانید از طریق N Sky MT5 که برای رایانه های شخصی و دستگاه های مختلف تلفن همراه مناسب است، معامله کنید. همچنین میتوانید از WebTrader نیز استفاده کنید',
          32:'بعلاوه، با گوشی های تلفن همراه اپل و اندروید نیز میتوانید از تمام کاربردهای پلتفرم استفاده کنید و برنامه قابل انطباق با تلفن هوشمند یا تبلت شما است.',
          33:'هشدار: معامله ی فلزات گران بها ریسک بالایی دارد.',
          34:'کامپیوتر',
          35:'MT5 ویندوز',
          36:'MT5 WebTrader',
          37:'تلفن های هوشمند',
          38:'MT5 آیفون',
          39:'MT5 اندروید',
          40:'تبلت',
          41:'MT5 آیپد',
          42:'Collapse menu',
          43:'معرفی',
          44:'N Sky به دنبال ارائه ی خدمات با کیفیت است، زیرا کیفیت حرف اول را برای مشتریان و ما میزند. ما بر این باور هستیم که خدمات مالی جامع و معقول باید مبتنی بر تفکر جامع و سیاست واحدی از اصول معامله باشد',
          45:'وظیفه ما همسویی با تقاضای بازار جهانی، بهره گیری از تفکرات عمیق و کمک به مشتریان در دستیابی به اهداف سرمایه گذاری آن ها است.',
          46:'هشدار: استفاده از مارجین در معاملات ارزی ریسک بالایی دارد.',
          47:'معرفی',
          48:'درباره ی گروه N Sky',
          49:'نظارت',
          50:'سوالات متداول',
          51:'اسناد قانونی مرتبط',
          52:'Collapse menu',
          53:'Commodities',
          55:'Equity Indicies',
          55: 'بازار مالی',
          56: 'N Sky برنده جایزه Forex, Futures و CFD کارگزار, محصولات مالی را معرفی می کند, یک روش ابتکاری مدیریت ریسک برای تجارت, معامله گران اصلی وجوه خود را به عنوان حاشیه جمع می کنند و فقط وجوه خود را به عنوان سهام مشترک استفاده می کنند, ',
           57: 'معامله گران اصلی می توانند معاملات بزرگتری انجام دهند تا پول بیشتری بدست آورند و سودهای ثابت را با سرمایه گذاران تقسیم کنند یا به آنها بدهند, بنابراین شما راحت استراحت کنید و اجازه دهید متخصصین از بقیه امور مراقبت کنند در حالی که به معنای واقعی کلمه در هنگام خواب پول در می آورید, ',
          58: 'برای اطلاعات بیشتر در صفحه های معرفی کلیک کنید',
          59: 'محصولات آزادی',
          60: 'معرفی مالی',
          61: 'محصولات مالی',
          62: 'محصولات آینده',
          63: 'معرفی آینده',
          64: 'محصولات آینده',
          65: 'ارزهای کریپتو',
          66: 'محصولات کریپتو',
          67: 'مقدمه کریپتو',
        }
      },

       menuFlag1:false,
       menuFlag2:false,
       menuFlag3:false,
       menuFlag4:false,
       menuFlag5:false,
    };
  },
  created(){

//       console.log(window.TradingView)
//
//       if(this.pageName!='symbolPriceList'&&!this.localStore.getItem('tvPriceListPlugin')){
//           console.log()
//           console.log('aaaaaa')
//           console.log(window.TradingView)
//           let ttv = window.TradingView;
//           console.log(ttv)
//           console.log(JSON.stringify(ttv))
//           this.localStore.setItem('tvChartPlugin',ttv);
//           console.log(this.localStore.getItem('tvChartPlugin'))
//       }



      if(!!this.localStore.getItem('userLoginInfo')){
          this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'))
        this.isLogin = true;
      //  console.log(this.localStore.getItem('userLoginInfo'));
     //   console.log(this.userLoginInfo);
      }
  //  console.log(this.userLoginInfo);
 //   console.log("usearrr innfoooooo");
      this.getCoinList();
    this.settingAPIDataLanguage();

    if (!!this.localStore.getItem('userInfo')) {
      this.userInfo = JSON.parse(this.localStore.getItem('userInfo'))

    
      
    } else {
      //console.log("no user info");
      //this.getUserInfo();
      //console.log("end no user info");
    }
    //console.log("outside  user info");
    //this.getUserInfo();
    //console.log("end outside user info");
  },

 components: {

  },
  methods: {
    settingAPIDataLanguage(){

     //   let languageOptions = [
     //      {value:1,label:this.language[this.curLanguage][16]},
     //      {value:2,label:'English'},
     //      {value:3,label:this.language[this.curLanguage][17]}
     //  ]
     //this.languageOptions = languageOptions

    //  console.log(this.curLanguage);
      this.localStore.setItem('curLanguage', this.curLanguage);
      this.$emit('changeLanguage', this.curLanguage);
      this.$emit('switchedLang'); 
      changLang.$emit('switchedLang'); 

    },
    handleMenuFlag(val){
       if(val==1){
          this.menuFlag2 = false;
          this.menuFlag3 = false;
         this.menuFlag1 = !this.menuFlag1
         this.menuFlag4 = false;
         this.menuFlag5 = false;
          return
       }
       if(val==2){
          this.menuFlag1 = false;
          this.menuFlag3 = false;
         this.menuFlag2 = !this.menuFlag2
         this.menuFlag4 = false;
         this.menuFlag5 = false;
          return
       }
       if(val==3){
          this.menuFlag1 = false;
          this.menuFlag2 = false;
         this.menuFlag3 = !this.menuFlag3
         this.menuFlag4 = false;
         this.menuFlag5 = false;
          return
       }
      if (val == 4) {
        this.menuFlag1 = false;
        this.menuFlag2 = false;
        this.menuFlag3 = false;
        this.menuFlag4 = !this.menuFlag4;
        this.menuFlag5 = false;
        return
      } if (val ==5) {
        this.menuFlag1 = false;
        this.menuFlag2 = false;
        this.menuFlag3 = false;
        this.menuFlag5 = !this.menuFlag5;
        this.menuFlag4 = false;
        return
      }
    },
    languageMouseOver(){
      $('.language li').each(function () {
        var delay = (($(this).index()) / 8) + 's';
        $(this).css({
          webkitAnimationDelay: delay,
          mozAnimationDelay: delay,
          animationDelay: delay
        });
      });
       this.mouseOverFlag = true;
    },
    selectLanguage(index){

         this.curLanguage = index
         this.localStore.setItem('curLanguage',this.curLanguage);
         this.$emit('changeLanguage',this.curLanguage);
         this.dialogLanguage = false;
      this.mouseOverFlag = false;
      changLang.$emit('switchedLang'); 
    },
    openSetting(){
        this.dialogVisible = true;
        this.setCoinType = this.curCoinType;
        this.setLanguage = this.curLanguage;
    },
    settedConfirm(){
        this.curCoinType = this.setCoinType;
        this.curLanguage = this.setLanguage;
        this.dialogVisible = false;
        this.localStore.setItem('curCoinType',this.curCoinType);
        this.localStore.setItem('curLanguage',this.curLanguage);
        this.$emit('changeCoinType',this.curCoinType);
        this.$emit('changeLanguage',this.curLanguage);
    },

    getUserInfo() {
      const api = this.$api.url.userVerify1;
      const params = {
        Device: 'web',
        Uid: this.userLoginInfo.userID,
        Token: this.userLoginInfo.session
      }
      this.$axios.get(api, { params: params })
        .then((res) => {
          if (res.data.code == 0) {

            this.userInfo = JSON.parse(res.data.data);
          //  console.log(this.userInfo);
            // this.userInfo.u_country = this.userCountry;
            this.localStore.setItem('userInfo', this.userInfo)
           // this.getUserCountry();


          } else if (res.data.code == 1011) {

            this.$refs.pageHead.logout();
            this.isLogin = false;
            this.$router.push({ name: 'login' });
          } else {
            let resultMsg = this.getStateCodeText(res.data.code)
            this.$message({
              message: this.language[this.curLanguage][39] + " " + this.language[this.curLanguage][38] + resultMsg,
              type: "error",
              center: true,
              duration: 1800
            })
          }

        }).catch((error) => {
          this.$message({
            message: error,
            type: "error",
            center: true,
            duration: 1800
          })
        })

    },
    languageShowOrHide(){
        this.dialogLanguage = !!this.dialogLanguage?false:true;
    },
    logout(){

        this.localStore.removeItem('userLoginInfo');
        this.localStore.removeItem('userInfo');
        this.localStore.removeItem('userCountry');
        this.isLogin = false;
        this.$emit('userLogout');
    },
    loginSuccess(){

       this.userLoginInfo = this.localStore.getItem('userLoginInfo');

       this.isLogin = true;
    },
    getCoinList(){

        this.coinOptions = [];
       const api = this.$api.url.currency_info;
       let coinsPrecision = {}
       this.$axios.get(api)
       .then((res)=>{
           if(res.data.code==0){
               let _data = JSON.parse(res.data.data)

               let x = 0.2%0.02



               _data.forEach(item=>{
                   coinsPrecision[item.Code] = item.Precision
                   if(item.Type==1){
                      this.coinOptions.push(item);
                   }
                   if(item.Type==0){
                      this.systemCoinOption.push(item);
                   }
               })

               let data =this.coinOptions.map((item,index)=>{
                   let value = index+1;
                   let label = decodeURI(item.Name)+'(' + item.Code + ')';
                   let label_en = item.Code+'(' + item.Code + ')';


                   return {value:value,label:label,label_en:label_en,code:item.Code,default:item.Default}
               })
               this.coinOptions = data;


               this.localStore.setItem('coinsPrecision',coinsPrecision);
               this.localStore.setItem('coinsList',this.coinOptions);

               this.localStore.setItem('systemCoinsList',this.systemCoinOption);
           }else{
             this.$message({
               message:res.data.msg+ " 获取币种失败",
               type: "error",
               center: true,
               duration:1800
             })
           }
       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:1800
           })
         })
    },

    hideMenu(){
        this.menuFlag1 = false;
        this.menuFlag2 = false;
        this.menuFlag3 = false;
    },

    menuClick(){
       return;
    }, langMenuAnimate() {
      $('.language li').each(function () {
        var delay = (($(this).index()*-1) / 16) + 's';
        $(this).css({
          webkitAnimationDelay: delay,
          mozAnimationDelay: delay,
          animationDelay: delay
        });
      });
    }

    // handleMenu(val){
    //     this.menuIndex =
    // }

  }

};
</script>



<style scoped lang="scss">
  .bright {
    border-left: 1px solid #666;
    border-right: unset !important;
    margin-left: 50px;
  }

  header {
    height: max-content;
    line-height: 62px;
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, #272833 2.5%, #1d1e2b 97%) repeat scroll 0% 0%;
  }

    header .width-celly {
      display: flex;
      width: 99%;
    }

    header a {
      color: #fff;
    }

    header .left {
      display: flex;
    }

      header .left a {
        margin-right: 15px;
        opacity: 1;
        -webkit-transition: opacity 0.3s ease 0s;
        transition: opacity 0.3s ease 0s;
      }

        header .left a:hover {
          opacity: 1;
        }

    header .right {
      position: relative;
      width: 85%;
      display: flex;
      padding-left: 0%;
      padding-right: unset;
    }

      header .right a {
        float: left;
        margin: auto;
      }

        header .right a i {
          margin-right: 15px;
        }

        header .right a.user-account {
          border: 0;
          width: auto;
          color: #fff;
        }

          header .right a.user-account:hover {
            color: rgb(255, 162, 0);
          }

      header .right .language, header .right a {
        height: 32px;
        line-height: 32px;
        color: #ccc;
        text-align: center;
      }

      header .right .create-account {
        width: 140px;
        background-color: #74c109;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        border: 0;
        margin-right: 40px;
      }

        header .right .create-account.en {
          width: 190px;
          margin-right: 30px
        }

        header .right .create-account:hover {
          background-color: #29A643;
        }

   header .right .login.en {
    width: auto;
  }

  header .right .language {
    position: relative;
    right: 0;
    top: 20px;
    cursor: pointer;
    z-index: 100;
  }

    header .right .language > ul {
      position: absolute;
      width: max-content;
      left: unset;
      right: 0%;
      // top: 30px;
      background: transparent;
      color: #fff;
      padding: 5px 0;
      /* border: 1px solid #555;*/
      border-top: 0;
      display: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      top: 100%;
      li

  {
    text-align: right;
    padding: .45em;
    border: 1px solid #555;
    padding-bottom: .55em;
    visibility: hidden;
    animation: rolldown .85s 1;
    transform-origin: 50% 0;
    animation-fill-mode: forwards;
    background: #1d1e2b;
  }

  li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  li.active {
    font-weight: 600;
    color: #fff;
  }

  li:hover {
    color: #fff;
    text-shadow: 1px 1px 2px #f5f7fa;
  }

  }

  header .right .language i {
    transition: 0.35s;
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
  }

  header .right .language:hover {
    border-color: #555;
    i

  {
    transition: 0.75s;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -ms-transition: 0.75s;
    -o-transition: 0.75s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  ul {
    display: block;
  }

  }

  @keyframes rolldown {
    0% {
      visibility: visible;
      opacity: 0.5;
      transform: rotateX(-180deg) perspective(500px);
    }

    50% {
      visibility: visible;
      opacity: 0.75;
      transform: rotateX(-80deg);
    }

    50% {
      visibility: visible;
      opacity: 0.75;
      transform: rotateX(-80deg);
    }

    70% {
      visibility: visible;
      opacity: 0.75;
      transform: rotateX(-20deg);
    }

    100% {
      visibility: visible;
      opacity: 1;
      transform: rotateX(0deg);
    }
  }

  @keyframes rollup {
    0% {
      visibility: visible;
      transform: rotate(20deg);
    }

    25% {
      visibility: visible;
      transform: rotate(40deg);
    }

    50% {
      visibility: visible;
      transform: rotate(80deg);
    }

    70% {
      visibility: visible;
      transform: rotate(120deg);
    }

    100% {
      visibility: visible;
      transform: rotate(180deg);
    }
  }

  .width-celly {
    width: 1300px;
    margin: 0 auto;
  }

  .widthie {
    display: flex;
  }

  .nav {
    height: 88px;
    line-height: 88px;
    border-top: 1px solid #2f2f33;
    position: relative;
  }

    .nav li {
      margin-right: -10px;
    }

    .nav a {
      color: #fff;
      font-size: 16px;
      float: left;
      height: 40px;
      line-height: 40px;
      padding: 0 2px;
      margin-top: 24px;
      font-weight: bold;
    }

      .nav a:hover, .nav a.active {
        color: rgb(255, 162, 0);
      }

      .nav a.active2 {
        color: rgb(255, 162, 0);
      }

    .nav .logo {
      float: left;
      height: 87px;
      img

  {
    width: 250px;
    margin-top: 2%
  }

  }

  .nav .logo a {
    margin-top: 6px;
  }

  .nav ul {
    float: right;
  }



  .dialog-footer {
    text-align: center;
    display: block;
    button

  {
    width: 116px;
    height: 40px;
    font-size: 16px;
  }

  }

  ::-webkit-scrollbar {
    background: #fff;
    width: 0;
    height: 0;
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #fff;
    width: 0;
    height: 0;
    display: none;
  }



  .dropdown {
    height: 481px;
    background: transparent linear-gradient(90deg,#272833 2.5%,#1d1e2b 97%) repeat scroll 0 0;
    color: #fff;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    z-index: 100;
    line-height: 22px;
    box-shadow: 0px 18px 20px #00000024;
    .width-celly

  {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
  }

  .dr-left {
    float: left;
    width: 350px;
    border-right: 1px solid #666;
    padding: 30px 50px;
    margin-top: 50px;
    font-size: 12px;
    color: white;
  }

  h5 {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .dr-right {
    padding-top: 90px;
  }

  dl {
    float: left;
    width: 254px;
    padding-left: 50px;
  }

  dt {
    font-size: 17px;
    height: 54px;
    line-height: 54px;
    position: relative;
    padding-left: 55px;
    font-weight: normal;
    margin-bottom: 10px;
    i

  {
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 0;
  }

  }

  dd {
    a

  {
    float: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 50px;
    width: 100%;
  }

  }

  .up-menu {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 16px;
    color: #ccc;
    cursor: pointer;
    i

  {
    margin-right: 5px;
  }

  }

  .up-menu:hover {
    color: #fff;
  }

  }


  dd {
    margin-bottom: 0 !important;
  }



  header .right .language {
    z-index: 9999;
    display: block ruby;
  }

  #header {
    display: flex;
    font-stretch: condensed;
  }

  .dr-left p, .dr-left h5 {
    color: white !important
  }

  #openAccount {
    background-color: #12d767;
    box-shadow: #131313 3px 7px 16px 3px;
    border-radius: 5px;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
  }

    #openAccount:hover {
      background-color: #29a643;
      border: 1px solid #29a643;
      color: white;
      box-shadow: #131313 4px 8px 16px 3px;
    }

  header .rightToLeft .right .language > ul {
    left: unset;
    right: -30px;
  }

  header .rightToLeft .right {
    padding-left: unset;
    padding-right: 5%;
  }

    header .rightToLeft .right .language {
      margin-right: 2%;
    }

      header .rightToLeft .right .language > ul {
        right: unset;
        left: 0%
      }

  .header-container {
    background-color: transparent;
  }

  .generalButtons {
    width: 29%;
    position: absolute;
  }
  /*  //   @media screen and (min-width: 1024px){
  //    .right{    overflow-wrap: break-word;
  //   flex-wrap: wrap;
  //   white-space: inherit;
  //   width: 95%;
  //   }
  //   header{    height: 210px;}
  //    .dropdown{top:210px}


  //   .generalButtons{width: 50%;
  //   position: initial;}
  //   }
  //  @media screen and (min-width: 1117px){
  //    header{height:150px}
  //    .dropdown{top:150px}
  //    header .right{width:77%}
  //  }
  //  @media screen and (min-width:1308px){
  //   header .right{width: 80%;}
  //   header .right .generalButtons{width: 37%;}
  //  }
  //  @media screen and (min-width:1573px){
  //    header{height: 80px;}
  //     .dropdown{top:80px}
  //  }
  //  @media screen and (min-width:1851px){
  //    header .right{width: 86%;}
  //    header .right .generalButtons{width: 27%;}
  //  }
  //  @media screen and (min-width:1920px){
  //    header .right{width: 87%;}
  //    header .right .generalButtons {width: 30%;}
  //  }
  //  @media screen and (min-width:2453px){
  //    header .right{width: 90%;}
  //    header .right .generalButtons{width: 19%;position: absolute;}
  //  }
  //  @media screen and (min-width:2800px){
  //    header .right .generalButtons{width: 19%;}
  //  }
  //  @media screen and (min-width:3250px){
  //    header .right .generalButtons{width: 15%;}
  //  }*/
  @media screen and (min-width:2453px) {
    header {
      padding: 0 18%
    }

    a {
      font-size: 30px
    }
  }

  @media screen and (max-width: 1366px) {
    header .right a {
      font-size: 13px;
    }

    .nav .logo {
      float: left;
      height: 87px;
      img

  {
    width: 200px;
    margin-top: 7%
  }

  }

  header .right a {
    float: left;
    margin: auto
  }

  }

  @media screen and (max-width: 1166px) {
    header .right a {
      font-size: 11px;
      height: 39px;
      line-height: 20px;
    }

    .nav .logo {
      float: left;
      height: 87px;
      img {
    width: 200px;
    margin-top: 7%
  }

  }

  header .right a {
    float: left;
    margin: auto;
    font-size: 12px;
  }

  header .right .create-account.en {
    width: 150px;
    margin-right: 20px;
    font-size: 12px;
    margin-top: 20px;
    height: 25px;
  }

  header .left a {
    margin-right: 0px;
    margin-top: 15px;
  }

  .txth i {
    font-size: 4em;
  }

  .tpad {
    padding-left: 0%;
    padding-right: 0%;
    color: white;
    font-size: 12px;
  }
/*
  #curved .row-1 h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
    padding-top: 3em;
  }

  #curved {
    position: relative;
    width: 100%;
    height: 33%;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: visible;
  }
*/
  .width-celly {
    width: 900px;
    margin: 0 auto;
  }
  .row-2 > ul {
    padding-left: 0px !important;
    width: 900px;
    margin: 0 auto;
    margin-top: 45px;
  }
    .row-2 > ul li .left .txt1 .cell {
      float: left;
      width: 34%;
    }
    .row-2 > ul li .left .r2 .col {
      width: 23.3%;
      float: left;
      text-align: center;
    }
    .row-2 > ul li .right button{
      width: 120px;
      height: 30px;
      border-radius: 50px;
      background-color: #12d767;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      -webkit-transition: all .2s ease 0s;
      transition: all .2s ease 0s;
    }
    .row-2 > ul li .right {
      position: absolute;
      right: 0;
      top: 76%;
      width: 180px;
      -webkit-transform: translate(0, -50%);
    }
    .row-2 > ul li .left .txt1 .cell.even {
      padding-left: 50px;
    }
    .row-2 > ul li .left .avatar-fin p span {
      color: #999;
      font-size: 15px;
      display: block;
      padding-top: 8px;
      white-space: nowrap;
    }
  a.btn.waves-effect.waves-light.btn-lg.btn-primary {
    padding: 0.5em 7em!important;
    font-size: 1.25em;
  }
  .uk-text-small{
    font-size: 18px;
    line-height: 1.5;
    white-space: nowrap;
  }
  #economic {
    min-height: 500px;
  }
  .in-profit-appcard.uk-card-body .uk-child-width-1-2\@m div:nth-child(2) {
    padding-left: 0;
     margin-top: 0px; 
     margin-bottom: 0px; 
  }
  }

  .rightToLeft .generalButtons a {
    float: right;
  }

  .language:hover ul {
    display: block !important;
  }

  .rightToLeft header .right .create-account.en {
    margin-left: 20px;
  }

  .dropdown dd a {
    color: white;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
  }

  .dropdown dd:hover a {
    color: #ffa200;
  }
  @media screen and (min-width: 1024px) and (max-width:1220px){
    .dropdown dt{
      font-size: 16px;
      height: 54px;
      line-height: 54px;
      position: relative;
      padding-left: 55px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    .dropdown dl{
      padding-left: 20px;
      width:230px
    }
  }
</style>
