<template>
		<div class="wrap mobile">
      <pageHeader pageName="coinsTrade" @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
			<pageHeader2 ref="pageHead2" backFlag="no" :defaultLanguage="curLanguage" @changeLanguage="changeLanguage" />
      <main>
          <div class="w-1200">
             <div class="add-bank-box theme-mobile">
                 <div class="links-nav">
                      <router-link to='/coinstrad'>{{language[curLanguage][8]}}</router-link>
                      <i class="icon icon-arrow-right"></i>
                      <span>{{language[curLanguage][1]}}</span>
                 </div>
                 <h3>{{language[curLanguage][1]}}</h3>
                 <div class="add-bank">
                      <el-form :model="walletInfo" :rules="rules" ref="walletInfoForm" class="demo-ruleForm">
                          <ul>

                              <li>
                                 <el-form-item :label="walletCurrency + ' ' + language[curLanguage][2]" prop="address">
                                     <el-input v-model.trim="walletInfo.address" :placeholder="language[curLanguage][3]"></el-input>
                                 </el-form-item>
                              </li>


                          </ul>
                      </el-form>
                      <p>{{language[curLanguage][9]}}</p>
                      <div class="upload">
                          <div class="upload-box">
                          	<div class="photos">
                          		<span>{{language[curLanguage][11]}}</span>
                          		<div class="input photos" :class="{'img-yes':walletInfo.img.length>0}">
                          		    <el-upload
                          			  ref="imgUpload"
                          			  :headers="uploadHead"
                          			  :action="uploadURL"
                          			  list-type="picture-card"
                          			  :limit="photos.numLimit"
                          	          :http-request="uploadStart"
                          	          :on-success="handlePhotosSuccess"
                          	          :before-upload="beforePhotosUpload"
                          			  :on-preview="handlePhotosPreview"
                          			  :upStatus="photos.uploadStatus"
                          			  :before-remove="handlePhotosBeforeRemove"
                          			  :fileType = "photos.fileType"
                          			  :on-remove="handlePhotosRemove">
                          			  <i class="el-icon-plus"></i>
                          			</el-upload>
                          			<el-dialog :visible.sync="photos.dialogVisible" size="tiny">
                          			  <img width="100%" :src="photos.dialogImageUrl" v-if="dialogType=='img'" alt="">
                          			</el-dialog>
                          		</div>
                          	</div>
                          </div>
                      </div>
                      <div class="btn-box">
                          <button @click="submitWalletInfo('walletInfoForm')">{{language[curLanguage][4]}}</button>
                      </div>
                 </div>



             </div>


         </div>
			</main>
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeader.vue'
import pageHeader2 from '../../components/pageHeader2.vue'
import {addAddress} from '../../utils/language'
import {apiStateList} from '../../utils/result-state'
export default {
  name: "my-acount",
  data: function() {
    return {

         isLogin:false,
         curCoinType:1,
         curLanguage:2,
         language:addAddress,
         userLoginInfo:'',
         defaultSystemCoin:'USDT',
         walletCurrency:'',
         paymentType:null,
         coinsType:'',
         walletInfo:{
           address:'',
           img:[]
         },

//          rules: {
//            address: [
//              { required: true, message: '钱包地址不能为空', trigger: 'blur' },
//              // { validator: validateEmail, trigger: 'blur' }
//            ]
//
//          },
         resultStateList:apiStateList,
         photos:{
          		 dialogImageUrl: '',
          		 dialogVisible: false,
          		 uploadStatus:[],
          		 numLimit:1,
          		 fileType:[]
          },
          loading:{
              photos:false
          },
          uploadType:1,
          uploadHead:{
          		   'Content-Type':'application/x-www-form-urlencoded; charset=UTF-8'
          		   // 'Content-Type':'multipart/form-data'

          },
          uploadURL:this.$api.imgUploadURL,


          uploadData:{
          		  file:null,
          		  baseData:null
          },
          imgMaxWidth:800,
          imgMaxHeight:1000,
          // formData:{
          //     Enclosure:[]
          //     // BriefEnclosure:[]
          // },
         fileIsImg:false,
         dialogType:'img',

    };
  },
  metaInfo() {
      return{
         title: this.curLanguage==1?'添加钱包地址-N sky':'Add wallet address - N sky',
      }

  },
  created(){
      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');

     this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
     this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

    this.isLogin = this.util.isLogin();
    if(!!this.isLogin){
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
    }else{
        this.$router.push({name:'login'});
        return;
    }

    this.defaultSystemCoin = this.$route.query.currency;
    this.walletCurrency = this.$route.query.currency;
    this.paymentType = this.$route.query.type;
    this.coinsType = this.$route.query.ccode;
    this.handleCommand(this.curLanguage);
//     if(!!this.localStore.getItem('userInfo')){
//         this.userInfo = JSON.parse(this.localStore.getItem('userInfo'))
//     }else{
//         this.getUserInfo();
//     }
  },

  components: {
    pageHeader,
    pageHeader2
  },
  computed: {


      rules() {



        return {

                  address:[
                    {required: true, message: this.$t("addAddress.address"), trigger: 'blur'}
                  ]
          };
      }
    },
  methods: {


    handlePhotosSuccess(fileName,upType) {
          		console.log('msg')

          	const fileURL = fileName
    			var status;

                 console.log('WWWWWWWWW')
    				status = this.photos.uploadStatus;
    				this.walletInfo.img.push(fileURL);


    			const photosIndex = status.length-1

                status.splice(photosIndex,1,false);
    			// this.photos.fileType.splice(photosIndex,1,false);

    			 // this.videoPlayTime = 0;
                },
    	  uploadStart(){

    	  		  const that=this
    			  if(this.uploadType==1){
    				  var photosIndex = this.listBanner.uploadStatus.length-1
    			  }else{
    				  var photosIndex = this.photos.uploadStatus.length-1
    			  }



    // 				 let Orientation;
    // 				 //去获取拍照时的信息，解决拍出来的照片旋转问题
    // 				  EXIF.getData(this.uploadData.file, function(){
    // 				      Orientation = EXIF.getTag(this, 'Orientation');
    // 				  });

    				 var img = new Image()
    				 var reader = new FileReader();
    				 console.log(this.uploadData.file.size/1024/1024);

    				 reader.readAsDataURL(this.uploadData.file);
    				  reader.onload=function(){
    				 	img.src = this.result;
    				 }

    					 img.onload=function(){
    							  that.uploadData.baseData = that.getBase64Image(this);

    							  that.$axios.post(that.uploadURL,{file:that.uploadData.baseData})
    							  .then((res)=>{

    								 if(res.data.code!=0){
    									that.$message({
    									  message: this.language[this.curLanguage][20]+ " "+this.language[this.curLanguage][15]+resultMsg,
    									  type: "error",
    									  center: true
    									})
    									if(that.uploadType==1){
    									  that.listBanner.uploadStatus.splice(photosIndex,1);
    									  that.listBanner.fileType.splice(photosIndex,1);
    									}else{
    									  that.photos.uploadStatus.splice(photosIndex,1);
    									  that.photos.fileType.splice(photosIndex,1);
    									}

    								 }

    								if(res.data.code==0){
    									 that.handlePhotosSuccess(res.data.result,that.uploadType);
    								 }

    							  })

    					 }








    	 },

    	  getBase64Image(img) {
    	  			var canvas = document.createElement("canvas");
    	  			var context = canvas.getContext('2d');
    	  			//原始尺寸
    	  			var originWidth  = img.width;
    	  			var originHeight  = img.height;

    	  			//最大尺寸限制
    	  			var maxWidth = this.imgMaxWidth, maxHeight = this.imgMaxHeight;
    	  			// 目标尺寸
    	  			var targetWidth = originWidth, targetHeight = originHeight;

    	  			 // 图片尺寸超过设定的限制
    	  			if (originWidth > maxWidth || originHeight > maxHeight) {
    	  				if (originWidth / originHeight > maxWidth / maxHeight) {
    	  					// 更宽，按照宽度限定尺寸
    	  					targetWidth = maxWidth;
    	  					targetHeight = Math.round(maxWidth * (originHeight / originWidth));
    	  				} else {
    	  					targetHeight = maxHeight;
    	  					targetWidth = Math.round(maxHeight * (originWidth / originHeight));
    	  				}
    	  			}

    	  			// canvas对图片进行缩放
    	  			canvas.width = targetWidth;
    	  			canvas.height = targetHeight;
    	  			// 清除画布
    	  			context.clearRect(0, 0, targetWidth, targetHeight);
    	  			// 图片压缩
    	  			context.drawImage(img, 0, 0, targetWidth, targetHeight);

    // 				 //修复ios上传图片的时候 被旋转的问题
    // 				if( img!= "" && Orientation != 1){
    // 				  switch(Orientation){
    // 				    case 6://需要顺时针（向左）90度旋转
    // 				        this.rotateImg(img,'left',canvas);
    // 				        break;
    // 				    case 8://需要逆时针（向右）90度旋转
    // 				        this.rotateImg(img,'right',canvas);
    // 				        break;
    // 				    case 3://需要180度旋转
    // 				        this.rotateImg(img,'right',canvas);//转两次
    // 				        this.rotateImg(img,'right',canvas);
    // 				        break;
    // 				  }
    // 				}

    	  			var dataURL = canvas.toDataURL("image/jpeg", 0.8);
    	  			return dataURL;

    	  },
    	  beforePhotosUpload(file) {
    		  this.photos.uploadStatus.push(true);
    		  this.uploadType=2;
    		  const isIMG =  file.type.indexOf('image/')!=-1;
    		  const isWord =  file.type.indexOf('/msword')!=-1;
    		  const isPDF =  file.type.indexOf('/pdf')!=-1;
    		  const isVideo =  file.type.indexOf('/mp4')!=-1;
    		  // const isLt2M = file.size / 1024 / 1024 < 2;
              const photosIndex = this.photos.uploadStatus.length-1;
    		  let fileType = '';
    		  this.uploadData.file = file;

    		  if(!!isIMG){
    			  this.fileIsImg = true;
    			  fileType = 'img'
    		    }else{
    			  this.fileIsImg = false;
    		   }

    // 		  if(!!isWord){
    // 		    fileType = 'word'
    // 		  }
    // 		  if(!!isPDF){
    // 		  	fileType = 'pdf'
    // 		  }
    // 		  if(!!isVideo){
    // 		  	fileType = 'video'
    // 		  }

    		  this.photos.fileType.push(fileType);

    		  // const fileIsTrue = !!isIMG||!!isWord||!!isPDF||!!isVideo;
    		  const fileIsTrue = !!isIMG;
    		  console.log(fileIsTrue);
              this.uploadFilter(fileIsTrue,photosIndex);
    		  return fileIsTrue;
    	  },
    	  beforeBannerUpload(file) {
    	  		  this.listBanner.uploadStatus.push(true);
    	  		  this.uploadType=1;
    	  		  const isIMG =  file.type.indexOf('image/')!=-1;
    	  		  const isWord =  file.type.indexOf('/msword')!=-1;
    	  		  const isPDF =  file.type.indexOf('/pdf')!=-1;
    	  		  const isVideo =  file.type.indexOf('/mp4')!=-1;
    	  		  // const isLt2M = file.size / 1024 / 1024 < 2;
    	            const photosIndex = this.listBanner.uploadStatus.length-1;
    	  		  let fileType = '';
    	  		  this.uploadData.file = file;

    	  		  if(!!isIMG){
    	  			  this.fileIsImg = true;
    	  			  fileType = 'img'
    	  		    }else{
    	  			  this.fileIsImg = false;
    	  		   }


    	  		 this.listBanner.fileType.push(fileType);

    	  		  const fileIsTrue = !!isIMG;

    	            this.uploadFilter(fileIsTrue,photosIndex);
    	  		  return fileIsTrue;
    	  	  },

    	  uploadFilter(fileType,picIndex){
    		  if (!fileType) {
    		  	this.$message.error('文件格式不支持');
    		    this.photos.uploadStatus.splice(picIndex,1);
    			this.photos.fileType.splice(picIndex,1);
    		  }
    // 		  if (!fileLt) {
    // 		  	this.$message.error('上传图片太大');
    // 		    status=false;
    // 		  }

    	  },

    	  handlePhotosBeforeRemove(file, fileList){
    		  this.uploadType = 2;
    		  this.photos.removeIndex = fileList.indexOf(file);
         },
    	 handleBannerBeforeRemove(file, fileList){
    		  this.uploadType = 1;
    		  this.photos.removeIndex = fileList.indexOf(file);
    	 },
         handlePhotosRemove(file, fileList) {

    		if(this.uploadType==1){
    		   this.listBanner.uploadStatus.splice(this.photos.removeIndex,1);

    		   // this.formData.BriefEnclosure.splice(this.photos.removeIndex,1);
    		}else{
    		   this.photos.uploadStatus.splice(this.photos.removeIndex,1);
    		   this.photos.fileType.splice(this.photos.removeIndex,1);
    		   this.walletInfo.img.splice(this.photos.removeIndex,1);
    		}

         },
          handlePhotosPreview(file,index) {
    		console.log(index)
    		this.dialogType = file.fileType[index];
    		console.log(this.dialogType)
    		console.log(this.dialogType);
            this.photos.dialogImageUrl = file.url;
    		this.photos.dialogVisible = true;


          },

  getStateCodeText(code){
        let text = this.resultStateList.find(item=>{
           return item.code == code
        })
        if(this.curLanguage==1){
          return text.cn
        }else{
          return text.en
        }
  
  },
  handleCommand(command) {
        // this.$message("click on item " + command);
        switch (command) {
          case 1: {
            this.lang = "zh";
            this.$i18n.locale = this.lang;
            break;
          }
          case 2: {
            this.lang = "en";
            this.$i18n.locale = this.lang;
            break;
          }

          default:
            break;
        }
   },
   submitWalletInfo(formName){

       let that = this;
       this.$refs[formName].validate((valid) => {
         if (valid) {
             if(this.walletInfo.img.length==0){
                  this.$message({
                    message:this.language[this.curLanguage][10],
                    type: "error",
                    center: true,
                    duration:1800
                  })
                  return;
              }
             const imgStr = this.walletInfo.img.join('|');
             const api = this.$api.url.adduserwallet;
             const params = {
               Uid:this.userLoginInfo.userID,
               Token:this.userLoginInfo.session,
               Device:'web',
               Currency:this.walletCurrency,
               Address:this.walletInfo.address,
               Remarks:imgStr
             }

              this.$axios.post(api,params)
             .then((res)=>{
                       if(res.data.code==0){

                        this.$message({
                          message:this.language[this.curLanguage][6],
                          type: "success",
                          center: true,
                          duration:2000
                        })
                         this.localStore.setItem('tradCoinFlag',true)
                         this.$router.push({name:'coinsSell',query:{type:this.paymentType},params:{code:this.coinsType}});
                 }else{
                   let resultMsg = this.getStateCodeText(res.data.code);
                   this.$message({
                     message:this.language[this.curLanguage][6]+this.language[this.curLanguage][5]+' '+resultMsg,
                     type: "error",
                     center: true,
                     duration:2000
                   })
                 }

             }).catch((error)=>{
                 this.$message({
                   message: error,
                   type: "error",
                   center: true,
                 duration:2000
                 })
               })



         } else {
           console.log('error submit!!');
           return false;
         }
       });

   },
   changeCoinType(val){
     this.curCoinType = val;
   },
   changeLanguage(val){
    
     this.curLanguage = val;
     this.handleCommand(this.curLanguage);
     this.$refs.pageHead.handleLan();
   },
   userLogout(){
      this.$router.push({name:'login'});
   }


  }

};
</script>





<style scoped lang="scss">

/*  main {
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(39, 40, 51) 0%, rgb(30, 32, 47) 100%) repeat scroll 0% 0%;
  }*/

.wrap{min-height: 100vh;background: #fff;overflow: hidden;line-height: 1.1rem;font-size: .7rem;}
.links-nav{padding:0 .75rem;margin-bottom: 1rem;padding-bottom: .5rem;border-bottom: 1px solid #f4f5f7;
   span{color: #999;}
   a{color: #387ee2;}
}
.add-bank-box{padding:1rem .75rem;color: #aeb9d8;
   h3{font-size: 1.2rem;color: #aeb9d8;margin-bottom: .5rem;}
   .add-bank{padding:0;
      .btn-box{padding-top:.5rem;
         button
  {
    color: #fff;
    width: 100%;
    text-align: center;
    height: 2.25rem;
    font-size: .8rem;
    border-radius: .15rem;
    background: #232f41;
    cursor: pointer;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
  }

      }


   }

}




    ::-webkit-scrollbar{
      background:#fff;width:0;height:0;display:none;
  }
  ::-webkit-scrollbar-thumb{
      background:#fff;width:0;height:0;display:none;
  }



.upload{margin-top: 15px;
      span{display: block;margin-bottom: 10px;color: #fff;}
   }



  h4, .h4, h5, .h5, h6, .h6 {
      margin-top: 0;
      margin-bottom: 0;
  }


</style>

<style lang="scss">
   .add-bank-box .el-upload--picture-card{background:none;}
   .img-yes .el-upload--picture-card{display: none;}
</style>
