<template>
  <div class="wrap mobile">
    <pageHeader pageName="coinsTrade" @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
    <pageHeader2 ref="pageHead2" backFlag="no" :defaultLanguage="curLanguage" @changeLanguage="changeLanguage" />
    <main style="min-height:90vh;">
      <div class="w-1200">
        <div class="coins-buy-box theme-mobile">
          <div class="links-nav">
            <router-link to='/coinstrad'>{{language[curLanguage][43]}}</router-link>
            <i class="icon icon-arrow-right"></i>
            <span>{{tradCoinsType==0?language[curLanguage][1]:language[curLanguage][19]}}</span>
          </div>
          <h3>{{tradCoinsType==0?language[curLanguage][1]:language[curLanguage][19]}}</h3>
          <div class="buy-cell">
            <div class="select-type clearfix">
              <p>{{language[curLanguage][2]}}</p>
              <span :class="{active:coinsTradType==1}" @click="selectType(1,'Actuals')" v-if="userInfo.configure.t_actuals_state==2">{{language[curLanguage][20]}}<i class="icon icon-badges" v-if="coinsTradType==1"></i></span>
              <!-- <span :class="{active:coinsTradType==1}" @click="selectType(1)" v-if="userInfo.astate>0">{{language[curLanguage][3]}}<i class="icon icon-badges" v-if="coinsTradType==1"></i></span> -->
              <span :class="{active:coinsTradType==2}" @click="selectType(2,'Futures')" v-if="userInfo.configure.t_futures_state==2">{{language[curLanguage][44]}}<i class="icon icon-badges" v-if="coinsTradType==2"></i></span>
              <span :class="{active:coinsTradType==3}" @click="selectType(3,'Shares')" v-if="userInfo.configure.t_shares_state==2">{{language[curLanguage][50]}}<i class="icon icon-badges" v-if="coinsTradType==3"></i></span>
              <span :class="{active:coinsTradType==4}" @click="selectType(4,'Other')" v-if="userInfo.configure.t_other_state==2">{{language[curLanguage][51]}}<i class="icon icon-badges" v-if="coinsTradType==4"></i></span>
            </div>

            <!--<p id="RatesP" v-if="!!rateFlag">{{coinsType}}{{language[curLanguage][4]}}:&nbsp;{{curRate}} &nbsp;{{defaultCoin}}/{{coinsType}}</p>-->
            <p id="RatesP"></p>
            <div class="input">
              <p>{{language[curLanguage][5]}}</p>
              <div class="input-cell">
                <el-input id="AmmountInput" v-model.trim="buyNum" :placeholder="tradCoinsType==0?language[curLanguage][6]:language[curLanguage][22]" @input="numberCheckTip"></el-input>
                <div class="coins-type-group">
                  <el-select v-model="coinsType" popper-class="select-coin-black" @change="selectCoinType">
                    <el-option v-for="(item,index) in coinsTypeGroup[coinsTypeGroupIndex]"
                               :key="index"
                               :label="item"
                               :value="item">
                    </el-option>
                  </el-select>
                </div>
                <!--<i>{{defaultSystemCoin}}</i>-->
                <p class="check-tip" v-if="tradTip.tip1">{{language[curLanguage][23]}}</p>
                <p class="check-tip" v-if="tradTip.tip2">{{language[curLanguage][24]}}{{minNum+'-'+maxNum}}</p>
              </div>
            </div>

            <!-- <div class="trad-info">
                <ul v-if="tradCoinsType==0">
                   <li>
                        <span>{{language[curLanguage][7]}}</span>
                        <i>{{buyNum==''?'0.00':tradNum}}</i>
                        <span>{{' '+ coinsType}}</span>
                   </li>

                </ul>
            </div> -->
            <!-- <div class="explain">
                <p><i class="icon icon-tip"></i>请向对方收款方式中的银行卡中转入购买所需的金额，然后点击下面的上传付款凭证上传付款截图</p>
            </div> -->

            <div class="select-type payment-type-box clearfix">
              <p>{{language[curLanguage][27]}}</p>
              <span :class="{active:paymentType==item.t_pid}" @click="selectPaymentType(item.t_pid,item.t_currency,item.t_type)" v-for="(item,index) in paymentTypeList" :key="index">{{item.t_name}}<i class="icon icon-badges"></i></span>

              <!-- <span :class="{active:paymentType==2}" @click="selectPaymentType(2)">在线支付<i class="icon icon-badges"></i></span>
              <span :class="{active:paymentType==0}" @click="selectPaymentType(0)">银行卡转账<i class="icon icon-badges"></i></span> -->

            </div>


            <div class="btn-box">
              <!-- <a href="javascript:">购买</a> -->
              <!-- <button @click="adddeposit" :disabled="isDisable" v-if="tradCoinsType==3">{{language[curLanguage][25]}}</button> -->
              <button v-if="submitTimerFlag" @click="adddeposit" :disabled="isDisable">{{language[curLanguage][11]}}</button>
              <button v-if="!submitTimerFlag" :disabled="isDisable">{{language[curLanguage][52]}}</button>
            </div>
            <el-dialog :title="language[curLanguage][26]"
                       :visible.sync="openCoinDialog"
                       width="30%">
              <span style="font-size: 16px;color: #f5f5f5;">{{openCoinDialogText.text}}</span>
              <span slot="footer" class="dialog-footer">
                <el-button @click="openCoinDialog = false">{{openCoinDialogText.btn1}}</el-button>
                <el-button type="primary" @click="tradCoinsDialogConfirm(openCoinDialogText.type)">{{openCoinDialogText.btn2}}</el-button>
              </span>
            </el-dialog>
          </div>
        </div>

      </div>
    </main>
    <div class="mask" v-if="!!bankListContainerState" @click="bankListContainerState=false"></div>
  </div>
</template>


<script>

import pageHeader from '../../components/pageHeader.vue';
import pageHeader2 from '../../components/pageHeader2.vue'
import BigNumber from 'bignumber.js';
import {coinsBuy} from '../../utils/language'
import {apiStateList} from '../../utils/result-state'
export default {
  name: "coinsBuy",
  data: function() {
    return {
         isLogin:false,
         curCoinType:1,
         curLanguage:2,
         language:coinsBuy,
         userLoginInfo:{},
         coinsTradType:1,
         buyNum:'' ,
         userInfo:{},
         coins:[],
         rateInfo:[],
         defaultCoin:'',
         defaultSystemCoin:'',
         curRate:'',
         openCoinDialog:false,
         openCoinDialogText:{
            text:'',
            btn1:'',
            btn2:'',
            type:1
         },
         tradTip:{
            tip1:false,
            tip2:false
         },
         tradNum:'',
         total:'0.00',
         isDisable:false,
         tradCoinsType:null,
         paymentType:0,
         minNum:0,
         maxNum:0,
         curPaymentName:'',
         bankListContainerState:false,
         bankList:[
           {t_name:'--',t_payee:'--',t_bankid:'--',t_bankname:'--',t_bank_address:'--'}
         ],
         tradObjIndex:0,
         paymentTypeList:[],
         paymentCurrency:"USDT",
         coinsType:'USDT',
         coinsTypeGroup:{
           MtCurrency:'',
           Actuals:[],
           Futures:[],
           Shares:[],
           Other:[]
         },
         coinsTypeGroupIndex:'Actuals',
         rateFlag: false,
         paymentCategory:0,
         resultStateList:apiStateList,
         orderFlag:0,
         coinsMtCurrency:'',
         coinsFutures:[],
         coinsActuals:[],
         coinsOther:[],
         coinsShares:[],
         submitTimerFlag:true

    };
  },
  metaInfo() {
      return{
         title: this.curLanguage==1?'入金-N Sky':' Deposit - N Sky',
      }

  },
  created(){



      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');

     this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
     this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage
     this.isLogin = this.util.isLogin();
     if(!!this.isLogin){
         this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
     }else{
         this.$router.push({name:'login'});
         return;
     }

     let tradCoinFlag = false;
     let storeTradCoinFlag = this.localStore.getItem('tradCoinFlag');
     if(!!storeTradCoinFlag){
         tradCoinFlag = storeTradCoinFlag
         this.localStore.removeItem('tradCoinFlag');
     }
     if(!tradCoinFlag){
         this.$router.push({name:'coinstrad'});
     }

     this.tradCoinsType = this.$route.query.type;

     if(!!this.$route.params.code){
       this.coinsType = this.$route.params.code;
       this.defaultSystemCoin = this.$route.params.code;
       this.orderFlag = this.$route.params.orderFlag;
     }


     if(!!this.localStore.getItem('userInfo')){
         this.userInfo = JSON.parse(this.localStore.getItem('userInfo'))
         console.log(this.userInfo.configure.t_actuals_state==2)
         if(this.userInfo.configure.t_actuals_state==2){
            console.log('/////aaa')
           this.coinsTradType = 1
           this.coinsTypeGroupIndex = 'Actuals'

         }else{
           if(this.userInfo.configure.t_futures_state==2){
             console.log('/////fffffff')
             this.coinsTradType = 2
             this.coinsTypeGroupIndex = 'Futures'
           }else if(this.userInfo.configure.t_shares_state==2){
              console.log('/////bbb')
             this.coinsTradType = 3
             this.coinsTypeGroupIndex = 'Shares'
           }else if(this.userInfo.configure.t_other_state==2){
             this.coinsTradType = 4
             this.coinsTypeGroupIndex = 'Other'
           }
         }
     }else{
         this.getUserInfo();
     }



     if(this.userInfo.configure.t_actuals_state<2&&this.userInfo.configure.t_futures_state<2&&this.userInfo.configure.t_shares_state<2&&this.userInfo.configure.t_other_state<2){
        this.$router.push({name:'coinstrad'});
        return
     }

     if(!!this.$route.params.system){
        this.coinsTradType = this.$route.params.system
     }

     this.getCoinList();

     // this.getapipaymentlist();

     if(this.buyNum!=''){
        let buyNumDp = BigNumber(this.buyNum).dp();
        this.tradNum = this.priceToString(this.buyNum,buyNumDp,2);
     }
    // this.getinsystembank();
    this.getcurrency();
    // console.log(this.userInfo)
  },

  components: {
    pageHeader,
    pageHeader2
  },
  methods: {
   getStateCodeText(code){
         let text = this.resultStateList.find(item=>{
            return item.code == code
         })
         if(this.curLanguage==1){
           return text.cn
         }else{
           return text.en
         }

   },
    selectCoinType(val){

        this.defaultSystemCoin = val
        this.getapipaymentlist();
      this.getRateInfo();
      document.getElementById("AmmountInput").value = 0;
      document.getElementById("AmmountInput").innerText="";
    },
    getinsystembank(){

       const api = this.$api.url.getinsystembank;

       const params = {
          Device:'web',
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session,
          Bid:0
       }
       this.$axios.get(api,{params:params})
       .then((res)=>{
           if(res.data.code==0){
               let data = JSON.parse(res.data.data);

               data.forEach(item=>{
                    let bankInfo = item.t_bankid.split('|');
                    item.t_bankid = bankInfo[0]
                    if(bankInfo.length>1){
                      item.t_bic = bankInfo[1]
                    }else{
                      item.t_bic = ''
                    }

               })

               this.bankList = data;


           }else if(res.data.code==1011){

           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:this.language[this.curLanguage][40]+ " " + this.language[this.curLanguage][38]+resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:2000
           })
         })
    },
    getcurrency(){

       // const api = this.$api.url.getcurrencysystem;
       const api = this.$api.url.currency_info;
       const params = {
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session,
          Device:'web'
       }

       this.$axios.post(api,params)
       .then((res)=>{
           if(res.data.code==0){


                  let data = JSON.parse(res.data.data)
                  // this.coinsTypeGroup = data.in

                  this.coinsTypeGroup.MtCurrency = data.MtCurrency;
                  this.coinsTypeGroup.Actuals = JSON.parse(data.Actuals)
                  this.coinsTypeGroup.Futures = JSON.parse(data.Futures)
                  this.coinsTypeGroup.Shares = JSON.parse(data.Shares)
                  this.coinsTypeGroup.Other = JSON.parse(data.Other)

                  this.coinsType = this.coinsTypeGroup[this.coinsTypeGroupIndex][0];

                  this.getapipaymentlist();
                  // console.log(this.coinsTypeGroup)

           }else if(res.data.code==1011){

           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:'获取可入金币种失败' + this.language[this.curLanguage][38]+resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:2000
           })
         })
    },
    getapipaymentlist(){

       const api = this.$api.url.getapipaymentlist;

       const params = {
          Device:'web',
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session,
          Type:1,
          Currency:this.coinsType
       }

       this.$axios.get(api,{params:params})
       .then((res)=>{

           if(res.data.code==0){

              this.paymentTypeList = JSON.parse(res.data.data);
              console.log(this.paymentTypeList)


              if(this.paymentTypeList.length!=0){
                 this.selectPaymentType(this.paymentTypeList[0].t_pid,this.paymentTypeList[0].t_currency,this.paymentTypeList[0].t_type);
              }




           }else if(res.data.code==1011){

               // this.$refs.pageHead.logout();
               // this.isLogin = false;
               // this.$router.push({name:'login'});
           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:this.language[this.curLanguage][41]+ " " + this.language[this.curLanguage][38]+resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:2000
           })
         })
    },
    handleBankListState(){
      this.bankListContainerState = true;
    },
    selectPaymentType(payId,payCurrency,category){


        this.paymentType = payId;
        this.paymentCategory = category;
        this.paymentCurrency = payCurrency;

        let paymentType = this.paymentTypeList.find(item=>{
            return item.t_pid == this.paymentType
        })

        this.minNum = paymentType.t_in_min;
        this.maxNum = paymentType.t_in_max;
        this.curPaymentName = paymentType.t_name;
        // if(category==0){
        //    this.getinsystembank()
        // }


    },
    selectTradObj(index){
       this.tradObjIndex = index;
       this.bankListContainerState = false;
    },
    priceToString(price,curDP,toDP){


       if(curDP==0&&toDP!=0){
           price += '.'
       }
       for(let i=0;i<toDP-curDP;i++){

           price+='0';
       }

       return price;
    },
    adddeposit(){


        if(this.userInfo.u_level<1){
          this.openCoinDialogText.text = this.language[this.curLanguage][32]
          this.openCoinDialogText.btn1 = this.language[this.curLanguage][33],
          this.openCoinDialogText.btn2 = this.language[this.curLanguage][34]
          this.openCoinDialogText.type = 1
          this.openCoinDialog = true
          return;
        }


         let that = this;
         let tipEndTimer=null;





         if(this.buyNum==''||BigNumber(this.buyNum).toNumber() < this.minNum||BigNumber(this.buyNum).toNumber()>this.maxNum){
            that.tradTip.tip2 = true;
            clearTimeout(tipEndTimer);
            tipEndTimer = setTimeout(()=>{
                 that.tradTip.tip2 = false;
            },1000)
            return;
         }


         let numberCheckTip = this.numberCheckTip();

         if(!numberCheckTip){
             return;
         }

        const api = this.$api.url.adddeposit;

        const params = {
           Uid:this.userLoginInfo.userID,
           Token:this.userLoginInfo.session,
           Device:'web',
           DNumber:this.buyNum,
           DSystem:this.coinsTradType,
           // ccode:this.coinsType,
           // doid:this.bankList[this.tradObjIndex].t_bcid,
           DMerchant:this.paymentType,
           // pay_ccode:this.paymentCurrency
        }

         var newView = null;
         if(this.orderFlag==0&&this.paymentCategory==2){
            newView = window.open()
         }
         this.isDisable = true;
         this.submitTimerFlag = false
         this.$axios.post(api,params)
        .then((res)=>{
            this.submitTimerFlag = true
            if(res.data.code==0){

               let orderNumber = res.data.data
               let paymentURL = res.data.url;
//
//                this.$router.push({name:'orderUploadFile',query:{orderNum:orderNumber,c1:this.defaultSystemCoin,c2:this.defaultCoin,type:this.tradCoinsType}});

               if(this.paymentCategory==2){
                  // window.open(paymentURL);

                  newView.location.href = paymentURL;
                  this.$router.push({name:'coinstrad',params:{payment:'Y'}});
               }else{

                  this.$router.push({name:'orderUploadFile',query:{orderNum:orderNumber,c1:this.coinsType,c2:this.defaultCoin,type:this.paymentType,paymentCategory:this.paymentCategory}});
               }

            }else if(res.data.code==1011){

                this.$refs.pageHead.logout();
                this.isLogin = false;
                this.$router.push({name:'login'});
            }else if(res.data.code==1007){
                this.$message({
                  message:this.language[this.curLanguage][42],
                  type: "error",
                  center: true,
                  duration:2000
                })
            }else{
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message:this.language[this.curLanguage][35]+" "+this.language[this.curLanguage][38]+resultMsg,
                type: "error",
                center: true,
                duration:2000
              })
            }

        }).catch((error)=>{
            this.$message({
              message: error,
              type: "error",
              center: true,
            duration:2000
            })
          })
       setTimeout(()=>{
           this.isDisable = false;
       },1200)
    },

    tradCoinsDialogConfirm(type){
      if(type==1||type==2){
        this.openCoinDialog = false;
        this.$router.push({name:'my'});
      }else{
        this.openCoinDialog = false;
      }
    },


    getUserInfo(){
        const api = this.$api.url.userVerify1;
        const params = {
           Device:'web',
           Uid:this.userLoginInfo.userID,
           Token:this.userLoginInfo.session
        }
        this.$axios.get(api,{params:params})
        .then((res)=>{
            if(res.data.code==0){

              this.userInfo = JSON.parse(res.data.data);
              // this.userInfo.u_country = this.userCountry;
              this.localStore.setItem('userInfo',this.userInfo)
              this.getUserCountry();


            }else if(res.data.code==1011){

                this.$refs.pageHead.logout();
                this.isLogin = false;
                this.$router.push({name:'login'});
            }else{
              let resultMsg = this.getStateCodeText(res.data.code)
              this.$message({
                message:this.language[this.curLanguage][39] + " " + this.language[this.curLanguage][38]+resultMsg,
                type: "error",
                center: true,
                duration:1800
              })
            }

        }).catch((error)=>{
            this.$message({
              message: error,
              type: "error",
              center: true,
            duration:1800
            })
          })

    },
    getCoinList(){

       this.coins = [];
       const api = this.$api.url.currency_info;

       this.$axios.get(api)
       .then((res)=>{
           if(res.data.code==0){
               let _data = JSON.parse(res.data.data)


               _data.forEach(item=>{
                   if(item.Type==1){
                      if(item.Default==1){
                         this.defaultCoin = item.Code;
                      }
                      this.coins.push(item);
                   }
                   if(item.Type==0){
                      if(item.Default==1){
                         if(this.defaultSystemCoin==''){
                           this.defaultSystemCoin = item.Code;
                         }

                      }
                   }
               })

               let data =this.coins.map((item,index)=>{
                   let value = index+1;
                   let label = decodeURI(item.Name)+'(' + item.Code + ')';
                   let label_en = item.Code+'(' + item.Code + ')';


                   return {value:value,label:label,label_en:label_en,code:item.Code,default:item.Default}
               })
               this.coins = data;
               this.localStore.setItem('coinsList',this.coins);
               this.getRateInfo()
           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:this.language[this.curLanguage][36]+ " " + this.language[this.curLanguage][38]+resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }
       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:2000
           })
         })
    },

    getRateInfo(){
        this.rateFlag = true;
        const api = this.$api.url.rateInfo;

         this.$axios.get(api)
        .then((res)=>{
            if(res.data.code==0){


                this.rateInfo = JSON.parse(res.data.data);
              console.log(this.rateInfo);
                let rate =  this.rateInfo.find(item=>{
                  return item.Swap == this.defaultCoin&&item.Basic==this.coinsType;
                })

              console.log(rate);
                if(!rate){

                   this.rateFlag = false;
                   return
                }



                let curRate = rate.Proportion.toString();



                if(curRate.indexOf('.')<0){

                    curRate += '.'

                    for(let m=0;m<2;m++){
                        curRate += '0'
                    }

                }else{
                   let dpLength = curRate.split('.')[1].length;
                   for(let m=0;m<2-dpLength;m++){
                       curRate += '0'
                   }
                }

                this.curRate = curRate;

            }else{
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message:this.language[this.curLanguage][37]+ " " + this.language[this.curLanguage][38]+resultMsg,
                type: "error",
                center: true,
                duration:2000
              })
            }

        }).catch((error)=>{
            this.$message({
              message: error,
              type: "error",
              center: true,
            duration:2000
            })
          })
    },
    numberCheckTip(val) {
      const that = this;
      let tipEndTimer = null;
      let number = this.buyNum;
      if (!this.util.isNumber(number)) {
        this.buyNum = this.buyNum.substring(0, this.buyNum.length - 1);
        that.tradTip.tip1 = true;
        clearTimeout(tipEndTimer);
        tipEndTimer = setTimeout(() => {
          that.tradTip.tip1 = false;
        }, 1000)
        return false;
      }
      let buyNumDp = BigNumber(this.buyNum).dp();
      let buyTotal = BigNumber(this.buyNum).multipliedBy(this.curRate).toNumber();
      let buyTotalDp = BigNumber(buyTotal).dp();

      this.total = this.priceToString(buyTotal, buyTotalDp, 2);
      this.tradNum = this.priceToString(this.buyNum, buyNumDp, 2);
      //console.log(this.defaultCoin);
      //console.log(this.coinsType);
      //console.log(this.curRate);
      //console.log(buyNumDp);
      this.getCoinList();

      const waitRates = async () => {
        const result = await this.getRateInfo();

      }
      //  console.log(this.curRate);
      //console.log(this.rateInfo);
      let rate = this.rateInfo.find(item => {
        return item.Swap == this.defaultCoin && item.Basic == this.coinsType;
      })
      this.getRateInfo();
      if (this.rateFlag && (this.defaultCoin != this.coinsType)) {
        var formatter = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: this.defaultCoin,

        });

        if (this.curRate) {
          var exchangePrice = val / this.curRate;
          console.log(exchangePrice);
          if (isNaN(exchangePrice)) {
            exchangePrice = 0;
          }
          console.log(exchangePrice);
          val = formatter.format(val);

          document.getElementById("RatesP").style.fontSize = 'small';

          document.getElementById("RatesP").innerText = this.language[this.curLanguage][4] + "  " + val + this.defaultCoin + " = " + " " + (exchangePrice) + " " + this.coinsType;
        } else {
          document.getElementById("RatesP").innerText = "";
        }

      } else {
        document.getElementById("RatesP").innerText = "";
      }
      return true;
    },


    selectType(val,systemIndex){
       this.coinsTradType = val;
       this.coinsTypeGroupIndex = systemIndex;
    },
   changeCoinType(val){
     this.curCoinType = val;
   },
   changeLanguage(val){

     this.curLanguage = val;
     this.$refs.pageHead.handleLan();

   },
   userLogout(){
      this.$router.push({name:'login'});
   }


  }

};
</script>





<style scoped lang="scss">

  main {
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(39, 40, 51) 0%, rgb(30, 32, 47) 100%) repeat scroll 0% 0%;
  }
  .wrap {
    min-height: 100vh;
    background: #fff;
    overflow: hidden;
    line-height: 1.1rem;
    font-size: .7rem;
  }

  .links-nav {
    padding: 0 .75rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #f4f5f7;
    span

  {
    color: #999;
  }

  a {
    color: #387ee2;
  }

  }

  .coins-buy-box {
    padding: 1rem 0;
    color: #fff;
   /* background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(39, 40, 51) 0%, rgb(30, 32, 47) 100%) repeat scroll 0% 0%;*/
    h3

  {
    font-size: 1.2rem;
    color: #717d9b;
    margin-bottom: .5rem;
    padding: 0 .75rem;
  }

  .buy-cell {
    padding: 1rem 0;
    border-radius: 0.25rem;
    &>div

  {
    padding: 0 .75rem;
  }

  & > p {
    color: #717d9b;
    padding: 0 .75rem;
  }

  .input {
    padding: .75rem;
    p

  {
    margin-bottom: 0.25rem;
    color: #fff;
  }

  }

  .input-cell {
    position: relative;
    .coins-type-group

  {
    position: absolute;
    right: 0;
    top: 0;
    width: 5rem;
  }

  i {
    position: absolute;
    right: .5rem;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    color: #717d9b
  }

  }

  .payment-type {
    padding: .5rem 1.5rem 0.75rem;
    border-bottom: 1px solid #3b455e;
    p

  {
    margin-bottom: 0.25rem;
    color: #fff;
  }

  .bank-info {
  }

  span {
    margin-right: .5rem;
  }

  i {
    font-size: .9rem;
    color: #387ee2;
  }

  em {
    display: block;
    margin-top: .25rem;
  }

  }

  .trad-info {
    padding: .5rem .75rem .3rem;
    li

  {
    height: 1.5rem;
    line-height: 1.5rem;
  }

  span {
    margin-right: .5rem;
    color: #fff
  }

  }

  .explain {
    padding: .5rem 1.5rem;
    padding-top: 0.75rem;
    p

  {
    color: #fff;
    padding-left: 1.5rem;
    position: relative;
  }

  i {
    margin-right: .25rem;
    color: #fff;
    font-size: 1rem;
    position: absolute;
    left: 0;
    top: .25rem;
    font-weight: normal;
    color: #04b695
  }

  }

  .btn-box {
    padding-top: 1rem;
    a,button

  {
    display: block;
    color: #fff;
    width: 100%;
    text-align: center;
    height: 2.25rem;
    line-height: 2.25rem;
    font-size: .8rem;
    border-radius: .15rem;
    background: #05c19e;
    cursor: pointer;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
  }

  }

  p.check-tip {
    position: absolute;
    background: #fff;
    color: #fff;
    padding: .5rem;
    border-radius: .25rem;
    bottom: 2rem;
    left: 50%;
    line-height: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
  }

    p.check-tip:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      border-width: .25rem;
      border-bottom-width: 0;
      border-top-color: #fff;
      left: calc(50% - 0.25rem);
      bottom: -0.25rem;
    }

  }

  .select-type {
    margin-bottom: 1rem;
    p

  {
    margin-bottom: .5rem;
    color: white;
  }

  span {
    float: left;
    min-width: 3.8rem;
    padding: 0 .5rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    border: 1px solid #fff;
    color: #fff;
    margin-right: 0.75rem;
    cursor: pointer;
    position: relative;
    margin-bottom: .5rem;
    i

  {
    display: none;
  }

  }

  span.active {
    i

  {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 1rem;
    width: 1.2rem;
    height: 1rem;
    overflow: hidden;
  }

  }
  }

  .select-type.payment-type-box {
    padding-top: .75rem;
    margin-bottom: .75rem;
  }

  .select-sell-bank {
    p

  {
    margin-bottom: 5px;
    color: #7f8cac;
    padding-top: 12px;
  }

  span {
    margin-right: 10px;
  }

  i {
    font-size: 18px;
    color: #387ee2;
  }

  em {
    display: block;
    margin-top: 2px;
  }

    em.nick {
      padding-top: 5px;
    }

  .bank-info {
    position: relative;
    padding-bottom: 20px;
    button

  {
    position: absolute;
    width: 90px;
    height: 35px;
    line-height: 35px;
    right: 0;
    top: -25px;
    background: #fefefe;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #ccc
  }

  button:hover {
    background: #fff;
  }

  }

  .sell-bank-list {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 0 0 20px;
    height: 410px;
    overflow: auto;
    z-index: 10;
    width: 92%;
    border-radius: .1rem;
    li

  {
    padding: 12px 50px 12px 20px;
    position: relative;
    cursor: pointer;
  }

  li:after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 0;
    right: 20px;
    height: 1px;
    background: #ccc;
  }

  li:hover {
    background: #1c2639;
  }

  li:last-child:after {
    height: 0;
  }

  span, em {
    color: #929cba;
  }

  item {
    span

  {
    color: #333;
  }

  }

  em.nick {
    color: #929fc2;
    padding-top: 0;
  }

  i {
    color: #306bc0;
    white-space: nowrap;
  }

    i.icon {
      position: absolute;
      right: 15px;
      display: none;
      font-size: 24px;
      top: 50px;
    }

  li:first-child {
    padding-top: 35px;
    i .icon

  {
    top: 60px;
  }

  }

  li.active {
    item

  {
    em

  {
    color: #333;
  }

  span {
    color: #387ee2;
  }

  }

  i {
    color: #387ee2
  }

    i.icon {
      color: #387ee2;
      display: block;
    }

  }
  }

  .item {
    margin-bottom: .4rem;
    span

  {
    color: #387ee2;
    font-size: .7rem;
  }

  em {
    font-size: .65rem;
    margin-top: 0;
  }

  }
  }
  }

  .mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    left: 0;
    top: 0;
    z-index: 9;
  }

  ::-webkit-scrollbar {
    background: #fff;
    width: 0;
    height: 0;
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #fff;
    width: 0;
    height: 0;
    display: none;
  }
</style>


<style lang="scss">
  .coins-type-group .el-input__inner {
    border: 0;
    background: none;
  }
</style>
