<template>
		<div class="wrap mobile">
      <pageHeader pageName="coinsTrade" @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
			<pageHeader2 ref="pageHead2" backFlag="no" :defaultLanguage="curLanguage" @changeLanguage="changeLanguage" />
      <main>
          <div class="w-1200">
             <div class="coins-buy-box theme-mobile">
                 <div class="links-nav">
                      <router-link to='/coinstrad'>{{language[curLanguage][25]}}</router-link>
                      <i class="icon icon-arrow-right"></i>
                      <span>{{language[curLanguage][14]}}</span>
                 </div>
                 <h3>{{language[curLanguage][14]}}</h3>

                 <div class="buy-cell">
                      <div class="order-number">
                          <p v-if="paymentCategory==0&&curLanguage==1"><span>{{language[curLanguage][3]}}:</span>{{orderNumber}}</p>
                          <p v-if="paymentCategory==0&&curLanguage==2"><span>{{language[curLanguage][3]}}:</span>{{orderNumber}}</p>
                          <p v-if="paymentCategory==1"><span>{{language[curLanguage][3]}}:</span>{{orderNumber}}</p>
                      </div>
                      <div class="trad-info">
                        <ul>
                          <li>
                            <span>{{language[curLanguage][4]}}</span>
                            <i>{{tradNumber}}</i>
                            <span>{{' '+ defaultSystemCoin}}</span>
                          </li>
                          <li>
                            <span>
                              <i>  1 </i> {{defaultSystemCoin}} = <i>{{parseFloat(orderInfo.t_pay_number/ tradNumber).toFixed(6) }} </i>{{' ' + orderInfo.t_pay_ccode}}
                            </span>
                          </li>
                          <li>
                            <span>{{language[curLanguage][5]}}</span>
                            <i>{{orderInfo.t_pay_number}}</i>
                            <span>{{' ' + orderInfo.t_pay_ccode}}</span>
                          </li>
                        </ul>
                      </div>
                      <div class="payment-type">
                           <p>{{language[curLanguage][6]}}:</p>
                           <div class="bank-info" v-if="paymentCategory==0">

                              <div class="item">
                                 <span>{{language[curLanguage][26]}}</span>
                                 <em>{{bankInfo.t_payee}}</em>
                              </div>
                              <div class="item">
                                 <span>{{language[curLanguage][27]}}</span>
                                 <em>{{bankInfo.t_bankid}}</em>
                              </div>
                              <div class="item" v-if="bankInfo.t_bic!=''">
                                 <span>{{language[curLanguage][28]}}</span>
                                 <em>{{bankInfo.t_bic}}</em>
                              </div>
                              <div class="item">
                                 <span>{{language[curLanguage][29]}}</span>
                                 <em>{{bankInfo.t_bankname}}</em>
                              </div>
                              <div class="item">
                                 <span>{{language[curLanguage][30]}}</span>
                                 <em>{{bankInfo.t_bank_address}}</em>
                              </div>

                              <!-- <span>{{language[curLanguage][7]}}</span>
                               <span>{{bankInfo.t_payee}}</span>
                               <i>{{bankInfo.t_bankid}}</i>
                               <em>{{bankInfo.t_bankname}},{{bankInfo.t_bank_address}}</em> -->

                           </div>
                           <div class="bank-info" v-else>
                               <span>{{language[curLanguage][8]}}</span>
                               <span>{{walletInfo.t_address}}</span>
                                <p> <img :src="walletInfo.t_remarks" style="width: 11.5rem;margin-top: .5rem;" /></p>

                           </div>

                      </div>

                      <div class="explain">
                          <p v-if="paymentCategory==0"><i class="icon icon-tip"></i>{{language[curLanguage][9]}}</p>
                          <p v-else><i class="icon icon-tip"></i>{{language[curLanguage][10]}}</p>
                      </div>

                      <div class="upload">
                          <div class="upload-box">
                          	<div class="photos">
                          		<span>{{language[curLanguage][11]}}</span>
                          		<div class="input photos">
                          		    <el-upload
                          			  ref="imgUpload"
                          			  :headers="uploadHead"
                          			  :action="uploadURL"
                          			  list-type="picture-card"
                          			  :limit="photos.numLimit"
                          	          :http-request="uploadStart"
                          	          :on-success="handlePhotosSuccess"
                          	          :before-upload="beforePhotosUpload"
                          			  :on-preview="handlePhotosPreview"
                          			  :upStatus="photos.uploadStatus"
                          			  :before-remove="handlePhotosBeforeRemove"
                          			  :fileType = "photos.fileType"
                          			  :on-remove="handlePhotosRemove">
                          			  <i class="el-icon-plus"></i>
                          			</el-upload>
                          			<el-dialog :visible.sync="photos.dialogVisible" size="tiny">
                          			  <img width="100%" :src="photos.dialogImageUrl" v-if="dialogType=='img'" alt="">
                          			</el-dialog>
                          		</div>
                          	</div>
                          </div>
                      </div>
                      <div class="btn-box">
                            <p style="margin-bottom: 20px;" class="verify-checkbox"><el-checkbox v-model="checked">{{language[curLanguage][12]}}</el-checkbox></p>
                           <button @click="uploadOrderImg" v-if="!!checked">{{language[curLanguage][13]}}</button>
                           <button class="dasable" v-if="!checked">{{language[curLanguage][13]}}</button>
                      </div>

                 </div>
             </div>

         </div>
			</main>
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeader.vue';
import pageHeader2 from '../../components/pageHeader2.vue';
import BigNumber from 'bignumber.js';
import {orderUpdateFile} from '../../utils/language'
import {apiStateList} from '../../utils/result-state'

export default {
  name: "coinsBuy",
  data: function() {
    return {
         isLogin:false,
        userLoginInfo:'',
        curCoinType:1,
        curLanguage:2,
        language:orderUpdateFile,
        orderNumber:'',
        tradCoinsType:null,
         photos:{
         		 dialogImageUrl: '',
         		 dialogVisible: false,
         		 uploadStatus:[],
         		 numLimit:4,
         		 fileType:[]
         },
         loading:{
             photos:false
         },
         uploadType:1,
         uploadHead:{
         		   'Content-Type':'application/x-www-form-urlencoded; charset=UTF-8'
         		   // 'Content-Type':'multipart/form-data'

         },
         uploadURL:this.$api.imgUploadURL,


         uploadData:{
         		  file:null,
         		  baseData:null
         },
         imgMaxWidth:800,
         imgMaxHeight:1000,
         formData:{
             Enclosure:[],
             BriefEnclosure:[]
         },
        nullArray:[],
        fileIsImg:false,
        dialogType:'img',
        checked:false,
        orderInfo:{},
        defaultCoin:'',
        defaultSystemCoin:'',
        tradNumber:'0.00',
        tradAmountTotal:'0.00',
        bankInfo:{
           t_name:'--'
        },
        walletInfo:{
           t_name:'--'
        },
        paymentCategory:0,
        resultStateList:apiStateList

    };
  },
  metaInfo() {
      return{
         title: this.curLanguage==1?'上传付款凭证-N Sky':'Upload payment voucher - N Sky',
      }

  },
  created(){

     const storeCoinType = this.localStore.getItem('curCoinType');
     const storeLanguage = this.localStore.getItem('curLanguage');

    this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
    this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage
     this.isLogin = this.util.isLogin();
     if(!!this.isLogin){
         this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));

     }else{
         this.$router.push({name:'login'});
         return;
     }

     this.tradCoinsType = this.$route.query.type;
     this.paymentCategory = this.$route.query.paymentCategory;
     this.orderNumber = this.$route.query.orderNum;
     this.getOrderInfo();
     this.defaultCoin = this.$route.query.c2;
     this.defaultSystemCoin = this.$route.query.c1;



  },

  components: {
    pageHeader,
    pageHeader2
  },
  methods: {
    getStateCodeText(code){
          let text = this.resultStateList.find(item=>{
             return item.code == code
          })
          if(this.curLanguage==1){
            return text.cn
          }else{
            return text.en
          }
    
    },
      changeCoinType(val){
        this.curCoinType = val;
      },
      changeLanguage(val){

        this.curLanguage = val;
        this.$refs.pageHead.handleLan();

      },
   priceToString(price,curDP,toDP){
      if(curDP==0&&toDP!=0){
          price += '.'
      }
      for(let i=0;i<toDP-curDP;i++){
          price+='0';
      }
      return price;
   },
   getOrderInfo(){
       const api = this.$api.url.getuserfiatorder;
       const params = {
          Device:'web',
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session,
          OrderId:this.orderNumber
       }
       this.$axios.get(api,{params:params})
       .then((res)=>{
           if(res.data.code==0){
               let data = res.data.data;
               if(data.length==0){
                  this.$message({
                    message:this.language[this.curLanguage][16],
                    type: "error",
                    center: true,
                    duration:1800
                  });
                  this.$router.push({name:'coinstrad'});
                  return;
               }
              this.orderInfo = data;
              let tradNumber = BigNumber(this.orderInfo.t_number).toNumber()
              let amountTotal = BigNumber(this.orderInfo.t_pay_number).toNumber()

              let numberDp = BigNumber(tradNumber).dp();
              let amountTotalDp = BigNumber(amountTotal).dp();

              this.tradNumber = this.priceToString(tradNumber,numberDp,2);
              this.tradAmountTotal = this.priceToString(amountTotal,amountTotalDp,2);

              let payNumberTotal = BigNumber(this.orderInfo.t_pay_number).toNumber();
              let payNumberTotalDp = BigNumber(payNumberTotal).dp();


              this.orderInfo.t_pay_number = this.priceToString(payNumberTotal,payNumberTotalDp,2);

              if(this.paymentCategory==0){
                this.getOrderBankCard();
              }else{
                this.getsystemwallet();
              }



           }else if(res.data.code==1011){

                 this.$refs.pageHead.logout();
                 this.isLogin = false;
                 this.$router.push({name:'login'});
           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:this.language[this.curLanguage][17]+ " "+this.language[this.curLanguage][15]+resultMsg,
               type: "error",
               center: true,
               duration:1800
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:180000
           })
         })
   },

   getOrderBankCard(){
       const api = this.$api.url.getinsystembank;
       const params = {
          Device:'web',
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session,
          Bid:this.orderInfo.t_doid
       }
       this.$axios.get(api,{params:params})
       .then((res)=>{
           if(res.data.code==0){
               this.bankInfo = JSON.parse(res.data.data);

               let bankidSplit = this.bankInfo.t_bankid.split('|');
               this.bankInfo.t_bankid = bankidSplit[0]
               if(bankidSplit.length>1){
                 this.bankInfo.t_bic = bankidSplit[1]
               }else{
                 this.bankInfo.t_bic = ''
               }

           }else if(res.data.code==1011){

                 this.$refs.pageHead.logout();
                 this.isLogin = false;
                 this.$router.push({name:'login'});
           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:this.language[this.curLanguage][18]+ " "+this.language[this.curLanguage][15]+resultMsg,
               type: "error",
               center: true,
               duration:1800
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:1800
           })
         })
   },

getsystemwallet(){
       const api = this.$api.url.getuserwallet;
       const params = {
          Device:'web',
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session,
          Bid:this.orderInfo.t_doid
       }
       this.$axios.get(api,{params:params})
       .then((res)=>{
           if(res.data.code==0){
               this.walletInfo = JSON.parse(res.data.data);

           }else if(res.data.code==1011){

                 this.$refs.pageHead.logout();
                 this.isLogin = false;
                 this.$router.push({name:'login'});
           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:this.language[this.curLanguage][19]+ " "+this.language[this.curLanguage][15]+resultMsg,
               type: "error",
               center: true,
               duration:1800
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:1800
           })
         })
   },

   handlePhotosSuccess(fileName,upType) {
         		console.log('msg')

         	const fileURL = fileName
   			var status;

                console.log('WWWWWWWWW')
   				status = this.photos.uploadStatus;
   				this.formData.Enclosure.push(fileURL);


   			const photosIndex = status.length-1

               status.splice(photosIndex,1,false);
   			// this.photos.fileType.splice(photosIndex,1,false);

   			 // this.videoPlayTime = 0;
               },
   	  uploadStart(){

   	  		  const that=this
   			  if(this.uploadType==1){
   				  var photosIndex = this.listBanner.uploadStatus.length-1
   			  }else{
   				  var photosIndex = this.photos.uploadStatus.length-1
   			  }



   // 				 let Orientation;
   // 				 //去获取拍照时的信息，解决拍出来的照片旋转问题
   // 				  EXIF.getData(this.uploadData.file, function(){
   // 				      Orientation = EXIF.getTag(this, 'Orientation');
   // 				  });

   				 var img = new Image()
   				 var reader = new FileReader();
   				 console.log(this.uploadData.file.size/1024/1024);

   				 reader.readAsDataURL(this.uploadData.file);
   				  reader.onload=function(){
   				 	img.src = this.result;
   				 }

   					 img.onload=function(){
   							  that.uploadData.baseData = that.getBase64Image(this);

   							  that.$axios.post(that.uploadURL,{file:that.uploadData.baseData})
   							  .then((res)=>{

   								 if(res.data.code!=0){
   									that.$message({
   									  message: this.language[this.curLanguage][20]+ " "+this.language[this.curLanguage][15]+resultMsg,
   									  type: "error",
   									  center: true
   									})
   									if(that.uploadType==1){
   									  that.listBanner.uploadStatus.splice(photosIndex,1);
   									  that.listBanner.fileType.splice(photosIndex,1);
   									}else{
   									  that.photos.uploadStatus.splice(photosIndex,1);
   									  that.photos.fileType.splice(photosIndex,1);
   									}

   								 }

   								if(res.data.code==0){
   									 that.handlePhotosSuccess(res.data.result,that.uploadType);
   								 }

   							  })

   					 }








   	 },

   	  getBase64Image(img) {
   	  			var canvas = document.createElement("canvas");
   	  			var context = canvas.getContext('2d');
   	  			//原始尺寸
   	  			var originWidth  = img.width;
   	  			var originHeight  = img.height;

   	  			//最大尺寸限制
   	  			var maxWidth = this.imgMaxWidth, maxHeight = this.imgMaxHeight;
   	  			// 目标尺寸
   	  			var targetWidth = originWidth, targetHeight = originHeight;

   	  			 // 图片尺寸超过设定的限制
   	  			if (originWidth > maxWidth || originHeight > maxHeight) {
   	  				if (originWidth / originHeight > maxWidth / maxHeight) {
   	  					// 更宽，按照宽度限定尺寸
   	  					targetWidth = maxWidth;
   	  					targetHeight = Math.round(maxWidth * (originHeight / originWidth));
   	  				} else {
   	  					targetHeight = maxHeight;
   	  					targetWidth = Math.round(maxHeight * (originWidth / originHeight));
   	  				}
   	  			}

   	  			// canvas对图片进行缩放
   	  			canvas.width = targetWidth;
   	  			canvas.height = targetHeight;
   	  			// 清除画布
   	  			context.clearRect(0, 0, targetWidth, targetHeight);
   	  			// 图片压缩
   	  			context.drawImage(img, 0, 0, targetWidth, targetHeight);

   // 				 //修复ios上传图片的时候 被旋转的问题
   // 				if( img!= "" && Orientation != 1){
   // 				  switch(Orientation){
   // 				    case 6://需要顺时针（向左）90度旋转
   // 				        this.rotateImg(img,'left',canvas);
   // 				        break;
   // 				    case 8://需要逆时针（向右）90度旋转
   // 				        this.rotateImg(img,'right',canvas);
   // 				        break;
   // 				    case 3://需要180度旋转
   // 				        this.rotateImg(img,'right',canvas);//转两次
   // 				        this.rotateImg(img,'right',canvas);
   // 				        break;
   // 				  }
   // 				}

   	  			var dataURL = canvas.toDataURL("image/jpeg", 0.8);
   	  			return dataURL;

   	  },
   	  beforePhotosUpload(file) {
   		  this.photos.uploadStatus.push(true);
   		  this.uploadType=2;
   		  const isIMG =  file.type.indexOf('image/')!=-1;
   		  const isWord =  file.type.indexOf('/msword')!=-1;
   		  const isPDF =  file.type.indexOf('/pdf')!=-1;
   		  const isVideo =  file.type.indexOf('/mp4')!=-1;
   		  // const isLt2M = file.size / 1024 / 1024 < 2;
             const photosIndex = this.photos.uploadStatus.length-1;
   		  let fileType = '';
   		  this.uploadData.file = file;

   		  if(!!isIMG){
   			  this.fileIsImg = true;
   			  fileType = 'img'
   		    }else{
   			  this.fileIsImg = false;
   		   }

   // 		  if(!!isWord){
   // 		    fileType = 'word'
   // 		  }
   // 		  if(!!isPDF){
   // 		  	fileType = 'pdf'
   // 		  }
   // 		  if(!!isVideo){
   // 		  	fileType = 'video'
   // 		  }

   		  this.photos.fileType.push(fileType);

   		  // const fileIsTrue = !!isIMG||!!isWord||!!isPDF||!!isVideo;
   		  const fileIsTrue = !!isIMG;
   		  console.log(fileIsTrue);
             this.uploadFilter(fileIsTrue,photosIndex);
   		  return fileIsTrue;
   	  },
   	  beforeBannerUpload(file) {
   	  		  this.listBanner.uploadStatus.push(true);
   	  		  this.uploadType=1;
   	  		  const isIMG =  file.type.indexOf('image/')!=-1;
   	  		  const isWord =  file.type.indexOf('/msword')!=-1;
   	  		  const isPDF =  file.type.indexOf('/pdf')!=-1;
   	  		  const isVideo =  file.type.indexOf('/mp4')!=-1;
   	  		  // const isLt2M = file.size / 1024 / 1024 < 2;
   	            const photosIndex = this.listBanner.uploadStatus.length-1;
   	  		  let fileType = '';
   	  		  this.uploadData.file = file;

   	  		  if(!!isIMG){
   	  			  this.fileIsImg = true;
   	  			  fileType = 'img'
   	  		    }else{
   	  			  this.fileIsImg = false;
   	  		   }


   	  		 this.listBanner.fileType.push(fileType);

   	  		  const fileIsTrue = !!isIMG;

   	            this.uploadFilter(fileIsTrue,photosIndex);
   	  		  return fileIsTrue;
   	  	  },

   	  uploadFilter(fileType,picIndex){
   		  if (!fileType) {
   		  	this.$message.error('文件格式不支持');
   		    this.photos.uploadStatus.splice(picIndex,1);
   			this.photos.fileType.splice(picIndex,1);
   		  }
   // 		  if (!fileLt) {
   // 		  	this.$message.error('上传图片太大');
   // 		    status=false;
   // 		  }

   	  },

   	  handlePhotosBeforeRemove(file, fileList){
   		  this.uploadType = 2;
   		  this.photos.removeIndex = fileList.indexOf(file);
        },
   	 handleBannerBeforeRemove(file, fileList){
   		  this.uploadType = 1;
   		  this.photos.removeIndex = fileList.indexOf(file);
   	 },
        handlePhotosRemove(file, fileList) {

   		if(this.uploadType==1){
   		   this.listBanner.uploadStatus.splice(this.photos.removeIndex,1);

   		   this.formData.BriefEnclosure.splice(this.photos.removeIndex,1);
   		}else{
   		   this.photos.uploadStatus.splice(this.photos.removeIndex,1);
   		   this.photos.fileType.splice(this.photos.removeIndex,1);
   		   this.formData.Enclosure.splice(this.photos.removeIndex,1);
   		}

        },
         handlePhotosPreview(file,index) {
   		console.log(index)
   		this.dialogType = file.fileType[index];
   		console.log(this.dialogType)
   		console.log(this.dialogType);
           this.photos.dialogImageUrl = file.url;
   		this.photos.dialogVisible = true;


         },

    uploadOrderImg(){

         if(this.formData.Enclosure.length==0){
             this.$message({
               message:this.language[this.curLanguage][22],
               type: "error",
               center: true,
               duration:1800
             })
             return;
         }
        const imgStr = this.formData.Enclosure.join('|');
        const api = this.$api.url.uploadOrderImg;
        const params = {
           Uid:this.userLoginInfo.userID,
           Token:this.userLoginInfo.session,
           Device:'web',
           OrderId:this.orderNumber,
           ImgUrl:imgStr
        }

         this.$axios.post(api,params)
        .then((res)=>{
            if(res.data.code==0){
              this.$message({
                message:this.language[this.curLanguage][23],
                type: "success",
                center: true,
                duration:1800
              })
              this.$router.push({name:'coinstrad'});
            }else if(res.data.code==1011){

                this.$refs.pageHead.logout();
                this.isLogin = false;
                this.$router.push({name:'login'});
            }else{
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message:this.language[this.curLanguage][24]+ " "+this.language[this.curLanguage][15]+resultMsg,
                type: "error",
                center: true,
                duration:1800
              })
            }

        }).catch((error)=>{
            this.$message({
              message: error,
              type: "error",
              center: true,
            duration:1800
            })
          })

    },

    selectType(val){
       this.coinsTradType = val
    },
   getSymbolList(index){
     this.symbolTypeIndex = index;
   },
   searchFocus(){
     this.symbolSearchFocus = true;
   },
   searchBlur(){
     this.symbolSearchFocus = false;
   },
   userLogout(){
      this.$router.push({name:'login'});
   }


  }

};
</script>





<style scoped lang="scss">

.wrap{min-height: 100vh;background: #fff;overflow: hidden;line-height: 1.1rem;font-size: .7rem;}

.links-nav{padding:0 .75rem;padding-bottom: .5rem;border-bottom: 1px solid #f4f5f7;margin-bottom: 1rem;
   span{color: #999;}
   a{color: #387ee2;}
}
.coins-buy-box{padding: 1rem 0;color: #929fc2;

   h3{font-size: 1.2rem;color: #717d9b;margin-bottom: .5rem;padding:0 .75rem;}
   .buy-cell{background: #fff; padding:.5rem 0;border-radius: .25rem;
      &>div{padding:0 .75rem;}

      .payment-type{padding:.5rem .75rem .75rem;border-bottom: 1px solid #f4f5f7;
        p{margin-bottom: .25rem;color: #687698;}
        .bank-info{}
        span{margin-right: .5rem;}
        i{font-size: .9rem;color: #387ee2;}
        em{display: block;margin-top: .1rem;}
      }
     .trad-info{padding:.5rem .75rem;border-bottom: 1px solid #f4f5f7;
        li{height: 1.5rem;line-height: 1.5rem;}
        span{margin-right: .5rem;color: #687698}

     }
      .explain{padding:.5rem .75rem;padding-top: .75rem;
         p{color:#687698;padding-left: 1.5rem;position: relative;}
         i{margin-right: .25rem;font-size: 1rem;position: absolute;left:.1rem;top:.2rem;font-weight: normal;color: #04b695}
      }
      .btn-box{margin:1.5rem 0 .5rem;
         a,button{display: block;color: #fff;width: 100%;text-align: center;height: 2.5rem;line-height: 2.25rem;font-size: .8rem;border-radius: .15rem;background: #387ee2;cursor: pointer;
         -webkit-transition:all .2s ease 0s;transition:all .2s ease 0s;}

         button.dasable{background: #91b9f2;color: #eee;cursor:not-allowed}
      }

      .item{margin-bottom: .1rem;
        span{color: #387ee2;font-size: .7rem;}
        em{font-size: .65rem;margin-top: 0;}

      }

   }


   .upload{margin-top: .75rem;
      span{display: block;margin-bottom: .5rem;color: #687698;}
   }

   .buy-cell .order-number{padding-bottom: .5rem;border-bottom: 1px solid #f4f5f7;line-height: 1.5rem;
       span{color: #687698;margin-right: .25rem;}

   }




}





  ::-webkit-scrollbar{
      background:#fff;width:0;height:0;display:none;
  }
  ::-webkit-scrollbar-thumb{
      background:#fff;width:0;height:0;display:none;
  }

  h4, .h4, h5, .h5, h6, .h6 {
      margin-top: 0;
      margin-bottom: 0;
  }

</style>

<style lang="scss">
    .o-u-f{
       .el-checkbox__label{
            float: left;

            white-space:normal;
            width: 16rem;
       }
       .el-checkbox__input{
           float:left;
       }
    }


</style>
