<template>
    <div class="wrap">
      <pageHeader pageName="coinsTrade" @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
         <main>
             <div class="w-1200">
                 <div class="table-wrap">
                     <div class="table-head">
                         <span v-if="curLanguage==1">{{takeCode}} {{language[curLanguage][1]}}</span>
                         <span v-if="curLanguage==2">Pick up the {{takeCode}}</span>
                     </div>
                     <div class="asset-list" v-loading="takeListLoading"
                         element-loading-background="rgba(47, 59, 85, 0.8)">

                          <div class="table">
                              <table>
                                   <tr>
                                       <th>{{language[curLanguage][2]}}</th>
                                       <th>{{language[curLanguage][3]}}</th>
                                       <th>{{language[curLanguage][4]}}</th>
                                       <th>{{language[curLanguage][5]}}</th>
                                   </tr>
                                   <tr>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                   </tr>
                                   <tr v-for="(item,index) in takeList" :key="index">
                                       <td>
                                           <div class="img-box">
                                               <img :src="item.t_img" />
                                           </div>
                                           <div class="name">
                                               <span>{{item.t_name}}</span>
                                           </div>
                                       </td>
                                       <td>{{item.t_ccode}}</td>
                                       <td>{{item.t_units}}</td>
                                       <td>
                                           <span @click="lookDetailInfo(item)" class="detail-btn">{{language[curLanguage][1]}}</span>
                                       </td>
                                   </tr>
                              </table>
                              <div class="empty" v-if="takeList.length==0">
                                  <span>{{language[curLanguage][6]}}</span>
                              </div>
                          </div>
                     </div>
                  </div>


                  <div class="table-wrap">
                      <div class="table-head">
                          <span>{{language[curLanguage][7]}}</span>
                      </div>
                      <div class="asset-list" v-loading="takeOrderLoading"
                          element-loading-background="rgba(47, 59, 85, 0.8)">

                           <div class="table">
                               <table>
                                    <tr>
                                        <th class="Order-id">{{language[curLanguage][8]}}</th>
                                        <th>{{language[curLanguage][9]}}</th>
                                        <th>{{language[curLanguage][10]}}</th>
                                        <th>{{language[curLanguage][11]}}</th>
                                        <th>{{language[curLanguage][12]}}</th>
                                        <th>{{language[curLanguage][13]}}</th>
                                        <th>{{language[curLanguage][14]}}</th>
                                        <th>{{language[curLanguage][5]}}</th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr v-for="(item,index) in takeOrderList" :key = "index">
                                        <td class="Order-id">{{item.t_tdid}}</td>
                                        <td>{{item.t_ccode}}</td>
                                        <td>{{item.t_number}}</td>
                                        <td>{{item.t_pay_number}}</td>
                                        <td>{{takeOrderstate[item.t_state]}}</td>
                                        <td>{{item.t_time}}</td>
                                        <td>{{item.t_etime}}</td>
                                        <td><span v-if="item.t_state!=0" @click="lookOrderDetailInfo(item.t_tdid)">{{language[curLanguage][25]}}</span></td>
                                    </tr>
                               </table>
                               <div class="empty" v-if="takeList.length==0">
                                   <span>{{language[curLanguage][6]}}</span>
                               </div>
                           </div>
                      </div>
                   </div>


             </div>

			   </main>

       <div class="popup-div-take theme-black" v-if="!!takeDetailDialog">
            <div class="wrap-box">
                <div class="img-box">
                    <img :src="curTakeInfo.t_img" />
                </div>
                <ul>
                    <li>
                      <span>{{language[curLanguage][2]}}：</span>
                      <i>{{curTakeInfo.t_name}}</i>
                    </li>
                    <li>
                      <span>{{language[curLanguage][3]}}：</span>
                      <i>{{curTakeInfo.t_ccode}}</i>
                    </li>
                    <li>
                      <span>{{language[curLanguage][4]}}：</span>
                      <i>{{curTakeInfo.t_units}}</i>
                    </li>
                    <!-- <li>
                      <span>{{language[curLanguage][12]}}：</span>
                      <i>{{takeOrderstate[curTakeInfo.t_state]}}</i>
                    </li> -->
                    <li class="description">
                      <span>{{language[curLanguage][15]}}：</span>
                      <div v-html="curTakeInfo.t_content"></div>
                    </li>
                    <li class="take-qt">
                      <span>{{language[curLanguage][10]}}：</span>
                      <input type="text" v-model="takeQt" :placeholder="language[curLanguage][16]" />
                      <p class="check-tip" v-if="takeTip.tip1">{{language[curLanguage][17]}}</p>
                    </li>
                    <li class="take-operation">
                      <button class="cancel" @click="closeDetailInfo">{{language[curLanguage][18]}}</button>
                      <button @click="addtakedelivery(curTakeInfo.t_tid)">{{language[curLanguage][19]}}</button>
                    </li>
                </ul>
            </div>
       </div>

       <div class="popup-div-take theme-black" v-if="!!takeOrderDetailDialog">
            <div class="wrap-box">
                <ul>
                    <li>
                      <span>{{language[curLanguage][8]}}：</span>
                      <i>{{takeOrderInfo.t_tdid}}</i>
                    </li>
                    <li>
                      <span>{{language[curLanguage][9]}}：</span>
                      <i>{{takeOrderInfo.t_ccode}}</i>
                    </li>
                    <li>
                      <span>{{language[curLanguage][10]}}：</span>
                      <i>{{takeOrderInfo.t_number}}</i>
                    </li>
                    <li>
                      <span>{{language[curLanguage][11]}}：</span>
                      <i>{{takeOrderInfo.t_pay_number}}</i>
                    </li>
                    <li>
                      <span>{{language[curLanguage][12]}}：</span>
                      <i>{{takeOrderstate[takeOrderInfo.t_state]}}</i>
                    </li>
                    <li class="description">
                      <span>{{language[curLanguage][15]}}：</span>
                      <div v-html="takeOrderInfo.t_message"></div>
                    </li>

                </ul>
            </div>
       </div>



       <!-- <div class="popup-div-take theme-black" v-if="!!popupTakeDialog">
            <ul>
                <li>

                <li>
                  <span>单位数量：</span>
                  <i>{{curTakeInfo.t_units}}</i>
                </li>
                <li>
                  <span>提货数量：</span>
                  <input type="text" v-model="takeQt" placeholder="请输入要提取的数量" />
                </li>
                <li class="take-operation">
                  <button class="cancel">取消</button>
                  <button>申请提货</button>
                </li>
            </ul>
       </div> -->

      <div class="mask" v-if="maskFlag" @click="closeDetailInfo"></div>
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeader.vue';
import BigNumber from 'bignumber.js';
import {Base64} from 'js-base64';
import {take} from '../../utils/language'
import {apiStateList} from '../../utils/result-state'
export default {
  name: "coinsBuy",
  data: function() {
    return {
         isLogin:false,
         curCoinType:1,
         curLanguage:2,
         language:take,
         userLoginInfo:{},
         isDisable:false,
         userInfo:{},
         coins:[],
         rateInfo:[],
         defaultCoin:'',
         defaultSystemCoin:'',

         openCoinDialog:false,
         openCoinDialogText:{
            text:'',
            btn1:'',
            btn2:'',
            type:1
         },
         takeTip:{
            tip1:false,
            tip2:false
         },
         tradNum:'',
         total:'0.00',
         takeCode:'',
         takeListLoading:false,
         takeList:[],
         curTakeInfo:{},
         takeDetailDialog:false,
         popupTakeDialog:false,
         takeQt:'',
         maskFlag:false,
         takeOrderList:[],
         takeOrderstate:{
            0:"申请中",
            1:"待提货",
            2:"提货完成",
            3:"用户取消",
            4:"后台取消"
         },
         takeOrderDetailDialog:false,
         takeOrderLoading:false,
         takeOrderInfo:{

         },
         resultStateList:apiStateList

    };
  },
  metaInfo: {
      title: '提货-MT5_CRM',
  },
  created(){



     const storeCoinType = this.localStore.getItem('curCoinType');
     const storeLanguage = this.localStore.getItem('curLanguage');

     this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
     this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage
     this.isLogin = this.util.isLogin();
     if(!!this.isLogin){
         this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
     }else{
         this.$router.push({name:'login'});
         return;
     }

     let tradCoinFlag = false;
     let storeTradCoinFlag = this.localStore.getItem('tradCoinFlag');

     if(!!storeTradCoinFlag){
         tradCoinFlag = storeTradCoinFlag
         this.localStore.removeItem('tradCoinFlag');
     }
     if(!tradCoinFlag){
         this.$router.push({name:'coinstrad'});
     }






     if(!!this.localStore.getItem('userInfo')){
         this.userInfo = JSON.parse(this.localStore.getItem('userInfo'))

     }else{
         this.getUserInfo();
     }

     if(!!this.$route.query.code){
       this.takeCode = this.$route.query.code;
     }

     this.settingAPIDataLanguage();
     this.gettakegoods(this.takeCode)
     this.gethtakedelivery();



  },

  components: {
    pageHeader
  },
  methods: {
   // popupTakeDiv(item){
   //     this.curTakeInfo = item;
   //     this.popupTakeDialog = true;
   // },
getStateCodeText(code){
          let text = this.resultStateList.find(item=>{
             return item.code == code
          })
          if(this.curLanguage==1){
            return text.cn
          }else{
            return text.en
          }

    },
  settingAPIDataLanguage(){
      let takeOrderstate = {
            0:this.language[this.curLanguage][20],
            1:this.language[this.curLanguage][21],
            2:this.language[this.curLanguage][22],
            3:this.language[this.curLanguage][23],
            4:this.language[this.curLanguage][24]
         }

      this.takeOrderstate =takeOrderstate

  },



   addtakedelivery(tid){

            let that = this;
            let numberCheckTip = this.numberCheckTip();

            if(!numberCheckTip){
                return;
            }

           const api = this.$api.url.addtakedelivery;

           const params = {
              uid:this.userLoginInfo.userID,
              token:this.userLoginInfo.session,
              device:'web',
              number:this.takeQt,
              tid:tid
           }

            this.isDisable = true;
            this.$axios.post(api,params)
           .then((res)=>{
               if(res.data.code==0){

                    this.$message({
                      message:this.language[this.curLanguage][27],
                      type: "success",
                      center: true,
                      duration:2000
                    })
                    this.gettakegoods(this.takeCode);
                    this.gethtakedelivery();
                    this.maskFlag = false;
                    this.takeDetailDialog = false;
                    this.gethtakedelivery();

               }else if(res.data.code==1007){
                   let resultMsg = this.getStateCodeText(res.data.code)
                   this.$message({
                     message:this.language[this.curLanguage][28]+' '+this.language[this.curLanguage][30]+' '+ this.language[this.curLanguage][29] + resultMsg,
                     type: "error",
                     center: true,
                     duration:2000
                   })
               }else{
                 let resultMsg = this.getStateCodeText(res.data.code)
                 this.$message({
                   message:this.language[this.curLanguage][28]+" "+ this.language[this.curLanguage][29]+resultMsg,
                   type: "error",
                   center: true,
                   duration:2000
                 })
               }

           }).catch((error)=>{
               this.$message({
                 message: error,
                 type: "error",
                 center: true,
               duration:2000
               })
             })
          setTimeout(()=>{
              this.isDisable = false;
          },1200)
       },

  gethtakedelivery(code){
      if(!!this.isDisable){return}
       console.log(this.userLoginInfo)
       const api = this.$api.url.	gethtakedelivery;
       const params = {
          uid:this.userLoginInfo.userID,
          token:this.userLoginInfo.session,
          device:'web'
       }

        this.isDisable = true;
        this.takeOrderLoading = true
        this.$axios.get(api,{params:params})
       .then((res)=>{
           if(res.data.code==0){

              this.takeOrderList = res.data.data

           }else if(res.data.code==1011){
               this.$refs.pageHead.logout();
               this.isLogin = false;
               this.$router.push({name:'login'});
           }else{
             let resultMsg = this.getStateCodeText(res.data.code)
             this.$message({
               message:this.language[this.curLanguage][28]+" "+ this.language[this.curLanguage][29]+resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }
           this.takeOrderLoading = false

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:2000
           })
         })
      setTimeout(()=>{
          this.isDisable = false;
      },1200)
  },
   numberCheckTip(val){
        const that = this;
        let tipEndTimer=null;
        let number = this.takeQt;
             if(!this.util.isIntNumber(number)||number==''){
                 this.takeQt = this.takeQt.substring(0,this.takeQt.length-1);
                 that.takeTip.tip1 = true;
                 clearTimeout(tipEndTimer);
                 tipEndTimer = setTimeout(()=>{
                      that.takeTip.tip1 = false;
                 },1000)
                 return false;
             }

        return true;
  },

   lookDetailInfo(item){
       this.curTakeInfo = item;
       this.curTakeInfo.t_content = decodeURI(this.curTakeInfo.t_content);
       this.maskFlag = true;
       this.takeDetailDialog = true;
   },
   lookOrderDetailInfo(id){
       this.gethtakedeliverybyid(id);
       this.maskFlag = true;
       this.takeOrderDetailDialog = true;
   },
   closeDetailInfo(){
     this.maskFlag = false;
     this.takeDetailDialog = false;
     this.takeOrderDetailDialog = false;
   },
   gethtakedeliverybyid(id){

       const api = this.$api.url.gethtakedeliverybyid;
        const params = {
           uid:this.userLoginInfo.userID,
           token:this.userLoginInfo.session,
           device:'web',
           id:id
        }



         this.$axios.post(api,params)
        .then((res)=>{
            if(res.data.code==0){

              this.takeOrderInfo = res.data.data


               this.takeOrderInfo.t_message = Base64.decode(this.takeOrderInfo.t_message);

            }else if(res.data.code==1011){
                this.$refs.pageHead.logout();
                this.isLogin = false;
                this.$router.push({name:'login'});
            }else{
              let resultMsg = this.getStateCodeText(res.data.code)
              this.$message({
                message:this.language[this.curLanguage][28]+" "+ this.language[this.curLanguage][29]+resultMsg,
                type: "error",
                center: true,
                duration:2000
              })
            }

        }).catch((error)=>{
            this.$message({
              message: error,
              type: "error",
              center: true,
            duration:2000
            })
          })
       setTimeout(()=>{

       },1200)

   },
   gettakegoods(code){



        const api = this.$api.url.gettakegoods;
        const params = {
           uid:this.userLoginInfo.userID,
           token:this.userLoginInfo.session,
           device:'web',
           ccode:code
        }


         this.takeListLoading = true;
         this.$axios.post(api,params)
        .then((res)=>{
            if(res.data.code==0){

               this.takeList = res.data.data
               this.takeList.forEach(item=>{
                  item.t_content = Base64.decode(item.t_content);
               })

               console.log('/////bbb')

               console.log(this.takeList)


            }else if(res.data.code==1011){
                this.$refs.pageHead.logout();
                this.isLogin = false;
                this.$router.push({name:'login'});
            }else{
              let resultMsg = this.getStateCodeText(res.data.code)
              this.$message({
                message:this.language[this.curLanguage][28]+" "+ this.language[this.curLanguage][29]+resultMsg,
                type: "error",
                center: true,
                duration:2000
              })
            }
            this.takeListLoading = false;
        }).catch((error)=>{
            this.$message({
              message: error,
              type: "error",
              center: true,
            duration:2000
            })
          })
       setTimeout(()=>{

       },1200)
   },



    priceToString(price,curDP,toDP){


       if(curDP==0&&toDP!=0){
           price += '.'
       }
       for(let i=0;i<toDP-curDP;i++){

           price+='0';
       }

       return price;
    },


    getUserInfo(){
        const api = this.$api.url.userInfo;
        const params = {
           device:'web',
           uid:this.userLoginInfo.userID,
           token:this.userLoginInfo.session
        }
        this.$axios.get(api,{params:params})
        .then((res)=>{
            if(res.data.code==0){
              this.userInfo = JSON.parse(res.data.data);
              // this.userInfo.u_country = this.userCountry;
              this.localStore.setItem('userInfo',this.userInfo)
              if(this.userInfo.cstate>0){
                this.coinsTradType = 0
              }else{
                if(this.userInfo.astate>0){
                  this.coinsTradType = 1
                }
              }

            }else if(res.data.code==1011){

                this.$refs.pageHead.logout();
                this.isLogin = false;
                this.$router.push({name:'login'});
            }else{
              let resultMsg = this.getStateCodeText(res.data.code)
              this.$message({
                message:this.language[this.curLanguage][28]+" "+ this.language[this.curLanguage][29]+resultMsg,
                type: "error",
                center: true,
                duration:2000
              })
            }

        }).catch((error)=>{
            this.$message({
              message: error,
              type: "error",
              center: true,
            duration:2000
            })
          })

    },





   changeCoinType(val){
     this.curCoinType = val;
   },
   changeLanguage(val){
     console.log(val)
     this.curLanguage = val;

   },
   userLogout(){
      this.$router.push({name:'login'});
   }


  }

};
</script>





<style scoped lang="scss">


.wrap{min-height: 100vh;background: #232c42;overflow: hidden;color:#aeb9d8;}
.wrap{min-height: 100vh;background: #232c42;overflow: hidden;}
.w-1200{width: inherit;margin:0 auto;padding-top: 20px;padding-bottom: 100px;}
///
.order-list,.asset-list{background: #2f3b55;padding-bottom: 10px;border-radius:5px;overflow: hidden;
  .tab-head{height: 50px;background: #4e5d7e;border-radius: 5px 5px 0 0;
    span{float: left;height: 100%;position: relative;padding:0 20px;line-height: 50px;cursor: pointer;}
    span:hover{color: #bec7e1;}
    span.active{color: #fff;
       &:before{content: ' ';position:absolute ;width:50%;height: 3px;background: #fff;left:50%;bottom: 5px;-webkit-transform:translate(-50%,0);transform:translate(-50%,0);}
    }
  }
  .table{
     table{width: 100%;
       th{border-bottom: 1px solid #3b455e;height: 50px;color: #7783a2;}

       td{height: 40px;text-align: center;
         .img-box{float:left;position: relative;width:50px;height: 50px;
            img{position: absolute;top:50%;-webkit-transform: translate(0,-50%);transform: translate(0,-50%);}
         }
         .name{height:50px;padding-left: 68px;position: relative;
            span{position: absolute;left:68px;top:50%;-webkit-transform: translate(0,-50%);transform: translate(0,-50%);color: #aeb9d8;}
         }
         span{color:#387ee2;cursor: pointer;}
         i.order-type{margin-right: 10px;color: #fff;font-size: 12px;padding:0 5px;float: left;border-radius: 50px;border:1px solid #05c19e;color: #05c19e;}
         i.order-type.sell{border-color: #e04545;color: #e04545;}
         button{background:#05c19e;color: #fff;float:right;margin-left: 5px;width: 50px;height: 30px;line-height: 30px;text-align: center;border-radius: 2px;cursor: pointer;
         -webkit-transition:all .2s ease 0s;transition:all .2s ease 0s;}
         a{color: #fff;margin-left: 5px;}
         .en{width:75px;}

         button{background: #e04545;}
         button:hover{background: #d63c3c}
       }
       th:first-child,td:first-child{text-align: left;padding-left: 20px;width:210px;}
       th:last-child,td:last-child{text-align: right;padding-right: 20px;width:210px;}

       tr:nth-child(2){

          td{height: 15px;}
       }
     }

  }
  .empty{text-align: center;padding: 30px 0 20px;}

}

.table-wrap{margin-bottom: 50px;}

.table-wrap .asset-list .table table{
  th,td{width:150px;}
  .balance{width:860px;text-align: left;padding-left: 15px;}
  th{background: #42506e;}
  td{border-bottom: 1px solid #3b455e;
    img{max-width:50px;}
  }
  tr:last-child,tr:nth-child(2){
    td{border:0}
  }



}

.table-head{color: #fff;font-size: 18px;margin:0 0 15px;}


.popup-div-take{position: fixed;z-index: 10;width:500px;left:50%;top:50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);background: #2f3b55;border-radius: 5px;padding:15px;padding-right: 0;padding-top:0;border-radius:5px;overflow: hidden;
   .wrap-box{overflow: auto;height: 520px;padding-right: 15px;padding-top: 15px;}
   li{margin-top:8px ;}
   img{max-width: 150px;}
   span{color: #7783a2;}
   input{width:350px;height: 35px;border:0;background: #000;color: #fff;border-radius: 3px;padding:0 10px;}
   button{height: 35px;min-width:80px;padding:0 10px;margin:0 8px;border-radius: 3px;border:0;background: #e04545;color:#fff;cursor: pointer;}
   button.cancel{background: #bbb;}
   .take-operation{margin-top: 20px;}
   .description{margin-top: 15px;border-top: 1px dashed #566585;padding-top: 20px;
     span{font-size: 18px;display:block;margin-bottom: 10px;}
     img{max-width:100%}
   }
   .take-qt{position: relative;margin-top: 30px;border-top: 1px dashed #566585;padding-top: 30px;}
}
.mask{position: fixed;width:100%;height: 100%;background: rgba(0,0,0,.5);left:0;top:0;}

.check-tip{position: absolute;background: #fff;color: #333;padding:10px;border-radius: 5px;bottom:40px;left:50%;line-height: 20px;
     white-space:nowrap;text-overflow:ellipsis;
    -webkit-transform:translate(-50%,0);transform:translate(-50%,0);
  }
.check-tip:after{
     position: absolute;content: "";width:0;height: 0;border-style:solid;border-color:transparent;
     border-width: 5px;border-bottom-width:0;border-top-color:#fff;left:calc(50% - 5px);bottom:-5px;
  }


  ::-webkit-scrollbar{
      background:#192742;width:5px;height:0;
  }
  ::-webkit-scrollbar-thumb{
      background:#42506e;width:5;height:0;
  }


  h4, .h4, h5, .h5, h6, .h6 {
      margin-top: 0;
      margin-bottom: 0;
  }



</style>



<style lang="scss">
  .popup-div-take{
    .description{
         img{max-width: 100%;height: auto !important;}
    }
  }


</style>
