  <template>
		<div class="wrap mobile">
      <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
      <pageHeader2 ref="pageHead2" backFlag="no" :defaultLanguage="curLanguage" @changeLanguage="changeLanguage" />
			<main>
          <div class="box">
              <ul>
                  <li class="clearfix">
                      <span>{{language[curLanguage][1]}}</span>
                      <input type="text" v-model.trim="couponNumber" />
                      <p class="check-tip" v-if="checkTip1">{{language[curLanguage][3]}}</p>
                  </li>
              </ul>
              <div class="btn">
                  <button @click="getCoupon">{{language[curLanguage][2]}}</button>

              </div>
          </div>
      </main>
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeader.vue'
import pageHeader2 from '../../components/pageHeader2.vue'
import {wealthCoupons} from '../../utils/language'
import BigNumber from 'bignumber.js';
import moment from 'moment'
import {apiStateList} from '../../utils/result-state'
export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         language:wealthCoupons,
         resultStateList:apiStateList,
         userInfo:{
            configure:{

            }

         },
         couponNumber:'',
         checkTip1:false,
         checkTipTimer:null



    };
  },
  metaInfo() {
      return{
         title: this.curLanguage==1?'理财券-N Sky':' Wealth coupons - N Sky',
      }

  },
  created(){


      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');

     this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
     this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

     this.isLogin = this.util.isLogin();
     if(!!this.isLogin){
         this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
         this.getUserInfo();
     }else{

         this.localStore.setItem('fromPage','wealthCoupons');
         this.$router.push({name:'login'});
         return;
     }





  },

  components: {
    pageHeader,
    pageHeader2
  },
  methods: {



    changeCoinType(val){
      this.curCoinType = val;
    },
    changeLanguage(val){

      this.curLanguage = val;
      this.settingAPIDataLanguage();
    },

   getUserInfo(){
       const api = this.$api.url.userVerify1;
       const params = {
          Device:'web',
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session
       }
       this.$axios.get(api,{params:params})
       .then((res)=>{
           if(res.data.code==0){
              let data = JSON.parse(res.data.data);
              this.userInfo = data

              if(this.userInfo.configure==null){
                 this.userInfo.configure = {
                    t_actuals_gid: null,
                    t_actuals_state: null,
                    t_actuals_uid: null,
                    t_futures_gid: null,
                    t_futures_state: null,
                    t_futures_uid: null,
                    t_other_gid: null,
                    t_other_state: null,
                    t_other_uid: null,
                    t_shares_gid: null,
                    t_shares_state: null,
                    t_shares_uid: null,
                    t_uid: null
                 }
              }


             // this.userInfo.u_country = this.userCountry;
             this.localStore.setItem('userInfo',this.userInfo)


             if(data.configure.t_actuals_state == 2||data.configure.t_futures_state == 2||data.configure.t_shares_state == 2||data.configure.t_other_state == 2){
                this.assetStateFlag = true;
             }

           }else if(res.data.code==1011||res.data.code==1006){

               this.$refs.pageHead.logout();
               this.isLogin = false;
               this.$router.push({name:'login'});
           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:2000
           })
         })

   },

   getCoupon(){

       if(this.couponNumber==''){

           this.checkTip1 = true;
           clearTimeout(this.checkTipTimer);
           this.checkTipTimer = setTimeout(()=>{
                this.checkTip1 = false;
           },1000)
           return false;
       }

       const api = this.$api.url.getCoupon;
       const params = {
          Device:'web',
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session,
          CouponNumber:this.couponNumber
       }



       this.$axios.get(api,{params:params})
       .then((res)=>{
           if(res.data.code==0){
               this.$message({
                 message:this.language[this.curLanguage][4],
                 type: "success",
                 center: true,
                 duration:2000
               })

           }else if(res.data.code==1011||res.data.code==1006){

               this.$refs.pageHead.logout();
               this.isLogin = false;
               this.$router.push({name:'login'});
           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:this.language[this.curLanguage][44]+ this.language[this.curLanguage][39]+resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:2000
           })
         })

   },

   getStateCodeText(code){
         let text = this.resultStateList.find(item=>{
            return item.code == code
         })
         if(this.curLanguage==1){
           return text.cn
         }else{
           return text.en
         }
   
   },

    handlePaginationIndex(val){
        this.orderList.pageIndex = val;
        this.getUserOrder();

    },
   userLogout(){
      this.$router.push({name:'login'});
   }


  }

};
</script>









<style scoped lang="scss">

       .box{margin: 3rem .75rem;border:1px solid #eee;border-radius: .25rem;padding:2.5rem 1rem;
          ul{margin:0}
          li{min-height: 2.5rem;line-height: 2.5rem;padding-left: 1.5rem;position: relative;
            span{float: left;margin-right: .75rem;}
            input{float: left;border:1px solid #eee;width: 14rem;height: 2rem;margin:.15rem 0 0 0;padding-left: .5rem;}
          }
          .btn{text-align: center;margin-top: 2.5rem;

            button{width: 6rem;height: 1.75rem;background-color: #387ee2;color: #fff;border-radius: .15rem;}
          }
       }

       .check-tip{position: absolute;background: #333;color: #fff;padding:.5rem;border-radius: .25rem;bottom:2.75rem;left:50%;line-height: 1rem;
          white-space:nowrap;text-overflow:ellipsis;
         -webkit-transform:translate(-50%,0);transform:translate(-50%,0);
       }
       .check-tip:after{
          position: absolute;content: "";width:0;height: 0;border-style:solid;border-color:transparent;
          border-width: .25rem;border-bottom-width:0;border-top-color:#333;left:calc(50% - .25rem);bottom:-.25rem;
       }

</style>
