@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
:root {
  --border-radius: 0.25rem;
  --font: 'Open Sans', sans-serif;
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(160, 160, 160, 1);
  --dark-gray: rgba(77, 82, 90, 1);
  --green: rgba(123, 207, 116, 1);
  --graph-grey: rgba(237, 237, 237, 0.75);
  --graph-purple: rgba(111, 105, 173, 0.75);
  --transition-duration: 1s;
}

* {
  box-sizing: border-box;
}


.container2 {
  display: flex;
    padding: 0px!important;
  flex-direction: column;
  width: 800px;
}

.row {
  display: flex;
  justify-content: space-between;
}

/*.card2 {
  display: block;
    height: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    padding: 4.2em 1.5em 2.5em 1.5em;
  background: var(--white);
  margin: 0.85em;
  border-radius: var(--border-radius);
}*/
.card--dark2 {
  background: #eaeffd;
}

.card__header2 {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.card__title2,
.card__sub-title2 {
font-size: 1em;
  color: var(--gray);
  text-align: center;
  line-height: 1;
}

.card__title2 {
  text-transform: uppercase;
}

.card__title--notification2 {
  position: relative;
}
.card__title--notification2::after {
  content: '';
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background: var(--green);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(0.35rem);
}

.card__sub-title,2
.card__sub-title2 a {
  color: var(--dark-gray);
}

.card__price2,
.card__progess2 {
    font-size: 2em;
  font-family: 'Roboto Slab', serif;
  line-height: 1;
  padding: 0.25rem 0;
}

.card__progess2 {
  font-size: 1.75em;
}

.card__inner2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card__inner2 > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__link2 {
  text-decoration: underline;
}

.graph2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 2.75rem;
  position: relative;
}
.graph2::after {
  content: '';
  width: 100%;
  height: 1px;
  margin: 0 auto;
  z-index: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-bottom: 1px dashed var(--gray);
}

.graph__line2 {
  flex: 1;
  background: var(--graph-grey);
  height: 20%;
  width: 0.7em;
  margin: 0 0.05rem;
  border-radius: 0.15rem;
  z-index: 1;
  position: relative;
}

.graph__line--active2 {
  background: var(--graph-purple);
}
.graph__line--activ2e:nth-child(1) {
  height: 65%;
}
.graph__line--active2:nth-child(2) {
  height: 55%;
}
.graph__line--active2:nth-child(3) {
  height: 75%;
}
.graph__line--active2:nth-child(4) {
  height: 45%;
}
.graph__line--active2:nth-child(4) {
  height: 55%;
}
.graph__line--active2:nth-child(5) {
  height: 65%;
}
.graph__line--active2:nth-child(6) {
  height: 55%;
}

/********************************************

  Animations

********************************************/
.animateCardTop {
  animation: flyInTop var(--transition-duration);
}

.animateCardBottom {
    position: relative;
  animation: flyInBottom var(--transition-duration);
}

@keyframes flyInTop {
  from {
    transform: translateY(-300%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes flyInBottom {
  from {
    transform: translateY(3%);
    opacity: 0;
  }
  to {
    transform: translateY(50);
    opacity: 1;
  }
}
.dribble {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: var(--white);
  transition: transform 0.3s ease-in-out;
}
.dribble:hover {
  transform: translateY(-0.5rem);
}