<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">İşlem hesabı türü</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">İşlem hesabı türü</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>Bize Ulaşın</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row text-center hidden-xs hidden-sm hidden-l-sm top80">
              <div class="feature-item6">
                <i class="  tfxfont3 xmHigh-bars red fs100"></i>
                <p class="top30">Mükemmel ticaret ortamı</p></div>
              <div class="feature-item6">
                <i class="  tfxfont3 xmArrows red fs100"></i>
                <p class="top30">Standart lot ticareti
                  <br>veya
                  <br>Mikro el</p></div>
              <div class="feature-item6">
                <i class="  tfxfont3 xmChart red fs100"></i>
                <p class="top30">MT5 ve Uzman Danışmanlara sınırsız erişim</p></div>
              <div class="feature-item6">
                <i class="  tfxfont3 xmInfinity red fs100"></i>
                <p class="top30">Ücretsiz günlük piyasa güncellemeleri ve teknik analiz</p></div>
              <div class="feature-item6">
                <i class="  tfxfont3 xmScale red fs100"></i>
                <p class="top30">Tüm hesap türleri için aynı yürütme kalitesi</p></div>
              <div class="feature-item6">
                <i class="  tfxfont3 xmGlobe red fs100"></i>
                <p class="top30">Çok dilli müşteri hizmetleri desteği ve kişisel hesap yöneticisi</p></div>
            </div>
            <div class="dis60 hidden-xs"></div>
            <div class="dis40 visible-xs"></div>
            <div class="row ">
              <div class="col-md-12">
                <h2>NBS ticaret hesabı türleri</h2>
                <div class="dis40 hidden-xs"></div>
                <div class="divTable clone-11  sharesAccount" style="height: 1265px;">
                  <div class="area-11" style="height: 1265px;">
                    <h3 class="titleRed">Mikro hesap</h3>
                    <div class="content">
                      <ul class="area-5" style="height: 104px;">
                        <li class="title">İsteğe bağlı temel para birimi</li>
                        <li class="text">USD</li></ul>
                      <ul class="area-4" style="height: 104px;">
                        <li class="title">Sözleşme boyutu</li>
                        <li class="text">1 lot = 1.000 birim</li></ul>
                      <ul class="area-2" style="height: 146px;">
                        <li class="title">kaldıraç*</li>
                        <li class="text">1:1 to 1:100 </li></ul>
                      <ul>
                        <li class="title">Negatif bakiye koruma politikası</li>
                        <li class="text">
                          <i class="fa fa-check"></i>
                        </li>
                      </ul>
                      <ul class="area-6" style="height: 84px;">
                        <li class="title">Ana akım döviz çifti yayılır</li>
                        <li class="text">1 puan kadar düşük</li></ul>
                      <ul>
                        <li class="title">Hizmet bedeli</li>
                        <li class="text">
                          <i class="fa fa-times"></i>
                        </li>
                      </ul>
                      <ul>
                        <li class="title">Tek bir müşteri için maksimum açık / bekleyen emir sayısı</li>
                        <li class="text">200单</li></ul>
                      <ul class="area-7" style="height: 84px;">
                        <li class="title">Minimum işlem hacmi</li>
                        <li class="text">
                          <br>0.1Lot (MT5)
                          <br></li></ul>
                      <ul class="area-8" style="height: 84px;">
                        <li class="title">Lot başına limit</li>
                        <li class="text">100 lot</li></ul>
                      <ul>
                        <li class="title">Kilide izin ver</li>
                        <li class="text">
                          <i class="fa fa-check"></i>
                        </li>
                      </ul>

                      <ul>
                        <li class="title">Minimum depozito</li>
                        <li class="text">5 USD</li></ul>
                    </div>
                    <div class="content">
                      <ul>
                        <li class="text-center">
                          <div class="dis20"></div>
                          <router-link to="/register" class="btn btn-solid btn-red center-block">Hesap oluştur</router-link>
                          <div class="dis20"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="divTable clone-11  sharesAccount" style="height: 1265px;">
                  <div class="area-11" style="height: 1265px;">
                    <h3 class="titleGray">Standart hesap</h3>
                    <div class="content">
                      <ul class="area-5" style="height: 104px;">
                        <li class="title">İsteğe bağlı temel para birimi</li>
                        <li class="text">USD</li></ul>
                      <ul class="area-4" style="height: 104px;">
                        <li class="title">Sözleşme boyutu</li>
                        <li class="text">1Lot = 100,000Birimler</li></ul>
                      <ul class="area-2" style="height: 146px;">
                        <li class="title">kaldıraç*</li>
                        <li class="text">1:1 to 1:100 </li></ul>
                      <ul>
                        <li class="title">Negatif bakiye koruma politikası</li>
                        <li class="text">
                          <i class="fa fa-check"></i>
                        </li>
                      </ul>
                      <ul class="area-6" style="height: 84px;">
                        <li class="title">Ana akım döviz çifti yayılır</li>
                        <li class="text">Kadar düşük 1 Puanlar</li></ul>
                      <ul>
                        <li class="title">Hizmet bedeli</li>
                        <li class="text">
                          <i class="fa fa-times"></i>
                        </li>
                      </ul>
                      <ul>
                        <li class="title">Tek müşteri için maksimum açık/Bekleyen siparişlerin sayısı</li>
                        <li class="text">200 tek</li></ul>
                      <ul class="area-7" style="height: 84px;">
                        <li class="title">Minimum işlem hacmi</li>
                        <li class="text">0.01 Lot</li></ul>
                      <ul class="area-8" style="height: 84px;">
                        <li class="title">每单手数限制</li>
                        <li class="text">50Lot</li></ul>
                      <ul>
                        <li class="title">Kilide izin ver</li>
                        <li class="text">
                          <i class="fa fa-check"></i>
                        </li>
                      </ul>

                      <ul>
                        <li class="title">Minimum depozito</li>
                        <li class="text">5USD</li></ul>
                    </div>
                    <div class="content">
                      <ul>
                        <li class="text-center">
                          <div class="dis20"></div>

                          <router-link to="/register" class="btn btn-solid btn-red center-block">Hesap oluştur</router-link>
                          <div class="dis20"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="dis10"></div>

                <small class="atnotecn">* Kaldıraç uygulama kapsamı, NBS Grubu tarafından tutulan tüm alım satım hesaplarındaki toplam fon tutarına göre hesaplanır.</small></div>
            </div>
          </div>
          <div class="container top115 option-type info">
            <div class="row">
              <div class="col-md-12">
                <i class="info"></i>
                <p>Yukarıdaki tablo sadece referans içindir. NBS, her müşteri için çözümler üretmekten mutluluk duyar. Para yatırma para birimi USD değilse，
                  <br>Ardından son ekran, USD'den para yatırma para birimine dönüştürülen miktar olacaktır.</p>
                <div class="top80"></div>
                <p>Sunucularımızın en iyi performansını sağlamak ve
                  <span class="text-underline">Sipariş yürütme politikası</span>Standartta uzun süredir kullanılmayan hesapların takip edilmesi gerekiyor
                  <a href="javascript:">Hesap kapatma ve arşivleme politikası</a>。</p>
                <p>Eğer sen
                  <router-link to="/forex-trading">Döviz</router-link>Acemi，Sonra
                  <strong>
                    <a href="/cn/forex-demo">Demo hesabı</a></strong>Ticaret potansiyelinizi test etmek için en iyi seçimdir. Kâr ve zarar simüle edildiği için herhangi bir risk almadan sanal fonlarla işlem yapabilirsiniz. Ticaret stratejilerini test ettikten, piyasa trendlerinde ustalaşmayı ve sipariş vermeyi öğrendikten sonra, bir sonraki adıma başlayabilir, gerçek bir hesap oluşturabilir ve gerçek fonlarla ticaret yapabilirsiniz.</p>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row">
              <div class="col-md-12">
                <div class="panel-group" id="accordion1">
                  <!-- What is a Forex Trading Account? -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Döviz ticaret hesabı nedir？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Noble Sky döviz hesabı, sahip olduğunuz bir ticaret hesabıdır ve banka hesabınıza benzer, ancak aralarındaki fark, esas olarak para birimi işlemleri için kullanılmasıdır.</p>
                        <p>Yukarıdaki gibi，Noble Sky döviz alım satım hesabı şunları içerir:：
                          <strong>Standard</strong>ile
                          <strong>Micro</strong>İki tip.</p>
                        <p>Lütfen yapabileceğinizi unutmayın
                          <span class="text-underline">Noble SkyTüm platformlar</span>Döviz (veya döviz) işlemleri gerçekleştirin.</p>
                        <p>Kısacası, kendi ticaret hesabınızla giriş yapabilirsiniz:</p>
                        <ul class="ftr-faq">
                          <li>1. CRM merkez</li>
                          <li>2. MT5 platform</li></ul>
                        <p>Noble Sky'da bir döviz alım satım hesabına kaydolduğunuzda, Noble Sky'ın gönderdiğiniz kişisel bilgilerin doğru olduğundan ve paranızın ve hesap bilgilerinizin doğru olduğundan emin olması gereken basit bir veri süreci incelemesinden geçmeniz gerekir. Emniyet.</p>
                        <p>Döviz alım satım hesabı açıldıktan sonra, hesap bilgilerinizi doğrulayabileceğiniz, MT5 hesabınızı etkinleştirebileceğiniz ve para yatırıp çekebileceğiniz Noble Sky'ın CRM merkezine giriş yapabilirsiniz.</p>
                        <p>Ticaret hesabı giriş bilgileriniz MT5 işlem platformuyla eşleşecek ve sonunda işlemlerinizi gerçekleştirmek için kullanılacaktır. CRM'de gerçekleştirdiğiniz herhangi bir para yatırma veya çekme veya diğer değişiklikler MT5 işlem platformuna yansıtılacaktır.</p>

                      </div>
                    </div>
                  </div>
                  <!-- What is a Multi-Asset Trading Account? -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Çok varlıklı ticaret hesabı nedir？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Noble Sky çok varlıklı ticaret hesabı, banka hesabınıza benzer bir hesaptır, ancak aradaki fark, amacının döviz, hisse senedi endeksi CFD'leri ve değerli metal enerji CFD'leri ticareti yapmak olmasıdır.</p>
                        <p>Yukarıdaki gibi，Noble Sky Çok varlıklı ticaret hesaplarının arasında şunlar bulunur:
                          <strong>Micro</strong>ile
                          <strong>Standard</strong>İki tip.</p>
                        <p>Çok varlıklı ticaret hesaplarının yalnızca MT5'te kullanılabileceğini ve Noble Sky çevrimiçi tüccarlarına erişebileceğini lütfen unutmayın.</p>
                        <p>Genel olarak, çok varlıklı bir ticaret hesabı kullanabilirsiniz</p>
                        <ul class="ftr-faq">
                          <li>1. oturum açCRM</li>
                          <li>2. oturum açMT5平台</li>
                          <li>3. oturum açNoble SkyWeb terminali</li></ul>
                        <p>Noble Sky'da bir döviz alım satım hesabına kaydolduğunuzda, Noble Sky'ın gönderdiğiniz kişisel bilgilerin doğru olduğundan ve paranızın ve hesap bilgilerinizin doğru olduğundan emin olması gereken basit bir veri süreci incelemesinden geçmeniz gerekir. Emniyet。</p>
                        <p>Döviz alım satım hesabı açıldıktan sonra, hesap bilgilerinizi doğrulayabileceğiniz, MT5 hesabınızı etkinleştirebileceğiniz ve para yatırıp çekebileceğiniz Noble Sky'ın CRM merkezine giriş yapabilirsiniz.</p>
                        <p>Ticaret hesabı giriş bilgileriniz MT5 işlem platformuyla eşleşecek ve sonunda işlemlerinizi gerçekleştirmek için kullanılacaktır. CRM'de gerçekleştirdiğiniz herhangi bir para yatırma veya çekme veya diğer değişiklikler MT5 işlem platformuna yansıtılacaktır.</p>
                      </div>
                    </div>
                  </div>
                  <!-- Who Should Choose MT4? -->

                  <!-- Who Should Choose MT5? -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">MT5'i kimin seçmesi gerekiyor？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a1collapse3" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>MT5'i seçen müşteriler, döviz, hisse senedi endeksi CFD'leri, altın ve ham petrol CFD'leri dahil olmak üzere daha geniş bir işlem yelpazesi gerçekleştirebilir.</p>
                        <p>MT5 hesabı, MT5 bilgisayar sürümüne (indirilebilir) ve ilgili Uygulamaya ve ayrıca web terminaline giriş yapabilir。。</p>
                        <p>Yukarıdaki gibi，Micro, Standard Tüm hesaplar ticaret için MT5 platformunu kullanabilir.</p>
                      </div>
                    </div>
                  </div>
                  <!-- What is the Main Difference Between MT4 Trading Accounts and MT5 Trading Accounts? -->

                  <!-- Can I Hold Multiple Trading Accounts? -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Aynı anda birden fazla hesabım olabilir mi？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Bir kimlik kartı yalnızca bir gerçek hesabın kimliğini doğrulayabilir.</p>
                      </div>
                    </div>
                  </div>
                  <!-- How to Manage Your Trading Accounts? -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Ticaret hesabınızı nasıl yönetirsiniz？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Noble Sky'ın CRM merkezinde hesap verileri kimlik doğrulamasını çalıştırabilir, MT5 hesabını etkinleştirebilir, para yatırabilir ve çekebilirsiniz.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>


        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

  if(this.curLanguage!=3){
      let pName = this.$route.name.substring(0,this.$route.name.length-2)
      let pNameStr = pName + languageCode[this.curLanguage]
      this.$router.push({name:pNameStr});
  }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){

      let element = document.querySelectorAll(".panel-heading");

      console.log(element)
      console.log('aaaaaaaaaaa')


      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){

               console.log('aaaaaaaaa')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }


     document.documentElement.scrollTop = 0


  },




  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }
   .top115 {
       margin-top: 115px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


 .area-11 .btn.btn-solid{background-color: #74c109;color: #fff;height: 40px;line-height: 40px;display: block;font-size: 24px;;}
 .area-11 .btn.btn-solid:hover{background-color: #29A643;}

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}
.panel-collapse.showFlag{display: none;}

.btnAccordion.pull-right{display: none;}

 
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

.divTable.sharesAccount {
    width: 50%;
    margin-bottom: 0;
}

</style>
