<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">Emtia</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">Emtia</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>Bize Ulaşın</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container top60 hidden-xs">
            <ul class="nav-flexbox-tabs">
              <li>
                <router-link to='/tur/forex-trading'>Döviz</router-link>
              </li>
             <!-- <li>
                <router-link to='/stocks'>Hisse Senedi CFD'si</router-link>
                <a href="https://www.noblesky.com/cn/stocks">Hisse Senedi CFD'si</a></li> -->
              <li class="active">
                <router-link to='/tur/commodities'>Emtia</router-link>
               </li>
              <li>
                <router-link to='/tur/equity-indices'>Menkul Kıymetler Endeksi</router-link>
              </li>
              <li>
                <router-link to='/tur/precious-metals'>Değerli metaller</router-link>
              </li>
              <li>
                <router-link to='/tur/energies'>enerji</router-link>
              </li>
              <!-- <li>
                <router-link to='/shares'>Stok</router-link>
                <a href="https://www.noblesky.com/cn/shares">Stok</a></li> -->
            </ul>
            <div class="dis15"></div>
          </div>
          <div class="dis50 visible-sm"></div>
          <div class="container hidden-xs">
            <h2 class="top30">NOBLE SKY'de emtia ticaretinin avantajları</h2>
            <div class="row text-center top50">
              <div class="feature-item7 hidden-md">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p>Sözleşmeye dayalı işlem
                  <br>Herhangi bir finansal enstrümana sahip olmaya gerek yok</p></div>
              <div class="feature-item6">
                <i class="tfxfont3 xmGlobe fs100 red"></i>
                <p>Her zaman, her yerde küresel ekonomi ile bağlantı kurun</p>
              </div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmBar-chart fs100 red"></i>
                <p>Gelecekteki patlama / düşük piyasa fiyatı eğilimine dayalı spekülatif ticaret</p>
              </div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmAbacus fs100 red"></i>
                <p>Düşük mevduata sahip yeni başlayan tüccarlar için ideal</p>
              </div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmLow-price fs100 red"></i>
                <p>Düşebilir ve ondan kâr edebilir</p>
              </div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmPercent fs100 red"></i>
                <p>Menkul kıymet işlem ücreti yok</p>
              </div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <p>
                    <br>NOBLE SKY'de döviz, bireysel hisse senetleri, emtialar, değerli metaller, enerji ve hisse senedi endeksleri ticareti yapın.</p></div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">Hesap oluştur</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row">
              <div class="col-md-12">
                <h2>emtia - Yaymak / durum</h2></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul id="tabs3" class="nav nav-tabs top20" role="tablist">
                  <li :class="{active:tableIndex===0}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex(0)">Fark için sözleşme CFDs</a></li>
                  <li :class="{active:tableIndex===1}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false"  @click="handleTableIndex(1)">işlem saati</a></li>
                  <li :class="{active:tableIndex===2}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false"  @click="handleTableIndex(2)">takvim</a></li>
                </ul>
                <div id="tabContent" class="tab-content" >
                  <div class="tab-pane active" id="futures" v-if="tableIndex===0">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_0_wrapper" style="padding-bottom:2em;" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_0_length">
                          <label>展示
                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>emtia</label>
                        </div>
                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                          <label>aramak
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_0"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 91px;" aria-sort="ascending" aria-label="Emtia kodu: activate to sort column descending">Emtia kodu</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 137px;" aria-label="Emtia genel bakışı: activate to sort column ascending">Emtia genel bakışı</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 73px;" aria-label="Minimum dalgalanma aralığı: activate to sort column ascending">Minimum dalgalanma
                                <br>Genlik</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;" aria-label="Minimum fiyat dalgalanması: activate to sort column ascending">Minimum fiyat dalgalanması</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 49px;" aria-label="En düşük yayılma: activate to sort column ascending">Yaymak
                                <br>en düşük</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 91px;" aria-label="1El değeri: activate to sort column ascending">1El değeri</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 146px;" aria-label="Minimum / maksimum ticaret lotları: activate to sort column ascending">Minimum / maksimum ticaret lotları</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 90px;" aria-label="Marj oranı: activate to sort column ascending">Marj oranı</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 98px;" aria-label="Kar ve zarar mesafesini durdurun*: activate to sort column ascending">Kar ve zarar mesafesini durdurun*</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">COCOA</td>
                              <td>US Cocoa</td>
                              <td>1.00000</td>
                              <td>USD 1</td>
                              <td>15</td>
                              <td>1 Metric Ton</td>
                              <td>1/500</td>
                              <td>2 %</td>
                              <td>14</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">COFFE</td>
                              <td>US Coffee</td>
                              <td>0.00010</td>
                              <td>USD 1</td>
                              <td>0.008</td>
                              <td>10000 LBS</td>
                              <td>1/80</td>
                              <td>2 %</td>
                              <td>0.002</td></tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">CORN</td>
                              <td>US Corn</td>
                              <td>0.00010</td>
                              <td>USD 0.04</td>
                              <td>0.0275</td>
                              <td>400 Bushels</td>
                              <td>1/500</td>
                              <td>2 %</td>
                              <td>0.06</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">COTTO</td>
                              <td>US Cotton No. 2</td>
                              <td>0.00010</td>
                              <td>USD 1</td>
                              <td>0.0047</td>
                              <td>10000 LBS</td>
                              <td>1/100</td>
                              <td>2 %</td>
                              <td>0.01</td></tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">HGCOP</td>
                              <td>High Grade Copper</td>
                              <td>0.00010</td>
                              <td>USD 0.2</td>
                              <td>0.0077</td>
                              <td>2000 LBS</td>
                              <td>1/200</td>
                              <td>2 %</td>
                              <td>0.01</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">SBEAN</td>
                              <td>US Soybeans</td>
                              <td>0.00010</td>
                              <td>USD 0.04</td>
                              <td>0.0185</td>
                              <td>400 Bushels</td>
                              <td>1/250</td>
                              <td>2 %</td>
                              <td>0.02</td></tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">SUGAR</td>
                              <td>US Sugar No. 11</td>
                              <td>0.00010</td>
                              <td>USD 1</td>
                              <td>0.0009</td>
                              <td>10000 LBS</td>
                              <td>1/500</td>
                              <td>2 %</td>
                              <td>0.002</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">WHEAT</td>
                              <td>US Wheat</td>
                              <td>0.00010</td>
                              <td>USD 0.04</td>
                              <td>0.025</td>
                              <td>400 Bushels</td>
                              <td>1/500</td>
                              <td>2 %</td>
                              <td>0.02</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Görüntüle 1 Kader 8 ，Toplamda 8 Sayfa</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">Önceki</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">Sonraki adım</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="trading-hours" v-if="tableIndex===1">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_1_length">
                          <label>Hava atmak
                            <select name="DataTables_Table_1_length" aria-controls="DataTables_Table_1" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>emtia</label>
                        </div>
                        <div id="DataTables_Table_1_filter" class="dataTables_filter">
                          <label>aramak
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_1"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 140px;" aria-sort="ascending" aria-label="Emtia kodu: activate to sort column descending">Emtia kodu</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 204px;" aria-label="Emtia genel bakışı: activate to sort column ascending">Emtia genel bakışı</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 137px;" aria-label="Sunucu zamanı: activate to sort column ascending">Sunucu zamanı</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 256px;" aria-label="İş günü: activate to sort column ascending">İş günü</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 115px;" aria-label="Pazar Pazartesi açılıyor: activate to sort column ascending">Pazar Pazartesi açılıyor</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 115px;" aria-label="Pazar Cuma günü kapalı: activate to sort column ascending">Pazar Cuma günü kapalı</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">COCOA</td>
                              <td>US Cocoa</td>
                              <td>GMT +3</td>
                              <td>11:50-20:25</td>
                              <td>11:50</td>
                              <td>20:25</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">COFFE</td>
                              <td>US Coffee</td>
                              <td>GMT +3</td>
                              <td>11:20-20:25</td>
                              <td>11:20</td>
                              <td>20:25</td></tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">CORN</td>
                              <td>US Corn</td>
                              <td>GMT +3</td>
                              <td>03:05-15:40,16:35-21:10</td>
                              <td>03:05</td>
                              <td>21:10</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">COTTO</td>
                              <td>US Cotton No. 2</td>
                              <td>GMT +3</td>
                              <td>04:05-21:15</td>
                              <td>04:05</td>
                              <td>21:15</td></tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">HGCOP</td>
                              <td>High Grade Copper</td>
                              <td>GMT +3</td>
                              <td>01:05-23:55</td>
                              <td>01:05</td>
                              <td>23:10</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">SBEAN</td>
                              <td>US Soybeans</td>
                              <td>GMT +3</td>
                              <td>03:05-15:40,16:35-21:10</td>
                              <td>03:05</td>
                              <td>21:10</td></tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">SUGAR</td>
                              <td>US Sugar No. 11</td>
                              <td>GMT +3</td>
                              <td>10:35-19:55</td>
                              <td>10:35</td>
                              <td>19:55</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">WHEAT</td>
                              <td>US Wheat</td>
                              <td>GMT +3</td>
                              <td>03:05-15:40,16:35-21:10</td>
                              <td>03:05</td>
                              <td>21:10</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Görüntüle 1 Kader 8 ，Toplamda 8 Sayfa</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_1" data-dt-idx="0" tabindex="0" id="DataTables_Table_1_previous">Önceki</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_1" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_1" data-dt-idx="2" tabindex="0" id="DataTables_Table_1_next">Sonraki adım</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="calendar" v-if="tableIndex===2">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_2_length">
                          <label>Hava atmak
                            <select name="DataTables_Table_2_length" aria-controls="DataTables_Table_2" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>emtia</label>
                        </div>
                        <div id="DataTables_Table_2_filter" class="dataTables_filter">
                          <label>aramak
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_2"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_2" aria-describedby="DataTables_Table_2_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 115px;" aria-sort="ascending" aria-label="emtia: activate to sort column descending">emtia</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 50px;" aria-label="statü: activate to sort column ascending">statü</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 25px;" aria-label="Apr20: activate to sort column ascending">Apr
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 54px;" aria-label="May20: activate to sort column ascending">May
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 28px;" aria-label="Jun20: activate to sort column ascending">Jun
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 54px;" aria-label="Jul20: activate to sort column ascending">Jul
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 54px;" aria-label="Aug20: activate to sort column ascending">Aug
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 54px;" aria-label="Sep20: activate to sort column ascending">Sep
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 54px;" aria-label="Oct20: activate to sort column ascending">Oct
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 54px;" aria-label="Nov20: activate to sort column ascending">Nov
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 55px;" aria-label="Dec20: activate to sort column ascending">Dec
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 55px;" aria-label="Jan21: activate to sort column ascending">Jan
                                <br>21</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 27px;" aria-label="Feb21: activate to sort column ascending">Feb
                                <br>21</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 56px;" aria-label="Mar21: activate to sort column ascending">Mar
                                <br>21</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">High Grade Copper
                                <br>(HGCOP)</td>
                              <td>Bir pozisyon açın</td>
                              <td></td>
                              <td>14/02/20</td>
                              <td></td>
                              <td>16/04/20</td>
                              <td></td>
                              <td>16/06/20</td>
                              <td></td>
                              <td></td>
                              <td>18/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td class="sorting_1" tabindex="0">High Grade Copper
                                <br>(HGCOP)</td>
                              <td>Sadece kapatılabilir</td>
                              <td></td>
                              <td>16/04/20</td>
                              <td></td>
                              <td>16/06/20</td>
                              <td></td>
                              <td>18/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td class="sorting_1" tabindex="0">High Grade Copper
                                <br>(HGCOP)</td>
                              <td>Son kullanma tarihi</td>
                              <td></td>
                              <td>17/04/20</td>
                              <td></td>
                              <td>17/06/20</td>
                              <td></td>
                              <td>19/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td class="sorting_1" tabindex="0">US Cocoa
                                <br>(COCOA)</td>
                              <td>开仓</td>
                              <td></td>
                              <td>10/02/20</td>
                              <td></td>
                              <td>09/04/20</td>
                              <td></td>
                              <td>12/06/20</td>
                              <td></td>
                              <td></td>
                              <td>12/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td class="sorting_1" tabindex="0">US Cocoa
                                <br>(COCOA)</td>
                              <td>Sadece kapatılabilir</td>
                              <td></td>
                              <td>09/04/20</td>
                              <td></td>
                              <td>12/06/20</td>
                              <td></td>
                              <td>12/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td class="sorting_1" tabindex="0">US Cocoa
                                <br>(COCOA)</td>
                              <td>Son kullanma tarihi</td>
                              <td></td>
                              <td>10/04/20</td>
                              <td></td>
                              <td>15/06/20</td>
                              <td></td>
                              <td>13/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td class="sorting_1" tabindex="0">US Coffee
                                <br>(COFFE)</td>
                              <td>Bir pozisyon açın</td>
                              <td></td>
                              <td>07/02/20</td>
                              <td></td>
                              <td>09/04/20</td>
                              <td></td>
                              <td>12/06/20</td>
                              <td></td>
                              <td></td>
                              <td>10/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td class="sorting_1" tabindex="0">US Coffee
                                <br>(COFFE)</td>
                              <td>Sadece kapatılabilir</td>
                              <td></td>
                              <td>09/04/20</td>
                              <td></td>
                              <td>12/06/20</td>
                              <td></td>
                              <td>10/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td class="sorting_1" tabindex="0">US Coffee
                                <br>(COFFE)</td>
                              <td>Son kullanma tarihi</td>
                              <td></td>
                              <td>10/04/20</td>
                              <td></td>
                              <td>15/06/20</td>
                              <td></td>
                              <td>11/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">US Corn
                                <br>(CORN)</td>
                              <td>Bir pozisyon açın</td>
                              <td></td>
                              <td>20/02/20</td>
                              <td></td>
                              <td>22/04/20</td>
                              <td></td>
                              <td>22/06/20</td>
                              <td></td>
                              <td></td>
                              <td>21/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite">Görüntüle 1 Kader 10 ，Toplamda 24 Sayfa</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_2_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_2" data-dt-idx="0" tabindex="0" id="DataTables_Table_2_previous">Önceki</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_2" data-dt-idx="1" tabindex="0">1</a>
                            <a class="paginate_button " aria-controls="DataTables_Table_2" data-dt-idx="2" tabindex="0">2</a>
                            <a class="paginate_button " aria-controls="DataTables_Table_2" data-dt-idx="3" tabindex="0">3</a></span>
                          <a class="paginate_button next" aria-controls="DataTables_Table_2" data-dt-idx="4" tabindex="0" id="DataTables_Table_2_next">Sonraki adım</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dis60"></div>
            <div class="row">
              <div class="col-md-12">
                <p>* Mevcut piyasa fiyatına bağlı olarak, kar almak veya zararı durdurmak için minimum spread mesafesini ayarlayın.</p>
                <p>CFD'ler için marj gereksinimlerini hesaplama formülü aşağıdaki gibidir：Çok*Sözleşme boyutu*Açılış fiyatı*Marj oranı。Marj gereksinimlerinin hesaplanması ve siz
                  <a href="https://www.noblesky.com/cn/account-types">Hesap</a>Kaldıraç yok。</p>
                <p>Emtia ticaretini tek yönde yapıyorsanız, ön ödeme oranının% 100'den yüksek olması gerekir CFD kilitleme işlemlerini kullanırsanız, kilit ön ödemesi yalnızca büyük bir tek taraflı lot için ücretlendirilecektir.</p>
                <p>Takvim tarihi yalnızca referans içindir ve herhangi bir zamanda değişebilir.</p>
                <p>Vadeli işlem sözleşmesinin sona ermesinden sonra, platformun müşteri için uzatmayı otomatik olarak uzatmayacağını lütfen unutmayın.</p>
              </div>
            </div>
          </div>
          <div class="container top50">
            <div class="row">
              <div class="col-md-12">
                <h2>Emtia ticareti</h2>
                <p>Emtia piyasası, küresel döviz kuru piyasası gibi, küresel ticaret piyasasında perakendeciler için çeşitli yatırım fırsatları sunmaktadır. Şeker, buğday ve mısır gibi yumuşak emtialar yüzyıllardır işlem görmektedir Yatırımcıların bu finansal türevleri tercih etmeleri, yatırımın çeşitlendirilmesinde ve risk yönetimindeki önemli rollerinden kaynaklanmaktadır.</p>
                <p>Sözleşmeli mallara yatırım yapmak güvenilir bir risk azaltma yöntemidir.Enflasyon veya ekonomik belirsizlik dönemlerinde bile, sözleşmenin alıcısının ve satıcısının ciddi fiyat dalgalanmalarından etkilenmemesini ve zarara neden olmamasını sağlayabilir.</p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

  if(this.curLanguage!=3){
      let pName = this.$route.name.substring(0,this.$route.name.length-2)
      let pNameStr = pName + languageCode[this.curLanguage]
      this.$router.push({name:pNameStr});
  }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


 
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}


</style>
