<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">politika yürütmek</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">politika yürütmek</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>Bize Ulaşın</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container hidden-xs">
            <h2 class="top80">99.35 % 1 saniye içinde yürütülen emir</h2>
            <div class="row text-center top50">
              <div class="feature-item5">
                <i class="tfxfont3 xmStopwatch fs100 red"></i>
                <p>99.35 % 1 saniye içinde yürütülen emir</p>
              </div>
              <div class="feature-item5">
                <i class="tfxfont3 xmLock fs100 red"></i>
                <p>Yeniden teklif yok - sanal tüccar eklentisi yok</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmPercent-100 fs100 red"></i>
                <p>100%kesin oran
                  <br>Sipariş reddi yok</p></div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmClock fs100 red"></i>
                <p>Gerçek zamanlı piyasa uygulaması</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmSupport-on fs100 red"></i>
                <p>Çevrimiçi veya telefonla sipariş verin</p>
              </div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <p>Döviz işlemlerinde tekrar kotasyon yoktur ve işlemler gerçek zamanlı kotasyonlara göre gerçekleştirilir.
                    <br>MT5 ticaret platformu, birden fazla cihaz için uygun。</p></div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">Hesap oluştur</router-link></div>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row hidden-xs hidden-sm">
              <div class="col-md-12">
                <blockquote>
                  <p>NOBLE SKY'da yürütme hızı son derece önemlidir. Müşterilerimizin en efektif piyasa fiyatı ile işlemlerini basit ve hızlı bir şekilde yapmalarını sağlıyoruz. Bu nedenle, kötü niyetli şekilde yeniden alıntı yaparak veya müşteri siparişlerini reddederek yürütme hızını azaltan her türlü yazılım ve yönteme şiddetle karşı çıkıyoruz. Geçmiş deneyimimize dayanarak, düşük yürütme hızının kârlı işlemlere yol açarak zarara yol açabileceğini anlıyoruz. Küçük spreadler ancak başarılı bir şekilde ticaret yapabiliyorsanız anlamlıdır, aksi takdirde küçük spreadler bile anlamsızdır. Bu bağlamda, NOBLE SKY'nin misyonu, mümkün olan en hızlı yürütme hızını sağlamaktır.</p>
                  <footer>NOBLE SKY Group Kurucu </footer></blockquote>
              </div>
            </div>
            <div class="row top40">
              <div class="col-md-12">
                <h2>NOBLE SKY Efsanevi infaz</h2>
                <p>NOBLE SKY, 2010 yılından bu yana hiçbir talep ve sipariş reddi politikası uygulamadı. % 100 işlem hızı sağlar, emirlerin% 99,35'i 1 saniye içinde gerçekleştirilir.</p>
              </div>
              <div class="col-md-12 top20">
                <h2>sipariş vermek</h2>
                <p>bizim
                  <a href="https://www.noblesky.com/cn/platforms">Ticaret platformu</a>Piyasa emirlerini, sınırlı emirleri, zararı durdur emirlerini ve takip eden zararı durdur emirlerini destekleyin, işlem saatleri içinde istediğiniz zaman serbestçe sipariş verebilirsiniz. NOBLE SKY'de ayrıca telefonla ticaret yapabilir veya herhangi bir tüccarımızla doğrudan iletişime geçebilirsiniz. Pozisyonunuz kapanış işlemi bitene kadar açık kalacak, ayrıca hesap bakiyeniz güncel piyasa fiyatına göre gerçek zamanlı olarak güncellenecektir.</p>
                <p>Kesirli nokta kotasyonu, daha düşük spreadlerle işlem yapmanıza ve mümkün olan en doğru kotasyonun keyfini çıkarmanıza olanak tanır.</p>
                <p>Lütfen her müşterinin aynı anda 200 adede kadar açık siparişi (bekleyen siparişler dahil) olabileceğini unutmayın.。</p>
              </div>
              <div class="col-md-12 top20">
                <h2>Piyasa emri doldurma</h2>
                <p>NOBLE SKY'de, bir seferde 5 milyonluk bir işlemi kolayca gerçekleştirebilirsiniz, çünkü maksimum 50 lotluk (yani 5 milyon) bir hacim garanti ediyoruz. İşlem yapmak istediğiniz miktar yukarıdaki miktardan fazlaysa, siparişi daha küçük işlem boyutuna sahip birkaç siparişe bölmeniz önerilir.</p>
              </div>
              <div class="col-md-12 top20">
                <h2>Kaybı ve sınırlı sipariş doldurmayı durdurun</h2>
                <p>NOBLE SKYRisk kontrolünde zararı durdur ve emirleri sınırlandırmanın önemini anlayın, bu nedenle bu iki emrin piyasadaki en iyi fiyattan sipariş başına maksimum 50 lot ile işlem göreceğini garanti edebiliriz。</p>
              </div>
              <div class="col-md-12 top20">
                <h2>Tatil ve hafta sonu uygulaması</h2>
                <p>Pazarda sunucu saatinde Cuma kapanış fiyatından Pazar açılış fiyatına kadar bir boşluk varsa, NOBLE SKY tüm kar durdurma ve zarar bekleyen emirleri piyasa fiyatı görünür görünmez gerçekleştirecektir.</p>
              </div>
              <div class="col-md-12 top20">
                <h2>Kararsız ve likit olmayan piyasa işlemleri</h2>
                <p>NOBLE SKY Farklı fon sağlayıcılarla uzun vadeli ortaklıklarımız var ve her tedarikçinin dikkatini ve bilgilerini benimsiyoruz. Kararsız piyasa koşullarında bile, emirleri uygulayarak size en etkin piyasa fiyatını sunmaya devam edeceğiz. İyi hizmet。</p>
                <p>Ayrıntılar için lütfen okuyun
                  <a href="https://www.noblesky.com/assets/pdf/new/docs/NOBLE SKYGlobal-Order-Execution-Policy.pdf?v2" target="_blank" class="red">Sipariş yürütme politikası</a></p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=3){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap> 
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
  p {
    margin-bottom: 2em;
  }
</style>
