<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">Gizlilik Politikası</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">Gizlilik Politikası</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span> Bize Ulaşın</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80 regulation">
            <!-- <div class="row">
              <div class="col-md-12">
                <h2>相关法律文件</h2></div>
            </div> -->
            <div class="privacy-box">
                             <p>Lütfen bu gizlilik politikasını dikkatlice okuyun. Ürünlerimizi veya hizmetlerimizi kullanarak, 18 yaşına ulaştığınızı ve bu Gizlilik Politikasının tüm şartlarını ve içeriğini tam olarak anladığınızı ve kabul ettiğinizi kabul edersiniz. Bu Gizlilik politikasını kabul etmiyorsanız, ürünlerimizi veya hizmetlerimizi kullanamazsınız.</p>
                             <h3>Kişisel Bilgilerin Kapsamı</h3>
                             <p>Bu gizlilik politikası, "kişisel bilgiler", toplanan kişisel bilgilerimize atıfta bulunur, belirli kişisel kimliği tanımlamak için kullanılabilir, kişisel bilgilere bölünebilir (isim, kimlik kartı bilgileri gibi) ve tek başına kullanılamaz ve kişisel bilgileri (örneğin konum bilgileri, araçlar) kullanmak için diğer bilgilerle birleştirilmelidir. Topladığımız kişisel bilgiler her iki tür bilgiyi de içerebilir. Bağımsız olarak kullanılabilecek kişisel bilgiler yalnızca önceden bildiriminiz ve onayınız ile toplanacaktır. Tek başına kullanılamayan Kişisel Bilgiler, birleşik kullanım dışındaki herhangi bir amaçla tarafımızdan toplanabilir, kullanılabilir, aktarılabilir ve ifşa edilebilir.</p>
                             <p>Adınız, posta adresiniz, telefon numaranız, E-posta adresiniz ve diğer iletişim bilgileriniz, yaşınız, doğum tarihiniz, cinsiyetiniz, eğitiminiz, mesleğiniz, diliniz, posta kodunuz, alanınız dahil ancak bunlarla sınırlı olmamak üzere "kişisel bilgiler" toplayabiliriz kod, kişisel görüntü, ilgi alanı tercih bilgileri, kimlik kartı, ehliyet bilgileri, kredi kartı bilgileri, tek cihaz tanımlayıcı, konum bilgileri, araç durumu, davranış vb.</p>

                             <h3>Kişisel Bilgi Toplama Araçları</h3>
                             <p>Kişisel bilgilerinizi çeşitli şekillerde toplayıp saklayacağız:</p>
                             <p>Resmi web sitemizi veya diğer çevrimiçi hizmetlerimizi ziyaret ettiğinizde veya bunlara katıldığınızda gönüllü olarak bize sağladığınız bilgiler (örneğin, web sitemiz veya sorular, yorumlar veya çevrimiçi anketler için bizimle e-posta yoluyla iletişime geçtiğinizde).</p>
                             <p>Çevrimdışı hizmetlerimize kaydolduğunuzda;</p>
                             <p>Tarafımızca veya belirlenmiş şirketlerimiz tarafından geliştirilen uygulamaları indirdiğinizde veya kullandığınızda;</p>
                             <p>Sosyal medyamızı takip ettiğinizde;</p>
                             <p>Müşteri hizmetleri merkezimizin temsilcilerine bilgi verdiğinizde;</p>
                             <p>Sizin hakkınızda başka kaynaklardan da bilgi toplayabilir ve bunları müşteri veri tabanımıza ekleyebiliriz.</p>

                             <h5>Cookies aracılığıyla bilgi toplayın</h5>
                             <p>Müşterilerimizin web sitemizi nasıl kullandığını takip etmek için Cookies ve diğer izleme teknolojilerini kullanıyoruz. Cookies, cihazınız için özel tanımlayıcılardır. Cihazınızı tanımlayarak, sizin için kişiselleştirilmiş ürünler ve reklamlar önerebiliriz (bu web sitesinden reklam içeriği sağlayan bağlı kuruluş web siteleri dahil).</p>
                             <p>Cookies aracılığıyla topladığımız bilgiler, farklı müşteri gruplarına daha hedefli ve değerli ürün bilgileri ve hizmetler sağlamak için sınıflandırılır ve özetlenir. Cookies aracılığıyla toplanan bilgiler, tek başına kullanılamayacak kişisel bilgilerdir ve Cookies aracılığıyla toplanan bilgileri diğer bilgilerinizle birlikte kullandığımızı anlar ve kabul edersiniz. Çoğu web tarayıcısı, Cookiesi otomatik olarak etkinleştirir, ancak Cookiesi kapatmak için tarayıcınızın Ayarlarını her zaman ayarlayabilirsiniz. Ancak Cookies, daha iyi ve daha kişiselleştirilmiş hizmetlerimizden yararlanmanızı sağlayabilir. Cookiesi kapatırsanız, web sitemizde sunulan tüm hizmetleri tam olarak deneyimleyemeyebilir veya deneyimleyemeyebilirsiniz. Bu nedenle, onu açık duruma ayarlamanızı öneririz.</p>

                             <h5>Çağrı merkezi aracılığıyla bilgi toplayın</h5>
                             <p>Hizmet hattımızı aradığınızda, hizmet kalitesini iyileştirmek ve taleplerinizi takip etmek için arama sırasında sizden kişisel bilgiler toplayabilir veya aramayı elektronik ortamda kaydedebiliriz. Sesli arama sırasında kişisel bilgilerinizi topladığımızı ve aramayı kaydettiğimizi anlıyor ve kabul ediyorsunuz.</p>


                             <h3>Kişisel bilgi vermeyi reddetmenin sonuçları</h3>
                             <p>Kişisel bilgilerinizi veremezsiniz, kişisel bilgilerinizi vermemeyi seçerseniz, ürünlerimizi veya hizmetlerimizi size sağlayamayabiliriz veya ürünlerimizi kullanırken karşılaştığınız sorunlara cevap veremeyebiliriz veya Hizmetler. Sonuç olarak uğrayabileceğiniz herhangi bir kayıptan sorumlu olmayacağız.</p>

                             <h3>Kişisel bilgilerinizi nasıl kullanıyoruz</h3>
                             <p>Toplanan Kişisel Bilgileri aşağıdaki amaçlarla kullanacağız ("Kişisel Bilgi Toplama Amaçları"):</p>
                             <p>Ürünlerimizi ve hizmetlerimizi yönetmek, size ürün ve hizmetlerimizi sunmak ve ürünlerimizi ve hizmetlerimizi kullanımınız hakkında sizinle zamanında iletişim kurmak;</p>
                             <p>Hizmetlerimizin performansını ve işleyişini desteklemek, soru ve taleplerinize yanıt vermek ve işlemlerinizi yönetmek;</p>
                             <p>Size satış sonrası hizmet ve destek sağlamak ve geri bildiriminizi almak;</p>
                             <p>En son ürünlerimiz, hizmetlerimiz, türevlerimiz ve hizmetlerimiz hakkında sizi bilgilendirmek;</p>
                             <p>Kişisel bilgilerinizi, ürünlerimizi, hizmetlerimizi ve müşterilerimizle iletişimi iyileştirmek ve müşterilerin sorunlarını zamanında çözmek için veri analizi ve araştırma gibi dahili amaçlar için kullanmak;</p>
                             <p>Size ürün / hizmet güvenliği hakkında önemli bildirimler göndermek için kişisel bilgileri kullanın. Bu tür bilgiler kişisel güvenliğiniz için hayati önem taşıdığından, bu tür bilgileri almayı reddetmemenizi şiddetle tavsiye ederiz;</p>
                             <p>Gerçekleşmiş veya meydana gelebilecek dolandırıcılığı araştırmak veya dolandırıcılığı veya diğer olası yasa dışı faaliyetleri önlemek için; Ve kabul ettiğin diğer yollar.</p>
                             <p>Bazı durumlarda, ürünlerimizi, hizmetlerimizi, içeriğimizi ve reklamlarımızı sağlamak ve iyileştirmek için kişisel bilgilerinizi ve kişisel olmayan bilgilerinizi analiz ve araştırma için birleştirebiliriz.</p>
                             <p>Kişisel Bilgilerinizi, yukarıdaki kişisel Bilgi toplama amaçlarına aykırı veya bu Gizlilik Politikasının kapsamı dışında kullanmayacağız. </p>

                             <h3>Kişisel bilgilerinizi üçüncü şahıslarla paylaşın ve paylaşın</h3>
                             <p>Kişisel gizliliğinize saygı duyuyor ve ilgili yasa ve düzenlemelere uyuyoruz. Toplanan kişisel bilgilerinizi kesinlikle gizli tutacağımıza ve kişisel bilgilerinizi başkalarına satmayacağımıza söz veriyoruz. Kişisel Bilgilerinizi yalnızca kişisel bilgi toplama amacıyla, bu Gizlilik Politikasına uyan veya en azından aynı koruyucu uygulamaları sağlayan aşağıdaki üçüncü taraflarla paylaşacağız. Aksi belirtilmedikçe, bu üçüncü taraflar kişisel bilgileri bizim adımıza toplamaz, kullanmaz veya aktarmaz. Bu nedenle, kişisel bilgilerin bu tür üçüncü şahıslar tarafından toplanması, kullanılması veya aktarılmasından sorumlu değiliz.</p>

                             <h3>Kişisel bilgilerin işlenmesi ve saklanması</h3>
                             <p>Kişisel bilgilerinizi, kişisel bilgi toplama amacınızı ihlal edecek şekilde veya bu Gizlilik Politikasının kapsamı dışında işlemeyecek, değiştirmeyecek veya zarar vermeyeceğiz.</p>
                             <p>Kişisel verilerinizi sakladığımızda, kişisel bilgilerinizi yetkisiz erişim, ifşa ve kayıplardan korumak için elektronik güvenlik önlemleri ve fiziksel güvenlik önlemleri dahil ancak bunlarla sınırlı olmamak üzere makul ve yeterli güvenlik önlemleri alırız.</p>

                             <h3>Kişisel bilgilerin bütünlüğü ve güncellemesi</h3>
                             <p>Kişisel bilgilerinizin doğru, eksiksiz ve güncel olmasını sağlamanın bazı kolay yollarını sunuyoruz. Kişisel bilgilerinizi, bu tür bir saklamanın daha uzun bir süre için gerekli olduğu veya izin verildiği durumlar dışında, bu Gizlilik Politikasında belirtilen amaçlara ulaşmak için gerekli olan süre boyunca saklayacağız.</p>

                             <h3>Seçiniz</h3>
                             <p>Size pazarlama bilgilerini E-posta, telefon, cep telefonu / metin mesajı (SMS ve MMS dahil) veya mektupla gönderebiliriz; bunlarla sınırlı olmamak üzere: ürünlerimiz veya hizmetlerimizle ilgili en son bilgileri size bildirmek, sizi katılmaya davet etmek pazarlama faaliyetlerimizde veya ürünlerimiz veya hizmetlerimiz hakkında duyurular göndermek.</p>

                             <h3>Çocuk</h3>
                             <p>18 yaşın altındaki bir çocuğun kişisel bilgilerini bilerek toplamayacağız. 18 yaşın altındaki çocukların kişisel bilgilerini ebeveyn izni olmadan topladığımızı tespit edersek, bu tür bilgileri mümkün olan en kısa sürede silmek için adımlar atacağız.</p>

                             <h3>Üçüncü taraflar, ürünlerimiz ve hizmetlerimiz aracılığıyla sizden kişisel bilgiler toplar</h3>
                             <p>Ürünlerimiz ve hizmetlerimiz üçüncü taraf web sitelerine, ürünlerine ve hizmetlerine bağlantılar içerebilir. Ürünlerimiz ve hizmetlerimiz, üçüncü şahısların ürünlerini veya hizmetlerini de kullanabilir veya sağlayabilir. Sistemlerimiz, ürünlerimiz ve hizmetlerimiz aracılığıyla üçüncü şahıslar tarafından toplanan bu tür kişisel bilgiler (konum verilerini veya iletişim bilgilerini içerebilir, vb.), Üçüncü şahsın gizlilik politikalarına uygun olarak kullanılacak, işlenecek, saklanacak, aktarılacak, saklanacak ve imha edilecektir ve düzenlemeler. Bu süreçte kişisel bilgilerinizi yakalamaz veya toplamazsak, bundan sorumlu değiliz ve bu üçüncü tarafların gizlilik politikası hükümlerini anlayabileceğinizi umuyoruz; Bununla birlikte, bu süreçte kişisel bilgilerinizi yakalar veya toplarsak, bu Gizlilik Politikasının şartlarına kesinlikle uyacağız.</p>

                             <h3>Güncelleme</h3>
                             <p>Bu Gizlilik Politikasını herhangi bir zamanda değiştirme ve güncelleme hakkımız saklıdır. Gizlilik politikamızda önemli değişiklikler yaparsak, en son gizlilik politikasını mümkün olan en kısa sürede web sitemizde yayınlayacağız. Ayrıca en son gizlilik politikasını temsilcilerimize ileteceğiz. Detaylar için acentelerimizle iletişime geçebilirsiniz. Aksi belirtilmedikçe, en son ve etkili gizlilik politikası siz ve tüm kişisel bilgileriniz için geçerlidir.</p>

                             <h3>Bize Ulaşın</h3>
                             <p>Yukarıdaki politika veya kişisel bilgilerinizin korunması ile ilgili herhangi bir sorunuz veya sorunuz varsa veya tarafımızdan tutulan kişisel bilgilerinizin içeriğine erişmek veya tarafınızca sağlanan kişisel bilgilerde düzeltme yapmak istiyorsanız, lütfen müşteri hizmetlerimiz aracılığıyla bizimle iletişime geçin. Sorunuza veya talebinize mümkün olan en kısa sürede cevap vereceğiz. Yanıt sağlamanın maliyeti veya yanıt talebinin sıklığı makul olmadığı sürece yanıt ücretsizdir.</p>
                             <p>Lütfen bu Gizlilik Politikasını dikkatlice okuyun. Okumayı bitirip kişisel bilgilerinizi vermeye devam ettiğinizde veya ürünlerimizi satın aldığınızda veya hizmetlerimizi kullandığınızda, bu Gizlilik Politikasının tüm şartlarını ve içeriğini tam olarak anlamış ve kabul etmiş olursunuz.</p>



                        </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=3){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-8 {
       width: 66.66666667%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}

.privacy-box{
   h3{font-size: 24px !important;font-weight: bold;margin:50px 0 10px;color: #000 !important;}
   h5{font-size: 18px;font-weight: bold;margin:30px 0 10px;color: #387ee2;}
   p{font-size: 14px;margin-bottom: 10px;}
}


 
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}



</style>
