<template>
		<div class="wrap" @click="hideMenu" v-bind:class="{rightToLeft:(curLanguage==4||curLanguage==5)}">
        <pageHeader pageName="activityList" @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}">
          <div class="container-fluid top-bar" style="color: white;font-size: 24px;padding: 20px 25px;">
            <h1 class="col-12">{{language[curLanguage][1]}}</h1>
          </div>
        </div>
        <div class="container">
          <div class="row row-4">
              <ul id="activities">
                  <li v-for="(item,index) in article.data" :key="index" style="width:100%">
                      <div class="title">
                          <h5>{{item.t_title}}</h5>
                          <p>{{item.t_time}}</p>
                      </div>
                      <p>{{item.t_remark}}</p>
                      <router-link :to="{name:'articleDetails',query:{aid:item.t_aid,type:item.t_type}}">{{language[curLanguage][2]}}></router-link>
                  </li>

                  <li class="empty" v-if="article.data.length===0">
                      <i class="icon icon-record"></i>
                      <span>{{language[curLanguage][3]}}</span>
                  </li>


              </ul>

              <div class="article-pagination-box" v-if="article.total>article.pageSize">
                  <el-pagination
                    layout="prev, pager, next"
                    @current-change="handlePaginationIndex"
                    :total="article.total"
                    :page-size="article.pageSize">
                  </el-pagination>
              </div>

          </div>
        </div>  
        <pageFooter ref="pageFooter" />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {activityList} from '../utils/language'
import moment from 'moment'
import $ from 'jquery'


export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         language:activityList,




         languageGroup:{
             1:'zh',
             2:'en'
         },
         article:{
            data:[],
            pageSize:10,
            pageIndex:1,
            total:0
         },


    };
  },
   metaInfo() {
       return{
          title: this.curLanguage==1?'活动 - N sky':'Activity - N sky',
       }

   },
  created(){


    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
   }


  this.getFinancialArticle()


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },
  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter

  },
  methods: {
    // this.$refs.stockChart.removeTVChart();
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },

     getFinancialArticle(){
         const api = this.$api.url.FinancialArticle;
         const params = {
            PageSize:this.article.pageSize,
            PageIndex:this.article.pageIndex,
            Type:1,
            Language:this.languageGroup[this.curLanguage],
            WebSite:0
         }
         this.$axios.get(api,{params:params})
         .then((res)=>{
             if(res.data.code==0){

                let data = JSON.parse(res.data.data)
                data.forEach(item=>{
                   item.t_time = moment(item.t_time).format('YYYY-MM-DD HH:mm:ss');
                })

                this.article.data = data;
                this.article.total = res.data.count;
                
             }else if(res.data.code==1011||res.data.code==1006){

                 console.log('用户验证不通过')
                 // this.$refs.pageHead.logout();
                 // this.isLogin = false;
                 // this.$router.push({name:'login'});
             }else{

               this.$message({
                 message:'获取理财产品列表失败！',
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })

     },

     handlePaginationIndex(val){
         this.article.pageIndex = val;
         this.getFinancialArticle();

     },
     changeLanguage(val){

       this.curLanguage = val;
       // this.settingAPIDataLanguage();
       this.$refs.pageFooter.handleLan();
       this.article.pageIndex = 1
       this.getFinancialArticle()
     },


  }


};
</script>





<style scoped lang="scss">

     /*  .wrap{padding:0 .75rem}*/
       .page-title{height: 3.75rem;line-height: 2.5rem;padding-top: 1.25rem;margin: 0 auto;font-weight: bold;border-bottom: 1px solid #eee;
          h3{font-size: 1.2rem;float: initial;}

       }
       .width-cell{ margin:0 auto}

       .row-4{padding:0 0 2.5rem;}
       .row-4 ul{ margin:1.5rem auto 0;min-height: calc(100vh - 7rem);}
        .row-4 li {
          margin-bottom: 1.25rem;
          padding-bottom: 1.25rem;
          // border-bottom: 1px solid #eee;
          // margin-bottom: 1.25rem;
          // padding-bottom: 1.25rem;
          // border-bottom: 1px solid #eee;
          // width: 100%;
          padding: 3rem 2rem;
        }
       .row-4 li:last-child{border:0}
       .row-4 li .title h5{color: #333;font-size: .8rem;font-weight: bold;word-wrap:break-word;}
       .row-4 li .title p{color: #aaa;font-size: .7rem;font-weight: normal;display: block;padding-top: .25rem;}
       .row-4 li>p{font-size: .75rem;margin-top: .5rem;}
       .row-4 li>a{display: block;color: #74c109;margin-top: .25rem;}
       .row-4 li>a:hover{color: #29a643;}
       .row-4 .more{text-align: center;}
       .row-4 .more a{display: inline-block;width: 6rem;height: 1.75rem;line-height: 1.75rem;text-align: center;border:1px solid #74c109;border-radius: .15rem;color:#74c109;}
       .row-4 .more a:hover{color: #29a643;border-color: #29a643;}
       
       footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

       .fin-pro-details .upper{background-color: #f5f5f5;border-radius: .15rem;padding: .5rem 0;}
       .fin-pro-details .item{width: 20%;float: left;padding:5px .75rem;color: #888;}
       .fin-pro-details .item i{color: #000;margin-left: .25rem;}
       .fin-pro-details .under{padding:.75rem;margin-top: .75rem;border:1px solid #eee;border-radius: .15rem;
          h5{font-size: 18px;color: #000;}
          p{padding:.75rem 0;}
          a{color: #0097E8;margin-right: .5rem;}
          a:hover{text-decoration: underline;}
       }

       .article-pagination-box{text-align: center;margin:2.5rem 0 .75rem;}



  h4, .h4, h5, .h5, h6, .h6 {
      margin-top: 0;
      margin-bottom: 0;
  }

  .empty{text-align: center;padding-top: 2.5rem;
     i{font-size: 80px;color: #cecece;display: block;line-height: 100px;}
     span{font-size: 16px;color: #aaa;}

  }


  .row-4 li .title p {
    color: #aaa;
    font-size: 14px;
    font-weight: normal;
    display: block;
    padding-top: 5px;
    position: absolute;
    bottom: 0;
    left: auto;
  }

</style>

<style>
   .article-pagination-box .el-pager li.active{background-color: #D51820;color: #fff;}
   .article-pagination-box .el-pager li:hover{color: #D51820;}
   .article-pagination-box .btn-prev:hover i,.f-pro-pagination-box .btn-next:hover i{color: #D51820;}
   .article-pagination-box .btn-prev:disabled i{color: #C0C4CC;}
</style>
