<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <div class="site-canvas" v-bind:class="{rightToLeft:(curLanguage==4||curLanguage==5)}">

      <div class="container-fluid top-bar">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 ">
                  <h1>{{language[curLanguage][1]}}</h1>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>{{language[curLanguage][2]}}</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid top60 hidden-xs">
            <ul class="nav-flexbox-tabs">
              <li>
                 <router-link to='/forex-trading'>{{language[curLanguage][3]}}</router-link>
               </li>
              <!-- <li>
                 <router-link to='/stocks'>Stock CFDs</router-link>
                 <a href="/cn/stocks">Stock CFDs</a></li> -->
               <li class="active">
                 <router-link to='/commodities'>{{language[curLanguage][1]}}</router-link>
                </li>
               <li>
                 <router-link to='/equity-indices'>{{language[curLanguage][4]}}</router-link>
               </li>
               <li>
                 <router-link to='/precious-metals'>{{language[curLanguage][5]}}</router-link>
               </li>
               <li>
                 <router-link to='/energies'>{{language[curLanguage][6]}}</router-link>
               </li>
              <!-- <li>
                <router-link to='/shares'>Stocks</router-link>
                <a href="/cn/shares">Stocks</a></li> -->
            </ul>
            <div class="dis15"></div>
          </div>
          <div class="dis50 visible-sm"></div>
          <div class="container-fluid hidden-xs">
            <h2 class="top30">{{language[curLanguage][7]}}</h2>
            <div class="row text-center top50 mx-auto">
              <div class="feature-item7 hidden-md">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p>{{language[curLanguage][8]}}
                  <br>{{language[curLanguage][9]}}</p></div>
              <div class="feature-item5">
                <i class="tfxfont3 xmGlobe fs100 red"></i>
                <p>{{language[curLanguage][10]}}</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmBar-chart fs100 red"></i>
                <p>{{language[curLanguage][11]}}</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmAbacus fs100 red"></i>
                <p>{{language[curLanguage][12]}}</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmLow-price fs100 red"></i>
                <p>{{language[curLanguage][13]}}</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmPercent fs100 red"></i>
                <p>{{language[curLanguage][14]}}</p>
              </div>
            </div>
          </div>
          
         
          <div class="container-fluid">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-12 ">
                  <br>{{language[curLanguage][15]}}</div>
                <div class="col-12">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">{{language[curLanguage][16]}}</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid top80 text-center">
            <div class="row">
              <div class="col-md-12 text-justify mx-2">
                <h2>{{language[curLanguage][17]}}</h2></div>
            </div>
            <div class="row">
              <div class="col-md-12 text-justify mx-2">
                <ul id="tabs3" class="nav nav-tabs top20 text-center" role="tablist">
                  <li :class="{active:tableIndex===0}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex(0)">{{language[curLanguage][18]}}</a></li>
                  <!--li :class="{active:tableIndex===1}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(1)">Trading hours</a></li-->
                  <!--li :class="{active:tableIndex===2}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(2)">Calendar</a></li-->
                </ul>
                <div id="tabContent" class="tab-content">
                  <div class="tab-pane active" id="futures" v-if="tableIndex===0">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_0_length">
                          <label>Display
                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>Products</label>
                        </div>
                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                          <label>search for
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_0"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 91px;" aria-sort="ascending" aria-label="Product Code: activate to sort column descending">{{language[curLanguage][19]}}</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 137px;" aria-label="Product overview: activate to sort column ascending ">{{language[curLanguage][20]}}</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 73px;" aria-label="Minimum fluctuation range: activate to sort column ascending">{{language[curLanguage][21]}}
                                <br>{{language[curLanguage][22]}}</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;" aria-label="Minimum price fluctuation: activate to sort column ascending">{{language[curLanguage][23]}}</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 49px;" aria-label="Minimum spread: activate to sort column ascending ">{{language[curLanguage][24]}}
                                <br>{{language[curLanguage][25]}}</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 91px;" aria-label="1 lot value: activate to sort column ascending">{{language[curLanguage][26]}}</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 146px;" aria-label="Minimum/Maximum trading lots: activate to sort column ascending">{{language[curLanguage][27]}}</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 90px;" aria-label="Margin ratio: activate to sort column ascending ">{{language[curLanguage][28]}}</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 98px;" aria-label="stop profit loss distance*: activate to sort column ascending">{{language[curLanguage][29]}}</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">COCOA</td>
                              <td>US Cocoa</td>
                              <td>1.00000</td>
                              <td>USD 1</td>
                              <td>15</td>
                              <td>1 Metric Ton</td>
                              <td>1/500</td>
                              <td>2 %</td>
                              <td>14</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">COFFE</td>
                              <td>US Coffee</td>
                              <td>0.00010</td>
                              <td>USD 1</td>
                              <td>0.008</td>
                              <td>10000 LBS</td>
                              <td>1/80</td>
                              <td>2 %</td>
                              <td>0.002</td></tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">CORN</td>
                              <td>US Corn</td>
                              <td>0.00010</td>
                              <td>USD 0.04</td>
                              <td>0.0275</td>
                              <td>400 Bushels</td>
                              <td>1/500</td>
                              <td>2 %</td>
                              <td>0.06</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">COTTO</td>
                              <td>US Cotton No. 2</td>
                              <td>0.00010</td>
                              <td>USD 1</td>
                              <td>0.0047</td>
                              <td>10000 LBS</td>
                              <td>1/100</td>
                              <td>2 %</td>
                              <td>0.01</td></tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">HGCOP</td>
                              <td>High Grade Copper</td>
                              <td>0.00010</td>
                              <td>USD 0.2</td>
                              <td>0.0077</td>
                              <td>2000 LBS</td>
                              <td>1/200</td>
                              <td>2 %</td>
                              <td>0.01</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">SBEAN</td>
                              <td>US Soybeans</td>
                              <td>0.00010</td>
                              <td>USD 0.04</td>
                              <td>0.0185</td>
                              <td>400 Bushels</td>
                              <td>1/250</td>
                              <td>2 %</td>
                              <td>0.02</td></tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">SUGAR</td>
                              <td>US Sugar No. 11</td>
                              <td>0.00010</td>
                              <td>USD 1</td>
                              <td>0.0009</td>
                              <td>10000 LBS</td>
                              <td>1/500</td>
                              <td>2 %</td>
                              <td>0.002</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">WHEAT</td>
                              <td>US Wheat</td>
                              <td>0.00010</td>
                              <td>USD 0.04</td>
                              <td>0.025</td>
                              <td>400 Bushels</td>
                              <td>1/500</td>
                              <td>2 %</td>
                              <td>0.02</td></tr>
                          </tbody>
                        </table>
                      <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">{{language[curLanguage][41]}}</div>
                         <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                           <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">{{language[curLanguage][42]}}</a>
                           <span>
                             <a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span>
                           <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">{{language[curLanguage][43]}}</a></div>
                      </div>
                    </div>
                  </div>
                  <!--div class="tab-pane" id="trading-hours" v-if="tableIndex===1">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_1_length">
                          <label>展示
                            <select name="DataTables_Table_1_length" aria-controls="DataTables_Table_1" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>商品</label>
                        </div>
                        <div id="DataTables_Table_1_filter" class="dataTables_filter">
                          <label>搜索
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_1"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 140px;" aria-sort="ascending" aria-label="Product Code: activate to sort column descending">Product code</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 204px;" aria-label="Product overview: activate to sort column ascending ">Product Overview</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 137px;" aria-label="Server time: activate to sort column ascending ">Server time</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 256px;" aria-label="Weekdays: activate to sort column ascending ">working day</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 115px;" aria-label="Open on Monday: activate to sort column ascending">Open on Monday</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 115px;" aria-label="Closed on Friday: activate to sort column ascending">Closed on Friday</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">COCOA</td>
                              <td>US Cocoa</td>
                              <td>GMT +3</td>
                              <td>11:50-20:25</td>
                              <td>11:50</td>
                              <td>20:25</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">COFFE</td>
                              <td>US Coffee</td>
                              <td>GMT +3</td>
                              <td>11:20-20:25</td>
                              <td>11:20</td>
                              <td>20:25</td></tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">CORN</td>
                              <td>US Corn</td>
                              <td>GMT +3</td>
                              <td>03:05-15:40,16:35-21:10</td>
                              <td>03:05</td>
                              <td>21:10</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">COTTO</td>
                              <td>US Cotton No. 2</td>
                              <td>GMT +3</td>
                              <td>04:05-21:15</td>
                              <td>04:05</td>
                              <td>21:15</td></tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">HGCOP</td>
                              <td>High Grade Copper</td>
                              <td>GMT +3</td>
                              <td>01:05-23:55</td>
                              <td>01:05</td>
                              <td>23:10</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">SBEAN</td>
                              <td>US Soybeans</td>
                              <td>GMT +3</td>
                              <td>03:05-15:40,16:35-21:10</td>
                              <td>03:05</td>
                              <td>21:10</td></tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">SUGAR</td>
                              <td>US Sugar No. 11</td>
                              <td>GMT +3</td>
                              <td>10:35-19:55</td>
                              <td>10:35</td>
                              <td>19:55</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">WHEAT</td>
                              <td>US Wheat</td>
                              <td>GMT +3</td>
                              <td>03:05-15:40,16:35-21:10</td>
                              <td>03:05</td>
                              <td>21:10</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Display 1 to 8, total of 8 items</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_1" data-dt-idx="0" tabindex="0" id="DataTables_Table_1_previous">Previous step</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_1" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_1" data-dt-idx="2" tabindex="0" id="DataTables_Table_1_next">Next step</a></div>
                      </div>
                    </div>
                  </div-->
                  <!--div class="tab-pane" id="calendar" v-if="tableIndex===2">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_2_length">
                          <label>Display
                            <select name="DataTables_Table_2_length" aria-controls="DataTables_Table_2" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>Products</label>
                        </div>
                        <div id="DataTables_Table_2_filter" class="dataTables_filter">
                     <label>Search
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_2"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_2" aria-describedby="DataTables_Table_2_info" style="width: 100%; ">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 115px;" aria-sort="ascending" aria-label="Product : activate to sort column descending">Products</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 50px;" aria-label="Status: activate to sort column ascending" >Status</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 25px;" aria-label="Apr20: activate to sort column ascending" >Apr
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 54px;" aria-label="May20: activate to sort column ascending" >May
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 28px;" aria-label="Jun20: activate to sort column ascending" >Jun
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 54px;" aria-label="Jul20: activate to sort column ascending" >Jul
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 54px;" aria-label="Aug20: activate to sort column ascending" >Aug
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 54px;" aria-label="Sep20: activate to sort column ascending" >Sep
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 54px;" aria-label="Oct20: activate to sort column ascending" >Oct
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 54px;" aria-label="Nov20: activate to sort column ascending" >Nov
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 55px;" aria-label="Dec20: activate to sort column ascending" >Dec
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 55px;" aria-label="Jan21: activate to sort column ascending" >Jan
                                <br>21</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 27px;" aria-label="Feb21: activate to sort column ascending" >Feb
                                <br>21</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 56px;" aria-label="Mar21: activate to sort column ascending" >Mar
                                <br>21</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">High Grade Copper
                                <br>(HGCOP)</td>
                              <td>Open a position</td>
                              <td></td>
                              <td>14/02/20</td>
                              <td></td>
                              <td>16/04/20</td>
                              <td></td>
                              <td>16/06/20</td>
                              <td></td>
                              <td></td>
                              <td>18/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td class="sorting_1" tabindex="0">High Grade Copper
                                <br>(HGCOP)</td>
                              <td>Can only be closed</td>
                              <td></td>
                              <td>16/04/20</td>
                              <td></td>
                              <td>16/06/20</td>
                              <td></td>
                              <td>18/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td class="sorting_1" tabindex="0">High Grade Copper
                                <br>(HGCOP)</td>
                              <td>Date of Expiry</td>
                              <td></td>
                              <td>17/04/20</td>
                              <td></td>
                              <td>17/06/20</td>
                              <td></td>
                              <td>19/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td class="sorting_1" tabindex="0">US Cocoa
                                <br>(COCOA)</td>
                              <td>Open a position</td>
                              <td></td>
                              <td>10/02/20</td>
                              <td></td>
                              <td>09/04/20</td>
                              <td></td>
                              <td>12/06/20</td>
                              <td></td>
                              <td></td>
                              <td>12/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td class="sorting_1" tabindex="0">US Cocoa
                                <br>(COCOA)</td>
                              <td>Can only be closed</td>
                              <td></td>
                              <td>09/04/20</td>
                              <td></td>
                              <td>12/06/20</td>
                              <td></td>
                              <td>12/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td class="sorting_1" tabindex="0">US Cocoa
                                <br>(COCOA)</td>
                              <td>Date of Expiry</td>
                              <td></td>
                              <td>10/04/20</td>
                              <td></td>
                              <td>15/06/20</td>
                              <td></td>
                              <td>13/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td class="sorting_1" tabindex="0">US Coffee
                                <br>(COFFE)</td>
                              <td>Open a position</td>
                              <td></td>
                              <td>07/02/20</td>
                              <td></td>
                              <td>09/04/20</td>
                              <td></td>
                              <td>12/06/20</td>
                              <td></td>
                              <td></td>
                              <td>10/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td class="sorting_1" tabindex="0">US Coffee
                                <br>(COFFE)</td>
                              <td>Can only be closed</td>
                              <td></td>
                              <td>09/04/20</td>
                              <td></td>
                              <td>12/06/20</td>
                              <td></td>
                              <td>10/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td class="sorting_1" tabindex="0">US Coffee
                                <br>(COFFE)</td>
                              <td>Date of Expiry</td>
                              <td></td>
                              <td>10/04/20</td>
                              <td></td>
                              <td>15/06/20</td>
                              <td></td>
                              <td>11/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">US Corn
                                <br>(CORN)</td>
                              <td>Open a position</td>
                              <td></td>
                              <td>20/02/20</td>
                              <td></td>
                              <td>22/04/20</td>
                              <td></td>
                              <td>22/06/20</td>
                              <td></td>
                              <td></td>
                              <td>21/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite">Display 1 to 10, a total of 24 items</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_2_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_2" data-dt-idx="0" tabindex="0" id="DataTables_Table_2_previous">Previous step</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_2" data-dt-idx="1" tabindex="0">1</a>
                            <a class="paginate_button" aria-controls="DataTables_Table_2" data-dt-idx="2" tabindex="0">2</a>
                            <a class="paginate_button" aria-controls="DataTables_Table_2" data-dt-idx="3" tabindex="0">3</a></span>
                          <a class="paginate_button next" aria-controls="DataTables_Table_2" data-dt-idx="4" tabindex="0" id="DataTables_Table_2_next">Next step</a></div>
                      </div>
                    </div>
                  </div-->
                </div>
              </div>
            </div>
            
            <div class="row top50">
              <div class="col-md-12 text-justify mx-2">
                <p>{{language[curLanguage][30]}}</p>
                 <p>{{language[curLanguage][31]}}
                   <router-link to="/account-types">{{language[curLanguage][32]}}</router-link>{{language[curLanguage][33]}}</p>
                 <p>{{language[curLanguage][34]}}</p>
                 <p>{{language[curLanguage][35]}}</p>
                 <p>{{language[curLanguage][36]}}</p>
              </div>
            </div>
          </div>
          <div class="container-fluid top50">
            <div class="row">
              <div class="col-md-12 text-justify mx-2">
               <h2>{{language[curLanguage][37]}}</h2>
                 <p>{{language[curLanguage][39]}}</p>
                 <p>{{language[curLanguage][40]}}</p>
               </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {languageCode} from '../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },
         language:{
             1:{
                 1:'大宗商品',
                 2:'联系我们',
                 3:'外汇',
                 4:'证券指数',
                 5:'贵重金属',
                 6:'能源',
                 7:'在NOBLE SKY交易大宗商品的优势',
                 8:'建立在合同基础上的交易',
                 9:'无需实际持有任何金融工具',
                 10:'随时随地与全球经济接轨',
                 11:'根据未来景气的 /不景气的市场价格走势投机买卖',
                 12:'对入金额低的初学交易者来说是理想选择',
                 13:'可以看跌并且从中获利',
                 14:'无证券交易费用',
                 15:'在NOBLE SKY交易外汇，个股，大宗商品，贵金属，能源和股指。',
                 16:'建立账户',
                 17:'商品 - 点差 / 条件',
                 18:'差价合约 CFDs',
                 19:'商品代码',
                 20:'商品概述',
                 21:'最小波动',
                 22:'幅度',
                 23:'最小价格波动',
                 24:'点差',
                 25:'最低',
                 26:'1手价值',
                 27:'最小/最大交易手数',
                 28:'保证金比例',
                 29:'止盈损距离',
                 30:'* 在当前市价的基础上，设置止盈或止损的最小点差距离。',
                 31:'差价合约的保证金需求计算公式如下：手数*合约规模*开仓价格*保证金比例。保证金需求的计算与您',
                 32:'账户',
                 33:'杠杆无关。',
                 34:'如果交易一个方向的商品，预付款比例需要高于100%，若使用差价合约锁仓交易的话，锁仓预付款只收取单边手数大的。',
                 35:'日历日期仅供参考，可能会随时变更。',
                 36:'请注意，期货合约到期后，平台不会自动帮客户延期。',
                 37:'大宗商品交易',
                 38:'大宗商品市场和全球汇率市场一样，为全球交易市场的零售商提供各种投资机会。软性商品例如糖、小麦、玉米已经被人们交易了几个世纪，投资者对这些金融衍生品的偏好是由于他们在分散投资和风险管理的重要作用。',
                 39:'投资于合约商品是一个可靠的风险消减的方法，即使在通货膨胀或经济不确定的时期，也能确保合同的买方和卖方不受剧烈的价格波动的影响而造成损失。',
                 40:'',
                 41:'显示 1 到 8 ，总共 8 项<',
                 42:'上一步',
                 43:'下一步',
             },
             2:{
                 1:'Commodities',
                 2:'Contact Us',
                 3:'Forex Trading',
                 4:'Equity indices',
                 5:'Precious metals',
                 6:'Energies',
                 7:'The advantages of trading bulk commodities on NOBLE SKY',
                 8:'Transactions based on contracts',
                 9:'No need to actually hold any financial instruments',
                 10:'Connect with the global economy anytime, anywhere',
                 11:'Speculative trading based on future economic/depressed market price trends',
                 12:'Ideal for beginner traders with low deposit amount',
                 13:'You can be bearish and profit from it',
                 14:'No securities transaction fees',
                 15:'Trade forex, Individual stocks, Commodities, Precious metals, Energies and Equity indices at NOBLE SKY',
                 16:'OPEN AN ACCOUNT',
                 17:'Commodity-Spreads / Conditions',
                 18:'CFDs',
                 19:'Product code',
                 20:'Product overview',
                 21:'Minimum fluctuation',
                 22:'amplitude',
                 23:'Minimum price fluctuation',
                 24:'Minimum',
                 25:'spread',
                 26:'1 lot value',
                 27:'Min/Max trading lots',
                 28:'Margin Ratio',
                 29:'Stop-profit-loss distance*',
                 30:'* Set the minimum spread distance for take profit or stop loss based on the current market price.',
                 31:'The calculation formula for margin requirements of CFDs is as follows: lot size * contract size * opening price * margin ratio. The calculation of margin requirements and your ',
                 32:'account',
                 33:' has nothing to do with leverage.',
                 34:'If you trade commodities in one direction, the prepayment ratio needs to be higher than 100%. If you use the CFD lock-up transaction, the lock-up prepayment will only charge the one-sided lot size.',
                 35:'Calendar dates are for reference only and may change at any time.',
                 36:'Please note that after the expiration of the futures contract, the platform will not automatically extend the extension for the customer.',
                 37:'Commodity trading',
                 38:"The commodity market, like the global exchange rate market, provides various investment opportunities for retailers in the global trading market. Soft commodities such as sugar, wheat, and corn have been traded by people for centuries. Investors' preference for these financial derivatives is due to their important role in diversification and risk management.",
                 39:'Investing in contract commodities is a reliable method of risk mitigation. Even in periods of inflation or economic uncertainty, it can ensure that the buyer and seller of the contract are not affected by severe price fluctuations and cause losses.',
                 40:'',
                 41:'Display 1 to 8, total of 8 items',
                 42:'Previous',
                 43:'Next',
             },
             3:{
                 1:'Emtia',
                 2:'Bize Ulaşın',
                 3:'Döviz',
                 4:'Menkul Kıymetler Endeksi',
                 5:'Değerli metaller',
                 6:'Enerji',
                 7:"NOBLE SKY'de emtia ticaretinin avantajları",
                 8:'Sözleşmeye dayalı işlem',
                 9:'Herhangi bir finansal enstrümana sahip olmaya gerek yok',
                 10:'Her zaman, her yerde küresel ekonomi ile bağlantı kurun',
                 11:'Gelecekteki patlama / düşük piyasa fiyatı eğilimine dayalı spekülatif ticaret',
                 12:'Düşük mevduata sahip yeni başlayan tüccarlar için ideal',
                 13:'Düşebilir ve ondan kâr edebilir',
                 14:'Menkul kıymet işlem ücreti yok',
                 15:"NOBLE SKY'de döviz, bireysel hisse senetleri, emtialar, değerli metaller, enerji ve hisse senedi endeksleri ticareti yapın.",
                 16:'Hesap oluştur',
                 17:'Emtia - Yaymak / durum',
                 18:'Fark için sözleşme CFDs',
                 19:'Emtia kodu',
                 20:'Emtia genel bakışı',
                 21:'Minimum dalgalanma',
                 22:'genlik',
                 23:'Minimum fiyat dalgalanması',
                 24:'Yaymak',
                 25:'en düşük',
                 26:'1El değeri',
                 27:'Minimum / maksimum ticaret lotları',
                 28:'Marj oranı',
                 29:'Kar ve zarar mesafesini durdurun*',
                 30:'* Mevcut piyasa fiyatına bağlı olarak, kar almak veya zararı durdurmak için minimum spread mesafesini ayarlayın.',
                 31:"CFD'ler için marj gereksinimlerini hesaplama formülü aşağıdaki gibidir：Çok*Sözleşme boyutu*Açılış fiyatı*Marj oranı。Marj gereksinimlerinin hesaplanması ve siz ",
                 32:'hesap',
                 33:' kaldıraç yok',
                 34:"Emtia ticaretini tek yönde yapıyorsanız, ön ödeme oranının% 100'den yüksek olması gerekir CFD kilitleme işlemlerini kullanırsanız, kilit ön ödemesi yalnızca büyük bir tek taraflı lot için ücretlendirilecektir.",
                 35:'Takvim tarihi yalnızca referans içindir ve herhangi bir zamanda değişebilir.',
                 36:'Vadeli işlem sözleşmesinin sona ermesinden sonra, platformun müşteri için uzatmayı otomatik olarak uzatmayacağını lütfen unutmayın.',
                 37:'Emtia ticareti',
                 38:'Emtia piyasası, küresel döviz kuru piyasası gibi, küresel ticaret piyasasında perakendeciler için çeşitli yatırım fırsatları sunmaktadır. Şeker, buğday ve mısır gibi yumuşak emtialar yüzyıllardır işlem görmektedir Yatırımcıların bu finansal türevleri tercih etmeleri, yatırımın çeşitlendirilmesinde ve risk yönetimindeki önemli rollerinden kaynaklanmaktadır.',
                 39:'Sözleşmeli mallara yatırım yapmak güvenilir bir risk azaltma yöntemidir.Enflasyon veya ekonomik belirsizlik dönemlerinde bile, sözleşmenin alıcısının ve satıcısının ciddi fiyat dalgalanmalarından etkilenmemesini ve zarara neden olmamasını sağlayabilir.',
                 40:'',
                 41:'Görüntüle 1 Kader 8 ，Toplamda 8 Sayfa',
                 42:'Önceki',
                 43:'Sonraki',
             },
             4:{
                 1:'السلع',
                 2:'اتصل بنا',
                 3:'تداول الفوركس',
                 4:'مؤشرات الأسهم',
                 5:'المعادن الثمينة',
                 6:'الطاقات',
                 7:'مزايا تداول السلع بالجملة على نوبل سكاي',
                 8:'المعاملات قائمة على العقود',
                 9:'لا حاجة للاحتفاظ فعليًا بأي أدوات مالية',
                 10:'اتصل بالاقتصاد العالمي في أي وقت وفي أي مكان',
                 11:'تداول تقديري على أساس اتجاهات أسعار السوق الاقتصادية / المنخفضة في المستقبل',
                 12:'مثالي للمتداولين المبتدئين ذوي مبلغ الإيداع المنخفض',
                 13:'يمكنك الاستفادة منه حتى في حالة الهبوط',
                 14:'لا توجد رسوم معاملات التداول او الأمان',
                 15:'تداول العملات الأجنبية والأسهم الفردية والسلع والمعادن الثمينة والطاقات ومؤشرات الأسهم في NOBLE SKY',
                 16:'افتح حساب',
                 17:'سبريد أسعار السلع / الشروط',
                 18:'العقود مقابل الفروقات CFDs',
                 19:'رمز المنتج',
                 20:'نظرة عامة على المنتج',
                 21:'سعة التقلب',
                 22:'الأدنى',
                 23:'الحد الأدنى لتقلب السعر',
                 24:'الحد الأدنى',
                 25:'للتكلفة',
                 26:'قيمة الحزمة الواحدة',
                 27:'الحد الأدنى / الأقصى من حزم التداول',
                 28:'نسبة الهامش',
                 29:'قيمة وقف الربح والخسارة *',
                 30:'* قم بتعيين الحد الأدنى لقيمة التكلفة لجني الأرباح أو وقف الخسارة بناءً على سعر السوق الحالي.',
                 31:'معادلة حساب متطلبات الهامش للعقود مقابل الفروقات هي كما يلي: حجم الحزمة * حجم العقد * سعر الافتتاح * نسبة الهامش. حساب متطلبات الهامش و ',
                 32:'نتيجة حساباتك',
                 33:' لن تكون متعلقة بالاستدانة',
                 34:'إذا كنت تتداول سلعًا في اتجاه واحد ، فيجب أن تكون نسبة الدفع المسبق أعلى من 100٪. إذا كنت تستخدم معاملة إقفال العقود مقابل الفروقات ، فإن الدفع المسبق للإقفال سوف يشحن فقط حجم الحزمة من جانب واحد.',
                 35:'تواريخ التقويم هي للإيضاح فقط ويمكن تغييرها في أي وقت.',
                 36:'يرجى ملاحظة أنه بعد انتهاء صلاحية العقد الآجل ، لن تقوم المنصة تلقائيًا بتمديد المدة للعميل.',
                 37:'تجارة البضائع',
                 38:'يوفر سوق السلع الأساسية ، مثل سوق سعر الصرف العالمي ، فرصًا استثمارية متنوعة لتجار التجزئة في سوق التجارة العالمية. تداول الناس السلع اللينة مثل السكر والقمح والذرة لعدة قرون. يعود تفضيل المستثمرين لهذه المشتقات المالية إلى دورها المهم في التنويع وإدارة المخاطر.',
                 39:'يعتبر الاستثمار في عقود السلع طريقة موثوقة لتخفيف المخاطر. حتى في فترات التضخم أو عدم اليقين الاقتصادي ، يمكن أن يضمن أن المشتري والبائع للعقد لن يتأثران بالتقلبات الشديدة في الأسعار ويتسببان في خسائر.',
                 40:'',
                 41:'عرض 1 إلى 8 ، إجمالي 8 عناصر',
                 42:'السابق',
                 43:'التالي',
             },
             5:{
                 1:'',
                 2:'',
                 3:'',
                 4:'',
                 5:'',
                 6:'',
                 7:'',
                 8:'',
                 9:'',
                 10:'',
                 11:'',
                 12:'',
                 13:'',
                 14:'',
                 15:'',
                 16:'',
                 17:'',
                 18:'',
                 19:'',
                 20:'',
                 21:'',
                 22:'',
                 23:'',
                 24:'',
                 25:'',
                 26:'',
                 27:'',
                 28:'',
                 29:'',
                 30:'',
                 31:'',
                 32:'',
                 33:'',
                 34:'',
                 35:'',
                 36:'',
                 37:'',
                 38:'',
                 39:'',
                 40:'',
                 41:'',
                 42:'',
                 43:'',
             }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'commodities-NOBLE SKY',
  },
  created(){

    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

    this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

  //  if(this.curLanguage!=2){
  //      let pName = this.$route.name.substring(0,this.$route.name.length-2)
  //      let pNameStr = pName + languageCode[this.curLanguage]
  //      this.$router.push({name:pNameStr});
  //  }



   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       this.curLanguage = val;
      //  console.log(this.curLanguage)
      //  let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
      //  let pNameStr = pName + languageCode[val]
      //  this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       /*padding-left: 15px;
       padding-right: 15px;*/
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: center;padding: 10px !important;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29a643;}
   }

   .nav-flexbox-tabs {padding: 10px !important;
       padding: 0;
       display: block;
       margin: 0;
       list-style: none;
      //  display: -webkit-box;
      //  display: -moz-box;
      //  display: -ms-flexbox;
      //  display: -webkit-flex;
      //  display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
      //  width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
      //  margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


  //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}



footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}


</style>
