<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <div class="site-canvas" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}">

          <div class="container-fluid top-bar" >
            <div class="container-fluid" style="padding: 15px 10px;">
              <div class="">
                <div class="col-sm-12"  style="text-align:center">
                  <h1 style="font-size:20px;color:white">{{language[curLanguage][1]}}</h1>
                  <!-- <ol class="breadcrumb">
                    <li class="home">
                     <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">{{language[curLanguage][1]}}</li></ol> -->
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>{{language[curLanguage][2]}}</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid top60 hidden-xs">
            <ul class="nav-flexbox-tabs">
              <li>
                <router-link to='/forex-trading'>{{language[curLanguage][3]}}</router-link>
              </li>
              <!-- <li>
     <router-link to='/stocks'>Stock CFDs</router-link>
     <a href="https://www.noblesky.com/cn/stocks">Stock CFDs</a></li> -->
              <!-- <li>
         <router-link to='/en/commodities'>Commodities</router-link>
        </li> -->
          <!-- <li>
         <router-link class="active" to='/futures'>{{language[curLanguage][45]}}</router-link>
  </li> -->
       <li>
         <router-link to='/precious-metals'>{{language[curLanguage][4]}}</router-link>
       </li>
        <li>
                <router-link to='/energies'>{{language[curLanguage][46]}}</router-link>
              </li>
              <li>
                <router-link to='/futures'>{{language[curLanguage][45]}}</router-link>
              </li>
              <li class="active">
                <router-link to='/crypto'>{{language[curLanguage][1]}}</router-link>
              </li>
            </ul>
          </div>
          <div class="dis50 visible-sm"></div>
          <div class="container-fluid hidden-xs">
            <h2 class="top30">{{language[curLanguage][5]}}</h2>
            <div class="row text-center top50">
              <div class="feature-item5">
                <i class="tfxfont3 ico-write-1 fs100 "></i>
                <p class="top30">{{language[curLanguage][6]}}</p></div>
              <div class="feature-item5">
                <i class="tfxfont3 ico-devices-1 fs100 "></i>
                <p class="top30">{{language[curLanguage][7]}}</p></div>
              <div class="feature-item5 hidden-xs hidden-md">
                <i class="tfxfont3 ico-cash-1 fs100 "></i>
                <p class="top30">{{language[curLanguage][8]}}</p></div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 ico-graph-1 fs100 "></i>
                <p class="top30">{{language[curLanguage][9]}}
                  <br>{{language[curLanguage][10]}}</p></div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 ico-pie-1 fs100 "></i>
                <p class="top30">{{language[curLanguage][11]}}
                  <br>{{language[curLanguage][12]}}</p></div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 ico-diverse-1 fs100 "></i>
                <p class="top30">{{language[curLanguage][13]}}</p></div>
            </div>
          </div>
          <!-- <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div> -->

          <div class="container-fluid">
            <div class="box-text-btn">
              <div style="position: absolute;opacity: 0.2;width: 80%;margin: 2%;padding: inherit;">
                <img src="../../static/images/CRPT1.png" alt="">
              </div>
              <div class="row cardpad">
                <div class="col-sm-12">
                  <br>{{language[curLanguage][14]}}</div>
                <div class="col-sm-12">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">{{language[curLanguage][15]}}</router-link>
                </div>
              </div>
            </div>
          </div>

          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>

           <div class="container-fluid">
            <h2>{{language[curLanguage][36]}}</h2>
            <p>{{language[curLanguage][37]}}</p>
            <p>{{language[curLanguage][38]}}</p>
            <p>{{language[curLanguage][39]}}</p>
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <h2>{{language[curLanguage][16]}}</h2>
                 <p>{{language[curLanguage][17]}}</p>
                 <p>{{language[curLanguage][18]}}</p>

                 <h2>{{language[curLanguage][20]}}</h2>
                <p>{{language[curLanguage][21]}}</p>
                <p>{{language[curLanguage][22]}}</p>
                <p>{{language[curLanguage][23]}}</p>

                <h2>{{language[curLanguage][24]}}</h2>
                <ul>
                <li>{{language[curLanguage][25]}}</li>
                <li>{{language[curLanguage][26]}}</li>
                <li>{{language[curLanguage][27]}}</li>
                <li>{{language[curLanguage][28]}}</li>
                <li>{{language[curLanguage][29]}}</li>
                </ul>
            </div>
                
            </div>

            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                
              </div>
              </div>              
            </div>
          </div>
         
          <!-- become a member button -->
             <div class="row row-1 p-3" style="padding-top:0">
              <div class="width-cell">
                <div class="text-center py-1">
                  <span style="font-size:25px">{{language[curLanguage][40]}}</span>
                </div>
             <br />
                <div class="crate-account">
                  <router-link to="/register" class="create-link greenBtn" style="padding-top: 15px;width:280px">
                    <em style="font-size:20px">{{language[curLanguage][19]}}</em>
                  </router-link>

                </div>
              </div>
            </div>
          <div class="dis70"></div>

        </div>
        <pageFooter />
		</div>
</template>


<script>


import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {languageCode} from '../utils/lan-code'




export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },
         
   language:{
             1:{
                  1: '加密货币',
                  2:'与我们联系',
                  3:'外汇交易',
                  4:'贵金属',
                  5:'使用N Sky™进行加密交易的优势',
                  6:'高波动性-更大的价格波动',
                  7:'交易密码-未来的货币',
                  8:'根据市场走势做多/做空',
                  9:'保证金低至',
                  10:"5 USD",
                 11: '加密CFD',
                 12: '没有隔夜融资',
                 13: '不收取额外费用',
                 14: '使用N Sky™交易加密货币以获取最大利润。',
                 15: '立即开始交易',
                 16: '交易加密货币以获取利润',
                 17: '要在网上交易加密货币赚钱，投资者可以交易或使用差价合约（CFD）。当您使用差价合约交易加密货币时，您无需实际拥有就可以推测基础资产价格的方向。您可以采用多头或空头，这取决于您是否期望资产价格上涨或下跌。因此，差价合约让您有机会从基础证券的看涨和看跌价格变动中获利。请注意，差价合约是一种杠杆产品；因此，精明的投资者可以赚取更大的利润。',
                 18: '许多交易者从事短期或“日间交易”，他们更喜欢使用差价合约获得许多好处，包括能够利用差价合约标的资产价格的上升和下降获利的能力。具体来说，如果交易者认为BTC的价格会上涨，他们可以“做多”。这是差价合约（以及所有衍生工具）所独有的，为交易者提供了在上升和下降市场中获利的机会。交易旨在通过以下方式利用短期机会：了解历史背景下的价格走势，并通常在短期内使用它来预测未来价格。',
                 19: '成为会员',
                 20: '加密货币差价合约',
                 21: '',
                 22: '',
                 23: '差价合约为交易员提供了一种不同的交易加密货币的方式。尽管投资者可以通过交易所与BTC交易以获利，但差价合约让他们有机会从价格上涨和下跌中受益，而无需拥有实际的BTC',
                 24:' BTC差价合约的好处：',
                 25:'在不拥有加密货币的情况下推测加密货币的价格',
                 26:'以保证金交易会放大收益',
                 27:'利润可以来自上升和下降的市场',
                 28:'轻松开始使用法定货币',
                 29:'增加了对许多流行加密货币的访问权',
                 30:'差价合约的保证金要求是这样计算的：手数*合约大小*开仓价*保证金百分比，而不是基于您交易账户的杠杆。',
                 31:'当您对差价合约的头寸进行套期并且您的保证金水平超过100％时，保证金始终为50％。',
                 32:'日历日期具有指示性，可能会发生变化。',
                 33:'上述点差/条件适用于所有类型的N Sky™交易账户。”',
                 34: '请注意，我们公司不为具有到期日期的金融工具新合同提供自动展期。',
                 35: '由于交易平台不支持金融工具的负价，因此在任何情况下任何一种能源工具的价格均达到0，该公司将以最近的可用价格开始平仓所有未平仓头寸。',
                 36: '关于加密货币',
                 37: '加密货币（或“加密货币”）是一种可用于购买商品和服务的数字货币。许多加密货币是基于区块链技术的分散网络，分散的网络由分散的计算机网络执行，并由强大的加密技术来保护交易，这几乎使伪造或双花交易成为可能。加密货币的一个定义特征是，它们通常不是由任何中央机构发行的，因此从理论上讲，它们不受政府干预或操纵的影响。',
                 38: '第一个基于区块链的加密货币是比特币，它仍然是最受欢迎和最有价值的。如今，有成千上万种具有各种功能和规格的备用加密货币。其中一些是比特币的克隆或分叉，而另一些则是从头开始构建的新货币。比特币的成功催生了一些竞争性加密货币，包括以太坊，莱特币，Peercoin和Namecoin，以及卡尔达诺和EOS。',
                 39: '加密货币是公开交易的，并且继续激增，通过最初的代币发行或ICO筹集资金。根据CoinMarketCap的数据，到2021年4月13日，所有加密货币的总价值超过2.2万亿美元，而最受欢迎的数字货币所有比特币的总价值约为1.2万亿美元。加密货币市场的高波动性为交易者提供了无尽的机会。',
                 40: '立即获得对N Sky™加密货币的访问权',
                 41: '上一步',
                 42: '下一步', 
                 43: '大宗商品', 
                 44: '证券指数',
                 45: '期货',
                 46: '能源' 
             },
             2:{
                 1: 'Cryptocurrency',
                 2: 'Contact Us',
                 3: 'Forex Trading',
                 4: 'Precious metals',
                 5: 'Advantages of Crypto Trading with N Sky™',
                 6: 'Legal compliance',
                 7: 'Trade crypto, the currency of the future',
                 8: 'Cross-platform Trading',
                 9: 'ZERO',
                 10: 'Commissions',
                 11: 'Margin',
                 12: 'Trading',
                 13: 'Advanced Reporting',
                 14:'Trade Cryptocurrencies with N Sky™ for maximum profit.',
                 15:'START TRADING NOW',
                 16: 'Trading Cryptocurrency for profit',
                 17: "To make money online trading cryptocurrency, investors can either trade or use a contract for difference (CFD). When you trade crypto using CFDs, you speculate on the direction of the underlying asset’s prices without actually owning it. You can either take a long or short position, depending on whether you expect the price of an asset to rise or fall. Therefore, CFDs give you an opportunity to profit from both bullish and bearish price movements in underlying securities. CFDs allow trading on margin, providing you with greater liquidity and easier execution. Note that CFDs are a leveraged product; therefore, a shrewd investor stands to make magnified profits.",
                 18: 'Many traders engage in short-term or “day trading”, prefering to use CFDs for many benefits that include the ability to profit on both the increase and decrease in the underlying asset price of the CFD. Specifically, if a trader thinks the value of BTC will rise, they can go “long”; if they expect it to decrease they can “go short”.This is unique to CFDs (along with all derivative instruments), giving traders the opportunity to make profits in both rising and falling markets.Trading is meant to exploit short-term opportunities through understanding the price action in the historical context and using that to predict future prices, often on a short-term basis.',
                 19: 'Become A Member',
                 20: 'Cryptocurrency CFDs',
                 21: '',
                 22: '',
                 23: 'CFDs offer traders a different way to trade cryptocurrency. While investors can trade to profit with BTC through an exchange, CFDs give them the opportunity to benefit from price increases and decreases without ever owning the actual BTC.',
                 24: 'Benefits of BTC CFDs:',
                 25: 'Speculate on crypto price without owning the crypto',
                 26: 'Trading on margin magnifies gains',
                 27: 'Profits can come from both rising and falling markets',
                 28: 'Easy to start with fiat currency',
                 29: 'Increased access to many popular cryptos',
                 30: 'The margin requirement for CFDs is calculated like this : Lots * Contract Size * Opening Price * Margin Percentage and not based on the leverage of your trading account.',
                 31: 'The margin is always 50% when you hedge positions on CFDs and if your margin level is over 100%.',
                 32: 'Calendar dates are indicative and are subject to change.',
                 33: 'The above spreads/conditions apply to all types of N Sky™ trading accounts.',
                 34: 'Please note that our Company does not offer automatic rollover for new contracts of financial instruments that have an expiration date.',
                 35: 'As trading platforms do not support negative prices on financial instruments, in the unlikely event the price of any energy instrument reaches 0, the company will start closing all open positions at the last available price.',
                 36: 'About Crypto',
                 37: 'A Cryptocurrency (or “Crypto”) is a digital currency that can be used to buy goods and services. Many Cryptocurrencies are decentralized networks based on blockchain technology, a distributed ledger enforced by a disparate network of computers along with strong cryptography to secure transactions which makes it nearly impossible to counterfeit or double-spend. A defining feature of Cryptocurrencies is that they are generally not issued by any central authority, rendering them theoretically immune to government interference or manipulation.',
                 38: 'The first blockchain-based Cryptocurrency was Bitcoin, which still remains the most popular and most valuable. Today, there are thousands of alternate cryptocurrencies with various functions and specifications. Some of these are clones or forks of Bitcoin, while others are new currencies that were built from scratch. Some of the competing cryptocurrencies spawned by Bitcoin’s success, include Ethereum, Litecoin, Peercoin, and Namecoin, as well as Cardano, and EOS.',
                 39: 'Cryptocurrencies are traded publicly and continue to proliferate, raising money through initial coin offerings, or ICOs. The total value of all Cryptocurrencies on April 13, 2021, was more than $2.2 TRILLION, according to CoinMarketCap, and the total value of all bitcoins, the most popular digital currency, was pegged at about $1.2 TRILLION. The Cryptocurrency market’s high volatility offers traders endless opportunities.',
                 40: "Gain Access to N Sky™ Cryptocurrency Now",
                 41: 'Previous',
                 42: 'Next', 
                 43: 'Commodities', 
                 44: 'Equity Indicies',
                 45: 'Futures',
                 46: 'Energies' 
             },
             3:{
                 1: 'Kripto Para Birimleri',
                 2: 'Bize Ulaşın',
                 3: 'Döviz',
                 4: 'Değerli metaller',
                 5: 'N Sky ™ ile Kripto Ticaretinin Avantajları',
                 6: 'Yüksek uçuculuk - Daha yüksek fiyat oynaklığı',
                 7: 'Ticaret Kripto - Geleceğin Para Birimi',
                 8: 'Pazar trendlerine göre uzun / kısa',
                 9: 'Minimum ticaret marjı',
                 10: 'Sadece 5 USD',
                 11: "Kripto CFD'lerinde",
                 12: 'Gecelik ilgi yok',
                 13: 'Ek maliyet yok',
                 14: "Maksimum kazanç için N Sky ™ ile Kripto para ticareti yapın.",
                 15: 'TİCARETE HEMEN BAŞLAYIN',
                 16: 'Kâr için Cryptocurrency ticareti',
                 17: "Çevrimiçi ticaret kripto para biriminde para kazanmak için, yatırımcılar ticaret yapabilir veya fark için bir sözleşme (CFD) kullanabilir. CFD'leri kullanarak kripto ticareti yaptığınızda, gerçekte ona sahip olmadan temel varlığın fiyatlarının yönü hakkında spekülasyon yaparsınız. Bir varlığın fiyatının yükselmesini veya düşmesini beklediğinize bağlı olarak uzun veya kısa pozisyon alabilirsiniz. Bu nedenle, CFD'ler size temel menkul kıymetlerdeki yükseliş ve düşüş fiyat hareketlerinden kar etme fırsatı verir. CFD'ler, marj üzerinden işlem yapmaya izin vererek size daha fazla likidite ve daha kolay uygulama sağlar. CFD'lerin kaldıraçlı bir ürün olduğunu unutmayın; bu nedenle, zeki bir yatırımcı büyütülmüş karlar elde etmeye hazırdır.",
                 18: "Birçok tüccar, CFD'nin temel varlık fiyatındaki hem artış hem de düşüşten kar etme yeteneği dahil olmak üzere birçok fayda için CFD'leri kullanmayı tercih ederek kısa vadeli veya 'günlük alım satım' yapmaktadır. Spesifik olarak, bir tüccar BTC'nin değerinin artacağını düşünürse, 'uzun' sürebilir; Düşmesini beklerlerse 'kısa sürebilirler'. Bu, CFD'lere özgüdür (tüm türev enstrümanlar ile birlikte), tüccarlara hem yükselen hem de düşen piyasalarda kar elde etme fırsatı verir. Fiyat hareketini tarihsel bağlamda anlamak ve bunu gelecekteki fiyatları genellikle kısa vadeli olarak tahmin etmek için kullanmak.",
                 19: 'Üye Ol',
                 20: "Kripto para birimi CFD'leri",
                 21: '',
                 22: '',
                 23: "CFD'ler, yatırımcılara kripto para birimi ticareti yapmanın farklı bir yolunu sunar. Yatırımcılar bir borsa aracılığıyla BTC ile kâr elde etmek için ticaret yapabilirlerken, CFD'ler onlara gerçek BTC'ye sahip olmadan fiyat artışlarından ve düşüşlerinden yararlanma fırsatı verir.",
                 24: "BTC CFD'lerinin Faydaları:",
                 25: 'Kripto sahibi olmadan kripto fiyatı üzerinde spekülasyon yapın',
                 26: 'Marj üzerinden alım satım kazançları büyütür',
                 27: 'Karlar hem yükselen hem de düşen piyasalardan gelebilir',
                 28: 'İtibari para birimi ile başlamak kolay',
                 29: 'Birçok popüler kripto para birimine artan erişim',
                 30: "CFD'ler için teminat gereksinimi şu şekilde hesaplanır: Lotlar * Sözleşme Büyüklüğü * Açılış Fiyatı * Teminat Yüzdesi ve işlem hesabınızın kaldıraç oranına göre değil.",
                 31: "CFD'lerde pozisyonları hedge ettiğinizde ve marj seviyeniz% 100'ün üzerindeyse marj her zaman% 50'dir.",
                 32: 'Takvim tarihleri gösterge niteliğindedir ve değiştirilebilir.',
                 33: 'Yukarıdaki spreadler / koşullar her tür N Sky ™ ticaret hesabı için geçerlidir.',
                 34: 'Şirketimizin son kullanma tarihi olan yeni finansal araç sözleşmeleri için otomatik çevirme sunmadığını lütfen unutmayın.',
                 35: "Alım satım platformları finansal enstrümanlar üzerindeki negatif fiyatları desteklemediğinden, herhangi bir enerji enstrümanının fiyatının 0'a ulaşması beklenmedik bir durumda, şirket tüm açık pozisyonları mevcut son fiyattan kapatmaya başlayacaktır.",
                 36: 'Kripto Hakkında',
                 37: 'Bir Kripto Para Birimi (veya "Kripto"), mal ve hizmet satın almak için kullanılabilen dijital bir para birimidir. Birçok Kripto para birimi, blok zinciri teknolojisine dayalı merkezi olmayan ağlardır, işlemlerin güvenliğini sağlamak için güçlü bir kriptografi ile birlikte farklı bir bilgisayar ağı tarafından uygulanan dağıtılmış bir defter, sahteciliği veya çift harcamayı neredeyse imkansız hale getirir. Kripto para birimlerinin tanımlayıcı bir özelliği, genellikle herhangi bir merkezi otorite tarafından verilmemeleri ve onları teorik olarak hükümet müdahalesine veya manipülasyonuna karşı bağışık hale getirmeleridir. ',
                 38: "Blockchain tabanlı ilk Cryptocurrency, hala en popüler ve en değerli olan Bitcoin'di. Bugün, çeşitli işlevlere ve özelliklere sahip binlerce alternatif kripto para birimi var. Bunlardan bazıları Bitcoin'in klonları veya çatallarıdır, diğerleri ise sıfırdan oluşturulmuş yeni para birimleridir. Bitcoin'in başarısıyla ortaya çıkan rakip kripto para birimlerinden bazıları arasında Ethereum, Litecoin, Peercoin ve Namecoin ile Cardano ve EOS yer alıyor. ",
                 39: "Kripto para birimleri halka açık olarak alınıp satılıyor ve çoğalmaya devam ediyor, ilk madeni para teklifleri veya ICO'lar yoluyla para artırmaya devam ediyor. CoinMarketCap'e göre 13 Nisan 2021'de tüm Kripto para birimlerinin toplam değeri 2,2 TRİLYON $ 'dan fazlaydı ve en popüler dijital para birimi olan tüm bitcoinlerin toplam değeri yaklaşık 1,2 TRİLYON $ olarak belirlendi. Cryptocurrency piyasasının yüksek volatilitesi, yatırımcılara sonsuz fırsatlar sunuyor. ",
                 40: "N Sky ™ Cryptocurrency'e Hemen Erişim Sağlayın",
                 41: 'Önceki',
                 42: 'Sonraki', 
                 43: 'Emtia', 
                 44: 'Menkul Kıymetler Endeksi',
                 45: 'Vadeli işlemler',
                 46: 'Enerji'  
             },
             4:{
                 1:'العملات الرقمية',
                 2: "اتصل بنا" ,
                 3: "تداول الفوركس" ,
                 4: "معادن ثمينة" ,
                 5: "مزايا تداول العملات الرقمية مع ™N Sky" ,
                 6: "الامتثال القانوني" ,
                  7: "تداول العملة الرقمية ، عملة المستقبل" ,
                  8: "التداول عبر المنصات" ,
                  9: "بدون",
                  10: "عمولة" ,
                  11: "تداول" ,
                  12: 'بالهامش' ,
                  13: "تقارير متقدمة" ,
                 14: "تداول العملات الرقمية مع ™N Sky لتحقيق أقصى ربح.",
                 15: "ابدأ التداول الآن" ,
                 16: "تداول العملات الرقمية من أجل الربح" ,
                 17: "لكسب المال من تداول العملات الرقمية عبر الإنترنت ، يمكن للمستثمرين إما التداول أو استخدام عقد الفروقات (CFD). عندما تتداول العملات الرقمية باستخدام العقود مقابل الفروقات ، فإنك تتكهن في اتجاه أسعار الأصول الأساسية دون امتلاكها فعليًا. يمكنك إما أن تأخذ مركز طويل أو قصير ، اعتمادًا على ما إذا كنت تتوقع ارتفاع أو انخفاض سعر الأصل. لذلك ، تمنحك العقود مقابل الفروقات فرصة للربح من كل من حركات الأسعار الصعودية والهابطة في الأوراق المالية الأساسية. تسمح العقود مقابل الفروقات بالتداول على الهامش ، مما يوفر لك سيولة أكبر وتنفيذ أسهل. لاحظ أن العقود مقابل الفروقات هي منتج ذو رافعة مالية ؛ وبالتالي ، فإن المستثمر الذكي قادر على تحقيق أرباح كبيرة. ",
                 18: "يشترك العديد من المتداولين في تداول قصير الأجل أو' تداول يومي '، ويفضلون استخدام العقود مقابل الفروقات للحصول على العديد من الفوائد التي تشمل القدرة على الربح من كل من الزيادة والنقصان في سعر الأصل الأساسي لعقد الفروقات. على وجه التحديد ، إذا اعتقد المتداول أن قيمة البيتكوين سترتفع ، فيمكنه الشراء''طويلاً' ؛ إذا كانوا يتوقعون أن ينخفض ​​، فيمكنهم 'البيع' ، وهذا أمر فريد بالنسبة للعقود مقابل الفروقات (جنبًا إلى جنب مع جميع الأدوات المشتقة) ، مما يمنح المتداولين الفرصة لتحقيق أرباح في كل من الأسواق الصاعدة والهابطة. فهم حركة السعر في السياق التاريخي واستخدام ذلك للتنبؤ بالأسعار المستقبلية ، غالبًا على أساس قصير الأجل.",
                 19: "كن عضوًا" ,
                 20: "Cryptocurrency CFDs" ,
                 21: '',
                 22: '',
                 23: 'تقدم العقود مقابل الفروقات للمتداولين طريقة مختلفة لتداول العملات الرقمية. بينما يمكن للمستثمرين التداول من أجل الربح باستخدام BTC من خلال البورصة ، فإن العقود مقابل الفروقات تمنحهم الفرصة للاستفادة من زيادات الأسعار وانخفاضها دون امتلاك BTC الفعلي.',
                 24: "فوائد BTC CFDs:",
                 25: "ضارب على سعر العملة الرقمية دون امتلاكها" ,
                 26: "التداول على الهامش يضاعف المكاسب" ,
                 27: "يمكن أن تأتي الأرباح من الأسواق الصاعدة والمنخفضة" ,
                 28: "سهولة البدء بالعملة الورقية" ,
                 29: "زيادة الوصول إلى العديد من العملات الرقمية الشائعة" ,
                 30: "يتم حساب متطلبات الهامش لعقود الفروقات على النحو التالي: العقود * حجم العقد * سعر الافتتاح * نسبة الهامش وليس على أساس الرافعة المالية لحساب التداول الخاص بك.",
                 31: "الهامش دائمًا هو 50٪ عندما تقوم بتحوط المراكز على عقود الفروقات وإذا كان مستوى الهامش الخاص بك أعلى من 100٪.",
                 32: "تواريخ التقويم إرشادية وقابلة للتغيير.",
                 33: "تنطبق الفروق / الشروط المذكورة أعلاه على جميع أنواع حسابات تداول N Sky ™.",
                 34: "يرجى ملاحظة أن شركتنا لا تقدم تمديد تلقائي للعقود الجديدة للأدوات المالية التي لها تاريخ انتهاء صلاحية.",
                 35: "نظرًا لأن منصات التداول لا تدعم الأسعار السلبية للأدوات المالية ، في حالة وصول سعر أي أداة طاقة إلى الصفر ، وهو أمر غير مرجح ، ستبدأ الشركة في إغلاق جميع المراكز المفتوحة بآخر سعر متاح.",
                 36: "حول التشفير" ,
                 37: 'العملة الرقمية (أو "Crypto") هي عملة رقمية يمكن استخدامها لشراء السلع والخدمات. العديد من العملات الرقمية عبارة عن شبكات لامركزية تعتمد على تقنية blockchain ، وهي عبارة عن دفتر أستاذ موزع تفرضه شبكة متباينة من أجهزة الكمبيوتر جنبًا إلى جنب مع تشفير قوي لتأمين المعاملات مما يجعل من المستحيل تقريبًا التزوير أو الإنفاق المزدوج. السمة المميزة للعملات الرقمية هي أنها لا تصدر بشكل عام من قبل أي سلطة مركزية ، مما يجعلها من الناحية النظرية محصنة ضد تدخل الحكومة أو التلاعب بها.',
                 38: 'كانت أول عملة مشفرة قائمة على blockchain هي Bitcoin ، والتي لا تزال الأكثر شعبية والأكثر قيمة. يوجد اليوم الآلاف من العملات الرقمية البديلة ذات الوظائف والمواصفات المختلفة. بعضها عبارة عن نسخ أو شوكات من Bitcoin ، في حين أن البعض الآخر عبارة عن عملات جديدة تم بناؤها من الصفر. بعض العملات الرقمية المتنافسة الناتجة عن نجاح Bitcoin تشمل Ethereum و Litecoin و Peercoin و Namecoin ، بالإضافة إلى Cardano و EOS',
                 39: 'يتم تداول العملات الرقمية علنًا وتستمر في الانتشار ، وجمع الأموال من خلال عروض العملات الأولية ، أو ICOs. بلغت القيمة الإجمالية لجميع العملات الرقمية في 13 أبريل 2021 أكثر من 2.2 تريليون دولار ، وفقًا لـ CoinMarketCap ، وبلغت القيمة الإجمالية لجميع عملات البيتكوين ، العملة الرقمية الأكثر شيوعًا ، حوالي 1.2 تريليون دولار. يوفر التقلب الشديد في سوق العملات الرقمية فرصًا لا نهاية لها للمتداولين.',
                 40: "احصل على إمكانية الوصول إلى عملة التشفير ™N Sky الآن" ,
                 41: 'السابق',
                 42: 'التالى', 
                 43: 'السلع', 
                 44: 'مؤشرات الأسهم',
                 45: 'العقود الآجلة',
                 46: 'الطاقات'  
             },
             5:{
                 1: "ارز رمزنگاری شده" ,
                  2: "با ما تماس بگیرید" ,
                  3: "تجارت فارکس" ,
                  4: "فلزات گرانبها" ,
                  5: "مزایای تجارت رمزنگاری با آسمان نجیب ™" ,
                  6: "نوسانات بالا - حرکت بیشتر قیمت" ,
                  7: "Crypto Trade - ارز آینده" ,
                  8: "با توجه به حرکت بازار کوتاه / طولانی برو" ,
                  9: "تجارت در حاشیه کمترین حد" ,
                 10: "5 دلار" ,
                 11: "در Crypto CFD" ,
                 12: "بدون تأمین مالی یک شبه" ,
                 13: "بدون هزینه اضافی" ,
                 14: "تجارت Cryptocurrency با N Sky ... برای حداکثر سود" ,
                 15: "اکنون تجارت را شروع کنید" ,
                 16: "معامله ارز رمزپایه برای سود" ,
                 17: "برای کسب درآمد از طریق ارز رمزنگاری شده به صورت آنلاین ، سرمایه گذاران می توانند معامله کنند یا از قرارداد برای تفاوت (CFD) استفاده کنند. هنگامی که با استفاده از CFD معامله رمزنگاری می کنید ، بدون اینکه در واقع دارایی اصلی را داشته باشید ، درمورد قیمت دارایی های اساسی حدس می زنید. می توانید به یک موقعیت بلند یا کوتاه بستگی دارد که شما انتظار دارید قیمت دارایی افزایش یابد یا سقوط کند. بنابراین ، CFD به شما فرصتی می دهد تا از حرکات قیمتی نزولی و نزولی در اوراق بهادار پایه سود ببرید. CFD ها با حاشیه معامله را انجام می دهند ، نقدینگی بیشتر و اجرای آسان تر. توجه داشته باشید که CFD یک محصول اهرمی است ؛ بنابراین ، یک سرمایه گذار زیرک می خواهد سود بزرگتری کسب کند. ",
                 18: "بسیاری از معامله گران در معاملات کوتاه مدت یا' روزانه 'شرکت می کنند و ترجیح می دهند از CFD برای بسیاری از مزایا استفاده کنند که شامل توانایی سود در هر دو افزایش یا کاهش قیمت دارایی اساسی CFD است. به طور خاص ، اگر یک معامله گر فکر کند که ارزش BTC افزایش می یابد ، آنها می توانند 'طولانی' شوند. اگر آنها انتظار دارند كه كاهش یابد ، می توانند 'كوتاه كنند'. این مختص CFD است (همراه با همه ابزارهای مشتق شده) ، به بازرگانان این فرصت را می دهد تا در بازارهای رو به رشد و نزولی سود کسب كنند. تجارت به معنای بهره برداری از فرصت های كوتاه مدت از طریق درک عملکرد قیمت در متن تاریخی و استفاده از آن برای پیش بینی قیمت های آینده ، اغلب به صورت کوتاه مدت. ",
                 19: "عضو شوید" ,
                 20: "ارزهای رمزنگاری شده CFD" ,
                 21: '',
                 22: '',
                 23: 'CFD به معامله گران راهی متفاوت برای تجارت ارز رمزنگاری شده ارائه می دهد. در حالی که سرمایه گذاران می توانند از طریق صرافی با BTC سود ببرند ، CFD این فرصت را به آنها می دهد تا بدون افزایش مالکیت واقعی BTC از افزایش و کاهش قیمت بهره مند شوند. ',
                 24: "مزایای CFD های BTC:" ,
                 25: "حدس زدن در مورد قیمت رمزنگاری بدون داشتن رمزنگاری" ,
                 26: "معاملات در حاشیه سود را بزرگتر می کند" ,
                 27: "سود می تواند از طریق افزایش و سقوط بازارها حاصل شود" ,
                 28: "شروع آسان با ارز فیات" ,
                 29: "افزایش دسترسی به بسیاری از رمزنگاری های محبوب" ,
                 30: "نیاز به مارجین برای CFD بدین ترتیب محاسبه می شود: بسیاری * اندازه قرارداد * قیمت افتتاحیه * درصد مارجین و براساس اهرم حساب تجاری شما نیست." ,
                 31: "هنگامی که موقعیت خود را در CFD محافظت می کنید ، حاشیه همیشه 50٪ است و اگر سطح حاشیه شما بیش از 100٪ باشد.",
                 32: "تاریخ تقویم مشخص است و ممکن است تغییر کند" ,
                 33: 'اسپرد / شرایط فوق برای انواع حسابهای تجارت N Sky apply اعمال می شود.',
                 34: 'لطفاً توجه داشته باشید كه شركت ما برای قراردادهای جدید ابزارهای مالی كه تاریخ انقضا دارند ، پیشنهاد خودكار ارائه نمی دهد.',
                 35: "از آنجا که سیستم عامل های معاملات از قیمت های منفی ابزارهای مالی پشتیبانی نمی کنند ، در صورت بعید بها رسیدن قیمت هر ابزار انرژی به 0 ، شرکت شروع به بستن تمام موقعیت های باز با آخرین قیمت موجود می کند.",
                 36: "درباره رمزنگاری" ,
                 37: 'Cryptocurrency (یا "رمزنگاری") یک ارز دیجیتال است که می تواند برای خرید کالا و خدمات استفاده شود. بسیاری از ارزهای رمزپایه شبکه های غیرمتمرکز مبتنی بر فناوری بلاکچین هستند ، دفتری توزیع شده که توسط شبکه ای متفاوت از رایانه ها همراه با رمزنگاری قوی برای ایمن سازی تراکنش ها اعمال می شود که جعل و تقلب یا هزینه مضاعف آن را تقریباً غیرممکن می کند. یک ویژگی مشخص ارزهای رمزپایه این است که به طور کلی توسط هیچ مرجع مرکزی صادر نمی شود و باعث می شود آنها از لحاظ تئوری در برابر مداخلات یا دستکاری های دولت مصون باشند. ',
                 38: 'اولین Cryptocurrency مبتنی بر بلاکچین بیت کوین بود که هنوز هم محبوب ترین و با ارزش ترین آن باقی مانده است. امروزه هزاران ارز رمزپایه جایگزین با عملکردها و مشخصات مختلف وجود دارد. برخی از اینها کلون یا فورک بیت کوین هستند ، در حالی که برخی دیگر ارزهای جدیدی هستند که از ابتدا ساخته شده اند. برخی از ارزهای رمزپایه رقابتی که با موفقیت بیت کوین ایجاد شده اند ، شامل Ethereum ، Litecoin ، Peercoin و Namecoin ، همچنین Cardano و EOS هستند. ',
                 39: 'ارزهای رمزپایه به صورت عمومی معامله می شوند و همچنان تکثیر می شوند و از طریق پیشنهادات اولیه سکه یا ICO پول جمع می کنند. طبق CoinMarketCap ، ارزش کل ارزهای رمزنگاری شده در 13 آوریل 2021 بیش از 2.2 تریلیون دلار بود و ارزش کل بیت کوین ، محبوب ترین ارز دیجیتال ، در حدود 1.2 تریلیون دلار بود. نوسانات زیاد بازار ارزهای رمزنگاری شده فرصت های بی پایان را به معامله گران ارائه می دهد. ',
                 40: "اکنون دسترسی به N Sky™ Cryptocurrency" ,
                 41: 'قبلی',
                 42: 'بعدی', 
                 43: 'کالاها', 
                 44: 'شاخصهای سهام',
                 45: 'آینده ها',
                 46: 'انرژی ها'  
             }
         },


        tableIndex:0,
        tableIndex2:0,
        queryIndex:0,
        queryIndexFlag:false,
        head:['能源','Cryptocurrencies','Enerji','الطاقات','انرژی ها']




    };
  },
   metaInfo() {return {
      // 

      title: this.head[this.curLanguage-1]+'-N Sky',
      }
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

//    if(this.curLanguage!=2){
//        let pName = this.$route.name.substring(0,this.$route.name.length-2)
//        let pNameStr = pName + languageCode[this.curLanguage]
//        this.$router.push({name:pNameStr});
//    }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
         this.curLanguage=val;
       console.log(this.curLanguage)
    //    let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
    //    let pNameStr = pName + languageCode[val]
    //    this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleTableIndex2(val){
         this.tableIndex2 = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }



  }


};
</script>






<style scoped lang="scss">
.row-1 .crate-account .create-link {
          display: block;
          width: 450px;
          height: 60px;
          background-color: #12d767;
          color: #fff;
          margin: 0 auto;
          text-align: center;
          padding-top: 8px;
          margin-bottom: 8px;
          border-radius: 3px;
        }
 .xmLeverage-200.fs100{
    width: 120px;height: 100px;display: block;
   background: url(../../static/images/ico-200-1.png) no-repeat center 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1' width='126.667' height='100' viewBox='0 0 100.000000 100.000000'%3E%3Cpath d='M1 50v50h98V0H1v50zm96-38.5V20H3V3h94v8.5zm0 48V97H3V22h94v37.5z'/%3E%3Cpath d='M75 11c0 .5.9 1 2 1s2-.5 2-1c0-.6-.9-1-2-1s-2 .4-2 1zM86 11c0 .5.9 1 2 1s2-.5 2-1c0-.6-.9-1-2-1s-2 .4-2 1zM9.4 43.3c-1.5 1.3-2.4 2.9-2 3.5.5.8 1.3.5 2.6-.8 2.6-2.6 5.5-2.5 7.4.2 3.3 4.6 1.5 10.7-5.8 20.5C9.1 70 7 73.3 7 73.9c0 .7 2.8 1.1 8 1.1 6.4 0 8-.3 8-1.5S21.7 72 17.5 72c-3 0-5.5-.2-5.5-.5s1.6-2.7 3.5-5.4c7-9.8 8.1-18.9 2.8-23.1-3.3-2.6-5.6-2.5-8.9.3zM31.1 42.9c-2.9 2.9-4.4 9.7-3.9 18.1.5 8.2 2.6 13.5 5.8 14.5 5.7 1.8 9.1-3.3 9.8-14.5.7-11.8-2.5-20-7.8-20-1.1 0-2.9.9-3.9 1.9zm7.5 4.6c1.8 4.5 1.8 17.5 0 22-2 4.8-5.2 4.8-7.2 0-1.8-4.5-1.8-17.5 0-22 2-4.8 5.2-4.8 7.2 0zM51.1 42.9c-2.9 2.9-4.4 9.7-3.9 18.1.7 11.2 4.1 16.3 9.8 14.5 3.2-1 5.3-6.3 5.8-14.5.7-11.8-2.5-20-7.8-20-1.1 0-2.9.9-3.9 1.9zm7.5 4.6c.8 2 1.4 6.7 1.4 11 0 9-1.9 14.5-5 14.5s-5-5.5-5-14.5S51.9 44 55 44c1.5 0 2.5 1.1 3.6 3.5zM82.8 43.6c-3.5 1.8-3.6 3.4-.3 3.4H85v25h-3c-2 0-3 .5-3 1.5 0 1.2 1.4 1.5 7 1.5s7-.3 7-1.5c0-.9-.9-1.5-2.5-1.5H88V57c0-16.2 0-16.3-5.2-13.4zM69.6 52.5c-.7 2 .3 4.5 1.9 4.5 1.8 0 2.4-2.1 1.3-4.3-1.1-2.1-2.4-2.2-3.2-.2zM69.6 71.5c-.6 1.8.2 4.5 1.5 4.5 1.2 0 2.7-3.3 2.2-4.8-.6-1.7-3-1.5-3.7.3z'/%3E%3C/svg%3E");

  }
  .xmLeverage-100.fs100 {
    width: 150px;
    height: 100px;
    display: block;
    background: url(../../static/images/ico-200-1.png) no-repeat center 0;
  }
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width:100%;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top30 {
       margin-top: 30px !important;
       text-align: center;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: center;padding: 10px !important;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #ffa200;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size:16px!important;color: #252632;width: 247px;text-align: center;font-weight: 700;border-radius: 5px!important}
      .btn-full:hover{background-color: #ffa200;}
   }

   .nav-flexbox-tabs {padding: 10px !important;
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: block;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width:  95%;
       text-align: center;
       background-color: #fff;
      //  margin-bottom: 15px;
      //  margin-right: 15px;
      //  margin-left: 2.5%;
      margin: 8px auto !important;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #252632;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #ffb83c;
    }
    .nav-flexbox-tabs>li>a:hover{
      background-color: #252632;
      border: 0 solid #fff;
      color: #fff;
    }

  //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #212529 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}



footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
table.dataTable thead th, table.dataTable tbody td{
  padding: 0!important;
  font-size: 0.8em!important;
}
.feature-item5{width: 50%;}
.rightIcon{
    left:2%!important;
    text-align: left;
}
.xmLeverage-200:before
 {
   content: '';
   }
   td{
     color:#000;
   }
   .rightArrow{
     left:3%!important;
     right:unset!important;
   }
  .tab-content > .active {
    height: unset !important;
    width: auto;
  }
   #dateTime{display:flex}
   .rightToLeft p,.rightToLeft h3{padding-right: 25px;}
   .rightToLeft #accordion1 i{right:unset;left:2%}
   .rightToLeft #accordion1 .panel .panel-heading h3{padding-right: 0!important;padding-left: 35px!important;}
</style>
