<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" v-bind:class="{rightToLeft:(curLanguage==4||curLanguage==5)}">

          <div class="container-fluid top-bar">
            <div class="container-fluid" style="padding: 15px 10px;">
              <div class="">
                <div class="col-12 " style="text-align:center">
                  <h1 style="font-size:20px;color:white">{{language[curLanguage][1]}}</h1>
                  <!-- <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">{{language[curLanguage][1]}}</li></ol> -->
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>{{language[curLanguage][2]}}</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid hidden-xs">
            <h2 class="top80">{{language[curLanguage][3]}}</h2>
            <div class="row text-center top50 mx-auto">
              <div class="feature-item5">
                <i class="tfxfont3 xmStopwatch fs100 "></i>
                <p>{{language[curLanguage][4]}}</p>
              </div>
              <div class="feature-item5">
                <i class="tfxfont3 xmLock fs100 "></i>
                <p>{{language[curLanguage][5]}}</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmPercent-100 fs100 "></i>
                <p>{{language[curLanguage][6]}}
                  <br>{{language[curLanguage][7]}}</p></div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmClock fs100 "></i>
                <p>{{language[curLanguage][8]}}</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmSupport-on fs100 "></i>
                <p>{{language[curLanguage][9]}}</p>
              </div>
            </div>
          </div>
          
         
          <div class="container-fluid">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-12 ">
                  <p>{{language[curLanguage][10]}}
                    <br>{{language[curLanguage][11]}}</p></div>
                <div class="col-12">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">{{language[curLanguage][12]}}</router-link></div>
              </div>
            </div>
          </div>
          <div class="container-fluid top80" style="text-align: initial;">
            <div class="row hidden-xs hidden-sm">
              <div class="col-md-12 text-justify mx-2">
                <blockquote>
                  <p>{{language[curLanguage][13]}}</p>
                  <footer>{{language[curLanguage][14]}}</footer></blockquote>
              </div>
            </div>
            <div class="row top40">
              <div class="col-md-12 mx-2">
                <h2>{{language[curLanguage][15]}}</h2>
                <p>{{language[curLanguage][16]}}</p>
              </div>
              <div class="col-md-12 top20">
                <h2>{{language[curLanguage][17]}}</h2>
                <p>{{language[curLanguage][18]}}</p>
                <p>{{language[curLanguage][19]}}</p>
                <p>{{language[curLanguage][20]}}</p>
              </div>
              <div class="col-md-12 top20">
                <h2>{{language[curLanguage][21]}}</h2>
                <p>{{language[curLanguage][22]}}</p>
              </div>
              <div class="col-md-12 top20">
                <h2>{{language[curLanguage][23]}}</h2>
                <p>{{language[curLanguage][24]}}</p>
              </div>
              <div class="col-md-12 top20">
                <h2>{{language[curLanguage][25]}}</h2>
                <p>{{language[curLanguage][26]}}</p>
              </div>
              <div class="col-md-12 top20">
                <h2>{{language[curLanguage][27]}}</h2>
                <p>{{language[curLanguage][28]}}</p>
                <!--<p>{{language[curLanguage][29]}}
                   <a href="/assets/pdf/new/docs/NOBLE SKYGlobal-Order-Execution-Policy.pdf?v2" target="_blank" class="red">{{language[curLanguage][30]}}</a></p> -->
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {languageCode} from '../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false,
        head:['执行政策','Execution Policy','politika yürütmek','سياسة التنفيذ','خط مشی اجرای دستورها'],
        language:{
            1:{
                1:'执行政策',
                2:'联系我们',
                3:'99.35 %订单1秒内执行',
                4:'99.35 %订单1秒内执行',
                5:'无重复报价 - 无虚拟交易员插件',
                6:'100%执行率',
                7:'无拒绝订单',
                8:'实时市场执行',
                9:'在线或通过电话下订单',
                10:'实时，随时随地最快的执行时间，没有拒绝或重新报价的情况。',
                11:'',
                12:'建立账户',
                13:'在N Sky ™，执行速度是至关重要的。我们以最有效的市场价格使我们的客户简单、快速的进行交易。由此，我们强烈反对恶性重复报价或拒绝客户订单来降低执行速度的任何软件和方法。根据我们的以往经验，我们了解低执行速度会导致可盈利交易走向亏损。只有在您可以成功交易的情况下，小点差才有意义，否则再小的点差也毫无意义。在这方面, N Sky ™ 的任务是提供尽可能最快的执行速度。',
                14:'N Sky ™ Group创始人',
                15:'N Sky ™ 传奇般的执行力',
                16:'自2010年，N Sky ™实行无重复报价，无拒绝订单政策。提供100%的执行速度，99.35%的订单在1秒内执行。',
                17:'下订单',
                18:'我们的 交易平台 支持市场订单、有限订单、止损订单和追踪止损订单，您可在任何时候于交易时间内自由地下订单。在N Sky ™，您也可以通过电话交易或直接与我们的任何一个我们的操盘手联系。您的仓位将一直保持开立状态，直到收盘交易结束；另外，您的账户余额会按照现行市场价格被实时更新。',
                19:'分数点位报价让您以更低的点差进行交易，尽可能地享受最精确的报价。',
                20:'请注意，每位客户在同一时间内最高可以同时拥有200个开仓订单（包含挂单）。',
                21:'市场订单填写',
                22:'在N Sky ™，您可以轻松操作一次交易500万，因为我们保证最高50手（即500万）的成交量。如果您欲交易的金额大于上述金额，建议您可将订单拆分为数个较小交易规模的订单。',
                23:'止损和有限订单填写',
                24:'N Sky ™了解止损和限价指令在风险控制中的重要性，这也是为什么我们能够保证这两种订单在每单最多交易50 手的情况下以市场最优价格成交的原因。',
                25:'假期和周末执行',
                26:'如果服务器时间星期五的收盘价至星期日的开盘价出现市场空白， N Sky ™ 将会在市场价格出现的第一时间执行所有止盈损挂单。',
                27:'不稳定和非流动性市场交易',
                28:'N Sky ™ 跟不同的资金提供方有着长期的伙伴合作关系，采纳各个提供方的警觉性和信息，即使在市场行情不稳定的情况下、我们仍然会以最有效的市场价格通过执行订单来为您提供最好的服务。',
                29:'详情请阅读我们的',
                30:'订单执行政策'
            },
            2:{
                1:'Execution Policy',
                2:'Contact Us',
                3:'99.35% of All Trades are Executed in Less than 1 Second',
                4:'99.35% of all orders executed in less than 1 sec.',
                5:'Strict NO re-quotes policy – NO Virtual Dealer plug-in',
                6:'100% execution rate',
                7:'no rejection of orders',
                8:'Real-time market execution',
                9:'Placing orders online or by phone',
                10:'Fastest execution time, anytime, anywhere in real-time with no re-quotes or rejections.',
                11:'',
                12:'OPEN AN ACCOUNT',
                13:'At N Sky ™ execution quality is crucial. We foster the ease and speed at which our clients enter the market at the best available market price. Thus we strongly oppose any software or methods that undermine execution quality by aggressively re-quoting or rejecting clients’ orders. As ex-interbank dealers, we also know that inferior execution turns a profitable trading strategy into a losing one. Tight spreads only make sense if you can trade on them. In this respect, the N Sky ™ mission is to provide best execution possible.',
                14:'N Sky ™ Group',
                15:'N Sky ™ Legendary Execution',
                16:'N Sky ™ has pioneered at introducing a no re-quotes and no rejection of orders policy since 2018. We offer 100% execution of orders with 99.35% of all our orders executed in less than 1 second.',
                17:'Placing Orders',
                18:"Our trading platform supports market, limit, stop ,and trailing stop orders, and you have the freedom to place orders at any time during trading hours. In case you prefer telephone trading and speaking directly to any of our dealers, at N Sky ™ this is also possible. Your position will remain open until the closing trade is executed; moreover, your account balance is updated in real-time according to current market prices.",
                19:'With fractional pip pricing you can trade with tighter spreads and enjoy the most accurate quoting possible',
                20:'Kindly note that you may only hold up to 200 positions open simultaneously (per client and including pending orders).',
                21:'Fills on Market Orders',
                22:'At N Sky ™ you can trade 5 million with a simple click, as we guarantee fills on market orders up to 50 lots (5 million). However, if you intend to deal in an amount even bigger than this, you can split up the order into smaller trade sizes.',
                23:'Fills on Stop - Loss and Limit Orders',
                24:'At N Sky ™ we understand the importance of stop-loss and limit orders in risk management, this is why we guarantee fills on both such orders up to 50 lots at the best available market price.',
                25:'Holiday and Weekend Execution',
                26:'Should there be any market gap from Friday close to a Sunday opening, N Sky ™ executes all pending limit or stop orders at the first available market price for the corresponding position size.',
                27:'Volatile or Illiquid Market Trading',
                28:'Thanks to its alertness and business partnerships with various liquidity providers, N Sky ™ aims to serve you best even during volatile market conditions by executing orders at the best available market price.',
                29:'Please read further details in our',
                30:'Order Execution Policy.'
            },
            3:{
                1:'politika yürütmek',
                2:'Bize Ulaşın',
                3:'99.35 % 1 saniye içinde yürütülen emir',
                4:'99.35 % 1 saniye içinde yürütülen emir',
                5:'Yeniden teklif yok - sanal tüccar eklentisi yok',
                6:'100%kesin oran',
                7:'Sipariş reddi yok',
                8:'Gerçek zamanlı piyasa uygulaması',
                9:'Çevrimiçi veya telefonla sipariş verin',
                10:'Reddetme veya yeniden teklif verme olmadan gerçek zamanlı olarak her zaman, her yerde en hızlı yürütme süresi. ',
                11:'',
                12:'Hesap oluştur',
                13:"N Sky ™'da yürütme hızı son derece önemlidir. Müşterilerimizin en efektif piyasa fiyatı ile işlemlerini basit ve hızlı bir şekilde yapmalarını sağlıyoruz. Bu nedenle, kötü niyetli şekilde yeniden alıntı yaparak veya müşteri siparişlerini reddederek yürütme hızını azaltan her türlü yazılım ve yönteme şiddetle karşı çıkıyoruz. Geçmiş deneyimimize dayanarak, düşük yürütme hızının kârlı işlemlere yol açarak zarara yol açabileceğini anlıyoruz. Küçük spreadler ancak başarılı bir şekilde ticaret yapabiliyorsanız anlamlıdır, aksi takdirde küçük spreadler bile anlamsızdır. Bu bağlamda, N Sky ™'nin misyonu, mümkün olan en hızlı yürütme hızını sağlamaktır.",
                14:'N Sky ™ Group Kurucu',
                15:'N Sky ™ Efsanevi infaz',
                16:"N Sky ™, 2010 yılından bu yana hiçbir talep ve sipariş reddi politikası uygulamadı. % 100 işlem hızı sağlar, emirlerin% 99,35'i 1 saniye içinde gerçekleştirilir.",
                17:'sipariş vermek',
                18:"bizim Ticaret platformu Piyasa emirlerini, sınırlı emirleri, zararı durdur emirlerini ve takip eden zararı durdur emirlerini destekleyin, işlem saatleri içinde istediğiniz zaman serbestçe sipariş verebilirsiniz. N Sky ™'de ayrıca telefonla ticaret yapabilir veya herhangi bir tüccarımızla doğrudan iletişime geçebilirsiniz. Pozisyonunuz kapanış işlemi bitene kadar açık kalacak, ayrıca hesap bakiyeniz güncel piyasa fiyatına göre gerçek zamanlı olarak güncellenecektir.",
                19:'Kesirli nokta kotasyonu, daha düşük spreadlerle işlem yapmanıza ve mümkün olan en doğru kotasyonun keyfini çıkarmanıza olanak tanır.',
                20:'Lütfen her müşterinin aynı anda 200 adede kadar açık siparişi (bekleyen siparişler dahil) olabileceğini unutmayın.。',
                21:'Piyasa emri doldurma',
                22:"N Sky ™'de, bir seferde 5 milyonluk bir işlemi kolayca gerçekleştirebilirsiniz, çünkü maksimum 50 lotluk (yani 5 milyon) bir hacim garanti ediyoruz. İşlem yapmak istediğiniz miktar yukarıdaki miktardan fazlaysa, siparişi daha küçük işlem boyutuna sahip birkaç siparişe bölmeniz önerilir.",
                23:'Kaybı ve sınırlı sipariş doldurmayı durdurun',
                24:'N Sky ™Risk kontrolünde zararı durdur ve emirleri sınırlandırmanın önemini anlayın, bu nedenle bu iki emrin piyasadaki en iyi fiyattan sipariş başına maksimum 50 lot ile işlem göreceğini garanti edebiliriz。',
                25:'Tatil ve hafta sonu uygulaması',
                26:'Pazarda sunucu saatinde Cuma kapanış fiyatından Pazar açılış fiyatına kadar bir boşluk varsa, N Sky ™ tüm kar durdurma ve zarar bekleyen emirleri piyasa fiyatı görünür görünmez gerçekleştirecektir.',
                27:'Kararsız ve likit olmayan piyasa işlemleri',
                28:'N Sky ™ Farklı fon sağlayıcılarla uzun vadeli ortaklıklarımız var ve her tedarikçinin dikkatini ve bilgilerini benimsiyoruz. Kararsız piyasa koşullarında bile, emirleri uygulayarak size en etkin piyasa fiyatını sunmaya devam edeceğiz. İyi hizmet。',
                29:'Ayrıntılar için lütfen okuyun',
                30:'Sipariş yürütme politikası'
            },
            4:{
                1:'سياسة التنفيذ',
                2:'اتصل بنا',
                3:'يتم تنفيذ 99.35٪ من جميع التداولات في أقل من ثانية واحدة',
                4:'يتم تنفيذ 99.35٪ من جميع الأوامر في أقل من ثانية واحدة.',
                5:'سياسة صارمة لعدم إعادة التسعير - لا يوجد إضافات للوكلاء الافتراضيين',
                6:'100٪ معدل تنفيذ',
                7:'لا رفض للأوامر',
                8:'تنفيذ العمليات في الوقت الفعلي للسوق',
                9:'تقديم الطلبات عبر الإنترنت أو عبر الهاتف',
                10:'أسرع وقت للتنفيذ ، في أي وقت وفي أي مكان في الوقت الفعلي دون أي رفض أو إعادة تسعير.',
                11:'',
                12:'افتح حساب',
                13:'في ™N Sky ، تعتبر جودة التنفيذ أمرًا بالغ الأهمية. نحن نعزز السهولة والسرعة التي يدخل بها عملاؤنا السوق بأفضل سعر متاح في السوق. وبالتالي ، فإننا نعارض بشدة أي برنامج أو طرق تقوض جودة التنفيذ من خلال إعادة الاقتباس أو رفض أوامر العملاء بقوة. بصفتنا متعاملين سابقين بين البنوك ، نعلم أيضًا أن التنفيذ الرديء يحول استراتيجية تداول مربحة إلى استراتيجية خاسرة. السبريد الضيق يكون منطقيًا فقط إذا كان بإمكانك التداول عليه. في هذا الصدد ، تتمثل مهمة ™N Sky في توفير أفضل تنفيذ ممكن.',
                14:'مجموعة ™N Sky',
                15:'تنفيذ ™N Sky الأسطوري',
                16:'لقد كانت ™N Sky رائدة في إدخال سياسة عدم إعادة التسعير وعدم رفض الطلبات منذ عام 2018. نحن نقدم تنفيذًا بنسبة 100٪ للأوامر مع تنفيذ 99.35٪ من جميع الطلبات في أقل من ثانية واحدة.',
                17:'تقديم الطلبات',
                18:'تدعم منصة التداول الخاصة بنا أوامر السوق ، والحد ، والإيقاف ، والإيقاف المتحرك ، ولديك الحرية في وضع الأوامر في أي وقت خلال ساعات التداول. في حال كنت تفضل التداول عبر الهاتف والتحدث مباشرة إلى أي من تجارنا ، فهذا ممكن أيضًا في ™N Sky. سيظل مركزك مفتوحًا حتى يتم تنفيذ صفقة الإغلاق ؛ علاوة على ذلك ، يتم تحديث رصيد حسابك في الوقت الفعلي وفقًا لأسعار السوق الحالية.',
                19:'مع تسعير النقطة الجزئية ، يمكنك التداول بفروق أسعار ضيقة والتمتع بأدق عرض أسعار ممكن',
                20:'يرجى ملاحظة أنه يمكنك فقط الاحتفاظ بما يصل إلى 200 مركز مفتوح في وقت واحد (لكل عميل بما في ذلك الأوامر المعلقة).',
                21:'تنفيذ أوامر السوق',
                22:'في ™N Sky ، يمكنك تداول 5 ملايين بنقرة بسيطة ، حيث نضمن تنفيذ أوامر السوق حتى 50 عقدًا (5 ملايين). ومع ذلك ، إذا كنت تنوي التعامل بمبلغ أكبر من هذا ، يمكنك تقسيم الأمر إلى أحجام تداول أصغر.',
                23:'تنفيذ بأوامر الإيقاف - الخسارة والحد',
                24:'في ™N Sky ، نتفهم أهمية أوامر وقف الخسارة والحد في إدارة المخاطر ، ولهذا السبب نضمن تنفيذ كل من هذه الأوامر حتى 50 عقدًا بأفضل سعر متاح في السوق.',
                25:'تنفيذ عطلة نهاية الأسبوع',
                26:'إذا كان هناك أي فجوة في السوق من يوم الجمعة بالقرب من افتتاح يوم الأحد ، فإن ™N Sky تنفذ جميع أوامر الحد أو الإيقاف المعلقة عند أول سعر سوق متاح لحجم المركز المقابل.',
                27:'تداول السوق المتقلب أو غير السائل',
                28:'بفضل اليقظة والشراكات التجارية مع العديد من مزودي السيولة ، تهدف ™N Sky إلى خدمتك بشكل أفضل حتى أثناء ظروف السوق المتقلبة من خلال تنفيذ الطلبات بأفضل سعر متاح في السوق.',
                29:'يرجى قراءة المزيد من التفاصيل في',
                30:'سياسة تنفيذ الطلب لدينا'
            },
            5:{
                1:'خط مشی اجرای دستورها',
                2:'تماس با ما',
                3:'99.35% معاملات در کمتر از 1 ثانیه اجرا می شوند',
                4:'99.35% تمام دستورات در کمتر از 1 ثانیه اجرا می شوند',
                5:'بدون ریکوت – بدون پلاگین',
                6:'100% execution rate',
                7:'اجرای 100% دستورات بدون ریجکشن',
                8:'اجرای در لحظه مطابق با بازار',
                9:'اجرای دستورات بصورت آنلاین یا از طریق تلفن',
                10:'سریعترین زمان اجرا ، در هر زمان و هر مکان در زمان واقعی بدون رد یا نقل قول مجدد.',
                11:'',
                12:'افتتاح حساب',
                13:'در ™N Sky کیفیت اجرا از اهمیت بالایی برخوردار می باشد. ما سهولت و سرعت ورود مشتریان با بهترین قیمت موجود در بازار تقویت می کنیم. بنابراین ما با هرگونه نرم افزار یا روشی که کیفیت مبادلات را با ریکوت یا ریجکشن سفارشات مشتریان تضعیف می کند به شدت مخالف هستیم. به عنوان فروشنده های بین بانکی سابق، می دانیم که دخالت در معاملات نیز میتواند یک استراتژی سودآور را به یک استراتژی ضررده تبدیل گند. اسپردهای ثابت تنها در صورت منطقی به نظر می آیند که قابلیت معامله داشته باشند. بر این اساس ماموریت ™N Sky تامین و ارائه ی بهترین دستورات جرای ممکن می باشد.',
                14:'™N Sky Group',
                15:'اجرای دستورات افسانه ای در ™N Sky',
                16:'™N Sky ازپیشگامان سیاست بدون ریکوت و بدون ریجکشن از سال 2018 می باشد. از 100٪ دستورات داده شده توسط مشتری 99.35٪ از کل سفارشات را در کمتر از 1 ثانیه اجرا می کنیم.',
                17:'دستور گذاشتن',
                18:'پلتفرم معاملاتی ما از تمام بازار و دستورات لیمیت، استاپ و تریلینگ پشتیبانی می کند و شما مجاز به اجرای دستور در هر ساعتی از بازار هستید. ™N Sky به شما امکان تماس مستقیم با فروشندگان را در صورتیکه معامله ی تلفنی را انتخاب کرده اید فراهم می آورد. معامله ی شما تا زمانیکه دستور بستن معامله را وارد کنید باز باقی می ماند؛ علاوه بر این، موجودی حساب شما با توجه به قیمت های لحظه ای بازار در زمان واقعی به روزرسانی می شود. ',
                19:'با در نظر گرفتن پیپ پایین می توانید با اسپردهای مناسب تر معامله کنید و از قیمت های واقعی موجود در بازار بهره ببرید.',
                20:'لطفا مد نظر داشته باشید که میتوانید همزمان 200 معامله ی باز (هر مشتری، شامل معاملات پندینگ) داشته باشید.',
                21:'معاملات بازار را تکمیل کن',
                22:'در ™N Sky شما می توانید با یک کلیک 5 میلیون معامله کنید از آنجاییکه تا 50 لات شما را ضمانت میکنیم (5میلیون). با این حال اگر قصد دارید مبلغی حتی بیشتر از این معامله کنید می توانید حجم سفارش های خود را کوچکترکنید.',
                23:'دستورات حد ضرر و محدودیت را تکمیل کنید',
                24:'در ™N Sky ما اهمیت حد ضرر و محدودیت سفارشات در مدیریت ریسک را درک می کنیم و به همین دلیل است که انجام هر دو سفارش را تا 50 لات با بهترین قیمت موجود در بازار تضمین می کنیم.',
                25:'دستورات تعطیلات و آخر هفته',
                26:'از آنجاییکه ممکن است از روز جمعه تا پایان روز یکشنبه در بازار شکاف وجود داشته باشد، ™N Sky تمام سفارشات محدود یا حد ضرر را در اولین قیمت موجود در بازار با توجه به حجم معامله اجرا خواهد کرد.',
                27:'معامله در بازار سیال و پرنوسان',
                28:'™N Sky به لطف مشارکت هوشمند و تجاری خود با ارائه دهندگان نقدینگی مختلف درصدد ارائه ی بهترین شرایط حتی در شرایط ناپایدار بازار با اجرای سفارشات در بهترین قیمت موجود در بازار می باشد.',
                29:'برای کسب اطلاعات بیشتر به',
                30:'قوانین اجرای دستورات . مراجعه کنید'
            }
        }





    };
  },
   metaInfo() {return {
      // 

      title: this.head[this.curLanguage-1]+'-N Sky',
      }
   },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

//    if(this.curLanguage!=2){
//        let pName = this.$route.name.substring(0,this.$route.name.length-2)
//        let pNameStr = pName + languageCode[this.curLanguage]
//        this.$router.push({name:pNameStr});
//    }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
    //    console.log(this.curLanguage)
    //    let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
    //    let pNameStr = pName + languageCode[val]
    //    this.$router.push({name:pNameStr});
       this.curLanguage = val;

     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
     width: 100%;
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
     text-align: center;
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: center;padding: 10px !important;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #ffa200;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size:16px!important;color: #252632;width: 247px;text-align: center;font-weight: 700;border-radius: 5px!important}
      .btn-full:hover{background-color: #ffa200;}
   }

   .nav-flexbox-tabs {padding: 10px !important;
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


 //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap>
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
.feature-item5{width: 50%;}
.rightToLeft{
    direction: rtl!important;
}
</style>
