<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <pageHeader2 pageName="products" @userLogout="userLogout" ref="pageHead2" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />


        <div class="page-title">
            <h3>{{language[curLanguage][45]}}</h3>
            <!-- <div class="links">
                <a href="javascript:"><i class="icon icon-plane"></i>发布产品</a>
                <a href="javascript:"><i class="icon icon-product"></i>我的产品</a>
                <a href="javascript:"><i class="icon icon-record"></i>我的订单</a>
            </div> -->

        </div>

        <div class="main">
            <div class="order-list">
                  <div class="item-cell" v-for="(item,index) in orderInfo" :key="index">
                       <ul>
                          <li>
                              <span>{{language[curLanguage][1]}}</span>
                              <em>{{item.order.t_foid}}</em>
                          </li>
                           <li>
                               <span>{{language[curLanguage][2]}}</span>
                               <em>{{item.order.t_fpid}}</em>
                           </li>
                           <li>
                               <span>{{language[curLanguage][3]}}</span>
                               <em>{{item.products.t_name}}</em>
                           </li>
                           <li>
                               <span>{{language[curLanguage][4]}}</span>
                               <em>{{orderStateGroup[item.order.t_state]}}</em>
                           </li>
                           <li>
                               <span>{{language[curLanguage][5]}}</span>
                               <em>{{item.order.t_amount}}</em>
                           </li>
                           <li>
                               <span>{{language[curLanguage][6]}}</span>
                               <em>{{systemGroup[item.order.t_system]}}</em>
                           </li>

                           <li>
                               <span>{{language[curLanguage][7]}}</span>
                               <em>$&nbsp;{{item.order.t_profit}}</em>
                           </li>
                           <li>
                               <span>{{language[curLanguage][8]}}</span>
                               <em>{{item.order.t_time}}</em>
                           </li>
                           <li>
                               <span>{{language[curLanguage][9]}}</span>
                               <em>
                                  <span @click="viewDetails(item)">{{language[curLanguage][13]}}</span>
                                  <span class="change-amount" @click="changeAmountBefore(item)" v-if="item.products.t_state===0">{{language[curLanguage][58]}}</span>
                               </em>
                           </li>

                       </ul>
                  </div>
                  <!-- <table>
                       <tr>
                           <th>{{language[curLanguage][1]}}</th>
                           <th>{{language[curLanguage][2]}}</th>
                           <th>{{language[curLanguage][3]}}</th>
                           <th>{{language[curLanguage][4]}}</th>
                           <th>{{language[curLanguage][5]}}</th>
                           <th>{{language[curLanguage][6]}}</th>
                           <th>{{language[curLanguage][7]}}</th>
                           <th>{{language[curLanguage][8]}}</th>
                           <th>{{language[curLanguage][9]}}</th>
                       </tr>
                       <tr class="line-height">
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                       </tr>
                       <tr v-for="(item,index) in orderInfo" :key="index">
                           <td>{{item.order.t_foid}}</td>
                           <td>{{item.order.t_fpid}}</td>
                           <td>{{item.products.t_name}}</td>
                           <td><i :class="{green:item.order.t_state===0,red:item.order.t_state==1}">{{orderStateGroup[item.order.t_state]}}</i></td>
                           <td>{{item.order.t_amount}}</td>
                           <td>{{systemGroup[item.order.t_system]}}</td>
                           <td>$&nbsp;{{item.order.t_profit}}</td>
                           <td>{{item.order.t_time}}</td>
                           <td>
                             <span @click="viewDetails(item)">{{language[curLanguage][13]}}</span>
                             <span class="change-amount" @click="changeAmountBefore(item)" v-if="item.products.t_state===0">{{language[curLanguage][58]}}</span>
                          </td>
                       </tr>
                  </table> -->
                  <div class="empty" v-if="orderInfo.length===0">
                       <i class="icon icon-record"></i>
                       <span>{{language[curLanguage][46]}}</span>
                  </div>
            </div>

            <div class="change-amount-dialog">
               <el-dialog
                   :title="language[curLanguage][58]"
                   :visible.sync="changeAmountFlag"
                   width="30%">
                   <ul>
                      <li>
                          <span>{{language[curLanguage][67]}}</span>
                          <em>{{systemGroup[changeData.system]}}</em>
                      </li>
                      <li>
                          <span>{{language[curLanguage][66]}}</span>
                          <em>{{changeData.curAmount}}</em>
                      </li>

                      <li>
                          <span>{{language[curLanguage][70]}}</span>
                          <div class="input-box">
                               <input type="text" v-model.trim = "changeData.amount" :placeholder="language[curLanguage][65]" />
                               <p class="check-tip" v-if="changeData.tip1">{{language[curLanguage][61]}}</p>
                               <p class="check-tip" v-if="changeData.tip2">{{language[curLanguage][62]}}</p>
                               <p class="check-tip" v-if="changeData.tip3">{{language[curLanguage][63]}}</p>
                               <p class="check-tip" v-if="changeData.tip4">{{language[curLanguage][64]}}</p>
                          </div>

                      </li>
                   </ul>

                   <span slot="footer" class="dialog-footer">
                      <el-button type="success" @click="changeAmount()" v-if="!changeData.submitStateFlag">{{language[curLanguage][68]}}</el-button>
                      <el-button type="success" v-if="changeData.submitStateFlag">{{language[curLanguage][69]}}</el-button>
                   </span>
               </el-dialog>
            </div>

            <div class="fin-pro-details">
                <el-dialog
                    title=""
                    :visible.sync="orderDetails.dialogFlag"
                    :close-on-click-modal = "true"
                    width="60%">
                    <div class="product-info">
                        <h5>{{language[curLanguage][47]}}</h5>
                        <div class="upper clearfix">
                            <div class="item">{{language[curLanguage][1]}} <i>{{orderDetails.data.order.t_foid}}</i> </div>
                            <div class="item">{{language[curLanguage][2]}} <i>{{orderDetails.data.order.t_fpid}}</i> </div>
                            <div class="item">{{language[curLanguage][3]}} <i>{{orderDetails.data.products.t_name}}</i> </div>
                            <div class="item">{{language[curLanguage][4]}} <i>{{orderStateGroup[orderDetails.data.order.t_state]}}</i> </div>
                            <div class="item">{{language[curLanguage][5]}} <i>{{orderDetails.data.order.t_amount}}</i> </div>
                            <div class="item">{{language[curLanguage][6]}} <i>{{systemGroup[orderDetails.data.order.t_system]}}</i> </div>
                            <div class="item">{{language[curLanguage][7]}} <i>{{orderDetails.data.order.t_profit}}</i> </div>
                            <div class="item" style="width: 240px;">{{language[curLanguage][8]}} <i>{{orderDetails.data.order.t_time}}</i> </div>

                        </div>
                        <h5 style="margin-top: 30px;">{{language[curLanguage][48]}}：{{orderDetails.data.products.t_name}}</h5>
                        <div class="upper clearfix">
                            <div class="item">{{language[curLanguage][14]}} <i>{{orderDetails.data.products.t_time}}</i> </div>
                            <div class="item">{{language[curLanguage][15]}} <i>{{orderDetails.data.products.t_stime}}</i></div>
                            <div class="item">{{language[curLanguage][16]}} <i>{{orderDetails.data.products.t_etime}}</i></div>
                            <div class="item">{{language[curLanguage][17]}} <i>{{orderDetails.data.products.t_month}}</i>&nbsp;{{language[curLanguage][50]}}</div>
                            <div class="item">{{language[curLanguage][18]}} <i>{{orderDetails.data.products.t_principal}}</i></div>
                            <div class="item">{{language[curLanguage][19]}} <i>{{profitType[orderDetails.data.products.t_profit_type]}}</i></div>
                            <div class="item">{{language[curLanguage][20]}}
                              <i v-if="orderDetails.data.products.t_profit_type===0">{{orderDetails.data.products.t_profit_income}}</i>
                              <i v-if="orderDetails.data.products.t_profit_type===1">{{orderDetails.data.products.t_profit_val}}</i>
                              %
                            </div>
                            <div class="item">{{language[curLanguage][21]}} <i>{{orderDetails.data.products.t_max_quota}}</i></div>
                            <div class="item">{{language[curLanguage][22]}} <i>{{orderDetails.data.products.t_min_quota}}</i></div>
                            <div class="item">{{language[curLanguage][23]}} <i>{{orderDetails.data.products.t_quota}}</i></div>

                        </div>
                        <div class="under">
                            <!-- <h5>产品简介</h5>
                            <p>{{financialProducts.details.introduction}}</p>
                            <div class="link-list">
                               <a href="javascript:">查看产品说明</a>
                               <a href="javascript:">查看产品合同样本</a>
                            </div> -->
                        </div>
                    </div>

                </el-dialog>
            </div>
        </div>


        <pageFooter ref="pageFooter" />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import pageHeader2 from '../components/pageHeader.vue'
import {myOrder} from '../utils/language'
import BigNumber from 'bignumber.js';
import moment from 'moment'
import {apiStateList} from '../utils/result-state'




export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         language:myOrder,

         userInfo:{
            configure:{
            }
         },

         orderInfo:{

         },
         orderDetails:{
            dialogFlag:false,
            data:{
              order:{},
              products:{}
            },

         },
         profitType:{
            0:'固定年利率(年化)',
            1:'盈利分成'
         },
         orderStateGroup:{
            0:'募集中',
            1:'运行中',
            2:'已结束'
         },
         systemGroup:{
           1:'现货',
           2:'期货',
           3:'股票',
           4:'黄金',
         },
         changeAmountFlag:false,
         changeData:{
            submitStateFlag:false,
            curAmount:'',
            amount:'',
            system:'',
            fpid:'',
            products:'',
            tip1:false,
            tip2:false,
            tip3:false,
            tip4:false,
            tipEndTimer:null

         },
         myAsset:[],
         assetType:{
            1:'actuals',
            2:'futures',
            3:'shares',
            4:'gold'
         },
         resultStateList:apiStateList



    };
  },
   metaInfo() {
       return{
          title: this.curLanguage==1?'我的订单 - N Sky':'My orders - N Sky',
       }

   },
  created(){


    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       this.getUserInfo();
       this.getFinancialOrder()
       this.getUserAsset()
   }else{
         this.localStore.setItem('fromPage','fOrder');
         this.$router.push({name:'login'});
         return;
     }



   // this.getSystemTradMode()


   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  components: {
    pageHeader,
    pageFooter,
    pageHeader2
  },


  methods: {

    changeAmountBefore(val){
        this.changeAmountFlag = true
        this.changeData.fpid = val.products.t_fpid
        this.changeData.system = val.order.t_system
        this.changeData.curAmount = val.order.t_amount
        this.changeData.products = val.products
    },
    changeAmount(){
         const that = this
         const amount = this.changeData.amount
         const curProduct = this.changeData.products
         let amountMod = BigNumber(amount).mod(100).toNumber()
         let maxAmount = BigNumber(curProduct.t_max_quota).minus(curProduct.t_quota).toNumber()
         let numAmount = BigNumber(amount).toNumber();

         let systemAsset = this.myAsset[this.assetType[this.changeData.system]]
         let usdAsset = systemAsset.find(item=>{
             return item.t_ccode == 'USD'
         })



         if(amount == ''){
             that.changeData.tip1 = true;
             clearTimeout(that.changeData.tipEndTimer);
             that.changeData.tipEndTimer = setTimeout(()=>{
                  that.changeData.tip1 = false;
             },2000)
             return false;
         }

         if(!this.util.isIntNumber(amount)||amountMod != 0){
             that.changeData.tip2 = true;
             clearTimeout(that.changeData.tipEndTimer);
             that.changeData.tipEndTimer = setTimeout(()=>{
                  that.changeData.tip2 = false;
             },2000)
             return false;
         }

         if(amount>maxAmount){

             that.changeData.tip3 = true;
             clearTimeout(that.changeData.tipEndTimer);

             that.changeData.tipEndTimer = setTimeout(()=>{
                  that.changeData.tip3 = false;
             },2000)
             return false;
         }



         if(numAmount>usdAsset.t_number){
             that.changeData.tip4 = true;
             clearTimeout(that.changeData.tipEndTimer);
             that.changeData.tipEndTimer = setTimeout(()=>{
                  that.changeData.tip4 = false;
             },2000)
             return false;
         }






         const api = this.$api.url.FinancialOrder;
         const params = {
              Uid:this.userLoginInfo.userID,
              Token:this.userLoginInfo.session,
              Device:'web',
              Fpid:this.changeData.fpid,
              Amount:this.changeData.amount,
         }
         this.changeData.submitStateFlag = true;
         this.$axios.get(api,{params:params})
         .then((res)=>{
             this.changeData.submitStateFlag = false;
             if(res.data.code==0){
                 this.$message({
                   message:this.language[this.curLanguage][59],
                   type: "success",
                   center: true,
                   duration:2000
                 })
                 this.changeAmountFlag = false
             }else{
               let resultMsg = this.getStateCodeText(res.data.code);
               this.$message({
                 message:this.language[this.curLanguage][60] + resultMsg,
                 type: "error",
                 center: true,
                 duration:2000
               })
             }
         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })
    },
    getStateCodeText(code){
          let text = this.resultStateList.find(item=>{
             return item.code == code
          })
          if(this.curLanguage==1){
            return text.cn
          }else{
            return text.en
          }
    
    },
     settingAPIDataLanguage(){
         let profitType = {
               0:this.language[this.curLanguage][27],
               1:this.language[this.curLanguage][28]
             }

          let orderStateGroup = {
                0:this.language[this.curLanguage][51],
                1:this.language[this.curLanguage][52],
                2:this.language[this.curLanguage][53]
             }

             let systemGroup = {
               1:this.language[this.curLanguage][54],
               2:this.language[this.curLanguage][55],
               3:this.language[this.curLanguage][56],
               4:this.language[this.curLanguage][57]
             }

         this.profitType = profitType

         this.systemGroup = systemGroup

     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     viewDetails(val){
        this.orderDetails.data.order = val.order;
        this.orderDetails.data.products = val.products;
        this.orderDetails.dialogFlag = true;
     },
     getUserInfo(){
         const api = this.$api.url.userVerify1;
         const params = {
            Device:'web',
            Uid:this.userLoginInfo.userID,
            Token:this.userLoginInfo.session
         }
         this.$axios.get(api,{params:params})
         .then((res)=>{
             if(res.data.code==0){
                let data = JSON.parse(res.data.data);
                this.userInfo = data

                if(this.userInfo.configure==null){
                   this.userInfo.configure = {
                      t_actuals_gid: null,
                      t_actuals_state: null,
                      t_actuals_uid: null,
                      t_futures_gid: null,
                      t_futures_state: null,
                      t_futures_uid: null,
                      t_other_gid: null,
                      t_other_state: null,
                      t_other_uid: null,
                      t_shares_gid: null,
                      t_shares_state: null,
                      t_shares_uid: null,
                      t_uid: null
                   }
                }


               // this.userInfo.u_country = this.userCountry;
               this.localStore.setItem('userInfo',this.userInfo)


               if(data.configure.t_actuals_state == 2||data.configure.t_futures_state == 2||data.configure.t_shares_state == 2||data.configure.t_other_state == 2){
                  this.assetStateFlag = true;
               }

             }else if(res.data.code==1011||res.data.code==1006){

                 this.$refs.pageHead.logout();
                 this.isLogin = false;
                 this.$router.push({name:'login'});
             }else{
               // let resultMsg = this.getStateCodeText(res.data.code);
               this.$message({
                 message:'错误',
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })

     },

     getFinancialOrder(){
         const api = this.$api.url.FinancialOrder;
         const params = {
            Device:'web',
            Uid:this.userLoginInfo.userID,
            Token:this.userLoginInfo.session,
            PageSize:10,
            PageIndex:1,
            Language:'zh'
         }
         this.$axios.get(api,{params:params})
         .then((res)=>{
             if(res.data.code==0){

                 let data = JSON.parse(res.data.data)

                 data.forEach(item=>{
                    item.order.t_time = moment(item.order.t_time).format('YYYY-MM-DD HH:mm:ss');
                    item.products.t_stime = moment(item.products.t_stime).format('YYYY-MM-DD');
                    item.products.t_etime = moment(item.products.t_etime).format('YYYY-MM-DD');
                    item.products.t_time = moment(item.products.t_time).format('YYYY-MM-DD');
                    item.products.t_month = BigNumber(item.products.t_day).div(30).dp(0).toNumber();
                 })

                 this.orderInfo = data;

                 console.log(data)

             }else if(res.data.code==1011||res.data.code==1006){

                 this.$refs.pageHead.logout();
                 this.isLogin = false;
                 this.$router.push({name:'login'});
             }else{
               // let resultMsg = this.getStateCodeText(res.data.code);
               this.$message({
                 message:'错误',
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })

     },

     getUserAsset(){

         const api = this.$api.url.userFund;
         const params = {
            Uid:this.userLoginInfo.userID,
            Token:this.userLoginInfo.session,
            Device:'web'

         }
          this.assetSpotLoading = true;
          this.assetRequestFlag = false;
          this.$axios.get(api,{params:params})
         .then((res)=>{

             this.assetSpotLoading = false;
             this.assetRequestFlag = true;

             if(res.data.code==0){

                 const data = JSON.parse(res.data.data);

                 this.myAsset = data;



             }else if(res.data.code==1000){
                return
             }else if(res.data.code==1011||res.data.code==1006){

                 // this.$refs.pageHead.logout();
                 // this.isLogin = false;

                 // this.$router.push({name:'login'});
             }else{
               let resultMsg = this.getStateCodeText(res.data.code);
               this.$message({
                 message:'Error',
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })

     },

     changeLanguage(val){

       this.curLanguage = val;
       this.settingAPIDataLanguage();
       this.$refs.pageFooter.handleLan();
       this.$refs.pageHead2.handleLan();
     },

  }


};
</script>





<style scoped lang="scss">

 .page-title{height: 2.5rem;padding:0 .75rem;margin: 0 auto;
    h3{font-size: 24px;line-height: 2.5rem;}

 }


   .order-list{min-height: calc(100vh - 22.5rem);}

   .item-cell{
      margin:0 .75rem 1rem;padding: .75rem 0;border-bottom:1px solid #ccc;
      li{height: 1.75rem;line-height: 1.75rem;border-bottom: 1px solid #f5f5f5;}
      li:last-child{border:0}
      li>span{float: left;color: #aaa;}
      em{float:right;color: #000;}
      .operation{display: inline-block;height: 1.75rem;padding:0 .75rem;background-color: #05C19E;color:#fff;border-radius: 5rem;margin-top: .3rem;;}
   }


  .fin-pro-details .upper{background-color: #f5f5f5;border-radius: 3px;padding: 10px 0;}
  .fin-pro-details .item{padding:.25rem .75rem;color: #888;}
  .fin-pro-details .item i{color: #000;margin-left: 5px;}



   
   footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
    h4, .h4, h5, .h5, h6, .h6 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .empty{text-align: center;padding-top:1.5rem;box-shadow:0 0 0 rgba(0, 0, 0, 0) !important;
       i{font-size: 80px;color: #cecece;display: block;line-height: 100px;}
       span{font-size: 16px;color: #aaa;}

    }

    .check-tip{position: absolute;background: #555;color: #fff;padding:10px;border-radius: 5px;bottom:45px;left:50%;line-height: 20px;letter-spacing: 1px;
       white-space:nowrap;text-overflow:ellipsis;
      -webkit-transform:translate(-50%,0);transform:translate(-50%,0);
    }
    .check-tip:after{
       position: absolute;content: "";width:0;height: 0;border-style:solid;border-color:transparent;
       border-width: 5px;border-bottom-width:0;border-top-color:#555;left:calc(50% - 5px);bottom:-5px;
    }

    .change-amount-dialog{
       li{position: relative;height: 35px;line-height: 35px;
         span{color: #888;display: inline-block;width: 70px;float: left;}
         .input-box{margin-left: 70px;}
         input{width: 100%;border:1px solid #ccc;border-radius: 3px;}
       }

       em{color: #000;}
    }

</style>

<style>
   .fin-pro-details .el-dialog{width: 90% !important;height: 90%;overflow: scroll;background: #fff;}
   .fin-pro-details .el-dialog__title{color: #333;font-size: 18px;}
   .fin-pro-details .el-dialog__header{padding-bottom: 5px;}
   .fin-pro-details .el-dialog__body{color: #333;padding:.5rem .75rem 1rem;}
   .fin-pro-details .el-dialog__headerbtn{top:.5rem;right:.5rem}

   .change-amount-dialog .el-dialog{background-color: #fff;}
   .change-amount-dialog .el-dialog .el-dialog__title{color: #333;font-size: 20px;}

</style>
