<template>
  <div class="wrap" @click="hideMenu" v-bind:class="{rightToLeft:(curLanguage==4||curLanguage==5)}" style="position:relative;">
    <pageHeader pageName="futures" @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

     
    <!--h2 class="text-center">{{language[curLanguage][3]}}</h2-->
      <div class="container-fluid" v-bind:class="{rightToLeft:(curLanguage==4||curLanguage==5)}">
        <div class="row headering">
          <div class="page-title">
            <h3>{{language[curLanguage][1]}}</h3>
              <div class="links">
                  <router-link to="/publish" v-if="isLogin"><i class="icon icon-plane"></i>{{language[curLanguage][9]}}  </router-link>
                  <router-link to="/login?page=publish" v-if="!isLogin"><i class="icon icon-plane"></i>{{language[curLanguage][9]}}</router-link>

                  <router-link to="/my-products" v-if="isLogin"><i class="icon icon-product"></i>{{language[curLanguage][10]}}</router-link>
                  <router-link to="/login?page=myProducts" v-if="!isLogin"><i class="icon icon-product"></i>{{language[curLanguage][10]}}</router-link>

                <router-link to="/f-order" v-if="isLogin"><i class="icon icon-record"></i>{{language[curLanguage][11]}}</router-link>
                <router-link to="/login?page=fOrder" v-if="!isLogin"><i class="icon icon-record"></i>{{language[curLanguage][11]}}</router-link>
              </div>
          </div>
        

        <div class="filter ltr">
            <div class="tab-head row" id="filtersRow"> 
               <div id="filtersHead" class="col-12">
                <span id="filters" class="col-6" :class="{active:financialProducts.type!=4&&financialProducts.type!=6}" @click="handleProductsType(2)">{{language[curLanguage][2]}}</span>
                <span id="filters" class="col-6" :class="{active:financialProducts.type==4}" @click="handleProductsType(4)">{{language[curLanguage][3]}}</span>
                <span id="filters" class="col-6"><router-link to="/futures-Introduction" style="color: rgb(255, 255, 255)">{{language[curLanguage][4]}}</router-link></span>
                <span id="filters" class="col-6" :class="{active:financialProducts.type==6}" @click="handleProductsType(6)">{{language[curLanguage][71]}}</span>
               </div>
            </div>
        </div>
        </div>
        <div class="filter">
            <div class="tab-content clearfix" v-if="financialProducts.type!=4&&financialProducts.type!=6">
                <span :class="{active:financialProducts.type===0}" @click="handleProductsType(0)"><i class="icon icon-badges2" v-if="financialProducts.type===0"></i>{{language[curLanguage][5]}}</span>
                <span :class="{active:financialProducts.type==1}" @click="handleProductsType(1)"><i class="icon icon-badges2" v-if="financialProducts.type==1"></i>{{language[curLanguage][6]}}</span>
                <span :class="{active:financialProducts.type==2}" @click="handleProductsType(2)"><i class="icon icon-badges2" v-if="financialProducts.type==2"></i>{{language[curLanguage][7]}}</span>
                <span :class="{active:financialProducts.type==3}" @click="handleProductsType(3)"><i class="icon icon-badges2" v-if="financialProducts.type==3"></i>{{language[curLanguage][8]}}</span>
            </div>
        </div>

        <div class="page-title" >
            <!-- <h3>{{language[curLanguage][1]}}</h3> -->
            <div class="links-menu">
                <span @click="handlePublishShowFlag">{{language[curLanguage][70]}} </span><i class="icon icon-menu2" @click="handlePublishShowFlag"></i>
                <div class="mask-cover" v-if="puablishShowFlag" @click="puablishShowFlag=false"></div>
                <div class="links" v-if="puablishShowFlag">
                    <router-link to="/publish" v-if="isLogin"><i class="icon icon-plane"></i>{{language[curLanguage][9]}}</router-link>
                    <router-link to="/login?page=publish" v-if="!isLogin"><i class="icon icon-plane"></i>{{language[curLanguage][9]}}</router-link>

                    <router-link to="/my-products" v-if="isLogin"><i class="icon icon-product"></i>{{language[curLanguage][10]}}</router-link>
                    <router-link to="/login?page=myProducts" v-if="!isLogin"><i class="icon icon-product"></i>{{language[curLanguage][10]}}</router-link>

                   <router-link to="/f-order" v-if="isLogin"><i class="icon icon-record"></i>{{language[curLanguage][11]}}</router-link>
                   <router-link to="/login?page=fOrder" v-if="!isLogin"><i class="icon icon-record"></i>{{language[curLanguage][11]}}</router-link>
                </div>
            </div>

        </div>
        <div class="row row-2" v-if="financialProducts.type!=6">

            <ul v-loading="financialProducts.loading" id="product" class="col-12"
                  element-loading-background="rgba(255, 255, 255, 0.5)">
                <li v-for="(item,index) in financialProducts.data" class="p-0 row" :key="index" id="productCards">
                    <div class="col-12 left m-0 p-0 row">
                         <div class="col-12 m-auto p-0 r1 row">
                              <div class="avatar-fin col-12 p-0">
                                <div class="row col-12 m-0 p-0">
                                  <div class="col-3 m-auto">
                                    <div class="img-box" v-if="item.products.t_img==null">
                                        <img src="../../static/images/avatar.png" />
                                    </div>
                                    <div class="img-box" v-if="item.products.t_img!=null">
                                      <img :src="item.products.t_img" />
                                    </div>
                                  </div>
                                  <div class="col-9 m-0 p-1">
                                    <p class="m-0 p-0"><i>{{item.content.t_name}}</i></p>
                                    <p class="m-0 p-0"><span>{{language[curLanguage][12]}}：<br>{{item.u_mail}}</span></p>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="txt clearfix">
                                  <div class="cell">
                                       <span>{{language[curLanguage][13]}}</span>
                                       <i>{{financialProducts.profitType[item.products.t_profit_type]}}</i>
                                  </div>
                                  <div class="cell even">
                                       <span>{{language[curLanguage][14]}}</span>
                                       <i>{{item.products.t_stime}}</i>
                                  </div>
                                  <div class="cell">
                                       <span>{{language[curLanguage][15]}}</span>
                                       <i v-if="item.products.t_profit_type===0">{{item.products.t_profit_income}}</i>
                                       <i v-if="item.products.t_profit_type===1">{{item.products.t_profit_val}}</i>
                                       %
                                  </div>
                                  <div class="cell even">
                                       <span>{{language[curLanguage][16]}}</span>
                                       <i>{{item.products.t_etime}}</i>
                                  </div>
                              </div> -->
                         </div>
                         <div class="m-0 p-0 r2 row">
                              <div class="col col-4">
                                  <i>{{item.products.t_max_quota}}</i>
                                  <span>{{language[curLanguage][17]}}</span>
                              </div>
                              <div class="col col-4">
                                  <i>{{item.products.t_principal}}</i>
                                  <span>{{language[curLanguage][18]}}</span>
                              </div>
                              <div class="col col-4">
                                  <i>{{item.products.t_quota}}</i>
                                  <span>{{language[curLanguage][19]}}</span>
                              </div>
                         </div>
                    </div>
                    <div class="col-12 m-0 right row" id=BtnContainer>
                         <button @click="viewDetails(item)" class="col-5 details m-auto px-0" id="detailsBtn">{{language[curLanguage][20]}}</button>
                         <button @click="productBuy(item)" class="buy col-5 m-auto" id="buyBTn" v-if="item.products.t_state==1">{{language[curLanguage][21]}}</button>
                    </div>
                </li>

                <li class="empty" v-if="financialProducts.data.length===0">
                     <i class="icon icon-record"></i>
                     <span>{{language[curLanguage][39]}}</span>
                </li>

            </ul>

            <div class="fin-pro-details">
                <el-dialog
                    :title="financialProducts.details.title"
                    :visible.sync="financialProducts.details.dialogFlag"
                    :close-on-click-modal = "true"
                    @close = "closeFinProDetails"
                    width="60%">
                    <div class="dialog-head-box">
                        <span :class="{active:productsRecords.tabIndex===0}" @click="handleProDetailsTab(0)">{{language[curLanguage][47]}}</span>
                        <span :class="{active:productsRecords.tabIndex==1}" @click="handleProDetailsTab(1)">{{language[curLanguage][48]}}</span>
                        <span :class="{active:productsRecords.tabIndex==2}" @click="handleProDetailsTab(2)">{{language[curLanguage][49]}}</span>
                        <span :class="{active:productsRecords.tabIndex==3}" @click="handleProDetailsTab(3)">{{language[curLanguage][50]}}</span>
                    </div>
                    <div class="product-info" v-if="productsRecords.tabIndex===0">
                        <div class="upper clearfix col-12" id="modal">
                            <div class="item">{{language[curLanguage][22]}} <i>{{financialProducts.details.info.t_time}}</i> </div>
                            <div class="item">{{language[curLanguage][14]}} <i>{{financialProducts.details.info.t_stime}}</i></div>
                            <div class="item">{{language[curLanguage][16]}} <i>{{financialProducts.details.info.t_etime}}</i></div>
                            <div class="item">{{language[curLanguage][23]}} <i>{{financialProducts.details.month}}</i>&nbsp;{{language[curLanguage][32]}}</div>
                            <div class="item">{{language[curLanguage][18]}} <i>{{financialProducts.details.info.t_principal}}</i></div>
                            <div class="item">{{language[curLanguage][13]}} <i>{{financialProducts.profitType[financialProducts.details.info.t_profit_type]}}</i></div>
                            <div class="item">{{language[curLanguage][15]}}
                              <i v-if="financialProducts.details.info.t_profit_type===0">{{financialProducts.details.info.t_profit_income}}</i>
                              <i v-if="financialProducts.details.info.t_profit_type===1">{{financialProducts.details.info.t_profit_val}}</i>
                              %
                            </div>

                            <div class="item">{{language[curLanguage][17]}} <i>{{financialProducts.details.info.t_max_quota}}</i></div>
                            <div class="item">{{language[curLanguage][24]}} <i>{{financialProducts.details.info.t_min_quota}}</i></div>
                            <div class="item">{{language[curLanguage][19]}} <i>{{financialProducts.details.info.t_quota}}</i></div>
                        </div>
                        <div class="under">
                            <h5>{{language[curLanguage][25]}}</h5>
                            <p>{{financialProducts.details.introduction}}</p>
                            <div class="link-list">
                               <a :href="financialProducts.details.pdf" target="_blank">{{language[curLanguage][26]}}(PDF)</a>
                               <a :href="'https://m.nskytrade.com/#/contract?pid=' + financialProducts.details.info.t_fpid + '&l=' + curLanguage " target="_blank">{{language[curLanguage][27]}}</a>
                               <!-- <a :href="'https://m.nbstraders.com/#/contract-en?pid=' + financialProducts.details.info.t_fpid + '&l=' + curLanguage " target="_blank" v-if="curLanguage==2">{{language[curLanguage][27]}}</a> -->
                            </div>
                        </div>
                    </div>

                    <div class="product-order-records" v-if="productsRecords.tabIndex==1">
                        <table v-if="productsRecords.orderRecords.length!==0">
                            <tr>
                               <th>{{language[curLanguage][51]}}</th>
                               <th>{{language[curLanguage][52]}}</th>
                               <th v-if="curLanguage!=2">{{language[curLanguage][53]}}</th>
                               <th v-if="curLanguage==2">AMOUNT</th>
                               <!-- <th>{{language[curLanguage][54]}}</th> -->
                               <th>{{language[curLanguage][55]}}</th>
                            </tr>
                            <tr v-for="(item,index) in productsRecords.orderRecords" :key="index">
                               <td>{{item.t_foid}}</td>
                               <td>{{item.t_fouid}}</td>
                               <td>{{item.t_amount}}</td>
                               <!-- <td>{{item.t_profit}}</td> -->
                               <td>{{item.t_time}}</td>
                            </tr>
                        </table>
                        <div class="empty" v-if="productsRecords.orderRecords.length===0">
                             <i class="icon icon-record"></i>
                             <span>{{language[curLanguage][39]}}</span>
                        </div>
                    </div>

                    <div class="product-flows" v-if="productsRecords.tabIndex==2">
                         <table v-if="productsRecords.flows.length!==0">
                             <tr>
                                <th>{{language[curLanguage][56]}}</th>
                                <th>{{language[curLanguage][57]}}</th>
                             </tr>
                             <tr v-for="(item,index) in productsRecords.flows" :key="index">
                                <td>{{item.t_time}}</td>
                                <td>{{item.t_number}}</td>
                             </tr>
                         </table>
                         <div class="empty" v-if="productsRecords.flows.length===0">
                              <i class="icon icon-record"></i>
                              <span>{{language[curLanguage][39]}}</span>
                         </div>
                    </div>

                    <div class="product-trad-history" v-if="productsRecords.tabIndex==3">
                         <table v-if="productsRecords.tradHistory.length!==0">
                             <tr>
                                <th>{{language[curLanguage][58]}}</th>
                                <th>{{language[curLanguage][59]}}</th>
                                <th>{{language[curLanguage][60]}}</th>
                                <th>{{language[curLanguage][61]}}</th>
                                <th>{{language[curLanguage][62]}}</th>
                             </tr>
                             <tr v-for="(item,index) in productsRecords.tradHistory" :key="index">
                                <td>{{item.t_code }}</td>
                                <td>{{item.t_entry === 0?language[curLanguage][63]:language[curLanguage][64]}}</td>
                                <td>{{item.t_action === 0?language[curLanguage][65]:language[curLanguage][66]}}</td>
                                <td>{{item.t_price}}</td>
                                <td>{{item.t_profit}}</td>

                             </tr>
                         </table>

                         <div class="empty" v-if="productsRecords.tradHistory.length===0">
                              <i class="icon icon-record"></i>
                              <span>{{language[curLanguage][39]}}</span>
                         </div>

                         <div class="f-pro-pagination-box " v-if="productsRecords.total>productsRecords.pageSize">
                             <el-pagination
                               layout="prev, pager, next"
                               @current-change="handlePaginationRecordsIndex"
                               :total="productsRecords.total"
                               :page-size="productsRecords.pageSize">
                             </el-pagination>
                         </div>

                    </div>

                </el-dialog>
            </div>

            <div class="fin-pro-buy">
                <el-dialog
                    :title="language[curLanguage][28]"
                    :visible.sync="financialProducts.buy.dialogFlag"
                    :close-on-click-modal = "true"
                    width="20%">
                 <div class="buy-box-fin">
            <p>{{language[curLanguage][29]}}：{{financialProducts.buy.fId}}</p>
            <!-- <ul>
              <li> -->
                <div class="row easyRow">
                  <div class="col-12">
                    <span>{{language[curLanguage][30]}}</span>
                  </div>
                  <div class="col-12">
                    <input type="text" v-model.trim="financialProducts.buy.amount" :placeholder="language[curLanguage][46]" />
                    <p class="check-tip" v-if="financialProducts.buy.tip1">{{language[curLanguage][33]}}</p>
                    <p class="check-tip" v-if="financialProducts.buy.tip2">{{language[curLanguage][34]}}</p>
                    <p class="check-tip" v-if="financialProducts.buy.tip3">{{language[curLanguage][35]}}</p>
                    <p class="check-tip" v-if="financialProducts.buy.tip4">{{language[curLanguage][36]}}</p>
                  </div>
                </div>
              <!-- </li>
              <li> -->
                <div class="row easyRow">
               <div class="col-12">
                    <span>{{language[curLanguage][31]}}</span>
                  </div>
                <div class="col-12">
                <el-select v-model="financialProducts.buy.system" popper-class="select-buy-system">
                  <el-option v-for="(item,index) in financialProducts.buy.systemGroup"
                             :key="index"
                             :label="item.label"
                             :value="item.value">
                  </el-option>
                </el-select>
                </div>
                </div>
              <!-- </li>
              <li :class="{'lan-en':curLanguage!=1}"> -->
                <div class="row easyRow">
               <div class="col-12">
                    <span>{{language[curLanguage][70]}}</span>
                  </div>
                <div class="col-12">

                <input type="text" v-model.trim="financialProducts.buy.couponsAmount" :placeholder="language[curLanguage][46]" />

                <p class="check-tip" v-if="financialProducts.buy.tip6">{{language[curLanguage][34]}}</p>
                <p class="check-tip" v-if="financialProducts.buy.tip3">{{language[curLanguage][35]}}</p>
                <p class="check-tip" v-if="financialProducts.buy.tip8">{{language[curLanguage][36]}}</p>
              <!-- </li>

            </ul> -->
            </div>
                </div>
            <div class="btn">
              <button v-if="!financialProducts.buy.submitStateFlag" @click="submitOrderInfo">{{language[curLanguage][37]}}</button>
              <button v-if="financialProducts.buy.submitStateFlag">{{language[curLanguage][69]}}</button>
            </div>

          </div>

                </el-dialog>
            </div>

            <!-- <div class="fin-pro-records">
                <el-dialog
                    :title="language[curLanguage][28]"
                    :visible.sync="financialProducts.buy.dialogFlag"
                    :close-on-click-modal = "true"
                    width="20%">
                    <div class="records-box">


                    </div>

                </el-dialog>
            </div>

            <div class="fin-pro-records">

            </div>

            <div class="fin-pro-records">

            </div> -->




            <div class="f-pro-pagination-box " v-if="financialProducts.total>financialProducts.pageSize">
                <el-pagination
                  layout="prev, pager, next"
                  @current-change="handlePaginationIndex"
                  :total="financialProducts.total"
                  :page-size="financialProducts.pageSize">
                </el-pagination>
            </div>

        </div>

        <div class="row row-4 row4li" v-if="financialProducts.type==6">
            <ul>
                <li v-for="(item,index) in article.data" :key="index">
                    <div class="title">
                        <h5>{{item.t_title}}</h5>
                        <p>{{item.t_time}}</p>
                    </div>
                    <p>{{item.t_remark}}</p>
                    <router-link :to="{name:'articleDetails',query:{aid:item.t_aid,type:item.t_type}}">{{language[curLanguage][38]}}></router-link>
                </li>
                <li class="empty" v-if="article.data.length===0">
                     <i class="icon icon-record"></i>
                     <span>{{language[curLanguage][39]}}</span>
                </li>

            </ul>

            <div class="article-pagination-box" v-if="article.total>article.pageSize">
                <el-pagination
                  layout="prev, pager, next"
                  @current-change="handlePaginationArticleIndex"
                  :total="article.total"
                  :page-size="article.pageSize">
                </el-pagination>
            </div>

        </div>
      </div>
     



        <pageFooter ref="pageFooter" />
		</div>
</template>


<script>

  import pageHeader from '../components/pageHeaderTFX.vue'
  import pageFooter from '../components/pageFooterTFX.vue'
  import { futuresProducts } from '../utils/language'
  import BigNumber from 'bignumber.js';
  import moment from 'moment'
  import { apiStateList } from '../utils/result-state'



export default {
  name: "my-acount",
  data: function () {
      return {
        isLogin: false,
        userLoginInfo: '',
        curCoinType: 1,
        curLanguage: 2,
        language: futuresProducts,

        userInfo: {
          configure: {
          }
        },
        myCoupons: 0,
        myAsset: [],
        assetType: {
          1: 'actuals',
          2: 'futures',
          3: 'shares',
          4: 'gold'
        },
        languageGroup: {
          1: 'zh',
          2: 'en',
          3: 'tr',
          4: 'ar',
          5:'fa'
        },
       
        head:['金融产品','Futures Products','Finansal Ürünler','المنتجات المالية','محصولات مالی'],

        financialProducts: {
          loading: true,
          pageSize: 8,
          pageIndex: 1,
          total: 0,
          type: 3,
          language: 'zh',
          tipEndTimer: null,
          data: [],
          profitType: {
            0: '固定年利率(年化)',
            1: '盈利分成'
          },
          details: {
            dialogFlag: false,
            title: '--',
            month: '',
            info: {},
            introduction: '',
            pdf: ''
          },
          buy: {
            dialogFlag: false,
            submitStateFlag: false,
            fId: '--',
            info: {},
            amount: '',
            couponsAmount: '',
            system: '',
            systemGroup: [],
            tip1: false,
            tip2: false,
            tip3: false,
            tip4: false,
            tip5: false,
            tip6: false,
            tip7: false,
            tip8: false
          }

        },

        article: {
          data: [],
          pageSize: 10,
          pageIndex: 1,
          total: 0
        },
        systemGroup: {
          1: '现货',
          2: '期货',
          3: '股票',
          4: '黄金',
        },
        productsRecords: {
          tabIndex: 0,
          orderRecords: [],
          flows: [],
          tradHistory: [],
          pageIndex: 1,
          pageSize: 5,
          total: 0
        },
        resultStateList: apiStateList




      };
    },
  metaInfo() {return {
      // 

      title: this.head[this.curLanguage-1]+'-N Sky',
      }

    },
    created() {


      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');

      this.curCoinType = !!storeCoinType ? storeCoinType : this.$api.defaultCoinType;
      this.curLanguage = !!storeLanguage ? storeLanguage : this.$api.defaultLanguage

      //if (this.$route.params.type != undefined) {
      //  this.financialProducts.type = this.$route.params.type
      //}




      this.isLogin = this.util.isLogin();

      if (!!this.isLogin) {
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
        this.getUserInfo();
        this.getUserAsset();
      }

      this.getFinancialProducts()


      // this.getSystemTradMode()

      // this.getUserAsset()
      // this.getCoinList();
      // this.getUserOrder();
      // this.getUserOrder2();
      this.settingAPIDataLanguage();
      // this.getcurrency()



    },

    mounted() {
      document.documentElement.scrollTop = 0
    },

    components: {
      pageHeader,
      pageFooter

    },
  methods: {
    handlePublishShowFlag(){
       this.puablishShowFlag = true;
    },
     getStateCodeText(code) {
        let text = this.resultStateList.find(item => {
          return item.code == code
        })
        if (this.curLanguage == 1) {
          return text.cn
        } else {
          return text.en
        }

      },
      settingAPIDataLanguage() {
        let profitType = {
          0: this.language[this.curLanguage][40],
          1: this.language[this.curLanguage][41]
        }
        let systemGroup = {
          1: this.language[this.curLanguage][42],
          2: this.language[this.curLanguage][43],
          3: this.language[this.curLanguage][44],
          4: this.language[this.curLanguage][45],
        }


        this.financialProducts.profitType = profitType
        this.systemGroup = systemGroup



      },
      hideMenu() {
        if (this) {
          this.$refs.pageHead.hideMenu();
        }
      },
      submitOrderInfo() {
        const that = this
        const amount = this.financialProducts.buy.amount
        const couponsAmount = this.financialProducts.buy.couponsAmount

        const curProduct = this.financialProducts.buy.info
        let amountMod = BigNumber(amount).mod(100).toNumber()
        let couponsAmountMod = BigNumber(couponsAmount).mod(100).toNumber()

        let maxAmount = BigNumber(curProduct.t_max_quota).minus(curProduct.t_quota).toNumber()
        let numAmount = BigNumber(amount).toNumber();
        let numCouponsAmount = BigNumber(couponsAmount).toNumber();

        let systemAsset = this.myAsset[this.assetType[this.financialProducts.buy.system]]
        let usdAsset = systemAsset.find(item => {
          return item.t_ccode == 'USD'
        })



        if (amount == '') {
          that.financialProducts.buy.tip1 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip1 = false;
          }, 2000)
          return false;
        }

        if (!this.util.isIntNumber(amount) || amountMod != 0) {
          that.financialProducts.buy.tip2 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip2 = false;
          }, 2000)
          return false;
        }

        if (numAmount + numCouponsAmount > maxAmount) {

          that.financialProducts.buy.tip3 = true;
          clearTimeout(that.financialProducts.tipEndTimer);

          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip3 = false;
          }, 2000)
          return false;
        }



        if (numAmount > usdAsset.t_number) {
          that.financialProducts.buy.tip4 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip4 = false;
          }, 2000)
          return false;
        }
        ////////
        if (!this.util.isIntNumber(couponsAmount) && couponsAmount != '' || amountMod != 0 && couponsAmount != '') {
          that.financialProducts.buy.tip6 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip6 = false;
          }, 2000)
          return false;
        }


        if (numCouponsAmount > this.myCoupons) {
          that.financialProducts.buy.tip8 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip8 = false;
          }, 2000)
          return false;
        }






        const api = this.$api.url.FinancialOrder;
        const params = {
          Uid: this.userLoginInfo.userID,
          Token: this.userLoginInfo.session,
          Device: 'web',
          Fpid: this.financialProducts.buy.fId,
          Amount: this.financialProducts.buy.amount,
          Syetem: this.financialProducts.buy.system,
          Experience: this.financialProducts.buy.couponsAmount == '' ? 0 : this.financialProducts.buy.couponsAmount
        }
        this.financialProducts.buy.submitStateFlag = true;
        this.$axios.get(api, { params: params })
          .then((res) => {
            this.financialProducts.buy.submitStateFlag = false;
            if (res.data.code == 0) {
              this.$message({
                message: this.language[this.curLanguage][67],
                type: "success",
                center: true,
                duration: 2000
              })
              this.financialProducts.buy.dialogFlag = false;
            } else {
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message: this.language[this.curLanguage][68] + resultMsg,
                type: "error",
                center: true,
                duration: 2000
              })
            }
          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })
      },
      getUserInfo() {
        const api = this.$api.url.userVerify1;
        const params = {
          Device: 'web',
          Uid: this.userLoginInfo.userID,
          Token: this.userLoginInfo.session
        }
        this.$axios.get(api, { params: params })
          .then((res) => {
            if (res.data.code == 0) {
              let data = JSON.parse(res.data.data);
              this.userInfo = data

              if (this.userInfo.configure == null) {
                this.userInfo.configure = {
                  t_actuals_gid: null,
                  t_actuals_state: null,
                  t_actuals_uid: null,
                  t_futures_gid: null,
                  t_futures_state: null,
                  t_futures_uid: null,
                  t_other_gid: null,
                  t_other_state: null,
                  t_other_uid: null,
                  t_shares_gid: null,
                  t_shares_state: null,
                  t_shares_uid: null,
                  t_uid: null
                }
              }

              if (this.userInfo.configure.t_actuals_state == 2) {
                this.financialProducts.buy.systemGroup.push({ value: 1, label: this.systemGroup[1] })
              }
              if (this.userInfo.configure.t_futures_state == 2) {
                this.financialProducts.buy.systemGroup.push({ value: 2, label: this.systemGroup[2] })
              }
              if (this.userInfo.configure.t_shares_state == 2) {
                this.financialProducts.buy.systemGroup.push({ value: 3, label: this.systemGroup[3] })
              }
              if (this.userInfo.configure.t_other_state == 2) {
                this.financialProducts.buy.systemGroup.push({ value: 4, label: this.systemGroup[4] })
              }
              if (this.financialProducts.buy.systemGroup.length != 0) {
                this.financialProducts.buy.system = this.financialProducts.buy.systemGroup[0].value;
              }


              // this.userInfo.u_country = this.userCountry;
              this.localStore.setItem('userInfo', this.userInfo)


              if (data.configure.t_actuals_state == 2 || data.configure.t_futures_state == 2 || data.configure.t_shares_state == 2 || data.configure.t_other_state == 2) {
                this.assetStateFlag = true;
              }

            } else if (res.data.code == 1011 || res.data.code == 1006) {

              this.$refs.pageHead.logout();
              this.isLogin = false;
              this.$router.push({ name: 'login' });
            } else {
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message: 'Error',
                type: "error",
                center: true,
                duration: 2000
              })
            }

          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })

      },
      getFinancialProducts(type, val) {
        if (val) {
          this.financialProducts.details.title = val.content.t_name;
          this.financialProducts.details.introduction = val.content.t_remarks;
          this.financialProducts.details.pdf = val.content.t_pdfexplain;
          this.financialProducts.details.month = val.t_month;
          this.financialProducts.details.info = val.products;

        }
        const api = this.$api.url.FinancialProducts;
        let params = {
          PageSize: this.financialProducts.pageSize,
          PageIndex: this.financialProducts.pageIndex,
          Type: this.financialProducts.type,
          Language: this.languageGroup[this.curLanguage],
          WebSite: 0
        }
        if (type == 'designate') {
          params = {
            // Fpid:id,
            Fpid: this.financialProducts.details.info.t_fpid,
            Language: this.languageGroup[this.curLanguage]
          }
        }
        this.financialProducts.loading = true;
        this.$axios.get(api, { params: params })
          .then((res) => {
            this.financialProducts.loading = false;
            if (res.data.code == 0) {



              let data = JSON.parse(res.data.data)

              if (type == 'designate') {

                if (data.length > 0) {

                  data[0].orders.forEach(item => {
                    item.t_time = moment(item.t_time).format('YYYY-MM-DD HH:mm:ss');
                  })

                  data[0].flows.forEach(item => {
                    item.t_time = moment(item.t_time).format('YYYY-MM-DD HH:mm:ss');
                  })
                  Vue.set(this.productsRecords, 'orderRecords', data[0].orders);
                  Vue.set(this.productsRecords, 'flows', data[0].flows);
                  //   this.productsRecords.orderRecords = data[0].orders
                  //   this.productsRecords.flows = data[0].flows
                }

                return
              }


              data.forEach(item => {
                item.products.t_stime = moment(item.products.t_stime).format('YYYY-MM-DD');
                item.products.t_etime = moment(item.products.t_etime).format('YYYY-MM-DD');
                item.products.t_time = moment(item.products.t_time).format('YYYY-MM-DD');
              })

              this.financialProducts.data = data;
              this.financialProducts.total = res.data.count

            } else if (res.data.code == 1011 || res.data.code == 1006) {

              console.log('用户验证不通过')
              // this.$refs.pageHead.logout();
              // this.isLogin = false;
              // this.$router.push({name:'login'});
            } else {

              this.$message({
                message: 'Error！',
                type: "error",
                center: true,
                duration: 2000
              })
            }

          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })

      },

      getFinancialTradHistory(val, page) {

        if (val) {
          this.temp = val;
        }
        else {
          val = this.temp;
        }
        if (val) {
          this.financialProducts.details.title = val.content.t_name;
          this.financialProducts.details.introduction = val.content.t_remarks;
          this.financialProducts.details.pdf = val.content.t_pdfexplain;
          this.financialProducts.details.month = val.t_month;
          this.financialProducts.details.info = val.products;


        }
        const api = this.$api.url.FinancialTradHistory;
        let params = {
          PageSize: this.productsRecords.pageSize,
          PageIndex: this.productsRecords.pageIndex,
          Fpid: this.financialProducts.details.info.t_fpid
        }



        this.$axios.get(api, { params: params })
          .then((res) => {
            this.financialProducts.loading = false;
            if (res.data.code == 0) {

              val = this.temp;

              let data = JSON.parse(res.data.data)




              data.forEach(item => {
                item.t_time = moment(item.t_time).format('YYYY-MM-DD HH:mm:ss');
              })


              Vue.set(this.productsRecords, 'tradHistory', data);
              Vue.set(this.productsRecords, 'total', res.data.count);

            } else if (res.data.code == 1011 || res.data.code == 1006) {

              console.log('用户验证不通过')
              // this.$refs.pageHead.logout();
              // this.isLogin = false;
              // this.$router.push({name:'login'});
            } else {

              this.$message({
                message: res.data.msg,
                type: "error",
                center: true,
                duration: 2000
              })
            }

          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })

      },
      handlePaginationRecordsIndex(val) {
        this.productsRecords.pageIndex = val;
        this.getFinancialTradHistory();
      },

      handleProDetailsTab(val) {
        this.productsRecords.tabIndex = val;
        if (val == 1 || val == 2) {
          this.getFinancialProducts('designate');
          return
        }
        if (val == 3) {
          this.getFinancialTradHistory();

        }


      },

      handlePaginationHistory(val) {
        this.productsRecords.pageIndex = val;
        this.getFinancialTradHistory();

      },

      closeFinProDetails() {

        this.productsRecords.tabIndex = 0;
        this.productsRecords.pageIndex = 1;
        this.productsRecords.total = 0;
      },



      getUserAsset() {

        const api = this.$api.url.userFund;
        const params = {
          Uid: this.userLoginInfo.userID,
          Token: this.userLoginInfo.session,
          Device: 'web'

        }
        this.assetSpotLoading = true;
        this.assetRequestFlag = false;
        this.$axios.get(api, { params: params })
          .then((res) => {

            this.assetSpotLoading = false;
            this.assetRequestFlag = true;

            if (res.data.code == 0) {

              const data = JSON.parse(res.data.data);

              this.myAsset = data;
              this.myCoupons = data.all.t_experience;




            } else if (res.data.code == 1000) {
              return
            } else if (res.data.code == 1011 || res.data.code == 1006) {

              // this.$refs.pageHead.logout();
              // this.isLogin = false;

              // this.$router.push({name:'login'});
            } else {
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message: 'Error',
                type: "error",
                center: true,
                duration: 2000
              })
            }

          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })

      },

      handleProductsType(val) {
        this.financialProducts.pageIndex = 1
        if (val == 'type1') {
          if (this.financialProducts.type == 4 || this.financialProducts.type == 6) {
            this.financialProducts.type = 3
            this.getFinancialProducts()
          }
        } else {
          this.financialProducts.type = val
          if (val == 6) {
            this.article.pageIndex = 1
            this.getFinancialArticle()
          } else {
            this.getFinancialProducts()
          }

        }


      },

      viewDetails(val) {
        this.financialProducts.details.title = val.content.t_name;
        this.financialProducts.details.introduction = val.content.t_remarks;
        this.financialProducts.details.pdf = val.content.t_pdfexplain;
        this.financialProducts.details.month = val.t_month;
        this.financialProducts.details.info = val.products;
        this.financialProducts.details.dialogFlag = true;
        //  this.getFinancialProducts('designate',item);
      },
      productBuy(val) {

        if (!this.isLogin) {
          this.localStore.setItem('fromPage', 'products');
          this.$router.push({ name: 'login' });
          return;
        }

        this.financialProducts.buy.fId = val.products.t_fpid;

        this.financialProducts.buy.info = val.products;
        this.financialProducts.buy.dialogFlag = true;


      },
      handlePaginationIndex(val) {
        this.financialProducts.pageIndex = val;
        this.getFinancialProducts();

      },

      getFinancialArticle() {
        const api = this.$api.url.FinancialArticle;
        const params = {
          PageSize: this.article.pageSize,
          PageIndex: this.article.pageIndex,
          Type: 6,
          Language: this.languageGroup[this.curLanguage],
          website: 0
        }
        this.$axios.get(api, { params: params })
          .then((res) => {
            if (res.data.code == 0) {

              let data = JSON.parse(res.data.data)


              data.forEach(item => {
                item.t_time = moment(item.t_time).format('YYYY-MM-DD HH:mm:ss');
              })

              this.article.data = data;
              this.article.total = res.data.count;

            } else if (res.data.code == 1011 || res.data.code == 1006) {


              // this.$refs.pageHead.logout();
              // this.isLogin = false;
              // this.$router.push({name:'login'});
            } else {

              this.$message({
                message: '获取文章失败！',
                type: "error",
                center: true,
                duration: 2000
              })
            }

          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })

      },



      handlePaginationArticleIndex(val) {
        this.article.pageIndex = val;
        this.getFinancialArticle();

      },
      changeLanguage(val) {

        this.curLanguage = val;
        this.financialProducts.data=[];
        this.getFinancialProducts();

        this.settingAPIDataLanguage();
        if (this.userInfo.configure.t_actuals_state == 2) {
          this.financialProducts.buy.systemGroup.push({ value: 1, label: this.systemGroup[1] })
        }
        if (this.userInfo.configure.t_futures_state == 2) {
          this.financialProducts.buy.systemGroup.push({ value: 2, label: this.systemGroup[2] })
        }
        if (this.userInfo.configure.t_shares_state == 2) {
          this.financialProducts.buy.systemGroup.push({ value: 3, label: this.systemGroup[3] })
        }
        if (this.userInfo.configure.t_other_state == 2) {
          this.financialProducts.buy.systemGroup.push({ value: 4, label: this.systemGroup[4] })
        }
        if (this.financialProducts.buy.systemGroup.length != 0) {
          this.financialProducts.buy.system = this.financialProducts.buy.systemGroup[0].value;
        }
        //this.$refs.pageFooter.handleLan();

        this.article.pageIndex = 1
        this.getFinancialArticle()
        this.financialProducts.pageIndex = 1;
        if (this.financialProducts.type == 6) {
          this.getFinancialProducts();
        }


      },


     // settingAPIDataLanguage(){
     //     let payState = {
     //        0:this.language[this.curLanguage][26],
     //        1:this.language[this.curLanguage][27],
     //        2:this.language[this.curLanguage][28],
     //        3:this.language[this.curLanguage][29],
     //        4:this.language[this.curLanguage][30]
     //      }
     //     let payType = {
     //        0:this.language[this.curLanguage][35],
     //        1:this.language[this.curLanguage][36],
     //        2:this.language[this.curLanguage][46]

     //      }
     //      let inSystemType = {
     //        1:this.language[this.curLanguage][37],
     //        2:this.language[this.curLanguage][64],
     //        3:'股票交易',
     //        4:'黄金交易'
     //      }

     //     this.payState = payState
     //     this.payType = payType

     //     this.inSystemType = inSystemType


     // },


  }


};
</script>





<style scoped lang="scss">

.page-title{height: 75px;line-height: 50px;padding: 0 20px;width: inherit;margin: unset;
          h3{font-size: 24px;}
          .links{ padding-top:30px;
position: absolute;width: 95%;
            a{margin-left: 20px;font-size: 14px;color: #ffa200;display: contents;}
            i{font-size: 18px;margin-right: 3px;position: relative;top:-1px;margin: 0 1% 0 1%;}
            .icon-product{margin-right: 3px;}
            .icon-record{margin-right: 2px;}
          }
          a:hover{color: #000;}
       }

#filters{
  padding: 0;
       width: 50%;
        text-align: center;
        display: block;
        height: 50%;
        margin: 0;
  }


    header{height: 62px;line-height: 62px;background-color: #000;}
       header .width-cell{width: 1200px;margin:0 auto;}
       header a{color: #fff;}
       header .left{float:left;}
       header .left a{margin-right: 15px;opacity: 1;-webkit-transition: opacity 0.3s ease 0s;transition: opacity 0.3s ease 0s;}
       header .left a:hover{opacity: 1;}
       header .right{float: right;position: relative;padding-right: 100px;padding-top: 15px;}
       header .right a{float:left;margin-right: 15px;}
       header .right a i{margin-right: 5px;}
       header .right .language,header .right a{width: 100px;height: 32px;line-height: 32px;border:1px solid #ccc;color: #ccc;text-align: center;}
       header .right .create-account{width: 140px;background-color: #29a643;color: #fff;font-size: 16px;font-weight: bold;border: 0;}
       header .right .language{position: absolute;right:0;top:15px;}


       .width-cell{margin:0 auto;}
       .nav{height: 88px;line-height: 88px;background-color: #000;border-top: 1px solid #262628;}
       .nav a{color: #fff;font-size: 20px;font-weight: bold;float:left;margin-left: 16px;}
       .nav a:hover{color: #f00;}
       .nav .logo{float:left;padding-top: 6px;line-height: 0;}
       .nav ul{float: right;}


       .row-2{padding-bottom: 1.5rem;}
       .row-2>p{text-align: center;font-size: .9rem;margin-top: 2rem;}
       .row-2>ul{margin: 0 auto;margin-top: 1rem;min-height: calc(100vh - 22.5rem);}
       .row-2>ul li{box-shadow:2px 2px 7px 3px #0000003b;margin:0 .75rem .75rem;border-radius: 1rem;position: relative;}
       .row-2>ul li .left{margin:1rem 0 0 .75rem;float:none;}
       .row-2>ul li .left .r1{border-bottom: 1px solid #eee;}
       .row-2>ul li .left .avatar-fin{height: 100%;padding-top: .75rem;float: left;}
       .row-2>ul li .left .img-box{float: left;width: 3rem;height: 3.1rem;border-radius: 100%;overflow: hidden;}
       .row-2>ul li .left .img-box img{width: 100%;height: 100%;}
       .row-2>ul li .left .avatar-fin p{padding-left:3rem;}
       .row-2>ul li .left .avatar-fin p i{font-size: 20px;
                                          font-weight: bold;
                                          display: block;
                                          padding-top: 15px;
                                          white-space: nowrap;
                                          overflow: hidden;
                                          text-overflow: ellipsis;}
       .row-2>ul li .left .avatar-fin p span{color: #999;font-size: .75rem;display: block;}
       .row-2>ul li .left .txt{float: right;padding-top: .5rem;font-size: 15px;color: #000;}
       .row-2>ul li .left .txt .cell{float:left;margin-bottom: .5rem;padding-left: 15px;}
       .row-2>ul li .left .txt .cell.even{padding-left: 60px;}
       .row-2>ul li .left .txt .cell span{color: #999;}
       .row-2>ul li .left .txt .cell i{color: #000;margin-left: .5rem;}
       .row-2>ul li .left .r2 .col{float: left;text-align: center;padding-right:.5rem;}
       .row-2>ul li .left .r2 .col:last-child{padding-right:0;}
       .row-2>ul li .left .r2 .col i{font-size: 20px;color: #29A643;font-weight: bold;display: block;padding:26px 0 8px;}
       .row-2>ul li .left .r2 .col:last-child i{color: #000;}
       .row-2>ul li .left .r2 .col span{color: #999;font-size: 15px;}
       .row-2>ul li .right{float: left;padding:.75rem .75rem .8rem;}
       .row-2>ul li .right button{height: 2rem;border-radius: 2.5rem;background-color: #29A643;color: #fff;font-size: 15px;cursor: pointer;
       -webkit-transition: all .2s ease 0s;transition: all .2s ease 0s;}
       .row-2>ul li .right button.buy{float:right}
       .row-2>ul li .right button.details{background-color: #d51820;}
       .row-2>ul li .right button:hover{background-color: #238c38;}
       .row-2>ul li .right button.details:hover{background-color:#b30000;}
       .row-2 .more{text-align: center;margin-top: 40px;}
       .row-2 .more a{display: inline-block;width: 220px;height: 2.5rem;line-height: 2.5rem;border-radius: 60px;background-color: #29A643;color: #fff;font-size: 16px;font-weight: bold;}
       .row-2 .more a:hover{background-color: #238c38;}

       
       footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}



       .fin-pro-details{
          .dialog-head-box{
             height: 5rem;line-height: 1.75rem;margin-bottom: 1;padding:.75rem 0;border-top: 1px solid #eee;border-bottom: 1px solid #eee;margin-bottom: .75rem;
             span{margin:0 .5rem;font-size: 16px;color: #888;position: relative;float:left;cursor: pointer;}
             span.active{color: #000;
                &:after{content: "";position: absolute;width: 100%;height: 2px;background-color: #29A643;bottom: 0;left:0;}
             }
          }
          table{width: 100%;}
           th,td{height: 2.5rem;text-align: center;padding-left: .3rem !important;padding-right: .3rem !important;font-size: .6rem;}
          th{background-color: #f5f5f5;}
          td{border-bottom: 1px solid #ddd;}
          .product-order-records{}
          .product-flows{}
          .product-trad-history{}
          .product-info,.product-order-records,.product-flows,.product-trad-history{min-height: 230px;}
          .empty{
             i{font-size: 3rem;line-height: 4rem;}
           }
       }
       .fin-pro-details .upper{background-color: #f5f5f5;border-radius: .15rem;padding: .5rem 0;}
       .fin-pro-details .item{padding:.25rem .75rem;color: #888;}
       .fin-pro-details .item i{color: #000;margin-left: 5px;}
       .fin-pro-details .under{padding:.75rem;margin-top: .75rem;border:1px solid #eee;border-radius: .15rem;
          &>p{word-break:normal;word-wrap:break-word;}
          h5{font-size: 18px;color: #000;}
          p{padding:.75rem 0;}
          a{color: #29A643;margin-right: .5rem;display: block;}
          a:hover{text-decoration: underline;}
       }

       .page-title{height: 5rem;line-height: 2.5rem; width:100%;
     /* border-top: 1px solid #eee;border-bottom: 1px solid #eee;*/
          h3{font-size: 24px;float: left;}
          .links-menu{float: right;position: relative;padding-right: .75rem;
            &>i{font-size: 1.2rem;color: #05C19E;;}
            &>span{font-size: .6rem;color: #05C19E;}
            .mask-cover{position: fixed;width: 100%;height: 100%;background: rgba(0,0,0,.5);z-index: 100;left:0;top:0;}
            .links{position: fixed;padding:0 .75rem;border-radius: .15rem;background: #fff;z-index: 101;left:50%;top:50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);
               a{margin-right: .75rem;font-size: 14px;color: #888;display: block;}
               a:last-child{border:0;}
               i{font-size: 18px;margin-right: 3px;position: relative;top:-1px}
               .icon-product{margin-right: 3px;}
               .icon-record{margin-right: 2px;}
            }

          }
          a:hover{color: #000;}
       }
       .filter{width: 100%;margin:.5rem auto 0;
          span{-webkit-transition: all .2s ease 0s;transition: all .2s ease 0s;}
          .tab-head{    height: 6.3rem;line-height: 2.3rem;font-size: .8rem;/*padding-bottom: 4rem;padding-left: 1.75rem;*/
             span{/*float: left;*/color: #fff;position: relative;cursor: pointer;margin-left: 1rem;height: 62px;}
             span:first-child{margin-left: .75rem;}
             span:hover{color: #FFa200;background: #373848!important;}
             span.active{    color: #FFa200!important;
                            background: #373848!important;
                em{
                   position: absolute;
                       height: 0;
                       width: 0;
                   border-left: 8px solid transparent;
                       border-right: 8px solid transparent;
                       border-bottom: 8px solid #D51820;
                       left: 50%;
                       bottom: -1px;
                       -webkit-transform: translate(-50%);
                       transform: translate(-50%);
                       z-index: 9;
                }
                i{
                  position: absolute;
                      content: " ";
                      display: block;
                      height: 0;
                      width: 0;
                      border-left: 6px solid transparent;
                      border-right: 6px solid transparent;
                      border-bottom: 6px solid #fff;
                      left: -6px;
                      top: 2px;
                }
             }
            //  span.active:after{
            //    content: "";
            //    position: absolute;
            //    width: 100%;
            //    height: 2px;
            //    background-color: #D51820;
            //    bottom:20px;
            //    left:0;
            //  }
          }


          .tab-content{margin: .75rem 0 0;
             span{float: left;height: 1.75rem;line-height: 1.75rem;padding:0 .75rem;border:1px solid #e5e5e5;color: #888;margin-left: .75rem;margin-bottom: .75rem;cursor:pointer;position: relative;}
             span:hover{border-color: #29A643;color: #29A643;}
             span.active{border-color: #ffa200;color: #fff; background: #272833;
               i{color: #ffa200;position: absolute;width: 1.3rem;height: 1.3rem;right: -.1rem;bottom: -.03rem;line-height: normal;font-size: 1.2rem;}
             }
          }


       }

       .f-pro-pagination-box{text-align: center;margin:50px 0 15px;}


       .check-tip{position: absolute;background: #555;color: #fff;padding:.5rem;border-radius: 5px;bottom:45px;left:50%;line-height: 20px;letter-spacing: 1px;
          white-space:nowrap;text-overflow:ellipsis;
         -webkit-transform:translate(-50%,0);transform:translate(-50%,0);
       }
       .check-tip:after{
          position: absolute;content: "";width:0;height: 0;border-style:solid;border-color:transparent;
          border-width: 5px;border-bottom-width:0;border-top-color:#555;left:calc(50% - 5px);bottom:-5px;
       }

      .fin-pro-buy{
         .buy-box-fin{
             &>p{height: 1.75rem;margin-bottom: .5rem;margin-top: .5rem;color: #777;}
             span{color: #777;margin-right: .25rem;}
             span.sp1{display: inline-block;width: 2.8rem;}
             li{height: 1.75rem;line-height: 1.75rem;margin-bottom: 1rem;position: relative;width: 15rem;display: initial;}
             li.cupons{height: 3.2rem;
             input{margin-left: 3.2rem;}
             }
             input{height:1.75rem;border:1px solid #ccc;width: 11.5rem;padding:0 .5rem;border-radius: .15rem;}
             input::-webkit-input-placeholder{color: #bbb;}
             .btn{padding-left: 3.2rem;}
             button{width:6rem;height: 2.05rem;background-color: #29A643;color: #fff;border-radius: .15rem;font-size: .8rem;letter-spacing: .1rem;cursor: pointer;}
             button:hover{background-color: #238c38;}
         }

      }


      row-4{padding:0 0 50px;}
      .row4li li{
        width:100%!important;
      }
      .row4li li .title p{
        position: relative!important;
      }
      
      .row-4 ul{margin:2.5rem 0 0;min-height: calc(100vh - 22.5rem);padding:0 .75rem}
      .row-4 li{margin-bottom: 25px;padding-bottom: 25px;border-bottom: 1px solid #eee;}
      .row-4 li:last-child{border:0}
      .row-4 li .title h5{color: #333;font-size: 20px;font-weight: bold;}
      .row-4 li .title p{color: #aaa;font-size: 14px;font-weight: normal;display: block;padding-top: 5px;}
      .row-4 li>p{font-size: 15px;margin-top: 5px;}
      .row-4 li>a{display: block;color: #29A643;margin-top: 5px;}
      .row-4 li>a:hover{color: #238c38;}
      .row-4 .more{text-align: center;}
      .row-4 .more a{display: inline-block;width: 120px;height: 35px;line-height: 35px;text-align: center;border:1px solid #29a643;border-radius: 3px;color:#29A643;}
      .row-4 .more a:hover{color: #238c38;border-color: #238c38;}


      // .fin-pro-details .upper{background-color: #f5f5f5;border-radius: 3px;padding: .5rem 0;}
      // .fin-pro-details .item{padding:.25rem .75rem;color: #888;}
      // .fin-pro-details .item i{color: #000;margin-left: 5px;}
      // .fin-pro-details .under{padding:15px;margin-top: 15px;border:1px solid #eee;border-radius: 3px;cursor: pointer;
      //    h5{font-size: 18px;color: #000;}
      //    p{padding:15px 0;}
      //    a{color: #0097E8;margin-right: .5rem;}
      //    a:hover{text-decoration: underline;}
      // }

      .article-pagination-box{text-align: center;margin:50px 0 15px;}



      h4, .h4, h5, .h5, h6, .h6 {
          margin-top: 0;
          margin-bottom: 0;
      }

      .empty{text-align: center;padding-top: 50px;box-shadow:0 0 0 rgba(0, 0, 0, 0) !important;
         i{font-size: 80px;color: #cecece;display: block;line-height: 100px;}
         span{font-size: 16px;color: #aaa;}

      }



</style>

<style>
     .swiper-button-next,.swiper-button-prev{color: #fff;}
     .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{color: #fff;opacity: .6;}
     .swiper-button-next:after, .swiper-button-prev:after{font-size: 26px;font-weight: bold;}
     .swiper-pagination-bullet{background:none;border:1px solid #fff;opacity: 1;}
     .swiper-pagination-bullet-active{background: #f00;border:0}

     .fin-pro-details .el-dialog{width: 90% !important;height: 90%;overflow: scroll;background: #fff;}
     .fin-pro-details .el-dialog__title{color: #333;font-size: 18px;}
     .fin-pro-details .el-dialog__header{padding-bottom: .25rem;}
     .fin-pro-details .el-dialog__body{color: #333;padding:.5rem .75rem 1rem;}
     .fin-pro-details .el-dialog__headerbtn{top:.5rem;right:.5rem}

     .f-pro-pagination-box .el-pager li.active{background-color: #D51820;color: #fff;}
     .f-pro-pagination-box .el-pager li:hover{color: #D51820;}
     .f-pro-pagination-box .btn-prev:hover i,.f-pro-pagination-box .btn-next:hover i{color: #D51820;}
     .f-pro-pagination-box .btn-prev:disabled i{color: #C0C4CC;}

     .fin-pro-buy .el-dialog{width: 90% !important;background: #fff;}
     .fin-pro-buy .el-dialog__title{color: #333;font-size: .9rem;}
     .fin-pro-buy .el-dialog__header{padding-bottom: .25rem;padding-top: .75rem;}
     .fin-pro-buy .el-dialog__body{color: #333;padding:.5rem .75rem 1rem;}
     .fin-pro-buy .el-select{width: 11.5rem;}
     .fin-pro-buy .el-input__inner{height: 1.75rem;border-radius: .15rem;}

     .article-pagination-box .el-pager li.active{background-color: #D51820;color: #fff;}
     .article-pagination-box .el-pager li:hover{color: #D51820;}
     .article-pagination-box .btn-prev:hover i,.f-pro-pagination-box .btn-next:hover i{color: #D51820;}
     .article-pagination-box .btn-prev:disabled i{color: #C0C4CC;}
     #product{padding: 0;}
     #filtersHead
     {display: flex;
      width: 100%;
      flex-wrap: inherit;
      }
      #filters
      {
            padding: 0;
    width: 50%;
    text-align: center;
    /* background: #4d4e61; */
    color: white;
    border: 1px solid #ffffff0a;
        
      }
      #filters em{bottom:20px;}
      #filtersRow{padding: 0;}
      /* #productCards{padding-bottom: 20%;} */
      #detailsBtn{margin-right: 5%;margin-top: 5%;}
      #buyBTn{margin-left: 5%;margin-top: 5%;}
      #BtnContainer{display: flex;width: 100%;position: unset;}
       .rightToLeft .row-2>ul li .left .r1{border-bottom: 1px solid #eee;height:6.5rem;width: 37%;}
       .rightToLeft .row-2 > ul li .left .avatar-fin {    height: 100%;
    padding-top: .75rem;
    width: 300px;
    float: left;}
    .rightToLeft #detailsBtn{margin-left: 5%;margin-top: 5%;}
      .rightToLeft #buyBTn{margin-right: 5%;margin-top: 5%;}
       #modal{display: grid;}
       #orderModal,#orderModal li input{margin:0;padding-bottom: 5%;}
       .page-title .links a:hover{color:white}
       .row4li{display: block;}
</style>
