<template>
  <div class="wrap" @click="hideMenu">
    <pageHeader pageName="home" @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
    <div class="home-banner">
      <div class="banner-cell">
        <div class="swiper-wrap">




          <swiper :options="swiperOption" ref="mySwiper">
            <!-- slides -->
            <swiper-slide>
              <div class="swiper-cell">

                <h5> <strong>SIFIR</strong>  komisyon ticareti <img id="zero" src="../../static/images/zero.png" style="width:8em;padding-top:1em;"></h5>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="swiper-cell">
                <h5>Güvenilir bir komisyoncu ile ticaret yapın</h5>
                <p>Dünya çapında 196 ülkede 500.000'den fazla kayıtlı müşterimiz var.</p>
              </div>

            </swiper-slide>
            <!-- <swiper-slide>
              <div class="swiper-cell">
                <h5>Yatırım karı sağlamak için finansal hizmetlerde ustalaşın</h5>
                <p>Ana sürüm ürünleri, gerçek zamanlı ticaret sorgusu</p>
              </div>
            </swiper-slide> -->
            <swiper-slide>
              <div class="swiper-cell">
                <h5>Yatırımcılar için zengin eğitim materyalleri</h5>
                <p>Çevrimdışı dersler, çevrimiçi dersler, ticaret araçları, ve pazar araştırması</p>
              </div>
            </swiper-slide>
            <!--<div class="swiper-pagination" slot="pagination"></div>-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </swiper>

        </div>

        <div class="row  my-auto">

          <div class="col-12 text-center">
            <div class="crate-account-box  my-auto">
              <router-link to="/register" style="background-color: #74c109;">
                <i>HESAP AÇ</i>
                <span>MT5, N Sky WebTrader</span>
              </router-link>
            </div>
          </div>

          <div class="col-12 text-center">
            <div class="crate-account-box  my-auto">
              <router-link :to="{name:'register',params:{regType:2}}">
                <i>DEMO HESABI AÇIN</i>
                <span>100.000 USD sanal fondan başlayarak</span>
              </router-link>
            </div>
          </div>

        </div>

        <!--<div class="advantage">
            <div class="col col1">
                 <em>100+</em>
                 <span>Trading<br />products</span>
            </div>
            <div class="col col2">
                 <em>0.6</em>
                 <span>Spreads as<br />low as 0.6 pips</span>
            </div>
            <div class="col col3">
                 <em>200:1</em>
                 <span>Leverage</span>
            </div>
            <div class="col col4">
                 <span>Bonus<br />up to</span>
                 <em>$5,000</em>
            </div>
        </div>-->

      </div>
    </div>

    <div class="row row-1">
      <div class="width-cell  px-2">
        <h2 class="text-center">

          Noble Sky ™ ile döviz ve sözleşmeli hesaplardan çok daha fazlasına sahip olacaksınız

        </h2>

        <div data-v-64be18bd="" class="box clearfix"><div data-v-64be18bd="" class="item"><em data-v-64be18bd="">01</em> <div data-v-64be18bd="" class="txt"><i data-v-64be18bd="" class="tfx-font tfx-home-client"></i> <p data-v-64be18bd="">Kişisel Hesap <br data-v-64be18bd="">Yöneticisi</p></div></div> <div data-v-64be18bd="" class="item"><em data-v-64be18bd="">02</em> <div data-v-64be18bd="" class="txt"><i data-v-64be18bd="" class="tfx-font tfx-home-research"></i> <p data-v-64be18bd=""><br data-v-64be18bd="">Forex Pazar Araştırmasına Ücretsiz Erişim</p></div></div> <div data-v-64be18bd="" class="item"><em data-v-64be18bd="">03</em> <div data-v-64be18bd="" class="txt"><i data-v-64be18bd="" class="tfx-font tfx-home-online-calendar"></i> <p data-v-64be18bd=""><br data-v-64be18bd="">Günlük Forex Web Seminerlerine Ücretsiz Erişim</p></div></div> <div data-v-64be18bd="" class="item"><em data-v-64be18bd="">04</em> <div data-v-64be18bd="" class="txt"><i data-v-64be18bd="" class="tfx-font tfx-home-tutorials"></i> <p data-v-64be18bd=""><br data-v-64be18bd="">Video Eğitimlerine Sınırsız Erişim</p></div></div> <div data-v-64be18bd="" class="item"><em data-v-64be18bd="">05</em> <div data-v-64be18bd="" class="txt"><i data-v-64be18bd="" class="tfx-font tfx-home-signals"></i> <p data-v-64be18bd=""><br data-v-64be18bd="">Forex Ticaret Sinyallerine Günlük Erişim</p></div></div> <div data-v-64be18bd="" class="item"><em data-v-64be18bd="">06</em> <div data-v-64be18bd="" class="txt"><i data-v-64be18bd="" class="tfx-font tfx-home-platforms"></i> <p data-v-64be18bd="">Seçebileceğiniz 16 Platform <br data-v-64be18bd="">. <br data-v-64be18bd="">Herhangi Bir Cihaz, Her Yerde</p></div></div> <div data-v-64be18bd="" class="item"><em data-v-64be18bd="">07</em> <div data-v-64be18bd="" class="txt"><i data-v-64be18bd="" class="tfx-font tfx-home-pie-chart"></i> <p data-v-64be18bd="">Ücretsiz Günlük <br data-v-64be18bd="">Teknik Analiz</p></div></div> <div data-v-64be18bd="" class="item"><em data-v-64be18bd="">08</em> <div data-v-64be18bd="" class="txt"><i data-v-64be18bd="" class="tfx-font tfx-home-calendar"></i> <p data-v-64be18bd="">Günlük Forex <br data-v-64be18bd="">Piyasası Görünümü</p></div></div> <div data-v-64be18bd="" class="item"><em data-v-64be18bd="">09</em> <div data-v-64be18bd="" class="txt"><i data-v-64be18bd="" class="tfx-font tfx-home-support"></i> <p data-v-64be18bd="">24/5 Saat <br data-v-64be18bd="">Canlı Yardım</p></div></div></div>

        <div class="crate-account">
          <router-link to="/register" class="create-link">
            <em>HESAP AÇ</em>
            <small>MT5, N Sky WebTrader</small>
          </router-link>

          <!--<div class="risk-wrap">
            <span class="risk">Risk warning:</span>
            FX and CFD trading involves a high risk of loss.

            <router-link to="/en/legal-documents">T&Cs Apply</router-link>
          </div>-->
        </div>
      </div>
    </div>

    <!--<div class="row row-3">
      <div class="width-cell">
        <div class="item">
          <a href="#/forex-trading" class="">
            <i class="tfx-font tfx-home-chart"></i> <em>Döviz takası </em>
            <p>55+ global <br>para birimi çifti</p>
          </a>
        </div>
        <div class="item">-->
    <!-- <a href="#/equity-indices" class=""> -->
    <!--<i class="tfx-font tfx-home-stock"></i> <em>Endekslerde CFD'ler </em>
    <p>Başlıca küresel <br>endeksler</p>-->
    <!-- </a> -->
    <!--</div>
    <div class="item">-->
    <!-- <a href="#/commodities" class=""> -->
    <!--<i class="tfx-font tfx-home-commodities"></i> <em>Emtia CFD'leri </em>
    <p>Şeker, kakao, buğday <br>ve daha fazlası</p>-->
    <!-- </a> -->
    <!--</div>
        <br>
        <div class="item">
          <a href="#/precious-metals" class="">
            <i class="tfx-font tfx-home-gold"></i> <em>Metallerde CFD'ler </em>
            <p>Altın, Gümüş, Paladyum <br>ve daha fazlası</p>
          </a>
        </div>
        <div class="item">
          <a href="#/energies" class="">
            <i class="tfx-font tfx-home-energies"></i> <em>Enerji CFD'leri </em>
            <p>Petrol, Gaz ve tüm <br>ana enerjiler</p>
          </a>
        </div>
      </div>
    </div>-->
    <!--<div class="row row-4">-->
    <!-- <h2>新闻分析中心</h2>
          <div class="news-tab-head">
              <span :class="{active:newsTabIndex==0}" @click="handleNewsTabIndex(0)">分析</span>
              <span :class="{active:newsTabIndex==1}" @click="handleNewsTabIndex(1)">募集</span>
          </div> -->
    <!--<div class="row-cell">
      <div class="report-head">
        <em>Özel Rapor</em>-->
    <!-- <span :class="{active:newsTabIndex==3}" @click="handleNewsTabIndex(3)">Raise</span> -->
    <!--<span :class="{ active: newsTabIndex == 4 }"
            @click="handleNewsTabIndex(4)">Dinamik</span>
      <span :class="{ active: newsTabIndex == 7 }"
            @click="handleNewsTabIndex(7)">Altın ve gümüş</span>
      <span :class="{ active: newsTabIndex == 8 }"
            @click="handleNewsTabIndex(8)">Durum</span>
      <span :class="{ active: newsTabIndex == 9 }"
            @click="handleNewsTabIndex(9)">Ham petrol</span>
      <span :class="{ active: newsTabIndex == 10 }"
            @click="handleNewsTabIndex(10)">Risk Raporu</span>
      <span :class="{ active: newsTabIndex == 11 }"
            @click="handleNewsTabIndex(11)">Döviz</span>
      <span :class="{ active: newsTabIndex == 12 }"
            @click="handleNewsTabIndex(12)">Bekleyen sipariş</span>
      <span :class="{ active: newsTabIndex == 13 }"
            @click="handleNewsTabIndex(13)"
            style="margin: 0">Bekleyen sipariş</span>
      <router-link :to="{ name: 'articleList' }"><i class="icon icon-arrow-right"></i>Daha</router-link>
    </div>

    <ul class="clearfix">-->
    <!-- <li v-for="(item,index) in article.data" :key="index">
                      <div class="title">
                          <h5>{{item.t_title}}</h5>
                          <p>{{item.t_time}}</p>
                      </div>
                      <p>{{item.t_remark}}</p>
                      <router-link :to="{name:'articleDetails',query:{aid:item.t_aid,type:item.t_type}}">查看详情></router-link>
                  </li> -->
    <!--<li v-for="(item, index) in article.data"
        :key="index"
        class="clearfix">
      <router-link :to="{
          name: 'articleDetails',
          query: { aid: item.t_aid, type: item.t_type },
        }">
        <div class="img-box">
          <div class="cell"
               :style="{
              'background-image': 'url(' + item.t_thumbnail + ')',
            }"></div>
        </div>
        <div class="txt">
          <div class="title">
            <h5>{{ item.t_title }}</h5>
            <p id="exReport"><i class="icon icon-clock"></i>{{ item.t_time }}</p>
          </div>-->
    <!-- <p>{{item.t_remark}}</p> -->
    <!--</div>
            </router-link>
          </li>
        </ul>
        <div class="empty" v-if="article.data.length === 0">
          <i class="icon icon-record"></i>
          <span> Kayıt Yok</span>
        </div>
      </div>
    </div>-->


    <div class="row row-5 py-2">
      <div class="container-fluid">
        <div class="row  py-1">
          <div class="col-12">
            <img class="i2"
                 src="../../static/images/content_sample6.png"
                 alt="" />
          </div>
          <div class="col-12 text-center" style="padding-top: 50px;padding-left: 50px;padding-right: 50px;">
            <h2 class="uk-margin-remove-bottom" style="font-size: 30px; font-weight: bold; color: rgb(55, 71, 79); text-align: left; margin-bottom: 15px;">


              Bütün dünyada


            </h2> <p style="margin-bottom: 30px; text-align: justify;">
              <strong>Noble Sky ™</strong>
              ,
              500.000'den fazla müşterisiyle kurulduğu 2009 yılından bu yana,

              uluslararası üne sahip bir yatırım şirketi ve sektörde gerçek bir lider haline geldi.

              <strong>Noble Sky ™</strong> şu anda finans alanında uzun yıllara dayanan deneyime sahip 150'den fazla profesyonele sahiptir. In <strong>Noble Sky ™</strong>
              , müşteri fonlarının güvenliği birinci önceliğimizdir.
              Müşteri fonlarının güvenliğini sağlamak için şirket hesaplarını ve müşteri fonlarını ayrı ayrı kurtarmak için dünyanın en iyi yatırım bankalarıyla işbirliği yapıyoruz.


            </p> <ul class="text-center ul2">
              <li class="li2">
                <i class="fa fa-3x fa-globe icopad"></i><br>

                196 Ülke


              </li>
              <li class="li2">
                <i class="fa fa-3x fa-handshake-o icopad"></i><br>

                500.000+ Müşteri


              </li>
              <li class="li2">
                <i class="fa fa-3x fa-credit-card icopad"></i><br>

                Güvenli ödemeler


              </li>
              <li class="li2">
                <i class="fa fa-3x fa-phone icopad"></i><br>

                Özel müşteri hizmetleri


              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row py-1  mx-auto" style="background-color:#333;color:white">
      <div class="container-fluid">
        <div class="section-title"><h2 style="margin-bottom: 0px; color: white;">En son analitik malzemeler de emrinizdedir.</h2></div> <div class="row js-spawn-analytics unbind-animate" style="padding-bottom: 0px;">
          <div class="col-12 text-center mx-auto"><img src="/static/img/cnh.ab57954.png" alt="" class="image" style=" opacity: 1;"></div> <div class="col-12" style=" opacity: 1; padding: 3em;">
            <img src="/static/img/logo-shadow.5285754.png" alt="" class="clawhorn js-top-spawn" style="top: 0px; opacity: 1; padding-bottom: 2em;"> <h3 class="analysis-art" style="margin-bottom: 2em;"><b><strong style="font-weight: bold;">NOBLE SKY ™ '</strong> den analiz sanatı<strong style="font-weight: bold;"></strong></b></h3>



            <p style="margin-bottom: 2em;">
              <strong>NOBLE SKY ™ '</strong>

              deki deneyimli uzmanlar,
              analiz sanatında başka hiç kimsenin olmadığı kadar ustalaşır. Ticari başarı için vazgeçilmez olan her türlü analiz, en son tahminler, benzersiz incelemeler, uzman görüşleri ve diğer birçok analitik malzeme artık
              <strong>NOBLE SKY ™</strong> müşterilerine ücretsiz olarak sunulmaktadır .
            </p>             <router-link to="/register" class="btn waves-effect waves-light   btn-lg btn-primary" style="padding: .5em 1em; font-size: 1.25em;line-height: 1.5;color:white;border-radius: .3em; width:inherit; " rel="noopener noreferrer" target="_blank">Müşteri olun</router-link>

          </div>
        </div>
        <p class=" mx-4 text-justify" style="margin-top: 20px; margin-bottom: 2em;">
          Bu sayfada yayınlanan materyal <strong>NOBLE SKY ™</strong> Company tarafından üretilmiştir ve <strong>2004/39</strong> / EC Direktifinin amaçları doğrultusunda yatırım tavsiyesi olarak değerlendirilmemelidir; ayrıca yatırım araştırmasının bağımsızlığını teşvik etmek için tasarlanmış yasal gerekliliklere uygun olarak hazırlanmamıştır ve yatırım araştırmasının yaygınlaştırılmasından önce işlem yapma konusunda herhangi bir yasağa tabi değildir.

        </p>
      </div>
    </div>

    <div class="row row-6 mx-auto  pb-0">
      <div class="container-fluid px-2">
        <div class="text-center">
          <h2 style="margin: 0px 0px 20px; font-family: Montserrat, sans-serif; font-weight: 600; color: rgb(63, 52, 83); text-transform: none;">


            Ticaretten daha fazlasını deneyimleyin.


          </h2> <p class="uk-text-lead">


            Günde 30 analitik makaleyi, haftalık video incelemelerini deneyimleyin ve analistimize soru sorma fırsatına sahip olun.


          </p> <i class="fas fa-chevron-down uk-text-primary"></i>
        </div> <div>
          <div class="row  py-4">
            <div class="col-12 py-2">
              <div class="in-pricing-1">
                <div class="uk-card uk-card-default uk-box-shadow-medium" style="height: auto;">
                  <div class="uk-card-media-top"><img src="/static/img/in-profit-content-1.4ca277f.jpg" data-src="img/in-profit-content-1.jpg" data-width="" data-height="" alt="örnek görüntü" data-uk-img="" class="uk-width-1-1 uk-align-center"> <span></span></div> <div class="uk-card-body">
                    <div class="in-heading-extra in-card-decor-1">
                      <h2 class="uk-margin-remove-bottom" style="text-align: left;">


                        Ekonomik


                      </h2> <p class="uk-text-lead">Analiz</p>
                    </div> <p class="uk-margin-small-top">


                      Sektör uzmanlarının hazırladığı günlük web seminerleri aracılığıyla dünya lideri pazar analizleriyle pazarların bir adım önünde olun.


                    </p> <div class="row" style="padding: 25px 0px;">
                      <div class="col-6">

                        <!--<a href="/analytics-info" class="uk-button uk-button-link uk-text-uppercase uk-text-small">
                          Analizi okuyun
                          <i class="fas fa-caret-square-right uk-margin-small-left"></i>
                        </a>-->
                        <router-link to="/tr/analytics-info" class="uk-button uk-button-link uk-text-uppercase uk-text-small">
                          Analizi okuyun
                          <i class="fas fa-caret-square-right uk-margin-small-left"></i>
                        </router-link>

                      </div> <div class="col-6"><span class="uk-label uk-border-pill uk-align-right">Haftalık güncelleme</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 py-2">
              <div class="in-pricing-1">
                <div class="uk-card uk-card-default uk-box-shadow-medium">
                  <div class="uk-card-media-top"><img src="/static/img/in-profit-content-2.2021a32.jpg" data-src="img/in-profit-content-3.jpg" data-width="" data-height="" alt="örnek görüntü" data-uk-img="" class="uk-width-1-1 uk-align-center"> <span></span></div> <div class="uk-card-body">
                    <div class="in-heading-extra in-card-decor-2">
                      <h2 class="uk-margin-remove-bottom" style="text-align: left;">


                        Teknik


                      </h2> <p class="uk-text-lead">Analiz</p>
                    </div> <p class="uk-margin-small-top">


                      İhtiyaçlarınıza uygun bir hesapla finans piyasalarına erişin ve iyi koşullardan yararlanın.


                    </p> <div class="row" style="padding: 25px 0px;">
                      <div class="col-6">
                        <router-link to="/tr/analytics-info" class="uk-button uk-button-link uk-text-uppercase uk-text-small">
                          Analizi okuyun
                          <i class="fas fa-caret-square-right uk-margin-small-left"></i>
                        </router-link>

                      </div> <div class="col-6"><span class="uk-label uk-border-pill uk-align-right">Günlük güncelleme</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mx-auto py-1">
            <div class="uk-width-1-1 uk-grid-margin" style="height: 150px; background: url('../../static/images/in-profit-mockup-1.png'); background-size: cover;">


            </div>
            <div class="row mx-auto py-2" style="text-align: end;">

              <div class="col-6 px-1" style="text-align: center;">
                <a href="javascript:void(0)" class="uk-button in-button-app  " style=" cursor: not-allowed;">
                  <i class="fab fa-google-play fa-2x white"></i>

                  <span>Play Store'dan</span>
                  indirin<span></span>

                </a>
              </div>
              <div class="col-6 px-1" style="text-align: center;">
                <a href="javascript:void(0)" class="uk-button in-button-app" style=" cursor: not-allowed;">
                  <i class="fab fa-apple fa-2x white"></i>
                  <span>App Store'dan</span>
                  indirin<span></span>
                </a>
              </div>

              <div class="col-12 text-center">
                <small class="pl-4 mx-1">  <b>Çok yakında</b></small>


                <hr />
                <p> Şüphesiz <span class="uk-text-bold uk-text-primary">birinci sınıf platformda</span> ticaret yapın.</p>
              </div>
              <br />

            </div>
            <div class="uk-visible@m">
            </div>

          </div>

          <div class="row py-0 text-center" style="background-color: #333333;">
            <div class="uk-width-1-1 uk-grid-margin p-4">
              <div class="uk-grid uk-grid-match in-profit-tradestatus">
                <div class="uk-grid uk-grid-small uk-flex-middle text-justify">
                  <div class="uk-width-auto"><i class="fas fa-chart-line fa-2x in-icon-wrap circle primary-color"></i></div> <div class="uk-width-expand">
                    <h1 class="uk-margin-remove-bottom white" style="vertical-align: inherit;font-size:xx-large;">324.978.126</h1>
                    <p class="uk-text-uppercase uk-text-primary uk-text-small uk-margin-remove-top">

                      <strong>Noble Sky ™ 'da</strong>
                      Açılan İşlemler

                      <strong></strong>
                    </p>
                  </div>
                </div>
                <div class="uk-width-1-1 uk-width-expand@m uk-flex-middle text-justify">
                  <p class="uk-text-lead white">
                    Para Birimlerine, Endekslere ve Emtialara (CFD'ler) Ticaret ve Yatırım.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="background-color:#f3f5f6 ">
      <div class="col-12 text-justify in-card-decor-1 px-2 mx-auto">
        <h2 style="margin: 0px 10px 20px 10px; font-family: Montserrat, sans-serif; font-weight: 600; color: rgb(63, 52, 83); text-transform: none;">Biz sadece müşterilerimizin söylediği kadar iyiyiz</h2>
      </div>
      <div class="container-fluid">
        <div class="swiper-container">
          <div class="swiper-wrapper">

            <swiper :options="swiperOption2" ref="mySwiper">
              <!-- slides -->
              <swiper-slide>
                <div class="swiper-slide">
                  <div class="comp inline-block">
                    <p>
                      Başladığımda sadece 100 $ ile bu kadar kar elde etmeyi beklemiyordum. Teşekkürler N Sky!
                    </p>
                    <div class="comp-name text-left px-2">
                      <img src="../../static/emre.jpg"> Emre Ç.
                      <br>
                    </div>
                    <div class="stars mx-2">
                      <img src="../../static/images/5-stars.png">
                    </div>

                  </div>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="swiper-slide">
                  <div class="comp inline-block">
                    <p>Mükemmel müşteri hizmeti!<br>Profesyonel, verimli ve bana özenli davrandılar.</p>
                    <div class="comp-name text-left px-2">
                      <img src="../../static/images/amin.jpg"> Amin M.
                      <br>

                    </div>
                    <div class="stars mx-2">
                      <img src="../../static/images/4-stars.png">
                    </div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="swiper-slide">
                  <div class="comp inline-block">
                    <p>N Sky kadar iyi ticaret komisyoncuları bulmayı hiç beklemiyordum!</p>
                    <div class="comp-name text-left px-2">
                      <img src="../../static/images/zahra.jpg"> Candice J.
                      <br>

                    </div>
                    <div class="stars mx-2">
                      <img src="../../static/images/5-stars.png">
                    </div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="swiper-slide">
                  <div class="comp inline-block">
                    <p>N Sky tarafından sağlanan analitik araçlar büyük başarı elde etmeme yardımcı oldu!</p>
                    <div class="comp-name text-left px-2">
                      <img src="../../static/images/zeynep.jpg"> Zeynep M.
                      <br>

                    </div>
                    <div class="stars mx-2">
                      <img src="../../static/images/4-stars.png">
                    </div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="swiper-slide">
                  <div class="comp inline-block">
                    <p>N Sky ile ticaret yapmanın ne kadar kolay olduğunu açıklayacak kelimeler bulamıyorum!</p>
                    <div class="comp-name text-left px-2">
                      <img src="../../static/images/cemal.jpg"> Cemal Ö.
                      <br>

                    </div>
                    <div class="stars mx-2">
                      <img src="../../static/images/5-stars.png">
                    </div>
                  </div>
                </div>
              </swiper-slide>
            </swiper>
          </div>

        </div>
      </div>
    </div>
    <pageFooter />
  </div>
</template>


<script>

  import pageHeader from "../components/pageHeaderTFX.vue";
  import pageFooter from "../components/pageFooterTFX.vue";
  import BigNumber from "bignumber.js";
  import moment from "moment";
  import $ from "jquery";


  import { apiStateList } from "../utils/result-state";
  import { Swiper, SwiperSlide, directive } from "vue-awesome-swiper";
  import { languageCode } from "../utils/lan-code";
  // import 'swiper/swiper-bundle.min.css'
  import "swiper/css/swiper.css";
  import VueSlickCarousel from 'vue-slick';
  import '../../static/js/material-components-web.min.js';
  import '../../static/css/home.css';
  export default {
    name: "my-acount",
    data: function () {
      return {
        isLogin: false,
        userLoginInfo: '',
        curCoinType: 1,
        curLanguage: 3,
        // language:coinstrad,
        newsTabIndex: 0,
        userInfo: {
          configure: {
          }
        },
        resultStateList: apiStateList,
        myAsset: [],
        myCoupons: 0,
        assetType: {
          1: 'actuals',
          2: 'futures',
          3: 'shares',
          4: 'gold'
        },
        languageGroup: {
          1: 'zh',
          2: 'en',
          3: 'tr',
          4: 'ar',
          5: 'fa'
        },
        article: {
          data: [],
          pageSize: 10,
          pageIndex: 1,
          total: 0

        },
        financialProducts: {
          loading: false,
          pageSize: 8,
          pageIndex: 1,
          total: 0,
          type: 3,
          tipEndTimer: null,
          data: [],
          profitType: {
            0: 'Annualized',
            1: 'Profit sharing'
          },
          details: {
            dialogFlag: false,
            title: '--',
            month: '',
            info: {},
            introduction: ''
          },
          buy: {
            dialogFlag: false,
            submitStateFlag: false,
            fId: '--',
            info: {},
            amount: '',
            couponsAmount: '',
            system: '',
            systemGroup: [],
            tip1: false,
            tip2: false,
            tip3: false,
            tip4: false,
            tip6: false,
            tip7: false,
            tip8: false
          }
        },
        productsRecords: {
          tabIndex: 0,
          orderRecords: [],
          flows: [],
          tradHistory: [],
          pageIndex: 1,
          pageSize: 5,
          total: 0
        },
        slickOptions: {
          focusOnSelect: true,
          infinite: true,
          speed: 500,
          slidesToShow: 3,
          slidesToScroll: 1,
          touchThreshold: 100,
          accessibility: true,
          respondTo: 'slider',
          adaptiveHeight: true,
          arrows: false,
          draggable: true,
          swipe: true,
          variableWidth: true,
          swipeToSlide: true,
          pauseOnHover: true,
          autoplay: true,
          responsive: [
            {
              breakpoint: 620,
              settings: {
                arrows: true
              }
            },
            {
              breakpoint: 345,
              settings: {
                arrows: true
              }
            }
          ]
        },
        swiperOption: {
          effect: 'fade',
          fadeEffect: {
            crossFade: true,
          },
          notNextTick: true,
          //循环
          // loop:true,
          //设定初始化时slide的索引
          initialSlide: 0,
          //自动播放
          autoplay: {
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: true,
          },
          //滑动速度
          speed: 500,
          //滑动方向
          direction: 'horizontal',
          //小手掌抓取滑动
          grabCursor: false,
          //滑动之后回调函数
          //              on: {
          //                  slideChangeTransitionEnd: function(){
          //                    console.log(this.activeIndex);//切换结束时，告诉我现在是第几个slide
          //                  },
          //              },
          //左右点击
          //              navigation: {
          //                  nextEl: '.swiper-button-next',
          //                  prevEl: '.swiper-button-prev',
          //              },
          //分页器设置
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
            type: 'bullets'
            //自定义分页器样式

          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        },
        swiperOption2: {
          effect: 'coverflow',
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: 1.5,
          loop: true,
          loopFillGroupWithBlank: true,
          coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
          },
          spaceBetween: 10,
          centeredSlides: true,
          autoplay: {
            delay: 5500,
            disableOnInteraction: false,
          },
          pagination: {
            el: '.swiper-pagination',
          },
        },

      };
    },

    mounted() {
      // card animation was here


    },

    metaInfo: {
      title: 'Home-NOBLE SKY',
    },
    created() {







      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');


      this.curCoinType = !!storeCoinType ? storeCoinType : this.$api.defaultCoinType;
      this.curLanguage = !!storeLanguage ? storeLanguage : this.$api.defaultLanguage;

      if (this.curLanguage != 3) {
        let pName = this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[this.curLanguage]
        this.$router.push({ name: pNameStr });
      }



      this.isLogin = this.util.isLogin();

      if (!!this.isLogin) {
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
        this.getUserInfo();
        this.getUserAsset();
      }

      this.getFinancialProducts()
      this.getFinancialArticle()


      // this.getSystemTradMode()

      // this.getUserAsset()
      // this.getCoinList();
      // this.getUserOrder();
      // this.getUserOrder2();
      // this.settingAPIDataLanguage();
      // this.getcurrency()



    },

    components: {
      pageHeader,
      pageFooter,
      Swiper,
      SwiperSlide,
      VueSlickCarousel
    },
    methods: {
      getStateCodeText(code) {
        let text = this.resultStateList.find(item => {
          return item.code == code
        })
        if (this.curLanguage == 1) {
          return text.cn
        } else if (this.curLanguage == 3) {
          return text.tr

        } else {
          return text.en
        }

      },
      handleNewsTabIndex(val) {
        this.newsTabIndex = val
        this.getFinancialArticle()
      },
      changeLanguage(val) {

        let pName = this.curLanguage == 1 ? this.$route.name : this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[val]
        this.$router.push({ name: pNameStr });
      },
      hideMenu() {
        this.$refs.pageHead.hideMenu();
      },

      submitOrderInfo() {
        const that = this
        const amount = this.financialProducts.buy.amount
        const couponsAmount = this.financialProducts.buy.couponsAmount

        const curProduct = this.financialProducts.buy.info
        let amountMod = BigNumber(amount).mod(100).toNumber()
        let couponsAmountMod = BigNumber(couponsAmount).mod(100).toNumber()

        let maxAmount = BigNumber(curProduct.t_max_quota).minus(curProduct.t_quota).toNumber()
        let numAmount = BigNumber(amount).toNumber();
        let numCouponsAmount = BigNumber(couponsAmount).toNumber();

        let systemAsset = this.myAsset[this.assetType[this.financialProducts.buy.system]]
        let usdAsset = systemAsset.find(item => {
          return item.t_ccode == 'USD'
        })



        if (amount == '') {
          that.financialProducts.buy.tip1 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip1 = false;
          }, 2000)
          return false;
        }

        if (!this.util.isIntNumber(amount) || amountMod != 0) {
          that.financialProducts.buy.tip2 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip2 = false;
          }, 2000)
          return false;
        }

        if (numAmount + numCouponsAmount > maxAmount) {

          that.financialProducts.buy.tip3 = true;
          clearTimeout(that.financialProducts.tipEndTimer);

          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip3 = false;
          }, 2000)
          return false;
        }



        if (numAmount > usdAsset.t_number) {
          that.financialProducts.buy.tip4 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip4 = false;
          }, 2000)
          return false;
        }
        ////////
        if (!this.util.isIntNumber(couponsAmount) && couponsAmount != '' || amountMod != 0 && couponsAmount != '') {
          that.financialProducts.buy.tip6 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip6 = false;
          }, 2000)
          return false;
        }


        if (numCouponsAmount > this.myCoupons) {
          that.financialProducts.buy.tip8 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip8 = false;
          }, 2000)
          return false;
        }






        const api = this.$api.url.FinancialOrder;
        const params = {
          Uid: this.userLoginInfo.userID,
          Token: this.userLoginInfo.session,
          Device: 'web',
          Fpid: this.financialProducts.buy.fId,
          Amount: this.financialProducts.buy.amount,
          Syetem: this.financialProducts.buy.system,
          Experience: this.financialProducts.buy.couponsAmount == '' ? 0 : this.financialProducts.buy.couponsAmount
        }
        this.financialProducts.buy.submitStateFlag = true;
        this.$axios.get(api, { params: params })
          .then((res) => {
            this.financialProducts.buy.submitStateFlag = false;
            if (res.data.code == 0) {
              this.$message({
                message: 'Order successful！！',
                type: "success",
                center: true,
                duration: 2000
              })
              this.financialProducts.buy.dialogFlag = false;
            } else {
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message: 'Order failed！' + resultMsg,
                type: "error",
                center: true,
                duration: 2000
              })
            }
          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })
      },
      getUserAsset() {

        const api = this.$api.url.userFund;
        const params = {
          Uid: this.userLoginInfo.userID,
          Token: this.userLoginInfo.session,
          Device: 'web'

        }
        this.assetSpotLoading = true;
        this.assetRequestFlag = false;
        this.$axios.get(api, { params: params })
          .then((res) => {

            this.assetSpotLoading = false;
            this.assetRequestFlag = true;

            if (res.data.code == 0) {

              const data = JSON.parse(res.data.data);

              this.myAsset = data;
              this.myCoupons = data.all.t_experience;




            } else if (res.data.code == 1000) {
              return
            } else if (res.data.code == 1011 || res.data.code == 1006) {

              // this.$refs.pageHead.logout();
              // this.isLogin = false;

              // this.$router.push({name:'login'});
            } else {
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message: 'Error',
                type: "error",
                center: true,
                duration: 2000
              })
            }

          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })

      },
      getUserInfo() {
        const api = this.$api.url.userVerify1;
        const params = {
          Device: 'web',
          Uid: this.userLoginInfo.userID,
          Token: this.userLoginInfo.session
        }
        this.$axios.get(api, { params: params })
          .then((res) => {
            if (res.data.code == 0) {
              let data = JSON.parse(res.data.data);
              this.userInfo = data

              if (this.userInfo.configure == null) {
                this.userInfo.configure = {
                  t_actuals_gid: null,
                  t_actuals_state: null,
                  t_actuals_uid: null,
                  t_futures_gid: null,
                  t_futures_state: null,
                  t_futures_uid: null,
                  t_other_gid: null,
                  t_other_state: null,
                  t_other_uid: null,
                  t_shares_gid: null,
                  t_shares_state: null,
                  t_shares_uid: null,
                  t_uid: null
                }
              }

              if (this.userInfo.configure.t_actuals_state == 2) {
                this.financialProducts.buy.systemGroup.push({ value: 1, label: 'Spot' })
              }
              if (this.userInfo.configure.t_futures_state == 2) {
                this.financialProducts.buy.systemGroup.push({ value: 2, label: 'Futures' })
              }
              if (this.userInfo.configure.t_shares_state == 2) {
                this.financialProducts.buy.systemGroup.push({ value: 3, label: 'Stock' })
              }
              if (this.userInfo.configure.t_other_state == 2) {
                this.financialProducts.buy.systemGroup.push({ value: 4, label: 'Gold' })
              }
              if (this.financialProducts.buy.systemGroup.length != 0) {
                this.financialProducts.buy.system = this.financialProducts.buy.systemGroup[0].value;
              }


              // this.userInfo.u_country = this.userCountry;
              this.localStore.setItem('userInfo', this.userInfo)


              if (data.configure.t_actuals_state == 2 || data.configure.t_futures_state == 2 || data.configure.t_shares_state == 2 || data.configure.t_other_state == 2) {
                this.assetStateFlag = true;
              }

            } else if (res.data.code == 1011 || res.data.code == 1006) {

              this.$refs.pageHead.logout();
              this.isLogin = false;
              this.$router.push({ name: 'login' });
            } else {
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message: 'Error!',
                type: "error",
                center: true,
                duration: 2000
              })
            }

          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })

      },
      getFinancialProducts(type) {
        if (type == 4) {
          this.financialProducts.type = type;
        }

        const api = this.$api.url.FinancialProducts;
        let params = {
          PageSize: this.financialProducts.pageSize,
          PageIndex: this.financialProducts.pageIndex,
          Type: this.financialProducts.type,
          Language: this.languageGroup[this.curLanguage],
          WebSite: 0
        }
        if (type == 'designate') {
          params = {
            Fpid: this.financialProducts.details.info.t_fpid,
            Language: this.languageGroup[this.curLanguage]
          }
        }

        this.financialProducts.loading = true;
        this.$axios.get(api, {
          params: params
        })
          .then((res) => {
            this.financialProducts.loading = false;
            if (res.data.code == 0) {



              let data = JSON.parse(res.data.data)

              if (type == 'designate') {

                if (data.length > 0) {

                  data[0].orders.forEach(item => {
                    item.t_time = moment(item.t_time).format('YYYY-MM-DD HH:mm:ss');
                  })

                  data[0].flows.forEach(item => {
                    item.t_time = moment(item.t_time).format('YYYY-MM-DD HH:mm:ss');
                  })


                  this.productsRecords.orderRecords = data[0].orders
                  this.productsRecords.flows = data[0].flows
                }

                return
              }


              data.forEach(item => {
                item.products.t_stime = moment(item.products.t_stime).format('YYYY-MM-DD');
                item.products.t_etime = moment(item.products.t_etime).format('YYYY-MM-DD');
                item.products.t_time = moment(item.products.t_time).format('YYYY-MM-DD');
              })

              if (this.financialProducts.type == 4 && data.length < 3) {
                while (data.length < 3)
                  data = data.concat(data);
              }
              this.financialProducts.data = this.financialProducts.data.concat(data);
              this.financialProducts.total = res.data.count
              if (this.financialProducts.data.length == 0 || (this.financialProducts.data.length < 3 && this.financialProducts.type != 4)) {
                this.financialProducts.type = 4;
                this.getFinancialProducts(4);
              }


            } else if (res.data.code == 1011 || res.data.code == 1006) {

              console.log('用户验证不通过')
              // this.$refs.pageHead.logout();
              // this.isLogin = false;
              // this.$router.push({name:'login'});
            } else {

              this.$message({
                message: '获取理财产品列表失败！' + res.data.msg,
                type: "error",
                center: true,
                duration: 2000
              })
            }

          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })

      },


      getFinancialTradHistory() {
        const api = this.$api.url.FinancialTradHistory;
        let params = {
          PageSize: this.productsRecords.pageSize,
          PageIndex: this.productsRecords.pageIndex,
          Fpid: this.financialProducts.details.info.t_fpid
        }


        // this.financialProducts.loading = true;
        this.$axios.get(api, { params: params })
          .then((res) => {
            this.financialProducts.loading = false;
            if (res.data.code == 0) {



              let data = JSON.parse(res.data.data)




              data.forEach(item => {
                item.t_time = moment(item.t_time).format('YYYY-MM-DD HH:mm:ss');
              })




              this.productsRecords.tradHistory = data;
              this.productsRecords.total = res.data.count

            } else if (res.data.code == 1011 || res.data.code == 1006) {

              console.log('用户验证不通过')
              // this.$refs.pageHead.logout();
              // this.isLogin = false;
              // this.$router.push({name:'login'});
            } else {

              this.$message({
                message: res.data.msg,
                type: "error",
                center: true,
                duration: 2000
              })
            }

          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })

      },

      handlePaginationRecordsIndex(val) {
        this.productsRecords.pageIndex = val;
        this.getFinancialTradHistory();
      },

      handleProDetailsTab(val) {
        this.productsRecords.tabIndex = val;
        if (val == 1 || val == 2) {
          this.getFinancialProducts('designate');
          return
        }
        if (val == 3) {
          this.getFinancialTradHistory();

        }


      },

      handlePaginationHistory(val) {
        this.productsRecords.pageIndex = val;
        this.getFinancialTradHistory();

      },

      closeFinProDetails() {

        this.productsRecords.tabIndex = 0;
        this.productsRecords.pageIndex = 1;
        this.productsRecords.total = 0;
      },

      getFinancialArticle() {
        const api = this.$api.url.FinancialArticle;
        const params = {
          PageSize: this.article.pageSize,
          PageIndex: this.article.pageIndex,
          Type: this.newsTabIndex === 0 ? 3 : 4,
          Language: this.languageGroup[this.curLanguage],
          WebSite: 0
        }
        this.$axios.get(api, { params: params })
          .then((res) => {
            if (res.data.code == 0) {

              let data = JSON.parse(res.data.data)


              data.forEach(item => {
                item.t_time = moment(item.t_time).format('YYYY-MM-DD HH:mm:ss');
              })

              this.article.data = data;

            } else if (res.data.code == 1011 || res.data.code == 1006) {

              console.log('用户验证不通过')
              // this.$refs.pageHead.logout();
              // this.isLogin = false;
              // this.$router.push({name:'login'});
            } else {

              this.$message({
                message: '获取文章列表失败！',
                type: "error",
                center: true,
                duration: 2000
              })
            }

          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })

      },


      viewDetails(val) {
        this.financialProducts.details.title = val.content.t_name;
        this.financialProducts.details.introduction = val.content.t_remarks;
        this.financialProducts.details.pdf = val.content.t_pdfexplain;
        this.financialProducts.details.month = val.t_month;
        this.financialProducts.details.info = val.products;
        this.financialProducts.details.dialogFlag = true;


      },
      productBuy(val) {
        if (!this.isLogin) {
          this.localStore.setItem('fromPage', 'homeTR');
          this.$router.push({ name: 'login' });
          return;
        }
        this.financialProducts.buy.fId = val.products.t_fpid;
        this.financialProducts.buy.info = val.products;
        this.financialProducts.buy.dialogFlag = true;

      },


    },
    directives: {
      swiper: directive
    }

  };
  import ticker from "../components/ticker.vue"
</script>





<!--<style scoped lang="scss">

  /*//This will be removed if not working

  //end of the removed part*/
  .uk-margin-medium-bottom {
    margin-bottom: 40px !important;
  }

  .uk-background-default {
    background-color: #fff;
  }

  .uk-container-expand {
    max-width: none;
  }

  .container-wd {
    max-width: 1350px !important;
  }

  .uk-container {
    max-width: 1201px;
    border-radius: 10px;
  }

  .uk-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
    list-style: none;
    margin-left: -40px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    color: #788084;
  }

  .uk-button-default {
    background-color: transparent;
    color: #00b276;
    box-shadow: inset 0 0 0 2px rgba(0, 178, 118, 1);
    border: transparent;
    border-radius: 6px;
  }

  .ul2 {
    display: flex;
    /*  // list-style-type: disc;
    // margin-block-start: 1em;
    // margin-block-end: 1em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    // padding-inline-start: 40px;
    // margin-left: 35px;*/
  }

  .uk-list {
    padding: 0;
    list-style: none;
  }

  .uk-margin-bottom {
    margin-bottom: 20px !important;
  }

  .about-box {
    padding-left: 91px;
  }

  .i2 {
    padding-top: 45px;
    padding-left: 50px;
  }

  .icopad {
    padding-left: 0px;
  }

  .li2 {
    margin: 10px 20px;
    font-size: 11px;
  }

  //Analysis app section

  a:active,
  a:hover {
    outline: 0;
  }

  a {
    color: #fd6a4f;
    text-decoration: none;
    cursor: pointer;
  }

    a:hover {
      color: #d35038;
      text-decoration: underline;
    }

  img {
    vertical-align: middle;
  }

  img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  p {
    margin: 0 0 20px 0;
  }

  * + p {
    margin-top: 20px;
  }

  h1,
  h2 {
    margin: 0 0 20px 0;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #3f3453;
    text-transform: none;
  }

  h1 {
    font-size: 2.23125rem;
    line-height: 1.1;
  }

  h2 {
    font-size: 1.7rem;
    line-height: 1.2;
  }

  @media (min-width: 960px) {
    h1 {
      font-size: 2.625rem;
    }

    h2 {
      font-size: 2rem;
    }
  }

  hr {
    overflow: visible;
    text-align: inherit;
    margin: 0 0 20px 0;
    border: 0;
    border-top: 1px solid #e8e8e8;
  }

  * + hr {
    margin-top: 20px;
  }

  ::selection {
    background: #39f;
    color: #fff;
    text-shadow: none;
  }

  .uk-button {
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    text-decoration: none;
  }

    .uk-button::-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    .uk-button:hover {
      text-decoration: none;
    }

    .uk-button:focus {
      outline: 0;
    }

  .uk-button-link {
    padding: 0;
    line-height: 1.5;
    background: 0 0;
    color: #1e87f0;
  }

    .uk-button-link:focus,
    .uk-button-link:hover {
      color: #0f6ecd;
      text-decoration: underline;
    }

    .uk-button-link:disabled {
      color: #999;
      text-decoration: none;
    }

  .uk-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

    .uk-grid > * {
      margin: 0;
    }

      .uk-grid > * > :last-child {
        margin-bottom: 0;
      }

  .uk-grid {
    margin-left: -30px;
  }

    .uk-grid > * {
      padding-left: 30px;
    }

    * + .uk-grid-margin,
    .uk-grid > .uk-grid-margin {
      margin-top: 30px;
    }

  @media (min-width: inherit) {
    .uk-grid {
      margin-left: -40px;
    }

      .uk-grid > * {
        padding-left: 40px;
      }

      * + .uk-grid-margin,
      .uk-grid > .uk-grid-margin {
        margin-top: 40px;
      }
  }

  .uk-grid-small {
    margin-left: -15px;
  }

    .uk-grid-small > * {
      padding-left: 15px;
    }

  .uk-grid-divider > * {
    position: relative;
  }

  .uk-grid-divider > :not(.uk-first-column)::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px solid #d5d4dc;
  }

  .uk-grid-divider {
    margin-left: -60px;
  }

    .uk-grid-divider > * {
      padding-left: 60px;
    }

    .uk-grid-divider > :not(.uk-first-column)::before {
      left: 30px;
    }

  @media (min-width: inherit) {
    .uk-grid-divider {
      margin-left: -80px;
    }

      .uk-grid-divider > * {
        padding-left: 80px;
      }

      .uk-grid-divider > :not(.uk-first-column)::before {
        left: 40px;
      }
  }

  .uk-grid-match > * {
    display: flex;
    flex-wrap: wrap;
  }

    .uk-grid-match > * > :not([class*="uk-width"]) {
      box-sizing: border-box;
      width: 100%;
      flex: auto;
    }

  .uk-card {
    position: relative;
    box-sizing: border-box;
  }

  .uk-card-body {
    display: flow-root;
    padding: 30px 30px;
  }

  @media (min-width: inherit) {
    .uk-card-body {
      padding: 40px 40px;
    }
  }

  .uk-card-body > :last-child {
    margin-bottom: 0;
  }

  .uk-card-default {
    background: #f2f3f5;
    color: #666;
    border: 1px solid #e8e8e8;
  }

  .uk-label {
    display: inline-block;
    padding: 0 10px;
    background: #f19e38;
    line-height: 1.5;
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
  }

  [class*="uk-child-width"] > * {
    box-sizing: border-box;
    width: 100%;
  }

  @media (min-width: 640px) {
    .uk-child-width-1-2\@s > * {
      width: 50%;
    }
  }

  @media (min-width: 960px) {
    .uk-child-width-1-2\@m > * {
      width: 50%;
    }
  }

  [class*="uk-width"] {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }

  .uk-width-auto {
    width: auto;
  }

  .uk-width-expand {
    flex: 1;
    min-width: 1px;
  }

  @media (min-width: 960px) {
    .uk-width-5-6\@m {
      width: calc(100% * 5 / 6.001);
    }

    .uk-width-auto\@m {
      width: auto;
    }

    .uk-width-expand\@m {
      flex: 1;
      min-width: 1px;
    }
  }

  .uk-text-lead {
    font-size: 25px;
    line-height: 1.5;
    color: #878787;
    font-weight: 400;
  }

  .uk-text-small {
    font-size: 18px;
    line-height: 1.5;
  }

  .uk-text-bold {
    font-weight: 700;
  }

  .uk-text-uppercase {
    text-transform: uppercase !important;
  }

  .uk-text-primary {
    color: #f19e38 !important;
  }

  [class*="uk-align"] {
    display: block;
    margin-bottom: 30px;
  }

  * + [class*="uk-align"] {
    margin-top: 30px;
  }

  .uk-align-center {
    margin-left: auto;
    margin-right: auto;
  }

  .uk-align-right {
    margin-top: 0;
    margin-left: 30px;
    float: right;
  }

  @media (min-width: inherit) {
    .uk-align-right {
      margin-left: 40px;
    }
  }

  .uk-border-pill {
    border-radius: 500px;
  }

  .uk-box-shadow-medium {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .uk-flex {
    display: flex;
  }

    .uk-flex::after,
    .uk-flex::before {
      display: none;
    }

  .uk-flex-left {
    justify-content: flex-start;
  }

  @media (min-width: 960px) {
    .uk-flex-center\@m {
      justify-content: center;
    }
  }

  .uk-flex-middle {
    align-items: center;
  }

  .uk-margin-small-top {
    margin-top: 10px !important;
  }

  .uk-margin-small-left {
    margin-left: 10px !important;
  }

  .uk-margin-small-right {
    margin-right: 10px !important;
  }

  .uk-margin-medium-top {
    margin-top: 40px !important;
  }

  .uk-margin-remove-top {
    margin-top: 0 !important;
  }

  .uk-margin-remove-bottom {
    margin-bottom: 0 !important;
  }

  @media (max-width: 959px) {
    .uk-visible\@m {
      display: none !important;
    }
  }

  @media print {
    *,
    ::after,
    ::before {
      background: 0 0 !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    img {
      page-break-inside: avoid;
    }

    img {
      max-width: 100% !important;
    }

    h2,
    p {
      orphans: 3;
      widows: 3;
    }

    h2 {
      page-break-after: avoid;
    }
  }

  .uk-button {
    font-family: "Lato", sans-serif;
  }

  .in-button-app {
    background-color: #2b2a2a;
    border-radius: 6px;
    color: #fff;
  }

    .in-button-app:hover {
      transition: all ease 400ms;
      background-color: #fff;
      box-shadow: inset 0px 0px 0px 1px #d6d5e1;
      color: #3f3453;
    }

  @media (max-width: 960px) {
    .in-button-app {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .in-pricing-1 .uk-card {
    overflow: hidden;
    border-radius: 12px;
    border: 2px solid #d5cee0;
    transition: all ease 600ms;
  }

  .in-pricing-1 .uk-card-default {
    background-color: #fff;
  }

    .in-pricing-1 .uk-card-default:hover {
      border-color: #b9afcd;
    }

  .in-button-app {
    font-weight: 300;
    font-size: 11px;
    white-space: nowrap;
    text-transform: capitalize;
    text-align: left;
    line-height: 17px;
    padding: 8px 14px;
  }

    .in-button-app span.wrapper {
      float: right;
    }

      .in-button-app span.wrapper span {
        font-weight: 600;
        font-size: 15px;
      }

        .in-button-app span.wrapper span::before {
          content: "\A";
          white-space: pre;
        }

    .in-button-app i {
      margin-right: 14px;
      position: relative;
      top: 4px;
    }

  .in-icon-wrap {
    font-family: inherit;
    font-weight: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: #f0f0f0;
    color: #5c5c5c;
    border-radius: 24px;
  }

    .in-icon-wrap.circle {
      border-radius: 500px;
    }

    .in-icon-wrap.primary-color {
      background-color: #f19e38;
      color: #fff;
    }

  .fas,
  .fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }

  .fa-2x {
    font-size: 2em;
  }

  .fa-apple:before {
    content: "\f179";
  }

  .fa-caret-square-right:before {
    content: "\f152";
  }

  .fa-chart-line:before {
    content: "\f201";
  }

  .fa-google-play:before {
    content: "\f3ab";
  }

  .fab {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
  }

  .fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }

  .in-pricing-1 .uk-card-default {
    background: linear-gradient( 0deg, #f7f7fa 0%, #f7f7fa 45%, white 75%, white 100% );
  }

  .in-pricing-1 .uk-card-body {
    padding-top: 0;
    padding-bottom: 20px;
  }

    .in-pricing-1 .uk-card-body p,
    .in-pricing-1 .uk-card-body .uk-label {
      position: relative;
      z-index: 1;
    }

    .in-pricing-1 .uk-card-body .uk-label {
      margin-top: 4px;
    }

  .in-pricing-1 .uk-card-media-top {
    position: relative;
  }

    .in-pricing-1 .uk-card-media-top span {
      position: absolute;
      display: block;
      width: 100%;
      height: 101%;
      background: linear-gradient( 0deg, #f7f7fa 0%, rgba(247, 247, 250, 0.599877) 30%, rgba(247, 247, 250, 0) 100% );
      top: 0;
    }

  .in-pricing-1 .uk-button-link {
    color: #fd6a4f;
  }

  .in-heading-extra {
    border-left: 7px solid #ffc175;
    padding-left: 18px;
    position: relative;
    top: -120px;
    margin-bottom: -120px;
  }

    .in-heading-extra:before {
      width: 100%;
      height: 300px;
      content: "";
      position: absolute;
      right: -200px;
    }

    .in-heading-extra.in-card-decor-1:before {
      background: url("../../static/images/in-profit-decor-1.svg") no-repeat;
      background-size: 100%;
    }

    .in-heading-extra.in-card-decor-2:before {
      background: url("../../static/images/in-profit-decor-2.svg") no-repeat;
      background-size: 100%;
    }

    .in-heading-extra .uk-text-lead {
      margin-top: -5px;
    }

  .in-profit-appcard {
    background-color: #f7f6fc;
    border: 2px solid #d5cee0;
    border-radius: 12px;
  }

    .in-profit-appcard.uk-card-body .uk-child-width-1-2\@m div:nth-child(2) {
      padding-left: 0;
      margin-top: -40px;
      margin-bottom: -40px;
    }

    .in-profit-appcard hr {
      border-color: #d1d0dd;
      margin-top: 25px;
    }

    .in-profit-appcard img {
      position: relative;
      right: -40px;
      height: 100%;
    }

  .in-profit-tradestatus h1 {
    font-size: 36px;
  }

  .in-profit-tradestatus .uk-text-lead {
    font-size: 24px;
  }

  @media (max-width: 960px) {
    .in-heading-extra:before {
      top: 39px;
      right: -180px;
    }
  }

  @media (max-width: 639px) {
    .uk-card-body .uk-label {
      display: none;
    }

    /*! CSS Used fontfaces */
    @font-face {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../../static/fonts/montserrat-v14-latin-600.woff2") format("woff2"), url("../../static/fonts/montserrat-v14-latin-600.woff") format("woff");
      font-display: block;
    }

    @font-face {
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      src: local("Lato Regular"), local("Lato-Regular"), url("../../static/fonts/lato-v16-latin-regular.woff2") format("woff2"), url("../../static/fonts/lato-v16-latin-regular.woff") format("woff");
      font-display: block;
    }

    @font-face {
      font-family: "Lato";
      font-style: normal;
      font-weight: 700;
      src: local("Lato Bold"), local("Lato-Bold"), url("../../static/fonts/lato-v16-latin-700.woff2") format("woff2"), url("../../static/fonts/lato-v16-latin-700.woff") format("woff");
      font-display: block;
    }

    @font-face {
      font-display: block;
      font-family: "Font Awesome 5 Brands";
      font-style: normal;
      font-weight: 400;
      src:  url("../../static/fonts/fa-brands-400.woff2") format("woff2"), url("../../static/fonts/fa-brands-400.woff") format("woff");
    }

    @font-face {
      font-display: block;
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-weight: 900;
      src: url("../../static/fonts/fa-solid-900.woff2") format("woff2"), url("../../static/fonts/fa-solid-900.woff") format("woff");
    }


    ::selection {
      background: #39f;
      color: #fff;
      text-shadow: none;
    }

    @media print {
      *,
      ::after,
      ::before {
        background: 0 0 !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
      }
    }

    .in-pricing-1 .uk-card-media-top span {
      position: absolute;
      width: 100%;
      height: 101%;
      background: linear-gradient( 0deg, #f7f7fa 0%, rgba(247, 247, 250, 0.599877) 30%, rgba(247, 247, 250, 0) 100% );
      top: 0;
    }

    .in-profit-2.uk-background-contain {
      background-size: 960px 710px;
      background-position: 20% 30%;
    }
  }

  /*//end of analysis app section*/

  .news-tab-head {
    width: inherit;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0 30px;
    span

  {
    display: inline-block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 0 20px;
    font-size: 20px;
    cursor: pointer;
  }

  span.active {
    background-color: #d51820;
    color: #fff;
    border-color: #d51820;
  }

  }

  header {
    height: 62px;
    line-height: 62px;
    background-color: #000;
  }

    header .width-cell {
      width: inherit;
      margin: 0 auto;
    }

    header a {
      color: #fff;
    }

    header .left {
      float: left;
    }

      header .left a {
        margin-right: 15px;
        opacity: 1;
        -webkit-transition: opacity 0.3s ease 0s;
        transition: opacity 0.3s ease 0s;
      }

        header .left a:hover {
          opacity: 1;
        }

    header .right {
      float: right;
      position: relative;
      padding-right: 100px;
      padding-top: 15px;
    }

      header .right a {
        float: left;
        margin-right: 15px;
      }

        header .right a i {
          margin-right: 5px;
        }

      header .right .language,
      header .right a {
        width: 100px;
        height: 32px;
        line-height: 32px;
        border: 1px solid #ccc;
        color: #ccc;
        text-align: center;
      }

      header .right .create-account {
        width: 140px;
        background-color: #74c109;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        border: 0;
      }

      header .right .language {
        position: absolute;
        right: 0;
        top: 15px;
      }

  .width-cell {
    width: inherit;
    padding: 0px 20px;
    max-width: -webkit-fill-available;
    margin: 0 auto;
  }

  .nav {
    height: 88px;
    line-height: 88px;
    background-color: #000;
    border-top: 1px solid #262628;
  }

    .nav a {
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      float: left;
      margin-left: 16px;
    }

      .nav a:hover {
        color: #f00;
      }

    .nav .logo {
      float: left;
      padding-top: 6px;
    }

    .nav ul {
      float: right;
    }

  .home-banner {
    background: url(../../static/images/Hero-2.png?v2.0) no-repeat center center;
    min-height: 650px;
    background-size: cover;
  }

    .home-banner .banner-cell {
      background: rgba(0, 0, 0, 0.5);
      height: 100%;
      padding-top: 55px;
      min-height: 650px;
      position: relative;
    }

  @media (min-width: 2000px) {
    .home-banner {
      height: 677px;
    }

      .home-banner .banner-cell {
        padding-top: 136px;
      }
  }

  .home-banner .swiper-wrap {
    width: inherit;
    height: auto;
    margin: 0 auto;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    color: #fff;
    text-align: center;
    padding-top: 26px;
  }

    .swiper-slide h5 {
      font-size: 42px;
      font-weight: bold;
      line-height: 42px;
    }

    .swiper-slide p {
      font-size: 20px;
      margin-top: 20px;
    }

  .crate-account-box {
    width: auto;
    height: 65px;
    margin: 35px auto 0;
  }

    .crate-account-box a {
      float: left;
      width: -webkit-fill-available;
      height: 64px;
      text-align: center;
      background-color: #d51820;
      color: #fff;
      margin: 15px 0px;
      padding-top: 8px;
    }

      .crate-account-box a:hover {
        background-color: #b30000;
      }

    /*  .crate-account-box a:last-child {
        background-color: #74c109;
      }*/

        .crate-account-box a:last-child:hover {
          background-color: #29a643;
        }

    .crate-account-box i {
      display: block;
      font-size: 25px;
      font-weight: bold;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .crate-account-box span {
      display: block;
      margin-top: 4px;
    }

  .advantage {
    width: inherit;
    height: 125px;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background-color: #fff;
    border-radius: 2px 2px 0 0;
  }

    .advantage .col {
      width: 25%;
      float: left;
      border-right: 1px solid #eee;
      margin-top: 30px;
    }

      .advantage .col em {
        float: left;
        font-size: 50px;
        line-height: 50px;
        color: #d51820;
        margin: 15px 0 0 35px;
      }

      .advantage .col span {
        float: right;
        margin: 20px 40px 0 0;
        line-height: 20px;
        font-size: 18px;
      }

    .advantage .col2 em {
      margin-left: 50px;
    }

    .advantage .col2 span {
      margin-right: 40px;
    }

    .advantage .col3 em {
      margin-left: 50px;
    }

    .advantage .col3 span {
      margin-right: 30px;
      margin-top: 30px;
    }

    .advantage .col4 em {
      margin: 15px 35px 0 0;
      float: right;
    }

    .advantage .col4 span {
      margin: 20px 0 0 40px;
      float: left;
    }

  .row {
    padding: 70px 0;
  }

    .row h2 {
      font-size: 30px;
      font-weight: bold;
      color: #000;
      text-align: center;
    }

  .row-1 {
    background-color: #f7f7f7;
    margin-top: 0px;
    padding-top: 100px;
  }

    .row-1 .box {
      margin-top: 70px;
    }

      .row-1 .box .item {
        float: left;
        float: left;
        margin: 30px;
        height: 70px;
      }

        .row-1 .box .item em {
          font-size: 42px;
          padding-right: 15px;
          line-height: 70px;
          border-right: 1px solid #afafaf;
          float: left;
        }

        .row-1 .box .item .txt {
          margin-left: 80px;
          position: relative;
          padding-left: 95px;
        }

        .row-1 .box .item .tfx-font {
          font-size: 80px;
          color: #d51820;
          position: absolute;
          left: 0;
          top: 0;
        }

        .row-1 .box .item p {
          font-size: 18px;
          padding-top: 16px;
        }

    .row-1 .crate-account {
      text-align: center;
      margin-top: 10px;
    }

      .row-1 .crate-account .create-link {
        display: block;
        width: 450px;
        height: 60px;
        background-color: #74c109;
        color: #fff;
        margin: 0 auto;
        text-align: center;
        padding-top: 8px;
        margin-bottom: 8px;
        border-radius: 3px;
      }

        .row-1 .crate-account .create-link:hover {
          background-color: #29a643;
        }

        .row-1 .crate-account .create-link em {
          display: block;
          font-size: 25px;
          font-weight: bold;
          line-height: 24px;
          letter-spacing: 1px;
        }

        .row-1 .crate-account .create-link small {
          display: block;
          margin-top: 3px;
        }

    .row-1 .risk-wrap a {
      color: #f00;
    }

  .row-2 > p {
    text-align: center;
    font-size: 16px;
    margin: 40px auto 0;
    width: 1100px;
    line-height: 24px;
    color: #555;
  }

  .row-2 > ul {
    width: inherit;
    margin: 0 auto;
    margin-top: 45px;
    min-height: 218px;
  }

    .row-2 > ul li {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      height: 218px;
      margin-bottom: 15px;
      border-radius: 20px;
      position: relative;
    }

      .row-2 > ul li .left {
        float: left;
        margin: 20px 0 0 35px;
        width: 950px;
      }

        .row-2 > ul li .left .r1 {
          border-bottom: 1px solid #eee;
          height: 95px;
        }

        .row-2 > ul li .left .avatar-fin {
          float: left;
          width: 420px;
          height: 95px;
        }

        .row-2 > ul li .left .img-box {
          float: left;
          width: 80px;
          height: 80px;
          border-radius: 100%;
          overflow: hidden;
          position: relative;
          border: 1px solid #eee;
        }

          .row-2 > ul li .left .img-box img {
            width: 100%;
            height: 100%;
          }

        .row-2 > ul li .left .avatar-fin p {
          padding-left: 95px;
        }

          .row-2 > ul li .left .avatar-fin p i {
            font-size: 20px;
            font-weight: bold;
            display: block;
            width: 100%;
            padding-top: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .row-2 > ul li .left .avatar-fin p span {
            color: #999;
            font-size: 15px;
            display: block;
            padding-top: 8px;
          }

        .row-2 > ul li .left .txt {
          float: right;
          width: 530px;
          padding-top: 10px;
          font-size: 15px;
          color: #000;
        }

          .row-2 > ul li .left .txt .cell {
            float: left;
            width: 50%;
            margin-bottom: 10px;
            padding-left: 15px;
          }

            .row-2 > ul li .left .txt .cell.even {
              padding-left: 60px;
            }

            .row-2 > ul li .left .txt .cell span {
              color: #999;
            }

            .row-2 > ul li .left .txt .cell i {
              color: #000;
              margin-left: 10px;
            }

        .row-2 > ul li .left .r2 .col {
          width: 33.3%;
          float: left;
          text-align: center;
        }

          .row-2 > ul li .left .r2 .col i {
            font-size: 24px;
            color: #f19e38;
            font-weight: bold;
            display: block;
            padding: 26px 0 8px;
          }

  .col-6 i {
    color: #58755e;
  }

  .row-2 > ul li .left .r2 .col:last-child i {
    color: #000;
  }

  .row-2 > ul li .left .r2 .col span {
    color: #999;
    font-size: 15px;
  }

  .row-2 > ul li .right {
    position: absolute;
    right: 0;
    top: 50%;
    width: 180px;
    -webkit-transform: translate(0, -50%);
  }

    .row-2 > ul li .right button {
      width: 120px;
      height: 40px;
      border-radius: 50px;
      background-color: #74c109;
      color: #fff;
      font-size: 15px;
      cursor: pointer;
      -webkit-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s;
    }

      .row-2 > ul li .right button.buy {
        margin-top: 35px;
      }

      .row-2 > ul li .right button.details {
        background-color: #d51820;
      }

      .row-2 > ul li .right button:hover {
        background-color: #29a643;
      }

      .row-2 > ul li .right button.details:hover {
        background-color: #b30000;
      }

  .row-2 .more {
    text-align: center;
    margin-top: 40px;
  }

    .row-2 .more a {
      display: inline-block;
      width: 220px;
      height: 50px;
      line-height: 50px;
      border-radius: 60px;
      background-color: #74c109;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
    }

      .row-2 .more a:hover {
        background-color: #29a643;
      }

  .row-3 {
    background-color: #f7f7f7;
  }

    .row-3 .width-cell {
      display: table;
      text-align: center;
    }

    .row-3 .item {
      width: 25%;
      text-align: center;
      display: inline-block;
    }

      .row-3 .item:hover {
        -webkit-transition: opacity 0.2s ease 0s;
        transition: opacity 0.2s ease 0s;
        opacity: 0.5;
      }

    .row-3 .tfx-font {
      font-size: 80px;
      color: #d51820;
      display: block;
    }

    /*   .row-3 .tfx-home-stock{color: #74c109;}
         .row-3 .tfx-home-commodities{color: #9266f9;}
         .row-3 .tfx-home-gold{color: #9266f9;}
         .row-3 .tfx-home-energies{color: #16c2c2;} */

    .row-3 em {
      display: block;
      font-size: 16px;
      padding: 10px 0 5px;
    }

    .row-3 p {
      color: #888;
      font-size: 15px;
    }

  .row-4 {
    background-color: #fff;
  }

    .row-4 .row-cell {
      width: inherit;
      margin: 0 auto;
      background-color: #fff;
      padding: 25px;
      padding-top: 20px;
      border-radius: 10px;
    }

    .row-4 .report-head {
      height: 30px;
      line-height: 30px;
      em, span

  {
    float: left;
    margin-right: 30px;
  }

  em {
    font-size: 18px;
    font-weight: bold;
  }

  span {
    color: #888;
    position: relative;
    cursor: pointer;
  }

    span:hover {
      color: #000;
      font-weight: bold;
    }

    span.active {
      color: #000;
      font-weight: bold;
      &:after

  {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background-color: #74c109;
  }

  }

  a {
    float: right;
    padding: 0 8px 0 10px;
    height: 26px;
    line-height: 26px;
    background: rgba(41, 166, 67, 0.2);
    color: #74c109;
    border-radius: 20px;
    i

  {
    float: right;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    margin: 4px 0 0 5px;
    background: rgba(35, 140, 56, 0.2);
  }

  }
  }

  .row-4 ul {
    width: inherit;
    margin: 25px auto 0;
  }

  .row-4 li {
    margin-bottom: 25px;
    width: 50%;
    float: left;
  }

    .row-4 li:last-child {
      border: 0;
    }

    .row-4 li .title h5 {
      color: #333;
      font-size: 14px;
      font-weight: bold;
      line-height: 24px;
    }

    .row-4 li .title p {
      color: #aaa;
      font-size: 14px;
      font-weight: normal;
      display: block;
      padding-top: 5px;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .row-4 li .title i {
      margin-right: 3px;
    }

    .row-4 li .img-box {
      width: 132px;
      height: 82px;
      overflow: hidden;
      float: left;
      position: relative;
      .cell

  {
    width: 100%;
    border-radius: 4px;
    background-size: cover;
    background-position: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    transition: all 1s;
  }

  .cell:hover {
    transform: scale(1.1);
  }

  }

  .row-4 li .txt {
    margin-left: 150px;
    padding-right: 15px;
    position: relative;
    height: 82px;
  }

    .row-4 li .txt > p {
      font-size: 15px;
      margin-top: 5px;
      color: #333;
    }

  .row-4 li > a {
    display: block;
    color: #74c109;
    margin-top: 5px;
  }

    .row-4 li > a:hover {
      color: #29a643;
    }

  .row-4 .more {
    text-align: center;
  }

    .row-4 .more a {
      display: inline-block;
      width: 120px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      border: 1px solid #74c109;
      border-radius: 3px;
      color: #74c109;
    }

      .row-4 .more a:hover {
        color: #29a643;
        border-color: #29a643;
      }

  .row-4 .empty {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  footer {
    height: 300px;
    background-color: #333;
    text-align: center;
  }

    footer .cell {
      padding-top: 100px;
      font-size: 26px;
      color: #fff;
    }

  .fin-pro-details .upper {
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 10px 0;
  }

  .fin-pro-details .item {
    width: 20%;
    float: left;
    padding: 5px 15px;
    color: #888;
  }

    .fin-pro-details .item i {
      color: #000;
      margin-left: 5px;
    }

  .fin-pro-details .under {
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #eee;
    border-radius: 3px;
    max-height: 410px;
    overflow: auto;
    h5

  {
    font-size: 18px;
    color: #000;
  }

  p {
    padding: 15px 0;
  }

  a {
    color: #74c109;
    margin-right: 10px;
  }

    a:hover {
      text-decoration: underline;
    }

  }

  .fin-pro-details {
    .dialog-head-box

  {
    height: 35px;
    line-height: 35px;
    margin-bottom: 20px;
    span

  {
    margin: 0 10px;
    font-size: 16px;
    color: #888;
    position: relative;
    float: left;
    cursor: pointer;
  }

  span.active {
    color: #000;
    &:after

  {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #74c109;
    bottom: 0;
    left: 0;
  }

  }
  }

  table {
    width: 100%;
  }

  th,
  td {
    height: 50px;
    text-align: center;
  }

  th {
    background-color: #f5f5f5;
  }

  td {
    border-bottom: 1px solid #ddd;
  }

  .product-order-records {
  }

  .product-flows {
  }

  .product-trad-history {
  }

  .product-info,
  .product-order-records,
  .product-flows,
  .product-trad-history {
    min-height: 230px;
  }

  .empty {
    i

  {
    font-size: 60px;
    line-height: 80px;
  }

  }
  }

  .f-pro-pagination-box {
    text-align: center;
    margin: 50px 0 15px;
  }

  .check-tip {
    position: absolute;
    background: #555;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    bottom: 45px;
    left: 50%;
    line-height: 20px;
    letter-spacing: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

    .check-tip:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      border-width: 5px;
      border-bottom-width: 0;
      border-top-color: #555;
      left: calc(50% - 5px);
      bottom: -5px;
    }

  .fin-pro-buy {
    .buy-box-fin

  {
    & > p

  {
    height: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #777;
  }

  span {
    color: #777;
    margin-right: 5px;
    display: inline-block;
    min-width: 80px;
    text-align: right;
    color: #888;
  }

  li {
    height: 35px;
    line-height: 35px;
    margin-bottom: 20px;
    position: relative;
    width: 350px;
  }

    li.lan-en {
      height: 70px;
      input

  {
    margin-left: 88px;
  }

  }

  input {
    height: 35px;
    border: 1px solid #ccc;
    width: 230px;
    padding: 0 10px;
    border-radius: 3px;
  }

    input::-webkit-input-placeholder {
      color: #bbb;
    }

  .btn {
    padding-left: 88px;
  }

  button {
    width: 120px;
    height: 41px;
    background-color: #74c109;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
  }

    button:hover {
      background-color: #29a643;
    }

  }
  }

  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .empty {
    text-align: center;
    padding-top: 50px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
    i

  {
    font-size: 80px;
    color: #cecece;
    display: block;
    line-height: 100px;
  }

  span {
    font-size: 16px;
    color: #aaa;
  }

  }

  .row-4 {
    padding-bottom: 50px;
  }

  .row-5 {
    background-color: #f7f7f7;
    padding-top: 0px;
   h2{
    font-size: 18px;
    font-weight: bold;
  }

  .w-1200 {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    width: inherit;
    margin: 0 auto;
  }

  .row-cell {
    width: 650px;
    margin: 0 auto;
  }
  }
</style>
<style>
  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
  }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
      color: #fff;
      opacity: 0.6;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 26px;
      font-weight: bold;
    }

  .swiper-pagination-bullet {
    background: none;
    border: 1px solid #fff;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: #f00;
    border: 0;
  }

  .fin-pro-details .el-dialog {
    width: inherit !important;
    background: #fff;
  }

  .fin-pro-details .el-dialog__title {
    color: #333;
  }

  .fin-pro-details .el-dialog__header {
    padding-bottom: 5px;
  }

  .fin-pro-details .el-dialog__body {
    color: #333;
    padding: 10px 20px 20px;
  }

  .fin-pro-buy .el-dialog {
    width: 500px !important;
    background: #fff;
  }

  .fin-pro-buy .el-dialog__title {
    color: #333;
    font-size: 18px;
  }

  .fin-pro-buy .el-dialog__header {
    padding-bottom: 5px;
    padding-top: 15px;
  }

  .fin-pro-buy .el-dialog__body {
    color: #333;
    padding: 10px 20px 20px;
  }

  .fin-pro-buy .el-select {
    width: 230px;
  }

  .fin-pro-buy .el-input__inner {
    height: 35px;
    border-radius: 3px;
  }
  #exReport,dd{
    margin-bottom: 0!important;
  }
</style>-->

<style>
  /*  .in-button-app {
    background-color: #2b2a2a;
    border-radius: 6px;
    color: #fff;
    font-weight: 300;
    font-size: 11px;
    white-space: nowrap;
    text-transform: capitalize;
    text-align: left;
    line-height: 17px;
    padding: 8px 4px!important;
  }*/
  .in-button-app {
    width: -webkit-fill-available;
  }

  .in-button-app {
    background-color: #2b2a2a;
    border-radius: 6px;
    color: #fff;
    font-weight: 300;
    font-size: 10px;
    white-space: nowrap;
    text-transform: capitalize;
    text-align: left;
    line-height: 17px;
    padding: 8px 8px;
  }
</style>
