<template>
  <div class="wrap" @click="hideMenu">
    <pageHeader pageName="home"
                @userLogout="userLogout"
                ref="pageHead"
                :defaultCoinType="curCoinType"
                :defaultLanguage="curLanguage"
                @changeCoinType="changeCoinType"
                @changeLanguage="changeLanguage" />
    <div class="home-banner">
      <div class="banner-cell">
        <div class="swiper-wrap">
        
          <swiper :options="swiperOption" ref="mySwiper">
            <!-- slides -->
            <swiper-slide>
              <div class="swiper-cell">

                <h5> <strong>ZERO</strong> commission trades <img id="zero" src="../../static/images/zero.png" style="width:8em;padding-top:1em;"></h5>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="swiper-cell">
                <h5>Trade with a trusted broker</h5>
                <p>
                  We have more than 500,000 registered customers in 196
                  countries around the world.
                </p>
              </div>
            </swiper-slide>
            <!-- <swiper-slide>
              <div class="swiper-cell">
                <h5>Become a financial product expert</h5>
                <p>
                  Launch financial products and manage them in real-time trading query
                </p>
              </div>
            </swiper-slide> -->
            <swiper-slide>
              <div class="swiper-cell">
                <h5>Rich educational materials for investors</h5>
                <p>
                  Offline lectures, online lectures, trading tools, and market
                  research
                </p>
              </div>
            </swiper-slide>
            <!--<div class="swiper-pagination" slot="pagination"></div>-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </swiper>
        </div>
        <div class="row  my-auto">

          <div class="col-12 text-center">
            <div class="crate-account-box  my-auto">
              <router-link to="/register" style="background-color: #74c109;">
                <i>OPEN AN ACCOUNT</i>
                <span>MT5, N Sky WebTrader</span>
              </router-link>
            </div>
          </div>

          <div class="col-12 text-center">
            <div class="crate-account-box  my-auto">
              <router-link :to="{ name: 'register', params: { regType: 2 } }">
                <i>OPEN A DEMO ACCOUNT</i>
                <span>Starting from 100,000 USD virtual funds</span>
              </router-link>
            </div>
          </div>

        </div>

        <!-- <div class="advantage">
          <div class="col col1">
            <em>100+</em>
            <span>Trading<br />products</span>
          </div>
          <div class="col col2">
            <em>0.6</em>
            <span>Spreads as<br />low as 0.6 pips</span>
          </div>
          <div class="col col3">
            <em>200:1</em>
            <span>Leverage</span>
          </div>
          <div class="col col4">
            <span>Bonus<br />up to</span>
            <em>$5,000</em>
          </div>
        </div> -->
      </div>
    </div>

    <div class="row row-1">
      <div class="width-cell  px-2">
        <h2 class="text-center">
          With Noble Sky™, you will have a lot more than just foreign exchange
          and contract accounts
        </h2>

        <div class="box clearfix">
          <div class="item">
            <em>01</em>
            <div class="txt">
              <i class="tfx-font tfx-home-client"></i>
              <p>Personal Account<br />Manager</p>
            </div>
          </div>

          <div class="item">
            <em>02</em>
            <div class="txt">
              <i class="tfx-font tfx-home-research"></i>
              <p>Free Access to<br />Forex Market Research</p>
            </div>
          </div>

          <div class="item">
            <em>03</em>
            <div class="txt">
              <i class="tfx-font tfx-home-online-calendar"></i>
              <p>Free Access to<br />Daily Forex Webinars</p>
            </div>
          </div>

          <div class="item">
            <em>04</em>
            <div class="txt">
              <i class="tfx-font tfx-home-tutorials"></i>
              <p>Unlimited Access<br />to Video Tutorials</p>
            </div>
          </div>

          <div class="item">
            <em>05</em>
            <div class="txt">
              <i class="tfx-font tfx-home-signals"></i>
              <p>Daily Access to<br />Forex Trading Signals</p>
            </div>
          </div>

          <div class="item">
            <em>06</em>
            <div class="txt">
              <i class="tfx-font tfx-home-platforms"></i>
              <p>16 Platforms to<br />Choose From.<br />Any Device, Anywhere</p>
            </div>
          </div>

          <div class="item">
            <em>07</em>
            <div class="txt">
              <i class="tfx-font tfx-home-pie-chart"></i>
              <p>Free Daily<br />Technical Analysis</p>
            </div>
          </div>

          <div class="item">
            <em>08</em>
            <div class="txt">
              <i class="tfx-font tfx-home-calendar"></i>
              <p>Daily Forex <br />Market Outlook</p>
            </div>
          </div>

          <div class="item">
            <em>09</em>
            <div class="txt">
              <i class="tfx-font tfx-home-support"></i>
              <p>24/5 Hour <br />Live Help</p>
            </div>
          </div>
        </div>

        <div class="crate-account">
          <router-link to="/register" class="create-link">
            <em>OPEN AN ACCOUNT</em>
            <small>MT5, N Sky WebTrader</small>
          </router-link>

          <!--<div class="risk-wrap">
            <span class="risk">Risk warning:</span>
            FX and CFD trading involves a high risk of loss.

            <router-link to="/en/legal-documents">T&Cs Apply</router-link>
          </div>-->
        </div>
      </div>
    </div>

    <!--<div class="row row-3">
      <div class="width-cell">
        <div class="item">
          <router-link to="/forex-trading">
            <i class="tfx-font tfx-home-chart"></i>

            <em>Forex Trading </em>
            <p>55+ global<br />currency Pairs</p>
          </router-link>
        </div>
        <div class="item">-->
          <!-- <router-link to="/equity-indices"> -->
            <!--<i class="tfx-font tfx-home-stock"></i>

            <em>CFDs on Indices </em>
            <p>Major global<br />indices</p>-->
          <!-- </router-link> -->
        <!--</div>
        <div class="item">-->
          <!-- <router-link  to="/commodities"> -->
            <!--<i class="tfx-font tfx-home-commodities"></i>

            <em>Commodities CFDs </em>
            <p>Sugar, cocoa, wheat<br />and more</p>-->
          <!-- </router-link> -->
        <!--</div>
        <br />
        <div class="item">
          <router-link to="/precious-metals">
            <i class="tfx-font tfx-home-gold"></i>

            <em>CFDs on Metals </em>
            <p>Gold, Silver, Palladium<br />and more</p>
          </router-link>
        </div>
        <div class="item">
          <router-link to="/energies">
            <i class="tfx-font tfx-home-energies"></i>

            <em>CFDs on Energies </em>
            <p>Oil, Gas and all <br />major energies</p>
          </router-link>
        </div>
      </div>
    </div>-->

    <!-- <div class="row row-4">
            <h2>News Analysis Center</h2>
            <div class="news-tab-head">
                <span :class="{active:newsTabIndex==0}" @click="handleNewsTabIndex(0)">Raise</span>
                <span :class="{active:newsTabIndex==1}" @click="handleNewsTabIndex(1)">Dynamic</span>
            </div>
            <ul>
                <li v-for="(item,index) in article.data" :key="index">
                    <div class="title">
                        <h5>{{item.t_title}}</h5>
                        <p>{{item.t_time}}</p>
                    </div>
                    <p>{{item.t_remark}}</p>
                    <router-link :to="{name:'articleDetails',query:{aid:item.t_aid,type:item.t_type}}">View details></router-link>
                </li>
            </ul>
            <div class="more">
                <router-link :to="{name:'articleList'}">More news</router-link>
            </div>
        </div> -->

    <!--<div class="row row-4">-->
      <!-- <h2>新闻分析中心</h2>
            <div class="news-tab-head">
                <span :class="{active:newsTabIndex==0}" @click="handleNewsTabIndex(0)">分析</span>
                <span :class="{active:newsTabIndex==1}" @click="handleNewsTabIndex(1)">募集</span>
            </div> -->
      <!--<div class="row-cell">
        <div class="report-head">
          <em>Exclusive Report</em>-->
          <!-- <span :class="{active:newsTabIndex==3}" @click="handleNewsTabIndex(3)">Raise</span> -->
          <!--<span :class="{ active: newsTabIndex == 4 }"
                @click="handleNewsTabIndex(4)">Dynamic</span>
          <span :class="{ active: newsTabIndex == 7 }"
                @click="handleNewsTabIndex(7)">Gold and Silver</span>
          <span :class="{ active: newsTabIndex == 8 }"
                @click="handleNewsTabIndex(8)">Position</span>
          <span :class="{ active: newsTabIndex == 9 }"
                @click="handleNewsTabIndex(9)">Crude Oil</span>
          <span :class="{ active: newsTabIndex == 10 }"
                @click="handleNewsTabIndex(10)">Risk Report</span>
          <span :class="{ active: newsTabIndex == 11 }"
                @click="handleNewsTabIndex(11)">Foreign Exchange</span>
          <span :class="{ active: newsTabIndex == 12 }"
                @click="handleNewsTabIndex(12)">Pending Order</span>
          <span :class="{ active: newsTabIndex == 13 }"
                @click="handleNewsTabIndex(13)"
                style="margin: 0">Pending Order</span>
          <router-link :to="{ name: 'articleList' }"><i class="icon icon-arrow-right"></i>More</router-link>
        </div>

        <ul class="clearfix">-->
          <!-- <li v-for="(item,index) in article.data" :key="index">
                            <div class="title">
                                <h5>{{item.t_title}}</h5>
                                <p>{{item.t_time}}</p>
                            </div>
                            <p>{{item.t_remark}}</p>
                            <router-link :to="{name:'articleDetails',query:{aid:item.t_aid,type:item.t_type}}">查看详情></router-link>
                        </li> -->
          <!--<li v-for="(item, index) in article.data"
              :key="index"
              class="clearfix">
            <router-link :to="{
                name: 'articleDetails',
                query: { aid: item.t_aid, type: item.t_type },
              }">
              <div class="img-box">
                <div class="cell"
                     :style="{
                    'background-image': 'url(' + item.t_thumbnail + ')',
                  }"></div>
              </div>
              <div class="txt">
                <div class="title">
                  <h5>{{ item.t_title }}</h5>
                  <p id="exReport"><i class="icon icon-clock"></i>{{ item.t_time }}</p>
                </div>-->
                <!-- <p>{{item.t_remark}}</p> -->
              <!--</div>
            </router-link>
          </li>
        </ul>
        <div class="empty" v-if="article.data.length === 0">
          <i class="icon icon-record"></i>
          <span>No Records</span>
        </div>
      </div>
    </div>-->

    <div class="row row-5 py-2" style="background-color: #f7f7f7;">
      <div class="container-fluid"  style="max-width: 1300px;">
        <div class="row py-1 text-center">
          <div class="col-12  py-1">
            <img class="i2"
                 src="../../static/images/content_sample6.png"
                 alt="" />
          </div>
          <div class="col-12 text-center" style="padding-top: 50px;padding-left: 50px;padding-right: 50px;">
            <h2 class="uk-margin-remove-bottom"
                style="
                font-size: 30px;
                font-weight: bold;
                color: #37474f;
                text-align: center;
                margin-bottom: 15px;
              ">
              All over the World
            </h2>
            <p style="margin-bottom: 30px; text-align: justify">
              Since its establishment in 2009, with more than 500,000 clients,
              <strong>Noble Sky™</strong> has developed into an internationally
              renowned investment company and a true leader in the industry.
              <strong>Noble Sky™</strong> currently has more than 150
              professionals with many years of experience in the financial
              field. In <strong>Noble Sky™</strong>, the safety of client funds
              is our top priority. We cooperate with the world's top investment
              banks to save company accounts and client funds separately to
              ensure client funds safety.
            </p>
            <ul class="text-center ul2">
              <li class="li2">
                <i class="fa fa-3x fa-globe icopad"></i><br />196 Countries
              </li>
              <li class="li2">
                <i class="fa fa-3x fa-handshake-o icopad"></i><br />500,000+
                Clients
              </li>
              <li class="li2">
                <i class="fa fa-3x fa-credit-card icopad"></i><br />Safe
                payments
              </li>
              <li class="li2">
                <i class="fa fa-3x fa-phone icopad"></i><br />Private customer
                service
              </li>
            </ul>
            <!--a class="uk-button uk-button-default uk-width-1-1 uk-margin-top uk-margin-bottom" href="">Range of market</a-->
          </div>
        </div>
      </div>
    </div>

    <div class="row  py-1 mx-auto" style="background-color:#333;color:white">
      <div class="container-fluid">
        <div class="section-title">
          <h2 style="margin-bottom: 0;color:white">The latest analytical materials are at your command as well.</h2>
        </div>
        <div class="row js-spawn-analytics unbind-animate" style="padding-bottom:0">
          <div class="col-12 text-center mx-auto">
            <img class="image " src="../../static/images/cnh.png" alt="" style="left: 0px; opacity: 1;">
          </div>
          <div class="col-12 " style="right: 0px; opacity: 1;padding: 3em;">
            <img class="clawhorn js-top-spawn" src="../../static/images/logo-shadow.png" alt="" style="top: 0px; opacity: 1;padding-bottom: 2em;">
            <h3 class="analysis-art" style="margin-bottom: 2em;">
              <b>The art of analysis from <strong style="font-weight: bold;">NOBLE SKY&#8482;</strong></b>
            </h3>
            <p style="margin-bottom: 2em;">
              Experienced experts at <strong>NOBLE SKY&#8482;</strong> master the art of analysis as no one else. All sorts of analysis, latest forecasts, unique reviews, expert opinions and many other analytical materials that are indispensable to trading success are now freely available to <strong>NOBLE SKY&#8482;</strong>'s clients.
            </p>
            <router-link to="/register" class="btn waves-effect waves-light   btn-lg btn-primary" style="width: inherit; padding: .5em 1em; font-size: 1.25em; line-height: 1.5; color: white; border-radius: .3em;" rel="noopener noreferrer" target="_blank">Become a client</router-link>
          </div>
        </div>
        <p  class=" mx-4 text-justify"  style="margin-top:20px;margin-bottom: 2em;">The material published on this page is produced by the <strong>NOBLE SKY&#8482;</strong> Company and should not be considered as the provision of investment advice for the purposes of Directive 2004/39/EC; furthermore it has not been prepared in accordance with legal requirements designed to promote the independence of investment research and is not subject to any prohibition on dealing ahead of the dissemination of investment research.</p>
      </div>
    </div>

    <div class="row row-6 mx-auto  pb-0">
      <div class="container-fluid px-2">
        <div class="text-center">
          <h2 style="
              margin: 0 0 20px 0;
              font-family: Montserrat, sans-serif;
              font-weight: 600;
              color: #3f3453;
              text-transform: none;
            ">
            Experience more than Trading.
          </h2>
          <p class="uk-text-lead">
            Experience up to 30 analytical articles per day, weekly video reviews as well as having the opportunity to ask questions to our analyst.
          </p>
          <i class="fas fa-chevron-down uk-text-primary"></i>
        </div>
        <div>
          <div class="row  py-2">
            <div class="col-12 ">
              <div class="in-pricing-1">
                <div class="uk-card uk-card-default uk-box-shadow-medium" style="height: auto">
                  <div class="uk-card-media-top">
                    <img src="../../static/images/in-profit-content-1.jpg" data-src="img/in-profit-content-1.jpg" alt="sample-image" class="uk-width-1-1 uk-align-center" />
                    <span></span>
                  </div>
                  <div class="uk-card-body">
                    <div class="in-heading-extra in-card-decor-1">
                      <h2 class="uk-margin-remove-bottom" style="text-align: left">
                        Economic
                      </h2>
                      <p class="uk-text-lead">Analysis</p>
                    </div>
                    <p class="uk-margin-small-top">
                      Stay ahead of the markets with world-leading market
                      analysis through daily webinars by industry experts.
                    </p>
                    <div class="row"
                         style="padding: 25px 0px">
                      <div class="col-6">
                        <!--<a href="/analytics-info"
                   class="uk-button uk-button-link uk-text-uppercase uk-text-small">
                  Read analysis<i class="fas fa-caret-square-right uk-margin-small-left"></i>
                </a>-->
                        <router-link to="/en/analytics-info" class="uk-button uk-button-link uk-text-uppercase uk-text-small">
                          Read analysis<i class="fas fa-caret-square-right uk-margin-small-left"></i>
                        </router-link>
                      </div>

                      <div class="col-6">
                        <span class="uk-label uk-border-pill uk-align-right">Weekly Update</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 py-2">
              <div class="in-pricing-1">
                <div class="uk-card uk-card-default uk-box-shadow-medium">
                  <div class="uk-card-media-top">
                    <img src="../../static/images/in-profit-content-3.jpg"
                         data-src="img/in-profit-content-3.jpg"
                         data-width=""
                         data-height=""
                         alt="sample-image"
                         data-uk-img=""
                         class="uk-width-1-1 uk-align-center"
                         style="" />
                    <span></span>
                  </div>
                  <div class="uk-card-body">
                    <div class="in-heading-extra in-card-decor-2">
                      <h2 class="uk-margin-remove-bottom"
                          style="text-align: left">
                        Technical
                      </h2>
                      <p class="uk-text-lead">Analysis</p>
                    </div>
                    <p class="uk-margin-small-top">
                      Access the financial markets with an account catered to
                      your needs and benefit from good conditions.
                    </p>
                    <div class="row"
                         style="padding: 25px 0px">
                      <div class="col-6">

                        <router-link to="/en/analytics-info" class="uk-button uk-button-link uk-text-uppercase uk-text-small">
                          Read analysis<i class="fas fa-caret-square-right uk-margin-small-left"></i>
                        </router-link>
                      </div>

                      <div class="col-6">
                        <span class="uk-label uk-border-pill uk-align-right">Daily Update</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row  mx-auto py-1">
            <div class="uk-width-1-1 uk-grid-margin" style="height: 150px; background: url('../../static/images/in-profit-mockup-1.png'); background-size: cover;">


            </div>
            <div class="row mx-auto py-2" style="text-align: end;">

              <div class="col-6 px-1" style="text-align: center;">
                <a href="javascript:void(0)" class="uk-button in-button-app uk-margin-small-right uk-first-column " style=" cursor: not-allowed;">
                  <i class="fab fa-google-play fa-2x white"></i>
                  Download from<span>Play Store</span>
                </a>
              </div>
              <div class="col-6 px-1" style="text-align: center;">
                <a href="javascript:void(0)" class="uk-button in-button-app" style=" cursor: not-allowed;">
                  <i class="fab fa-apple fa-2x white"></i>
                  Download from<span>App Store</span>
                </a>
              </div>

              <div class="col-12 text-center">
                <small class="pl-4 mx-1"><b>coming soon</b></small>


                <hr />
                <p>
                  Trade on
                  <span class="uk-text-bold uk-text-primary">world class platform</span>
                  without a doubt.
                </p>
              </div>
              <br />

            </div>
            <div class="uk-visible@m">
            </div>
          </div>
          <div class="row py-0 text-center" style="background-color: #333333;">
            <div class="uk-width-1-1 uk-grid-margin p-4">
              <div class="uk-grid uk-grid-match in-profit-tradestatus">
                <div class="uk-grid uk-grid-small uk-flex-middle">
                  <div class="uk-width-auto">
                    <i class="fas fa-chart-line fa-2x in-icon-wrap circle primary-color"></i>
                  </div>
                  <div class="uk-width-expand text-justify">
                    <h1 class="uk-margin-remove-bottom white" style="font-size:xx-large;">324,978,126</h1>
                    <p class="uk-text-uppercase uk-text-primary uk-text-small uk-margin-remove-top ">
                      Trades Opened at <strong>Noble Sky™</strong>
                    </p>
                  </div>
                </div>

                <div class="uk-width-1-1 uk-width-expand@m uk-flex-middle text-justify">
                  <p class="uk-text-lead white">
                    Trade &amp; Invest in Currencies, Indices, and
                    Commodities (CFDs).
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="background-color:#f3f5f6 ">
      <div class="col-12 text-justify in-card-decor-1 px-2 mx-auto">
        <h2 style="margin: 0px 10px 20px 10px; font-family: Montserrat, sans-serif; font-weight: 600; color: rgb(63, 52, 83); text-transform: none;">We are only as good as our clients say we are</h2>
      </div>
      <div class="container-fluid">

        <div class="swiper-container">
          <div class="swiper-wrapper">

            <swiper :options="swiperOption2" ref="mySwiper">
              <!-- slides -->
              <swiper-slide>
                <div class="swiper-slide">
                  <div class="comp inline-block">
                    <p>When I started I didn't expect to make this much profit with only $1000. Thank you N Sky!</p>
                    <div class="comp-name text-center px-2">
                      <img src="../../static/emre.jpg"> Emre Ç.
                      <br>

                    </div>
                    <div class="stars mx-2">
                      <img src="../../static/images/5-stars.png">
                    </div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="swiper-slide">
                  <div class="comp inline-block">
                    <p>Great customer service!<br>They were professional, efficient and treated me with care.</p>
                    <div class="comp-name text-left px-2">
                      <img src="../../static/images/amin.jpg"> Amin M.
                      <br>

                    </div>
                    <div class="stars mx-2">
                      <img src="../../static/images/4-stars.png">
                    </div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="swiper-slide">
                  <div class="comp inline-block">
                    <p>I have never expected to find good trading brokers as good as N Sky!</p>
                    <div class="comp-name text-left px-2">
                      <img src="../../static/images/zahra.jpg"> Candice J.
                      <br>

                    </div>
                    <div class="stars mx-2">
                      <img src="../../static/images/5-stars.png">
                    </div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="swiper-slide">
                  <div class="comp inline-block">
                    <p>The analytical tools provided by N Sky helped me to achieve great success!</p>
                    <div class="comp-name text-left px-2">
                      <img src="../../static/images/zeynep.jpg"> Zeynep M.
                      <br>

                    </div>
                    <div class="stars mx-2">
                      <img src="../../static/images/4-stars.png">
                    </div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="swiper-slide">
                  <div class="comp inline-block">
                    <p>I can't find words to describe how easy it is trading with N Sky!</p>
                    <div class="comp-name text-left px-2">
                      <img src="../../static/images/cemal.jpg"> Cemal Ö.
                      <br>

                    </div>
                    <div class="stars mx-2">
                      <img src="../../static/images/5-stars.png">
                    </div>
                  </div>
                </div>
              </swiper-slide>
            </swiper>
          </div>

        </div>


      </div>
    </div>

    <pageFooter />

  </div>
</template>


<script>
import pageHeader from "../components/pageHeaderTFX.vue";
import pageFooter from "../components/pageFooterTFX.vue";
import BigNumber from "bignumber.js";
import moment from "moment";
  import $ from "jquery";


import { apiStateList } from "../utils/result-state";
import { Swiper, SwiperSlide, directive } from "vue-awesome-swiper";
import { languageCode } from "../utils/lan-code";
// import 'swiper/swiper-bundle.min.css'
import "swiper/css/swiper.css";
  import VueSlickCarousel from 'vue-slick';
  import '../../static/js/material-components-web.min.js';
  import '../../static/css/home.css';
  export default {
    name: "my-acount",
    data: function () {
      return {
        isLogin: false,
        userLoginInfo: '',
        curCoinType: 1,
        curLanguage: 2,
        // language:coinstrad,
        newsTabIndex: 4,
        userInfo: {
          configure: {
          }
        },
        imgGroup: {
          // 3:'../../static/images/t8.png',
          4: '../../static/images/t7.png',
          7: '../../static/images/t1.png',
          8: '../../static/images/t2.png',
          9: '../../static/images/t3.png',
          10: '../../static/images/t4.png',
          11: '../../static/images/t5.png',
          12: '../../static/images/t6.png',
          13: '../../static/images/t8.png'
        },
        resultStateList: apiStateList,
        myAsset: [],
        myCoupons: 0,
        assetType: {
          1: 'actuals',
          2: 'futures',
          3: 'shares',
          4: 'gold'
        },
        languageGroup: {
          1:'zh',
             2:'en',
             3:'tr',
             4:'ar',
             5:'fa'
        },
        article: {
          data: [],
          pageSize: 10,
          pageIndex: 1,
          total: 0

        },
        financialProducts: {
          loading: false,
          pageSize: 8,
          pageIndex: 1,
          total: 0,
          type: 3,
          tipEndTimer: null,
          data: [],
          profitType: {
            0: '固定年利率(年化)',
            1: '盈利分成'
          },
          details: {
            dialogFlag: false,
            title: '--',
            month: '',
            info: {},
            introduction: ''
          },
          buy: {
            dialogFlag: false,
            submitStateFlag: false,
            fId: '--',
            info: {},
            amount: '',
            couponsAmount: '',
            system: '',
            systemGroup: [],
            tip1: false,
            tip2: false,
            tip3: false,
            tip4: false,
            tip6: false,
            tip7: false,
            tip8: false
          }
        },
        productsRecords: {
          tabIndex: 0,
          orderRecords: [],
          flows: [],
          tradHistory: [],
          pageIndex: 1,
          pageSize: 5,
          total: 0
        },

        swiperOption: {
          effect: 'fade',
          fadeEffect: {
            crossFade: true,
          },
          notNextTick: true,
          //循环
          // loop:true,
          //设定初始化时slide的索引
          initialSlide: 0,
          //自动播放
          autoplay: {
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: true,
          },
          //滑动速度
          speed: 500,
          //滑动方向
          direction: 'horizontal',
          //小手掌抓取滑动
          grabCursor: false,
          //滑动之后回调函数
          //              on: {
          //                  slideChangeTransitionEnd: function(){
          //                    console.log(this.activeIndex);//切换结束时，告诉我现在是第几个slide
          //                  },
          //              },
          //左右点击
          //              navigation: {
          //                  nextEl: '.swiper-button-next',
          //                  prevEl: '.swiper-button-prev',
          //              },
          //分页器设置
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
            type: 'bullets'
            //自定义分页器样式

          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        },
        swiperOption2: {
          effect: 'coverflow',
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: 1.5,
          loop: true,
          loopFillGroupWithBlank: true,
          coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
          },
          spaceBetween: 10,
          centeredSlides: true,
          autoplay: {
            delay: 5500,
            disableOnInteraction: false,
          },
          pagination: {
            el: '.swiper-pagination',
          },
        },
        slickOptions: {
          focusOnSelect: true,
          infinite: true,
          speed: 500,
          slidesToShow: 1,
          slidesToScroll: 1,
          touchThreshold: 100,
          accessibility: true,
          respondTo: 'slider',
          adaptiveHeight: true,
          arrows: false,
          draggable: true,
          swipe: true,
          variableWidth: true,
          swipeToSlide: true,
          pauseOnHover: true,
          autoplay: true, 
          responsive: [
            {
              breakpoint: 620,
              settings: {
                arrows: true
              }
            },
            {
              breakpoint: 345,
              settings: {
                arrows: true
              }
            }
          ]
        },

      };
    },
    metaInfo: {
      title: "Home-NOBLE SKY",
    },
    created() {
      const storeCoinType = this.localStore.getItem("curCoinType");
      const storeLanguage = this.localStore.getItem("curLanguage");

      this.curCoinType = !!storeCoinType
        ? storeCoinType
        : this.$api.defaultCoinType;
      this.curLanguage = !!storeLanguage
        ? storeLanguage
        : this.$api.defaultLanguage;

      if (this.curLanguage != 2) {
        let pName = this.$route.name.substring(0, this.$route.name.length - 2);
        let pNameStr = pName + languageCode[this.curLanguage];
        this.$router.push({
          name: pNameStr,
        });
      }

      this.isLogin = this.util.isLogin();

      if (!!this.isLogin) {
        this.userLoginInfo = JSON.parse(this.localStore.getItem("userLoginInfo"));
        this.getUserInfo();
        this.getUserAsset();
      }

     this.getFinancialProducts();
   this.getFinancialArticle();

      // this.getSystemTradMode()

      // this.getUserAsset()
      // this.getCoinList();
      // this.getUserOrder();
      // this.getUserOrder2();
      // this.settingAPIDataLanguage();
      // this.getcurrency()
      console.log("i'm now created");
    },

    mounted() {
      var $ = require('jquery');
      console.log("i'm now mounted");
    
    },
    components: {
      pageHeader,
      pageFooter,
      Swiper,
      SwiperSlide,
      VueSlickCarousel
    },
    methods: {
      getStateCodeText(code) {
        let text = this.resultStateList.find((item) => {
          return item.code == code;
        });
        if (this.curLanguage == 1) {
          return text.cn;
        } else {
          return text.en;
        }
      },

      beforeUpdate() {
        if (this.$refs.slick1) {
          this.$refs.slick1.destroy();
        }
      },
      updated() {
        if (this.$refs.slick1) {
          this.$refs.slick1.create(slickOptions);
        }
      },
      handleNewsTabIndex(val) {
        this.newsTabIndex = val;
        this.getFinancialArticle();
      },
      changeLanguage(val) {
        let pName =
          this.curLanguage == 1
            ? this.$route.name
            : this.$route.name.substring(0, this.$route.name.length - 2);
        let pNameStr = pName + languageCode[val];
        this.$router.push({
          name: pNameStr,
        });
      },
      hideMenu() {
        this.$refs.pageHead.hideMenu();
      },

      submitOrderInfo() {
        const that = this;
        const amount = this.financialProducts.buy.amount;
        const couponsAmount = this.financialProducts.buy.couponsAmount;

        const curProduct = this.financialProducts.buy.info;
        let amountMod = BigNumber(amount).mod(100).toNumber();
        let couponsAmountMod = BigNumber(couponsAmount).mod(100).toNumber();

        let maxAmount = BigNumber(curProduct.t_max_quota)
          .minus(curProduct.t_quota)
          .toNumber();
        let numAmount = BigNumber(amount).toNumber();
        let numCouponsAmount = BigNumber(couponsAmount).toNumber();

        let systemAsset = this.myAsset[
          this.assetType[this.financialProducts.buy.system]
        ];
        let usdAsset = systemAsset.find((item) => {
          return item.t_ccode == "USD";
        });

        if (amount == "") {
          that.financialProducts.buy.tip1 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip1 = false;
          }, 2000);
          return false;
        }

        if (!this.util.isIntNumber(amount) || amountMod != 0) {
          that.financialProducts.buy.tip2 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip2 = false;
          }, 2000);
          return false;
        }

        if (numAmount + numCouponsAmount > maxAmount) {
          that.financialProducts.buy.tip3 = true;
          clearTimeout(that.financialProducts.tipEndTimer);

          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip3 = false;
          }, 2000);
          return false;
        }

        if (numAmount > usdAsset.t_number) {
          that.financialProducts.buy.tip4 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip4 = false;
          }, 2000);
          return false;
        }
        ////////
        if (
          (!this.util.isIntNumber(couponsAmount) && couponsAmount != "") ||
          (amountMod != 0 && couponsAmount != "")
        ) {
          that.financialProducts.buy.tip6 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip6 = false;
          }, 2000);
          return false;
        }

        if (numCouponsAmount > this.myCoupons) {
          that.financialProducts.buy.tip8 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip8 = false;
          }, 2000);
          return false;
        }

        const api = this.$api.url.FinancialOrder;
        const params = {
          Uid: this.userLoginInfo.userID,
          Token: this.userLoginInfo.session,
          Device: "web",
          Fpid: this.financialProducts.buy.fId,
          Amount: this.financialProducts.buy.amount,
          Syetem: this.financialProducts.buy.system,
          Experience:
            this.financialProducts.buy.couponsAmount == ""
              ? 0
              : this.financialProducts.buy.couponsAmount,
        };
        this.financialProducts.buy.submitStateFlag = true;
        this.$axios
          .get(api, {
            params: params,
          })
          .then((res) => {
            this.financialProducts.buy.submitStateFlag = false;
            if (res.data.code == 0) {
              this.$message({
                message: "Order successful！！",
                type: "success",
                center: true,
                duration: 2000,
              });
              this.financialProducts.buy.dialogFlag = false;
            } else {
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message: "Order failed！" + resultMsg,
                type: "error",
                center: true,
                duration: 2000,
              });
            }
          })
          .catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000,
            });
          });
      },
      getUserAsset() {
        const api = this.$api.url.userFund;
        const params = {
          Uid: this.userLoginInfo.userID,
          Token: this.userLoginInfo.session,
          Device: "web",
        };
        this.assetSpotLoading = true;
        this.assetRequestFlag = false;
        this.$axios
          .get(api, {
            params: params,
          })
          .then((res) => {
            this.assetSpotLoading = false;
            this.assetRequestFlag = true;

            if (res.data.code == 0) {
              const data = JSON.parse(res.data.data);

              this.myAsset = data;
              this.myCoupons = data.all.t_experience;
            } else if (res.data.code == 1000) {
              return;
            } else if (res.data.code == 1011 || res.data.code == 1006) {
              // this.$refs.pageHead.logout();
              // this.isLogin = false;
              // this.$router.push({name:'login'});
            } else {
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message: "Error",
                type: "error",
                center: true,
                duration: 2000,
              });
            }
          })
          .catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000,
            });
          });
      },
      getUserInfo() {
        const api = this.$api.url.userVerify1;
        const params = {
          Device: "web",
          Uid: this.userLoginInfo.userID,
          Token: this.userLoginInfo.session,
        };
        this.$axios
          .get(api, {
            params: params,
          })
          .then((res) => {
            if (res.data.code == 0) {
              let data = JSON.parse(res.data.data);
              this.userInfo = data;

              if (this.userInfo.configure == null) {
                this.userInfo.configure = {
                  t_actuals_gid: null,
                  t_actuals_state: null,
                  t_actuals_uid: null,
                  t_futures_gid: null,
                  t_futures_state: null,
                  t_futures_uid: null,
                  t_other_gid: null,
                  t_other_state: null,
                  t_other_uid: null,
                  t_shares_gid: null,
                  t_shares_state: null,
                  t_shares_uid: null,
                  t_uid: null,
                };
              }

              if (this.userInfo.configure.t_actuals_state == 2) {
                this.financialProducts.buy.systemGroup.push({
                  value: 1,
                  label: "Spot",
                });
              }
              if (this.userInfo.configure.t_futures_state == 2) {
                this.financialProducts.buy.systemGroup.push({
                  value: 2,
                  label: "Futures",
                });
              }
              if (this.userInfo.configure.t_shares_state == 2) {
                this.financialProducts.buy.systemGroup.push({
                  value: 3,
                  label: "Stock",
                });
              }
              if (this.userInfo.configure.t_other_state == 2) {
                this.financialProducts.buy.systemGroup.push({
                  value: 4,
                  label: "Gold",
                });
              }
              if (this.financialProducts.buy.systemGroup.length != 0) {
                this.financialProducts.buy.system = this.financialProducts.buy.systemGroup[0].value;
              }

              // this.userInfo.u_country = this.userCountry;
              this.localStore.setItem("userInfo", this.userInfo);

              if (
                data.configure.t_actuals_state == 2 ||
                data.configure.t_futures_state == 2 ||
                data.configure.t_shares_state == 2 ||
                data.configure.t_other_state == 2
              ) {
                this.assetStateFlag = true;
              }
            } else if (res.data.code == 1011 || res.data.code == 1006) {
              this.$refs.pageHead.logout();
              this.isLogin = false;
              this.$router.push({
                name: "login",
              });
            } else {
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message: "Error!",
                type: "error",
                center: true,
                duration: 2000,
              });
            }
          })
          .catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000,
            });
          });
      },
      getFinancialProducts(type) {
        if (type == 4) {
          this.financialProducts.type = type;
        }

        const api = this.$api.url.FinancialProducts;
        let params = {
          PageSize: this.financialProducts.pageSize,
          PageIndex: this.financialProducts.pageIndex,
          Type: this.financialProducts.type,
          Language: this.languageGroup[this.curLanguage],
          WebSite: 0,
        };
        if (type == "designate") {
          params = {
            Fpid: this.financialProducts.details.info.t_fpid,
            Language: this.languageGroup[this.curLanguage],
          };
        }

        this.financialProducts.loading = true;
        this.$axios
          .get(api, {
            params: params,
          })
          .then((res) => {
            this.financialProducts.loading = false;
            if (res.data.code == 0) {
              let data = JSON.parse(res.data.data);

              if (type == "designate") {
                if (data.length > 0) {
                  data[0].orders.forEach((item) => {
                    item.t_time = moment(item.t_time).format(
                      "YYYY-MM-DD HH:mm:ss"
                    );
                  });

                  data[0].flows.forEach((item) => {
                    item.t_time = moment(item.t_time).format(
                      "YYYY-MM-DD HH:mm:ss"
                    );
                  });

                  this.productsRecords.orderRecords = data[0].orders;
                  this.productsRecords.flows = data[0].flows;
                }

                return;
              }

              data.forEach((item) => {
                item.products.t_stime = moment(item.products.t_stime).format(
                  "YYYY-MM-DD"
                );
                item.products.t_etime = moment(item.products.t_etime).format(
                  "YYYY-MM-DD"
                );
                item.products.t_time = moment(item.products.t_time).format(
                  "YYYY-MM-DD"
                );
              });

              if (this.financialProducts.type == 4 && data.length < 3) {
                while (data.length < 3) data = data.concat(data);
              }
              this.financialProducts.data = this.financialProducts.data.concat(
                data
              );
              this.financialProducts.total = res.data.count;
              if (
                this.financialProducts.data.length == 0 ||
                (this.financialProducts.data.length < 3 &&
                  this.financialProducts.type != 4)
              ) {
                this.financialProducts.type = 4;
                this.getFinancialProducts(4);
              }
            } else if (res.data.code == 1011 || res.data.code == 1006) {
              console.log("用户验证不通过");
              // this.$refs.pageHead.logout();
              // this.isLogin = false;
              // this.$router.push({name:'login'});
            } else {
              this.$message({
                message: "获取理财产品列表失败！" + res.data.msg,
                type: "error",
                center: true,
                duration: 2000,
              });
            }
          })
          .catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000,
            });
          });
      },

      getFinancialTradHistory() {
        const api = this.$api.url.FinancialTradHistory;
        let params = {
          PageSize: this.productsRecords.pageSize,
          PageIndex: this.productsRecords.pageIndex,
          Fpid: this.financialProducts.details.info.t_fpid,
        };

        // this.financialProducts.loading = true;
        this.$axios
          .get(api, {
            params: params,
          })
          .then((res) => {
            this.financialProducts.loading = false;
            if (res.data.code == 0) {
              let data = JSON.parse(res.data.data);

              data.forEach((item) => {
                item.t_time = moment(item.t_time).format("YYYY-MM-DD HH:mm:ss");
              });

              this.productsRecords.tradHistory = data;
              this.productsRecords.total = res.data.count;
            } else if (res.data.code == 1011 || res.data.code == 1006) {
              console.log("用户验证不通过");
              // this.$refs.pageHead.logout();
              // this.isLogin = false;
              // this.$router.push({name:'login'});
            } else {
              this.$message({
                message: res.data.msg,
                type: "error",
                center: true,
                duration: 2000,
              });
            }
          })
          .catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000,
            });
          });
      },

      handlePaginationRecordsIndex(val) {
        this.productsRecords.pageIndex = val;
        this.getFinancialTradHistory();
      },

      handleProDetailsTab(val) {
        this.productsRecords.tabIndex = val;
        if (val == 1 || val == 2) {
          this.getFinancialProducts("designate");
          return;
        }
        if (val == 3) {
          this.getFinancialTradHistory();
        }
      },

      handlePaginationHistory(val) {
        this.productsRecords.pageIndex = val;
        this.getFinancialTradHistory();
      },

      closeFinProDetails() {
        this.productsRecords.tabIndex = 0;
        this.productsRecords.pageIndex = 1;
        this.productsRecords.total = 0;
      },

      getFinancialArticle() {
        const api = this.$api.url.FinancialArticle;
        const params = {
          PageSize: this.article.pageSize,
          PageIndex: this.article.pageIndex,
          Type: this.newsTabIndex,
          Language: this.languageGroup[this.curLanguage],
          WebSite: 0,
        };
        this.$axios
          .get(api, {
            params: params,
          })
          .then((res) => {
            if (res.data.code == 0) {
              let data = JSON.parse(res.data.data);

              data.forEach((item) => {
                item.t_time = moment(item.t_time).format("YYYY-MM-DD HH:mm:ss");
                if (item.t_thumbnail == "" || item.t_thumbnail == null) {
                  item.t_thumbnail = this.imgGroup[this.newsTabIndex];
                }
              });

              this.article.data = data;
            } else if (res.data.code == 1011 || res.data.code == 1006) {
              console.log("用户验证不通过");
              // this.$refs.pageHead.logout();
              // this.isLogin = false;
              // this.$router.push({name:'login'});
            } else {
              this.$message({
                message: "获取文章列表失败！",
                type: "error",
                center: true,
                duration: 2000,
              });
            }
          })
          .catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000,
            });
          });
      },

      viewDetails(val) {
        this.financialProducts.details.title = val.content.t_name;
        this.financialProducts.details.introduction = val.content.t_remarks;
        this.financialProducts.details.pdf = val.content.t_pdfexplain;
        this.financialProducts.details.month = val.t_month;
        this.financialProducts.details.info = val.products;
        this.financialProducts.details.dialogFlag = true;
      },
      productBuy(val) {
        if (!this.isLogin) {
          this.localStore.setItem("fromPage", "homeEN");
          this.$router.push({
            name: "login",
          });
          return;
        }
        this.financialProducts.buy.fId = val.products.t_fpid;
        this.financialProducts.buy.info = val.products;
        this.financialProducts.buy.dialogFlag = true;
      },
    },
    directives: {
      swiper: directive,
    },
  };
</script>




<style>
/*  .in-button-app {
    background-color: #2b2a2a;
    border-radius: 6px;
    color: #fff;
    font-weight: 300;
    font-size: 11px;
    white-space: nowrap;
    text-transform: capitalize;
    text-align: left;
    line-height: 17px;
    padding: 8px 4px!important;
  }*/
  .in-button-app {
    width: -webkit-fill-available;
  }
  .in-button-app {
    background-color: #2b2a2a;
    border-radius: 6px;
    color: #fff;
    font-weight: 300;
    font-size: 10px;
    white-space: nowrap;
    text-transform: capitalize;
    text-align: left;
    line-height: 17px;
    padding: 8px 8px;
  }

  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    /*  width: 300px!important;
      height: 300px!important;*/
  }
</style>
