<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas"  v-bind:class="{rightToLeft:(curLanguage==4||curLanguage==5)}">

          <div class="container-fluid top-bar" >
            <div class="container-fluid" style="padding: 15px 10px;">
              <div class="">
                <div class="col-12 " style="text-align:center">
                  <h1 style="font-size:20px;color:white">{{language[curLanguage][1]}}</h1>
                  <!-- <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">{{language[curLanguage][1]}}</li></ol> -->
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>{{language[curLanguage][2]}}</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid ">
            <h2 class="top80">{{language[curLanguage][3]}}</h2>
            <div class="row text-center top50 mx-auto">
              <div class="feature-item5">
                <i class="tfxfont3 xmLeverage-200 fs100 "></i>
                <p>{{language[curLanguage][4]}}</p>
              </div>
              <div class="feature-item5">
                <i class="tfxfont3 xmLock-check fs100 "></i>
                <p>{{language[curLanguage][5]}}</p>
              </div>
              <div class="feature-item5">
                <i class="tfxfont3 xmClock fs100 "></i>
                <p>{{language[curLanguage][6]}}</p>
              </div>
              <div class="feature-item5">
                <i class="tfxfont3 xmStop-sign fs100 "></i>
                <p>{{language[curLanguage][7]}}</p>
              </div>
            </div>
          </div>
          
         
          <div class="container-fluid">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-12 ">
                  <p>
                    <br>
                    {{language[curLanguage][8]}}</p></div>
                <div class="col-12">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">{{language[curLanguage][9]}}</router-link></div>
              </div>
            </div>
          </div>
          <div class="container-fluid top80" style="text-align: initial;">
            <div class="row">
              <div class="col-md-12 mx-2">
                <h2>{{language[curLanguage][10]}}</h2>
                <p>{{language[curLanguage][11]}}</p>
                <h2 class="top50">{{language[curLanguage][12]}}</h2>
                <p>{{language[curLanguage][13]}}</p>
                <p>{{language[curLanguage][14]}}</p>
                <p>{{language[curLanguage][15]}}</p>
              </div>
              <div class="col-md-12 top50">
                <h2>{{language[curLanguage][16]}}</h2>
                <p>{{language[curLanguage][17]}}</p>
                <p>{{language[curLanguage][18]}}</p>
                <p>{{language[curLanguage][19]}}</p>
              </div>
              <div class="col-md-12 top50">
                <h2>{{language[curLanguage][20]}}</h2>
                <p>{{language[curLanguage][21]}}</p>
              </div>
              <div class="col-md-12 top50">
                <h2>{{language[curLanguage][22]}}</h2>
                <p>{{language[curLanguage][23]}}</p>
                <p>{{language[curLanguage][24]}}</p>
              </div>
              <div class="col-md-12 top50">
                <h2>{{language[curLanguage][25]}}</h2>
                <p>{{language[curLanguage][26]}}</p>
                <p>{{language[curLanguage][27]}}</p>
              </div>
              <div class="col-md-12 top50">
                <h2>{{language[curLanguage][28]}}</h2>
                <p>{{language[curLanguage][29]}}</p>
                <p>{{language[curLanguage][30]}}</p>
                <!-- <p>As soon as your account equity drops below 50% of the margin needed to maintain your open positions, we will attempt to notify you with a margin call warning you that you do not have sufficient equity to support open positions.</p>
                -->
              </div>
              <div class="col-md-12 top50">
                <h2>{{language[curLanguage][31]}}</h2>
                <p>{{language[curLanguage][32]}}</p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {languageCode} from '../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false,
        language:{
            1:{
                1:'保证金和交易杠杆',
                2:'联系我们',
                3:'独家杠杆高达200:1',
                4:'灵活交易杠杆在1:1至 200:1之间',
                5:'负余额保护政策',
                6:'实时风险敞口监测',
                7:'过夜或周末保证金无变化',
                8:'通过灵活的杠杆作用在N Sky™进行交易，以获取最大的利润。',
                9:'建立账户',
                10:'灵活杠杆从1:1 到 200:1',
                11:'N Sky的客户可以灵活地运用相同的保证金需求进行交易，杠杆的比例可以从1:1到 200:1.',
                12:'关于保证金',
                13:'保证金是交易操作期间投保任何信贷风险的抵押金额。',
                14:'保证金以头寸大小百分比计(比如：5% 或 1%), 交易账户需要入金的唯一原因就是确保保证金足够。例如，保证金为 1% 时，价值1,000,000 美元的头寸所需的保证金为 10,000美元。',
                15:'因此，您交易账户中的保证金比例需不低于 100%；否则，再次开仓可能会因保证金不足，而导致爆仓。',
                16:'关于交易杠杆',
                17:'通过使用交易杠杆，您可以放大交易账户中的入金头寸。交易杠杆金额以比率计算, 比如 50:1, 200:1, 或者200:1。假设您的交易账户拥有1,000美元，您的交易单价值 为200,000美元/日元, 那么您的交易杠杆等同于 200:1.',
                18:'为什么您可以以余额500倍的金额进行交易? 在N Sky，无论您何时使用保证金，您都拥有自由的 短期贷款限额，: 这使您能够购买超过账户价值的金额。在无该限额的情况下，您只能一次购买或出售价值1,000的交易单。',
                19:'N Sky可以随时监控客户账户的杠杆比率，并保留对客户杠杆比率进行变更和修改的权利（如缩小杠杆比率 ），若未另行通知，则适用于所有的N Sky账户。',
                20:'N Sky交易杠杆',
                21:'根据您在N Sky注册的账户类型，杠杆的比例可以从1:1到200:1. 保证金需求在一个星期内不会改变，也不会在一夜之间或一个周末后扩大。',
                22:'交易杠杆风险',
                23:'一方面，即使您的初始投资额相对较小，您也可以通过交易杠杆获取相当可观的利润。另一方面，如果您未能进行适当的风险管理，您的亏损也可能加剧。',
                24:'N Sky 提供了交易杠杆的范围，能够帮助客户选择喜欢的风险水准。',
                25:'保证金监测',
                26:'在 N Sky ，您可以通过监测来看管您的保证金，同时控制实时风险敞口。',
                27:'占用保证金和自由保证金组成您的净值。占用保证金 是指您用来维持交易的金额。(比如：如果您账户的交易杠杆为200:1, 那么您需要留出交易额的1% 作为保证金)。自由保证金 是您留在交易账户中的资金，它随着账户的净值浮动；您可以用它开立其他头寸或承担亏损。',
                28:'追加保证金',
                29:'虽然每个客户负责监控自己账户的盈亏状况， 但是N Sky在您账户即将爆仓时，会给予追加保证金提醒，以确保您的账户不会完全爆仓。',
                30:'一旦您的账户资产净值低于维持开仓所需保证金的50%时，我们会向您发送追加保证金邮件提醒，来警告您已没有足够金额来维持敞口头寸。',
                31:'强平标准',
                32:'止损指的是根据您开仓的点位自动进行平仓。 当交易账户内的净值不大于所需保证金的30%时，该账户达到强制平仓的要求。'
            },
            2:{
                1:'Margin and Leverage',
                2:'Contact Us',
                3:'Unique Leverage Up to 200:1',
                4:'Flexible leverage between 1:1 – 200:1',
                5:'Negative balance protection',
                6:'Real-time risk exposure monitoring',
                7:'No changes in margin overnight or at weekends',
                8:'Trade at N Sky™ with a flexible leverage for maximum profits.',
                9:'OPEN AN ACCOUNT',
                10:'Flexible Leverage from 1:1 up to 200:1',
                11:'At N Sky clients have the flexibility to trade by using the same margin requirements and leverage from 1:1 to 200:1.',
                12:'About Margin',
                13:'Margin is the amount of collateral to cover any credit risks arising during your trading operations.',
                14:'Margin is expressed as the percentage of position size (e.g. 5% or 1%), and the only real reason for having funds in your trading account is to ensure sufficient margin. On a 1% margin, for instance, a position of $1,000,000 will require a deposit of $10,000.',
                15:'So that you can open new trades, the margin level in your trading account needs to be equal or above 100%; otherwise, the new trades will result in your trading account to be fully hedged.',
                16:'About Leverage',
                17:'Using leverage means that you can trade positions larger than the amount of money in your trading account. The leverage amount is expressed as a ratio, for instance 50:1, 200:1. Assuming that you have $1,000 in your trading account and you trade ticket sizes of 200,000 USD/JPY, your leverage will equate 200:1.',
                18:'How would it be possible to trade 200 times the amount you have at your disposal? At N Sky you have a free short-term credit allowance whenever you trade on margin: this enables you to purchase an amount that exceeds your account value. Without this allowance, you would only be able to buy or sell tickets of $1,000 at a time.',
                19:'N Sky™ shall monitor the leverage ratio applied to clients’ accounts at all times and reserves the right to apply changes to and amend the leverage ratio (i.e. decrease the leverage ratio), on its sole discretion and without any notice on a case by case basis, and/or on all or any accounts of the client as deemed necessary by N Sky.',
                20:'N Sky™ Leverage',
                21:'Depending on the account type you open at N Sky, you can choose the leverage on a scale from 1:1 to 200:1. Margin requirements do not change during the week, nor do they widen overnight or at weekends. Moreover, at N Sky you have the option to request either the increase or the decrease of your chosen leverage.',
                22:'Leverage Risk',
                23:'On the one hand, by using leverage, even from a relatively small initial investment you can make considerable profit. On the other hand, your losses can also become drastic if you fail to apply proper risk management.',
                24:'This is why N Sky™ provides a leverage range that helps you choose your preferred risk level. At the same time, we do not recommend trading close to a leverage of 200:1 due to the high risk it involves.',
                25:'Margin Monitoring',
                26:'At N Sky you can control your real-time risk exposure by monitoring your used and free margin.',
                27:'Used and free margin together make up your equity. Used margin refers to the amount of money you need to deposit to hold the trade (e.g. if you set your account at a leverage of 200:1, the margin that you will need to set aside is 0.5% of your trade size). Free margin is the amount of money you left in your trading account, and it fluctuates according to your account equity; you can open additional positions with it, or absorb any losses.',
                28:'Margin Call',
                29:'Although each client is fully responsible for monitoring their trading account activity, N Sky follows a margin call policy to guarantee that your maximum possible risk does not exceed your account equity.',
                30:'As soon as your account equity drops below 50% of the margin needed to maintain your open positions, we will attempt to notify you with a margin call warning you that you do not have sufficient equity to support open positions.',
                31:'Stop-Out Level',
                32:"The stop-out level refers to the equity level at which your open positions get automatically closed. The stop-out level in a client's account is reached when the equity in the trading account is equal or falls below 20% of the required margin."
            },
            3:{
                1:'Marj ve ticaret kaldıracı',
                2:'Bize Ulaşın',
                3:'Kadar özel kaldıraç 200:1',
                4:'Esnek ticaret kaldıracı 1:1 den 200:1 arasında',
                5:'Negatif bakiye koruma politikası',
                6:'Gerçek zamanlı risk maruziyeti izleme',
                7:'Gece veya hafta sonu için marjda değişiklik yok',
                8:"Maksimum kar için esnek bir kaldıraçla N Sky™'da işlem yapın. ",
                9:'Hesap oluştur',
                10:'Esnek kaldıraç 1:1 den 200:1',
                11:'N Sky müşterileri, ticaret için aynı marj gereksinimlerini esnek bir şekilde kullanabilir ve kaldıraç oranı1:1 den 200:1.',
                12:'Marj hakkında',
                13:'Teminat, alım satım işlemleri sırasında herhangi bir kredi riskini sigortalamak için teminat miktarıdır.',
                14:"Marj, konum boyutunun yüzdesi olarak hesaplanır (örneğin:% 5 veya% 1), işlem hesabı Para yatırma ihtiyacının tek nedeni, marjın yeterli olmasını sağlamaktır. Örneğin, marj% 1 olduğunda, 1.000.000 $ değerindeki bir pozisyon için gereken marj 10.000 $ 'dır.",
                15:"Bu nedenle, işlem hesabınızdaki marj oranı% 100'den az olmamalıdır; aksi takdirde tekrar pozisyon açmak yetersiz marj nedeniyle likidasyona neden olabilir.",
                16:'Kaldıraç ticareti hakkında',
                17:"Alım satım kaldıracını kullanarak ticaret hesabınızdaki para yatırma pozisyonunu büyütebilirsiniz. Alım satım kaldıraç tutarı 50: 1, 200:1 gibi orana göre hesaplanır. İşlem hesabınızda 1.000 USD olduğunu ve işlem emri değerinizin 200.000 USD / JPY olduğunu varsayarsak, işlem kaldıracınız 200:1'e eşittir.",
                18:"N Sky'da, marjı ne zaman kullanırsanız kullanın, ücretsiz bir kısa vadeli kredi limitiniz vardır: Bu, hesabınızın değerinden daha fazlasını satın almanıza olanak tanır. Bu limit olmadan, bir seferde yalnızca 1.000 değerinde işlem alabilir veya satabilirsiniz.",
                19:'N Sky, müşteri hesaplarının kaldıraç oranını her an izleyebilir ve müşterilerin kaldıraç oranını değiştirme ve değiştirme hakkını saklı tutar (kaldıraç oranını düşürmek gibi) Aksi belirtilmedikçe tüm N Sky hesapları için geçerlidir.',
                20:'N Sky ticaret kaldıracı',
                21:"N Sky'ye kaydolduğunuz hesabın türüne bağlı olarak, kaldıraç oranı 1: 1 ila 200: 1 arasında değişebilir. Teminat gereksinimleri bir hafta içinde değişmeyecek, bir gecede veya bir hafta sonunda genişlemeyecektir.",
                22:'Ticaret kaldıraç riski',
                23:'Bir yandan, ilk yatırımınız nispeten küçük olsa bile, ticaret kaldıracı yoluyla önemli karlar elde edebilirsiniz. Öte yandan, uygun risk yönetimini yapmazsanız, zararlarınız da artabilir.',
                24:'N Sky, müşterilerin tercih ettikleri risk düzeyini seçmelerine yardımcı olabilecek bir dizi ticari kaldıraç sağlar.',
                25:'Marj izleme',
                26:"N Sky'de marjınızı izleyebilir ve gerçek zamanlı risk maruziyetini kontrol edebilirsiniz.",
                27:"İşgal edilen marj ve serbest marj, net değerinizi oluşturur. İşgal edilen marj, işlemi sürdürmek için kullandığınız miktarı ifade eder. (Örneğin: Hesabınızın ticaret kaldıracını 200:1 olarak ayarlarsanız, işlem tutarının% 1'ini marj olarak ayırmanız gerekir). Serbest marj, ticaret hesabınızda tuttuğunuz paradır. Hesabın net değeri ile dalgalanır; diğer pozisyonları açmak veya kayıpları karşılamak için kullanabilirsiniz.",
                28:'Marj çağrısı',
                29:'Her müşteri kendi hesabının kar ve zararını izlemekten sorumlu olsa da, N Sky, hesabınızın tamamen tasfiye edilmemesini sağlamak için hesabınız tasfiye edilmek üzereyken bir marj çağrısı hatırlatması verecektir.',
                30:"Hesap varlığınız, açık pozisyonları korumak için gereken marjın% 50'sinden az olduğunda, açık pozisyonları sürdürmek için yeterli para olmadığı konusunda sizi uyarmak için size bir marj çağrısı e-posta hatırlatıcısı göndereceğiz.",
                31:'Tasfiye Standardı',
                32:"Kaybı durdur, bir pozisyonu açtığınız noktaya göre otomatik olarak kapatmayı ifade eder. İşlem hesabındaki net değer, gerekli marjın% 30'undan fazla olmadığında, hesap zorunlu likidasyon gereksinimlerini karşılar."
            },
            4:{
                1:'الهامش والرافعة المالية',
                2:'اتصل بنا',
                3:'رافعة مالية فريدة تصل إلى 200:1',
                4:'رافعة مالية مرنة بين 1:1 - 200:1',
                5:'حماية الرصيد السلبي',
                6:'مراقبة التعرض للمخاطر في الوقت الحقيقي',
                7:'لا توجد تغييرات في الهامش بين عشية وضحاها أو في عطلات نهاية الأسبوع',
                8:'تداول في ™N Sky برافعة مالية مرنة لتحقيق أقصى قدر من الأرباح.',
                9:'افتح حساب',
                10:'الرافعة المالية المرنة من 1: 1 حتى 200:1',
                11:'في N Sky ، يتمتع العملاء بالمرونة في التداول باستخدام نفس متطلبات الهامش والرافعة المالية من 1:1 إلى 200:1.',
                12:'حول الهامش',
                13:'الهامش هو مقدار الضمان لتغطية أي مخاطر ائتمانية تنشأ أثناء عمليات التداول الخاصة بك.',
                14:'يتم التعبير عن الهامش كنسبة مئوية من حجم الصفقة (على سبيل المثال 5٪ أو 1٪) ، والسبب الحقيقي الوحيد لوجود أموال في  حساب التداول الخاص بك هو ضمان هامش كافٍ. على هامش 1٪ ، على سبيل المثال ، سيتطلب تداول بقيمة 1،000،000 دولار إيداع 10،000 دولار.',
                15:'حتى تتمكن من فتح صفقات جديدة ، يجب أن يكون مستوى الهامش في حساب التداول الخاص بك مساوياً أو أعلى من 100٪ ؛ وإلا ، فإن الصفقات الجديدة ستؤدي إلى تحوط حساب التداول الخاص بك بالكامل.',
                16:'حول الرافعة المالية',
                17:'استخدام الرافعة المالية يعني أنه يمكنك تداول صفقات أكبر من مبلغ المال في حساب التداول الخاص بك. يتم التعبير عن مقدار الرافعة المالية كنسبة ، على سبيل المثال 50:1 ، 200:1. بافتراض أن لديك 1000 دولار في حساب التداول الخاص بك وأنك تتداول بأحجام بطاقة 200،000 دولار أمريكي / ين ياباني ، فإن الرافعة المالية الخاصة بك ستعادل 200:1.',
                18:'كيف يمكن أن تتداول 200 ضعف المبلغ الذي لديك؟ في N Sky ، لديك بدل ائتمان مجاني قصير الأجل عندما تتداول على الهامش: يتيح لك ذلك شراء مبلغ يتجاوز قيمة حسابك. بدون هذا البدل ، ستتمكن فقط من شراء أو بيع عقود بقيمة 1000 دولار في المرة الواحدة.',
                19:'يجب على نوبل سكاي مراقبة نسبة الرافعة المالية المطبقة على حسابات العملاء في جميع الأوقات وتحتفظ بالحق في تطبيق التغييرات وتعديل نسبة الرافعة المالية (أي خفض نسبة الرافعة المالية) ، وفقًا لتقديرها الخاص ودون أي إشعار على أساس كل حالة على حدة ، و / أو على جميع حسابات العميل أو أي منها حسبما تراه ضروريًا من قبل N Sky.',
                20:'نوبل سكاي الرافعة المالية',
                21:'اعتمادًا على نوع الحساب الذي تفتحه في N Sky ، يمكنك اختيار الرافعة المالية على مقياس من 1: 1 إلى 200: 1. لا تتغير متطلبات الهامش خلال الأسبوع ، كما أنها لا تتسع بين عشية وضحاها أو في عطلات نهاية الأسبوع. علاوة على ذلك ، في N Sky لديك خيار طلب زيادة الرافعة المالية التي اخترتها أو خفضها.',
                22:'رفع المخاطر',
                23:'من ناحية أخرى ، باستخدام الرافعة المالية ، حتى من استثمار أولي صغير نسبيًا ، يمكنك تحقيق ربح كبير. من ناحية أخرى ، يمكن أن تصبح خسائرك كبيرة إذا فشلت في تطبيق إدارة المخاطر المناسبة.',
                24:'هذا هو السبب في أن N Sky توفر نطاقًا للرافعة المالية يساعدك في اختيار مستوى المخاطرة المفضل لديك. في الوقت نفسه ، لا نوصي بالتداول بالقرب من رافعة مالية بنسبة 200: 1 نظرًا للمخاطر العالية التي تنطوي عليها.',
                25:'مراقبة الهامش',
                26:'في N Sky ، يمكنك التحكم في تعرضك للمخاطر في الوقت الفعلي من خلال مراقبة الهامش المستخدم والحر.',
                27:'الهامش المستخدم والحر يشكلان معًا رصيدك. يشير الهامش المستخدم إلى مقدار المال الذي تحتاج إلى إيداعه للاحتفاظ بالصفقة (على سبيل المثال ، إذا قمت بتعيين حسابك برافعة مالية 200:1 ، فإن الهامش الذي ستحتاج إلى تخصيصه هو 1٪ من حجم تداولك). الهامش المجاني هو مقدار المال الذي تركته في حساب التداول الخاص بك ، وهو يتقلب وفقًا لرصيد حسابك ؛ يمكنك فتح صفقات إضافية معها ، أو استيعاب أي خسائر.',
                28:'نداء الهامش',
                29:'على الرغم من أن كل عميل مسؤول مسؤولية كاملة عن مراقبة نشاط حساب التداول الخاص به ، إلا أن N Sky يتبع سياسة نداء الهامش لضمان عدم تجاوز الحد الأقصى للمخاطرة المحتملة لحسابك.',
                30:'بمجرد أن ينخفض ​​رصيد حسابك إلى أقل من 50٪ من الهامش المطلوب للحفاظ على مراكزك المفتوحة ، سنحاول إخطارك من خلال استدعاء الهامش لتحذيرك من عدم وجود رصيد كافٍ لدعم الصفقات المفتوحة.',
                31:'مستوى التوقف',
                32:'يشير مستوى وقف الخسارة إلى مستوى الأسهم الذي يتم عنده إغلاق صفقاتك المفتوحة تلقائيًا. يتم الوصول إلى مستوى الإيقاف في حساب العميل عندما تتساوى حقوق الملكية في حساب التداول أو تقل عن 20٪ من الهامش المطلوب.'
            },
            5:{
                1:'مارجین و لوریج',
                2:'تماس با ما',
                3:'لوریج استثنایی 1:200',
                4:'لوریج متغیر بین 1:200- 1:1',
                5:'پشتیبانی بالانس منفی',
                6:'نظارت در شرایط پرخطر زمان واقعی',
                7:'بدون دستکاری مارجین هنگام شب و یا آخر هفته',
                8:'فارکس، فلزات گران بها و انرژی ها را در N Sky معامله کنید',
                9:'افتتاح حساب',
                10:'لوریج های مختلف از 1:1 تا 1:200',
                11:'N Sky به مشتریان خود امکان بهره مندی همزمان مارجین و لوریج 1:1 تا 1:200 در معاملاتشان را میدهد.',
                12:'مارجین',
                13:'میزان موجودی درگیر شده برای پوشش هر گونه خطر اعتباری در طول معامله است.',
                14:'مارجین به عنوان درصدی از اندازه پوزیشن (به عنوان نمونه 5٪ یا 1٪) بیان میشود,  تنها دلیل واقعی برای داشتن مقداری مبلغ در حساب خود برای اطمینان از مارجین کافی است. به عنوان مثال با 1% مارجین، پوزیشن 1،000،000 دلاری نیاز به مبلغ دپازیت 10،000 دلاری دارد.',
                15:'بنابراین برای باز کردن معامله ی جدید، سطح مارجین حساب شما بایستی معادل 100% یا بیشتر باشد؛ به عبارت دیگر معاملات جدید در حساب باید به طور کامل به هجینگ منجر شود.',
                16:'لوریج',
                17:'استفاده از لوریج به معنی بیشتر شدن پوزیشن های معامله ی شما نسبت به مبلغ موجود در حساب شما میباشد. مبلغ لوریج تناسبی نشان داده میشود، مثلا 1:50، 1:200. فرض کنید موجودی حساب شما 1000 $ میباشد و حجم قرارداد USD/JPY،  200،000 دلار است در نتیجه لوریج شما برابر با 1:200 خواهد بود. ',
                18:'چگونه میتوان 200 برابر مبلغ موجودی حساب معامله کرد؟ در N Sky کمک هزینه اعتباری کوتاه مدت رایگان در اختیار شما قرار داده میشود تا با آن معامله انجام دهید: که شما را قادر می سازد مقداری بیشتر از ارزش حساب خود را بخرید. بدون لوریج شما تنها میتوانید به اندازه ی 1000 $ خرید یا فروش کنید. ',
                19:'N Sky نسبت لوریج اعمال شده در حساب مشتری را دائما کنترل میکند و حق تغییر و اصلاح آن را برای خود محفوظ میدارد (یعنی کاهش نسبت لوریج) ، و تمام موارد را در اختیار خود و بدون هیچ اطلاع رسانی موردی و یا در تمام یا هر حساب مشتری در صورت لزوم میبیند.',
                20:'لوریج N Sky',
                21:'میزان لوریج شما در N Sky که 1:1 تا 1:200 میباشد بستگی به نوع حسابی که افتتاح کرده اید دارد. میزان مارجین طی هفته یا شبانه ی آخر هفته تغییر نمیکند. بعلاوه در N Sky شما حق درخواست افزایش یا کاهش میزان لوریج انتخابی خود زمان افتتاح حساب را دارید.',
                22:'خطرات لوریج',
                23:'از یک سو با استفاده از لوریج، حتی از یک سرمایه گذاری اولیه نسبتاً کوچک می توانید به سود قابل توجهی برسید. و از طرف دیگر اگر موفق به مدیریت ریسک مناسب نشوید متحمل زیان زیادی خواهید شد.',
                24:'به همین دلیل است که N Sky لوریج های مختلفی را برای کمک به شما ارائه کرده است تا بتوانید میزان خطر مورد نظر خود را انتخاب کنید. در عین حال، ما معاملات نزدیک به لوریج 1:200 را به دلیل خطر بالایی که شامل آن است، توصیه نمی کنیم.',
                25:'کنترل مارجین',
                26:'در N Sky میتوانید میزان خطر احتمالی زمان واقعی حساب خود را با کنترل میزان مارجین درگیر و آزاد کنترل کنید.',
                27:'از محاسبه ی میزان مارجین درگیر و مارجین آزاد اکوئیتی به دست می آید. مارجین درگیر به میزان مبلغ مورد نیاز برای معامله که باید پرداخت شود گفته میشود (به عنوان مثال اگر حساب خود را در لوریج 1:200 تنظیم کنید، مارجینی که باید کنار بگذارید 0.5 درصد از اندازه مامله ی شماست). مارجین آزاد مابقی مبلغ موجود در حساب شما است و با توجه به میزان اکوئیتی شما در نوسان میباشد. با احتساب مارجین آزاد میتوانید پوزیشن های بیشتری باز کنید و ضررهای خود را جبران کنید.',
                28:'مارجین کال',
                29:'اگرچه هر مشتری مسئول کامل نظارت بر معامله های حساب خود است، سیاست مارجین کال  N Sky حداکثر ریسک ممکن شما را تضمین کند تا از اکوئیتی حساب شما تجاوز نکند.',
                30:'به محض کاهش اکوئیتی حساب شما به پایین تر از 50% مارجین مورد نیاز معاملات باز شما، با هشدار مارجین کال به شما متذکر میشویم که اکوئیتی شما برای باز کردن پوزیشن های جدید کافی نمیباشد.',
                31:'سطح استاپ اوت',
                32:'استاپ اوت به سطحی از اکوئیتی اطلاق میشود که در آن پوزیشن های باز بطور خودکار بسته میشوند. استاپ اوت حساب مشتری زمانی فرا میرسد که اکوئیتی حساب برابر یا زیر ۲۰٪ مارجین مورد نیاز قرار گیرد.'
            }
        },
         head:['保证金和交易杠杆','Margin and Leverage','Marj ve ticaret kaldıracı','الهامش والرافعة المالية','مارجین و لوریج'],





    };
  },
   metaInfo() {return {
      // 

      title: this.head[this.curLanguage-1]+'-N Sky',
      }
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

//    if(this.curLanguage!=2){
//        let pName = this.$route.name.substring(0,this.$route.name.length-2)
//        let pNameStr = pName + languageCode[this.curLanguage]
//        this.$router.push({name:pNameStr});
//    }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
    //    console.log(this.curLanguage)
    //    let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
    //    let pNameStr = pName + languageCode[val]
    //    this.$router.push({name:pNameStr});
       this.curLanguage = val;

     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  .xmLeverage-200.fs100{
    width: 120px;height: 100px;display: block;
   background: url(../../static/images/ico-200-1.png) no-repeat center 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1' width='126.667' height='100' viewBox='0 0 100.000000 100.000000'%3E%3Cpath d='M1 50v50h98V0H1v50zm96-38.5V20H3V3h94v8.5zm0 48V97H3V22h94v37.5z'/%3E%3Cpath d='M75 11c0 .5.9 1 2 1s2-.5 2-1c0-.6-.9-1-2-1s-2 .4-2 1zM86 11c0 .5.9 1 2 1s2-.5 2-1c0-.6-.9-1-2-1s-2 .4-2 1zM9.4 43.3c-1.5 1.3-2.4 2.9-2 3.5.5.8 1.3.5 2.6-.8 2.6-2.6 5.5-2.5 7.4.2 3.3 4.6 1.5 10.7-5.8 20.5C9.1 70 7 73.3 7 73.9c0 .7 2.8 1.1 8 1.1 6.4 0 8-.3 8-1.5S21.7 72 17.5 72c-3 0-5.5-.2-5.5-.5s1.6-2.7 3.5-5.4c7-9.8 8.1-18.9 2.8-23.1-3.3-2.6-5.6-2.5-8.9.3zM31.1 42.9c-2.9 2.9-4.4 9.7-3.9 18.1.5 8.2 2.6 13.5 5.8 14.5 5.7 1.8 9.1-3.3 9.8-14.5.7-11.8-2.5-20-7.8-20-1.1 0-2.9.9-3.9 1.9zm7.5 4.6c1.8 4.5 1.8 17.5 0 22-2 4.8-5.2 4.8-7.2 0-1.8-4.5-1.8-17.5 0-22 2-4.8 5.2-4.8 7.2 0zM51.1 42.9c-2.9 2.9-4.4 9.7-3.9 18.1.7 11.2 4.1 16.3 9.8 14.5 3.2-1 5.3-6.3 5.8-14.5.7-11.8-2.5-20-7.8-20-1.1 0-2.9.9-3.9 1.9zm7.5 4.6c.8 2 1.4 6.7 1.4 11 0 9-1.9 14.5-5 14.5s-5-5.5-5-14.5S51.9 44 55 44c1.5 0 2.5 1.1 3.6 3.5zM82.8 43.6c-3.5 1.8-3.6 3.4-.3 3.4H85v25h-3c-2 0-3 .5-3 1.5 0 1.2 1.4 1.5 7 1.5s7-.3 7-1.5c0-.9-.9-1.5-2.5-1.5H88V57c0-16.2 0-16.3-5.2-13.4zM69.6 52.5c-.7 2 .3 4.5 1.9 4.5 1.8 0 2.4-2.1 1.3-4.3-1.1-2.1-2.4-2.2-3.2-.2zM69.6 71.5c-.6 1.8.2 4.5 1.5 4.5 1.2 0 2.7-3.3 2.2-4.8-.6-1.7-3-1.5-3.7.3z'/%3E%3C/svg%3E");

  }
  .xmLeverage-200.fs100::before{
      content:none;
  }
  .xmLeverage-100.fs100 {
    width: 150px;
    height: 100px;
    display: block;
    background: url(../../static/images/ico-200-1.png) no-repeat center 0;
  }
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: center;padding: 10px !important;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #ffa200;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size:16px!important;color: #252632;width: 247px;text-align: center;font-weight: 700;border-radius: 5px!important}
      .btn-full:hover{background-color: #ffa200;}
   }

   .nav-flexbox-tabs {padding: 10px !important;
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


  //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap>
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
.rightToLeft{
    direction: rtl!important;
}

</style>
