<template>
    <div class="wrap" @click="hideMenu">
    <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
    <div class="site-canvas" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}">

          <div class="container-fluid top-bar">
            <div class="container-fluid" style="padding: 15px 10px;">
              <div class="">
                <div class="col-12 " style="text-align:center">
                  <h1 style="font-size:20px;color:white">{{language[curLanguage][1]}}</h1>
                    <!-- <ol class="breadcrumb">
                        <li class="home"><router-link to="/" class="home">NOBLE SKY</router-link></li>
                        <li class="post post-page current-item">{{language[curLanguage][1]}}</li>
                    </ol> -->
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                    <div class="option-nav">
                        <router-link to="/contact">
                            <i class="contact"></i>
                            <span>{{language[curLanguage][2]}}</span>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="row top80">
            <div class="col-sm-12">
                <h2>
                    {{language[curLanguage][3]}}
                </h2>
                <div class="quote-msg top30">
                    <p>
                        <i class="quote-right "></i>
                    </p>
                        {{language[curLanguage][4]}}
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-6 col-md-12 top40">
                        <h3>{{language[curLanguage][5]}}</h3>
                        <ul class="checks top35">
                            <li>{{language[curLanguage][6]}}</li>
                            <li>{{language[curLanguage][7]}}</li>
                            <li>{{language[curLanguage][8]}}</li>
                            <li>{{language[curLanguage][9]}}</li>
                            <li>{{language[curLanguage][10]}}</li>
                            <li>{{language[curLanguage][11]}}</li>
                            <li>{{language[curLanguage][12]}}</li>
                            <li>{{language[curLanguage][13]}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12 top60 hidden-sm">
                <img class="img-responsive center-block" src="../../static/images/page-img/mt5/mt5-pc.png?v3.0" alt="mt5 pc screenshot">
            </div>
        </div>
        <div class="greenRed-btns top50 text-center">
        <router-link to="/register" class="btn btn-solid btn-green btn-block">
            <i class="fa fa-pencil-square-o"></i>
            {{language[curLanguage][14]}}       </router-link>
        <div class="dis20"></div>
        <a href="https://download.mql5.com/cdn/web/hk.noble.sky/mt5/hknobleskytreasure5setup.exe" class="btn btn-solid btn-red btn-block">
            <i class="fa fa-download"></i>
            {{language[curLanguage][15]}}        </a>
            <div class="dis20"></div>
            <router-link :to="{name:'register',params:{regType:2}}" class="btn btn-outline btn-block">
                <i class="fa fa-pencil-square-o"></i>
                {{language[curLanguage][16]}}
            </router-link>
        </div>
    </div>
    <section class="section top80 hidden-xs hidden-sm hidden-l-sm">
        <div class="container-fluid metatrader">
            <div class="row">
                <div class="col-md-12 text-justify mx-2">
                    <h2 class="text-center big">{{language[curLanguage][17]}}</h2>
                    <img class="img-responsive center-block top30" src="../../static/images/page-img/mt5/mt5-pc-half.png?v3.0" alt="mt5 pc screenshot">
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <div class="container-fluid hidden-xs hidden-sm hidden-l-sm">
            <div class="dis30 visible-xs visible-sm"></div>
            <div class="row btn-a-box">
                <div class="col-12 py-2 text-center">
                    <router-link to="/register" class="btn-a crate-account-btn">
                        <i class="fa fa-pencil-square-o"></i>
                        {{language[curLanguage][14]}}
                    </router-link>
                </div>
                <div class="col-12 py-2 text-center">
                    <a href="https://download.mql5.com/cdn/web/hk.noble.sky/mt5/hknobleskytreasure5setup.exe" class="btn-a download-btn">
                        <i class="fa fa-download"></i>
                        {{language[curLanguage][15]}}
                    </a>
                </div>
                <div class="dis20"></div>
                <p class="text-center">
                    {{language[curLanguage][18]}}
                </p>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="container-fluid metatrader">
            <div class="row top50 hidden-xs hidden-sm hidden-l-sm">
                <div class="col-sm-7 col-md-8">
                    <h2>
                        <i class="tfxfont3 xmInstall-pc sm red"></i>
                        {{language[curLanguage][19]}}
                    </h2>
                    <ul class="arrows top30" style="text-align: initial!important;">
                        <li>{{language[curLanguage][20]}}<a  style="color:#007bff" href="https://download.mql5.com/cdn/web/hk.noble.sky/mt5/hknobleskytreasure5setup.exe">{{language[curLanguage][21]}}</a>{{language[curLanguage][22]}}</li>
                        <li>{{language[curLanguage][23]}}</li>
                        <li>{{language[curLanguage][24]}}</li>
                        <li>{{language[curLanguage][25]}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid metatrader">
        <div class="row top80">
            <div class="col-md-12 mx-2" style="text-align: initial!important;">
                <h2>
                    <i class="tfxfont3 xmZoom sm "></i>
                    {{language[curLanguage][26]}}
                </h2>
            </div>
            <div class="col-sm-12 ">
                <ul class="arrows">
                    <li>{{language[curLanguage][27]}}</li>
                    <li>{{language[curLanguage][28]}}</li>
                    <li>{{language[curLanguage][29]}}</li>
                    <li>{{language[curLanguage][30]}}</li>
                </ul>
            </div>
            <div class="col-sm-12 ">
                <ul class="arrows">
                    <!--<li></li>-->
                    <li>{{language[curLanguage][31]}}</li>
                    <li>{{language[curLanguage][32]}}</li>
                    <li>{{language[curLanguage][33]}}</li>
                    <li>{{language[curLanguage][34]}}</li>
                </ul>
            </div>
            <div class="col-sm-12">
                <ul class="arrows">
                    <li>{{language[curLanguage][35]}}</li>
                </ul>
            </div>
        </div>
        <div class="row top80 hidden-xs hidden-sm hidden-l-sm">
            <div class="col-sm-6 col-md-7">
                <h2>
                    <i class="tfxfont3 xmGears sm "></i>
                    {{language[curLanguage][36]}}
                </h2>
                <!-- <div class="col-md-6 visible-xs">
                    <img class="img-responsive center-block" src="../../../static/images/page-img/mt5/mt5-pc-small.png?v3.0" alt="mt5 pc screenshot">
                </div> -->
                <ul class="arrows top30" style="text-align: initial!important;">
                    <li><strong>{{language[curLanguage][37]}}</strong>{{language[curLanguage][38]}}</li>
                    <li><strong>{{language[curLanguage][39]}}</strong>{{language[curLanguage][40]}}</li>
                    <li>{{language[curLanguage][41]}}</li>
                </ul>
            </div>
            <div class="col-sm-12 hidden-xs top30">
                <img class="img-responsive center-block" src="../../static/images/page-img/mt5/mt5-pc.png?v3.0" alt="mt5 pc screenshot">
            </div>
        </div>
    </div>
    <div class="container-fluid metatrader">
        <div class="row top80 hidden-xs hidden-sm hidden-l-sm">
            <div class="col-md-12 mx-2" style="text-align: initial!important;">
                <h2><i class="tfxfont3 xmTrash sm "></i> {{language[curLanguage][42]}}</h2>
                <ul class="arrows">
                    <li>
                        <span class=" mt4_steps"><strong>{{language[curLanguage][43]}}</strong></span>
                        {{language[curLanguage][44]}}
                    </li>
                    <li>
                        <span class=" mt4_steps"><strong>{{language[curLanguage][45]}}</strong></span>
                        {{language[curLanguage][46]}}
                    </li>
                    <li>
                        <span class=" mt4_steps"><strong>{{language[curLanguage][47]}}</strong></span>
                        {{language[curLanguage][48]}}
                    </li>
                    <li>
                        <span class=" mt4_steps"><strong>{{language[curLanguage][49]}}</strong></span>
                        {{language[curLanguage][50]}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="faq">
        <div class="container-fluid top80">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>{{language[curLanguage][51]}}</h2>
                </div>
            </div>
            <div class="row top20">
                <div class="col-md-12">
                    <div class="panel-group" id="accordion1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">{{language[curLanguage][52]}}</h4>
                                <i class="fa fa-angle-down pull-right"></i>
                            </div>
                            <div id="a1collapse1" class="panel-collapse collapse">
                                <div class="panel-body gray">
                                    <p>{{language[curLanguage][53]}} <router-link to="/register">{{language[curLanguage][54]}}</router-link>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">{{language[curLanguage][55]}}</h4>
                                <i class="fa fa-angle-down pull-right"></i>
                            </div>
                            <div id="a1collapse1" class="panel-collapse collapse">
                                <div class="panel-body gray">
                                    <p>{{language[curLanguage][56]}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">{{language[curLanguage][57]}}</h4>
                                <i class="fa fa-angle-down pull-right"></i>
                            </div>
                            <div id="a1collapse1" class="panel-collapse collapse">
                                <div class="panel-body gray">
                                    <p>{{language[curLanguage][58]}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div><div class="container metatrader top80 hidden-xs hidden-sm hidden-l-sm">
        <div class="row">
            <div class="col-md-12">
                <h2><i class="tfxfont3 xmMobile-devices sm "></i> {{language[curLanguage][59]}}</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="feature-item7 noborder">
                <router-link to="/mt5" class="device">
                    <i class="tfxfont3 xmPc"></i>
                    <p class="text-center top20">{{language[curLanguage][60]}} </p>
                </router-link>
            </div>
            <div class="feature-item7 noborder">
                <router-link to="/mt5-webtrader" class="device">
                    <i class="tfxfont3 xmLaptop"></i>
                    <p class="text-center top20">{{language[curLanguage][61]}}</p>
                </router-link>
            </div>
            <div class="feature-item7 noborder">
                <router-link to="/mt5-ipad" class="device">
                    <i class="tfxfont3 xmIpad"></i>
                    <p class="text-center top20">{{language[curLanguage][62]}}</p>
                </router-link>
            </div>
            <div class="feature-item7 noborder">
                <router-link to="/mt5-iphone" class="device">
                    <i class="tfxfont3 xmIphone"></i>
                    <p class="text-center top20">{{language[curLanguage][63]}}</p>
                </router-link>
            </div>
            <div class="feature-item7 noborder">
                <router-link to="/mt5-android" class="device">
                    <i class="tfxfont3 xmAndroid-phone"></i>
                    <p class="text-center top20">{{language[curLanguage][64]}}</p>
                </router-link>
            </div>
            <!-- <div class="feature-item7 noborder">
                <router-link to="/mt5">
                    <i class="tfxfont3 xmAndroid-tablet"></i>
                    <p class="text-center top20">
                        Android Tablet MT5                </p>
                </router-link>
            </div> -->
        </div>

        </div>
        <div class="container-fluid metatrader">
            <div class="row top50">
                <div class="col-md-12">
                    <h2><i class="tfxfont3 xmZoom sm "></i>{{language[curLanguage][65]}}</h2>
                    <p>{{language[curLanguage][66]}}</p>
                    <p>{{language[curLanguage][67]}}</p>
                    <p>{{language[curLanguage][68]}}</p>
                    <div class="row"></div>
                    <h3 style="font-size: 20px!important;font-weight: 700;">{{language[curLanguage][69]}}</h3>
                    <div class="row"></div>
                    <p>
                        {{language[curLanguage][70]}}<a href="http://crm.hknstpm.com:9999/#">{{language[curLanguage][71]}}</a>
                        {{language[curLanguage][72]}}
                    </p>
                    <p>{{language[curLanguage][73]}}</p>
                    <p>{{language[curLanguage][74]}}</p>
                    <div class="row"></div>
                    <h3 style="font-size: 20px!important;font-weight: 700;">{{language[curLanguage][75]}}</h3>
                    <div class="row"></div>
                    <p>{{language[curLanguage][76]}}</p>
                    <p>{{language[curLanguage][77]}}</p>
                    <div class="row"></div>
                    <h3 style="font-size: 20px!important;font-weight: 700;">{{language[curLanguage][78]}}</h3>
                    <div class="row"></div>
                    <p>{{language[curLanguage][79]}}</p>
                </div>
            </div>
        </div>
    </div>
    <pageFooter />
    </div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {languageCode} from '../utils/lan-code'
import {desktop} from '../utils/mt5-lang'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         language:desktop,

         userInfo:{
            configure:{
            }
         },




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

//    if(this.curLanguage!=2){
//        let pName = this.$route.name.substring(0,this.$route.name.length-2)
//        let pNameStr = pName + languageCode[this.curLanguage]
//        this.$router.push({name:pNameStr});
//    }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){

      let element = document.querySelectorAll(".panel-heading");



      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){


               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }


     document.documentElement.scrollTop = 0


  },



  components: {
    pageHeader,
    pageFooter
  },


  methods: {
     changeLanguage(val){
         this.curLanguage=val;
       console.log(this.curLanguage)
    //    let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
    //    let pNameStr = pName + languageCode[val]
    //    this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     }
  }


};
</script>





<style scoped lang="scss">
.row{
    padding:initial!important;
}
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }

   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }
   .img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
       display: block;
       max-width: 100%;
       height: auto;
   }



   .dis20 {
       height: 20px;
       clear: both;
   }


   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }

 .greenRed-btns{
    .btn{color: #fff;text-align: center;}
    .btn.btn-green{background-color: #12d767;}
    .btn.btn-green:hover{background-color: #29a643;}
    .btn.btn-red{background-color: #d51820;}
    .btn.btn-red:hover{background-color: #b30000;}
    .btn-outline{
       color: #d51820;
       border:1px solid #d51820;
       font-size: 24px;
       padding: 8px 18px !important;
    }
    .btn-outline:hover{
      background-color: #d51820;
      color: #fff;
    }

 }
.greenRed-btns .btn.btn-red {
    font-size: 24px;
    padding: 10px 20px !important;
}

.greenRed-btns .btn.btn-green {
    font-size: 30px;
    padding: 15px 20px !important;
}
.btn-a-box{text-align: center;padding-top: 50px;}
.btn-a{
  display: inline-block;
  width: 450px;
  background-color: #12d767;
  color: #fff;
  font-size: 24px;
  padding:10px 20px;
}
.btn-a:hover{background-color: #29a643;}
.btn-a.download-btn{background-color: #d51820;}
.btn-a.download-btn:hover{background-color:#b30000 ;}





   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }

    #tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
        font-size: 50px;
        margin-top: -25px;
        margin-left: 0;
        right: 20px;
    }
    .collapse {
        display: block;
    }
   .tab-pane .dis30{height: 50px;}
   .panel-collapse.showFlag{display: none;}

   
   footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
    .row h2{text-align: unset;}
    // #accordion1{width: 30%;}
</style>
