<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />



        <div class="page-title">
            <h3>{{language[curLanguage][1]}}</h3>
            <!-- <div class="links">
                <a href="javascript:"><i class="icon icon-plane"></i>发布产品</a>
                <a href="javascript:"><i class="icon icon-product"></i>我的产品</a>
                <a href="javascript:"><i class="icon icon-record"></i>我的订单</a>
            </div> -->

        </div>

        <div class="main">
            <div class="product-list" >
                  <table v-if="productInfo.length!==0">
                       <tr>
                           <th>{{language[curLanguage][2]}}</th>
                           <th>{{language[curLanguage][3]}}</th>
                           <th>{{language[curLanguage][4]}}</th>
                           <th>{{language[curLanguage][5]}}</th>
                           <th>{{language[curLanguage][6]}}</th>
                           <th>{{language[curLanguage][7]}}</th>
                           <th>{{language[curLanguage][8]}}</th>
                           <th>{{language[curLanguage][9]}}</th>
                           <th>{{language[curLanguage][10]}}</th>
                           <th>{{language[curLanguage][11]}}</th>
                           <th>{{language[curLanguage][12]}}</th>
                       </tr>
                       <tr class="line-height">
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                       </tr>
                       <tr v-for="(item,index) in productInfo" :key="index">
                           <td>{{item.products.t_fpid}}</td>
                           <td>{{item.content.t_name}}</td>
                           <td>
                             <span class="state" :class="{green:item.products.t_state==1,red:item.products.t_state==2||item.products.t_state==4||item.products.t_state===0}">{{productStateGroup[item.products.t_state]}}</span>
                           </td>
                           <td>{{item.products.t_stime}}</td>
                           <td>{{item.products.t_month}}&nbsp;{{language[curLanguage][29]}}</td>
                           <td>{{profitType[item.products.t_profit_type]}}  </td>
                           <td v-if="item.products.t_profit_type===0">{{item.products.t_profit_income}}%</td>
                           <td v-if="item.products.t_profit_type==1">{{item.products.t_profit_val}}%</td>
                           <td>{{item.products.t_max_quota}}</td>
                           <td>{{item.products.t_min_quota}}</td>
                           <td>{{item.products.t_quota}}</td>
                           <td>
                             <span class="operation" @click="viewDetails(item)">{{language[curLanguage][13]}}</span>
                             <span class="cancel">
                                <i @click="closeBefore(item.products.t_fpid)" v-if="item.products.t_state===0">{{language[curLanguage][44]}}</i>
                             </span>
                           </td>
                       </tr>
                  </table>
                  <div class="empty" v-if="productInfo.length===0">
                       <i class="icon icon-record"></i>
                       <span>{{language[curLanguage][55]}}</span>
                  </div>
            </div>
            <div class="fin-pro-details">
                <el-dialog
                    :title="productDetails.data.content.t_name"
                    :visible.sync="productDetails.dialogFlag"
                    :close-on-click-modal = "true"
                    width="60%">
                    <div class="dialog-head-box">
                        <span :class="{active:productsRecords.tabIndex===0}" @click="handleProDetailsTab(0)">{{language[curLanguage][46]}}</span>
                        <span :class="{active:productsRecords.tabIndex==1}" @click="handleProDetailsTab(1)">{{language[curLanguage][47]}}</span>
                        <span :class="{active:productsRecords.tabIndex==2}" @click="handleProDetailsTab(2)">{{language[curLanguage][48]}}</span>
                        <span :class="{active:productsRecords.tabIndex==3}" @click="handleProDetailsTab(3)">{{language[curLanguage][49]}}</span>
                    </div>
                    <div class="product-info" v-if="productsRecords.tabIndex===0">
                        <div class="upper clearfix">
                            <div class="item">{{language[curLanguage][14]}} <i>{{productDetails.data.products.t_time}}</i> </div>
                            <div class="item">{{language[curLanguage][15]}} <i>{{productDetails.data.products.t_stime}}</i></div>
                            <div class="item">{{language[curLanguage][16]}} <i>{{productDetails.data.products.t_etime}}</i></div>
                            <div class="item">{{language[curLanguage][17]}} <i>{{productDetails.data.products.t_month}}</i>&nbsp;{{language[curLanguage][29]}}</div>
                            <div class="item">{{language[curLanguage][18]}} <i>{{productDetails.data.products.t_principal}}</i></div>
                            <div class="item">{{language[curLanguage][19]}} <i>{{profitType[productDetails.data.products.t_profit_type]}}</i></div>
                            <div class="item">{{language[curLanguage][20]}}
                              <i v-if="productDetails.data.products.t_profit_type===0">{{productDetails.data.products.t_profit_income}}</i>
                              <i v-if="productDetails.data.products.t_profit_type===1">{{productDetails.data.products.t_profit_val}}</i>
                              %
                            </div>
                            <div class="item">{{language[curLanguage][12]}} <i>{{productDetails.data.products.t_max_quota}}</i></div>
                            <div class="item">{{language[curLanguage][22]}} <i>{{productDetails.data.products.t_min_quota}}</i></div>
                            <div class="item">{{language[curLanguage][23]}} <i>{{productDetails.data.products.t_quota}}</i></div>
                        </div>
                        <div class="under">
                            <h5>{{language[curLanguage][24]}}</h5>
                            <div style="padding:10px 0" v-html="productDetails.data.content.t_remarks"></div>
                            <div class="link-list">
                               <a :href="productDetails.data.content.t_pdfexplain" target="_blank">{{language[curLanguage][25]}}</a>
                               <a :href="'https://www.nskytrade.com/#/contract?pid=' + productDetails.data.products.t_fpid + '&l=' + curLanguage " target="_blank">{{language[curLanguage][26]}}</a>
                               <!-- <a :href="'https://www.nbstraders.com/#/contract-en?pid=' + productDetails.data.products.t_fpid + '&l=' + curLanguage " target="_blank" v-if="curLanguage==2">{{language[curLanguage][26]}}</a> -->

                            </div>
                        </div>
                    </div>
                    <div class="product-order-records" v-if="productsRecords.tabIndex==1">
                        <table>
                            <tr>
                               <th>{{language[curLanguage][50]}}</th>
                               <th>{{language[curLanguage][51]}}</th>
                               <th>{{language[curLanguage][52]}}</th>
                               <th>{{language[curLanguage][53]}}</th>
                               <th>{{language[curLanguage][54]}}</th>
                            </tr>
                            <tr v-for="(item,index) in productsRecords.orderRecords" :key="index">
                               <td>{{item.t_foid}}</td>
                               <td>{{item.t_fouid}}</td>
                               <td>{{item.t_amount}}</td>
                               <td>{{item.t_profit}}</td>
                               <td>{{item.t_time}}</td>
                            </tr>
                        </table>
                        <div class="empty" v-if="productsRecords.orderRecords.length===0">
                             <i class="icon icon-record"></i>
                             <span>{{language[curLanguage][55]}}</span>
                        </div>
                    </div>

                    <div class="product-flows" v-if="productsRecords.tabIndex==2">
                         <table>
                             <tr>
                                <th>{{language[curLanguage][56]}}</th>
                                <th>{{language[curLanguage][57]}}</th>
                             </tr>
                             <tr v-for="(item,index) in productsRecords.flows" :key="index">
                                <td>{{item.t_time}}</td>
                                <td>{{item.t_number}}</td>
                             </tr>
                         </table>
                         <div class="empty" v-if="productsRecords.flows.length===0">
                              <i class="icon icon-record"></i>
                              <span>{{language[curLanguage][55]}}</span>
                         </div>
                    </div>

                    <div class="product-trad-history" v-if="productsRecords.tabIndex==3">
                         <table>
                             <tr>
                                <th>{{language[curLanguage][58]}}</th>
                                <th>{{language[curLanguage][59]}}</th>
                                <th>{{language[curLanguage][60]}}</th>
                                <th>{{language[curLanguage][61]}}</th>
                                <th>{{language[curLanguage][62]}}</th>
                             </tr>
                             <tr v-for="(item,index) in productsRecords.tradHistory" :key="index">
                                <td>{{item.t_code }}</td>
                                <td>{{item.t_entry === 0?language[curLanguage][63]:language[curLanguage][64]}}</td>
                                <td>{{item.t_action === 0?language[curLanguage][65]:language[curLanguage][66]}}</td>
                                <td>{{item.t_price}}</td>
                                <td>{{item.t_profit}}</td>

                             </tr>
                         </table>

                         <div class="empty" v-if="productsRecords.tradHistory.length===0">
                              <i class="icon icon-record"></i>
                              <span>{{language[curLanguage][55]}}</span>
                         </div>

                         <div class="f-pro-pagination-box " v-if="productsRecords.total>productsRecords.pageSize">
                             <el-pagination
                               layout="prev, pager, next"
                               @current-change="handlePaginationIndex"
                               :total="productsRecords.total"
                               :page-size="productsRecords.pageSize">
                             </el-pagination>
                         </div>

                    </div>

                </el-dialog>
            </div>
        </div>

        <el-dialog
            title=""
            :visible.sync="closeProductFlag"
            width="30%">
            <span style="font-size: 16px;color: #f5f5f5;">{{language[curLanguage][41]}}</span>
            <span slot="footer" class="dialog-footer">

               <el-button @click="closeProductFlag = false">{{language[curLanguage][43]}}</el-button>
               <el-button type="danger" @click="closeFinancialProducts(closeProductId)">{{language[curLanguage][42]}}</el-button>
            </span>
        </el-dialog>

        <pageFooter ref="pageFooter" />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {myProducts} from '../utils/language'
import BigNumber from 'bignumber.js';
import moment from 'moment'



export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         language:myProducts,

         languageGroup:{
             1:'zh',
             2:'en',
             3:'tr',
             4:'ar',
             5:'fa'
         },
         userInfo:{
            configure:{
            }
         },

         productInfo:{

         },
         productDetails:{
            dialogFlag:false,
            data:{
              content:{},
              products:{}
            },

         },
         profitType:{
            0:'固定年利率(年化)',
            1:'盈利分成'
         },
         productStateGroup:{
            0:'审核中',
            1:'募集中',
            2:'运行中',
            3:'运行中',
            4:'已拒绝',
            5:'用户撤销',
            6:'过期失败'
         },

         systemGroup:{
           1:'现货',
           2:'期货',
           3:'股票',
           4:'黄金',
         },
         closeProductFlag:false,
         closeProductId:'',
         productsRecords:{
           tabIndex:0,
           orderRecords:[],
           flows:[],
           tradHistory:[],
           pageIndex:1,
           pageSize:5,
           total:0
         }



    };
  },
   metaInfo() {
       return{
          title: this.curLanguage==1?'我的产品 - N Sky':'My products - N Sky',
       }

   },
  created(){


    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       this.getUserInfo();
       this.getFinancialProducts()
   }else{
         this.localStore.setItem('fromPage','myProducts');
         this.$router.push({name:'login'});
         return;
     }



   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  components: {
    pageHeader,
    pageFooter
  },


  methods: {

     settingAPIDataLanguage(){
         let profitType = {
               0:this.language[this.curLanguage][27],
               1:this.language[this.curLanguage][28]
             }

          let productStateGroup = {
                0:this.language[this.curLanguage][30],
                1:this.language[this.curLanguage][31],
                2:this.language[this.curLanguage][32],
                3:this.language[this.curLanguage][33],
                4:this.language[this.curLanguage][34],
                5:this.language[this.curLanguage][35],
                6:this.language[this.curLanguage][36]
             }

             let systemGroup = {
               1:this.language[this.curLanguage][37],
               2:this.language[this.curLanguage][38],
               3:this.language[this.curLanguage][39],
               4:this.language[this.curLanguage][40]
             }

         this.profitType = profitType
         this.productStateGroup = productStateGroup
         this.systemGroup = systemGroup

     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     viewDetails(val){
        this.productDetails.data.content = val.content;
        this.productDetails.data.products = val.products;
        this.productDetails.dialogFlag = true;
     },
     getUserInfo(){
         const api = this.$api.url.userVerify1;
         const params = {
            Device:'web',
            Uid:this.userLoginInfo.userID,
            Token:this.userLoginInfo.session
         }
         this.$axios.get(api,{params:params})
         .then((res)=>{
             if(res.data.code==0){
                let data = JSON.parse(res.data.data);
                this.userInfo = data

                if(this.userInfo.configure==null){
                   this.userInfo.configure = {
                      t_actuals_gid: null,
                      t_actuals_state: null,
                      t_actuals_uid: null,
                      t_futures_gid: null,
                      t_futures_state: null,
                      t_futures_uid: null,
                      t_other_gid: null,
                      t_other_state: null,
                      t_other_uid: null,
                      t_shares_gid: null,
                      t_shares_state: null,
                      t_shares_uid: null,
                      t_uid: null
                   }
                }


               // this.userInfo.u_country = this.userCountry;
               this.localStore.setItem('userInfo',this.userInfo)


               if(data.configure.t_actuals_state == 2||data.configure.t_futures_state == 2||data.configure.t_shares_state == 2||data.configure.t_other_state == 2){
                  this.assetStateFlag = true;
               }

             }else if(res.data.code==1011||res.data.code==1006){

                 this.$refs.pageHead.logout();
                 this.isLogin = false;
                 this.$router.push({name:'login'});
             }else{
               // let resultMsg = this.getStateCodeText(res.data.code);
               this.$message({
                 message:'错误',
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })

     },


     //     const api = this.$api.url.FinancialProducts;
     //     const params = {
     //        Device:'web',
     //        Uid:this.userLoginInfo.userID,
     //        Token:this.userLoginInfo.session
     //     }
     //     this.$axios.get(api,{params:params})
     //     .then((res)=>{
     //         if(res.data.code==0){

     //             let data = JSON.parse(res.data.data)

     //             data.forEach(item=>{
     //                item.products.t_stime = moment(item.products.t_stime).format('YYYY-MM-DD');
     //                item.products.t_etime = moment(item.products.t_etime).format('YYYY-MM-DD');
     //                item.products.t_time = moment(item.products.t_time).format('YYYY-MM-DD');
     //                item.products.t_month = BigNumber(item.products.t_day).div(30).dp(0).toNumber();
     //             })
     //             this.productInfo = data



     //         }else if(res.data.code==1011||res.data.code==1006){

     //             this.$refs.pageHead.logout();
     //             this.isLogin = false;
     //             this.$router.push({name:'login'});
     //         }else{
     //           // let resultMsg = this.getStateCodeText(res.data.code);
     //           this.$message({
     //             message:'错误' + res.data.msg,
     //             type: "error",
     //             center: true,
     //             duration:2000
     //           })
     //         }

     //     }).catch((error)=>{
     //         this.$message({
     //           message: error,
     //           type: "error",
     //           center: true,
     //         duration:2000
     //         })
     //       })

     // },


     getFinancialProducts(type){
         const api = this.$api.url.FinancialProducts;
         let params = {
           Device:'web',
           Uid:this.userLoginInfo.userID,
           Token:this.userLoginInfo.session
         }
         if(type=='designate'){
            params = {
               Fpid:this.productDetails.data.products.t_fpid,
               Language:this.languageGroup[this.curLanguage]
            }
         }


         this.$axios.get(api,{params:params})
         .then((res)=>{
             // this.financialProducts.loading = false;
             if(res.data.code==0){



                let data = JSON.parse(res.data.data)

                if(type=='designate'){

                   if(data.length>0){

                      data[0].orders.forEach(item=>{
                         item.t_time = moment(item.t_time).format('YYYY-MM-DD HH:mm:ss');
                      })

                      data[0].flows.forEach(item=>{
                         item.t_time = moment(item.t_time).format('YYYY-MM-DD HH:mm:ss');
                      })


                      this.productsRecords.orderRecords = data[0].orders
                      this.productsRecords.flows = data[0].flows
                   }

                   return
                }


               data.forEach(item=>{
                  item.products.t_stime = moment(item.products.t_stime).format('YYYY-MM-DD');
                  item.products.t_etime = moment(item.products.t_etime).format('YYYY-MM-DD');
                  item.products.t_time = moment(item.products.t_time).format('YYYY-MM-DD');
                  item.products.t_month = BigNumber(item.products.t_day).div(30).dp(0).toNumber();
               })
               this.productInfo = data

             }else if(res.data.code==1011||res.data.code==1006){

               this.$refs.pageHead.logout();
               this.isLogin = false;
               this.$router.push({name:'login'});
             }else{

               this.$message({
                 message:'获取理财产品列表失败！' + res.data.msg,
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })

     },


     getFinancialTradHistory(){
         const api = this.$api.url.FinancialTradHistory;
         let params = {
            PageSize:this.productsRecords.pageSize,
            PageIndex:this.productsRecords.pageIndex,
            Fpid:this.productDetails.data.products.t_fpid
         }


         // this.financialProducts.loading = true;
         this.$axios.get(api,{params:params})
         .then((res)=>{
             // this.financialProducts.loading = false;
             if(res.data.code==0){



                let data = JSON.parse(res.data.data)




                data.forEach(item=>{
                   item.t_time = moment(item.t_time).format('YYYY-MM-DD HH:mm:ss');
                })




                this.productsRecords.tradHistory = data;
                this.productsRecords.total = res.data.count

             }else if(res.data.code==1011||res.data.code==1006){

                 console.log('用户验证不通过')
                 // this.$refs.pageHead.logout();
                 // this.isLogin = false;
                 // this.$router.push({name:'login'});
             }else{

               this.$message({
                 message: res.data.msg,
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })

     },

     handleProDetailsTab(val){
         this.productsRecords.tabIndex = val;
         if(val==1||val==2){
            this.getFinancialProducts('designate');
            return
         }
         if(val==3){
            this.getFinancialTradHistory();

         }


     },

     handlePaginationHistory(val){
         this.productsRecords.pageIndex = val;
         this.getFinancialTradHistory();

     },

     closeFinProDetails(){

        this.productsRecords.tabIndex = 0;
        this.productsRecords.pageIndex = 1;
        this.productsRecords.total = 0;
     },
     closeBefore(val){
       this.closeProductFlag = true;
       this.closeProductId = val;
     },
     closeFinancialProducts(){
         const api = this.$api.url.FinancialProducts;
         const params = {
            Device:'web',
            Uid:this.userLoginInfo.userID,
            Token:this.userLoginInfo.session,
            FpId:this.closeProductId
         }
         this.$axios.get(api,{params:params})
         .then((res)=>{
             this.closeProductFlag = false
             if(res.data.code==0){

                 this.$message({
                   message:this.language[this.curLanguage][45],
                   type: "success",
                   center: true,
                   duration:2000
                 })

                 this.getFinancialProducts();

             }else if(res.data.code==1011||res.data.code==1006){

                 this.$refs.pageHead.logout();
                 this.isLogin = false;
                 this.$router.push({name:'login'});
             }else{
               // let resultMsg = this.getStateCodeText(res.data.code);
               this.$message({
                 message:'错误' + res.data.msg,
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })

     },
     changeLanguage(val){

       this.curLanguage = val;
       this.settingAPIDataLanguage();
      // this.$refs.pageFooter.handleLan();
     },


  }


};
</script>





<style scoped lang="scss">

  .page-title{height: 75px;line-height: 50px;padding-top: 25px;width: inherit;margin: 0 auto;
     h3{font-size: 24px;float: left;}

  }


   .product-list{width: inherit;margin: 50px auto;min-height: calc(100vh - 450px);
      table{width: 100%;}
      th,td{text-align: center;border-bottom: 1px solid #eee;height: 50px;padding:0 !important;}
      th{color: #aaa;font-weight: normal;background-color: #f5f5f5;border-radius: 3px 3px 0 0;}
      td{height: 70px;padding-top: 10px;border-color: #cecece;}
      i{color: #aaa;}
      i.green{color: #74c109;}
      i.red{color: #D51820;}
      span{cursor: pointer;color: #74c109;}
      span.state{color: #aaa;}
      span.state.black{color: #000;}
      span.state.green{color: #74c109;}
      span.state.red{color: #D51820;}
      span.operation:hover{text-decoration: underline;}
      span.cancel{
        i{color: #f00;}
      }
      tr.line-height td{height: 10px;border:0;}
      // tr td:first-child,tr th:first-child{text-align: left;}
   }


  .fin-pro-details .upper{background-color: #fff;border-radius: 3px;padding: 10px 0;margin-bottom: 10px;border:1px solid #eee;border-radius: 5px;}

  .fin-pro-details .item{width: 20%;float: left;padding:5px 15px;color: #888;}
  .fin-pro-details .item i{color: #000;margin-left: 5px;}
  .fin-pro-details .under{padding:15px;margin-top: 15px;border:1px solid #eee;border-radius: 3px;max-height: 410px;overflow: auto;
     h5{font-size: 18px;color: #000;}
     p{padding:15px 0;}
     a{color: #74c109;margin-right: 10px;}
     a:hover{text-decoration: underline;}
  }


   .fin-pro-details{
      .dialog-head-box{
         height: 35px;line-height: 35px;margin-bottom: 20px;
         span{margin:0 10px;font-size: 16px;color: #888;position: relative;float:left;cursor: pointer;}
         span.active{color: #000;
            &:after{content: "";position: absolute;width: 100%;height: 2px;background-color: #74c109;bottom: 0;left:0;}
         }
      }
      table{width: 100%;}
      th,td{height: 50px;text-align: center;}
      th{background-color: #f5f5f5;}
      td{border-bottom: 1px solid #ddd;}
      .product-order-records{}
      .product-flows{}
      .product-trad-history{}
      .product-info,.product-order-records,.product-flows,.product-trad-history{min-height: 230px;}
      .empty{
         i{font-size: 60px;line-height: 80px;}
       }
   }

   
   footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
   h4, .h4, h5, .h5, h6, .h6 {
       margin-top: 0;
       margin-bottom: 0;
   }

   .empty{text-align: center;padding-top: 50px;box-shadow:0 0 0 rgba(0, 0, 0, 0) !important;
      i{font-size: 80px;color: #cecece;display: block;line-height: 100px;}
      span{font-size: 16px;color: #aaa;}

   }
   .dialog-footer{
      button{width: 100px;;}
   }
</style>

<style>
   /* .fin-pro-details .el-dialog{width: inherit !important;background: #fff;} */
   .fin-pro-details .el-dialog__title{color: #000;font-size: 18px;}
   .fin-pro-details .el-dialog__header{padding-bottom: 8px;}
   .fin-pro-details .el-dialog__body{color: #333;padding:10px 20px 20px;}
</style>
