<template>
		<div class="wrap" @click="hideMenu" v-bind:class="{rightToLeft:(curLanguage==4||curLanguage==5)}">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="row headering">
          <div class="page-title">
              <h3>{{language[curLanguage][1]}}</h3>
              <div class="links">
                  <router-link to="/publish" v-if="isLogin"><i class="icon icon-plane"></i>{{language[curLanguage][2]}}  </router-link>
                  <router-link to="/login?page=publish" v-if="!isLogin"><i class="icon icon-plane"></i>{{language[curLanguage][2]}}</router-link>

                  <router-link to="/my-products" v-if="isLogin"><i class="icon icon-product"></i>{{language[curLanguage][3]}}</router-link>
                  <router-link to="/login?page=myProducts" v-if="!isLogin"><i class="icon icon-product"></i>{{language[curLanguage][3]}}</router-link>

                <router-link to="/f-order" v-if="isLogin"><i class="icon icon-record"></i>{{language[curLanguage][4]}}</router-link>
                <router-link to="/login?page=fOrder" v-if="!isLogin"><i class="icon icon-record"></i>{{language[curLanguage][4]}}</router-link>
              </div>
          </div>

          <div class="filter">
              <div class="tab-head">
                  <router-link :to="{name:'products',params:{type:3}}" id="filters">{{language[curLanguage][6]}}</router-link>
                  <router-link :to="{name:'products',params:{type:4}}" id="filters">{{language[curLanguage][7]}}</router-link>
                  <router-link to="/product-Introduction" class="active" id="filters">{{language[curLanguage][5]}}</router-link>
                  <router-link :to="{name:'products',params:{type:6}}" id="filters">{{language[curLanguage][8]}}</router-link>
              </div>
          </div>
        </div>

        <div class="row white" style="background: url('../../static/images/ETFs-Hero-Banner-.jpg');height: 500px;background-position: center;">
                <!--<img src="../../../static/images/ETFs-Hero-Banner-.jpg" />-->
                <div class="container-fluid text-center " style="padding-top:1.5rem;">
                    <h1 class="HeroLoadtext" style="font-family: 'Montserrat', sans-serif; font-weight:bold;font-size: 40px;">
                        {{language[curLanguage][9]}}
                    </h1><br />
                    <h2 class="HeroLoadtextSub" style="font-weight: bold; font-family: 'Montserrat', sans-serif; font-size:35px;padding-top:0.8rem;">
                       {{language[curLanguage][10]}}
                    </h2>

                </div>

            </div>
            <div class=" row blueSectionBg">
                <div class="container-fluidcontainer-fluid2 ">
                    <div class="row">

                        <div class="col-12 LBrick " style=" background: url('../../static/images/peace-of-mind.jpg');
                            height: 450px; background-size: cover;">
                            <h2 class="title" style="padding: 25px 25px; z-index: 9; color: white; position: absolute;width:90%; top: 18vh;text-align:center"> {{language[curLanguage][11]}} <b> {{language[curLanguage][12]}} </b> </h2>
                            <div class="text-left white small" style="padding: 25px 25px; z-index: 9; color: white; position: absolute; width:90%; top: 30vh;text-align:center!important;">{{language[curLanguage][13]}}  <b>{{language[curLanguage][14]}}</b>  {{language[curLanguage][15]}}</div>
                            <div class="overlay">

                            </div>
                        </div>
                        <div class="col-12 RBrick" style="padding:1rem;">
                            <div class="left">
                                <h2 class="title" style=" padding: 20px 20px;text-align:center"><b>{{language[curLanguage][16]}}</b></h2>
                                <p class="generalText" style=" padding: 10px 25px;text-align:center">
                                   {{language[curLanguage][17]}}
                                </p>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="row section-light">
                <div class="container-fluidcontainer-fluid2 ">

                    <div class="row">
                        <div class="col-12 RBrick " style="background: url('../../static/images/depoProtectBrick.jpg');
        height: 450px; background-size: cover;">
                            <h2 class="title" style="padding: 25px 25px; z-index: 9; color: white; position: absolute; width:90%;text-align:center; top: 18vh;"> <b> {{language[curLanguage][23]}} </b> <br /><div class="text-center">{{language[curLanguage][24]}}</div></h2>
                            <div class="overlay">

                            </div>
                        </div>
                        <div class="col-12 LBrick" style="padding:0.5rem;">
                            <div class="left">
                                <h2 class="title" style=" padding: 25px 25px;text-align:center">{{language[curLanguage][18]}}<b> {{language[curLanguage][19]}} </b></h2>
                                <p class="generalText" style="padding:30px;padding-top:0px;text-align:center">
                                    {{language[curLanguage][20]}}<br>{{language[curLanguage][21]}}
                                </p>
                                <p class="generalText" style="padding:30px;padding-top:0px;text-align:center">
                                    {{language[curLanguage][22]}}
                                </p>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
            <div class=" row blueSectionBg">

                <div class="container-fluidcontainer-fluid2 ">

                    <div class="row">

                        <div class="col-12 LBrick " style=" background: url('../../static/images/Stocks_v2.png');
        height: 450px; background-size: cover;">
                            <h2 class="title" style="padding: 25px 25px; z-index: 9; color: white; position: absolute; width:90%; top: 18vh;text-align:center"> <b> {{language[curLanguage][25]}} </b> </h2>
                            <div class="text-left white small" style="padding: 25px 25px; z-index: 9; color: white; position: absolute;width:90%; top: 34vh;text-align:center!important"> <b>{{language[curLanguage][26]}} </b> </div>
                            <div class="overlay">

                            </div>
                        </div>
                        <div class="col-12 RBrick" style="padding:0.5rem;">
                            <div class="left">
                                <h2 class="title" style=" padding: 20px 25px;text-align:center"><b> {{language[curLanguage][27]}} </b></h2>
                                <p class="generalText" style=" padding: 10px 30px;text-align:center">
                                    {{language[curLanguage][28]}}
                                    <br> {{language[curLanguage][29]}}
                                </p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div id="seesaw" class="row section-light hDIWSection" style="background: url('../../static/images/seesaw-coins.png');
        background-size: cover; background-position: center;">
        
                <div class="col-12" style="background: rgba(0, 0, 0, .35);  height: -webkit-fill-available;">
                    <div class="container-fluidcontainer-fluid3container-fluid4 " style="padding:25px">
                        <h1 class="text-center white pb-1" style=" font-family: 'Montserrat', sans-serif; font-size: 30px; ">
                            {{language[curLanguage][30]}}
                        </h1>
                        <div class="row pt-2 pb-3">
                            <div class="col-12 text-center white px-2 ">
                                <span><img src="../../static/images/investorGroupWhite.png" style="height:30%"/></span>
                                <br />
                                <p class="pt-1 justi">
                                    {{language[curLanguage][31]}}
                                </p>
                            </div>
                            <div class="col-12 text-center white px-2 ">
                                <span><img src="../../static/images/financeGrowthWhite.png"  style="height:30%"/></span>
                                <br />
                                <p class="pt-1 justi">
                                    {{language[curLanguage][32]}} <b>{{language[curLanguage][33]}}</b> {{language[curLanguage][34]}}
                                </p>
                            </div>
                            <div class="col-12 text-center white px-2 ">
                                <span><img src="../../static/images/paperMoneyWhite.png"  style="height:30%"/></span>
                                <br />
                                <p class="pt-1 justi">
                                    {{language[curLanguage][35]}} <b tex> {{language[curLanguage][36]}}</b>
                                </p>
                            </div>
                          

                        </div>

                    </div>
                </div>
                

            </div>
            <!-- <div class="row py-3">
                <div class="container-fluid">
                    <h1 class="text-center  pb-2 " id="datacounters" style=" font-family: 'Montserrat', sans-serif; color:#53455b; ">
                        Can it be that easy?
                    </h1>
                    <h3 class="text-center  pb-2" style=" font-family: 'Montserrat', sans-serif; color:#53455b; ">
                        with  NobelSky™  a multi-regulated, award-winning leading forex and CFD broker. <b>It Is.</b>
                    </h3>
                    <div class="content">
                        <div class="data bold">
                            <ul>
                                <li>
                                    <span class="num clients" style="color:#53455b">0</span>
                                    <span class="title title-tweets " style="color: rgb(102, 153, 0);">Satisfied Clients</span>
                                </li>
                                <li>
                                    <span class="num experts" style="color:#53455b">0</span>
                                    <span class="title title-followers" style="color: rgb(255, 136, 0);">Master Experts</span>
                                </li>
                                <li>
                                    <span class="num products" style="color:#53455b">0</span>
                                    <span class="title title-following" style="color: rgb(204, 0, 0);">Financial Freedom Products</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div> -->
            <div class="row productBody">
                <div class="container-fluid">
                    <h1 class="text-center white pb-3 pt-2" style=" font-family: 'Montserrat', sans-serif; ">
                        {{language[curLanguage][37]}}
                    </h1>
                </div>
                <div class="container-fluid">
                    <div class=" group">
                        <div class="grid-1-5">
                            <h2 class="py-1" id="boxes">{{language[curLanguage][38]}}</h2>
                            <h3 class="pb-1"><span class="uppercase">  {{language[curLanguage][39]}}</span></h3>
                            <p>{{language[curLanguage][40]}}</p>
                            <ul>
                                <li>{{language[curLanguage][41]}}</li>
                                <li>{{language[curLanguage][42]}}</li>
                                <li>{{language[curLanguage][43]}}</li>
                            </ul>

                        </div>
                        <div class="grid-1-5">
                            <h2 class="py-1" id="boxes">{{language[curLanguage][44]}}</h2>
                            <h3 class="pb-1"> {{language[curLanguage][45]}}</h3>
                            <p> {{language[curLanguage][46]}}</p>
                            <ul>
                                <li> {{language[curLanguage][47]}}</li>
                                <li> {{language[curLanguage][48]}}</li>
                                <li> {{language[curLanguage][49]}} </li>
                            </ul>

                        </div>

                    </div>
                </div>
                <div class="container-fluid">
                    <div class="container-fluid text-center pt-3 pb-1">
                        <router-link to="/product-introduce" class="text-md prodBtn btn-primary d-inline-block"> {{language[curLanguage][50]}} </router-link>
                    </div>
                </div>

            </div>


            <div class="container-fluid pb-2" style="font-family: 'Titillium Web', sans-serif;">
                <div class="row py-2 center">
                    <div class="container-fluid text-center"><h1 class="py-2">{{language[curLanguage][51]}}</h1></div>
                    <ul class="ulist">
                        <li>
                            <input type="checkbox" checked>
                            <i :class="{rightIcon:curLanguage==4||curLanguage==5}"></i>
                            <h3 class="fontie">{{language[curLanguage][52]}}</h3>
                            <p class="para">
                                {{language[curLanguage][53]}}
                            </p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <i :class="{rightIcon:curLanguage==4||curLanguage==5}"></i>
                            <h3 class="fontie">{{language[curLanguage][54]}}</h3>
                            <p class="para">{{language[curLanguage][55]}}</p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <i :class="{rightIcon:curLanguage==4||curLanguage==5}"></i>
                            <h3 class="fontie">{{language[curLanguage][56]}}</h3>
                            <p class="para">
                                {{language[curLanguage][57]}}
                            </p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <i :class="{rightIcon:curLanguage==4||curLanguage==5}"></i>
                            <h3 class="fontie">{{language[curLanguage][58]}}</h3>
                            <p class="para">
                                {{language[curLanguage][59]}}
                            </p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <i :class="{rightIcon:curLanguage==4||curLanguage==5}"></i>
                            <h3 class="fontie">{{language[curLanguage][60]}}</h3>
                            <p class="para">{{language[curLanguage][61]}}</p>
                        </li>
                    </ul>

                </div>
            </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {languageCode} from '../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },
       language: {
          1: {
            1: '金融产品',
            2: '产品发布',
            3: '我的产品',
            4: '我的订单',
            5: '财务简介',
            6: '提高',
            7: '正在运行',
            8: '产品规则',
            9: '引进',
            10: ' N Sky™财务自由产品',
            11: '完成',
            12: '心灵和平',
            13: '结束',
            14: ' 150名金融专家',
            15: '具有多年的金融领域经验',
            16: '将交易留给专家',
            17: '拥有150多位行业领先的金融专家，您可以安心地休息，而专家则负责其余的工作，这样您就可以过上最美好的生活。您可以在睡觉时赚钱，让专家做辛苦的工作.',
            18: '至',
            19: '两万美元保护',
            20: '屡获殊荣的外汇和CFD经纪人N Sky™通过新型创新的风险管理工具N Sky™ Protect引入了降低风险的新标准。',
            21: "这项独特的风险管理功能使您可以在特定时间范围内保护特定交易免受高达两万欧元的损失', 所有这些，以便我们可以继续证明我们对客户群的专注程度，并确保我们作为领先的可信赖经纪人的地位",
            22: ' N Sky™Protect是公司对客户成功和满意度的持续承诺的一部分，并且只能在N Sky™的平台上使用',
            23: '没有存款损失',
            24: '保证',
            25: '信任交易',
            26: ' CGSE™的交易许可并由两个独立的监管机构监管',
            27: '超过50万的满意客户',
            28: '自2009年成立以来，N Sky™已发展成为国际知名的投资公司，并且是该行业的真正领导者，拥有超过500,000个客户。N Sky™目前拥有150多名在金融领域拥有多年经验的专业人员在N Sky™中，客户资金的安全是我们的重中之重。我们与全球顶尖的投资银行合作，分别存储公司帐户和客户资金，以确保客户资金的安全。',
            29: '这项独特的风险管理功能使您可以保护特定交易在选定的时间范围内免受高达一百万美元的损失，所有这些都是以购买时支付的适度对冲成本为交换条件的.',
            30: '如何运作？',
            31: '投资者将金融自由产品作为本金进行投资，而主交易者将其私人股权作为交易资本。',
            32: '主交易员使用合并的资金作为保证金来进行更大的交易，这使他们可以赚更多的钱，同时，',
            33: '只有',
            34: '冒着交易员自己的私募股权的风险。在所有情况下，N Sky保证了投资者本金。',
            35: '交易周期结束后，N Sky™根据Financial Freedom产品的分配方法分配了利润。实际上，您在睡觉时就在赚钱，',
            36: '就是这么简单！',
            37: ' N Sky™金融自由产品',
            38: '固定收益',
            39: '放心',
            40: '固定的投资回报率百分比',
            41: '无损失存款',
            42: '根据存款保证的％回报率',
            43: '无论市场如何发展',
            44: '利润分享',
            45: '潜力无限',
            46: '固定总利润百分比回报率',
            47: '减少损失',
            48: '更高的奖励',
            49: '无限的赚钱潜力',
            50: '查看产品',
            51: '常见问题',
            52: '财务自由产品将花费我多少？',
            53: ' N Sky™对使用Financial Freedom产品不收取任何费用',
            54: "使用'财务自由',产品所需的最低金额是多少？",
            55: '购买金融自由产品的最低金额为1000美元',
            56: '产品交易期结束后，我的帐户中的资金转移需要多长时间？',
            57: ' N Sky™一旦完成交易周期并在1个工作日内分配了资金，就会自动关闭该基金',
            58: '我有可能失去我的存款吗？',
            59: '不它不是。 主要原则只能用作开立较大交易的保证金，并且在交易的负余额达到次等本金的情况下，基金将自动关闭',
            60: '我想要的不仅仅是固定的百分比回报，这有可能吗？',
            61: '就在这里！ 利润分享产品使投资者可以获得总利润的一定百分比，而不是固定的收益'
          },
          2: {
            1: 'Financial Products',
            2: 'Product release',
            3: 'My product',
            4: 'My order',
            5: 'Financial introduction',
            6: 'Raising',
            7: 'Running',
            8: 'Product rules',
            9: 'INTRODUCING',
            10: ' N Sky™ Financial Freedom products',
            11: 'Complete',
            12: 'Peace of Mind',
            13: 'over',
            14: '150 financial experts',
            15: ' with many years of experience in financial field',
            16: 'Leave the trading to the Experts',
            17: "With over 150 industtry leading financial experts, you can rest easy while the experts take care of the rest, so you can go on to live your best life. You can literally be making money while you sleep, and let the experts do the hard work.",
            18: 'Up To',
            19: 'Twenty Thousand Dollars Protection',
            20: ' N Sky™ , the award-winning leading forex and CFD broker, introduces a new standard in risk reduction with N Sky™ Protect, a new and innovative risk managment tool.',
            21: "This unique risk management feature allows you to protect a specific trade against losses of up to twenty thousand euros over a chosen time frame',all of this, so that we may continue to prove how dedicated we are to our client base, and to assure our place as the leading trusted brokerage",
            22: ' N Sky™ Protect was developed as part of the company’s ongoing commitment to client success and satisfaction and is available exclusively on N Sky™’s platforms',
            23: 'No Loss of Deposit',
            24: 'Guaranteed',
            25: 'Trade With Trust',
            26: 'trading license by CGSE™ and regulated by two seperate regulatory bodies',
            27: 'Over Half A Million Satisfied Clients',
            28: "Since its establishment in 2009, with more than 500,000 clients, N Sky™ has developed into an internationally renowned investment company and a true leader in the industry. N Sky™  currently has more than 150 professionals with many years of experience in the financial field. In N Sky™, the safety of client funds is our top priority. We cooperate with the world's top investment banks to store company accounts and client funds separately to ensure client funds safety.",
            29: 'This unique risk management feature allows you to protect a specific trade against losses of up to one million dollars over a chosen time frame, all of this is in exchange for a modest hedging cost paid at the time of purchase.',
            30: ' How Does it work?',
            31: ' Investors place an investment in a Financial Freedom Product which is used as the principal and A master trader places his private equity which is used as the trading capital.',
            32: '   The Master trader uses the combined funds as margin to make bigger trades which allows them to make much more money, while',
            33: 'only',
            34: " risking the Master trader's own private equity.N Sky gaurentees the investors principal in all cases.",
            35: " After the trading cycle is completed the profit is distributed by N Sky™ according to the Financial Freedom product's distribution method.you're literally making money while you sleep,",
            36: "it's that easy!",
            37: ' N Sky™ Financial Freedom Products',
            38: 'Fixed Returns',
            39: 'Ease of mind',
            40: 'Fixed % return on investment',
            41: 'No-Loss of deposit',
            42: 'Gaurenteed % return based on Deposit',
            43: 'No matter how the markets will go',
            44: 'Profit Sharing',
            45: 'Unlimited Potential',
            46: 'Fixed % return on total profit',
            47: 'No-Loss of Depost',
            48: 'Much higher rewards',
            49: 'Unlimited Earning Potential',
            50: 'View Product',
            51: 'FAQ',
            52: 'How much will a financial freedom product cost me?',
            53: ' N Sky™ Does not charge any fees for the usage of Financial Freedom products',
            54: 'What is the minimum amount required to start with a Financial Freedom product?',
            55: 'A minimum of $1,000 USD to buy into a Financial Freedom product',
            56: 'How long does it take for funds to be transfered in my account after the product trading period?',
            57: 'N Sky™ Automatically closes a fund once it has completed its trading period and the funds are distributed within 1 working day',
            58: 'Is it possible for me to lose my deposit?',
            59: 'No it is not. The primary principle can only be used as margin to open bigger trades and the fund is automatically closed in the event that negative balance of the trades reaches the amount of the inferior principal',
            60: 'I want more than a fixed percent return, is this possible?',
            61: 'Yes, There is! Profit-sharing products allow investors to get a percentage of the total profits, rather than a fixed return',
          },
          3: {
            1: 'Finansal Ürünler',
            2: 'Ürün sürümü',
            3: 'Ürünüm',
            4: 'Siparişim',
            5: 'Finansal giriş',
            6: 'Yükseltme',
            7: 'Çalışıyor',
            8: 'Ürün kuralları',
            9: 'GİRİŞ',
            10: 'N Sky™ Finansal Özgürlük ürünleri',
            11: 'Tamamlandı',
            12: 'İç Huzur',
            13: 'over',
            14: '150 finans uzmanı',
            15: 'Finans alanında uzun yıllara dayanan deneyime sahip',
            16: 'Ticareti Uzmanlara Bırakın',
            17: "Sektörün önde gelen 150'den fazla finans uzmanıyla, uzmanlar gerisini hallederken rahatça dinlenebilirsiniz, böylece en iyi hayatınızı yaşamaya devam edebilirsiniz. Siz uyurken tam anlamıyla para kazanabilir ve uzmanların yapmasına izin verebilirsiniz. Sıkı çalışma.",
            18: 'Kadar',
            19: 'Yirmi Bin Dolarlık Koruma',
            20: 'Ödüllü önde gelen forex ve CFD komisyoncusu N Sky™, yeni ve yenilikçi bir risk yönetim aracı olan N Sky™ Protect ile risk azaltmada yeni bir standart getiriyor.',
            21: "Bu benzersiz risk yönetimi özelliği, belirli bir ticareti, seçilen bir zaman dilimi içinde yirmi bin avroya kadar olan kayıplara karşı korumanıza olanak tanır ', tüm bunlar, böylece müşteri tabanımıza ne kadar adanmış olduğumuzu kanıtlamaya devam edebiliriz, ve lider güvenilir aracı kurum olarak yerimizi sağlamak için ",
            22: 'N Sky™ Protect, şirketin müşteri başarısına ve memnuniyetine olan sürekli bağlılığının bir parçası olarak geliştirilmiştir ve yalnızca N Sky™ platformlarında mevcuttur',
            23: 'Depozito Kaybı Yok',
            24: 'Garantili',
            25: 'Güvenle Ticaret',
            26: 'CGSE™ ticari lisansı ve iki ayrı düzenleyici kurum tarafından düzenlenir',
            27: 'Yarım Milyondan Fazla Memnun Müşteri',
            28: "N Sky™, 500.000'den fazla müşterisiyle 2009 yılında kuruluşundan bu yana uluslararası üne sahip bir yatırım şirketi ve sektörde gerçek bir lider haline geldi. N Sky™ şu anda finans alanında uzun yıllara dayanan deneyime sahip 150'den fazla profesyonel . N Sky ™ 'de müşteri fonlarının güvenliği en büyük önceliğimizdir. Müşteri fonlarının güvenliğini sağlamak için şirket hesaplarını ve müşteri fonlarını ayrı ayrı saklamak için dünyanın en büyük yatırım bankaları ile işbirliği yapıyoruz. ",
            29: 'Bu benzersiz risk yönetimi özelliği, belirli bir ticareti, seçilen bir zaman diliminde bir milyon dolara kadar olan kayıplara karşı korumanıza olanak tanır, bunların tümü, satın alma sırasında ödenen mütevazı bir riskten korunma maliyeti karşılığında yapılır.',
            30: 'Nasıl Çalışır?',
            31: 'Yatırımcılar, ana para olarak kullanılan bir Finansal Özgürlük Ürününe yatırım yaparlar ve Bir usta tüccar, ticaret sermayesi olarak kullanılan özel sermayesini yerleştirir.',
            32: 'Usta tüccar, daha büyük alım satımlar yapmak için birleşik fonları marj olarak kullanır ve bu da çok daha fazla para kazanmalarına izin verir',
            33: 'sadece',
            34: "Ana tüccarın kendi özel sermayesini riske atma. N Sky, her durumda yatırımcıların müdürünü yetkilendirir.",
            35: "Ticaret döngüsü tamamlandıktan sonra kâr, N Sky™ tarafından Financial Freedom ürününün dağıtım yöntemine göre dağıtılır. Tam anlamıyla uyurken para kazanıyorsunuz,",
            36: "bu kadar kolay!",
            37: 'N Sky™ Finansal Özgürlük Ürünleri',
            38: 'Sabit Getiriler',
            39: 'İç rahatlığı',
            40: 'Sabit yatırım getirisi yüzdesi',
            41: 'Depozito Kaybı Olmaz',
            42: 'Mevduata dayalı% Gaurenteed getiri',
            43: 'Piyasalar nasıl giderse gitsin',
            44: 'Kâr Paylaşımı',
            45: 'Sınırsız Potansiyel',
            46: 'Toplam kârdan sabit% getiri',
            47: 'Depost Kaybı Olmaz',
            48: 'Çok daha yüksek ödüller',
            49: 'Sınırsız Kazanç Potansiyeli',
            50: 'Ürünü Görüntüle',
            51: 'SSS',
            52: 'Bir finansal özgürlük ürünü bana ne kadara mal olur?',
            53: 'N Sky™ Financial Freedom ürünlerinin kullanımı için herhangi bir ücret talep etmez',
            54: 'Bir Finansal Özgürlük ürünü ile başlamak için gereken minimum miktar nedir?',
            55: 'Bir Finansal Özgürlük ürününe satın almak için minimum 1.000 ABD Doları',
            56: 'Ürün alım satım süresinden sonra hesabıma para aktarılması ne kadar sürer?',
            57: 'N Sky™, alım satım dönemini tamamladıktan ve fonlar 1 iş günü içinde dağıtıldıktan sonra fonu otomatik olarak kapatır',
            58: 'Depozitoumu kaybetmem mümkün mü?',
            59: 'Hayır öyle değil. Birincil ilke yalnızca daha büyük işlemler açmak için teminat olarak kullanılabilir ve işlemlerin negatif bakiyesi alt anapara miktarına ulaşırsa fon otomatik olarak kapatılır.',
            60: 'Sabit bir getiri yüzdesinden fazlasını istiyorum, bu mümkün mü?',
            61: 'Evet var! Kar paylaşım ürünleri, yatırımcıların sabit bir getiri yerine toplam kârın belirli bir yüzdesini almasına olanak tanır'
          },
          4: {
            1: 'المنتجات المالية',
            2: 'إصدار المنتج',
            3: 'منتجي',
            4: 'طلبي',
            5: 'مقدمة مالية',
            6: 'قيد الاستثمار',
            7: 'جاري',
            8: 'قواعد المنتج',
            9: 'تقديم',
            10: 'منتجات الحرية المالية لـ™N Sky ',
            11: 'كمال',
            12: 'راحة البال',
            13: 'أكثر من ',
            14: '150 خبيرًا ماليًا',
            15: 'مع سنوات عديدة من الخبرة في المجال المالي',
            16: 'اترك التداول للخبراء',
            17: 'مع أكثر من 150 خبيرًا ماليًا رائدًا في هذا المجال , يمكنك الراحة بسهولة بينما يهتم الخبراء بالباقي , حتى تتمكن من عيش حياتك بشكل أفضل. يمكنك حرفيًا أن تكسب المال أثناء نومك , ودع الخبراء يقومون بالعمل الشاق.',
            18: 'حماية تصل إلى ',
            19: 'عشرون ألف دولار',
            20: '™N Sky , وسيط الفوركس وعقود الفروقات الرائد الحائز على جوائز , يقدم معيارًا جديدًا في الحد من المخاطر باستخدام ™N Sky Protect , وهي أداة جديدة ومبتكرة لإدارة المخاطر.',
            21: "تتيح لك ميزة إدارة المخاطر الفريدة هذه حماية تداول معين من الخسائر التي تصل إلى عشرين ألف يورو خلال إطار زمني محدد', كل هذا, حتى نتمكن من الاستمرار في إثبات مدى التزامنا بقاعدة عملائنا, ولضمان مكانتنا كشركة وساطة رائدة وموثوقة ",
            22: 'تم تطوير ™N Sky Protect كجزء من التزام الشركة المستمر بنجاح العملاء ورضاهم وهو متاح حصريًا على منصات ™N Sky.',
            23: 'عدم الخسارة في الودائع',
            24: 'مضمونة',
            25: 'تداول بثقة',
            26: 'رخصة تجارية AA من ™CGSE ومنظمة من قبل هيئتين تنظيميتين منفصلتين',
            27: 'أكثر من نصف مليون عميل راضٍ',
            28: 'منذ إنشائها في عام 2009 , مع أكثر من 500000 عميل , تطورت ™N Sky لتصبح شركة استثمار مشهورة عالميًا ورائدة حقيقية في الصناعة. تمتلك ™N Sky حاليًا أكثر من 150 متخصصًا يتمتعون بخبرة سنوات عديدة في المجال المالي . في ™Nobel Sky , تعتبر سلامة أموال العملاء على رأس أولوياتنا. نتعاون مع أكبر البنوك الاستثمارية في العالم لتخزين حسابات الشركة وأموال العملاء بشكل منفصل لضمان سلامة أموال العملاء. ',
            29: 'تتيح لك ميزة إدارة المخاطر الفريدة هذه حماية صفقة معينة من الخسائر التي تصل إلى مليون دولار خلال إطار زمني محدد , كل هذا مقابل تكلفة تحوط متواضعة يتم دفعها في وقت الشراء',
            30: 'كيف يعمل؟',
            31: 'يضع المستثمرون استثمارًا في منتج الحرية المالية الذي يتم استخدامه كمتداول رئيسي ويضع المتداول الرئيسي أسهمه الخاصة التي تُستخدم كرأس مال تجاري',
            32: 'المتداول الرئيسي يستخدم الأموال المجمعة كهامش لإجراء صفقات أكبر مما يسمح له بكسب المزيد من المال , بينما',
            33: 'فقط',
            34: 'المخاطرة بالملكية الخاصة للمتداول الرئيسي. تضمن ™N Sky المستثمر الرئيسي في جميع الحالات',
            35: 'بعد انتهاء دورة التداول , يتم توزيع الأرباح بواسطة ™N Sky وفقًا لطريقة توزيع منتج Financial Freedom. فأنت تجني المال حرفيًا أثناء نومك',
            36: 'إنه بهذه السهولة!',
            37: 'منتجات الحرية المالية لـ ™N Sky',
            38: 'عوائد ثابتة',
            39: 'راحة البال',
            40: 'عائد٪ ثابت على الاستثمار',
            41: 'عدم خسارة الودائع',
            42: 'عائد٪ مضمون على أساس الإيداع',
            43: 'لا يهم كيف ستسير الأسواق',
            44: 'تقاسم الأرباح',
            45: 'إمكانات غير محدودة',
            46: 'عائد٪ ثابت على إجمالي الربح',
            47: 'لا ضياع الإيداع',
            48: 'مكافآت أعلى بكثير',
            49: 'إمكانية الكسب غير المحدودة',
            50: 'عرض المنتج',
            51: 'التعليمات',
            52: 'كم سيكلفني منتج الحرية المالية؟',
            53: 'لا تتقاضى ™N Sky أي رسوم مقابل استخدام منتجات Financial Freedom',
            54: 'ما هو الحد الأدنى للمبلغ المطلوب للبدء بمنتج الحرية المالية؟',
            55: 'بحد أدنى 1000 دولار أمريكي لشراء أحد منتجات الحرية المالية',
            56: 'كم من الوقت يستغرق تحويل الأموال في حسابي بعد فترة تداول المنتج؟',
            57: 'تقوم شركة ™N Sky بإغلاق الصندوق تلقائيًا بمجرد انتهاء فترة التداول الخاصة به وتوزيع الأموال في غضون يوم عمل واحد',
            58: ' هل من الممكن أن أفقد وديعتي؟ ',
            59: 'لا ليست كذلك. لا يمكن استخدام المبدأ الأساسي إلا كهامش لفتح صفقات أكبر ويتم إغلاق الصندوق تلقائيًا في حالة وصول الرصيد السلبي للصفقات إلى مبلغ رأس المال الأدنى.',
            60: 'أريد أكثر من نسبة مئوية ثابتة, هل هذا ممكن؟',
            61: 'نعم هنالك! تتيح منتجات مشاركة الأرباح للمستثمرين الحصول على نسبة مئوية من إجمالي الأرباح ، بدلاً من الحصول على عائد ثابت'
          },
          5: {
            1: "  محصولات مالی ",
            2: "  عرضه ی محصولات ",
            3: " محصولات من ",
            4: " دستورهای من ",
            5: " مقدمه ی مالی ",
            6: " افزایش ",
            7: " اجرا ",
            8: " قوانین مربوط به محصولات ",
            9: " معرفی ",
            10: " سرمایه گذاری بدون ریسک ™N Sky ",
            11: " تکمیل کردن ",
            12: " آرامش خاطر ",
            13: " بیش از ",
            14: " 150 اکسپرت مالی ",
            15: " سال ها تخصص در زمینه های مالی ",
            16: " معاملات خود را به اکسپرت ها بسپارید ",
            17: " با بیش از 150 اکسپرت برجسته ی صنعتی', در حالیکه اکسپرت ها مراقب تمام امور هستند میتوانید در آرامش کامل از زندگی خود لذت ببرید ",
            18: " تا ",
            19: " ضمانت 20 هزار دلاری ",
            20: " ™N Sky  برنده جایزه پیشرو فارکس و CFD', استاندارد جدید کاهش خطر محافظتی که یک ابزار جدید و ابتکاری مدیریت ریسک میباشد را ارائه می دهد .",
            21: " ویژگی منحصر به فرد مدیریت ریسک به شما امکان محافظت از معاملات خاص در برابر ضررهای حداکثر بیست هزار یورویی در یک بازه زمانی مشخص را میدهد', بااین امر تعهد خود به مشتری را نشان داده و جایگاه خود به عنوان کارگزاری معتبر پیشرو را ثابت میکنیم ",
            22: "  ضمانت ™N Sky به عنوان بخشی از تعهد شرکت در قبال موفقیت و رضایت مشتری تدارک دیده شده و در پلتفرم های ™N Sky قابل دسترس می باشد ",
            23: " بدون از دست دادن سرمایه ",
            24: " تضمین شده ",
            25: " با اطمینان معامله کنید ",
            26: " دارای گواهینامه ی معامله گری CGSE و دو نهاد قانونی مجزا ",
            27: " بیش از نیم میلیون مشتری رضایتمند ",
            28: " ™N Sky از زمان تاسیس خود در سال 2009 با بیش از 500000 مشتری به یک شرکت سرمایه گذاری مشهور در سطح بین المللی و پیشرو در صنعت تبدیل شده است. ™N Sky با بیش از 150 متخصص با سال ها تجربه در زمینه های مالی همکاری میکند. در شرکت ما امنیت وجوه مشتری از اهمیت بسیار بالایی برخوردار است. برای اطمینان خاطر مشتری و تضمین آن ها با برترین بانک های سرمایه گذاری جهان همکاری میکنیم و سرمایه ی مشتری را در حساب جداگانه از حساب شرکت پس انداز میکنیم.",
            29: " ویژگی منحصر به فرد مدیریت ریسک به شما امکان محافظت از معاملات خاص در برابر ضررهای حداکثر یک میلیون دلاری در یک بازه زمانی مشخص را میدهد و تمام این موارد در ازای دریافت هزینه ای اندک که در زمان خرید پرداخت میکنید ارائه میشود ",
            30: " چگونه کار میکند؟ ",
            31: " سرمایه گذاران بر روی سرمایه گذاری بدون ریسک ', که اساس کار میباشد', سرمایه گذاری میکنند و معامله گران اصلی سهام خصوصی خود را به عنوان سرمایه معامله گری مورد استفاده قرار می دهند. ",
            32: " معامله گران اصلی از وجوه ترکیبی به عنوان مارجین برای انجام معاملات بزرگتر استفاده می کنند که به آنها امکان کسب درآمد بیشتری را میدهد",
            33: " تنها ",
            34: " مخاطرات سرمایه شخصی معامله گر. ™N Sky سرمایه ی سرمایه گذاران', از هر نوع که باشد', را ضمانت میکند.",
            35: " بعد از تکمیل چرخه ی معامله گری', ™N Sky بر اساس روش توزیع محصولات استقلال مالی سودها را پرداخت میکند.به معنای واقعی حتی زمانیکه در حال استراحت و خواب هستید هم کسب درآمد میکنید",
            36: " بسیار ساده",
            37: " سرمایه گذاری بدون ریسک در ™N Sky ",
            38: " بازپرداخت های ثابت ",
            39: " آرامش خیال ",
            40: " % بازده سرمایه گذاری ثابت ",
            41: " بدون از دست دادن سرمایه ",
            42: " % تضمین شده ی بازپرداخت بر اساس میزان سرمایه ",
            43: " بدون توجه به روند بازار ",
            44: " تقسیم سود ",
            45: " پتانسیل های نامحدود ",
            46: " % بازپرداخت ثابت از کل سود ",
            47: " بدون از دست دادن سرمایه ",
            48: " جوایز بیشتر ",
            49: " پتانسیل نامحدود درآمدی ",
            50: " مشاهده ی محصولات ",
            51: " سوالات متداول ",
            52: " سرمایه گذاری بدون ریسک چه مقدار هزینه برای من خواهد داشت؟ ",
            53: " ™N Sky هزینه ی مازاد در استفاده از سرمایه گذاری بدون ریسک ندارد ",
            54: " حداقل میزان سپرده ی مورد نیاز برای ورود به سرمایه گذاری بدون ریسک چه مقدار میباشد؟ ",
            55: " برای خرید سرمایه گذاری بدون ریسک حداقل 1000 دلار آمریکا نیاز است ",
            56: " بعد از اتمام دوره ی معاملاتی چه مقدار طول میکشد تا وجه به حساب من منتقل شود؟ ",
            57: " پس از اتمام دوره معاملاتی', صندوق بطور خودکار بسته شده و مبالغ سود طی 1 روز کاری پرداخت میشود ",
            58: " آیا احتمال از دست رفتن سرمایه وجود دارد؟ ",
            59: "نه این نیست. اصل اصلی فقط می تواند به عنوان حاشیه برای باز کردن معاملات بزرگتر مورد استفاده قرار گیرد و صندوق به طور خودکار بسته می شود در صورتی که مانده منفی معاملات به مقدار اصل پایین تر برسد",
            60: " آیا امکان دریافت مبلغی بیشتر از درصد ثابت بازپرداخت وجود دارد؟ ",
            61: " بله امکان دارد. تقسیم سود محصولات به سرمایه گذاران امکان دریافت درصدی از سود کلی علاوه بر بازپرداخت ثابت میدهد ",
            62: " صفحه ی محصولات"
          }
        },
head:['理财产品','Financial Products','Finansal Yönetim','المنتجات المالية','محصولات مالی']



    };
  },
   metaInfo() {return {
      // 

      title: this.head[this.curLanguage-1]+'-N Sky',
      }
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

//    if(this.curLanguage!=2){
//        let pName = this.$route.name.substring(0,this.$route.name.length-2)
//        let pNameStr = pName + languageCode[this.curLanguage]
//        this.$router.push({name:pNameStr});
//    }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){

      let element = document.querySelectorAll(".panel-heading");



      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){


               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }


     document.documentElement.scrollTop = 0


  },



  components: {
    pageHeader,
    pageFooter
  },


  methods: {
     changeLanguage(val){
    //    console.log(this.curLanguage)
    //    let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
    //    let pNameStr = pName + languageCode[val]
    //    this.$router.push({name:pNameStr});
        this.curLanguage = val;

     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     submitOrderInfo() {
        const that = this
        const amount = this.financialProducts.buy.amount
        const couponsAmount = this.financialProducts.buy.couponsAmount

        const curProduct = this.financialProducts.buy.info
        let amountMod = BigNumber(amount).mod(100).toNumber()
        let couponsAmountMod = BigNumber(couponsAmount).mod(100).toNumber()

        let maxAmount = BigNumber(curProduct.t_max_quota).minus(curProduct.t_quota).toNumber()
        let numAmount = BigNumber(amount).toNumber();
        let numCouponsAmount = BigNumber(couponsAmount).toNumber();

        let systemAsset = this.myAsset[this.assetType[this.financialProducts.buy.system]]
        let usdAsset = systemAsset.find(item => {
          return item.t_ccode == 'USD'
        })



        if (amount == '') {
          that.financialProducts.buy.tip1 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip1 = false;
          }, 2000)
          return false;
        }

        if (!this.util.isIntNumber(amount) || amountMod != 0) {
          that.financialProducts.buy.tip2 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip2 = false;
          }, 2000)
          return false;
        }

        if (numAmount + numCouponsAmount > maxAmount) {

          that.financialProducts.buy.tip3 = true;
          clearTimeout(that.financialProducts.tipEndTimer);

          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip3 = false;
          }, 2000)
          return false;
        }



        if (numAmount > usdAsset.t_number) {
          that.financialProducts.buy.tip4 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip4 = false;
          }, 2000)
          return false;
        }
        ////////
        if (!this.util.isIntNumber(couponsAmount) && couponsAmount != '' || amountMod != 0 && couponsAmount != '') {
          that.financialProducts.buy.tip6 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip6 = false;
          }, 2000)
          return false;
        }


        if (numCouponsAmount > this.myCoupons) {
          that.financialProducts.buy.tip8 = true;
          clearTimeout(that.financialProducts.tipEndTimer);
          that.financialProducts.tipEndTimer = setTimeout(() => {
            that.financialProducts.buy.tip8 = false;
          }, 2000)
          return false;
        }






        const api = this.$api.url.FinancialOrder;
        const params = {
          Uid: this.userLoginInfo.userID,
          Token: this.userLoginInfo.session,
          Device: 'web',
          Fpid: this.financialProducts.buy.fId,
          Amount: this.financialProducts.buy.amount,
          Syetem: this.financialProducts.buy.system,
          Experience: this.financialProducts.buy.couponsAmount == '' ? 0 : this.financialProducts.buy.couponsAmount
        }
        this.financialProducts.buy.submitStateFlag = true;
        this.$axios.get(api, { params: params })
          .then((res) => {
            this.financialProducts.buy.submitStateFlag = false;
            if (res.data.code == 0) {
              this.$message({
                message: '订购成功！',
                type: "success",
                center: true,
                duration: 2000
              })
              this.financialProducts.buy.dialogFlag = false;
            } else {
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message: '订购失败！' + resultMsg,
                type: "error",
                center: true,
                duration: 2000
              })
            }
          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })
      },
       getUserAsset() {

        const api = this.$api.url.userFund;
        const params = {
          Uid: this.userLoginInfo.userID,
          Token: this.userLoginInfo.session,
          Device: 'web'

        }
        this.assetSpotLoading = true;
        this.assetRequestFlag = false;
        this.$axios.get(api, { params: params })
          .then((res) => {

            this.assetSpotLoading = false;
            this.assetRequestFlag = true;

            if (res.data.code == 0) {

              const data = JSON.parse(res.data.data);

              this.myAsset = data;
              this.myCoupons = data.all.t_experience;




            } else if (res.data.code == 1000) {
              return
            } else if (res.data.code == 1011 || res.data.code == 1006) {

              // this.$refs.pageHead.logout();
              // this.isLogin = false;

              // this.$router.push({name:'login'});
            } else {
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message: 'Error',
                type: "error",
                center: true,
                duration: 2000
              })
            }

          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })

      },
       getUserInfo() {
        const api = this.$api.url.userVerify1;
        const params = {
          Device: 'web',
          Uid: this.userLoginInfo.userID,
          Token: this.userLoginInfo.session
        }
        this.$axios.get(api, { params: params })
          .then((res) => {
            if (res.data.code == 0) {
              let data = JSON.parse(res.data.data);
              this.userInfo = data
              // console.log(this.userInfo)
              if (this.userInfo.configure == null) {
                this.userInfo.configure = {
                  t_actuals_gid: null,
                  t_actuals_state: null,
                  t_actuals_uid: null,
                  t_futures_gid: null,
                  t_futures_state: null,
                  t_futures_uid: null,
                  t_other_gid: null,
                  t_other_state: null,
                  t_other_uid: null,
                  t_shares_gid: null,
                  t_shares_state: null,
                  t_shares_uid: null,
                  t_uid: null
                }
              }

              if (this.userInfo.configure.t_actuals_state == 2) {
                this.financialProducts.buy.systemGroup.push({ value: 1, label: '现货' })
              }
              if (this.userInfo.configure.t_futures_state == 2) {
                this.financialProducts.buy.systemGroup.push({ value: 2, label: '期货' })
              }
              if (this.userInfo.configure.t_shares_state == 2) {
                this.financialProducts.buy.systemGroup.push({ value: 3, label: '股票' })
              }
              if (this.userInfo.configure.t_other_state == 2) {
                this.financialProducts.buy.systemGroup.push({ value: 4, label: '黄金' })
              }
              if (this.financialProducts.buy.systemGroup.length != 0) {
                this.financialProducts.buy.system = this.financialProducts.buy.systemGroup[0].value;
              }


              // this.userInfo.u_country = this.userCountry;
              this.localStore.setItem('userInfo', this.userInfo)


              if (data.configure.t_actuals_state == 2 || data.configure.t_futures_state == 2 || data.configure.t_shares_state == 2 || data.configure.t_other_state == 2) {
                this.assetStateFlag = true;
              }

            } else if (res.data.code == 1011 || res.data.code == 1006) {

              this.$refs.pageHead.logout();
              this.isLogin = false;
              this.$router.push({ name: 'login' });
            } else {
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message: 'Error!',
                type: "error",
                center: true,
                duration: 2000
              })
            }

          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })

      },
        getFinancialProducts(type) {
        if (type == 4) {
          this.financialProducts.type = type;
        }

        const api = this.$api.url.FinancialProducts;
        let params = {
          PageSize: this.financialProducts.pageSize,
          PageIndex: this.financialProducts.pageIndex,
          Type: this.financialProducts.type,
          Language: this.languageGroup[this.localStore.getItem('curLanguage') ? this.localStore.getItem('curLanguage') : this.$api.defaultLanguage],
          WebSite: 0
        }
        if (type == 'designate') {
          params = {
            Fpid: this.financialProducts.details.info.t_fpid,
            Language: this.languageGroup[this.localStore.getItem('curLanguage') ? this.localStore.getItem('curLanguage') : this.$api.defaultLanguage]
          }
        }

        this.financialProducts.loading = true;
        this.$axios.get(api, {
          params: params
        })
          .then((res) => {
            this.financialProducts.loading = false;
            if (res.data.code == 0) {



              let data = JSON.parse(res.data.data)

              if (type == 'designate') {

                if (data.length > 0) {

                  data[0].orders.forEach(item => {
                    item.t_time = moment(item.t_time).format('YYYY-MM-DD HH:mm:ss');
                  })

                  data[0].flows.forEach(item => {
                    item.t_time = moment(item.t_time).format('YYYY-MM-DD HH:mm:ss');
                  })


                  this.productsRecords.orderRecords = data[0].orders
                  this.productsRecords.flows = data[0].flows
                }

                return
              }


              data.forEach(item => {
                item.products.t_stime = moment(item.products.t_stime).format('YYYY-MM-DD');
                item.products.t_etime = moment(item.products.t_etime).format('YYYY-MM-DD');
                item.products.t_time = moment(item.products.t_time).format('YYYY-MM-DD');
              })

              if (this.financialProducts.type == 4 && data.length < 2) {
                while (data.length < 3)
                  data = data.concat(data);
              }
              this.financialProducts.data = this.financialProducts.data.concat(data);
              this.financialProducts.total = res.data.count
              if (this.financialProducts.data.length == 0 || (this.financialProducts.data.length < 3 && this.financialProducts.type != 4)) {
                this.financialProducts.type = 4;
                this.getFinancialProducts(4);
              }


            } else if (res.data.code == 1011 || res.data.code == 1006) {

              console.log('用户验证不通过')
              // this.$refs.pageHead.logout();
              // this.isLogin = false;
              // this.$router.push({name:'login'});
            } else {

              this.$message({
                message: '获取理财产品列表失败！' + res.data.msg,
                type: "error",
                center: true,
                duration: 2000
              })
            }

          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })

      },
      handleProductsType(val) {
        this.financialProducts.pageIndex = 1
        if (val == 'type1') {
          if (this.financialProducts.type == 4 || this.financialProducts.type == 6) {
            this.financialProducts.type = 3
            this.getFinancialProducts()
          }
        } else {
          this.financialProducts.type = val
          if (val == 6) {
            this.article.pageIndex = 1
            this.getFinancialArticle()
          } else {
            this.getFinancialProducts()
          }

        }


      },
  }


};
</script>





<style scoped lang="scss">

 /*product boxes styling start*/
 .justi{
   text-shadow: 1.31px 1.31px #000000;
   font-family: 'Montserrat', sans-serif;
   text-align: justify;
 }

.rightIcon{
  left:2%!important;
  text-align: left;
}

.fontie{
  font-size: 20px!important;
}

.page-title{line-height: 50px;width: 100%;padding: 0 35px; margin: unset;
          h3{font-size: 24px;}
          .links{position: relative;width: 110%;
            a{font-size: 0.59rem; color: #ffa200;}
            i{font-size: 18px;margin-right: 3px;position: relative;top: -18px;margin: 0 1% 0 1%}
            .icon-product{margin-right: 3px;}
            .icon-record{margin-right: 2px;}
          }
          a:hover{color: #000;}
       }

 .filter{width: 100%;margin:10px auto 0;
    span,a{-webkit-transition: all .2s ease 0s;transition: all .2s ease 0s;}
    .tab-head{height: 6.3rem;line-height: 2.3rem;font-size: 0.8rem;
       span,a{float: left;color: #fff;position: relative;padding:0 20px;cursor: pointer; width: 50%; height: 50%; font-size: 0.8rem!important;}
       span:hover,a:hover{color: #000;}
       span.active,a.active{color: #ffa200!important;
            background: #373848!important;
          em{
             position: absolute;
                 height: 0;
                 width: 0;
             border-left: 8px solid transparent;
                 border-right: 8px solid transparent;
                 border-bottom: 8px solid #D51820;
                 left: 50%;
                 bottom: -1px;
                 -webkit-transform: translate(-50%);
                 transform: translate(-50%);
                 z-index: 10;
          }
          i{
            position: absolute;
                content: " ";
                display: block;
                height: 0;
                width: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid #fff;
                left: -6px;
                top: 2px;
          }
       }
      //  span.active:after,a.active:after{
      //    content: "";
      //    position: absolute;
      //    width: 100%;
      //    height: 2px;
      //    background-color: #D51820;
      //    bottom:-1px;
      //    left:0;
      //  }
    }


 }

 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
 /* squarecontainer-fluid css */
 .container3 {
   display: flex;
   flex-direction: column;
   width: 800px;
 }
 .row3 {
   display: flex;
   justify-content: space-between;
 }
 .card3 {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 1.65em 1em;
   background: var(--white);
   margin: 0.85rem;
   border-radius: var(--border-radius);
 }
 .card--dark {
   background: #eaeffd;
 }
 .card__header {
   display: flex;
   justify-content: space-between;
   width: 80%;
 }
 .card__title, .card__sub-title {
   font-size: 0.6em;
   color: var(--gray);
   text-align: center;
   line-height: 1;
 }
 .card__title {
   text-transform: uppercase;
 }
 .card__title--notification {
   position: relative;
 }
 .card__title--notification::after {
   content: '';
   width: 0.25rem;
   height: 0.25rem;
   border-radius: 50%;
   background: var(--green);
   position: absolute;
   top: 0;
   right: 0;
   transform: translateX(0.35rem);
 }
 .card__sub-title, .card__sub-title a {
   color: var(--dark-gray);
 }
 .card__price, .card__progess {
   font-size: 2em;
   font-family: 'Roboto Slab', serif;
   line-height: 1;
   padding: 0.45rem 0;
 }
 .card__progess {
   font-size: 1.75em;
 }
 .card__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
 }
 .card__inner > div {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .card__link {
   text-decoration: underline;
 }
 .graph {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   height: 2.75em;
   position: relative;
 }
 .graph::after {
   content: '';
   width: 100%;
   height: 1px;
   margin: 0 auto;
   z-index: 0;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   border-bottom: 1px dashed var(--gray);
 }
 .graph__line {
   flex: 1;
   background: var(--graph-grey);
   height: 20%;
   width: 0.7em;
   margin: 0 0.05rem;
   border-radius: 0.15rem;
   z-index: 1;
   position: relative;
 }
 .graph__line--active {
   background: var(--graph-purple);
 }
 .graph__line--active:nth-child(1) {
   height: 65%;
 }
 .graph__line--active:nth-child(2) {
   height: 55%;
 }
 .graph__line--active:nth-child(3) {
   height: 75%;
 }
 .graph__line--active:nth-child(4) {
   height: 45%;
 }
 .graph__line--active:nth-child(4) {
   height: 55%;
 }
 .graph__line--active:nth-child(5) {
   height: 65%;
 }
 .graph__line--active:nth-child(6) {
   height: 55%;
 }
 /********************************************
  Animations
  ********************************************/
 .card[data-animate-top] {
   animation: flyInTop var(--transition-duration);
 }
 .card[data-animate-bottom] {
   animation: flyInBottom var(--transition-duration);
 }
 @keyframes flyInTop {
   from {
     transform: translateY(-300%);
     opacity: 0;
   }
   to {
     transform: translateY(0);
     opacity: 1;
   }
 }
 @keyframes flyInBottom {
   from {
     transform: translateY(300%);
     opacity: 0;
   }
   to {
     transform: translateY(0);
     opacity: 1;
   }
 }
 .dribble {
   position: absolute;
   bottom: 1rem;
   right: 1rem;
   color: var(--white);
   transition: transform 0.3s ease-in-out;
 }
 .dribble:hover {
   transform: translateY(-0.5rem);
 }


 /*FAQ Styling*/

 .transition, p, ul li i:before, ul li i:after {
 	transition: all 0.25s ease-in-out;
 }

 .flipIn, h1, ul li {
 	animation: flipdown 0.5s ease both;
 }

 .no-select, h2 {
 	-webkit-tap-highlight-color: transparent;
 	-webkit-touch-callout: none;
 	-webkit-user-select: none;
 	-khtml-user-select: none;
 	-moz-user-select: none;
 	-ms-user-select: none;
 	user-select: none;
 }

.para {
    color: rgba(48, 69, 92, .8);
    font-size: 13px;
    line-height: 20px;
    /* letter-spacinsg: 1px; */
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translateY(25%);
    /* margin-top: 14px; */
    z-index: 2;
    margin-bottom: 2rem;
}

 .ulist {
 	list-style: none;
 	perspective: 900;
 	padding: 0;
 	margin: 0;
 	color:#675b6df0;
     padding: 20px;
 }

 .ulist li {
 	position: relative;
 	padding: 0;
 	margin: 0;
 	padding-bottom: 10px;
 	padding-top: 18px;
 	border-top: 1px dotted #dce7eb;
 	text-shadow: 1px 1px dark-gray;
 }

 .ulist li:nth-of-type(1) {
 	animation-delay: 0.5s;
 }

 .ulist li:nth-of-type(2) {
 	animation-delay: 0.75s;
 }

 .ulist li:nth-of-type(3) {
 	animation-delay: 1.0s;
 }
 .ulist li:nth-of-type(4) {
 	animation-delay: 1.25s;
 }

 .ulist li:nth-of-type(5) {
 	animation-delay: 1.5s;
 }
 .ulist li:last-of-type {
 	padding-bottom: 0;
 }

 .ulist li i {
 	position: absolute;
 	transform: translate(-6px, 0);
 	margin-top: 16px;
 	right: 0;
 }

 .ulist li i:before, .ulist li i:after {
 	content: "";
 	position: absolute;
 	background-color: #ff6873;
 	width: 3px;
 	height: 9px;
 }

 .ulist li i:before {
 	transform: translate(-2px, 0) rotate(45deg);
 }

 .ulist li i:after {
 	transform: translate(2px, 0) rotate(-45deg);
 }

 .ulist li input[type=checkbox] {
 	position: absolute;
 	cursor: pointer;
 	width: 100%;
 	height: 100%;
 	z-index: 1;
 	opacity: 0;
 }

 .ulist li input[type=checkbox]:checked ~ p {
 	margin-top: 0;
 	max-height: 0;
 	opacity: 0;
 	transform: translate(0, 50%);
 }

 .ulist li input[type=checkbox]:checked ~ i:before {
 	transform: translate(2px, 0) rotate(45deg);
 }

 .ulist li input[type=checkbox]:checked ~ i:after {
 	transform: translate(-2px, 0) rotate(-45deg);
 }

 @keyframes flipdown {
 	0% {
 		opacity: 0;
 		transform-origin: top center;
 		transform: rotateX(-90deg);
 	}

 	5% {
 		opacity: 1;
 	}

 	80% {
 		transform: rotateX(8deg);
 	}

 	83% {
 		transform: rotateX(6deg);
 	}

 	92% {
 		transform: rotateX(-3deg);
 	}

 	100% {
 		transform-origin: top center;
 		transform: rotateX(0deg);
 	}
 }

 .ulist li:hover, .ulist li:active {
     color: #6aac0e;
     font-weight: 800;
 }
 .ulist li input[type=checkbox]:checked{
     color: #6aac0e;
     font-weight: 800;
 }


 a .prodBtn {
                  color: #6aac0e;
                  text-decoration: none;
                  background-color: transparent;
                  -webkit-text-decoration-skip: objects;
              }

                  a .prodBtn:hover {
                      color: #74c109;
                      text-decoration: underline;
                  }

              ::-moz-selection {
                  background:  #74c109;
                  color: #fff;
              }

              ::selection {
                  background:  #74c109;
                  color: #fff;
              }

              .prodBtn {
                  border-radius: 3px;
                  min-width: 230px;
                  position: relative;
                  border: none;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 1.1;
                  cursor: pointer;
                  transition: box-shadow .4s,color .4s,background-color .4s,transform .4s;
                  text-align: center;
                  display: inline-block;
                  padding: 1em;
                  transform: translateY(0);
              }

                  .prodBtn:focus, .prodBtn:hover:focus {
                      outline: none;
                      box-shadow: none;
                  }

                  .prodBtn:hover {
                      box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
                      text-decoration: none;
                      transform: translateY(-2px);
                  }

                  .prodBtn.btn-primary {
                      background: #6aac0e;
                      color: #fff;
                  }

                      .prodBtn.btn-primary:hover {
                          background:  #74c109;
                          color: #fff;
                      }

                      .prodBtn.btn-primary:focus {
                          background:  #74c109;
                          color: #fff;
                      }

              a .prodBtn {
                  transition: color .4s;
              }

                  a .prodBtn:hover {
                      text-decoration: none;
                      color:  #74c109;
                  }

                      a.prodBtn:focus, a.prodBtn:hover:focus {
                          color:  #74c109;
                      }

              .btn-group .prodBtn {
                  font-size: 18px;
                  font-weight: 500;
                  margin-bottom: 13px;
                  padding-top: 24px;
                  padding-bottom: 24px;
              }

              a .prodBtn {
                  color: #009cfc;
              }


 //////////////***//////////

 @import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

 .productBody {
     background-color: #211f23;
     background-repeat: no-repeat;
     *zoom: 1;
     filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF53455B', endColorstr='#FF201E22');
     background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjAlIiByPSI3MCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1MzQ1NWIiLz48c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzIwMWUyMiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
     background-size: 100%;
     background-image: -moz-radial-gradient(top, circle, #53455b 0%, #201e22 70%);
     background-image: -webkit-radial-gradient(top, circle, #53455b 0%, #201e22 70%);
     background-image: radial-gradient(circle at top, #53455b 0%, #201e22 70%);
     color: #fff;
     font-family: 'Lato', sans-serif;
     font-size: 100%;
     min-height: 100%;
     line-height: 1.5;
     padding: 2.5em 0;
 }

 .container {
     margin: 0 auto;
     width: 100%;
     max-width: inherit;
 }

 .group:after {
     content: "";
     display: table;
     clear: both;
 }

 body {
     color: #333;
     font-size: 14px;
     overflow-x: hidden;
     line-height: 22px;
 }


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.pb-3, .py-3{
    padding-bottom: 1rem!important;
}
.pt-2, .py-2 {
    padding-top: .5rem!important;
}
.text-center {
    text-align: center!important;
}
.pl-2, .px-2 {
    padding-left: .5rem!important;
}
.pr-2, .px-2 {
    padding-right: .5rem!important;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.pb-1, .py-1 {
    padding-bottom: .25rem!important;
}
.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}

.data {
    color: #81878b;
    margin-top: 1em;
}

.data li {
    width: 32%;
    text-align: center;
    display: inline-block;
    font-size: 2em;
    border-right: solid 1px #bdc3c7;
    margin: 0 0 1.8333333333333333em;
}
.data li:last-child {
    border: none;
}
.data li span.title {
    display: block;
    text-transform: uppercase;
    font-size: .85em;
    margin-top: .6em;
    font-weight: 700;
}
 .grid-1-5 {
     border: 2px solid #5d4e65;
min-height: 350px;
padding: 0.6em 3.2em;
margin: 1.5em 2em;
position: relative;
text-align: center;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
 }

 .container3 {
     display: flex;
     flex-direction: column;
     width: 800px;
 }

 header .right .customer.en[data-v-adedc7c0], header .right .login.en[data-v-adedc7c0] {
     width: 200px;
     white-space: nowrap;
 }

 @media screen and (min-width: 700px) {
     .grid-1-5 {
         float: left;
         width: 35%;
     }

         .grid-1-5:nth-child(odd) {
             clear: left;
         }
 }

 @media screen and (min-width: 800px) {
     .grid-1-5 {
         width: 35%;
     }

         .grid-1-5:nth-child(3n+1) {
             clear: left;
         }

         .grid-1-5:nth-child(odd) {
             clear: none;
         }
 }

 @media screen and (min-width: 1120px) {
     .grid-1-5 {
         width: 35%;
     }

         .grid-1-5:nth-child(odd), .grid-1-5:nth-child(3n+1) {
             clear: none;
         }
 }

 .grid-1-5:hover {
     background-color: #53455b;
     *zoom: 1;
     filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF53455B', endColorstr='#FF201D22');
     background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUzNDU1YiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwMWQyMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
     background-size: 100%;
     background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #53455b), color-stop(100%, #201d22));
     background-image: -moz-linear-gradient(top, #53455b 0%, #201d22 100%);
     background-image: -webkit-linear-gradient(top, #53455b 0%, #201d22 100%);
     background-image: linear-gradient(to bottom, #53455b 0%, #201d22 100%);
     border-top: 2px solid #ec7a37;
     border-bottom: 2px solid #ff4f69;
     box-shadow: 0px 0px 10px 0px #323232;
     transform: scale(1.025);
     z-index: 2;
 }

     .grid-1-5:hover:before, .grid-1-5:hover:after {
         content: "";
         position: absolute;
         background-color: #d4af37;
         *zoom: 1;
         filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFd4af37', endColorstr='#FFFF4F68');
         background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2N2QzNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNGY2OCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
         background-size: 100%;
         background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f67d35), color-stop(100%, #ff4f68));
         background-image: -moz-linear-gradient(top, #d4af37 0%, #ff4f68 100%);
         background-image: -webkit-linear-gradient(top, #d4af37 0%, #ff4f68 100%);
         background-image: linear-gradient(to bottom, #d4af37 0%, #ff4f68 100%);
         top: -2px;
         bottom: -2px;
         width: 2px;
     }

     .grid-1-5:hover:before {
         left: -2px;
     }

     .grid-1-5:hover:after {
         right: -2px;
     }

     .grid-1-5:hover ul {
         color: goldenrod;
         font-size: 0.75em;
         list-style-type: none;
         padding: 0;
     }

     .grid-1-5:hover .button {
         background-color: #ee7a36;
         *zoom: 1;
         filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEE7A36', endColorstr='#FFEB495D');
         background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlN2EzNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViNDk1ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
         background-size: 100%;
         background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ee7a36), color-stop(100%, #eb495d));
         background-image: -moz-linear-gradient(left, #ee7a36 0%, #eb495d 100%);
         background-image: -webkit-linear-gradient(left, #ee7a36 0%, #eb495d 100%);
         background-image: linear-gradient(to right, #ee7a36 0%, #eb495d 100%);
     }

 /*       h2, h3, p, ul {
             margin: 0;
         }

         h2 {
             font-size: 1em;
             font-weight: 400;
             margin: 0 0 0.5em;
         }

         h3 {
             font-size: 1.5em;
             letter-spacing: 0.0625em;
             margin: 0 0 0.3333333333333333em;
         }
 */
 /*  p {
                     font-size: 0.875em;
                 }*/

 p, ul {
     margin: 0 0 1.5em;
 }

 ul {
     color: skyblue;
     font-size: 0.75em;
     list-style-type: none;
     padding: 0;
 }

     ul li {
         margin: 0 0 1.8333333333333333em;
     }



 .uppercase, .button, h2 {
     text-transform: uppercase;
 }


 /*product boxes styling end */

 .HeroLoadtext {
     margin-top: 25px;

     text-shadow: 2px 2px #000000;
     -webkit-animation: fadein 4s;
     -moz-animation: fadein 4s;
     -ms-animation: fadein 4s;
     -o-animation: fadein 4s;
     animation: fadein 4s;
 }

 .HeroLoadtextSub {
     /* margin-top: 25px;
                 font-size: 21px;*/
     text-shadow: 2px 2px #000000;
     text-align: center;
     -webkit-animation: fadein 8s;
     -moz-animation: fadein 8s;
     -ms-animation: fadein 8s;
     -o-animation: fadein 8s;
     animation: fadein 8s;
 }

 @keyframes fadein {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }


 @-moz-keyframes fadein {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }


 @-webkit-keyframes fadein {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }

 /* Internet Explorer */
 @-ms-keyframes fadein {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }


 @-o-keyframes fadein {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }

 .section-light {
     background-color: #f0f0f0;
     padding: 0;
     border-color: #f0f0f0;
 }

 .section-white {
     background-color: #fefefe;
     border-color: #f0f0f0;
 }

 .container2 {
     /*  margin: 0;
                 padding: 0;*/
     /*  background: #fefefe;*/
     font-weight: 400;
     line-height: 1.5;
     color: #343434;
     padding: 1.4rem 0rem;
     max-width: 1250px;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }

 .container3 {
     /*  margin: 0;
                 padding: 0;*/
     /*  background: #fefefe;*/
     font-weight: 400;
     line-height: 1.5;
     color: #343434;
     padding: 8em 0em 5em 0em;
     max-width: 1250px;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }

 .LBrick {
     padding: 22px;
 }

 .RBrick {
     padding: 22px;
 }

 .overlay {
     position: absolute;
     transition: 0.5s ease;
     height: 450px;
     width: 642px;
     top: 0;
     left: 0;
     background-color: #000000;
     opacity: 0.45;
 }

 .container .overlay:hover {
     opacity: 1;
 }

 .overlayCI {
     position: absolute;
     transition: 0.5s ease;
     height: -webkit-fill-available;
     width: inherit;
     top: 0;
     left: 0;
     background-color: #000000;
     opacity: 0.45;
 }

 .container .overlayCI:hover {
     opacity: 1;
 }

 .blueSectionBg {
     background-color: #d4efff6b;
     padding: 0;
 }

 p {
     text-shadow: 0.31px 0.31px #000000;
     font-family: 'Montserrat', sans-serif;
 }
 /*       @media screen and (max-width:inherit) {
             .hDIWSection {
                 height: 522px !important;
             }
         }*/
.row-2 > ul li {
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        height: 240px;
        margin-bottom: 20px;
        border-radius: 20px;
        position: relative;
      }

        .row-2 > ul li .left {
          float: left;
          margin: 20px 0 0 35px;
          width: 950px;
        }
.row-2 > ul li .left .r1 {
            border-bottom: 1px solid #eee;
            height: 110px;
          }
          .row-2 > ul li .left .avatar-fin {
            float: left;
            width: 420px;
            height: 110px;
          }
 .fin-pro-details .upper {
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 10px 0;
  }

  .fin-pro-details .item {
    width: 20%;
    float: left;
    padding: 5px 15px;
    color: #888;
    white-space: nowrap;
  }

    .fin-pro-details .item i {
      color: #000;
      margin-left: 5px;
    }

  .fin-pro-details .under {
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #eee;
    border-radius: 3px;
    max-height: 410px;
    overflow: auto;
    h5

  {
    font-size: 18px;
    color: #000;
  }

  p {
    padding: 15px 0;
  }

  a {
    color: #74c109;
    margin-right: 10px;
  }

    a:hover {
      text-decoration: underline;
    }

  }

  .fin-pro-details {
    .dialog-head-box

  {
    height: 35px;
    line-height: 35px;
    margin-bottom: 20px;
    span

  {
    margin: 0 10px;
    font-size: 16px;
    color: #888;
    position: relative;
    float: left;
    cursor: pointer;
  }

  span.active {
    color: #000;
    &:after

  {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #74c109;
    bottom: 0;
    left: 0;
  }

  }
  }

  table {
    width: 100%;
  }

  th, td {
    height: 50px;
    text-align: center;
  }

  th {
    background-color: #f5f5f5;
  }

  td {
    border-bottom: 1px solid #ddd;
  }

  .product-order-records {
  }

  .product-flows {
  }

  .product-trad-history {
  }

  .product-info, .product-order-records, .product-flows, .product-trad-history {
    min-height: 230px;
  }

  .empty {
    i

  {
    font-size: 60px;
    line-height: 80px;
  }

  }
  }

  .f-pro-pagination-box {
    text-align: center;
    margin: 50px 0 15px;
  }


  .check-tip {
    position: absolute;
    background: #555;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    bottom: 45px;
    left: 50%;
    line-height: 20px;
    letter-spacing: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
  }

    .check-tip:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      border-width: 5px;
      border-bottom-width: 0;
      border-top-color: #555;
      left: calc(50% - 5px);
      bottom: -5px;
    }

  .fin-pro-buy {
    .buy-box-fin

  {
    &>p

  {
    height: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #777;
  }

  span {
    color: #777;
    margin-right: 5px;
    display: inline-block;
    min-width: 80px;
    text-align: right;
    color: #888;
  }

  li {
    height: 35px;
    line-height: 35px;
    margin-bottom: 20px;
    position: relative;
    width: 350px;
  }

    li.lan-en {
      height: 70px;
      input

  {
    margin-left: 88px;
  }

  }

  input {
    height: 35px;
    border: 1px solid #ccc;
    width: 230px;
    padding: 0 10px;
    border-radius: 3px;
  }

    input::-webkit-input-placeholder {
      color: #bbb;
    }

  .btn {
    padding-left: 88px;
  }

  button {
    width: 120px;
    height: 41px;
    background-color: #74c109;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
  }

    button:hover {
      background-color: #29A643;
    }

  }
  }

  h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .empty {
    text-align: center;
    padding-top: 50px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
    i

  {
    font-size: 80px;
    color: #cecece;
    display: block;
    line-height: 100px;
  }

  span {
    font-size: 16px;
    color: #aaa;
  }

  }
  #filters{
      padding: 0;
      width: 50%;
      text-align: center;
      height: 50%;
      border: 1px solid #ffffff0a;
  }
  .overlay {
    position: absolute;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    height: 450px;
    width: inherit!important;;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.45;
}
#seesaw{
  padding: 0;
}
#boxes{color: white;}

</style>
