<template>
		<div class="wrap" @click="hideMenu" v-bind:class="{rightToLeft:(curLanguage==4||curLanguage==5)}">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <pageHeader2 pageName="products" @userLogout="userLogout" ref="pageHead2" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />


        <div class="page-title">
            <h3>{{language[curLanguage][26]}}</h3>
            <!-- <div class="links">
                <a href="javascript:"><i class="icon icon-plane"></i>发布产品</a>
                <a href="javascript:"><i class="icon icon-product"></i>我的产品</a>
                <a href="javascript:"><i class="icon icon-record"></i>我的订单</a>
            </div> -->
        </div>

        <div class="publish-box">
            <el-form :model="publishInfo" :rules="rules" ref="publishInfoForm">
                <div class="row clearfix" style="width: auto;">
                    <div class="width-cell">
                        <div class="cell">
                            <el-form-item :label="language[curLanguage][1]" prop="name" >
                                <el-input  v-model.trim="publishInfo.name" :placeholder="language[curLanguage][2]"></el-input>
                            </el-form-item>
                        </div>
                        <div class="cell">
                            <el-form-item :label="language[curLanguage][3]" prop="language">
                                <el-select v-model="publishInfo.language">
                                  <el-option
                                    v-for="item in publishInfo.languageOption"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                  </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="cell">
                            <el-form-item :label="language[curLanguage][4]" prop="System">
                                <el-select v-model="publishInfo.system">
                                  <el-option
                                    v-for="item in publishInfo.systemOption"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                  </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                    </div>
                </div>

                <div class="middle-wrap">
                    <div class="row clearfix">
                        <div class="cell">
                            <el-form-item :label="language[curLanguage][5]" prop="cycle">
                                <el-select v-model="publishInfo.cycle">
                                  <el-option
                                    v-for="item in publishInfo.cycleOption"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                  </el-option>
                                </el-select>
                            </el-form-item>
                        </div>

                        <div class="cell clearfix">
                            <el-form-item :label="language[curLanguage][6]" prop="startTime">
                                <el-date-picker
                                  v-model="publishInfo.startTime"
                                  type="date"
                                  :placeholder="language[curLanguage][7]">
                                </el-date-picker>
                            </el-form-item>
                        </div>

                        <!-- <div class="cell">
                            <el-form-item label="结束日期" prop="endTime">
                                <el-input v-model.trim="publishInfo.endTime"></el-input>
                            </el-form-item>
                        </div> -->
                    </div>


                    <div class="row clearfix">
                        <div class="cell">
                            <el-form-item :label="language[curLanguage][8]" prop="profitType">
                                <el-select v-model="publishInfo.profitType">
                                  <el-option
                                    v-for="item in publishInfo.profitTypeOption"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                  </el-option>
                                </el-select>
                            </el-form-item>
                        </div>


                        <div class="cell" v-if="publishInfo.profitType==1">
                            <el-form-item :label="language[curLanguage][9]" prop="profitVal">
                                <el-input v-model.trim="publishInfo.profitVal"></el-input>
                                <i>%</i>
                            </el-form-item>

                        </div>

                        <div class="cell" v-if="publishInfo.profitType===0">
                            <el-form-item :label="language[curLanguage][10]" prop="profitIncome">
                                <el-input v-model.trim="publishInfo.profitIncome"></el-input>
                                <i>%</i>
                            </el-form-item>
                        </div>

                        <div class="cell">
                            <el-form-item :label="language[curLanguage][11]" prop="cost">
                                <el-input v-model.trim="publishInfo.cost"></el-input>
                            </el-form-item>
                        </div>

                    </div>

                    <div class="row clearfix">


                        <div class="cell">
                            <el-form-item :label="language[curLanguage][12] + ' $'" prop="minQuota">
                                <el-input v-model.trim="publishInfo.minQuota"></el-input>
                            </el-form-item>
                        </div>

                        <div class="cell">
                            <el-form-item :label="language[curLanguage][13] + ' $'" prop="maxQuota">
                                <el-input v-model.trim="publishInfo.maxQuota"></el-input>
                            </el-form-item>
                        </div>

                    </div>

                    <div class="row clearfix">


                        <div class="cell">
                            <el-form-item :label="language[curLanguage][14]" prop="remarks">
                                <el-input
                                  type="textarea"
                                  :rows="2"
                                  :placeholder="language[curLanguage][15]"
                                  v-model.trim="publishInfo.remarks">
                                </el-input>
                            </el-form-item>
                        </div>



                    </div>

                </div>


            </el-form>




            <div class="upload">
                <div class="upload-box">
                	<div class="photos">
                		<span class="title">{{language[curLanguage][16]}}</span>
                		<div class="input photos" :class="{'publish-img-yes':photos.img.length>0||photos.uploadStatus.length>0}">
                		    <el-upload
                			  ref="imgUpload"
                			  :headers="uploadHead"
                			  :action="uploadURL"
                			  list-type="picture-card"
                			  :limit="photos.numLimit"
                	          :http-request="uploadStart"
                	          :on-success="handlePhotosSuccess"
                	          :before-upload="beforePhotosUpload"
                			  :on-preview="handlePhotosPreview"
                			  :upStatus="photos.uploadStatus"
                			  :before-remove="handlePhotosBeforeRemove"
                			  :fileType = "photos.fileType"
                			  :on-remove="handlePhotosRemove">
                			  <i class="el-icon-plus"></i>
                			</el-upload>
                			<el-dialog :visible.sync="photos.dialogVisible" size="tiny">
                			  <img width="100%" :src="photos.dialogImageUrl" v-if="dialogType=='img'" alt="">
                			</el-dialog>
                		</div>
                	</div>
                </div>

                <div class="upload-box">
                	<div class="photos">
                		<span class="title">{{language[curLanguage][17]}}</span>
                		<div class="input photos" :class="{'publish-pdf-yes':photos.pdf.length>0||photos.upload2Status.length>0}">
                		    <el-upload
                			  ref="imgUpload"
                			  :headers="uploadHead"
                			  :action="uploadURL"
                			  list-type="picture-card"
                			  :limit="photos.numLimit"
                	          :http-request="uploadStart"
                	          :on-success="handlePhotosSuccess"
                	          :before-upload="beforePDFUpload"
                			  :on-preview="handlePhotosPreview"
                			  :upStatus="photos.upload2Status"
                			  :before-remove="handlePDFBeforeRemove"
                			  :fileType = "photos.fileType"
                			  :on-remove="handlePhotosRemove">
                			  <i class="el-icon-plus"></i>
                			</el-upload>
                      <div class="pdf-icon">
                         .pdf{{language[curLanguage][18]}}
                      </div>

                			<el-dialog :visible.sync="photos.dialogVisible" size="tiny">
                			  <img width="100%" :src="photos.dialogImageUrl" v-if="dialogType=='img'" alt="">

                			</el-dialog>
                		</div>
                	</div>
                </div>

            </div>






            <div class="btn" style="width:100%">
                 <button @click="submitPublishInfo('publishInfoForm')">{{language[curLanguage][19]}}</button>
            </div>
        </div>

        <pageFooter ref="pageFooter" />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import pageHeader2 from '../components/pageHeader.vue'
import {publish} from '../utils/language'
import {apiStateList} from '../utils/result-state'
import moment from 'moment'




export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         language:publish,

         userInfo:{
            configure:{
            }
         },
         myAsset:[],
         assetType:{
            1:'actuals',
            2:'futures',
            3:'shares',
            4:'gold'
         },
         systemGroup:{
           1:'现货',
           2:'期货',
           3:'股票',
           4:'黄金',
         },
         publishInfo:{
             name:'',
             cycle:1,
             cycleOption:[
                {value:1,label:'1个月'},
                {value:2,label:'2个月'},
                {value:3,label:'3个月'},
                {value:4,label:'4个月'},
                {value:5,label:'5个月'},
                {value:6,label:'6个月'},
                {value:7,label:'7个月'},
                {value:8,label:'8个月'},
                {value:9,label:'9个月'},
                {value:10,label:'10个月'},
                {value:11,label:'11个月'},
                {value:12,label:'12个月'}
             ],
             system:'',
             systemOption:[],
             startTime:'',
             endTime:'',
             profitType:0,
             profitTypeOption:[
                {value:0,label:'固定年利率'},
                {value:1,label:'盈利分成'}
             ],
             profitVal:'',
             profitIncome:'',
             cost:'',
             language:'zh',
             languageOption:[
               {value:'zh',label:'中文'},
               {value:'en',label:'英文'},
               {value:'ja',label:'日文'},
               {value:'ko',label:'韩文'},

             ],
             minQuota:'',
             maxQuota:'',
             img:'',
             pdfExplain:'',
             remarks:''

         },

         photos:{
          		 dialogImageUrl: '',
          		 dialogVisible: false,
          		 uploadStatus:[],
          		 numLimit:1,
          		 fileType:[],
               upload2Status:[],
               up2FileType:[],
               img:[],
               pdf:[]
          },
          loading:{
              photos:false
          },
          uploadType:1,
          uploadHead:{
          		   'Content-Type':'application/x-www-form-urlencoded; charset=UTF-8'
          		   // 'Content-Type':'multipart/form-data'

          },
          uploadURL:this.$api.imgUploadURL,


          uploadData:{
          		  file:null,
          		  baseData:null
          },
          imgMaxWidth:800,
          imgMaxHeight:1000,
          formData:{
              Enclosure:[],
              BriefEnclosure:[]
          },
         fileIsImg:false,
         dialogType:'img',
         resultStateList:apiStateList



    };
  },
  metaInfo() {
      return{
         title: this.curLanguage==1?'发布产品-N Sky':'Product release -N Sky',
      }

  },
  created(){


    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       this.settingAPIDataLanguage();
       this.getUserInfo();
       this.getUserAsset();
   }else{
         this.localStore.setItem('fromPage','publish');
         this.$router.push({name:'login'});
         return;
     }



   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();

   // this.getcurrency()



  },

  components: {
    pageHeader,
    pageFooter,
    pageHeader2
  },

  computed: {

      rules() {

        return {
                  name:[
                    {required: true, message:this.$t("publish.name"), trigger: 'blur'}
                  ],
                  startTime:[
                    {required: true, message:this.$t("publish.startTime"), trigger: 'blur'}
                  ],
                  profitIncome:[
                    {required: true, message:this.$t("publish.profitIncome"), trigger: 'blur'}
                  ],
                  profitVal:[
                    {required: true, message:this.$t("publish.profitVal"), trigger: 'blur'}
                  ],
                  cost:[
                    {required: true, message:this.$t("publish.cost"), trigger: 'blur'}
                  ],
                  minQuota:[
                    {required: true, message:this.$t("publish.minQuota"), trigger: 'blur'}
                  ],
                  maxQuota:[
                    {required: true, message:this.$t("publish.maxQuota"), trigger: 'blur'}
                  ]

          };
      }
    },

  methods: {
     getStateCodeText(code){
           let text = this.resultStateList.find(item=>{
              return item.code == code
           })
           if(this.curLanguage==1){
             return text.cn
           }else{
             return text.en
           }

     },
     handleCommand(command) {

          // this.$message("click on item " + command);
          switch (command) {
            case 1: {
              this.lang = "zh";
              this.$i18n.locale = this.lang;
              break;
            }
            case 2: {
              this.lang = "en";
              this.$i18n.locale = this.lang;
              break;
            }
            case 3: {
              this.lang = "tr";
              this.$i18n.locale = this.lang;
              break;
            }
            case 4: {
              this.lang = "ar";
              this.$i18n.locale = this.lang;
              break;
            }
            case 5: {
              this.lang = "fa";
              this.$i18n.locale = this.lang;
              break;
            }
            default: {
              this.lang = "en";
              this.$i18n.locale = this.lang;
              break;
            }


          }
        },
     settingAPIDataLanguage(){
         let profitTypeOption = [
                {value:0,label:this.language[this.curLanguage][27]},
                {value:1,label:this.language[this.curLanguage][28]}
             ]
         let languageOption = [
               {value:'zh',label:this.language[this.curLanguage][29]},
               {value:'en',label:this.language[this.curLanguage][30]},
               {value:'tr',label:this.language[this.curLanguage][31]},
               {value:'ar',label:this.language[this.curLanguage][32]},
               {value:'fa',label:this.language[this.curLanguage][33]}
             ]
         let systemGroup = {
           1:this.language[this.curLanguage][35],
           2:this.language[this.curLanguage][36],
           3:this.language[this.curLanguage][37],
           4:this.language[this.curLanguage][38],
         }
         let cycleOption = [
            {value:1,label:'1'+this.language[this.curLanguage][39]},
            {value:2,label:'2'+this.language[this.curLanguage][39]},
            {value:3,label:'3'+this.language[this.curLanguage][39]},
            {value:4,label:'4'+this.language[this.curLanguage][39]},
            {value:5,label:'5'+this.language[this.curLanguage][39]},
            {value:6,label:'6'+this.language[this.curLanguage][39]},
            {value:7,label:'7'+this.language[this.curLanguage][39]},
            {value:8,label:'8'+this.language[this.curLanguage][39]},
            {value:9,label:'9'+this.language[this.curLanguage][39]},
            {value:10,label:'10'+this.language[this.curLanguage][39]},
            {value:11,label:'11'+this.language[this.curLanguage][39]},
            {value:12,label:'12'+this.language[this.curLanguage][39]}
         ]

         this.publishInfo.profitTypeOption = profitTypeOption
         this.publishInfo.languageOption = languageOption
         this.systemGroup = systemGroup
         this.publishInfo.cycleOption = cycleOption

     },

     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },

     getUserInfo(){
         const api = this.$api.url.userVerify1;
         const params = {
            Device:'web',
            Uid:this.userLoginInfo.userID,
            Token:this.userLoginInfo.session
         }
         this.$axios.get(api,{params:params})
         .then((res)=>{
             if(res.data.code==0){
                let data = JSON.parse(res.data.data);
                this.userInfo = data

                if(this.userInfo.configure==null){
                   this.userInfo.configure = {
                      t_actuals_gid: null,
                      t_actuals_state: null,
                      t_actuals_uid: null,
                      t_futures_gid: null,
                      t_futures_state: null,
                      t_futures_uid: null,
                      t_other_gid: null,
                      t_other_state: null,
                      t_other_uid: null,
                      t_shares_gid: null,
                      t_shares_state: null,
                      t_shares_uid: null,
                      t_uid: null
                   }
                }
               this.publishInfo.systemOption= [];
               if(this.userInfo.configure.t_actuals_state==2){
                  this.publishInfo.systemOption.push({value:1,label:this.systemGroup[1]})
               }
               if(this.userInfo.configure.t_futures_state==2){
                  this.publishInfo.systemOption.push({value:2,label:this.systemGroup[2]})
               }
               if(this.userInfo.configure.t_shares_state==2){
                  this.publishInfo.systemOption.push({value:3,label:this.systemGroup[3]})
               }
               if(this.userInfo.configure.t_other_state==2){
                  this.publishInfo.systemOption.push({value:4,label:this.systemGroup[4]})
               }
               if(this.publishInfo.systemOption.length != 0){
                  this.publishInfo.system = this.publishInfo.systemOption[0].value;
               }


               // this.userInfo.u_country = this.userCountry;
               this.localStore.setItem('userInfo',this.userInfo)


               if(data.configure.t_actuals_state == 2||data.configure.t_futures_state == 2||data.configure.t_shares_state == 2||data.configure.t_other_state == 2){
                  this.assetStateFlag = true;
               }

             }else if(res.data.code==1011||res.data.code==1006){

                 this.$refs.pageHead.logout();
                 this.isLogin = false;
                 this.$router.push({name:'login'});
             }else{
               // let resultMsg = this.getStateCodeText(res.data.code);
               this.$message({
                 message:'错误',
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })

     },


     getUserAsset(){

         const api = this.$api.url.userFund;
         const params = {
            Uid:this.userLoginInfo.userID,
            Token:this.userLoginInfo.session,
            Device:'web'

         }
          this.assetSpotLoading = true;
          this.assetRequestFlag = false;
          this.$axios.get(api,{params:params})
         .then((res)=>{

             this.assetSpotLoading = false;
             this.assetRequestFlag = true;

             if(res.data.code==0){

                 const data = JSON.parse(res.data.data);

                 this.myAsset = data;



             }else if(res.data.code==1000){
                return
             }else if(res.data.code==1011||res.data.code==1006){

                 // this.$refs.pageHead.logout();
                 // this.isLogin = false;

                 // this.$router.push({name:'login'});
             }else{
               let resultMsg = this.getStateCodeText(res.data.code);
               this.$message({
                 message:this.language[this.curLanguage][43]+ this.language[this.curLanguage][39]+resultMsg,
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })

     },

    submitPublishInfo(formName,type){
               ////////////////


        let systemAsset = this.myAsset[this.assetType[this.publishInfo.system]]
        let usdAsset = systemAsset.find(item=>{
            return item.t_ccode == 'USD'
        })

        if(usdAsset.t_number<10000){
            this.$message({
              message:this.language[this.curLanguage][41],
              type: "error",
              center: true,
              duration:1800
            })
            return;
        }


         this.$refs[formName].validate((valid) => {
           if (valid) {
             
             if(this.photos.img.length===0){
                 this.$message({
                   message:this.language[this.curLanguage][42],
                   type: "error",
                   center: true,
                   duration:1800
                 })
                 return;
             }

             if(this.photos.pdf.length===0){
                 this.$message({
                   message:this.language[this.curLanguage][43],
                   type: "error",
                   center: true,
                   duration:1800
                 })
                 return;
             }



             const imgStr = this.photos.img.join('|');
             const pdfStr = this.photos.pdf.join('|');

             const api = this.$api.url.FinancialProducts;

             const params = {
                             Name:this.publishInfo.name,
                             Stime:moment(this.publishInfo.startTime).format('YYYY-MM-DD'),
                             Cycle:this.publishInfo.cycle,
                             MaxQuota:this.publishInfo.maxQuota,
                             MinQuota:this.publishInfo.minQuota,
                             ProfitType:this.publishInfo.profitType,
                             ProfitVal:this.publishInfo.profitType===0?0:this.publishInfo.profitVal,
                             ProfitIncome:this.publishInfo.profitType==1?0:this.publishInfo.profitIncome,
                             Cost:this.publishInfo.cost,
                             Img:imgStr,
                             Language:this.publishInfo.language,
                             System:this.publishInfo.system,
                             Remarks:this.publishInfo.remarks,
                             PDFExplain:pdfStr,
                             Uid:this.userLoginInfo.userID,
                             Token:this.userLoginInfo.session,
                             Device:'web',
                             WebSite:0

                         }



                       this.$axios.post(api,params)
                      .then((res)=>{
                          if(res.data.code==0){
                                this.$message({
                                  message:this.language[this.curLanguage][33],
                                  type: "success",
                                  center: true,
                                  duration:1800
                                })
                                this.$router.push({name:'myProducts'});
                            // this.getUserVerify1()

                          }else{
                            let resultMsg = this.getStateCodeText(res.data.code);
                            this.$message({
                              message:resultMsg,
                              type: "error",
                              center: true,
                              duration:1800
                            })
                          }

                      }).catch((error)=>{
                          this.$message({
                            message: error,
                            type: "error",
                            center: true,
                          duration:1800
                          })
                        })


           } else {


             document.documentElement.scrollTop = 0




             return false;
           }
         });


    },

    handlePhotosSuccess(fileName,upType) {


          	const fileURL = fileName
    			var status;


           if(upType==1){
           	status = this.photos.upload2Status;
           	this.photos.pdf.push(fileURL);
           }else{
           	status = this.photos.uploadStatus;
           	this.photos.img.push(fileURL);
           }

    			const photosIndex = status.length-1

          status.splice(photosIndex,1,false);
    			// this.photos.fileType.splice(photosIndex,1,false);

    			 // this.videoPlayTime = 0;
                },
    	  uploadStart(){

    	  		  const that=this
    			  if(this.uploadType==1){
    				  var photosIndex = this.photos.upload2Status.length-1
    			  }else{
    				  var photosIndex = this.photos.uploadStatus.length-1
    			  }



    // 				 let Orientation;
    // 				 //去获取拍照时的信息，解决拍出来的照片旋转问题
    // 				  EXIF.getData(this.uploadData.file, function(){
    // 				      Orientation = EXIF.getTag(this, 'Orientation');
    // 				  });


             if(!this.fileIsImg){
              	var formData = new FormData();
              	formData.append("file", this.uploadData.file);

                 this.$axios.post(this.uploadURL,formData)
                 .then((res)=>{

             			 if(res.data.code!=0){
             				this.$message({
             				  message: "上传出错！",
             				  type: "error",
             				  center: true
             				})
             				this.photos.uploadStatus.splice(photosIndex,1);
             				this.photos.fileType.splice(photosIndex,1);
             			 }


             			if(res.data.code==0){
             				 this.handlePhotosSuccess(res.data.result,this.uploadType);
             			 }

                 }).catch((error)=>{
             		  this.$message({
             			message: error,
             			type: "error",
             			center: true,
             			duration:1500
             		  })
             		  this.photos.uploadStatus.splice(photosIndex,1);
             		  this.photos.fileType.splice(photosIndex,1);
             	  })





             }else{

               var img = new Image()
               var reader = new FileReader();


               reader.readAsDataURL(this.uploadData.file);
                reader.onload=function(){
               	img.src = this.result;
               }

                 img.onload=function(){
                      that.uploadData.baseData = that.getBase64Image(this);

                      that.$axios.post(that.uploadURL,{file:that.uploadData.baseData})
                      .then((res)=>{

                       if(res.data.code!=0){
                        that.$message({
                          message: this.language[this.curLanguage][20]+ " "+this.language[this.curLanguage][15]+resultMsg,
                          type: "error",
                          center: true
                        })
                        if(that.uploadType==1){
                          that.photos.upload2Status.splice(photosIndex,1);
                          that.photos.up2FileType.splice(photosIndex,1);
                        }else{
                          that.photos.uploadStatus.splice(photosIndex,1);
                          that.photos.fileType.splice(photosIndex,1);
                        }

                       }

                      if(res.data.code==0){
                         that.handlePhotosSuccess(res.data.result,that.uploadType);
                       }

                      })

                 }

             }




    	 },

    	  getBase64Image(img) {
    	  			var canvas = document.createElement("canvas");
    	  			var context = canvas.getContext('2d');
    	  			//原始尺寸
    	  			var originWidth  = img.width;
    	  			var originHeight  = img.height;

    	  			//最大尺寸限制
    	  			var maxWidth = this.imgMaxWidth, maxHeight = this.imgMaxHeight;
    	  			// 目标尺寸
    	  			var targetWidth = originWidth, targetHeight = originHeight;

    	  			 // 图片尺寸超过设定的限制
    	  			if (originWidth > maxWidth || originHeight > maxHeight) {
    	  				if (originWidth / originHeight > maxWidth / maxHeight) {
    	  					// 更宽，按照宽度限定尺寸
    	  					targetWidth = maxWidth;
    	  					targetHeight = Math.round(maxWidth * (originHeight / originWidth));
    	  				} else {
    	  					targetHeight = maxHeight;
    	  					targetWidth = Math.round(maxHeight * (originWidth / originHeight));
    	  				}
    	  			}

    	  			// canvas对图片进行缩放
    	  			canvas.width = targetWidth;
    	  			canvas.height = targetHeight;
    	  			// 清除画布
    	  			context.clearRect(0, 0, targetWidth, targetHeight);
    	  			// 图片压缩
    	  			context.drawImage(img, 0, 0, targetWidth, targetHeight);


    	  			var dataURL = canvas.toDataURL("image/jpeg", 0.8);
    	  			return dataURL;

    	  },
    	  beforePhotosUpload(file) {
    		  this.photos.uploadStatus.push(true);
    		  this.uploadType=2;
    		  const isIMG =  file.type.indexOf('image/')!=-1;
    		  const isWord =  file.type.indexOf('/msword')!=-1;
    		  const isPDF =  file.type.indexOf('/pdf')!=-1;
    		  const isVideo =  file.type.indexOf('/mp4')!=-1;
    		  // const isLt2M = file.size / 1024 / 1024 < 2;
              const photosIndex = this.photos.uploadStatus.length-1;
    		  let fileType = '';
    		  this.uploadData.file = file;

    		  if(!!isIMG){
    			  this.fileIsImg = true;
    			  fileType = 'img'
    		    }else{
    			  this.fileIsImg = false;
    		   }

    // 		  if(!!isWord){
    // 		    fileType = 'word'
    // 		  }
    // 		  if(!!isPDF){
    // 		  	fileType = 'pdf'
    // 		  }
    // 		  if(!!isVideo){
    // 		  	fileType = 'video'
    // 		  }

    		  this.photos.fileType.push(fileType);

    		  // const fileIsTrue = !!isIMG||!!isWord||!!isPDF||!!isVideo;
    		  const fileIsTrue = !!isIMG;

              this.uploadFilter(fileIsTrue,photosIndex);
    		  return fileIsTrue;
    	  },
    	  beforePDFUpload(file) {
    	  		  this.photos.upload2Status.push(true);
    	  		  this.uploadType=1;
    	  		  const isIMG =  file.type.indexOf('image/')!=-1;
    	  		  const isWord =  file.type.indexOf('/msword')!=-1;
    	  		  const isPDF =  file.type.indexOf('/pdf')!=-1;
    	  		  const isVideo =  file.type.indexOf('/mp4')!=-1;
    	  		  // const isLt2M = file.size / 1024 / 1024 < 2;
    	            const photosIndex = this.photos.upload2Status.length-1;
    	  		  let fileType = '';
    	  		  this.uploadData.file = file;

    	  		  if(!!isIMG){
    	  			  this.fileIsImg = true;
    	  			  fileType = 'img'
    	  		    }else{
    	  			  this.fileIsImg = false;
    	  		   }


             		  if(!!isPDF){
             		  	fileType = 'pdf'
             		  }


    	  		 this.photos.up2FileType.push(fileType);
    	       const fileIsTrue = !!isPDF;
    	  		  // const fileIsTrue = !!isIMG;

    	            this.uploadFilter(fileIsTrue,photosIndex);
    	  		  return fileIsTrue;
    	  	  },

    	  uploadFilter(fileType,picIndex){
    		  if (!fileType) {
    		  	this.$message.error('文件格式不支持');
    		    this.photos.uploadStatus.splice(picIndex,1);
    			this.photos.fileType.splice(picIndex,1);
    		  }
    // 		  if (!fileLt) {
    // 		  	this.$message.error('上传图片太大');
    // 		    status=false;
    // 		  }

    	  },

    	  handlePhotosBeforeRemove(file, fileList){
    		  this.uploadType = 2;
    		  this.photos.removeIndex = fileList.indexOf(file);
         },
    	 handlePDFBeforeRemove(file, fileList){
    	 		  this.uploadType = 1;
    	 		  this.photos.removeIndex = fileList.indexOf(file);
            this.handlePhotosRemove(file,fileList)
    	 },
         handlePhotosRemove(file, fileList) {

    		if(this.uploadType==1){
    		   this.photos.upload2Status.splice(this.photos.removeIndex,1);

    		   this.photos.pdf.splice(this.photos.removeIndex,1);
    		}else{
    		   this.photos.uploadStatus.splice(this.photos.removeIndex,1);
    		   this.photos.fileType.splice(this.photos.removeIndex,1);
    		   this.photos.img.splice(this.photos.removeIndex,1);
    		}

         },
          handlePhotosPreview(file,index) {

    		this.dialogType = file.fileType[index];

            this.photos.dialogImageUrl = file.url;
    		this.photos.dialogVisible = true;


          },

          changeLanguage(val){

            this.curLanguage = val;
            this.settingAPIDataLanguage();
            this.getUserInfo()
            this.$refs.pageFooter.handleLan();
            this.$refs.pageHead2.handleLan();
            this.handleCommand(this.curLanguage);
          },


  }


};
</script>





<style scoped lang="scss">


    header{height: 62px;line-height: 62px;background-color: #000;}
       header .width-cell{width: inherit;margin:0 auto;}
       header a{color: #fff;}
       header .left{float:left;}
       header .left a{margin-right: 15px;opacity: 1;-webkit-transition: opacity 0.3s ease 0s;transition: opacity 0.3s ease 0s;}
       header .left a:hover{opacity: 1;}
       header .right{float: right;position: relative;padding-right: 100px;padding-top: 15px;}
       header .right a{float:left;margin-right: 15px;}
       header .right a i{margin-right: 5px;}
       header .right .language,header .right a{width: 100px;height: 32px;line-height: 32px;border:1px solid #ccc;color: #ccc;text-align: center;}
       header .right .create-account{width: 140px;background-color: #74c109;color: #fff;font-size: 16px;font-weight: bold;border: 0;}
       header .right .language{position: absolute;right:0;top:15px;}


       .width-cell{margin:0 auto;}
       .nav{height: 88px;line-height: 88px;background-color: #000;border-top: 1px solid #262628;}
       .nav a{color: #fff;font-size: 20px;font-weight: bold;float:left;margin-left: 16px;}
       .nav a:hover{color: #f00;}
       .nav .logo{float:left;padding-top: 6px;line-height: 0;}
       .nav ul{float: right;}
       
       footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}


       .page-title{height: 75px;line-height: 50px;padding-top: 25px;width: inherit;margin: 0 auto;
          h3{padding: 10px;font-size: 24px;/*float: left;*/}

       }

       .publish-box{
          .row{margin:0 auto;padding:.75rem 0;border-bottom: 1px solid #eee;}
          .cell{margin-right: 2rem;position: relative;padding:0 .75rem .75rem;
            i{position: absolute;right:10px; top:38px;color: #888;}
          }
          .el-form-item{margin-bottom: 0;}


       }

       .btn{margin:.75rem 0 0;text-align: center;background-color: #f5f5f5;padding:.75rem 0 2rem;
          button{width: 300px;height: 50px;line-height: 50px;background-color: #74c109;color: #fff;font-size: 18px;cursor: pointer;border-radius: 3px;}
       }

       .upload{margin:.75rem;height: 18.6rem;
          .upload-box{height: 9.5rem;position: relative;}
          .input.photos{}
          .pdf-icon{display: none;position: absolute;left:45px;top: 80px;}
          .title{font-size: 16px;}
       }
      

       h4, .h4, h5, .h5, h6, .h6 {
           margin-top: 0;
           margin-bottom: 0;
       }

</style>

<style>
   /* .publish-box .row .el-input__inner,.publish-box .row .el-select,.publish-box .row .el-input{width: 100%;} */
   .publish-box .row .el-form-item__label{font-size: 15px;padding-bottom: 8px;color: #888;line-height: 30px;}
   .publish-box .row .el-select{width: 100%;}
   .publish-box .row .el-textarea__inner{min-height: 7.5rem !important;}
   .upload .publish-pdf-yes .el-upload--picture-card,.upload .publish-img-yes .el-upload--picture-card{display:none ;}
   .upload .publish-pdf-yes .pdf-icon{display: block;}

   .upload .publish-pdf-yes .el-icon-zoom-in{display: none;}
   .publish-box .upload .el-upload-list__item-preview,.publish-box .upload .el-upload-list__item-delete{position: absolute;}
   .publish-box .upload .el-upload-list__item-preview{left:.5rem;top:0}
   .publish-box .upload .el-upload-list__item-delete{right:.5rem;top:0}
</style>
