<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}">

          <div class="container-fluid top-bar">
            <div class="container-fluid" style="padding: 15px 10px;">
              <div class="">
                <div class="col-12 " style="text-align:center">
                  <h1 style="font-size:20px;color:white">{{language[curLanguage][1]}}</h1>
                  <!-- <ol class="breadcrumb">
                    <li class="home">

                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">{{language[curLanguage][1]}}</li></ol> -->
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>{{language[curLanguage][2]}}</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid top80 text-center regulation">
            <div class="row">
              <div class="col-md-12 text-justify mx-2">
                <h2>{{language[curLanguage][4]}}</h2></div>
            </div>
            <div class="list-box">
                <ul>
                    <li class="row">
                        <div class="col-12" @click="handleImgScale(1)">
                            <img src="../../static/images/license1.jpg" />
                        </div>
                        <div class="col-12">
                           <h3 >{{language[curLanguage][4]}}</h3>
                            <p>{{language[curLanguage][5]}}</p>
                            <p>{{language[curLanguage][6]}}<br />{{language[curLanguage][7]}}
                                <span @click="handleImgScale(1)">{{language[curLanguage][8]}}</span>
                            </p>
                        </div>
                    </li>

                    <li class="row">
                        <div class="col-12" @click="handleImgScale(2)">
                            <img src="../../static/images/license2.jpg" />
                        </div>
                        <div class="col-12" >
                            <h3>{{language[curLanguage][9]}}</h3>
                            <p>{{language[curLanguage][10]}}</p>
                            <p>{{language[curLanguage][11]}}<br />{{language[curLanguage][12]}}             
                                <span @click="handleImgScale(2)">{{language[curLanguage][8]}}</span>
                            </p>
                        </div>
                    </li>

                </ul>
            </div>
          </div>
          <div class="dis70"></div>
          <div class="mask-cover" @click="handleImgScale()" v-if="imgBigShowFlag"></div>
          <div class="img-big-box" v-if="imgBigShowFlag">
              <img :src="imgBigURL" />
          </div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {languageCode} from '../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },
         language:{
            1:{
                 1: '监管',
                 2: '联系我们',
                 3: 'N Sky™ 集团执照',
                 4: '金银业贸易场',
                 5: 'The Chinese Gold & Silver Exchange Society(CGSE)',
                 6: '天富宝贵金属有限公司是香港金银业贸易场行员，持有AA类交易牌照（行员编号：170）。',
                 7: '受金银业贸易场及香港法律双重监管。金银业贸易场拥有超过100年历史，是香港现时唯一的现货黄金、白银交易所。贸易场为正规、认可的交易单提供交易编码，维护投资者及合法企业的利益，与香港政府共同监督、管理贵金属市场，公正权威。',
                 8: '查看许可证',
                 9: '圣文森特和格林纳丁斯金融服务管理局',
                 10: 'Saint Vincent and the Grenadines Financial Services Authority（SVGFSA）',
                 11: '天富宝贵金属有限公司持有圣文森特和格林纳丁斯金融服务管理局的注册牌照，注册号:225 LLC2019 。',
                 12: '圣文森特和格林纳丁斯金融服务管理局是圣文森特和格林纳丁斯的法定金融机构，作为全球重要的金融监管机构之一，要求每一个受监管的平台为投资者提供灵活、专业、达世界领先水平的投资服务。圣文森特和格林纳丁斯法律保护投资者资金及交易安全，平台严格遵守当地国际商业公司法及其他相关法规要求。'
             },
            2:{
                 1: 'Regulation',
                 2: 'Contact Us',
                 3: 'N Sky™ Group Licenses',
                 4: 'Gold and Silver Trade Fair',
                 5: 'The Chinese Gold & Silver Exchange Society(CGSE)',
                 6: 'Tianfu Precious Metals Co., Ltd. is a member of the Hong Kong gold and silver trading market, and holds an AA trading license (member number: 170).',
                 7: 'Under the dual supervision of the gold and silver industry trading market and Hong Kong law. The gold and silver trading field has a history of more than 100 years and is currently the only spot gold and silver exchange in Hong Kong. The trade fair provides transaction codes for formal and approved transaction orders, safeguards the interests of investors and legal enterprises, and supervises and manages the precious metal market with the Hong Kong government, impartial and authoritative.',
                 8: 'View License',
                 9: 'Saint Vincent and the Grenadines Financial',
                 10: 'Saint Vincent and the Grenadines Financial Services Authority (SVGFSA)',
                 11: 'Tianfu Precious Metals Co., Ltd. holds a registration license from the Financial Services Authority of Saint Vincent and the Grenadines, registration number: 225 LLC2019.',
                 12: 'The Financial Services Authority of Saint Vincent and the Grenadines is the statutory financial institution of Saint Vincent and the Grenadines. As one of the world’s important financial regulators, it requires every regulated platform to provide investors with flexibility, professionalism, and world-leading Level of investment services. Saint Vincent and the Grenadines laws protect investor funds and transaction security, and the platform strictly abides by the local International Business Company Law and other relevant regulatory requirements.'
             },
            3:{
                 1: 'Nezaret',
                 2: 'Bize Ulaşın',
                 3: 'N Sky™ Grup lisansı',
                 4: 'Altın ve Gümüş Ticaret Fuarı',
                 5: 'The Chinese Gold & Silver Exchange Society(CGSE)',
                 6: 'Tianfu Precious Metals Co., Ltd., Hong Kong altın ve gümüş ticaret piyasasının bir üyesidir ve AA Tipi ticaret lisansına sahiptir (üye numarası: 170).',
                 7: "Altın ve gümüş endüstrisi ticaret piyasası ve Hong Kong yasasının ikili denetimi altında. Altın ve gümüş ticareti alanının 100 yılı aşkın bir geçmişi vardır ve şu anda Hong Kong'daki tek spot altın ve gümüş borsasıdır. Ticaret fuarı, resmi ve onaylanmış işlem siparişleri için işlem kodları sağlar, yatırımcıların ve yasal işletmelerin çıkarlarını korur ve tarafsız ve yetkili Hong Kong hükümeti ile kıymetli metal pazarını denetler ve yönetir.",
                 8: 'Lisansı görüntüle',
                 9: 'Saint Vincent ve Grenadinler Finansal Hizmetler Kurumu',
                 10: 'Saint Vincent and the Grenadines Financial Services Authority（SVGFSA）',
                 11: "Tianfu Precious Metals Co., Ltd., Saint Vincent ve Grenadinler Finansal Hizmetler Otoritesi'nden 225 LLC2019 kayıt numarasıyla kayıtlı bir lisansa sahiptir.",
                 12: "Saint Vincent ve Grenadinler Finansal Hizmetler Kurumu, Saint Vincent ve Grenadinler'in yasal finans kurumudur. Dünyanın önemli finansal düzenleyicilerinden biri olarak, yatırımcılara esneklik, profesyonellik ve dünya lideri sağlamak için düzenlenmiş her platforma ihtiyaç duyar Yatırım hizmetlerinin seviyesi. Saint Vincent ve Grenadinler yasaları, yatırımcı fonlarını ve işlem güvenliğini korur ve platform, yerel Uluslararası Ticaret Şirketleri Yasası ve diğer ilgili düzenlemelere sıkı bir şekilde uyar."
             },
            4:{
                 1: 'التراخيص والمؤهلات',
                 2: 'اتصل بنا',
                 3: 'تراخيص مجموعة ™N Sky',
                 4: 'المعرض التجاري للذهب والفضة',
                 5: 'The Chinese Gold & Silver Exchange Society(CGSE)',
                 6: 'شركة Tianfu Precious Metals Co.، Ltd. هي عضو في سوق تجارة الذهب والفضة في هونغ كونغ ، وتحمل رخصة تجارية AA (رقم العضو: 170).',
                 7: 'تحت الإشراف المزدوج لسوق تجارة صناعة الذهب والفضة وقانون هونغ كونغ. يعود تاريخ مجال تداول الذهب والفضة إلى أكثر من 100 عام وهو حاليًا البورصة الوحيدة للذهب والفضة في هونغ كونغ. يوفر المعرض التجاري رموز المعاملات لأوامر المعاملات الرسمية والمعتمدة ، ويحمي مصالح المستثمرين والمؤسسات القانونية ، ويشرف على سوق المعادن الثمينة ويديرها مع حكومة هونغ كونغ ، بشكل نزيه وموثوق',
                 8: 'ترخيص عرض',
                 9: 'سانت فنسنت وجزر غرينادين المالية',
                 10: 'Saint Vincent and the Grenadines Financial Services Authority (SVGFSA)',
                 11: 'شركة Tianfu Precious Metals Co.، Ltd. تحمل ترخيص تسجيل من هيئة الخدمات المالية في سانت فنسنت وجزر غرينادين ، رقم التسجيل: 225 LLC2019.',
                 12: 'هيئة الخدمات المالية في سانت فنسنت وجزر غرينادين هي المؤسسة المالية القانونية في سانت فنسنت وجزر غرينادين. باعتبارها واحدة من المنظمين الماليين المهمين في العالم ، فهي تتطلب من كل منصة منظمة أن توفر للمستثمرين المرونة والكفاءة المهنية والمستوى الرائد عالميًا في خدمات الاستثمار. تحمي قوانين سانت فنسنت وجزر غرينادين أموال المستثمرين وأمن المعاملات ، وتلتزم المنصة بصرامة بقانون الشركات التجارية الدولية المحلي والمتطلبات التنظيمية الأخرى ذات الصلة.'
             },
            5:{
                 1: 'رگوله',
                 2: 'تماس با ما',
                 3: 'گواهی نامه های ™N Sky',
                 4: 'بنگاه معاملاتی طلا و نقره',
                 5: 'The Chinese Gold & Silver Exchange Society(CGSE)',
                 6: 'Tianfu Precious Metals Co. ، Ltd. عضو بازار معاملات طلا و نقره هنگ کنگ، دارای مجوز تجارت AA (به شماره عضویت: 170) است.',
                 7: 'تحت نظارت دوگانه بازار معاملاتی صنعت طلا و نقره و قانون هنگ کنگ می باشد. این شرکت معاملاتی طلا و نقره بیش از 100 سال سابقه دارد و CGSE در حال حاضر تنها مرجع نظارت بر مبادلات طلا و نقره در هنگ کنگ است. این بنگاه تجاری کدهای معاملاتی را برای سفارشات معاملاتی رسمی و مصوب با تلاش بر حفظ منافع سرمایه گذاران و شرکت های حقوقی ارائه می دهد و بر بازار فلزات گرانبها با همکاری دولت هنگ کنگ بی طرفانه و مقتدرانه نظارت و مدیریت می کند.',
                 8: 'مشاهده مجوز',
                 9: 'سنت وینسنت و گرنادین',
                 10: 'Saint Vincent and the Grenadines Financial Services Authority (SVGFSA)',
                 11: 'Tianfu Precious Metals Co.، Ltd. دارای مجوز ثبت از اداره خدمات مالی سنت وینسنت و گرنادین ها به شماره ثبت: 225  LLC2019.می باشد.',
                 12: 'اداره خدمات مالی سنت وینسنت و گرنادین ها با نام موسسه قانونی سنت وینسنت و گرنادین ها است که تحت عنوان یکی از مراجع مهم مالی در جهان پلتفرم های بسیار قانونی را با خدماتی حرفه ای، انعطاف پذیر و سطح جهانی برای سرمایه گذاران فراهم کند. قوانین سنت وینسنت و گرنادین از وجوه سرمایه گذاران و امنیت معاملات محافظت می کنند و این پلتفرم کاملاً به قوانین محلی شرکت بین المللی بازرگانی و سایر الزامات نظارتی مربوطه پایبند است.'
             }
         },
        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false,
        imgBigURL:'',
        imgBigShowFlag:false,
        head:['监管','Regulation','Nezaret','التراخيص والمؤهلات','رگوله']




    };
  },
   metaInfo() {return {
      // 

      title: this.head[this.curLanguage-1]+'-N Sky',
      }
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

//    if(this.curLanguage!=2){
//        let pName = this.$route.name.substring(0,this.$route.name.length-2)
//        let pNameStr = pName + languageCode[this.curLanguage]
//        this.$router.push({name:pNameStr});
//    }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
         this.curLanguage = val;
       console.log(this.curLanguage)
    //    let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
    //    let pNameStr = pName + languageCode[val]
    //    this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     },
     handleImgScale(num){
         this.imgBigShowFlag = !this.imgBigShowFlag
         if(num==1){
            this.imgBigURL = '../../../static/images/license1.jpg'
         }
         if(num==2){
            this.imgBigURL = '../../../static/images/license2.jpg'
         }
     }


  }


};
</script>





<style scoped lang="scss">
h3{
    padding: 30px 0px;
}
p{
    padding: 10px;
    // text-align: left;
}
ul{
      padding:15px
}
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-8 {
       width: 66.66666667%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: center;padding: 10px !important;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29a643;}
   }

   .nav-flexbox-tabs {padding: 10px !important;
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


//    a:focus, a:visited {
//        color: #d51820;
//    }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}



footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}


.list-box{
   li{padding:0px;border-bottom: 1px solid #eee;}
   .left-img{float:left;width: 280px;height: 400px;cursor: pointer;
     img{max-width: 100%;max-height: 100%;}
   }
   .right-txt{padding-left:300px;padding-top: 120px;
     h3{font-size: 24px;color: #333 !important;margin-bottom: 5px;}
     p{margin-bottom: 15px;font-size: 16px;line-height: 24px;color: #333;
       span{display: block;margin-top: 10px;color: #f00;cursor: pointer;}
     }
   }
}

.img-big-box{width: 80%;height: 80%;position: fixed;left: 50%;top:50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);overflow: scroll;background-color: #fff;}
.mask-cover{width: 100%;height: 100%;position: fixed;background: rgba(0,0,0,.5);left: 0;top: 0;}

.rightToLeft p{direction: rtl; text-align: right!important;}
p{text-align: justify;}
</style>
