<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" v-bind:class="{rightToLeft:(curLanguage==4||curLanguage==5)}">
          <div class="container-fluid top-bar" >
            <div class="container-fluid" style="padding: 15px 10px;">
              <div class="">
                <div class="col-12 " style="text-align:center">
                  <h1 style="font-size:20px;color:white">{{language[curLanguage][1]}}</h1>
                  <!-- <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">{{language[curLanguage][1]}}</li></ol> -->
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>{{language[curLanguage][2]}}</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid hidden-xs">
            <h2 class="top80">{{language[curLanguage][3]}}</h2>
            <div class="row text-center top50 mx-auto">
              <div class="feature-item5">
                <i class="tfxfont3 xmLink fs100 "></i>
                <p>{{language[curLanguage][4]}}</p>
              </div>
              <div class="feature-item5">
                <i class="tfxfont3 xmDatabase-dollar fs100 "></i>
                <p>{{language[curLanguage][5]}}</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmPercent-100 fs100 "></i>
                <p class="top30">{{language[curLanguage][6]}}</p></div>
              <div class="feature-item7 hidden-xs">
                <i class="tfxfont3 xmChart fs100 "></i>
                <p>{{language[curLanguage][7]}}</p>
              </div>
              <div class="feature-item7 hidden-xs">
                <i class="tfxfont3 xmClock fs100 "></i>
                <p>{{language[curLanguage][8]}}</p>
              </div>
              <div class="feature-item7 hidden-xs">
                <i class="tfxfont3 xmZero-one fs100 "></i>
                <p>{{language[curLanguage][9]}}</p>
              </div>
            </div>
          </div>
          
         
          <div class="container-fluid">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-12 ">
                  <br>  {{language[curLanguage][10]}}</div>
                <div class="col-12">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">{{language[curLanguage][11]}}</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid top80 text-center hidden-xs hidden-sm">
            <div class="row">
              <div class="col-md-12 ">
                <blockquote>
                  <p>{{language[curLanguage][12]}}</p>
                  <footer>{{language[curLanguage][13]}}</footer></blockquote>
              </div>
            </div>
          </div>
          <div class="container-fluid top80" style="text-align: initial;">
            <div class="row">
              <div class="col-md-12 text-justify mx-2">
                <p>{{language[curLanguage][14]}}</p>
              </div>
              <div class="col-md-12 top50">
                <h2>{{language[curLanguage][15]}}</h2>
                <p>{{language[curLanguage][16]}}</p>
              </div>
              <div class="col-md-12 top50">
                <h2>{{language[curLanguage][17]}}</h2>
                <p>{{language[curLanguage][18]}}</p>
              </div>
              <div class="dis40"></div>
              <!-- <div class="col-md-12 text-justify mx-2">
                <h2>NOBLE SKY点差 /条件</h2>
                <ul class="arrows top30">
                  <li>查看NOBLE SKY外汇商品点差 / 条件 -&gt;
                    <a href="/cn/forex-trading">请点击这里</a></li>
                  <li>查看NOBLE SKY点差表/ 大宗商品交易条件 -&gt;
                    <a href="/cn/commodities">请点击这里</a></li>
                  <li>查看NOBLE SKY股指点差 / 条件 -&gt;
                    <a href="/cn/equity-indices">请点击这里</a></li>
                  <li>查看NOBLE SKY贵金属点差 /条件 -&gt;
                    <a href="/cn/precious-metals">请点击这里</a></li>
                  <li>查看NOBLE SKY能源点差 /条件 -&gt;
                    <a href="/cn/energies">请点击这里</a></li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {languageCode} from '../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false,
        language:{
            1:{
                1:'点差',
                2:'联系我们',
                3:'点差低至0.6个点',
                4:'主要货币对最低点差0.6基点',
                5:'100 多种金融商品',
                6:'没有任何隐形费用',
                7:'所有账户类型均为最低点差',
                8:'最佳执行政策',
                9:'小数点后五位报价',
                10:'在N Sky™开始以最低点差和非常精确的报价交易金融产品',
                11:'建立账户',
                12:'为了尽可能将点差压到最小值, 我们从70多个流动资金提供商和银行里面选择最佳的价格。我们的电子定价工具允许我们每一秒钟对所有货币进行三次更新，因此我们的价格反映了全球外汇最低的价格。',
                13:'- N Sky ™团队',
                14:'不论何种的账户类型和交易规模，N Sky ™始终为所有客户提供低点差。并且我们认识到对客户来说只有真正可交易的低点差才有意义，这也是我们非常重视执行质量的原因。',
                15:'固定或可变点差',
                16:'与同业银行的外汇市场一样，N Sky ™ 提供浮动点差。因为综合下来固定点差通常比浮动点差大很多。 在许多情况下，提供固定点差的外汇经纪商在新闻发布期间施加交易限制。而N Sky ™对 新闻发布期间的交易无任何限制。',
                17:'小数点后五位报价',
                18:'N Sky ™提供小数点后五位报价。不同于常规的 4-位数 报价, 客户可以通过增加第五位数部分，从最少的价格波动中获利。 分数精准定价，您的交易可以享受低点差，最准确报价。',
            },
            2:{
                1:'SPREADS',
                2:'Contact Us',
                3:'Tight spreads as low as 0.6 pips on all major currency pairs',
                4:'The lowest spread of major currency pairs is 0.6 basis points',
                5:'More than 100 financial products',
                6:'No hidden fees',
                7:'The lowest possible spreads for all trading account types',
                8:'Best execution policy',
                9:'Quotation with five decimal places',
                10:'Start trading financial products with the lowest spreads and a very precise quotation at N Sky™',
                11:'OPEN AN ACCOUNT',
                12:'In order to minimize the spread as much as possible, we choose the best price from more than 70 liquidity providers and banks. Our electronic pricing tool allows us to update all currencies three times per second, so our prices reflect the lowest foreign exchange prices in the world.',
                13:'N Sky™ Team',
                14:'Regardless of the account type and transaction size, N Sky™ always provides low spreads for all clients. And we recognize that only truly tradable low spreads are meaningful for our clients, which is why we attach great importance to execution quality.',
                15:'Fixed or Variable Spread',
                16:'Like the foreign exchange market of inter-bank, N Sky™  provides floating spreads because the fixed spread is usually much larger than the floating spread. In many cases, foreign exchange brokers who provide fixed spreads impose trading restrictions during press releases. <strong>N Sky™</strong> has no restrictions on transactions during the press release.',
                17:'Quotation with Five Decimal Places',
                18:'N Sky™ provides quotations with five decimal places. Different from the conventional 4-digit quotation, clients can profit from the least price fluctuations by increasing the fifth digit part. With fractional accurate pricing, your transaction can benifit from a low spreads and the most accurate quotation.'
            },
            3:{
                1:'Yaymak',
                2:'Bize Ulaşın',
                3:'0,6 puana kadar düşük yayılır',
                4:"Başlıca döviz çiftlerinin en düşük spread'i 0,6 baz puandır",
                5:"100'den fazla finansal ürün",
                6:'Hiçbir gizli ücret',
                7:'Tüm hesap türleri en düşük spreadlerdir',
                8:'En iyi uygulama politikası',
                9:'Beş ondalık basamaklı teklif',
                10:"N Sky™'da en düşük spread oranları ve çok hassas bir fiyat teklifi ile finansal ürünlerin ticaretine başlayın",
                11:'Hesap oluştur',
                12:"Yayılmayı olabildiğince azaltmak için 70'den fazla likidite sağlayıcısı ve banka arasından en iyi fiyatı seçiyoruz. Elektronik fiyatlandırma aracımız, tüm para birimlerini saniyede üç kez güncellememizi sağlar, böylece fiyatlarımız dünyadaki en düşük döviz fiyatlarını yansıtır.",
                13:' - N Sky ™ takım',
                14:'Hesap türü ve işlem boyutundan bağımsız olarak, N Sky ™ her zaman tüm müşteriler için düşük spreadler sağlar. Ve müşteriler için yalnızca gerçekten ticareti yapılabilen düşük spreadlerin anlamlı olduğunun farkındayız, bu nedenle yürütme kalitesine büyük önem veriyoruz.',
                15:'Sabit veya değişken spread',
                16:"Bankalararası bankaların döviz piyasası gibi, N Sky ™ dalgalı spreadler sunar. Çünkü sabit spread genellikle dalgalı spread'den çok daha büyüktür. Çoğu durumda, sabit spreadler sağlayan döviz komisyoncuları, basın açıklamaları sırasında ticaret kısıtlamaları uygular. N Sky ™, basın bülteni sırasındaki işlemlerde herhangi bir kısıtlamaya sahip değildir.",
                17:'Beş ondalık basamaklı teklif',
                18:'N Sky ™, beş ondalık basamaklı alıntılar sağlar. Müşteriler, geleneksel 4 basamaklı tekliften farklı olarak, beşinci basamak kısmını artırarak en düşük fiyat dalgalanmalarından kar elde edebilirler. Kesirli doğru fiyatlandırma, işlemleriniz düşük spreadlerin, en doğru teklifin tadını çıkarabilir.'
            },
            4:{
                1:'السبريد',
                2:'اتصل بنا',
                3:'سبريد منخفض يصل إلى 0.6 نقطة',
                4:'أدنى سبريد لأزواج العملات الرئيسية هو 0.6 نقطة أساس',
                5:'أكثر من 100 منتج مالي',
                6:'لا توجد رسوم خفية',
                7:'جميع أنواع الحسابات لديها أقل سبريد',
                8:'أفضل سياسة تنفيذ',
                9:'التسعير بخمسة منازل عشرية',
                10:'ابدأ تداول المنتجات المالية بأقل فروق أسعار وأسعار دقيقة للغاية في شركة ™N Sky ',
                11:'افتح حساب',
                12:'من أجل تقليل السبريد قدر الإمكان ، نختار أفضل سعر من بين أكثر من 70 مزود لسيولة وبنك. تتيح لنا أداة التسعير الإلكترونية الخاصة بنا تحديث جميع العملات ثلاث مرات في الثانية ، لذلك تعكس أسعارنا أقل أسعار صرف عملات أجنبية في العالم.',
                13:'فريق ™N Sky',
                14:'بغض النظر عن نوع الحساب وحجم المعاملة ، توفر ™N Sky  دائمًا سبريد منخفضة لجميع العملاء. ونحن ندرك أن السبريد المنخفضة القابلة للتداول هي فقط ذات مغزى للعملاء ، ولهذا السبب نولي أهمية كبيرة لجودة التنفيذ.',
                15:'سبريد ثابت أو متغير',
                16:'مثل سوق الصرف الأجنبي للبنوك بين البنوك ، توفر ™N Sky سبريد عائم. لأن السبريد الثابت عادة ما يكون أكبر بكثير من السبريد المتغير. في كثير من الحالات ، يفرض وسطاء الصرف الأجنبي الذين يقدمون سبريد ثابت قيودًا على التداول خلال البيانات الصحفية. لا توجد قيود على ',
                17:'التسعير بخمسة منازل عشرية',
                18:'يوفر  ™N Sky عروض الأسعار بخمسة منازل عشرية. يختلف عن التسعير التقليدي المكون من 4 أرقام ، يمكن للعملاء الاستفادة من أقل تقلبات الأسعار عن طريق زيادة الجزء الخامس من الرقم. مع التسعير الجزئي الدقيق ، يمكن أن تتمتع معاملتك بسبريد منخفض ، وأدق عرض أسعار.'
            },
            5:{
                1:'	اسپرد',
                2:'تماس با ما',
                3:'اسپرد هایی با حداقل میزان 0.6 پوینت',
                4:'حداقل میزان اسپرد برای جفت ارزهای اصلی 0.6 پوینت',
                5:'بیش از 100 شاخص اقتصادی',
                6:'بدون کارمزد های پنهان',
                7:'کم ترین میزان اسپرد در تمام حساب ها',
                8:'بهترین قوانین اجرا',
                9:'نرخ پایه با پنج رقم اعشار',
                10:'تجارت کالاهای مالی را با کمترین بازده و قیمت بسیار دقیق در ™N Sky شروع کنید',
                11:'افتتاح حساب',
                12:'به منظور به حداقل رساندن اسپرد هرچه بیشتر، بهترین قیمت را از بین بیش از 70 تامین کننده نقدینگی و بانک ها انتخاب می کنیم. ابزار قیمت گذاری الکترونیکی ما به ما امکان می دهد همه ارزها را در هر ثانیه سه بار به روز کنیم ، بنابراین قیمت های ما منعکس کننده پایین ترین قیمت ارز در جهان است.',
                13:' - ™N Sky Team',
                14:'صرف نظر از نوع حساب و اندازه تراکنش، ™N Sky برای همه مشتریان همیشه اسپرد کم را ارائه می دهد. و ما میدانیم که برای معامله کنندگان میزان اسپرد بسیار مهم است به همین دلیل اهمیت زیادی به کیفیت اجرا می دهیم.',
                15:'اسپرد ثابت یا شناور',
                16:'مانند بازار ارز بانک های بین بانکی ، ™N Sky نیز اسپرد شناور ارائه می دهد. زیرا اسپرد ثابت معمولاً بسیار بزرگتر از اسپرد شناور است. در بسیاری از موارد بروکر هایی که اسپرد ثابت ارائه می دهند محدودیت های معاملاتی را هنگام انتشار مطبوعات اعمال می کنند. ™N Sky در هنگام انتشار مطبوعات محدودیتی در معاملات ندارد.',
                17:'نرخ پایه با پنج رقم اعشار',
                18:'™N Sky نرخ ها را با پنج رقم اعشار ارائه می دهد. متفاوت از قیمت 4 رقمی مرسوم ، مشتریان می توانند با افزایش قسمت رقمی پنجم از کمترین نوسانات قیمت سود ببرند. با قیمت گذاری دقیق جزئی ، معامله شما می تواند از اسپرد پایین یعنی دقیق ترین قیمت بهره مند شود.'
            }
        },
         head:['点差','Spreads','Yaymak','السبريد','اسپرد'],






    };
  },
   metaInfo() {return {
      // 

      title: this.head[this.curLanguage-1]+'-N Sky',
      }
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

//    if(this.curLanguage!=2){
//        let pName = this.$route.name.substring(0,this.$route.name.length-2)
//        let pNameStr = pName + languageCode[this.curLanguage]
//        this.$router.push({name:pNameStr});
//    }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
    //    console.log(this.curLanguage)
    //    let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
    //    let pNameStr = pName + languageCode[val]
    //    this.$router.push({name:pNameStr});
       this.curLanguage = val;

     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
     width: 100%;
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
     text-align: center;
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: center;padding: 10px !important;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #ffa200;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size:16px!important;color: #252632;width: 247px;text-align: center;font-weight: 700;border-radius: 5px!important}
      .btn-full:hover{background-color: #ffa200;}
   }

   .nav-flexbox-tabs {padding: 10px !important;
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


  //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap>
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
// .feature-item5,.feature-item7{width: 50%;}
.rightToLeft{
    direction: rtl!important;
}
</style>
