@font-face {
  font-family: 'iconfont';  /* project id 1290167 */
  src: url('//at.alicdn.com/t/font_1290167_tbi4niy7sqo.eot');
  src: url('//at.alicdn.com/t/font_1290167_tbi4niy7sqo.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1290167_tbi4niy7sqo.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1290167_tbi4niy7sqo.woff') format('woff'),
  url('//at.alicdn.com/t/font_1290167_tbi4niy7sqo.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1290167_tbi4niy7sqo.svg#iconfont') format('svg');
}
.icon {
  font-family: "iconfont" !important;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  background-size: 100% auto;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
	font-family:'tfxfont';
    src:url('../fonts/tfxfont.eot');
    src:url('../fonts/tfxfont.eot#iefix') format('embedded-opentype'),
    url('../fonts/tfxfont.woff2') format('woff2'),
    url('../fonts/tfxfont.ttf') format('truetype'),
    url('../fonts/tfxfont.woff') format('woff'),
    url('../fonts/tfxfont.svg') format('svg');
    font-weight:normal;font-style:normal
}

.tfx-font {
	font-family: 'tfxfont' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	font-feature-settings: "liga";
	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures: discretionary-ligatures;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}




.icon-iphon:before{content: "\e600";}/*iphon*/
.icon-setting:before{content: "\e609";}/*设置*/
.icon-user:before{content: "\e621";}/*用户*/
.icon-arrow-down:before{content: "\e601";}/*箭头朝下*/
.icon-arrow-right:before{content: "\e606";}/*箭头朝下*/
.icon-close:before{content: "\e60c";}/*关闭*/
.icon-star:before{content: "\e61a";}/*星星*/
.icon-star-full:before{content: "\e607";}/*星星填充*/
.icon-file:before{content: "\e634";}/*文件*/
.icon-record:before{content: "\e602";}/*记录*/
.icon-search:before{content: "\e603";}/*搜索*/
.icon-chinas:before{content: "\e999";}/*中国国旗*/
.icon-english:before{content: "\e63e";}/*英国国旗*/
.icon-dotted:before{content: "\e67d";}/*圆点*/
.icon-del:before{content: "\e604";}/*删除*/
.icon-camera:before{content: "\e656";}/*相机*/
.icon-tip:before{content: "\e61b";}/*提示*/
.icon-badges:before{content: "\e643";}/*角标*/
.icon-badges2:before{content: "\e62a";}/*角标2*/
.icon-back:before{content: "\e605";}/*返回*/
.icon-safari:before{content: "\e6a8";}/*safari*/
.icon-opera:before{content: "\ebcb";}/*opera*/
.icon-firefox:before{content: "\e709";}/*firefox*/
.icon-chrome:before{content: "\e629";}/*chrome*/
.icon-edge:before{content: "\e7de";}/*edge*/
.icon-face:before{content: "\e645";}/*face*/
.icon-selected:before{content: "\e79b";}/**/
.icon-lock:before{content: "\e90f"}
.icon-service:before{content: "\e631"}
.icon-triangle-bt:before{content: "\e665"}
.icon-plane:before{content: "\e633"}
.icon-product:before{content: "\e62c"}


.icon-next,
.icon-prev {
  width: 0.75rem;
  height: 0.75rem;
}
.icon-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%23007aff'%20d%3D'M1%2C1.6l11.8%2C5.8L1%2C13.4V1.6%20M0%2C0v15l15-7.6L0%2C0L0%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.icon-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%23007aff'%20d%3D'M14%2C1.6v11.8L2.2%2C7.6L14%2C1.6%20M15%2C0L0%2C7.6L15%2C15V0L15%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

/*/////////////////////////////////////////////*/

.tfx-countdown:before {
	content: "\e91f"
}

.tfx-bitcoin:before {
	content: "\e91d"
}

.tfx-bitcoin-wallet:before {
	content: "\e91e"
}

.tfx-location:before {
	content: "\e91a"
}

.tfx-mic:before {
	content: "\e91b"
}

.tfx-like:before {
	content: "\e918"
}

.tfx-photo:before {
	content: "\e919"
}

.tfx-donation:before {
	content: "\e910"
}

.tfx-shapes:before {
	content: "\e912"
}

.tfx-commodities:before {
	content: "\e914"
}

.tfx-user-height:before {
	content: "\e904"
}

.tfx-birthday:before {
	content: "\e905"
}

.tfx-camera-video:before {
	content: "\e906"
}

.tfx-director:before {
	content: "\e907"
}

.tfx-music:before {
	content: "\e908"
}

.tfx-olympic:before {
	content: "\e909"
}

.tfx-producer:before {
	content: "\e90a"
}

.tfx-sprinter:before {
	content: "\e90c"
}

.tfx-star:before {
	content: "\e90e"
}

.tfx-user-profile:before {
	content: "\e916"
}

.tfx-trader:before {
	content: "\e917"
}

.tfx-ipad:before {
	content: "\e901"
}

.tfx-adroid-tablet:before {
	content: "\e902"
}

.tfx-bull:before {
	content: "\e903"
}

.tfx-usd25:before {
	content: "\e921"
}

.tfx-usd15:before {
	content: "\e920"
}

.tfx-play-solid:before {
	content: "\e666"
}

.tfx-document:before {
	content: "\e636"
}

.tfx-spread25:before {
	content: "\e96d"
}

.tfx-promotions:before {
	content: "\e96f"
}

.tfx-bull-solid:before {
	content: "\e93c"
}

.tfx-qq:before {
	content: "\e665"
}

.tfx-youku:before {
	content: "\e664"
}

.tfx-dev-android-pl:before {
	content: "\e90b"
}

.tfx-dev-iphone-pl:before {
	content: "\e90d"
}

.tfx-dev-laptop-pl:before {
	content: "\e90f"
}

.tfx-dev-mac-pl:before {
	content: "\e911"
}

.tfx-dev-pc-pl:before {
	content: "\e913"
}

.tfx-dev-tablet-pl:before {
	content: "\e915"
}

.tfx-leverage-500:before {
	content: "\e900"
}

.tfx-leverage-100:before {
	content: "\e976"
}

.tfx-corded-phone:before {
	content: "\e91c"
}

.tfx-pdf-thin:before {
	content: "\e929"
}

.tfx-magnify:before {
	content: "\e601"
}

.tfx-gears:before {
	content: "\e602"
}

.tfx-trash:before {
	content: "\e603"
}

.tfx-mobile-devices:before {
	content: "\e604"
}

.tfx-quote:before {
	content: "\e605"
}

.tfx-ex:before {
	content: "\e606"
}

.tfx-target:before {
	content: "\e607"
}

.tfx-touch:before {
	content: "\e609"
}

.tfx-tools:before {
	content: "\e60a"
}

.tfx-scatterplot-board:before {
	content: "\e60b"
}

.tfx-enter:before {
	content: "\e60c"
}

.tfx-scatterplot-spiral:before {
	content: "\e60e"
}

.tfx-users-2:before {
	content: "\e610"
}

.tfx-mac:before {
	content: "\e611"
}

.tfx-stopwatch:before {
	content: "\e615"
}

.tfx-percent100:before {
	content: "\e616"
}

.tfx-spread01:before {
	content: "\e617"
}

.tfx-credit:before {
	content: "\e619"
}

.tfx-checked:before {
	content: "\e61a"
}

.tfx-bonus-2:before {
	content: "\e61b"
}

.tfx-restricted:before {
	content: "\e61c"
}

.tfx-reload:before {
	content: "\e61d"
}

.tfx-user:before {
	content: "\e61e"
}

.tfx-chess-tower:before {
	content: "\e61f"
}

.tfx-calendar-2:before {
	content: "\e622"
}

.tfx-agreement:before {
	content: "\e623"
}

.tfx-download:before {
	content: "\e626"
}

.tfx-zero:before {
	content: "\e628"
}

.tfx-statistics:before {
	content: "\e629"
}

.tfx-education:before {
	content: "\e62a"
}

.tfx-bar-chart-down:before {
	content: "\e62b"
}

.tfx-stamp:before {
	content: "\e62d"
}

.tfx-earth:before {
	content: "\e62e"
}

.tfx-safe:before {
	content: "\e62f"
}

.tfx-anchor-points:before {
	content: "\e630"
}

.tfx-bar-chart-up:before {
	content: "\e631"
}

.tfx-award:before {
	content: "\e632"
}

.tfx-gold-stack:before {
	content: "\e633"
}

.tfx-money-bag:before {
	content: "\e634"
}

.tfx-candle-chart:before {
	content: "\e635"
}

.tfx-usd10:before {
	content: "\e637"
}

.tfx-percent10:before {
	content: "\e638"
}

.tfx-oil:before {
	content: "\e63a"
}

.tfx-bar-chart-3:before {
	content: "\e63b"
}

.tfx-candles-2:before {
	content: "\e63d"
}

.tfx-coins:before {
	content: "\e63f"
}

.tfx-h24-5:before {
	content: "\e640"
}

.tfx-leverage-888:before {
	content: "\e641"
}

.tfx-link:before {
	content: "\e642"
}

.tfx-clock:before {
	content: "\e643"
}

.tfx-percent:before {
	content: "\e644"
}

.tfx-chart-magnify:before {
	content: "\e649"
}

.tfx-pie-chart:before {
	content: "\e64b"
}

.tfx-bonus:before {
	content: "\e64c"
}

.tfx-fx:before {
	content: "\e64d"
}

.tfx-bar-chart:before {
	content: "\e64e"
}

.tfx-gold:before {
	content: "\e64f"
}

.tfx-oil-drop:before {
	content: "\e650"
}

.tfx-profile:before {
	content: "\e651"
}

.tfx-candles:before {
	content: "\e652"
}

.tfx-bars-arrow:before {
	content: "\e653"
}

.tfx-bar-chart-2:before {
	content: "\e654"
}

.tfx-horizontal-arrows:before {
	content: "\e655"
}

.tfx-scatterplot:before {
	content: "\e656"
}

.tfx-infinity:before {
	content: "\e657"
}

.tfx-balance:before {
	content: "\e658"
}

.tfx-globe:before {
	content: "\e659"
}

.tfx-edit:before {
	content: "\e65a"
}

.tfx-piggy:before {
	content: "\e65b"
}

.tfx-log-in:before {
	content: "\e65c"
}

.tfx-one-click:before {
	content: "\e65d"
}

.tfx-usd:before {
	content: "\e65e"
}

.tfx-pie-slice:before {
	content: "\e65f"
}

.tfx-secure:before {
	content: "\e662"
}

.tfx-play:before {
	content: "\e627"
}

.tfx-partners-commissions:before {
	content: "\e95f"
}

.tfx-partners-earth:before {
	content: "\e960"
}

.tfx-partners-time-report:before {
	content: "\e964"
}

.tfx-partners-wallet:before {
	content: "\e966"
}

.tfx-home-execution:before {
	content: "\e943"
}

.tfx-home-calendar:before {
	content: "\e944"
}

.tfx-home-chart:before {
	content: "\e945"
}

.tfx-home-client:before {
	content: "\e946"
}

.tfx-home-client-check:before {
	content: "\e947"
}

.tfx-home-coins:before {
	content: "\e948"
}

.tfx-home-commodities:before {
	content: "\e949"
}

.tfx-home-earth:before {
	content: "\e94a"
}

.tfx-home-energies:before {
	content: "\e94b"
}

.tfx-home-gold:before {
	content: "\e94c"
}

.tfx-home-investments:before {
	content: "\e94d"
}

.tfx-home-online-calendar:before {
	content: "\e94e"
}

.tfx-home-pie-chart:before {
	content: "\e94f"
}

.tfx-home-platforms:before {
	content: "\e954"
}

.tfx-home-regulations:before {
	content: "\e955"
}

.tfx-home-research:before {
	content: "\e956"
}

.tfx-home-signals:before {
	content: "\e957"
}

.tfx-home-stock:before {
	content: "\e958"
}

.tfx-home-support:before {
	content: "\e959"
}

.tfx-home-tutorials:before {
	content: "\e95a"
}

.tfx-home-visa:before {
	content: "\e95b"
}

.tfx-internal-transfers:before {
	content: "\e600"
}

.tfx-pie-quarter:before {
	content: "\e620"
}

.tfx-chart-h24:before {
	content: "\e621"
}

.tfx-low-chart:before {
	content: "\e63c"
}

.tfx-circles:before {
	content: "\e645"
}

.tfx-vertical-arrows:before {
	content: "\e646"
}

.tfx-shield:before {
	content: "\e647"
}

.tfx-details:before {
	content: "\e648"
}

.tfx-mt4-display:before {
	content: "\e64a"
}

.tfx-nocards:before {
	content: "\e969"
}

.tfx-highspeed:before {
	content: "\e968"
}

.tfx-mt5-display:before {
	content: "\e942"
}
