<template>
<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1>{{language[curLanguage][1]}}</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">{{language[curLanguage][1]}}</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                  <router-link to="/contact">
                      <i class="contact"></i>
                      <span>{{language[curLanguage][2]}}</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="api-tutorials video-player"></div>
          -->
          <div class="container top80 about-xm">
            <div class="box-border">
              <div class="box-border1">
                <small>{{language[curLanguage][3]}}</small>
                <h4>{{language[curLanguage][4]}}</h4>
                <p class="big">{{language[curLanguage][5]}}</p></div>
              <div class="visible-sm visible-xs dis20"></div>
              <div class="box-border1">
                <small>{{language[curLanguage][6]}}</small>
                <h4>{{language[curLanguage][7]}}</h4>
                <p class="big">{{language[curLanguage][8]}}</p></div>
              <div class="visible-sm visible-xs dis20"></div>
              <div class="box-border1">
                <small>{{language[curLanguage][9]}}</small>
                <h4>{{language[curLanguage][10]}}</h4>
                <p class="big">{{language[curLanguage][11]}}</p></div>
            </div>
          </div>
          <section class="">
            <section class="section bottom top80">
              <div class="container-fluid">
                <div class="container about-xm">
                  <div class="row">
                    <div class="col-md-12">
                      <h2 class="big text-center">{{language[curLanguage][12]}}</h2>
                      <p class="text-center">{{language[curLanguage][13]}} </p></div>
                    <div class="col-md-12 top80">
                      <h2>
                        <span class="red">{{language[curLanguage][14]}}</span>{{language[curLanguage][15]}}</h2></div>
                    <div class="col-md-8">
                      <p>{{language[curLanguage][16]}}</p>
                      <p>{{language[curLanguage][17]}}</p>
                      <p>{{language[curLanguage][18]}}</p>
                    </div>
                    <div class="col-md-4">

                      <ul class="checks">
                        <li>{{language[curLanguage][19]}}</li>
                        <li>{{language[curLanguage][20]}}</li>
                        <li>{{language[curLanguage][21]}}</li>
                        <li>{{language[curLanguage][22]}}</li>
                        <li>{{language[curLanguage][23]}}</li>
                        <li>{{language[curLanguage][24]}}</li>
                      </ul>
                    </div>
                    <div class="col-md-12 top80 hidden-xs hidden-sm">
                      <h2>{{language[curLanguage][25]}}</h2>
                      <div class="dis30"></div>
                      <div class="box-border">
                        <div class="box-border2">
                          <div class="text-center">
                            <i class="tfxfont3 xmStamp fs100 red"></i>
                          </div>
                          <p class="top20">{{language[curLanguage][26]}}</p>
                          <p>{{language[curLanguage][27]}}</p>
                        </div>
                        <div class="box-border2">
                          <div class="text-center">
                            <i class="tfxfont3 xmClock fs100 red"></i>
                          </div>
                          <p class="top20">{{language[curLanguage][28]}}</p>
                          <p>{{language[curLanguage][29]}}</p>
                          <p>{{language[curLanguage][30]}}</p>
                        </div>
                        <div class="box-border2">
                          <div class="text-center">
                            <i class="tfxfont3 xmSafe fs100 red"></i>
                          </div>
                          <p class="top20">{{language[curLanguage][31]}}</p>
                          <p>{{language[curLanguage][32]}}
                            <strong>{{language[curLanguage][33]}}</strong>
                            {{language[curLanguage][34]}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 top80">
                      <h2><span class="red">{{language[curLanguage][35]}}</span>{{language[curLanguage][36]}}</h2>
                      <p>{{language[curLanguage][37]}}</p>
                      <p>{{language[curLanguage][38]}}</p>
                      <p>{{language[curLanguage][39]}}</p>
                      <p>{{language[curLanguage][40]}}</p>
                      <p>{{language[curLanguage][41]}}</p>
                    </div>
                              <div class="col-md-6 hidden-xs hidden-sm" style="margin-top:135px!important;">
                                <img src="../../static/images/page-img/about/about-map-grey.png" class="img-responsive"></div>
                            </div>
                          </div>
                        </div>
                        <div class="dis60"></div>
                      </section>
                      <div class="dis80 hidden-xs hidden-sm"></div>
                      <div class="container">
                        <div class="row">
                          <div class="col-md-12 top50">
                            <h2>{{language[curLanguage][42]}}</h2>
                            <p>{{language[curLanguage][43]}}</p>
                            <p>{{language[curLanguage][44]}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="container top60 box-text-btn hidden-xs hidden-sm">
                        <div class="row">
                          <div class="col-sm-12 col-md-9">
                            <p>{{language[curLanguage][45]}}
                              <br>{{language[curLanguage][46]}}</p></div>
                          <div class="col-sm-12 col-md-3">
                          <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">{{language[curLanguage][47]}}</router-link></div>
              </div>
            </div>

          </section>
          <div class="dis70"></div>

        </div>


         <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {languageCode} from '../utils/lan-code'




export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },
         language:{
            1:{
                1: '关于我们',
                2: '联系我们',
                3: '为无经验投资者',
                4: '提供高手担保的',
                5: '安心托管与理财服务。',
                6: '为有经验投资者',
                7: '提供完美交易体验',
                8: '超快速执行订单，无重复报价、无拒绝订单。',
                9: '为程序化投资者',
                10: '提供MT5程序化定制',
                11: '免费咨询，免费定制，手把手实现您的金融生产线。',
                12: '大。公平。组织。',
                13: '选择Noble Sky™，您就选择了一个遍布全球、公平诚信、以人为本的经纪商。',
                14: '遍布全球',
                15: ', 卓越，专业',
                16: '2009年成立至今，已经拥有超过500,000名客户， Noble Sky™ 已经发展为国际知名的投资公司，成为行业真正的领袖。',
                17: 'Noble Sky™目前拥有150多位在金融领域拥有多年从业经验的专业人士。',
                18: "除了专业知识，我们还提供全球高手发布个人产品平台，帮助无经验的投资者实现低风险高回报的投资体验，同时也让真正的高手实现个人品牌曝光，快速融资与超高回报，这是只有杰出的经纪商才能做到的。",
                19: '超过 500,000名客户',
                20: '客户遍布196个国家',
                21: '多种安全支付方式',
                22: 'MT5交易平台，功能齐全',
                23: '用户间互动理财模式支持',
                24: '私人客户服务',
                25: '公平诚信, 值得信赖',
                26: '在Noble Sky™交易， 意味着在一个公平诚信的交易商交易。',
                27: "我们不区分客户的资产净值，投资大小，所有客户的交易环境都是同样的，以保证平台交易的公平性。",
                28: 'Noble Sky™严格执行无重复报价、无拒绝订单的原则，以保证给客户提供公平以及值得信赖的交易体验。',
                29: '此外，99.35%的订单会在一秒内成交，无重复报价，无拒绝订单。',
                30: "我们的商业模式依托于我们的公司经营理念：在投资市场，执行力就是一切。",
                31: "在 Noble Sky™ 客户的资金安全是我们的首要任务。我们与世界顶级投资银行合作，公司账户和客户资金分开存放，以保证客户资金安全。",
                32: '零售客户受到投资者赔偿资金的20,000欧元的保障。同时，所有客户都将享有 ',
                33: '负余额保护',
                34: ' 政策，这使得客户损失永远不会大于其账户余额。',
                35: '以人为本',
                36: ' 的公司',
                37: "NOBLESKY的使命是为所有客户提供制度性的交易服务，不管他们是机构客户还是个人投资者，为所有投资者提供创新的专有技术、低成本的交易、资金安全监管、全面的市场研究工具、先进的教育课程和一流的客户服务。",
                38: '我们关注有效益的可持续增长；',
                39: '我们以负责、专业的态度通过以下方式在全球范围内实现这一目标；',
                40: '在我们所在的业务领域和市场中实施全球市场和技术领先战略；',
                41: '同心协力，共创辉煌：与我们的客户、合作伙伴和其他业务伙伴进行公司内部以及跨部门、跨区域的合作。',
                42: '为什么选择Noble Sky™？',
                43: 'Noble Sky™培养员工可持续性发展，我们的员工来自不同的文化背景，以应对客户文化、国籍、宗教、民族的多样性。我们的高级平台以及灵活的交易环境满足全球客户需求。我们的专业来源于广泛的经验以及对全球金融市场的深度了解。我们致力于提供最顶级的外汇交易服务，包括CFD、',
                44: '我们遵循的经营理念很简单: 保证客户满意，我们就能赢得客户的信任和忠诚。 信誉是和可信度相关联的，两者都是来源于我们按照客户的需求和期望提供服务的能力。通过时刻关注行业动向和技术创新，我们才足以应对客户日益复杂化多样化的需求。在客户订单方面我们从来都不会怠慢，这正是为什么我们能够提供低点差，并且保持最高执行力的原因。',
                45: '外汇交易无重复报价，并按实时报价执行交易',
                46: '16种交易平台可选，适用于所有设备。',
                47: '建立账户'
            },
            2:{
                1: 'About Us',
                2: 'Contact Us',
                3: 'For inexperienced investors',
                4: 'Providing expert guarantee',
                5: 'Safe custody and financial services.',
                6: 'For experienced investors',
                7: 'Provide a perfect trading experience',
                8: 'Super fast execution of orders, no requotes and no rejections.',
                9: 'For programmatic investors',
                10: 'Provide MT5 programmatic customization',
                11: 'Free consultation, free customization, and realize your financial production line by hand.',
                12: 'BIG. FAIR. ORGANIZATION.',
                13: 'When you choose Noble Sky™, you choose a broker that is fair,honest and people-oriented all over the world.',
                14: 'All over the world',
                15: ', Excellent, Professional',
                16: 'Since its establishment in 2009, with more than 500,000 clients, Noble Sky™ has developed into an internationally renowned investment company and a true leader in the industry.',
                17: 'Noble Sky™ currently has more than 150 professionals with many years of experience in the financial field.',
                18: "In Noble Sky™, the safety of client funds is our top priority. We cooperate with the world's top investment banks to store company accounts and client funds separately to ensure client funds safety.",
                19: 'More than 500,000 clients',
                20: 'Clients in 196 countries',
                21: 'Multiple safe payment methods',
                22: 'MT5 trading platform with complete functions',
                23: 'Support for interactive financial management mode between users',
                24: 'Private customer service',
                25: 'Unbiased, Honest & Trustworthy',
                26: 'Trade at Noble Sky™ means to trade with a fair and honest dealer.',
                27: "We do not distinguish between the client's net asset value, investment size. The trading environment of all clients is the same to ensure equality of platform transactions.",
                28: 'Noble Sky™ strictly implements the principle of no requotes and no rejection of orders to ensure that it provides clients with a fair and trustworthy trading experience.',
                29: 'Also, 99.35% of orders will be filled within one second, with no requotes and no rejections.',
                30: "Our business model relies on our company's business philosophy: When investing in the market, execution is everything.",
                31: "In Noble Sky™, the safety of client funds is our top priority. We cooperate with the world's top investment banks to store company accounts and client funds separately to ensure the safety of client funds.",
                32: 'Retail clients are protected by 20,000 Euros of investor compensation funds. At the same time, all clients will enjoy ',
                33: 'a Negative balance protection',
                34: ' policy, which prevents the clients to lose more than their account balance.',
                35: 'People-oriented',
                36: ' company',
                37: "Noble Sky™'s mission is to provide institutional trading services to all clients, whether they are institutional clients or individual investors, to provide all investors with innovative know-how, low-cost transactions, financial security supervision, comprehensive market research tools, Advanced education courses ,and first-class customer service.",
                38: 'We are concerned about profitable and sustainable growth;',
                39: 'We are responsible and professional to achieve this goal on a global scale through the following methods;',
                40: 'Implement global market and technology leadership strategies in our business areas and markets;',
                41: 'Work together to create brilliance: cooperate with our clients, partners and other business partners within the company, as well as across departments and regions.',
                42: 'Why choose Noble Sky™?',
                43: 'Noble Sky™ cultivates employees for sustainable development. Our employees come from different cultural backgrounds to cope with the diversity of customer culture, nationality, religion, and ethnicity. Our advanced platform and flexible trading environment meet the needs of global clients. Our expertise comes from extensive experience ,and a deep understanding of global financial markets. We are committed to providing top-notch foreign exchange trading services, including CFD, stock index, precious metals and energy.',
                44: 'The business philosophy we follow is simple: to ensure customer satisfaction, we can win the trust and loyalty of clients. Reputation is related to credibility, and both are derived from our ability to provide services following customer needs and expectations. By always paying attention to industry trends and technological innovation, we can respond to the increasingly complex and diverse needs of our clients. We never neglect customer orders, which is why we can provide low spreads and maintain the highest execution.',
                45: 'There is no repeat quotation in foreign exchange transactions, and transactions are executed according to real-time quotations',
                46: 'MT5Trading Platforms catering to any device.',
                47: 'OPEN AN ACCOUNT'
            },
            3:{
                1: 'Hakkımızda',
                2: 'Bize Ulaşın',
                3: 'Deneyimsiz yatırımcılar için',
                4: 'Ana garanti sağlayın',
                5: 'Güvenli saklama ve finansal hizmetler.',
                6: 'Deneyimsiz yatırımcılar için',
                7: 'Mükemmel ticaret deneyimi sağlayın',
                8: 'Siparişlerin süper hızlı yürütülmesi, yeniden teklif yok, ret emri yok.',
                9: 'Deneyimsiz yatırımcılar için',
                10: 'MT5 programlı özelleştirme sağlayın',
                11: 'Ücretsiz danışmanlık, ücretsiz özelleştirme ve finansal üretim hattınızı elle gerçekleştirin.',
                12: 'BÜYÜK. FUAR. ORGANİZASYON.',
                13: 'Seç Noble Sky™，Küresel, adil ve dürüst ve insan odaklı bir komisyoncu seçtiniz.',
                14: 'Dünya çapında',
                15: ', mükemmellik, profesyonel',
                16: "2009 Noble Sky™, 2010 yılındaki kuruluşundan bu yana, 500.000'den fazla müşterisi ile uluslararası üne sahip bir yatırım şirketi ve sektörde gerçek bir lider haline geldi.",
                17: "Noble Sky™ Şu anda finans alanında uzun yıllara dayanan deneyime sahip 150'den fazla profesyonel var.",
                18: "Mesleki bilgiye ek olarak, deneyimsiz yatırımcıların düşük riskli ve yüksek getirili bir yatırım deneyimi elde etmelerine yardımcı olmak için küresel ustaların kişisel ürünleri piyasaya sürmeleri için bir platform sağlıyoruz ve aynı zamanda gerçek ustaların kişisel marka teşhiri, hızlı finansman ve süper yüksek getiri elde etmesine izin veriyoruz. Bunu yalnızca seçkin bir komisyoncu yapabilir.",
                19: "500.000'den fazla müşter",
                20: '196 ülkedeki müşteriler',
                21: 'Birden çok güvenli ödeme yöntemi',
                22: 'MT5 ticaret platformu, eksiksiz fonksiyonlar',
                23: 'Kullanıcılar arasında etkileşimli finansal yönetim modu desteği',
                24: 'Özel müşteri hizmetleri',
                25: 'Adalet, dürüstlük ve güvenilir',
                26: "Noble Sky™'de ticaret yapmak, adil ve dürüst bir bayi ile ticaret yapmak demektir.",
                27: "Müşterinin net varlık değeri ile yatırım büyüklüğü arasında ayrım yapmayız, tüm müşterilerin alım satım ortamı, platform işlemlerinin adaletini sağlamak için aynıdır.",
                28: 'Noble Sky™ müşterilere adil ve güvenilir bir ticaret deneyimi sunulmasını sağlamak için tekrarlanan fiyat tekliflerinin ve siparişlerin reddedilmemesi ilkesini kesinlikle uygulayın.',
                29: "Ayrıca emirlerin% 99,35'i bir saniye içinde yerine getirilecek, yeniden talep yok, ret kararı yok.",
                30: "İş modelimiz, şirketimizin iş felsefesine dayanmaktadır: Pazara yatırım yaparken uygulama her şeydir.",
                31: "Noble Sky™'de, müşterilerin fonlarının güvenliği en büyük önceliğimizdir. Müşteri fonlarının güvenliğini sağlamak için şirket hesaplarını ve müşteri fonlarını ayrı ayrı depolamak için dünyanın en iyi yatırım bankalarıyla işbirliği yapıyoruz.",
                32: "Bireysel müşteriler 20.000 Euro'luk yatırımcı tazminat fonu ile korunmaktadır. Aynı zamanda tüm müşteriler bundan keyif alacak ",
                33: 'Negatif denge koruması',
                34: ' müşterilerin hesap bakiyelerinden fazlasını kaybetmelerine olanak tanıyan politika.',
                35: 'İnsan odaklı',
                36: ' şirketi',
                37: "NOBLESKY’nin misyonu, kurumsal müşteriler veya bireysel yatırımcılar olsun, tüm müşterilere kurumsal ticaret hizmetleri sunmak, tüm yatırımcılara yenilikçi bilgi birikimi, düşük maliyetli işlemler, fon güvenliği denetimi, kapsamlı pazar araştırma araçları sağlamak, İleri eğitim kursları ve birinci sınıf müşteri hizmetleri.",
                38: 'Karlı ve sürdürülebilir büyüme konusunda endişeliyiz；',
                39: 'Bu hedefe küresel ölçekte aşağıdaki yöntemlerle ulaşmaktan sorumlu ve profesyoneliz;',
                40: 'İş alanlarımızda ve pazarlarımızda küresel pazar ve teknoloji liderliği stratejilerini uygulayın；',
                41: 'Birlikte mükemmellik yaratmak için birlikte çalışın: müşterilerimiz, ortaklarımız ve şirket içindeki diğer iş ortaklarımız ile departmanlar ve bölgeler arasında işbirliği yapın.',
                42: 'Noble Sky™ tercih neden?',
                43: 'Noble Sky™, sürdürülebilir kalkınma için çalışanları yetiştirir Çalışanlarımız, müşteri kültürü, milliyet, din ve etnik köken çeşitliliği ile başa çıkmak için farklı kültürel geçmişlerden gelir. Gelişmiş platformumuz ve esnek ticaret ortamımız, küresel müşterilerin ihtiyaçlarını karşılar. Uzmanlığımız, kapsamlı deneyimlerimizden ve küresel finans piyasalarının derinlemesine anlaşılmasından gelir. CFD, hisse senedi endeksi, değerli metaller ve enerji dahil olmak üzere birinci sınıf döviz ticareti hizmetleri sunmaya kararlıyız.',
                44: 'İzlediğimiz iş felsefesi basittir: Müşteri memnuniyetini sağlamak için müşterilerin güvenini ve sadakatini kazanabiliriz. İtibar, güvenilirlikle ilgilidir ve her ikisi de, müşteri ihtiyaç ve beklentilerine uygun hizmet sunma yeteneğimizden kaynaklanmaktadır. Her zaman endüstri trendlerine ve teknolojik yeniliklere dikkat ederek, müşterilerimizin gittikçe karmaşıklaşan ve çeşitlenen ihtiyaçlarına cevap verebiliyoruz. Müşteri siparişlerini asla ihmal etmiyoruz, bu nedenle düşük spreadler sağlayabilir ve en yüksek uygulamayı sürdürebiliriz.',
                45: 'Döviz işlemleri için tekrar kotasyon yoktur ve işlemler gerçek zamanlı kotasyonlara göre yürütülür',
                46: 'Tüm cihazlara uygun 16 çeşit ticaret platformu isteğe bağlıdır.',
                47: 'Hesap oluştur'
            },
            4:{
                1: 'معلومات عنا',
                2: 'اتصل بنا',
                3: 'للمستثمرين المستجدين',
                4: 'تقديم ضمان خبير',
                5: 'الحفظ الآمن والخدمات المالية.',
                6: 'للمستثمرين ذوي الخبرة',
                7: 'توفير تجربة تداول مثالية',
                8: 'تنفيذ سريع للطلبات ، بدون إعادة تسعير أو رفض طلبات.',
                9: 'للمستثمرين البرمجيين',
                10: 'توفير التخصيص البرمجي MT5',
                11: 'استشارة مجانية وتخصيص مجاني والتحقق من الإنتاج المالي بشكل فعلي.',
                12: 'منظمة.كبيرة.عادلة.',
                13: 'عندما تختار ™Noble Sky ، فإنك تختار وسيطًا عادلًا وصادقًا وموجهًا للناس في جميع أنحاء العالم.',
                14: 'في جميع أنحاء العالم',
                15: ' ، ممتازون ، محترفون',
                16: 'منذ إنشائها في عام 2009 ، مع أكثر من 500000 عميل ، تطورت ™Noble Sky لتصبح شركة استثمار مشهورة عالميًا ورائدة حقيقية في هذه الصناعة. ',
                17: 'لدى ™Noble Sky  حاليًا أكثر من 150 متخصصًا يتمتعون بخبرة سنوات عديدة في المجال المالي.',
                18: "في ™Noble Sky ، تعتبر سلامة أموال العملاء على رأس أولوياتنا. نتعاون مع أفضل البنوك الاستثمارية في العالم لتخزين حسابات الشركة وأموال العملاء بشكل منفصل لضمان سلامة أموال العملاء.",
                19: 'أكثر من 500,000 عميل',
                20: 'عملاء في 196 دولة',
                21: 'طرق دفع متعددة آمنة',
                22: 'منصة تداول MT5 مع وظائف كاملة',
                23: 'دعم الإدارة المالية التفاعلية بين المستخدمين',
                24: 'خدمة عملاء خاصة',
                25: 'غير متحيزون و صادقون و جديرون بالثقة',
                26: 'التداول مع ™Noble Sky يعني التداول مع سمسار عادل ونزيه.',
                27: "نحن لا نفرق بين صافي رأس مال العميل وحجم الاستثمار ، فبيئة التداول لجميع العملاء هي نفسها لضمان المساواة في معاملات المنصة. ",
                28: 'تطبق ™Noble Sky بصرامة مبدأ عدم إعادة التسعير وعدم رفض الأوامر لضمان أنها توفر للعملاء تجربة تداول عادلة وجديرة بالثقة.',
                29: 'علاوة على ذلك ، سيتم تنفيذ 99.35٪ من الطلبات في غضون ثانية واحدة ، بدون إعادة تسعير أو رفض.',
                30: "يعتمد نموذج أعمالنا على فلسفة عمل شركتنا: عند الاستثمار في السوق ، يكون التنفيذ هو كل شيء.",
                31: "في ™Noble Sky  ، تعتبر سلامة أموال العملاء على رأس أولوياتنا. نتعاون مع أفضل البنوك الاستثمارية في العالم لتخزين حسابات الشركة وأموال العملاء بشكل منفصل لضمان سلامة أموال العملاء",
                32: 'عملاء التجزئة محميون بـ 20،000 يورو من أموال تعويض المستثمرين. في الوقت نفسه ، يتمتع جميع العملاء بسياسة ',
                33: 'حماية الرصيد السلبي',
                34: ' ، والتي تمنع العملاء من خسارة أكثر من رصيد حساباتهم .',
                35: 'شركة',
                36: ' موجهة للناس',
                37: "تتمثل مهمة ™Noble Sky في تقديم خدمات التداول المؤسسي لجميع العملاء ، سواء كانوا مؤسسيين أو مستثمرين أفراد ، لتزويد جميع المستثمرين بالمعرفة المبتكرة والمعاملات منخفضة التكلفة والإشراف على الأمن المالي وأدوات أبحاث السوق الشاملة ودورات التعليم المتقدمة و خدمة عملاء من الدرجة الأولى.",
                38: 'نحن مهتمون بالربح النامي و النمو المستدام ؛',
                39: 'نحن حريصون على تحقيق هذا الهدف على نطاق عالمي من خلال الأساليب التالية ؛',
                40: 'تنفيذ استراتيجيات الإدارة في السوق العالمية والتكنولوجيا في مجالات وأسواق أعمالنا ؛',
                41: 'نعمل معًا لخلق التألق: تعاون مع عملائنا وشركائنا وشركاء الأعمال الآخرين داخل الشركة ، وكذلك مع الإدارات والمناطق.',
                42: 'لماذا تختار ™Noble Sky؟',
                43: 'تعمل ™Noble Sky  على تنمية الموظفين لتحقيق التنمية المستدامة. يأتي موظفونا من خلفيات ثقافية مختلفة للتعامل مع تنوع ثقافة العملاء والجنسية والدين والعرق. تلبي منصتنا المتقدمة وبيئة التداول المرنة احتياجات العملاء العالميين. تأتي خبرتنا من خبرة واسعة وفهم عميق للأسواق المالية العالمية. نحن ملتزمون بتقديم خدمات تداول العملات الأجنبية من الدرجة الأولى ، بما في ذلك العقود مقابل الفروقات ، ومؤشر الأسهم ، والمعادن الثمينة والطاقة.',
                44: 'فلسفة العمل التي نتبعها بسيطة: لضمان رضا العملاء ، يمكننا كسب ثقة وولاء العملاء. ترتبط السمعة بالمصداقية ، وكلاهما مستمد من قدرتنا على تقديم الخدمات وفقًا لاحتياجات العملاء وتوقعاتهم. من خلال الاهتمام الدائم باتجاهات الصناعة والابتكار التكنولوجيا ، يمكننا الاستجابة للاحتياجات ذات التعقيد المتزايد والمتنوعة لعملائنا. نحن لا نتجاهل طلبات العملاء أبدًا ، ولهذا السبب يمكننا توفير فروق أسعار منخفضة والحفاظ على أعلى تنفيذ.',
                45: 'لا يوجد تسعير متكرر في معاملات الصرف الأجنبي ، ويتم تنفيذ المعاملات وفقًا',
                46: 'لعروض الأسعار في الوقت الفعلي لمنصات MT5Trading التي تلبي احتياجات أي جهاز.',
                47: 'افتح حساب'
            },
            5:{
                1: 'درباره ی ما',
                2: 'تماس با ما',
                3: 'برای سرمایه گذاران بی تجربه',
                4: 'ارائه ی ضمانت های حرفه ای',
                5: 'خدمات مالی و حضانت از آن ها. ',
                6: 'برای سرمایه گذاران باتجربه',
                7: 'کسب تجربه ی جدید و عالی ',
                8: 'اجرای فوق العاده سریع سفارشات بدون ریکوت و ریجکشن',
                9: 'برای سرمایه گذاران برنامه نویس',
                10: 'ارائه ی برنامه ی MT5 سفارشی',
                11: 'مشاوره ی رایگان، سفارشی سازی رایگان و شناسایی محصولات مالی و درآمدزا ',
                12: 'تشکیلاتی. عظیم. تشکیلاتی.',
                13: 'با انتخاب ™Noble Sky، کارگزاری امین، عادل و مشتری مدار در سراسر جهان را انتخاب کرده اید ',
                14: 'شناخته شده در دنیا',
                15: ', بی نقص, حرفه ای',
                16: '™Noble Sky از زمان تاسیس خود در سال 2009 ، با بیش از 500000 مشتری، به شرکت سرمایه گذاری مشهور در سطح بین المللی و پیشرو در صنعت تبدیل شده است.',
                17: 'در حال حاضر ™Noble Sky  دارای بیش از 150 متخصص باتجربه در زمینه مالی می باشد.',
                18: "امنیت وجوه مشتری اولویت اصلی ما در ™Noble Sky  است. برای اطمینان خاطر مشتری ها درباره ی ایمنی وجوه سرمایه گذاری شده، حساب های شرکت و وجوه مشتری را به طور جداگانه در بانک ها پس انداز میکنیم.",
                19: 'با بیش از 500000 مشتری',
                20: 'مشتری هایی از 196 کشور مختلف',
                21: 'روش های پرداختی مختلف امن و مطمئن',
                22: 'پلتفرم جامع و کامل معاملاتی MT5 با توابع کامل',
                23: 'پشتیبانی از مدیریت مالی بین کاربران',
                24: 'خدمات خصوصی مشتری',
                25: 'بی طرف، صادق و کاملا مطمئن',
                26: 'تجارت در ™Noble Sky به معنای تجارت با یک فروشنده ی صادق و منصف می باشد.',
                27: "ا بین ارزش خالص دارایی مشتری و حجم سرمایه گذاری مشتری هافرقی قائل نمی شویم. برای اطمینان از برابری معاملات، محیط تجارت برای همه مشتریان یکسان است.",
                28: 'اجرای دستورات بدون ریکوت و ریجکشن به مشتریان این اطمینان را می دهد که در محیطی امن و قابل اعتماد معامله می کنند.',
                29: 'همچنین 99.35% معاملات در عرض 1 ثانیه بدون ریکوت و ریجکشن اجرا می شوند.',
                30: "مدل تجارت ما متکی بر فلسفه ی تجارت ماست: زمانی وارد می شویم و سرمایه گذاری میکنیم که همه ی بازار را در کنترل داشته باشیم.",
                31: "امنیت وجوه مشتری اولویت اصلی ما در ™Noble Sky است. برای اطمینان خاطر مشتری ها درباره ی ایمنی وجوه سرمایه گذاری شده، حساب های شرکت و وجوه مشتری را به طور جداگانه در بانک ها پس انداز میکنیم.",
                32: 'از حساب مشتریان خرده فروش به میزان 20،000 یورو از صندوق های جبران سرمایه گذار محافظت می شود. همچنین تمام مشتریان ',
                33: 'از مزایای پشتیبانی از بالانس منفی',
                34: ' بهره مند می باشند که از میزان زیان بالاتر از بالانس حساب آن ها جلوگیری میکند.',
                35: 'مردم محور',
                36: ' شرکتی',
                37: "ماموریت ™Noble Sky  ارائه خدمات معامله گری اصولی به تمام مشتریان، اعم از حقیقی یا حقوقی است، تا دانش و فناوری نوآورانه، معاملات کم هزینه، نظارت بر امنیت مالی، ابزارهای جامع تحقیقاتی بازار، دوره های آموزشی پیشرفته و خدمات خاص مشتری را به همه سرمایه گذاران ارائه دهد.",
                38: 'رشد سودآوری و پایداری آن برای ما از اهمیت بالایی برخوردار است;',
                39: 'ما حرفه ای و مسئولیت پذیر می باشیم و برای رسیدن به این هدف در مقیاس جهانی از روش های ذیل بهره می بریم؛',
                40: 'استراتژی های مدیریت بازار و فناوری جهانی را در زمینه ی تجاری و بازارهای ما پیاده سازی کنید؛',
                41: 'با همکاری مشترک آینده ی درخشان خود را بسازید. ما با مشتریان، شرکا و سایر شرکای تجاری خود در شرکت و همچنین در سراسر ادارات و مناطق همکاری می کنیم.',
                42: 'چرا ™Noble Sky؟',
                43: '™Noble Sky کارمندان را برای توسعه پایدار پرورش می دهد. کارمندان ما از فرهنگ های مختلف انتخاب شده اند تا با تنوع فرهنگ مشتری، ملیت، دین و قومیت های مختلف به بهترین شکل در ارتباط باشند. پلتفرم معاملاتی پیشرفته و محیط معامله گری منعطف ما تمام نیازهای جهانی مشتریان رو برآورده می کند. تخصص ما از تجربیات گسترده و درک عمیق بازارهای مالی جهانی حاصل می شود. ما متعهد به ارائه خدمات درجه یک تجارت ارز از جمله CFD ،شاخص سهام ،فلزات گرانبها و انرژی هستیم.',
                44: 'فلسفه ی تجاری که از آن تبعیت میکنیم ساده است  و صرفا به دنبال اعتماد، وفاداری و جلب رضایت مشتری می باشد. اعتبار ما شهرت ما است که هر دو از توانایی ما در ارائه خدمات با توجه به نیازها و انتظارات مشتری ناشی می شود. با در نظر گرفتن روند صنعت و نوآوری های فن آوری به نیازهای متنوع و پیچیده مشتریان خود پاسخ می دهیم. هرگز از سفارشات مشتری ها غافل نمی شویم و به همین دلیل اسپرد کم ارائه داده و بالاترین عملکرد را داریم.',
                45: 'بدون قیمت گذاری مجدد در مبادلات ارزی،, انجام مبادلات بر اساس نرخ واقعی لحظه ای',
                46: 'پلتفرم MT5 قابل نصب در تمام دستگاه ها.',
                47: 'افتتاح حساب'
            },
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false,
        head:['关于我们','About Us','Hakkımızda','معلومات عنا','درباره ی ما']




    };
  },
   metaInfo() {return {
      // 

      title: this.head[this.curLanguage-1]+'-NOBLE SKY',
      }
  },
  created(){



   const storeCoinType = this.localStore.getItem('curCoinType');
   const storeLanguage = this.localStore.getItem('curLanguage');

    this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

//    if(this.curLanguage!=2){
//        let pName = this.$route.name.substring(0,this.$route.name.length-2)
//        let pNameStr = pName + languageCode[this.curLanguage]
//        this.$router.push({name:pNameStr});
//    }





   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       this.curLanguage = val;
       console.log(this.curLanguage)
    //    let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
    //    let pNameStr = pName + languageCode[val]
    //    this.$router.push({name:pNameStr});
     },

     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-8 {
       width: 66.66666667%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


footer{height: 300px;background-color: #333;text-align: center;}
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}


.about-xm .box-border1 h4 {
    font-family: "regular","regular_ext",sans-serif;
    font-size: 33px;
    color: #d51820;
    margin: 25px 0;
}

.about-xm .box-border1 small, .about-xm .box-border1 p.big {
    font-size: 18px;
    font-weight: 300;
}


</style>
