<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <div class="site-canvas" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1>{{language[curLanguage][1]}}</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">{{language[curLanguage][1]}}</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>{{language[curLanguage][2]}}</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row text-center hidden-xs hidden-sm hidden-l-sm top80">
              <div class="feature-item6">
                <i class=" tfxfont3 xmHigh-bars red fs100"></i>
                <p class="top30">{{language[curLanguage][3]}}</p></div>
              <div class="feature-item6">
                <i class=" tfxfont3 xmArrows red fs100"></i>
                <p class="top30">{{language[curLanguage][4]}}
                  <br>{{language[curLanguage][5]}}</p></div>
              <div class="feature-item6">
                <i class=" tfxfont3 xmChart red fs100"></i>
                <p class="top30">{{language[curLanguage][6]}}</p></div>
              <div class="feature-item6">
                <i class=" tfxfont3 xmInfinity red fs100"></i>
                <p class="top30">{{language[curLanguage][7]}}</p></div>
              <div class="feature-item6">
                <i class=" tfxfont3 xmScale red fs100"></i>
                <p class="top30">{{language[curLanguage][8]}}</p></div>
              <div class="feature-item6">
                <i class=" tfxfont3 xmGlobe red fs100"></i>
                <p class="top30">{{language[curLanguage][9]}}</p></div>
            </div>
            <div class="dis60 hidden-xs"></div>
            <div class="dis40 visible-xs"></div>
            <div class="row ">
              <div class="col-md-12">
                <h2>{{language[curLanguage][10]}}</h2>
                <div class="dis40 hidden-xs"></div>
                <!-- <div class="divTable clone-11 sharesAccount" style="height: 1265px;">
                  <div class="area-11" style="height: 1265px;">
                    <h3 class="titleRed">Micro account</h3>
                    <div class="content">
                      <ul class="area-5" style="height: 104px;">
                        <li class="title">Optional base currency</li>
                        <li class="text">USD</li></ul>
                      <ul class="area-4" style="height: 104px;">
                        <li class="title">Contract size</li>
                        <li class="text">1 lot = 1,000 units</li></ul>
                      <ul class="area-2" style="height: 146px;">
                        <li class="title">Leverage*</li>
                        <li class="text">1:1 to 1:100 </li></ul>
                      <ul>
                        <li class="title">Negative balance protection policy</li>
                        <li class="text">
                          <i class="fa fa-check"></i>
                        </li>
                      </ul>
                      <ul class="area-6" style="height: 84px;">
                        <li class="title">Spreads on mainstream currency pairs</li>
                        <li class="text">As low as 1 point</li></ul>
                      <ul>
                        <li class="title">Handling fee</li>
                        <li class="text">
                          <i class="fa fa-times"></i>
                        </li>
                      </ul>
                      <ul>
                        <li class="title">Maximum number of open/pending orders for a single client</li>
                        <li class="text">200 orders</li></ul>
                      <ul class="area-7" style="height: 84px;">
                        <li class="title">Minimum transaction volume</li>
                        <li class="text">
                          <br>0.1 lot (MT5)
                          <br></li></ul>
                      <ul class="area-8" style="height: 84px;">
                        <li class="title">Limits per lot</li>
                        <li class="text">100 lots</li></ul>
                      <ul>
                        <li class="title">Hedging allowed</li>
                        <li class="text">
                          <i class="fa fa-check"></i>
                        </li>
                      </ul>

                      <ul>
                        <li class="title">Minimum deposit</li>
                        <li class="text">5 USD</li></ul>
                    </div>
                    <div class="content">
                      <ul>
                        <li class="text-center">
                          <div class="dis20"></div>
                          <router-link to="/register" class="btn btn-solid btn-red center-block">Create an account</router-link>
                          <div class="dis20"></div>
                        </li>
                              </ul>
                            </div>
                          </div>
                        </div> -->
                        <div class="divTable clone-11  sharesAccount" style="height: 1265px;">
                          <div class="area-11" style="height: 1265px;">
                            <h3 class="titleRed">{{language[curLanguage][11]}}</h3>
                            <div class="content">
                              <ul class="area-5" style="height: 104px;">
                                <li class="title">{{language[curLanguage][12]}}</li>
                                <li class="text">USD</li></ul>
                              <ul class="area-4" style="height: 104px;">
                                <li class="title">{{language[curLanguage][13]}}</li>
                                <li class="text">{{language[curLanguage][68]}}</li></ul>
                              <ul class="area-2" style="height: 146px;">
                                <li class="title">{{language[curLanguage][14]}}</li>
                                <li class="text">1:1 - 1:200 </li></ul>
                              <ul>
                                <li class="title">{{language[curLanguage][15]}}</li>
                                <li class="text">
                                  <i class="fa fa-check"></i>
                                </li>
                              </ul>
                              <ul class="area-6" style="height: 84px;">
                                <li class="title">{{language[curLanguage][16]}}</li>
                                <li class="text">{{language[curLanguage][69]}}</li></ul>
                              <ul>
                                <li class="title">{{language[curLanguage][17]}}</li>
                                <li class="text">
                                  <i class="fa fa-times"></i>
                                </li>
                              </ul>
                              <ul>
                                <li class="title">{{language[curLanguage][18]}}</li>
                                <li class="text">{{language[curLanguage][70]}}</li></ul>
                              <ul class="area-7" style="height: 84px;">
                                <li class="title">{{language[curLanguage][19]}}</li>
                                <li class="text">{{language[curLanguage][71]}}</li></ul>
                              <ul class="area-8" style="height: 84px;">
                                <li class="title">{{language[curLanguage][20]}}</li>
                                <li class="text">{{language[curLanguage][72]}}</li></ul>
                              <ul>
                                <li class="title">{{language[curLanguage][21]}}</li>
                                <li class="text">
                                  <i class="fa fa-check"></i>
                                </li>
                              </ul>

                              <ul>
                                <li class="title">{{language[curLanguage][22]}}</li>
                                <li class="text">{{language[curLanguage][73]}}</li></ul>
                            </div>
                            <div class="content">
                              <ul>
                                <li class="text-center">
                                  <div class="dis20"></div>

                                  <router-link to="/register" class="btn btn-solid btn-red center-block">{{language[curLanguage][23]}}</router-link>
                                  <div class="dis20"></div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>

                        <div class="dis10"></div>
                          <small class="atnotecn">{{language[curLanguage][24]}}</small>
                        </div>
            </div>
          </div>
          <div class="container top115 option-type info">
            <div class="row">
              <div class="col-md-12">
                <i class="info"></i>
                <p>{{language[curLanguage][25]}}
                  <br>{{language[curLanguage][26]}}</p>
                <div class="top80"></div>
                <p>{{language[curLanguage][27]}}<span class="text-underline">{{language[curLanguage][28]}}</span>{{language[curLanguage][29]}}
                  <router-link to='/legal-documents'>{{language[curLanguage][30]}}</router-link></p>
                <p>{{language[curLanguage][31]}}
                  <router-link to="/forex-trading">{{language[curLanguage][32]}}</router-link> {{language[curLanguage][33]}}
                  <strong>
                    <router-link :to="{name:'register',params:{regType:2}}">{{language[curLanguage][34]}}</router-link></strong>{{language[curLanguage][35]}}</p>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row">
              <div class="col-md-12">
                <div class="panel-group" id="accordion1">
                  <!-- What is a Forex Trading Account? -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">{{language[curLanguage][36]}}</h4>
                      <i :class="{rightIcon:curLanguage==4||curLanguage==5}"  class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>{{language[curLanguage][37]}}</p>
                        <p>{{language[curLanguage][38]}}
                          <strong>{{language[curLanguage][51]}}</strong></p>
                        <p>{{language[curLanguage][39]}}
                          <span class="text-underline">{{language[curLanguage][40]}}</span>{{language[curLanguage][41]}}</p>
                        <p>{{language[curLanguage][42]}}</p>
                        <ul class="ftr-faq">
                          <li>{{language[curLanguage][43]}}</li>
                          <li>{{language[curLanguage][44]}}</li></ul>
                        <p>{{language[curLanguage][45]}}</p>
                        <p>{{language[curLanguage][46]}}</p>
                        <p>{{language[curLanguage][47]}}</p>

                      </div>
                    </div>
                  </div>
                  <!-- What is a Multi-Asset Trading Account? -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">{{language[curLanguage][48]}}</h4>
                      <i :class="{rightIcon:curLanguage==4||curLanguage==5}"  class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse showFlag">
                      <div class="panel-body gray">
                        <p>{{language[curLanguage][49]}}</p>
                        <p>{{language[curLanguage][50]}}
                        
                          <strong>{{language[curLanguage][51]}}</strong> </p>
                        <p>{{language[curLanguage][52]}}</p>
                        <p>{{language[curLanguage][53]}}</p>
                        <ul class="ftr-faq">
                          <li>{{language[curLanguage][54]}}</li>
                          <li>{{language[curLanguage][55]}}</li>
                          <li>{{language[curLanguage][56]}}</li></ul>
                        <p>{{language[curLanguage][57]}}</p>
                        <p>{{language[curLanguage][58]}}</p>
                        <p>{{language[curLanguage][59]}}</p>
                      </div>
                    </div>
                  </div>
                  <!-- Who Should Choose MT4? -->

                <!-- Who Should Choose MT5? -->
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">{{language[curLanguage][60]}}</h4>
                        <i :class="{rightIcon:curLanguage==4||curLanguage==5}"  class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a1collapse3" class="panel-collapse collapse showFlag">
                        <div class="panel-body gray">
                          <p>{{language[curLanguage][61]}}</p>
                          <p>{{language[curLanguage][62]}}</p>
                          <p>{{language[curLanguage][63]}}</p>
                        </div>
                    </div>
                  </div>
                  <!-- What is the Main Difference Between MT4 Trading Accounts and MT5 Trading Accounts? -->

                  <!-- Can I Hold Multiple Trading Accounts? -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">{{language[curLanguage][64]}}</h4>
                      <i :class="{rightIcon:curLanguage==4||curLanguage==5}"  class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse showFlag">
                      <div class="panel-body gray">
                        <p>{{language[curLanguage][65]}}</p>
                      </div>
                    </div>
                  </div>
                  <!-- How to Manage Your Trading Accounts? -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">{{language[curLanguage][66]}}</h4>
                      <i :class="{rightIcon:curLanguage==4||curLanguage==5}"  class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse showFlag">
                      <div class="panel-body gray">
                        <p>{{language[curLanguage][67]}} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>


        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {languageCode} from '../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },
          language:{
             1:{
               1: '交易账号类型',
               2: '联系我们',
               3: '卓越的交易环境',
               4: '交易标准手',
               5: '',
               6: '无限制访问MT5和EA交易',
               7: '每日免费市场更新以及技术分析',
               8: '所有账户类型执行质量一样',
               9: '多语言客服支持以及私人客户经理',
               10: 'NBS交易账户类型',
               11: '微型账户',
               12: '可选基础货币',
               13: '合约规模',
               14: '杠杆*',
               15: '负余额保护政策',
               16: '主流货币对点差',
               17: '手续费',
               18: '单客户最大开/挂单数',
               19: '最小交易量',
               20: '每单手数限制',
               21: '允许锁仓',
               22: '最低入金',
               23: '建立账户',
               24: '* 杠杆的适用范围是根据在NBS集团持有的所有交易账户总资金累计金额计算的。',
               25: '以上表格仅供参考。NBS乐意为每一位客户量身定制解决方案。如果入金货币不是USD，',
               26: '那么最终显示的将是USD转换为入金货币后的数额。',
               27: '请注意，为了确保我们服务器的最佳性能和实现我们 ',
               28: '订单执行政策',
               29: ', 中的标准, 长时间未使用的账户需要遵循 ',
               30: '账户关闭及存档政策。',
               31: '如果您是 ',
               32: '外汇',
               33: ' 新手，那么 ',
               34: '模拟账户',
               35: ' 是测试您交易潜力的最佳选择。您可以用虚拟资金交易，不冒任何风险，因为盈亏都是模拟的。在您测试过交易策略、学会掌握市场动向和如何下单之后，您可以开始下一步，建立真实账户，交易真实资金。',
               36: '什么是外汇交易账户？',
               37: 'Noble Sky™外汇账户是您持有的交易账户，它与您的银行账户类似，但不同之处在于它主要用以货币进行交易。',
               38: '如上述，Noble Sky™ 的多资产交易账户有：',
               39: '请注意，多资产交易账户只可以在MT5使用，并且可以访问Noble Sky™线上交易者',
               40: 'Noble Sky™所有平台',
               41: ' 进行外汇（或货币）交易。',
               42: '总之，您可以使用自己的交易账户登录：',
               43: '1. CRM中心',
               44: '2. MT5平台',
               45: '当您在Noble Sky™注册 外汇交易账户时，您需要通过一个简单的资料流程的审核，在这里Noble Sky™需要确保您提交的个人详细信息是正确的，并确保您的资金和您的账户详细信息的安全。',
               46: "在外汇交易账户开通之后，您可登录Noble Sky™的CRM中心，您可以在这里进行账户资料认证、激活MT5账户、出入金。",
               47: '您的交易账户登录详细信息将与MT5交易平台相匹配，并且最终将用于执行您的交易。您在CRM执行的任何入金或出金或其他改变将会反映在MT5交易平台上。',
               48: '什么是多资产交易账户？',
               49: 'Noble Sky™多资产交易账户是与您的银行账户相似的账户，但是区别在于其目的是交易外汇、贵金属和能源差价合约',
               50: "如上述，Noble Sky™ 的多资产交易账户有：",
               51: 'Standard类型。',
               52: '请注意，多资产交易账户只可以在MT5使用，并且可以访问Noble Sky™线上交易者',
               53: '总的来说，您可以通过多资产交易账户',
               54: '1. 登录CRM',
               55: '2. 登录MT5平台',
               56: '3. 登录Noble Sky™网页终端',
               57: '当您在Noble Sky™注册 外汇交易账户时，您需要通过一个简单的资料流程的审核，在这里Noble Sky™需要确保您提交的个人详细信息是正确的，并确保您的资金和您的账户详细信息的安全。',
               58: "在外汇交易账户开通之后，您可登录Noble Sky™的CRM中心，您可以在这里进行账户资料认证、激活MT5账户、出入金。",
               59: '您的交易账户登录详细信息将与MT5交易平台相匹配，并且最终将用于执行您的交易。您在CRM执行的任何入金或出金或其他改变将会反映在MT5交易平台上。',
               60: '谁需要选择MT5？',
               61: '选择MT5的客户可以进行更广泛的交易，包括外汇、贵金属和原油差价合约。',
               62: 'MT5账户除了可以登录电脑版（可供下载）MT5和对应的App，还可以登录网页终端。',
               63: '如上述， Standard 账户可以使用MT5平台进行交易。',
               64: '我能同时拥有多个账户吗？',
               65: '一个身份证仅可以认证一个真实账户。',
               66: '如何管理您的交易账户？',
               67: "您可以在Noble Sky™的CRM中心操作账户资料认证、激活MT5账户、出入金。",
               68: '1手 = 1,000个单位',
               69: '低至 1 个点',
               70: '200单',
               71: '0.1手数 (MT5)',
               72: '100手数',
               73: '100美金'
             },
             2:{
               1: 'Trading account type',
               2: 'Contact Us',
               3: 'Excellent trading environment',
               4: 'Trading standard lots or',
               5: 'Micro lots',
               6: 'Unlimited access to MT5 and Expert Advisors',
               7: 'Daily free market updates and technical analysis',
               8: 'All account types have the same execution quality',
               9: 'Multilingual customer service support and personal account manager',
               10: 'NBS trading account type',
               11: 'Standard account',
               12: 'Base Currency Options',
               13: 'Contract size',
               14: 'Leverage*',
               15: 'Negative balance protection',
               16: 'Spreads on mainstream currency pairs',
               17: 'COMMISION',
               18: 'Maximum number of open / pending orders for a single client',
               19: 'Minimum transaction volume',
               20: 'Limit per lot',
               21: 'Allow lock position',
               22: 'Minimum deposit',
               23: 'Create an account',
               24: '* The scope of application of leverage is calculated based on the cumulative amount of total funds in all trading accounts held by NBS Group.',
               25: 'The above table is for reference only. NBS is happy to tailor solutions for each customer. If the deposit currency is not USD,',
               26: 'Then the final display will be the amount converted from USD to the deposit currency.',
               27: 'Please note that in order to ensure the best performance of our server and achieve our standards in the ',
               28: 'order execution policy',
               29: ', accounts that have not been used for a long time need to be followed by the ',
               30: 'account closure and archiving policy.',
               31: 'If you are a ',
               32: 'foreign exchange',
               33: ' newbie, then a ',
               34: 'demo account',
               35: ' is the best choice to test your trading potential. You can trade with virtual funds without taking any risks, because profit and loss are simulated. After you have tested trading strategies, learned to master market trends and how to place orders, you can start the next step, establish a real account and trade real funds.',
               36: 'What is a Forex Trading Account?',
               37: 'Noble Sky™ foreign exchange account is a trading account that you hold. It is similar to your bank account, but the difference is that it is mainly used for currency transactions.',
               38: 'As mentioned above, Noble Sky™ foreign exchange trading accounts include one type of account : ',
               39: 'Please note that you can use ',
               40: 'all platforms of Noble Sky™',
               41: ' to conduct foreign exchange (or currency) transactions.',
               42: 'In short, you can log in with your own trading account:',
               43: '1. CRM Center',
               44: '2. MT5 platform',
               45: 'When you register for a foreign exchange trading account with Noble Sky™, you need to go through a simple data process review, where Noble Sky™ needs to ensure that the personal details you submit are correct, and to ensure your funds and your account Security of details.',
               46: "After the foreign exchange trading account is opened, you can log in to Noble Sky™'s CRM center, where you can verify your account information, activate your MT5 account, and deposit and withdraw funds.",
               47: 'Your trading account login details should match the MT5 trading platform which will be used to execute your transactions. Any deposit or withdrawal or other changes you perform in CRM will be reflected on the MT5 trading platform.',
               48: 'What is a multi-asset trading account?',
               49: 'Noble Sky™ multi-asset trading account is an account similar to your bank account, but the difference is that its purpose is to trade foreign exchange, stock index CFDs and precious metal energy CFDs.',
               50: "Noble Sky™'s multi-asset trading account is one type which include: ",
               51: 'Standard',
               52: 'Please note that multi-asset trading accounts can only be used in MT5 and can access Noble Sky™ online traders',
               53: 'In general, you can use a multi-asset trading account',
               54: '1. Log in to CRM',
               55: '2. Log in to the MT5 platform',
               56: '3. Log in to the Noble Sky™ web terminal',
               57: 'When you register for a foreign exchange trading account with Noble Sky™, you need to go through a simple data process review, where Noble Sky™ needs to ensure that the personal details you submit are correct, and to ensure your funds and your account Security of details.',
               58: "After the foreign exchange trading account is opened, you can log in to Noble Sky™'s CRM center, where you can verify your account information, activate your MT5 account, and deposit and withdraw funds.",
               59: 'Your trading account login details will match the MT5 trading platform and will eventually be used to execute your transactions. Any deposit or withdrawal or other changes you perform in CRM will be reflected on the MT5 trading platform.',
               60: 'Why choose MT5?',
               61: 'Clients who choose MT5 can conduct a wider range of transactions, including foreign exchange, stock index CFDs, gold and crude oil CFDs.',
               62: 'In addition to logging in to the computer version (available for download) MT5 and the corresponding App, the MT5 account can also log in to the web platform.',
               63: 'As mentioned above,  Standard accounts can be traded on the MT5 platform.',
               64: 'Can I have multiple accounts at the same time?',
               65: 'One ID card can only verify one real account.',
               66: 'How to manage your trading account?',
               67: "You can operate account information authentication, activate MT5 account, deposit and withdraw funds in Noble Sky™'s CRM center.",
               68: '1 lot = 100,000 units',
               69: 'As low as 1 point',
               70: '200 orders',
               71: '0.01 Lot',
               72: '50 Lots',
               73: '100 USD',
             },
             3:{
               1: 'İşlem hesabı türü',
               2: 'Bize Ulaşın',
               3: 'Mükemmel ticaret ortamı',
               4: 'Standart lot ticareti veya',
               5: 'Mikro lot',
               6: 'MT5 ve Uzman Danışmanlara sınırsız erişim',
               7: 'Ücretsiz günlük piyasa güncellemeleri ve teknik analiz',
               8: 'Tüm hesap türleri için aynı yürütme kalitesi',
               9: 'Çok dilli müşteri hizmetleri desteği ve kişisel hesap yöneticisi',
               10: 'NBS ticaret hesabı türleri',
               11: 'Standart hesap',
               12: 'İsteğe bağlı temel para birimi',
               13: 'Sözleşme boyutu',
               14: 'kaldıraç*',
               15: 'Negatif bakiye koruma politikası',
               16: 'Ana akım döviz çifti yayılır',
               17: 'Hizmet bedeli',
               18: 'Tek müşteri için maksimum açık/Bekleyen siparişlerin sayısı',
               19: 'Minimum işlem hacmi',
               20: 'Lot başına limit',
               21: 'Kilide izin ver',
               22: 'Minimum depozito',
               23: 'Hesap oluştur',
               24: '* Kaldıraç uygulama kapsamı, NBS Grubu tarafından tutulan tüm alım satım hesaplarındaki toplam fon tutarına göre hesaplanır.',
               25: 'Yukarıdaki tablo sadece referans içindir. NBS, her müşteri için çözümler üretmekten mutluluk duyar. Para yatırma para birimi USD değilse，',
               26: "Ardından son ekran, USD'den para yatırma para birimine dönüştürülen miktar olacaktır.",
               27: 'Sunucularımızın en iyi performansını sağlamak ve ',
               28: 'Sipariş yürütme politikası',
               29: ', Standartta uzun süredir kullanılmayan hesapların takip edilmesi gerekiyor ',
               30: 'Hesap kapatma ve arşivleme politikası',
               31: 'Eğer sen ',
               32: 'Döviz',
               33: ' Acemi，Sonra ',
               34: 'Demo hesabı',
               35: ' Ticaret potansiyelinizi test etmek için en iyi seçimdir. Kâr ve zarar simüle edildiği için herhangi bir risk almadan sanal fonlarla işlem yapabilirsiniz. Ticaret stratejilerini test ettikten, piyasa trendlerinde ustalaşmayı ve sipariş vermeyi öğrendikten sonra, bir sonraki adıma başlayabilir, gerçek bir hesap oluşturabilir ve gerçek fonlarla ticaret yapabilirsiniz.',
               36: 'Döviz ticaret hesabı nedir?',
               37: 'Noble Sky™ döviz hesabı, sahip olduğunuz bir ticaret hesabıdır ve banka hesabınıza benzer, ancak aralarındaki fark, esas olarak para birimi işlemleri için kullanılmasıdır.',
               38: 'Yukarıdaki gibi，Noble Sky döviz alım satım hesabı şunları içerir:',
               39: 'Lütfen yapabileceğinizi unutmayı ',
               40: 'Noble SkyTüm platformlar',
               41: ' Döviz (veya döviz) işlemleri gerçekleştirin.',
               42: 'Kısacası, kendi ticaret hesabınızla giriş yapabilirsiniz:',
               43: '1. CRM merkez',
               44: '2. MT5 platform',
               45: "Noble Sky™'da bir döviz alım satım hesabına kaydolduğunuzda, Noble Sky™'ın gönderdiğiniz kişisel bilgilerin doğru olduğundan ve paranızın ve hesap bilgilerinizin doğru olduğundan emin olması gereken basit bir veri süreci incelemesinden geçmeniz gerekir. Emniyet.",
               46: "Döviz alım satım hesabı açıldıktan sonra, hesap bilgilerinizi doğrulayabileceğiniz, MT5 hesabınızı etkinleştirebileceğiniz ve para yatırıp çekebileceğiniz Noble Sky™'ın CRM merkezine giriş yapabilirsiniz.",
               47: "Ticaret hesabı giriş bilgileriniz MT5 işlem platformuyla eşleşecek ve sonunda işlemlerinizi gerçekleştirmek için kullanılacaktır. CRM'de gerçekleştirdiğiniz herhangi bir para yatırma veya çekme veya diğer değişiklikler MT5 işlem platformuna yansıtılacaktır.",
               48: 'Çok varlıklı ticaret hesabı nedir?',
               49: "Noble Sky™ çok varlıklı ticaret hesabı, banka hesabınıza benzer bir hesaptır, ancak aradaki fark, amacının döviz, hisse senedi endeksi CFD'leri ve değerli metal enerji CFD'leri ticareti yapmak olmasıdır.",
               50: "Yukarıdaki gibi，Noble Sky Çok varlıklı ticaret hesaplarının arasında şunlar bulunur:",
               51: 'Standard',
               52: "Çok varlıklı ticaret hesaplarının yalnızca MT5'te kullanılabileceğini ve Noble Sky™ çevrimiçi tüccarlarına erişebileceğini lütfen unutmayın.",
               53: 'Genel olarak, çok varlıklı bir ticaret hesabı kullanabilirsiniz',
               54: '1. oturum aç CRM',
               55: '2. oturum aç MT5 platform',
               56: '3. oturum aç Noble SkyWeb terminali',
               57: "Noble Sky™'da bir döviz alım satım hesabına kaydolduğunuzda, Noble Sky™'ın gönderdiğiniz kişisel bilgilerin doğru olduğundan ve paranızın ve hesap bilgilerinizin doğru olduğundan emin olması gereken basit bir veri süreci incelemesinden geçmeniz gerekir. Emniyet.",
               58: "Döviz alım satım hesabı açıldıktan sonra, hesap bilgilerinizi doğrulayabileceğiniz, MT5 hesabınızı etkinleştirebileceğiniz ve para yatırıp çekebileceğiniz Noble Sky™'ın CRM merkezine giriş yapabilirsiniz.",
               59: "Ticaret hesabı giriş bilgileriniz MT5 işlem platformuyla eşleşecek ve sonunda işlemlerinizi gerçekleştirmek için kullanılacaktır. CRM'de gerçekleştirdiğiniz herhangi bir para yatırma veya çekme veya diğer değişiklikler MT5 işlem platformuna yansıtılacaktır.",
               60: "MT5'i kimin seçmesi gerekiyor？",
               61: "MT5'i seçen müşteriler, döviz, hisse senedi endeksi CFD'leri, altın ve ham petrol CFD'leri dahil olmak üzere daha geniş bir işlem yelpazesi gerçekleştirebilir.",
               62: 'MT5 hesabı, MT5 bilgisayar sürümüne (indirilebilir) ve ilgili Uygulamaya ve ayrıca web terminaline giriş yapabilir.',
               63: 'Yukarıdaki gibi, Standard Tüm hesaplar ticaret için MT5 platformunu kullanabilir.',
               64: 'Can I have multiple accounts at the same time?',
               65: 'One ID card can only verify one real account.',
               66: 'Aynı anda birden fazla hesabım olabilir mi?',
               67: "Bir kimlik kartı yalnızca bir gerçek hesabın kimliğini doğrulayabilir.",
               68: '1Lot = 100,000Birimler',
               69: 'Kadar düşük 1 Puanlar',
               70: '200 tek',
               71: '0.01 Lot',
               72: '50 Lot',
               73: '100 USD',
             },
             4:{
               1: 'أنوع حسابات التداول',
               2: 'اتصل بنا',
               3: 'بيئة تداول ممتازة',
               4: 'تداول عقود قياسية ',
               5: 'عقود مايكرو',
               6: 'وصول غير محدود إلى MT5 و استشاري خبير',
               7: 'تحديثات السوق المجانية اليومية والتحليل الفني',
               8: 'جميع أنواع الحسابات لها نفس جودة التنفيذ',
               9: 'دعم خدمة العملاء متعدد اللغات ومدير حساب شخصي',
               10: 'أنوع حسابات تداولNBS',
               11: 'حساب قياسي',
               12: 'عملة أساسية اختيارية',
               13: 'حجم العقد',
               14: 'الرافعة المالية*',
               15: 'سياسة حماية الرصيد السلبي',
               16: 'فروقات على أزواج العملات السائدة',
               17: 'العمولة',
               18: 'الحد الأقصى لعدد الطلبات المفتوحة / المعلقة لعميل واحد',
               19: 'الحد الأدنى لحجم الصفقة',
               20: 'الحد لكل حزمة',
               21: 'السماح بوضع القفل',
               22: 'لحد الأدنى للإيداع',
               23: 'فتح حساب جديد',
               24: '* يتم حساب قيمة الرافعة المالية المطبقة على أساس المبلغ التراكمي لإجمالي الأموال في جميع حسابات التداول التي تحتفظ بها مجموعة',
               25: 'الجدول أعلاه هو للتوضيح فقط. يسعد NBS أن تصمم حلول خاصة لكل عميل. إذا لم تكن عملة الإيداع بالدولار الأمريكي ،',
               26: 'فسيكون العرض النهائي هو المبلغ المحول من الدولار الأمريكي إلى عملة الإيداع.',
               27: 'يرجى ملاحظة أنه من أجل ضمان أفضل أداء لخادمنا وتحقيق المعايير الخاصة بنا في ',
               28: 'سياسة تنفيذ الطلبات',
               29: ' يجب اتباع سياسة إغلاق الحساب والأرشفة الخاصة  ',
               30: 'بالحسابات التي لم يتم استخدامها لفترة طويلة.',
               31: 'إذا كنت مبتدئًا في مجال ',
               32: 'تداول العملات الأجنبية',
               33: ' ، فإن ',
               34: 'الحساب التجريبي',
               35: ' هو الخيار الأفضل لاختبار إمكانات التداول لديك. يمكنك التداول بأموال افتراضية دون المخاطرة ، لأنه يتم محاكاة الربح والخسارة. بعد اختبار استراتيجيات التداول ، وتعلم إتقان اتجاهات السوق وكيفية تقديم الطلبات ، يمكنك البدء في الخطوة التالية ، وإنشاء حساب حقيقي وتداول الأموال الحقيقية.',
               36: 'ما هو حساب تداول الفوركس؟',
               37: 'حساب صرف العملات الأجنبية في ™Noble Sky هو حساب تداول تملكه. إنه مشابه لحسابك المصرفي ، لكن الاختلاف هو أنه يستخدم بشكل أساسي في تداولات العملات.',
               38: 'كما ذكرنا سابقًا ، تشتمل حسابات تداول العملات الأجنبية في ™Noble Sky على نوع الحساب: ',
               39: 'يرجى ملاحظة أنه يمكنك استخدام ',
               40: 'جميع منصات ™Noble Sky',
               41: ' لإجراء معاملات الصرف الأجنبي (أو العملات).',
               42: 'باختصار ، يمكنك تسجيل الدخول بحساب التداول الخاص بك:',
               43: '1. مركز CRM',
               44: '2. منصة MT5',
               45: 'عندما تقوم بالتسجيل للحصول على حساب تداول العملات الأجنبية مع ™Noble Sky ، فأنت بحاجة إلى الخضوع لمراجعة بسيطة لعملية البيانات ، حيث تحتاج ™Noble Sky للتأكد من صحة التفاصيل الشخصية التي ترسلها ، ولضمان أمان أموالك وحسابك.',
               46: "بعد فتح حساب تداول العملات الأجنبية ، يمكنك تسجيل الدخول إلى مركز إدارة علاقات العملاء في ™Noble Sky. حيث يمكنك التحقق من معلومات حسابك وتنشيط حساب MT5 الخاص بك وإيداع الأموال وسحبها.",
               47: 'يجب أن تتطابق تفاصيل تسجيل الدخول إلى حساب التداولالخاص بك مع منصة التداول MT5 التي سيتم استخدامها لتنفيذ معاملاتك. أي إيداع أو سحب أو أي تغييرات أخرى تقوم بها في CRM ستنعكس على منصة التداول MT5.',
               48: 'ما هو حساب التداول متعدد الأصول؟',
               49: 'حساب تداول ™Noble Sky متعدد الأصول هو حساب مشابه لحسابك المصرفي ، ولكن الاختلاف هو أن الغرض منه هو تداول العملات الأجنبية وعقود الفروقات لمؤشر الأسهم وعقود الفروقات على الطاقة و المعادن الثمينة.',
               50: "حسابات التداول متعددة الأصول ™Noble Sky هي من النوع منها:",
               51: 'القياسي',
               52: 'يرجى ملاحظة أنه لا يمكن استخدام حسابات التداول متعددة الأصول إلا في MT5 ويمكنها الوصول إلى متداولي ™Noble Sky عبر الإنترنت',
               53: 'بشكل عام ، يمكنك استخدام حساب تداول متعدد الأصول',
               54: '1. قم بتسجيل الدخول إلى CRM',
               55: '2. قم بتسجيل الدخول إلى منصة MT5',
               56: '3. قم بتسجيل الدخول إلى محطة ويب ™Noble Sky',
               57: 'عندما تقوم بالتسجيل للحصول على حساب تداول العملات الأجنبية مع ™Noble Sky ، فأنت بحاجة إلى الخضوع لعملية مراجعة بيانات بسيطة ، حيث تحتاج ™Noble Sky للتأكد من صحة التفاصيل الشخصية التي ترسلها ، ولضمان أمان أموالك وحسابك.',
               58: "بعد فتح حساب تداول العملات الأجنبية ، يمكنك تسجيل الدخول إلى مركز إدارة علاقات العملاء في ™Noble Sky. حيث يمكنك التحقق من معلومات حسابك وتنشيط حساب MT5 الخاص بك وإيداع الأموال وسحبها.",
               59: 'ستتطابق تفاصيل تسجيل الدخول إلى حساب التداول الخاص بك مع منصة التداول MT5 وسيتم استخدامها في النهاية لتنفيذ معاملاتك. أي إيداع أو سحب أو أي تغييرات أخرى تقوم بها في CRM ستنعكس على منصة التداول MT5.',
               60: 'لماذا تختار MT5؟',
               61: 'يمكن للعملاء الذين يختارون MT5 إجراء مجموعة واسعة من المعاملات ، بما في ذلك العملات الأجنبية وعقود الفروقات لمؤشر الأسهم والعقود مقابل الفروقات على الذهب والنفط الخام.',
               62: 'بالإضافة إلى تسجيل الدخول إلى إصدار الكمبيوتر (متاح  للتنزيل) MT5 والتطبيق المقابل ، يمكن لحساب MT5 أيضًا تسجيل الدخول إلى منصة الويب .',
               63: 'كما ذكرنا أعلاه ، يمكن تداول حساب قياسي على منصة MT5.',
               64: 'هل يمكنني امتلاك حسابات متعددة في نفس الوقت؟',
               65: 'يمكن لبطاقة هوية واحدة فقط التحقق من حساب حقيقي واحد.',
               66: 'كيف تدير حساب التداول الخاص بك؟',
               67: "يمكنك تشغيل مصادقة معلومات الحساب وتنشيط حساب MT5 وإيداع الأموال وسحبها في مركز إدارة علاقات العملاء في ™Noble Sky.",
               68: 'الحزمة = 100،000 وحدة',
               69: 'منخفضة تصل إلى 1 نقطة',
               70: '200 طلب',
               71: '0.01 وحدة',
               72: '50 حزمة',
               73: '100 USD',
             },
             5:{
               1: 'انواع حساب  های معاملاتی',
               2: 'تماس با ما',
               3: 'محیطی بی نظیر برای تجارت',
               4: 'حجم های معاملاتی استاندارد یا میکرو',
               5: '',
               6: 'دسترسی نا محدود در استفاده از متاتریدر5 و مشاوران خبره ',
               7: 'به روز رسانی های رایگان بازار و تحلیل های تکنیکی',
               8: 'کیفیت یکسان در اجرای دستورات در تمام حساب ها',
               9: 'پشتیبانی خدمات مشتری چندزبانه و مدیرحساب شخصی',
               10: 'انواع حساب  های معاملاتی',
               11: 'حساب استاندارد',
               12: 'ارز پایه',
               13: 'میزان قرارداد',
               14: 'اهرم*',
               15: 'حمایت از بالانس منفی',
               16: 'اسپرد در جفت ارزهای رایج',
               17: 'کمیسیون',
               18: 'حداکثر تعداد دستورات باز یا در انتظار یک مشتری',
               19: 'حداقل حجم در معامله',
               20: 'حداقل تعداد در هر حجم',
               21: 'اجازه ی قفل پوزیشن',
               22: 'حداقل دپازیت',
               23: 'افتتاح حساب جديد',
               24: '* دامنه استفاده از اهرم بر اساس مقدار کل وجوه در تمام حسابهای تجاری موجود در گروه Noble Sky™ محاسبه می شود.',
               25: 'جدول بالا صرفا اطلاعات مرجع می باشد. از اینکه برای هر مشتری راه حل مناسبی در نظر گرفته اییم خرسندیم. در صورتیکه ارز انتخابی دپازیت دلار نباشد مبلغی که در حساب نشان داده می شود معادل دلاری ارز واریزی خواهد بود.',
               26: '',
               27: 'يلطفاً در نظر داشته باشید که برای اطمینان از عملکرد خوب سرور و دستیابی به استانداردهای ما در  ',
               28: 'سیاست اجرای سفارشات',
               29: '، حسابهایی که مدت زیادی است غیرفعال بوده اند ',
               30: 'بسته شده و بایگانی می شوند.',
               31: 'در صورتیکه در ',
               32: 'بازار ارز',
               33: ' تازه وارد می باشید ',
               34: 'حساب آزمایشی',
               35: ' برای بررسی پتانسیل معامله گری شما مناسب تر می باشد. می توانید با پول مجازی بدون اینکه دچار ریسک شده باشید، از آنجاییکه سود و زیان در لحظه اتفاق میافتد، معامله کنید. بعد از اینکه استراتژی های معاملاتی مختلف را امتحان کردید و تشخیص روند بازار و نحوه ی اجرای دستورات را آموختید نوبت قدم بعدی یعنی افتتاح حساب واقعی و معامله با پول واقعی می باشد.',
               36: 'حساب معامله در فارکس چیست؟',
               37: 'حساب ارزی که افتتاح کرده اید حساب معامله گری شما محسوب می شود. این حساب مشابه حساب بانکی شما می باشد با این تفاوت که عمدتا برای معامله ی ارزها به کار گرفته می شود..',
               38: 'همانطور که گفته شد، حساب های استاندارد برای معاملات ارزهای خارجی در اختیار معامله گران قرار می دهد',
               39: 'در نظر داشته باشید که شما می توانید از تمام پلتفرم های Noble Sky™ برای تبادلات خارجی و معامله ی ارزها استفاده کنید. ',
               40: '',
               41: '',
               42: 'بطور خلاصه شما می توانید از طرق ذیل وارد حساب معامله گری خود شوید:',
               43: '1. CRM',
               44: '2. پلتفرم  MT5',
               45: 'هنگام ثبت حساب معامله گری ارزهای خارجی در Noble Sky™ نیاز به تکمیل و ارسال تعدادی اطلاعات اولیه جهت اطمینان از اطلاعات حساب شما می باشد و این کار برای اطمینان از امنیت سرمایه و جزئیات حساب شما می باشد.',
               46: "بعد از افتتاح حساب معامله گری شما وارد سی آر ام نوبل اسکای شده و می توانید اطلاعات حساب متاتریدر5، مبلغ دپازیت و مبلغ برداشت های خود را مشاهده و تایید نمایید.",
               47: 'جزئیات ورود به حساب کاربری شما و پلتفرم متاتریدر5 شما بایستی با یکدیگر همخوانی داشته باشند. هر گونه دپازیت، برداشت و یا هر تغییری که در سی آر ام ایجاد میکنید در متاتریدر5 شما نیز منعکس می شود.',
               48: 'حساب معاملاتی چنددارایی چیست؟',
               49: 'حساب معاملاتی چنددارایی مشابه حساب بانکی شما می باشد با این تفاوت که این حساب با هدف معامله ی ارزهای خارجی، سهام، شاخص ها و شاخص های انرژی و فلزات افتتاح گردیده است.',
               50: "",
               51: '',
               52: 'در نظر داشته باشید حساب های معاملاتی چند دارایی تنها در متاتریدر5 قابل استفاده می باشد و قابل دسترس معامله گران آنلاین می باشد.',
               53: 'بطور کلی حساب معامله گری چنددارایی ™Noble Sky در موارد زیر قابل استفاده می باشد:',
               54: '1. ورود به  CRM',
               55: '2. ورود به پلتفرم  MT5',
               56: '3.  ورود به ترمینال وب ™Noble Sky',
               57: 'هنگام ثبت حساب معامله گری ارزهای خارجی در ™Noble Sky نیاز به تکمیل و ارسال تعدادی اطلاعات اولیه جهت اطمینان از اطلاعات حساب شما می باشد و این کار برای اطمینان از امنیت سرمایه و جزئیات حساب شما می باشد.',
               58: "بعد از افتتاح حساب معامله گری شما وارد سی آر ام ™Noble Sky شده و می توانید اطلاعات حساب متاتریدر5، مبلغ دپازیت و مبلغ برداشت های خود را مشاهده و تایید نمایید.",
               59: 'اطلاعات ورود به حساب شما با پلتفرم معاملاتی MT5 شما مطابقت دارد و برای انجام معاملات از آن استفاده میکنید. هر گونه تغییر در CRM، واریز یا برداشت در پلتفرم شما نمایش داده میشود.',
               60: 'چرا متاتریدر5؟',
               61: 'مشتریانی که متاتریدر5 را انتخاب می کنند می توانند طیف وسیعی از معاملات شامل ارزهای خارجی، سهام، شاخص ها، طلا و نفت خام را مبادله کنند.',
               62: 'علاوه بر ورود به نسخه رایانه MT5 (قابل دسترس برای بارگیری) و برنامه مربوطه، حساب MT5 همچنین می تواند وارد سیستم عامل وب شود.',
               63: 'همانطور که قبلا گفته شد حساب های استاندارد در پلتفرم متاتریدر5 قابل معامله می باشند.',
               64: 'آیا میتوان همزمان چند حساب داشت؟',
               65: 'با هر کارت شناسایی فقط میتوان یک حساب واقعی ایجاد کرد.',
               66: 'چگونه حساب معامله گری را مدیریت کنیم؟',
               67: "شما می توانید احراز هویت اطلاعات حساب ، فعال کردن حساب متا تریدر 5 و مبالغ دپازیت و برداشت را از طریق سی آر ام ™Noble Sky انجام دهید",
               68: '1 lot = 100,000 units',
               69: 'As low as 1 point',
               70: '200 orders',
               71: '0.01 Lot',
               72: '50 Lots',
               73: '100 USD',
             }
         },
        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false,
        head:['交易账号类型','Trading account type','İşlem hesabı türü','أنوع حسابات التداول','انواع حساب  های معاملاتی']




    };
  },
   metaInfo() {return {
      // 

      title: this.head[this.curLanguage-1]+'-NOBLE SKY',
      }
  },
  created(){

   const storeCoinType = this.localStore.getItem('curCoinType');
   const storeLanguage = this.localStore.getItem('curLanguage');

    this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

//    if(this.curLanguage!=2){
//        let pName = this.$route.name.substring(0,this.$route.name.length-2)
//        let pNameStr = pName + languageCode[this.curLanguage]
//        this.$router.push({name:pNameStr});
//    }



   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){

      let element = document.querySelectorAll(".panel-heading");

      console.log(element)
      console.log('aaaaaaaaaaa')


      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){

               console.log('aaaaaaaaa')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }


     document.documentElement.scrollTop = 0


  },




  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       this.curLanguage = val;
       console.log(this.curLanguage)
    //    let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
    //    let pNameStr = pName + languageCode[val]
    //    this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }
   .top115 {
       margin-top: 115px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .area-11 .btn.btn-solid {
    background-color: #74c109;
    width: auto;
    height: auto;
    line-height: 6px;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
    color: #fff;
  }
 .area-11 .btn.btn-solid:hover{background-color: #29A643;}

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}
.panel-collapse.showFlag{display: none;}

.btnAccordion.pull-right{display: none;}

footer{height: 300px;background-color: #333;text-align: center;}
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

.divTable.sharesAccount {
    width: 100%;
    margin-bottom: 0;
}
  .btn-green-mobile {
    background-color: #74c109;
    width: auto;
    height: auto;
    line-height: 6px;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
    color: #fff;
  }
  .btn {
    background-color: #74c109;
    width: auto;
    height: auto;
    line-height: 6px;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
    color: #fff;
  }
</style>
