<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader pageName="activityList" @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="page-title">
            <h3>{{language[curLanguage][1]}}</h3>
        </div>
        <div class="row row-4">
            <ul>
                <li v-for="(item,index) in article.data" :key="index">
                    <div class="title">
                        <h5>{{item.t_title}}</h5>
                        <p>{{item.t_time}}</p>
                    </div>
                    <p>{{item.t_remark}}</p>
                    <router-link :to="{name:'articleDetails',query:{aid:item.t_aid,type:item.t_type}}">{{language[curLanguage][2]}}></router-link>
                </li>

                <li class="empty" v-if="article.data.length===0">
                     <i class="icon icon-record"></i>
                     <span>{{language[curLanguage][3]}}</span>
                </li>


            </ul>

            <div class="article-pagination-box" v-if="article.total>article.pageSize">
                <el-pagination
                  layout="prev, pager, next"
                  @current-change="handlePaginationIndex"
                  :total="article.total"
                  :page-size="article.pageSize">
                </el-pagination>
            </div>

        </div>

        <pageFooter ref="pageFooter" />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {activityList} from '../utils/language'
import moment from 'moment'



export default {
  name: "my-account",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         language:activityList,




         languageGroup:{
             1:'zh',
             2:'en',
             3:'tr',
             4:'ar',
             5:'fa'
         },
         article:{
            data:[],
            pageSize:10,
            pageIndex:1,
            total:0
         },
         head:['活动','Activity','AKTİVİTE','النشاطات','فعالیت ها']


    };
  },
   metaInfo() {return {
      // 

      title: this.head[this.curLanguage-1]+'-NOBLE SKY',
      }

   },
  created(){


    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
   }


  this.getFinancialArticle()


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  components: {
    pageHeader,
    pageFooter

  },
  methods: {
    // this.$refs.stockChart.removeTVChart();
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },

     getFinancialArticle(){
         const api = this.$api.url.FinancialArticle;
         const params = {
            PageSize:this.article.pageSize,
            PageIndex:this.article.pageIndex,
            Type:1,
            Language:this.languageGroup[this.curLanguage],
            WebSite:0
         }
         this.$axios.get(api,{params:params})
         .then((res)=>{
             if(res.data.code==0){

                let data = JSON.parse(res.data.data)


                data.forEach(item=>{
                   item.t_time = moment(item.t_time).format('YYYY-MM-DD HH:mm:ss');
                })

                this.article.data = data;
                this.article.total = res.data.count;

             }else if(res.data.code==1011||res.data.code==1006){

                 console.log('用户验证不通过')
                 // this.$refs.pageHead.logout();
                 // this.isLogin = false;
                 // this.$router.push({name:'login'});
             }else{

               this.$message({
                 message:'获取理财产品列表失败！',
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })

     },

     handlePaginationIndex(val){
         this.article.pageIndex = val;
         this.getFinancialArticle();

     },
     changeLanguage(val){

       this.curLanguage = val;
       // this.settingAPIDataLanguage();
       this.$refs.pageFooter.handleLan();
       this.article.pageIndex = 1
       this.getFinancialArticle()
     },


  }


};
</script>





<style scoped lang="scss">


       .page-title{height: 75px;line-height: 50px;padding-top: 25px;width: 1200px;margin: 0 auto;
          h3{font-size: 24px!important;float: left;}

       }
       .width-cell{width: 1200px;margin:0 auto;}

       .row-4{padding:0 0 50px; display:block;}
       .row-4 ul{width: 1200px;margin:60px auto 0;min-height: calc(100vh - 450px);}
       .row-4 li{margin-bottom: 25px;padding-bottom: 25px;border-bottom: 1px solid #eee;}
       .row-4 li:last-child{border:0}
       .row-4 li .title h5{color: #333;font-size: 20px;font-weight: bold;}
       .row-4 li .title p{color: #aaa;font-size: 14px;font-weight: normal;display: block;padding-top: 5px;}
       .row-4 li>p{font-size: 15px;margin-top: 5px;}
       .row-4 li>a{display: block;color: #74c109;margin-top: 5px;}
       .row-4 li>a:hover{color: #29A643;}
       .row-4 .more{text-align: center;}
       .row-4 .more a{display: inline-block;width: 120px;height: 35px;line-height: 35px;text-align: center;border:1px solid #74c109;border-radius: 3px;color:#74c109;}
       .row-4 .more a:hover{color: #29A643;border-color: #29A643;}
       footer{height: 300px;background-color: #333;text-align: center;}
       footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

       .fin-pro-details .upper{background-color: #f5f5f5;border-radius: 3px;padding: 10px 0;}
       .fin-pro-details .item{width: 20%;float: left;padding:5px 15px;color: #888;}
       .fin-pro-details .item i{color: #000;margin-left: 5px;}
       .fin-pro-details .under{padding:15px;margin-top: 15px;border:1px solid #eee;border-radius: 3px;
          h5{font-size: 18px;color: #000;}
          p{padding:15px 0;}
          a{color: #0097E8;margin-right: 10px;}
          a:hover{text-decoration: underline;}
       }

       .article-pagination-box{text-align: center;margin:50px 0 15px;}



  h4, .h4, h5, .h5, h6, .h6 {
      margin-top: 0;
      margin-bottom: 0;
  }

  .empty{text-align: center;padding-top: 50px;
     i{font-size: 80px;color: #cecece;display: block;line-height: 100px;}
     span{font-size: 16px;color: #aaa;}

  }




</style>

<style>
   .article-pagination-box .el-pager li.active{background-color: #D51820;color: #fff;}
   .article-pagination-box .el-pager li:hover{color: #D51820;}
   .article-pagination-box .btn-prev:hover i,.f-pro-pagination-box .btn-next:hover i{color: #D51820;}
   .article-pagination-box .btn-prev:disabled i{color: #C0C4CC;}
</style>
