<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="page-title">
            <h3>{{language[curLanguage][1]}}</h3>
        </div>
        <div class="news-tab-head">
            
            <span :class="{active:newsTabIndex==4}" @click="handleNewsTabIndex(4)"><em v-if="newsTabIndex==4"><i></i></em>{{language[curLanguage][5]}}</span>
            <span :class="{active:newsTabIndex==3}" @click="handleNewsTabIndex(3)"><em v-if="newsTabIndex==3"><i></i></em>{{language[curLanguage][4]}}</span>
            <span :class="{active:newsTabIndex==7}" @click="handleNewsTabIndex(7)"><em v-if="newsTabIndex==7"><i></i></em>{{language[curLanguage][6]}}</span>
            <span :class="{active:newsTabIndex==8}" @click="handleNewsTabIndex(8)"><em v-if="newsTabIndex==8"><i></i></em>{{language[curLanguage][7]}}</span>
            <span :class="{active:newsTabIndex==9}" @click="handleNewsTabIndex(9)"><em v-if="newsTabIndex==9"><i></i></em>{{language[curLanguage][8]}}</span>
            <span :class="{active:newsTabIndex==10}" @click="handleNewsTabIndex(10)"><em v-if="newsTabIndex==10"><i></i></em>{{language[curLanguage][9]}}</span>
            <span :class="{active:newsTabIndex==11}" @click="handleNewsTabIndex(11)"><em v-if="newsTabIndex==11"><i></i></em>{{language[curLanguage][10]}}</span>
            <span :class="{active:newsTabIndex==12}" @click="handleNewsTabIndex(12)"><em v-if="newsTabIndex==12"><i></i></em>{{language[curLanguage][11]}}</span>
            <span :class="{active:newsTabIndex==13}" @click="handleNewsTabIndex(13)"><em v-if="newsTabIndex==13"><i></i></em>{{language[curLanguage][12]}}</span>
        </div>



        <div class="row row-4">
            <ul>
                <li v-for="(item,index) in article.data" :key="index">
                   <router-link :to="{name:'articleDetails',query:{aid:item.t_aid,type:item.t_type}}">
                        <div class="img-box" >
                             <div class="cell" :style="{'background-image': 'url('+item.t_thumbnail+')'}"></div>
                        </div>
                        <div class="title">
                            <h5>{{item.t_title}}</h5>
                            <p>{{item.t_time}}</p>
                        </div>
                        <p>{{item.t_remark}}</p>
                        <!-- <router-link :to="{name:'articleDetails',query:{aid:item.t_aid,type:item.t_type}}">{{language[curLanguage][2]}}></router-link> -->
                    </router-link>
                </li>

                <li class="empty" v-if="article.data.length===0">
                     <i class="icon icon-record"></i>
                     <span>{{language[curLanguage][3]}}</span>
                </li>


            </ul>

            <div class="article-pagination-box" v-if="article.total>article.pageSize">
                <el-pagination
                  layout="prev, pager, next"
                  @current-change="handlePaginationIndex"
                  :total="article.total"
                  :page-size="article.pageSize">
                </el-pagination>
            </div>

        </div>

        <pageFooter ref="pageFooter" />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {articleList} from '../utils/language'
import moment from 'moment'



export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         language:articleList,
         newsTabIndex:4,



         languageGroup:{
             1:'zh',
             2:'en',
             3:'tr',
             4:'ar',
             5:'fa'
         },
         article:{
            data:[],
            pageSize:10,
            pageIndex:1,
            total:0

         },
         imgGroup:{
           3:'../../static/images/t9.png',
           4:'../../static/images/t7.png',
           7:'../../static/images/t1.png',
           8:'../../static/images/t2.png',
           9:'../../static/images/t3.png',
           10:'../../static/images/t4.png',
           11:'../../static/images/t5.png',
           12:'../../static/images/t6.png',
           13:'../../static/images/t8.png',
         },
        head:['独家报告','News Analysis Center','Haber Analiz Merkezi','مركز تحليل الأخبار','مرکز تحلیل اخبار']



    };
  },
   metaInfo() {return {
      // 

      title: this.head[this.curLanguage-1]+'-NOBLE SKY',
      }
   },
  created(){


    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
   }


  this.getFinancialArticle()


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },
  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter

  },
  methods: {
     handleNewsTabIndex(val){
         this.newsTabIndex = val
         this.getFinancialArticle()
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },


     getFinancialArticle(){
         const api = this.$api.url.FinancialArticle;
         const params = {
            PageSize:this.article.pageSize,
            PageIndex:this.article.pageIndex,
            Type:this.newsTabIndex,
            Language:this.languageGroup[this.curLanguage],
            WebSite:0
         }
         this.$axios.get(api,{params:params})
         .then((res)=>{
             if(res.data.code==0){

                let data = JSON.parse(res.data.data)


                data.forEach(item=>{
                   item.t_time = moment(item.t_time).format('YYYY-MM-DD HH:mm:ss');
                   if(item.t_thumbnail==''||item.t_thumbnail==null){
                      item.t_thumbnail = this.imgGroup[this.newsTabIndex]
                   }
                })

                this.article.data = data;
                this.article.total = res.data.count;

             }else if(res.data.code==1011||res.data.code==1006){

                 console.log('用户验证不通过')
                 // this.$refs.pageHead.logout();
                 // this.isLogin = false;
                 // this.$router.push({name:'login'});
             }else{

               this.$message({
                 message:'获取理财产品列表失败！',
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })

     },

     handlePaginationIndex(val){
         this.article.pageIndex = val;
         this.getFinancialArticle();

     },
     changeLanguage(val){

       this.curLanguage = val;
       // this.settingAPIDataLanguage();
       this.$refs.pageFooter.handleLan();
       this.article.pageIndex = 1
       this.getFinancialArticle()
     },


  }


};
</script>





<style scoped lang="scss">



        .news-tab-head{width: 1200px;margin: 10px auto 0;height: 46px;line-height: 46px;border-bottom: 1px solid #eee;font-size: 16px;
           span{float: left;color: #888;position: relative;padding:0 20px;cursor: pointer;}
           span:hover{color: #000;}
           span.active{color: #000;
              em{
                 position: absolute;
                     height: 0;
                     width: 0;
                 border-left: 8px solid transparent;
                     border-right: 8px solid transparent;
                     border-bottom: 8px solid #D51820;
                     left: 50%;
                     bottom: -1px;
                     -webkit-transform: translate(-50%);
                     transform: translate(-50%);
                     z-index: 10;
              }
              i{
                position: absolute;
                    content: " ";
                    display: block;
                    height: 0;
                    width: 0;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-bottom: 6px solid #fff;
                    left: -6px;
                    top: 2px;
              }
           }
           span.active:after{
             content: "";
             position: absolute;
             width: 100%;
             height: 2px;
             background-color: #D51820;
             bottom:-1px;
             left:0;
           }
        }

       .page-title{height: 75px;line-height: 50px;padding-top: 25px;width: 1200px;margin: 0 auto;
          h3{font-size: 24px;float: left;}

       }
       .width-cell{width: 1200px;margin:0 auto;}

       .row-4{padding:0 0 50px;}
       .row-4 ul{width: 1200px;margin:60px auto 0;min-height: calc(100vh - 450px);}
       .row-4 li{margin-bottom: 25px;padding-bottom: 25px;border-bottom: 1px solid #eee;position: relative;;height: 125px;}
       .row-4 li .img-box{width: 162px;height: 100px;overflow: hidden;float: left;position: relative;
            .cell{
               width: 100%;
               border-radius: 4px;
               background-size: cover;
               background-position: 50%;
               height: 100%;
               position: absolute;
               left: 0;
               top: 0;
               z-index: 0;
               transition: all 1s;
            }
            .cell:hover{transform:scale(1.1)}

       }
       .row-4 li:last-child{border:0}
       .row-4 li .title{margin-left: 182px;}
       .row-4 li .title h5{color: #333;font-size: 20px;font-weight: bold;}
       .row-4 li .title p{color: #aaa;font-size: 14px;font-weight: normal;display: block;padding-top: 5px;}
       .row-4 li>a>p{font-size: 15px;margin-top: 5px;color: #333;margin-left: 182px;position: absolute;bottom: 28px;left:0;right:0;}
       // .row-4 li>a{display: block;color: #74c109;margin-top: 5px;}
       // .row-4 li>a:hover{color: #29A643;}
       .row-4 .more{text-align: center;}
       .row-4 .more a{display: inline-block;width: 120px;height: 35px;line-height: 35px;text-align: center;border:1px solid #74c109;border-radius: 3px;color:#74c109;}
       .row-4 .more a:hover{color: #29A643;border-color: #29A643;}
       footer{height: 300px;background-color: #333;text-align: center;}
       footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

       .fin-pro-details .upper{background-color: #f5f5f5;border-radius: 3px;padding: 10px 0;}
       .fin-pro-details .item{width: 20%;float: left;padding:5px 15px;color: #888;}
       .fin-pro-details .item i{color: #000;margin-left: 5px;}
       .fin-pro-details .under{padding:15px;margin-top: 15px;border:1px solid #eee;border-radius: 3px;
          h5{font-size: 18px;color: #000;}
          p{padding:15px 0;}
          a{color: #0097E8;margin-right: 10px;}
          a:hover{text-decoration: underline;}
       }

       .article-pagination-box{text-align: center;margin:50px 0 15px;}




       h4, .h4, h5, .h5, h6, .h6 {
           margin-top: 0;
           margin-bottom: 0;
       }

       .empty{text-align: center;padding-top: 50px;
          i{font-size: 80px;color: #cecece;display: block;line-height: 100px;}
          span{font-size: 16px;color: #aaa;}

       }




</style>

<style>
   .article-pagination-box .el-pager li.active{background-color: #D51820;color: #fff;}
   .article-pagination-box .el-pager li:hover{color: #D51820;}
   .article-pagination-box .btn-prev:hover i,.f-pro-pagination-box .btn-next:hover i{color: #D51820;}
   .article-pagination-box .btn-prev:disabled i{color: #C0C4CC;}
</style>
