<template>
		<div class="wrap" @click="hideMenu">
        <div class="content">
           <div class="title">TFB Marking</div>
           <div class="face"><i class="icon icon-face"></i></div>
           <p class="p1">Oops, your browser is not supported!</p>
           <p class="p2">Please update your browser to the latest version, or use one of the following:</p>
           <div class="browser">
                <a href="https://www.google.com/chrome/">
                    <i class="icon icon-chrome"></i>
                    <span>Chrome</span>
                </a>
                <a href="https://www.mozilla.org/en-US/firefox/new/" v-if="curLanguage==2">
                    <i class="icon icon-firefox"></i>
                    <span>Firefox</span>
                </a>
                <a href="https://www.mozilla.org/zh-CN/firefox/new/" v-if="curLanguage==1">
                    <i class="icon icon-firefox"></i>
                    <span>Firefox</span>
                </a>
                <a href="https://www.apple.com/safari/">
                    <i class="icon icon-safari"></i>
                    <span>Safari</span>
                </a>
                <a href="https://www.opera.com/">
                    <i class="icon icon-opera"></i>
                    <span>Opera</span>
                </a>
                <a href="https://www.microsoft.com/en-us/edge">
                    <i class="icon icon-edge"></i>
                    <span>Edge</span>
                </a>
           </div>
        </div>

		</div>
</template>


<script>


import {badbrowser} from '../utils/language'

export default {
  name: "my-acount",
  data: function() {
    return {
       curLanguage:2,
       language:badbrowser

    };
  },
   metaInfo: {
      title: '首页-MT5_CRM',
  },
  created(){
     const storeLanguage = this.localStore.getItem('curLanguage');

     this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;
  },

  components: {

  },
  methods: {
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },

  }

};
</script>





<style scoped lang="scss">
    .wrap{background: #000000;color: #fff;min-height: 100vh;}
    .content{width:900px;margin:0 auto;text-align: center;padding-top: 100px;}
    .title{font-size: 30px;line-height: 40px;}
    .face{padding:15px 0;font-size: 80px;margin: 30px 0;}
    .p1{font-size: 45px;line-height: 45px;padding:30px 0;}
    .p2{font-size:20px ;margin-top: 5px;}
    .browser{padding:50px 0;
      a{display: inline-block;margin:0 25px;}
      i,span{display: block;}
      i{font-size: 40px;color: #eee;}
      span{margin-top: 20px;color: #fff;}
    }


</style>
