<template>
		<div class="wrap" @click="hideMenu">



         <html xmlns="http://www.w3.org/1999/xhtml">
         <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>

         </title></head>
         <body>




                 <div  style="width:1000px;margin:0 auto;">
             <h1 align="center" style="text-align:center;">
         	<span style="font-family:宋体;">投资授信额度租赁合同</span><span></span>
         </h1>
         <p>
         	<span style="font-family:宋体;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">甲方（额度出借方）： _________  _________</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">乙方（额度使用方）： {{productInfo.u_mail}}   {{productInfo.u_name}}</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">丙方（平台方）：TFB GLOBAL INVESTMENT COMPANY LIMITED</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">一、基本情况：</span>
         </p>

         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">1.甲方，在丙方开设账户，账户名称：</span>
             <u>
                 <span style="font-size:15.0pt;font-family:宋体;">
                     _________</span></u><span style="font-size:15.0pt;font-family:宋体;">，账户号码：</span>
              <u>
                 <span style="font-size:15.0pt;font-family:宋体;">
                     _________</span></u>
             <span style="font-size:15.0pt;font-family:宋体;">，甲方同意将账户内</span>
            <u> <span style="font-size:15.0pt;font-family:宋体;">   _________</span></u>

             <span style="font-size:15.0pt;font-family:宋体;">美金暂时冻结，并将冻结后的交易额度授权乙方使用。</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">2.乙方，在丙方开设账户，账户名称：</span>
               <u> <span style="font-size:15.0pt;font-family:宋体;">   {{productInfo.u_name}}</span></u><span style="font-size:15.0pt;font-family:宋体;">，账户号码：</span>
                <u> <span style="font-size:15.0pt;font-family:宋体;">   {{productInfo.u_mail}}</span></u><span style="font-size:15.0pt;font-family:宋体;">，并存入本金</span>
               <u> <span style="font-size:15.0pt;font-family:宋体;">   {{productInfo.products.t_principal}}</span></u><span style="font-size:15.0pt;font-family:宋体;">美元，作为劣后资金，乙方向甲方所借额度仅用作投资买卖保证金额度，乙方账户所产生的一切亏损均由乙方承担，与甲方无任何责任关系。</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">3.甲方提供优先资金以授信额度的方式，给乙方进行交易。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">乙方接受优先资金，并提供劣后资金，以保证金的形式，保证甲方优先资金本金的安全。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">甲乙双方在合同签订前确保账户有足额资金。本协议有效期限为（即账户锁定期间）</span>
           <u> <span style="font-size:15.0pt;font-family:宋体;"> {{productInfo.t_month}}</span></u>
             <span style="font-size:15.0pt;font-family:宋体;">月，
                 自</span>  <u> <span style="font-size:15.0pt;font-family:宋体;">{{productInfo.products.t_stime_year}}</span></u>

             <span style="font-size:15.0pt;font-family:宋体;">年</span>
                 <u> <span style="font-size:15.0pt;font-family:宋体;">{{productInfo.products.t_stime_month}}</span></u>
             <span style="font-size:15.0pt;font-family:宋体;">月</span>
             <u> <span style="font-size:15.0pt;font-family:宋体;">{{productInfo.products.t_stime_day}}</span></u><span style="font-size:15.0pt;font-family:宋体;">日起至</span>
             <u> <span style="font-size:15.0pt;font-family:宋体;">{{productInfo.products.t_etime_year}}</span></u>

             <span style="font-size:15.0pt;font-family:宋体;">年</span>
                 <u> <span style="font-size:15.0pt;font-family:宋体;">{{productInfo.products.t_etime_month}}</span></u>
             <span style="font-size:15.0pt;font-family:宋体;">月</span>
             <u> <span style="font-size:15.0pt;font-family:宋体;">{{productInfo.products.t_etime_day}}</span></u>
             <span style="font-size:15.0pt;font-family:宋体;">日止。账户锁定期限内，甲乙双方不得擅自转移账户内资金，除非合同终止情况出现。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">二.利益分配</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">甲方，</span><span style="font-size:15.0pt;font-family:宋体;">三</span><span style="font-size:15.0pt;font-family:宋体;">种分配方式，仅选其一：</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">1.</span><span style="font-size:15.0pt;font-family:宋体;">固定收益方式：甲方在合同期限内收益为基准金额的年化利率</span>
            <u> <span style="font-size:15.0pt;font-family:宋体;">{{productInfo.products.t_profit_type===0?productInfo.products.t_profit_income:'_________'}}</span></u><span style="font-size:15.0pt;font-family:宋体;">%，即总收益=本金×年化利率%×委托月数/12。每月收益为</span>
              <u> <span style="font-size:15.0pt;font-family:宋体;">_________</span></u><span style="font-size:15.0pt;font-family:宋体;">美元。全年按12月计。乙方在合同生效后<span style="font-size:15.0pt;font-family:宋体;">(产品正式运行1月视为生效)</span>当日，支付甲方利息，节假日顺延，统计周期：第一次支付利息后之后每月，支付一次。利息由乙方本金或者交易盈利资金内支取。</span><span style="font-size:15.0pt;"><br />
         <br />
         </span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">2.</span><span style="font-size:15.0pt;font-family:宋体;">保本分成方式：乙方交易使得其账户盈利，甲方享受盈利部分的</span>
             <u> <span style="font-size:15.0pt;font-family:宋体;">{{productInfo.products.t_profit_type===1?productInfo.products.t_profit_val:'_________'}}</span></u><span style="font-size:15.0pt;font-family:宋体;">%，即（账户期末余额－初始资金）</span><span style="font-size:15.0pt;font-family:宋体;">×</span>
               <u> <span style="font-size:15.0pt;font-family:宋体;">_________</span></u>
             <span style="font-size:15.0pt;font-family:宋体;">%，乙方享受剩余盈利部分，即（账户期末余额－初始资金）×</span>
               <u> <span style="font-size:15.0pt;font-family:宋体;">_________</span></u><span style="font-size:15.0pt;font-family:宋体;">%。乙方承担全部交易亏损，甲方不承担交易亏损。相应的收益甲乙双方可以按照以下方式进行配分：当管理账户累计收益达到初始资金的</span>
               <u> <span style="font-size:15.0pt;font-family:宋体;">_________</span></u><span style="font-size:15.0pt;font-family:宋体;">%时，在五个工作日内进行结算并分配收益的</span>
             <u> <span style="font-size:15.0pt;font-family:宋体;">_________</span></u><span style="font-size:15.0pt;font-family:宋体;">%。当发生第一次分配后，账户资金因亏损回到原始资金时，本协议终止。</span><span style="font-size:15.0pt;"><br />
         <br />
         </span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">3.</span><span style="font-size:15.0pt;font-family:宋体;">免息提高手续费方式：甲方与乙方约定乙方进行期货交易的手续费，具体手续费见附件。</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">甲方选择<span>  <u> <span style="font-size:15.0pt;font-family:宋体;">{{productInfo.products.t_profit_type===0?'固定收益':'保本分成'}}</span></u></span>做为收益分配方式。<span></span></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">三.三方责权利</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">甲方：</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">1</span><span style="font-size:15.0pt;font-family:宋体;">、甲方拥有管理账户的所有权和取得委托资产应得收益的权利。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">2</span><span style="font-size:15.0pt;font-family:宋体;">、甲方有义务按照本合同约定将资金投入管理账户，合同期限届满前，甲方除遇不可抗力因素外不得提取委托资产。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">3</span><span style="font-size:15.0pt;font-family:宋体;">、甲方有义务缴纳管理账户在运作过程中产生的全部税费，包括但不限于：所得税、印花税、查询费用、交易费用、银行费用等。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">4</span><span style="font-size:15.0pt;font-family:宋体;">、甲方有义务按照合同约定足额缴纳约定的管理费用。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">5</span><span style="font-size:15.0pt;font-family:宋体;">、甲方不干涉乙方就管理账户作出的任何投资决策，不得利用管理账户进行交易操作；如有，则需向乙方承担赔偿损失的责任。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">6</span><span style="font-size:15.0pt;font-family:宋体;">、甲方有权不定时查询管理账户资产及交易情况，且有义务对乙方操作情况保密。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">7</span><span style="font-size:15.0pt;font-family:宋体;">、合作期内，甲方不得在任何条件下提前终止协议（甲乙双方一致同意解除协议除外），如果提前终止协议需要最低缴纳该账户初始资金</span><span style="font-size:15.0pt;">10%</span><span style="font-size:15.0pt;font-family:宋体;">的违约金，针对特殊情况甲方提前终止协议，乙方有权要求更合理的损失赔偿，并且乙方拥有最终解释权。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">乙方：</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">1</span><span style="font-size:15.0pt;font-family:宋体;">、乙方有权依本合同约定对其账户进行独立运作。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">2</span><span style="font-size:15.0pt;font-family:宋体;">、乙方在协议期间应依法保护甲方的财产权益。但因甲方债务原因致使该管理账户及委托资产被司法机关、证券登记结算机关查封、划扣、冻结，乙方不承担责任；由此造成本合同无法继续履行的，乙方可遵照本合同关于提前解除条款的约定终止合同。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">3</span><span style="font-size:15.0pt;font-family:宋体;">、合同期间，乙方对其账户的交易拥有完全处理权，甲方不得干预乙方对管理账户的操作，否则损失由甲方承担。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">4</span><span style="font-size:15.0pt;font-family:宋体;">、乙方有权按照本合同的约定取得其收益。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">5</span><span style="font-size:15.0pt;font-family:宋体;">、乙方有义务按照本合同的约定向甲方分配管理账户管理收益。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">6</span><span style="font-size:15.0pt;font-family:宋体;">、合同期内，乙方不得在任何条件下提前终止协议（甲乙双方一致同意解除协议除外），如果提前终止协议需要最低缴纳该账户初始资金</span><span style="font-size:15.0pt;">10%</span><span style="font-size:15.0pt;font-family:宋体;">的违约金，针对特殊情况乙方提前终止协议，甲方有权要求更合理的损失赔偿。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">丙方：</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">丙方有义务按本协议的要求，履行监管职责。监管期内，丙方有义务对管理账户进行监控，做好乙方交易账户的风险控制，同时，确保甲方能够及时获得本合同约定的收益。丙方未按本合同约定及时履行风控职责而对甲方本金或收益造成损失的承担连带赔偿责任；因本条监管职责以外的原因（如司法机关采取强制执行措施等）而造成的损失，丙方概不负责。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">四．</span><span style="font-size:15.0pt;font-family:宋体;">风险控制规则</span><span style="font-size:15.0pt;"></span>
         </p>
         <p style="text-indent:21.0pt;">
         	<span style="font-size:15.0pt;font-family:宋体;">当交易账户的亏损使劣后资金金额低于本金的</span><u><span style="font-size:15.0pt;"> </span></u><u>
                 <span style="font-size:15.0pt;font-family:宋体;">30%</span></u><u><span style="font-size:15.0pt;">&nbsp;&nbsp; </span></u><span style="font-size:15.0pt;font-family:宋体;">时，乙方应于次日市场收盘前追加劣后资金，使乙方的劣后资金补足至</span><span style="font-size:15.0pt;">100%</span><span style="font-size:15.0pt;font-family:宋体;">，在此期间内，乙方不得开仓交易，只能进行平仓交易。如果逾期没有补齐，则本合同终止。当交易账户的亏损使劣后资金金额低于本金的</span><u><span style="font-size:15.0pt;">&nbsp; </span></u><u><span style="font-size:15.0pt;font-family:宋体;">20%</span></u><u><span style="font-size:15.0pt;">&nbsp; </span></u><span style="font-size:15.0pt;font-family:宋体;">时，丙方有权对交易账户进行平仓处理。当出现上述情形时，丙方负有通知甲、乙双方的义务，乙方自愿接受平仓的一切后果，且不得以任何理由（包括但不限于价格低等）向甲方、丙方索赔或提出抗辩。</span>
         </p>
         <p style="text-indent:21.0pt;">
         	<span style="font-size:15.0pt;font-family:宋体;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">五．合同申明与纠纷处理。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">1</span><span style="font-size:15.0pt;font-family:宋体;">、</span><span style="font-size:15.0pt;font-family:宋体;">本合同仅做为甲乙双方</span><span style="font-size:15.0pt;font-family:宋体;">，</span><span style="font-size:15.0pt;font-family:宋体;">投资额度租赁使用。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">2</span><span style="font-size:15.0pt;font-family:宋体;">、</span><span style="font-size:15.0pt;font-family:宋体;">丙方为甲乙双方的身份与资金来源进行合乎柬埔寨法律的尽职调查工作，并且为相关信息进行保密处理（不可抗力除外）</span><span style="font-size:15.0pt;font-family:宋体;">。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">3</span><span style="font-size:15.0pt;font-family:宋体;">、</span><span style="font-size:15.0pt;font-family:宋体;">丙方对甲乙双方的纠纷具有调解权，调解不成功可按照柬埔寨法律处理，如进行后续起诉等一切手段。<span></span></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">4.</span><span style="font-size:15.0pt;font-family:宋体;">本合同包含柬埔寨文、中文、英文三种语言版本，甲乙双方可指定标准语言。本合同采用中文作为标准合同。<span></span></span>
         </p>
         <p>
         	<span>&nbsp;</span>
         </p></div>

         </body>
         </html>

		</div>
</template>


<script>

import moment from 'moment'
export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },
         productId:'',
         productLanguage:'',
         productInfo:{
            products:{}
         },
         languageGroup:{
           1:'zh',
             2:'en',
             3:'tr',
             4:'ar',
             5:'fa'
         },
         productDetails:{
            dialogFlag:false,
            data:{
              content:{},
              products:{}
            },

         },
         profitType:{
            0:'固定年利率(年化)',
            1:'盈利分成'
         },
         productStateGroup:{
            0:'审核中',
            1:'募集中',
            2:'运行中',
            3:'运行中',
            4:'已拒绝',
            5:'用户撤销',
            6:'过期失败'
         },

         systemGroup:{
           1:'现货',
           2:'期货',
           3:'股票',
           4:'黄金',
         }



    };
  },
   metaInfo: {
      title: '合同样本-MT5_CRM',
  },
  created(){

   if (!!window.ActiveXObject || "ActiveXObject" in window) {
    		this.$router.push({name:'badbrowser'});
    	}
    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage
   this.productId = this.$route.query.pid;
   this.productLanguage = this.$route.query.l;
   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       this.getUserInfo();

   }
   this.getFinancialProducts()


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  components: {

  },


  methods: {
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     viewDetails(val){
        this.productDetails.data.content = val.content;
        this.productDetails.data.products = val.products;
        this.productDetails.dialogFlag = true;
     },
     getUserInfo(){
         const api = this.$api.url.userVerify1;
         const params = {
            Device:'web',
            Uid:this.userLoginInfo.userID,
            Token:this.userLoginInfo.session
         }
         this.$axios.get(api,{params:params})
         .then((res)=>{
             if(res.data.code==0){
                let data = JSON.parse(res.data.data);
                this.userInfo = data
                console.log(this.userInfo)
                if(this.userInfo.configure==null){
                   this.userInfo.configure = {
                      t_actuals_gid: null,
                      t_actuals_state: null,
                      t_actuals_uid: null,
                      t_futures_gid: null,
                      t_futures_state: null,
                      t_futures_uid: null,
                      t_other_gid: null,
                      t_other_state: null,
                      t_other_uid: null,
                      t_shares_gid: null,
                      t_shares_state: null,
                      t_shares_uid: null,
                      t_uid: null
                   }
                }


               // this.userInfo.u_country = this.userCountry;
               this.localStore.setItem('userInfo',this.userInfo)


               if(data.configure.t_actuals_state == 2||data.configure.t_futures_state == 2||data.configure.t_shares_state == 2||data.configure.t_other_state == 2){
                  this.assetStateFlag = true;
               }

             }else if(res.data.code==1011||res.data.code==1006){

                 this.$refs.pageHead.logout();
                 this.isLogin = false;
                 this.$router.push({name:'login'});
             }else{
               // let resultMsg = this.getStateCodeText(res.data.code);
               this.$message({
                 message:'错误',
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })

     },

     getFinancialProducts(){
         const api = this.$api.url.FinancialProducts;
         const params = {
            Fpid:this.productId,
            Language:this.languageGroup[this.productLanguage]
         }
         this.$axios.get(api,{params:params})
         .then((res)=>{
             if(res.data.code==0){

                 let data = JSON.parse(res.data.data)
                 console.log(data);
                 data.forEach(item=>{
                    // item.products.t_stime = moment(item.products.t_stime).format('YYYY-MM-DD');
                    item.products.t_stime_year = new Date(item.products.t_stime).getFullYear()
                    item.products.t_stime_month = new Date(item.products.t_stime).getMonth()+1
                    item.products.t_stime_day = new Date(item.products.t_stime).getDate()

                    // item.products.t_etime = moment(item.products.t_etime).format('YYYY-MM-DD');

                    item.products.t_etime_year = new Date(item.products.t_etime).getFullYear()
                    item.products.t_etime_month = new Date(item.products.t_etime).getMonth()+1
                    item.products.t_etime_day = new Date(item.products.t_etime).getDate()


                    item.products.t_time = moment(item.products.t_time).format('YYYY-MM-DD');
                 })
                 if(data.length>0){
                    this.productInfo = data[0]
                 }


             }else if(res.data.code==1011||res.data.code==1006){

                 this.$refs.pageHead.logout();
                 this.isLogin = false;
                 this.$router.push({name:'login'});
             }else{
               // let resultMsg = this.getStateCodeText(res.data.code);
               this.$message({
                 message:'错误',
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })

     },



  }


};
</script>





<style scoped lang="scss">

   .wrap{padding:100px 0;}
   
   h4, .h4, h5, .h5, h6, .h6 {
       margin-top: 0;
       margin-bottom: 0;
   }

</style>

<style>

</style>
