<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <div class="site-canvas" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1>{{language[curLanguage][1]}}</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                     <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">{{language[curLanguage][1]}}</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>{{language[curLanguage][2]}}</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container top60 hidden-xs">
            <ul class="nav-flexbox-tabs">
              <li>
                 <router-link to='/forex-trading'>{{language[curLanguage][3]}}</router-link>
               </li>
              <!-- <li>
                 <router-link to='/stocks'>Stock CFDs</router-link>
                 <a href="https://www.noblesky.com/cn/stocks">Stock CFDs</a></li> -->
               <!-- <li>
                 <router-link to='/en/commodities'>Commodities</router-link>
                </li>
               <li>
                 <router-link to='/en/equity-indices'>Equity indices</router-link>
               </li> -->
               <li>
                 <router-link to='/precious-metals'>{{language[curLanguage][4]}}</router-link>
               </li>
               <li class="active">
                 <router-link to='/energies'>{{language[curLanguage][1]}}</router-link>
               </li>
              <!-- <li>
                <router-link to='/shares'>Shares</router-link>
                <a href="https://www.xm.com/cn/shares">Shares</a></li> -->
            </ul>
          </div>
          <div class="dis50 visible-sm"></div>
          <div class="container hidden-xs">
            <h2 class="top30">{{language[curLanguage][5]}}</h2>
            <div class="row text-center top50">
              <div class="feature-item6">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p class="top30">{{language[curLanguage][6]}}</p></div>
              <div class="feature-item6">
                <i class="tfxfont3 xmDrop fs100 red"></i>
                <p class="top30">{{language[curLanguage][7]}}</p></div>
              <div class="feature-item6 hidden-xs hidden-md">
                <i class="tfxfont3 xmHigh-bars fs100 red"></i>
                <p class="top30">{{language[curLanguage][8]}}</p></div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmLow-price fs100 red"></i>
                <p class="top30">{{language[curLanguage][9]}}
                  <br>{{language[curLanguage][10]}}</p></div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmCandlestick fs100 red"></i>
                <p class="top30">{{language[curLanguage][11]}}
                  <br>{{language[curLanguage][12]}}</p></div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmPercent fs100 red"></i>
                <p class="top30">{{language[curLanguage][13]}}</p></div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <br>{{language[curLanguage][14]}}</div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">{{language[curLanguage][15]}}</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row">
              <div class="col-md-12">
                <h2>{{language[curLanguage][16]}}</h2></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul id="tabs3" class="nav nav-tabs top20" role="tablist">
                  <li :class="{active:tableIndex===0}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex(0)">{{language[curLanguage][17]}}</a></li>
                  <!-- <li :class="{active:tableIndex===1}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(1)">Trading Hours</a></li>
                  <li :class="{active:tableIndex===2}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(2)">Calendar</a></li> -->
                </ul>
                <div id="tabContent" class="tab-content" >
                  <div class="tab-pane active" id="futures" v-if="tableIndex===0">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_0_wrapper" style="padding-bottom:2em;" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_0_length">
                          <label>Display
                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>Items</label>
                        </div>
                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                          <label>Search
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_0"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 96px;" aria-sort="ascending" aria-label="Symbol: activate to sort column descending">{{language[curLanguage][18]}}</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 114px;" aria-label="Description: activate to sort column ascending">{{language[curLanguage][19]}}</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 77px;" aria-label="Minimum price Fluctuation: activate to sort column ascending">{{language[curLanguage][20]}}<br>{{language[curLanguage][21]}}</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 111px;" aria-label="Value of Minimum price Fluctuation: activate to sort column ascending">{{language[curLanguage][22]}}</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 43px;" aria-label="Spreads as low as: activate to sort column ascending">{{language[curLanguage][23]}}<br>{{language[curLanguage][24]}}</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 87px;" aria-label="Value of 1 lot: activate to sort column ascending">{{language[curLanguage][25]}}</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 154px;" aria-label="Min/Max Trade Size: activate to sort column ascending">{{language[curLanguage][26]}}</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 95px;" aria-label="Margin Percentage: activate to sort column ascending">{{language[curLanguage][27]}}</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 103px;" aria-label="Limit and Stop Levels*: activate to sort column ascending">{{language[curLanguage][28]}}</th></tr>
                          </thead>
                          <tbody>
                            <!-- <tr role="row" class="odd">
                              <td  tabindex="0" class="trading-cell sorting">BRENT</td>
                              <td class="trading-cell">Brent Crude Oil</td>
                              <td class="trading-cell">0.01000</td>
                              <td class="trading-cell">USD 1</td>
                              <td class="trading-cell">0.05</td>
                              <td class="trading-cell">100 Barrels</td>
                              <td class="trading-cell">1/400</td>
                              <td class="trading-cell">1.5 %</td>
                              <td class="trading-cell">0.1</td></tr>
                            <tr role="row" class="even">
                              <td  tabindex="0" class="trading-cell sorting">GSOIL</td>
                              <td class="trading-cell">London Gas Oil</td>
                              <td class="trading-cell">0.01000</td>
                              <td class="trading-cell">USD 0.04</td>
                              <td class="trading-cell">1.5</td>
                              <td class="trading-cell">4 Tonnes</td>
                              <td class="trading-cell">1/500</td>
                              <td class="trading-cell">3 %</td>
                              <td class="trading-cell">2</td></tr>
                            <tr role="row" class="odd">
                              <td  tabindex="0" class="trading-cell sorting">NGAS</td>
                              <td class="trading-cell">Natural Gas</td>
                              <td class="trading-cell">0.00100</td>
                              <td class="trading-cell">USD 1</td>
                              <td class="trading-cell">0.035</td>
                              <td class="trading-cell">1000 MMBtu</td>
                              <td class="trading-cell">1/300</td>
                              <td class="trading-cell">3 %</td>
                              <td class="trading-cell">0.07</td></tr> -->
                            <tr role="row" class="even">
                              <td  tabindex="0" class="trading-cell sorting">OIL</td>
                              <td class="trading-cell">WTI Oil</td>
                              <td class="trading-cell">0.01000</td>
                              <td class="trading-cell">USD 1</td>
                              <td class="trading-cell">0.04</td>
                              <td class="trading-cell">100 Barrels</td>
                              <td class="trading-cell">1/400</td>
                              <td class="trading-cell">1.5 %</td>
                              <td class="trading-cell">0.1</td></tr>
                            <!-- <tr role="row" class="odd">
                              <td  tabindex="0" class="trading-cell sorting">OILMn</td>
                              <td class="trading-cell">WTI Oil Mini</td>
                              <td class="trading-cell">0.01000</td>
                              <td class="trading-cell">USD 0.1</td>
                              <td class="trading-cell">0.04</td>
                              <td class="trading-cell">10 Barrels</td>
                              <td class="trading-cell">1/4000</td>
                              <td class="trading-cell">1.5 %</td>
                              <td class="trading-cell">0.1</td></tr> -->
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">{{language[curLanguage][40]}}</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">{{language[curLanguage][41]}}</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">{{language[curLanguage][42]}}</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="trading-hours" v-if="tableIndex===1">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_1_length">
                          <label>Display
                            <select name="DataTables_Table_1_length" aria-controls="DataTables_Table_1" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>Items</label>
                        </div>
                        <div id="DataTables_Table_1_filter" class="dataTables_filter">
                          <label>Search
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_1"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 168px;" aria-sort="ascending" aria-label="Symbol: activate to sort column descending">Symbol</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 197px;" aria-label="Description: activate to sort column ascending">Description</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 166px;" aria-label="Server Time: activate to sort column ascending">Server Time</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 157px;" aria-label="Weekday: activate to sort column ascending">Weekday</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 139px;" aria-label="Monday Open: activate to sort column ascending">Monday Open</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 140px;" aria-label="Friday Close: activate to sort column ascending">Friday Close</th></tr>
                          </thead>
                          <tbody id="energiesTable"> 
                            <tr role="row" class="odd">
                              <td  tabindex="0" class="trading-cell sorting">BRENT</td>
                              <td class="trading-cell">Brent Crude Oil</td>
                              <td class="trading-cell">GMT +3</td>
                              <td class="trading-cell">03:05-00:55</td>
                              <td class="trading-cell">03:05</td>
                              <td class="trading-cell">23:10</td></tr>
                            <tr role="row" class="even">
                              <td  tabindex="0" class="trading-cell sorting">GSOIL</td>
                              <td class="trading-cell">London Gas Oil</td>
                              <td class="trading-cell">GMT +3</td>
                              <td class="trading-cell">03:05-23:55</td>
                              <td class="trading-cell">03:05</td>
                              <td class="trading-cell">23:10</td></tr>
                            <tr role="row" class="odd">
                              <td  tabindex="0" class="trading-cell sorting">NGAS</td>
                              <td class="trading-cell">Natural Gas</td>
                              <td class="trading-cell">GMT +3</td>
                              <td class="trading-cell">01:05-23:55</td>
                              <td class="trading-cell">01:05</td>
                              <td class="trading-cell">23:10</td></tr>
                            <tr role="row" class="even">
                              <td  tabindex="0" class="trading-cell sorting">OIL</td>
                              <td class="trading-cell">WTI Oil</td>
                              <td class="trading-cell">GMT +3</td>
                              <td class="trading-cell">01:05-23:55</td>
                              <td class="trading-cell">01:05</td>
                              <td class="trading-cell">23:10</td></tr>
                            <tr role="row" class="odd">
                              <td  tabindex="0" class="trading-cell sorting">OILMn</td>
                              <td class="trading-cell">WTI Oil Mini</td>
                              <td class="trading-cell">GMT +3</td>
                              <td class="trading-cell">01:05-23:55</td>
                              <td class="trading-cell">01:05</td>
                              <td class="trading-cell">23:10</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Showing 1 to 5 ，of 5 entries</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_1" data-dt-idx="0" tabindex="0" id="DataTables_Table_1_previous">Previous</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_1" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_1" data-dt-idx="2" tabindex="0" id="DataTables_Table_1_next">Next</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="calendar" v-if="tableIndex===2">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_2_length">
                          <label>Display
                            <select name="DataTables_Table_2_length" aria-controls="DataTables_Table_2" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>Items</label>
                        </div>
                        <div id="DataTables_Table_2_filter" class="dataTables_filter">
                          <label>Search
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_2"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_2" aria-describedby="DataTables_Table_2_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 84px;" aria-sort="ascending" aria-label="Instrument: activate to sort column descending">Instrument</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 47px;" aria-label="Status: activate to sort column ascending">Status</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 50px;" aria-label="Feb20: activate to sort column ascending">Feb
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 50px;" aria-label="Mar20: activate to sort column ascending">Mar
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 50px;" aria-label="Apr20: activate to sort column ascending">Apr
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 50px;" aria-label="May20: activate to sort column ascending">May
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 50px;" aria-label="Jun20: activate to sort column ascending">Jun
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 50px;" aria-label="Jul20: activate to sort column ascending">Jul
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 50px;" aria-label="Aug20: activate to sort column ascending">Aug
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 50px;" aria-label="Sep20: activate to sort column ascending">Sep
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 51px;" aria-label="Oct20: activate to sort column ascending">Oct
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 51px;" aria-label="Nov20: activate to sort column ascending">Nov
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 51px;" aria-label="Dec20: activate to sort column ascending">Dec
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 51px;" aria-label="Jan21: activate to sort column ascending">Jan
                                <br>21</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td  tabindex="0" class="trading-cell sorting">Brent Crude Oil
                                <br>(BRENT)</td>
                              <td class="trading-cell">Open</td>
                              <td class="trading-cell">27/11/19</td>
                              <td class="trading-cell">26/12/19</td>
                              <td class="trading-cell">29/01/20</td>
                              <td class="trading-cell">26/02/20</td>
                              <td class="trading-cell">27/03/20</td>
                              <td class="trading-cell">28/04/20</td>
                              <td class="trading-cell">27/05/20</td>
                              <td class="trading-cell">26/06/20</td>
                              <td class="trading-cell">29/07/20</td>
                              <td class="trading-cell">26/08/20</td>
                              <td class="trading-cell">28/09/20</td>
                              <td class="trading-cell">27/10/20</td></tr>
                            <tr role="row" class="even">
                              <td  tabindex="0" class="trading-cell sorting">Brent Crude Oil
                                <br>(BRENT)</td>
                              <td class="trading-cell">Close Only</td>
                              <td class="trading-cell">26/12/19</td>
                              <td class="trading-cell">29/01/20</td>
                              <td class="trading-cell">26/02/20</td>
                              <td class="trading-cell">27/03/20</td>
                              <td class="trading-cell">28/04/20</td>
                              <td class="trading-cell">27/05/20</td>
                              <td class="trading-cell">26/06/20</td>
                              <td class="trading-cell">29/07/20</td>
                              <td class="trading-cell">26/08/20</td>
                              <td class="trading-cell">28/09/20</td>
                              <td class="trading-cell">27/10/20</td>
                              <td class="trading-cell"></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td  tabindex="0" class="trading-cell sorting">Brent Crude Oil
                                <br>(BRENT)</td>
                              <td class="trading-cell">Expiry</td>
                              <td class="trading-cell">27/12/19</td>
                              <td class="trading-cell">30/01/20</td>
                              <td class="trading-cell">27/02/20</td>
                              <td class="trading-cell">30/03/20</td>
                              <td class="trading-cell">29/04/20</td>
                              <td class="trading-cell">28/05/20</td>
                              <td class="trading-cell">29/06/20</td>
                              <td class="trading-cell">30/07/20</td>
                              <td class="trading-cell">27/08/20</td>
                              <td class="trading-cell">29/09/20</td>
                              <td class="trading-cell">28/10/20</td>
                              <td class="trading-cell"></td>
                            </tr>
                            <tr role="row" class="even">
                              <td  tabindex="0" class="trading-cell sorting">London Gas Oil
                                <br>(GSOIL)</td>
                              <td class="trading-cell">Open</td>
                              <td class="trading-cell">03/01/20</td>
                              <td class="trading-cell">04/02/20</td>
                              <td class="trading-cell">05/03/20</td>
                              <td class="trading-cell">03/04/20</td>
                              <td class="trading-cell">05/05/20</td>
                              <td class="trading-cell">05/06/20</td>
                              <td class="trading-cell">03/07/20</td>
                              <td class="trading-cell">06/08/20</td>
                              <td class="trading-cell">04/09/20</td>
                              <td class="trading-cell">08/10/20</td>
                              <td class="trading-cell"></td>
                              <td class="trading-cell"></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td  tabindex="0" class="trading-cell sorting">London Gas Oil
                                <br>(GSOIL)</td>
                              <td class="trading-cell">Close Only</td>
                              <td class="trading-cell">04/02/20</td>
                              <td class="trading-cell">05/03/20</td>
                              <td class="trading-cell">03/04/20</td>
                              <td class="trading-cell">05/05/20</td>
                              <td class="trading-cell">05/06/20</td>
                              <td class="trading-cell">03/07/20</td>
                              <td class="trading-cell">06/08/20</td>
                              <td class="trading-cell">04/09/20</td>
                              <td class="trading-cell">08/10/20</td>
                              <td class="trading-cell"></td>
                              <td class="trading-cell"></td>
                              <td class="trading-cell"></td>
                            </tr>
                            <tr role="row" class="even">
                              <td  tabindex="0" class="trading-cell sorting">London Gas Oil
                                <br>(GSOIL)</td>
                              <td class="trading-cell">Expiry</td>
                              <td class="trading-cell">05/02/20</td>
                              <td class="trading-cell">06/03/20</td>
                              <td class="trading-cell">06/04/20</td>
                              <td class="trading-cell">06/05/20</td>
                              <td class="trading-cell">08/06/20</td>
                              <td class="trading-cell">06/07/20</td>
                              <td class="trading-cell">07/08/20</td>
                              <td class="trading-cell">07/09/20</td>
                              <td class="trading-cell">09/10/20</td>
                              <td class="trading-cell"></td>
                              <td class="trading-cell"></td>
                              <td class="trading-cell"></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td  tabindex="0" class="trading-cell sorting">Natural Gas
                                <br>(NGAS)</td>
                              <td class="trading-cell">Open</td>
                              <td class="trading-cell">24/12/19</td>
                              <td class="trading-cell">24/01/20</td>
                              <td class="trading-cell">24/02/20</td>
                              <td class="trading-cell">25/03/20</td>
                              <td class="trading-cell">24/04/20</td>
                              <td class="trading-cell">25/05/20</td>
                              <td class="trading-cell">24/06/20</td>
                              <td class="trading-cell">27/07/20</td>
                              <td class="trading-cell">25/08/20</td>
                              <td class="trading-cell">25/09/20</td>
                              <td class="trading-cell">23/10/20</td>
                              <td class="trading-cell"></td>
                            </tr>
                            <tr role="row" class="even">
                              <td  tabindex="0" class="trading-cell sorting">Natural Gas
                                <br>(NGAS)</td>
                              <td class="trading-cell">Close Only</td>
                              <td class="trading-cell">24/01/20</td>
                              <td class="trading-cell">24/02/20</td>
                              <td class="trading-cell">25/03/20</td>
                              <td class="trading-cell">24/04/20</td>
                              <td class="trading-cell">25/05/20</td>
                              <td class="trading-cell">24/06/20</td>
                              <td class="trading-cell">27/07/20</td>
                              <td class="trading-cell">25/08/20</td>
                              <td class="trading-cell">25/09/20</td>
                              <td class="trading-cell">23/10/20</td>
                              <td class="trading-cell"></td>
                              <td class="trading-cell"></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td  tabindex="0" class="trading-cell sorting">Natural Gas
                                <br>(NGAS)</td>
                              <td class="trading-cell">Expiry</td>
                              <td class="trading-cell">27/01/20</td>
                              <td class="trading-cell">25/02/20</td>
                              <td class="trading-cell">26/03/20</td>
                              <td class="trading-cell">27/04/20</td>
                              <td class="trading-cell">26/05/20</td>
                              <td class="trading-cell">25/06/20</td>
                              <td class="trading-cell">28/07/20</td>
                              <td class="trading-cell">26/08/20</td>
                              <td class="trading-cell">28/09/20</td>
                              <td class="trading-cell">26/10/20</td>
                              <td class="trading-cell"></td>
                              <td class="trading-cell"></td>
                            </tr>
                            <tr role="row" class="even">
                              <td  tabindex="0" class="trading-cell sorting">WTI Oil
                                <br>(OIL)</td>
                              <td class="trading-cell">Open</td>
                              <td class="trading-cell">17/12/19</td>
                              <td class="trading-cell">16/01/20</td>
                              <td class="trading-cell">18/02/20</td>
                              <td class="trading-cell">18/03/20</td>
                              <td class="trading-cell">17/04/20</td>
                              <td class="trading-cell">11/05/20</td>
                              <td class="trading-cell">18/06/20</td>
                              <td class="trading-cell">17/07/20</td>
                              <td class="trading-cell">18/08/20</td>
                              <td class="trading-cell">18/09/20</td>
                              <td class="trading-cell">16/10/20</td>
                              <td class="trading-cell"></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td  tabindex="0" class="trading-cell sorting">WTI Oil
                                <br>(OIL)</td>
                              <td class="trading-cell">Close Only</td>
                              <td class="trading-cell">16/01/20</td>
                              <td class="trading-cell">18/02/20</td>
                              <td class="trading-cell">18/03/20</td>
                              <td class="trading-cell">17/04/20</td>
                              <td class="trading-cell">14/05/20</td>
                              <td class="trading-cell">18/06/20</td>
                              <td class="trading-cell">17/07/20</td>
                              <td class="trading-cell">18/08/20</td>
                              <td class="trading-cell">18/09/20</td>
                              <td class="trading-cell">16/10/20</td>
                              <td class="trading-cell"></td>
                              <td class="trading-cell"></td>
                            </tr>
                            <tr role="row" class="even">
                              <td  tabindex="0" class="trading-cell sorting">WTI Oil
                                <br>(OIL)</td>
                              <td class="trading-cell">Expiry</td>
                              <td class="trading-cell">17/01/20</td>
                              <td class="trading-cell">19/02/20</td>
                              <td class="trading-cell">19/03/20</td>
                              <td class="trading-cell">20/04/20</td>
                              <td class="trading-cell">15/05/20</td>
                              <td class="trading-cell">19/06/20</td>
                              <td class="trading-cell">20/07/20</td>
                              <td class="trading-cell">19/08/20</td>
                              <td class="trading-cell">21/09/20</td>
                              <td class="trading-cell">19/10/20</td>
                              <td class="trading-cell"></td>
                              <td class="trading-cell"></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td  tabindex="0" class="trading-cell sorting">WTI Oil Mini
                                <br>(OILMn)</td>
                              <td class="trading-cell">Open</td>
                              <td class="trading-cell">17/12/19</td>
                              <td class="trading-cell">16/01/20</td>
                              <td class="trading-cell">18/02/20</td>
                              <td class="trading-cell">18/03/20</td>
                              <td class="trading-cell">17/04/20</td>
                              <td class="trading-cell">11/05/20</td>
                              <td class="trading-cell">18/06/20</td>
                              <td class="trading-cell">17/07/20</td>
                              <td class="trading-cell">18/08/20</td>
                              <td class="trading-cell">18/09/20</td>
                              <td class="trading-cell">16/10/20</td>
                              <td class="trading-cell"></td>
                            </tr>
                            <tr role="row" class="even">
                              <td  tabindex="0" class="trading-cell sorting">WTI Oil Mini
                                <br>(OILMn)</td>
                              <td class="trading-cell">Close Only</td>
                              <td class="trading-cell">16/01/20</td>
                              <td class="trading-cell">18/02/20</td>
                              <td class="trading-cell">18/03/20</td>
                              <td class="trading-cell">17/04/20</td>
                              <td class="trading-cell">14/05/20</td>
                              <td class="trading-cell">18/06/20</td>
                              <td class="trading-cell">17/07/20</td>
                              <td class="trading-cell">18/08/20</td>
                              <td class="trading-cell">18/09/20</td>
                              <td class="trading-cell">16/10/20</td>
                              <td class="trading-cell"></td>
                              <td class="trading-cell"></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td  tabindex="0" class="trading-cell sorting">WTI Oil Mini
                                <br>(OILMn)</td>
                              <td class="trading-cell">Expiry</td>
                              <td class="trading-cell">17/01/20</td>
                              <td class="trading-cell">19/02/20</td>
                              <td class="trading-cell">19/03/20</td>
                              <td class="trading-cell">20/04/20</td>
                              <td class="trading-cell">15/05/20</td>
                              <td class="trading-cell">19/06/20</td>
                              <td class="trading-cell">20/07/20</td>
                              <td class="trading-cell">19/08/20</td>
                              <td class="trading-cell">21/09/20</td>
                              <td class="trading-cell">19/10/20</td>
                              <td class="trading-cell"></td>
                              <td class="trading-cell"></td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite">Showing 1 to 15 ，of 15 entries</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_2_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_2" data-dt-idx="0" tabindex="0" id="DataTables_Table_2_previous">Previous</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_2" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_2" data-dt-idx="2" tabindex="0" id="DataTables_Table_2_next">Next</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dis60"></div>
            <div class="row">
              <div class="col-md-12">
                <p>{{language[curLanguage][29]}}</p>
                <p>{{language[curLanguage][30]}}</p>
                <p>{{language[curLanguage][31]}}</p>
                <p>{{language[curLanguage][32]}}</p>
                <p>{{language[curLanguage][33]}}</p>
                <p>{{language[curLanguage][34]}}</p>
                <p>{{language[curLanguage][35]}}</p>
              </div>
            </div>
          </div>
          <div class="container top50">
            <h2>{{language[curLanguage][36]}}</h2>
            <p>{{language[curLanguage][37]}}</p>
            <p>{{language[curLanguage][38]}}</p>
            <p>{{language[curLanguage][39]}}</p>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>


import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {languageCode} from '../utils/lan-code'




export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },
         
         language:{
             1:{
                 1: '能源',
                 2: '联系我们',
                 3: '外汇',
                 4: '贵重金属',
                 5: 'Noble SKy™交易能源的优势',
                 6: '高波动性 - 更大的价格波动',
                 7: '石油交易 - 世界上交易竞争最激烈的商品',
                 8: '按照市场趋势多头/空头',
                 9: '交易保证金最低',
                 10: '只需5美元',
                 11: '石油差价合约',
                 12: '无隔夜利息',
                 13: '无额外费用',
                 14: '在Noble SKy™交易外汇，个股，大宗商品，贵金属，能源和股指。',
                 15: '建立账户',
                 16: '能源 - 点差 / 条件',
                 17: '差价合约 CFDs',
                 18: '商品代码',
                 19: '商品概述',
                 20: '最小波动',
                 21: '点差',
                 22: '最小价格波动',
                 23: '点差',
                 24: '最低',
                 25: '1手价值',
                 26: '最小/最大交易手数',
                 27: '保证金比例',
                 28: '止盈损距离*',
                 29: '* 在当前市价的基础上，设置止盈或止损的最小点差距离。',
                 30: '差价合约的保证金需求计算公式如下：手数*合约规模*开仓价格*保证金比例。保证金需求的计算与您账户杠杆无关。',
                 31: '如果交易一个方向的商品，预付款比例需要高于100%，若使用差价合约锁仓交易的话，锁仓预付款只收取单边手数大的。',
                 32: '日历日期仅供参考，可能会随时变更。',
                 33: '以上点差/条例适用于Noble SKy™所有类型的交易账户',
                 34: '请注意，期货合约到期后，平台不会自动帮客户延期。',
                 35: '鉴于交易平台无法交易负价格金融商品，因此当任何能源类商品（OIL、OILMn、BRENT、GSOIL和NGAS）价格跌至0时，Noble SKy™将按照最后市价进行平仓。',
                 36: '关于能源',
                 37: '能源价格的最典型特征是高波动性,这是政治和环境因素影响的结果。许多供应与需求因素也影响能量价格，影响力最大的是全球经济增长。 当经济繁荣时，能量需求增加；当经济萧条时，能量消费减少。',
                 38: '除经济变化外，灾害天气条件也可能对能量产生巨大影响，导致原油、天然气或石油的供应瓦解。因此，此类条件可增加或减少对与这些能量相关的客户服务的需求。另外，在一些世界上最大的天然气田，全球能量价格在很大程度上受政治不稳定性的影响。',
                 39: '石油拥有全球化的、 24小时市场, 它的价格在不停地变动。石油市场是日内交易者寻找快速动向和选择CFDs作为最简单的石油价格交易方法的理想工具。',
                 40: '显示 1 到 5 ，总共 5 项',
                 41: '上一步',
                 42: '下一步'
             },
             2:{
                 1: 'Energies',
                 2: 'Contact Us',
                 3: 'Forex Trading',
                 4: 'Precious metals',
                 5: 'Advantages of Oil Trading and Energies Trading with Noble SKy™',
                 6: 'High volatility - greater price movement',
                 7: 'Trade oil – the most actively traded commodity worldwide',
                 8: 'Go short/long according to market moves',
                 9: 'Trade on a margin of as low as',
                 10: '5 USD',
                 11: 'On oil CFDs',
                 12: 'No overnight financing',
                 13: 'NO extra fees applicable',
                 14: 'Trade forex, Precious metals,and Energies at Noble SKy™',
                 15: 'OPEN AN ACCOUNT',
                 16: 'Energies - Spreads / Conditions',
                 17: 'Futures CFDs',
                 18: 'Symbol',
                 19: 'Description',
                 20: 'Minimum price',
                 21: 'fluctuation',
                 22: 'Value of minimum price fluctuation',
                 23: 'Spreads',
                 24: 'as low as',
                 25: 'Value of 1 lot',
                 26: 'Min/Max Trade Size',
                 27: 'Margin Percentage',
                 28: 'Limit and Stop Levels*',
                 29: '*Min. level for placing pending orders at a current market price.',
                 30: 'The margin requirement for CFDs is calculated like this : Lots * Contract Size * Opening Price * Margin Percentage and not based on the leverage of your trading account.',
                 31: 'The margin is always 50% when you hedge positions on CFDs and if your margin level is over 100%.',
                 32: 'Calendar dates are indicative and are subject to change.',
                 33: 'The above spreads/conditions apply to all types of Noble SKy™ trading accounts.',
                 34: 'Please note that our Company does not offer automatic rollover for new contracts of financial instruments that have an expiration date.',
                 35: 'As trading platforms do not support negative prices on financial instruments, in the unlikely event the price of any energy instrument reaches 0, the company will start closing all open positions at the last available price.',
                 36: 'About Energies',
                 37: 'The most typical feature of energy prices is high volatility, which is the result of numerous political and environmental factors that influence it. Many supply and demand factors also affect energy prices, the strongest of which is global economic growth. In times of economic prosperity the demand for energies increases, while a decrease in consumption occurs when economy stagnates.',
                 38: 'Beside economic changes, extreme weather conditions can also have a great impact on energies, leading to supply disruptions of crude oil, natural gas, or heating oil. As a result, such conditions can decrease or increase demand for many consumer services related to these energies. Moreover, global energy prices are highly affected by the political instability in some of the world’s biggest natural gas fields.',
                 39: 'Oil trading is a globalized, 24-hour market, with its prices in constant motion. This makes it an ideal instrument for day traders who look for fast movements and choose CFDs as the easiest way to trade on oil prices.',
                 40: 'Showing 1 to 5，of 5 entries',
                 41: 'Previous',
                 42: 'Next'
             },
             3:{
                 1: 'Enerji',
                 2: 'Bize Ulaşın',
                 3: 'Döviz',
                 4: 'Değerli metaller',
                 5: 'Noble SKy™ ticaret enerjisinin avantajları',
                 6: 'Yüksek uçuculuk - Daha yüksek fiyat oynaklığı',
                 7: 'Petrol ticareti - Dünyadaki en rekabetçi ticaret emtia',
                 8: 'Pazar trendlerine göre uzun / kısa',
                 9: 'Minimum ticaret marjı',
                 10: 'Sadece 5 USD',
                 11: "Petrol CFD'si",
                 12: 'Gecelik ilgi yok',
                 13: 'Ek maliyet yok',
                 14: "Noble SKy™'de döviz, bireysel hisse senetleri, emtialar, değerli metaller, enerji ve hisse senedi endeksleri ticareti yapın.",
                 15: 'Hesap oluştur',
                 16: 'Enerji - Yaymak / durum',
                 17: 'Fark için sözleşme CFDs',
                 18: 'Emtia kodu',
                 19: 'Emtia genel bakışı',
                 20: 'Minimum dalgalanma',
                 21: 'Genlik',
                 22: 'Minimum fiyat dalgalanması',
                 23: 'Yaymak',
                 24: 'en düşük',
                 25: '1El değeri',
                 26: 'Minimum / maksimum ticaret lotları',
                 27: 'Marj oranı',
                 28: 'Kar ve zarar mesafesini durdurun*',
                 29: '* Mevcut piyasa fiyatına bağlı olarak, kar almak veya zararı durdurmak için minimum spread mesafesini ayarlayın.',
                 30: "CFD'ler için marj gereksinimlerini hesaplama formülü aşağıdaki gibidir: lot büyüklüğü * sözleşme büyüklüğü * açılış fiyatı * marj oranı. Marj gereksinimlerinin hesaplanması ve siz Hesap Kaldıraç konu dışıdır.",
                 31: "Emtia ticaretini tek yönde yapıyorsanız, ön ödeme oranının% 100'den yüksek olması gerekir CFD kilitleme işlemlerini kullanırsanız, kilit ön ödemesi yalnızca büyük bir tek taraflı lot için ücretlendirilecektir.",
                 32: 'Takvim tarihi yalnızca referans içindir ve herhangi bir zamanda değişebilir.',
                 33: "Yukarıdaki spreadler / düzenlemeler, Noble SKy™'nin her tür ticaret hesabı için geçerlidir.",
                 34: 'Vadeli işlem sözleşmesinin sona ermesinden sonra, platformun müşteri için uzatmayı otomatik olarak uzatmayacağını lütfen unutmayın.',
                 35: "Alım satım platformu negatif fiyatlı finansal ürünler ticareti yapamadığı için, herhangi bir enerji ürününün (OIL, OILMn, BRENT, GSOIL ve NGAS) fiyatı 0'a düştüğünde, Noble SKy™, son piyasa fiyatındaki pozisyonu kapatacaktır.",
                 36: 'Enerji hakkında',
                 37: 'Enerji fiyatlarının en tipik özelliği, politik ve çevresel faktörlerin bir sonucu olan yüksek oynaklıktır. Birçok arz ve talep faktörü de enerji fiyatlarını etkiler.Bunlardan en önemlisi küresel ekonomik büyümedir. Ekonomi patladığında enerji talebi artar; ekonomi çöktüğünde enerji tüketimi azalır.',
                 38: 'Ekonomik değişikliklere ek olarak, şiddetli hava koşulları da enerji üzerinde büyük bir etkiye sahip olabilir ve ham petrol, doğalgaz veya petrol arzının çökmesine neden olabilir. Bu nedenle, bu tür koşullar, bu enerjilerle ilgili müşteri hizmetleri talebini artırabilir veya azaltabilir. Ek olarak, dünyanın en büyük doğal gaz sahalarının bazılarında, küresel enerji fiyatları büyük ölçüde siyasi istikrarsızlıktan etkilenmektedir.',
                 39: "Petrolün küreselleşmiş, 24 saatlik bir pazarı var ve fiyatı sürekli değişiyor. Petrol piyasası, günlük tüccarların hızlı hamleler bulmaları ve petrol fiyatı ticaretinin en basit yöntemi olarak CFD'leri seçmeleri için ideal bir araçtır.",
                 40: 'Görüntüle 1 Kader 5 ，Toplamda 5 Sayfa',
                 41: 'Önceki',
                 42: 'Sonraki'
             },
             4:{
                 1: 'الطاقات',
                 2: 'اتصل بنا',
                 3: 'تداول الفوركس',
                 4: 'المعادن الثمينة',
                 5: 'مزايا تداول النفط وتداول الطاقات مع ™Noble SKy',
                 6: 'تقلبات عالية - حركة سعر أكبر',
                 7: 'تداول النفط - السلعة الأكثر تداولًا في جميع أنحاء العالم',
                 8: 'قم بالبيع / الشراء وفقًا لتحركات السوق',
                 9: 'تداول بهامش منخفض يصل إلى',
                 10: '5 دولارات أمريكية',
                 11: 'لا يوجد تمويل خلال الليل على عقود الفروقات على النفط',
                 12: '',
                 13: 'لا توجد رسوم إضافية مطبقة',
                 14: 'تداول العملات الأجنبية والمعادن الثمينة والطاقات في ™Noble SKy',
                 15: 'افتح حساب',
                 16: 'الطاقات - سبريد / الشروط',
                 17: 'العقود مقابل الفروقات الآجلة',
                 18: 'رمز',
                 19: 'وصف',
                 20: 'أدنى',
                 21: 'تقلب في الأسعار',
                 22: 'قيمة الحد الأدنى لتقلب السعر',
                 23: 'سبريد',
                 24: 'منخفض يصل إلى',
                 25: 'قيمة الحزمة',
                 26: 'الحد الأدنى / الأقصى لحجم التداول',
                 27: 'نسبة الهامش',
                 28: 'مستويات الحد والوقف *',
                 29: '* أقل مستوى لعمليات الشراء المعلقة بسعر السوق الحالي.',
                 30: 'يتم حساب متطلبات الهامش لعقود الفروقات على النحو التالي: عدد العقود * حجم العقد * سعر الافتتاح * نسبة الهامش وليس بناءً على الرافعة المالية لحساب التداول الخاص بك.',
                 31: 'يكون الهامش دائمًا 50٪ عندما تقوم بتحويط صفقات عقود الفروقات وإذا كان مستوى الهامش لديك أعلى من 100٪.',
                 32: 'تواريخ التقويم إرشادية وقابلة للتغيير.',
                 33: 'تنطبق الفروق / الشروط المذكورة أعلاه على جميع أنواع حسابات تداول ™Noble SKy.',
                 34: 'يرجى ملاحظة أن شركتنا لا تقدم تمديد تلقائي للعقود الجديدة للأدوات المالية التي لها تاريخ انتهاء الصلاحية.',
                 35: 'نظراً لأن منصات التداول لا تدعم الأسعار السلبية للأدوات المالية، في حالة احتمال وصول سعر أي أداة طاقة (OIL, OILMn, BRENT, GSOIL و NGAS) إلى ال0، ستبدأ الشركة بإغلاق جميع المداولات المفتوحة بآخر سعر متاح.',
                 36: 'حول الطاقات',
                 37: 'الميزة الأكثر شيوعًا لأسعار الطاقة هي التقلبات العالية ، والتي تنتج عن العديد من العوامل السياسية والبيئية التي تؤثر عليها. تؤثر العديد من عوامل العرض والطلب أيضًا على أسعار الطاقة ، أقواها هو النمو الاقتصادي العالمي. في أوقات الازدهار الاقتصادي ، يزداد الطلب على الطاقات ، بينما يحدث انخفاض في الاستهلاك عندما يتباطأ الاقتصاد.',
                 38: 'إلى جانب التغيرات الاقتصادية ، يمكن أن يكون للظروف المناخية القاسية أيضًا تأثير كبير على الطاقات ، مما يؤدي إلى انقطاع إمدادات النفط الخام أو الغاز الطبيعي أو زيت التدفئة. نتيجة لذلك ، يمكن أن تؤدي هذه الظروف إلى خفض أو زيادة الطلب على العديد من الخدمات الاستهلاكية المتعلقة بهذه الطاقات. علاوة على ذلك ، تتأثر أسعار الطاقة العالمية بشدة بعدم الاستقرار السياسي في بعض أكبر حقول الغاز الطبيعي في العالم.',
                 39: 'تداول النفط هو سوق معولم يعمل على مدار 24 ساعة ، وبأسعاره في حركة مستمرة. وهذا يجعلها أداة مثالية للمتداولين اليوميين الذين يبحثون عن حركات سريعة ويختارون العقود مقابل الفروقات باعتبارها أسهل طريقة لتداول أسعار النفط.',
                 40: 'إظهار 1 إلى 5 من أصل 5 إدخالات',
                 41: 'السابق',
                 42: 'التالى'
             },
             5:{
                 1: 'انرژی ها',
                 2: 'تماس با ما',
                 3: 'معامله ی فارکس',
                 4: 'فلزات گرانبها',
                 5: 'مزایای معامله ی نفت و انرژی ها در ™Noble SKy',
                 6: 'نوسان بالاتر و حرکت بیشترقیمت',
                 7: 'معامله ی نفت – پرطرفدارترین کالای مورد معامله در دنیا',
                 8: 'ورود به دستور خرید/فروش با توجه به روند بازار',
                 9: 'معامله با کمترین مارجین',
                 10: '5 دلاری',
                 11: 'برای کالاهای نفتی',
                 12: 'بدون سواپ',
                 13: 'بدون دریافت هزینه ی اضافی',
                 14: 'فارکس، فلزات گران بها و انرژی ها را در ™Noble SKy معامله کنید',
                 15: 'افتتاح حساب',
                 16: 'شرایط و اسپردهای انرژی ها',
                 17: 'شرایط و اسپردهای انرژی ها',
                 18: 'نماد',
                 19: 'توضیحات',
                 20: 'حداقل نرخ',
                 21: 'نوسان',
                 22: 'ارزش حداقل نرخ نوسان',
                 23: 'اسپرد',
                 24: 'پایین ترین',
                 25: 'ارزش 1 لات',
                 26: 'حداقل/حداکثر حجم معامله',
                 27: 'درصد مارجین',
                 28: 'استاپ لول و لیمیت*',
                 29: '*پایین ترین سطح اجرای دستورات پندینگ در قیمت فعلی بازار.',
                 30: 'مارجین CFD ها به این صورت محاسبه می شوند: حجم * اندازه قرارداد * قیمت شروع * درصد مارجین که ارتباطی به لوریج حساب شما ندارد.',
                 31: 'مارجین پوزیشن های هج CFD ها درصورتیکه مارجین لول بالای 100% باشد همیشه 50% می باشد.',
                 32: 'تاریخ تقویم مشخص است و ممکن است تغییر کند.',
                 33: 'اسپردها و شرایطی که در جدول بالا مشاهده میکنید در تمام حساب های ™Noble SKy یکسان می باشد.',
                 34: 'در نظر داشته باشید که در شرکت ما قراردادهای جدید ابزارهای مالی که دارای تاریخ انقضا هستند شامل رول اور خودکار نمی باشند.',
                 35: 'از آنجا که پلتفرم معاملاتی قیمت های منفی ابزارهای مالی را پشتیبانی نمی کنند در صورت احتمال بسیار کم رسیدن قیمت هر ابزار انرژی به 0 شرکت شروع به بستن تمام معاملات باز با آخرین قیمت موجود می کند.',
                 36: 'درباره ی انرژی ها',
                 37: 'بارزترین ویژگی انرژی ها نوسان بالای قیمت آن ها(که عوامل بسیار زیاد سیاسی و زیست محیطی در آن دخیل هستند) می باشد. عوامل بسیار زیاد عرضه و تقاضا نیز قیمت انرژی ها را تحت تاثیر قرار میدهد که قوی ترین دلیل رشد اقتصادی جهانی می باشد. در زمان موفقیت اقتصادی عرضه برای انرژی افزایش پیدا میکند درحالیکه زمان رکود اقتصاد مصرف کاهش پیدا می کند.',
                 38: 'در کنار تغییرات اقتصادی، شرایط آب و هوایی نیز میتواند تاثیر بسزایی در انرژی ها که منجر به عدم تامین نفت خام، گاز طبیعی یا نفت مصرفی می شود، داشته باشد. در نتیجه چنین شرایطی عرضه یا تقاضای بسیاری از موارد مصرفی این دسته از انرژی ها را کاهش یا افزایش می دهد. علاوه بر این قیمت های جهانی انرژی تحت تاثیر شدید ثبات اقتصادی در برخی از بزرگترین منابع گاز طبیعی دنیا می باشد.',
                 39: 'معامله ی نفت، بازار 24 ساعته ی جهانی با تغییر مداوم قیمت آن می باشد که این امر نفت را به ابزاری ایده آل برای معامله گران روزانه تبدیل می کند که بدنبال تغییر سریع هستند و CFD را به عنوان ساده ترین راه برای معاملات با قیمت لحظه ای نفت انتخاب می کنند.',
                 40: 'نمایش صفحه ی 1 از 5',
                 41: 'قبلی',
                 42: 'بعدی'
             }
         },


        tableIndex:0,
        tableIndex2:0,
        queryIndex:0,
        queryIndexFlag:false,
        head:['能源','Energies','Enerji','الطاقات','انرژی ها']




    };
  },
   metaInfo() {return {
      // 

      title: this.head[this.curLanguage-1]+'-NOBLE SKY',
      }
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

//    if(this.curLanguage!=2){
//        let pName = this.$route.name.substring(0,this.$route.name.length-2)
//        let pNameStr = pName + languageCode[this.curLanguage]
//        this.$router.push({name:pNameStr});
//    }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
         this.curLanguage=val;
       console.log(this.curLanguage)
    //    let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
    //    let pNameStr = pName + languageCode[val]
    //    this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleTableIndex2(val){
         this.tableIndex2 = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }



  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }
   .dis80 {
       height: 80px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}



.row {
    margin-left: -15px;
    margin-right: -15px;
}

footer{height: 300px;background-color: #333;text-align: center;}
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
.tab-content{height: 4rem;}
  .tab-content > .active {
    height: 2.5rem;
    width: auto;
  }

  .tab-content {
    height: 12em;
    width: auto;
  }
  p {
    margin-bottom: 2em;
  }
/*  #energiesTable tr td{
  color: rgba(48, 69, 92, 0.8)!important;
  }*/
</style>
