<template>
  <div class="wrap" @click="hideMenu" v-bind:class="{rightToLeft:(curLanguage==4||curLanguage==5)}">
    <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

    <div class="page-title">
      <h3>{{language[curLanguage][1]}}</h3>
      <div class="links">
        <router-link to="/publish" v-if="isLogin"><i class="icon icon-plane"></i>{{language[curLanguage][2]}} </router-link>
        <router-link to="/login?page=publish" v-if="!isLogin"><i class="icon icon-plane"></i>{{language[curLanguage][2]}}</router-link>

        <router-link to="/my-products" v-if="isLogin"><i class="icon icon-product"></i>{{language[curLanguage][3]}} </router-link>
        <router-link to="/login?page=myProducts" v-if="!isLogin"><i class="icon icon-product"></i>{{language[curLanguage][3]}} </router-link>

        <router-link to="/f-order" v-if="isLogin"><i class="icon icon-record"></i>{{language[curLanguage][4]}}</router-link>
        <router-link to="/login?page=fOrder" v-if="!isLogin"><i class="icon icon-record"></i>{{language[curLanguage][4]}}</router-link>
      </div>
    </div>

    <div class="filter" id="introFilters">
      <div class="tab-head">

        <router-link :to="{name:'products',params:{type:3}}">{{language[curLanguage][6]}}</router-link>
        <router-link :to="{name:'products',params:{type:4}}">{{language[curLanguage][7]}}</router-link>
        <router-link to="/product-introduction" class="active"><em><i></i></em>{{language[curLanguage][5]}}</router-link>
        <router-link :to="{name:'products',params:{type:6}}">{{language[curLanguage][8]}}</router-link>
      </div>
    </div>


    <div class="row white" style="background: url('../../static/images/ETFs-Hero-Banner-.jpg');height:600px;background-position: center;">
      <!--<img src="../../static/images/ETFs-Hero-Banner-.jpg" />-->
      <div class="container text-center " style="padding-top:8em;">
        <h1 class="HeroLoadtext" style="font-family: 'Montserrat', sans-serif; font-weight:bold">
          {{language[curLanguage][9]}}
        </h1><br />
        <h2 class="HeroLoadtextSub" style="font-weight: bold; font-family: 'Montserrat', sans-serif; font-size:40px;padding-top:1em;">
          {{language[curLanguage][10]}}
        </h2>

      </div>

    </div>
    <div class=" row blueSectionBg">
      <div class="container container2 ">
        <div class="row rowpad" id="peace">

          <div class="col-6 LBrick " style=" background: url('../../static/images/peace-of-mind.jpg');
                            height: 450px; background-size: cover;">
            <div class="row text-center">
              <div class="col-12 text-center">
                <h2 class="title text-center" style="z-index: 10;color: white;position: inherit; top: 150px;text-align: center!important;">  {{language[curLanguage][11]}} <b>  {{language[curLanguage][12]}} </b> </h2>

              </div>
              <div class="col-12">
                <div class="text-center white" style="padding: 25px 7px;z-index: 10;color: white;position: inherit;top: 180px;text-align: center!important;"> {{language[curLanguage][13]}}  <b> {{language[curLanguage][14]}}</b>   {{language[curLanguage][15]}}</div>

              </div>
            </div>
            <div class="overlayCI">

            </div>
          </div>
          <div class="col-6 RBrick" style="padding:4em;">
            <div class="left">
              <h2 class="" style=" padding: 20px 7px;"><b> {{language[curLanguage][16]}} </b></h2>
              <p class="generalText" style=" padding: 10px 12px;">
                {{language[curLanguage][17]}}
              </p>

            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="row section-light">
      <div class="container container2 ">

        <div class="row rowpad">
          <div class="col-6 LBrick" style="padding:2em;">
            <div class="left">
              <h2 class="" style=" padding: 25px 7px;"> {{language[curLanguage][18]}}<b>  {{language[curLanguage][19]}} </b></h2>
              <p class="generalText">
                {{language[curLanguage][20]}}<br> {{language[curLanguage][21]}}
              </p>
              <p class="generalText">
                {{language[curLanguage][22]}}
              </p>
            </div>

          </div>
          <div class="col-6 RBrick " style="background: url('../../static/images/depoProtectBrick.jpg');
        height: 450px; background-size: cover;">
            <div class="row">
              <div class="col-12">
                <h2 class="title" style="z-index: 10;color: white;position: inherit;top: 150px;text-align: center!important;">
                  <b>  {{language[curLanguage][23]}} </b> <br />

                  <div class="text-center"> {{language[curLanguage][24]}}</div>
                </h2>
              </div>
            </div>
         
            <div class="overlay">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" row blueSectionBg">

      <div class="container container2 ">

        <div class="row rowpad">

          <div class="col-6 LBrick " style=" background: url('../../static/images/Stocks_v2.png'); height: 450px; background-size: cover;">
            <div class="row text-center">
              <div class="col-12 text-center">
                <h2 class="title" style="z-index: 10;color: white;position: inherit;top: 150px;text-align: center!important;"> <b>  {{language[curLanguage][25]}} </b> </h2>
              </div>
              <div class="col-12 text-center">
                <div class="white" style="z-index: 10;color: white;position: inherit;top: 180px;"> <b>AA</b> {{language[curLanguage][26]}}</div>
              </div>
            </div>

          
           
            <div class="overlayCI">

            </div>
          </div>
          <div class="col-6 RBrick" style="padding:2em;">
            <div class="left">
              <h2 class="title" ><b> {{language[curLanguage][27]}} </b></h2>
              <p class="generalText" >
                {{language[curLanguage][28]}}
                <br> {{language[curLanguage][29]}}
              </p>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row section-light hDIWSection" style="background: url('../../static/images/seesaw-coins.png');
        background-size: cover; background-position: center;" id="seesawOverlay">
      <div class="col-12" style="background: rgba(0, 0, 0, .5);  height: -webkit-fill-available;">
        <div class="container container3 container4 ">
          <h1 class="text-center white pb-1" style=" font-family: 'Montserrat', sans-serif; ">
            {{language[curLanguage][30]}}
          </h1>
          <div class="row pt-2 pb-3">
            <div class="col-4 text-center white px-2 ">
              <span><img src="../../static/images/investorGroupWhite.png" /></span>
              <br />
              <p class="pt-1">
                {{language[curLanguage][31]}}
              </p>
            </div>
            <div class="col-4 text-center white px-2 ">
              <span><img src="../../static/images/financeGrowthWhite.png" /></span>
              <br />
              <p class="pt-1">
                {{language[curLanguage][32]}}<b> {{language[curLanguage][33]}}</b>  {{language[curLanguage][34]}}
              </p>
            </div>
            <div class="col-4 text-center white px-2 ">
              <span><img src="../../static/images/paperMoneyWhite.png" /></span>
              <br />
              <p class="pt-1">
                {{language[curLanguage][35]}} <b> {{language[curLanguage][36]}}</b>
              </p>
            </div>


          </div>

        </div>
      </div>

    </div>
    <!-- <div class="row py-3">
        <div class="container">
            <h1 class="text-center  pb-2 " id="datacounters" style=" font-family: 'Montserrat', sans-serif; color:#53455b; ">
                Can it be that easy?
            </h1>
            <h3 class="text-center  pb-2" style=" font-family: 'Montserrat', sans-serif; color:#53455b; ">
                with  NobelSky™  a multi-regulated, award-winning leading forex and CFD broker. <b>It Is.</b>
            </h3>
            <div class="content">
                <div class="data bold">
                    <ul>
                        <li>
                            <span class="num clients" style="color:#53455b">0</span>
                            <span class="title title-tweets " style="color: rgb(102, 153, 0);">Satisfied Clients</span>
                        </li>
                        <li>
                            <span class="num experts" style="color:#53455b">0</span>
                            <span class="title title-followers" style="color: rgb(255, 136, 0);">Master Experts</span>
                        </li>
                        <li>
                            <span class="num products" style="color:#53455b">0</span>
                            <span class="title title-following" style="color: rgb(204, 0, 0);">Financial Freedom Products</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div> -->
    <div class="row productBody">
      <div class="col-12">
        <div class="container">
          <h1 class="text-center white pb-3 pt-2" style=" font-family: 'Montserrat', sans-serif; ">
            {{language[curLanguage][37]}}
          </h1>
        </div>
      </div>

 
      <div class="col-12">

        <div class="container">
          <div class=" row">
            <div class="col-6">
              <div class="grid-1-5 ml-0">
                <h2 class="py-1"> {{language[curLanguage][38]}}</h2>
                <h3 class="pb-1"><span class="uppercase"> {{language[curLanguage][39]}}</span></h3>
                <p> {{language[curLanguage][40]}}</p>
                <ul>
                  <li> {{language[curLanguage][41]}}</li>
                  <li> {{language[curLanguage][42]}}</li>
                  <li> {{language[curLanguage][43]}}</li>
                </ul>

              </div>

            </div>
            <div class="col-6">
              <div class="grid-1-5 mr-0">
                <h2 class="py-1"> {{language[curLanguage][44]}}</h2>
                <h3 class="pb-1">  {{language[curLanguage][45]}}</h3>
                <p> {{language[curLanguage][46]}}</p>
                <ul>
                  <li> {{language[curLanguage][47]}}</li>
                  <li> {{language[curLanguage][48]}}</li>
                  <li> {{language[curLanguage][49]}} </li>
                </ul>

              </div>

            </div>




          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="container">
          <div class="container text-center pt-3 pb-1">
            <router-link to="/product-introduce" class="text-md prodBtn btn-primary d-inline-block">  {{language[curLanguage][50]}} </router-link>
          </div>
        </div>

      </div>


    </div>


    <div class="container pb-2" style="font-family: 'Titillium Web', sans-serif;">
      <div class="row py-2 center">
        <div class="container text-center"><h1 class="py-2">{{language[curLanguage][51]}}</h1></div>
        <ul class="ulist">
          <li>
            <input type="checkbox" checked>
            <i :class="{rightIcon:curLanguage==4||curLanguage==5}"></i>
            <h3 style="font-size: 20px!important;">{{language[curLanguage][52]}}</h3>
            <p class="para">
              {{language[curLanguage][53]}}
            </p>
          </li>
          <li>
            <input type="checkbox" checked>
            <i :class="{rightIcon:curLanguage==4||curLanguage==5}"></i>
            <h3 style="font-size: 20px!important;">{{language[curLanguage][54]}}</h3>
            <p class="para">{{language[curLanguage][55]}}</p>
          </li>
          <li>
            <input type="checkbox" checked>
            <i :class="{rightIcon:curLanguage==4||curLanguage==5}"></i>
            <h3 style="font-size: 20px!important;">{{language[curLanguage][56]}}</h3>
            <p class="para">
              {{language[curLanguage][57]}}
            </p>
          </li>
          <li>
            <input type="checkbox" checked>
            <i :class="{rightIcon:curLanguage==4||curLanguage==5}"></i>
            <h3 style="font-size: 20px!important;">{{language[curLanguage][58]}}</h3>
            <p class="para">
              {{language[curLanguage][59]}}
            </p>
          </li>
          <li>
            <input type="checkbox" checked>
            <i :class="{rightIcon:curLanguage==4||curLanguage==5}"></i>
            <h3 style="font-size: 20px!important;">{{language[curLanguage][60]}}</h3>
            <p class="para">{{language[curLanguage][61]}}</p>
          </li>
        </ul>

      </div>
    </div>

    <pageFooter />
  </div>
</template>
<style scoped src='../../static/css/products/ProductIntroduction.css'></style>

<script>

  import pageHeader from '../components/pageHeaderTFX.vue'
  import pageFooter from '../components/pageFooterTFX.vue'
  import { languageCode } from '../utils/lan-code'





  export default {
    name: "productIntroduction",
    data: function () {
      return {
        isLogin: false,
        userLoginInfo: '',
        curCoinType: 1,
        curLanguage: 2,
        // language:coinstrad,

        userInfo: {
          configure: {
          }
        }, languageGroup: {
          1: 'zh',
          2: 'en',
          3: 'tr',
          4: 'ar',
          5: 'fa'
        },
        language: {
          1: {
            1: '金融产品',
            2: '产品发布',
            3: '我的产品',
            4: '我的订单',
            5: '财务简介',
            6: '提高',
            7: '正在运行',
            8: '产品规则',
            9: '引进',
            10: ' Noble Sky™财务自由产品',
            11: '完成',
            12: '心灵和平',
            13: '结束',
            14: ' 150名金融专家',
            15: '具有多年的金融领域经验',
            16: '将交易留给专家',
            17: '拥有150多位行业领先的金融专家，您可以安心地休息，而专家则负责其余的工作，这样您就可以过上最美好的生活。您可以在睡觉时赚钱，让专家做辛苦的工作.',
            18: '至',
            19: '两万美元保护',
            20: '屡获殊荣的外汇和CFD经纪人Noble Sky™通过新型创新的风险管理工具Noble Sky™ Protect引入了降低风险的新标准。',
            21: "这项独特的风险管理功能使您可以在特定时间范围内保护特定交易免受高达两万欧元的损失', 所有这些，以便我们可以继续证明我们对客户群的专注程度，并确保我们作为领先的可信赖经纪人的地位",
            22: ' Noble Sky™Protect是公司对客户成功和满意度的持续承诺的一部分，并且只能在Noble Sky™的平台上使用',
            23: '没有存款损失',
            24: '保证',
            25: '信任交易',
            26: ' CGSE™的交易许可并由两个独立的监管机构监管',
            27: '超过50万的满意客户',
            28: '自2009年成立以来，NobleSky™已发展成为国际知名的投资公司，并且是该行业的真正领导者，拥有超过500,000个客户。NobleSky™目前拥有150多名在金融领域拥有多年经验的专业人员在NobleSky™中，客户资金的安全是我们的重中之重。我们与全球顶尖的投资银行合作，分别存储公司帐户和客户资金，以确保客户资金的安全。',
            29: '这项独特的风险管理功能使您可以保护特定交易在选定的时间范围内免受高达一百万美元的损失，所有这些都是以购买时支付的适度对冲成本为交换条件的.',
            30: '如何运作？',
            31: '投资者将金融自由产品作为本金进行投资，而主交易者将其私人股权作为交易资本。',
            32: '主交易员使用合并的资金作为保证金来进行更大的交易，这使他们可以赚更多的钱，同时，',
            33: '只有',
            34: '冒着交易员自己的私募股权的风险。在所有情况下，NobleSky保证了投资者本金。',
            35: '交易周期结束后，Noble Sky™根据Financial Freedom产品的分配方法分配了利润。实际上，您在睡觉时就在赚钱，',
            36: '就是这么简单！',
            37: ' NobleSky™金融自由产品',
            38: '固定收益',
            39: '放心',
            40: '固定的投资回报率百分比',
            41: '无损失存款',
            42: '根据存款保证的％回报率',
            43: '无论市场如何发展',
            44: '利润分享',
            45: '潜力无限',
            46: '固定总利润百分比回报率',
            47: '减少损失',
            48: '更高的奖励',
            49: '无限的赚钱潜力',
            50: '查看产品',
            51: '常见问题',
            52: '财务自由产品将花费我多少？',
            53: ' NobleSky™对使用Financial Freedom产品不收取任何费用',
            54: "使用'财务自由',产品所需的最低金额是多少？",
            55: '购买金融自由产品的最低金额为100美元',
            56: '产品交易期结束后，我的帐户中的资金转移需要多长时间？',
            57: ' NobleSky™一旦完成交易周期并在1个工作日内分配了资金，就会自动关闭该基金',
            58: '我有可能失去我的存款吗？',
            59: '不不首要原则只能用作开立较大交易的保证金，并且在交易的负余额达到次等本金的情况下，基金会自动关闭。',
            60: '我想要的不仅仅是固定的百分比回报，这有可能吗？',
            61: '就在这里！ 利润分享产品使投资者可以获得总利润的一定百分比，而不是固定的收益'
          },
          2: {
            1: 'Financial Products',
            2: 'Product release',
            3: 'My product',
            4: 'My order',
            5: 'Financial introduction',
            6: 'Raising',
            7: 'Running',
            8: 'Product rules',
            9: 'INTRODUCING',
            10: ' Noble Sky™ Financial Freedom products',
            11: 'Complete',
            12: 'Peace of Mind',
            13: 'over',
            14: '150 financial experts',
            15: ' with many years of experience in financial field',
            16: 'Leave the trading to the Experts',
            17: "With over 150 industtry leading financial experts, you can rest easy while the experts take care of the rest, so you can go on to live your best life. You can literally be making money while you sleep, and let the experts do the hard work.",
            18: 'Up To',
            19: 'Twenty Thousand Dollars Protection',
            20: ' Noble Sky™ , the award-winning leading forex and CFD broker, introduces a new standard in risk reduction with Noble Sky™ Protect, a new and innovative risk managment tool.',
            21: "This unique risk management feature allows you to protect a specific trade against losses of up to twenty thousand euros over a chosen time frame',all of this, so that we may continue to prove how dedicated we are to our client base, and to assure our place as the leading trusted brokerage",
            22: ' Noble Sky™ Protect was developed as part of the company’s ongoing commitment to client success and satisfaction and is available exclusively on Noble Sky™’s platforms',
            23: 'No Loss of Deposit',
            24: 'Guaranteed',
            25: 'Trade With Trust',
            26: 'trading license by CGSE™ and regulated by two seperate regulatory bodies',
            27: 'Over Half A Million Satisfied Clients',
            28: "Since its establishment in 2009, with more than 500,000 clients, NobleSky™ has developed into an internationally renowned investment company and a true leader in the industry. NobleSky™  currently has more than 150 professionals with many years of experience in the financial field. In NobleSky™, the safety of client funds is our top priority. We cooperate with the world's top investment banks to store company accounts and client funds separately to ensure client funds safety.",
            29: 'This unique risk management feature allows you to protect a specific trade against losses of up to one million dollars over a chosen time frame, all of this is in exchange for a modest hedging cost paid at the time of purchase.',
            30: ' How Does it work?',
            31: ' Investors place an investment in a Financial Freedom Product which is used as the principal and A master trader places his private equity which is used as the trading capital.',
            32: '   The Master trader uses the combined funds as margin to make bigger trades which allows them to make much more money, while',
            33: 'only',
            34: " risking the Master trader's own private equity.NobleSky gaurentees the investors principal in all cases.",
            35: " After the trading cycle is completed the profit is distributed by NobleSky™ according to the Financial Freedom product's distribution method.you're literally making money while you sleep,",
            36: "it's that easy!",
            37: ' NobleSky™ Financial Freedom Products',
            38: 'Fixed Returns',
            39: 'Ease of mind',
            40: 'Fixed % return on investment',
            41: 'No-Loss of deposit',
            42: 'Gaurenteed % return based on Deposit',
            43: 'No matter how the markets will go',
            44: 'Profit Sharing',
            45: 'Unlimited Potential',
            46: 'Fixed % return on total profit',
            47: 'No-Loss of Depost',
            48: 'Much higher rewards',
            49: 'Unlimited Earning Potential',
            50: 'View Product',
            51: 'FAQ',
            52: 'How much will a financial freedom product cost me?',
            53: ' NobleSky™ Does not charge any fees for the usage of Financial Freedom products',
            54: 'What is the minimum amount required to start with a Financial Freedom product?',
            55: 'A minimum of $100 USD to buy into a Financial Freedom product',
            56: 'How long does it take for funds to be transfered in my account after the product trading period?',
            57: 'NobleSky™ Automatically closes a fund once it has completed its trading period and the funds are distributed within 1 working day',
            58: 'Is it possible for me to lose my deposit?',
            59: ' No it is not. The primamry principle can only be used as margin to open bigger trades and the fund is automatically closed in the event that negative balance of the trades reaches the amount of the inferior principal',
            60: 'I want more than a fixed percent return, is this possible?',
            61: 'Yes, There is! Profit-sharing products allow investors to get a percentage of the total profits, rather than a fixed return',
          },
          3: {
            1: 'Finansal Ürünler',
            2: 'Ürün sürümü',
            3: 'Ürünüm',
            4: 'Siparişim',
            5: 'Finansal giriş',
            6: 'Yükseltme',
            7: 'Çalışıyor',
            8: 'Ürün kuralları',
            9: 'GİRİŞ',
            10: 'Noble Sky™ Finansal Özgürlük ürünleri',
            11: 'Tamamlandı',
            12: 'İç Huzur',
            13: 'over',
            14: '150 finans uzmanı',
            15: 'Finans alanında uzun yıllara dayanan deneyime sahip',
            16: 'Ticareti Uzmanlara Bırakın',
            17: "Sektörün önde gelen 150'den fazla finans uzmanıyla, uzmanlar gerisini hallederken rahatça dinlenebilirsiniz, böylece en iyi hayatınızı yaşamaya devam edebilirsiniz. Siz uyurken tam anlamıyla para kazanabilir ve uzmanların yapmasına izin verebilirsiniz. Sıkı çalışma.",
            18: 'Kadar',
            19: 'Yirmi Bin Dolarlık Koruma',
            20: 'Ödüllü önde gelen forex ve CFD komisyoncusu Noble Sky™, yeni ve yenilikçi bir risk yönetim aracı olan Noble Sky™ Protect ile risk azaltmada yeni bir standart getiriyor.',
            21: "Bu benzersiz risk yönetimi özelliği, belirli bir ticareti, seçilen bir zaman dilimi içinde yirmi bin avroya kadar olan kayıplara karşı korumanıza olanak tanır ', tüm bunlar, böylece müşteri tabanımıza ne kadar adanmış olduğumuzu kanıtlamaya devam edebiliriz, ve lider güvenilir aracı kurum olarak yerimizi sağlamak için ",
            22: 'Noble Sky™ Protect, şirketin müşteri başarısına ve memnuniyetine olan sürekli bağlılığının bir parçası olarak geliştirilmiştir ve yalnızca Noble Sky™ platformlarında mevcuttur',
            23: 'Depozito Kaybı Yok',
            24: 'Garantili',
            25: 'Güvenle Ticaret',
            26: 'CGSE™ ticari lisansı ve iki ayrı düzenleyici kurum tarafından düzenlenir',
            27: 'Yarım Milyondan Fazla Memnun Müşteri',
            28: "Noble Sky™, 500.000'den fazla müşterisiyle 2009 yılında kuruluşundan bu yana uluslararası üne sahip bir yatırım şirketi ve sektörde gerçek bir lider haline geldi. Noble Sky™ şu anda finans alanında uzun yıllara dayanan deneyime sahip 150'den fazla profesyonel . NobleSky ™ 'de müşteri fonlarının güvenliği en büyük önceliğimizdir. Müşteri fonlarının güvenliğini sağlamak için şirket hesaplarını ve müşteri fonlarını ayrı ayrı saklamak için dünyanın en büyük yatırım bankaları ile işbirliği yapıyoruz. ",
            29: 'Bu benzersiz risk yönetimi özelliği, belirli bir ticareti, seçilen bir zaman diliminde bir milyon dolara kadar olan kayıplara karşı korumanıza olanak tanır, bunların tümü, satın alma sırasında ödenen mütevazı bir riskten korunma maliyeti karşılığında yapılır.',
            30: 'Nasıl Çalışır?',
            31: 'Yatırımcılar, ana para olarak kullanılan bir Finansal Özgürlük Ürününe yatırım yaparlar ve Bir usta tüccar, ticaret sermayesi olarak kullanılan özel sermayesini yerleştirir.',
            32: 'Usta tüccar, daha büyük alım satımlar yapmak için birleşik fonları marj olarak kullanır ve bu da çok daha fazla para kazanmalarına izin verir',
            33: 'sadece',
            34: "Ana tüccarın kendi özel sermayesini riske atma. NobleSky, her durumda yatırımcıların müdürünü yetkilendirir.",
            35: "Ticaret döngüsü tamamlandıktan sonra kâr, Noble Sky™ tarafından Financial Freedom ürününün dağıtım yöntemine göre dağıtılır. Tam anlamıyla uyurken para kazanıyorsunuz,",
            36: "bu kadar kolay!",
            37: 'Noble Sky™ Finansal Özgürlük Ürünleri',
            38: 'Sabit Getiriler',
            39: 'İç rahatlığı',
            40: 'Sabit yatırım getirisi yüzdesi',
            41: 'Depozito Kaybı Olmaz',
            42: 'Mevduata dayalı% Gaurenteed getiri',
            43: 'Piyasalar nasıl giderse gitsin',
            44: 'Kâr Paylaşımı',
            45: 'Sınırsız Potansiyel',
            46: 'Toplam kârdan sabit% getiri',
            47: 'Depost Kaybı Olmaz',
            48: 'Çok daha yüksek ödüller',
            49: 'Sınırsız Kazanç Potansiyeli',
            50: 'Ürünü Görüntüle',
            51: 'SSS',
            52: 'Bir finansal özgürlük ürünü bana ne kadara mal olur?',
            53: 'Noble Sky™ Financial Freedom ürünlerinin kullanımı için herhangi bir ücret talep etmez',
            54: 'Bir Finansal Özgürlük ürünü ile başlamak için gereken minimum miktar nedir?',
            55: 'Bir Finansal Özgürlük ürününe satın almak için minimum 100 ABD Doları',
            56: 'Ürün alım satım süresinden sonra hesabıma para aktarılması ne kadar sürer?',
            57: 'Noble Sky™, alım satım dönemini tamamladıktan ve fonlar 1 iş günü içinde dağıtıldıktan sonra fonu otomatik olarak kapatır',
            58: 'Depozitoumu kaybetmem mümkün mü?',
            59: 'Hayır değil. Primamry prensibi sadece daha büyük işlemler açmak için teminat olarak kullanılabilir ve işlemlerin negatif bakiyesi alt anapara miktarına ulaşırsa fon otomatik olarak kapatılır ',
            60: 'Sabit bir getiri yüzdesinden fazlasını istiyorum, bu mümkün mü?',
            61: 'Evet var! Kar paylaşım ürünleri, yatırımcıların sabit bir getiri yerine toplam kârın belirli bir yüzdesini almasına olanak tanır'
          },
          4: {
            1: 'المنتجات المالية',
            2: 'إصدار المنتج',
            3: 'منتجي',
            4: 'طلبي',
            5: 'مقدمة مالية',
            6: 'قيد الاستثمار',
            7: 'جاري',
            8: 'قواعد المنتج',
            9: 'تقديم',
            10: 'منتجات الحرية المالية لـ™Noble Sky ',
            11: 'كمال',
            12: 'راحة البال',
            13: 'أكثر من ',
            14: '150 خبيرًا ماليًا',
            15: 'مع سنوات عديدة من الخبرة في المجال المالي',
            16: 'اترك التداول للخبراء',
            17: 'مع أكثر من 150 خبيرًا ماليًا رائدًا في هذا المجال , يمكنك الراحة بسهولة بينما يهتم الخبراء بالباقي , حتى تتمكن من عيش حياتك بشكل أفضل. يمكنك حرفيًا أن تكسب المال أثناء نومك , ودع الخبراء يقومون بالعمل الشاق.',
            18: 'حماية تصل إلى ',
            19: 'عشرون ألف دولار',
            20: '™Noble Sky , وسيط الفوركس وعقود الفروقات الرائد الحائز على جوائز , يقدم معيارًا جديدًا في الحد من المخاطر باستخدام ™Noble Sky Protect , وهي أداة جديدة ومبتكرة لإدارة المخاطر.',
            21: "تتيح لك ميزة إدارة المخاطر الفريدة هذه حماية تداول معين من الخسائر التي تصل إلى عشرين ألف يورو خلال إطار زمني محدد', كل هذا, حتى نتمكن من الاستمرار في إثبات مدى التزامنا بقاعدة عملائنا, ولضمان مكانتنا كشركة وساطة رائدة وموثوقة ",
            22: 'تم تطوير ™Noble Sky Protect كجزء من التزام الشركة المستمر بنجاح العملاء ورضاهم وهو متاح حصريًا على منصات ™Noble Sky.',
            23: 'عدم الخسارة في الودائع',
            24: 'مضمونة',
            25: 'تداول بثقة',
            26: 'رخصة تجارية AA من ™CGSE ومنظمة من قبل هيئتين تنظيميتين منفصلتين',
            27: 'أكثر من نصف مليون عميل راضٍ',
            28: 'منذ إنشائها في عام 2009 , مع أكثر من 500000 عميل , تطورت ™Noble Sky لتصبح شركة استثمار مشهورة عالميًا ورائدة حقيقية في الصناعة. تمتلك ™Noble Sky حاليًا أكثر من 150 متخصصًا يتمتعون بخبرة سنوات عديدة في المجال المالي . في ™Nobel Sky , تعتبر سلامة أموال العملاء على رأس أولوياتنا. نتعاون مع أكبر البنوك الاستثمارية في العالم لتخزين حسابات الشركة وأموال العملاء بشكل منفصل لضمان سلامة أموال العملاء. ',
            29: 'تتيح لك ميزة إدارة المخاطر الفريدة هذه حماية صفقة معينة من الخسائر التي تصل إلى مليون دولار خلال إطار زمني محدد , كل هذا مقابل تكلفة تحوط متواضعة يتم دفعها في وقت الشراء',
            30: 'كيف يعمل؟',
            31: 'يضع المستثمرون استثمارًا في منتج الحرية المالية الذي يتم استخدامه كمتداول رئيسي ويضع المتداول الرئيسي أسهمه الخاصة التي تُستخدم كرأس مال تجاري',
            32: 'المتداول الرئيسي يستخدم الأموال المجمعة كهامش لإجراء صفقات أكبر مما يسمح له بكسب المزيد من المال , بينما',
            33: 'فقط',
            34: 'المخاطرة بالملكية الخاصة للمتداول الرئيسي. تضمن ™Noble Sky المستثمر الرئيسي في جميع الحالات',
            35: 'بعد انتهاء دورة التداول , يتم توزيع الأرباح بواسطة ™Noble Sky وفقًا لطريقة توزيع منتج Financial Freedom. فأنت تجني المال حرفيًا أثناء نومك',
            36: 'إنه بهذه السهولة!',
            37: 'منتجات الحرية المالية لـ ™Noble Sky',
            38: 'عوائد ثابتة',
            39: 'راحة البال',
            40: 'عائد٪ ثابت على الاستثمار',
            41: 'عدم خسارة الودائع',
            42: 'عائد٪ مضمون على أساس الإيداع',
            43: 'لا يهم كيف ستسير الأسواق',
            44: 'تقاسم الأرباح',
            45: 'إمكانات غير محدودة',
            46: 'عائد٪ ثابت على إجمالي الربح',
            47: 'لا ضياع الإيداع',
            48: 'مكافآت أعلى بكثير',
            49: 'إمكانية الكسب غير المحدودة',
            50: 'عرض المنتج',
            51: 'التعليمات',
            52: 'كم سيكلفني منتج الحرية المالية؟',
            53: 'لا تتقاضى ™Noble Sky أي رسوم مقابل استخدام منتجات Financial Freedom',
            54: 'ما هو الحد الأدنى للمبلغ المطلوب للبدء بمنتج الحرية المالية؟',
            55: 'بحد أدنى 100 دولار أمريكي لشراء أحد منتجات الحرية المالية',
            56: 'كم من الوقت يستغرق تحويل الأموال في حسابي بعد فترة تداول المنتج؟',
            57: 'تقوم شركة ™Noble Sky بإغلاق الصندوق تلقائيًا بمجرد انتهاء فترة التداول الخاصة به وتوزيع الأموال في غضون يوم عمل واحد',
            58: ' هل من الممكن أن أفقد وديعتي؟ ',
            59: 'لا ليس كذلك. لا يمكن استخدام مبدأ primamry إلا كهامش لفتح صفقات أكبر ويتم إغلاق الصندوق تلقائيًا في حالة وصول الرصيد السلبي للصفقات إلى مبلغ رأس المال الأدنى ',
            60: 'أريد أكثر من نسبة مئوية ثابتة, هل هذا ممكن؟',
            61: 'نعم هنالك! تتيح منتجات مشاركة الأرباح للمستثمرين الحصول على نسبة مئوية من إجمالي الأرباح ، بدلاً من الحصول على عائد ثابت'
          },
          5: {
            1: "  محصولات مالی ",
            2: "  عرضه ی محصولات ",
            3: " محصولات من ",
            4: " دستورهای من ",
            5: " مقدمه ی مالی ",
            6: " افزایش ",
            7: " اجرا ",
            8: " قوانین مربوط به محصولات ",
            9: " معرفی ",
            10: " سرمایه گذاری بدون ریسک ™Noble Sky ",
            11: " تکمیل کردن ",
            12: " آرامش خاطر ",
            13: " بیش از ",
            14: " 150 اکسپرت مالی ",
            15: " سال ها تخصص در زمینه های مالی ",
            16: " معاملات خود را به اکسپرت ها بسپارید ",
            17: " با بیش از 150 اکسپرت برجسته ی صنعتی', در حالیکه اکسپرت ها مراقب تمام امور هستند میتوانید در آرامش کامل از زندگی خود لذت ببرید ",
            18: " تا ",
            19: " ضمانت 20 هزار دلاری ",
            20: " ™Noble Sky  برنده جایزه پیشرو فارکس و CFD', استاندارد جدید کاهش خطر محافظتی که یک ابزار جدید و ابتکاری مدیریت ریسک میباشد را ارائه می دهد .",
            21: " ویژگی منحصر به فرد مدیریت ریسک به شما امکان محافظت از معاملات خاص در برابر ضررهای حداکثر بیست هزار یورویی در یک بازه زمانی مشخص را میدهد', بااین امر تعهد خود به مشتری را نشان داده و جایگاه خود به عنوان کارگزاری معتبر پیشرو را ثابت میکنیم ",
            22: "  ضمانت ™Noble Sky به عنوان بخشی از تعهد شرکت در قبال موفقیت و رضایت مشتری تدارک دیده شده و در پلتفرم های ™Noble Sky قابل دسترس می باشد ",
            23: " بدون از دست دادن سرمایه ",
            24: " تضمین شده ",
            25: " با اطمینان معامله کنید ",
            26: " دارای گواهینامه ی معامله گری CGSE و دو نهاد قانونی مجزا ",
            27: " بیش از نیم میلیون مشتری رضایتمند ",
            28: " ™Noble Sky از زمان تاسیس خود در سال 2009 با بیش از 500000 مشتری به یک شرکت سرمایه گذاری مشهور در سطح بین المللی و پیشرو در صنعت تبدیل شده است. ™Noble Sky با بیش از 150 متخصص با سال ها تجربه در زمینه های مالی همکاری میکند. در شرکت ما امنیت وجوه مشتری از اهمیت بسیار بالایی برخوردار است. برای اطمینان خاطر مشتری و تضمین آن ها با برترین بانک های سرمایه گذاری جهان همکاری میکنیم و سرمایه ی مشتری را در حساب جداگانه از حساب شرکت پس انداز میکنیم.",
            29: " ویژگی منحصر به فرد مدیریت ریسک به شما امکان محافظت از معاملات خاص در برابر ضررهای حداکثر یک میلیون دلاری در یک بازه زمانی مشخص را میدهد و تمام این موارد در ازای دریافت هزینه ای اندک که در زمان خرید پرداخت میکنید ارائه میشود ",
            30: " چگونه کار میکند؟ ",
            31: " سرمایه گذاران بر روی سرمایه گذاری بدون ریسک ', که اساس کار میباشد', سرمایه گذاری میکنند و معامله گران اصلی سهام خصوصی خود را به عنوان سرمایه معامله گری مورد استفاده قرار می دهند. ",
            32: " معامله گران اصلی از وجوه ترکیبی به عنوان مارجین برای انجام معاملات بزرگتر استفاده می کنند که به آنها امکان کسب درآمد بیشتری را میدهد",
            33: " تنها ",
            34: " مخاطرات سرمایه شخصی معامله گر. ™Noble Sky سرمایه ی سرمایه گذاران', از هر نوع که باشد', را ضمانت میکند.",
            35: " بعد از تکمیل چرخه ی معامله گری', ™Noble Sky بر اساس روش توزیع محصولات استقلال مالی سودها را پرداخت میکند.به معنای واقعی حتی زمانیکه در حال استراحت و خواب هستید هم کسب درآمد میکنید",
            36: " بسیار ساده",
            37: " سرمایه گذاری بدون ریسک در ™Noble Sky ",
            38: " بازپرداخت های ثابت ",
            39: " آرامش خیال ",
            40: " % بازده سرمایه گذاری ثابت ",
            41: " بدون از دست دادن سرمایه ",
            42: " % تضمین شده ی بازپرداخت بر اساس میزان سرمایه ",
            43: " بدون توجه به روند بازار ",
            44: " تقسیم سود ",
            45: " پتانسیل های نامحدود ",
            46: " % بازپرداخت ثابت از کل سود ",
            47: " بدون از دست دادن سرمایه ",
            48: " جوایز بیشتر ",
            49: " پتانسیل نامحدود درآمدی ",
            50: " مشاهده ی محصولات ",
            51: " سوالات متداول ",
            52: " سرمایه گذاری بدون ریسک چه مقدار هزینه برای من خواهد داشت؟ ",
            53: " ™Noble Sky هزینه ی مازاد در استفاده از سرمایه گذاری بدون ریسک ندارد ",
            54: " حداقل میزان سپرده ی مورد نیاز برای ورود به سرمایه گذاری بدون ریسک چه مقدار میباشد؟ ",
            55: " برای خرید سرمایه گذاری بدون ریسک حداقل 100 دلار آمریکا نیاز است ",
            56: " بعد از اتمام دوره ی معاملاتی چه مقدار طول میکشد تا وجه به حساب من منتقل شود؟ ",
            57: " پس از اتمام دوره معاملاتی', صندوق بطور خودکار بسته شده و مبالغ سود طی 1 روز کاری پرداخت میشود ",
            58: " آیا احتمال از دست رفتن سرمایه وجود دارد؟ ",
            59: " نخیر امکان ندارد. از اصل سرمایه تنها برای باز کردن معاملات بزرگتر به عنوان مارجین استفاده میشود و در صورتی که مانده ی منفی معاملات به سطحی پایین تر از اصل سرمایه برسد', صندوق بطور خودکار بسته میشود ",
            60: " آیا امکان دریافت مبلغی بیشتر از درصد ثابت بازپرداخت وجود دارد؟ ",
            61: " بله امکان دارد. تقسیم سود محصولات به سرمایه گذاران امکان دریافت درصدی از سود کلی علاوه بر بازپرداخت ثابت میدهد ",
            62: " صفحه ی محصولات"
          }
        },
        head:['金融产品','Financial Products','Finansal Ürünler','المنتجات المالية','محصولات مالی'],
        financialProducts: {
          loading: false,
          pageSize: 8,
          pageIndex: 1,
          total: 0,
          type: 3,
          tipEndTimer: null,
          data: [],
          profitType: {
            0: '固定年利率(年化)',
            1: '固定年利率(年化)',
          },
          details: {
            dialogFlag: false,
            title: '--',
            month: '',
            info: {},
            introduction: ''
          },

          buy: {
            dialogFlag: false,
            submitStateFlag: false,
            fId: '--',
            info: {},
            amount: '',
            couponsAmount: '',
            system: '',
            systemGroup: [],
            tip1: false,
            tip2: false,
            tip3: false,
            tip4: false,
            tip6: false,
            tip7: false,
            tip8: false
          }
        },
        productsRecords: {
          tabIndex: 0,
          orderRecords: [],
          flows: [],
          tradHistory: [],
          pageIndex: 1,
          pageSize: 5,
          total: 0
        },


      };
    },
    metaInfo() {return {
      // 

      title: this.head[this.curLanguage-1]+'-NOBLE SKY',
      }
    },
    created() {



      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');

      this.curCoinType = !!storeCoinType ? storeCoinType : this.$api.defaultCoinType;
      this.curLanguage = !!storeLanguage ? storeLanguage : this.$api.defaultLanguage



      this.isLogin = this.util.isLogin();

      if (!!this.isLogin) {
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
        // this.getUserInfo();
      }


      // this.getSystemTradMode()

      // this.getUserAsset()
      // this.getCoinList();
      // this.getUserOrder();
      // this.getUserOrder2();
      // this.settingAPIDataLanguage();
      // this.getcurrency()

     // this.getFinancialProducts();

    },

    mounted() {

      let element = document.querySelectorAll(".panel-heading");



      for (let i = 0; i < element.length; i++) {

        (function (m) {

          let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

          panel.classList.add('showFlag')

          element[m].addEventListener('click', function () {


            this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
            this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

            panel.classList.toggle('showFlag')


          })


        })(i)



      }


      document.documentElement.scrollTop = 0


    },



    components: {
      pageHeader,
      pageFooter
    },


    methods: {
      changeLanguage(val){
       this.curLanguage = val;
      },

      hideMenu() {
        this.$refs.pageHead.hideMenu();
      }
  
    }


  };
</script>




<style>
  #introFilters{padding-bottom: 1%}
  #seesawOverlay{padding-top: 0}
  #productsCardsTitle{margin: 0 auto;
                      width: 100%;
                      max-width: 1200px;
                      display: flex;
                      text-align: center;}
  #productsCardsTitle h1{width: 100%;text-align: center;}
  #productsCardsTitle{width: 100%}
  #productsCardsRowContainer{width: 100%;display: flex;}
  #cardsRow{display: flex;}
  #prodCard{width: 100%;display: grid;
padding: 0% 11%;}
  @import 'https://fonts.gstatic.com';
  @import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto&display=swap';
  @import 'https://fonts.googleapis.com/icon?family=Material+Icons';
</style>

// <link rel="preconnect" href="https://fonts.gstatic.com">
// <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto&display=swap" rel="stylesheet">
// <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
