<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" v-bind:class="{rightToLeft:(curLanguage==4||curLanguage==5)}">
          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1>{{language[curLanguage][1]}}</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">{{language[curLanguage][1]}}</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>{{language[curLanguage][2]}}</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container hidden-xs">
            <h2 class="top80">{{language[curLanguage][3]}}</h2>
            <div class="row text-center top50">
              <div class="feature-item5">
                <i class="tfxfont3 xmChart-24h fs100 red"></i>
                <p>{{language[curLanguage][4]}}</p>
              </div>
              <div class="feature-item5">
                <i class="tfxfont3 xmCalendar fs100 red"></i>
                <p>{{language[curLanguage][5]}}</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmClock fs100 red"></i>
                <p>{{language[curLanguage][6]}}</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p>{{language[curLanguage][7]}}</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmChart-24h fs100 red"></i>
                <p>{{language[curLanguage][8]}}</p>
              </div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <br>{{language[curLanguage][9]}}</div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">{{language[curLanguage][10]}}</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row">
              <div class="col-md-12">
                <h2>{{language[curLanguage][11]}}</h2>
                <p>{{language[curLanguage][12]}}</p>
                <h2 class="top50">{{language[curLanguage][13]}}</h2>
                <p>{{language[curLanguage][14]}}</p>
                <p>{{language[curLanguage][15]}}</p>
              </div>
              <div class="col-md-12">
                <h2 class="top50">{{language[curLanguage][16]}}</h2>
                <p>{{language[curLanguage][17]}}</p>
                <p>{{language[curLanguage][18]}}
                  <a href="#/forex-trading">{{language[curLanguage][19]}}</a>{{language[curLanguage][20]}}</p>
                <p>{{language[curLanguage][21]}}</p>
              </div>
              <div class="col-md-12">
                <h2 class="top50">{{language[curLanguage][22]}}</h2>
                <p>{{language[curLanguage][23]}}</p>
                <p>{{language[curLanguage][24]}}</p>
                <p>{{language[curLanguage][25]}}</p>
                <p>{{language[curLanguage][26]}}</p>
                <p>{{language[curLanguage][27]}}</p>
              </div>
              <div class="col-md-12">
                <h2 class="top50">{{language[curLanguage][287]}}</h2>
                <p>{{language[curLanguage][29]}}</p>
                <p>{{language[curLanguage][30]}}</p>
                <p>{{language[curLanguage][31]}}</p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>
        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {languageCode} from '../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false,
        language:{
            1:{
                1:'交易时间',
                2:'联系我们',
                3:'我们提供',
                4:'全天24小时在线交易',
                5:'星期日22:05 GMT至 星期五21:50 GMT',
                6:'实时市场信息',
                7:'最新金融新闻',
                8:'24/5客服支持',
                9:'在Noble Sky™交易外汇，贵金属和能源。',
                10:'建立账户',
                11:'外汇市场开放时间',
                12:'市场从不停止它的步伐。Noble Sky™的交易也是。一个外汇市场关闭后，另一个又会开始。因此客户可以享受到24/5循环交易，纽约交易时间是13:00 – 22:00 GMT; 悉尼交易时间是22:00 GMT; 东京交易开始于00:00 ，结束于9:00 am GMT;伦敦交易时间开始于 8:00，结束于 17:00 GMT。这使得全世界的交易者以及所有大洲的中央银行的参股者可以进行24小时（全天）交易。',
                13:'更多交易时间，更多可能性',
                14:'外汇市场全天24小时开放，知道最活跃的交易时段是很重要的。',
                15:'例如，如果我们选择一个交易量少的时段，美国东部标准时间17:00 – 19:00 EST也就是在纽约关闭之后、东京开门之前。这时候只有悉尼开始交易，于是这个时间段的点差跟伦敦、美国和东京相比较，点差相对于高些。交易机会少也就意味着金融机遇少。如果您想交易EUR/USD、GBP/USD或是USD/CHF等货币对，最合适的时段为上午8:00 – 中午12:00，这是欧洲和美国最活跃的交易时段。',
                16:'警觉性和机遇性',
                17:'另一个需要各位投资者警惕的是政府报告和官方紧急新闻发布的时间。虽然每个政府都会提前公布新闻发布的确切时间,但由于时差问题，每个国家的发布时间也就不同。',
                18:'所以找出不同国家的发布时间是很有价值的。大多数时候，它与',
                19:'外汇交易',
                20:'最激烈的时间一致。所以这对于投资者有着很大的获利机会，但是同时也有可能事与愿违。',
                21:'作为交易者，您有两个选择：您可以参与外汇交易激烈的时段从高浮动中获取更高的利润；或者在这些时间段内决定暂停交易，以保守的方式进行外汇交易。无论您选择哪一个，您应该未雨绸缪，以防新闻发布时的价钱突变导致您亏损。',
                22:'交易时间',
                23:'对日间交易者来说，交易效率最高的时间是伦敦市场开始08:00 GMT 到美国市场结束 22:00 GMT. 交易的高峰时间是美国和伦敦市场的重叠交易时间13:00 GMT – 4 pm GMT。一天的几个主要交易市场是伦敦、美国和亚洲市场。',
                24:'以下是交易时间的简要概述，可以帮助您充分利用市场：',
                25:'伦敦高峰交易时间 –8:00 GMT至17:00 GMT;欧元、英镑和美元是交易最频繁的货币；',
                26:'美国高峰交易时间 – 是 13:00 GMT 至 10 pm GMT; 美元、欧元、英镑、澳元和日元是交易最频繁的货币；',
                27:'亚洲高峰交易时间 –从星期日下午10 pm GMT 至欧洲交易开始，大约 9:00 GMT左右; 不太适合日间交易。',
                28:'在线交易',
                29:'Noble Sky™ 的交易时间是 星期日 22:05 GMT（格林威治标准时间) 至星期五 21:50 GMT（格林威治标准时间。当我们的交易后台关闭后，交易平台不再执行交易，数据只能观看。',
                30:'对于任何咨询，技术上的困难，或者紧急支持，欢迎随时通过电子邮件或即时聊天联系我们24小时在线客服。如果您身边没有电脑，请牢记你的账户登录信息，以便我们的团队解决您订单的问题。',
                31:'在现有仓位上平仓、设置盈利或止损订单时，您同样需要提供单号给我们。然后，您只需说明货币对和交易手数。(比如：我想要10手EUR/USD的报价)。请记住：如果密码验证失败或您不希望执行密码验证，那么我们不能执行您的电话订单。'
            },
            2:{
                1:'Transaction Hours',
                2:'Contact Us',
                3:'We provide',
                4:'24 hours a day online transactions',
                5:'Sunday 22:05 GMT to Friday 21:50 GMT',
                6:'Real-time market information',
                7:'Latest financial news',
                8:'24/5 customer service support',
                9:'Trade forex, Individual stocks, Commodities, Precious metals, Energies and Equity indices at Noble Sky™',
                10:'OPEN AN ACCOUNT',
                11:'Foreign exchange market opening hours',
                12:'The market never stops during the weekdays, nor does the transactions on Noble Sky™. If one foreign exchange market closes, the other starts to work again. Therefore, Clients can enjoy trading 24/5. New York trading time is 13:00 – 22:00 GMT; Sydney trading time is 22:00 GMT; Tokyo trading starts at 00:00 and ends at 9:00 am GMT; London trading time starts at 8:00 and ends at 17:00 GMT. This allows traders from all over the world and shareholders of central banks on all continents to trade 24 hours a day (all day).',
                13:'More transaction time, more possibilities',
                14:'The foreign exchange market is open 24 hours a day and it is important to know the most active trading hours.',
                15:'For example, if we choose a time slot with low trading volume, US Eastern Standard Time 17:00 – 19:00 EST is after New York is closed and before Tokyo is opened. At this time, only Sydney started trading, so the spreads during this time period are relatively high compared with London, the United States and Tokyo. Fewer trading opportunities means less financial opportunities. If you want to trade currency pairs such as EUR/USD, GBP/USD or USD/CHF, the most suitable time period is 8:00 – 12:00 noon, which is the most active trading time in Europe and the United States.',
                16:'Alertness and opportunity',
                17:'Another thing that investors need to be wary of is the timing of government reports and official emergency news releases. Although each government will announce the exact time of the news release in advance, due to the time difference, the release time of each country is also different.',
                18:'It is thus worth finding out about the economic indicators published in the different major countries, as these coincide with the most active moments of',
                19:'forex trading',
                20:'.Such increased activity means bigger opportunities in currency prices, and sometimes orders are executed at prices that differ from those you expected.',
                21:'As a trader, you have two options: you can participate in the intense period of foreign exchange transactions to obtain higher profits from high fluctuations; or you can decide to suspend trading during these time periods and conservatively conduct foreign exchange transactions. No matter which one you choose, you should plan ahead to prevent sudden changes in the price at the time of the news release and cause you to lose money.',
                22:'Transaction Hour',
                23:'For day traders, the most efficient trading time is from the beginning of the London market at 08:00 GMT to the end of the US market at 22:00 GMT. The peak trading time is the overlap of the US and London markets at 13:00 GMT – 4 pm GMT . The main trading markets of the day are London, the US and Asian markets.',
                24:'The following is a brief overview of trading hours to help you make the most of the market:',
                25:'London peak trading hours – 8:00 GMT to 17:00 GMT; Euro, British pound and US dollar are the most frequently traded currencies;',
                26:'U.S. peak trading hours-13:00 GMT to 10 pm GMT; US dollar, euro, British pound, Australian dollar and Japanese yen are the most frequently traded currencies;',
                27:'Peak Asian trading hours-from 22:00 GMT on Sunday to the start of European trading, around 9:00 GMT; not suitable for day trading.',
                28:'Online Trading',
                29:'Noble Sky™’s trading hours are from Sunday 22:05 GMT (Greenwich Mean Time) to Friday 21:50 GMT (Greenwich Mean Time. When our trading background is closed, the trading platform will no longer perform transactions, and the data can only be viewed .',
                30:"For any consultation, technical difficulties, or emergency support, please feel free to contact our 24-hour online customer service via email or live chat. If you don't have a computer by your side, please keep your account login information in mind so that our team can solve your order problem.",
                31:'When closing an existing position, setting a profit or stop loss order, you also need to provide us with the order number. Then, you only need to specify the currency pair and the number of transactions. (For example: I want a quote for 10 lots of EUR/USD). Please remember: If the password verification fails or you do not want to perform password verification, then we cannot execute your phone order.'
            },
            3:{
                1:'işlem saati',
                2:'Bize Ulaşın',
                3:'Biz sağlıyoruz',
                4:'Günde 24 saat çevrimiçi işlemler',
                5:'Pazar 22:05 GMT - Cuma 21:50 GMT',
                6:'Gerçek zamanlı piyasa bilgileri',
                7:'En son finans haberleri',
                8:'24/5 Müşteri desteği',
                9:"Noble Sky™'de döviz, bireysel hisse senetleri, emtialar, değerli metaller, enerji ve hisse senedi endeksleri ticareti yapın.",
                10:'Hesap oluştur',
                11:'Döviz piyasası açılış saatleri',
                12:"Piyasa hızını asla durdurmaz. Noble Sky™ işlemi de öyle. Bir döviz piyasası kapandıktan sonra diğeri yeniden başlayacaktır. Bu nedenle, müşteriler 24/5 döngüsel işlemin keyfini çıkarabilir. New York işlem saati 13:00 - 22:00 GMT'dir; Sydney işlem saati 22:00 GMT'dir; Tokyo ticareti 00: 00'da başlar ve 9: 00'da biter GMT am; Londra ticaret saati 08: 00'da başlar ve 17:00 GMT'de biter. Bu, dünyanın her yerinden tüccarların ve tüm kıtalardaki merkez bankalarının hissedarlarının günde 24 saat işlem yapmasına olanak tanır.",
                13:'Daha fazla işlem süresi, daha fazla olanak',
                14:'Döviz piyasası 24 saat açıktır ve en aktif işlem saatlerini bilmek önemlidir.',
                15:"Örneğin, düşük işlem hacmine sahip bir zaman aralığı seçersek, ABD Doğu Standart Saati 17:00 - 19:00 EST, New York kapatıldıktan sonra ve Tokyo açılmadan öncedir. Şu anda sadece Sydney ticarete başladı, bu nedenle bu dönemdeki spreadler Londra, Amerika Birleşik Devletleri ve Tokyo ile karşılaştırıldığında nispeten daha yüksek. Daha az ticaret fırsatı, daha az finansal fırsat demektir. EUR / USD, GBP / USD veya USD / CHF gibi döviz çiftlerinde işlem yapmak istiyorsanız, en uygun zaman aralığı Avrupa ve Amerika'daki en aktif işlem saati olan 08:00 - 12:00 arasındadır.",
                16:'Uyanıklık ve fırsat',
                17:'Yatırımcıların dikkat etmesi gereken bir diğer şey de hükümet raporlarının ve resmi acil durum haber bültenlerinin zamanlamasıdır. Her hükümet haberin kesin olarak yayınlanma zamanını önceden ilan edecek olsa da, zaman farkı nedeniyle her ülkenin yayınlanma süresi de farklıdır.',
                18:'Bu nedenle, farklı ülkelerin çıkış zamanını öğrenmek değerlidir. Çoğu zaman birlikte',
                19:'Döviz işlemleri',
                20:'En yoğun zaman tutarlıdır. Yani bunun yatırımcılar için büyük bir kâr fırsatı var ama aynı zamanda geri tepebilir.',
                21:'Bir tüccar olarak iki seçeneğiniz var: Yüksek dalgalanmalardan daha yüksek kar elde etmek için yoğun döviz işlemlerine katılabilir veya bu dönemlerde alım satım işlemlerini durdurmaya karar verebilir ve ihtiyatlı bir şekilde döviz işlemleri yapabilirsiniz. Hangisini seçerseniz seçin, haberin yayınlandığı anda fiyatlarda ani değişikliklerin olmasını önlemek ve kaybetmenize neden olmak için önceden plan yapmalısınız.',
                22:'işlem saati',
                23:"Günlük tüccarlar için en verimli işlem zamanı, Londra piyasasının 08:00 GMT'de başladığı ve ABD piyasasında 22:00 GMT'de bittiği zamandır. . Günün ana ticaret piyasaları Londra, ABD ve Asya piyasalarıdır.",
                24:'Aşağıda, piyasadan en iyi şekilde yararlanmanıza yardımcı olacak işlem saatlerine kısa bir genel bakış yer almaktadır.：',
                25:"Londra'nın en yüksek işlem saatleri - GMT 8 - 17:00 GMT; Euro, İngiliz sterlini ve ABD doları en sık işlem gören para birimleridir；",
                26:'ABD en yüksek işlem saatleri - GMT 13:00 - 22:00 GMT; ABD doları, euro, İngiliz sterlini, Avustralya doları ve Japon yeni en sık işlem gören para birimleridir；',
                27:"Asya'da en yoğun işlem saatleri - Pazar öğleden sonra 22.00 GMT'den Avrupa işlemlerinin başlangıcına kadar, 09.00 GMT civarında; günlük işlem için uygun değil。",
                28:'Online Ticaret',
                29:'Noble Sky™ İşlem saatleri Pazar 22:05 GMT (Greenwich Ortalama Saati) ile Cuma 21:50 GMT (Greenwich Ortalama Saati) arasındadır. Ticaret geçmişimiz kapalı olduğunda, Ticaret platformu İşlem artık yürütülmez ve veriler yalnızca görüntülenebilir.',
                30:'Herhangi bir danışma, teknik zorluk veya acil destek için lütfen 24 saat çevrimiçi müşteri hizmetlerimizle e-posta veya canlı sohbet yoluyla iletişime geçmekten çekinmeyin. Yanınızda bir bilgisayarınız yoksa ekibimizin sipariş sorununuzu çözebilmesi için lütfen hesap giriş bilgilerinizi hatırlayın.',
                31:'Mevcut bir pozisyonu kapatırken, kar veya zararı durdur emri verirken, bize sipariş numarasını da vermeniz gerekir. Ardından, yalnızca döviz çiftini ve işlem sayısını belirtmeniz gerekir. (Örneğin: 10 lot EUR / USD için fiyat teklifi istiyorum). Lütfen unutmayın: Parola doğrulama başarısız olursa veya parola doğrulamasını yapmak istemezseniz, telefon siparişinizi gerçekleştiremeyiz.'
            },
            4:{
                1:'ساعات التداول',
                2:'اتصل بنا',
                3:'نحن نقدم',
                4:'24 ساعة في اليوم للتداول عبر الإنترنت',
                5:'من الأحد 22:05 بتوقيت جرينتش إلى الجمعة 21:50 بتوقيت جرينتش',
                6:'معلومات السوق مباشرة',
                7:'آخر الأخبار المالية',
                8:'24/5 خدمة عملاء',
                9:'تداول العملات الأجنبية والأسهم الفردية والسلع والمعادن الثمينة والطاقات ومؤشرات الأسهم في ™Noble Sky',
                10:'افتح حساب',
                11:'ساعات عمل سوق الصرف الأجنبي',
                12:'لا يتوقف السوق أبدًا خلال أيام الأسبوع ، ولا المداولات على ™Noble Sky. إذا تم إغلاق أحد أسواق الصرف الأجنبي ، يبدأ الآخر في العمل مرة أخرى. لذلك ، يمكن للعملاء الاستمتاع بالتداول 24/5. وقت التداول في نيويورك هو 13:00 - 22:00 بتوقيت جرينتش ؛ وقت التداول في سيدني هو 22:00 بتوقيت جرينتش. يبدأ تداول طوكيو في الساعة 00:00 وينتهي الساعة 9:00 بتوقيت جرينتش ؛ يبدأ وقت التداول في لندن في الساعة 8:00 وينتهي الساعة17:00 بتوقيت جرينتش. يتيح ذلك للمتداولين من جميع أنحاء العالم ومساهمي البنوك المركزية في جميع القارات التداول على مدار 24 ساعة في اليوم (طوال اليوم).',
                13:'المزيد من وقت المداولة ، المزيد من الاحتمالات',
                14:'يفتح سوق الصرف الأجنبي على مدار 24 ساعة في اليوم ومن المهم معرفة ساعات التداول الأكثر نشاطًا.',
                15:'على سبيل المثال ، إذا اخترنا فترة زمنية ذات حجم تداول منخفض ، فإن التوقيت الشرقي للولايات المتحدة من 17:00 إلى 19:00 بتوقيت شرق الولايات المتحدة يكون بعد إغلاق نيويورك وقبل فتح طوكيو. في هذا الوقت ، بدأت سيدني فقط التداول ، وبالتالي فإن السبريد خلال هذه الفترة الزمنية مرتفع نسبيًا مقارنة بلندن والولايات المتحدة وطوكيو. فرص تداول أقل تعني فرصًا مالية أقل. إذا كنت ترغب في تداول أزواج العملات مثل EUR / USD أو GBP / USD أو USD / CHF ، فإن الفترة الزمنية الأنسب هي 8:00 - 12:00 ، وهي أكثر أوقات التداول نشاطًا في أوروبا والولايات المتحدة .',
                16:'الإحتراس والفرص',
                17:'الشيء الآخر الذي يحتاج المستثمرون إلى الحذر منه هو توقيت التقارير الحكومية والبيانات الإخبارية الرسمية الطارئة. على الرغم من أن كل حكومة ستعلن عن الوقت المحدد للبيان الإخباري مقدمًا ، نظرًا لاختلاف التوقيت ، يختلف وقت الإصدار لكل دولة أيضًا.',
                18:'ومن ثم يجدر التعرف على المؤشرات الاقتصادية المنشورة في الدول الكبرى المختلفة ، حيث تتزامن هذه المؤشرات مع أوقات',
                19:'تداول الفوركس',
                20:' الأكثر نشاطًا ، النشاط المتزايد يعني فرصًا أكبر في أسعار العملات ، وأحيانًا يتم تنفيذ عمليات الشراء بأسعار تختلف عن ما كنت تتوقع.',
                21:'كمتداول ، لديك خياران: يمكنك المشاركة في فترة مكثفة من معاملات الصرف الأجنبي للحصول على أرباح أعلى من التقلبات العالية ؛ أو يمكنك أن تقرر تعليق التداول خلال هذه الفترات الزمنية وإجراء معاملات الصرف الأجنبي بحذر. بغض النظر عن ما تختار ، يجب أن تخطط مسبقًا لمنع حدوث تغييرات مفاجئة في السعر وقت صدور البيان الإخباري وتتسبب في خسارة المال.',
                22:'ساعة الصفقة',
                23:'بالنسبة للمتداولين يومياً ، يكون وقت التداول الأكثر فاعلية هو من بداية سوق لندن في الساعة 08:00 بتوقيت جرينتش وحتى نهاية السوق الأمريكية في الساعة 22:00 بتوقيت جرينتش. وقت ذروة التداول هو تداخل أسواق الولايات المتحدة ولندن في الساعة 13:00 بتوقيت جرينتش - 16:00 بتوقيت جرينتش. أسواق التداول الرئيسية لليوم هي لندن والولايات المتحدة والأسواق الآسيوية.',
                24:'فيما يلي لمحة موجزة عن ساعات التداول لمساعدتك على تحقيق أقصى استفادة من السوق:',
                25:'ساعات ذروة التداول في لندن - من 8:00 إلى 17:00 بتوقيت جرينتش ؛ اليورو والجنيه الإسترليني والدولار الأمريكي هي العملات الأكثر تداولًا ؛',
                26:'ساعات الذروة في الولايات المتحدة - 13:00 بتوقيت جرينتش إلى 10 مساءً بتوقيت جرينتش ؛ العملات الأكثر تداولًا هي الدولار الأمريكي واليورو والجنيه الإسترليني والدولار الأسترالي والين الياباني ؛',
                27:'ذروة ساعات التداول الآسيوية - من الساعة 22:00 بتوقيت جرينتش يوم الأحد إلى بداية التداول الأوروبي ، حوالي الساعة 9:00 بتوقيت جرينتش ؛ غير مناسب للتداول اليومي.',
                28:'التداول عبر الانترنت',
                29:'ساعات التداول في ™Noble Sky هي من الأحد 22:05 بتوقيت جرينتش إلى الجمعة 21:50 بتوقيت جرينتش. عندما يتم إغلاق خلفية التداول الخاصة بنا ، لن تقوم منصة التداول بعدها بإجراء المداولات ، ويمكنك مشاهدة البيانات فقط .',
                30:'لأي استشارة أو صعوبات فنية أو دعم طارئ ، لا تتردد في الاتصال بخدمة العملاء عبر الإنترنت على مدار 24 ساعة عبر البريد الإلكتروني أو التواصل خلال موقعنا. إذا لم يكن لديك جهاز كمبيوتر بجانبك ، فالرجاء الإحتفاظ بمعلومات تسجيل الدخول إلى حسابك الخاضة بك حتى يتمكن فريقنا من حل مشكلة طلبك.',
                31:'عند إغلاق تداول موجود ، أو تحديد ربح أو أمر إيقاف خسارة ، تحتاج أيضًا إلى تزويدنا برقم عملية الشراء. بعد ذلك ، ما عليك سوى تحديد زوج العملات وعدد المداولات. (على سبيل المثال: أريد تسعير 10 عقود يورو / دولار أمريكي). يرجى تذكر: إذا فشل التحقق من كلمة المرور أو إذا كنت لا تريد إجراء التحقق من كلمة المرور ، فلا يمكننا تنفيذ طلب الهاتف الخاص بك.'
            },
            5:{
                1: "ساعت معامله" ,
                2: "با ما تماس بگیرید" ,
                3: "ما فراهم می کنیم" ,
                4: "24 ساعت در روز معاملات آنلاین" ,
                5: 'یکشنبه 22:05 به وقت گرینویچ تا جمعه 21:50 به وقت گرینویچ',
                6: "اطلاعات بازار در زمان واقعی" ,
                7: "آخرین اخبار مالی" ,
                8: 'پشتیبانی 24/5 از خدمات مشتری' ,
                9: "فارکس تجارت ، سهام انفرادی ، کالاها ، فلزات گرانبها ، انرژی و شاخص های سهام در ™Noble Sky ™" ,
                10: "یک حساب باز کنید" ,
                11: "ساعت کار بازار ارز" ,
                12: "بازار هرگز در طول روزهای هفته متوقف نمی شود ، و همچنین معاملات در آسمان نجیب does. اگر یک بازار ارز بسته شود ، بازار دیگر دوباره شروع به کار می کند. بنابراین ، مشتریان می توانند از معاملات 24/5 لذت ببرند. زمان معاملات نیویورک 13:00 - 22:00 به وقت گرینویچ است. زمان تجارت سیدنی 22:00 به وقت گرینویچ است. معاملات توکیو از ساعت 00:00 شروع و در 9:00 صبح به وقت گرینویچ به پایان می رسد. زمان معاملات لندن از ساعت 8:00 شروع و در ساعت 17:00 به وقت گرینویچ به پایان می رسد. این اجازه می دهد تا معامله گران از سراسر جهان و سهامداران بانک های مرکزی در تمام قاره ها 24 ساعت شبانه روز (کل روز) تجارت کنند. ",
                13: "زمان معامله بیشتر ، امکانات بیشتر" ,
                14: "بازار ارز 24 ساعته باز است و مهم است که ساعتهای فعال تجاری را بدانید." ,
                15: "به عنوان مثال ، اگر شکاف زمانی با حجم معاملات کم را انتخاب کنیم ، زمان استاندارد شرقی ایالات متحده از ساعت 17:00 - 19:00 بعد از بسته شدن نیویورک و قبل از باز شدن توکیو ، زمان EST است. در این زمان ، فقط سیدنی تجارت را آغاز كرد ، بنابراین اسپرد در این بازه زمانی نسبت به لندن ، ایالات متحده و توكیو نسبتاً زیاد است. فرصت های معاملاتی کمتر به معنای فرصت های مالی کمتر است. اگر می خواهید جفت ارزی مانند EUR / USD ، GBP / USD یا USD / CHF را معامله کنید ، مناسب ترین بازه زمانی 8:00 - 12:00 ظهر است که فعال ترین زمان تجارت در اروپا و ایالات متحده است. ",
                16: "هشدار و فرصت" ,
                17: "مورد دیگری که سرمایه گذاران باید از آن مراقب باشند ، زمان گزارش های دولت و انتشار اخبار رسمی اضطراری است. اگرچه هر دولت زمان دقیق انتشار خبر را از قبل اعلام می کند ، اما به دلیل اختلاف زمان ، زمان انتشار هر کشور نیز متفاوت است. ",
                18: "بنابراین لازم است از شاخص های اقتصادی منتشر شده در کشورهای مختلف مختلف مطلع شوید ، زیرا اینها با فعال ترین لحظات همزمان هستند" ,
                19: 'معاملات فارکس' ,
                20: ". چنین فعالیتی افزایش یافته به معنای فرصت های بیشتر در قیمت ارز است و گاهی اوقات سفارشات با قیمت هایی متفاوت از انتظار شما انجام می شوند.",
                21: 'به عنوان یک معامله گر ، دو گزینه پیش رو دارید: شما می توانید در دوره شدید معاملات ارزی شرکت کنید تا از نوسانات بالا سود بیشتری کسب کنید. یا می توانید تصمیم بگیرید که در این بازه های زمانی معاملات را متوقف کنید و معاملات محافظه کارانه ارزی را انجام دهید. مهم نیست که کدام یک را انتخاب کنید ، باید از قبل برنامه ریزی کنید تا از تغییر ناگهانی قیمت در زمان انتشار خبر جلوگیری کرده و باعث از دست دادن پول شوید. ',
                22: "ساعت معامله" ,
                23: "برای معامله گران روز ، کارآمدترین زمان معامله از ابتدای بازار لندن در 08:00 به وقت گرینویچ تا پایان بازار ایالات متحده در 22:00 به وقت گرینویچ است. زمان اوج معاملات همپوشانی بازارهای ایالات متحده و لندن در ساعت 13:00 به وقت گرینویچ - 4 بعد از ظهر به وقت گرینویچ است. بازارهای اصلی معاملات روز بازارهای لندن ، ایالات متحده و آسیا است",
                24: "در زیر خلاصه ای از ساعات معاملات برای کمک به شما در استفاده بیشتر از بازار ارائه شده است:",
                25: 'اوج ساعت معاملات لندن - 8:00 به وقت گرینویچ تا 17:00 به وقت گرینویچ ؛ یورو ، پوند انگلیس و دلار آمریکا بیشترین ارزهای معامله شده هستند. ',
                26: 'ایالات متحده اوج معاملات ساعت -13: 00 به وقت گرینویچ تا 10 شب به وقت گرینویچ ؛ دلار آمریکا ، یورو ، پوند انگلیس ، دلار استرالیا و ین ژاپن بیشترین ارزهای معامله شده هستند. ',
                27: 'اوج معاملات ساعت آسیا - از ساعت 22:00 به وقت گرینویچ روز یکشنبه تا شروع معاملات اروپا ، حدود ساعت 9:00 به وقت گرینویچ ؛ برای تجارت روزانه مناسب نیست. ',
                28: "تجارت آنلاین" ,
                29: "ساعت معاملات ™Noble Sky از یکشنبه 22:05 به وقت گرینویچ (به وقت گرینویچ) تا جمعه 21:50 به وقت گرینویچ (به وقت متوسط گرینویچ است. وقتی زمینه معاملات ما بسته شود ، سیستم عامل دیگر معاملات را انجام نمی دهد و داده ها می توانند فقط قابل مشاهده است. ",
                30: "در ذهن داشته باشید تا تیم ما بتواند مشکل سفارش شما را حل کند. ",
                31: 'هنگام بستن موقعیت موجود ، تعیین سود یا توقف ضرر ، شما همچنین باید شماره سفارش را به ما ارائه دهید. سپس ، فقط باید جفت ارزی و تعداد معاملات را مشخص کنید. (به عنوان مثال: من می خواهم برای 10 لات یورو / دلار پیشنهاد بدهم). لطفاً بخاطر بسپارید: اگر تأیید رمز ورود ناموفق بود یا نمی خواهید تأیید رمز ورود را انجام دهید ، بنابراین نمی توانیم سفارش تلفنی شما را اجرا کنیم. '
            },
        },
         head:['交易时间','Transaction Hours','işlem Saati','ساعات التداول','ساعت های معامله'],






    };
  },
   metaInfo() {return {
      // 

      title: this.head[this.curLanguage-1]+'-NOBLE SKY',
      }
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

  //  if(this.curLanguage!=2){
  //      let pName = this.$route.name.substring(0,this.$route.name.length)
  //      let pNameStr = pName + languageCode[this.curLanguage]
  //      this.$router.push({name:pNameStr});
  //  }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       this.curLanguage = val;

    //    console.log(this.curLanguage)
    //    let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
    //    let pNameStr = pName + languageCode[val]
    //    this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }



  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap>footer{height: 300px;background-color: #333;text-align: center;}
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

  p {
    margin-bottom: 2em;
  }
  .rightToLeft{
    direction: rtl!important;
}
</style>
