<template>
  <div class="wrap" @click="hideMenu">
    <pageHeader
      @userLogout="userLogout"
      ref="pageHead"
      :defaultCoinType="curCoinType"
      :defaultLanguage="curLanguage"
      @changeCoinType="changeCoinType"
      @changeLanguage="changeLanguage"
    />

    <div class="site-canvas">
    

      <div class="row" style="background: linear-gradient(90deg, rgb(39, 40, 51) 0%, rgb(29, 30, 43) 100%) 0% 0% repeat scroll rgba(0, 0, 0, 0); color: white">
     
        <div style="width:100%">
        <div class="row">
<section class="section analysis-info-page" style="background:linear-gradient(90deg, rgb(39, 40, 51) 0%, rgb(29, 30, 43) 100%) 0% 0% repeat scroll rgba(0, 0, 0, 0)">
    <div class="container row" style="">
        <h1 class="col-12" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}">{{language[curLanguage][1]}}</h1>
        
          <div class="col-6"> 
            <div class="content-block">
               <div class="text-block">
                <h2 v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}">{{language[curLanguage][2]}}</h2>
               
                <p v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}">{{language[curLanguage][3]}}</p>
            </div>
            <div class="group-success">
                <div class="group">
                    <h3 v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}" style="margin-top: 0px!important">{{language[curLanguage][4]}}</h3>
                    <a class="btn-show-right" href="#/register" rel="nofollow" target="blank"><div class="circle"><span class="icon arrow"></span></div><p class="button-text">{{language[curLanguage][5]}}</p></a>                </div>
            </div>
            <div class="btn-block mob-only">
                <a class="btn btn-red" href="#/register" rel="nofollow" target="blank">{{language[curLanguage][6]}}</a>            </div>

        </div>
        </div>
        <div class="col-6"> 
            <img class="art-img" src="../../static/images/art-analysis.png">
            </div>
          
    </div>
</section>
        </div>
        <div class="row">
          <section class="forex-analysis-block">
    <div class="container-fluid" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}">
        <h2>{{language[curLanguage][7]}}</h2>
        <p>{{language[curLanguage][8]}}</p>
        <img class="phone-app" src="../../static/images/analysis-img.png">
        <div class="analysis-download">
          <a class="iphone-block" href="javascript:void(0)"><img src="../../static/images/dowdload-appstore-btn.svg" style=" cursor: not-allowed;"></a>
          <a class="android-block" href="javascript:void(0)"><img src="../../static/images/dowdload-google-btn.svg" style=" cursor: not-allowed;"></a>
          <br />
          <small class="px-3 mx-1"><b>{{language[curLanguage][9]}}</b></small>
        </div>
      
    </div>
</section>
        </div>
        </div>
      </div>
      <div class="row" style="background-color: white; color: black" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}">
        <div style="width:100%">
          <div class="row">
            <ul class="nav nav-tabs row col-12 text-center"  id="myTab" role="tablist" >
              <li class="nav-item col-3">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  href="#home"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  >{{language[curLanguage][10]}}</a
                >
              </li>
              <li class="nav-item col-3">
                <a
                  class="nav-link"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#profile"
                  role="tab"
                  aria-controls="profile"
                  aria-selected="false"
                  >{{language[curLanguage][11]}}</a
                >
              </li>
              <li class="nav-item col-3">
                <a
                  class="nav-link"
                  id="contact-tab"
                  data-toggle="tab"
                  href="#contact"
                  role="tab"
                  aria-controls="contact"
                  aria-selected="false"
                  >{{language[curLanguage][12]}}</a
                >
              </li>
              <li class="nav-item col-3">
                <a
                  class="nav-link"
                  id="signal-tab"
                  data-toggle="tab"
                  href="#signal"
                  role="tab"
                  aria-controls="signal"
                  aria-selected="false"
                  >{{language[curLanguage][13]}}</a
                >
              </li>
            </ul>
            <div class="tab-content container text-center ltr" id="myTabContent">
              <div class="tab-pane fade show active col-md-12" id="home"  role="tabpanel" aria-labelledby="home-tab" >
                <div class="row text-center">
                  <div class="col-md-12 text-center" style="padding: 40px">
                    <h2>{{language[curLanguage][10]}}</h2>
                  </div>
                  <article class="col-12 blog-item">
                    <a class="modal-open-lg">
                      <span class="thumb-info thumb-info-centered-info">
                        <span class="thumb-info-wrapper">
                          <figure class="progressive">
                            <!--<iframe class="b_text" id="EurUsdIF" width="800" height="600" style="overflow:visible!important; border:none!important;" src="../../static/html/Analysis1.html" @load=""></iframe>-->

                            <iframe class="progressive__img progressive--is-loaded" width="1000" height="600" src="" target="_parent" alt=""></iframe>

                          </figure>

                        </span>
                      </span>
                    </a>
                    <div class="col-12">
                      <span id="ChartSummary"  style="font-size:16px; color:rgb(51,51,51)" class=" pt-2"></span>
                    </div> 
                  </article>
               
                </div>
              </div>
              <div class="tab-pane fade col-12"
                   id="profile"
                   role="tabpanel"
                   aria-labelledby="profile-tab">
                <div class="row text-center" style="padding: 40px">
                  <h2>{{language[curLanguage][11]}}</h2>
                </div>
                <div class="row">
                  <article class="col-6 blog-item">

                    <iframe class="b_text" id="EurUsdIF" width="450" height="480" style=" overflow:visible!important; border:none!important;" src="../../static/html/EURUSD-TA.html"></iframe>


                  </article>
                  <article class="col-6 blog-item">

                    <iframe class="b_text" id="EurUsdIF2" width="450" height="480" style=" overflow:visible!important; border:none!important;" src="../../static/html/GBPUSD-TA.html"></iframe>


                  </article>
                </div>
              </div>
              <div
                class="tab-pane fade col-md-12"
                id="contact"
                role="tabpanel"
                aria-labelledby="contact-tab"
              >
                <div class="row" style="padding: 40px">
                  <h2>{{language[curLanguage][12]}}</h2>
                </div>
                <article class="blog-item container">
                  <iframe class="b_text" id="EurUsdIF2"  style=" overflow:visible!important; border:none!important; width: 100%; height:550px" src="../../static/html/cross-rates.html"></iframe>
                </article>
              </div>
              <div  class="tab-pane fade col-md-12"  id="signal" role="tabpanel" aria-labelledby="signal-tab"  >
                <div id="w0-tab3" class="tab-pane active text-center">
                  <h2 style="padding-top: 40px">{{language[curLanguage][13]}}</h2>
                  <div class="alert alert-info" style="margin: 40px 0 10px 0; min-width:1000px">
                    {{language[curLanguage][14]}}
                    <span style="margin-top: 0">{{language[curLanguage][15]}}</span>
                  </div>
            
                  <div class="row">
    <div class="container">
      <h2>{{language[curLanguage][148]}}</h2>
      <div class="col-12" style="display:inline;color:#c5cbce">
        <table style="position: relative;margin:0 auto" id="calHeader">
          <thead>
            <tr style="background:#2a2e39">
              <th style="float:left">{{language[curLanguage][43]}}</th>
              <th>{{language[curLanguage][44]}}</th>
              <th>{{language[curLanguage][45]}}</th>
              <th>{{language[curLanguage][46]}}</th>
            </tr>
          </thead>
        </table>
        </div>
                  <div class="rowsy" style="overflow:hidden!important;">
                    
                        <div class="col-12" style="top:-50px;">
                          <div class="tradingview-widget-container">
                            <div class="tradingview-widget-container__widget"></div>
                            <div class="tradingview-widget-copyright">

                              <iframe src="../../static/html/HomeCal.html" id="homeCal" style="width:100%; height:50vh;" frameborder="0" v-if="!isLogin">
                              </iframe>
                              <iframe src="../../static/html/HomeCal2.html" id="homeCal" style="width:100%; height:50vh;" frameborder="0" v-if="isLogin">
                              </iframe>
                              <p v-if="!isLogin" ><small style="font-size:11px;color:#a6a6a6">{{language[curLanguage][41]}}</small></p>
                              <p v-if="isLogin" ><small style="font-size:11px;color:#a6a6a6">{{language[curLanguage][41]}}</small></p>
                            </div>

                          </div>
                         
                      
                        </div>
                        <div class="col-12">
                          <span style="font-size:16px; color:rgb(51,51,51)">{{language[curLanguage][42]}}</span>
                        </div>
                   
                      </div>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row col-md-12">
              <router-link
                to="/register"
                class="btn  btn-lg btn-primary center-block"
                style="
                    margin-top: 2rem;
                  padding: 0.55em 5em;
                  margin-bottom: 2rem;
                  font-size: 1.25em;
                  line-height: 1.5;
                  color: white;
                  border-radius: 0.3em;
                     background-color: rgb(22, 145, 75);
                     width:auto;
                "
              >
                {{language[curLanguage][16]}}</router-link
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="background: linear-gradient(90deg, rgb(39, 40, 51) 0%, rgb(29, 30, 43) 100%) 0% 0% repeat scroll rgba(0, 0, 0, 0); color: white" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}">
        <div class="container text-center third" style="padding: 40px">
          <div class="section-title" style="padding: 40px">
            <h2>{{language[curLanguage][17]}}</h2>
          </div>
          <div class="advantages-items">
            <div class="row">
              <div class="col-md-4">
                <div class="advantages__item">
                  <img
                    style="padding-bottom: 20"
                    src="../../static/images/claws_1.png"
                    alt="Unique analytical reviews and forecasts"
                  /><br /><b>{{language[curLanguage][18]}}</b
                  ><br /><br />
                  <p>
                    {{language[curLanguage][19]}}
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="advantages__item">
                    <img
                    src="../../static/images/claws_2.png"
                    alt="All kinds of analysis"
                    /><br /><br /><b>{{language[curLanguage][20]}}</b><br /><br />
                    <p>
                    {{language[curLanguage][21]}}
                    </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="advantages__item">
                  <img
                    src="../../static/images/claws_3.png"
                    alt="Indicators"
                  /><br /><br /><b>{{language[curLanguage][22]}}</b><br /><br />
                  <p>
                    {{language[curLanguage][23]}}
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="advantages__item">
                  <img
                    src="../../static/images/claws_4.png"
                    alt="Trading signals"
                  /><br /><br /><b>{{language[curLanguage][24]}}</b><br /><br />
                  <p>
                    {{language[curLanguage][25]}}
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="advantages__item">
                  <img
                    src="../../static/images/claws_5.png"
                    alt="Video reviews"
                  /><br /><br /><b>{{language[curLanguage][26]}}</b><br /><br />
                  <p>
                    {{language[curLanguage][27]}}
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="advantages__item">
                  <img
                    src="../../static/images/claws_6.png"
                    alt="Online chat"
                  /><br /><br /><b>{{language[curLanguage][28]}}</b><br /><br />
                  <p>
                    {{language[curLanguage][29]}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="background-color: #e0e0e0" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}">
        <div class="container text-center">
          <div class="learn-more">
            <div class="container">
              <div class="section-title" style="padding-top: 2rem; padding-bottom: 1rem">
                <h2 style="letter-spacing: 1px; font-family: Open Sans,sans-serif;">
                  <b style="font-weight: 900; line-height: 42px;">{{language[curLanguage][30]}}</b>{{language[curLanguage][31]}}</h2>
              </div>
              
              <div class="row ">
              <router-link
                to="/register"
                class="btn waves-effect waves-light btn-lg btn-primary center-block"
                style="    padding: 0.5em 8em;
    margin-bottom: 1rem;
    font-size: 1.25em;
    line-height: 1.5;
    width: auto;
    color: white;
    border-radius: 0.3em;
    background-color: rgb(22 145 75);
  "
              >
                {{language[curLanguage][32]}}</router-link
              >
            </div>
              <div class="inform-block" style="padding-bottom: 1rem">
                <p>
                  {{language[curLanguage][33]}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--div class="row" style="background-color: #333; color: white">
        <div class="container text-center">
          <h2>This is the fifth section</h2>
        </div>
      </div-->
    </div>

    <pageFooter />
  </div>
</template>


<script>
import pageHeader from "../components/pageHeaderTFX.vue";
import pageFooter from "../components/pageFooterTFX.vue";
import { languageCode } from "../utils/lan-code";

export default {
  name: "my-acount",
  data: function () {
    return {
      isLogin: false,
      userLoginInfo: "",
      curCoinType: 1,
      curLanguage: 2,
      charts:[],
      // language:coinstrad,

      userInfo: {
        configure: {},
      },
      language:{
        1:{
            1:'市场分析的艺术',
            2:'最新市场分析和预测',
            3:'N Sky™的客户可以在其客户柜中独家获得N Sky™主分析师提供的高质量材料：技术和基本市场分析，外汇经济事件日历，货币，股票，指数预测，交易指标信号等等。',
            4:'N Sky™交易账户',
            5:'打开',
            6:'开立交易账户',
            7:'免费的外汇分析应用',
            8:'N Sky™客户可以免费获得流行的外汇市场分析类型，评论和最新的外汇市场预测，外汇分析师的专家意见以及交易指标信号。 使用免费的N Sky™外汇分析应用程序。',
            9:'即将上线',
            10:'技术分析',
            11:'基本面分析',
            12:'影片评论',
            13:"经济日历",
            14:"经济日历每分钟更新一次。",
            15:'服务器时间（GMT +2），如终端所示。',
            16:'获取完整的访问权限',
            17:'N Sky™分析的好处',
            18:'独特的分析评论和预测',
            19:'每日主题分析。 我们分析市场，而不是搜索引擎的材料。',
            20:'各种分析',
            21:'技术，基本面，波动分析以及对宏观经济指标。',
            22:'指标',
            23:'我们正在追踪25个指标中10个指标的值7个时间框架上的工具。',
            24:'交易信号',
            25:'关于有进出口的贸易开放的建议是全天更新，旨在用于中期交易策略。',
            26:'影片评论',
            27:'每周视频播客，对主要电视台进行长期预测货币对。',
            28:'在线聊天',
            29:'与领先的分析师进行在线交流N Sky™主分析师公司。',
            30:'成为N Sky™客户<',
            31:'并获得完全访问权限',
            32:'注册',
            33:'此页面上发布的材料由N Sky™制作，不应被认为是为2004/39 / EC指令的目的； 而且还没有按照法律要求准备，旨在促进投资研究的独立性禁止在交易之前进行交易传播投资研究。',
            34:'',
            35:'',
            36:'',
            37:'',
            38:'',
            39:'',
            40:'',
            41:'注册用户可以访问所有国家/地区的经济日历', 
            42:'获取来自世界各地的所有最新新闻',
            43:'时间',
            44:'公布值',
            45:'预测',
          46: '前值',
          47: '作为客户，您可以访问完整的经济日历'

        },
        2:{
            1:'Art of Market Analysis',
            2:'Latest market analysis and forecasts',
            3:'Clients of the N Sky™  get exclusive access to high-quality materials from  N Sky™ master analysts in their Client Portal: technical and fundamental market analysis, Forex economic event calendar, currency, stock, index forecasts, trading indicators signals and much more.',
            4:'N Sky™ trading account',
            5:'Open',
            6:'Open trading account',
            7:'Free Forex analysis app',
            8:'Popular types of Forex market analysis, reviews and latest Forex market forecasts, expert opinions of Forex analysts and trading indicator signals are available free of charge to N Sky™ clients. Use the free N Sky™ Forex Analytics app.',
            9:'coming soon',
            10:'Fundamental analysis',
            11:'Technical analysis',
            12:'Realtime Rates',
            13:'Economic Calendar',
            14:'Economic Calendar is updated every minute.',
            15:'Server time (GMT +2), as shown in the terminal.',
            16:'Get  full access',
            17:'Benefits of N Sky™ analysis',
            18:'Unique analytical reviews and forecasts',
            19:'Daily topical analyses. We analyze the market, not the materials from the search engines.',
            20:'All kinds of analysis',
            21:'Technical, fundamental, wave analysis, and reviews of the macroeconomic indicators.',
            22:'Indicators',
            23:'We are tracing the values of 10 indicators for 25 instruments on 7 timeframes.',
            24:'Trading signals',
            25:'Recommendations for trade opening with entry/exit points are updated throughout the day and are intended for a medium-term trading strategy.',
            26:'Video reviews',
            27:'Weekly video podcast with long-term forecasts for the major currency pairs.',
            28:'Online chat',
            29:'Online communication with the leading analysts of the N Sky™ master analysts Company.',
            30:'Become a N Sky™ client',
            31:' and get a full access',
            32:'Sign up',
            33:'The material published on this page is produced by N Sky™ and should not be considered as the provision of investment advice for the purposes of Directive 2004/39/EC; furthermore it has not beenprepared in accordance with legal requirements designed to promote the independence of investment research and is not subject to any prohibition on dealing ahead of the dissemination of investment research.',
            34:'',
            35:'',
            36:'',
            37:'',
            38:'',
            39:'',
            40:'',
            41:'Registered users get access to all country economic calendar', 
            42:'Get Access to all up-to-date news from all around the world',
            43:'Time',
            44:'Actual',
            45:'Forecast',
          46: 'Prior',
         47: 'As a client you have access to the full economic calendar'
        },
        3:{
            1:'Piyasa Analizi',
            2:'En Son Piyasa Analizi Ve Tahminleri',
            3:'N Sky™ müşterileri, Müşteri Kabinlerinde N Sky™ uzman analistlerinin yüksek kaliteli malzemelerine özel erişim elde eder: teknik ve temel piyasa analizi, Forex ekonomik etkinlik takvimi, para birimi, hisse senedi, endeks tahminleri, alım satım göstergeleri sinyalleri ve çok daha fazlası.',
            4:'N Sky™ ticari hesap',
            5:'Aç',
            6:'Ticaret hesabı açın',
            7:'Ücretsiz Forex Analiz Uygulaması',
            8:'Popüler Forex piyasa analizi türleri, incelemeler ve en son Forex piyasası tahminleri, Forex analistlerinin uzman görüşleri ve alım satım göstergesi sinyalleri N Sky™ müşterilerine ücretsiz olarak sunulmaktadır. Ücretsiz N Sky™ Forex Analytics uygulamasını kullanın.',
            9:'Çok yakında',
            10:'Teknik Analiz',
            11:'Temel Analiz',
            12:'Video',
            13: 'Ekonomik Takvim',
            14: 'Ekonomik Takvim her dakika güncellenir.',
            15:' Terminalde gösterildiği gibi sunucu saati (GMT +2).',
            16:'Tam erişim elde edin',
            17:'N Sky™ Analizinin Faydaları',
            18:'Benzersiz Analitik İncelemeler Ve Tahminler',
            19:'Günlük topikal analizler. Pazarı analiz ediyoruz, arama motorlarından gelen malzemeler.',
            20:'Her Türlü Analiz',
            21:'Teknik, temel, dalga analizi ve incelemeleri makroekonomik göstergeler.',
            22:'Göstergeler',
            23:'25 için 10 göstergenin değerini takip ediyoruz 7 zaman diliminde enstrümanlar.',
            24:'Ticaret Sinyalleri',
            25:'Giriş / çıkış noktaları ile ticaret açılışı için öneriler gün boyunca güncellenir ve bir orta vadeli ticaret stratejisi.',
            26:'Video İncelemeleri',
            27:'Başlıca için uzun vadeli tahminler içeren haftalık video podcast döviz çiftleri.',
            28:'Çevrim İçi Sohbet',
            29:'Önde gelen analistlerle çevrimiçi iletişim N Sky™ uzman analist şirketi.',
            30:'N Sky™ Müşterisi Olun',
            31:' Ve Tam Erişim Elde Edin',
            32:'Kaydol',
            33:'Bu sayfada yayınlanan materyal N Sky ™ tarafından üretilmiştir ve yatırım tavsiyesi olarak kabul edilebilir. 2004/39 / EC Direktifinin amaçları; dahası olmadı yasal gerekliliklere uygun olarak hazırlanmış, yatırım araştırmasının bağımsızlığını teşvik eder ve  öncesinde işlem yapma yasağına tabi yatırım araştırmasının yaygınlaştırılması.',
            34:'',
            35:'',
            36:'',
            37:'',
            38:'',
            39:'',
            40:'',
            41: 'Kayıtlı kullanıcılar tüm ülke ekonomik takvimine erişebilir', 
            42: 'Dünyanın her yerinden tüm güncel haberlere erişim sağlayın' ,
            43:'Zaman',
            44:'Güncel',
            45:'Tahmin',
          46: 'Önceki',
          47: 'Müşteri olarak tam ekonomik takvime erişebilirsiniz'

        },
        4:{
            1:'فن تحليل السوق',
            2:'أحدث تحليلات وتوقعات السوق',
            3:'يحصل عملاء ™N Sky على وصول حصري إلى مواد عالية الجودة من خبراء التحليل في ™N Sky في واجهة الإدارة الخاصة بهم: تحليلات السوق الأساسية والتقنية، تقويم الأحداث الاقتصادية في عالم الفوركس، العملات، الأسهم، توقعات المؤشرات، إشارات مؤشرات التداول وغيرها الكثير.',
            4:'حساب تداول ™N Sky',
            5:'افتح',
            6:'افتح حساب تداول',
            7:'تطبيق تحليل فوركس مجاني',
            8:'تتوفر أنواع شائعة من تحليلات سوق الفوركس والمراجعات وأحدث توقعات سوق الفوركس وآراء الخبراء لمحللي الفوركس وإشارات مؤشرات التداول مجانًا لعملاء ™N Sky. استخدم تطبيق ™N Sky Forex Analytics المجاني.',
            9:'قريباً',
            10:'التحليل الفني',
            11:'التحليل الأساسي',
            12:'فيدوهات المراجعات',
            13: "التقويم الاقتصادي" ,
            14: "التقويم الاقتصادي يتم تحديثه كل دقيقة.",
            15:'بتوقيت (GMT +2), كما هو موضح.',
            16:'احصل على جميع المميزات',
            17:'فوائد تحليل ™N Sky',
            18:'مراجعات وتوقعات تحليلية فريدة',
            19:'التحليلات الموضعية اليومية. نحن نحلل السوق وليس المواد من محركات البحث.',
            20:'جميع أنواع التحليل',
            21:'التحليل الفني والأساسي والتحليل الموجي واستعراض مؤشرات الاقتصاد الكلي.',
            22:'المؤشرات',
            23:'نحن نتتبع قيم 10 مؤشرات لـ 25 أداة في 7 أطر زمنية.',
            24:'إشارات التداول',
            25:'يتم تحديث توصيات فتح التداول بنقاط الدخول / الخروج على مدار اليوم وهي مخصصة لاستراتيجية تداول متوسطة الأجل.',
            26:'فيديوهات المراجعة',
            27:'تسجيلات فيديو أسبوعية مع تنبؤات طويلة الأجل لأزواج العملات الرئيسية.',
            28:'دردشة على الإنترنت',
            29:'التواصل عبر الإنترنت مع كبار المحللين في شركة ™N Sky',
            30:'سجل لتكون عميلاً لـ ™N Sky',
            31:' واحصل على وصول كامل',
            32:'سجل حسابك الآن',
            33:'تم إنتاج المواد المنشورة في هذه الصفحة بواسطة شركة ™N Sky ولا ينبغي اعتبارها بمثابة تقديم مشورة استثمارية لأغراض التوجيه 2004/39 / EC ؛ علاوة على ذلك ، لم يتم إعداده وفقًا للمتطلبات القانونية المصممة لتعزيز استقلالية البحث الاستثماري ولا يخضع لأي حظر على التعامل قبل نشر البحوث الاستثمارية.',
            34:'',
            35:'',
            36:'',
            37:'',
            38:'',
            39:'',
            40:'',
            41: "المستخدمون المسجلون يحصلون على حق الوصول إلى التقويم الاقتصادي لكافة الدول" , 
            42: "احصل على وصول إلى جميع الأخبار المحدثة من جميع أنحاء العالم",
            43:'الوقت',
            44:'الحقيقي',
            45:'توقعات',
          46: 'السابق',
          47: 'كعميل لديك حق الوصول إلى التقويم الاقتصادي الكامل'

        },
        5:{
            1:'خبرگی در تحلیل بازار',
            2:'جدیدترین پیش بینی ها و تحلیل بازار',
            3:'مشتریان ™N Sky  از طریق پورتال مشتری خود دسترسی آسان به نکات مفید و موثر اساتید تحلیلگری ™N Sky  شامل: تجزیه و تحلیل فنی و بنیادی بازار، تقویم اقتصادی فارکس، ارزها ،سهام، پیش بینی شاخص ها، سیگنال شاخص های تجاری و سایر موارد دارند.',
            4:'حساب ™N Sky',
            5:'افتتاح',
            6:'افتتاح حساب تداول',
            7:'اپلیکیشن های رایگان تحلیل بازار فارکس',
            8:'انواع تحلیل های محبوب بازار فارکس، بررسی های آخرین پیش بینی های بازار فارکس، نظرات کارشناسان تحلیلگر فارکس و سیگنال های شاخص معاملات بصورت رایگان در دسترس مشتریان N Sky قرار میگیرد.',
            9:'به زودی',
            10:'تحلیل فنی',
            11:'تحلیل بنیادی',
            12:'بازبینی های ویدئویی',
            13:'تقویم اقتصادی',
            14:'تقویم اقتصادی بطور دقیقه ای بروزرسانی شده اند. زمان سرور همانطور که در ترمینال نشان داده شده است (GMT +2)',
            15:'',
            16:'جهت دسترسی به اطلاعات بیشتر از اینجا وارد شوید',
            17:'مزایای تحلیل ™N Sky',
            18:'پیش بینی و بازبینی های منحصربفرد تحلیلی',
            19:'تحلیل های موضعی روزانه. کار ما تجزیه و تحلیل بازار است نه موارد موجود بسیار در موتورهای جستجوی سایر وبسایت ها.',
            20:'انواع تحلیل',
            21:'تجزیه و تحلیل فنی، بنیادی، موجی و بررسی شاخص های اقتصاد کلان',
            22:'اندیکاتورها',
            23:'در حال ترسیم ارزش های 10 در مورد 25 ابزار در 7 بازه زمانی هستیم.',
            24:'سیگنال',
            25:'پیشنهادات باز کردن معامله با نقاط ورود / خروج که در طول روز بروزرسانی می شوند و برای یک استراتژی معامله ی میان مدت در نظر گرفته شده اند.',
            26:'ویدئوهای بازبینی شده',
            27:'پادکست ویدیویی هفتگی با پیش بینی های طولانی مدت برای جفت ارزهای اصلی.',
            28:'چت آنلاین',
            29:'ارتباط آنلاین با تحلیلگران برجسته شرکت ™N Sky',
            30:'مشتری ™N Sky شوید تا از تمام مزایا بهره مند شوید',
            31:'',
            32:'ثبت نام',
            33:'مطالب منتشر شده در این صفحه توسط شرکت ™N Sky تهیه شده است و نباید به عنوان مشاوره ی سرمایه گذاری مطابق بخشنامه 2004/39 / EC در نظر گرفته شود؛ علاوه بر این مطابق با الزامات قانونی طراحی شده برای ارتقاء استقلال تحقیقات سرمایه گذاری طراحی نشده و مشمول به منع کاری قبل از انتشار تحقیقات سرمایه گذاری نمیباشد.',
            34:'',
            35:'',
            36:'',
            37:'',
            38:'',
            39:'',
            40:'',
            41: "کاربران ثبت نام شده به تقویم اقتصادی همه کشورها دسترسی پیدا می کنند.", 
            42: "دسترسی به تمام اخبار به روز شده از سراسر جهان" ,
            43: "زمان" ,
            44: "واقعی",
            45: "انتظارات",
          46: "قبلی",
          47: 'شما به عنوان مشتری به تقویم اقتصادی کامل دسترسی دارید'

        }
    },

      tableIndex: 0,
      queryIndex: 0,
      queryIndexFlag: false,
      head:['分析学','Analytics','Analitik','التحليلات','تحلیل']
    };
  },
  metaInfo() {return {
      // 

      title: this.head[this.curLanguage-1]+'-N Sky',
      }
  },
  created() {
    const storeCoinType = this.localStore.getItem("curCoinType");
    const storeLanguage = this.localStore.getItem("curLanguage");

    this.curCoinType = !!storeCoinType
      ? storeCoinType
      : this.$api.defaultCoinType;
    this.curLanguage = !!storeLanguage
      ? storeLanguage
      : this.$api.defaultLanguage;

    // if (this.curLanguage != 2) {
    //   let pName = this.$route.name.substring(0, this.$route.name.length - 2);
    //   let pNameStr = pName + languageCode[this.curLanguage];
    //   this.$router.push({ name: pNameStr });
    // }

    this.isLogin = this.util.isLogin();

    if (!!this.isLogin) {
      this.userLoginInfo = JSON.parse(this.localStore.getItem("userLoginInfo"));
      // this.getUserInfo();
    }

    // this.getSystemTradMode()

    // this.getUserAsset()
    // this.getCoinList();
    // this.getUserOrder();
    // this.getUserOrder2();
    // this.settingAPIDataLanguage();
    // this.getcurrency()
  },

  mounted() {
    window.scroll({
      top: 0,
      left: 0,
      behavior: 'smooth'
    });
    var ChartID = "";
    var summary = "";

    var pair = "";
    this.$axios.get('https://docs.google.com/spreadsheet/pub?key=1xn0U9sCh3DnG7sJg7n4KMk0d1CCyWL2DiuWrX_sCj0o&range=A2:C11&single=true&gid=0&output=csv')
      .then((response) => {

        this.temp1 = this.csvToJson(response.data, ['ChartID', 'Summary', 'Pair']);
        console.log(this.temp1[0]);
        // console.log( this.temp1);

        // debugger;

        var i = 1;
        //   var pair = this.temp1[1].Pair;

        //  document.getElementById("eurCurrent").innerText = this.temp1[1].Open;
        //for (i = 0; i < this.temp1.length; i++) {

        //   ChartID = this.temp1[i].ChartID;
        //   summary = this.temp1[i].Summary;

        //   pair = this.temp1[i].Pair;


        //  this.charts.push(this.temp1[i]);
        //  console.log(ChartID);
        //  console.log(summary);
        //  console.log(pair);
        //  this.setupCharts(ChartID, summary, pair);

        //}
        ChartID = this.temp1[0].ChartID;
        if (this.curLanguage == 3) {
          summary = this.temp1[0].Summary;
        } else if (this.curLanguage == 1) {
          summary = this.temp1[2].Summary;
        } else if (this.curLanguage == 2) {
          summary = this.temp1[1].Summary;
        } else if (this.curLanguage == 4) {
          summary = this.temp1[3].Summary;
        } else if (this.curLanguage == 5) {
          summary = this.temp1[4].Summary;
        } else {
          summary = this.temp1[1].Summary;
        }
      //  summary = this.temp1[0].Summary;

        pair = this.temp1[0].Pair;


        this.charts.push(this.temp1[0]);
        console.log(ChartID);
        console.log(summary);
        console.log(pair);
        this.setupCharts(ChartID, summary, pair);


      }
   

    );

  },

  components: {
    pageHeader,
    pageFooter,
  },

    methods: {
      setupCharts(ID, Description, Pair) {
        var charty = document.getElementsByClassName("progressive--is-loaded")[0];
      document.getElementById("ChartSummary").innerText = Description;
        // src = "https://s.tradingview.com/embed/xKFeHG6e/?method=script&utm_source=localhost&utm_medium=widget&utm_campaign=chart&utm_term=undefined"
        //console.log("ID= " + ID);
        charty.src = "https://s.tradingview.com/embed/" + ID + "/?method=script&utm_source=localhost&utm_medium=widget&utm_campaign=chart&utm_term=undefined";

      },
      recallChart() {
        var ChartID = "";
        var summary = "";

        var pair = "";
        this.$axios.get('https://docs.google.com/spreadsheet/pub?key=1xn0U9sCh3DnG7sJg7n4KMk0d1CCyWL2DiuWrX_sCj0o&range=A3:C7&single=true&gid=0&output=csv')
          .then((response) => {

            this.temp1 = this.csvToJson(response.data, ['ChartID', 'Summary', 'Pair']);
            console.log(this.temp1[0]);
            // console.log( this.temp1);

            // debugger;

            var i = 1;
            //   var pair = this.temp1[1].Pair;

            //  document.getElementById("eurCurrent").innerText = this.temp1[1].Open;
            //for (i = 0; i < this.temp1.length; i++) {

            //   ChartID = this.temp1[i].ChartID;
            //   summary = this.temp1[i].Summary;

            //   pair = this.temp1[i].Pair;


            //  this.charts.push(this.temp1[i]);
            //  console.log(ChartID);
            //  console.log(summary);
            //  console.log(pair);
            //  this.setupCharts(ChartID, summary, pair);

            //}
            ChartID = this.temp1[0].ChartID;
            if (this.curLanguage == 3) {
              summary = this.temp1[0].Summary;
            } else if (this.curLanguage == 1) {
              summary = this.temp1[2].Summary;
            } else if (this.curLanguage == 2) {
              summary = this.temp1[1].Summary;
            } else if (this.curLanguage == 4) {
              summary = this.temp1[3].Summary;
            } else if (this.curLanguage == 5) {
              summary = this.temp1[4].Summary;
            } else {
              summary = this.temp1[1].Summary;
            }
            //  summary = this.temp1[0].Summary;

            pair = this.temp1[0].Pair;


            this.charts.push(this.temp1[0]);
            console.log(ChartID);
            console.log(summary);
            console.log(pair);
            this.setupCharts(ChartID, summary, pair);


          }


          );
      },
    changeLanguage(val) {
        this.curLanguage=val;
      console.log(this.curLanguage);
      this.recallChart();
    //   let pName =
    //     this.curLanguage == 1
    //       ? this.$route.name
    //       : this.$route.name.substring(0, this.$route.name.length - 2);
    //   let pNameStr = pName + languageCode[val];
    //   this.$router.push({ name: pNameStr });
    },
    hideMenu() {
      this.$refs.pageHead.hideMenu();
    },
    csvToJson(str, headerList, quotechar = '"', delimiter = ',') {
      const cutlast = (_, i, a) => i < a.length - 1;
      // const regex = /(?:[\t ]?)+("+)?(.*?)\1(?:[\t ]?)+(?:,|$)/gm; // no variable chars
      const regex = new RegExp(`(?:[\\t ]?)+(${quotechar}+)?(.*?)\\1(?:[\\t ]?)+(?:${delimiter}|$)`, 'gm');
      const lines = str.split('\n');
      const headers = headerList || lines.splice(0, 1)[0].match(regex).filter(cutlast);

      const list = [];

      for (const line of lines) {
        const val = {};
        for (const [i, m] of [...line.matchAll(regex)].filter(cutlast).entries()) {
          // Attempt to convert to Number if possible, also use null if blank
          val[headers[i]] = (m[2].length > 0) ? Number(m[2]) || m[2] : null;
        }
        list.push(val);
      }

      return list;

    },
    HistoryCSV2Json(result) {
      var array = result.toString().split("\r");

      let result2 = [];


      let headers = array[0].split(", ")
      var i = 1;
      for (i = 1; i < array.length - 1; i++) {
        let obj = {}


        let str = array[i]
        let s = ''


        let flag = 0
        for (let ch of str) {
          if (ch === '"' && flag === 0) {
            flag = 1
          }
          else if (ch === '"' && flag == 1) flag = 0
          if (ch === ', ' && flag === 0) ch = '|'
          if (ch !== '"') s += ch
        }


        let properties = s.split("|")

        for (let j in headers) {
          if (properties[j].includes(", ")) {
            obj[headers[j]] = properties[j].split(", ").map(item => item.trim())
          }
          else obj[headers[j]] = properties[j]
        }


        result2.push(obj)
      }
      return result2;

    },
    handleTableIndex(val) {
      this.tableIndex = val;
    },
    handleQueryIndex(val) {
      if (val === this.queryIndex) {
        this.queryIndexFlag = !this.queryIndexFlag;
      } else {
        this.queryIndex = val;
        this.queryIndexFlag = true;
      }
    },
  },
};
</script>






<style scoped lang="scss">
//First section styling

.btn{display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;text-decoration:none;}
.btn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(22, 145, 75, .25);}
.btn:disabled{opacity:.65;}
.btn-block{display:block;width:100%;}
.collapse:not(.show){display:none;}
.dropdown-toggle{white-space:nowrap;}
.dropdown-toggle::after{display:inline-block;margin-left:.255em;vertical-align:.255em;content:"";border-top:.3em solid;border-right:.3em solid transparent;border-bottom:0;border-left:.3em solid transparent;}
.dropdown-toggle:empty::after{margin-left:0;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:10rem;padding:.5rem 0;margin:.125rem 0 0;font-size:1rem;color:#212529;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.15);border-radius:.25rem;}
.btn-group{position:relative;display:-ms-inline-flexbox;display:inline-flex;vertical-align:middle;}
.btn-group>.btn{position:relative;-ms-flex:1 1 auto;flex:1 1 auto;}
.btn-group>.btn:hover{z-index:1;}
.btn-group>.btn:active,.btn-group>.btn:focus{z-index:1;}
.navbar{position:relative;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding:.5rem 1rem;}
.navbar-collapse{-ms-flex-preferred-size:100%;flex-basis:100%;-ms-flex-positive:1;flex-grow:1;-ms-flex-align:center;align-items:center;}
.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.25rem;}
.navbar-toggler:focus,.navbar-toggler:hover{text-decoration:none;}
@media (min-width:992px){
.navbar-expand-lg{-ms-flex-flow:row nowrap;flex-flow:row nowrap;-ms-flex-pack:start;justify-content:flex-start;}
.navbar-expand-lg .navbar-collapse{display:-ms-flexbox!important;display:flex!important;-ms-flex-preferred-size:auto;flex-basis:auto;}
.navbar-expand-lg .navbar-toggler{display:none;}
}
.breadcrumb{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:.75rem 1rem;margin-bottom:1rem;list-style:none;background-color:#e9ecef;border-radius:.25rem;}
.d-flex{display:-ms-flexbox!important;display:flex!important;}
.align-items-start{-ms-flex-align:start!important;align-items:flex-start!important;}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
h2,h3,p{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
.container{min-width:992px!important;}
.navbar{display:none;}
}
h1,h2,h3,h4{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;}
:focus{outline:0;}
a:active,a:focus,a:hover,a:visited{outline:0!important;text-decoration:none;}
ul li{list-style-type:none;}
a img{border:0;}
footer,header,nav,section{display:block;}
.btn:focus{box-shadow:none;}
a{text-decoration:none;}
h1{font-family:Bitter,serif;font-size:65px;line-height:80px;text-align:center;color:#fff;padding-top:160px;margin-bottom:30px;}
h2{font-family:Bitter,serif;font-style:normal;font-weight:400;line-height:normal;font-size:40px;text-align:center;color:#fff;}
.mob-only{display:none;}
.main-menu #navbarNav ul>li>.dropdawn-menu-block .row{width:600px;}

.lang-block{display:inline-block;margin-left:40px;}
.lang-block .language-menu{margin-top:-1px;}
.lang-block .btn{padding:0;border:none;background:0 0;color:#fff;text-transform:uppercase;font-family:Montserrat;font-size:12px;line-height:12px;font-weight:600;}
.lang-block button:active,.lang-block button:focus{box-shadow:none;}
.lang-block .lang-list{width:30px;min-width:auto;background:#333;text-align:center;left:-5px!important;padding-top:0;padding-bottom:0;}
.lang-block .lang-list a{color:#fff;text-transform:uppercase;font-family:Montserrat;font-weight:600;font-size:12px;line-height:12px;}
.section{position:relative;height:83vh;min-height:900px;z-index:10; width:100%;}
  .section:before{display: none!important;}

.group-success{text-align:center;}
.group-success h3,.group-success p{text-transform:uppercase;font-family:Montserrat;color:#fff;font-weight:600;font-size:15px;line-height:15px;display:inline-block;margin-right:10px;vertical-align:middle;margin-bottom:0;}
a.btn-show-right{position:relative;display:inline-block;cursor:pointer;outline:0;border:0;vertical-align:middle;text-decoration:none;background:0 0;padding:0;font-size:inherit;font-family:inherit;}
a.btn-show-right{display:inline-block;height:50px;}
a.btn-show-right .circle{transition:all .45s cubic-bezier(.65,0,.076,1);position:absolute;margin:0;width:50px;height:50px;background:#ffa200;border-radius:1.625rem;}
a.btn-show-right .circle .icon{transition:all .45s cubic-bezier(.65,0,.076,1);position:absolute;top:0;bottom:0;margin:auto;background:#fff;}
a.btn-show-right .circle .icon.arrow{transition:all .45s cubic-bezier(.65,0,.076,1);left:.625rem;width:1.125rem;height:.125rem;background:0 0;}
a.btn-show-right .circle .icon.arrow::before{position:absolute;content:"";top:-.25rem;right:.0625rem;width:.625rem;height:.625rem;border-top:.125rem solid #fff;border-right:.125rem solid #fff;transform:rotate(45deg);}
a.btn-show-right .button-text{transition:all .45s cubic-bezier(.65,0,.076,1);position:relative;display:inline-block;padding:18px 35px 10px;margin:0 0 0 1.85rem;color:#ffa200;text-align:left;text-transform:uppercase;font-family:Montserrat;font-weight:700;line-height:15px;font-size:15px;text-transform:uppercase;}
a.btn-show-right:hover .circle{width:100%;z-index: 1;}
a.btn-show-right:hover .circle .icon.arrow{background:#fff;transform:translate(1rem,0);}
a.btn-show-right:hover .button-text{color:#fff;}
.btn-red{background:#e52525;font-family:Montserrat;font-weight:600;line-height:15px;font-size:15px;text-transform:uppercase;color:#fff;padding:16px 40px;transition:all .45s;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;}
.btn-red:hover{color:#e52525;background:#fff;transition:all .45s;}

.analysis-info-page{padding:calc(2 * (1vw + 1vh - 1vmin)) 0;}
.analysis-info-page h1{margin-bottom:160px;}
.analysis-info-page .content-block{max-width:1300px;margin:0 auto;position:relative;}
.analysis-info-page .content-block .text-block{max-width:720px;}
.analysis-info-page .content-block .text-block h2{font-family:Bitter,serif;font-style:normal;font-weight:400;line-height:38px;font-size:40px;color:#fff;margin-bottom:20px;}
.analysis-info-page .content-block .text-block p{font-family:Bitter,serif;font-weight:400;line-height:25px;font-size:15px;color:#737373;margin-bottom:40px;}
.analysis-info-page .group-success{text-align:left;}
.analysis-info-page .art-img{position:relative;right:0;top:-20px;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none;pointer-events:none;}
.forex-analysis-block h2{margin-bottom:20px;}
.forex-analysis-block h2+p{font-family:Bitter,serif;font-weight:400;line-height:30px;font-size:18px;text-align:center;color:#b2b2b2;max-width:1230px;margin:0 auto;}
.forex-analysis-block .phone-app{max-width:473px;margin:0 auto;height:auto;display:block;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none;pointer-events:none;}
.forex-analysis-block .analysis-download{text-align:center;margin-bottom:100px;}
.forex-analysis-block .analysis-download a{display:inline-block;margin:0 10px;}
.forex-analysis-block .analysis-download a img{height:40px;opacity:.5;transition:all .45s;}
.forex-analysis-block .analysis-download a:hover img{opacity:1;transition:all .45s;}
.forex-analysis-block .content-block{max-width:1500px;margin:0 auto;}
.forex-analysis-block .analysis-info-text{padding-left:30px;position:relative;}
.forex-analysis-block .analysis-info-text:before{position:absolute;left:0;top:13px;width:15px;height:1px;background:#e52525;content:"";}
.forex-analysis-block .analysis-info-text h3{font-family:Bitter,serif;font-style:normal;font-weight:400;line-height:26px;font-size:18px;color:#fff;margin-bottom:15px;}
.forex-analysis-block .analysis-info-text p{font-family:Arial;line-height:24px;font-size:15px;color:#b2b2b2;margin-bottom:50px;}
footer .switch-footer{text-align:center;padding-top:50px;display:none;}
footer .switch-footer a{color:#b2b2b2;padding:5px 10px;}
@media only screen and (max-width :1700px){
h1{padding-top:140px;}
}
@media only screen and (max-width :1600px){
.main-menu #navbarNav ul>li>.dropdawn-menu-block .row{width:500px;}
}
@media only screen and (max-width :1500px){
header .reg-btn a:first-child{margin-right:15px;}
header #navbarNav ul>li a{padding-left:15px;padding-right:15px;}
header .reg-btn a{font-size:11px;}
.lang-block{margin-left:15px;}
h1{font-size:55px;padding-top:120px;}

.payments li{margin:0 22px;}
}
@media only screen and (max-width :1400px){
.payments{margin-bottom:30px;}
}
@media only screen and (max-width :1350px){
header #navbarNav ul>li a{padding-left:10px;padding-right:10px;}
header .reg-btn a:first-child{margin-right:10px;}
.lang-block{margin-left:10px;}
.payments li{margin:0 15px;}
}
@media only screen and (max-width :1250px){

.container-fluid{padding-left:25px;padding-right:25px;}

}
@media only screen and (max-width :1200px){

.lang-block{margin-left:15px;}
.main-menu #navbarNav ul>li>.dropdawn-menu-block h4{font-size:14px;}
.section{overflow:inherit;max-height:inherit;height:auto;padding:60px 0!important;min-height:inherit;}

}
@media only screen and (max-width :1100px){

.lang-block{margin-left:5px;}
}
@media only screen and (max-width :1064px){
.section{padding:25px 0!important;}
}
@media only screen and (max-width :991px){
h1{font-size:36px;line-height:52px;margin-bottom:15px;padding-top:60px;}
h2{font-size:20px;}
.mob-only{display:block;}

.main-menu #navbarNav ul>li>.dropdawn-menu-block .row>div{padding-left:0;padding-right:0;}
.btn-red{padding:15px 30px;line-height:normal;}
.section{padding:25px 0!important;}

.analysis-info-page{padding-top:60px!important;}
.analysis-info-page h1{margin-bottom:50px;}
.analysis-info-page .content-block .text-block h2{font-size:25px;line-height:36px;margin-bottom:25px;}
.analysis-info-page .content-block .text-block p{color:#b2b2b2;font-size:12px;line-height:18px;margin-bottom:25px;}
.analysis-info-page .art-img{max-width:100%;height:auto;margin-bottom:35px;}
.analysis-info-page .group-success{display:none;}
.forex-analysis-block h2{font-size:25px;line-height:36px;margin-bottom:10px;}
.forex-analysis-block{padding-top:25px;}
.forex-analysis-block h2+p{font-size:12px;line-height:18px;}
.forex-analysis-block .phone-app{max-width:100%;height:auto;}
.forex-analysis-block .analysis-download{margin-bottom:50px;}
.forex-analysis-block .analysis-info-text h3{line-height:23px;margin-bottom:10px;}
.forex-analysis-block .analysis-info-text p{font-size:14px;line-height:23px;margin-bottom:25px;}
}

@media only screen and (max-width :360px){
h1{font-size:30px;line-height:normal;}
header .main-menu{width:80%;}
}
@media only screen and (max-width :330px){
h1{font-size:22px;line-height:normal;}
}
/*! CSS Used fontfaces */
@font-face{font-family:'Bitter';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/bitter/v16/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfOLXOXWh2.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;font-display:swap;}
@font-face{font-family:'Bitter';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/bitter/v16/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfOLzOXWh2.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;font-display:swap;}
@font-face{font-family:'Bitter';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/bitter/v16/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfOLfOXWh2.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;font-display:swap;}
@font-face{font-family:'Bitter';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/bitter/v16/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfOLbOXWh2.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;font-display:swap;}
@font-face{font-family:'Bitter';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/bitter/v16/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfOLjOXQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;font-display:swap;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gTD_u50.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;font-display:swap;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3g3D_u50.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;font-display:swap;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gbD_u50.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;font-display:swap;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gfD_u50.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;font-display:swap;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;font-display:swap;}
//end of first section styling
.sell{
  font-weight: 800;
  color: #ce0000;
}
.active-sell{
  color: #ff4747;
}
.third {
  width: 1200px;
}
.advantages__item {
  padding: 20px;
}
.advantages__item b {
  font-size: 20px;
}
.advantages__item p {
  font-size: 15px;
}
//Start of table styling
.table-responsive {
  min-height: 0.01%;
  overflow-x: auto;
}
.table > caption + thead > tr:first-child > td[data-v-11c00517],
.table > caption + thead > tr:first-child > th[data-v-11c00517],
.table > colgroup + thead > tr:first-child > td[data-v-11c00517],
.table > colgroup + thead > tr:first-child > th[data-v-11c00517],
.table > thead:first-child > tr:first-child > td[data-v-11c00517],
.table > thead:first-child > tr:first-child > th[data-v-11c00517] {
  border-top: 0;
  font-size: 11px;
  color: black;
}
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  display: table;
  //border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  table-layout: auto;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.tableHead {
  font-size: 5px !important;
}
.tab-content {
  height: unset!important;
}
.tab-content>.active{
  height: unset!important;
}
.table > caption + thead > tr:first-child > td,
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > td,
.table > thead:first-child > tr:first-child > th {
  border-top: 0;
}

.analytics_api .tab-pane thead th {
  font-size: 12px;
  color: #000;
}
.table > thead > tr > th > td {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  color: black !important;
  font-size: 12px !important;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table > thead > tr > th,
td {
  vertical-align: middle;
  font-weight: 700;
  border-bottom: 2px solid #ddd;
}

//end of table styling

.modal-open-lg {
  color: #4c5297!important;
  font-size: 17px;
  font-weight: 700;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
  border-radius: 0px;
  border: 0px;
  color: #fff;
  
}
.nav-item:hover{
  background: #2c2e44;
  font-weight: 700;
}
.nav-item .nav-link {
  color: rgb(179, 179, 179);
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #15161f;
  background-color: white;
  border-color: #dee2e6 #dee2e6 #fff;
  padding-bottom: 1.25em;
  padding-top: 2em;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 0px;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 0px;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 0px;
}
#myTab {
  // border: 5px solid white;
  background: linear-gradient(90deg, rgb(39, 40, 51) 0%, rgb(29, 30, 43) 100%) 0% 0% repeat scroll rgba(0, 0, 0, 0);;
}
.fade {
  opacity: 1;
}
//This will be removed if not working
.row h2[data-v-a14f68a6] {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  text-align: center;
}
h2[data-v-a14f68a6] {
  font-size: 1.7rem;
  line-height: 1.2;
}
h1[data-v-a14f68a6],
h2[data-v-a14f68a6] {
  margin: 0 0 20px 0;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: #3f3453;
  text-transform: none;
}
*[data-v-a14f68a6],
[data-v-a14f68a6] :after,
[data-v-a14f68a6] :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*[data-v-a14f68a6] {
  word-wrap: break-word;
}
*[data-v-a14f68a6] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.no-select,
h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.no-select,
h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
h2 {
  margin-top: 0;
  margin-bottom: 30px;
}
h2,
.h2 {
  font-size: 30px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
Style Attribute {
  background-color: rgb(51, 51, 51);
  color: white;
}
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }
body {

  color: white;
  text-align: center;
}
body,
html {
  font-family: Lato;
}
body {

  font-size: 14px;
  line-height: 22px;
}
body,
button,
input,
select,
textarea {
  font: 13px/1.5 "Microsoft YaHei", "黑体", arial, "宋体", sans-serif;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
Style Attribute {
  font-size: 45.6533px !important;
}
:root {
  --swiper-navigation-size: 44px;
  /* --swiper-navigation-color: var(--swiper-theme-color); */
}
:root {
  --swiper-theme-color: #007aff;
}
:root {
  --border-radius: 0.25rem;
  --font: "Open Sans", sans-serif;
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(160, 160, 160, 1);
  --dark-gray: rgba(77, 82, 90, 1);
  --green: rgba(123, 207, 116, 1);
  --graph-grey: rgba(237, 237, 237, 0.75);
  --graph-purple: rgba(111, 105, 173, 0.75);
  --transition-duration: 1s;
}
  :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
:root {
  --mdc-theme-primary: #6200ee;
  --mdc-theme-secondary: #018786;
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: #b00020;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}
:root {
  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 24px;
  --mdc-layout-grid-column-width-desktop: 72px;
  --mdc-layout-grid-margin-tablet: 16px;
  --mdc-layout-grid-gutter-tablet: 16px;
  --mdc-layout-grid-column-width-tablet: 72px;
  --mdc-layout-grid-margin-phone: 16px;
  --mdc-layout-grid-gutter-phone: 16px;
  --mdc-layout-grid-column-width-phone: 72px;
}
:root {
  --mdc-theme-primary: #6200ee;
  --mdc-theme-secondary: #018786;
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: #b00020;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}
:root {
  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 24px;
  --mdc-layout-grid-column-width-desktop: 72px;
  --mdc-layout-grid-margin-tablet: 16px;
  --mdc-layout-grid-gutter-tablet: 16px;
  --mdc-layout-grid-column-width-tablet: 72px;
  --mdc-layout-grid-margin-phone: 16px;
  --mdc-layout-grid-gutter-phone: 16px;
  --mdc-layout-grid-column-width-phone: 72px;
}
:root {
  --border-radius: 0.25rem;
  --font: "Open Sans", sans-serif;
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(160, 160, 160, 1);
  --dark-gray: rgba(77, 82, 90, 1);
  --green: rgba(123, 207, 116, 1);
  --graph-grey: rgba(237, 237, 237, 0.75);
  --graph-purple: rgba(111, 105, 173, 0.75);
  --transition-duration: 1s;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*[data-v-a14f68a6],
[data-v-a14f68a6] :after,
[data-v-a14f68a6] :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*[data-v-a14f68a6]:before,
*[data-v-a14f68a6]:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*[data-v-a14f68a6],
[data-v-a14f68a6] :after,
[data-v-a14f68a6] :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*[data-v-a14f68a6]:before,
*[data-v-a14f68a6]:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[data-v-a14f68a6]::selection {
  color: #ffffff;
  background: #1e1f26;
}
[data-v-a14f68a6]::selection {
  background: #39f;
  color: #fff;
  text-shadow: none;
}
::selection {
  color: white;
  background: #0078d7;
}
::selection {
  background: #ffa200;
  color: #fff;
}
::selection {
  color: white;
  background: #0078d7;
}
::selection {
  background: #ffa200;
  color: #fff;
}
//end of the removed section

h2 {
  margin-top: 0;
  margin-bottom: 30px;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.col-md-12 {
  width: 100%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-sm-4 {
  width: 33.33333333%;
}

.top20 {
  margin-top: 20px !important;
}
.top30 {
  margin-top: 30px !important;
}
.top40 {
  margin-top: 40px !important;
}
.top50 {
  margin-top: 50px !important;
}
.top60 {
  margin-top: 60px !important;
}
.top80 {
  margin-top: 80px !important;
}

.text-center {
  text-align: center !important;
}

.center-block {
  float: none !important;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
  display: none;
}

.dis20 {
  height: 20px;
  clear: both;
}
.dis30 {
  height: 30px;
  clear: both;
}
.dis40 {
  height: 40px;
  clear: both;
}
.dis60 {
  height: 60px;
  clear: both;
}

.site-canvas .top-bar .breadcrumb {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.site-canvas .top-bar {
  background-color: #e8e8e8;
  padding: 20px 0 20px 0;
  margin: 0;
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
  float: left;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  float: left;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}

.box-text-btn {
  text-align: right;
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .btn-full {
    background-color: #74c109;
    display: inline-block;
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
    width: 247px;
    text-align: center;
  }
  .btn-full:hover {
    background-color: #29A643;
  }
}

.nav-flexbox-tabs {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.nav-flexbox-tabs > li {
  width: 213px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 15px;
  margin-right: 15px;
  border: 1px solid #cbcbcb;
}

.nav-flexbox-tabs > li.active {
  background-color: #d51820;
}

.nav-flexbox-tabs > li > a,
.nav-flexbox-tabs > li > button {
  color: #000;
}
.nav-flexbox-tabs > li.active a,
.nav-flexbox-tabs > li.active button {
  color: #fff;
}

a:focus,
a:visited {
  color: #d51820;
}

.nav-flexbox-tabs a,
.nav-flexbox-tabs button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #000;
  line-height: normal;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  min-height: 38px;
  padding: 0 15px;
}

.nav-tabs {
  border: 0;
  font-size: 20px;
  margin-bottom: 30px;
}

#tabs2,
#tabs3,
#tabs4,
#PaymentMethodTab {
  position: relative;
  margin-bottom: 0;
  z-index: 9;
}

#tabs2,
#tabs3,
#tabs4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav > li {
  position: relative;
  display: block;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li {
  width: 50%;
}

#tabs2.nav-tabs > li,
#tabs3.nav-tabs > li,
#tabs4.nav-tabs > li {
  float: none;
  width: 100%;
}

#tabs2.nav-tabs > li,
#tabs3.nav-tabs > li,
#tabs4.nav-tabs > li {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.collapse {
  display: block;
}

.panel-default > .panel-heading i.fa-angle-up {
  color: #d51820 !important;
}
#tabContent .panel-default > .panel-heading i.fa.fa-angle-up,
.panel-default > .panel-heading i.fa.fa-angle-up,
#tabContent .panel-default > .panel-heading i.fa.fa-angle-down,
.panel-default > .panel-heading i.fa.fa-angle-down,
#PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-up,
.panel-default > .panel-heading i.fa.fa-angle-up,
#PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-down,
.panel-default > .panel-heading i.fa.fa-angle-down {
  font-size: 50px;
  margin-top: -25px;
  margin-left: 0;
  right: 20px;
}

.tab-pane .dis30 {
  height: 50px;
}

.pdf-list {
  li {
    width: 20%;
    float: left;
    text-align: center;
    margin-bottom: 50px;
    height: 169px;

    i {
      font-size: 120px;
      display: block;
      color: #d51820;
      margin-bottom: 5px;
    }
    span {
      color: #333;
    }
  }
}

footer {
  height: 300px;
  background-color: #333;
  text-align: center;
}
footer .cell {
  padding-top: 100px;
  font-size: 26px;
  color: #fff;
}
  .nav-tabs .nav-link[data-v-096193a4]:focus, .nav-tabs .nav-link[data-v-096193a4]:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
    padding-bottom: 2.25em !important;
    color: #333333;
    padding-top: 2em !important;
  }
  .nav-tabs .nav-link {
    padding: 23px 29px 16px;
  }
  h1::selection{
    background:#ffa200;
  }
  #calHeader th{width: 7%;font-family: Trebuchet MS,roboto,ubuntu,sans-serif!important;text-transform:none;font-size:12px}
</style>
