<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="row row-4">
            <ul class="details-box">
                <li v-for="(item,index) in article.data" :key="index" class="details-title-box">
                    <div class="title">
                        <h5>{{item.t_title}}</h5>
                        <p>{{language[curLanguage][1]}}:&nbsp;&nbsp;{{item.t_time}}</p>
                    </div>
                    <p>{{item.t_remark}}</p>
                    <div class="details" v-html="item.t_detail">

                    </div>
                </li>


            </ul>

            <div class="article-pagination-box" v-if="article.total>article.pageSize">
                <el-pagination
                  layout="prev, pager, next"
                  @current-change="handlePaginationIndex"
                  :total="article.total"
                  :page-size="article.pageSize">
                </el-pagination>
            </div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {articleDetails} from '../utils/language'
import moment from 'moment'



export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         language:articleDetails,




         languageGroup:{
             1:'zh',
             2:'en',
             3:'tr',
             4:'ar',
             5:'fa'
         },
         articleId:'',
         articleType:'',
         article:{
            data:[],
            pageSize:10,
            pageIndex:1,
            total:0

         },
         head:['新闻详情','News details','Haber detayları','تفاصيل الأخبار','جزئیات اخبار']




    };
  },
  metaInfo() {return {
      // 

      title: this.head[this.curLanguage-1]+'-N Sky',
      }
  
  },
  created(){


    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
   }

  this.articleId = this.$route.query.aid
  this.articleType = this.$route.query.type


  this.getFinancialArticle()


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  components: {
    pageHeader,
    pageFooter

  },
  methods: {
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },


     getFinancialArticle(){
         const api = this.$api.url.FinancialArticle;
         const params = {
            PageSize:this.article.pageSize,
            PageIndex:this.article.pageIndex,
            Type:this.articleType,
            Aid:this.articleId,
            Language:this.languageGroup[this.curLanguage]

         }
         this.$axios.get(api,{params:params})
         .then((res)=>{
             if(res.data.code==0){

                let data = JSON.parse(res.data.data)
                console.log(data)

                data.forEach(item=>{
                   item.t_time = moment(item.t_time).format('YYYY-MM-DD HH:mm:ss');
                })

                this.article.data = data;
                this.article.total = res.data.count;

             }else if(res.data.code==1011||res.data.code==1006){

                 console.log('用户验证不通过')
                 // this.$refs.pageHead.logout();
                 // this.isLogin = false;
                 // this.$router.push({name:'login'});
             }else{

               this.$message({
                 message:'获取理财产品列表失败！',
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })

     },

     handlePaginationIndex(val){
         this.article.pageIndex = val;
         this.getFinancialArticle();

     }


  }


};
</script>





<style scoped lang="scss">



      //  .width-cell{width: 1200px;margin:0 auto;}

       .row-4{padding:0 0 50px;}
       .row-4 ul.details-box{width: 1000px;margin:60px auto 0;}
       .row-4 li.details-title-box{margin-bottom: 25px;padding-bottom: 25px;border-bottom: 1px solid #eee;}

       .row-4 .details-title-box .title h5{color: #333;font-size: 20px;font-weight: bold;text-align: center;padding-bottom: 10px;}
       .row-4 .details-title-box .title p{color: #bbb;font-size: 14px;font-weight: normal;display: block;padding-top: 1px;text-align: center;padding:8px 0 0;}
       .row-4 .details-title-box>p{font-size: 15px;margin-top: 5px;padding:10px;background-color: #fefefe;border:1px solid #f5f5f5;border-radius: 5px;margin:15px 0;color: #888;}
       



      h4, .h4, h5, .h5, h6, .h6 {
          margin-top: 0;
          margin-bottom: 0;
      }




</style>

<style>
   .article-pagination-box .el-pager li.active{background-color: #D51820;color: #fff;}
   .article-pagination-box .el-pager li:hover{color: #D51820;}
   .article-pagination-box .btn-prev:hover i,.f-pro-pagination-box .btn-next:hover i{color: #D51820;}
   .article-pagination-box .btn-prev:disabled i{color: #C0C4CC;}
</style>
