<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="contact-box width-cell" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}">

            <h3>{{language[curLanguage][1]}}</h3>
            <p><i class="fa fa-warning red"></i>{{language[curLanguage][2]}}</p>
            <p>{{language[curLanguage][3]}}
            <router-link to="/faq">{{language[curLanguage][4]}}</router-link>
            {{language[curLanguage][5]}}
            </p>
            <h6>{{language[curLanguage][6]}}</h6>
            <p style="line-height: 20px;">{{language[curLanguage][7]}}</p>
            <dl>
               <dt>{{language[curLanguage][8]}}</dt>
               <dd><i class="fa fa-clock-o red"></i>{{language[curLanguage][9]}}</dd>
               <dd><i class="fa fa-headphones red"></i>{{language[curLanguage][10]}}</dd>
               <dd><i class="fas fa-envelope red"></i>{{language[curLanguage][11]}}</dd>
            </dl>
            <!-- <dl>
               <dt>Phone Support</dt>
               <dd><i class="fa fa-clock-o red"></i>Working hours: 24/5 GMT</dd>
               <dd><i class="fa fa-phone red"></i> +852 11111111</dd>
            </dl> -->


        </div>


         <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {languageCode} from '../utils/lan-code'




export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },
         language:{
            1:{
                1:'联系我们',
                2:' 我们竭诚提供多方面的服务，切确解答您的各种疑惑，以提供最佳用户体验为最高指标！请参考我们精心规划且信息详细的常见问题页面。您的疑问将即刻迎刃而解。',
                3:"若您在 ",
                4:'常见问题',
                5:' 页面无法获得满意的答案 ，欢迎通过电子邮件或网页客服联系我们。',
                6:'地址',
                7:'香港观塘成业界7号宁晋中心27楼B室',
                8:'线上支持',
                9:' 工作时间：24/5 GMT',
                10:' 网页客服',
                11:' support@nskytrade.com'
            },
            2:{
                1:'Contact Us',
                2:' We are here to help you easily find the exact answers to your questions and offer you the best user experience! Our comprehensive FAQ page provides you with clear guidance at any time and is solely dedicated to answering all your questions within a matter of minutes.',
                3:"If you can't find the answer you are looking for on ",
                4:'our FAQ page,',
                5:' please feel free to contact us by email or live chat.',
                6:'Address',
                7:'Flat B，27/F，Legend Tower，7 Shing Yip St，Kwan Tong ，Hong Hong',
                8:'Online Support',
                9:' Working hours: 24/5 GMT',
                10:' Live Chat',
              11:' support@nskytrade.com'
            },
            3:{
                1:'Bize Ulaşın',
                2:' Gönülden geniş bir hizmet yelpazesi sunuyoruz, tüm şüphelerinizi doğru bir şekilde yanıtlıyor ve en yüksek gösterge olarak en iyi kullanıcı deneyimini sağlıyoruz! Lütfen iyi planlanmış ve ayrıntılı SSS sayfamıza bakın. Sorularınız hemen çözülecektir.',
                3:"Eğer sen ",
                4:'ortak problem',
                5:' sayfa tatmin edici bir yanıt alamıyor, lütfen bizimle e-posta veya web müşteri hizmetleri aracılığıyla iletişime geçin.',
                6:'Adres',
                7:'Oda B，27/F，Legend Merkezi, Shing Yip St，Kwan Tong ，Hong Hong',
                8:'Çevrimiçi destek',
                9:' çalışma saatleri： 24/5 GMT',
                10:' Web Müşteri Hizmetleri',
              11:' support@nskytrade.com'
            },
            4:{
                1:'اتصل بنا',
                2:' نحن هنا لمساعدتك في العثور بسهولة على الإجابات الدقيقة لأسئلتك ونقدم لك أفضل تجربة مستخدم! توفر لك صفحة الأسئلة الشائعة الشاملة إرشادات واضحة في أي وقت وهي مخصصة فقط للإجابة على جميع أسئلتك في غضون دقائق .',
                3:"إذا لم تتمكن من العثور على الإجابة التي تبحث عنها في  ",
                4:'صفحة الأسئلة الشائعة,',
                5:' فلا تتردد في الاتصال بنا عبر البريد الإلكتروني أو الدردشة المباشرة',
                6:'العنوان',
                7:'Flat B，27/F，Legend Rower，7 Shing Yip St，Kwan Tong ，Hong Hong',
                8:'الدعم عبر الإنترنت',
                9:' ساعات العمل: 24 ساعة 5 أيام بتوقيت جرينتش',
                10:' دردشة مباشرة',
              11:' support@nskytrade.com'
            },
            5:{
                1:'تماس با ما',
                2:' ما اینجاییم برای کمک به شما در سهولت یافتن پاسخ دقیق به سوالات و ارائه تجربه های برتر کاربران! صفحه ی سوالات متداول را به عنوان راهنمای جامع و کامل در اختیار شما قرار داده ایم تا بتوانید جواب سوال های خود را در هر ساعتی از شبانه روز در کمتر از چند دقیقه پیدا کنید.',
                3:"در صورتیکه جواب مورد نظر خود را در ",
                4:'صفحه ی سوالات متدوال ,',
                5:' یافت نکردید، تردید نکرده و از طریق ایمیل یا چت آنلاین با ما تماس بگیرید.',
                6:'آدرس',
                7:':  هنگ کنگ، کوآن تنگ، خیابان 7shing yip، برج افسانه ای (Legend)، طبقه ی 27، بلوک B',
                8:'پشتیبانی آنلاین',
                9:' ساعت های کاری:   24 ساعت 5 روز کاری هفته به وقت گرینویچ لندن',
                10:' چت آنلاین',
              11:' support@nskytrade.com'
            }
        },


        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false,

        



    };
  },
   metaInfo: {
      title: 'Contact-N Sky',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

//    if(this.curLanguage!=2){
//        let pName = this.$route.name.substring(0,this.$route.name.length-2)
//        let pNameStr = pName + languageCode[this.curLanguage]
//        this.$router.push({name:pNameStr});
//    }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       this.curLanguage = val;
       console.log(this.curLanguage)
    //    let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
    //    let pNameStr = pName + languageCode[val]
    //    this.$router.push({name:pNameStr});
     },

     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">

   .contact-box{width: 1170px;margin: 0 auto;
      h3{padding:30px 0 20px;font-size: 24px;}
      h5{padding:20px 0 10px;font-size: 18px;}
      h6{font-weight: bold;font-size: 16px;margin: 20px 0 2px;}
      dl{margin:30px 0  0;border-bottom: 1px solid #ccc;padding-bottom: 30px;}
      dl:last-child{border:0}

   }


</style>
