<template>
		<div class="wrap" @click="hideMenu">



         <html xmlns="http://www.w3.org/1999/xhtml">
         <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>

         </title></head>
         <body>




                 <div  style="width:1000px;margin:0 auto;">
             <h1 align="center" style="text-align:center;">
         	<span style="font-family:宋体;">Investment credit lease contract</span><span></span>
         </h1>
         <p>
         	<span style="font-family:宋体;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">Party A (lender): _________  _________</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">Party B (user): {{productInfo.u_mail}}   {{productInfo.u_name}}</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">Party C (Platform):TFB GLOBAL INVESTMENT COMPANY LIMITED</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">Ⅰ、Party C (Platform) :</span>
         </p>

         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">1.Party A open an account at party C , account name:</span>
             <u>
                 <span style="font-size:15.0pt;font-family:宋体;">
                     _________</span></u><span style="font-size:15.0pt;font-family:宋体;">，account number:</span>
              <u>
                 <span style="font-size:15.0pt;font-family:宋体;">
                     _________</span></u>
             <span style="font-size:15.0pt;font-family:宋体;">，party A agrees account balance</span>
            <u> <span style="font-size:15.0pt;font-family:宋体;">   _________</span></u>

             <span style="font-size:15.0pt;font-family:宋体;">$ temporarily frozen, and the trading amount after freeze authorize party B to use.</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">2.Party B open an account at Party C, account name:</span>
               <u> <span style="font-size:15.0pt;font-family:宋体;">   {{productInfo.u_name}}</span></u><span style="font-size:15.0pt;font-family:宋体;">，account number:</span>
                <u> <span style="font-size:15.0pt;font-family:宋体;">   {{productInfo.u_mail}}</span></u><span style="font-size:15.0pt;font-family:宋体;">，and deposit a principal of</span>
               <u> <span style="font-size:15.0pt;font-family:宋体;">   {{productInfo.products.t_principal}}</span></u><span style="font-size:15.0pt;font-family:宋体;"> as Inferior funds, the amount borrowed by Party B to Party A shall only be used as the margin for investment trading, all losses shall be borne by party B, and party A without any responsibility.</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">3.Party A shall provide party B with preferred funds to conduct transactions in the form of credit lease.</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">Party B shall accept the preferred funds and provide the inferior funds in the form of margin to guarantee the security of the principal of Party A's preferred funds.</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">Party A and party B before the contract is signed to ensure that the account has enough money. This Agreement shall be valid for</span>
           <u> <span style="font-size:15.0pt;font-family:宋体;"> {{productInfo.t_month}}</span></u>
             <span style="font-size:15.0pt;font-family:宋体;">months，
                 from </span>


             <u> <span style="font-size:15.0pt;font-family:宋体;">{{productInfo.products.t_stime_month}},{{productInfo.products.t_stime_day}},{{productInfo.products.t_stime_year}}</span></u><span style="font-size:15.0pt;font-family:宋体;">&nbsp;to&nbsp;</span>



             <u> <span style="font-size:15.0pt;font-family:宋体;">{{productInfo.products.t_etime_month}},{{productInfo.products.t_etime_day}},{{productInfo.products.t_etime_year}}</span></u>
             <span style="font-size:15.0pt;font-family:宋体;">.During the lockdown period, both parties shall not transfer funds in the account without authorization, unless the contract is terminated.</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">Ⅱ.Profit distribution</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">Party A，</span><span style="font-size:15.0pt;font-family:宋体;">shall choose only one of the three distribution modes:</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">1.</span><span style="font-size:15.0pt;font-family:宋体;">Fixed income: The income of Party A during the term of the contract is the annualized interest rate of</span>
            <u> <span style="font-size:15.0pt;font-family:宋体;">{{productInfo.products.t_profit_type===0?productInfo.products.t_profit_income:'_________'}}</span></u><span style="font-size:15.0pt;font-family:宋体;">%，of the base amount,that is, the total income = principal × annualized interest rate % × number of entrusted months/12。The monthly revenue is</span>
              <u> <span style="font-size:15.0pt;font-family:宋体;">_________</span></u><span style="font-size:15.0pt;font-family:宋体;">USD.The whole year is calculated as 12 months.Party B shall pay The interest to Party A on the date when the Contract becomes effective (the product shall be deemed to become effective one month after its official operation), and the holidays shall be postponed accordingly. Statistical period: once a month after the first payment of interest. The interest shall be paid out of party B's principal or profit from the transaction.</span><span style="font-size:15.0pt;"><br />
         <br />
         </span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">2.</span><span style="font-size:15.0pt;font-family:宋体;">Profit Dividend: party B trading makes the account profitability, party A shall enjoy profitable part of </span>
             <u> <span style="font-size:15.0pt;font-family:宋体;">{{productInfo.products.t_profit_type===1?productInfo.products.t_profit_val:'_________'}}</span></u><span style="font-size:15.0pt;font-family:宋体;">%，that is, (the ending balance - initial funds)</span><span style="font-size:15.0pt;font-family:宋体;">×</span>
               <u> <span style="font-size:15.0pt;font-family:宋体;">_________</span></u>
             <span style="font-size:15.0pt;font-family:宋体;">%，Party B to enjoy the rest of the profit, that is,(the ending balance - initial funds)×</span>
               <u> <span style="font-size:15.0pt;font-family:宋体;">_________</span></u><span style="font-size:15.0pt;font-family:宋体;">%。Party B shall bear all trading losses, while Party A shall not bear trading losses. The corresponding benefits both parties can be partition according to the following way:When the accumulated receipts of the management account reach </span>
               <u> <span style="font-size:15.0pt;font-family:宋体;">_________</span></u><span style="font-size:15.0pt;font-family:宋体;">% of the initial capital, Payment shall be made within five (5) business days and shall be distributed</span>
             <u> <span style="font-size:15.0pt;font-family:宋体;">_________</span></u><span style="font-size:15.0pt;font-family:宋体;">% 2.of proceeds. This Agreement shall be terminated when the account funds return to the original capital due to loss after the first allocation.</span><span style="font-size:15.0pt;"><br />
         <br />
         </span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">3.</span><span style="font-size:15.0pt;font-family:宋体;">3.Interest-free charge increase: Party A and Party B agree on the charges for party B's futures transaction. See the attachment for the specific charges.</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">Party A chooses <span>  <u> <span style="font-size:15.0pt;font-family:宋体;">{{productInfo.products.t_profit_type===0?'Fixed income':'Profit Dividend'}}</span></u></span> as the income distribution method.<span></span></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">Ⅲ.Obligations and rights of the three parties</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">Party A：</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">1</span><span style="font-size:15.0pt;font-family:宋体;">、Party A shall have the ownership of the management account and the right to obtain the earnings due from the entrusted assets.</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">2</span><span style="font-size:15.0pt;font-family:宋体;">、Party A is obliged to invest the funds in the management account as agreed herein. Before the expiration of the contract, Party A shall not withdraw the entrusted assets except for force majeure.</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">3</span><span style="font-size:15.0pt;font-family:宋体;">、Party A is obliged to pay all taxes and fees incurred in the operation of the management account, including but not limited to: income tax, stamp duty, inquiry fee, transaction fee, bank fee, etc.</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">4</span><span style="font-size:15.0pt;font-family:宋体;">、Party A is obliged to pay the agreed management fees in full amount as agreed herein.</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">5</span><span style="font-size:15.0pt;font-family:宋体;">、Party A shall not interfere with any investment decisions made by Party B with respect to the management account and shall not use the management account for trading operations; If so, party B shall be liable for compensation of losses.</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">6</span><span style="font-size:15.0pt;font-family:宋体;">、Party A shall have the right to inquire the assets and transactions of the management account from time to time and shall be obliged to keep confidential the operation of Party B.</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">7</span><span style="font-size:15.0pt;font-family:宋体;">、During the term of cooperation, Party A shall not terminate the Agreement in advance under any conditions (except that both parties agree to terminate the agreement). In case of early termination of the Agreement, party B shall have the right to claim for more reasonable compensation for losses and have the right of final interpretation in case of early termination of the Agreement by Party A which requires a minimum penalty of 10% of the initial fund of the account.</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">Party B:</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">1</span><span style="font-size:15.0pt;font-family:宋体;">、Party B shall have the right to independently operate its account in accordance with this Contract.</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">2</span><span style="font-size:15.0pt;font-family:宋体;">、Party B shall protect Party A's property rights and interests in accordance with the law during the term of this Agreement. However, party B shall not be liable for the closure, deduction or freezing of the management account and the entrusted assets by the judicial authority or the securities registration and Settlement authority due to Party A's debts. If it is impossible to continue to perform this Contract as a result, Party B may terminate this Contract in accordance with the provisions on early Termination of this Contract.</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">3</span><span style="font-size:15.0pt;font-family:宋体;">、During the term hereof, Party B shall have the right to fully handle the transactions of its account, and Party A shall not interfere with Party B's operation of the management account; otherwise, Party A shall bear the losses.</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">4</span><span style="font-size:15.0pt;font-family:宋体;">、Party B shall have the right to obtain its earnings in accordance with the provisions hereof.</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">5</span><span style="font-size:15.0pt;font-family:宋体;">、 Party B is obliged to distribute the management income of the management account to Party A in accordance with the provisions hereof.</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">6</span><span style="font-size:15.0pt;font-family:宋体;">、During the term hereof, Party B shall not terminate the Agreement in advance under any conditions (except that both parties agree to terminate the agreement). If the agreement is terminated in advance, Party B shall pay a minimum penalty of 10% of the initial fund of the account, and Party A shall have the right to claim more reasonable compensation for the loss under special circumstances.</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">Party c:</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">Party C shall be obliged to perform its supervisory duties as required by this Agreement. During the supervision period, Party C shall have the obligation to monitor the management account, control the risk of Party B's trading account, and ensure That Party A can obtain the income agreed herein in a timely manner. Party C shall be jointly and severally liable for losses of Party A's principal or earnings caused by party C's failure to timely perform its risk control duties as agreed herein; Party C shall not be liable for any loss caused by causes other than its supervisory duties (such as enforcement measures taken by judicial organs, etc.).</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">Ⅳ．</span><span style="font-size:15.0pt;font-family:宋体;">Risk control rules</span><span style="font-size:15.0pt;"></span>
         </p>
         <p style="text-indent:21.0pt;">
         	<span style="font-size:15.0pt;font-family:宋体;">When the loss of the trading account makes the amount of the inferior fund less than 30% of the principal, Party B shall add the inferior fund before the close of the market on the next day to make up the inferior fund to 100%. During this period, Party B shall not open positions and can only close out positions. This contract shall be terminated if it is not made up within the time limit. Party C shall have the right to close out the trading account when the loss of the trading account makes the amount of the capital inferior to 20% of the principal amount. In the event of the above circumstances, Party C shall be obliged to notify Party A and Party B, and Party B shall voluntarily accept all consequences of closing the position and shall not claim or defend against Party A and Party C for any reason (including but not limited to low price).</span>
         </p>
         <p style="text-indent:21.0pt;">
         	<span style="font-size:15.0pt;font-family:宋体;">&nbsp;</span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">Ⅴ．Contract claim and dispute resolution.</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">1</span><span style="font-size:15.0pt;font-family:宋体;">、</span><span style="font-size:15.0pt;font-family:宋体;">This Contract is only used for leasing the investment amount of Party A and Party B.</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">2</span><span style="font-size:15.0pt;font-family:宋体;">、</span><span style="font-size:15.0pt;font-family:宋体;">Party C shall conduct due diligence for the identity and source of funds of Party A and Party B in accordance with Cambodian laws, and shall keep relevant information confidential (except force majeure).</span><span style="font-size:15.0pt;font-family:宋体;">。</span><span style="font-size:15.0pt;"></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;">3</span><span style="font-size:15.0pt;font-family:宋体;">、</span><span style="font-size:15.0pt;font-family:宋体;">Party C has the right to mediate disputes between Party A and Party B. Unsuccessful mediation can be handled in accordance with Cambodian laws, such as subsequent prosecution and other means.<span></span></span>
         </p>
         <p>
         	<span style="font-size:15.0pt;font-family:宋体;">4.</span><span style="font-size:15.0pt;font-family:宋体;">This Contract is in Cambodian, Chinese and English. Party A and Party B can specify standard languages. This contract shall be in Chinese as the standard contract.<span></span></span>
         </p>
         <p>
         	<span>&nbsp;</span>
         </p></div>

         </body>
         </html>

		</div>
</template>


<script>

import moment from 'moment'
export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },
         productId:'',
         productLanguage:'',
         productInfo:{
            products:{}
         },
         languageGroup:{
            1:'zh',
             2:'en',
             3:'tr',
             4:'ar',
             5:'fa'
         },
         productDetails:{
            dialogFlag:false,
            data:{
              content:{},
              products:{}
            },

         },
         profitType:{
            0:'固定年利率(年化)',
            1:'盈利分成'
         },
         productStateGroup:{
            0:'审核中',
            1:'募集中',
            2:'运行中',
            3:'运行中',
            4:'已拒绝',
            5:'用户撤销',
            6:'过期失败'
         },

         systemGroup:{
           1:'现货',
           2:'期货',
           3:'股票',
           4:'黄金',
         }



    };
  },
   metaInfo: {
      title: 'contract - N Sky',
  },
  created(){

   if (!!window.ActiveXObject || "ActiveXObject" in window) {
    		this.$router.push({name:'badbrowser'});
    	}
    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage
   this.productId = this.$route.query.pid;
   this.productLanguage = this.$route.query.l;
   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       this.getUserInfo();

   }
   this.getFinancialProducts()


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  components: {

  },


  methods: {
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     viewDetails(val){
        this.productDetails.data.content = val.content;
        this.productDetails.data.products = val.products;
        this.productDetails.dialogFlag = true;
     },
     getUserInfo(){
         const api = this.$api.url.userVerify1;
         const params = {
            Device:'web',
            Uid:this.userLoginInfo.userID,
            Token:this.userLoginInfo.session
         }
         this.$axios.get(api,{params:params})
         .then((res)=>{
             if(res.data.code==0){
                let data = JSON.parse(res.data.data);
                this.userInfo = data
                console.log(this.userInfo)
                if(this.userInfo.configure==null){
                   this.userInfo.configure = {
                      t_actuals_gid: null,
                      t_actuals_state: null,
                      t_actuals_uid: null,
                      t_futures_gid: null,
                      t_futures_state: null,
                      t_futures_uid: null,
                      t_other_gid: null,
                      t_other_state: null,
                      t_other_uid: null,
                      t_shares_gid: null,
                      t_shares_state: null,
                      t_shares_uid: null,
                      t_uid: null
                   }
                }


               // this.userInfo.u_country = this.userCountry;
               this.localStore.setItem('userInfo',this.userInfo)


               if(data.configure.t_actuals_state == 2||data.configure.t_futures_state == 2||data.configure.t_shares_state == 2||data.configure.t_other_state == 2){
                  this.assetStateFlag = true;
               }

             }else if(res.data.code==1011||res.data.code==1006){

                 this.$refs.pageHead.logout();
                 this.isLogin = false;
                 this.$router.push({name:'login'});
             }else{
               // let resultMsg = this.getStateCodeText(res.data.code);
               this.$message({
                 message:'错误',
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })

     },

     getFinancialProducts(){
         const api = this.$api.url.FinancialProducts;
         const params = {
            Fpid:this.productId,
            Language:this.languageGroup[this.productLanguage]
         }
         this.$axios.get(api,{params:params})
         .then((res)=>{
             if(res.data.code==0){

                 let data = JSON.parse(res.data.data)
                 console.log(data);
                 data.forEach(item=>{
                    // item.products.t_stime = moment(item.products.t_stime).format('YYYY-MM-DD');
                    item.products.t_stime_year = new Date(item.products.t_stime).getFullYear()
                    item.products.t_stime_month = new Date(item.products.t_stime).getMonth()+1
                    item.products.t_stime_day = new Date(item.products.t_stime).getDate()

                    // item.products.t_etime = moment(item.products.t_etime).format('YYYY-MM-DD');

                    item.products.t_etime_year = new Date(item.products.t_etime).getFullYear()
                    item.products.t_etime_month = new Date(item.products.t_etime).getMonth()+1
                    item.products.t_etime_day = new Date(item.products.t_etime).getDate()


                    item.products.t_time = moment(item.products.t_time).format('YYYY-MM-DD');
                 })
                 if(data.length>0){
                    this.productInfo = data[0]
                 }


             }else if(res.data.code==1011||res.data.code==1006){

                 this.$refs.pageHead.logout();
                 this.isLogin = false;
                 this.$router.push({name:'login'});
             }else{
               // let resultMsg = this.getStateCodeText(res.data.code);
               this.$message({
                 message:'错误',
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })

     },



  }


};
</script>





<style scoped lang="scss">

   .wrap{padding:100px 0;}

   h4, .h4, h5, .h5, h6, .h6 {
       margin-top: 0;
       margin-bottom: 0;
   }

</style>

<style>

</style>
