<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" v-bind:class="{rightToLeft:(curLanguage==4||curLanguage==5)}">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1>{{language[curLanguage][1]}}</h1>
                  <!-- <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">N Sky</router-link></li>
                    <li class="post post-page current-item">{{language[curLanguage][1]}}</li></ol> -->
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="fas fa-envelope"></i>
                      <span>{{language[curLanguage][2]}}</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container top40 regulation">
            <!-- <div class="row">
              <div class="col-md-12">
                <h2>相关法律文件</h2></div>
            </div> -->
            <div class="cookie-box">
                 <h5>{{language[curLanguage][3]}}</h5>
                 <p>{{language[curLanguage][4]}}</p>

                 <h5>{{language[curLanguage][5]}}</h5>
                 <p>{{language[curLanguage][6]}}</p>

                 <h5>{{language[curLanguage][7]}}</h5>
                 <p>{{language[curLanguage][8]}}</p>
                 <p>{{language[curLanguage][9]}}</p>
                 <p>{{language[curLanguage][10]}}</p>
                 <p>{{language[curLanguage][11]}}</p>

                 <h5>{{language[curLanguage][12]}}</h5>
                 <p>{{language[curLanguage][13]}}</p>
                 <p>{{language[curLanguage][14]}}</p>


                 <h5>{{language[curLanguage][15]}}</h5>
                 <p>{{language[curLanguage][16]}}</p>

                 <h5>{{language[curLanguage][17]}}</h5>
                 <p>{{language[curLanguage][18]}}</p>

                 <h5>{{language[curLanguage][19]}}</h5>
                 <p>{{language[curLanguage][20]}}</p>
                 <p>{{language[curLanguage][21]}}</p>

                 <h5>{{language[curLanguage][22]}}</h5>
                 <p>{{language[curLanguage][23]}}</p>
                 <p>{{language[curLanguage][24]}}</p>

                 <h5>{{language[curLanguage][25]}}</h5>
                 <p>{{language[curLanguage][26]}}</p>

                 <h5>{{language[curLanguage][27]}}</h5>
                 <p>{{language[curLanguage][28]}}</p>

                 <h5>{{language[curLanguage][29]}}</h5>
                 <p>{{language[curLanguage][30]}}</p>
                 <p>{{language[curLanguage][31]}}</p>


            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {languageCode} from '../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false,
        language:{
            1:{
                1:'Cookie政策',
                2:'联系我们',
                3:'>什么是 Cookie?',
                4:'Cookie是一种很小的数据文件，当您访问网站时，这些文件会存储在您的计算机或移动设备上。Cookie被网站所有者广泛使用，使网站更好的运行或更有效地工作，并报告信息。由网站所有者设置的Cookie称为“第一方Cookie”。由网站所有者以外的其他方设置的Cookie称为“第三方Cookie”。第三方Cookie允许在网站上或通过网站提供第三方功能（例如广告、交互式内容和分析）。设置这些第三方Cookie的各方即可在访问相关网站或其他网站时识别您。',
                5:'为什么我们要使用Cookie?',
                6:'我们使用第一方和第三方Cookie是有原因的。出于技术需要，我们要创建一些Cookie，以确保我们的网站能够运行，我们将这些Cookie称为“绝对必要的”。其他Cookie也使我们能够进一步了解用户的偏好，以增强我们网站的用户体验。',
                7:'您的个人信息',
                8:'当您访问我们的网站时，我们将使用Cookie确保您在我们的网站上获得最佳体验。这些Cookie可能与您、您的偏好或您的设备有关。这些信息通常不会用于直接识别您的身份，但可为您提供更为个性化的网站使用体验。我们尊重您的个人信息权利，您可以选择禁用某些类型的Cookie，但是，阻止某些类型的Cookie可能会影响您的网站使用体验以及我们能够为您提供的服务。',
                9:'我们将使用Cookie来记录您在我们的Cookie隐私管理器中所做的选择。这将产生以下几方面的后果：',
                10:'如果您删除了您的Cookie，再次访问我们网站时，则需要再次告知我们您的偏好。',
                11:'如果您使用不同的设备或浏览器访问我们的网站时，则需要再次告知我们您的偏好。',
                12:'处理的目的和法律依据',
                13:'当您访问我们的网站时，我们会收集并处理您的IP地址和浏览器信息。我们收集、处理这些信息的目的包括确定您是否是我们网站的回访用户，分析您对我们网站的访问行为，并提升我们网站的用户体验。',
                14:'如上所述，我们将在《网络安全法》和配套的相关法律法规的要求下处理您的个人数据。我们在收集、处理您的访问行为数据和您最终提供我们的其他个人数据之前，都将会主动征求您的同意。此外，您有权随时向我们提出撤销同意的请求。您还有权通过在浏览器中设置cookie禁用cookie的相关选项，来拒绝我们使用这些Cookie。如果您希望就此数据或我们可能处理到的与您有关的其他个人数据联系我们，请参阅下面的“您的权利和联系信息”部分。',
                15:'披露/接收您的个人数据',
                16:'为了向您提供我们网站上服务，我们可能聘请我们的关联公司和业务合作伙伴为我们提供服务。出于上述目的，您的个人数据将披露给我们的关联公司和业务合作伙伴并由他们进行处理。',
                17:'保留时间',
                18:'我们将一直保留您访问我们网站的个人数据，直到服务终止或您要求我们予以删除。',
                19:'您的权利和联系信息',
                20:'有关与我们处理您的个人数据相关的您的权利的更多信息、咨询和投诉的联系方式，请访问隐私政策.',
                21:'此Cookie政策用于描述当您访问我们的网站时，我们如何使用Cookie与类似的技术来识别您。它描述了这些技术是什么，为什么我们使用它们，以及您授权我们使用它们的权利。在某些情况下，我们可能会使用Cookie来收集个人信息，或者我们将其与其他信息结合起来构成了个人信息。',
                22:'怎么管控自己的Cookie?',
                23:'您有权决定接受或拒绝在网站中使用Cookie。您可以通过在浏览器中设置Cookie来设置Cookie的使用。Cookie设置中的选项允许您选择接受或拒绝收集的Cookie。不能拒绝绝对必要的Cookie，因为它们是为您提供服务的严格必要条件。以Chrome浏览器为例，用户可以通过点击设置-高级-隐私与安全-页面设置来管理网站的Cookie收集请求。',
                24:'Cookie设置中选项可以在通知横幅和我们的网站上找到。如果您选择拒绝Cookie，您仍然可以使用我们的网站，同时网站的某些功能和区域可能受到限制。您还可以设置或修改Web浏览器设置以接受或拒绝Cookie。由于通过Web浏览器设置拒绝Cookie的方式因浏览器而异，因此您应访问浏览器的“帮助”菜单以获取更多信息。',
                25:'绝对必要的 Cookie',
                26:'这些Cookie对于我们网站的运行是必需的，无法在我们的网站中关闭。它们通常根据您所做的操作进行设置，这些操作相当于请求服务。您可以将浏览器设置为阻止使用这些Cookie，但网站的部分功能将无法运行。绝对必要的Cookie不会存储任何个人身份信息。',
                27:'性能与功能Cookie',
                28:'我们使用这些Cookie来统计访问次数和流量来源，以便衡量并提高我们网站的性能。它们可以帮助我们了解哪些页面最受欢迎、哪些页面最不受欢迎以及访客如何在网站上浏览。我们采用匿名的方式汇总这些Cookie收集的所有信息。如果您禁用这些Cookie，我们将不知道您何时访问我们的网站并且无法监控网站性能，某些功能可能会变得不可用。',
                29:'多久更新Cookie政策？',
                30:'我们可能会不时或者出于其他运营、法律或监管原因更新此Cookie政策，以反映我们使用的Cookie的变化。因此，请定期重新阅读此Cookie政策，以了解我们对Cookie和相关技术的使用情况。',
                31:'此Cookie政策顶部的日期表示最近更新的时间。'
            },
            2:{
                1:'Cookie Policy',
                2:'Contact Us',
                3:'What is a Cookie?',
                4:'A Cookie is a small data file that is stored on your computer or mobile device when you visit a website. Cookies are widely used by website owners to make websites run better or work more efficiently, and to report information. Cookies set by the site owner are called "first party cookies." Cookies set by a party other than the site owner are called "third-party cookies." Third-party cookies allow third-party functionality (such as advertising, interactive content, and analytics) to be provided on or through a website. The parties that set these third-party cookies can identify you when they visit the relevant websites or other websites.',
                5:'Why do we use cookies?',
                6:'We use first-party and third-party cookies for a reason. For technical reasons, we create cookies to make sure our site works, which we call "absolutely necessary." Other cookies also enable us to further understand user preferences to enhance the user experience of our site.',
                7:'Your personal information',
                8:'When you visit our website, we will use cookies to ensure that you have the best experience on our website. These cookies may be related to you, your preferences, or your device. This information is not usually used to directly identify you but can provide you with a more personalized website experience. We respect your personal information rights and you may choose to disable certain types of cookies, however, blocking certain types of cookies may affect the experience of using your Website and the services we are able to provide to you.',
                9:'We will use cookies to record the choices you make in our cookie privacy manager. This will have the following consequences:',
                10:'If you delete your Cookie and visit our website again, you will need to inform us again of your preference.',
                11:'If you use a different device or browser to access our site, you will need to inform us again of your preference.',
                12:'The purpose and legal basis of the settlement',
                13:'When you visit our website, we will collect and process your IP address and browser information. We collect and process this information for the purpose of determining whether you are a return visitor to our Website, analyzing your visit to our website, and improving the user experience of our website.',
                14:'As stated above, we will process your personal data as required by the Cybersecurity Act and applicable laws and regulations. We will actively seek your consent before collecting and processing your access behavior data and any other personal data that you may ultimately provide to us. In addition, you have the right to request us to revoke your consent at any time. You also have the right to deny us the use of cookies by setting cookies in your browser to disable cookies. If you wish to contact us with this data or other personal data that we may process in relation to you, please refer to the "Your Rights and Contact Information" section below.',
                15:'Disclosure/Receipt of your personal data',
                16:'In order to provide you with the services on our Website, we may employ our affiliates and business partners to provide the services to us. For the above purposes, your personal data will be disclosed to and processed by our affiliates and business partners.',
                17:'Retention time',
                18:'We will retain your personal data about your access to our website until the termination of the Service or until you request us to delete it.',
                19:'Your rights and contact information',
                20:'For more information, inquiries, and contact information about your rights related to our handling of your personal data, please visit the Privacy Policy.',
                21:'This Cookie policy is used to describe how we use cookies and similar techniques to identify you when you visit our website. It describes what these technologies are, why we use them, and your right to authorize us to use them. In some cases, we may use cookies to collect personal information, or we may combine them with other information to form personal information.',
                22:'How do you manage your cookies?',
                23:"You have the right to accept or reject the use of cookies on the Site at your discretion. You can set the use of cookies by setting them in your browser. The option in the Cookie setting allows you to choose to accept or reject collected cookies. Absolutely necessary cookies cannot be rejected, as they are a strict requirement for serving you. In Chrome, for example, users can manage a website's Cookie collection requests by clicking Settings - Advanced - Privacy & Security - page Settings.",
                24:"The options in the Cookie setting can be found on the notification banner and on our website. If you choose to reject cookies, you may still use our Website and certain features and areas of the Website may be restricted. You can also set or modify your Web browser Settings to accept or reject cookies. Because the way you set rejection cookies through your Web browser varies from browser to browser, you should visit your browser's Help menu for more information.",
                25:'Absolutely necessary cookies',
                26:'These cookies are necessary for the operation of our website and cannot be closed on our website. They are usually set up based on what you do, which is equivalent to requesting a service. You can set your browser to block the use of these cookies, but some of the functionality of your site will not work. Absolutely necessary cookies do not store any personally identifiable information.',
                27:'Performance and functionality cookies',
                28:'We use these cookies to count visits and traffic sources in order to measure and improve the performance of our website. They can help us understand which pages are most popular, which pages are least popular, and how visitors navigate the site. We aggregate all the information collected by these cookies anonymously. If you disable these cookies, we will not know when you are visiting our website and will not be able to monitor website performance, and certain features may become unavailable.',
                29:'How often do you update your Cookie policy?',
                30:'We may update this Cookie Policy from time to time or for other operational, legal, or regulatory reasons to reflect changes in the cookies we use. Therefore, please review this Cookie Policy periodically to understand our use of cookies and related technologies.',
                31:'The date at the top of this Cookie policy represents the time of the most recent update.'
            },
            3:{
                1:'Cookie Politikası',
                2:'Bize Ulaşın',
                3:'Cookie nedir?',
                4:'Cookies, bir web sitesini ziyaret ettiğinizde bilgisayarınızda veya mobil cihazınızda saklanan küçük bir veri dosyasıdır. Cookies, web sitesi sahipleri tarafından web sitelerinin daha iyi çalışmasını veya daha verimli çalışmasını sağlamak ve bilgileri bildirmek için yaygın olarak kullanılmaktadır. Site sahibi tarafından belirlenen tanımlama bilgilerine "birinci taraf tanımlama bilgileri" denir. Site sahibi dışındaki bir tarafça belirlenen tanımlama bilgilerine "üçüncü taraf tanımlama bilgileri" adı verilir. Üçüncü taraf tanımlama bilgileri, üçüncü taraf işlevlerinin (reklam, etkileşimli içerik ve analiz gibi) bir web sitesinde veya web sitesi aracılığıyla sağlanmasına izin verir. Bu üçüncü taraf Cookiesini ayarlayan taraflar, ilgili web sitelerini veya diğer web sitelerini ziyaret ettiklerinde sizi tanımlayabilir.',
                5:'Neden Cookies kullanıyoruz?',
                6:'Birinci taraf ve üçüncü taraf Cookiesini bir nedenle kullanıyoruz. Teknik nedenlerle, sitemizin çalıştığından emin olmak için "kesinlikle gerekli" dediğimiz Cookies oluştururuz. Diğer Cookies de sitemizin kullanıcı deneyimini geliştirmek için kullanıcı tercihlerini daha iyi anlamamızı sağlar.',
                7:'kişisel bilgilerin',
                8:'Web sitemizi ziyaret ettiğinizde, web sitemizde en iyi deneyimi yaşamanızı sağlamak için Cookiesi kullanacağız. Bu Cookies sizinle, tercihlerinizle veya cihazınızla ilgili olabilir. Bu bilgiler genellikle sizi doğrudan tanımlamak için kullanılmaz, ancak size daha kişiselleştirilmiş bir web sitesi deneyimi sağlayabilir. Kişisel bilgi haklarınıza saygı duyuyoruz ve belirli Cookies türlerini devre dışı bırakmayı seçebilirsiniz, ancak belirli Cookies türlerinin engellenmesi, Web Sitenizi ve size sağlayabileceğimiz hizmetleri kullanma deneyimini etkileyebilir.',
                9:'Cookies gizlilik yöneticimizde yaptığınız seçimleri kaydetmek için Cookiesi kullanacağız. Bunun aşağıdaki sonuçları olacaktır:',
                10:'Cookiesinizi silerseniz ve web sitemizi tekrar ziyaret ederseniz, tercihinizi bize tekrar bildirmeniz gerekecektir.',
                11:'Sitemize erişmek için farklı bir cihaz veya tarayıcı kullanıyorsanız, tercihinizi bize tekrar bildirmeniz gerekecektir.',
                12:'Yerleşimin amacı ve yasal dayanağı',
                13:'Web sitemizi ziyaret ettiğinizde, IP adresinizi ve tarayıcı bilgilerinizi toplayıp işleyeceğiz. Bu bilgileri, Web Sitemize geri dönen ziyaretçi olup olmadığınızı belirlemek, web sitemizi ziyaretinizi analiz etmek ve web sitemizin kullanıcı deneyimini iyileştirmek amacıyla toplar ve işleriz.',
                14:'Yukarıda belirtildiği gibi, kişisel verilerinizi Siber Güvenlik Yasası ve geçerli yasa ve yönetmeliklerin gerektirdiği şekilde işleyeceğiz. Erişim davranışı verilerinizi ve nihayetinde bize sağlayabileceğiniz diğer kişisel verileri toplamadan ve işlemeden önce aktif olarak onayınızı isteyeceğiz. Ayrıca, istediğiniz zaman onayınızı geri almamızı talep etme hakkına sahipsiniz. Ayrıca, tarayıcınızda Cookiesi devre dışı bırakmak için Cookies ayarlayarak Cookies kullanımını reddetme hakkına da sahipsiniz. Bu veriler veya sizinle ilgili olarak işleyebileceğimiz diğer kişisel verilerle bizimle iletişime geçmek isterseniz, lütfen aşağıdaki "Haklarınız ve İletişim Bilgileriniz" bölümüne bakın.',
                15:'Kişisel verilerinizin ifşası / alınması',
                16:'Size Web Sitemizdeki hizmetleri sunmak için, bize hizmetleri sağlamak üzere bağlı kuruluşlarımız ve iş ortaklarımızı istihdam edebiliriz. Yukarıdaki amaçlar doğrultusunda, kişisel verileriniz iştiraklerimiz ve iş ortaklarımıza ifşa edilecek ve bunlar tarafından işlenecektir.',
                17:'Saklama süresi',
                18:'Web sitemize erişiminizle ilgili kişisel verilerinizi, Hizmetin sona ermesine veya siz bizden silmemizi talep edene kadar saklayacağız.',
                19:'Haklarınız ve iletişim bilgileriniz',
                20:'Kişisel verilerinizi işlememizle ilgili haklarınız hakkında daha fazla bilgi, soru ve iletişim bilgileri için lütfen Gizlilik Politikasını ziyaret edin.',
                21:'Bu Cookies politikası, web sitemizi ziyaret ettiğinizde sizi tanımak için Cookiesi ve benzer teknikleri nasıl kullandığımızı açıklamak için kullanılır. Bu teknolojilerin ne olduğunu, neden kullandığımızı ve bunları kullanmamız için bize yetki verme hakkınızı açıklar. Bazı durumlarda kişisel bilgileri toplamak için Cookies kullanabiliriz veya kişisel bilgiler oluşturmak için bunları diğer bilgilerle birleştirebiliriz.',
                22:'Cookiesinizi nasıl yönetiyorsunuz?',
                23:"Kendi takdirinize bağlı olarak Sitede Cookies kullanımını kabul etme veya reddetme hakkına sahipsiniz. Tarayıcınızda ayarlayarak tanımlama bilgilerinin kullanımını ayarlayabilirsiniz. Cookies ayarındaki seçenek, toplanan Cookiesi kabul veya reddetmenize olanak tanır. Kesinlikle gerekli olan Cookies, size hizmet etmek için katı bir gereklilik oldukları için reddedilemez. Örneğin Chrome'da, kullanıcılar Ayarlar - Gelişmiş - Gizlilik ve Güvenlik - sayfa Ayarları'nı tıklayarak bir web sitesinin Cookies toplama isteklerini yönetebilir.",
                24:'Cookies ayarındaki seçenekler, bildirim başlığında ve web sitemizde bulunabilir. Cookiesi reddetmeyi seçerseniz, Web Sitemizi yine de kullanabilirsiniz ve Web Sitesinin belirli özellikleri ve alanları kısıtlanabilir. Cookiesi kabul etmek veya reddetmek için Web tarayıcınızın Ayarlarını da ayarlayabilir veya değiştirebilirsiniz. Reddetme tanımlama bilgilerini Web tarayıcınız üzerinden ayarlama şekliniz tarayıcıdan tarayıcıya değişiklik gösterdiğinden, daha fazla bilgi için tarayıcınızın Yardım menüsünü ziyaret etmelisiniz.',
                25:'Kesinlikle gerekli Cookies',
                26:'Bu Cookies, web sitemizin çalışması için gereklidir ve web sitemizde kapatılamaz. Genellikle yaptıklarınıza göre ayarlanırlar, bu da bir hizmet talep etmeye eşdeğerdir. Tarayıcınızı bu Cookiesin kullanımını engelleyecek şekilde ayarlayabilirsiniz, ancak sitenizin bazı işlevleri çalışmayacaktır. Kesinlikle gerekli olan Cookies, kişisel olarak tanımlanabilir herhangi bir bilgiyi saklamaz.',
                27:'Performans ve işlevsellik Cookiesi',
                28:'Bu Cookiesi, web sitemizin performansını ölçmek ve iyileştirmek için ziyaretleri ve trafik kaynaklarını saymak için kullanırız. Hangi sayfaların en popüler olduğunu, hangi sayfaların en az popüler olduğunu ve ziyaretçilerin sitede nasıl gezindiğini anlamamıza yardımcı olabilirler. Bu Cookies tarafından toplanan tüm bilgileri anonim olarak topluyoruz. Bu Cookiesi devre dışı bırakırsanız, web sitemizi ne zaman ziyaret ettiğinizi bilemeyeceğiz ve web sitesi performansını izleyemeyeceğiz ve bazı özellikler kullanılamayabilir.',
                29:'Cookies politikanızı ne sıklıkla güncelliyorsunuz?',
                30:'Bu Cookies Politikasını zaman zaman veya kullandığımız Cookiesdeki değişiklikleri yansıtmak için diğer operasyonel, yasal veya düzenleyici nedenlerle güncelleyebiliriz. Bu nedenle, Cookiesi ve ilgili teknolojileri kullanımımızı anlamak için lütfen bu Cookies Politikasını periyodik olarak gözden geçirin.',
                31:'Bu Cookies politikasının üstündeki tarih, en son güncellemenin zamanını temsil eder.'
            },
            4:{
                1:'سياسة ملفات الارتباط',
                2:'اتصل بنا',
                3:'ما هو ملف تعريف الارتباط؟',
                4:'ملف تعريف الارتباط هو ملف بيانات صغير يتم تخزينه على جهاز الكمبيوتر أو الجهاز المحمول الخاص بك عند زيارة أحد مواقع الويب. يتم استخدام ملفات تعريف الارتباط على نطاق واسع من قبل مالكي مواقع الويب لجعل مواقع الويب تعمل بشكل أفضل أو تعمل بكفاءة أكبر ، ولإبلاغ المعلومات. تسمى ملفات تعريف الارتباط التي يعيّنها مالك الموقع "ملفات تعريف ارتباط الطرف الأول". تسمى ملفات تعريف الارتباط التي تم تعيينها بواسطة طرف آخر غير مالك الموقع "ملفات تعريف ارتباط الطرف الثالث". تسمح ملفات تعريف الارتباط للجهات الخارجية بتوفير وظائف الطرف الثالث (مثل الإعلان والمحتوى التفاعلي والتحليلات) على موقع الويب أو من خلاله. يمكن للأطراف التي تقوم بتعيين ملفات تعريف ارتباط الطرف الثالث هذه التعرف عليك عند زيارة مواقع الويب ذات الصلة أو مواقع الويب الأخرى',
                5:'لماذا نستخدم ملفات تعريف الارتباط؟',
                6:'نحن نستخدم ملفات تعريف الارتباط الخاصة بالطرف الأول والطرف الثالث لعدة أسباب. منها أسباب فنية ، نقوم بإنشاء ملفات تعريف الارتباط للتأكد من أن موقعنا يعمل بكفائة ، وهو ما نطلق عليه "الضرورة القصوى". تمكّننا ملفات تعريف الارتباط الأخرى أيضًا من فهم تفضيلات المستخدم بشكل أكبر لتحسين تجربة المستخدم لموقعنا',
                7:'معلوماتك الشخصية',
                8:'عندما تزور موقعنا على الويب ، سنستخدم ملفات تعريف الارتباط لضمان حصولك على أفضل تجربة على موقعنا. قد تكون ملفات تعريف الارتباط هذه متعلقة بك أو بتفضيلاتك أو بجهازك. لا تُستخدم هذه المعلومات عادةً لتحديد هويتك مباشرةً ولكن يمكن أن توفر لك تجربة موقع ويب أكثر تخصيصًا. نحن نحترم حقوق المعلومات الشخصية الخاصة بك وقد تختار تعطيل أنواع معينة من ملفات تعريف الارتباط ، ومع ذلك ، قد يؤثر تعطيل أنواع معينة من ملفات تعريف الارتباط على تجربة استخدام موقع الويب الخاص بك والخدمات التي يمكننا تقديمها لك',
                9:'سنستخدم ملفات تعريف الارتباط لتسجيل الاختيارات التي تقوم بها في مدير خصوصية ملفات تعريف الارتباط لدينا. سيكون لهذا العواقب التالية',
                10:'إذا قمت بحذف ملف تعريف الارتباط الخاص بك وقمت بزيارة موقعنا الإلكتروني مرة أخرى ، فستحتاج إلى إبلاغنا مرة أخرى بتفضيلاتك',
                11:'إذا كنت تستخدم جهازًا أو متصفحًا مختلفًا للوصول إلى موقعنا ، فستحتاج إلى إبلاغنا مرة أخرى بتفضيلاتك',
                12:'الغرض والأساس القانوني',
                13:'عندما تزور موقعنا ، سنقوم بجمع ومعالجة عنوان IP الخاص بك ومعلومات المتصفح. نقوم بجمع هذه المعلومات ومعالجتها لغرض تحديد ما إذا كنت زائرًا متكررًا لموقعنا على الويب ، وتحليل زيارتك لموقعنا على الويب ، وتحسين تجربة المستخدم لموقعنا.',
                14:'كما هو مذكور أعلاه ، سنعالج بياناتك الشخصية على النحو المطلوب بموجب قانون الأمن السيبراني والقوانين واللوائح المعمول بها. سنسعى بجد للحصول على موافقتك قبل جمع ومعالجة بيانات سلوك الوصول وأي بيانات شخصية أخرى قد تزودنا بها في النهاية. بالإضافة إلى ذلك ، يحق لك أن تطلب منا إلغاء موافقتك في أي وقت. لديك أيضًا الحق في رفض استخدام ملفات تعريف الارتباط عن طريق تعيين ملفات تعريف الارتباط في متصفحك لتعطيل ملفات تعريف الارتباط. إذا كنت ترغب في الاتصال بنا حول البيانات أو غيرها من البيانات الشخصية التي قد نعالجها فيما يتعلق بك ، فيرجى الرجوع إلى قسم "حقوقك ومعلومات الاتصال" أدناه.',
                15:'كشف / استلام بياناتك الشخصية',
                16:'من أجل تزويدك بالخدمات الموجودة على موقعنا الإلكتروني ، قد نوظف الشركات التابعة لنا وشركائنا التجاريين لتقديم الخدمات لنا. للأغراض المذكورة أعلاه ، سيتم الكشف عن بياناتك الشخصية ومعالجتها من قبل الشركات التابعة لنا وشركاء الأعمال',
                17:'مدة الاحتفاظ',
                18:'سنحتفظ ببياناتك الشخصية حول وصولك إلى موقعنا الإلكتروني حتى إنهاء الخدمة أو حتى تطلب منا حذفها',
                19:'حقوقك ومعلومات الاتصال الخاصة بك',
                20:'لمزيد من المعلومات والاستفسارات ومعلومات الاتصال حول حقوقك المتعلقة بمعالجتنا لبياناتك الشخصية ، يرجى زيارة سياسة الخصوصية',
                21:'تُستخدم سياسة ملفات تعريف الارتباط هذه لوصف كيفية استخدامنا لملفات تعريف الارتباط والتقنيات المماثلة لتحديد هويتك عند زيارة موقعنا على الويب. هذه السياسة تصف ماهية هذه التقنيات ، ولماذا نستخدمها ، وحقك في السماح لنا باستخدامها. في بعض الحالات ، قد نستخدم ملفات تعريف الارتباط لجمع المعلومات الشخصية ، أو قد ندمجها مع معلومات أخرى لتكوين معلومات شخصية',
                22:'كيف تدير ملفات تعريف الارتباط الخاصة بك؟',
                23:'لديك الحق في قبول أو رفض استخدام ملفات تعريف الارتباط على الموقع وفقًا لتقديرك. يمكنك ضبط استخدام ملفات تعريف الارتباط عن طريق تعيينها في متصفحك. يتيح لك الخيار الموجود في إعداد ملفات تعريف الارتباط اختيار قبول أو رفض ملفات تعريف الارتباط المجمعة. . لا يمكن تعطيل ملفات تعريف الارتباط الأساسية، لأنها ضرورية لتقديم خدماتنا لك. في',
                24:'يمكن العثور على الخيارات في إعداد ملفات تعريف الارتباط على شريط الإشعارات وعلى موقعنا الإلكتروني. إذا اخترت تعطيل ملفات تعريف الارتباط ، فلا يزال بإمكانك استخدام موقعنا الإلكتروني وقد يتم تقييد ميزات ومناطق معينة في الموقع. يمكنك أيضًا تعيين أو تعديل إعدادات مستعرض الويب الخاص بك لقبول ملفات تعريف الارتباط أو رفضها. نظرًا لأن الطريقة التي تحدد بها حالة ملفات تعريف الارتباط من خلال مستعرض الويب الخاص بك تختلف من متصفح لآخر ، يجب عليك زيارة قائمة المساعدة بالمستعرض الخاص بك للحصول على مزيد من المعلومات.',
                25:'ملفات تعريف الارتباط الأساسية',
                26:'تعد ملفات تعريف الارتباط هذه ضرورية لتشغيل موقعنا ولا يمكن تعطيلها على موقعنا. يتم إعدادها عادةً بناءً على ما تفعله ، وهو يمثل طلب خدمة. يمكنك ضبط المستعرض الخاص بك على حظر استخدام ملفات تعريف الارتباط هذه ، لكن بعض وظائف الموقع لن تعمل لديك. ملفات تعريف الارتباط الضرورية الأساسية لا تخزن أي معلومات تعريف شخصية.',
                27:'ملفات تعريف الارتباط الخاصة بالأداء والوظائف',
                28:'نحن نستخدم ملفات تعريف الارتباط هذه لحساب الزيارات ومصادر حركة المرور من أجل قياس أداء موقعنا وتحسينه. يمكن أن تساعدنا في فهم الصفحات الأكثر طلباً والصفحات الأقل طلباً وكيفية تنقل الزوار في الموقع. نقوم بتجميع جميع المعلومات التي تم جمعها بواسطة ملفات تعريف الارتباط هذه بشكل خفي. إذا قمت بتعطيل ملفات تعريف الارتباط هذه ، فلن نعرف متى تزور موقعنا ولن نتمكن من مراقبة أداء موقع الويب ، وقد تصبح بعض الميزات غير متوفرة.',
                29:'كم مرة نقوم بتحديث سياسة ملفات تعريف الارتباط الخاصة بك؟',
                30:'قد نقوم بتحديث سياسة ملفات تعريف الارتباط هذه من وقت لآخر أو لأسباب تشغيلية أو قانونية أو تنظيمية أخرى لتعكس التغييرات في ملفات تعريف الارتباط التي نستخدمها. لذلك ، يرجى مراجعة سياسة ملفات تعريف الارتباط هذه بشكل دوري لفهم استخدامنا لملفات تعريف الارتباط والتقنيات ذات الصلة.',
                31:'يمثل التاريخ الموجود أعلى سياسة ملفات تعريف الارتباط هذه وقت آخر تحديث.'
            },
            5:{
                1:'سیاست کوکی',
                2:'تماس با ما',
                3:'کوکی چیست؟',
                4:'کوکی یک فایل کوچک اطلاعاتی می باشد که زمانیکه وارد یک وبسایت می شوید روی کامپیوتر یا موبایل شما ذخیره می شود. صاحبان وبسایت ها از این کوکی ها بطور گسترده برای بهبود کیفیت و عملکرد وبسایت خود و همچنین گزارش اطلاعات استفاده می کنند. به کوکی های تنظیم شده توسط صاحبان شرکت "کوکی های شخص اول" گفته می شود. به کوکی هایی که توسط شخص دیگر تنظیم می شوند "کوکی های شخص سوم" گفته می شود. کوکی های شخص ثالث مجاز هستند قابلیت های شخص ثالث (مانند تبلیغات، محتوای تعاملی و تجزیه و تحلیل) که در یک وب سایت تنظیم شده است را در همان وبسایت ارائه دهند. طرفینی که کوکی های شخص ثالث را تنظیم می کنند می توانند هنگام مراجعه به وب سایت های مربوطه یا سایر وب سایت ها شما را شناسایی کنند.',
                5:'چرا باید از کوکی استفاده کرد؟',
                6:'بنابردلایلی از کوکی شخص اول و شخص سوم استفاده می شود. از دیدگاه فنی کوکی ها را به دنبال کسب اطمینان از فعال بودن سایت استفاده میکنند که ما آن ها را "بسیار ضروری" می نامیم. کوکی های دیگر همچنین ما را در تشخیص اولویت های کاربران سایت ما برای بهبود عملکرد کمک می کنند.',
                7:'اطلاعات شخصی شما',
                8:' زمانیکه  به وبسایت ما سر میزنید از کوکی ها برای اطمینان از مفید بودن سایت برای شما استفاده میکنیم. این کوکی ها ممکن است مرتبط با شما، اولویت های شما و یا ابزار شما باشد. این اطلاعات معمولاً برای شناسایی مستقیم شما مورد استفاده قرار نمی گیرند اما می تواند تجربه شخصی سازی وب سایت را به شما ارائه دهد. ما به حقوق اطلاعات شخصی شما احترام میگذاریم و ممکن است شما انواع خاصی از کوکی ها را غیرفعال کنید با این حال، مسدود کردن انواع خاصی از کوکی ها ممکن است بر تجربه استفاده از وب سایت ما و سرویس هایی که قادر به ارائه به شما هستیم تأثیر بگذارد.',
                9:'ما از کوکی ها برای ثبت انتخاب های شما در مدیریت حریم خصوصی کوکی های خود استفاده خواهیم کرد که نتایج ذیل حاصل خواهد شد:',
                10:'در صورت حذف کوکی و مراجعه مجدد به وبسایت ما، اگر تمایل داشته باشید بایستی به اطلاع ما برسانید.',
                11:'در صورت استفاده از دستگاه یا مرورگرهای مختلف برای ورود به سایت ما، اگر تمایل داشته باشید بایستی به اطلاع ما برسانید.',
                12:'	اهداف و مبانی قانونی',
                13:'هنگام بازدید از وب سایت ما ، ما آدرس IP و اطلاعات مرورگر شما را جمع آوری و پردازش می کنیم. ما این اطلاعات را جمع آوری و پردازش می کنیم تا تعیین کنیم که آیا شما بازدید کننده بازگشتی به وب سایت ما هستید ، بازدید شما از وب سایت ما را تجزیه و تحلیل کرده و تجربه کاربر وب سایت ما را بهبود می بخشد.',
                14:'همانطور که گفته شد اطلاعات شخصی شما را مطابق قانون امنیت سایبری و قوانین و مقررات قابل اجرا، پردازش خواهیم کرد. قبل از جمع آوری و پردازش داده های مربوط به دسترسی شما و سایر داده های شخصی دیگری که در نهایت ممکن است به ما ارائه دهید، مستمرا به دنبال کسب رضایت شما هستیم. علاوه بر این شما حق لغو این رضایت نامه هر زمان که بخواهید را دارید. شما همچنین با تنظیم کوکی ها در مرورگر خود برای غیرفعال کردن کوکی ها حق منع استفاده ما از کوکی ها را دارید. اگر می خواهید با این داده ها یا سایر اطلاعات شخصی که ممکن است در رابطه با شما پردازش کنیم با ما تماس بگیرید لطفاً به بخش "حقوق و اطلاعات تماس خود" در زیر مراجعه کنید',
                15:'انتشار/ دریافت اطلاعات شخصی',
                16:'به   منظور ارائه خدمات در وبسایت ممکن است از شرکت های وابسته و شرکای تجاری خود کمک بگیریم. برای رسیدن به اهداف فوق اطلاعات شخصی شما توسط شرکت های وابسته و شرکای تجاری ما منتشر و پردازش می شود.',
                17:'زمان نگهداری',
                18:'ما اطلاعات شخصی شما در مورد دسترسی به وب سایت خود را تا پایان سرویس یا تا زمانی که از ما بخواهید آن را حذف کنیم حفظ خواهیم کرد.',
                19:'حقوق و اطلاعات تماس شما',
                20:'برای کسب اطلاعات بیشتر، هرگونه سوال و اطلاعات تماس مربوط به حقوق خود در زمینه ی روش ما در مدیریت اطلاعات شخصی خود بخش حفظ حریم خصوصی را مطالعه فرمایید.',
                21:'از این کوکی ها برای توصیف نحوه استفاده ما از کوکی ها و تکنیک های مشابه برای شناسایی شما هنگام بازدید از وب سایت ما استفاده می شود. این کار دلیل حضور اینگونه فن آوری ها، دلیل استفاده ی ما از آن ها و اختیار شما برای دادن اجازه ی به ما جهت استفاده از آن ها را توضیح می دهد. در برخی موارد ممکن است از کوکی ها برای جمع آوری اطلاعات شخصی شما یا تشکیل اطلاعات شخصی شما با ترکیب با سایر اطلاعات استفاده کنیم.',
                22:'چگونه کوکی خود را مدیریت کنیم؟',
                23:'شما در پذیرش یا رد استفاده از کوکی ها برای تشخیص هویت خود در سایت محتار می باشید. میتوانید استفاده از کوکی ها را با تنظیم آن ها در مرورگر خود تنظیم کنید. گزینه ی موجود در تنظیمات کوکی به شما امکان پذیرش یا رد کوکی های جمع آوری شده را می دهد. کوکی های ضروری به هیچ عنوان قابل رد کردن نمی باشند از آنجاییکه جز ملزومات مهم در خدمت رسانی به شما می باشند. به عنوان مثال در مرورگر کروم کاربران میتوانند کوکی های گردآوری شده ی وبسایت را از این طریق مدیریت کنند؛ کلیک بر روی گزینه ی Setting- Advanced – Privacy & Security – Page Setting.',
                24:'گزینه های موجود در تنظیمات کوکی را می توان در بنر اعلان و وبسایت مشاهده کرد. در صورت انتخاب گزینه ی رد کوکی ها، همچنان مجاز به استفاده از وبسایت می باشید اما دسترسی به برخی از ویژگی ها و گزینه ها محدود خواهد شد. همچنین می توانید تنظیمات مرورگر وب خود را برای پذیرش یا رد کوکی ها تنظیم یا اصلاح کنید. از آنجا که نحوه تنظیم رد کوکی ها از طریق مرورگر وب شما از مرورگری به مرورگر دیگر متفاوت است برای اطلاعات بیشتر باید فهرست راهنمای مرورگر خود را مطالعه کنید.',
                25:'کوکی های کاملا ضروری',
                26:'این دسته از کوکی ها برای فعالیت وبسایت ما ضروری بوده و قابل بسته شدن نمی باشند. این اطلاعات غالبا بر اساس فعالیتی که شما انجام میدهید، که برابر با درخواست خدمات می باشد، تنظیم میشوند. می توانید مرورگر خود را طوری تنظیم کنید تا از استفاده از این کوکی ها جلوگیری کند که منجر به عدم کارکرد برخی از عملکردهای سایت شما خواهد شد. كوكی های كاملاً ضروری هیچ كدام از اطلاعات قابل شناسایی شخصی را ذخیره نمی كنند.',
                27:'کوکی های اجرا و عملکرد',
                28:'ما از این کوکی ها به منظور شمارش تعداد بازدیدها از وبسایت و منابع ترافیکی در جهت سنجش و اصلاح عملکرد وبسایت استفاده می کنیم. اطلاعات بدست آمده از این کوکی  ها به ما میفهماند کدام صفحه ها از محبوبیت عمومی برخوردار هستند، کدام صفحه ها بازدید کمتری دارند و نحوه ی بازدید بازدیدکنندگان از وبسایت. تمام اطلاعات جمع آوری شده توسط این کوکی ها را به صورت ناشناس جمع آوری می کنیم. در صورت غیرفعال کردن کوکی ها امکان بازدید مجدد شما از سایت، کنترل عملکرد وب سایت را نخواهیم داشت و برخی از ویژگی ها ممکن است در دسترس شما قرار نگیرند.',
                29:'سیاست کوکی خود را چند وقت یکبار به روز می کنید؟',
                30:'ممکن است سیاست کوکی ها را هر از گاهی یا به دلایل عملیاتی، قانونی یا نظارتی دیگر به روزرسانی کنیم تا تغییرات کوکی هایی را که استفاده می کنیم را منعکس کند. بنابراین جهت اطلاع از استفاده ما از کوکی ها و فن آوری های مربوطه لطفاً سیاست کوکی ها را به صورت دوره ای مرور کنید.',
                31:'تاریخ ذکر شده در بالای خط مشی این کوکی آخرین بروزرسانی را نشان می دهد.'
            }
        },
        head:['Cookie政策','Cookie Policy','Cookie politikası','سياسة ملفات الارتباط','سیاست کوکی']




    };
  },
   metaInfo() {return {
       title: this.head[this.curLanguage-1]+'-N Sky',
   }
      
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

//    if(this.curLanguage!=2){
//        let pName = this.$route.name.substring(0,this.$route.name.length-2)
//        let pNameStr = pName + languageCode[this.curLanguage]
//        this.$router.push({name:pNameStr});
//    }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
    window.scroll({
      top: 0,
      left: 0,
      behavior: 'smooth'
    });
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       this.curLanguage = val;

    //    console.log(this.curLanguage)
    //    let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
    //    let pNameStr = pName + languageCode[val]
    //    this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-8 {
       width: 66.66666667%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background: rgba(0, 0, 0, 0) linear-gradient(90deg, #272833 2.5%, #1f202c 97%) repeat scroll 0% 0%;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}

.pdf-list{
   li{width: 20%;float: left;text-align: center;margin-bottom: 50px;

     i{font-size: 120px;display: block;color: #d51820;margin-bottom: 5px;}
     span{color: #333;}
   }
}

.cookie-box{
   h5{font-size: 18px;font-weight: bold;margin:50px 0 10px}
   p{font-size: 14px;margin-bottom: 10px;}
}

 
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
.rightToLeft{
    direction: rtl!important;
}


</style>
