<template>
    <div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}">
            
            <div class="container-fluid top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-9">
                            <h1>
                                {{language[curLanguage][1]}}
                            </h1>
                            <!-- <ol class="breadcrumb">
                                <li class="home"><router-link to="/" class="home">N Sky</router-link></li>
                                <li class="post post-page current-item">{{language[curLanguage][1]}}</li>
                            </ol> -->
                        </div>

                        <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                            <div class="option-nav">
                                <router-link to="/contact">
                                    <i class="fas fa-envelope"></i>
                                    <span>{{language[curLanguage][2]}}</span>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container metatrader1 hidden-xs hidden-sm hidden-l-sm">
                <div class="row text-center">
                    <div class="feature-item7 noborder">
                        <router-link to="/mt5" class="device">
                            <i class="tfxfont3 xmPc"></i>
                            <p class="text-center ">
                                {{language[curLanguage][38]}}
                            </p>
                        </router-link>
                    </div>


                    <div class="feature-item7 noborder">
                        <router-link to="/mt5-webtrader" class="device">
                            <i class="tfxfont3 xmLaptop"></i>
                            <p class="text-center ">
                                {{language[curLanguage][39]}}
                            </p>
                            </router-link>
                    </div>
                    <div class="currentDevicePage">
                        <div class="device">
                            <i class="tfxfont3 xmIpad"></i>
                            <p class="text-center ">
                                {{language[curLanguage][40]}}
                            </p>
                        </div>
                    </div>
                    <div class="feature-item7 noborder">
                        <router-link to="/mt5-iphone" class="device">
                            <i class="tfxfont3 xmIphone"></i>
                            <p class="text-center ">
                                {{language[curLanguage][41]}}
                            </p>
                            </router-link>
                    </div>
                    <div class="feature-item7 noborder">
                        <router-link to="/mt5-android" class="device">
                            <i class="tfxfont3 xmAndroid-phone"></i>
                            <p class="text-center ">
                                {{language[curLanguage][42]}}
                            </p>
                            </router-link>
                    </div>
                    <!-- <div class="feature-item7 noborder">
                        <router-link to="/mt5">
                            <i class="tfxfont3 xmAndroid-tablet"></i>
                            <p class="text-center top20">
                                Android Tablet MT5                </p>
                        </router-link>
                    </div> -->
                </div>

            </div>
            <div class="container hidden-xs hidden-sm hidden-l-sm">
                <div class="row top80">
                    <div class="col-sm-12 col-md-6">
                        <h2>{{language[curLanguage][3]}}</h2>
                        <div class="quote-msg top30">
                            <p><i class="quote-right "></i>
                            {{language[curLanguage][4]}}
                            </p>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-12 top40">
                                <h3>{{language[curLanguage][5]}}</h3>
                                <ul class="checks top35">
                                    <li>{{language[curLanguage][6]}}</li>
                                    <li>{{language[curLanguage][7]}}</li>
                                    <li>{{language[curLanguage][8]}}</li>
                                    <li>{{language[curLanguage][9]}}</li>
                                    <li>{{language[curLanguage][10]}}</li>
                                </ul>
                                <div class="row top70 mobile-btn-box">
                                    <div class="col-sm-8 col-md-8 text-center">
                                        <router-link to="/register" class="btn btn-solid btn-green-mobile btn-block">
                                            <i class="fas fa-pencil-square-o"></i>
                                            {{language[curLanguage][11]}}
                                        </router-link>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <a href="https://download.mql5.com/cdn/mobile/mt5/ios?server=HKNobleSkyTreasure-real" class="btn-appstore" target="_blank">
                                            <img src="../../static/images/page-img/mt5-ipad/app-store.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-sm-6 visible-sm">
                                <img src="../../../static/images/page-img/mt5-iphone/mt5-iphone.png?v2.0" class="img-responsive center-block">
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-6 top60 hidden-sm">
                        <img class="img-responsive center-block" src="../../static/images/page-img/mt5-ipad/mt5-ipad.png?v2.0" alt="mt5 ipad screenshot">
                    </div>
                </div>
            </div>
            <section class="section top80">
                <div class="container metatrader">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-center big">{{language[curLanguage][12]}}</h2>
                            <p class="text-center">{{language[curLanguage][13]}}</p>
                            <img class="img-responsive center-block top30" src="../../static/images/page-img/mt5-ipad/mt5-ipad-half.png?v2.0" alt="mt5 ipad screenshot">
                        </div>
                    </div>
                    </div>
            </section>
            <div class="container-fluid">
                <div class="container">
                    <div class="dis30 visible-xs visible-sm"></div>
                <div class="row btn-a-box">
                    <div class="col-sm-6 col-md-6 col-sm-offset-2 col-md-offset-2 text-center">
                    <router-link to="/register" class="btn-a crate-account-btn">
                        <i class="fas fa-pencil-square-o"></i>
                        {{language[curLanguage][11]}}
                    </router-link>
                    </div>
                    <div class="col-sm-4 col-md-4 text-center">
                    <div class="dis20 visible-xs"></div>
                    <a href="https://download.mql5.com/cdn/mobile/mt5/ios?server=HKNobleSkyTreasure-real" class="center-block pull-left btn-appstore" target="_blank">
                        <img src="../../static/images/page-img/mt5-ipad/app-store.png">
                    </a>
                    </div>
                    <div class="dis20"></div>
                    <div class="col-12 text-center">
                    <div class="col-12 text-center">
                        <p class="text-center">{{language[curLanguage][14]}}</p>
                    </div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <hr>
                </div>
                <div class="container metatrader">
                    <div class="row top50">
                        <div class="col-md-12">
                            <h2><i class="tfxfont3 xmInstall-pc sm red"></i>{{language[curLanguage][15]}}</h2>
                        </div>
                        <div class="col-sm-12 col-md-4 top20">
                            <h3 class="red">{{language[curLanguage][16]}}</h3>
                            <ul class="arrows top20">
                                <li>{{language[curLanguage][17]}}<a href="https://download.mql5.com/cdn/mobile/mt5/ios?server=HKNobleSkyTreasure-real">{{language[curLanguage][18]}}</a>{{language[curLanguage][19]}}</li>
                                <li>{{language[curLanguage][20]}}</li>
                                <li>{{language[curLanguage][21]}}</li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-4 top20">
                            <h3 class="red">{{language[curLanguage][22]}}</h3>
                            <ul class="arrows top20">
                                <li>{{language[curLanguage][23]}}</li>
                                <li>{{language[curLanguage][24]}}</li>
                                <li>{{language[curLanguage][25]}}</li>
                                <li>{{language[curLanguage][26]}}</li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-4 top20">
                            <h3 class="red">{{language[curLanguage][27]}}</h3>
                            <ul class="arrows top20">
                                <li>{{language[curLanguage][28]}}</li>
                                <li>{{language[curLanguage][29]}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="faq">
                <div class="container top80">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>{{language[curLanguage][30]}}</h2>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="accordionText" class="hidden"> </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btnAccordion pull-right" data-parent="#accordion1"> </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row top20">
                        <div class="col-md-12">
                            <div class="panel-group" id="accordion1">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">{{language[curLanguage][31]}}</h4>
                                        <i :class="{rightIcon:curLanguage==4||curLanguage==5}"  class="fa fa-angle-down pull-right"></i>
                                    </div>
                                    <div id="a1collapse1" class="panel-collapse collapse">
                                        <div class="panel-body gray">
                                            <p>{{language[curLanguage][32]}}<router-link to="/register">{{language[curLanguage][18]}}</router-link></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">{{language[curLanguage][33]}}</h4>
                                        <i :class="{rightIcon:curLanguage==4||curLanguage==5}"  class="fa fa-angle-down pull-right"></i>
                                    </div>
                                    <div id="a1collapse1" class="panel-collapse collapse">
                                        <div class="panel-body gray">
                                            <p>
                                                {{language[curLanguage][34]}}
                                            </p>
                                        </div>
                                    </div>
                                </div>



                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">{{language[curLanguage][35]}}</h4>
                                        <i :class="{rightIcon:curLanguage==4||curLanguage==5}"  class="fa fa-angle-down pull-right"></i>
                                    </div>
                                    <div id="a1collapse1" class="panel-collapse collapse">
                                        <div class="panel-body gray">
                                            <p>
                                                {{language[curLanguage][36]}}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dis70"></div>

        </div>

        <pageFooter />
    </div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {languageCode} from '../utils/lan-code'
import {ipad} from '../utils/mt5-lang'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         language:ipad,
         languageGroup:{
             1:'zh',
             2:'en',
             3:'tr',
             4:'ar',
             5:'fa'
         },
         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5 ipad-N Sky',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

  //  if(this.curLanguage!=2){
  //      let pName = this.$route.name.substring(0,this.$route.name.length-2)
  //      let pNameStr = pName + languageCode[this.curLanguage]
  //      this.$router.push({name:pNameStr});
  //  }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){


    window.scroll({
      top: 0,
      left: 0,
      behavior: 'smooth'
    });

      let element = document.querySelectorAll(".panel-heading");




      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){

               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }



  },




  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       this.curLanguage = val;
       console.log(this.curLanguage)
      //  let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
      //  let pNameStr = pName + languageCode[val]
      //  this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }

   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background: rgba(0, 0, 0, 0) linear-gradient(90deg, #272833 2.5%, #1f202c 97%) repeat scroll 0% 0%;
       padding: 20px 0 20px 0;
       margin: 0;
   }

   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #ffa200 ;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


//    a:focus, a:visited {
//        color: #d51820;
//    }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }


.row.mobile-btn-box{margin-left: -15px;margin-right: -15px;margin-top: 70px;}
a.btn-green-mobile{background-color: #74c109;width: auto;font-size: 20px;display: inline-block;color: #fff; padding: 10px;}
a.btn-green-mobile:hover{background-color: #29A643;}
.row.mobile-btn-box.top70 .btn-green-mobile{width: 340px;}

.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

// .panel-default>.panel-heading i.fa-angle-up {
//     color: #d51820 !important;
// }
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}
.panel-collapse.showFlag{display: none;}

.btnAccordion.pull-right{display: none;}

 
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
.btn-a-box{text-align: center;padding-top: 50px;}
.btn-a{
  display: inline-block;
  width: 450px;
  background-color: #74c109;
  color: #fff!important;
  font-size: 24px;
  padding:10px 20px;
}
.btn-a:hover{background-color: #29A643;}
.btn-a.download-btn{background-color: #d51820;}
.btn-a.download-btn:hover{background-color:#b30000 ;}
</style>
