<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" v-bind:class="{rightToLeft:(curLanguage==4||curLanguage==5)}">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1>{{language[curLanguage][1]}}</h1>
                  <!-- <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">N Sky</router-link></li>
                    <li class="post post-page current-item">{{language[curLanguage][1]}}</li></ol> -->
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="fas fa-envelope"></i>
                      <span>{{language[curLanguage][2]}}</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <h2 class="top80">{{language[curLanguage][3]}}</h2>
            <div class="row text-center feature-icons">
              <div class="feature-item4">
                <i class="tfxfont3 xmArrow-circle fs100 "></i>
                <p>{{language[curLanguage][4]}}</p>
              </div>
              <div class="feature-item4">
                <i class="tfxfont3 xmChart fs100 "></i>
                <p>{{language[curLanguage][5]}}</p>
              </div>
              <div class="feature-item4 hidden-xs">
                <i class="tfxfont3 xmStrategy fs100 "></i>
                <p>{{language[curLanguage][6]}}</p>
              </div>
              <div class="feature-item4 hidden-xs">
                <i class="tfxfont3 xmPercent fs100 "></i>
                <p>{{language[curLanguage][7]}}</p>
              </div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container">
            <div class="box-text-btn" v-bind:class="{rtlangbtb:(curLanguage==4||curLanguage==5)}">
              <div class="row">
                <div class="col-8" style="margin: auto;">
                  {{language[curLanguage][8]}}<br><br>
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">{{language[curLanguage][9]}}</router-link>
                </div>
                <div class="col-4 text-center">
                  <img src="../../static/images/slide-1-graph.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row">
              <div class="col-md-12">
                <h2>{{language[curLanguage][10]}}</h2>
                <p>{{language[curLanguage][11]}}</p>
                <p>{{language[curLanguage][12]}}</p>
                <h2 class="top80">{{language[curLanguage][13]}}</h2>
                <p>{{language[curLanguage][14]}}</p>
                <p>{{language[curLanguage][15]}}</p>
                <p>{{language[curLanguage][16]}}</p>
                <h2 class="top80">{{language[curLanguage][17]}}</h2>
                <p>{{language[curLanguage][18]}}</p>
                <p>{{language[curLanguage][19]}}</p>
                <h2 class="top80">{{language[curLanguage][20]}}</h2>
                <h3>
                  <strong>{{language[curLanguage][21]}}</strong></h3>
                <div class="dis10"></div>
                <p>{{language[curLanguage][22]}}
                  <strong>{{language[curLanguage][23]}}</strong> {{language[curLanguage][24]}}
                  <strong>{{language[curLanguage][25]}}</strong> {{language[curLanguage][26]}}</p>
                <div class="dis10"></div>
                <div class="section-box small" style="font-size: 14px;">
                  <p>
                    <strong>
                      <u>{{language[curLanguage][27]}}</u>
                    </strong>
                  </p>{{language[curLanguage][28]}}
                  <br>{{language[curLanguage][29]}}
                  <br>{{language[curLanguage][30]}}
                  <br>{{language[curLanguage][31]}}
                  <br>{{language[curLanguage][32]}}</div>
                <div class="dis10"></div>
                <p>{{language[curLanguage][33]}}</p>
                <div class="section-box small" style="font-size: 14px; color:#ffb83c"><strong>{{language[curLanguage][34]}}</strong></div>
                <div class="dis10 "></div>
                <p>{{language[curLanguage][35]}}<strong> +/- </strong>{{language[curLanguage][36]}}</p>
                <small>{{language[curLanguage][37]}}</small>
                <div class="dis20 "></div>
                <!-- <h3><strong>Stocks and stock indexes</strong></h3>
                <div class="dis10 "></div>
                <p>The overnight interest rate of stocks and stock index commodities is determined by the inter-bank lending rate of stocks or stock indexes (for example, securities listed in Australia, that is, the short-term loan interest rate between Australian banks is used), and is based on long and short positions +/- N Sky premium.</p>
                <div class="dis10 "></div>
                <div class="section-box small " style="font-size: 14px; ">
                <p><strong><u>E.g：</u></strong></p>
                For example: You buy Unilever (UK listed stock), and the UK short-term interbank offer rate is 1.5%. The calculation method of overnight interest on its long position is as follows:
                <br> -1.5%/365 – N Sky daily premium Conversely,<br>the short position is calculated as + 1.5% / 365-N Sky daily premium.            </div>
                <div class="dis10 "></div>
                <p>The daily rate is calculated as follows:</p>
                <div class="red section-box small " style="font-size: 14px; ">
                  <strong>Transaction size X closing price X (+/- short-term interbank offer rate-N Sky premium)</strong></div>
                <div class="dis10"></div>
                <p>The above
                  <strong>+/-</strong>depends on the short or long position of the trading commodity.</p> -->
                <h2 class="top80">{{language[curLanguage][38]}}</h2>
                <p>{{language[curLanguage][39]}}</p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {languageCode} from '../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false,
        language:{
            1:{
                1:'过夜仓位',
                2:'联系我们',
                3:'N Sky™的展期交割',
                4:'有竞争力的掉期利率',
                5:'透明隔夜利息',
                6:'3日展期交割策略',
                7:'依照现行利息率',
                8:'在N Sky™交易外汇，贵金属和能源。',
                9:'建立账户',
                10:'隔夜利息',
                11:'隔夜持仓可能会收取隔夜利息。就外汇商品而言，该金额取决于多头或空头头寸，再加上货币对间的利率差异。',
                12:'请注意，仅现货商品会产生隔夜利息。期货商品仅有到期日期，没有隔夜利息。',
                13:'关于展期交割',
                14:'展期交割是延长开仓交割日(比如：已执行交易的交割日期)的行为。外汇市场允许所有的即期交易在两个营业日内完成。',
                15:'然而，在保证金商品交易中，因为没有实体交割，因此所有未平仓头寸必须在每天结束时（22:00 GMT）关闭，并在下一个交易日重新开仓。因为这个机制而产生所谓的隔夜利息。',
                16:'隔夜利息是依隔夜利息合约所制定。对交易者而言，可以是成本或收益。 N Sky™不会真的进行实质关仓和重新开仓，而是根据当前利率，于交易账户中加计隔夜利息。',
                17:'N Sky™延期付款政策',
                18:'交易日截止时间22:00 GMT后的持仓头寸，N Sky™ 保证提供所有客户最有利的隔夜利息率并呈现于交易账户中。',
                19:'周六和周日虽然市场休市，但银行仍会计算周末持仓的利息。为了调整此落差，N Sky规定于每周三应收取3天的隔夜利息。',
                20:'计算展期交割',
                21:'外汇与现货贵金属（黄金和白银）',
                22:'外汇和现货贵金属的隔夜利息率，是取决于即期交割率（明天和后天），且包括N Sky™溢价。',
                23:'即期交割',
                24:'率是依货币间的利率差而产生，N Sky™',
                25:'无法',
                26:'任意操控。',
                27:'例如：',
                28:'例如：您交易USDJPY货币对，且即期交割率如下：',
                29:'多头头寸为+0.5%',
                30:'空头头寸为-1.5%',
                31:'在此设定下，因美国的利率高于日本。此货币对的多头头寸隔夜利息将为+ 0.5％ - N Sky™溢价。',
                32:'反之，空头头寸的计算方式为 -1.5% - N Sky™溢价。',
                33:'计算方式如下：',
                34:'交易规模 X（+/- 即期交割率 - N Sky™溢价）*',
                35:'上述的',
                36:'依货币对间的利率差而定。',
                37:'*该金额以报价货币呈现。',
                38:'预订展期交割',
                39:'交易日的起讫时间点为22:00 GMT。在22:00 GMT整点后的所有持仓订单都属隔夜持仓，并加计隔夜利息。但在22:01后，新增的头寸则不在此规范内。反之，如果您在21:59开仓，则会立即于22:00点后计算隔夜利息。对于在22:00 GMT开立的所有头寸，隔夜利息将在一小时内显示在交易账户中。'
            },
            2:{
                1:'Overnight position',
                2:'Contact Us',
                3:'N Sky™ rollover',
                4:'Competitive swap rates',
                5:'Transparent overnight interest',
                6:'3-day rollover delivery strategy',
                7:'According to current interest rate',
                8:'Trade forex, Individual stocks, Commodities, Precious metals, Energies and Equity indices at N Sky™',
                9:'OPEN AN ACCOUNT',
                10:'Overnight interest',
                11:'Overnight interest may be charged for positions held overnight. For foreign exchange commodities, the amount depends on the long or short position, plus the interest rate difference between currency pairs. But in terms of stocks and stock indexes, it depends only on short or long positions. ',
                12:'Please note that only spot commodities will accrue overnight interest. Futures commodities only have an expiry date and no overnight interest.',
                13:'About rollover',
                14:'Rollover delivery is the act of extending the delivery date of opening a position (for example, the delivery date of an executed transaction). The foreign exchange market allows all spot transactions to be completed within two business days.',
                15:'However, in margin commodity trading, because there is no physical delivery, all open positions must be closed at the end of each day (22:00 GMT) and reopened on the next trading day. The so-called overnight interest is generated because of this mechanism.',
                16:'The overnight interest is based on the overnight interest contract. For traders, it can be cost or benefit. N Sky™ will not actually close and reopen positions, but will add overnight interest to the trading account based on the current interest rate.',
                17:'N Sky™ deferred payment policy',
                18:'For positions held after the closing time of 22:00 GMT on the trading day, N Sky™ guarantees to provide all Clients with the most favorable overnight interest rate and present it in the trading account. ',
                19:'Although the market is closed on Saturday and Sunday, the bank will still calculate the interest on weekend positions. In order to adjust this gap, N Sky™ stipulates that 3 days of overnight interest should be charged every Wednesday.',
                20:'Calculate rollover',
                21:'Foreign exchange and Spot precious metals (Gold and Silver)',
                22:'The overnight interest rate of foreign exchange and spot precious metals is determined by the spot delivery rate (tomorrow and the day after tomorrow), and includes the N Sky™ premium.',
                23:'The spot delivery rate',
                24:'is generated according to the interest rate difference between currencies,and N Sky™',
                25:'cannot',
                26:'be arbitrarily manipulated.',
                27:'E.g:',
                28:'For example: You trade USDJPY currency pair, and the spot delivery rate is as follows:',
                29:'+0.5% for long positions',
                30:'Short position is -1.5%',
                31:'Under this setting, the interest rate in the United States is higher than that in Japan. The overnight interest on long positions in this currency pair will be +0.5%-N Sky™ premium.',
                32:'Conversely, the short position is calculated as -1.5%-N Sky™ premium.',
                33:'The calculation method is as follows:',
                34:'Transaction size X（+/- spot delivery rate - premium）*',
                35:'The above',
                36:'depends on the interest rate difference between currency pairs.',
                37:'*The amount is presented in the quote currency.',
                38:'Scheduled delivery',
                39:'The starting and ending time of the trading day is 22:00 GMT. All orders held after the hour of 22:00 GMT are held overnight, and overnight interest will be added. But after 22:01, the new position is not within this specification. Conversely, if you open a position at 21:59, the overnight interest will be calculated immediately after 22:00. For all positions opened at 22:00 GMT, overnight interest will be displayed in the trading account within one hour.'
            },
            3:{
                1:'Gecelik pozisyon',
                2:'Bize Ulaşın',
                3:"N Sky™'nin Devrilişi",
                4:'Rekabetçi takas oranları',
                5:'Şeffaf gecelik faiz',
                6:'3Günlük devir stratejisi',
                7:'Mevcut faiz oranına göre',
                8:"N Sky™'de döviz, bireysel hisse senetleri, emtialar, değerli metaller, enerji ve hisse senedi endeksleri ticareti yapın.",
                9:'Hesap oluştur',
                10:'Gecelik faiz',
                11:'Gece tutulan pozisyonlar için gecelik faiz uygulanabilir. Döviz emtiaları için miktar, uzun veya kısa pozisyonlara artı döviz çiftleri arasındaki faiz oranı farkına bağlıdır. Ancak hisse senetleri ve hisse senedi endeksleri açısından sadece kısa veya uzun pozisyonlara bağlıdır.',
                12:'Lütfen sadece spot emtiaların gecelik faiz tahakkuk ettireceğini unutmayın. Vadeli işlem emtialarının yalnızca bir son kullanma tarihi vardır ve gecelik faizi yoktur.',
                13:'Rollover hakkında',
                14:'Rollover teslimi, bir pozisyon açma teslimat tarihini uzatma eylemidir (örneğin, yürütülen bir işlemin teslimat tarihi). Döviz piyasası, tüm spot işlemlerin iki iş günü içerisinde tamamlanmasına izin verir.',
                15:'Ancak, marjlı emtia ticaretinde fiziki teslimat olmadığı için tüm açık pozisyonlar her günün sonunda (22:00 GMT) kapatılmalı ve bir sonraki işlem gününde yeniden açılmalıdır. Bu mekanizma nedeniyle, sözde gecelik faiz üretilir.',
                16:'Gecelik faiz, gecelik faiz sözleşmesine dayanmaktadır. Tüccarlar için maliyet veya fayda olabilir. N Sky™, pozisyonu fiilen kapatıp yeniden açmayacak, ancak mevcut faiz oranına göre ticaret hesabına gecelik faiz ekleyecektir.',
                17:'N SkyE rtelenmiş ödeme politikası',
                18:'N Sky™, işlem gününde saat 22:00 GMT kapanış saatinden sonra tutulan pozisyonlar için, tüm müşterilere en uygun gecelik faiz oranını sağlamayı ve bunu işlem hesabında sunmayı garanti eder.',
                19:'Pazar Cumartesi ve Pazar günleri kapalı olsa da, banka yine de hafta sonu pozisyonlarına olan faizi hesaplayacak. Bu açığı düzeltmek için N Sky™, her Çarşamba 3 günlük gecelik faiz uygulanmasını şart koşuyor.',
                20:"Rollover'ı hesapla",
                21:'Döviz ve spot değerli metaller (altın ve gümüş)',
                22:'Döviz ve spot değerli metallerin gecelik faiz oranı, spot teslimat oranına bağlıdır (yarın ve yarından sonraki gün) ve N Sky™ primini içerir。',
                23:'Hemen teslim',
                24:'Oran, para birimleri arasındaki faiz oranı farkına bağlıdır，N Sky',
                25:'Olanaksız',
                26:'Keyfi kontrol。',
                27:'Örneğin：',
                28:'Örneğin: USDJPY döviz çifti ticareti yapıyorsunuz ve spot teslimat oranı aşağıdaki gibidir：',
                29:'Uzun pozisyon+0.5%',
                30:'Kısa pozisyon-1.5%',
                31:"Bu ayar altında, Birleşik Devletler'deki faiz oranı Japonya'dakinden daha yüksektir. Bu döviz çiftinde uzun pozisyonların gecelik faizi +% 0,5 -N Sky™ prim olacaktır.",
                32:'Tersine, açık pozisyon% -1,5 -N Sky™ primi olarak hesaplanır.',
                33:'Hesaplama yöntemi aşağıdaki gibidir：',
                34:'İşlem boyutu X（+/- Spot dağıtım oranı - N Sky™ Ödül）*',
                35:'yukarıda belirtilen',
                36:'Döviz çiftleri arasındaki faiz oranı farkına bağlıdır.',
                37:'*Tutar, teklif para biriminde sunulur.',
                38:'Teslimat planlayın',
                39:"İşlem gününün başlangıç ​​ve bitiş saati 22:00 GMT'dir. 22:00 GMT saatinden sonra alınan tüm siparişler bir gecede tutulur ve gecelik faiz eklenir. Ancak 22: 01'den sonra, yeni pozisyon bu spesifikasyon dahilinde değildir. Tersine, 21: 59'da bir pozisyon açarsanız, gecelik faiz 22: 00'dan hemen sonra hesaplanacaktır. GMT saatiyle 22: 00'da açılan tüm pozisyonlar için, bir saat içinde işlem hesabında gecelik faiz gösterilecektir."
            },
            4:{
                1:'المداولات الليلية',
                2:'اتصل بنا',
                3:'تمديد ™N Sky',
                4:'معدلات مقايضة تنافسية',
                5:'فائدة ليلية شفافة',
                6:'إستراتيجية تسليم التمديد لمدة 3 أيام',
                7:'إتباع معدل الفائدةالحالي',
                8:'تداول العملات الأجنبية والأسهم الفردية والسلع والمعادن الثمينة والطاقات ومؤشرات الأسهم في ™N Sky',
                9:'افتح حساب',
                10:'الفائدة الليلية',
                11:'قد يتم احتساب فائدة التمديد على المداولات التي يتم الاحتفاظ بها طوال الليل. بالنسبة لسلع الصرف الأجنبي ، يعتمد المبلغ على المداولة الطويلة أو القصيرة ، بالإضافة إلى فرق سعر الفائدة بين أزواج العملات. لكن فيما يتعلق بالأسهم ومؤشرات الأسهم ، فإنه يعتمد فقط على المداولات القصيرة أو الطويلة.',
                12:'يرجى ملاحظة أن السلع الفورية فقط ستتراكم عليها الفائدة الليلية. لع العقود الآجلة لها تاريخ انتهاء صلاحية فقط وليس لها فائدة ليلية.',
                13:'حول التمديد',
                14:'تسليم التمديد هو عملية تمديد تاريخ تسليم فتح تداول (على سبيل المثال ، تاريخ تسليم صفقة منفذة). يسمح سوق الصرف الأجنبي بإتمام جميع المعاملات الفورية في غضون يومي عمل.',
                15:'ومع ذلك ، في تداول السلع بالهامش ، نظرًا لعدم وجود تسليم مادي ، يجب إغلاق جميع المداولات المفتوحة في نهاية كل يوم (22:00 بتوقيت جرينتش) وإعادة فتحها في يوم التداول التالي. يتم إنشاء ما يسمى بالفائدة الليلية بسبب هذه الآلية.',
                16:'تستند الفائدة على التمديد إلى عقد الفائدة على التمديد. بالنسبة للمتداولين ، يمكنها أن تكون التكلفة أو الفائدة. لن تقوم ™N Sky فعليًا بإغلاق وإعادة فتح المداولات ، ولكنها ستضيف فائدة ليلية إلى حساب التداول بناءً على معدل الفائدة الحالي.',
                17:'سياسة الدفع المؤجل في ™N Sky',
                18:'بالنسبة للصفقات التي يتم الاحتفاظ بها بعد وقت الإغلاق الساعة 22:00 بتوقيت جرينتش في يوم التداول ، تضمن ™N Sky تزويد جميع العملاء بأفضل سعر فائدة لليلة واحدة وعرضها في حساب التداول.',
                19:'على الرغم من إغلاق السوق يومي السبت والأحد ، سيظل البنك يحتسب الفائدة على مداولات نهاية الأسبوع. من أجل تعديل هذه الفجوة ، تنص ™N Sky على أنه يجب تحصيل 3 أيام من الفائدة الليلية كل يوم أربعاء.',
                20:'طريقة حساب التمديد',
                21:'العملات الأجنبية والمعادن النفيسة الفورية (الذهب والفضة)',
                22:'يتم تحديد سعر الفائدة الليلية للعملات الأجنبية والمعادن الثمينة الفورية من خلال سعر التسليم الفوري (غدًا وبعد غد) ، وتشمل عمولة ™N Sky. تم إنشاء ',
                23:'معدل التسليم الفوري',
                24:'وفقًا لاختلاف معدل الفائدة بين العملات ، ولا',
                25:'يمكن',
                26:'التلاعب في ™N Sky شكل عشوائي.',
                27:'على سبيل المثال:',
                28:'على سبيل المثال: أنت تتداول زوج عملات USDJPY ، وسعر التسليم الفوري على النحو التالي:',
                29:'+ 0.5٪ لمداولات طويلة',
                30:'- 1.5٪ لمداولات قصيرة',
                31:'في ظل هذه الإعداد ، يكون سعر الفائدة في الولايات المتحدة أعلى من مثيله في اليابان. ستكون الفائدة الليلية على صفقات الشراء في هذا الزوج من العملات + 0.5٪ - عمولة ™N Sky.',
                32:'على العكس من ذلك ، يتم احتساب مداولات البيع على أنها -1.5٪ - عمولة ™N Sky.',
                33:'طريقة الحساب كالتالي:',
                34:'حجم الصفقة X （+/- معدل التسليم الفوري - العمولة *',
                35:'ما ورد أعلاه',
                36:'يعتمد على فرق سعر الفائدة بين أزواج العملات.',
                37:'* المبلغ معروض بعملة التسعير.',
                38:'التسليم المقرر',
                39:'وقت بدء ونهاية يوم التداول هو 22:00 بتوقيت جرينتش. يتم الاحتفاظ بجميع عمليات الشراء التي تم الاحتفاظ بها بعد الساعة 22:00 بتوقيت جرينتش خلال الليل ، وستتم إضافة الفائدة الليلية. ولكن بعد الساعة 22:01 ، لا تدخل المداولة الجديدة ضمن هذه الفئة. على العكس من ذلك ، إذا فتحت مداولة في الساعة 21:59 ، فسيتم احتساب الفائدة الليلية فورًا بعد الساعة 22:00. لجميع المداولة المفتوحة في الساعة 22:00 بتوقيت جرينتش ، سيتم عرض الفائدة الليلية في حساب التداول خلال ساعة واحدة.'
            },
            5:{
                1:'پوزیشن های شبانه',
                2:'تماس با ما',
                3:'رول اور در ™N Sky',
                4:'نرخ سواپ رقابتی',
                5:'نرخ بهره شفاف در طول شب',
                6:'استراتژی رول اور در 3 روز',
                7:'مطابق با نرخ بهره فعلی',
                8:'با  N Sky فارکس، سهام انفرادی، کالاها، فلزات گرانبها، انرژی و شاخص های سهام را معامله کنید',
                9:'افتتاح حساب',
                10:'نرخ بهره در طول شب',
                11:'ممکن است برای پوزیشن های باز در طول یک شب نرخ بهره در نظر گرفته شود. در مورد کالاهای ارزهای خارجی، مبلغ مذکور به پوزیشن خرید یا فروش، به علاوه تفاوت نرخ بهره بین جفت ارزها بستگی دارد. اما از نظر سهام و اندیکاتورهای سهام تنها به پوزیشن های خرید یا فروش بستگی دارد.',
                12:'لطفا توجه داشته باشید که تنها نرخ بهره کالاهای لحظه ای در طول شب افزایش خواهد یافت . کالاهای آتی تنها تاریخ انقضا دارند و شامل بهره ی شبانه نمیشوند.',
                13:'در مورد رول اور',
                14:'روش انتقالی عمل تمدید تاریخ باز کردن یک پوزیشن است (به عنوان مثال، تاریخ تحویل یک معامله اجرا شده). بازار ارز اجازه می دهد تا تمام معاملات لحظه ای در عرض دو روزکاری کامل شوند.',
                15:'با این حال، در معاملات کالای مارجین دار، از آنجاییکه تحویل فیزیکی وجود ندارد، تمام موقعیت های باز باید در پایان هر روز بسته شوند (ساعت ۲۲ به وقت گرینویچ) و در روز معاملات بعدی بازگشایی می شوند. اصطلاح نرخ بهره در طول یک شب به دلیل این مکانیسم ایجاد شدند.',
                16:'نرخ بهره در طول یک شب بر اساس قرارداد ارائه می شود و برای معامله گران، می تواند سبب هزینه یا سود باشد. N Sky™ در واقع پوزیشن ها را بسته و بازگشایی مجدد نخواهد کرد، بلکه بهره در طول یک شب را بر اساس نرخ بهره فعلی به حساب تجاری اضافه خواهد کرد.',
                17:'سیاست پرداخت معوق N Sky™',
                18:'N Sky ™ تضمین می کند که برای موقعیت هایی که پس از زمان بسته شدن بازار ساعت ۲۲ به وقت گرینویچ در یک روز کاری باز می مانند، مطلوب ترین نرخ بهره در طول یک شب را در اختیار همه مشتریان قرار دهد و همچنین آن را در حساب تجاری آنها ارائه دهد.',
                19:'اگرچه بازار شنبه و یکشنبه بسته است، اما بانک باز هم بهره در موقعیت های آخر هفته را محاسبه خواهد کرد. N Sky™به منظور تنظیم این شکاف برای هر چهارشنبه نرخ بهره در طول شب را ۳ روز محاسبه می کند.',
                20:'محاسبه رول اور',
                21:'تبادل ارزهای خارجی و فلزات گرانبها (طلا و نقره)',
                22:'نرخ سود شبانه ارز و فلزات گرانبها با نرخ تحویل لحظه ای (فردا و پس فردا) تعیین می شود و شامل حق بیمه N Sky می شود. نرخ تحویل لحظه ای با توجه به تفاوت نرخ بهره بین ارزها تولید می شود و N Sky نمی تواند خودسرانه دستکاری کن',
                23:'به عنوان مثال:',
                24:'شما جفت ارز USDJPY را معامله می کنید و نرخ تحویل لحظه ای به شرح زیر است:',
                25:' +0.5٪ برای پوزیشن خرید',
                26:' و برای پوزیشن فروش 1.5-%',
                27:'تحت این شرایط ، نرخ بهره در ایالات متحده بیشتر از ژاپن است. سود شبانه پوزیشن خرید در این جفت ارز(+0.5%-N Sky Premium) خواهد بود',
                28:'و برعکس ، پوزیشن فروش به صورت-1.5%-N Sky Premium) (محاسبه می شود.',
                29:'روش محاسبه به شرح زیر است:',
                30:'اندازه معامله X（+/- نرخ تحویل لحظه ای - حق بیمه） *',
                31:'(علامت +/- در روش فوق به اختلاف نرخ بهره بین جفت ارز بستگی دارد.)',
                32:'* مبنای مبلغ نشان داده شده ارز پایه است.',
                33: "روش محاسبه به شرح زیر است:" ,
                 34: "اندازه معامله X （+/- نرخ تحویل نقطه ای - حق بیمه） *" ,
                 35: "موارد بالا" ,
                 36: "به اختلاف نرخ بهره بین جفت ارز بستگی دارد." ,
                 37: '* مبلغ به ارز پیشنهادی ارائه می شود.',
                38:'تحویل برنامه ریزی شده',
                39:'زمان شروع و پایان روز معاملات 22:00 به وقت گرینویچ است. کلیه سفارشاتی که پس از ساعت 22:00 به وقت گرینویچ برگزار می شوند، بعنوان معامله شبانه درنظر گرفته می شوند و بهره شبانه به آنها اضافه می شود. اما معاملاتی که بعد از ساعت 22:01 انجام میگیرند شامل این بهره نمیشوند. برعکس، اگر شما پوزیشنی را در ساعت 21:59 باز کنید ، سود شبانه بلافاصله بعد از ساعت 22:00 محاسبه می شود. برای همه پوزیشن های باز شده در ساعت 22:00 به وقت گرینویچ، بهره شبانه در مدت یک ساعت در حساب معاملات نمایش داده می شود'
            }
        },
        head:['过夜仓位','Overnight position','Gecelik pozisyon','المداولات الليلية','پوزیشن های شبانه']




    };
  },
   metaInfo() {return {
      // 

      title: this.head[this.curLanguage-1]+'-N Sky',
      }
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

  //  if(this.curLanguage!=2){
  //      let pName = this.$route.name.substring(0,this.$route.name.length-2)
  //      let pNameStr = pName + languageCode[this.curLanguage]
  //      this.$router.push({name:pNameStr});
  //  }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
    window.scroll({
      top: 0,
      left: 0,
      behavior: 'smooth'
    });
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       this.curLanguage = val;

    //    console.log(this.curLanguage)
    //    let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
    //    let pNameStr = pName + languageCode[val]
    //    this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background: rgba(0, 0, 0, 0) linear-gradient(90deg, #272833 2.5%, #1f202c 97%) repeat scroll 0% 0%;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #ffa200;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size:16px!important;color: #252632;width: 247px;text-align: center;font-weight: 700;border-radius: 5px!important}
      .btn-full:hover{background-color: #e6b054;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #ffa200 ;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


  //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap> 
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

  p {
    margin-bottom: 2em;
  }
  .rightToLeft{
    direction: rtl!important;
}
</style>
