<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" v-bind:class="{rightToLeft:(curLanguage==4||curLanguage==5)}">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1>{{language[curLanguage][1]}}</h1>
                  <!-- <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">N Sky</router-link></li>
                    <li class="post post-page current-item">{{language[curLanguage][1]}}</li></ol> -->
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="fas fa-envelope"></i>
                      <span> {{language[curLanguage][2]}}</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80 regulation">
            <!-- <div class="row">
              <div class="col-md-12">
                <h2>相关法律文件</h2></div>
            </div> -->
            <div class="privacy-box">
                             <p>{{language[curLanguage][3]}}</p>
                             <h3>{{language[curLanguage][4]}}</h3>
                             <p>{{language[curLanguage][5]}}</p>
                             <p>{{language[curLanguage][6]}}</p>

                             <h3>{{language[curLanguage][7]}}</h3>
                             <p>{{language[curLanguage][8]}}</p>
                             <p>{{language[curLanguage][9]}}</p>
                             <p>{{language[curLanguage][10]}}</p>
                             <p>{{language[curLanguage][11]}}</p>
                             <p>{{language[curLanguage][12]}}</p>
                             <p>{{language[curLanguage][13]}}</p>
                             <p>{{language[curLanguage][14]}}</p>

                             <h5>{{language[curLanguage][15]}}</h5>
                             <p>{{language[curLanguage][16]}}</p>
                             <p>{{language[curLanguage][17]}}</p>

                             <h5>{{language[curLanguage][18]}}</h5>
                             <p>{{language[curLanguage][19]}}</p>
                             <p>{{language[curLanguage][20]}}</p>


                             <h3>{{language[curLanguage][21]}}</h3>
                             <p>{{language[curLanguage][22]}}</p>

                             <h3>{{language[curLanguage][23]}}</h3>
                             <p>{{language[curLanguage][24]}}</p>
                             <p>{{language[curLanguage][25]}}</p>
                             <p>{{language[curLanguage][26]}}</p>
                             <p>{{language[curLanguage][27]}}</p>
                             <p>{{language[curLanguage][28]}}</p>
                             <p>{{language[curLanguage][29]}}</p>
                             <p>{{language[curLanguage][30]}}</p>
                             <p>{{language[curLanguage][31]}}</p>
                             <p>{{language[curLanguage][32]}}</p>
                             <p>{{language[curLanguage][33]}} </p>

                             <h3>{{language[curLanguage][34]}}</h3>
                             <p>{{language[curLanguage][35]}}</p>

                             <h3>{{language[curLanguage][36]}}</h3>
                             <p>{{language[curLanguage][37]}}</p>
                             <p>{{language[curLanguage][38]}}</p>

                             <h3>{{language[curLanguage][39]}}</h3>
                             <p>{{language[curLanguage][40]}}</p>

                             <h3>{{language[curLanguage][41]}}</h3>
                             <p>{{language[curLanguage][42]}}</p>

                             <h3>{{language[curLanguage][43]}}</h3>
                             <p>{{language[curLanguage][44]}}</p>

                             <h3>{{language[curLanguage][45]}}</h3>
                             <p>{{language[curLanguage][46]}}</p>

                             <h3>{{language[curLanguage][47]}}</h3>
                             <p>{{language[curLanguage][48]}}</p>

                             <h3>{{language[curLanguage][49]}}</h3>
                             <p>{{language[curLanguage][50]}}</p>
                             <p>{{language[curLanguage][51]}}</p>



                        </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {languageCode} from '../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false,
        language:{
            1:{
                1:'隐私政策',
                2:'联系我们',
                3:'请您仔细阅读本隐私政策。通过使用我们的产品或服务，您同意：您已满十八周岁且已完全理解并接受本隐私政策的全部条款和内容。如果您不同意本隐私政策，您可以不使用我们的产品或服务。',
                4:'个人信息范围',
                5:'本隐私政策所称“个人信息”，是指我们从个人收集的可用于识别特定个人身份的信息，其中又可分为能够单独使用的个人信息（如姓名、身份证信息）和不能单独使用而必须与其他信息结合使用的个人信息（如位置信息、车辆状况）。我们所收集的个人信息可能同时包括这两类信息。对于能够单独使用的个人信息，我们只会在事先告知并取得您同意的情况下收集；对于不能单独使用的个人信息，在非结合使用的情况下，我们可出于任何目的收集、使用、转让和披露该等信息。',
                6:'我们可能向您收集的“个人信息”包括但不限于您的姓名、邮寄地址、电话号码、电子邮件地址、其他联系方式、年龄、出生日期、性别、学历、职业、语言、邮编、区号、个人图像、兴趣偏好、身份证信息、驾照信息、信用卡信息、唯一设备标识符、地理位置信息、车辆状态、行为信息等。',
                7:'个人信息的收集途径',
                8:'我们会通过多种方式收集并存储您的个人信息：',
                9:'当您访问或者参与我们的官网或者其他网上服务时（例如您通过我们的网站或者电子邮件联系我们提出问题、进行评论或者参与在线调查时），您自愿向我们提供的信息。',
                10:'当您为了获得我们的线下服务而进行注册时；',
                11:'当您下载或使用我们或我们指定的公司开发的应用时；',
                12:'当您关注我们的社交媒体时；',
                13:'当您向我们客服中心的代表提供信息时；',
                14:'我们还可能从其他途径收集到关于您的信息并加入我们的客户信息库。',
                15:'通过Cookies收集信息',
                16:'我们会通过Cookies和其他追踪技术了解客户使用我们网站的情况。Cookies是一种能够识别您设备的特定识别符号，通过识别您的设备，我们可以为您推荐个性化商品和广告（包括由本网站提供广告内容的联盟网站）。',
                17:'通过Cookies收集的信息属于不能单独使用的个人信息，您理解并同意我们将通过Cookies收集的信息与您的其他信息结合使用。大部分网页浏览器会自动打开Cookies，但您可以随时调整您的浏览器设置，选择关闭Cookies。然而，Cookies能让您享受我们更优质、更个性化的服务，如果您关闭了Cookies，可能无法完全体验或者我们网站上提供的所有服务，所以我们建议您将其设置为打开状态。',
                18:'通过客服中心收集信息',
                19:'当您拨打我们的服务热线，为了提高服务质量以及跟进您的请求，我们可能会在通话期间向您收集个人信息，或者通过电子媒介手段进行电话录音。您理解并同意我们在语音通话的过程中收集您的个人信息并进行电话录音。 通过移动设备或系统收集信息',
                20:'当您下载或使用我们或我们指定的公司开发的应用时，我们将可能收到关于您账号、姓名以及您的移动设备的信息（如包含识别您的移动设备的特定号码）。这些数据将被用于确定您的身份，以便我们能提供并完善我们的定位服务或其他个性化服务。您理解并同意我们收集上述账号、姓名、移动设备特定标识码等的个人信息。',
                21:'拒绝提供个人信息的后果',
                22:'您可以不提供您的个人信息，如果您选择不提供您的个人信息，我们将可能无法为您提供我们的产品或服务，也可能无法回应您在使用我们的产品或服务时所遇到的问题。对于您可能因此遭受的损失，我们将不承担责任。',
                23:'我们如何使用您的个人信息',
                24:'我们会将收集到的个人信息用于以下目的（以下简称“个人信息收集目的”）：',
                25:'管理我们的产品和服务，向您提供我们的产品及服务，并就您使用我们产品与服务的情况进行及时沟通；',
                26:'支持我们服务的履行与运作，回应您的咨询及请求，处理您的交易；',
                27:'向您提供售后服务及支持，接收您的反馈；',
                28:'将我们的最新产品、服务、衍生产品及服务等及时告知您；',
                29:'将您的个人信息用于数据分析和研究等内部目的，以改进我们的产品、服务和与客户之间的沟通，及时解决客户的问题；',
                30:'使用个人信息向您发送产品/服务安全的重要通知。由于这些信息对您的人身安全至关重要，我们强烈建议您不要拒绝接收此类信息；',
                31:'调查已经发生的或者可能的欺诈情形或者防止欺诈或者其他潜在的非法活动；以及您同意的其他方式。',
                32:'在某些情况下，为了提供并完善我们的产品、服务、内容和广告，我们也可能会将您的个人信息和非个人信息结合在一起进行分析研究。',
                33:'我们不会在违背上述个人信息收集目的的情况下，或超出本隐私政策的范围外使用您的个人信息。',
                34:'向第三方披露和共享您的个人信息',
                35:'我们尊重您的个人隐私并遵守相关的法律和法规，我们承诺严格保密所收集的您的个人信息，并且不会将您的个人信息出售给他人。我们仅会为达到个人信息收集目的，与遵守本隐私政策或至少提供与本隐私政策同样保护性惯例的以下第三方分享您的个人信息。除非另有声明，这些第三方并不代表我司收集、使用或转移个人信息等。因此，我司并不对这些第三方收集、使用或转移个人信息等行为负责。',
                36:'个人信息的处理及储存',
                37:'我们不会在违背您的个人信息收集目的的情况下，或超出本隐私政策的范围处理、篡改、毁损您的个人信息。',
                38:'在我们存储您的个人数据时，我们设置了合理且足够的安保措施来保护您的个人信息免受未经授权的访问、泄露和丢失，包括但不限于电子安全措施和物理安全措施。',
                39:'个人信息的完整性及更新',
                40:'我们提供了一些便捷的方法，让你能够确保你的个人信息准确、完整并及时更新。我们将在实现本隐私政策中所述目的所必需的期间内保留你的个人信息，除非法律要求或允许在更长的期间内保留这些信息。',
                41:'选择',
                42:'我们可能会通过电子邮件、电话、手机/文本消息（包括 SMS 和 MMS）或信函等方式向您发送营销类信息，包括但不限于：告知我们的产品或服务的最新信息、邀请您参加我们的市场活动、或者发出关于产品或服务的公告。',
                43:'儿童',
                44:'我们不会在明知对方为年龄不满 18周岁的儿童的情况下收集其个人信息。如果我们发现我们在未经家长同意的情况下收集了年龄不满 18 周岁的儿童的个人信息，我们将采取措施尽快删除此等信息。',
                45:'第三方通过我们的产品和服务向您收集个人信息',
                46:'我们的产品和服务中可能含有第三方网站、产品和服务的链接。我们的产品和服务也可能使用或提供来自第三方的产品或服务。第三方通过我们的系统、产品和服务收集的此类个人信息（其中可能含有位置数据或联系方式等），其使用、处理、保存、转移、保留及销毁等须遵守第三方关于隐私的政策规定。如果在这个过程中，我们并未因此而抓取或收集到您的个人信息，则我们不承担相关责任，且我们希望您能了解这些第三方的隐私政策规定；但如果在这个过程中，我们因此抓取或收集到您的个人信息，则我们会严格遵守本隐私政策的条款。',
                47:'更新',
                48:'我们有权随时对本隐私政策加以修订及更新。如果我们对隐私政策作出重大变更，我们将于我们的网站即时发布最新的隐私政策。我们亦将向我们的代理商传达最新的隐私政策，您可以向我们的代理商查询详情。除另有声明外，最新有效的隐私政策适用于我们关于您和您的所有个人信息。',
                49:'联系我们',
                50:'如果您对上述政策内容或对您的个人信息保护有任何咨询或疑问，或您希望查阅我们所持有的您的个人信息的内容，或要求对您所提供的个人信息做出更正，请通过网站客服与我们联系。我们将于收到您的询问或要求后尽快给予答复。该答复是免费的，除非提供该答复的成本或要求提供该答复的频率是不合理的。',
                51:'请您仔细阅读本隐私政策，当您阅读完毕并继续提供您的个人信息，或购买我们的产品或使用我们的服务，表示您已完全理解并接受本隐私政策的全部条款和内容。'
            },
            2:{
                1:'Privacy policy',
                2:'Contact Us',
                3:'Please read this privacy policy carefully. By using our products or services, you agree that you have reached the age of 18 and have fully understood and accepted all terms and contents of this Privacy Policy. If you do not agree to this Privacy policy, you may not use our products or services.',
                4:'Scope of Personal Information',
                5:'This privacy policy, "personal information" refers to our from personal information collected can be used to identify specific personal identity, which can be divided into personal information can be used alone (such as name, id card information) and cannot be used alone and must be combined with other information to use personal information (e.g., location information, the vehicles). The personal information we collect may include both types of information. Personal information that can be used independently will only be collected with your prior notice and consent. Personal Information that cannot be used in isolation may be collected, used, transferred, and disclosed by us for any purpose other than combined use.',
                6:"We may collect you 'personal information' including but not limited to your name, mailing address, phone number, E-mail address, and other contact information, age, date of birth, gender, education, occupation, language, zip code, area code, personal image, interest preference information, id card, driver's license information, credit card information, the only device identifier, location information, vehicle status, behavior, etc.",
                7:'Means of Personal Information Collection',
                8:'We will collect and store your personal information in a variety of ways:',
                9:'Information that you voluntarily provide to us when you visit or participate in our official website or other online services (such as when you contact us via our website or email for questions, comments, or online surveys).',
                10:'When you sign up for our offline services;',
                11:'When you download or use applications developed by us or our designated companies;',
                12:'When you follow our social media;',
                13:'When you provide information to representatives of our customer service center;',
                14:'We may also collect information about you from other sources and add it to our customer database.',
                15:'Collect information through Cookies',
                16:'We use Cookies and other tracking technology to keep track of how our customers use our website. Cookies are specific identifiers for your device. By identifying your device, we can recommend personalized products and advertisements for you (including affiliate websites that provide advertising content from this website).',
                17:'The information we collect through Cookies is classified and summarized to provide more targeted and valuable product information and services to different groups of customers. The information collected through Cookies is personal information that cannot be used in isolation, and you understand and agree that we use the information collected through Cookies in combination with your other information. Most web browsers automatically turn on Cookies, but you can always adjust your browser Settings to choose to turn off Cookies. However, Cookies can enable you to enjoy our better and more personalized services. If you turn off cookies, you may not be able to fully experience or experience all the services provided on our website. Therefore, we recommend that you set it to the open state.',
                18:'Collect information through the call center',
                19:'When you call our service hotline, in order to improve the quality of service and to follow up on your requests, we may collect personal information from you during the call or record the call through electronic media means. You understand and agree that we collect your personal information during the voice call and record the call.',
                20:'',
                21:'The consequences of refusing to provide personal information',
                22:'You may not provide your personal information, if you choose not to provide your personal information, we may not be able to provide our products or services to you, or we may not be able to respond to the problems you encounter when using our products or services. We will not be responsible for any loss you may suffer as a result.',
                23:'How do we use your personal information',
                24:'We will use the Personal Information collected for the following purposes (the "Personal Information Collection Purposes") :',
                25:'Manage our products and services, provide you with our products and services, and timely communicate with you about your use of our products and services;',
                26:'Support the performance and operation of our services, respond to your inquiries and requests, and handle your transactions;',
                27:'Provide after-sales service and support to you and receive your feedback;',
                28:'Keep you informed of our latest products, services, derivatives and services;',
                29:"Use your personal information for internal purposes, such as data analysis and research, to improve our products, services and communication with customers, and solve customers' problems in a timely manner;",
                30:'Use personal information to send you important notifications about product/service security. As such information is of vital importance to your personal safety, we strongly recommend that you do not refuse to receive such information;',
                31:'To investigate fraud that has occurred or may occur or to prevent fraud or other potential illegal activities.',
                32:'In some cases, to provide and improve our products, services, content and advertising, we may also combine your personal information and non-personal information for analysis and research.',
                33:'We will not use your personal Information in contravention of the above personal Information collection purposes or outside the scope of this Privacy Policy.',
                34:'Disclose and share your personal information with third parties',
                35:'We respect your personal privacy and comply with relevant laws and regulations. We promise to keep your personal information collected strictly confidential and will not sell your personal information to others. We will only share your Personal Information for personal information collection purposes with the following third parties that comply with or at least provide the same protective practices as this Privacy Policy. Unless otherwise stated, these third parties do not collect, use, or transfer personal information on our behalf. Therefore, we are not responsible for the collection, use, or transfer of personal information by such third parties.',
                36:'Processing and storage of personal information',
                37:'We will not process, alter, or damage your personal information in violation of the purpose of your personal information collection or beyond the scope of this Privacy Policy.',
                38:'When we store your personal data, we put in place reasonable and adequate security measures to protect your personal information from unauthorized access, disclosure and loss, including but not limited to electronic security measures and physical security measures.',
                39:'Integrity and update of personal information',
                40:'We offer some easy ways to ensure that your personal information is accurate, complete, and up-to-date. We will retain your personal information for such period as is necessary to achieve the purposes set forth in this Privacy Policy, except where such retention is required or permitted by law for a longer period.',
                41:'Select',
                42:'We may send you marketing information by E-mail, telephone, mobile phone/text message (including SMS and MMS), or letter, including but not limited to: informing you of the latest information of our products or services, inviting you to participate in our marketing activities, or sending announcements about our products or services.',
                43:'Children',
                44:'We will not knowingly collect personal information of a child under the age of 18. If we find that we have collected personal information of children under the age of 18 without parental consent, we will take steps to delete such information as soon as possible.',
                45:'Third parties collect personal information from you through our products and services',
                46:"Our products and services may contain links to third-party websites, products, and services. Our products and services may also use or provide products or services from third parties. Such personal information (which may contain location data or contact information, etc.) collected by third parties through our systems, products, and services shall be used, processed, stored, transferred, retained, and destroyed in accordance with the third party's privacy policies and regulations. If we do not capture or collect your personal information in this process, we are not responsible for it, and we hope that you can understand the privacy policy provisions of these third parties; However, if in the process, we, therefore, capture or collect your personal information, we will strictly abide by the terms of this Privacy Policy.",
                47:'Update',
                48:'We reserve the right to amend and update this Privacy Policy at any time. If we make significant changes to our Privacy policy, we will post the latest privacy policy on our website as soon as possible. We will also communicate the latest privacy policy to our agents. You can contact our agents for details. Unless otherwise stated, the latest and effective privacy policy applies to you and all your personal information.',
                49:'Contact us',
                50:'If you have any questions or queries regarding the above policy or the protection of your personal information, or if you wish to access the content of your personal information held by us, or if you wish to make corrections to the personal information provided by you, please contact us through our customer service. We will reply to your inquiry or request as soon as possible. The response is free unless the cost of providing the response or the frequency of the request for the response is unreasonable.',
                51:'Please read this Privacy Policy carefully. When you have finished reading and continue to provide your personal information, or purchase our products or use our services, you have fully understood and accepted all terms and contents of this Privacy Policy.'
            },
            3:{
                1:'Gizlilik Politikası',
                2:'Bize Ulaşın',
                3:'Lütfen bu gizlilik politikasını dikkatlice okuyun. Ürünlerimizi veya hizmetlerimizi kullanarak, 18 yaşına ulaştığınızı ve bu Gizlilik Politikasının tüm şartlarını ve içeriğini tam olarak anladığınızı ve kabul ettiğinizi kabul edersiniz. Bu Gizlilik politikasını kabul etmiyorsanız, ürünlerimizi veya hizmetlerimizi kullanamazsınız.',
                4:'Kişisel Bilgilerin Kapsamı',
                5:'Bu gizlilik politikası, "kişisel bilgiler", toplanan kişisel bilgilerimize atıfta bulunur, belirli kişisel kimliği tanımlamak için kullanılabilir, kişisel bilgilere bölünebilir (isim, kimlik kartı bilgileri gibi) ve tek başına kullanılamaz ve kişisel bilgileri (örneğin konum bilgileri, araçlar) kullanmak için diğer bilgilerle birleştirilmelidir. Topladığımız kişisel bilgiler her iki tür bilgiyi de içerebilir. Bağımsız olarak kullanılabilecek kişisel bilgiler yalnızca önceden bildiriminiz ve onayınız ile toplanacaktır. Tek başına kullanılamayan Kişisel Bilgiler, birleşik kullanım dışındaki herhangi bir amaçla tarafımızdan toplanabilir, kullanılabilir, aktarılabilir ve ifşa edilebilir.',
                6:'Adınız, posta adresiniz, telefon numaranız, E-posta adresiniz ve diğer iletişim bilgileriniz, yaşınız, doğum tarihiniz, cinsiyetiniz, eğitiminiz, mesleğiniz, diliniz, posta kodunuz, alanınız dahil ancak bunlarla sınırlı olmamak üzere "kişisel bilgiler" toplayabiliriz kod, kişisel görüntü, ilgi alanı tercih bilgileri, kimlik kartı, ehliyet bilgileri, kredi kartı bilgileri, tek cihaz tanımlayıcı, konum bilgileri, araç durumu, davranış vb.',
                7:'Kişisel Bilgi Toplama Araçları',
                8:'Kişisel bilgilerinizi çeşitli şekillerde toplayıp saklayacağız:',
                9:'Resmi web sitemizi veya diğer çevrimiçi hizmetlerimizi ziyaret ettiğinizde veya bunlara katıldığınızda gönüllü olarak bize sağladığınız bilgiler (örneğin, web sitemiz veya sorular, yorumlar veya çevrimiçi anketler için bizimle e-posta yoluyla iletişime geçtiğinizde).',
                10:'Çevrimdışı hizmetlerimize kaydolduğunuzda;',
                11:'Tarafımızca veya belirlenmiş şirketlerimiz tarafından geliştirilen uygulamaları indirdiğinizde veya kullandığınızda;',
                12:'Sosyal medyamızı takip ettiğinizde;',
                13:'Müşteri hizmetleri merkezimizin temsilcilerine bilgi verdiğinizde;',
                14:'Sizin hakkınızda başka kaynaklardan da bilgi toplayabilir ve bunları müşteri veri tabanımıza ekleyebiliriz.',
                15:'Cookies aracılığıyla bilgi toplayın',
                16:'Müşterilerimizin web sitemizi nasıl kullandığını takip etmek için Cookies ve diğer izleme teknolojilerini kullanıyoruz. Cookies, cihazınız için özel tanımlayıcılardır. Cihazınızı tanımlayarak, sizin için kişiselleştirilmiş ürünler ve reklamlar önerebiliriz (bu web sitesinden reklam içeriği sağlayan bağlı kuruluş web siteleri dahil).',
                17:'Cookies aracılığıyla topladığımız bilgiler, farklı müşteri gruplarına daha hedefli ve değerli ürün bilgileri ve hizmetler sağlamak için sınıflandırılır ve özetlenir. Cookies aracılığıyla toplanan bilgiler, tek başına kullanılamayacak kişisel bilgilerdir ve Cookies aracılığıyla toplanan bilgileri diğer bilgilerinizle birlikte kullandığımızı anlar ve kabul edersiniz. Çoğu web tarayıcısı, Cookiesi otomatik olarak etkinleştirir, ancak Cookiesi kapatmak için tarayıcınızın Ayarlarını her zaman ayarlayabilirsiniz. Ancak Cookies, daha iyi ve daha kişiselleştirilmiş hizmetlerimizden yararlanmanızı sağlayabilir. Cookiesi kapatırsanız, web sitemizde sunulan tüm hizmetleri tam olarak deneyimleyemeyebilir veya deneyimleyemeyebilirsiniz. Bu nedenle, onu açık duruma ayarlamanızı öneririz.',
                18:'Çağrı merkezi aracılığıyla bilgi toplayın',
                19:'Hizmet hattımızı aradığınızda, hizmet kalitesini iyileştirmek ve taleplerinizi takip etmek için arama sırasında sizden kişisel bilgiler toplayabilir veya aramayı elektronik ortamda kaydedebiliriz. Sesli arama sırasında kişisel bilgilerinizi topladığımızı ve aramayı kaydettiğimizi anlıyor ve kabul ediyorsunuz.',
                20:'',
                21:'Kişisel bilgi vermeyi reddetmenin sonuçları',
                22:'Kişisel bilgilerinizi veremezsiniz, kişisel bilgilerinizi vermemeyi seçerseniz, ürünlerimizi veya hizmetlerimizi size sağlayamayabiliriz veya ürünlerimizi kullanırken karşılaştığınız sorunlara cevap veremeyebiliriz veya Hizmetler. Sonuç olarak uğrayabileceğiniz herhangi bir kayıptan sorumlu olmayacağız.',
                23:'Kişisel bilgilerinizi nasıl kullanıyoruz',
                24:'Toplanan Kişisel Bilgileri aşağıdaki amaçlarla kullanacağız ("Kişisel Bilgi Toplama Amaçları"):',
                25:'Ürünlerimizi ve hizmetlerimizi yönetmek, size ürün ve hizmetlerimizi sunmak ve ürünlerimizi ve hizmetlerimizi kullanımınız hakkında sizinle zamanında iletişim kurmak;',
                26:'Hizmetlerimizin performansını ve işleyişini desteklemek, soru ve taleplerinize yanıt vermek ve işlemlerinizi yönetmek;',
                27:'Size satış sonrası hizmet ve destek sağlamak ve geri bildiriminizi almak;',
                28:'En son ürünlerimiz, hizmetlerimiz, türevlerimiz ve hizmetlerimiz hakkında sizi bilgilendirmek;',
                29:'Kişisel bilgilerinizi, ürünlerimizi, hizmetlerimizi ve müşterilerimizle iletişimi iyileştirmek ve müşterilerin sorunlarını zamanında çözmek için veri analizi ve araştırma gibi dahili amaçlar için kullanmak;',
                30:'Size ürün / hizmet güvenliği hakkında önemli bildirimler göndermek için kişisel bilgileri kullanın. Bu tür bilgiler kişisel güvenliğiniz için hayati önem taşıdığından, bu tür bilgileri almayı reddetmemenizi şiddetle tavsiye ederiz;',
                31:'Gerçekleşmiş veya meydana gelebilecek dolandırıcılığı araştırmak veya dolandırıcılığı veya diğer olası yasa dışı faaliyetleri önlemek için; Ve kabul ettiğin diğer yollar.',
                32:'Bazı durumlarda, ürünlerimizi, hizmetlerimizi, içeriğimizi ve reklamlarımızı sağlamak ve iyileştirmek için kişisel bilgilerinizi ve kişisel olmayan bilgilerinizi analiz ve araştırma için birleştirebiliriz.',
                33:'Kişisel Bilgilerinizi, yukarıdaki kişisel Bilgi toplama amaçlarına aykırı veya bu Gizlilik Politikasının kapsamı dışında kullanmayacağız. ',
                34:'Kişisel bilgilerinizi üçüncü şahıslarla paylaşın ve paylaşın',
                35:'Kişisel gizliliğinize saygı duyuyor ve ilgili yasa ve düzenlemelere uyuyoruz. Toplanan kişisel bilgilerinizi kesinlikle gizli tutacağımıza ve kişisel bilgilerinizi başkalarına satmayacağımıza söz veriyoruz. Kişisel Bilgilerinizi yalnızca kişisel bilgi toplama amacıyla, bu Gizlilik Politikasına uyan veya en azından aynı koruyucu uygulamaları sağlayan aşağıdaki üçüncü taraflarla paylaşacağız. Aksi belirtilmedikçe, bu üçüncü taraflar kişisel bilgileri bizim adımıza toplamaz, kullanmaz veya aktarmaz. Bu nedenle, kişisel bilgilerin bu tür üçüncü şahıslar tarafından toplanması, kullanılması veya aktarılmasından sorumlu değiliz.',
                36:'Kişisel bilgilerin işlenmesi ve saklanması',
                37:'Kişisel bilgilerinizi, kişisel bilgi toplama amacınızı ihlal edecek şekilde veya bu Gizlilik Politikasının kapsamı dışında işlemeyecek, değiştirmeyecek veya zarar vermeyeceğiz.',
                38:'Kişisel verilerinizi sakladığımızda, kişisel bilgilerinizi yetkisiz erişim, ifşa ve kayıplardan korumak için elektronik güvenlik önlemleri ve fiziksel güvenlik önlemleri dahil ancak bunlarla sınırlı olmamak üzere makul ve yeterli güvenlik önlemleri alırız.',
                39:'Kişisel bilgilerin bütünlüğü ve güncellemesi',
                40:'Kişisel bilgilerinizin doğru, eksiksiz ve güncel olmasını sağlamanın bazı kolay yollarını sunuyoruz. Kişisel bilgilerinizi, bu tür bir saklamanın daha uzun bir süre için gerekli olduğu veya izin verildiği durumlar dışında, bu Gizlilik Politikasında belirtilen amaçlara ulaşmak için gerekli olan süre boyunca saklayacağız.',
                41:'Seçiniz',
                42:'Size pazarlama bilgilerini E-posta, telefon, cep telefonu / metin mesajı (SMS ve MMS dahil) veya mektupla gönderebiliriz; bunlarla sınırlı olmamak üzere: ürünlerimiz veya hizmetlerimizle ilgili en son bilgileri size bildirmek, sizi katılmaya davet etmek pazarlama faaliyetlerimizde veya ürünlerimiz veya hizmetlerimiz hakkında duyurular göndermek.',
                43:'Çocuk',
                44:'18 yaşın altındaki bir çocuğun kişisel bilgilerini bilerek toplamayacağız. 18 yaşın altındaki çocukların kişisel bilgilerini ebeveyn izni olmadan topladığımızı tespit edersek, bu tür bilgileri mümkün olan en kısa sürede silmek için adımlar atacağız.',
                45:'Üçüncü taraflar, ürünlerimiz ve hizmetlerimiz aracılığıyla sizden kişisel bilgiler toplar',
                46:'Ürünlerimiz ve hizmetlerimiz üçüncü taraf web sitelerine, ürünlerine ve hizmetlerine bağlantılar içerebilir. Ürünlerimiz ve hizmetlerimiz, üçüncü şahısların ürünlerini veya hizmetlerini de kullanabilir veya sağlayabilir. Sistemlerimiz, ürünlerimiz ve hizmetlerimiz aracılığıyla üçüncü şahıslar tarafından toplanan bu tür kişisel bilgiler (konum verilerini veya iletişim bilgilerini içerebilir, vb.), Üçüncü şahsın gizlilik politikalarına uygun olarak kullanılacak, işlenecek, saklanacak, aktarılacak, saklanacak ve imha edilecektir ve düzenlemeler. Bu süreçte kişisel bilgilerinizi yakalamaz veya toplamazsak, bundan sorumlu değiliz ve bu üçüncü tarafların gizlilik politikası hükümlerini anlayabileceğinizi umuyoruz; Bununla birlikte, bu süreçte kişisel bilgilerinizi yakalar veya toplarsak, bu Gizlilik Politikasının şartlarına kesinlikle uyacağız.',
                47:'Güncelleme',
                48:'Bu Gizlilik Politikasını herhangi bir zamanda değiştirme ve güncelleme hakkımız saklıdır. Gizlilik politikamızda önemli değişiklikler yaparsak, en son gizlilik politikasını mümkün olan en kısa sürede web sitemizde yayınlayacağız. Ayrıca en son gizlilik politikasını temsilcilerimize ileteceğiz. Detaylar için acentelerimizle iletişime geçebilirsiniz. Aksi belirtilmedikçe, en son ve etkili gizlilik politikası siz ve tüm kişisel bilgileriniz için geçerlidir.',
                49:'Bize Ulaşın',
                50:'Yukarıdaki politika veya kişisel bilgilerinizin korunması ile ilgili herhangi bir sorunuz veya sorunuz varsa veya tarafımızdan tutulan kişisel bilgilerinizin içeriğine erişmek veya tarafınızca sağlanan kişisel bilgilerde düzeltme yapmak istiyorsanız, lütfen müşteri hizmetlerimiz aracılığıyla bizimle iletişime geçin. Sorunuza veya talebinize mümkün olan en kısa sürede cevap vereceğiz. Yanıt sağlamanın maliyeti veya yanıt talebinin sıklığı makul olmadığı sürece yanıt ücretsizdir.',
                51:'Lütfen bu Gizlilik Politikasını dikkatlice okuyun. Okumayı bitirip kişisel bilgilerinizi vermeye devam ettiğinizde veya ürünlerimizi satın aldığınızda veya hizmetlerimizi kullandığınızda, bu Gizlilik Politikasının tüm şartlarını ve içeriğini tam olarak anlamış ve kabul etmiş olursunuz.'
            },
            3:{
                1:'Gizlilik Politikası',
                2:'Bize Ulaşın',
                3:'Lütfen bu gizlilik politikasını dikkatlice okuyun. Ürünlerimizi veya hizmetlerimizi kullanarak, 18 yaşına ulaştığınızı ve bu Gizlilik Politikasının tüm şartlarını ve içeriğini tam olarak anladığınızı ve kabul ettiğinizi kabul edersiniz. Bu Gizlilik politikasını kabul etmiyorsanız, ürünlerimizi veya hizmetlerimizi kullanamazsınız.',
                4:'Kişisel Bilgilerin Kapsamı',
                5:'Bu gizlilik politikası, "kişisel bilgiler", toplanan kişisel bilgilerimize atıfta bulunur, belirli kişisel kimliği tanımlamak için kullanılabilir, kişisel bilgilere bölünebilir (isim, kimlik kartı bilgileri gibi) ve tek başına kullanılamaz ve kişisel bilgileri (örneğin konum bilgileri, araçlar) kullanmak için diğer bilgilerle birleştirilmelidir. Topladığımız kişisel bilgiler her iki tür bilgiyi de içerebilir. Bağımsız olarak kullanılabilecek kişisel bilgiler yalnızca önceden bildiriminiz ve onayınız ile toplanacaktır. Tek başına kullanılamayan Kişisel Bilgiler, birleşik kullanım dışındaki herhangi bir amaçla tarafımızdan toplanabilir, kullanılabilir, aktarılabilir ve ifşa edilebilir.',
                6:'Adınız, posta adresiniz, telefon numaranız, E-posta adresiniz ve diğer iletişim bilgileriniz, yaşınız, doğum tarihiniz, cinsiyetiniz, eğitiminiz, mesleğiniz, diliniz, posta kodunuz, alanınız dahil ancak bunlarla sınırlı olmamak üzere "kişisel bilgiler" toplayabiliriz kod, kişisel görüntü, ilgi alanı tercih bilgileri, kimlik kartı, ehliyet bilgileri, kredi kartı bilgileri, tek cihaz tanımlayıcı, konum bilgileri, araç durumu, davranış vb.',
                7:'Kişisel Bilgi Toplama Araçları',
                8:'Kişisel bilgilerinizi çeşitli şekillerde toplayıp saklayacağız:',
                9:'Resmi web sitemizi veya diğer çevrimiçi hizmetlerimizi ziyaret ettiğinizde veya bunlara katıldığınızda gönüllü olarak bize sağladığınız bilgiler (örneğin, web sitemiz veya sorular, yorumlar veya çevrimiçi anketler için bizimle e-posta yoluyla iletişime geçtiğinizde).',
                10:'Çevrimdışı hizmetlerimize kaydolduğunuzda;',
                11:'Tarafımızca veya belirlenmiş şirketlerimiz tarafından geliştirilen uygulamaları indirdiğinizde veya kullandığınızda;',
                12:'Sosyal medyamızı takip ettiğinizde;',
                13:'Müşteri hizmetleri merkezimizin temsilcilerine bilgi verdiğinizde;',
                14:'Sizin hakkınızda başka kaynaklardan da bilgi toplayabilir ve bunları müşteri veri tabanımıza ekleyebiliriz.',
                15:'Cookies aracılığıyla bilgi toplayın',
                16:'Müşterilerimizin web sitemizi nasıl kullandığını takip etmek için Cookies ve diğer izleme teknolojilerini kullanıyoruz. Cookies, cihazınız için özel tanımlayıcılardır. Cihazınızı tanımlayarak, sizin için kişiselleştirilmiş ürünler ve reklamlar önerebiliriz (bu web sitesinden reklam içeriği sağlayan bağlı kuruluş web siteleri dahil).',
                17:'Cookies aracılığıyla topladığımız bilgiler, farklı müşteri gruplarına daha hedefli ve değerli ürün bilgileri ve hizmetler sağlamak için sınıflandırılır ve özetlenir. Cookies aracılığıyla toplanan bilgiler, tek başına kullanılamayacak kişisel bilgilerdir ve Cookies aracılığıyla toplanan bilgileri diğer bilgilerinizle birlikte kullandığımızı anlar ve kabul edersiniz. Çoğu web tarayıcısı, Cookiesi otomatik olarak etkinleştirir, ancak Cookiesi kapatmak için tarayıcınızın Ayarlarını her zaman ayarlayabilirsiniz. Ancak Cookies, daha iyi ve daha kişiselleştirilmiş hizmetlerimizden yararlanmanızı sağlayabilir. Cookiesi kapatırsanız, web sitemizde sunulan tüm hizmetleri tam olarak deneyimleyemeyebilir veya deneyimleyemeyebilirsiniz. Bu nedenle, onu açık duruma ayarlamanızı öneririz.',
                18:'Çağrı merkezi aracılığıyla bilgi toplayın',
                19:'Hizmet hattımızı aradığınızda, hizmet kalitesini iyileştirmek ve taleplerinizi takip etmek için arama sırasında sizden kişisel bilgiler toplayabilir veya aramayı elektronik ortamda kaydedebiliriz. Sesli arama sırasında kişisel bilgilerinizi topladığımızı ve aramayı kaydettiğimizi anlıyor ve kabul ediyorsunuz.',
                20:'',
                21:'Kişisel bilgi vermeyi reddetmenin sonuçları',
                22:'Kişisel bilgilerinizi veremezsiniz, kişisel bilgilerinizi vermemeyi seçerseniz, ürünlerimizi veya hizmetlerimizi size sağlayamayabiliriz veya ürünlerimizi kullanırken karşılaştığınız sorunlara cevap veremeyebiliriz veya Hizmetler. Sonuç olarak uğrayabileceğiniz herhangi bir kayıptan sorumlu olmayacağız.',
                23:'Kişisel bilgilerinizi nasıl kullanıyoruz',
                24:'Toplanan Kişisel Bilgileri aşağıdaki amaçlarla kullanacağız ("Kişisel Bilgi Toplama Amaçları"):',
                25:'Ürünlerimizi ve hizmetlerimizi yönetmek, size ürün ve hizmetlerimizi sunmak ve ürünlerimizi ve hizmetlerimizi kullanımınız hakkında sizinle zamanında iletişim kurmak;',
                26:'Hizmetlerimizin performansını ve işleyişini desteklemek, soru ve taleplerinize yanıt vermek ve işlemlerinizi yönetmek;',
                27:'Size satış sonrası hizmet ve destek sağlamak ve geri bildiriminizi almak;',
                28:'En son ürünlerimiz, hizmetlerimiz, türevlerimiz ve hizmetlerimiz hakkında sizi bilgilendirmek;',
                29:'Kişisel bilgilerinizi, ürünlerimizi, hizmetlerimizi ve müşterilerimizle iletişimi iyileştirmek ve müşterilerin sorunlarını zamanında çözmek için veri analizi ve araştırma gibi dahili amaçlar için kullanmak;',
                30:'Size ürün / hizmet güvenliği hakkında önemli bildirimler göndermek için kişisel bilgileri kullanın. Bu tür bilgiler kişisel güvenliğiniz için hayati önem taşıdığından, bu tür bilgileri almayı reddetmemenizi şiddetle tavsiye ederiz;',
                31:'Gerçekleşmiş veya meydana gelebilecek dolandırıcılığı araştırmak veya dolandırıcılığı veya diğer olası yasa dışı faaliyetleri önlemek için; Ve kabul ettiğin diğer yollar.',
                32:'Bazı durumlarda, ürünlerimizi, hizmetlerimizi, içeriğimizi ve reklamlarımızı sağlamak ve iyileştirmek için kişisel bilgilerinizi ve kişisel olmayan bilgilerinizi analiz ve araştırma için birleştirebiliriz.',
                33:'Kişisel Bilgilerinizi, yukarıdaki kişisel Bilgi toplama amaçlarına aykırı veya bu Gizlilik Politikasının kapsamı dışında kullanmayacağız.',
                34:'Kişisel bilgilerinizi üçüncü şahıslarla paylaşın ve paylaşın',
                35:'Kişisel gizliliğinize saygı duyuyor ve ilgili yasa ve düzenlemelere uyuyoruz. Toplanan kişisel bilgilerinizi kesinlikle gizli tutacağımıza ve kişisel bilgilerinizi başkalarına satmayacağımıza söz veriyoruz. Kişisel Bilgilerinizi yalnızca kişisel bilgi toplama amacıyla, bu Gizlilik Politikasına uyan veya en azından aynı koruyucu uygulamaları sağlayan aşağıdaki üçüncü taraflarla paylaşacağız. Aksi belirtilmedikçe, bu üçüncü taraflar kişisel bilgileri bizim adımıza toplamaz, kullanmaz veya aktarmaz. Bu nedenle, kişisel bilgilerin bu tür üçüncü şahıslar tarafından toplanması, kullanılması veya aktarılmasından sorumlu değiliz.',
                36:'Kişisel bilgilerin işlenmesi ve saklanması',
                37:'Kişisel bilgilerinizi, kişisel bilgi toplama amacınızı ihlal edecek şekilde veya bu Gizlilik Politikasının kapsamı dışında işlemeyecek, değiştirmeyecek veya zarar vermeyeceğiz.',
                38:'Kişisel verilerinizi sakladığımızda, kişisel bilgilerinizi yetkisiz erişim, ifşa ve kayıplardan korumak için elektronik güvenlik önlemleri ve fiziksel güvenlik önlemleri dahil ancak bunlarla sınırlı olmamak üzere makul ve yeterli güvenlik önlemleri alırız.',
                39:'Kişisel bilgilerin bütünlüğü ve güncellemesi',
                40:'Kişisel bilgilerinizin doğru, eksiksiz ve güncel olmasını sağlamanın bazı kolay yollarını sunuyoruz. Kişisel bilgilerinizi, bu tür bir saklamanın daha uzun bir süre için gerekli olduğu veya izin verildiği durumlar dışında, bu Gizlilik Politikasında belirtilen amaçlara ulaşmak için gerekli olan süre boyunca saklayacağız.',
                41:'Seçiniz',
                42:'Size pazarlama bilgilerini E-posta, telefon, cep telefonu / metin mesajı (SMS ve MMS dahil) veya mektupla gönderebiliriz; bunlarla sınırlı olmamak üzere: ürünlerimiz veya hizmetlerimizle ilgili en son bilgileri size bildirmek, sizi katılmaya davet etmek pazarlama faaliyetlerimizde veya ürünlerimiz veya hizmetlerimiz hakkında duyurular göndermek.',
                43:'Çocuk',
                44:'18 yaşın altındaki bir çocuğun kişisel bilgilerini bilerek toplamayacağız. 18 yaşın altındaki çocukların kişisel bilgilerini ebeveyn izni olmadan topladığımızı tespit edersek, bu tür bilgileri mümkün olan en kısa sürede silmek için adımlar atacağız.',
                45:'Üçüncü taraflar, ürünlerimiz ve hizmetlerimiz aracılığıyla sizden kişisel bilgiler toplar',
                46:'Ürünlerimiz ve hizmetlerimiz üçüncü taraf web sitelerine, ürünlerine ve hizmetlerine bağlantılar içerebilir. Ürünlerimiz ve hizmetlerimiz, üçüncü şahısların ürünlerini veya hizmetlerini de kullanabilir veya sağlayabilir. Sistemlerimiz, ürünlerimiz ve hizmetlerimiz aracılığıyla üçüncü şahıslar tarafından toplanan bu tür kişisel bilgiler (konum verilerini veya iletişim bilgilerini içerebilir, vb.), Üçüncü şahsın gizlilik politikalarına uygun olarak kullanılacak, işlenecek, saklanacak, aktarılacak, saklanacak ve imha edilecektir ve düzenlemeler. Bu süreçte kişisel bilgilerinizi yakalamaz veya toplamazsak, bundan sorumlu değiliz ve bu üçüncü tarafların gizlilik politikası hükümlerini anlayabileceğinizi umuyoruz; Bununla birlikte, bu süreçte kişisel bilgilerinizi yakalar veya toplarsak, bu Gizlilik Politikasının şartlarına kesinlikle uyacağız.',
                47:'Güncelleme',
                48:'Bu Gizlilik Politikasını herhangi bir zamanda değiştirme ve güncelleme hakkımız saklıdır. Gizlilik politikamızda önemli değişiklikler yaparsak, en son gizlilik politikasını mümkün olan en kısa sürede web sitemizde yayınlayacağız. Ayrıca en son gizlilik politikasını temsilcilerimize ileteceğiz. Detaylar için acentelerimizle iletişime geçebilirsiniz. Aksi belirtilmedikçe, en son ve etkili gizlilik politikası siz ve tüm kişisel bilgileriniz için geçerlidir.',
                49:'Bize Ulaşın',
                50:'Yukarıdaki politika veya kişisel bilgilerinizin korunması ile ilgili herhangi bir sorunuz veya sorunuz varsa veya tarafımızdan tutulan kişisel bilgilerinizin içeriğine erişmek veya tarafınızca sağlanan kişisel bilgilerde düzeltme yapmak istiyorsanız, lütfen müşteri hizmetlerimiz aracılığıyla bizimle iletişime geçin. Sorunuza veya talebinize mümkün olan en kısa sürede cevap vereceğiz. Yanıt sağlamanın maliyeti veya yanıt talebinin sıklığı makul olmadığı sürece yanıt ücretsizdir.',
                51:'Lütfen bu Gizlilik Politikasını dikkatlice okuyun. Okumayı bitirip kişisel bilgilerinizi vermeye devam ettiğinizde veya ürünlerimizi satın aldığınızda veya hizmetlerimizi kullandığınızda, bu Gizlilik Politikasının tüm şartlarını ve içeriğini tam olarak anlamış ve kabul etmiş olursunuz.'
            },
            4:{
                1:'سياسة الخصوية',
                2:'اتصل بنا',
                3:'يرجى قراءة سياسة الخصوصية هذه بعناية. باستخدامك لمنتجاتنا وخدماتنا، أنت توافق على أنك قد بلغت 18 عاماً على الأقل وفهمت ووافقت على كافة بنود ومحتويات سياسة الخصوصية هذه. إذا كنت لا توافق على سياسى الخصوصية هذه، لن تتمكن من استخدام منتجاتنا او خدماتنا.',
                4:'نطاق المعلومات الشخصية',
                5:'في سياسة الخصوصية هذه، "المعلومات الشخصية" تشير إلى نوع المعلومات الشخصية المجمعة التي يمكن أن تحدد هوية شخص معين، ويمكن أن تقسم إلى معلومات شخصية يمكن استخدامها بشكل مستقل (مثل الاسم، معلومات الهوية الشخصية) ومعلومات لا يمكن استخدامها بشكل مستقل ويجب دمجها مع معلومات أخرى(مثل معلومات الموقع، السيارة). المعلومات الشخصية التي يمكن استخدامها بشكل مستقل فقط سيتم جمعها بإشعارك وموافقتك المسبقين. المعلومات الشخصية التي لا يمكن استخدامها بشكل مستقل يمكن أن يتم تحصيلها، استخدامها، نقلها وكشفها من قبلنا لأي سبب غير الاستخدام المشترك.',
                6:'قد نقوم بجمع "معلومات شخصية" تشمل على سبيل المثال لا الحصر، اسمك، عنوانك البريدي، رقم الهاتف، عنوان البريد الالكتروني، ومعلومات اتصال أخرى، العمر، تاريخ الميلاد، الجنس، المستوى التعليمي المهنة، الرمز البريدي، رمز المنطقة، الصورة الشخصية، معلومات التفضيلات، الهوية الشخصية، رخصة القيادة، معلومات البطاقة الائتمانيةـ معرف الجهاز المميزـ معلومات الموقع، حلاة السيارة، السلوك والخ.',
                7:'وسائل جمع  المعلومات الشخصية',
                8:'سنقوم بجمع وتخزين معلوماتك الشخصية بعدة وسائل',
                9:'المعلومات التي تقدمها لنا بشكل طوعي عند زيارة أو المشاركة في موقعنا الرسمي أو خدماتنا الأخرى على الانترنت (على سبيل المثال عندما تتصل بنا عبر الموقع أو البريد الالكتروني للاستفسار أو التعليق أو الاستبيانات عبر الانترنت).',
                10:'عندما تسجل لخدماتنا الغير متصلة بالانترنت',
                11:'عندما تقوم بتحميل أو تستخدم التطبييقات المطورة من قبلنا أو الشركات الشريكة',
                12:'عندما تتابعنا على وسائل التواصل الاجتماعي',
                13:'عندما تقدم معلومات لممثي مركز خدمة العملاء',
                14:'قد نقوم أيضاً بجمع معلومات عنك من مصادر أخرى ونضيفها إلى قاعدة بيانات العملاء',
                15:'جمع المعلومات من ملفات تعريف الارتباط',
                16:'نحن نستخدم ملفات تعريف الارتباط وتقنيات تتبع أخرى لنبقى على اطلاع على كيفية استخدام الزبائن لموقعنا. ملفات تعريف الارتباط هي محددات خاصة لجهازك. بتحديد جهازك، يمكننا ترشيح منتجات مخصصة وإعلانات لك(بما في ذلك المواقعا الشريكة التي تقدم إعلانات من هذا الموقع)',
                17:'المعلومات التي نجمعها من خلال ملفات تعريف الارتباط سرية وملخصة لتقدم معلومات منتجات وخدمات أكثر قيمة وتوجه للمجموعات المختلفة من الزبائن. المعلومات التي نجمعها من خلال ملفات تعريف الارتباط والتي هي معلومات لا يمكن استخدامها بشكل مستقل، وانت تفهم و توافق على استخدامنا للمعلومات المجمعة عن طريق ملفات تعريف الارتباط. بكل الأحوال، ملفات تعريف الارتباط يمكن تفعيلها لتستمتع بخدمات أفضل وأكثر تخصيصاً. إذا قمت بتعطيل ملفات تعريف الارتباط، قد لا تتمكن من تجربة كل الخدمات المقدمة على موقعنا بشكل جزئي أو كامل. لذلك، نوصي بأن تبقي ملفات تعريف الارتباط مفعلة.',
                18:'جمع المعلومات عبر مركز الخدمة',
                19:'عندما تقوم بالاتصال بالرقم الخدمة الساخن، لتحسين جودة خدمتنا ولنبقى على اطلاع على طلباتك، قد نقوم بتجميع معلومات شخصية خلال المكالمة أو تسجيل المكالمة عبر وسائل الوسائط الرقمية.. أنت تفهم وتوافق على أننا نقوم بجمع معلومات شخصية أثناء المكالمة الصوتية ونقوم بتسجيل المكالمة.',
                20:'',
                21:'عواقب رفض تقديم معلومات شخصية',
                22:'بإمكانك الامتناع عن تقديم معلومات شخصية، إذا اخترت الامتناع عن تقديم معلومات شخصية، قد لا نتممكن من تقديم منتجاتنا وخدماتنا إليك، أو قد نكون غير قادرين على الاستجابة للمشاكل التي تواجهك عند استخدامك لمنتجاتنا أو خدماتنا. لن نكون مسؤولين عن أي خسارة قد تواجهها.',
                23:'كيف نقوم باستخدام معلوماتك الشخصية',
                24:'سنقوم باستخدام معلوماتك الشخصية المجمعة للأغراض التالية (أسباب جمع المعلومات الشخصية):',
                25:'إدارة منتجاتنا وخدماتنا، تقديم منتجاتنا وخدماتنا لك، والتواصل معك في الوقت المناسب حول استخدامك لمنتجاتنا وخدماتنا.',
                26:'دعم أداء ووظيفة خدماتنا، الاستجابة لتساؤلاتك وطلباتك، ومعالجة عملياتك.',
                27:'تقديم خدمة ودعم مابعد البيع لك والحصول على تقييم منك.',
                28:'إبقائك على اطلاع على آخر منتجاتنا، خدماتنا، والمشتقات.',
                29:'استخدام المعلومات الشخصية لأغراض داخلية، على سبيل المثال تحليل البيانات و الأبحاث، لتحسين منتجاتنا وخدماتنا وتواصلنا مع الزبائ، ولحل مشاكل العملاء في الوقت المناسب.',
                30:'استخدام المعلومات الشخصية لنرسل لك إشعارات مهمة حول أمان وحماية منتجاتنا/خدماتنا. مثل هذه المعلومات ذات أهمية عالية لسلامتك الشخصية، نوصي بشدة أن لا ترفض استلام مثل هذه المعلومات.',
                31:'للتحقيق في عمليات الاحتيال التي حصلت أو قد تحصل ولمنع الاحتيال والأشكال الأخرى الممكنة للنشاطات الغير قانونية.',
                32:'في بعض الحالات، لنقوم بتزويد وتحسين منتجاتنا، خدماتنا، محتوانا و إعلاناتنا، قد نقوم بجمع معلوماتك الشخصية مع معلوماتك الغير شخصية من أجل التحليل والبحث.',
                33:'لن نستخدم معلومتك الشخصية فيما يخالف أسباب جمع المعلومات الشخصية آنفة الذكر أو خارج نطاق سياسية الخصوصية هذه.',
                34:'كشف ومشاركة معلوماتك الشخصية مع أطراف خارجية',
                35:'نحن نحترم خصوصيتك ونمتثل لقوانين وتشريعات متوافقة. نتعهد بأن نبقي معلومتك الشخصية المجمعة سرية للغاية ولن نقوم ببيع معلوماتك الشخصية للآخرين. سنقوم فقط بمشاركة معلوماتك الشخصية لأغراض جمع المعلومات الشخصية مع الأطراف الخارجية التي تمتثل أو على الأقل تقدم إجرائيات حماية تماثل المذكورة في سياسة الخصوصية هذه.  إذا لميتم ذكر خلاف ذلك، فإن هذه الأطراف الخارجية لن تقوم بجمع، استخدام أو نقل معلوماتك الشخصية بالنيابة عنا. لذلك، فنحن غير مسؤولين عن جمع، استخدام أو نقل معلوماتك الشخصية من قبل أطراف خارجية من هذا القبيل.',
                36:'معالجة وتخزين المعلومات الشخصية',
                37:'لن نقوم بمعالجة، تعديل، أو تخريب معلوماتك الشخصية في ما يخالف أغراض جمع المعلومات الشخصية أو خارج نطاق سياسة الخصوصية هذه.',
                38:'عندما نقوم بتخزين معلوماتك الشخصية، نحن نضع إجرائات حماية منطقية وكافية لحماية معلوماتك الشخصية من الوصول الغير مصرح به، التعرض للإفشاء و الفقدان. تشمل على سبيل المثال لا الحصر وسائل الحماية الالكترونية والفيزيائية.',
                39:'سلامة وتحديث المعلومات الشخصية',
                40:'نحن نقدم وسائل سهلة لضمان صحة معلوماتك الشخصية، كاملة، ومحدثة. سنحتفظ بمعلوماتك الشخصية للمدة الضرورية لتحقيق الغاية المذكورة في سياسة الخصوصية هذه، إلا في الحالات عندما يكون الاحتفاظ بها لفترة أطول ضروري أو مسموح بشكل قانوني.',
                41:'الاختيار',
                42:'قد نرسل إليك معلومات تسويقية عبر البريد الالكتروني، الهاتف، مكالمات أو رسائل الجوال (بما يشمل الرسائل النصية و رسائل الوسائط المتعددة) أو رسائل بريدية. بما يشمل على سبيل المثال لا الحصر: إبلاغك بآخر المعلومات حول منتجاتنا أو خدماتنا، دعوتك للمشاركة في نشاطاتنا التسويقية، أو إرسالإعلانات عن منتجاتنا أو خدماتنا.',
                43:'الأطفال',
                44:'لن نقوم بجمع معلومات شخصية عن أطفال تحت سن ال18 عن دراية. إذا اكتشفنا أننا قمنا بجمع معلومات شخصية لطفل تحت ال18 عاماً بدون دراية الأهل، سنقوم باتخاذ كافة الإجرائات لحذف هذه المعلومات في أسرع وقت.',
                45:'الأطراف الخارجية تقوم بجمع معلومات شخصية عنك من خلال منتجاتنا وخدماتنا',
                46:'منتجاتنا وخدماتنا قد تحوي على روابط مواقع أطراف خارجية، منتجات، وخدمات. منتجاتنا وخدماتنا قد تستخدم أو تقدم منتجات وخدمات من أطراف خارجية أيضاً. معلومات شخصية من هذا القبيل (التي قد تحوي على بيانات الموقع أو معلومات التواصل، الخ.) التي تجمع من الأطراف الخارجية عبر نظامنا، منتجاتنا وخدماتنا ينبغي أن تستخدم، تعالج، تخزن، تنقل، يحتفظ بها، وتتلف، بما يتوافق مع سياسية خصوصية الطرف الخارجي وأحكامه. إذا لم نقم بجمع أو تحصيل معلوماتك الشخصية في هذه العملية، لن نكون مسؤولين عنها، ونأمل أن تتمكن من فهم أحكام سياسة الخصوصية لهذه الجهاات. على كل حال، إذا قمنا بجمع أو تحصيل معلوماتك الشخصية أثناء العملية، سنلتزم بشكل صارم بسياسة الخصوصية هذه.',
                47:'تحديث',
                48:'نحتفظ بحق تعديل وتحديث ساسية الخصوصية هذه في أي وقت. إذا قمنا بتغيرات جذرية على سياسة الخصوصية، سنقوم بنشر آخر سياسة خصوصية على موقعنا في أسرع وقت ممكن. سنوصل آخر سياسة خصوصية إلى وكلائنا. يمكنك أن تتواصل مع وكلائنا للحوصل على تفاصيل. إذا لم يذكر خلاف ذلك، آخر سياسة خصوصية فعالة ستكون مطبقة عليك وعلى معلوماتك الشخصية.',
                49:'تواصل معنا',
                50:'إذا كان لديك أي استفسار أو تساؤل حول سياسة الخصوصية أعلاه أو حماية معلوماتك الشخصية، أو إذا كنت ترغب في الوصول إلى محتوى معلوماتك الشخصية التي لدينا، أو إذا كنت ترغب في تصحيح معلوماتك الشخصبة التي تزودنا بها، يرجى التواصل معنا عبر خدمة الزبائن. سنقوم بالاجابة على تساؤلاتك أو طلباتك بأسرع وقت ممكن. الرد سيكون مجاني إلا إذا كانت تكلفة الاستجابة للطلب أو تكرار الطلب غير منطقي.',
                51:'الرجاء قراءة سياسة الخصوصية هذه بعناية، عندما تنهي القراءة وتستمر بتزويدنا بمعلوماتك الشخصية، أو تقوم بشراء منتجاتنا أو استخدام خدماتنا، فأنت قد فهمت ووافقت بشكل كامل على البنود والأحكام المذكورة في سياسة الخصوصية هذه.'
            },
            5:{
                1:'سیاست حریم خصوصی',
                2:'تماس با ما',
                3:'لطفاً سیاست حفظ حریم خصوصی را با دقت مطالعه نمایید. جهت استفاده از محصولات یا خدمات ما شما تایید می کنید که به سن 18 سالگی رسیده اید و کلیه شرایط و محتوای سیاست حفظ حریم خصوصی را کاملاً درک کرده و پذیرفته اید. در صورت عدم موافقت، لطفا از محصولات یا خدمات ما استفاده نکرده و با ما همکاری نکنید.',
                4:'مفهوم حریم اطلاعات شخصی',
                5:'در سیاست حفظ حریم خصوصی، "اطلاعات شخصی" به اطلاعات جمع آوری شده ی خاص برای شناسایی هویت اشخاص گفته می شود، که می تواند به اطلاعات شخصی که می تواند به تنهایی مورد استفاده قرار گیرد (مانند نام ، اطلاعات کارت شناسایی) تقسیم شود که به تنهایی قابل استفاده نیست و باید با سایر اطلاعات (به عنوان مثال ، اطلاعات مکان ، وسایل نقلیه) ترکیب شود. اطلاعات شخصی که جمع آوری می کنیم ممکن است شامل هر دو نوع اطلاعات باشد. اطلاعات شخصی که می توانند به طور مستقل مورد استفاده قرار گیرند تنها با اطلاع و رضایت قلبی شما جمع آوری می شود. اطلاعات شخصی که به طور جداگانه قابل استفاده نیستند ممکن است توسط ما برای هر هدف دیگری غیر از استفاده ترکیبی جمع آوری ، مورد استفاده ، انتقال و افشا شود.',
                6:'"اطلاعات شخصی" جمع آوری شده ی شما ممکن است، البته نه بطور قطع، شامل نام شما، آدرس پستی ، شماره تلفن، آدرس پست الکترونیکی و سایر اطلاعات تماس، سن، تاریخ تولد، جنسیت، تحصیلات، شغل، زبان، کد پستی، منطقه کد، تصویر شخصی، اطلاعات مربوط به اولویت های شما، کارت شناسایی، اطلاعات گواهی نامه ی رانندگی، اطلاعات کارت اعتباری، شناسه منحصر به فرد دستگاه، اطلاعات مکان، وضعیت خودرو، رفتار و غیره باشد.',
                7:'مفهوم جمع آوری اطلاعات شخصی',
                8:'ما اطلاعات شخصی شما را به روش های مختلف جمع آوری و ذخیره خواهیم کرد:',
                9:'اطلاعاتی که هنگام مراجعه و یا مشارکت در وب سایت رسمی یا سایر خدمات آنلاین ما به طور داوطلبانه به ما ارائه می دهید (مانند تماس با ما از طریق وب سایت یا ایمیل ما برای پرسش و پاسخ ، نظر یا نظرسنجی آنلاین).',
                10:'هنگام ثبت نام برای استفاده از خدمات آفلاین ما؛',
                11:'هنگام بارگیری یا استفاده از برنامه هایی که توسط ما یا شرکت های معین تولید شده اند؛',
                12:'هنگامی که رسانه های اجتماعی ما را دنبال می کنید؛',
                13:'هنگام ارائه ی اطلاعات به نمایندگان مراکز خدمات مشتری؛',
                14:'همچنین ممکن است اطلاعات مربوط به شما را از منابع دیگر جمع آوری کرده و به پایگاه داده مشتری خود اضافه کنیم.',
                15:'جمع اوری اطلاعات از طریق کوکی ها',
                16:'ما از کوکی ها و سایر فناوری های ردیابی برای پیگیری نحوه استفاده مشتریان از وب سایت استفاده می کنیم. کوکی ها شناسه های خاصی برای دستگاه شما هستند. با شناسایی دستگاه شما می توانیم محصولات و تبلیغات شخصی شده را برای شما ارسال کنیم (از جمله وب سایت های وابسته که محتوای تبلیغاتی این وب سایت را ارائه می دهند).',
                17:'اطلاعاتی که از طریق کوکی ها جمع آوری می کنیم طبقه بندی و خلاصه می شود تا اطلاعات و خدمات هدفمند و با ارزش تری را به گروه های مختلف مشتری ارائه دهد. اطلاعات جمع آوری شده از طریق کوکی ها اطلاعات شخصی است که نمی تواند به صورت جداگانه مورد استفاده قرار گیرد و شما در جریان هستید که ما از اطلاعات جمع آوری شده از طریق کوکی ها در ترکیب با سایر اطلاعات شما استفاده می کنیم. بیشتر مرورگرهای وب به طور خودکار کوکی ها را روشن می کنند ، اما شما همیشه می توانید تنظیمات مرورگر خود را برای خاموش کردن کوکی ها انجام دهید. با این حال ، کوکی ها می توانند شما را قادر به لذت بردن از خدمات بهتر و شخصی تر ما کنند. اگر کوکی ها را خاموش کنید ممکن است نتوانید تمام خدمات ارائه شده در وب سایت ما را کاملاً تجربه کنید. بنابراین ، توصیه می کنیم آن را روی حالت باز تنظیم کنید.',
                18:'جمع آوری اطلاعات از طریق مراکز تماس',
                19:'هنگامی که با بخش خدمات مشتری ما تماس می گیرید برای ارتقاع کیفیت خدمات و پیگیری درخواست های شما، ممکن است در هنگام مکالمه اطلاعات شخصی را از شما جمع آوری کنیم یا تماس را از طریق رسانه الکترونیکی ضبط کنیم. شما موافقت می کنید که ما در هنگام تماس صوتی اطلاعات شخصی شما را جمع آوری کرده و تماس را ضبط می کنیم.',
                20:'',
                21:'عواقب امتناع از ارائه اطلاعات شخصی',
                22:'ممکن شما است اطلاعات شخصی خود را ارائه ندهید، اگر تصمیم دارید اطلاعات شخصی خود را ارائه ندهید، ممکن است نتوانیم محصولات یا خدمات خود را به شما ارائه دهیم یا ممکن است نتوانیم به مشکلی که هنگام استفاده از محصولات ما روبرو می شوید پاسخ دهیم. ما مسئولیتی در قبال خساراتی که ممکن است به عنوان یک نتیجه گیری متحمل شوید ، نخواهیم داشت.',
                23:'چگونه از اطلاعات شخصی شما استفاده میکنیم',
                24:'ما از اطلاعات شخصی جمع آوری شده به منظور ذیل ("اهداف جمع آوری اطلاعات شخصی") استفاده خواهیم کرد:',
                25:'محصولات و خدماتما ن را مدیریت کنیم، و در اختیار شما قرار دهیم تا در مورد استفاده شما از محصولات و خدماتمان به موقع با شما ارتباط برقرار کنیم؛',
                26:'از عملکرد خدمات پشتیبانی میکنیم، به سوالات و درخواست های شما پاسخ میدهیم و معاملات شما را کنترل میکنیم؛',
                27:'خدمات پس از فروش خود را برای پشتیبانی از شما ارائه داده و نظرات شما را دریافت میکنیم؛',
                28:'شما را در جریان آخرین محصولات، خدمات و مشتقاتمان قرار دهیم؛;',
                29:'برای بهبود محصولات، خدمات و ارتباط با مشتریان و حل به موقع مشکلات مشتریان، از اطلاعات شخصیتان با استفاده از راهبردهای داخلی مانند تحلیل و بررسی داده ها استفاده میکنیم؛',
                30:'برای ارسال اطلاعیه های مهم درباره امنیت محصول / خدمات از اطلاعات شخصی شما استفاده کنیم. از آنجا که چنین اطلاعاتی برای ایمنی شخصی شما از اهمیت بسزایی برخوردار است اکیداً توصیه می کنیم که از دریافت چنین اطلاعاتی خودداری نکنید؛',
                31:'به منظور شناسایی کلاهبرداری رخ داده یا احتمال کلاهبرداری یا جلوگیری از کلاهبرداری یا سایر اقدامات غیرقانونی بالقوه و سایر روش هایی که با آن ها موافق هستید؛',
                32:'در برخی موارد برای ارائه و بهبود محصولات، خدمات، محتوا و تبلیغات خود ممکن است اطلاعات شخصی و غیر شخصی شما را نیز برای تجزیه و تحلیل و تحقیق ترکیب کنیم.',
                33:'ما از اطلاعات شخصی شما در خلاف اهداف جمع آوری اطلاعات شخصی فوق یا خارج از محدوده این سیاست حفظ حریم خصوصی استفاده نخواهیم کرد.',
                34:'اطلاعات شخصی خود را با اشخاص ثالث افشا و به اشتراک بگذارید',
                35:'ما به حریم شخصی شما احترام می گذاریم و از قوانین و مقررات مربوطه پیروی می کنیم. ما قول می دهیم اطلاعات شخصی شما را کاملاً محرمانه نگهداری کنیم و اطلاعات شخصی شما را به دیگران نمی فروشیم. ما اطلاعات شخصی شما  را فقط به هدف جمع آوری اطلاعات شخصی با اشخاص ثالثی که با این سیاست حفظ حریم خصوصی مطابقت دارند یا حداقل از آنها استفاده می کنند، به اشتراک خواهیم گذاشت مگر در مواردی که خلاف آن ذکر شده باشد، این اشخاص ثالث اطلاعات شخصی را از طرف ما جمع آوری ، استفاده یا انتقال نمی دهند. بنابراین ما مسئول جمع آوری ، استفاده یا انتقال اطلاعات شخصی توسط اشخاص ثالث نیستیم.',
                36:'پردازش و ذخیره اطلاعات شخصی',
                37:'هدف جمع آوری اطلاعات شخصی شما یا فراتر از محدوده این سیاست حفظ حریم خصوصی، پردازش، تغییر  یا آسیب به اطلاعات شخصی شما نیست.',
                38:'وقتی اطلاعات شخصی شما را ذخیره می کنیم، اقدامات امنیتی منطقی و کافی در نظر گرفته ایم تا از اطلاعات شخصی شما در برابر دسترسی، افشا و از دست دادن غیرمجاز محافظت کنیم، شامل اقدامات امنیتی الکترونیکی و اقدامات امنیتی فیزیکی اما صرفا محدود به آنها نیست.',
                39:'یکپارچگی و به روزرسانی اطلاعات شخصی',
                40:'ما چند روش آسان برای اطمینان از دقت، تکمیل بودن و به روز بودن اطلاعات شخصی شما ارائه می دهیم. اطلاعات شخصی شما را برای مدت زمانی که برای دستیابی به اهداف مندرج در این سیاست حفظ حریم خصوصی لازم است حفظ خواهیم کرد، مگر در مواردی که چنین نگهداری برای مدت طولانی تری توسط قانون لازم یا مجاز باشد.',
                41:'انتخاب کنید',
                42:'ما ممکن است اطلاعات بازاریابی را از طریق پست الکترونیکی، تلفن، تلفن همراه / پیامک (شامل پیام کوتاه) یا نامه برای شما ارسال کنیم، تا شما را در جریان آخرین اطلاعات مربوط به محصولات و خدمات قرار دهیم، از شما برای مشارکت در فعالیت های بازاریابی درخواست همکاری کنیم، و یا اطلاعیه های مربوط به محصولات یا خدمات را برای شما ارسال کنیم.',
                43:'کودکان',
                44:'ما آگاهانه اطلاعات شخصی کودکان زیر 18 سال را جمع آوری نخواهیم کرد و چنانچه متوجه شویم که اطلاعات شخصی کودکان زیر 18 سال را بدون رضایت والدین جمع آوری کرده ایم برای حذف سریع این اطلاعات در اسرع وقت اقدام خواهیم کرد.',
                45:'اشخاص ثالث از طریق محصولات و خدمات ما اطلاعات شخصی شما را جمع آوری می کنند',
                46:'محصولات و خدمات ما ممکن است حاوی پیوندهایی به وب سایت ها، محصولات و خدمات شخص ثالث باشد. محصولات و خدمات ما همچنین ممکن است از محصولات یا خدمات اشخاص ثالث استفاده کرده یا آن ها را ارائه دهند. چنین اطلاعات شخصی (که ممکن است حاوی داده های مکان یا اطلاعات تماس و غیره باشد) که توسط اشخاص ثالث از طریق سیستم ها، محصولات و خدمات ما جمع آوری می شود، مطابق با سیاست های رازداری شخص ثالث مورد استفاده، پردازش، ذخیره، انتقال، نگهداری میشود و ممکن است مطابق با سیاست حریم خصوصی شخص ثالث و مقررات از بین برود. اگر اطلاعات شخصی شما را در این فرآیند ضبط یا جمع آوری نکنیم، مسئولیتی در قبال آن نداریم و امیدواریم که بتوانید مفاد سیاست حفظ حریم خصوصی این اشخاص ثالث را درک کنید. با این حال اگر در روند کار اطلاعات شخصی شما را ضبط یا جمع آوری کنیم، به شدت از قوانین این سیاست حفظ حریم خصوصی پیروی خواهیم کرد',
                47:'به روز رسانی',
                48:'ما حق تغییر و به روزرسانی سیاست حفظ حریم خصوصی را در هر زمان برای خود محفوظ می داریم. در صورت اعمال تغییرات مهمی در سیاست حفظ حریم خصوصی، در اسرع وقت آخرین سیاست حفظ حریم خصوصی را در وب سایت خود ارسال خواهیم کرد. همچنین آخرین سیاست حفظ حریم خصوصی را به نمایندگان خود ارائه خواهیم داد. برای جزئیات بیشتر می توانید با نمایندگان ما تماس بگیرید. بجز موارد ذکر شده، آخرین و موثرترین سیاست حفظ حریم خصوصی در مورد شما و کلیه اطلاعات شخصی شما اعمال می شود.',
                49:'تماس با ما',
                50:'در صورت هرگونه سوال در خصوص خط مشی فوق یا محافظت از اطلاعات شخصی خود، یا دسترسی به محتوای اطلاعات شخصی خود که توسط ما نگهداری می شود، یا اصلاح اطلاعات شخصی ارائه شده توسط شما، لطفا از طریق خدمات مشتری با ما تماس بگیرید. ما در اسرع وقت به درخواست شما پاسخ خواهیم داد. پاسخ رایگان است مگر اینکه هزینه ارائه پاسخ یا تعداد دفعات درخواست پاسخ منطقی نباشد.',
                51:'لطفاً سیاست حفظ حریم خصوصی را با دقت مطالعه کنید. پس از اتمام مطالعه و ارائه ی اطلاعات شخصی، یا محصولات ما را خریداری کرده اید یا از خدمات ما استفاده کرده اید که در هر صورت کلیه ی شرایط و محتوای سیاست حفظ حریم خصوصی را کاملاً درک کرده و پذیرفته اید.'
            }
        },
        head:['隐私政策','Privacy Policy','Gizlilik Politikası','سياسة الخصوصيصة','سیاست حریم خصوصی'],



    };
  },
   metaInfo() {return {
      title: this.head[this.curLanguage-1]+'-N Sky',
   }
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

//    if(this.curLanguage!=2){
//        let pName = this.$route.name.substring(0,this.$route.name.length-2)
//        let pNameStr = pName + languageCode[this.curLanguage]
//        this.$router.push({name:pNameStr});
//    }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
    window.scroll({
      top: 0,
      left: 0,
      behavior: 'smooth'
    });
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
         this.curLanguage = val;
    //    console.log(this.curLanguage)
    //    let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
    //    let pNameStr = pName + languageCode[val]
    //    this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-8 {
       width: 66.66666667%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background: rgba(0, 0, 0, 0) linear-gradient(90deg, #272833 2.5%, #1f202c 97%) repeat scroll 0% 0%;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}

.privacy-box{
   h3{font-size: 24px !important;font-weight: bold;margin:50px 0 10px;color: #000 !important;}
   h5{font-size: 18px;font-weight: bold;margin:30px 0 10px;color: #387ee2;}
   p{font-size: 14px;margin-bottom: 10px;}
}


 
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
.rightToLeft{
    direction: rtl!important;
}


</style>
