<template>
    <div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        

        <div class="container" id="traderMainContainer" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}">
        <div class="row">
            <div class="col-12">
                <div>
                    <div>
                    <div class="card" id="cardShadow">
                        <div class="row row-profile">
                            <div class="strategy-manager__rank "> <span field-text="rank" id="rankBadge">{{Id}}</span></div>
                        </div>
                        <div class="col-12" style="display:flex">
                            <div class="pictures col-3 row-breaker">
                                <div class="pPic"> <img v-bind:src="users[Id].img"></div>
                                <div class="fPic"> <img v-bind:src="users[Id].flag"></div>
                            </div>
                            <div class="col-3 row-breaker" id="nameDiv">
                                <div class="strategy-manager__data">
                                    <h2>{{users[Id].pName[curLanguage]}}</h2>
                                    <h4>{{users[Id].name}}</h4>
                                    <br>
                                    <p class="mb-0" style="width:max-content;font-style:oblique;color:gray">"{{users[Id].qoute[curLanguage]}}"</p>
                                       
                                </div>
                               
                            </div>
                             <div class="col-6 row-breaker" id="warP">
                                 
                                <p class="small text-right" id="textTrader" style="color: #9e9e9e;max-height:150px">{{language[curLanguage][1]}}<br><small style="position: relative;bottom: 130px;">{{language[curLanguage][2]}}</small></p>
                            </div>
                            
                        </div>
                       <div class="row col-12" style="margin:20px 0 0 0;display:block">
                        <div class="col-1 traderDetails"></div>
                        <div class="col-2 traderDetails" >
                            <div >
                                <div>
                                    <div class="figure"> {{users[Id].returnRate}}</div>
                                </div>
                                <div class="figureTitle">{{language[curLanguage][3]}}</div>
                            </div>
                        </div>
                        <div class="col-2 traderDetails">
                            <div >
                                <div class="figure"> {{users[Id].daysOpen}}</div>
                                <div class="figureTitle">{{language[curLanguage][4]}}</div>
                            </div>
                        </div>
                        <div class="col-2 traderDetails">
                            <div >
                                <div class="figure" v-bind:style="[this.Id==1?{'color':'#12d767'}:this.Id==2?{'color':'#ffc600'}:{'color':'#ff5a24'}]">{{users[Id].riskLevel}}</div>
                                <div class="figureTitle">{{language[curLanguage][5]}}</div>
                            </div>
                        </div>
                        <div class="col-2 traderDetails">
                            <div>
                                <div class="figure">{{users[Id].follower}}</div>
                                <div class="figureTitle">{{language[curLanguage][6]}}</div>
                            </div>
                        </div>
                        <div class="col-2 traderDetails">
                            <div >
                                <div class="figure">{{users[Id].managedFunds}}</div>
                                <div class="figureTitle">
                                    {{language[curLanguage][7]}}
                                    <!-- <div class="info-icon">
                                    <div class="info-container"> <span class="tip-triangle"></span> All investors funds under the Strategy Account</div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div  class="container" id="traderMainContainer">
            <div class="row">
                <div class="col-12">
                    <div class="card chartCard">
                        <div class="row">
                            <div id="mainChart">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container" v-bind:class="{rightToLeft:(this.curLanguage==4||this.curLanguage==5)}">
            <div class="row">
                <div class="col-12">
                    <div class="card" style="border:none">
                        <div class="row">
                            <div class="col-4" id="historyData">
                                <h4>{{language[curLanguage][9]}}</h4>
                                <table class="table table-straight table-striped">
                                    <tbody>
                                        <tr>
                                            <td class="hidden-xs trading-cell ">{{language[curLanguage][10]}}</td>
                                            <td class="hidden-xs trading-cell "><span dir="ltr" v-bind:class="{down:this.Id==1,up:this.Id==3}">{{users[Id].day}}</span></td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][11]}}</td>
                                            <td class="trading-cell "><span dir="ltr" class="down" v-bind:class="{up:this.Id==2}">{{users[Id].week}}</span></td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][12]}}</td>
                                            <td class="trading-cell "><span dir="ltr" class="" v-bind:class="{down:this.Id==3,up:this.Id!=3}">{{users[Id].month}}</span></td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][13]}}</td>
                                            <td class="trading-cell "><span dir="ltr" class="" v-bind:class="{down:this.Id==3,up:this.Id!=3}">{{users[Id].month3}}</span></td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][14]}}</td>
                                            <td class="trading-cell "><span dir="ltr" v-bind:class="{up:(this.Id==1||this.Id==3)}">{{users[Id].month6}}</span></td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][15]}}</td>
                                            <td class="trading-cell "><span dir="ltr" class="up">{{users[Id].all}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-4" id="historyData">
                                <h4>{{language[curLanguage][16]}}</h4>
                                <table class="table table-straight table-striped">
                                    <tbody>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][17]}}</td>
                                            <td></td>
                                            <td  class="trading-cell " dir="ltr"><span>{{users[Id].maxDrop}}%</span></td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][18]}}</td>
                                            <td class="line"></td>
                                            <td dir="ltr"  class="trading-cell ">{{users[Id].totalDay}}</td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][19]}}</td>
                                            <td></td>
                                            <td dir="ltr" class="trading-cell ">{{users[Id].profDay}}</td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][20]}}</td>
                                            <td class="line"></td>
                                            <td class="trading-cell " dir="ltr">{{users[Id].unProfDay}}</td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][21]}}</td>
                                            <td></td>
                                            <td class="trading-cell " dir="ltr">{{users[Id].avgWin}}%</td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][22]}}</td>
                                            <td></td>
                                            <td class="trading-cell " dir="ltr">{{users[Id].avgLos}}%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class=col-4 id="historyData">
                                <h4>{{language[curLanguage][48]}}</h4>
                                <table class="table table-straight table-striped">
                                    <tbody>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][23]}}</td>
                                            <td class="line"></td>
                                            <td class="trading-cell " dir="ltr">{{users[Id].lev}}</td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][24]}}</td>
                                            <td class="line"></td>
                                            <td class="trading-cell " dir="ltr">{{users[Id].swap[curLanguage]}}</td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][27]}}</td>
                                            <td class="line"></td>
                                            <td class="trading-cell " dir="ltr">{{users[Id].profShare}}%</td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][28]}}</td>
                                            <td class="line"></td>
                                            <td class="trading-cell " dir="ltr">{{users[Id].minDep}}$</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 pieCard">
                    <div class="card" id="cardShadow">
                        <div class="row" style="padding:25px;padding-bottom:0px;max-height: 470px;">
                            <div class="col-6" style="display:contents">
                                <div id="pieChart">
                                    <apexchart ref="pieChar" type="pie" width="380" :options="chartOptions" :series="pieSeries[Id-1]"></apexchart>
                                </div>
                            </div>
                            <div class="col-3" id="historyData">
                                <table class="table table-straight table-striped">
                                    <tbody>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][31]}}</td>
                                            <td class="trading-cell "><span class="numbers">{{users[Id].totalTrade}}</span></td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][32]}}</td>
                                            <td class="trading-cell "><span class="numbers">{{users[Id].prof}}</span> (<span id="symbol_profitable_pc">{{users[Id].profPerc}}</span>%)</td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][33]}}</td>
                                            <td class="trading-cell "><span class="numbers">{{users[Id].unprof}}</span> (<span id="symbol_unprofitable_pc">{{users[Id].unprofPerc}}</span>%)</td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][34]}}</td>
                                            <td class="trading-cell "><span class="numbers">{{users[Id].tDay}}{{language[curLanguage][38]}}:{{users[Id].tHour}}{{language[curLanguage][39]}}:{{users[Id].tMin}}{{language[curLanguage][40]}}</span></td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][35]}}</td>
                                            <td class="trading-cell "><span class="numbers">{{users[Id].consWin}}</span></td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][36]}}</td>
                                            <td class="trading-cell "><span class="numbers">{{users[Id].grtWin | numFormat('0.00')}}</span></td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][37]}}</td>
                                            <td class="trading-cell "><span class="numbers">{{users[Id].avgDay | numFormat('0.00')}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-3" id="historyData">
                                <table class="table table-straight table-striped">
                                    <tbody>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][41]}}</td>
                                            <td class="trading-cell "><span class="numbers">{{users[Id].dealLoss}}</span> (<span id="symbol_deals_stop_loss_pc">{{users[Id].dealLossPer}}</span>%)</td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][42]}}</td>
                                            <td class="trading-cell "><span class="numbers">{{users[Id].dealTake}}</span> (<span id="symbol_deals_take_profit_pc">{{users[Id].dealTakePerc}}</span>%)</td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][43]}}</td>
                                            <td class="trading-cell "><span class="numbers">{{users[Id].sell}}</span> (<span id="symbol_sell_pc">{{users[Id].sellPerc}}</span>%)</td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][44]}}</td>
                                            <td class="trading-cell "><span class="numbers">{{users[Id].buy}}</span> (<span id="symbol_buy_pc">{{users[Id].buyPerc}}</span>%)</td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][45]}}</td>
                                            <td class="trading-cell "><span class="numbers">{{users[Id].consLoss}}</span></td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][46]}}</td>
                                            <td class="trading-cell "><span class="numbers">{{users[Id].grtLoss | numFormat('0.0')}}</span></td>
                                        </tr>
                                        <tr>
                                            <td class="trading-cell ">{{language[curLanguage][47]}}</td>
                                            <td class="trading-cell "><span class="numbers">{{users[Id].mxSim}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import pageHeader from '../components/pageHeaderTFX.vue'
import pageFooter from '../components/pageFooterTFX.vue'
import {languageCode} from '../utils/lan-code'
import VueApexCharts  from 'vue-apexcharts';



export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         Id:1,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false,
      
        
       pieSeries: [[2539,1226,1152,898,740],[22,7,2,6,8],[2603,1310,502,324,220]],
          chartOptions: {
            chart: {
              width: 500,
              type: 'pie',
              toolbar: {
                show: false
              }
            },
            labels: ['USD/GBP','USD/EUR','USDAUD','USD/JPY','USD/CHF'],
            title: {
              text: 'Instruments Traded',
              align: 'left'
            },
            responsive: [{
              breakpoint: 480,
              options: {
                chart: {
                  width: 200
                },
                legend: {
                  position: 'bottom'
                }
              }
            }]
          },
        language :{
            1:{
                1:'过去的表现不能保证未来的回报。交易是有风险的',
                2:'显示的值可能不是最新的。',
                3:'回报率％',
                4:'开放日',
                5:'风险等级',
                6:'跟随者',
                7:'托管资金（$）',
                8:'返回图表',
                9:'返回％',
                10:'天',
                11:'周',
                12:'1个月',
                13:'3个月',
                14:'6个月',
                15:'一直',
                16:'统计',
                17:'最大跌幅',
                18:'总交易日',
                19:'可盈利的日子',
                20:'无利可图的日子',
                21:'平均每日获胜',
                22:'平均每日损失',
                23:'杠杆',
                24:'免费交换',
                25:'不',
                26:'是的',
                27:'利润分享',
                28:'最低存款额',
                29:'交易的工具',
                30:'收入',
                31:'总交易量',
                32:'有利',
                33:'无利可图',
                34:'平均交易时长',
                35:'连续获胜',
                36:'最大胜利（点子）',
                37:'平均每日交易量',
                38:'天',
                39:'分钟',
                40:'是的',
                41:'止损交易',
                42:'获利交易',
                43:'卖出',
                44:'购买',
                45:'连续损失',
                46:'最大损失（点）',
                47:'最大同时开放交易量',
                48:'设置'
            },
            2:{
                1:'Past performance does not guarantee future returns. Trading is risky.',
                2:'The values displayed may not be up to date.',
                3:'Return Rate %',
                4:'Days Open',
                5:'Risk Level',
                6:'Followers',
                7:'Managed Funds ($)',
                8:'Return Chart',
                9:'Return %',
                10:'Day',
                11:'Week',
                12:'1 month',
                13:'3 months',
                14:'6 months',
                15:'All Time',
                16:'Statistics',
                17:'Max Drawdown',
                18:'Total Trading Days',
                19:'Profitable Days',
                20:'Unprofitable Days',
                21:'Average Daily Win',
                22:'Average Daily Loss',
                23:'Leverage',
                24:'Swap Free',
                25:'No',
                26:'Yes',
                27:'Profit Share',
                28:'Minimum deposit',
                29:'Instruments Traded',
                30:'Income',
                31:'Total Trades',
                32:'Profitable',
                33:'Unprofitable',
                34:'Average Trade Length',
                35:'Consecutive Wins',
                36:'Greatest Win (Pips)',
                37:'Average Daily Trades',
                38:'d',
                39:'h',
                40:'m',
                41:'Deals with Stop Loss',
                42:'Deals with Take Profit',
                43:'Sell',
                44:'Buy',
                45:'Consecutive Losses',
                46:'Greatest Loss (Pips)',
                47:'Max Simultaneous Open Trades',
                48:'Settings'
            },
            3:{
                1: 'Geçmiş performans gelecekteki getirileri garanti etmez. Ticaret risklidir. ',
                2: 'Görüntülenen değerler güncel olmayabilir.',
                3: 'Getiri Oranı%',
                4: "Açık Günler",
                5: 'Risk Seviyesi',
                6: 'Takipçiler',
                7: 'Yönetilen Fonlar ($)',
                8: 'Dönüş Tablosu',
                9: 'Getiri%',
                10: 'Gün',
                11: 'Hafta',
                12: "1 ay",
                13: "3 ay",
                14: "6 ay",
                15: 'Tüm Zamanlar',
                16: 'İstatistikler',
                17: 'Maksimum Düşüş',
                18: 'Toplam İşlem Günleri',
                19: 'Karlı Günler',
                20: 'Kârsız Günler',
                21: 'Ortalama Günlük Kazanç',
                22: 'Ortalama Günlük Kayıp',
                23: 'Kaldıraç',
                24: 'Ücretsiz Takas',
                25: 'Hayır',
                26: 'Evet',
                27: 'Kâr Payı',
                28: 'Minimum depozito',
                29: 'İşlem Gören Enstrümanlar',
                30: 'Gelir',
                31: 'Toplam İşlemler',
                32: 'Karlı',
                33: 'Kârsız',
                34: 'Ortalama Ticaret Uzunluğu',
                35: 'Ardışık Galibiyetler',
                36: 'En Büyük Kazanç (Pips)',
                37: 'Ortalama Günlük İşlemler',
                38: 'g',
                39: 's',
                40: 'd',
                41: 'Zararı Durduran Anlaşmalar',
                42: 'Kar Al ile Anlaşmalar',
                43: 'Sat',
                44: 'Satın Al',
                45: 'Ardışık Kayıplar',
                46: 'En Büyük Kayıp (Pipler)',
                47: 'Maksimum Eşzamanlı Açık İşlem',
                48: 'Ayarlar'
            },
            4:{
                1: "الأداء السابق لا يضمن العوائد المستقبلية. التداول محفوف بالمخاطر. ",
                2: "قد لا تكون القيم المعروضة محدثة..",
                3: "معدل العائد٪" ,
                4: "أيام الفتح",
                5: "مستوى المخاطرة" ,
                6: "المتابعون" ,
                7: "الأموال المدارة ($)",
                8: "مخطط العودة" ,
                9: "العائد٪" ,
                10: "يوم" ,
                11: "أسبوع" ,
                12: "شهر واحد",
                13: "3 أشهر",
                14: "6 أشهر",
                15: "كل الأوقات" ,
                16: "الإحصاء" ,
                17: "أقصى تراجع" ,
                18: "إجمالي أيام التداول" ,
                19: "أيام مربحة" ,
                20: "أيام غير مربحة" ,
                21: "متوسط ​​الفوز اليومي" ,
                22: "متوسط ​​الخسارة اليومية" ,
                23: "الرافعة المالية" ,
                24: "بدون مقايضة" ,
                25: "لا" ,
                26: "نعم" ,
                27: "تقاسم الأرباح" ,
                28: "الحد الأدنى للإيداع" ,
                29: 'الأدوات المتداولة',
                30: "الدخل" ,
                31: "إجمالي التداولات" ,
                32: "مربح",
                33: "غير مربح" ,
                34: "متوسط ​​طول الصفقة" ,
                35: "انتصارات متتالية" ,
                36: "الفوز الأعظم (بالنقاط)" ,
                37: "متوسط ​​التداولات اليومية" ,
                38: "يوم" ,
                39: "سا" ,
                40: "د" ,
                41: "التعامل مع وقف الخسارة" ,
                42: "التعامل مع جني الأرباح",
                43: 'بيع',
                44: "شراء" ,
                45: "خسائر متتالية" ,
                46: "خسارة أكبر (نقاط)" ,
                47: "الحد الأقصى للصفقات المفتوحة في وقت واحد",
                48: "إعدادات"
            },
            5:{
                1: 'عملکرد گذشته بازدهی در آینده را تضمین نمی کند. تجارت خطرناک است',
                2: "مقادیر نمایش داده شده ممکن است به روز نباشند.",
                3: "نرخ بازگشت" ,
                4: "روزهای باز" ,
                5: "سطح خطر" ,
                6: "پیروان" ,
                7: "وجوه مدیریت شده ($)" ,
                8: "نمودار بازگشت" ,
                9: "برگشت٪" ,
                10: "روز" ,
                11: "هفته" ,
                12: "1 ماه" ,
                13: "3 ماه" ,
                14: "6 ماه" ,
                15: "همه وقت" ,
                16: "آمار" ,
                17: "حداکثر کشش" ,
                18: "کل روزهای معاملاتی" ,
                19: "روزهای سودآور" ,
                20: "روزهای بی سود" ,
                21: "میانگین برد روزانه" ,
                22: "میانگین از دست دادن روزانه" ,
                23: "اهرم" ,
                24: "مبادله رایگان" ,
                25: "نه" ,
                26: "بله" ,
                27: "سهم سود" ,
                28: "حداقل سپرده" ,
                29: "ابزارهای معامله شده" ,
                30: "درآمد" ,
                31: "کل معاملات" ,
                32: "سودآور" ,
                33: "بی سود" ,
                34: "متوسط ​​طول تجارت" ,
                35: "پیروزی های متوالی" ,
                36: "بزرگترین برد (پیپ)" ,
                37: "معاملات متوسط ​​روزانه" ,
                38: 'روز' ,
                39: "سا" ,
                40: 'د' ,
                41: "معامله با توقف ضرر" ,
                42: "معاملات با بهره بردن" ,
                43: "فروش" ,
                44: "خرید" ,
                45: "ضررهای پی در پی" ,
                46: "بزرگترین ضرر (پیپ)" ,
                47: "حداکثر معاملات همزمان همزمان",
                48: 'تنظیمات'
            }
        },
        users:{
            1:{
                img:'../../static/images/2018/image.jpg',
                flag:'../../static/images/2018/uk.png',
                pName:{
                    1:'稳定增长',
                    2:'Stable Growth',
                    3:'İstikrarlı Büyüme',
                    4:'النمو المستقر',
                    5:'رشد پایدار'
                },
                name:'Daniel M.',
                qoute:{
                    1:'主要的关键是放慢脚步并保持增长!',
                    2:'The main key is to take it slow and maintain the growth!',
                    3:'Ana anahtar, onu yavaşlatmak ve büyümeyi sürdürmektir!',
                    4:'المفتاح الرئيسي هو أن تأخذ الأمر ببطء وتحافظ على النمو!',
                    5:'کلید اصلی این است که آن را کند کنید و رشد را حفظ کنید!'
                },
                swap:{
                    1:'不',
                    2:'No',
                    3:'Hayır',
                    4:'لا',
                    5:'نه'
                },
                returnRate:772.53,
                daysOpen:390,
                riskLevel:2,
                follower:886,
                managedFunds:'1.2M',
                day:'-1.33',
                week:'-1.35',
                month:'+9.55',
                month3:'+31.28',
                month6:'+80.18',
                all:'+760.69',
                maxDrop:16.96,
                totalDay:281,
                profDay:186,
                unProfDay:95,
                avgWin:'+1.91',
                avgLos:'-1.29',
                lev:'1:200',
                profShare:29,
                minDep:440,
                totalTrade:6555,
                prof:4196,
                profPerc:64,
                unprof:2359,
                unprofPerc:36,
                tDay:1,
                tHour:8,
                tMin:6,
                consWin:26,
                grtWin:127.00,
                avgDay:23.33,
                dealLoss:0,
                dealLossPer:0,
                dealTake:6555,
                dealTakePerc:100,
                sell:3311,
                sellPerc:51,
                buy:3244,
                buyPerc:49,
                consLoss:11,
                grtLoss:317.90,
                mxSim:426
            },
            2:{
                img:'../../static/images/2018/2.jpg',
                flag:'../../static/images/2018/fr.png',
                pName:{
                    1:'备用计划',
                    2:'Backup Plan',
                    3:'Yedek Plan',
                    4:'الخطة البديلة',
                    5:'برنامه ی پشتیبان'
                },
                name:'Charlotte P.',
                qoute:{
                    1:'有很多工具，还有其他计划可以留在安全区',
                    2:'Have many tools, have extra plans to stay in the safe zone',
                    3:'Çok sayıda araca sahip olun, güvenli bölgede kalmak için ekstra planlarınız olsun',
                    4:'لديك العديد من الأدوات ، وخطط إضافية للبقاء في المنطقة الآمنة',
                    5:'ابزارهای زیادی داشته باشید ، برنامه های اضافی برای ماندن در منطقه امن داشته باشید'
                },
                swap:{
                    1:'是的',
                    2:'Yes',
                    3:'Evet',
                    4:'نعم',
                    5:'آره'
                },
                returnRate:246.83,
                daysOpen:111,
                riskLevel:3,
                follower:24,
                managedFunds:'<10K',
                day:'0.00',
                week:'+20.88',
                month:'+32.27',
                month3:'+124.51',
                month6:'0.00',
                all:'+246.83',
                maxDrop:48.71,
                totalDay:75,
                profDay:39,
                unProfDay:36,
                avgWin:'+4.64',
                avgLos:'-1.08',
                lev:'1:200',
                profShare:30,
                minDep:100,
                totalTrade:45,
                prof:32,
                profPerc:71,
                unprof:13,
                unprofPerc:29,
                tDay:1,
                tHour:14,
                tMin:45,
                consWin:41,
                grtWin:137.20,
                avgDay:0.60,
                dealLoss:24,
                dealLossPer:53,
                dealTake:25,
                dealTakePerc:56,
                sell:22,
                sellPerc:49,
                buy:23,
                buyPerc:51,
                consLoss:4,
                grtLoss:202.60,
                mxSim:12
            },
            3:{
                img:'../../static/images/2018/1.jpg',
                flag:'../../static/images/2018/nor.png',
                pName:{
                    1:'一致性',
                    2:'Consistency',
                    3:'Tutarlılık',
                    4:'الثبات',
                    5:'ماندگاری'
                },
                name:'Henrik G.',
                qoute:{
                    1:'今天输了，明天赢了',
                    2:'What loses today, wins tomorrow',
                    3:'Bugün kaybeden yarın kazanır',
                    4:'ما يخسر اليوم يكسب غدا',
                    5:'آنچه امروز از دست می دهد فردا پیروز می شود'
                },
                swap:{
                    1:'不',
                    2:'No',
                    3:'Hayır',
                    4:'لا',
                    5:'نه'
                },
                returnRate:814.70,
                daysOpen:267,
                riskLevel:4,
                follower:168,
                managedFunds:'90K',
                day:'+3.46',
                week:'-12.61',
                month:'-27.34',
                month3:'-7.04',
                month6:'+107.85',
                all:'+814.70',
                maxDrop:59.46,
                totalDay:191,
                profDay:153,
                unProfDay:38,
                avgWin:'+4.20',
                avgLos:'-8.25',
                lev:'1:200',
                profShare:30,
                minDep:120,
                totalTrade:4959,
                prof:3150,
                profPerc:64,
                unprof:1808,
                unprofPerc:36,
                tDay:0,
                tHour:4,
                tMin:20,
                consWin:9,
                grtWin:131.50,
                avgDay:25.96,
                dealLoss:0,
                dealLossPer:0,
                dealTake:4853,
                dealTakePerc:98,
                sell:2449,
                sellPerc:49,
                buy:2510,
                buyPerc:51,
                consLoss:5,
                grtLoss:214.30,
                mxSim:17
            }
        }


    };
  },
   metaInfo() {return {
      // 

      title: this.users[this.Id].name+' - N Sky',
      }
  },
  created(){
    //   this.interval = setInterval(() => this.nextDay(), 700);
      this.Id = parseInt(this.$route.params.id);
    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

  //  if(this.curLanguage!=2){
  //      let pName = this.$route.name.substring(0,this.$route.name.length-2)
  //      let pNameStr = pName + languageCode[this.curLanguage]
  //      this.$router.push({name:pNameStr});
  //  }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()


  },

  mounted(){
         this.$refs.pieChar.updateOptions(this.chartOptions);
    window.scroll({
      top: 0,
      left: 0,
      behavior: 'smooth'
    });
        var mainOptions = [{
            
            chart: {
                type: 'area',
                height:350,
                width:1150,
                zoom: {
                        enabled: false
                    },
              toolbar: {
                show: false
              }
            },
            dataLabels: {
                    enabled: false
                    },
            series: [{
                name: 'Income',
                data: [30,40,45,50,49,60,70,91,125]
            }],
            height:350,
            xaxis: {
                categories: ["Jul '20","Aug '20","Sep '20","Oct '20","Nov '20","Dec '20","Jan '21", "Feb '21","Mar '21"]
            },
            legends:false,
            title: {
                    text: 'Return Chart',
                    align: 'left'
                    },
            responsive: [
            {
            breakpoint: 1400,
            options: {
                plotOptions: {
                bar: {
                    horizontal: false
                }
                },
                legend: false
            }
            }
        ]
    },
    {
            chart: {
                type: 'area',
                height:350,
                width:1150,
                zoom: {
                        enabled: false
                    },
              toolbar: {
                show: false
              }
            },
            dataLabels: {
                    enabled: false
                    },
            series: [{
                name: 'Income',
                data: [40,17,60,70]
            }],
            height:350,
            xaxis: {
                categories: ["Dec '20","Jan '21","Feb '21","Mar '21"]
            },
            legends:false,
            title: {
                    text: 'Return Chart',
                    align: 'left'
                    },
            responsive: [
            {
            breakpoint: 1400,
            options: {
                plotOptions: {
                bar: {
                    horizontal: false
                }
                },
                legend: false
            }
            }
        ]
    },
    {
            
            chart: {
                type: 'area',
                height:350,
                width:1150,
                zoom: {
                        enabled: false
                    },
              toolbar: {
                show: false
              }
            },
            dataLabels: {
                    enabled: false
                    },
            series: [{
                name: 'Income',
                data: [27,36,20,44,18,56,64,73,81]
            }],
            height:350,
            xaxis: {
                categories: ["Jul '20","Aug '20","Sep '20","Oct '20","Nov '20","Dec '20","Jan '21", "Feb '21","Mar '21"]
            },
            legends:false,
            title: {
                    text: 'Return Chart',
                    align: 'left'
                    },
            responsive: [
            {
            breakpoint: 1400,
            options: {
                plotOptions: {
                bar: {
                    horizontal: false
                }
                },
                legend: false
            }
            }
        ]
    },
    ]

    var chart = new ApexCharts(document.querySelector("#mainChart"), mainOptions[this.Id-1]);

    chart.render();

  },

  components: {
    pageHeader,
    pageFooter,
    apexchart: VueApexCharts,
  },

  methods: {
     changeLanguage(val){
       this.curLanguage = val;

    //    console.log(this.curLanguage)
    //    let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
    //    let pNameStr = pName + languageCode[val]
    //    this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     nextDay(){
         debugger;
         for(let i=0;i<this.pieSeries.length;i++){
         for (let j=0;j<this.pieSeries[i].length;j++){
         let x=Math.ceil(Math.random()*100);

         this.pieSeries[i][j]=this.pieSeries[i][j]+x;
         }
         }
         
         this.$refs.pieChar.updateSeries([{data:this.pieSeries[this.Id-1]}],false)
        
         this.$refs.pieChar.updateOptions(this.chartOptions)
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  
  .rightToLeft{
    direction: rtl!important;
}
</style>
