<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <div class="site-canvas">

                              <div class="container-fluid top-bar">
                                <div class="container">
                                  <div class="row">
                                    <div class="col-sm-12 col-md-9">
                                      <h1 class="ltr text-left">Trading account type</h1>
                                      <ol class="breadcrumb">
                                        <li class="home">
                                          <router-link to="/" class="home">NOBLE SKY</router-link></li>
                                        <li class="post post-page current-item">Trading account type</li></ol>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                                      <div class="option-nav">
                                        <router-link to="/contact">
                                          <i class="contact"></i>
                                          <span>Contact Us</span></router-link>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="container">
                                <div class="row text-center hidden-xs hidden-sm hidden-l-sm top80">
                                  <div class="feature-item6">
                                    <i class=" tfxfont3 xmHigh-bars red fs100"></i>
                                    <p class="top30">Excellent trading environment</p></div>
                                  <div class="feature-item6">
                                    <i class=" tfxfont3 xmArrows red fs100"></i>
                                    <p class="top30">Trading standard lots
                                      <br>or
                                      <br>Miniature hands</p></div>
                                  <div class="feature-item6">
                                    <i class=" tfxfont3 xmChart red fs100"></i>
                                    <p class="top30">Unlimited access to MT5 and Expert Advisors</p></div>
                                  <div class="feature-item6">
                                    <i class=" tfxfont3 xmInfinity red fs100"></i>
                                    <p class="top30">Daily free market updates and technical analysis</p></div>
                                  <div class="feature-item6">
                                    <i class=" tfxfont3 xmScale red fs100"></i>
                                    <p class="top30">All account types have the same execution quality</p></div>
                                  <div class="feature-item6">
                                    <i class=" tfxfont3 xmGlobe red fs100"></i>
                                    <p class="top30">Multilingual customer service support and personal account manager</p></div>
                                </div>
                                <div class="dis60 hidden-xs"></div>
                                <div class="dis40 visible-xs"></div>
                                <div class="row ">
                                  <div class="col-md-12">
                                    <h2>NBS trading account type</h2>
                                    <div class="dis40 hidden-xs"></div>
                                    <!-- <div class="divTable clone-11 sharesAccount" style="height: 1265px;">
                                      <div class="area-11" style="height: 1265px;">
                                        <h3 class="titleRed">Micro account</h3>
                                        <div class="content">
                                          <ul class="area-5" style="height: 104px;">
                                            <li class="title">Optional base currency</li>
                                            <li class="text">USD</li></ul>
                                          <ul class="area-4" style="height: 104px;">
                                            <li class="title">Contract size</li>
                                            <li class="text">1 lot = 1,000 units</li></ul>
                                          <ul class="area-2" style="height: 146px;">
                                            <li class="title">Leverage*</li>
                                            <li class="text">1:1 to 1:100 </li></ul>
                                          <ul>
                                            <li class="title">Negative balance protection policy</li>
                                            <li class="text">
                                              <i class="fa fa-check"></i>
                                            </li>
                                          </ul>
                                          <ul class="area-6" style="height: 84px;">
                                            <li class="title">Spreads on mainstream currency pairs</li>
                                            <li class="text">As low as 1 point</li></ul>
                                          <ul>
                                            <li class="title">Handling fee</li>
                                            <li class="text">
                                              <i class="fa fa-times"></i>
                                            </li>
                                          </ul>
                                          <ul>
                                            <li class="title">Maximum number of open/pending orders for a single client</li>
                                            <li class="text">200 orders</li></ul>
                                          <ul class="area-7" style="height: 84px;">
                                            <li class="title">Minimum transaction volume</li>
                                            <li class="text">
                                              <br>0.1 lot (MT5)
                                              <br></li></ul>
                                          <ul class="area-8" style="height: 84px;">
                                            <li class="title">Limits per lot</li>
                                            <li class="text">100 lots</li></ul>
                                          <ul>
                                            <li class="title">Hedging allowed</li>
                                            <li class="text">
                                              <i class="fa fa-check"></i>
                                            </li>
                                          </ul>

                                          <ul>
                                            <li class="title">Minimum deposit</li>
                                            <li class="text">5 USD</li></ul>
                                        </div>
                                        <div class="content">
                                          <ul>
                                            <li class="text-center">
                                              <div class="dis20"></div>
                                              <router-link to="/register" class="btn btn-solid btn-red center-block">Create an account</router-link>
                                              <div class="dis20"></div>
                                            </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div> -->
                                            <div class="divTable clone-11  sharesAccount" style="height: 1265px;">
                                              <div class="area-11" style="height: 1265px;">
                                                <h3 class="titleRed">Standard account</h3>
                                                <div class="content">
                                                  <ul class="area-5" style="height: 104px;">
                                                    <li class="title">Base Currency Options</li>
                                                    <li class="text">USD</li></ul>
                                                  <ul class="area-4" style="height: 104px;">
                                                    <li class="title">Contract size</li>
                                                    <li class="text">1lot = 100,000 units</li></ul>
                                                  <ul class="area-2" style="height: 146px;">
                                                    <li class="title">Leverage*</li>
                                                    <li class="text">1:1 to 1:200 </li></ul>
                                                  <ul>
                                                    <li class="title">Negative balance protection</li>
                                                    <li class="text">
                                                      <i class="fa fa-check"></i>
                                                    </li>
                                                  </ul>
                                                  <ul class="area-6" style="height: 84px;">
                                                    <li class="title">Spreads on mainstream currency pairs</li>
                                                    <li class="text">As low as 1 point</li></ul>
                                                  <ul>
                                                    <li class="title">COMMISION</li>
                                                    <li class="text">
                                                      <i class="fa fa-times"></i>
                                                    </li>
                                                  </ul>
                                                  <ul>
                                                    <li class="title">Maximum number of open / pending orders for a single client</li>
                                                    <li class="text">200 orders</li></ul>
                                                  <ul class="area-7" style="height: 84px;">
                                                    <li class="title">Minimum transaction volume</li>
                                                    <li class="text">0.01lot</li></ul>
                                                  <ul class="area-8" style="height: 84px;">
                                                    <li class="title">Limit per lot</li>
                                                    <li class="text">50lots</li></ul>
                                                  <ul>
                                                    <li class="title">Allow lock position</li>
                                                    <li class="text">
                                                      <i class="fa fa-check"></i>
                                                    </li>
                                                  </ul>

                                                  <ul>
                                                    <li class="title">Minimum deposit</li>
                                                    <li class="text">100 USD</li></ul>
                                                </div>
                                                <div class="content">
                                                  <ul>
                                                    <li class="text-center">
                                                      <div class="dis20"></div>

                                                      <router-link to="/register" class="btn btn-solid btn-red center-block">Create an account</router-link>
                                                      <div class="dis20"></div>
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>

                                            <div class="dis10"></div>
                    <small class="atnotecn">* The scope of application of leverage is calculated based on the cumulative amount of total funds in all trading accounts held by NBS Group. </small></div>
                                </div>
                              </div>
                              <div class="container top115 option-type info">
                                <div class="row">
                                  <div class="col-md-12">
                                    <i class="info"></i>
                                    <p>The above table is for reference only. NBS is happy to tailor solutions for each customer. If the deposit currency is not USD,
                                      <br>Then the final display will be the amount converted from USD to the deposit currency. </p>
                                    <div class="top80"></div>
                                    <p>Please note that in order to ensure the best performance of our server and achieve our
                                      The standards in the <span class="text-underline">order execution policy</span>, accounts that have not been used for a long time need to be followed
                                      <a href="https://www.xm.com/assets/pdf/terms/NBS_Client-Agreement-Terms-and-Conditions-of-Business.pdf">Account closure and archiving policy</a>. </p>
                                    <p>If you are
                                      <a href="https://www.xm.com/cn">Foreign exchange</a> newbie, then
                                      <strong>
                                        <a href="/cn/forex-demo">Demo account</a></strong> is the best choice to test your trading potential. You can trade with virtual funds without taking any risks, because profit and loss are simulated. After you have tested trading strategies, learned to master market trends and how to place orders, you can start the next step, establish a real account and trade real funds. </p>
                                  </div>
                                </div>
                              </div>
                              <div class="container top80">
                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="panel-group" id="accordion1">
                                      <!-- What is a Forex Trading Account? -->
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">What is a Forex Trading Account?</h4>
                                          <i class="fa pull-right fa-angle-up"></i>
                                        </div>
                                        <div id="a1collapse1" class="panel-collapse collapse">
                                         <div class="panel-body gray">
                                            <p>Noble Sky foreign exchange account is a trading account that you hold. It is similar to your bank account, but the difference is that it is mainly used for currency transactions. </p>
                                            <p>As mentioned above, Noble Sky foreign exchange trading accounts include one type of account :
                                              <strong>Standard</strong></p>
                                            <p>Please note that you can use
                                              <span class="text-underline">All platforms of Noble Sky</span> to conduct foreign exchange (or currency) transactions. </p>
                                            <p>In short, you can log in with your own trading account:</p>
                                            <ul class="ftr-faq">
                                              <li>1. CRM Center</li>
                                              <li>2. MT5 platform</li></ul>
                                            <p>When you register for a foreign exchange trading account with Noble Sky, you need to go through a simple data process review, where Noble Sky needs to ensure that the personal details you submit are correct, and to ensure your funds and your account Security of details. </p>
                                            <p>After the foreign exchange trading account is opened, you can log in to Noble Sky's CRM center, where you can verify your account information, activate your MT5 account, and deposit and withdraw funds. </p>
                                            <p>Your trading account login details should match the MT5 trading platform which will be used to execute your transactions. Any deposit or withdrawal or other changes you perform in CRM will be reflected on the MT5 trading platform. </p>

                                          </div>
                                        </div>
                                      </div>
                                     <!-- What is a Multi-Asset Trading Account? -->
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">What is a multi-asset trading account? </h4>
                                          <i class="fa fa-angle-down pull-right"></i>
                                        </div>
                                        <div id="a1collapse1" class="panel-collapse collapse showFlag">
                                          <div class="panel-body gray">
                                            <p>Noble Sky multi-asset trading account is an account similar to your bank account, but the difference is that its purpose is to trade foreign exchange, stock index CFDs and precious metal energy CFDs. </p>
                                            <p> Noble Sky's multi-asset trading account is one type which include:
                                            
                                              <strong>Standard</strong> </p>
                                            <p>Please note that multi-asset trading accounts can only be used in MT5 and can access Noble Sky online traders</p>
                                            <p>In general, you can use a multi-asset trading account</p>
                                            <ul class="ftr-faq">
                                              <li>1. Log in to CRM</li>
                                              <li>2. Log in to the MT5 platform</li>
                                              <li>3. Log in to the Noble Sky web terminal</li></ul>
                                            <p>When you register for a foreign exchange trading account with Noble Sky, you need to go through a simple data process review, where Noble Sky needs to ensure that the personal details you submit are correct, and to ensure your funds and your account Security of details. </p>
                                            <p>After the foreign exchange trading account is opened, you can log in to Noble Sky's CRM center, where you can verify your account information, activate your MT5 account, and deposit and withdraw funds. </p>
                                            <p>Your trading account login details will match the MT5 trading platform and will eventually be used to execute your transactions. Any deposit or withdrawal or other changes you perform in CRM will be reflected on the MT5 trading platform. </p>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- Who Should Choose MT4? -->

                                    <!-- Who Should Choose MT5? -->
                                        <div class="panel panel-default">
                                          <div class="panel-heading">
                                            <h4 class="panel-title">Why choose MT5? </h4>
                                            <i class="fa fa-angle-down pull-right"></i>
                                          </div>
                                          <div id="a1collapse3" class="panel-collapse collapse showFlag">
                                            <div class="panel-body gray">
                                              <p>Clients who choose MT5 can conduct a wider range of transactions, including foreign exchange, stock index CFDs, gold and crude oil CFDs. </p>
                                              <p>In addition to logging in to the computer version (available for download) MT5 and the corresponding App, the MT5 account can also log in to the web platform.. </p>
                                              <p>As mentioned above,  Standard accounts can be traded on the MT5 platform. </p>
                                            </div>
                                        </div>
                                      </div>
                                      <!-- What is the Main Difference Between MT4 Trading Accounts and MT5 Trading Accounts? -->

                                     <!-- Can I Hold Multiple Trading Accounts? -->
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">Can I have multiple accounts at the same time? </h4>
                                          <i class="fa fa-angle-down pull-right"></i>
                                        </div>
                                        <div id="a1collapse1" class="panel-collapse collapse showFlag">
                                          <div class="panel-body gray">
                                            <p>One ID card can only verify one real account. </p>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- How to Manage Your Trading Accounts? -->
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">How to manage your trading account? </h4>
                                          <i class="fa fa-angle-down pull-right"></i>
                                        </div>
                                        <div id="a1collapse1" class="panel-collapse collapse showFlag">
                                          <div class="panel-body gray">
                                            <p>You can operate account information authentication, activate MT5 account, deposit and withdraw funds in Noble Sky's CRM center. </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="dis70"></div>

                            </div>


        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Account types-NOBLE SKY',
  },
  created(){

   const storeCoinType = this.localStore.getItem('curCoinType');
   const storeLanguage = this.localStore.getItem('curLanguage');

    this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }



   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){

      let element = document.querySelectorAll(".panel-heading");

      console.log(element)
      console.log('aaaaaaaaaaa')


      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){

               console.log('aaaaaaaaa')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }


     document.documentElement.scrollTop = 0


  },




  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }
   .top115 {
       margin-top: 115px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .area-11 .btn.btn-solid {
    background-color: #74c109;
    width: auto;
    height: auto;
    line-height: 6px;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
    color: #fff;
  }
 .area-11 .btn.btn-solid:hover{background-color: #29A643;}

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}
.panel-collapse.showFlag{display: none;}

.btnAccordion.pull-right{display: none;}

footer{height: 300px;background-color: #333;text-align: center;}
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

.divTable.sharesAccount {
    width: 100%;
    margin-bottom: 0;
}
  .btn-green-mobile {
    background-color: #74c109;
    width: auto;
    height: auto;
    line-height: 6px;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
    color: #fff;
  }
  .btn {
    background-color: #74c109;
    width: auto;
    height: auto;
    line-height: 6px;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
    color: #fff;
  }
</style>
