<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">Cookie Policy</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">Cookie Policy</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>Contact Us</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container top40 regulation">
            <!-- <div class="row">
              <div class="col-md-12">
                <h2>相关法律文件</h2></div>
            </div> -->
            <div class="cookie-box">
                 <h5>What is a Cookie?</h5>
                 <p>A Cookie is a small data file that is stored on your computer or mobile device when you visit a website. Cookies are widely used by website owners to make websites run better or work more efficiently, and to report information. Cookies set by the site owner are called "first party cookies." Cookies set by a party other than the site owner are called "third-party cookies." Third-party cookies allow third-party functionality (such as advertising, interactive content, and analytics) to be provided on or through a website. The parties that set these third-party cookies can identify you when they visit the relevant websites or other websites.</p>

                 <h5>Why do we use cookies?</h5>
                 <p>We use first-party and third-party cookies for a reason. For technical reasons, we create cookies to make sure our site works, which we call "absolutely necessary." Other cookies also enable us to further understand user preferences to enhance the user experience of our site.</p>

                 <h5>Your personal information</h5>
                 <p>When you visit our website, we will use cookies to ensure that you have the best experience on our website. These cookies may be related to you, your preferences, or your device. This information is not usually used to directly identify you but can provide you with a more personalized website experience. We respect your personal information rights and you may choose to disable certain types of cookies, however, blocking certain types of cookies may affect the experience of using your Website and the services we are able to provide to you.</p>
                 <p>We will use cookies to record the choices you make in our cookie privacy manager. This will have the following consequences:</p>
                 <p>If you delete your Cookie and visit our website again, you will need to inform us again of your preference.</p>
                 <p>If you use a different device or browser to access our site, you will need to inform us again of your preference.</p>

                 <h5>The purpose and legal basis of the settlement</h5>
                 <p>When you visit our website, we will collect and process your IP address and browser information. We collect and process this information for the purpose of determining whether you are a return visitor to our Website, analyzing your visit to our website, and improving the user experience of our website.</p>
                 <p>As stated above, we will process your personal data as required by the Cybersecurity Act and applicable laws and regulations. We will actively seek your consent before collecting and processing your access behavior data and any other personal data that you may ultimately provide to us. In addition, you have the right to request us to revoke your consent at any time. You also have the right to deny us the use of cookies by setting cookies in your browser to disable cookies. If you wish to contact us with this data or other personal data that we may process in relation to you, please refer to the "Your Rights and Contact Information" section below.</p>


                 <h5>Disclosure/Receipt of your personal data</h5>
                 <p>In order to provide you with the services on our Website, we may employ our affiliates and business partners to provide the services to us. For the above purposes, your personal data will be disclosed to and processed by our affiliates and business partners.</p>

                 <h5>Retention time</h5>
                 <p>We will retain your personal data about your access to our website until the termination of the Service or until you request us to delete it.</p>

                 <h5>Your rights and contact information</h5>
                 <p>For more information, inquiries, and contact information about your rights related to our handling of your personal data, please visit the Privacy Policy.</p>
                 <p>This Cookie policy is used to describe how we use cookies and similar techniques to identify you when you visit our website. It describes what these technologies are, why we use them, and your right to authorize us to use them. In some cases, we may use cookies to collect personal information, or we may combine them with other information to form personal information.</p>

                 <h5>How do you manage your cookies?</h5>
                 <p>You have the right to accept or reject the use of cookies on the Site at your discretion. You can set the use of cookies by setting them in your browser. The option in the Cookie setting allows you to choose to accept or reject collected cookies. Absolutely necessary cookies cannot be rejected, as they are a strict requirement for serving you. In Chrome, for example, users can manage a website's Cookie collection requests by clicking Settings - Advanced - Privacy & Security - page Settings.</p>
                 <p>The options in the Cookie setting can be found on the notification banner and on our website. If you choose to reject cookies, you may still use our Website and certain features and areas of the Website may be restricted. You can also set or modify your Web browser Settings to accept or reject cookies. Because the way you set rejection cookies through your Web browser varies from browser to browser, you should visit your browser's Help menu for more information.</p>

                 <h5>Absolutely necessary cookies</h5>
                 <p>These cookies are necessary for the operation of our website and cannot be closed on our website. They are usually set up based on what you do, which is equivalent to requesting a service. You can set your browser to block the use of these cookies, but some of the functionality of your site will not work. Absolutely necessary cookies do not store any personally identifiable information.</p>

                 <h5>Performance and functionality cookies</h5>
                 <p>We use these cookies to count visits and traffic sources in order to measure and improve the performance of our website. They can help us understand which pages are most popular, which pages are least popular, and how visitors navigate the site. We aggregate all the information collected by these cookies anonymously. If you disable these cookies, we will not know when you are visiting our website and will not be able to monitor website performance, and certain features may become unavailable.</p>

                 <h5>How often do you update your Cookie policy?</h5>
                 <p>We may update this Cookie Policy from time to time or for other operational, legal, or regulatory reasons to reflect changes in the cookies we use. Therefore, please review this Cookie Policy periodically to understand our use of cookies and related technologies.</p>
                 <p>The date at the top of this Cookie policy represents the time of the most recent update.</p>


            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-8 {
       width: 66.66666667%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}

.pdf-list{
   li{width: 20%;float: left;text-align: center;margin-bottom: 50px;

     i{font-size: 120px;display: block;color: #d51820;margin-bottom: 5px;}
     span{color: #333;}
   }
}

.cookie-box{
   h5{font-size: 18px;font-weight: bold;margin:50px 0 10px}
   p{font-size: 14px;margin-bottom: 10px;}
}

footer{height: 300px;background-color: #333;text-align: center;}
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}



</style>
