<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

                      <div class="container-fluid top-bar">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-12 col-md-9">
                              <h1 class="ltr text-left">Common Questions</h1>
                              <ol class="breadcrumb">
                                <li class="home">
                                  <router-link to="/" class="home">NOBLE SKY</router-link></li>
                                <li class="post post-page current-item">Common Questions</li></ol>
                            </div>
                            <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                              <div class="option-nav">
                                <router-link to="/contact">
                                  <i class="contact"></i>
                                  <span>contact us</span></router-link>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="container faq hidden-xs hidden-sm hidden-l-sm">
                        <div class="row top80">
                          <div class="col-md-12">
                            <h2>Common Questions Types</h2></div>
                        </div>
                        <div class="row top20">
                          <div class="col-12">
                            <ul class="features">
                              <li class="col-xs-12 col-sm-3 col-md-3">
                                <a class="scroll" href="#section-1">Certificated information problems</a></li>
                              <li class="col-xs-12 col-sm-3 col-md-3">
                                <a class="scroll" href="#section-2">Trading account</a></li>
                              <li class="col-xs-12 col-sm-3 col-md-3">
                                <a class="scroll" href="#section-3">Deposit/Withdraw</a></li>
                              <li class="col-xs-12 col-sm-3 col-md-3">
                                <a class="scroll" href="#section-4">Trading Account </a></li>
                              <li class="col-xs-12 col-sm-3 col-md-3">
                                <a class="scroll" href="#section-5">NOBLE SKY Support function </a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div id="section-1" class="container top80">
                        <div class="row">
                          <div class="col-md-6">
                            <h2> Authentication data problem </h2>
                            <div id="accordionText"> </div></div>
                          <div class="col-md-6">
                            <button type="button" class="btnAccordion pull-right" data-parent="#accordion1"> </button></div>
                        </div>
                        <div class="row top20">
                          <div class="col-md-12">
                            <div class="panel-group" id="accordion1">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> If I want to be your customer, what certification or information do I need to provide? </h4>
                                  <i class="fa pull-right fa-angle-down"></i>
                                </div>
                                <div id="a1collapse1" class="panel-collapse collapse showFlag" aria-expanded="false">
                                  <div class="panel-body gray">
                                     <p> Level 1 certification: basic information, identity information ,and address information ,and other textual materials are required </p>
                                     <p> Second-level certification: upload the front and back photos of a valid passport or other official identification documents issued by an authority </p>
                                     <p>（Such as ID card, driver's license, etc.) and a photo of the hand-held ID. The identity certificate must include the customer's name, effective date, customer's address, and date of birth。</p>
                                     <p> Level 3 certification: You need to upload proof of address. It must be a recent official bill (such as electricity, gas, water, telephone, internet bill, or bank statement (including address). The date must be within 6 months and must indicate your registered address. </p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> Why do I need to upload data for authentication？</h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a1collapse2" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> As a legally regulated company, all our operations are carried out in accordance with the regulations of our main regulatory agencies CGSE and SVGFSA. Supervision requires that we must collect customer certification information, a valid ID card ,and recent (in the past 6 months) address proof. </p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> If my first account has been verified, do I need to upload the verification information again when I open an account? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a1collapse3" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> Yes, each account needs to undergo a certification audit. </p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> Can I change my personal information? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a1collapse4" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                      <p> Before the secondary certification information is reviewed, the personal information filled in the primary certification can be changed freely. After the secondary certification audit is passed, personal information cannot be changed. </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="section-2" class="container top50">
                        <div class="row">
                          <div class="col-md-6">
                            <h2> Trading account </h2>
                            <div id="accordionText"> </div></div>
                          <div class="col-md-6">
                            <button type="button" class="btnAccordion pull-right" data-parent="#accordion2"> </button></div>
                        </div>
                        <div class="row top20">
                          <div class="col-md-12">
                            <div class="panel-group" id="accordion2">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> How do I set up a real account? </h4>
                                  <i class="fa pull-right fa-angle-down"></i>
                                </div>
                                <div id="a2collapse1" class="panel-collapse collapse showFlag" aria-expanded="false">
                                  <div class="panel-body gray">
                                    <p> The steps to create an account are simple and quick. Click on the CRM, select the "register" button in the upper right corner, fill in the registration information, and then log in to the CRM for authentication. After the authentication is completed, you can activate the account and deposit the transaction. </p></div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">How long does it actually take to make an account?</h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse2" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> If you fill in all the information correctly, it will take no more than 30 minutes. </p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> How to start trading？</h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse3" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> If you have established a real account and passed the certification audit, you can activate spot assets after completing the first-level certification. </p>
                                    <p> Activation process: On the asset page, select ‘click to activate’. Set MT5 transaction login password and read-only password, and click ‘confirm activation’. &lt; /p&gt;
                                    </p><p> After the opening is successful, the account number will be displayed. The current account is in ‘inactive’ status, waiting for activation. After activation, the account displays ‘activated’. </p>
                                    <p> After activating the account, you can deposit funds in the CRM deposit and withdrawal page. At the same time, you can choose to download the trading platform to trade. Detailed trading platform guide <a href="JavaScript:"> click here. </a></p>
                                 </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> What type of trading account do you provide? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse4" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>
                                      <strong>standard（STANDARD）account：</strong> One Standard lot is equivalent to 100,000 Unit's base currency
                                      <br></p>
                                    <p> For more information, please
                                      <em>
                                        <router-link to="/account-types"> click here </router-link></em>。</p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> How to register my NOBLE SKY trading account under the agent? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse5" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> To register your Noble Sky trading account under an agent, you need to obtain a referral code from your agent first. </p>
                                    <p> When registering, fill in the referral code to register under the agent. </p></div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> What is the minimum deposit for a trading account? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse6" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>Standard （STANDARD）The minimum deposit/withdraw amount for the account is $100. </p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> Do you offer cent accounts? Is the deposit shown in cents? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse7" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>We provide USD accounts. Your deposit is displayed as the actual deposit amount. If you deposit 100 USD, your account balance will be displayed as 100 USD. </p></div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> <strong>Do you provide mini accounts?</strong> </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse8" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>
                                      NOBLE SKY offers STANDARD accounts. However, you can obtain mini lot size trades (10000 units) by reducing your standard account volume to 0,1 (0,1 x 100000 units=10000 units.
                                      </p></div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> Do you provide nano accounts? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse9" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>
                                      NOBLE SKY offers STANDARD accounts.</p></div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> Can I register for company account? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse11" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> Sorry, this service is not provided. </p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> How long can the demo account be used? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse12" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>in
                                      <strong>NOBLE SKY</strong> The demo account can be used permanently. But if you do not log in for more than 90 days, your demo account will be closed. Also, you can register a new demo account at any time. </p></div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> Is it possible that my loss is greater than the deposit amount? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse13" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> No, your loss of funds cannot exceed the previous deposit amount. When your balance becomes negative due to a certain currency pair, our system will automatically clear your account balance to zero before your next deposit. </p>
                                  </div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> Are my funds safe？</h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse15" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>
                                      In order to provide protection for our clients and for the safety funds following the laws and regulations The Noble Sky Global Limited Operation takes the following measures:</p>
                                    <ul>
                                      <li>
                                        <span style="text-decoration:underline;"> Client funds isolation </span></li>
                                    </ul>
                                    <p> All customer funds will be transferred to the company's customer segregated bank account. These funds are listed off the balance sheet and therefore will not be used to repay creditors in the event of company bankruptcy. </p>
                                    <ul>
                                      <li>
                                        <span style="text-decoration:underline;">Bank account</span></li>
                                    </ul>
                                    <p> We operate and maintain customer accounts under the organization of banking institutions. </p>
                                    <ul>
                                      <li>
                                        <span style="text-decoration:underline;"> Regulatory system </span></li>
                                    </ul>
                                    <p> As a securities service provider under formal supervision and license, we are obliged to meet strict financial requirements. Therefore, following legal requirements, we need to ensure sufficient liquidity to pay Clients' deposits, bear currency position fluctuations and any payables. Also, the external auditor will conduct an annual audit of the company's financial statements. </p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> How to view the chart?</h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse16" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> Please
                                      <em> Market price </em> Right-click the foreign exchange pair you want to view in the window, and select                        <em> Chart window </em>。You can drag or cancel any chart window. </p></div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">What is your spread? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse17" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> We provide floating spreads as low as 0.6 pips. No repeat quotation: Clients can enjoy the most direct market price. You can click                        <a href="https://www.noblesky.com/cn/spreads">here </a> Learn more about spreads. </p></div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> What are your trading hours? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse18" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>Monday 08:00 till Friday 17:00 (GMT + 2)</p></div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">Do you support news data trading? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse20" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> Yes we support </p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> What leverage do you provide? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse21" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>we provide 1:1 – 200:1。</p></div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> What is the margin/margin ratio/available margin? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse22" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> Margin is the amount of base currency required for a trading account to open or hold a position. For example, when trading foreign exchange, the required/used margin for a specific position = number of lots * contract size / leverage. The calculation result will be automatically presented in the previous currency in the currency pair, and then converted into the base currency of your account. This amount will be displayed on your MT5. </p>
                                    <p> The calculation formula for margin requirements for gold and silver is lot * contract size * market price/leverage, and the calculation result is presented in US dollars.</p>
                                    <p> The calculation formula for the required margin for a CFD is a number of lots * contract size * opening price * margin requirement. The calculation results are presented in U.S. dollars. More details
                                      </p>
                                    <p> The calculation formula of the margin ratio is net value/margin*100%. </p>
                                    <p> The available margin is the amount of your net worth minus the margin, which can be used to open or hold positions. </p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> How to calculate the margin? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse23" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> The margin calculation formula is as follows:</p>
                                    <p> (Lots * Contract size/Leverage) The result is based on the first currency of the currency pair.
                                    </p><p> For standard accounts, the contract size of all foreign exchange currencies is 100,000 units. For micro accounts, the contract size of all foreign exchange currencies is 1,000 units. </p>
                                    <p> For example, if the base currency of your trading account is USD and the leverage is 1:500, then trading one lot of EURUSD, the margin is calculated according to the following formula:</p>
                                    <p> (1 * 100 000/500) = 200 Euro</p>
                                    <p> The Euro is the first currency of the currency pair EURUSD. Since your account is a U.S. dollar account, the system will automatically convert 200 Euros to U.S. dollars based on the real-time exchange rate. </p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> What is the gold/silver margin formula? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse24" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> The gold/silver margin formula is
                                      <strong> Lots * Contract size * Market price / leverage </strong>.</p></div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">CFDs What is the margin formula? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse25" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> The margin formula for CFDs is
                                      <strong> Lots*Contract size*Opening price*Margin requirement </strong>。Learn more
                                      <a href="https://www.nbstrader.com/#/cn/spreads">click here</a>。</p></div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> How to calculate the overnight interest of foreign exchange pairs and gold/silver? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse26" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> Understand the overnight interest charges,
                                      <a href="https://www.nbstrader.com/#/cn/overnight-positions">click here</a>。</p>
                                    <p> The overnight interest formula in all foreign exchanges is as follows, including gold and silver: </p>
                                    <p>
                                      <strong> Lots * long or short position * point size </strong></p>
                                    <p>
                                      <span style="text-decoration:underline;"> Cite one here EUR/USD</span> Examples of currency pairs:</p>
                                    <p> The customer's base currency is USD
                                      <br>Buy 1 lot EUR/USD
                                      <br>long = -3.68
                                      <br> Since this is a buy position, the system will classify this swap as a long position, and its current price is -3.68
                                      <br> Point size = commodity contract size * minimum fluctuating price
            <br>EUR/USD Point size= 100 000 * 0.00001 = 1
                                      <br> Substitute data into the formula 1 * (-3.68) * 1 = -3.68 USD。
                                      <br> So buy 1 lotEUR/USD The overnight interest of the currency pair is-3.68 USD。</p>
                                    <p>
                                      <span style="text-decoration:underline;"> </span>:</p> Give an example of gold
                                    <p> Customer base currency is USD
                                      <br>   Buy 1 lot of gold                       <br> long = -2.17
                                      <br>  Since this is a buy position, the system will classify this overnight interest as a long position, and the current price is -2.17.                        <br>1 point = commodity contract size * minimum fluctuation price                          <br>gold one point= 100 * 0.01 = 1
                                      <br> Substituting the data into the formula, this formula will be 1 * (-2.17) * 1 = -2.17 USD。
                                      <br> So the overnight interest for buying 1 lot of gold is -2.17 USD。</p>
                                    <p> Please note that if the base currency in the trading account is USD, the calculation of overnight interest will be from USD to EUR. The calculation result of overnight interest is always expressed in the second currency, and the system in the trading account will eventually be expressed in the base currency. </p>
                                    <p> The above example does not represent the current data and is for reference only. View the latest overnight interest, click on foreign exchange                        <a href="https://www.nbstrader.com/#/cn/forex-trading">here </a>， Gold and silver clicks
                                      <a href="https://www.nbstrader.com/#/cn/precious-metals">here</a>。</p></div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> Do you allow scalping? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse28" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> Yes, we allow it. </p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> What is a stop-loss? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse29" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> Stop-loss refers to an order to close a position when the loss of an order is higher than the loss price you set. Stop-loss is a point limit, when the stop-loss price is reached, the order will be closed. Please note that when setting the stop-loss price, you need to reach a certain stop-loss distance based on the current price. More information about the stop profit and loss distance of foreign exchange currency pairs
                                      <a href="https://www.nbstrader.com/#/cn/forex-trading"> Please refer here </a>。</p>
                                    <p> When the market trend is not good for you, setting a stop-loss can reduce your loss. The stop-loss point should be set lower than the current selling price for long orders, or higher than the current buying price for short orders. </p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">What does “Take Profit” mean? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse30" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> Take profit means that when the price reaches the profit price set by the customer, the order to close a position is automatically executed. When the profit has reached expectations, the take profit order will be immediately closed. Please note that when setting stop-profit loss, a certain distance between stop-profit and loss must be reached based on the current price. More information about the stop profit and loss distance of foreign exchange currency pairs.
                                      <a href="https://www.nbstrader.com/#/cn/forex-trading"> Please refer here </a>。</p>
                                    <p> The setting of the take profit point should be lower than the current buying price for short orders, or higher than the current selling price for long orders. </p>
                                    </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> What is trailing stop-loss? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse31" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> Trailing stop-loss is a kind of stop-loss. It is set at a percentage level lower than the market price of a long order or higher than the market price of a short order, and moves with the market price. Please note that when setting a stop-loss order, it must be a certain point away from the order price. Learn more about the stop-loss distance of currency pairs,
            <a href="https://www.nbstrader.com/#/cn/forex-trading"> Please refer here </a>。</p>
                                    </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">what is
                                    <em> Offset closing </em>?</h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse32" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>
                                      <em> Offset closing </em> It is a function on the MT5 platform that allows you to close two relative positions on the same financial instrument at the same time and save a difference.                         <em>buy</em> Single needs to
                                      <em>sell</em> Single closing,
                                      <em>sell</em> Single needs to
                                      <em>buy</em>single closing</p></div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">what is
                                    <em> Long position offset </em>?</h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse33" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>
                                      <em> Long position offset </em>  It is a function on the MT5 platform that allows you to close two relative positions on the same financial instrument at the same time and save a difference.                        <em>buy</em> Single needs to
                                      <em>sell</em>，Single closing
                                      <em>sell</em> orders need to
                                      <em>buy</em> order to close a position. </p></div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">How to calculate a point's profit and loss? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse35" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>base currency amount * points = quote currency value
                                      <br>1 point EUR/USD value = 1 lot (100 000 €)*0.0001 = 10 USD
                                      <br>1 point USD/CHF value = 1 lot (100 000$)*0.0001=10 CHF
                                      <br>1 point EUR/JPY value = 1 lot (100 000 €)*0.01 = 1000 JPY</p></div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
            <h4 class="panel-title">What is the minimum lot size for standard accounts? </h4>
                                   <i class="fa fa-angle-down pull-right"></i>
                                 </div>
                                 <div id="a2collapse36" class="panel-collapse collapse showFlag">
                                   <div class="panel-body gray">
                                     <p>The following is the volume of each transaction, you can spend any amount</p>
                                     <p>Standard account:</p>
                                     <p>1 lot = 100,000
                                       <br>Minimum transaction volume = 0.01
                                       <br>Max transaction volume = 50
                                       <br>Transaction volume = 0.01</p>
                                     </div>

             </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">Do you allow hedging? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse37" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>We allow it. In your same trading account, you can freely lock up trading. A locked position means that you are long and short the same trading commodity at the same time. </p>
                                    <p>When you lock a position, the prepayment for the lock position will only be charged for a large one-sided lot. </p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">What is leverage? How is it performed? The less the amount spent, the higher the leverage, the greater the risk? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse38" class="panel-collapse collapse showFlag">
            <div class="panel-body gray">
                                    <p>Leverage is to increase your balance. You can use lower margins to establish larger trading positions through leverage. You can even get more profit through leverage, but because your open position is too large (lot size), the risk will increase. </p>
                                    <p>For example:</p>
                                    <p>Account balance: 100 USD</p>
                                    <p>Account leverage: 1:100</p>
                                    <p>Your trading capital will be enlarged to 100 * 100 USD = 10,000 USD tradable capital (replacing the original 100 USD). </p>
                                  </div>
                                </div>
                              </div>

                              <!-- <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">How to calculate the profit of CFDs? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse40" class="panel-collapse collapse">
                                  <div class="panel-body gray">
                                    <p>The profit calculation formula is as follows:
                                      <br>(closing price-opening price) * lot size * contract size
                                      <br>CFD lot sizes are different, read more
                                      <a href="https://www.nbstrader.com/#/cn/spreads">Please click here</a>. </p></div>
                                </div>
                              </div> -->
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">Do you have slippage?</h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse41" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>It is very difficult to see slippage when you trade with us. However, when some major economic news is published, due to the rapid increase/decrease in market prices, the point where your order is executed may be different from your request. </p>
                                    <p>At NOBLE SKY, your order will be executed in the direction most beneficial to you. </p>
                                    <p>For more information about NOBLE SKY's implementation strategy, please
                                      <a href="https://www.nbstrader.com/#/cn/execution-policy ">Check here. </a></p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">Can I open more than one trading account? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse42" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>One ID card can only verify one real account. </p></div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">Will accounts with zero balance be closed? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse43" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>According to regulations, the system will automatically close trading accounts with zero balances after 90 days and cannot be reopened for use. If your current account has been closed and there are no other trading accounts available, you are welcome to click
                                      <a href="https://www.nbstrader.com/#/register">here</a> to register a new trading account. </p></div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">If I go offline, do I need to close all the positions I opened? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse45" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>If you close the trading platform, stop-profit and pending orders will still be retained. But when you close the MT5 trading system, the tracking system (stop-loss, take profit) and EA intelligent trading system will be invalid. </p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">How can I view my transaction history? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse46" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>You can export transaction records in the MT5 trading software. Just check in MT5-"Toolbox", right-click and select "Account History", set the time period (such as: 1 year, 1 month, 1 week), and then right-click "Save Report". </p>
                                  </div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">What is the maximum amount I can trade online？</h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse47" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> Here, you will have no limit on the transaction amount, but the maximum number of lots that can be traded in a single transaction in a standard account shall not exceed 50 standard lots, and the maximum number of lots that can be traded in a single transaction in a micro account shall not exceed 100 micro lots.</p>
                                    <p>If you want to trade more lots in your account, you can try to reduce trading orders.</p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">Why is the overnight interest on Wednesday three times the usual?</h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse48" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>In the spot foreign exchange market, the actual value date is two days later. For example, the price on a Thursday trading day is reflected on Monday, and the price on a Friday trading day is reflected on Tuesday. Therefore, on Wednesday we have to calculate the three-day overnight interest to compensate for the overnight interest caused by the weekend (the overnight interest does not need to be paid on the delivery day, because the transaction is stopped on the weekend).</p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">Do you provide foreign exchange guidance? How do I learn the basics of foreign exchange trading?</h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse49" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>Every <strong>NOBLE SKY</strong> customer has their own personal account manager, who can not only provide online chat, email, phone and other comprehensive technical support, but also can arrange one-to-one MetaTrader5 basic learning training courses.</p>
                                    </div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">Do you accept US Clients? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse50" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>According to the Frank Act recently passed by the U.S. Congress, the Commodity Futures Trading Commission no longer allows U.S. citizens to open accounts to trade with us. We apologize for the inconvenience caused. </p>
                                  </div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">What is one-click trading: how to use it? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse52" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>One-click trading allows you to close open positions with one click. When you want to close a position, you only need to manually click once. </p>
                                    <p>One-click trading is displayed at the top left of your chart. It will appear in the upper left corner of the window when you click on one-click trading. </p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">Can I change my account type? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse53" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>Unfortunately, the account type cannot be changed. Welcome to log in
                                      <router-link to="/login">CRM</router-link>Add a new account and select your preferred account type. </p></div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">How do I reset my password? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse54" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>If you forget your trading account password, please contact customer service or an agent to apply for a password reset. </p></div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">Can I change the base currency of my account? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse55" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>Unfortunately, only USD is supported as the base currency</p></div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">Do you offer binary options trading? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a2collapse56" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>Not available. </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="section-3" class="container top50">
                        <div class="row">
                          <div class="col-md-6">
                            <h2>Deposit/Withdraw</h2>
                            <div id="accordionText"> </div></div>
                          <div class="col-md-6">
                            <button type="button" class="btnAccordion pull-right" data-parent="#accordion3"> </button></div>
                        </div>
                        <div class="row top20">
                          <div class="col-md-12">
                            <div class="panel-group" id="accordion3">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">Which method of deposit/withdrawal to choose? </h4>
                                  <i class="fa pull-right fa-angle-down"></i>
                                </div>
                                <div id="a3collapse1" class="panel-collapse collapse showFlag" aria-expanded="false">
                                  <div class="panel-body gray">
                                    <p>We provide virtual currency USDT deposit/withdraw methods. </p>
                                    <p>When you have opened an account, please log in to CRM to complete the authentication and activate the account. After completion, you can click the deposit and withdrawal and follow the instructions to complete the operation. </p>
                                  </div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">What are the minimum and maximum deposit/withdrawal amounts? </h4>
                                  <i class="fa pull-right fa-angle-down"></i>
                                </div>
                                <div id="a3collapse3" class="panel-collapse collapse showFlag" aria-expanded="false">
                                  <div class="panel-body gray">
                                    <p>The minimum deposit/withdrawal amount is 100 USD (or equivalent denomination). But the actual amount still depends on the payment method you choose and the status of your trading account. </p>
                                  </div>
                                </div>
                              </div>


                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">Can I withdraw funds anytime? </h4>
                                  <i class="fa pull-right fa-angle-down"></i>
                                </div>
                                <div id="a3collapse6" class="panel-collapse collapse showFlag" aria-expanded="false">
                                  <div class="panel-body gray">
                                    <p>Your account must be verified before you can withdraw funds. First, you need to log in to the CRM to upload your information: identification (ID, passport, driving license) and proof of address (water, electricity, gas, cable TV bill or bank statement) containing your address and name for the past 3 months, And the bill cannot exceed 6 months. </p>
                                    <p>After passing the authentication, you can log in to CRM, select the withdrawal option and submit a withdrawal request to us. All withdrawals will be processed by our back office customer service within 24 hours of working days. </p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">If I still have open positions, can I withdraw funds? </h4>
                                  <i class="fa pull-right fa-angle-down"></i>
                                </div>
                                <div id="a3collapse7" class="panel-collapse collapse showFlag" aria-expanded="false">
                                  <div class="panel-body gray">
                                    <p>Yes. However, unsettled profits cannot be withdrawn. </p>

                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">How soon will my deposit funds arrive? </h4>
                                  <i class="fa pull-right fa-angle-down"></i>
                                </div>
                                <div id="a3collapse8" class="panel-collapse collapse showFlag" aria-expanded="false">
                                  <div class="panel-body gray">
                                    <p>USDT deposits can generally be credited on the same working day. </p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">How soon can I receive funds after submitting the withdrawal request? </h4>
                                  <i class="fa pull-right fa-angle-down"></i>
                                </div>
                                <div id="a3collapse9" class="panel-collapse collapse showFlag" aria-expanded="false">
                                  <div class="panel-body gray">
                                    <p>The back office will process your withdrawal application within 24 hours. USDT withdrawals are generally available on the same day. </p>
                                  </div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">Are there other handling fees for deposits and withdrawals? </h4>
                                  <i class="fa pull-right fa-angle-down"></i>
                                </div>
                                <div id="a3collapse11" class="panel-collapse collapse showFlag" aria-expanded="false">
                                  <div class="panel-body gray">
                                    <p>We do not charge any other fees for deposits and withdrawals, and the deposit/withdrawal fees charged by third parties are not under our control. </p>
                                    <p>When depositing funds, we will convert the actual USDT received into the base currency to your trading account. </p>
                                    <p>When withdrawing funds, we will deposit coins to your wallet address with the amount you actually applied for. The actual amount received is subject to the amount received by the third party. </p>
                                  </div>
                                </div>
                              </div>




                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">Can the funds in my trading account be transferred to the trading accounts of other Clients? </h4>
                                  <i class="fa pull-right fa-angle-down"></i>
                                </div>
                                <div id="a3collapse16" class="panel-collapse collapse showFlag" aria-expanded="false">
                                  <div class="panel-body gray">
                                    <p>This is not allowed. Transferring funds between different Clients is prohibited. </p>
                                  </div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">Can I transfer funds to another account? </h4>
                                  <i class="fa pull-right fa-angle-down"></i>
                                </div>
                                <div id="a3collapse19" class="panel-collapse collapse showFlag" aria-expanded="false">
                                  <div class="panel-body gray">
                                    <p>Yes. You can apply for the internal transfer between accounts with the same name. But please note that the account must be an account with the same name and both have been authenticated. </p></div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">Do you charge additional fees or commissions? </h4>
                                  <i class="fa pull-right fa-angle-down"></i>
                                </div>
                                <div id="a3collapse22" class="panel-collapse collapse showFlag" aria-expanded="false">
                                  <div class="panel-body gray">
                                    <p>
                                      <strong>NOBLE SKY</strong> does not charge any deposit and withdrawal fees and commissions. </p></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="section-4" class="container top50">
                        <div class="row">
                          <div class="col-md-6">
                            <h2>Trading platform</h2>
                            <div id="accordionText"> </div></div>
                          <div class="col-md-6">
                            <button type="button" class="btnAccordion pull-right" data-parent="#accordion4"> </button></div>
                        </div>
                        <div class="row top20">
                          <div class="col-md-12">
                            <div class="panel-group" id="accordion4">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">What is the difference between a demo account and a real account? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a4collapse1" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>Although all the features and functions of the real account will be reflected in the demo account, please remember that the demo account cannot replicate the real market conditions. The most important point is that placing orders in the demo account will not have any impact on the market. On the contrary, orders placed on real accounts will be affected by the market and will also affect market prices, especially when the order volume is large.
                                      The execution speed of the <strong>NOBLE SKY</strong> demo account is the same as the real account. </p>
                                    <p>In addition, the different psychological characteristics of users also determine whether they make a profit on a demo account or a real account. This aspect may affect the evaluation of the demo account. For any conclusions drawn in the demo account, we recommend that users should be cautious and avoid complacency. For more details about the demo account, please log in.

                                  <i class="fa fa-angle-down pull-right"></i>
                                </p></div>
                                <div id="a4collapse6" class="panel-collapse collapse">
                                  <div class="panel-body gray">
                                    <p> If you have any questions, you can get in touch with your account manager to learn about MT5 transactions at any time via email or online chat. We are always happy to give you one-to-one detailed explanation and guidance. </p></div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> I can only see 8 currency pairs on MT4. How can I see other currency pairs? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a4collapse7" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> Log in to your MT5 platform -&gt; Market window -&gt; Right click -&gt; Show all →Swipe down and you will see all available products. </p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> Can I change the time zone of MetaTrader? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a4collapse8" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p>No way. The time of our platform is fixed. It is GMT+8 during winter time and GMT+7 during summer time. </p>

                                  </div>
                                </div>
                              </div>


                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> How to access the MT5 platform？</h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a4collapse13" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                     <p>You need to have a Noble Sky MT5 trading account to be able to trade on the MT5 platform. Create Noble Sky MT5 account                         <a href="https://www.nbstrader.com/#/register">Click here</a>. </p></div>
                                 </div>
                               </div>

                               <div class="panel panel-default">
                                 <div class="panel-heading">
                                   <h4 class="panel-title">How do I verify my MT5 account? </h4>
                                   <i class="fa fa-angle-down pull-right"></i>
                                 </div>
                                 <div id="a4collapse15" class="panel-collapse collapse showFlag">
                                   <div class="panel-body gray">
                                     <p>Click CRM -&gt; "Register" to create an MT5 account, create and log in for authentication, you need to provide the authentication documents we need (for example, proof of identity and address). </p>
             </div>
                                 </div>
                               </div>

                               <div class="panel panel-default">
                                 <div class="panel-heading">
                                   <h4 class="panel-title">What commodities can I trade on MT5? </h4>
                                   <i class="fa fa-angle-down pull-right"></i>
                                 </div>
                                 <div id="a4collapse17" class="panel-collapse collapse showFlag">
                                   <div class="panel-body gray">
                                     <p>In the MT5 trading terminal, you can trade all Noble Sky commodities, including foreign exchange,precious metal CFDs ,and energy CFDs.</p>
                                   </div>
                                 </div>
                               </div>
                               <div class="panel panel-default">                   <div class="panel-heading">
                                  <h4 class="panel-title"> How to find trading commodities on the trading platform? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a4collapse18" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
               <p>According to your account type, the suffix of the trading product name will be specially marked. Please review the following examples to facilitate transactions with the correct product name:</p>                     <ul>
                                      <li>STANDARD account: The product name is displayed normally (no special note), such as EURUSD, GBPUSD</li>
                                       <li>•Micro (MICRO) account: add micro at the end of the product name, such as EURUSDmicro, GBPUSDmicro</li>
                                    </ul>
                                    <p> If you cannot see the commodities you should trade on the platform, please right-click in the "Market Quotation" window -&gt; select trading varieties -&gt; select the commodity you want to trade in the form -&gt; click "display". You can also right-click and select "Show All". </p>
                                    <p> Please note that due to different account types, the parts shown in gray are untradeable commodities. It is recommended to right-click in the "Market Quote" window and select "Hide" to simplify the screen. </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="section-5" class="container top50">
                        <div class="row">
                          <div class="col-md-6">
                            <h2>NOBLE SKY Support function</h2>
                            <div id="accordionText"> </div></div>
                          <div class="col-md-6">
                            <button type="button" class="btnAccordion pull-right" data-parent="#accordion5"> </button></div>
                        </div>
                        <div class="row top20">
                          <div class="col-md-12">
                            <div class="panel-group" id="accordion5">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"> Which features are supported by NOBLE SKY? </h4>
                                  <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a5collapse1" class="panel-collapse collapse showFlag">
                                  <div class="panel-body gray">
                                    <p> Can trade foreign exchange currency pairs,precious metals and energy commodities</p>
                                    <ul>
                                      <li> The minimum deposit is not less than USD 100</li>

                                      <li>There is a negative balance protection policy</li>
                                       <li>No requotes, no rejection orders</li>
                                       <li>The spread is as low as zero</li>
                                       <li>Lowest base price</li>
                                       <li>One account can use multiple trading terminals</li>
                                       <li>Real-time execution</li>
                                       <li>The account deposit is 100% fully automatic, 24/7 timely processing</li>
                                       <li>Quick deposit without any fees</li>
                                       <li>Uninterrupted reward activities</li>
                                       <li>A free, unlimited demo account containing 100,000 USD virtual funds, and access to multiple trading platforms at the same time</li>
                                      <li> Provide professional trading signals twice a day</li></ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="dis70"></div>

                    </div>


            		</div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFXEN.vue'
import pageFooter from '../../components/pageFooterTFXEN.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'FAQ-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){

      let element = document.querySelectorAll(".panel-heading");



      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){


               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }


     document.documentElement.scrollTop = 0


  },




  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}
.panel-collapse.showFlag{display: none;}

.btnAccordion.pull-right{display: none;}

footer{height: 300px;background-color: #333;text-align: center;}
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

</style>
