<template>
  <div class="wrap" @click="hideMenu">
    <pageHeader
      @userLogout="userLogout"
      ref="pageHead"
      :defaultCoinType="curCoinType"
      :defaultLanguage="curLanguage"
      @changeCoinType="changeCoinType"
      @changeLanguage="changeLanguage"
    />

    <div class="site-canvas">
    

      <div class="row" style="background-color: #333; color: white">
     
        <div style="width:100%">
        <div class="row">
              <section class="section analysis-info-page" style="background-color: #333;">
    <div class="container" style="background-color:#333;">
        <h1>Art of Market Analysis</h1>
        <div class="content-block">
            <div class="text-block">
                <h2>Latest market analysis and forecasts</h2>
                <img class="art-img" src="../../../static/images/art-analysis.png">
                <p>Clients of the Noble Sky™  get exclusive access to high-quality materials from  Noble Sky™ master analysts in their Client Portal: technical and fundamental market analysis, Forex economic event calendar, currency, stock, index forecasts, trading indicators signals and much more.</p>
            </div>
            <div class="group-success">
                <div class="group">
                    <h3>Noble Sky™ trading account</h3>
                    <a class="btn-show-right" href="#/register" rel="nofollow" target="blank"><div class="circle"><span class="icon arrow"></span></div><p class="button-text">Open</p></a>                </div>
            </div>
            <div class="btn-block mob-only">
                <a class="btn btn-red" href="#/register" rel="nofollow" target="blank">Open trading account</a>            </div>

        </div>
    </div>
</section>
        </div>
        <div class="row">
          <section class="forex-analysis-block">
    <div class="container-fluid">
        <h2>Free Forex analysis app</h2>
        <p>Popular types of Forex market analysis, reviews and latest Forex market forecasts, expert opinions of Forex analysts and trading indicator signals are available free of charge to Noble Sky™ clients. Use the free Noble Sky™ Forex Analytics app.</p>
        <img class="phone-app" src="../../../static/images/analysis-img.png">
        <div class="analysis-download">
          <a class="iphone-block" href="javascript:void(0)"><img src="../../../static/images/dowdload-appstore-btn.svg" style=" cursor: not-allowed;"></a>
          <a class="android-block" href="javascript:void(0)"><img src="../../../static/images/dowdload-google-btn.svg" style=" cursor: not-allowed;"></a>
          <br />
          <small class="px-3 mx-1"><b>coming soon</b></small>
        </div>
      
    </div>
</section>
        </div>
        </div>
      </div>
      <div class="row" style="background-color: white; color: black">
        <div style="width:100%">
          <div class="row">
            <ul
              class="nav nav-tabs row col-12 text-center"
              id="myTab"
              role="tablist"
            >
              <li class="nav-item col-3">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  href="#home"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  >Technical analysis</a
                >
              </li>
              <li class="nav-item col-3">
                <a
                  class="nav-link"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#profile"
                  role="tab"
                  aria-controls="profile"
                  aria-selected="false"
                  >Fundamental analysis</a
                >
              </li>
              <li class="nav-item col-3">
                <a
                  class="nav-link"
                  id="contact-tab"
                  data-toggle="tab"
                  href="#contact"
                  role="tab"
                  aria-controls="contact"
                  aria-selected="false"
                  >Video reviews</a
                >
              </li>
              <li class="nav-item col-3">
                <a
                  class="nav-link"
                  id="signal-tab"
                  data-toggle="tab"
                  href="#signal"
                  role="tab"
                  aria-controls="signal"
                  aria-selected="false"
                  >Signals</a
                >
              </li>
            </ul>
            <div class="tab-content container" id="myTabContent">
              <div
                class="tab-pane fade show active col-md-12"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <div class="row text-center">
                  <div class="col-md-12 text-center" style="padding: 40px">
                    <h2>Technical analysis</h2>
                  </div>
                  <article class="col-md-4 blog-item">
                    <a
                      class="modal-open-lg"
                      href="../../../static/html/tal1.html"
                    >
                      <span class="thumb-info thumb-info-centered-info">
                        <span class="thumb-info-wrapper">
                          <!--  -->
                          <figure class="progressive">
                            <img
                              class="progressive__img progressive--is-loaded"
                              src="../../../static/images/tai1.png"
                              alt="AUD/JPY: Ichimoku indicators analysis"
                              data-progressive="../../../static/images/tai1.png"
                              
                            />
                          </figure>
                          <!-- END  -->
                          <span class="thumb-info-action">
                            <span class="thumb-info-action-icon">
                              <i class="fa fa-link"></i>
                            </span>
                          </span>
                        </span>
                      </span>
                    </a>
                    <div class="author">
                      <div>15.01.2021</div>
                    </div>
                    <h4>
                      <a
                        class="modal-open-lg"
                        href="../../../static/html/tal1.html"
                        >AUD/JPY: Ichimoku indicators analysis</a
                      >
                    </h4>
                  </article>
                  <article class="col-md-4 blog-item">
                    <a
                      class="modal-open-lg"
                      href="../../../static/html/tal2.html"
                      ><span class="thumb-info thumb-info-centered-info"
                        ><span class="thumb-info-wrapper"
                          ><!--  -->
                          <figure class="progressive">
                            <img
                              class="progressive__img progressive--is-loaded"
                              src="../../../static/images/tai2.png"
                              alt="AUD/USD: technical analysis"
                              data-progressive="../../../static/images/tai2.png"
                             
                            />
                          </figure>
                          <!-- END  --><span
                            class="thumb-info-action"
                            ><span class="thumb-info-action-icon"
                              ><i
                                class="fa fa-link"
                              ></i></span></span></span></span
                    ></a>
                    <div class="author"><div>15.01.2021</div></div>
                    <h4>
                      <a
                        class="modal-open-lg"
                        href="../../../static/html/tal2.html"
                        >AUD/USD: technical analysis</a
                      >
                    </h4>
                  </article>
                  <article class="col-md-4 blog-item">
                    <a
                      class="modal-open-lg"
                      href="../../../static/html/tal3.html"
                      ><span class="thumb-info thumb-info-centered-info"
                        ><span class="thumb-info-wrapper"
                          ><!--  -->
                          <figure class="progressive">
                            <img
                              class="progressive__img progressive--is-loaded"
                              src="../../../static/images/tai3.png"
                              alt="USD/CAD: technical analysis"
                              data-progressive="../../../static/images/tai3.png"
                             
                            />
                          </figure>
                          <!-- END  --><span
                            class="thumb-info-action"
                            ><span class="thumb-info-action-icon"
                              ><i
                                class="fa fa-link"
                              ></i></span></span></span></span
                    ></a>
                    <div class="author"><div>15.01.2021</div></div>
                    <h4>
                      <a
                        class="modal-open-lg"
                        href="../../../static/html/tal3.html"
                        >USD/CAD: technical analysis</a
                      >
                    </h4>
                  </article>
                </div>
              </div>
              <div
                class="tab-pane fade col-md-12"
                id="profile"
                role="tabpanel"
                aria-labelledby="profile-tab"
              >
                <div class="row text-center" style="padding: 40px">
                  <h2>Fundamental analysis</h2>
                </div>
                <article class="col-md-4 blog-item">
                  <a class="modal-open-lg" href="../../../static/html/fal1.html"
                    ><span class="thumb-info thumb-info-centered-info"
                      ><span class="thumb-info-wrapper"
                        ><img
                          src="../../../static/images/tai2.png"
                          alt="Key Releases" /><span class="thumb-info-action"
                          ><span class="thumb-info-action-icon"
                            ><i
                              class="fa fa-link"
                            ></i></span></span></span></span
                  ></a>
                  <div class="author"><div>15.01.2021</div></div>
                  <h4>
                    <a
                      class="modal-open-lg"
                      href="../../../static/html/fal1.html"
                      >Key Releases</a
                    >
                  </h4>
                </article>
                <article class="col-md-4 blog-item">
                  <a class="modal-open-lg" href="../../../static/html/fal2.html"
                    ><span class="thumb-info thumb-info-centered-info"
                      ><span class="thumb-info-wrapper"
                        ><!--  -->
                        <figure class="progressive">
                          <img
                            class="progressive__img progressive--is-loaded"
                            src="../../../static/images/fai2.png"
                            alt="USD/TRY: the lira restores lost positions"
                            data-progressive="../../../static/images/fai2.png"
                         
                          />
                        </figure>
                        <!-- END  --><span
                          class="thumb-info-action"
                          ><span class="thumb-info-action-icon"
                            ><i
                              class="fa fa-link"
                            ></i></span></span></span></span
                  ></a>
                  <div class="author"><div>15.01.2021</div></div>
                  <h4>
                    <a
                      class="modal-open-lg"
                      href="../../../static/html/fal2.html"
                      >USD/TRY: the lira restores lost positions</a
                    >
                  </h4>
                </article>
                <article class="col-md-4 blog-item">
                  <a class="modal-open-lg" href="../../../static/html/fal3.html"
                    ><span class="thumb-info thumb-info-centered-info"
                      ><span class="thumb-info-wrapper"
                        ><!--  -->
                        <figure class="progressive">
                          <img
                            class="progressive__img progressive--is-loaded"
                            src="../../../static/images/fai3.png"
                            alt="EUR/USD: Joe Biden's plan strengthens the dollar"
                            data-progressive="../../../static/images/fai3.png"
                           
                          />
                        </figure>
                        <!-- END  --><span
                          class="thumb-info-action"
                          ><span class="thumb-info-action-icon"
                            ><i
                              class="fa fa-link"
                            ></i></span></span></span></span
                  ></a>
                  <div class="author"><div>15.01.2021</div></div>
                  <h4>
                    <a
                      class="modal-open-lg"
                      href="../../../static/html/fal3.html"
                      >EUR/USD: Joe Biden's plan strengthens the dollar</a
                    >
                  </h4>
                </article>
              </div>
              <div
                class="tab-pane fade col-md-12"
                id="contact"
                role="tabpanel"
                aria-labelledby="contact-tab"
              >
                <div class="row" style="padding: 40px">
                  <h2>Video reviews</h2>
                </div>
                <article class="col-md-4 blog-item">
                  <a
                    href="https://www.youtube.com/watch?v=W4aifBpaoos"
                   target="hash"
                    ><span class="thumb-info thumb-info-centered-info"
                      ><span class="thumb-info-wrapper"
                        ><!--  -->
                        <figure class="progressive">
                          <img
                            class="progressive__img progressive--not-loaded"
                            src="http://i3.ytimg.com/vi/W4aifBpaoos/maxresdefault.jpg"
                            alt="Weekly Forex forecast 11-15.01.21: EUR/USD, GBP/USD, USD/JPY, AUD/USD, Gold"
                            data-progressive="http://i3.ytimg.com/vi/W4aifBpaoos/maxresdefault.jpg"
          
                          />
                        </figure>
                        <!-- END  --><span
                          class="thumb-info-action"
                          ><span class="thumb-info-action-icon">
  <i class="fa fa-link"></i> <a href="https://www.youtube.com/watch?v=W4aifBpaoos" target="_blank"></a>
</span></span></span></span
                  ></a>
                  <div class="author"><div>11.01.2021</div></div>
                  <h4>
                    <a
                      class="modal-open-lg"

                      href="https://www.youtube.com/watch?v=W4aifBpaoos"
                      target="hash"
                      >Is it the silence before the storm?</a
                    >
                  </h4>
                </article>
                <article class="col-md-4 blog-item">
                  <a
                  href="https://www.youtube.com/watch?v=FHjXcForWGc"
                  target="hash"
                    class="modal-open-lg"
                    
                    ><span class="thumb-info thumb-info-centered-info"
                      ><span class="thumb-info-wrapper"
                        ><!--  -->
                        <figure class="progressive">
                          <img
                            class="progressive__img progressive--not-loaded"
                            src="http://i3.ytimg.com/vi/FHjXcForWGc/maxresdefault.jpg"
                            alt="Weekly Forex forecast 4-8.01.21: EUR/USD, GBP/USD, USD/JPY, AUD/USD, Gold"
                            data-progressive="http://i3.ytimg.com/vi/FHjXcForWGc/maxresdefault.jpg"
                          
                          />
                        </figure>
                        <!-- END  --><span
                          class="thumb-info-action"
                          ><span class="thumb-info-action-icon">
  <i class="fa fa-link"></i> <a href="https://www.youtube.com/watch?v=FHjXcForWGc"></a>
</span></span></span></span
                  ></a>
                  <div class="author"><div>04.01.2021</div></div>
                  <h4>
                    <a
                      class="modal-open-lg"
                      href="https://www.youtube.com/watch?v=FHjXcForWGc"
                      target="hash"
                      >Bulls push gold within the range!</a
                    >
                  </h4>
                </article>
                <article class="col-md-4 blog-item">
                  <a
                    class="modal-open-lg"
                    href="https://www.youtube.com/watch?v=9rCmzAgwK3c"
                    ><span class="thumb-info thumb-info-centered-info"
                      ><span class="thumb-info-wrapper"
                        ><!--  -->
                        <figure class="progressive">
                          <img
                            class="progressive__img progressive--not-loaded"
                            src="http://i3.ytimg.com/vi/9rCmzAgwK3c/maxresdefault.jpg"
                            alt="Weekly Forex forecast 28.12-01.01.21: EUR/USD, GBP/USD, USD/JPY, AUD/USD, Gold"
                            data-progressive="http://i3.ytimg.com/vi/9rCmzAgwK3c/maxresdefault.jpg"
                            onerror="this.src = ''"
                          />
                        </figure>
                        <!-- END  --><span
                          class="thumb-info-action"
                          ><span class="thumb-info-action-icon"
                            ><i
                              class="fa fa-link"
                            ></i>
                            <a href="https://www.youtube.com/watch?v=9rCmzAgwK3c"></a> </span></span></span></span
                  ></a>
                  <div class="author"><div>28.12.2021</div></div>
                  <h4>
                    <a
                      class="modal-open-lg"
                      href="https://www.youtube.com/watch?v=9rCmzAgwK3c"
                      >Mining season!</a
                    >
                  </h4>
                </article>
              </div>
              <div
                class="tab-pane fade col-md-12"
                id="signal"
                role="tabpanel"
                aria-labelledby="signal-tab"
              >
                <div id="w0-tab3" class="tab-pane active text-center">
                  <h2 style="padding-top: 40px">Signals</h2>
                  <div class="alert alert-info" style="margin: 40px 0 10px 0">
                    Signals are updated every minute.
                    <span style="margin-top: 0"
                      >Server time (GMT +2), as shown in the terminal.</span
                    >
                  </div>
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="tableHead">
                        <tr>
                          <th></th>
                          <th>MA10</th>
                          <th>MA20</th>
                          <th>MA50</th>
                          <th>MA100</th>
                          <th>MACD</th>
                          <th>BBands</th>
                          <th>Ichimoku</th>
                          <th>Stochastic</th>
                          <th>William`s</th>
                          <th>ZigZag</th>
                          <th>General recommendation</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <span>08:48</span>&nbsp;&nbsp;<span
                              >Nvidia Corp</span
                            >
                          </td>
                          <td>
                            <img src="../../../static/images/up2.png" alt="" />
                          </td>
                          <td>
                            <img src="../../../static/images/up2.png" alt="" />
                          </td>
                          <td>
                            <img src="../../../static/images/up3.png" alt="" />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down3.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down3.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/right1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down3.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/right1.png"
                              alt=""
                            />
                          </td>
                          <td><span class="sell">Sell</span></td>
                        </tr>
                        <tr>
                          <td>
                            <span>08:48</span>&nbsp;&nbsp;<span
                              >Nvidia Corp</span
                            >
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img src="../../../static/images/up1.png" alt="" />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down3.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img src="../../../static/images/up2.png" alt="" />
                          </td>
                          <td>
                            <img src="../../../static/images/up2.png" alt="" />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down3.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <span class="sell active-sell">Active SELL</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>08:48</span>&nbsp;&nbsp;<span
                              >Nvidia Corp</span
                            >
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img src="../../../static/images/up2.png" alt="" />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down3.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img src="../../../static/images/up1.png" alt="" />
                          </td>
                          <td>
                            <img src="../../../static/images/up2.png" alt="" />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down3.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <span class="sell active-sell">Active SELL</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>08:48</span>&nbsp;&nbsp;<span
                              >Nvidia Corp</span
                            >
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img src="../../../static/images/up1.png" alt="" />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down3.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img src="../../../static/images/up2.png" alt="" />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/right1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <span class="sell active-sell">Active SELL</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>08:48</span>&nbsp;&nbsp;<span
                              >Nvidia Corp</span
                            >
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down3.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img src="../../../static/images/up2.png" alt="" />
                          </td>
                          <td>
                            <img src="../../../static/images/up2.png" alt="" />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down3.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <span class="sell active-sell">Active SELL</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>08:48</span>&nbsp;&nbsp;<span
                              >Nvidia Corp</span
                            >
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img src="../../../static/images/up2.png" alt="" />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down3.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img src="../../../static/images/up2.png" alt="" />
                          </td>
                          <td>
                            <img src="../../../static/images/up2.png" alt="" />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down3.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <span class="sell active-sell">Active SELL</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>08:52</span>&nbsp;&nbsp;<span
                              >Nvidia Corp</span
                            >
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img src="../../../static/images/up1.png" alt="" />
                          </td>
                          <td>
                            <img src="../../../static/images/up1.png" alt="" />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img src="../../../static/images/up2.png" alt="" />
                          </td>
                          <td>
                            <img src="../../../static/images/up1.png" alt="" />
                          </td>
                          <td>
                            <img src="../../../static/images/up3.png" alt="" />
                          </td>
                          <td><span class="neutral">Neutral</span></td>
                        </tr>
                        <tr>
                          <td>
                            <span>08:52</span>&nbsp;&nbsp;<span
                              >Amazon.com Inc</span
                            >
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img src="../../../static/images/up2.png" alt="" />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down3.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/down2.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <img src="../../../static/images/up2.png" alt="" />
                          </td>
                          <td>
                            <img
                              src="../../../static/images/right1.png"
                              alt=""
                            />
                          </td>
                          <td>
                            <span class="sell active-sell">Active SELL</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row col-md-12">
              <router-link
                to="/register"
                class="btn  btn-lg btn-primary center-block"
                style="
                  padding: 0.55em 5em;
                  margin-bottom: 2rem;
                  font-size: 1.25em;
                  line-height: 1.5;
                  color: white;
                  border-radius: 0.3em;
                     background-color:#007bff;
                     width:auto;
                "
              >
                Get  full access</router-link
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="background-color: #333; color: white">
        <div class="container text-center third" style="padding: 40px">
          <div class="section-title" style="padding: 40px">
            <h2>Benefits of <strong>Noble Sky™</strong> analysis</h2>
          </div>
          <div class="advantages-items">
            <div class="row">
              <div class="col-md-4">
                <div class="advantages__item">
                  <img
                    style="padding-bottom: 20"
                    src="../../../static/images/claws_1.png"
                    alt="Unique analytical reviews and forecasts"
                  /><br /><b style="white-space:nowrap;">Unique analytical reviews and forecasts</b
                  ><br /><br />
                  <p>
                    Daily topical analyses. We analyze the market, not the
                    materials from the search engines.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="advantages__item">
                  <img
                    src="../../../static/images/claws_2.png"
                    alt="All kinds of analysis"
                  /><br /><br /><b>All kinds of analysis</b><br /><br />
                  <p>
                    Technical, fundamental, wave analysis, and reviews of the
                    macroeconomic indicators.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="advantages__item">
                  <img
                    src="../../../static/images/claws_3.png"
                    alt="Indicators"
                  /><br /><br /><b>Indicators</b><br /><br />
                  <p>
                    We are tracing the values of 10 indicators for 25
                    instruments on 7 timeframes.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="advantages__item">
                  <img
                    src="../../../static/images/claws_4.png"
                    alt="Trading signals"
                  /><br /><br /><b>Trading signals</b><br /><br />
                  <p>
                    Recommendations for trade opening with entry/exit points are
                    updated throughout the day and are intended for a
                    medium-term trading strategy.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="advantages__item">
                  <img
                    src="../../../static/images/claws_5.png"
                    alt="Video reviews"
                  /><br /><br /><b>Video reviews</b><br /><br />
                  <p>
                    Weekly video podcast with long-term forecasts for the major
                    currency pairs.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="advantages__item">
                  <img
                    src="../../../static/images/claws_6.png"
                    alt="Online chat"
                  /><br /><br /><b>Online chat</b><br /><br />
                  <p>
                    Online communication with the leading analysts of the
                    Noble Sky™ master analysts Company.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="background-color: #e0e0e0">
        <div class="container text-center">
          <div class="learn-more">
            <div class="container">
              <div class="section-title" style="padding-top: 2rem; padding-bottom: 1rem">
                <h2 style="letter-spacing: 1px; font-family: Open Sans,sans-serif;">
                  <b style="font-weight: 1000; font-height: 42px;">Become a Noble Sky™ client</b> and get a full access</h2>
              </div>
              
              <div class="row ">
              <router-link
                to="/register"
                class="btn waves-effect waves-light btn-lg btn-primary center-block"
                style="    padding: 0.5em 8em;
    margin-bottom: 1rem;
    font-size: 1.25em;
    line-height: 1.5;
    width: auto;
    color: white;
    border-radius: 0.3em;
    background-color: rgb(0, 123, 255);
  "
              >
                Sign up</router-link
              >
            </div>
              <div class="inform-block" style="padding-bottom: 1rem">
                <p>
                  The material published on this page is produced by <strong>Noble Sky™</strong> and should not
                  be considered as the provision of investment advice for the
                  purposes of Directive 2004/39/EC; furthermore it has not been
                  prepared in accordance with legal requirements designed to
                  promote the independence of investment research and is not
                  subject to any prohibition on dealing ahead of the
                  dissemination of investment research.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--div class="row" style="background-color: #333; color: white">
        <div class="container text-center">
          <h2>This is the fifth section</h2>
        </div>
      </div-->
    </div>

    <pageFooter />
  </div>
</template>


<script>
import pageHeader from "../../components/pageHeaderTFX.vue";
import pageFooter from "../../components/pageFooterTFX.vue";
import { languageCode } from "../../utils/lan-code";

export default {
  name: "my-acount",
  data: function () {
    return {
      isLogin: false,
      userLoginInfo: "",
      curCoinType: 1,
      curLanguage: 2,
      // language:coinstrad,

      userInfo: {
        configure: {},
      },

      tableIndex: 0,
      queryIndex: 0,
      queryIndexFlag: false,
    };
  },
  metaInfo: {
    title: "Analytics-NOBLE SKY",
  },
  created() {
    const storeCoinType = this.localStore.getItem("curCoinType");
    const storeLanguage = this.localStore.getItem("curLanguage");

    this.curCoinType = !!storeCoinType
      ? storeCoinType
      : this.$api.defaultCoinType;
    this.curLanguage = !!storeLanguage
      ? storeLanguage
      : this.$api.defaultLanguage;

    if (this.curLanguage != 2) {
      let pName = this.$route.name.substring(0, this.$route.name.length - 2);
      let pNameStr = pName + languageCode[this.curLanguage];
      this.$router.push({ name: pNameStr });
    }

    this.isLogin = this.util.isLogin();

    if (!!this.isLogin) {
      this.userLoginInfo = JSON.parse(this.localStore.getItem("userLoginInfo"));
      // this.getUserInfo();
    }

    // this.getSystemTradMode()

    // this.getUserAsset()
    // this.getCoinList();
    // this.getUserOrder();
    // this.getUserOrder2();
    // this.settingAPIDataLanguage();
    // this.getcurrency()
  },

  mounted() {
    document.documentElement.scrollTop = 0;
  },

  components: {
    pageHeader,
    pageFooter,
  },

  methods: {
    changeLanguage(val) {
      console.log(this.curLanguage);
      let pName =
        this.curLanguage == 1
          ? this.$route.name
          : this.$route.name.substring(0, this.$route.name.length - 2);
      let pNameStr = pName + languageCode[val];
      this.$router.push({ name: pNameStr });
    },
    hideMenu() {
      this.$refs.pageHead.hideMenu();
    },
    handleTableIndex(val) {
      this.tableIndex = val;
    },
    handleQueryIndex(val) {
      if (val === this.queryIndex) {
        this.queryIndexFlag = !this.queryIndexFlag;
      } else {
        this.queryIndex = val;
        this.queryIndexFlag = true;
      }
    },
  },
};
</script>






<style scoped lang="scss">
//First section styling

.btn{display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;text-decoration:none;}
.btn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25);}
.btn:disabled{opacity:.65;}
.btn-block{display:block;width:100%;}
.collapse:not(.show){display:none;}
.dropdown-toggle{white-space:nowrap;}
.dropdown-toggle::after{display:inline-block;margin-left:.255em;vertical-align:.255em;content:"";border-top:.3em solid;border-right:.3em solid transparent;border-bottom:0;border-left:.3em solid transparent;}
.dropdown-toggle:empty::after{margin-left:0;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:10rem;padding:.5rem 0;margin:.125rem 0 0;font-size:1rem;color:#212529;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.15);border-radius:.25rem;}
.btn-group{position:relative;display:-ms-inline-flexbox;display:inline-flex;vertical-align:middle;}
.btn-group>.btn{position:relative;-ms-flex:1 1 auto;flex:1 1 auto;}
.btn-group>.btn:hover{z-index:1;}
.btn-group>.btn:active,.btn-group>.btn:focus{z-index:1;}
.navbar{position:relative;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding:.5rem 1rem;}
.navbar-collapse{-ms-flex-preferred-size:100%;flex-basis:100%;-ms-flex-positive:1;flex-grow:1;-ms-flex-align:center;align-items:center;}
.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.25rem;}
.navbar-toggler:focus,.navbar-toggler:hover{text-decoration:none;}
@media (min-width:992px){
.navbar-expand-lg{-ms-flex-flow:row nowrap;flex-flow:row nowrap;-ms-flex-pack:start;justify-content:flex-start;}
.navbar-expand-lg .navbar-collapse{display:-ms-flexbox!important;display:flex!important;-ms-flex-preferred-size:auto;flex-basis:auto;}
.navbar-expand-lg .navbar-toggler{display:none;}
}
.breadcrumb{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:.75rem 1rem;margin-bottom:1rem;list-style:none;background-color:#e9ecef;border-radius:.25rem;}
.d-flex{display:-ms-flexbox!important;display:flex!important;}
.align-items-start{-ms-flex-align:start!important;align-items:flex-start!important;}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
h2,h3,p{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
.container{min-width:992px!important;}
.navbar{display:none;}
}
h1,h2,h3,h4{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;}
:focus{outline:0;}
a:active,a:focus,a:hover,a:visited{outline:0!important;text-decoration:none;}
ul li{list-style-type:none;}
a img{border:0;}
footer,header,nav,section{display:block;}
.btn:focus{box-shadow:none;}
a{text-decoration:none;}
h1{font-family:Bitter,serif;font-size:65px;line-height:80px;text-align:center;color:#fff;padding-top:160px;margin-bottom:30px;}
h2{font-family:Bitter,serif;font-style:normal;font-weight:400;line-height:normal;font-size:40px;text-align:center;color:#fff;}
.mob-only{display:none;}
.main-menu #navbarNav ul>li>.dropdawn-menu-block .row{width:600px;}

.lang-block{display:inline-block;margin-left:40px;}
.lang-block .language-menu{margin-top:-1px;}
.lang-block .btn{padding:0;border:none;background:0 0;color:#fff;text-transform:uppercase;font-family:Montserrat;font-size:12px;line-height:12px;font-weight:600;}
.lang-block button:active,.lang-block button:focus{box-shadow:none;}
.lang-block .lang-list{width:30px;min-width:auto;background:#333;text-align:center;left:-5px!important;padding-top:0;padding-bottom:0;}
.lang-block .lang-list a{color:#fff;text-transform:uppercase;font-family:Montserrat;font-weight:600;font-size:12px;line-height:12px;}
.section{position:relative;height:83vh;min-height:900px;z-index:10; width:100%;}
.group-success{text-align:center;}
.group-success h3,.group-success p{text-transform:uppercase;font-family:Montserrat;color:#fff;font-weight:600;font-size:15px;line-height:15px;display:inline-block;margin-right:10px;vertical-align:middle;margin-bottom:0;}
a.btn-show-right{position:relative;display:inline-block;cursor:pointer;outline:0;border:0;vertical-align:middle;text-decoration:none;background:0 0;padding:0;font-size:inherit;font-family:inherit;}
a.btn-show-right{display:inline-block;height:50px;}
a.btn-show-right .circle{transition:all .45s cubic-bezier(.65,0,.076,1);position:absolute;margin:0;width:50px;height:50px;background:#e52525;border-radius:1.625rem;}
a.btn-show-right .circle .icon{transition:all .45s cubic-bezier(.65,0,.076,1);position:absolute;top:0;bottom:0;margin:auto;background:#fff;}
a.btn-show-right .circle .icon.arrow{transition:all .45s cubic-bezier(.65,0,.076,1);left:.625rem;width:1.125rem;height:.125rem;background:0 0;}
a.btn-show-right .circle .icon.arrow::before{position:absolute;content:"";top:-.25rem;right:.0625rem;width:.625rem;height:.625rem;border-top:.125rem solid #fff;border-right:.125rem solid #fff;transform:rotate(45deg);}
a.btn-show-right .button-text{transition:all .45s cubic-bezier(.65,0,.076,1);position:relative;display:inline-block;padding:18px 35px 10px;margin:0 0 0 1.85rem;color:#e52525;text-align:left;text-transform:uppercase;font-family:Montserrat;font-weight:700;line-height:15px;font-size:15px;text-transform:uppercase;}
a.btn-show-right:hover .circle{width:100%;}
a.btn-show-right:hover .circle .icon.arrow{background:#fff;transform:translate(1rem,0);}
a.btn-show-right:hover .button-text{color:#fff;}
.btn-red{background:#e52525;font-family:Montserrat;font-weight:600;line-height:15px;font-size:15px;text-transform:uppercase;color:#fff;padding:16px 40px;transition:all .45s;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;}
.btn-red:hover{color:#e52525;background:#fff;transition:all .45s;}

.analysis-info-page{padding:calc(2 * (1vw + 1vh - 1vmin)) 0;}
.analysis-info-page h1{margin-bottom:160px;}
.analysis-info-page .content-block{max-width:1300px;margin:0 auto;position:relative;}
.analysis-info-page .content-block .text-block{max-width:720px;}
.analysis-info-page .content-block .text-block h2{font-family:Bitter,serif;font-style:normal;font-weight:400;line-height:38px;font-size:40px;color:#fff;margin-bottom:20px;text-align:left;}
.analysis-info-page .content-block .text-block p{font-family:Bitter,serif;font-weight:400;line-height:25px;font-size:15px;color:#737373;margin-bottom:40px;}
.analysis-info-page .group-success{text-align:left;}
.analysis-info-page .art-img{position:absolute;right:0;top:-20px;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none;pointer-events:none;}
.forex-analysis-block h2{margin-bottom:20px;}
.forex-analysis-block h2+p{font-family:Bitter,serif;font-weight:400;line-height:30px;font-size:18px;text-align:center;color:#b2b2b2;max-width:1230px;margin:0 auto;}
.forex-analysis-block .phone-app{max-width:473px;margin:0 auto;height:auto;display:block;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none;pointer-events:none;}
.forex-analysis-block .analysis-download{text-align:center;margin-bottom:100px;}
.forex-analysis-block .analysis-download a{display:inline-block;margin:0 10px;}
.forex-analysis-block .analysis-download a img{height:40px;opacity:.5;transition:all .45s;}
.forex-analysis-block .analysis-download a:hover img{opacity:1;transition:all .45s;}
.forex-analysis-block .content-block{max-width:1500px;margin:0 auto;}
.forex-analysis-block .analysis-info-text{padding-left:30px;position:relative;}
.forex-analysis-block .analysis-info-text:before{position:absolute;left:0;top:13px;width:15px;height:1px;background:#e52525;content:"";}
.forex-analysis-block .analysis-info-text h3{font-family:Bitter,serif;font-style:normal;font-weight:400;line-height:26px;font-size:18px;color:#fff;margin-bottom:15px;}
.forex-analysis-block .analysis-info-text p{font-family:Arial;line-height:24px;font-size:15px;color:#b2b2b2;margin-bottom:50px;}
footer .switch-footer{text-align:center;padding-top:50px;display:none;}
footer .switch-footer a{color:#b2b2b2;padding:5px 10px;}
@media only screen and (max-width :1700px){
h1{padding-top:140px;}
}
@media only screen and (max-width :1600px){
.main-menu #navbarNav ul>li>.dropdawn-menu-block .row{width:500px;}
}
@media only screen and (max-width :1500px){
header .reg-btn a:first-child{margin-right:15px;}
header #navbarNav ul>li a{padding-left:15px;padding-right:15px;}
header .reg-btn a{font-size:11px;}
.lang-block{margin-left:15px;}
h1{font-size:55px;padding-top:120px;}

.payments li{margin:0 22px;}
}
@media only screen and (max-width :1400px){
.payments{margin-bottom:30px;}
}
@media only screen and (max-width :1350px){
header #navbarNav ul>li a{padding-left:10px;padding-right:10px;}
header .reg-btn a:first-child{margin-right:10px;}
.lang-block{margin-left:10px;}
.payments li{margin:0 15px;}
}
@media only screen and (max-width :1250px){

.container-fluid{padding-left:25px;padding-right:25px;}

}
@media only screen and (max-width :1200px){

.lang-block{margin-left:15px;}
.main-menu #navbarNav ul>li>.dropdawn-menu-block h4{font-size:14px;}
.section{overflow:inherit;max-height:inherit;height:auto;padding:60px 0!important;min-height:inherit;}

}
@media only screen and (max-width :1100px){

.lang-block{margin-left:5px;}
}
@media only screen and (max-width :1064px){
.section{padding:25px 0!important;}
}
@media only screen and (max-width :991px){
h1{font-size:36px;line-height:52px;margin-bottom:15px;padding-top:60px;}
h2{font-size:20px;}
.mob-only{display:block;}

.main-menu #navbarNav ul>li>.dropdawn-menu-block .row>div{padding-left:0;padding-right:0;}
.btn-red{padding:15px 30px;line-height:normal;}
.section{padding:25px 0!important;}

.analysis-info-page{padding-top:60px!important;}
.analysis-info-page h1{margin-bottom:50px;}
.analysis-info-page .content-block .text-block h2{font-size:25px;line-height:36px;margin-bottom:25px;}
.analysis-info-page .content-block .text-block p{color:#b2b2b2;font-size:12px;line-height:18px;margin-bottom:25px;}
.analysis-info-page .art-img{max-width:100%;height:auto;margin-bottom:35px;}
.analysis-info-page .group-success{display:none;}
.forex-analysis-block h2{font-size:25px;line-height:36px;margin-bottom:10px;}
.forex-analysis-block{padding-top:25px;}
.forex-analysis-block h2+p{font-size:12px;line-height:18px;}
.forex-analysis-block .phone-app{max-width:100%;height:auto;}
.forex-analysis-block .analysis-download{margin-bottom:50px;}
.forex-analysis-block .analysis-info-text h3{line-height:23px;margin-bottom:10px;}
.forex-analysis-block .analysis-info-text p{font-size:14px;line-height:23px;margin-bottom:25px;}
}

@media only screen and (max-width :360px){
h1{font-size:30px;line-height:normal;}
header .main-menu{width:80%;}
}
@media only screen and (max-width :330px){
h1{font-size:22px;line-height:normal;}
}
/*! CSS Used fontfaces */
@font-face{font-family:'Bitter';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/bitter/v16/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfOLXOXWh2.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;font-display:swap;}
@font-face{font-family:'Bitter';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/bitter/v16/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfOLzOXWh2.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;font-display:swap;}
@font-face{font-family:'Bitter';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/bitter/v16/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfOLfOXWh2.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;font-display:swap;}
@font-face{font-family:'Bitter';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/bitter/v16/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfOLbOXWh2.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;font-display:swap;}
@font-face{font-family:'Bitter';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/bitter/v16/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfOLjOXQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;font-display:swap;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gTD_u50.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;font-display:swap;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3g3D_u50.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;font-display:swap;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gbD_u50.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;font-display:swap;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gfD_u50.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;font-display:swap;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;font-display:swap;}
//end of first section styling
.sell{
  font-weight: 800;
  color: #ce0000;
}
.active-sell{
  color: #ff4747;
}
.third {
  width: 1200px;
}
.advantages__item {
  padding: 20px;
}
.advantages__item b {
  font-size: 20px;
}
.advantages__item p {
  font-size: 15px;
}
//Start of table styling
.table-responsive {
  min-height: 0.01%;
  overflow-x: auto;
}
.table > caption + thead > tr:first-child > td[data-v-11c00517],
.table > caption + thead > tr:first-child > th[data-v-11c00517],
.table > colgroup + thead > tr:first-child > td[data-v-11c00517],
.table > colgroup + thead > tr:first-child > th[data-v-11c00517],
.table > thead:first-child > tr:first-child > td[data-v-11c00517],
.table > thead:first-child > tr:first-child > th[data-v-11c00517] {
  border-top: 0;
  font-size: 11px;
  color: black;
}
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  display: table;
  //border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  table-layout: auto;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.tableHead {
  font-size: 5px !important;
}
.tab-content {
  height: 500px;
}
.table > caption + thead > tr:first-child > td,
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > td,
.table > thead:first-child > tr:first-child > th {
  border-top: 0;
}

.analytics_api .tab-pane thead th {
  font-size: 12px;
  color: #000;
}
.table > thead > tr > th > td {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  color: black !important;
  font-size: 12px !important;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table > thead > tr > th,
td {
  vertical-align: middle;
  font-weight: 700;
  border-bottom: 2px solid #ddd;
}

//end of table styling

.modal-open-lg {
  color: #007bff !important;
  font-size: 17px;
  font-weight: 700;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
  border-radius: 0px;
  border: 0px;
  color: #fff;
  
}
.nav-item:hover{
  background: #464646;
  font-weight: 700;
}
.nav-item .nav-link {
  color: rgb(179, 179, 179);
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #333;
  background-color: white;
  border-color: #dee2e6 #dee2e6 #fff;
  padding-bottom: 1.25em;
  padding-top: 2em;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 0px;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 0px;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 0px;
}
#myTab {
  // border: 5px solid white;
  background: #333;
}
.fade {
  opacity: 1;
}
//This will be removed if not working
.row h2[data-v-a14f68a6] {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  text-align: center;
}
h2[data-v-a14f68a6] {
  font-size: 1.7rem;
  line-height: 1.2;
}
h1[data-v-a14f68a6],
h2[data-v-a14f68a6] {
  margin: 0 0 20px 0;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: #3f3453;
  text-transform: none;
}
*[data-v-a14f68a6],
[data-v-a14f68a6] :after,
[data-v-a14f68a6] :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*[data-v-a14f68a6] {
  word-wrap: break-word;
}
*[data-v-a14f68a6] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.no-select,
h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.no-select,
h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
h2 {
  margin-top: 0;
  margin-bottom: 30px;
}
h2,
.h2 {
  font-size: 30px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
Style Attribute {
  background-color: rgb(51, 51, 51);
  color: white;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
body {
  background-color: #24303a;
  color: white;
  text-align: center;
}
body,
html {
  font-family: Lato;
}
body {
  color: #333;
  font-size: 14px;
  line-height: 22px;
}
body,
button,
input,
select,
textarea {
  font: 13px/1.5 "Microsoft YaHei", "黑体", arial, "宋体", sans-serif;
}
body {
  color: #000;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
Style Attribute {
  font-size: 45.6533px !important;
}
:root {
  --swiper-navigation-size: 44px;
  /* --swiper-navigation-color: var(--swiper-theme-color); */
}
:root {
  --swiper-theme-color: #007aff;
}
:root {
  --border-radius: 0.25rem;
  --font: "Open Sans", sans-serif;
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(160, 160, 160, 1);
  --dark-gray: rgba(77, 82, 90, 1);
  --green: rgba(123, 207, 116, 1);
  --graph-grey: rgba(237, 237, 237, 0.75);
  --graph-purple: rgba(111, 105, 173, 0.75);
  --transition-duration: 1s;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
:root {
  --mdc-theme-primary: #6200ee;
  --mdc-theme-secondary: #018786;
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: #b00020;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}
:root {
  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 24px;
  --mdc-layout-grid-column-width-desktop: 72px;
  --mdc-layout-grid-margin-tablet: 16px;
  --mdc-layout-grid-gutter-tablet: 16px;
  --mdc-layout-grid-column-width-tablet: 72px;
  --mdc-layout-grid-margin-phone: 16px;
  --mdc-layout-grid-gutter-phone: 16px;
  --mdc-layout-grid-column-width-phone: 72px;
}
:root {
  --mdc-theme-primary: #6200ee;
  --mdc-theme-secondary: #018786;
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: #b00020;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}
:root {
  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 24px;
  --mdc-layout-grid-column-width-desktop: 72px;
  --mdc-layout-grid-margin-tablet: 16px;
  --mdc-layout-grid-gutter-tablet: 16px;
  --mdc-layout-grid-column-width-tablet: 72px;
  --mdc-layout-grid-margin-phone: 16px;
  --mdc-layout-grid-gutter-phone: 16px;
  --mdc-layout-grid-column-width-phone: 72px;
}
:root {
  --border-radius: 0.25rem;
  --font: "Open Sans", sans-serif;
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(160, 160, 160, 1);
  --dark-gray: rgba(77, 82, 90, 1);
  --green: rgba(123, 207, 116, 1);
  --graph-grey: rgba(237, 237, 237, 0.75);
  --graph-purple: rgba(111, 105, 173, 0.75);
  --transition-duration: 1s;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*[data-v-a14f68a6],
[data-v-a14f68a6] :after,
[data-v-a14f68a6] :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*[data-v-a14f68a6]:before,
*[data-v-a14f68a6]:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*[data-v-a14f68a6],
[data-v-a14f68a6] :after,
[data-v-a14f68a6] :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*[data-v-a14f68a6]:before,
*[data-v-a14f68a6]:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*[data-v-a14f68a6]::selection {
  color: #ffffff;
  background: #1e1f26;
}
[data-v-a14f68a6]::selection {
  background: #39f;
  color: #fff;
  text-shadow: none;
}
::selection {
  color: white;
  background: #0078d7;
}
::selection {
  background: #74c109;
  color: #fff;
}
::selection {
  color: white;
  background: #0078d7;
}
::selection {
  background: #74c109;
  color: #fff;
}
//end of the removed section*/

h2 {
  margin-top: 0;
  margin-bottom: 30px;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.col-md-12 {
  width: 100%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-sm-4 {
  width: 33.33333333%;
}

.top20 {
  margin-top: 20px !important;
}
.top30 {
  margin-top: 30px !important;
}
.top40 {
  margin-top: 40px !important;
}
.top50 {
  margin-top: 50px !important;
}
.top60 {
  margin-top: 60px !important;
}
.top80 {
  margin-top: 80px !important;
}

.text-center {
  text-align: center !important;
}

.center-block {
  float: none !important;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
  display: none;
}

.dis20 {
  height: 20px;
  clear: both;
}
.dis30 {
  height: 30px;
  clear: both;
}
.dis40 {
  height: 40px;
  clear: both;
}
.dis60 {
  height: 60px;
  clear: both;
}

.site-canvas .top-bar .breadcrumb {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.site-canvas .top-bar {
  background-color: #e8e8e8;
  padding: 20px 0 20px 0;
  margin: 0;
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
  float: left;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  float: left;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}

.box-text-btn {
  text-align: right;
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .btn-full {
    background-color: #74c109;
    display: inline-block;
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
    width: 247px;
    text-align: center;
  }
  .btn-full:hover {
    background-color: #29A643;
  }
}

.nav-flexbox-tabs {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.nav-flexbox-tabs > li {
  width: 213px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 15px;
  margin-right: 15px;
  border: 1px solid #cbcbcb;
}

.nav-flexbox-tabs > li.active {
  background-color: #d51820;
}

.nav-flexbox-tabs > li > a,
.nav-flexbox-tabs > li > button {
  color: #000;
}
.nav-flexbox-tabs > li.active a,
.nav-flexbox-tabs > li.active button {
  color: #fff;
}

a:focus,
a:visited {
  color: #d51820;
}

.nav-flexbox-tabs a,
.nav-flexbox-tabs button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #000;
  line-height: normal;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  min-height: 38px;
  padding: 0 15px;
}

.nav-tabs {
  border: 0;
  font-size: 20px;
  margin-bottom: 30px;
}

#tabs2,
#tabs3,
#tabs4,
#PaymentMethodTab {
  position: relative;
  margin-bottom: 0;
  z-index: 9;
}

#tabs2,
#tabs3,
#tabs4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav > li {
  position: relative;
  display: block;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li {
  width: 50%;
}

#tabs2.nav-tabs > li,
#tabs3.nav-tabs > li,
#tabs4.nav-tabs > li {
  float: none;
  width: 100%;
}

#tabs2.nav-tabs > li,
#tabs3.nav-tabs > li,
#tabs4.nav-tabs > li {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.collapse {
  display: block;
}

.panel-default > .panel-heading i.fa-angle-up {
  color: #d51820 !important;
}
#tabContent .panel-default > .panel-heading i.fa.fa-angle-up,
.panel-default > .panel-heading i.fa.fa-angle-up,
#tabContent .panel-default > .panel-heading i.fa.fa-angle-down,
.panel-default > .panel-heading i.fa.fa-angle-down,
#PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-up,
.panel-default > .panel-heading i.fa.fa-angle-up,
#PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-down,
.panel-default > .panel-heading i.fa.fa-angle-down {
  font-size: 50px;
  margin-top: -25px;
  margin-left: 0;
  right: 20px;
}

.tab-pane .dis30 {
  height: 50px;
}

.pdf-list {
  li {
    width: 20%;
    float: left;
    text-align: center;
    margin-bottom: 50px;
    height: 169px;

    i {
      font-size: 120px;
      display: block;
      color: #d51820;
      margin-bottom: 5px;
    }
    span {
      color: #333;
    }
  }
}

footer {
  height: 300px;
  background-color: #333;
  text-align: center;
}
footer .cell {
  padding-top: 100px;
  font-size: 26px;
  color: #fff;
}
  .nav-tabs .nav-link[data-v-096193a4]:focus, .nav-tabs .nav-link[data-v-096193a4]:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
    padding-bottom: 2.25em !important;
    color: #333333;
    padding-top: 2em !important;
  }
  .nav-tabs .nav-link {
    padding: 23px 29px 16px;
  }
</style>
