<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="contact-box">

            <h3>Contact Us</h3>
            <p><i class="fa fa-warning red"></i>We are here to help you easily find the exact answers to your questions and offer you the best user experience! Our comprehensive FAQ page provides you with clear guidance at any time and is solely dedicated to answering all your questions within a matter of minutes.。</p>
            <p>If you can't find the answer you are looking for on
            <router-link to="/faq">our FAQ page,</router-link>
            please feel free to contact us by email or live chat.
            </p>
            <h6>Address</h6>
            <p style="line-height: 20px;">Flat B，27/F，legend tower，7shing yip st，kwan tong ，hong kong</p>
            <dl>
               <dt>Online Support</dt>
               <dd><i class="fa fa-clock-o red"></i>Working hours: 24/5 GMT</dd>
               <dd><i class="fa fa-headphones red"></i>Live Chat</dd>
               <dd><i class="fa fa-envelope red"></i>nbstraderservice@gmail.com</dd>
            </dl>
            <!-- <dl>
               <dt>Phone Support</dt>
               <dd><i class="fa fa-clock-o red"></i>Working hours: 24/5 GMT</dd>
               <dd><i class="fa fa-phone red"></i> +852 11111111</dd>
            </dl> -->


        </div>


         <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFXEN.vue'
import pageFooter from '../../components/pageFooterTFXEN.vue'
import {languageCode} from '../../utils/lan-code'




export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'contact-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },

     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">

   .contact-box{width: 1170px;margin: 0 auto;
      h3{padding:30px 0 20px;font-size: 24px;}
      h5{padding:20px 0 10px;font-size: 18px;}
      h6{font-weight: bold;font-size: 16px;margin: 20px 0 2px;}
      dl{margin:30px 0  0;border-bottom: 1px solid #ccc;padding-bottom: 30px;}
      dl:last-child{border:0}

   }


</style>
