<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">Energies</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                     <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">Energies</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>Contact Us</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container top60 hidden-xs">
            <ul class="nav-flexbox-tabs">
              <li>
                 <router-link to='/en/forex-trading'>Forex Trading</router-link>
               </li>
              <!-- <li>
                 <router-link to='/stocks'>Stock CFDs</router-link>
                 <a href="https://www.noblesky.com/cn/stocks">Stock CFDs</a></li> -->
               <!-- <li>
                 <router-link to='/en/commodities'>Commodities</router-link>
                </li>
               <li>
                 <router-link to='/en/equity-indices'>Equity indices</router-link>
               </li> -->
               <li>
                 <router-link to='/en/precious-metals'>Precious metals</router-link>
               </li>
               <li class="active">
                 <router-link to='/en/energies'>Energies</router-link>
               </li>
              <!-- <li>
                <router-link to='/shares'>Shares</router-link>
                <a href="https://www.xm.com/cn/shares">Shares</a></li> -->
            </ul>
          </div>
          <div class="dis50 visible-sm"></div>
          <div class="container hidden-xs">
            <h2 class="top30">Advantages of Oil Trading and Energies Trading with NOBLE SKY</h2>
            <div class="row text-center top50">
              <div class="feature-item6">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p class="top30">High volatility - greater price movement</p></div>
              <div class="feature-item6">
                <i class="tfxfont3 xmDrop fs100 red"></i>
                <p class="top30">Trade oil – the most actively traded commodity worldwide</p></div>
              <div class="feature-item6 hidden-xs hidden-md">
                <i class="tfxfont3 xmHigh-bars fs100 red"></i>
                <p class="top30">Go short/long according to market moves</p></div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmLow-price fs100 red"></i>
                <p class="top30">Trade on a margin of as low as
                  <br>5 USD</p></div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmCandlestick fs100 red"></i>
                <p class="top30">On oil CFDs
                  <br>No overnight financing </p></div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmPercent fs100 red"></i>
                <p class="top30">NO extra fees applicable</p></div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <br>Trade forex, Precious metals,and Energies at NOBLE SKY</div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">OPEN AN ACCOUNT</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row">
              <div class="col-md-12">
                <h2>Energies - Spreads / Conditions</h2></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul id="tabs3" class="nav nav-tabs top20" role="tablist">
                  <li :class="{active:tableIndex===0}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex(0)">Futures CFDs</a></li>
                  <!-- <li :class="{active:tableIndex===1}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(1)">Trading Hours</a></li>
                  <li :class="{active:tableIndex===2}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(2)">Calendar</a></li> -->
                </ul>
                <div id="tabContent" class="tab-content" >
                  <div class="tab-pane active" id="futures" v-if="tableIndex===0">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_0_wrapper" style="padding-bottom:2em;" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_0_length">
                          <label>Display
                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>Items</label>
                        </div>
                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                          <label>Search
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_0"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 96px;" aria-sort="ascending" aria-label="Symbol: activate to sort column descending">Symbol</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 114px;" aria-label="Description: activate to sort column ascending">Description</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 77px;" aria-label="Minimum price Fluctuation: activate to sort column ascending">Minimum price
                                <br>Fluctuation</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 111px;" aria-label="Value of Minimum price Fluctuation: activate to sort column ascending">Value of Minimum price Fluctuation</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 43px;" aria-label="Spreads as low as: activate to sort column ascending">Spreads
                                <br>as low as</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 87px;" aria-label="Value of 1 lot: activate to sort column ascending">Value of 1 lot</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 154px;" aria-label="Min/Max Trade Size: activate to sort column ascending">Min/Max Trade Size</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 95px;" aria-label="Margin Percentage: activate to sort column ascending">Margin Percentage</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 103px;" aria-label="Limit and Stop Levels*: activate to sort column ascending">Limit and Stop Levels*</th></tr>
                          </thead>
                          <tbody>
                            <!-- <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">BRENT</td>
                              <td>Brent Crude Oil</td>
                              <td>0.01000</td>
                              <td>USD 1</td>
                              <td>0.05</td>
                              <td>100 Barrels</td>
                              <td>1/400</td>
                              <td>1.5 %</td>
                              <td>0.1</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">GSOIL</td>
                              <td>London Gas Oil</td>
                              <td>0.01000</td>
                              <td>USD 0.04</td>
                              <td>1.5</td>
                              <td>4 Tonnes</td>
                              <td>1/500</td>
                              <td>3 %</td>
                              <td>2</td></tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">NGAS</td>
                              <td>Natural Gas</td>
                              <td>0.00100</td>
                              <td>USD 1</td>
                              <td>0.035</td>
                              <td>1000 MMBtu</td>
                              <td>1/300</td>
                              <td>3 %</td>
                              <td>0.07</td></tr> -->
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">OIL</td>
                              <td>WTI Oil</td>
                              <td>0.01000</td>
                              <td>USD 1</td>
                              <td>0.04</td>
                              <td>100 Barrels</td>
                              <td>1/400</td>
                              <td>1.5 %</td>
                              <td>0.1</td></tr>
                            <!-- <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">OILMn</td>
                              <td>WTI Oil Mini</td>
                              <td>0.01000</td>
                              <td>USD 0.1</td>
                              <td>0.04</td>
                              <td>10 Barrels</td>
                              <td>1/4000</td>
                              <td>1.5 %</td>
                              <td>0.1</td></tr> -->
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 5，of 5 entries</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">Previous</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">Next</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="trading-hours" v-if="tableIndex===1">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_1_length">
                          <label>Display
                            <select name="DataTables_Table_1_length" aria-controls="DataTables_Table_1" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>Items</label>
                        </div>
                        <div id="DataTables_Table_1_filter" class="dataTables_filter">
                          <label>Search
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_1"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 168px;" aria-sort="ascending" aria-label="Symbol: activate to sort column descending">Symbol</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 197px;" aria-label="Description: activate to sort column ascending">Description</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 166px;" aria-label="Server Time: activate to sort column ascending">Server Time</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 157px;" aria-label="Weekday: activate to sort column ascending">Weekday</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 139px;" aria-label="Monday Open: activate to sort column ascending">Monday Open</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 140px;" aria-label="Friday Close: activate to sort column ascending">Friday Close</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">BRENT</td>
                              <td>Brent Crude Oil</td>
                              <td>GMT +3</td>
                              <td>03:05-00:55</td>
                              <td>03:05</td>
                              <td>23:10</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">GSOIL</td>
                              <td>London Gas Oil</td>
                              <td>GMT +3</td>
                              <td>03:05-23:55</td>
                              <td>03:05</td>
                              <td>23:10</td></tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">NGAS</td>
                              <td>Natural Gas</td>
                              <td>GMT +3</td>
                              <td>01:05-23:55</td>
                              <td>01:05</td>
                              <td>23:10</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">OIL</td>
                              <td>WTI Oil</td>
                              <td>GMT +3</td>
                              <td>01:05-23:55</td>
                              <td>01:05</td>
                              <td>23:10</td></tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">OILMn</td>
                              <td>WTI Oil Mini</td>
                              <td>GMT +3</td>
                              <td>01:05-23:55</td>
                              <td>01:05</td>
                              <td>23:10</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Showing 1 to 5 ，of 5 entries</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_1" data-dt-idx="0" tabindex="0" id="DataTables_Table_1_previous">Previous</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_1" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_1" data-dt-idx="2" tabindex="0" id="DataTables_Table_1_next">Next</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="calendar" v-if="tableIndex===2">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_2_length">
                          <label>Display
                            <select name="DataTables_Table_2_length" aria-controls="DataTables_Table_2" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>Items</label>
                        </div>
                        <div id="DataTables_Table_2_filter" class="dataTables_filter">
                          <label>Search
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_2"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_2" aria-describedby="DataTables_Table_2_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 84px;" aria-sort="ascending" aria-label="Instrument: activate to sort column descending">Instrument</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 47px;" aria-label="Status: activate to sort column ascending">Status</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 50px;" aria-label="Feb20: activate to sort column ascending">Feb
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 50px;" aria-label="Mar20: activate to sort column ascending">Mar
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 50px;" aria-label="Apr20: activate to sort column ascending">Apr
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 50px;" aria-label="May20: activate to sort column ascending">May
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 50px;" aria-label="Jun20: activate to sort column ascending">Jun
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 50px;" aria-label="Jul20: activate to sort column ascending">Jul
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 50px;" aria-label="Aug20: activate to sort column ascending">Aug
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 50px;" aria-label="Sep20: activate to sort column ascending">Sep
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 51px;" aria-label="Oct20: activate to sort column ascending">Oct
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 51px;" aria-label="Nov20: activate to sort column ascending">Nov
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 51px;" aria-label="Dec20: activate to sort column ascending">Dec
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 51px;" aria-label="Jan21: activate to sort column ascending">Jan
                                <br>21</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">Brent Crude Oil
                                <br>(BRENT)</td>
                              <td>Open</td>
                              <td>27/11/19</td>
                              <td>26/12/19</td>
                              <td>29/01/20</td>
                              <td>26/02/20</td>
                              <td>27/03/20</td>
                              <td>28/04/20</td>
                              <td>27/05/20</td>
                              <td>26/06/20</td>
                              <td>29/07/20</td>
                              <td>26/08/20</td>
                              <td>28/09/20</td>
                              <td>27/10/20</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">Brent Crude Oil
                                <br>(BRENT)</td>
                              <td>Close Only</td>
                              <td>26/12/19</td>
                              <td>29/01/20</td>
                              <td>26/02/20</td>
                              <td>27/03/20</td>
                              <td>28/04/20</td>
                              <td>27/05/20</td>
                              <td>26/06/20</td>
                              <td>29/07/20</td>
                              <td>26/08/20</td>
                              <td>28/09/20</td>
                              <td>27/10/20</td>
                              <td></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">Brent Crude Oil
                                <br>(BRENT)</td>
                              <td>Expiry</td>
                              <td>27/12/19</td>
                              <td>30/01/20</td>
                              <td>27/02/20</td>
                              <td>30/03/20</td>
                              <td>29/04/20</td>
                              <td>28/05/20</td>
                              <td>29/06/20</td>
                              <td>30/07/20</td>
                              <td>27/08/20</td>
                              <td>29/09/20</td>
                              <td>28/10/20</td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">London Gas Oil
                                <br>(GSOIL)</td>
                              <td>Open</td>
                              <td>03/01/20</td>
                              <td>04/02/20</td>
                              <td>05/03/20</td>
                              <td>03/04/20</td>
                              <td>05/05/20</td>
                              <td>05/06/20</td>
                              <td>03/07/20</td>
                              <td>06/08/20</td>
                              <td>04/09/20</td>
                              <td>08/10/20</td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">London Gas Oil
                                <br>(GSOIL)</td>
                              <td>Close Only</td>
                              <td>04/02/20</td>
                              <td>05/03/20</td>
                              <td>03/04/20</td>
                              <td>05/05/20</td>
                              <td>05/06/20</td>
                              <td>03/07/20</td>
                              <td>06/08/20</td>
                              <td>04/09/20</td>
                              <td>08/10/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">London Gas Oil
                                <br>(GSOIL)</td>
                              <td>Expiry</td>
                              <td>05/02/20</td>
                              <td>06/03/20</td>
                              <td>06/04/20</td>
                              <td>06/05/20</td>
                              <td>08/06/20</td>
                              <td>06/07/20</td>
                              <td>07/08/20</td>
                              <td>07/09/20</td>
                              <td>09/10/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">Natural Gas
                                <br>(NGAS)</td>
                              <td>Open</td>
                              <td>24/12/19</td>
                              <td>24/01/20</td>
                              <td>24/02/20</td>
                              <td>25/03/20</td>
                              <td>24/04/20</td>
                              <td>25/05/20</td>
                              <td>24/06/20</td>
                              <td>27/07/20</td>
                              <td>25/08/20</td>
                              <td>25/09/20</td>
                              <td>23/10/20</td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">Natural Gas
                                <br>(NGAS)</td>
                              <td>Close Only</td>
                              <td>24/01/20</td>
                              <td>24/02/20</td>
                              <td>25/03/20</td>
                              <td>24/04/20</td>
                              <td>25/05/20</td>
                              <td>24/06/20</td>
                              <td>27/07/20</td>
                              <td>25/08/20</td>
                              <td>25/09/20</td>
                              <td>23/10/20</td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">Natural Gas
                                <br>(NGAS)</td>
                              <td>Expiry</td>
                              <td>27/01/20</td>
                              <td>25/02/20</td>
                              <td>26/03/20</td>
                              <td>27/04/20</td>
                              <td>26/05/20</td>
                              <td>25/06/20</td>
                              <td>28/07/20</td>
                              <td>26/08/20</td>
                              <td>28/09/20</td>
                              <td>26/10/20</td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">WTI Oil
                                <br>(OIL)</td>
                              <td>Open</td>
                              <td>17/12/19</td>
                              <td>16/01/20</td>
                              <td>18/02/20</td>
                              <td>18/03/20</td>
                              <td>17/04/20</td>
                              <td>11/05/20</td>
                              <td>18/06/20</td>
                              <td>17/07/20</td>
                              <td>18/08/20</td>
                              <td>18/09/20</td>
                              <td>16/10/20</td>
                              <td></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">WTI Oil
                                <br>(OIL)</td>
                              <td>Close Only</td>
                              <td>16/01/20</td>
                              <td>18/02/20</td>
                              <td>18/03/20</td>
                              <td>17/04/20</td>
                              <td>14/05/20</td>
                              <td>18/06/20</td>
                              <td>17/07/20</td>
                              <td>18/08/20</td>
                              <td>18/09/20</td>
                              <td>16/10/20</td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">WTI Oil
                                <br>(OIL)</td>
                              <td>Expiry</td>
                              <td>17/01/20</td>
                              <td>19/02/20</td>
                              <td>19/03/20</td>
                              <td>20/04/20</td>
                              <td>15/05/20</td>
                              <td>19/06/20</td>
                              <td>20/07/20</td>
                              <td>19/08/20</td>
                              <td>21/09/20</td>
                              <td>19/10/20</td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">WTI Oil Mini
                                <br>(OILMn)</td>
                              <td>Open</td>
                              <td>17/12/19</td>
                              <td>16/01/20</td>
                              <td>18/02/20</td>
                              <td>18/03/20</td>
                              <td>17/04/20</td>
                              <td>11/05/20</td>
                              <td>18/06/20</td>
                              <td>17/07/20</td>
                              <td>18/08/20</td>
                              <td>18/09/20</td>
                              <td>16/10/20</td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">WTI Oil Mini
                                <br>(OILMn)</td>
                              <td>Close Only</td>
                              <td>16/01/20</td>
                              <td>18/02/20</td>
                              <td>18/03/20</td>
                              <td>17/04/20</td>
                              <td>14/05/20</td>
                              <td>18/06/20</td>
                              <td>17/07/20</td>
                              <td>18/08/20</td>
                              <td>18/09/20</td>
                              <td>16/10/20</td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">WTI Oil Mini
                                <br>(OILMn)</td>
                              <td>Expiry</td>
                              <td>17/01/20</td>
                              <td>19/02/20</td>
                              <td>19/03/20</td>
                              <td>20/04/20</td>
                              <td>15/05/20</td>
                              <td>19/06/20</td>
                              <td>20/07/20</td>
                              <td>19/08/20</td>
                              <td>21/09/20</td>
                              <td>19/10/20</td>
                              <td></td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite">Showing 1 to 15 ，of 15 entries</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_2_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_2" data-dt-idx="0" tabindex="0" id="DataTables_Table_2_previous">Previous</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_2" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_2" data-dt-idx="2" tabindex="0" id="DataTables_Table_2_next">Next</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dis60"></div>
            <div class="row">
              <div class="col-md-12">
                <p>*Min. level for placing pending orders at a current market price.</p>
                <p>The margin requirement for CFDs is calculated like this : Lots * Contract Size * Opening Price * Margin Percentage and not based on the leverage of your trading account.</p>
                <p>The margin is always 50% when you hedge positions on CFDs and if your margin level is over 100%.</p>
                <p>Calendar dates are indicative and are subject to change.</p>
                <p>The above spreads/conditions apply to all types of Noble Sky trading accounts.</p>
                <p>Please note that our Company does not offer automatic rollover for new contracts of financial instruments that have an expiration date.</p>
                <p>As trading platforms do not support negative prices on financial instruments, in the unlikely event the price of any energy instrument reaches 0, the company will start closing all open positions at the last available price.</p>
              </div>
            </div>
          </div>
          <div class="container top50">
            <h2>About Energies</h2>
            <p>The most typical feature of energy prices is high volatility, which is the result of numerous political and environmental factors that influence it. Many supply and demand factors also affect energy prices, the strongest of which is global economic growth. In times of economic prosperity the demand for energies increases, while a decrease in consumption occurs when economy stagnates.</p>
            <p>Beside economic changes, extreme weather conditions can also have a great impact on energies, leading to supply disruptions of crude oil, natural gas, or heating oil. As a result, such conditions can decrease or increase demand for many consumer services related to these energies. Moreover, global energy prices are highly affected by the political instability in some of the world’s biggest natural gas fields.</p>
            <p>Oil trading is a globalized, 24-hour market, with its prices in constant motion. This makes it an ideal instrument for day traders who look for fast movements and choose CFDs as the easiest way to trade on oil prices.</p>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>


import pageHeader from '../../components/pageHeaderTFXEN.vue'
import pageFooter from '../../components/pageFooterTFXEN.vue'
import {languageCode} from '../../utils/lan-code'




export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        tableIndex2:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'energies-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleTableIndex2(val){
         this.tableIndex2 = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }



  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }
   .dis80 {
       height: 80px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}



.row {
    margin-left: -15px;
    margin-right: -15px;
}

 
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
.tab-content{height: 4rem;}
  .tab-content > .active {
    height: 2.5rem;
    width: auto;
  }

  .tab-content {
    height: 12em;
    width: auto;
  }
  p {
    margin-bottom: 2em;
  }
</style>
