<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">Margin and Leverage</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">Margin and Leverage</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>Contact Us</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container hidden-xs hidden-sm hidden-l-sm">
            <h2 class="top80">Unique Leverage Up to 200:1</h2>
            <div class="row text-center top50">
              <div class="feature-item4">
                <i class="tfxfont3 xmLeverage-200 fs100 red"></i>
                <p>Flexible leverage between 1:1 – 200:1</p>
              </div>
              <div class="feature-item4">
                <i class="tfxfont3 xmLock-check fs100 red"></i>
                <p>Negative balance protection</p>
              </div>
              <div class="feature-item4">
                <i class="tfxfont3 xmClock fs100 red"></i>
                <p>Real-time risk exposure monitoring</p>
              </div>
              <div class="feature-item4">
                <i class="tfxfont3 xmStop-sign fs100 red"></i>
                <p>No changes in margin overnight or at weekends</p>
              </div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <p>
                    <br>
Trade forex, Precious metals,and Energies at NOBLE SKY</p></div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">OPEN AN ACCOUNT</router-link></div>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row">
              <div class="col-md-12">
                <h2>Flexible Leverage from 1:1 up to 200:1</h2>
                <p>At NOBLE SKY clients have the flexibility to trade by using the same margin requirements and leverage from 1:1 to 200:1.</p>
                <h2 class="top50">About Margin</h2>
                <p>Margin is the amount of collateral to cover any credit risks arising during your trading operations.</p>
                <p>Margin is expressed as the percentage of position size (e.g. 5% or 1%),
                   and the only real reason for having funds in your trading account is to ensure sufficient margin. On a 1% margin, for instance, a position of $1,000,000 will require a deposit of $10,000.</p>
                <p>So that you can open new trades, the margin level in your trading account needs to be equal or above 100%; otherwise, the new trades will result in your trading account to be fully hedged.</p>
              </div>
              <div class="col-md-12 top50">
                <h2>About Leverage</h2>
                <p>Using leverage means that you can trade positions larger than the amount of money in your trading account. The leverage amount is expressed as a ratio, for instance 50:1, 100:1. Assuming that you have $1,000 in your trading account and you trade ticket sizes of 100,000 USD/JPY, your leverage will equate 100:1.</p>
                <p>How would it be possible to trade 100 times the amount you have at your disposal? At NOBLE SKY you have a free short-term credit allowance whenever you trade on margin: this enables you to purchase an amount that exceeds your account value. Without this allowance, you would only be able to buy or sell tickets of $1,000 at a time.</p>
                <p>NOBLE SKYshall monitor the leverage ratio applied to clients’ accounts at all times and reserves the right to apply changes to and amend the leverage ratio (i.e. decrease the leverage ratio), on its sole discretion and without any notice on a case by case basis, and/or on all or any accounts of the client as deemed necessary by NOBLE SKY.</p>
              </div>
              <div class="col-md-12 top50">
                <h2>NOBLE SKY Leverage</h2>
                <p>Depending on the account type you open at NOBLE SKY, you can choose the leverage on a scale from 1:1 to 200:1. Margin requirements do not change during the week, nor do they widen overnight or at weekends. Moreover, at NOBLE SKY you have the option to request either the increase or the decrease of your chosen leverage.</p>
              </div>
              <div class="col-md-12 top50">
                <h2>Leverage Risk</h2>
                <p>On the one hand, by using leverage, even from a relatively small initial investment you can make considerable profit. On the other hand, your losses can also become drastic if you fail to apply proper risk management.</p>
                <p>This is why NOBLE SKY provides a leverage range that helps you choose your preferred risk level. At the same time, we do not recommend trading close to a leverage of 100:1 due to the high risk it involves.</p>
              </div>
              <div class="col-md-12 top50">
                <h2>Margin Monitoring</h2>
                <p>At NOBLE SKY you can control your real-time risk exposure by monitoring your used and free margin.</p>
                <p>Used and free margin together make up your equity. Used margin refers to the amount of money you need to deposit to hold the trade (e.g. if you set your account at a leverage of 200:1, the margin that you will need to set aside is 0.5% of your trade size). Free margin is the amount of money you left in your trading account, and it fluctuates according to your account equity; you can open additional positions with it, or absorb any losses.</p>
              </div>
              <div class="col-md-12 top50">
                <h2>Margin Call</h2>
                <p>Although each client is fully responsible for monitoring their trading account activity, NOBLE SKY follows a margin call policy to guarantee that your maximum possible risk does not exceed your account equity.</p>
                <p>As soon as your account equity drops below 50% of the margin needed to maintain your open positions, we will attempt to notify you with a margin call warning you that you do not have sufficient equity to support open positions.</p>
                <!-- <p>As soon as your account equity drops below 50% of the margin needed to maintain your open positions, we will attempt to notify you with a margin call warning you that you do not have sufficient equity to support open positions.</p>
                -->
              </div>
              <div class="col-md-12 top50">
                <h2>Stop-Out Level</h2>
                <p>The stop-out level refers to the equity level at which your open positions get automatically closed. The stop-out level in a client's account is reached when the equity in the trading account is equal or falls below 20% of the required margin.</p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFXEN.vue'
import pageFooter from '../../components/pageFooterTFXEN.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Margin and leverage-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  .xmLeverage-200.fs100{
    width: 150px;height: 100px;display: block;
    // background: url(../../../static/images/ico-200-1.png) no-repeat center 0;
  }
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap> 
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

  p {
    margin-bottom: 2em;
  }
</style>
