<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">MT5 for iPad</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">MT5 for iPad</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>contact us</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container hidden-xs hidden-sm hidden-l-sm">
            <div class="row top80">
              <div class="col-sm-12 col-md-6">
                <h2> Why trade on MT5 using iPad?</h2>
                <div class="quote-msg top30">
                  <p>
                    <i class="quote-right "></i>MT5 iPad Trader can directly access your account on the iPad's application. You only need to log in with the same account password as the PC account.</p>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                  <div class="col-sm-6 col-md-12 top40">
                    <h3>Features of NOBLE SKY MT5 iPad Trader</h3>
                    <ul class="checks top35">
                      <li>More than 100 trading commodities, including stock index index CFD, foreign exchange, precious metal CFD and energy CFD.</li>
                      <li>100% iPad native application system</li>
                      <li>Complete MT5 account functions</li>
                      <li>Support all order types</li>
                      <li>Built-in market analysis tools</li></ul>
                    <div class="row top70 mobile-btn-box">
                      <div class="col-sm-8 col-md-8 text-center">
                        <router-link to="/register" class="btn btn-solid btn-green-mobile btn-block">
                          <i class="fa fa-pencil-square-o"></i>Create an account</router-link>
                      </div>
                      <div class="col-sm-4 col-md-4">
                        <a href="/goto/mt5-appstore-xmbz" class="btn-appstore" target="_blank">
                          <img src="../../../static/images/page-img/mt5-ipad/app-store.png"></a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-6 top60 hidden-sm">
                <img src="../../../static/images/page-img/mt5-ipad/mt5-ipad.png?v2.0" class="img-responsive center-block"></div>
            </div>
          </div>
          <section class="section top80">
            <div class="container metatrader">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="text-center big">NOBLE SKY MT5-1 platform, multiple trading varieties</h2>
                  <p class="text-center">Metaquotes is specially developed for iPad</p>
                  <img src="../../../static/images/page-img/mt5-ipad/mt5-ipad-half.png?v2.0" class="img-responsive center-block top30"></div>
              </div>
            </div>
          </section>
          <div class="container-fluid">
            <div class="container">
              <div class="dis30 visible-xs visible-sm"></div>
              <div class="row">
                <div class="col-sm-6 col-md-6 col-sm-offset-2 col-md-offset-2 text-center">
                  <router-link to="/register" class="btn btn-solid btn-green-mobile btn-block">
                    <i class="fa fa-pencil-square-o"></i>Create an account</router-link>
                </div>
                <div class="col-sm-4 col-md-4 text-center">
                  <div class="dis20 visible-xs"></div>
                  <a href="/goto/mt5-appstore-xmbz" class="center-block pull-left btn-appstore" target="_blank">
                    <img src="../../../static/images/page-img/mt5-ipad/app-store.png"></a>
                </div>
                <div class="dis20"></div>
                <p class="text-center">Access to global financial markets</p></div>
            </div>
            <div class="row">
              <hr></div>
            <div class="container metatrader">
              <div class="row top50">
                <div class="col-md-12">
                  <h2>
                    <i class="  tfxfont3 xmInstall-pc sm red"></i>How to access NOBLE SKY MT5 iPad dealer</h2>
                </div>
                <div class="col-sm-12 col-md-4 top20">
                  <h3 class="red">step 1</h3>
                  <ul class="arrows top20">
                    <li>Open the App Store on the iPad, or app
                      <a href="https://download.mql5.com/cdn/mobile/mt5/ios?server=HKNobleSkyTreasure-real">click here</a> to download.</li>
                    <li>Search for MetaTrader 5 in the App Store search bar.</li>
                    <li>Click on the MetaTrader 5 icon to install the software to your iPad.</li></ul>
                </div>
                <div class="col-sm-12 col-md-4 top20">
                  <h3 class="red">Step 2</h3>
                  <ul class="arrows top20">
                    <li>Now you will follow the prompts to choose to log in to an existing account/create a demo account.</li>
                    <li>Click to log in to used account/create demo account, a new window will pop up.</li>
                    <li>Search HK Noble Sky Treasure in the search bar</li>
                    <li>If you have a demo account, click NOBLE SKYGlobal-Demo; if you have a real account, click NOBLE SKYGlobal-Real.</li></ul>
                </div>
                <div class="col-sm-12 col-md-4 top20">
                  <h3 class="red">Step 3</h3>
                  <ul class="arrows top20">
                    <li>Enter your login name and password.</li>
                    <li>Start trading on iPad.</li></ul>
                </div>
              </div>
            </div>
          </div>
          <div id="faq">
            <div class="container top80">
              <div class="row">
                <div class="col-md-6">
                  <h2>common problem</h2></div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <div id="accordionText" class="hidden"> </div></div>
                    <div class="col-md-6">
                      <button type="button" class="btnAccordion pull-right" data-parent="#accordion1"> </button></div>
                  </div>
                </div>
              </div>
              <div class="row top20">
                <div class="col-md-12">
                  <div class="panel-group" id="accordion1">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">How to access the MT5 platform?</h4>
                              <i class="fa fa-angle-down pull-right"></i>
                          </div>
                          <div id="a1collapse1" class="panel-collapse collapse">
                              <div class="panel-body gray">
                                  <p>You need to have a Noble Sky MT5 trading account to trade on the MT5 platform. Create Noble Sky MT5 account<router-link to="/register">click here</router-link>。</p>
                              </div>
                          </div>
                      </div>

                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">How to verify my MT5 account?</h4>
                              <i class="fa fa-angle-down pull-right"></i>
                          </div>
                          <div id="a1collapse1" class="panel-collapse collapse">
                              <div class="panel-body gray">
                                  <p>Click CRM -> "Register" to create an MT5 account, create and log in for authentication, you need to provide the authentication documents we need (for example, identification and address proof).</p>
                              </div>
                          </div>
                      </div>



                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">What commodities can I trade on MT5?</h4>
                              <i class="fa fa-angle-down pull-right"></i>
                          </div>
                          <div id="a1collapse1" class="panel-collapse collapse">
                              <div class="panel-body gray">
                                  <p>

In the MT5 trading terminal you can trade all of Noble Sky's commodities, including foreign exchange, commodities, securities indices, precious metal CFDs and energy CFDs.                              </p>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container metatrader top80 hidden-xs hidden-sm hidden-l-sm">
            <div class="row">
              <div class="col-md-12">
                <h2>
                  <i class="  tfxfont3 xmMobile-devices sm red"></i>Also applies to</h2>
              </div>
            </div>
            <div class="row text-center">
                <div class="feature-item7 noborder">
                    <router-link to="/mt5" class="device">
                        <i class="tfxfont3 xmPc"></i>
                        <p class="text-center top20">
                            PC system MT5                </p>
                    </router-link>
                </div>


                <div class="feature-item7 noborder">
                    <router-link to="/mt5-webtrader" class="device">
                        <i class="tfxfont3 xmLaptop"></i>
                        <p class="text-center top20">
                            MT5 WebTrader                </p>
                     </router-link>
                </div>
                <div class="feature-item7 noborder">
                    <router-link to="/mt5-ipad" class="device">
                        <i class="tfxfont3 xmIpad"></i>
                        <p class="text-center top20">
                            MT5 for iPad                </p>
                     </router-link>
                </div>
                <div class="feature-item7 noborder">
                    <router-link to="/mt5-iphone" class="device">
                        <i class="tfxfont3 xmIphone"></i>
                        <p class="text-center top20">
                           MT5 for iPhone                </p>
                     </router-link>
                </div>
                <div class="feature-item7 noborder">
                    <router-link to="/mt5-android" class="device">
                        <i class="tfxfont3 xmAndroid-phone"></i>
                        <p class="text-center top20">
                            Android MT5                </p>
                     </router-link>
                </div>
                <!-- <div class="feature-item7 noborder">
                    <router-link to="/mt5">
                        <i class="tfxfont3 xmAndroid-tablet"></i>
                        <p class="text-center top20">
                            Android Tablet MT5                </p>
                    </router-link>
                </div> -->
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFXEN.vue'
import pageFooter from '../../components/pageFooterTFXEN.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5 ipad-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){

      let element = document.querySelectorAll(".panel-heading");




      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){

               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }



    document.documentElement.scrollTop = 0

  },




  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }

   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }

   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }


.row.mobile-btn-box{margin-left: -15px;margin-right: -15px;margin-top: 70px;}
a.btn-green-mobile{background-color: #74c109;width: auto;font-size: 20px;display: inline-block;color: #fff; padding:1em 3em;}
a.btn-green-mobile:hover{background-color: #29A643;}
.row.mobile-btn-box.top70 .btn-green-mobile{width: 340px;}

.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}
.panel-collapse.showFlag{display: none;}

.btnAccordion.pull-right{display: none;}

 
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

</style>
