<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">Overnight position</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">Overnight position</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>Contact Us</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <h2 class="top80">NOBLE SKY rollover</h2>
            <div class="row text-center feature-icons">
              <div class="feature-item4">
                <i class="tfxfont3 xmArrow-circle fs100 red"></i>
                <p>Competitive swap rates</p>
              </div>
              <div class="feature-item4">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p>Transparent overnight interest</p>
              </div>
              <div class="feature-item4 hidden-xs">
                <i class="tfxfont3 xmStrategy fs100 red"></i>
                <p>3-day rollover delivery strategy</p>
              </div>
              <div class="feature-item4 hidden-xs">
                <i class="tfxfont3 xmPercent fs100 red"></i>
                <p>According to current interest rate</p>
              </div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <br>Trade forex, Individual stocks, Commodities, Precious metals, Energies and Equity indices at NOBLE SKY</div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">OPEN AN ACCOUNT</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row">
              <div class="col-md-12">
                <h2>Overnight interest</h2>
                <p>Overnight interest may be charged for positions held overnight. For foreign exchange commodities, the amount depends on the long or short position, plus the interest rate difference between currency pairs. But in terms of stocks and stock indexes, it depends only on short or long positions. </p>
                <p>Please note that only spot commodities will accrue overnight interest. Futures commodities only have an expiry date and no overnight interest.</p>
                <h2 class="top80">About rollover</h2>
                <p>Rollover delivery is the act of extending the delivery date of opening a position (for example, the delivery date of an executed transaction). The foreign exchange market allows all spot transactions to be completed within two business days.</p>
                <p>However, in margin commodity trading, because there is no physical delivery, all open positions must be closed at the end of each day (22:00 GMT) and reopened on the next trading day. The so-called overnight interest is generated because of this mechanism.</p>
                <p>The overnight interest is based on the overnight interest contract. For traders, it can be cost or benefit. NOBLE SKY will not actually close and reopen positions, but will add overnight interest to the trading account based on the current interest rate.</p>
                <h2 class="top80">NOBLE SKY deferred payment policy</h2>
                <p>For positions held after the closing time of 22:00 GMT on the trading day, NOBLE SKY guarantees to provide all Clients with the most favorable overnight interest rate and present it in the trading account. </p>
                <p>Although the market is closed on Saturday and Sunday, the bank will still calculate the interest on weekend positions. In order to adjust this gap, NOBLE SKY stipulates that 3 days of overnight interest should be charged every Wednesday.</p>
                <h2 class="top80">Calculate rollover</h2>
                <h3>
                  <strong>Foreign exchange and Spot precious metals (Gold and Silver)</strong></h3>
                <div class="dis10"></div>
                <p>The overnight interest rate of foreign exchange and spot precious metals is determined by the spot delivery rate (tomorrow and the day after tomorrow), and includes the NOBLE SKY premium.
                  <strong>The spot delivery rate</strong> is generated according to the interest rate difference between currencies,and NOBLE SKY
                  <strong>cannot</strong> be arbitrarily manipulated.</p>
                <div class="dis10"></div>
                <div class="section-box small" style="font-size: 14px;">
                  <p>
                    <strong>
                      <u>E.g:</u>
                    </strong>
                  </p>For example: You trade USDJPY currency pair, and the spot delivery rate is as follows:
                  <br>+0.5% for long positions
                  <br>Short position is -1.5%
                  <br>Under this setting, the interest rate in the United States is higher than that in Japan. The overnight interest on long positions in this currency pair will be +0.5%-NOBLE SKY premium.
                  <br>Conversely, the short position is calculated as -1.5%-NOBLE SKY premium.</div>
                <div class="dis10"></div>
                <p>The calculation method is as follows:</p>
                <div class="red section-box small" style="font-size: 14px;"><strong>Transaction size X（+/- spot delivery rate - premium）*</strong></div>
                <div class="dis10 "></div>
                <p>The above<strong>+/-</strong>depends on the interest rate difference between currency pairs.</p>
                <small>*The amount is presented in the quote currency.</small>
                <div class="dis20 "></div>
                <h3><strong>Stocks and stock indexes</strong></h3>
                <div class="dis10 "></div>
                <p>The overnight interest rate of stocks and stock index commodities is determined by the inter-bank lending rate of stocks or stock indexes (for example, securities listed in Australia, that is, the short-term loan interest rate between Australian banks is used), and is based on long and short positions +/- NOBLE SKY premium.</p>
                <div class="dis10 "></div>
                <div class="section-box small " style="font-size: 14px; ">
                <p><strong><u>E.g：</u></strong></p>
                For example: You buy Unilever (UK listed stock), and the UK short-term interbank offer rate is 1.5%. The calculation method of overnight interest on its long position is as follows:
                <br> -1.5%/365 – NOBLE SKY daily premium Conversely,<br>the short position is calculated as + 1.5% / 365-NOBLE SKY daily premium.            </div>
                <div class="dis10 "></div>
                <p>The daily rate is calculated as follows:</p>
                <div class="red section-box small " style="font-size: 14px; ">
                  <strong>Transaction size X closing price X (+/- short-term interbank offer rate-NOBLE SKY premium)</strong></div>
                <div class="dis10"></div>
                <p>The above
                  <strong>+/-</strong>depends on the short or long position of the trading commodity.</p>
                <h2 class="top80">Scheduled delivery</h2>
                <p>The starting and ending time of the trading day is 22:00 GMT. All orders held after the hour of 22:00 GMT are held overnight, and overnight interest will be added. But after 22:01, the new position is not within this specification. Conversely, if you open a position at 21:59, the overnight interest will be calculated immediately after 22:00. For all positions opened at 22:00 GMT, overnight interest will be displayed in the trading account within one hour.</p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFXEN.vue'
import pageFooter from '../../components/pageFooterTFXEN.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: ' Overnight positions-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap> 
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

  p {
    margin-bottom: 2em;
  }
</style>
