<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">Precious Metals</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">Precious Metals</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>Contact Us</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container top60 hidden-xs">
            <ul class="nav-flexbox-tabs">
              <li>
                 <router-link to='/en/forex-trading'>Forex Trading</router-link>
               </li>
              <!-- <li>
                 <router-link to='/stocks'>Stock CFDs</router-link>
                 <a href="https://www.noblesky.com/cn/stocks">Stock CFDs</a></li> -->
               <!-- <li>
                 <router-link to='/en/commodities'>Commodities</router-link>
                </li>
               <li>
                 <router-link to='/en/equity-indices'>Equity indices</router-link>
               </li> -->
               <li class="active">
                 <router-link to='/en/precious-metals'>Precious metals</router-link>
               </li>
               <li>
                 <router-link to='/en/energies'>Energies</router-link>
               </li>
              <!-- <li>
                <router-link to='/shares'>股票</router-link>
                <a href="https://www.noblesky.com/cn/shares">股票</a></li> -->
            </ul>
            <div class="dis15"></div>
          </div>
          <div class="dis50 visible-sm"></div>
          <div class="container hidden-xs">
            <h2 class="top30">Advantages of NOBLE SKY trading precious metals</h2>
            <div class="row text-center top50">
              <div class="feature-item6">
                <i class="tfxfont3 xmGold fs100 red"></i>
                <p class="top30">Online gold and silver transactions
                  <br>without requotes</p></div>
              <div class="feature-item6">
                <i class="tfxfont3 xmDollar-bag fs100 red"></i>
                <p class="top30">Quality investments other than foreign exchange</p></div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p class="top30">Liquid market</p></div>
              <div class="feature-item6 hidden-xs hidden-md">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p class="top30">Operate long/short in the same account</p></div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmLeverage-200 fs100 red"></i>
                <p>Leverage up to 200:1</p>
              </div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmPercent fs100 red"></i>
                <p class="top30">Zero transaction fee</p></div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <br>Trade forex, Precious metals,and Energies at NOBLE SKY</div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">OPEN AN ACCOUNT</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row">
              <div class="col-md-12">
                <h2>Precious metals-spreads / conditions</h2></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3>Precious metals</h3>
                <ul id="tabs4" class="nav nav-tabs top20" role="tablist">
                  <li :class="{active:tableIndex===0}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex(0)">Standard account</a></li>
                  <!-- <li :class="{active:tableIndex===1}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(1)">Micro account</a></li> -->
                  <!-- <li :class="{active:tableIndex===2}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(2)">NOBLE SKY Ultra Low Standard账户</a></li>
                  <li :class="{active:tableIndex===3}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(3)">NOBLE SKY Ultra Low Micro账户</a></li> -->
                </ul>
                <div id="tabContent" class="tab-content" >
                  <div class="tab-pane active" id="standard" v-if="tableIndex===0">
                    <div class="dis30"></div>
                    <div class="table-wrap">
                      <div id="DataTables_Table_0_wrapper" style="padding-bottom:2em;" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_0_length">
                          <label>展示
                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>商品</label>
                        </div>
                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                          <label>搜索
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_0"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th colspan="1" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 118px;" aria-sort="ascending" aria-label="Currency pair: activate to sort column descending">Currency pair</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 96px;" aria-label="Minimum fluctuation range: activate to sort column ascending">Minimum fluctuation
                                <br>range</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 83px;" aria-label="Spreads as low as ***: activate to sort column ascending">Spreads
                                <br>as low as ***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 124px;" aria-label="Average spread***: activate to sort column ascending">Average spread***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 136px;" aria-label="Pay overnight interest (points)**: activate to sort column ascending">Pay overnight interest
                                <br>(points)**</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 136px;" aria-label="Overnight interest on sell orders (points)**: activate to sort column ascending">Overnight interest on sell orders
                                <br>(points)**</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 89px;" aria-label="1 lot value: activate to sort column ascending">1 lot value</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 127px;" aria-label="Stop profit and loss distance*: activate to sort column ascending">Stop profit and loss distance*</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">GOLD</td>
                              <td>0.01</td>
                              <td>0.3</td>
                              <td>0.45</td>
                              <td>-9.74</td>
                              <td>-5.58</td>
                              <td>100 oz</td>
                              <td>1</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">SILVER</td>
                              <td>0.001</td>
                              <td>0.03</td>
                              <td>0.045</td>
                              <td>-1.28</td>
                              <td>-0.6</td>
                              <td>5000 oz</td>
                              <td>0.14</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 2 ，of 2 entries</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">Previous</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">Next</a></div>
                      </div>
                    </div>
                    <div class="top80 row">
                      <div class="col-sm-12">
                        <p>
                          <b>Minimum/maximum number of trading lots:</b>0.01/50(MT5)</p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="micro" v-if="tableIndex===1">
                    <div class="dis30"></div>
                    <div class="table-wrap">
                      <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_1_length">
                          <label>展示
                            <select name="DataTables_Table_1_length" aria-controls="DataTables_Table_1" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>商品</label>
                        </div>
                        <div id="DataTables_Table_1_filter" class="dataTables_filter">
                          <label>搜索
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_1"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th colspan="1" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" style="width: 0px;" aria-sort="ascending" aria-label="Currency pair: activate to sort column descending">Currency pair</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" style="width: 0px;" aria-label="Minimum fluctuation range: activate to sort column ascending">Minimum fluctuation
                                <br>range</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;" aria-label="Spreads as low as ***: activate to sort column ascending">Spreads
                                <br>as low as ***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;" aria-label="Average spread***: activate to sort column ascending">Average spread***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;" aria-label="Pay overnight interest (points)**: activate to sort column ascending">Pay overnight interest
                                <br>(points)**</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;" aria-label="Overnight interest on sell orders (points)**: activate to sort column ascending">Overnight interest on sell orders
                                <br>(points)**</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" style="width: 0px;" aria-label="1 lot value: activate to sort column ascending">1 lot value</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" style="width: 0px;" aria-label="Stop profit and loss distance*: activate to sort column ascending">Stop profit and loss distance*</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">GOLDmicro</td>
                              <td>0.01</td>
                              <td>0.3</td>
                              <td>0.35</td>
                              <td>-9.74</td>
                              <td>-5.58</td>
                              <td>1 oz</td>
                              <td>1</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">SILVERmicro</td>
                              <td>0.001</td>
                              <td>0.03</td>
                              <td>0.035</td>
                              <td>-1.28</td>
                              <td>-0.6</td>
                              <td>50 oz</td>
                              <td>0.14</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Showing 1 to 2 ，of 2 entries</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_1" data-dt-idx="0" tabindex="0" id="DataTables_Table_1_previous">Previous</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_1" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_1" data-dt-idx="2" tabindex="0" id="DataTables_Table_1_next">Next</a></div>
                      </div>
                    </div>
                    <div class="top80 row">
                      <div class="col-sm-12">
                        <p>
                          <b>Minimum/maximum number of trading lots:</b>0.1/100(MT5)</p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane " id="ultraLowStandard" v-if="tableIndex===2">
                    <div class="dis30"></div>
                    <div class="table-wrap">
                      <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_2_length">
                          <label>展示
                            <select name="DataTables_Table_2_length" aria-controls="DataTables_Table_2" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>商品</label>
                        </div>
                        <div id="DataTables_Table_2_filter" class="dataTables_filter">
                          <label>搜索
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_2"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_2" aria-describedby="DataTables_Table_2_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th colspan="1" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" style="width: 0px;" aria-sort="ascending" aria-label="Currency pair: activate to sort column descending">Currency pair</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" style="width: 0px;" aria-label="Minimum fluctuation range: activate to sort column ascending">Minimum fluctuation
                                <br>range</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 0px;" aria-label="Spreads as low as ***: activate to sort column ascending">Spreads
                                <br>as low as ***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 0px;" aria-label="Average spread***: activate to sort column ascending">Average spread***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 0px;" aria-label="Pay overnight interest (points)**: activate to sort column ascending">Pay overnight interest
                                <br>(points)**</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 0px;" aria-label="Overnight interest on sell orders (points)**: activate to sort column ascending">Overnight interest on sell orders
                                <br>(points)**</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" style="width: 0px;" aria-label="1 lot value: activate to sort column ascending">1 lot value</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" style="width: 0px;" aria-label="Stop profit and loss distance*: activate to sort column ascending">Stop profit and loss distance*</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">GOLD#</td>
                              <td>0.01</td>
                              <td>0.2</td>
                              <td>0.25</td>
                              <td>-9.74</td>
                              <td>-5.58</td>
                              <td>100 oz</td>
                              <td>0.5</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">SILVER#</td>
                              <td>0.001</td>
                              <td>0.022</td>
                              <td>0.025</td>
                              <td>-1.28</td>
                              <td>-0.6</td>
                              <td>5000 oz</td>
                              <td>0.04</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite">Showing 1 to 2 ，of 2 entries</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_2_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_2" data-dt-idx="0" tabindex="0" id="DataTables_Table_2_previous">Previous</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_2" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_2" data-dt-idx="2" tabindex="0" id="DataTables_Table_2_next">Next</a></div>
                      </div>
                    </div>
                    <div class="top80 row">
                      <div class="col-sm-12">
                        <p>
                          <b>Minimum/maximum number of trading lots:</b>0.1/50(MT5)</p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="ultraLowMicro" v-if="tableIndex===3">
                    <div class="dis30"></div>
                    <div class="table-wrap">
                      <div id="DataTables_Table_3_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_3_length">
                          <label>展示
                            <select name="DataTables_Table_3_length" aria-controls="DataTables_Table_3" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>商品</label>
                        </div>
                        <div id="DataTables_Table_3_filter" class="dataTables_filter">
                          <label>搜索
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_3"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_3" aria-describedby="DataTables_Table_3_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th colspan="1" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" style="width: 0px;" aria-sort="ascending" aria-label="Currency pair: activate to sort column descending">Currency pair</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" style="width: 0px;" aria-label="Minimum fluctuation range: activate to sort column ascending">Minimum fluctuation
                                <br>range</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="Spreads as low as ***: activate to sort column ascending">Spreads
                                <br>as low as ***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="Average spread***: activate to sort column ascending">Average spread***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="Pay overnight interest (points)**: activate to sort column ascending">Pay overnight interest
                                <br>(points)**</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="Overnight interest on sell orders (points)**: activate to sort column ascending">Overnight interest on sell orders
                                <br>(points)**</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" style="width: 0px;" aria-label="1 lot value: activate to sort column ascending">1 lot value</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" style="width: 0px;" aria-label="Stop profit and loss distance*: activate to sort column ascending">Stop profit and loss distance*</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">GOLDm#</td>
                              <td>0.01</td>
                              <td>0.2</td>
                              <td>0.25</td>
                              <td>-9.74</td>
                              <td>-5.58</td>
                              <td>1 oz</td>
                              <td>0.5</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">SILVERm#</td>
                              <td>0.001</td>
                              <td>0.022</td>
                              <td>0.025</td>
                              <td>-1.28</td>
                              <td>-0.6</td>
                              <td>50 oz</td>
                              <td>0.04</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_3_info" role="status" aria-live="polite">Showing 1 to 2 ，of 2 entries</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_3_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_3" data-dt-idx="0" tabindex="0" id="DataTables_Table_3_previous">Previous</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_3" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_3" data-dt-idx="2" tabindex="0" id="DataTables_Table_3_next">Next</a></div>
                      </div>
                    </div>
                    <div class="top80 row">
                      <div class="col-sm-12">
                        <p>
                          <b>Minimum/maximum number of trading lots:</b>0.1/50(MT5)</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container ">
            <div class="row">
              <div class="col-sm-12">
                <p> The margin requirement for Gold and Silver is calculated like this: Lots * Contract Size * Market Price / Leverage.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p>
                  <strong>Gold &amp; Silver Trading Hours
                    <br> (GMT+2 time zone, please note that it may be daylight saving time)</strong>
                  <br>
                  <i class="fa fa-clock-o red"></i>Monday – Thursday: 01:05 – 23:55
                  <br>
                  <i class="fa fa-clock-o red"></i>Friday: 01:05 – 23:50</p></div>
            </div>
            <!-- <div class="dis80"></div> -->
            <!-- <div class="row">
              <div class="col-md-12">
                <h3>Other precious metals</h3>
                <ul id="tabs3" class="nav nav-tabs top20" role="tablist">
                  <li :class="{active:tableIndex2===0}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex2(0)">Contract for difference CFDs</a></li>
                  <li :class="{active:tableIndex2===1}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex2(1)">Trading Hour</a></li>
                  <li :class="{active:tableIndex2===2}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex2(2)">Calendar</a></li>
                </ul>
                <div id="tabContent" class="tab-content" >
                  <div class="tab-pane active" id="futures" v-if="tableIndex2===0">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_4_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_4_length">
                          <label>展示
                            <select name="DataTables_Table_4_length" aria-controls="DataTables_Table_4" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>商品</label>
                        </div>
                        <div id="DataTables_Table_4_filter" class="dataTables_filter">
                          <label>搜索
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_4"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_4" aria-describedby="DataTables_Table_4_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 97px;" aria-sort="ascending" aria-label="Commodity code: activate to sort column descending">Commodity code</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 78px;" aria-label="Commodity overview: activate to sort column ascending">Commodity overview</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 78px;" aria-label="Minimum fluctuation range: activate to sort column ascending">Minimum fluctuation
                                <br>range</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 112px;" aria-label="Minimum price fluctuation: activate to sort column ascending">Minimum price fluctuation</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 43px;" aria-label="Lowest spread: activate to sort column ascending">spread
                                <br>Lowest</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 118px;" aria-label="1 lot value: activate to sort column ascending">1 lot value</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 155px;" aria-label="Minimum/maximum trading lots: activate to sort column ascending">Minimum/maximum trading lots</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 95px;" aria-label="Margin ratio: activate to sort column ascending">Margin ratio</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 104px;" aria-label="Stop profit and loss distance*: activate to sort column ascending">Stop profit and loss distance*</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">PALL</td>
                              <td>Palladium</td>
                              <td>0.01000</td>
                              <td>USD 0.1</td>
                              <td>4</td>
                              <td>10 Troy ounces</td>
                              <td>1/45</td>
                              <td>4.5 %</td>
                              <td>10</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">PLAT</td>
                              <td>Platinum</td>
                              <td>0.01000</td>
                              <td>USD 0.1</td>
                              <td>3</td>
                              <td>10 Troy ounces</td>
                              <td>1/100</td>
                              <td>4.5 %</td>
                              <td>8</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_4_info" role="status" aria-live="polite">Showing 1 to 2 ，of 2 entries</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_4_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_4" data-dt-idx="0" tabindex="0" id="DataTables_Table_4_previous">Previous</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_4" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_4" data-dt-idx="2" tabindex="0" id="DataTables_Table_4_next">Next</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="trading-hours" v-if="tableIndex2===1">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_5_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_5_length">
                          <label>展示
                            <select name="DataTables_Table_5_length" aria-controls="DataTables_Table_5" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>商品</label>
                        </div>
                        <div id="DataTables_Table_5_filter" class="dataTables_filter">
                          <label>搜索
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_5"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_5" aria-describedby="DataTables_Table_5_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-sort="ascending" aria-label="Commodity code: activate to sort column descending">Commodity code</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="Commodity overview: activate to sort column ascending">Commodity overview</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="Server Time: activate to sort column ascending">Server Time</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="Weekday: activate to sort column ascending">Weekday</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="Monday Open: activate to sort column ascending">Monday Open</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="Friday Close: activate to sort column ascending">Friday Close</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">PALL</td>
                              <td>Palladium</td>
                              <td>GMT +2</td>
                              <td>01:05-23:55</td>
                              <td>01:05</td>
                              <td>23:10</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">PLAT</td>
                              <td>Platinum</td>
                              <td>GMT +2</td>
                              <td>01:05-23:55</td>
                              <td>01:05</td>
                              <td>23:10</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_5_info" role="status" aria-live="polite">Showing 1 to 2 ，of 2 entries</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_5_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_5" data-dt-idx="0" tabindex="0" id="DataTables_Table_5_previous">Previous</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_5" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_5" data-dt-idx="2" tabindex="0" id="DataTables_Table_5_next">Next</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="calendar" v-if="tableIndex2===2">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_6_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_6_length">
                          <label>展示
                            <select name="DataTables_Table_6_length" aria-controls="DataTables_Table_6" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>商品</label>
                        </div>
                        <div id="DataTables_Table_6_filter" class="dataTables_filter">
                          <label>搜索
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_6"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_6" aria-describedby="DataTables_Table_6_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-sort="ascending" aria-label="Instrument: activate to sort column descending">Instrument</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Status: activate to sort column ascending">Status</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Feb20: activate to sort column ascending">Feb
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Mar20: activate to sort column ascending">Mar
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Apr20: activate to sort column ascending">Apr
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="May20: activate to sort column ascending">May
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Jun20: activate to sort column ascending">Jun
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Jul20: activate to sort column ascending">Jul
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Aug20: activate to sort column ascending">Aug
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Sep20: activate to sort column ascending">Sep
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Oct20: activate to sort column ascending">Oct
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Nov20: activate to sort column ascending">Nov
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Dec20: activate to sort column ascending">Dec
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Jan21: activate to sort column ascending">Jan
                                <br>21</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">Palladium
                                <br>(PALL)</td>
                              <td>Open</td>
                              <td></td>
                              <td>22/11/19</td>
                              <td></td>
                              <td></td>
                              <td>21/02/20</td>
                              <td></td>
                              <td></td>
                              <td>21/05/20</td>
                              <td></td>
                              <td></td>
                              <td>25/08/20</td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">Palladium
                                <br>(PALL)</td>
                              <td>Close Only</td>
                              <td></td>
                              <td>21/02/20</td>
                              <td></td>
                              <td></td>
                              <td>21/05/20</td>
                              <td></td>
                              <td></td>
                              <td>25/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">Palladium
                                <br>(PALL)</td>
                              <td>Expiry</td>
                              <td></td>
                              <td>24/02/20</td>
                              <td></td>
                              <td></td>
                              <td>22/05/20</td>
                              <td></td>
                              <td></td>
                              <td>26/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">Platinum
                                <br>(PLAT)</td>
                              <td>Open</td>
                              <td></td>
                              <td></td>
                              <td>26/12/19</td>
                              <td></td>
                              <td></td>
                              <td>25/03/20</td>
                              <td></td>
                              <td></td>
                              <td>25/06/20</td>
                              <td></td>
                              <td></td>
                              <td>24/09/20</td></tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">Platinum
                                <br>(PLAT)</td>
                              <td>Close Only</td>
                              <td></td>
                              <td></td>
                              <td>25/03/20</td>
                              <td></td>
                              <td></td>
                              <td>25/06/20</td>
                              <td></td>
                              <td></td>
                              <td>24/09/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">Platinum
                                <br>(PLAT)</td>
                              <td>Expiry</td>
                              <td></td>
                              <td></td>
                              <td>26/03/20</td>
                              <td></td>
                              <td></td>
                              <td>26/06/20</td>
                              <td></td>
                              <td></td>
                              <td>25/09/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_6_info" role="status" aria-live="polite">Showing 1 to 6 ，of 6 entries</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_6_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_6" data-dt-idx="0" tabindex="0" id="DataTables_Table_6_previous">Previous</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_6" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_6" data-dt-idx="2" tabindex="0" id="DataTables_Table_6_next">Next</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="dis60"></div>
            <div class="row">
              <div class="col-md-12">
                <p>* Based on the current market price, set the minimum spread distance for take profit or stop loss.</p>
                <p>** If you hold a position overnight, then you will pay or get some amount, which is the interest generated between the two currency pairs, which is the "overnight interest swap". In the trading software, "overnight interest swap" will be automatically converted into your deposit currency (account currency). The system calculates at 00.00 (GMT+2 time zone, please note that it may be daylight saving time) every day, the whole process may take several minutes. From Wednesday to Thursday, three times the overnight interest is charged.</p>
                <p>*** The average spread shown here is calculated in one day. They are calculated under normal market conditions. However, due to the expansion of the spread of important news announcements, during periods of political uncertainty, or during market closures, or on weekends with low liquidity, unexpected events may cause market volatility and widen spread . When you trade on our platform, Trading Point is your broker. We will match your transactions and hedge positions and liquidity providers whose current market spreads exceed the above levels. However, in the case of large market volatility or poor liquidity, the spread of the quotation provided by our mobile quotation provider is higher than the normal level, so Trading Point will also expand the spread.</p>
                <p>The formula for calculating margin requirements for CFDs is as follows: lot size * contract size * opening price * margin ratio. The calculation of margin requirements has nothing to do with your account leverage.</p>
                <p>If you trade commodities in one direction, the prepayment ratio needs to be higher than 100%. If you use CFD lock-up transactions, the lock-up prepayment will only be charged for a large unilateral lot.</p>
                <p>The calendar date is for reference only and may change at any time.</p>
              </div>
            </div>
          </div>
          <div class="container top50">
            <h2>Gold and precious metals trading market</h2>
            <p>Gold and other precious metals, crude oil, copper, gasoline and other commodities occupy an important position in the bulk commodity market. All are contract-traded commodities. Precious metal contracts include futures, spot, forward and options.</p>
            <p>The intermediary for trading futures contracts is the futures exchange or the futures market. Traders from all over the world can trade about 50 major commodities, and they have extremely high economic value and durability. Gold, silver, platinum, palladium, etc. are all major trading assets. Asia is the world's largest precious metals trading market (China, India, and Singapore are the main traders of these commodities), and most of the bulk commodity transactions are dominated by European and American companies. The largest precious metals companies are in Canada and Germany.</p>
            <p>In addition to commodities such as currency pairs、
              <a href="https://www.noblesky.com/cn/equity-indices">index</a>gold，the trading of other precious metals is also very active in the futures market. You can trade 24 hours a day, except weekends. Generally speaking, there are two ways to trade precious metals: spot contracts and futures contracts. Spot contracts involve spot purchases and sales, payment and delivery. Futures are standard contracts. Both parties agree on a certain amount of precious metal prices agreed by both parties (called futures prices) for delivery and payment at a future date (called delivery date). Futures trading refers to the fact that there is no actual ownership of online trading commodities.</p>
            <div class="row top30"></div>
            <h3>Trading gold and precious metals</h3>
            <div class="row top30"></div>
            <p>The most frequently traded precious metals are gold, platinum, palladium and silver. The high trading volume of these commodities is due to their retained intrinsic value, regardless of economic conditions. In recent decades, the preference for buying precious metals as long-term investment commodities online and even physical ownership has increased significantly. Trading precious metals also provides opportunities for those interested in short-term investments, because derivatives and exchange sales contracts are a capital-intensive and simple way to make profits through price changes.</p>
            <p>Unlike most commodities that depend on the level of production and consumption, gold trading prices are not like this: they follow the pulse of political change, making gold sometimes act as a safe-haven market. As gold, platinum, palladium and silver also become valuable assets, investors see them as a store of value when the market is unstable.</p>
            <p>There are several factors that affect price fluctuations and may cause the precious metals market to fluctuate. One of the most important factors is the global financial institutions, whose investment is speculative in nature and may lead to upward or downward price changes. Another factor that affects the market is the trend of end users, which is mainly triggered by jewelry buyers: the demand for jewelry makes the market price of precious metals rise. The economy also has an impact on market prices. In well-performing economies around the world, the level of wealth is directly related to the demand for gold and other precious metal jewelry: when investors look for investment options with higher investment risks, the price of certain precious metals will decrease, while other prices will increase. Moreover, changes in demand for financial assets other than precious metals also contribute to price fluctuations.</p>
            <div class="row top30"></div>
            <h3>Summary of the trading history of gold and other precious metals</h3>
            <div class="row top30"></div>
            <p>Precious metals, especially gold, have always been a symbol of wealth. In prehistoric times, gold was used for exchange. For centuries, whether in the form of coins, gold bars, or gold ingots of fixed purity and weight, gold has been a valuable and sought-after asset. The first coin was in 600 BC, and currency exchange (standard gold) was used for 30 years. As a metal with high conductivity and ductility, gold does not react with other elements, and it is used in the jewelry industry, commercial chemistry and electronic medicine. Gold as a currency was only replaced by the Fiat currency system after 1976, but it still maintains a solid investment asset to this day.</p>
            <p>Like gold, silver has been used for currency exchange for more than 4,000 years, and silver continued into the nineteenth century. Industrial, commercial and consumer demands make silver a powerful asset for investment, and derivatives such as silver futures are traded on different exchange markets around the world. With the advent of online trading, investors have provided an easy way to obtain the price of silver.</p>
            <p>Compared with gold trading and silver trading since ancient civilization, platinum and palladium have a shorter history in the financial field. However, due to their scarcity and annual production, as well as their various uses in several industrial fields, sometimes they tend to be more expensive than gold, and may reach 10 times the price of gold. Platinum is related to wealth, and the white gold-platinum alloy is the civilization that discovered the American continent as early as Columbus. The first mention of platinum in Europe was in the 16th century. Since the 18th century, it has been used in jewelry, electrical machinery, chemicals, dentistry, and even medicine.</p>
            <p>Similar to platinum, palladium also plays a crucial role in technology. Since its discovery in Europe in the 19th century, the global demand for palladium has increased substantially, mainly in the automotive industry, but it has also been widely used in the pharmaceutical, electrical and jewelry industries. Also as an investment asset. Due to supply and demand (that is, the price-determined market), in the era of sustained economic stability, the price of platinum and palladium can be the same as or even higher than that of gold. In periods of economic instability, the price of platinum and palladium will be lower than that of gold. Become a more stable precious metal when investing</p>
            <div class="row top30"></div>
            <h3>Gold and precious metals trading today</h3>
            <div class="row top30"></div>
            <p>Since the 1970s, in addition to foreign exchange currency pair（
              <a href="javascript:void(0)">foreign exchange</a>）trading,precious metals have become the most popular investment commodity, and the period of inflation or economic/political uncertainty is based on portfolio risk management. Long-term investment in gold and other precious metals is a popular investment method all over the world.</p>
            <p>Futures contracts are so-called derivative contracts, meaning that their value comes from the performance of the underlying asset. One of the main purposes of investing in precious metal futures is risk mitigation: given the ability of contract buyers and sellers to advance future transactions at a fixed price or interest rate, they can both ensure that drastic or sudden price changes may lead to increased profits.</p>
            <p>The trading of precious metals can be said to be two-way: if the market is expected to rise (upward trend), the transaction can be sold through the purchase of futures contracts (long) and export trade; and if there is an expectation of downward movement (downward trend), the transaction can be passed Sell futures contracts to enter (short) and export trades through purchase contracts. It is also possible to trade multiple futures contracts, including making several separate entries and exports, that is, entering the contract at different prices, exiting at one price, or vice versa. Whether it is an upward or downward market trend, the ability of both parties to trade allows investors to make profits.</p>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFXEN.vue'
import pageFooter from '../../components/pageFooterTFXEN.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        tableIndex2:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Precious metals-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleTableIndex2(val){
         this.tableIndex2 = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }



  }


};
</script>





<style scoped lang="scss">
  .xmLeverage-200.fs100{
    width: 150px;height: 100px;display: block;
    // background: url(../../../static/images/ico-200-1.png) no-repeat center 0;
  }
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }
   .dis80 {
       height: 80px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}



.row {
    margin-left: -15px;
    margin-right: -15px;
}


 
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
  .table-wrap {
    display: contents !important;
    width: 100%;
  }

  .tab-content > .active {
    height: auto !important;
    width: auto;
  }

  .tab-content {
    height: auto !important;
  }

  .dataTables_paginate {
    height: auto !important;
  }
  p {
    margin-bottom: 2em;
  }
</style>
