<template>
  <div class="wrap" @click="hideMenu">
    <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

    <div class="site-canvas">

      <div class="container-fluid top-bar" style="direction:rtl;text-align:right;">
        <div class="container-fluid ">
          <div class="row">
            <div class="col-12">
              <h1 class="ltr ">کوکی چیست</h1>
              <ol class="breadcrumb">
                <li class="home">
                  <router-link to="/" class="home">NOBLE SKY</router-link>
                </li>
                <li class="post post-page current-item">کوکی چیست</li>
              </ol>
            </div>
            <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
              <div class="option-nav">
                <router-link to="/contact">
                  <i class="contact"></i>
                  <span>تماس با ما</span>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid top40 regulation" style="direction:rtl;text-align:right;">
        <!-- <div class="row">
          <div class="col-12">
            <h2>相关法律文件</h2></div>
        </div> -->
        <div class="cookie-box">
          <h5>کوکی چیست؟</h5>
          <p>کوکی یک فایل کوچک اطلاعاتی می باشد که زمانیکه وارد یک وبسایت می شوید روی کامپیوتر یا موبایل شما ذخیره می شود. صاحبان وبسایت ها از این کوکی ها بطور گسترده برای بهبود کیفیت و عملکرد وبسایت خود و همچنین گزارش اطلاعات استفاده می کنند. به کوکی های تنظیم شده توسط صاحبان شرکت "کوکی های شخص اول" گفته می شود. به کوکی هایی که توسط شخص دیگر تنظیم می شوند "کوکی های شخص سوم" گفته می شود. کوکی های شخص ثالث مجاز هستند قابلیت های شخص ثالث (مانند تبلیغات، محتوای تعاملی و تجزیه و تحلیل) که در یک وب سایت تنظیم شده است را در همان وبسایت ارائه دهند. طرفینی که کوکی های شخص ثالث را تنظیم می کنند می توانند هنگام مراجعه به وب سایت های مربوطه یا سایر وب سایت ها شما را شناسایی کنند. </p>

          <h5> چرا باید از کوکی استفاده کرد؟?</h5>
                 <p>بنابردلایلی از کوکی شخص اول و شخص سوم استفاده می شود. از دیدگاه فنی کوکی ها را به دنبال کسب اطمینان از فعال بودن سایت استفاده میکنند که ما آن ها را "بسیار ضروری" می نامیم. کوکی های دیگر همچنین ما را در تشخیص اولویت های کاربران سایت ما برای بهبود عملکرد کمک می کنند.</p>

                 <h5>اطلاعات شخصی شما</h5>
                 <p> زمانیکه به وبسایت ما سر میزنید از کوکی ها برای اطمینان از مفید بودن سایت برای شما استفاده میکنیم. این کوکی ها ممکن است مرتبط با شما، اولویت های شما و یا ابزار شما باشد. این اطلاعات معمولاً برای شناسایی مستقیم شما مورد استفاده قرار نمی گیرند اما می تواند تجربه شخصی سازی وب سایت را به شما ارائه دهد. ما به حقوق اطلاعات شخصی شما احترام میگذاریم و ممکن است شما انواع خاصی از کوکی ها را غیرفعال کنید با این حال، مسدود کردن انواع خاصی از کوکی ها ممکن است بر تجربه استفاده از وب سایت ما و سرویس هایی که قادر به ارائه به شما هستیم تأثیر بگذارد. </p>
                 <p>ما از کوکی ها برای ثبت انتخاب های شما در مدیریت حریم خصوصی کوکی های خود استفاده خواهیم کرد که نتایج ذیل حاصل خواهد شد:</p>
                 <p>در صورت حذف کوکی و مراجعه مجدد به وبسایت ما، اگر تمایل داشته باشید بایستی به اطلاع ما برسانید.</p>
                 <p>در صورت استفاده از دستگاه یا مرورگرهای مختلف برای ورود به سایت ما، اگر تمایل داشته باشید بایستی به اطلاع ما برسانید.</p>

                 <h5>اهداف و مبانی قانونی</h5>
                 <p>وقتی که وارد وبسایت ما می شوید اطلاعات IP و مرورگر شما جمع آوری و پردازش خواهد شد. این اطلاعات را به منظور تشخیص شما که آیا بازدید کننده ی دائمی سایت هستید یا خیر، تحلیل دلیل بازدید و بهبود رضایت بازدیدکننده از سایت جمع آوری و پردازش میکنیم..</p>
                 <p>همانطور که گفته شد اطلاعات شخصی شما را مطابق قانون امنیت سایبری و قوانین و مقررات قابل اجرا، پردازش خواهیم کرد. قبل از جمع آوری و پردازش داده های مربوط به دسترسی شما و سایر داده های شخصی دیگری که در نهایت ممکن است به ما ارائه دهید، مستمرا به دنبال کسب رضایت شما هستیم. علاوه بر این شما حق لغو این رضایت نامه هر زمان که بخواهید را دارید. شما همچنین با تنظیم کوکی ها در مرورگر خود برای غیرفعال کردن کوکی ها حق منع استفاده ما از کوکی ها را دارید. اگر می خواهید با این داده ها یا سایر اطلاعات شخصی که ممکن است در رابطه با شما پردازش کنیم با ما تماس بگیرید لطفاً به بخش "حقوق و اطلاعات تماس خود" در زیر مراجعه کنید.</p>


                 <h5>انتشار/ دریافت اطلاعات شخصی</h5>
                 <p> به منظور ارائه خدمات در وبسایت ممکن است از شرکت های وابسته و شرکای تجاری خود کمک بگیریم. برای رسیدن به اهداف فوق اطلاعات شخصی شما توسط شرکت های وابسته و شرکای تجاری ما منتشر و پردازش می شود. </p>

                 <h5>زمان نگهداری</h5>
                 <p> ما اطلاعات شخصی شما در مورد دسترسی به وب سایت خود را تا پایان سرویس یا تا زمانی که از ما بخواهید آن را حذف کنیم حفظ خواهیم کرد. </p>

                 <h5>حقوق و اطلاعات تماس شما</h5>
                 <p>برای کسب اطلاعات بیشتر، هرگونه سوال و اطلاعات تماس مربوط به حقوق خود در زمینه ی روش ما در مدیریت اطلاعات شخصی خود بخش حفظ حریم خصوصی را مطالعه فرمایید.</p>
                 <p>از این کوکی ها برای توصیف نحوه استفاده ما از کوکی ها و تکنیک های مشابه برای شناسایی شما هنگام بازدید از وب سایت ما استفاده می شود. این کار دلیل حضور اینگونه فن آوری ها، دلیل استفاده ی ما از آن ها و اختیار شما برای دادن اجازه ی به ما جهت استفاده از آن ها را توضیح می دهد. در برخی موارد ممکن است از کوکی ها برای جمع آوری اطلاعات شخصی شما یا تشکیل اطلاعات شخصی شما با ترکیب با سایر اطلاعات استفاده کنیم.</p>

                 <h5>چگونه کوکی خود را مدیریت کنیم؟</h5>
                 <p>شما در پذیرش یا رد استفاده از کوکی ها برای تشخیص هویت خود در سایت محتار می باشید. میتوانید استفاده از کوکی ها را با تنظیم آن ها در مرورگر خود تنظیم کنید. گزینه ی موجود در تنظیمات کوکی به شما امکان پذیرش یا رد کوکی های جمع آوری شده را می دهد. کوکی های ضروری به هیچ عنوان قابل رد کردن نمی باشند از آنجاییکه جز ملزومات مهم در خدمت رسانی به شما می باشند. به عنوان مثال در مرورگر کروم کاربران میتوانند کوکی های گردآوری شده ی وبسایت را از این طریق مدیریت کنند؛ کلیک بر روی گزینه ی Setting- Advanced – Privacy & Security – Page Setting.</p>
                 <p>گزینه های موجود در تنظیمات کوکی را می توان در بنر اعلان و وبسایت مشاهده کرد. در صورت انتخاب گزینه ی رد کوکی ها، همچنان مجاز به استفاده از وبسایت می باشید اما دسترسی به برخی از ویژگی ها و گزینه ها محدود خواهد شد. همچنین می توانید تنظیمات مرورگر وب خود را برای پذیرش یا رد کوکی ها تنظیم یا اصلاح کنید. از آنجا که نحوه تنظیم رد کوکی ها از طریق مرورگر وب شما از مرورگری به مرورگر دیگر متفاوت است برای اطلاعات بیشتر باید فهرست راهنمای مرورگر خود را مطالعه کنید.</p>

                 <h5>کوکی های کاملا ضروری</h5>
                 <p>این دسته از کوکی ها برای فعالیت وبسایت ما ضروری بوده و قابل بسته شدن نمی باشند. این اطلاعات غالبا بر اساس فعالیتی که شما انجام میدهید، که برابر با درخواست خدمات می باشد، تنظیم میشوند. می توانید مرورگر خود را طوری تنظیم کنید تا از استفاده از این کوکی ها جلوگیری کند که منجر به عدم کارکرد برخی از عملکردهای سایت شما خواهد شد. كوكی های كاملاً ضروری هیچ كدام از اطلاعات قابل شناسایی شخصی را ذخیره نمی كنند.</p>

                 <h5>کوکی های اجرا و عملکرد</h5>
                 <p>ما از این کوکی ها به منظور شمارش تعداد بازدیدها از وبسایت و منابع ترافیکی در جهت سنجش و اصلاح عملکرد وبسایت استفاده می کنیم. اطلاعات بدست آمده از این کوکی  ها به ما میفهماند کدام صفحه ها از محبوبیت عمومی برخوردار هستند، کدام صفحه ها بازدید کمتری دارند و نحوه ی بازدید بازدیدکنندگان از وبسایت. تمام اطلاعات جمع آوری شده توسط این کوکی ها را به صورت ناشناس جمع آوری می کنیم. در صورت غیرفعال کردن کوکی ها امکان بازدید مجدد شما از سایت، کنترل عملکرد وب سایت را نخواهیم داشت و برخی از ویژگی ها ممکن است در دسترس شما قرار نگیرند..</p>

                 <h5>سیاست کوکی خود را چند وقت یکبار به روز می کنید؟</h5>
                 <p>ممکن است سیاست کوکی ها را هر از گاهی یا به دلایل عملیاتی، قانونی یا نظارتی دیگر به روزرسانی کنیم تا تغییرات کوکی هایی را که استفاده می کنیم را منعکس کند. بنابراین جهت اطلاع از استفاده ما از کوکی ها و فن آوری های مربوطه لطفاً سیاست کوکی ها را به صورت دوره ای مرور کنید.</p>
                 <p>تاریخ ذکر شده در بالای خط مشی این کوکی آخرین بروزرسانی را نشان می دهد.</p>


        </div>
      </div>
      <div class="dis70"></div>

    </div>

    <pageFooter />
  </div>
</template>



<script>

  import pageHeader from '../../components/pageHeaderTFX.vue'
  import pageFooter from '../../components/pageFooterTFX.vue'
  import { languageCode } from '../../utils/lan-code'





  export default {
    name: "my-acount",
    data: function () {
      return {
        isLogin: false,
        userLoginInfo: '',
        curCoinType: 1,
        curLanguage: 2,
        // language:coinstrad,

        userInfo: {
          configure: {
          }
        },

        tableIndex: 0,
        queryIndex: 0,
        queryIndexFlag: false




      };
    },
    metaInfo: {
      title: 'سياسة ملفات الارتباط-NOBLE SKY',
    },
    created() {



      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');

      this.curCoinType = !!storeCoinType ? storeCoinType : this.$api.defaultCoinType;
      this.curLanguage = !!storeLanguage ? storeLanguage : this.$api.defaultLanguage

      if (this.curLanguage != 2) {
        let pName = this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[this.curLanguage]
        this.$router.push({ name: pNameStr });
      }

      this.isLogin = this.util.isLogin();

      if (!!this.isLogin) {
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
        // this.getUserInfo();
      }


      // this.getSystemTradMode()

      // this.getUserAsset()
      // this.getCoinList();
      // this.getUserOrder();
      // this.getUserOrder2();
      // this.settingAPIDataLanguage();
      // this.getcurrency()



    },

    mounted() {
      document.documentElement.scrollTop = 0
    },

    components: {
      pageHeader,
      pageFooter
    },

    methods: {
      changeLanguage(val) {
        console.log(this.curLanguage)
        let pName = this.curLanguage == 1 ? this.$route.name : this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[val]
        this.$router.push({ name: pNameStr });
      },
      hideMenu() {
        this.$refs.pageHead.hideMenu();
      },
      handleTableIndex(val) {
        this.tableIndex = val
      },
      handleQueryIndex(val) {
        if (val === this.queryIndex) {
          this.queryIndexFlag = !this.queryIndexFlag
        } else {
          this.queryIndex = val
          this.queryIndexFlag = true
        }

      }


    }


  };
</script>





<style scoped lang="scss">
  h2 {
    margin-top: 0;
    margin-bottom: 30px;
  }


  .col-md-12 {
    width: 100%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .top20 {
    margin-top: 20px !important;
  }

  .top30 {
    margin-top: 30px !important;
  }

  .top40 {
    margin-top: 40px !important;
  }

  .top50 {
    margin-top: 50px !important;
  }

  .top60 {
    margin-top: 60px !important;
  }

  .top80 {
    margin-top: 80px !important;
  }


  .text-center {
    text-align: center !important;
  }

  .center-block {
    float: none !important;
  }

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    display: none;
  }


  .dis20 {
    height: 20px;
    clear: both;
  }

  .dis30 {
    height: 30px;
    clear: both;
  }

  .dis40 {
    height: 40px;
    clear: both;
  }

  .dis60 {
    height: 60px;
    clear: both;
  }



  .site-canvas .top-bar .breadcrumb {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .site-canvas .top-bar {
    background-color: #e8e8e8;
    padding: 20px 0 20px 0;
    margin: 0;
  }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
    clear: both;
  }

  .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
  }



  .box-text-btn {
    text-align: right;
    .row

  {
    margin-left: -15px;
    margin-right: -15px;
  }

  .btn-full {
    background-color: #74c109;
    display: inline-block;
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
    width: 247px;
    text-align: center;
  }

    .btn-full:hover {
      background-color: #29A643;
    }

  }

  .nav-flexbox-tabs {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
  }

    .nav-flexbox-tabs > li {
      width: 213px;
      text-align: center;
      background-color: #fff;
      margin-bottom: 15px;
      margin-right: 15px;
      border: 1px solid #cbcbcb;
    }

      .nav-flexbox-tabs > li.active {
        background-color: #d51820;
      }

      .nav-flexbox-tabs > li > a, .nav-flexbox-tabs > li > button {
        color: #000;
      }

      .nav-flexbox-tabs > li.active a, .nav-flexbox-tabs > li.active button {
        color: #fff;
      }


  a:focus, a:visited {
    color: #d51820;
  }

  .nav-flexbox-tabs a, .nav-flexbox-tabs button {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #000;
    line-height: normal;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    min-height: 38px;
    padding: 0 15px;
  }




  .nav-tabs {
    border: 0;
    font-size: 0;
    margin-bottom: 30px;
  }

  #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
    position: relative;
    margin-bottom: 0;
    z-index: 9;
  }

  #tabs2, #tabs3, #tabs4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }





  .nav > li {
    position: relative;
    display: block;
  }

  .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
  }

  .nav-tabs > li {
    width: 50%;
  }

  #tabs2.nav-tabs > li, #tabs3.nav-tabs > li, #tabs4.nav-tabs > li {
    float: none;
    width: 100%;
  }

  #tabs2.nav-tabs > li, #tabs3.nav-tabs > li, #tabs4.nav-tabs > li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }



  .collapse {
    display: block;
  }

  .panel-default > .panel-heading i.fa-angle-up {
    color: #d51820 !important;
  }

  #tabContent .panel-default > .panel-heading i.fa.fa-angle-up, .panel-default > .panel-heading i.fa.fa-angle-up, #tabContent .panel-default > .panel-heading i.fa.fa-angle-down, .panel-default > .panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-up, .panel-default > .panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-down, .panel-default > .panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
  }

  .tab-pane .dis30 {
    height: 50px;
  }

  .pdf-list {
    li

  {
    width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 50px;
    i

  {
    font-size: 120px;
    display: block;
    color: #d51820;
    margin-bottom: 5px;
  }

  span {
    color: #333;
  }

  }
  }

  .cookie-box {
    h5

  {
    font-size: 18px;
    font-weight: bold;
    margin: 50px 0 10px;
    text-align: center;
  }

  p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  }

  footer {
    // height: 300px;
    background-color: #333;
    text-align: center;
  }

    footer .cell {
      padding-top: 100px;
      font-size: 26px;
      color: #fff;
    }
  .regulation h3{
    direction:rtl;
  }
</style>
