<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <div class="site-canvas">
          <div class="container-fluid top-bar">
            <div class="container-fluid ">
              <div class="row">
                <div class="col-12">
                  <h1 class="ltr text-left">مؤشرات الأسهم</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link>
                    </li>
                    <li class="post post-page current-item">مؤشرات الأسهم</li>
                  </ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>اتصل بنا</span>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid top60 hidden-xs">
            <ul class="nav-flexbox-tabs">
              <li>
                <router-link to='/ar/forex-trading'>تجارة الفوركس</router-link>
              </li>
              <!-- <li>
         <router-link to='/stocks'>Stock CFDs</router-link>
         <a href="/ar/stocks">Stock CFDs</a></li> -->
              <li>
                <router-link to='/ar/commodities'>السلع</router-link>
              </li>
              <li class="active">
                <router-link to='/ar/equity-indices'>مؤشرات الأسهم</router-link>
              </li>
              <li>
                <router-link to='/ar/precious-metals'>المعادن الثمينة</router-link>
              </li>
              <li>
                <router-link to='/ar/energies'>الطاقات</router-link>
              </li>
              <!-- <li>
        <router-link to='/shares'>shares</router-link>
        <a href="/ar/shares">shares</a></li> -->
            </ul>
            <div class="dis15"></div>
          </div>
          <div class="dis50 visible-sm"></div>
          <div class="container-fluid hidden-xs">
            <h2 class="top30">مزايا تداول مؤشرات الأسهم مع NOBLE SKY</h2>
            <div class="container-fluid text-center top50">
              <div class="feature-item5">
                <i class="tfxfont3 xmGlobe fs100 red"></i>
                <p class="top30">وصول فعال من حيث التكلفة ومباشر إلى أسواق الأسهم العالمية</p>
              </div>
              <div class="feature-item5">
                <i class="tfxfont3 xmEarth fs100 red"></i>
                <p class="top30">الوصول الفوري إلى الاقتصادات العالمية</p>
              </div>
              <div class="feature-item5 hidden-xs hidden-md">
                <i class="tfxfont3 xmBar-chart fs100 red"></i>
                <p class="top30">المضاربة على اتجاهات السوق الصاعدة / الهابطة</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p class="top30">البيع والشراء وفقًا لتحركات السوق</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p class="top30">يناسب كلا من استراتيجيات التداول قصيرة وطويلة الأجل</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmPercent fs100 red"></i>
                <p class="top30">بدون رسوم إضافية</p>
              </div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container-fluid ">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-12"><br>تداول العملات الأجنبية والأسهم الفردية والسلع والمعادن الثمينة والطاقات ومؤشرات الأسهم في NOBLE SKY</div>
                <div class="col-12">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">افتح حساب</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid top80">
            <div class="row">
              <div class="col-12">
                <h2>مؤشرات الأسهم - فروق الأسعار / الشروط</h2>
              </div>
            </div>
            <div class="container-fluid">
              <div class="col-12">
                <ul id="tabs2" class="nav nav-tabs top20" role="tablist">
                  <li :class="{active:tableIndex===0}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(0)">العقود مقابل الفروقات للمؤشرات النقدية</a>
                  </li>
                  <li :class="{active:tableIndex===1}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex(1)">ساعات التداول</a>
                  </li>
                </ul>
                <div id="tabContent" class="tab-content" >
                  <div id="cash" class="tab-pane">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_0_wrapper" style="padding-bottom:2em;" class="dataTables_wrapper no-footer">
                        <div id="DataTables_Table_0_length" class="dataTables_length">
                          <label>
                            عرض

                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                            </select>
                            العناصر
                          </label>
                        </div>
                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                          <label>
                            بحث
                            <input type="search" placeholder="" aria-controls="DataTables_Table_0">
                          </label>
                        </div>
                        <table role="grid" cellspacing="0" width="100%" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" class="dataTB link dataTable no-footer dtr-inline" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="الرمز: التنشيط لفرز العمود تنازليًا" class="sorting_asc" style="width: 0px;">رمز</th>
                              <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="الحد الأدنى لتقلب السعر: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 0px;">
                                الحد الأدنى من <br>تقلب الأسعار

                              </th>
                              <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ينتشر منخفضًا مثل: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 0px;">
                                ينتشر
                                <br>منخفضة تصل إلى
                              </th>
                              <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="الحد الأقصى لحجم الصفقة: تفعيل لفرز العمود تصاعديًا" class="sorting" style="width: 0px;">الحد الأقصى لحجم الصفقة</th>
                              <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="نسبة الهامش: التنشيط لفرز العمود تصاعديا" class="sorting" style="width: 0px;">نسبة الهامش</th>
                              <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="قيمة المبادلة الطويلة (عملة الهامش) *: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 0px;">
                                قيمة المقايضة الطويلة
                                <br>(عملة الهامش) *
                              </th>
                              <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="قيمة المبادلة القصيرة (عملة الهامش) *: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 0px;">
                                قيمة المبادلة القصيرة
                                <br>(عملة الهامش) *
                              </th>
                              <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="مستويات الحد والإيقاف **: تنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 0px;">مستويات الحد والوقف **</th>
                              <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label=": تفعيل لفرز العمود تصاعديا" class="sorting" style="width: 0px;"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">دولار أسترالي 200 كاش</td>
                              <td>0.01000</td>
                              <td>3</td>
                              <td>250</td>
                              <td>1٪</td>
                              <td style="direction: ltr;">-0.53</td>
                              <td style="direction: ltr;">-0.44</td>
                              <td>4</td>
                              <td><a href="/ar/equity-indices/asx200" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">CHI50 كاش</td>
                              <td>1.00000</td>
                              <td>18</td>
                              <td>100</td>
                              <td>1.5٪</td>
                              <td style="direction: ltr;">-1.29</td>
                              <td style="direction: ltr;">-1.22</td>
                              <td>15</td>
                              <td><a href="/ar/equity-indices/china50" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">EU50 كاش</td>
                              <td>0.01000</td>
                              <td>2.6</td>
                              <td>250</td>
                              <td>1٪</td>
                              <td style="direction: ltr;">-0.21</td>
                              <td style="direction: ltr;">-0.32</td>
                              <td>4</td>
                              <td><a href="/ar/equity-indices/euro50" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">FRA40 كاش</td>
                              <td>0.01000</td>
                              <td>1.8</td>
                              <td>150</td>
                              <td>1٪</td>
                              <td style="direction: ltr;">-0.33</td>
                              <td style="direction: ltr;">-0.49</td>
                              <td>4</td>
                              <td><a href="/ar/equity-indices/cac40" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">جير 30 كاش</td>
                              <td>0.01000</td>
                              <td>2</td>
                              <td>150</td>
                              <td>1٪</td>
                              <td style="direction: ltr;">-0.84</td>
                              <td style="direction: ltr;">-1.25</td>
                              <td>4</td>
                              <td><a href="/ar/equity-indices/dax30" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">GRE20 كاش</td>
                              <td>0.01000</td>
                              <td>3</td>
                              <td>30</td>
                              <td>10٪</td>
                              <td style="direction: ltr;">-0.11</td>
                              <td style="direction: ltr;">-0.16</td>
                              <td>4</td>
                              <td><a href="/ar/equity-indices/gre20" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">HK50 كاش</td>
                              <td>1.00000</td>
                              <td>14</td>
                              <td>300</td>
                              <td>1.5٪</td>
                              <td style="direction: ltr;">-2.3</td>
                              <td style="direction: ltr;">-1.66</td>
                              <td>20</td>
                              <td><a href="/ar/equity-indices/hsi50" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">IT40 كاش</td>
                              <td>1.00000</td>
                              <td>13</td>
                              <td>40</td>
                              <td>1٪</td>
                              <td style="direction: ltr;">-1.27</td>
                              <td style="direction: ltr;">-1.88</td>
                              <td>30</td>
                              <td><a href="/ar/equity-indices/ftse40" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">JP225Cash</td>
                              <td>1.00000</td>
                              <td>12</td>
                              <td>10000</td>
                              <td>0.5٪</td>
                              <td style="direction: ltr;">-1.85</td>
                              <td style="direction: ltr;">-2.01</td>
                              <td>10</td>
                              <td><a href="/ar/equity-indices/nikkei225" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">NETH25Cash</td>
                              <td>0.01000</td>
                              <td>0.6</td>
                              <td>1700</td>
                              <td>1٪</td>
                              <td style="direction: ltr;">-0.04</td>
                              <td style="direction: ltr;">-0.06</td>
                              <td>1</td>
                              <td><a href="/ar/equity-indices/aex25" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">POL20 كاش</td>
                              <td>1.00000</td>
                              <td>3</td>
                              <td>1500</td>
                              <td>2٪</td>
                              <td style="direction: ltr;">-0.15</td>
                              <td style="direction: ltr;">-0.13</td>
                              <td>3</td>
                              <td><a href="/ar/equity-indices/wig20" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">سينج كاش</td>
                              <td>0.01000</td>
                              <td>0.6</td>
                              <td>3500</td>
                              <td>1.5٪</td>
                              <td style="direction: ltr;">-0.03</td>
                              <td style="direction: ltr;">-0.02</td>
                              <td>1</td>
                              <td><a href="/ar/equity-indices/singbluechip" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">إسبانيا 35 Cash</td>
                              <td>1.00000</td>
                              <td>6</td>
                              <td>80</td>
                              <td>1٪</td>
                              <td style="direction: ltr;">-0.45</td>
                              <td style="direction: ltr;">-0.66</td>
                              <td>15</td>
                              <td><a href="/ar/equity-indices/ibex35" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">SWI20 كاش</td>
                              <td>0.01000</td>
                              <td>5</td>
                              <td>100</td>
                              <td>1٪</td>
                              <td style="direction: ltr;">-0.62</td>
                              <td style="direction: ltr;">-1.07</td>
                              <td>4</td>
                              <td><a href="/ar/equity-indices/smi20" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">UK100 كاش</td>
                              <td>0.01000</td>
                              <td>1.5</td>
                              <td>100</td>
                              <td>1٪</td>
                              <td style="direction: ltr;">-0.49</td>
                              <td style="direction: ltr;">-0.48</td>
                              <td>3</td>
                              <td><a href="/ar/equity-indices/ftse100" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">دولار أمريكي 100 كاش</td>
                              <td>0.01000</td>
                              <td>2</td>
                              <td>340</td>
                              <td>1٪</td>
                              <td style="direction: ltr;">-0.97</td>
                              <td style="direction: ltr;">-0.92</td>
                              <td>3</td>
                              <td><a href="/ar/equity-indices/nasdaq100" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">US30Cash</td>
                              <td>0.01000</td>
                              <td>2.8</td>
                              <td>40</td>
                              <td>1٪</td>
                              <td style="direction: ltr;">-2.34</td>
                              <td style="direction: ltr;">-2.22</td>
                              <td>5</td>
                              <td><a href="/ar/equity-indices/dow30" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">500 دولار كاش</td>
                              <td>0.01000</td>
                              <td>0.7</td>
                              <td>350</td>
                              <td>1٪</td>
                              <td style="direction: ltr;">-0.3</td>
                              <td style="direction: ltr;">-0.28</td>
                              <td>1</td>
                              <td><a href="/ar/equity-indices/sp500" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                          </tbody>
                        </table>
                        <div id="DataTables_Table_0_info" role="status" aria-live="polite" class="dataTables_info">إظهار 1 إلى 18 من أصل 18 مُدخل</div>
                        <div id="DataTables_Table_0_paginate" class="dataTables_paginate paging_simple_numbers"><a aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous" class="paginate_button previous disabled">السابق</a> <span><a aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="paginate_button current">1</a></span> <a aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next" class="paginate_button next disabled">التالى</a></div>
                      </div>
                    </div>
                  </div>
                  <!---->
                </div>

              </div>
            </div>
          </div>
          <div class="container-fluid top50">
            <div class="container-fluid">
              <div class="col-12">
                <ul id="tabs3" class="nav nav-tabs top20" role="tablist">
                  <li :class="{active:tableIndex2===0}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex2(0)">CFD على مؤشرات العقود الآجلة</a>
                  </li>
                  <li :class="{active:tableIndex2===1}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex2(1)">ساعات التداول</a>
                  </li>
                  <li :class="{active:tableIndex2===2}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex2(2)">التقويم</a>
                  </li>
                </ul>
                <div id="tabContent" class="tab-content" >
                  <div class="tab-pane" id="future" v-if="tableIndex2===0">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_2_length">
                          <label>
                            عرض
                            <select name="DataTables_Table_2_length" aria-controls="DataTables_Table_2" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                            </select>العناصر
                          </label>
                        </div>
                        <div id="DataTables_Table_2_filter" class="dataTables_filter">
                          <label>
                            بحث
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_2">
                          </label>
                        </div>
                        <table role="grid" cellspacing="0" width="100%" id="DataTables_Table_2" aria-describedby="DataTables_Table_2_info" class="dataTB link dataTable no-footer dtr-inline" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="الرمز: التفعيل لفرز العمود تنازليًا" class="sorting_asc" style="width: 0px;">رمز</th>
                              <th tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="الحد الأدنى لتقلب السعر: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 0px;">
                                الحد الأدنى من <br>تقلب الأسعار

                              </th>
                              <th tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="فروق منخفضة: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 0px;">
                                ينتشر
                                <br>منخفضة تصل إلى
                              </th>
                              <th tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="الحد الأقصى لحجم الصفقة: تفعيل لفرز العمود تصاعديًا" class="sorting" style="width: 0px;">الحد الأقصى لحجم الصفقة</th>
                              <th tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="نسبة الهامش: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 0px;">نسبة الهامش</th>
                              <th tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="مستويات الحد والإيقاف **: تنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 0px;">مستويات الحد والوقف **</th>
                              <th tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label=": تفعيل لفرز العمود تصاعديا" class="sorting" style="width: 0px;"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">الاتحاد الأوروبي 50</td>
                              <td>0.01000</td>
                              <td>3</td>
                              <td>250</td>
                              <td>1٪</td>
                              <td>4</td>
                              <td><a href="/ar/equity-indices/euro50" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">FRA40</td>
                              <td>0.01000</td>
                              <td>3</td>
                              <td>150</td>
                              <td>1٪</td>
                              <td>6</td>
                              <td><a href="/ar/equity-indices/cac40" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">GER30</td>
                              <td>0.01000</td>
                              <td>4</td>
                              <td>150</td>
                              <td>1٪</td>
                              <td>6</td>
                              <td><a href="/ar/equity-indices/dax30" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">JP225</td>
                              <td>1.00000</td>
                              <td>24</td>
                              <td>10000</td>
                              <td>0.5٪</td>
                              <td>14</td>
                              <td><a href="/ar/equity-indices/nikkei225" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">SWI20</td>
                              <td>0.01000</td>
                              <td>4</td>
                              <td>100</td>
                              <td>1٪</td>
                              <td>6</td>
                              <td><a href="/ar/equity-indices/smi20" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">UK100</td>
                              <td>0.01000</td>
                              <td>6</td>
                              <td>100</td>
                              <td>1٪</td>
                              <td>4</td>
                              <td><a href="/ar/equity-indices/ftse100" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">الولايات المتحدة 100</td>
                              <td>0.01000</td>
                              <td>5</td>
                              <td>340</td>
                              <td>1٪</td>
                              <td>4</td>
                              <td><a href="/ar/equity-indices/nasdaq100" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">الولايات المتحدة 30</td>
                              <td>0.01000</td>
                              <td>6</td>
                              <td>40</td>
                              <td>1٪</td>
                              <td>8</td>
                              <td><a href="/ar/equity-indices/dow30" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">US500</td>
                              <td>0.01000</td>
                              <td>1.2</td>
                              <td>350</td>
                              <td>1٪</td>
                              <td>1</td>
                              <td><a href="/ar/equity-indices/sp500" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">USDX</td>
                              <td>0.00100</td>
                              <td>0.05</td>
                              <td>1000</td>
                              <td>1٪</td>
                              <td>0.01</td>
                              <td><a href="/ar/equity-indices/usdx" class="btn btn-green">قراءة المزيد</a></td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite">إظهار 1 إلى 10 ， 10 إدخالات</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_2_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_2" data-dt-idx="0" tabindex="0" id="DataTables_Table_2_previous">السابق</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_2" data-dt-idx="1" tabindex="0">1</a>
                          </span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_2" data-dt-idx="2" tabindex="0" id="DataTables_Table_2_next">التالى</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="future-trading-hours" v-if="tableIndex2===1">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_3_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_3_length">
                          <label>
                            Display
                            <select name="DataTables_Table_3_length" aria-controls="DataTables_Table_3" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                            </select>Items
                          </label>
                        </div>
                        <div id="DataTables_Table_3_filter" class="dataTables_filter">
                          <label>
                            Search
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_3">
                          </label>
                        </div>
                        <table class="dataTB link dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_3" aria-describedby="DataTables_Table_3_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-sort="ascending" aria-label="Symbol: activate to sort column descending">Symbol</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="Description: activate to sort column ascending">Description</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="Server Time: activate to sort column ascending">Server Time</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="Weekday: activate to sort column ascending">Weekday</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="Monday Open: activate to sort column ascending">Monday Open</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="Friday Close: activate to sort column ascending">Friday Close</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label=": activate to sort column ascending"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">EU50</td>
                              <td>EU Stocks 50</td>
                              <td>GMT +2</td>
                              <td>09:05-22:55</td>
                              <td>09:05</td>
                              <td>22:55</td>
                              <td>
                                <a class="btn btn-green" href="/ar/equity-indices/euro50">READ MORE</a>
                              </td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">FRA40</td>
                              <td>France 40</td>
                              <td>GMT +2</td>
                              <td>09:05-22:55</td>
                              <td>09:05</td>
                              <td>22:55</td>
                              <td>
                                <a class="btn btn-green" href="/ar/equity-indices/cac40">READ MORE</a>
                              </td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">GER30</td>
                              <td>Germany 30</td>
                              <td>GMT +2</td>
                              <td>01:05-03:00,03:15-23:15,23:30-23:55</td>
                              <td>01:05</td>
                              <td>23:10</td>
                              <td>
                                <a class="btn btn-green" href="/ar/equity-indices/dax30">READ MORE</a>
                              </td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">JP225</td>
                              <td>Japan 225</td>
                              <td>GMT +2</td>
                              <td>01:05-23:15,23:30-23:55</td>
                              <td>01:05</td>
                              <td>23:10</td>
                              <td>
                                <a class="btn btn-green" href="/ar/equity-indices/nikkei225">READ MORE</a>
                              </td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">SWI20</td>
                              <td>Switzerland 20</td>
                              <td>GMT +2</td>
                              <td>09:05-22:55</td>
                              <td>09:05</td>
                              <td>22:55</td>
                              <td>
                                <a class="btn btn-green" href="/ar/equity-indices/smi20">READ MORE</a>
                              </td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">UK100</td>
                              <td>UK 100</td>
                              <td>GMT +2</td>
                              <td>01:05-23:15,23:30-23:55</td>
                              <td>01:05</td>
                              <td>23:10</td>
                              <td>
                                <a class="btn btn-green" href="/ar/equity-indices/ftse100">READ MORE</a>
                              </td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">US100</td>
                              <td>US Tech 100</td>
                              <td>GMT +2</td>
                              <td>01:05-23:15,23:30-23:55</td>
                              <td>01:05</td>
                              <td>23:10</td>
                              <td>
                                <a class="btn btn-green" href="/ar/equity-indices/nasdaq100">READ MORE</a>
                              </td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">US30</td>
                              <td>Wall Street 30</td>
                              <td>GMT +2</td>
                              <td>01:05-23:15,23:30-23:55</td>
                              <td>01:05</td>
                              <td>23:10</td>
                              <td>
                                <a class="btn btn-green" href="/ar/equity-indices/dow30">READ MORE</a>
                              </td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">US500</td>
                              <td>US 500</td>
                              <td>GMT +2</td>
                              <td>01:05-23:15,23:30-23:55</td>
                              <td>01:05</td>
                              <td>23:10</td>
                              <td>
                                <a class="btn btn-green" href="/ar/equity-indices/sp500">READ MORE</a>
                              </td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">USDX</td>
                              <td>US Dollar Index</td>
                              <td>GMT +2</td>
                              <td>03:05-23:55</td>
                              <td>03:05</td>
                              <td>23:10</td>
                              <td>
                                <a class="btn btn-green" href="/ar/equity-indices/usdx">READ MORE</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_3_info" role="status" aria-live="polite">Showing 1 to 10 ，of 10 entries</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_3_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_3" data-dt-idx="0" tabindex="0" id="DataTables_Table_3_previous">Previous</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_3" data-dt-idx="1" tabindex="0">1</a>
                          </span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_3" data-dt-idx="2" tabindex="0" id="DataTables_Table_3_next">Next</a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="dis60"></div>
            <div class="container-fluid">
              <div class="col-12">
                <p>* يتم احتساب معدلات المبادلة بناءً على سعر الصرف بين البنوك لعملة المؤشر. يتم احتساب المداولات الطويلة بسعر الفائدة بين البنوك بالإضافة إلى هامش الربح وتحصل المداولات القصيرة على السعر مطروحًا منه هامش الربح. يتم إجراء العملية في الساعة 00:00 (GMT + 2 المنطقة الزمنية ، يرجى ملاحظة أنه قد يتم تطبيق DST) ويمكن أن تستغرق عدة دقائق. من الأربعاء إلى الخميس يتم تحصيل رسوم المبادلة لمدة ثلاثة أيام</p>
                <p>** أقل. مستوى لوضع طلبات الشراء المعلقة بسعر السوق الحالي.</p>
                <p>
                  يتم حساب متطلبات الهامش لعقود الفروقات على النحو التالي: عدد العقود * حجم العقد * سعر الافتتاح * <a href="/cn/account-types">حساب تداول</a> نسبة الهامش
                  <a href="/cn/account-types">. </a>لا تعتمد على الرافعة المالية。
                </p>
                <p>يكون الهامش دائمًا 50٪ عندما تقوم بتحوط مراكز CFD وإذا كان مستوى الهامش لديك أعلى من 100٪</p>
                <p>تواريخ التقويم و المؤشرات قابلة للتغيير.</p>
              </div>
            </div>
          </div>
          <div class="container-fluid top60">
            <div class="row">
              <div class="col-12">
                <h2>تعديلات توزيعات الأرباح على المؤشرات النقدية （باستثناء GER30)</h2>
                <p>تخضع العقود مقابل الفروقات على المؤشرات النقدية لتعديلات توزيعات الأرباح. عندما يدفع أحد الأعضاء المكونين لمؤشر توزيعات أرباح لمساهميه ، سيتم إجراء تعديلات على توزيعات الأرباح على حسابات العملاء الذين يشغلون مركزًا في المؤشر في الساعة 00:00 (GMT + 2 المنطقة الزمنية ، يرجى ملاحظة أنه قد يتم تطبيق DST) على التوزيعات السابقة تاريخ. لا تخضع العقود مقابل الفروقات على Germany30 (GER30Cash) لتعديلات توزيعات الأرباح. لا تخضع العقود مقابل الفروقات على المؤشرات المستقبلية لتعديلات توزيعات الأرباح.</p>
                <p>سوف تتلقى صفقات الشراء مبلغًا يتم حسابه على النحو التالي:</p>
                <p><strong>تعديل توزيعات الأرباح = توزيعات أرباح المؤشر المعلنة × حجم المداولة بالعقد</strong></p>
                <p>
                  <strong>سيتم احتساب</strong> قيمة صفقات البيع
                  على النحو التالي:
                </p>
                <p><strong>تعديل توزيعات الأرباح = توزيعات أرباح المؤشر المعلنة × حجم المداولة بالعقد</strong></p>
              </div>
            </div>
          </div>

          <div class="container-fluid top60">
            <div class="row">
              <div class="col-12">
                <h2>حول تداول مؤشرات الأسهم</h2>
                <p>مؤشرات الأسهم هي مؤشرات فعلية لسوق الأوراق المالية ، والتي تقيس قيمة قسم معين من سوق الأوراق المالية. يتم حسابها على أساس المتوسط ​​المرجح لأسعار الأسهم المختارة ، والتي تنتمي إلى الفئة الفعلية التي تمثلها. يمكن أن تمثل مؤشرات الأسهم سوقًا معينًا للأسهم مثل NASDAQ ، أو يمكن أن تمثل مجموعة محددة من أكبر الشركات في دولة مثل S&amp;P 500 الأمريكية أو FTSE 100 البريطاني أو مؤشر Nikkei 225 الياباني.</p>
                <p>الغرض من المؤشرات هو إظهار الاتجاه العام لسوق أوراق مالية معين أو للاقتصاد العام لدولة ما. ومع ذلك ، نظرًا لأن مؤشرات الأسهم تتكون من مجموعة من الشركات ، فيمكن أن تتأثر كثيرًا بخطوة كبيرة لشركة معينة أو بخطوة كبيرة لقطاع معين من التجارة.</p>
                <p>يختلف الوزن الفعلي الممنوح لمؤشر الأسهم من سلة الأسهم الأساسية باختلاف المؤشرات المختلفة ، مما يعني أنه لا تستخدم جميعها نفس المعايير لاشتقاق النتيجة النهائية. الطريقتان الرئيسيتان لحساب الوزن الفعلي الذي ينتجه سهم أساسي معين للمؤشر نفسه هما ترجيح السعر ووزن الرسملة.</p>
                <p>يمكنك أن ترى أدناه الفئة التي تنتمي إليها بعض المؤشرات المشهورة جدًا:</p>
                <ul class="arrows">
                  <li>1. مؤشر Dow ​​Jones (US30) و Nikkei 225 (Japan225) هما مؤشرات مرجحة للسعر.</li>
                  <li>2. FTSE 100 (UK 100) ، ASX200 (أستراليا 200) ، مؤشر Hang Seng (هونج كونج 50 ، DAX (ألمانيا 30) ، CAC 40 (فرنسا 40) و IBEX35 (إسبانيا 35) هي بعض من مؤشرات الأسهم الرئيسية ترجيح الرسملة.</li>
                </ul>
                <div class="row top30"></div>
                <h3>مؤشرات الأسهم - من هم؟</h3>
                <div class="row top30"></div>
                <p><strong>S&amp;P 500 (US500)</strong> : تم تقديم مؤشر سوق الأسهم S &amp; P500 (US500) من قبل شركة الخدمات المالية الأمريكية Standard &amp; Poor's Financial Services LLC في عام 1957. وهو مؤشر رائد للأسهم الأمريكية ، وكواحد من أكثر المعايير استخدامًا سوق الأسهم الأمريكية بشكل عام ، فهي تغطي حوالي 75٪ من سوق الأسهم الأمريكية من خلال الرسملة.</p>
                <p><strong>ASX200 (Australia200)</strong> : ASX200 (Australia200): مؤشر ASX 200 (AUS200) هو مؤشر سوق الأسهم المرجح بالقيمة السوقية للأسهم المدرجة في بورصة الأوراق المالية الأسترالية ، والتي تنتمي إلى أكبر 15 مجموعة صرف في العالم بمتوسط ​​دوران يومي يبلغ 4.685 مليار دولار. يشمل المؤشر حصريًا الأسهم المدرجة في البورصة الأسترالية.</p>
                <p><strong>Nikkei 225 (JP225)</strong> : Nikkei 225 (JP225): يُعرف مؤشر Nikkei 225 (JP225) باسم Nikkei ، وهو مؤشر أسهم في بورصة طوكيو للأوراق المالية ، وهي ثالث أكبر بورصة في العالم برأسمال سوقي قدره 4.09 تريليون دولار أمريكي.</p>
                <p><strong>HSI (HK50)</strong> : HSI (HK50): مؤشر HIS (HK50) ، مؤشر Hang Seng ، هو مؤشر سوق الأوراق المالية المرجح للقيمة السوقية والذي تم استخدامه منذ عام 1969 لتسجيل التغييرات اليومية لأكبر 50 شركة موجودة في ثاني أكبر شركة في آسيا ( وسادس) أكبر بورصة في العالم ، سوق هونغ كونغ للأوراق المالية (HKEx).</p>
                <p><strong>FTSE 100 (UK100)</strong> : FTSE 100 (UK100): مؤشر FTSE 100 (UK100) يرمز إلى مؤشر Financial Times لبورصة الأوراق المالية 100 ، الذي يشمل 100 شركة ذات أعلى قيمة سوقية مدرجة في بورصة لندن.</p>
                <p><strong>NASDAQ 100 (US100)</strong> : NASDAQ 100 (US100): مؤشر NASDAQ الرئيسي هو NASDAQ Composite ، مع مجموعته الفرعية NASDAQ 100 (US100) التي تتكون من 107 أوراق مالية صادرة عن أقوى 107 شركة غير مالية مدرجة في بورصة ناسداك تبادل.</p>
                <p><strong>DJIA (US30)</strong> : DJIA (US30): DJIA (US30) ، ثاني أقدم مؤشر سوق للأوراق المالية في الولايات المتحدة بعد مؤشر Dow ​​Jones Transportation ، يظهر أداء 30 شركة أمريكية كبرى خلال جلسة تداول قياسية في سوق الأسهم. يتم حسابه بواسطة DJIA Divisor عن طريق قسمة المبلغ الإجمالي لجميع الأسعار لجميع الأسهم الثلاثين التي يمثلها.</p>
                <p><strong>DAX (GER30)</strong> : DAX (GER30): DAX (GER30) ، الذي يرمز إلى Deutscher Aktienindex ، هو الممثل الرئيسي لمؤشر البورصة الألماني في 30 شركة كبرى تتداول في بورصة فرانكفورت. يعتبر مؤشرًا رئيسيًا من حيث الجودة والربحية.</p>
                <p><strong>CAC 40 (FRA40)</strong> : CAC 40 (FRA40): مؤشر سوق الأسهم الفرنسي القياسي CAC 40 (FRA40) يرمز إلى Cotation Assistée en Continu ، ويمثل أعلى 40 قيمة لأعلى 100 سهم من أسهم الشركات ذات القيمة السوقية المتداولة في فرنسا سوق الأوراق المالية Euronext Paris ، ثاني أكبر بورصة في أوروبا.</p>
              </div>
            </div>
          </div>


          <div class="container-fluid top80">
            <div class="row">
              <div class="col-12">
                <div class="panel-group" id="accordion1">
                  <div class="panel panel-default">
                    <div class="panel-heading" @click="handleQueryIndex(0)">
                      <h4 class="panel-title">ما هي مؤشرات الأسهم (مؤشرات الأسهم)؟</h4>
                      <i class="fa pull-right" :class="{'fa-angle-up':queryIndex===0&&queryIndexFlag,'fa-angle-down':queryIndex!=0||!queryIndexFlag}"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse" v-if="queryIndex===0&&queryIndexFlag">
                      <div class="panel-body gray">
                        <p>خلال أي يوم تداول ، سترتفع أو تنخفض أسعار أسهم شركات معينة. نظرًا لأن مؤشر الأسهم عبارة عن مجموعة من سلة الأسهم الأساسية ، فإن سعره الفعلي سيتحرك لأعلى أو لأسفل بناءً على الديناميكيات الإجمالية (الصيغة الرياضية والإحصائية) التي يساهم كل سعر سهم في سعره النهائي.</p>
                        <p>فيما يلي نقاط مفيدة يجب فهمها عند تداول مؤشرات الأسهم:</p>
                        <ul class="ftr-faq">
                          <li>1. تخضع جميع الأسهم في مؤشر معين للأسهم (مثل Dow Jones) لعملية اختيار ويمكن استبدالها بشركة أخرى إذا تم التغلب على أدائها التجاري العام من الوافد الجديد. بمعنى آخر ، الشركات التي تنتمي إلى سلة ليست مضمونة أن تظل هي نفسها دائمًا.</li>
                          <li>2. يشمل تحديد تأثير سهم معين على مؤشر المخزون العام الحسابات والقواعد. لا يتم التعامل مع كل الأسهم التي تضاف إلى السلة على قدم المساواة. بكلمات بسيطة ، السعر الإجمالي لمؤشر الأسهم ليس مجرد إضافة لأسعار الأسهم وقسمة على عدد الأسهم.</li>
                          <li>3. يُظهر مؤشر الأسهم الإجماع العام ويمكن اعتباره مقياسًا لأداء سوق الأوراق المالية الإجمالي مع القيمة التاريخية.</li>
                          <li>4. كما هو مذكور في النقطة 2 ، نظرًا لأنه لا يتم التعامل مع جميع الأسهم التي تنتمي إلى السلة على قدم المساواة ، يتم إعطاء وزن أكبر للمؤشر من الشركات ذات رأس المال الأكبر. هذا يعني أنه إذا انخفض سهم شركة كبيرة معينة لأي سبب من الأسباب ، فإن المؤشر العام سيتبعه على الرغم من أن بقية الأسهم في السلة قد لا تنخفض.</li>
                          <li>5. كما هو مذكور في النقطة 1 ، تتغير الأسهم الأساسية التي تنتمي إلى السلة ، والتي تسمى المؤشر ، بمرور الوقت. خلال فترة تاريخية ، لا يمثل المؤشر نفسه دائمًا نفس سلة الأسهم.</li>
                          </ul>
                          </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" @click="handleQueryIndex(1)">
                      <h4 class="panel-title">كيف يعمل تداول مؤشرات الأسهم؟</h4>
                      <i class="fa pull-right" :class="{'fa-angle-up':queryIndex===1&&queryIndexFlag,'fa-angle-down':queryIndex!=1||!queryIndexFlag}"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse" v-if="queryIndex===1&&queryIndexFlag">
                      <div class="panel-body gray">
                        <p> خلال أي يوم تداول ، سترتفع أو تنخفض أسعار أسهم شركات معينة. نظرًا لأن مؤشر الأسهم عبارة عن تجميع لسلة من الأسهم الأساسية ، فإن سعره الفعلي سيتحرك لأعلى أو لأسفل بناءً على الديناميكيات العامة (الصيغة الحسابية والإحصائية) التي يساهم كل سعر سهم منها في سعره النهائي. </p>
                        <p>
                          فيما يلي نقاط مفيدة يجب فهمها عند تداول مؤشرات الأسهم: </p>
                          <ul class="ftr-faq">
                            <li> 1. تخضع جميع الأسهم في مؤشر معين للأسهم (مثل Dow Jones) لعملية اختيار ويمكن استبدالها بشركة أخرى إذا تم التغلب على أدائها التجاري العام من الوافد الجديد. بمعنى آخر ، الشركات التي تنتمي إلى سلة ليست مضمونة أن تكون هي نفسها دائمًا. </li>
                            <li> 2. يتضمن تحديد تأثير سهم معين على مؤشر الأسهم الإجمالي الحسابات والقواعد. لا يتم التعامل مع جميع الأسهم التي تضاف إلى السلة على قدم المساواة. بكلمات بسيطة ، السعر الإجمالي لمؤشر الأسهم ليس مجرد إضافة لأسعار الأسهم وقسمة على عدد الأسهم. </li>
                            <li> 3. يُظهر مؤشر الأسهم الإجماع العام ويمكن اعتباره معيارًا لأداء سوق الأوراق المالية الإجمالي بقيمة تاريخية. </li>
                            <li> 4. كما هو مذكور في النقطة 2 ، نظرًا لأنه لا يتم التعامل مع جميع الأسهم التي تنتمي إلى السلة على قدم المساواة ، يتم إعطاء وزن أكبر للمؤشر من الشركات ذات رأس المال الأكبر. هذا يعني أنه في حالة انخفاض سهم شركة كبيرة معينة لأي سبب من الأسباب ، فإن المؤشر العام سيتبعه على الرغم من أن بقية الأسهم في السلة قد لا تنخفض. </li>
                            <li> 5. كما هو مذكور في النقطة 1 ، تتغير الأسهم الأساسية التي تنتمي إلى السلة ، والتي تسمى المؤشر ، بمرور الوقت. خلال فترة تاريخية ، لا يمثل المؤشر نفسه دائمًا نفس سلة الأسهم. </li>
                          </ul>
                      </div>
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>

          <div class="dis70"></div>
        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        tableIndex2:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Equity indices-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleTableIndex2(val){
         this.tableIndex2 = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }



  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


 //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}



footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

.dataTB.link.dataTable{
   tr{
     td:last-child,th:last-child{display: none;}
   }
}

</style>
