<template>
  <div class="wrap" @click="hideMenu" style="direction:rtl; text-align:right;">
    <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
    <div class="site-canvas">
      <div class="container-fluid top-bar">
        <div class="container-fluid ">
          <div class="row">
            <div class="col-12">
              <h1 class="ltr text-left">
                معامله ی فارکس


              </h1>
              <ol class="breadcrumb">
                <li class="home">
                  <router-link to="/" class="home">NOBLE SKY</router-link>
                </li>
                <li class="post post-page current-item">
                  معامله ی فارکس
                </li>
              </ol>
            </div>
            <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
              <div class="option-nav">
                <router-link to="/contact">
                  <i class="contact"></i>
                  تماس با ما

                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid top60 hidden-xs" style="direction:rtl; text-align:right;">
        <ul class="nav-flexbox-tabs">
          <li class="active">
            <router-link to='/ir/forex-trading'>
              معامله ی فارکس
            </router-link>
          </li>
          <!-- <li>
           <router-link to='/stocks'>Stock CFDs</router-link>
           <a href="/cn/stocks">Stock CFDs</a></li> -->
          <!-- <li>
            <router-link to='/ir/commodities'>Commodities</router-link>
           </li>
          <li>
            <router-link to='/ir/equity-indices'>Equity indices</router-link>
          </li> -->
          <li>
            <router-link to='/ir/precious-metals'>فلزات گرانبها</router-link>
          </li>
          <li>
            <router-link to='/ir/energies'>
              انرژی ها
            </router-link>
          </li>
          <!-- <li>
          <router-link to='/shares'>shares</router-link>
          <a href="/cn/shares">shares</a></li> -->
        </ul>
        <div class="dis15"></div>
      </div>
      <div class="dis50 visible-sm"></div>
      <div class="container-fluid hidden-xs" style="direction:rtl; text-align:right;">
        <h2 class="top30">

          مزایای معامله در فارکس با
          <br />  Noble Sky



        </h2>
        <div class="container-fluid text-center top50">
          <div class="feature-item5">
            <i class="tfxfont3 xmDatabase-dollar fs100 red"></i>
            <p>
              بیش از 55 جفت

              <br> ارز اصلی و فرعی
            </p>
          </div>
          <div class="feature-item5">
            <i class="tfxfont3 xmChart-24h fs100 red"></i>
            <p>

              24ساعت
              شبانه روز 5 روز کاری هفته

            </p>


          </div>


          <div class="feature-item5 hidden-xs">
            <i class=" xmLeverage-200 fs100 red"></i>
            <p>
              لوریج 1:200
            </p>
          </div>
          <div class="feature-item5 hidden-xs">
            <i class="tfxfont3 xmLink fs100 red"></i>

            <p>

              اسپرد
              مناسب بدون ریکوت

            </p>
          </div>
          <div class="feature-item5 hidden-xs hidden-md">
            <i class="tfxfont3 xmClock fs100 red"></i>
            <p>

              معامله
              در سیال ترین بازار دنیا

            </p>

          </div>
          <div class="feature-item5 hidden-xs">
            <i class="tfxfont3 xmPercent fs100 red"></i>
            <p>معامله در محیطی بدون هزینه های پنهان</p>
          </div>
        </div>
      </div>
      <div class="dis80 visible-xs"></div>
      <div class="dis60 hidden-xs"></div>
      <div class="container-fluid " style="direction:rtl; text-align:right;">
        <div class="box-text-btn">
          <div class="row">
            <div class="col-12">
              <br>فارکس، فلزات گران بها و انرژی ها را در Noble Sky معامله کنید
            </div>
            <div class="col-12">
              <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">افتتاح حساب</router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid top80" style="direction:rtl; text-align:right;">
        <div class="row">
          <div class="col-md-12" style="direction:rtl; text-align:right;">
            <h2>اسپردها/ شرایط معاملات فارکس</h2>
          </div>
        </div>
        <div class="container-fluid">
          <div class="col-md-12" style="direction:rtl; text-align:right;">
            <ul id="tabs4" class="nav nav-tabs top20" role="tablist">
              <li :class="{active:tableIndex===0}">
                <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex(0)">حساب های استاندارد</a>
              </li>
              <!-- <li :class="{active:tableIndex==1}">
              <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex(1)">For Micro Accounts</a></li> -->
              <!-- <li :class="{active:tableIndex==2}">
                <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex(2)">NOBLE SKY Ultra Low Standard Accounts</a></li>
              <li :class="{active:tableIndex==3}">
                <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex(3)">NOBLE SKY Ultra Low Micro Accounts</a></li> -->
            </ul>
            <div id="tabContent" class="tab-content">
              <div class="tab-pane active" id="standard" v-if="tableIndex===0">
                <div class="dis30"></div>
                <div class="table-wrap">
                  <div id="DataTables_Table_0_wrapper" style="padding-bottom:2em;" class="dataTables_wrapper no-footer">
                    <div class="dataTables_length" id="DataTables_Table_0_length">
                      <label>
                        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                      </label>
                    </div>
                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                      <label>
                        Search
                        <input type="search" class="" placeholder="" aria-controls="DataTables_Table_0">
                      </label>
                    </div>
                    <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                      <thead>
                        <tr role="row">
                          <th colspan="1" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 116px;" aria-sort="ascending" aria-label="Currency Pair: activate to sort column descending">نام جفت ارز</th>
                          <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 93px;" aria-label="Minimum Price Fluctuaion: activate to sort column ascending">
                            حداقل قیمت نوسان

                          </th>
                          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 75px;" aria-label="Spreads as low as*: activate to sort column ascending">
                            اسپرد
                            <br>ها*
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 103px;" aria-label="Average Spreads*: activate to sort column ascending">میانگین اسپرد*</th>
                          <th style="direction: ltr; width: 133px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Long Swap Value(Points)**: activate to sort column ascending">
                            سواپ خرید
                            <br>(هر پوینت)**
                          </th>
                          <th style="direction: ltr; width: 133px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="short Swap Value(Points)**: activate to sort column ascending">
                            سواپ فروش
                            <br>(هر پوینت)**
                          </th>
                          <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 114px;" aria-label="Value of 1 lot: activate to sort column ascending">ارزش 1 لات</th>
                          <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 142px;" aria-label="Limit and Stop Levels***: activate to sort column ascending">سطوح استاپ و لیمیت***</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">AUDCAD</td>
                          <td>0.00001</td>
                          <td>0.00028</td>
                          <td>0.0003</td>
                          <td style="direction:ltr;">-4.45</td>
                          <td style="direction:ltr;">-3.37</td>
                          <td>100000 AUD</td>
                          <td>0.0016</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">AUDCHF</td>
                          <td>0.00001</td>
                          <td>0.00027</td>
                          <td>0.0003</td>
                          <td style="direction:ltr;">-1.46</td>
                          <td style="direction:ltr;">-3.96</td>
                          <td>100000 AUD</td>
                          <td>0.0016</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">AUDJPY</td>
                          <td>0.001</td>
                          <td>0.032</td>
                          <td>0.033</td>
                          <td style="direction:ltr;">-2.84</td>
                          <td style="direction:ltr;">-3.34</td>
                          <td>100000 AUD</td>
                          <td>0.099</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">AUDNZD</td>
                          <td>0.00001</td>
                          <td>0.00037</td>
                          <td>0.0004</td>
                          <td style="direction:ltr;">-5.09</td>
                          <td style="direction:ltr;">-3.79</td>
                          <td>100000 AUD</td>
                          <td>0.0021</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">AUDUSD</td>
                          <td>0.00001</td>
                          <td>0.00016</td>
                          <td>0.00019</td>
                          <td style="direction:ltr;">-2.15</td>
                          <td style="direction:ltr;">-1.85</td>
                          <td>100000 AUD</td>
                          <td>0.0005</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">CADCHF</td>
                          <td>0.00001</td>
                          <td>0.00035</td>
                          <td>0.00037</td>
                          <td style="direction:ltr;">-1.13</td>
                          <td style="direction:ltr;">-4.55</td>
                          <td>100000 CAD</td>
                          <td>0.0018</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">CADJPY</td>
                          <td>0.001</td>
                          <td>0.031</td>
                          <td>0.034</td>
                          <td style="direction:ltr;">-2.6</td>
                          <td style="direction:ltr;">-3.9</td>
                          <td>100000 CAD</td>
                          <td>0.1</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">CHFJPY</td>
                          <td>0.001</td>
                          <td>0.028</td>
                          <td>0.033</td>
                          <td style="direction:ltr;">-6.69</td>
                          <td style="direction:ltr;">-2.65</td>
                          <td>100000 CHF</td>
                          <td>0.12</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">CHFSGD</td>
                          <td>0.00001</td>
                          <td>0.0024</td>
                          <td>0.0025</td>
                          <td style="direction:ltr;">-15.05</td>
                          <td style="direction:ltr;">-7.45</td>
                          <td>100000 CHF</td>
                          <td>0.0028</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">EURAUD</td>
                          <td>0.00001</td>
                          <td>0.00027</td>
                          <td>0.0003</td>
                          <td style="direction:ltr;">-9.42</td>
                          <td style="direction:ltr;">-3.92</td>
                          <td>100000 EUR</td>
                          <td>0.0012</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">EURCAD</td>
                          <td>0.00001</td>
                          <td>0.00029</td>
                          <td>0.00033</td>
                          <td style="direction:ltr;">-9.21</td>
                          <td style="direction:ltr;">-3.61</td>
                          <td>100000 EUR</td>
                          <td>0.0014</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">EURCHF</td>
                          <td>0.00001</td>
                          <td>0.00023</td>
                          <td>0.00027</td>
                          <td style="direction:ltr;">-3.67</td>
                          <td style="direction:ltr;">-5.07</td>
                          <td>100000 EUR</td>
                          <td>0.00062</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td class="not-available sorting_1" tabindex="0">EURDKK****</td>
                          <td>0.00001</td>
                          <td>0.00265</td>
                          <td>0.0035</td>
                          <td style="direction:ltr;">-59.71</td>
                          <td style="direction:ltr;">-52.41</td>
                          <td>100000 EUR</td>
                          <td>0.0026</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">EURGBP</td>
                          <td>0.00001</td>
                          <td>0.00018</td>
                          <td>0.0002</td>
                          <td style="direction:ltr;">-3.9</td>
                          <td style="direction:ltr;">-1.1</td>
                          <td>100000 EUR</td>
                          <td>0.0005</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td class="not-available sorting_1" tabindex="0">EURHKD****</td>
                          <td>0.00001</td>
                          <td>0.0032</td>
                          <td>0.0033</td>
                          <td style="direction:ltr;">-87.79</td>
                          <td style="direction:ltr;">-50.59</td>
                          <td>100000 EUR</td>
                          <td>0.0052</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">EURHUF</td>
                          <td>0.001</td>
                          <td>0.326</td>
                          <td>0.59</td>
                          <td style="direction:ltr;">-39.25</td>
                          <td style="direction:ltr;">-14.85</td>
                          <td>100000 EUR</td>
                          <td>0.6</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">EURJPY</td>
                          <td>0.001</td>
                          <td>0.021</td>
                          <td>0.023</td>
                          <td style="direction:ltr;">-4.6</td>
                          <td style="direction:ltr;">-2.3</td>
                          <td>100000 EUR</td>
                          <td>0.054</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">EURNOK</td>
                          <td>0.00001</td>
                          <td>0.0067</td>
                          <td>0.0097</td>
                          <td style="direction:ltr;">-103.35</td>
                          <td style="direction:ltr;">-61.35</td>
                          <td>100000 EUR</td>
                          <td>0.0062</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">EURNZD</td>
                          <td>0.00001</td>
                          <td>0.00039</td>
                          <td>0.0004</td>
                          <td style="direction:ltr;">-9.77</td>
                          <td style="direction:ltr;">-4.77</td>
                          <td>100000 EUR</td>
                          <td>0.0022</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">EURPLN</td>
                          <td>0.00001</td>
                          <td>0.0045</td>
                          <td>0.0065</td>
                          <td style="direction:ltr;">-42.27</td>
                          <td style="direction:ltr;">-25.57</td>
                          <td>100000 EUR</td>
                          <td>0.0054</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td class="not-available sorting_1" tabindex="0">EURRUB****</td>
                          <td>0.0001</td>
                          <td>0.4149</td>
                          <td>0.456</td>
                          <td style="direction:ltr;">-229.14</td>
                          <td style="direction:ltr;">-22.75</td>
                          <td>100000 EUR</td>
                          <td>0.034</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">EURSEK</td>
                          <td>0.00001</td>
                          <td>0.0048</td>
                          <td>0.0072</td>
                          <td style="direction:ltr;">-89.18</td>
                          <td style="direction:ltr;">-67.58</td>
                          <td>100000 EUR</td>
                          <td>0.0056</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">EURSGD</td>
                          <td>0.00001</td>
                          <td>0.00161</td>
                          <td>0.0017</td>
                          <td style="direction:ltr;">-15.07</td>
                          <td style="direction:ltr;">-9.17</td>
                          <td>100000 EUR</td>
                          <td>0.0014</td>
                        </tr>
                        <tr role="row" class="even">
                          <td class="not-available sorting_1" tabindex="0">EURTRY****</td>
                          <td>0.00001</td>
                          <td>0.01175</td>
                          <td>0.021</td>
                          <td style="direction:ltr;">-319.76</td>
                          <td style="direction:ltr;">71.34</td>
                          <td>100000 EUR</td>
                          <td>0.003</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">EURUSD</td>
                          <td>0.00001</td>
                          <td>0.00016</td>
                          <td>0.00017</td>
                          <td style="direction:ltr;">-5.49</td>
                          <td style="direction:ltr;">-0.99</td>
                          <td>100000 EUR</td>
                          <td>0.0004</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">EURZAR</td>
                          <td>0.00001</td>
                          <td>0.01144</td>
                          <td>0.0182</td>
                          <td style="direction:ltr;">-407.21</td>
                          <td style="direction:ltr;">114.29</td>
                          <td>100000 EUR</td>
                          <td>0.0258</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">GBPAUD</td>
                          <td>0.00001</td>
                          <td>0.00036</td>
                          <td>0.00043</td>
                          <td style="direction:ltr;">-6.84</td>
                          <td style="direction:ltr;">-8.04</td>
                          <td>100000 GBP</td>
                          <td>0.0016</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">GBPCAD</td>
                          <td>0.00001</td>
                          <td>0.00047</td>
                          <td>0.00056</td>
                          <td style="direction:ltr;">-7.53</td>
                          <td style="direction:ltr;">-6.63</td>
                          <td>100000 GBP</td>
                          <td>0.002</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">GBPCHF</td>
                          <td>0.00001</td>
                          <td>0.0003</td>
                          <td>0.00046</td>
                          <td style="direction:ltr;">-2.25</td>
                          <td style="direction:ltr;">-7.55</td>
                          <td>100000 GBP</td>
                          <td>0.00178</td>
                        </tr>
                        <tr role="row" class="even">
                          <td class="not-available sorting_1" tabindex="0">GBPDKK****</td>
                          <td>0.00001</td>
                          <td>0.00481</td>
                          <td>0.0055</td>
                          <td style="direction:ltr;">-51.78</td>
                          <td style="direction:ltr;">-73.28</td>
                          <td>100000 GBP</td>
                          <td>0.006</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">GBPJPY</td>
                          <td>0.001</td>
                          <td>0.032</td>
                          <td>0.036</td>
                          <td style="direction:ltr;">-2.86</td>
                          <td style="direction:ltr;">-4.56</td>
                          <td>100000 GBP</td>
                          <td>0.108</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">GBPNOK</td>
                          <td>0.00001</td>
                          <td>0.00835</td>
                          <td>0.0118</td>
                          <td style="direction:ltr;">-94.97</td>
                          <td style="direction:ltr;">-86.97</td>
                          <td>100000 GBP</td>
                          <td>0.0146</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">GBPNZD</td>
                          <td>0.00001</td>
                          <td>0.00062</td>
                          <td>0.0007</td>
                          <td style="direction:ltr;">-7.68</td>
                          <td style="direction:ltr;">-8.38</td>
                          <td>100000 GBP</td>
                          <td>0.0036</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">GBPSEK</td>
                          <td>0.00001</td>
                          <td>0.00815</td>
                          <td>0.0134</td>
                          <td style="direction:ltr;">-79.58</td>
                          <td style="direction:ltr;">-93.38</td>
                          <td>100000 GBP</td>
                          <td>0.014</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">GBPSGD</td>
                          <td>0.00001</td>
                          <td>0.00276</td>
                          <td>0.0031</td>
                          <td style="direction:ltr;">-14.04</td>
                          <td style="direction:ltr;">-13.14</td>
                          <td>100000 GBP</td>
                          <td>0.0034</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">GBPUSD</td>
                          <td>0.00001</td>
                          <td>0.0002</td>
                          <td>0.00024</td>
                          <td style="direction:ltr;">-3.88</td>
                          <td style="direction:ltr;">-3.08</td>
                          <td>100000 GBP</td>
                          <td>0.00052</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">NZDCAD</td>
                          <td>0.00001</td>
                          <td>0.00038</td>
                          <td>0.00041</td>
                          <td style="direction:ltr;">-3.92</td>
                          <td style="direction:ltr;">-3.32</td>
                          <td>100000 NZD</td>
                          <td>0.0018</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">NZDCHF</td>
                          <td>0.00001</td>
                          <td>0.00037</td>
                          <td>0.0004</td>
                          <td style="direction:ltr;">-1.21</td>
                          <td style="direction:ltr;">-3.81</td>
                          <td>100000 NZD</td>
                          <td>0.002</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">NZDJPY</td>
                          <td>0.001</td>
                          <td>0.025</td>
                          <td>0.03</td>
                          <td style="direction:ltr;">-2.56</td>
                          <td style="direction:ltr;">-3.16</td>
                          <td>100000 NZD</td>
                          <td>0.14</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">NZDSGD</td>
                          <td>0.00001</td>
                          <td>0.00241</td>
                          <td>0.0028</td>
                          <td style="direction:ltr;">-6.9</td>
                          <td style="direction:ltr;">-6.7</td>
                          <td>100000 NZD</td>
                          <td>0.0022</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">NZDUSD</td>
                          <td>0.00001</td>
                          <td>0.00025</td>
                          <td>0.00027</td>
                          <td style="direction:ltr;">-2.16</td>
                          <td style="direction:ltr;">-1.46</td>
                          <td>100000 NZD</td>
                          <td>0.0008</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">SGDJPY</td>
                          <td>0.001</td>
                          <td>0.195</td>
                          <td>0.2</td>
                          <td style="direction:ltr;">-5.78</td>
                          <td style="direction:ltr;">-5.8</td>
                          <td>100000 SGD</td>
                          <td>0.14</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">USDCAD</td>
                          <td>0.00001</td>
                          <td>0.0002</td>
                          <td>0.00022</td>
                          <td style="direction:ltr;">-3.46</td>
                          <td style="direction:ltr;">-3.86</td>
                          <td>100000 USD</td>
                          <td>0.00052</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">USDCHF</td>
                          <td>0.00001</td>
                          <td>0.00019</td>
                          <td>0.00021</td>
                          <td style="direction:ltr;">-0.12</td>
                          <td style="direction:ltr;">-4.92</td>
                          <td>100000 USD</td>
                          <td>0.0005</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td class="not-available sorting_1" tabindex="0">USDCNH****</td>
                          <td>0.0001</td>
                          <td>0.0034</td>
                          <td>0.0036</td>
                          <td style="direction:ltr;">-11.59</td>
                          <td style="direction:ltr;">1.41</td>
                          <td>100000 USD</td>
                          <td>0.005</td>
                        </tr>
                        <tr role="row" class="even">
                          <td class="not-available sorting_1" tabindex="0">USDDKK****</td>
                          <td>0.00001</td>
                          <td>0.00332</td>
                          <td>0.0036</td>
                          <td style="direction:ltr;">-36.98</td>
                          <td style="direction:ltr;">-57.68</td>
                          <td>100000 USD</td>
                          <td>0.0034</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td class="not-available sorting_1" tabindex="0">USDHKD****</td>
                          <td>0.0001</td>
                          <td>0.0026</td>
                          <td>0.0028</td>
                          <td style="direction:ltr;">-5.98</td>
                          <td style="direction:ltr;">-5.7</td>
                          <td>100000 USD</td>
                          <td>0.0026</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">USDHUF</td>
                          <td>0.001</td>
                          <td>0.28</td>
                          <td>0.51</td>
                          <td style="direction:ltr;">-27.5</td>
                          <td style="direction:ltr;">-18.7</td>
                          <td>100000 USD</td>
                          <td>0.52</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">USDJPY</td>
                          <td>0.001</td>
                          <td>0.015</td>
                          <td>0.016</td>
                          <td style="direction:ltr;">-1.88</td>
                          <td style="direction:ltr;">-3.88</td>
                          <td>100000 USD</td>
                          <td>0.04</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">USDMXN</td>
                          <td>0.00001</td>
                          <td>0.0178</td>
                          <td>0.0239</td>
                          <td style="direction:ltr;">-415.37</td>
                          <td style="direction:ltr;">84.63</td>
                          <td>100000 USD</td>
                          <td>0.0103</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">USDNOK</td>
                          <td>0.00001</td>
                          <td>0.0067</td>
                          <td>0.0087</td>
                          <td style="direction:ltr;">-70.02</td>
                          <td style="direction:ltr;">-70.62</td>
                          <td>100000 USD</td>
                          <td>0.0078</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">USDPLN</td>
                          <td>0.00001</td>
                          <td>0.004</td>
                          <td>0.0052</td>
                          <td style="direction:ltr;">-28.61</td>
                          <td style="direction:ltr;">-29.31</td>
                          <td>100000 USD</td>
                          <td>0.007</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td class="not-available sorting_1" tabindex="0">USDRUB****</td>
                          <td>0.0001</td>
                          <td>0.4155</td>
                          <td>0.437</td>
                          <td style="direction:ltr;">-180.55</td>
                          <td style="direction:ltr;">-34.55</td>
                          <td>100000 USD</td>
                          <td>0.034</td>
                        </tr>
                        <tr role="row" class="even">
                          <td tabindex="0" class="sorting_1">USDSEK</td>
                          <td>0.00001</td>
                          <td>0.0052</td>
                          <td>0.0082</td>
                          <td style="direction:ltr;">-58.8</td>
                          <td style="direction:ltr;">-74.6</td>
                          <td>100000 USD</td>
                          <td>0.0082</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">USDSGD</td>
                          <td>0.00001</td>
                          <td>0.00193</td>
                          <td>0.0021</td>
                          <td style="direction:ltr;">-10.14</td>
                          <td style="direction:ltr;">-10.34</td>
                          <td>100000 USD</td>
                          <td>0.0014</td>
                        </tr>
                        <tr role="row" class="even">
                          <td class="not-available sorting_1" tabindex="0">USDTRY****</td>
                          <td>0.00001</td>
                          <td>0.0088</td>
                          <td>0.014</td>
                          <td style="direction:ltr;">-346.04</td>
                          <td style="direction:ltr;">133.96</td>
                          <td>100000 USD</td>
                          <td>0.0028</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">USDZAR</td>
                          <td>0.0001</td>
                          <td>0.0112</td>
                          <td>0.014</td>
                          <td style="direction:ltr;">-31.51</td>
                          <td style="direction:ltr;">6.49</td>
                          <td>100000 USD</td>
                          <td>0.0206</td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">نمایش صفحه ی 1 از 57</div>
                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                      <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">قبلی</a>
                      <span>
                        <a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a>
                      </span>
                      <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">بعدی</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="dis60"></div>
        <div class="container-fluid">
          <div class="col-sm-4">
            <p>
              <strong>
                RUBTRADING ساعت های
                <br>(منطقه زمانی GMT +2، لطفا توجه داشته باشید ممکن است تغییر ساعتی فصلی اعمال شود)
              </strong>
              <br>
              <i class="fa fa-clock-o red"></i>  دوشنبه - جمعه: 10:05 - 17:55
            </p>
          </div>
          <div class="col-sm-4">
            <p>
              <strong>
                ساعت های معامله در فارکس
                <br>(منطقه زمانی GMT +2، لطفا توجه داشته باشید ممکن است تغییر ساعتی فصلی اعمال شود)
              </strong>
              <br>
              <i class="fa fa-clock-o red"></i>دوشنبه - جمعه:: 00:05 – 23:50
            </p>
          </div>
          <div class="dis30"></div>
          <div class="col-md-12" style="direction:rtl; text-align:right;">
            <p>* اسپردهایی که مشاهده میفرمائید مجموع اسپردها در یک روز می باشد. در شرایط عادی بازار میزان اسپردها کمتر هم می شود. با این وجود ممکن است اسپردها در پایان روز کاری یا آخر هفته ها که نقدینگی کمتر می باشد، به دلیل اعلام اخبار مهم سیاسی و وقایع غیرمنتظره که منجر به شرایط بی ثبات و پرنوسان بازار می شود افزایش پیدا کنند. اگر Noble Sky را برای معامله انتخاب کرده باشید طرف مقابل شما تریدینگ پوینت می باشد. معاملات شما منطبق با بازار بوده و هرگونه مواجهه با موارد از پیش تعیین شده تحت پوشش اسپرد لحظه ای توسط ارائه دهندگان نقدینگی قرار می گیرند. باوجوداین در شرایط بی ثبات بازار ارائه دهندگان نقدینگی اسپرد بالاتری  را نسبت به شرایط نرمال ارائه می دهند. در چنین شرایطی تریدینگ پوینت ناچار به افزایش اسپردها و اطلاع به مشتریان خود می باشد.</p>
            <p>** اگر معامله ی باز تا روز بعد دشته باشید، مبلغ مشخصی را پرداخت یا دریافت خواهید کرد که بر اساس اختلاف نرخ بهره دو ارز در آن جفت ارز محاسبه می شود. این عملیات سواپ نامیده می شود. سواپ در ترمینال پلتفرم مشتری در بخش مبلغ دپازیت بطور اتوماتیک اعمال می شود. این عملیات در ساعت 00:00 (منطقه زمانی GMT +2، در نظر داشته باشید زمان استفده از روشنایی روز هم ممکن است اعمال شده باشد) اجرا شده و چند دقیقه ای زمان میبرد. از چهارشنبه تا پنجشنبه 3 روز حساب می شود.</p>
            <p>***حداقل سطح اردرگذاری پندینگ در نرخ لحظه ای بازار..</p>
            <p> لوریج EURDKK, EURHKD, GBPDKK, USDDKK, USDHKD, USDCNH, EURRUB  و USDRUB در تمامی حساب ها ی موجود در پلتفرم متاتریدر5 روی 1:50 و برای USDTRY و EURTRY روی 1:200 تنظیم شده است.</p>

          </div>
        </div>
      </div>
      <!-- <div class="container-fluid ">
        <div class="row">
          <div class="col-md-12" style="direction:rtl; text-align:right;">
            <p>For all account types, the leverage is capped at 1:400 for all CHF currency pairs on the MT5 platforms.。</p>
          </div>
        </div>
      </div> -->
      <div class="container-fluid top80" style="direction:rtl; text-align:right;">
        <div class="row">
          <div class="col-md-12" style="direction:rtl; text-align:right;">
            <h2>درباره ی فارکس</h2>
            <p>معاملات فارکس یا معاملات ارزی، که با حروف اختصاری هم می توان آن ها را نامید، تمام اصطلاحاتی هستند که بازار مبادلات ارزی را همانطور که ما آن را میشناسیم توصیف می کند، که به زبان ساده تر به بازار جهانی و غیرمتمرکز اشاره دارد که در آن افراد، شرکت ها و موسسات مالی ارزها را در برابر همدیگر با نرخ شناور مبادله میکنند. </p>
            <p>سیستم نرخ های شناور رایج که امروزه با آن ها آشنا هستیم؛ پس از جنگ جهانی دوم به تصویب رسید و از آن زمان به بعد اجرا می شود. یک سیستم مدیریت پولی به نام توافق نامه برتون وودز قبل از بازار معاملاتی فارکس وجود داشت که در آن قیمت های مبادله ارز در برابر یکدیگر ملاک عمل بوده و با ذخایر طلای در اختیار دو کشور که مبدأ ارزهای واقعی مربوط به یک معامله بودند در ارتباط مستقیم بودند.</p>
            <div class="dis20"></div>
            <h3>بازار معاملاتی فارکس</h3>
            <div class="dis10"></div>
            <p>بازار تجارت فارکس، به همان شکل که امروزی؛ بنابر عوامل مختلف البته نه صرفا به آن دلایل شامل سهولت انجام معاملات از طریق اینترنت، توسعه ی روش های تحقیقاتی مدرن، سهولت ارتباطات بین المللی و نقل و انتقالات مدرن که دنیا را به مکانی کوچکتر تبدیل کرده است  بزرگترین و شناورترین بازار جهان است.</p>
            <p>با تبدیل شدن دنیا به مکانی کوچک تر و جهانی تر انسان ها، کالا و خدمات اتوماتیک وار بسیار سریع تر و راحت تر در گردش هستند که برای این اتفاق وجود ارزهایی که باید در برابر یکدیگر معامله شوند ضروری است. تمام این عوامل بازار رو به رشد معاملات فارکس را تعریف کرده اند که به رشد ادامه میدهد و از پویایی، نقدینگی و واکنش پذیری بیشتری برخوردار خواهد شد.</p>
            <div class="dis20"></div>
            <h3>معاملات آنلاین فارکس</h3>
            <div class="dis10"></div>
            <p>میان اصلی ترین مشارکت کنندگان بازار معاملات فارکس، یکی از بخشهای در حال رشد کل سهام شرکت کنندگان در بازار، بازرگانان ارزهای خارجی (افراد) هستند که به دلایل بسیار سوداگری با هدف نهایی کسب درآمد و سود حاصل از نوسانات ارزی (تغییرات بازار) یا پوشش ریسک ناخواسته ی ارزی در معاملات آنلاین فارکس شرکت می کنند.</p>
            <p>این بخش از مشارکت کنندگان در بازار فارکس از طریق کارگزاری (مانند Noble Sky) یا بانک ها در این بازار فعالیت می کنند. در این خصوص بانک یا کارگزاری حساب معاملاتی برای مشتریان انفرادی با توجه به ارز پایه (عموما ارز محلی منطقه ی مورد سکونت) افتتاح و صادر خواهد کرد و مشتریان امکان خرید و فروش ارزها را بصورت تلفنی یا آنلاین با هدف حصول سود را خواهند داشت.</p>
            <div class="dis20"></div>
            <h3>معامله فارکس از طریق کارگزاری</h3>
            <div class="dis10"></div>
            <p>شرکت در بازار معاملات فارکس از طریق کارگزاری مانند Noble Sky به معنی اجازه دسترسی مشتری به قیمت واقعی بازار فارکس و قیمت خرید و فروش تعیین شده تعدادی از ابزارها از طریق پلتفرم تجارت آنلاین می باشد. مشتری در انتخاب قیمت خرید یا فروش و بالعکس مختار می باشند و می توانند معاملات خود را هر زمانی که می خواهند اجرا کنند.</p>
          </div>
        </div>
      </div>
      <div class="container-fluid top80" style="direction:rtl; text-align:right;">
        <div class="row">
          <div class="col-md-12" style="direction:rtl; text-align:right;">
            <div class="panel-group" id="accordion1">
              <div class="panel panel-default">
                <div class="panel-heading" @click="handleQueryIndex(0)">
                  <h4 class="panel-title">معامله فارکس چیست؟</h4>
                  <i class="fa pull-right" :class="{'fa-angle-up':queryIndex===0&&queryIndexFlag,'fa-angle-down':queryIndex!=0||!queryIndexFlag}"></i>
                </div>
                <div id="a1collapse1" class="panel-collapse collapse" v-if="queryIndex===0&&queryIndexFlag">
                  <div class="panel-body gray">
                    <p>معامله ی فارکس که با نام معامله ی ارز نیز شناخته می شود، به خرید یک ارز مشخص و فروش یک ارز دیگر درهمان لحظه اطلاق می شود. </p>
                    <p>هدف نهایی می تواند یکی از موارد ذیل، البته نه حتما، باشد:</p>
                    <ul class="ftr-faq">
                      <li style="direction:ltr">
                        مبادله ی ارز A مثلا دلار آمریکا) با ارز )B مثلا یورو) به منظور مسافرت)
                        -
                      </li>
                      <li style="direction:ltr">
                        مبادله ی ارز A مثلا دلار آمریکا) با ارز )B مثلا یورو) به منظور معامله)
                        -
                      </li>
                      <li style="direction:ltr">	مبادله ی ارز A مثلا دلار آمریکا) با ارز )B مثلا یورو) به منظور احتکار با هدف کسب سود.) -</li>
                    </ul>
                    <p>بنابردلایل ذکر شده، نه قطعی و حتمی، بازار معاملاتی فارکس شناورترین و پرنوسان ترین بازار دنیا با گردش مالی روزانه بالای 5 تریلیون دلار می باشد.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" @click="handleQueryIndex(1)">
                  <h4 class="panel-title">فارکس چگونه فعالیت می کند؟</h4>
                  <i class="fa pull-right" :class="{'fa-angle-up':queryIndex===1&&queryIndexFlag,'fa-angle-down':queryIndex!=1||!queryIndexFlag}"></i>
                </div>
                <div id="a1collapse1" class="panel-collapse collapse" v-if="queryIndex===1&&queryIndexFlag">
                  <div class="panel-body gray">
                    <p>بازار فارکس شامل مبادله ی ارزها با یکدیگر می باشد. به عنوان مثال مشتری های Noble Sky یک ارز را در برابر ارز دیگر با توجه به نرخ لحظه ای بازار می فروشند.</p>
                    <p>برای اینکه قادر به معامله باشید  بایستی افتتاح حساب انجام داده و حساب خود را با ارز A شارژ کنید و سپس با ارزB با هدف بلند مدت یا کوتاه مدت  و هدف نهایی متناسب با آن متفاوت مبادله کنید. </p>
                    <p>از آنجاییکه معاملات فارکس بر روی جفت ارز انجام می شود (به معنی ارزش قیمت ارز پایه در برابر یک ارز دیگر)، بنابراین ارز اول به نام ارز پایه و ارز دوم ارز ثانوی نامیده می شوند.</p>
                    <p>به عنوان نمونه اگر نرخ برابری EUR/USD 1.2345 باشد به این معنی می باشد که 1 یورو برابر با 1.2345 دلار است.  </p>
                    <p>معاملات ارزی بصورت 24 ساعت شبانه روز از ساعت 22:00  شنبه به وقت گرینویچ لندن تا ساعت 22:00  جمعه به وقت گرینویچ لندن با بیشترین ارزهای ی معامله شده در مراکز مالی مهم لندن، نیویورک، توکیو، زوریخ، فرانکفورت، پاریس، سیدنی، سنگاپور و هنگ کنگ قابل اجرا می باشد.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" @click="handleQueryIndex(2)">
                  <h4 class="panel-title">عوامل تاثیرگذار بر قیمت در فارکس</h4>
                  <i class="fa pull-right" :class="{'fa-angle-up':queryIndex===2&&queryIndexFlag,'fa-angle-down':queryIndex!=2||!queryIndexFlag}"></i>
                </div>
                <div id="a1collapse2" class="panel-collapse collapse" v-if="queryIndex===2&&queryIndexFlag">
                  <div class="panel-body gray">
                    <p>برای درک کامل تر 6 عامل فوق باید در نظرداشته باشید که ارزها در برابر یکدیگر معامله می شوند. بنابراین وقتی یک ارز سقوط می کند ارز دیگر افزایش می یابد در حالی که ارزش قیمت هر ارز همیشه در برابر ارز دیگر اعلام می شود.</p>
                    <ul class="ftr-faq">
                      <li>
                        1.	اختلاف تورم
                      </li>
                      <li>
                        2.	اختلاف نرخ بهره
                      </li>
                      <li>
                        3.	کسری حساب جاری
                      </li>
                      <li>
                        4.	بدهی عمومی
                      </li>
                      <li>
                        5.	شرایط معامله
                      </li>
                      <li>
                        6.	ثبات اقتصادی و سیاسی
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" @click="handleQueryIndex(3)">
                  <h4 class="panel-title">نرم افزار معاملاتی فارکس چیست؟</h4>
                  <i class="fa pull-right" :class="{'fa-angle-up':queryIndex==3&&queryIndexFlag,'fa-angle-down':queryIndex!=3||!queryIndexFlag}"></i>
                </div>
                <div id="a1collapse3" class="panel-collapse collapse" v-if="queryIndex===3&&queryIndexFlag">
                  <div class="panel-body gray">
                    <p>نرم افزار معاملاتی فارکس یک پلتفرم آنلاین می باشد که در اختیار مشتریان Noble Sky قرار می گیرد و امکان مشاهده، تجزیه و تحلیل و معامله ی ارزها یا سایر دارایی های دیگر را به آن ها می دهد. </p>
                    <p>به زبان ساده تربه هر مشتری Noble Sky امکان دسترسی به یک پلتفرم (یعنی یک نرم افزار) داده می شود که مستقیماً به قیمت جهانی بازار متصل است و به آنها امکان می دهد بدون کمک شخص ثالث معامله را انجام دهند.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" @click="handleQueryIndex(4)">
                  <h4 class="panel-title">مشارکت کنندگان بازار فارکس چه کسانی هستند؟</h4>
                  <i class="fa pull-right" :class="{'fa-angle-up':queryIndex==4&&queryIndexFlag,'fa-angle-down':queryIndex!=4||!queryIndexFlag}"></i>
                </div>
                <div id="a1collapse1" class="panel-collapse collapse" v-if="queryIndex===4&&queryIndexFlag">
                  <div class="panel-body gray">
                    <p>فعالان بازار فارکس میتوانند در یکی از گروه های زیر قرار بگیرند:</p>
                    <ul class="ftr-faq">
                      <li>1.	مسافران یا مصرف کنندگان خارجی که باید پول را به منظور سفر خارجی یا خرید کالاهای خارجی مبادله می کنند.</li>
                      <li>2.	مشاغلی که مواد یا کالاهای خام خارجی خریداری می کنند و بایستی ارز محلی خود را با ارز کشور فروشنده مبادله کنند.</li>
                      <li>3.	 سرمایه گذاران یا دلالان ارزی که برای انجام معاملات سهام یا سایر دارایی های خارج از کشور و یا معاملات ارزی با هدف کسب سود ناشی از تغییرات بازار، به ارزهایی که مبادله می کنند یا به عبارت دیگر ارز خارجی نیاز دارند.</li>
                      <li>4.	موسسات بانکی که برای ارائه ی خدمات به مشتریان خود یا وام به مشتریان خارج از کشور پول مبادله میکنند.</li>
                      <li>5.	دولت ها یا بانک های مرکزی که ارزها را خریداری یا می فروشند و سعی در تنظیم تعادل مالی یا شرایط اقتصادی دارند.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" @click="handleQueryIndex(5)">
                  <h4 class="panel-title">چه چیز در معاملات بازار فارکس مهم است؟</h4>
                  <i class="fa pull-right" :class="{'fa-angle-up':queryIndex==5&&queryIndexFlag,'fa-angle-down':queryIndex!=5||!queryIndexFlag}"></i>
                </div>
                <div id="a1collapse1" class="panel-collapse collapse" v-if="queryIndex===5&&queryIndexFlag">
                  <div class="panel-body gray">
                    <p>به عنوان یک تاجر ارز خرده فروش، مهمترین عواملی که بر معاملات شما تأثیر می گذارند کیفیت اجرای معامله، سرعت و نرخ بازدهی است. که یکی بر دیگری تأثیر می گذارد. </p>
                    <p>اسپرد تفاوت بین قیمت یک جفت ارز است (قیمت خرید یا فروش) و بنابراین برای درک بهتر، قیمتی است که کارگزار یا بانک شما مایل به فروش یا خرید سفارش تجاری درخواستی شما است. اسپردها  تنها در کنار اجرای صحیح دستورات معنا پیدا میکنند.</p>
                    <p>در بازار معاملات فارکس وقتی به اجرا اشاره می کنیم، منظور ما از سرعتی است که یک معامله گر ارز می تواند آنچه را که در صفحه خود می بیند بخرد یا بفروشد یا از طریق تلفن با توجه به مبلغ اعلام شده ی خرید یا فروش معامله انجام دهد. اگر بانک یا کارگزار شما نتواند سفارش شما را آنقدر سریع اجرا کند که به قیمت خرید یا فروش برسد، قیمت مناسب ملاک عمل نخواهد بود.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" @click="handleQueryIndex(6)">
                  <h4 class="panel-title">جفت ارزهای اصلی در بازار فارکس چیست؟</h4>
                  <i class="fa pull-right" :class="{'fa-angle-up':queryIndex==6&&queryIndexFlag,'fa-angle-down':queryIndex!=6||!queryIndexFlag}"></i>
                </div>
                <div id="a1collapse1" class="panel-collapse collapse" v-if="queryIndex===6&&queryIndexFlag">
                  <div class="panel-body gray">
                    <p>در معاملات فارکس برخی از جفت ارزها، جفت ارزهای اصلی (جفت عمده) نامیده میشوند. این گروه شامل بیشترین تعداد جفت ارزهای معامله شونده میباشند و غالبا دلار یکی از ارزها در آن ها میباشد.</p>
                    <p>جفت ارزهای اصلی شامل :  EUR/USD, USD/JPY, GBP/USD, USD/CHF, USD/CAD, AUD/USD, NZD/USD</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" @click="handleQueryIndex(7)">
                  <h4 class="panel-title">جفت ارز های فرعی کدامند؟</h4>
                  <i class="fa pull-right" :class="{'fa-angle-up':queryIndex==7&&queryIndexFlag,'fa-angle-down':queryIndex!=7||!queryIndexFlag}"></i>
                </div>
                <div id="a1collapse1" class="panel-collapse collapse" v-if="queryIndex===7&&queryIndexFlag">
                  <div class="panel-body gray">
                    <p>در معاملات فارکس جفت ارزفرعی یا کراس جزئی از ارزهایی هستند که دلار آمریکا در آن ها وجود ندارد.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" @click="handleQueryIndex(8)">
                  <h4 class="panel-title">در معاملات فارکسExotic  چیست؟</h4>
                  <i class="fa pull-right" :class="{'fa-angle-up':queryIndex==8&&queryIndexFlag,'fa-angle-down':queryIndex!=8||!queryIndexFlag}"></i>
                </div>
                <div id="a1collapse1" class="panel-collapse collapse" v-if="queryIndex===8&&queryIndexFlag">
                  <div class="panel-body gray">
                    <p>در معاملات فارکس جفت های اگزوتیک شامل جفت ارزهایی است که کمتر معامله می شوند و شامل یک ارز اصلی است که با ارز یک اقتصاد کوچک تر یا در حال ظهور جفت شده است. این جفت ها معمولاً نوسان کمتری دارند، نقدینگی کمتری دارند و رفتار پویای جفت ها و تلاقی های اصلی را نشان نمی دهند.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dis70"></div>
      <pageFooter />
    </div>
  </div>


</template>


<script>

  import pageHeader from '../../components/pageHeaderTFX.vue'
  import pageFooter from '../../components/pageFooterTFX.vue'
  import { languageCode } from '../../utils/lan-code'





  export default {
    name: "my-acount",
    data: function () {
      return {
        isLogin: false,
        userLoginInfo: '',
        curCoinType: 1,
        curLanguage: 2,
        // language:coinstrad,

        userInfo: {
          configure: {
          }
        },

        tableIndex: 0,
        queryIndex: 0,
        queryIndexFlag: false




      };
    },
    metaInfo: {
      title: 'Forex trading-NOBLE SKY',
    },
    created() {



      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');

      this.curCoinType = !!storeCoinType ? storeCoinType : this.$api.defaultCoinType;
      this.curLanguage = !!storeLanguage ? storeLanguage : this.$api.defaultLanguage;

      if (this.curLanguage != 2) {
        let pName = this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[this.curLanguage]
        this.$router.push({ name: pNameStr });
      }

      this.isLogin = this.util.isLogin();

      if (!!this.isLogin) {
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
        // this.getUserInfo();
      }


      // this.getSystemTradMode()

      // this.getUserAsset()
      // this.getCoinList();
      // this.getUserOrder();
      // this.getUserOrder2();
      // this.settingAPIDataLanguage();
      // this.getcurrency()



    },

    mounted() {
      document.documentElement.scrollTop = 0
    },

    components: {
      pageHeader,
      pageFooter
    },

    methods: {
      changeLanguage(val) {
        console.log(this.curLanguage)
        let pName = this.curLanguage == 1 ? this.$route.name : this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[val]
        this.$router.push({ name: pNameStr });
      },
      hideMenu() {
        this.$refs.pageHead.hideMenu();
      },
      handleTableIndex(val) {
        this.tableIndex = val
      },
      handleQueryIndex(val) {
        if (val === this.queryIndex) {
          this.queryIndexFlag = !this.queryIndexFlag
        } else {
          this.queryIndex = val
          this.queryIndexFlag = true
        }

      }


    }


  };
</script>





<style scoped lang="scss">
  .xmLeverage-200.fs100 {
    width: 150px;
    height: 100px;
    display: block;
    background: url(../../../static/images/ico-200-1.png) no-repeat center 0;
  }

  .xmLeverage-100.fs100 {
    width: 150px;
    height: 100px;
    display: block;
    background: url(../../../static/images/ico-200-1.png) no-repeat center 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .top30 {
    margin-top: 30px !important;
    text-align: center;
  }

  .top50 {
    margin-top: 50px !important;
  }

  .top60 {
    margin-top: 60px !important;
  }

  .top80 {
    margin-top: 80px !important;
  }


  .text-center {
    text-align: center !important;
  }

  .center-block {
    float: none !important;
  }

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    display: none;
  }


  .dis20 {
    height: 20px;
    clear: both;
  }

  .dis30 {
    height: 30px;
    clear: both;
  }

  .dis60 {
    height: 60px;
    clear: both;
  }



  .site-canvas .top-bar .breadcrumb {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .site-canvas .top-bar {
    background-color: #e8e8e8;
    padding: 20px 25px;
    margin: 0;
  }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
    clear: both;
  }

  .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
  }



  .box-text-btn {
    text-align: center;
    padding: 10px !important;
    .row

  {
    margin-left: -15px;
    margin-right: -15px;
  }

  .btn-full {
    background-color: #74c109;
    display: inline-block;
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
    width: 247px;
    text-align: center;
  }

    .btn-full:hover {
      background-color: #29a643;
    }

  }

  .nav-flexbox-tabs {
    padding: 10px !important;
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: block;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
  }

    .nav-flexbox-tabs > li {
      width: 95%;
      text-align: center;
      background-color: #fff;
      margin-bottom: 15px;
      margin-right: 15px;
      margin-left: 2.5%;
      border: 1px solid #cbcbcb;
    }

      .nav-flexbox-tabs > li.active {
        background-color: #d51820;
      }

      .nav-flexbox-tabs > li > a, .nav-flexbox-tabs > li > button {
        color: #000;
      }

      .nav-flexbox-tabs > li.active a, .nav-flexbox-tabs > li.active button {
        color: #fff;
      }


  a:focus, a:visited {
    color: #d51820;
  }

  .nav-flexbox-tabs a, .nav-flexbox-tabs button {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #000;
    line-height: normal;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    min-height: 38px;
    padding: 0 15px;
  }




  .nav-tabs {
    border: 0;
    font-size: 0;
    margin-bottom: 30px;
  }

  #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
    position: relative;
    margin-bottom: 0;
    z-index: 9;
  }

  #tabs2, #tabs3, #tabs4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }





  .nav > li {
    position: relative;
    display: block;
  }

  .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
  }

  .nav-tabs > li {
    width: 50%;
  }

  #tabs2.nav-tabs > li, #tabs3.nav-tabs > li, #tabs4.nav-tabs > li {
    float: none;
    width: 100%;
  }

  #tabs2.nav-tabs > li, #tabs3.nav-tabs > li, #tabs4.nav-tabs > li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }



  .collapse {
    display: block;
  }

  .panel-default > .panel-heading i.fa-angle-up {
    color: #d51820 !important;
  }

  #tabContent .panel-default > .panel-heading i.fa.fa-angle-up, .panel-default > .panel-heading i.fa.fa-angle-up, #tabContent .panel-default > .panel-heading i.fa.fa-angle-down, .panel-default > .panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-up, .panel-default > .panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-down, .panel-default > .panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
  }

  .tab-pane .dis30 {
    height: 50px;
  }


  footer {
    // height: 300px;
    background-color: #333;
    text-align: center;
  }

    footer .cell {
      padding-top: 100px;
      font-size: 26px;
      color: #fff;
    }

  table.dataTable thead th, table.dataTable tbody td {
    padding: 0 !important;
    font-size: 0.8em !important;
  }

  .feature-item5 {
    width: 50%;
  }
</style>
