<template>
  <div class="wrap" @click="hideMenu">
    <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
    <div class="site-canvas" style="direction: rtl; text-align: right">


      <div class="container-fluid top-bar">
        <div class="container-fluid ">
          <div class="row">
            <div class="col-12">
              <h1 class="rtl text-right">
                MetaTrader 5 (MT5)
              </h1>
              <ol class="breadcrumb">
                <li class="home"><router-link to="/" class="home">NOBLE SKY</router-link></li>
                <li class="post post-page current-item">MetaTrader 5 (MT5)</li>
              </ol>
            </div>

            <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
              <div class="option-nav">
                <router-link to="/contact">
                  <i class="contact"></i>
                  <span>تماس با ما</span>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid ">
        <div class="row top80">
          <div class="col-12 ">
            <h2>
              چرا Noble Sky ™ MT5 بهتر است؟
            </h2>
            <div class="quote-msg top30">
              <p>
                <i class="quote-right "></i>
                پلت فرم Noble Sky ™ MT5 با ارائه کلیه توابع لازم ، MT5 را به یک پلت فرم ایده آل مدیریت چند دارایی تبدیل می کند. قراردادهای ارزی و CFD ، طلا ، نفت خام و شاخص های سهام را می توان در همان بستر معامله کرد ، بدون رد سفارش ، بدون ریکوت و لوریج را می توان با انعطاف پذیری از 1: 1 تا 200: 1 انتخاب کرد.
              </p>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-11 top40">
                <h3>ویژگی های Noble Sky ™ MT5:</h3>
                <ul class="checks top35">
                  <li>
                    بیش از 100 کالای تجاری ، از جمله شاخص سهام CFD ، ارز خارجی ، فلز گرانبها CFD و انرژی CFD.
                  </li>
                  <li>
                    اسپرد در حد 0.6 واحد
                  </li>
                  <li>عملکرد EA کامل </li>
                  <li>تجارت با یک کلیک </li>
                  <li>پشتیبانی از انواع سفارشات</li>
                  <li> بیش از 80 ابزار تجزیه و تحلیل فنی </li>
                  <li>آخرین پیشنهاد با عمق بازار</li>
                  <li>اجازه قفل کردن</li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-12 top60 hidden-sm">
            <img class="img-responsive center-block" src="../../../static/images/page-img/mt5/mt5-pc.png?v3.0" alt="mt5 pc screenshot">
          </div>
        </div>
        <div class="greenRed-btns top50 text-center">
          <router-link to="/register" class="btn btn-solid btn-green btn-block">
            <i class="fa fa-pencil-square-o"></i>
            افتتاح حساب
          </router-link>
          <div class="dis20"></div>
          <a href="https://download.mql5.com/cdn/web/hk.noble.sky/mt5/hknobleskytreasure5setup.exe" class="btn btn-solid btn-red btn-block">
            <i class="fa fa-download"></i>
            دانلود
          </a>
          <div class="dis20"></div>
          <router-link :to="{name:'register',params:{regType:2}}" class="btn btn-outline btn-block">
            <i class="fa fa-pencil-square-o"></i>
            افتتاح حساب دمو
          </router-link>
        </div>
      </div>
      <section class="section top80">
        <div class="container-fluid metatrader">
          <div class="row">
            <div class="col-12">
              <h2 class="text-center big">انواع ترید های متعدد پلتفرم Noble Sky MT5   </h2>
              <img class="img-responsive center-block top30" src="../../../static/images/page-img/mt5/mt5-pc-half.png?v3.0" alt="mt5 pc screenshot">
            </div>
          </div>
        </div>
      </section>
      <div class="container-fluid">
        <div class="container-fluid ">
          <div class="dis30 visible-xs visible-sm"></div>
          <div class="row btn-a-box">
            <div class="col-12 py-2 text-center">
              <router-link to="/register" class="btn-a crate-account-btn">
                <i class="fa fa-pencil-square-o"></i>
                افتتاح حساب
              </router-link>
            </div>

            <div class="col-12 py-2 text-center">
              <a href="https://download.mql5.com/cdn/web/hk.noble.sky/mt5/hknobleskytreasure5setup.exe" class="btn-a download-btn">
                <i class="fa fa-download"></i>
                دانلود
              </a>
            </div>
            <div class="dis20"></div>
            <p class="text-center">
              دسترسی به بازارهای مالی جهانی
            </p>
          </div>
        </div>

        <div class="container-fluid metatrader">
          <div class="row top50 hidden-xs hidden-sm hidden-l-sm">
            <div class="col-sm-7 col-md-8">
              <h2>
                <i class="tfxfont3 xmInstall-pc sm red"></i>
                نحوه نصب :Noble Sky ™ MT5
              </h2>
              <ul class="arrows top30">
                <li> برای بارگیری ترمینال (فایل .exe) <a href="https://download.mql5.com/cdn/web/hk.noble.sky/mt5/hknobleskytreasure5setup.exe">اینجا را کلیک کنید</a></li>
                <li> پس از بارگیری ، فایل NOBLE SKY.exe را اجرا کنید. </li>
                <li>هنگام اجرای برنامه برای اولین بار ، پنجره ورود به سیستم را مشاهده خواهید کرد.</li>
                <li> اطلاعات ورود به سیستم حساب واقعی یا حساب آزمایشی خود را وارد کنید.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid metatrader">
        <div class="row top80">
          <div class="col-12">
            <h2>
              <i class="tfxfont3 xmZoom sm red"></i>
              ویژگی های اصلی :Noble Sky ™ MT5
            </h2>
          </div>
          <div class="col-12 ">
            <ul class="arrows">
              <li> پلتفرم سرمایه گذاری چند دارایی با بیش از 100 نوع تجارت</li>
              <li> نمایش همزمان 100 نمودار</li>
              <li> پشتیبانی از انواع سفارشات ، از جمله سفارشات قیمت فعلی ، سفارشات معلق ، سود ، توقف ضرر و ضرر عقب مانده </li>
              <li>بیش از 80 شاخص فنی و 40 ابزار تجزیه و تحلیل</li>
            </ul>
          </div>
          <div class="col-12 ">
            <ul class="arrows">
              <!--<li></li>-->
              <li>محیطی عالی برای توسعه MQL5</li>
              <li>
                قابل استفاده برای معاملات پایانه تلفن همراه سیستم Android و IOS
              </li>
              <li>
                حمایت از تجارت وب در سیستم عامل های ویندوز و لینوکس سیستم نامه داخلی
              </li>
              <li>سیستم پست الکترونیکی داخلی</li>
            </ul>
          </div>
          <div class="col-12 ">
            <ul class="arrows">
              <li>تستر و هشدارهای ارزی چندگانه</li>
            </ul>
          </div>
        </div>
        <div class="row top80 hidden-xs hidden-sm hidden-l-sm">
          <div class="col-sm-6 col-md-7">
            <h2>
              <i class="tfxfont3 xmGears sm red"></i>
              نیازهای سیستم Noble Sky ™ MT5:
            </h2>
            <!-- <div class="col-md-6 visible-xs">
                <img class="img-responsive center-block" src="../../../static/images/page-img/mt5/mt5-pc-small.png?v3.0" alt="mt5 pc screenshot">
            </div> -->
            <ul class="arrows top30">
              <li><strong>سیستم عامل:</strong> برای بهترین نتیجه استفاده از نسخه های 64 بیتی ویندوز 10 یا مایکروسافت ویندوز 7 یا بالاتر توصیه می شود.</li>
              <li><strong>پردازنده:</strong>  پشتیبانی از SSE2 برای همه پردازنده ها (پنتیوم 4 / Athlon 64 به بالا)</li>
              <li>سایر الزامات سخت افزاری به بستر مورد استفاده بستگی دارد (به عنوان مثال ، میزان بارگیری برنامه های MQL5 ، نوع کالاهای انتخاب شده و تعداد نمودارها)</li>
            </ul>
          </div>
          <div class="col-sm- col-md-5 hidden-xs top30">
            <img class="img-responsive center-block" src="../../../static/images/page-img/mt5/mt5-pc-small.png?v3.0" alt="mt5 pc screenshot">
          </div>
        </div>
      </div>
      <div class="container-fluid metatrader">
        <div class="row top80 hidden-xs hidden-sm hidden-l-sm">
          <div class="col-12">
            <h2><i class="tfxfont3 xmTrash sm red"></i> نحوه حذف Noble Sky ™ MT5 بر روی کامپیوتر:</h2>
            <ul class="arrows">
              <li>
                <span class="red mt4_steps"><strong> مرحله 1:</strong></span>
                روی شروع کلیک کنید → همه برنامه ها → Noble sky MT5 → حذف نصب
              </li>
              <li>
                <span class="red mt4_steps"><strong>مرحله 2:</strong></span>
                مراحل مربوط به صفحه را دنبال کنید تا حذف نصب تا زمان تکمیل مراحل حذف شروع شود
              </li>
              <li>
                <span class="red mt4_steps"><strong>مرحله 3:</strong></span>
                روی رایانه من کلیک کنید drive روی درایو C یا درایور ریشه سیستم عامل کلیک کنید → روی پوشه برنامه کلیک کنید folder پوشه Noble sky MT5 را انتخاب و حذف کنید
              </li>
              <li>
                <span class="red mt4_steps"><strong>مرحله 4:</strong></span>
                کامپیوتر را مجدداً راه اندازی کنید
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div id="faq">
        <div class="container-fluid  text-center">
          <div class="row">
            <div class="col-12">
              <h2>مشکلات رایج</h2>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <div id="accordionText" class="hidden"></div>
                </div>
                <div class="col-12"><button type="button" data-parent="#accordion1" class="btnAccordion pull-right"></button></div>
              </div>
            </div>
          </div>
          <div class="row top20">
            <div class="col-12">
              <div id="accordion1" class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">چگونه به پلتفرم MT5 دسترسی داشته باشیم؟</h4>
                    <i class="fa pull-right fa-angle-up"></i>
                  </div>
                  <div id="a1collapse1" class="panel-collapse collapse">
                    <div class="panel-body gray">
                      <p>برای معامله با پلتفرم MT5  نیاز به داشتن یک حساب در Noble Sky می باشد. برای افتتاح حساب <a href="#/register" class="">اینجا را کلیک کنید</a>.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">  چگونه حسابMT5 خود را تایید کنم؟ </h4>
                    <i class="fa pull-right fa-angle-up"></i>
                  </div>
                  <div id="a1collapse1" class="panel-collapse collapse">
                    <div class="panel-body gray">
                      <p>
                        بر روی CRM کلیک کنید > برای ایجاد حساب در MT5 گزینه "Register " را انتخاب کنید، سپس بعد از ایجاد و ورود به سیستم برای احراز هویت، به ارائه اسناد احراز هویت نیاز دارید (به عنوان مثال، کارت شناسایی و اثبات آدرس).
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">در MT5 چه کالاهایی را می توانم معامله کنم؟</h4>
                    <i class="fa pull-right fa-angle-up"></i>
                  </div>
                  <div id="a1collapse1" class="panel-collapse collapse">
                    <div class="panel-body gray">
                      <p>
                        در ترمینال MT5 شما می توانید تمام کالاهای قابل معامله ی Noble Sky از جمله ارزهای خارجی، کالاها، شاخص های اوراق بهادار، CFDs فلزات گرانبها و CFDs انرژی ها را معامله کنید..
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid metatrader top80 hidden-xs hidden-sm hidden-l-sm">
        <div class="row">
          <div class="col-12">
            <h2><i class="tfxfont3 xmMobile-devices sm red"></i> این برنامه همچنین قابل استفاده در موارد زیر میباشد</h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="feature-item7 noborder">
            <a href="/ir/mt5" class="device">
              <i class="tfxfont3 xmPc"></i>
              <p class="text-center top20">
                كامپيوتر
              </p>
            </a>
          </div>
          <div class="feature-item7 noborder">
            <a href="/ir/mt5-webtrader" class="device">
              <i class="tfxfont3 xmLaptop"></i>
              <p class="text-center top20">
                MT5 WebTrader
              </p>
            </a>
          </div>
          <div class="feature-item7 noborder">
            <a href="/ir/mt5-ipad" class="device">
              <i class="tfxfont3 xmIpad"></i>
              <p class="text-center top20">
                آیپد
              </p>
            </a>
          </div>
          <div class="feature-item7 noborder">
            <a href="/ir/mt5-iphone" class="device">
              <i class="tfxfont3 xmIphone"></i>
              <p class="text-center top20">
                آیفون
              </p>
            </a>
          </div>
          <div class="feature-item7 noborder">
            <a href="/ir/mt5-android" class="device">
              <i class="tfxfont3 xmAndroid-phone"></i>
              <p class="text-center top20">
                اندروید
              </p>
            </a>
          </div>
        </div>
      </div>

      <div class="container-fluid metatrader hidden-xs hidden-sm hidden-l-sm">
        <div class="row top50">
          <div class="col-12">
            <h2><i class="tfxfont3 xmZoom sm red"></i> درباره ی متا تریدر 5 (MT5)</h2>
            <p>پلت فرم معاملات آنلاین MetaTrader 5 ، همچنین به طور معمول با نام MT5 شناخته می شود ، نسخه ارتقا یافته MetaTrader 4 (MT4) معروف است. این از شرکت MetaQuotes Software Corp است. که در سال 2010 نسخه بتا را توسعه و منتشر کرد. با گذشت سالها ، MetaQuotes سرمایه گذاری مداوم در توسعه ، آزمایش و بهبود ، MT5 را به نسل جدیدی از سیستم عامل های تجارت انعطاف پذیر تر تبدیل کرده است.</p>
            <p>مزیت بیشتری که MT5 نسبت به نسل قبلی دارد ، انعطاف پذیری آن است. این می تواند با انعطاف پذیری کالاهای تجاری بیشتری را از طریق تنظیمات مختلف کلاسهای دارایی متعدد فراهم کند ، که همه آنها می توانند در یک رابط کاربری و یک حساب تجاری مشابه در معامله باشند.</p>
            <p>در MetaTrader 5 (MT5) ، امکان بسته های معروف نمودار و معاملات خودکار به سطح کاملاً جدیدی افزایش یافته است. تمام عملکردهای MetaTrader 4 (MT4) کاملاً حفظ و به زیرساخت پیچیده تری برای پشتیبانی از بازرگانان جهت انجام معاملات کالاهای متعدد در کلاسهای مختلف دارایی ارتقا یافته است.</p>
            <div class="row top30"></div>
            <h3>معاملات چند دارایی از طریق :MT5</h3>
            <div class="row top30"></div>
            <p>
              MT5 سرمایه گذاران آنلاین را با  <a href="http://crm.hknstpm.com:9999/#">ارزهای خارجی</a>
              (معاملات ارز) ، شاخص سهام ، فلزات گرانبها ، قراردادهای انرژی به کالا برای اختلاف (CFD) و سایر گزینه های معاملات کلاس دارایی فراهم می کند.
            </p>
            <p>MT5 چه یک مبتدی ، چه یک ارشد و چه یک معامله گر آنلاین ، نه تنها در سطح معامله ، بلکه همچنین با اجازه دادن به معامله گران برای دید واضح تر در بازارهای مختلف و کلاس های مختلف دارایی ، چشم انداز جدیدی را برای آنها باز کرده است..</p>
            <p>علاوه بر این ، در قرن بیست و یکم ، توانایی سرمایه گذاران آنلاین در تجارت دارایی های مالی مختلف از یک حساب ، مزیت تخصیص دارایی استراتژیک (یا مدیریت دارایی) را برای آنها فراهم می کند. هدف اصلی تخصیص سرمایه گذاری سرمایه گذاری برای دارایی های مختلف و براساس نوسانات بازار و عملکرد کوتاه مدت یا بلند مدت این دارایی ها برای مدیریت ریسک ها است.</p>
            <div class="row top30"></div>
            <h3>مزایای تجارت آنلاین :MT5 </h3>
            <div class="row top30"></div>
            <p>پلت فرم چند منظوره MT5 شامل عملکردی قدرتمند است. همه آنها با پیشرفته ترین فناوری توسعه یافته اند. چندین استاندارد اصلی حفظ شده است. بسته آیکون های جایگزین ناپذیر ، امکان و انعطاف پذیری معاملات خودکار (تجارت الگوریتمی) و تنوع بازارها پشتیبانی می شود..</p>
            <p> برای معامله گران مبتدی و باتجربه ، MT5 تضمین می کند که عملکرد و عملکردهای سیستم عامل بیشترین انتظارات از هر سرمایه گذار آنلاین را برآورده می کند. از جمله انواع مختلف سفارشات معلق (خرید قیمت محدود ، خرید ضرر توقف ، فروش سقف قیمت ، فروش قیمت توقف ، خرید قیمت حد ضرر توقف و فروش قیمت حد ضرر توقف). یک پایگاه داده با تعداد نامحدود معاملات ، و همچنین پیشرفته ترین زبان برنامه نویسی MQL5 ، به معامله گران اجازه می دهد برنامه ها و شاخص هایی را که برای تنظیمات تجاری شخصی و تنظیمات تجارت دارایی مالی آنها مناسب است ویرایش کنند.</p>
            <div class="row top30"></div>
            <h3>خرید و فروش از طریق MT5 در تلفن همراه:</h3>
            <div class="row top30"></div>
            <p>برنامه MT5 برای دستگاه های iOS و Android مناسب است و در هر زمان و هر مکان می توانید به حساب خود دسترسی پیدا کنید. عملکردهای آن شامل نمودارهای بی نظیر تلفن همراه و بیش از 30 نشانگر داخلی و همچنین بیش از 24 گزینه فنی برای تجزیه و تحلیل اشیا است.</p>
          </div>
        </div>
      </div>


    </div>

    <pageFooter />
  </div>
</template>

<script>

  import pageHeader from '../../components/pageHeaderTFX.vue'
  import pageFooter from '../../components/pageFooterTFX.vue'
  import { languageCode } from '../../utils/lan-code'





  export default {
    name: "my-acount",
    data: function () {
      return {
        isLogin: false,
        userLoginInfo: '',
        curCoinType: 1,
        curLanguage: 2,
        // language:coinstrad,

        userInfo: {
          configure: {
          }
        },




      };
    },
    metaInfo: {
      title: 'Mt5-NOBLE SKY',
    },
    created() {



      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');

      this.curCoinType = !!storeCoinType ? storeCoinType : this.$api.defaultCoinType;
      this.curLanguage = !!storeLanguage ? storeLanguage : this.$api.defaultLanguage;

      if (this.curLanguage != 2) {
        let pName = this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[this.curLanguage]
        this.$router.push({ name: pNameStr });
      }

      this.isLogin = this.util.isLogin();

      if (!!this.isLogin) {
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
        // this.getUserInfo();
      }


      // this.getSystemTradMode()

      // this.getUserAsset()
      // this.getCoinList();
      // this.getUserOrder();
      // this.getUserOrder2();
      // this.settingAPIDataLanguage();
      // this.getcurrency()



    },

    mounted() {

      let element = document.querySelectorAll(".panel-heading");



      for (let i = 0; i < element.length; i++) {

        (function (m) {

          let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

          panel.classList.add('showFlag')

          element[m].addEventListener('click', function () {


            this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
            this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

            panel.classList.toggle('showFlag')


          })


        })(i)



      }


      document.documentElement.scrollTop = 0


    },



    components: {
      pageHeader,
      pageFooter
    },


    methods: {
      changeLanguage(val) {
        console.log(this.curLanguage)
        let pName = this.curLanguage == 1 ? this.$route.name : this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[val]
        this.$router.push({ name: pNameStr });
      },
      hideMenu() {
        this.$refs.pageHead.hideMenu();
      }
    }


  };
</script>





<style scoped lang="scss">
  h2 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .container {
    width: 1170px;
    margin: 0 auto;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .top30 {
    margin-top: 30px !important;
  }

  .top50 {
    margin-top: 50px !important;
  }

  .top80 {
    margin-top: 80px !important;
  }


  .text-center {
    text-align: center !important;
  }

  .center-block {
    float: none !important;
  }

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
  }



  .dis20 {
    height: 20px;
    clear: both;
  }


  .site-canvas .top-bar .breadcrumb {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .site-canvas .top-bar {
    background-color: #e8e8e8;
    padding: 20px 25px;
    margin: 0;
  }

  .greenRed-btns {
    .btn

  {
    color: #fff;
    text-align: center;
  }

  .btn.btn-green {
    background-color: #74c109;
  }

    .btn.btn-green:hover {
      background-color: #29a643;
    }

  .btn.btn-red {
    background-color: #d51820;
  }

    .btn.btn-red:hover {
      background-color: #b30000;
    }

  .btn-outline {
    color: #d51820;
    border: 1px solid #d51820;
    font-size: 24px;
    padding: 8px 18px !important;
  }

    .btn-outline:hover {
      background-color: #d51820;
      color: #fff;
    }

  }

  .greenRed-btns .btn.btn-red {
    font-size: 24px;
    padding: 10px 20px !important;
  }

  .greenRed-btns .btn.btn-green {
    font-size: 30px;
    padding: 15px 20px !important;
  }

  .btn-a-box {
    text-align: center;
    padding-top: 50px;
  }

  .btn-a {
    display: inline-block;
    background-color: #74c109;
    color: #fff;
    font-size: 24px;
    width:100%;
    padding: 10px 20px;
  }

    .btn-a:hover {
      background-color: #29a643;
    }

    .btn-a.download-btn {
      background-color: #d51820;
    }

      .btn-a.download-btn:hover {
        background-color: #b30000;
      }





  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
    clear: both;
  }

  .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
  }

  #tabContent .panel-default > .panel-heading i.fa.fa-angle-up, .panel-default > .panel-heading i.fa.fa-angle-up, #tabContent .panel-default > .panel-heading i.fa.fa-angle-down, .panel-default > .panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-up, .panel-default > .panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-down, .panel-default > .panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
  }

  .collapse {
    display: block;
  }

  .tab-pane .dis30 {
    height: 50px;
  }

  .panel-collapse.showFlag {
    display: none;
  }

  // footer {
  //   height: 300px;
  //   background-color: #333;
  //   text-align: center;
  // }

    footer .cell {
      padding-top: 100px;
      font-size: 26px;
      color: #fff;
    }
</style>
