<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" style="direction: rtl; text-align: right">

          <div class="container-fluid top-bar">
            <div class="container-fluid ">
              <div class="row">
                <div class="col-12">
                  <h1 class="rtl text-right">پوزیشن های شبانه</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link>
                    </li>
                    <li class="post post-page current-item">پوزیشن های شبانه</li>
                  </ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>تماس با ما</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid ">
            <h2 class="top80">رول اور در <strong>™Noble Sky</strong></h2>
            <div class="row text-center feature-icons">
              <div class="feature-item4">
                <i class="tfxfont3 xmArrow-circle fs100 red"></i>
                <p>نرخ سواپ رقابتی</p>
              </div>
              <div class="feature-item4">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p>نرخ بهره شفاف در طول شب</p>
              </div>
              <div class="feature-item4 hidden-xs">
                <i class="tfxfont3 xmStrategy fs100 red"></i>
                <p>استراتژی رول اور در 3 روز</p>
              </div>
              <div class="feature-item4 hidden-xs">
                <i class="tfxfont3 xmPercent fs100 red"></i>
                <p>مطابق با نرخ بهره فعلی</p>
              </div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container-fluid ">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-12"><br>با  Noble Sky فارکس، سهام انفرادی، کالاها، فلزات گرانبها، انرژی و شاخص های سهام را معامله کنید</div>
                <div class="col-12">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">افتتاح حساب</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid top80">
            <div class="row">
              <div class="col-12">
                <h2>نرخ بهره در طول شب </h2>
                <p>
                  ممکن است برای پوزیشن های باز در طول یک شب نرخ بهره در نظر گرفته شود. در مورد کالاهای ارزهای خارجی، مبلغ مذکور به پوزیشن خرید یا فروش، به علاوه تفاوت نرخ بهره بین جفت ارزها بستگی دارد. اما از نظر سهام و اندیکاتورهای سهام تنها به پوزیشن های خرید یا فروش بستگی دارد.  
                </p>
                <p>
                   لطفا توجه داشته باشید که تنها نرخ بهره کالاهای لحظه ای در طول شب افزایش خواهد یافت . کالاهای آتی تنها تاریخ انقضا دارند و شامل بهره ی شبانه نمیشوند.
                </p>
                <h2 class="top80">در مورد رول اور</h2>
                <p>
                  روش انتقالی عمل تمدید تاریخ باز کردن یک پوزیشن است (به عنوان مثال، تاریخ تحویل یک معامله اجرا شده). بازار ارز اجازه می دهد تا تمام معاملات لحظه ای در عرض دو روزکاری کامل شوند.
                </p>
                <p>
                  با این حال، در معاملات کالای مارجین دار، از آنجاییکه تحویل فیزیکی وجود ندارد، تمام موقعیت های باز باید در پایان هر روز بسته شوند (ساعت ۲۲ به وقت گرینویچ) و در روز معاملات بعدی بازگشایی می شوند. اصطلاح نرخ بهره در طول یک شب به دلیل این مکانیسم ایجاد شدند.
                </p>
                <p>
                  نرخ بهره در طول یک شب بر اساس قرارداد ارائه می شود و برای معامله گران، می تواند سبب هزینه یا سود باشد. Noble Sky™ در واقع پوزیشن ها را بسته و بازگشایی مجدد نخواهد کرد، بلکه بهره در طول یک شب را بر اساس نرخ بهره فعلی به حساب تجاری اضافه خواهد کرد.
                </p>
                <h2 class="top80">سیاست پرداخت معوق Noble Sky™</h2>
                <p>
                  Noble Sky ™ تضمین می کند که برای موقعیت هایی که پس از زمان بسته شدن بازار ساعت ۲۲ به وقت گرینویچ در یک روز کاری باز می مانند، مطلوب ترین نرخ بهره در طول یک شب را در اختیار همه مشتریان قرار دهد و همچنین آن را در حساب تجاری آنها ارائه دهد.
                </p>
                <p>
                  اگرچه بازار شنبه و یکشنبه بسته است، اما بانک باز هم بهره در موقعیت های آخر هفته را محاسبه خواهد کرد. Noble Sky™به منظور تنظیم این شکاف برای هر چهارشنبه نرخ بهره در طول شب را ۳ روز محاسبه می کند.
                </p>
                <h2 class="top80">محاسبه رول اور</h2>
                <h3><strong>تبادل ارزهای خارجی و فلزات گرانبها (طلا و نقره)</strong></h3>
                <div class="dis10"></div>
                <p>
                  نرخ سود شبانه ارز و فلزات گرانبها با نرخ تحویل لحظه ای (فردا و پس فردا) تعیین می شود و شامل حق بیمه Noble Sky می شود. نرخ تحویل لحظه ای با توجه به تفاوت نرخ بهره بین ارزها تولید می شود و Noble Sky نمی تواند خودسرانه دستکاری کن
                </p>
                <div class="dis10"></div>
                <div class="section-box small" style="font-size: 14px;">
                  <p><strong><u>به عنوان مثال:</u></strong></p>
                  شما جفت ارز USDJPY را معامله می کنید و نرخ تحویل لحظه ای به شرح زیر است:
                  <br> +0.5٪ برای پوزیشن خرید
                  <br> و برای پوزیشن فروش 1.5-%
                  <br>تحت این شرایط ، نرخ بهره در ایالات متحده بیشتر از ژاپن است. سود شبانه پوزیشن خرید در این جفت ارز(+0.5%-Noble Sky Premium) خواهد بود.
                  <br>و برعکس ، پوزیشن فروش به صورت-1.5%-Noble Sky Premium) (محاسبه می شود.
                </div>
                <div class="dis10"></div>
                <p>روش محاسبه به شرح زیر است:</p>
                <div class="red section-box small" style="font-size: 14px;"><strong>اندازه معامله X（+/- نرخ تحویل لحظه ای - حق بیمه） *</strong></div>
                <div class="dis10 "></div>
                <p> (علامت +/- در روش فوق به اختلاف نرخ بهره بین جفت ارز بستگی دارد.)</p>
                <small>* مبنای مبلغ نشان داده شده ارز پایه است.</small>
                <div class="dis20 "></div>
                <h3><strong>سهام و شاخص های سهام</strong></h3>
                <div class="dis10 "></div>
                <p>
                  نرخ بهره شبانه ی سهام و کالاهای شاخص سهام با نرخ وام بین بانکی سهام یا شاخص های سهام تعیین می شود (به عنوان مثال ،برای اوراق بهادار ذکر شده در استرالیا، نرخ بهره وام کوتاه مدت بین بانک های استرالیا استفاده می شود)، و بر اساس پوزیشن های خرید و فروش +/- حق بیمه Noble Sky است.
                </p>
                <div class="dis10 "></div>
                <div class="section-box small " style="font-size: 14px;">
                  <p><strong><u>به عنوان مثال: </u></strong></p>
                    شما یونیلور (سهام بورسی در انگلیس) را خریداری می کنید و نرخ پیشنهاد بین بانکی کوتاه مدت انگلیس 1.5٪ است. روش محاسبه سود شبانه در پوزیشن خرید به شرح زیر است:
                  <br>-1.5% /365 – حق بیمه روزانه <strong>™Noble Sky</strong>
                   <br>و برای پوزیشن فروش به صورت : +1.5% /365 - حق بیمه روزانه <strong>™Noble Sky</strong>.
                </div>
                <div class="dis10 "></div>
                <p>نرخ روزانه به شرح زیر محاسبه می شود:</p>
                <div class="red section-box small " style="font-size: 14px;"><strong>اندازه معامله X قیمت بسته شدن X (+/- نرخ پیشنهاد بین بانکی کوتاه مدت-حق بیمه  <strong>™Noble Sky</strong>)</strong></div>
                <div class="dis10"></div>
                <p>
                  (علامت +/- در روش فوق به اختلاف نرخ بهره بین جفت ارز بستگی دارد.)
                </p>
                <h2 class="top80">تحویل برنامه ریزی شده</h2>
                <p>
                  زمان شروع و پایان روز معاملات 22:00 به وقت گرینویچ است. کلیه سفارشاتی که پس از ساعت 22:00 به وقت گرینویچ برگزار می شوند، بعنوان معامله شبانه درنظر گرفته می شوند و بهره شبانه به آنها اضافه می شود. اما معاملاتی که بعد از ساعت 22:01 انجام میگیرند شامل این بهره نمیشوند. برعکس، اگر شما پوزیشنی را در ساعت 21:59 باز کنید ، سود شبانه بلافاصله بعد از ساعت 22:00 محاسبه می شود. برای همه پوزیشن های باز شده در ساعت 22:00 به وقت گرینویچ، بهره شبانه در مدت یک ساعت در حساب معاملات نمایش داده می شود</p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: ' المداولات الليلية-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


 //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap>
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
  p {
    margin-bottom: 2em;
  }

</style>
