<template>
  <div class="wrap" @click="hideMenu" style="direction:rtl; text-align:right;">
    <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
    <div class="site-canvas" style="direction:rtl; text-align:right;">

      <div class="container-fluid top-bar" style="direction:rtl; text-align:right;">
        <div class="container-fluid ">
          <div class="row">
            <div class="col-12 ">
              <h1 class="ltr text-left">فلزات گرانبها</h1>
              <ol class="breadcrumb">
                <li class="home">
                  <router-link to="/" class="home">NOBLE SKY</router-link>
                </li>
                <li class="post post-page current-item">فلزات گرانبها</li>
              </ol>
            </div>
            <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
              <div class="option-nav">
                <router-link to="/contact">
                  <i class="contact"></i>
                  <span>تماس با ما</span>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid top60 hidden-xs" style="direction:rtl; text-align:right;">
        <ul class="nav-flexbox-tabs">
          <li>
            <router-link to='/ir/forex-trading'>معامله ی فارکس</router-link>
          </li>
          <!-- <li>
             <router-link to='/stocks'>Stock CFDs</router-link>
                 <a href="/cn/stocks">Stock CFDs</a></li> -->
          <!-- <li>
            <router-link to='/ir/commodities'>Commodities</router-link>
           </li>
          <li>
            <router-link to='/ir/equity-indices'>Equity indices</router-link>
          </li> -->
          <li class="active">
            <router-link to='/ir/precious-metals'>فلزات گرانبها</router-link>
          </li>
          <li>
            <router-link to='/ir/energies'>انرژی ها</router-link>
          </li>
          <!-- <li>
            <router-link to='/shares'>股票</router-link>
                <a href="/cn/shares">股票</a></li> -->
        </ul>
        <div class="dis15"></div>
      </div>
      <div class="dis50 visible-sm"></div>
      <div class="container-fluid hidden-xs" style="direction:rtl; text-align:right;">
        <h2 class="top30">مزایای معامله ی فلزات گرانبها در Noble Sky</h2>
        <div class="row text-center top50">
          <div class="feature-item5">
            <i class="tfxfont3 xmGold fs100 red"></i>
            <p class="top30">
              مبادلات آنلاین طلا و نقره
              <br>بدون ریکوت
            </p>
          </div>
          <div class="feature-item5">
            <i class="tfxfont3 xmDollar-bag fs100 red"></i>
            <p class="top30">سرمایه گذاری باکیفیت در مواردی بجز ارزهای خارجی</p>
          </div>
          <div class="feature-item5 hidden-xs">
            <i class="tfxfont3 xmChart fs100 red"></i>
            <p class="top30">بازار جاری و روان</p>
          </div>
          <div class="feature-item5 hidden-xs hidden-md">
            <i class="tfxfont3 xmChart fs100 red"></i>
            <p class="top30">اجرای دستور خرید / فروش در یک حساب</p>
          </div>
          <div class="feature-item5 hidden-xs">
            <i class="tfxfont3 xmLeverage-200 fs100 red"></i>
            <p>لوریج تا 1:200</p>
          </div>
          <div class="feature-item5 hidden-xs">
            <i class="tfxfont3 xmPercent fs100 red"></i>
            <p class="top30">بدون هزینه اضافی مبادلات</p>
          </div>
        </div>
      </div>
      <div class="dis80 visible-xs"></div>
      <div class="dis60 hidden-xs"></div>
      <div class="container-fluid " style="direction:rtl; text-align:right;">
        <div class="box-text-btn">
          <div class="row">
            <div class="col-12 "><br data-v-7e18e0a9="">تداول العملات الأجنبية والأسهم الفردية والسلع والمعادن الثمينة والطاقات ومؤشرات الأسهم في <strong>™Noble Sky</strong></div>
            <br>فارکس، فلزات گران بها و انرژی ها را در Noble Sky معامله کنید
          </div>
          <div class="col-12">
            <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">افتتاح حساب</router-link>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid top80" style="direction:rtl; text-align:right;">
      <div class="row">
        <div class="col-md-12 text-justify mx-2">
          <h2>شرایط و اسپردهای فلزات گرانبها</h2>
        </div>
      </div>
      <div class="container-fluid">
        <div class="col-md-12 text-justify mx-2">
          <h3>فلزات گرانبها</h3>
          <ul id="tabs4" class="nav nav-tabs top20" role="tablist">
            <li :class="{active:tableIndex===0}">
              <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex(0)">حساب استاندارد</a>
            </li>
            <!-- <li :class="{active:tableIndex===1}">
              <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(1)">Micro account</a></li> -->
            <!-- <li :class="{active:tableIndex===2}">
              <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(2)">NOBLE SKY Ultra Low Standard账户</a></li>
            <li :class="{active:tableIndex===3}">
              <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(3)">NOBLE SKY Ultra Low Micro账户</a></li> -->
          </ul>
          <div id="tabContent" class="tab-content">
            <div class="tab-pane active" id="standard" v-if="tableIndex===0">
              <div class="dis30"></div>
              <div class="table-wrap">
                <div id="DataTables_Table_0_wrapper" style="padding-bottom:2em;" class="dataTables_wrapper no-footer">
                  <div class="dataTables_length" id="DataTables_Table_0_length">
                    <label>
                      展示
                      <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>商品
                    </label>
                  </div>
                  <div id="DataTables_Table_0_filter" class="dataTables_filter">
                    <label>
                      搜索
                      <input type="search" class="" placeholder="" aria-controls="DataTables_Table_0">
                    </label>
                  </div>
                  <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                      <tr role="row">
                        <th colspan="1" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 118px;" aria-sort="ascending" aria-label="Currency pair: activate to sort column descending">جفت ارز</th>
                        <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 96px;" aria-label="Minimum fluctuation range: activate to sort column ascending">
                          حداقل نرخ
                          <br>نوسان
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 43px;" aria-label="Spreads as low as: activate to sort column ascending">
                          اسپرد
                          <br>پایین ترین
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 124px;" aria-label=": activate to sort column ascending">میانگین اسپرد***</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 136px;" aria-label=": activate to sort column ascending">نرخ بهره ی شبانه(هر پوینت)**
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 136px;" aria-label="Overnight interest on sell orders (points)**: activate to sort column ascending">
                          نرخ بهره ی شبانه ی دستورات فروش (هر پوینت)
                        </th>
                        <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 89px;" aria-label="1 lot value: activate to sort column ascending">ارزش هر 1 لات</th>
                        <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 127px;" aria-label="Stop profit and loss distance*: activate to sort column ascending">میزان حد سود و ضرر*</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">طلا</td>
                        <td>0.01</td>
                        <td>0.3</td>
                        <td>0.45</td>
                        <td>-9.74</td>
                        <td>-5.58</td>
                        <td>100 oz</td>
                        <td>1</td>
                      </tr>
                      <tr role="row" class="even">
                        <td tabindex="0" class="sorting_1">نقره</td>
                        <td>0.001</td>
                        <td>0.03</td>
                        <td>0.045</td>
                        <td>-1.28</td>
                        <td>-0.6</td>
                        <td>5000 oz</td>
                        <td>0.14</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">نمایش صفحه ی 1 از 2 </div>
                  <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                    <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">قبلی</a>
                    <span>
                      <a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a>
                    </span>
                    <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">بعدی</a>
                  </div>
                </div>
              </div>
              <!--<div class="top80 row">
                <div class="col-sm-12">
                  <p>
                    <b>Minimum/maximum number of trading lots:</b>0.01/50(MT5)
                  </p>
                </div>
              </div>-->
            </div>
            <div class="tab-pane" id="micro" v-if="tableIndex===1">
              <div class="dis30"></div>
              <div class="table-wrap">
                <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer">
                  <div class="dataTables_length" id="DataTables_Table_1_length">
                    <label>
                      展示
                      <select name="DataTables_Table_1_length" aria-controls="DataTables_Table_1" class="">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>商品
                    </label>
                  </div>
                  <div id="DataTables_Table_1_filter" class="dataTables_filter">
                    <label>
                      搜索
                      <input type="search" class="" placeholder="" aria-controls="DataTables_Table_1">
                    </label>
                  </div>
                  <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info" style="width: 100%;">
                    <thead>
                      <tr role="row">
                        <th colspan="1" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" style="width: 0px;" aria-sort="ascending" aria-label="Currency pair: activate to sort column descending">Currency pair</th>
                        <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" style="width: 0px;" aria-label="Minimum fluctuation range: activate to sort column ascending">
                          Minimum fluctuation
                          <br>range
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;" aria-label="Spreads as low as ***: activate to sort column ascending">
                          Spreads
                          <br>as low as ***
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;" aria-label="Average spread***: activate to sort column ascending">Average spread***</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;" aria-label="Pay overnight interest (points)**: activate to sort column ascending">
                          Pay overnight interest
                          <br>(points)**
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;" aria-label="Overnight interest on sell orders (points)**: activate to sort column ascending">
                          Overnight interest on sell orders
                          <br>(points)**
                        </th>
                        <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" style="width: 0px;" aria-label="1 lot value: activate to sort column ascending">1 lot value</th>
                        <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" style="width: 0px;" aria-label="Stop profit and loss distance*: activate to sort column ascending">Stop profit and loss distance*</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">GOLDmicro</td>
                        <td>0.01</td>
                        <td>0.3</td>
                        <td>0.35</td>
                        <td>-9.74</td>
                        <td>-5.58</td>
                        <td>1 oz</td>
                        <td>1</td>
                      </tr>
                      <tr role="row" class="even">
                        <td tabindex="0" class="sorting_1">SILVERmicro</td>
                        <td>0.001</td>
                        <td>0.03</td>
                        <td>0.035</td>
                        <td>-1.28</td>
                        <td>-0.6</td>
                        <td>50 oz</td>
                        <td>0.14</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Showing 1 to 2 ，of 2 entries</div>
                  <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                    <a class="paginate_button previous disabled" aria-controls="DataTables_Table_1" data-dt-idx="0" tabindex="0" id="DataTables_Table_1_previous">Previous</a>
                    <span>
                      <a class="paginate_button current" aria-controls="DataTables_Table_1" data-dt-idx="1" tabindex="0">1</a>
                    </span>
                    <a class="paginate_button next disabled" aria-controls="DataTables_Table_1" data-dt-idx="2" tabindex="0" id="DataTables_Table_1_next">Next</a>
                  </div>
                </div>
              </div>
              <div class="top80 row">
                <div class="col-sm-12">
                  <p>
                    <b>Minimum/maximum number of trading lots:</b>0.1/100(MT5)
                  </p>
                </div>
              </div>
            </div>
            <div class="tab-pane " id="ultraLowStandard" v-if="tableIndex===2">
              <div class="dis30"></div>
              <div class="table-wrap">
                <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper no-footer">
                  <div class="dataTables_length" id="DataTables_Table_2_length">
                    <label>
                      展示
                      <select name="DataTables_Table_2_length" aria-controls="DataTables_Table_2" class="">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>商品
                    </label>
                  </div>
                  <div id="DataTables_Table_2_filter" class="dataTables_filter">
                    <label>
                      搜索
                      <input type="search" class="" placeholder="" aria-controls="DataTables_Table_2">
                    </label>
                  </div>
                  <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_2" aria-describedby="DataTables_Table_2_info" style="width: 100%;">
                    <thead>
                      <tr role="row">
                        <th colspan="1" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" style="width: 0px;" aria-sort="ascending" aria-label="Currency pair: activate to sort column descending">Currency pair</th>
                        <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" style="width: 0px;" aria-label="Minimum fluctuation range: activate to sort column ascending">
                          Minimum fluctuation
                          <br>range
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 0px;" aria-label="Spreads as low as ***: activate to sort column ascending">
                          Spreads
                          <br>as low as ***
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 0px;" aria-label="Average spread***: activate to sort column ascending">Average spread***</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 0px;" aria-label="Pay overnight interest (points)**: activate to sort column ascending">
                          Pay overnight interest
                          <br>(points)**
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 0px;" aria-label="Overnight interest on sell orders (points)**: activate to sort column ascending">
                          Overnight interest on sell orders
                          <br>(points)**
                        </th>
                        <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" style="width: 0px;" aria-label="1 lot value: activate to sort column ascending">1 lot value</th>
                        <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" style="width: 0px;" aria-label="Stop profit and loss distance*: activate to sort column ascending">Stop profit and loss distance*</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">GOLD#</td>
                        <td>0.01</td>
                        <td>0.2</td>
                        <td>0.25</td>
                        <td>-9.74</td>
                        <td>-5.58</td>
                        <td>100 oz</td>
                        <td>0.5</td>
                      </tr>
                      <tr role="row" class="even">
                        <td tabindex="0" class="sorting_1">SILVER#</td>
                        <td>0.001</td>
                        <td>0.022</td>
                        <td>0.025</td>
                        <td>-1.28</td>
                        <td>-0.6</td>
                        <td>5000 oz</td>
                        <td>0.04</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite">Showing 1 to 2 ，of 2 entries</div>
                  <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_2_paginate">
                    <a class="paginate_button previous disabled" aria-controls="DataTables_Table_2" data-dt-idx="0" tabindex="0" id="DataTables_Table_2_previous">Previous</a>
                    <span>
                      <a class="paginate_button current" aria-controls="DataTables_Table_2" data-dt-idx="1" tabindex="0">1</a>
                    </span>
                    <a class="paginate_button next disabled" aria-controls="DataTables_Table_2" data-dt-idx="2" tabindex="0" id="DataTables_Table_2_next">Next</a>
                  </div>
                </div>
              </div>
              <div class="top80 row">
                <div class="col-sm-12">
                  <p>
                    <b>Minimum/maximum number of trading lots:</b>0.1/50(MT5)
                  </p>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="ultraLowMicro" v-if="tableIndex===3">
              <div class="dis30"></div>
              <div class="table-wrap">
                <div id="DataTables_Table_3_wrapper" class="dataTables_wrapper no-footer">
                  <div class="dataTables_length" id="DataTables_Table_3_length">
                    <label>
                      展示
                      <select name="DataTables_Table_3_length" aria-controls="DataTables_Table_3" class="">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>商品
                    </label>
                  </div>
                  <div id="DataTables_Table_3_filter" class="dataTables_filter">
                    <label>
                      搜索
                      <input type="search" class="" placeholder="" aria-controls="DataTables_Table_3">
                    </label>
                  </div>
                  <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_3" aria-describedby="DataTables_Table_3_info" style="width: 100%;">
                    <thead>
                      <tr role="row">
                        <th colspan="1" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" style="width: 0px;" aria-sort="ascending" aria-label="Currency pair: activate to sort column descending">جفت ارز</th>
                        <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" style="width: 0px;" aria-label="Minimum fluctuation range: activate to sort column ascending">
                          حداقل نرخ نوسان
                          <br>جفت ارز
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="پایین ترین اسپردها ***: activate to sort column ascending">
                          Spreads
                          <br>as low as ***
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="Average spread***: activate to sort column ascending">میانگین اسپرد***</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="Pay overnight interest (points)**: activate to sort column ascending">
                          نرخ بهره ی شبانه
                          <br>(هر پوینت)**
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="Overnight interest on sell orders (points)**: activate to sort column ascending">
                          نرخ بهره ی شبانه ی دستورات فروش
                          <br>(هر پوینت)**
                        </th>
                        <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" style="width: 0px;" aria-label="1 lot value: activate to sort column ascending">ارزش هر 1 لات</th>
                        <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" style="width: 0px;" aria-label="Stop profit and loss distance*: activate to sort column ascending">میزان استاپ لاس و پرافیت*</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">طلا#</td>
                        <td>0.01</td>
                        <td>0.2</td>
                        <td>0.25</td>
                        <td>-9.74</td>
                        <td>-5.58</td>
                        <td>1 oz</td>
                        <td>0.5</td>
                      </tr>
                      <tr role="row" class="even">
                        <td tabindex="0" class="sorting_1">نقره#</td>
                        <td>0.001</td>
                        <td>0.022</td>
                        <td>0.025</td>
                        <td>-1.28</td>
                        <td>-0.6</td>
                        <td>50 oz</td>
                        <td>0.04</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="dataTables_info" id="DataTables_Table_3_info" role="status" aria-live="polite">نمایش صفحه ی 1 از 2 </div>
                  <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_3_paginate">
                    <a class="paginate_button previous disabled" aria-controls="DataTables_Table_3" data-dt-idx="0" tabindex="0" id="DataTables_Table_3_previous">قبلی</a>
                    <span>
                      <a class="paginate_button current" aria-controls="DataTables_Table_3" data-dt-idx="1" tabindex="0">1</a>
                    </span>
                    <a class="paginate_button next disabled" aria-controls="DataTables_Table_3" data-dt-idx="2" tabindex="0" id="DataTables_Table_3_next">بعدی</a>
                  </div>
                </div>
              </div>
              <div class="top80 row">
                <div class="col-sm-12">
                  <p>
                    <b>حداقل / حداکثر تعداد لات مجاز در معاملات:</b>0.1/50(MT5)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid " style="direction:rtl; text-align:right;">
      <div class="container-fluid">
        <div class="col-sm-12">
          <p> مارجین مورد نیاز طلا و نقره از ا ین طریق محاسبه میشود: لات * حجم قرارداد * قیمت بازار / لوریج</p>
        </div>
      </div>
      <div class="container-fluid">
        <div class="col-12">
          <p>
            <strong>
              ساعات معامله ی طلا و نقره
              <br> ( منطقه ی زمانی GMT+2 ، لطفا در نظر داشته باشید که زمان روشنایی روز هم ممکن است اعمال شود)
            </strong>
            <br>
            <i class="fa fa-clock-o red"></i>دوشنبه – پنجشنبه:   23:55 – 01:05
            <br>
            <i class="fa fa-clock-o red"></i>جمعه: 23:50 – 01:05
          </p>
        </div>
      </div>
      <!-- <div class="dis80"></div> -->
      <!-- <div class="row">
        <div class="col-12">
          <h3>Other precious metals</h3>
          <ul id="tabs3" class="nav nav-tabs top20" role="tablist">
            <li :class="{active:tableIndex2===0}">
              <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex2(0)">Contract for difference CFDs</a></li>
            <li :class="{active:tableIndex2===1}">
              <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex2(1)">Trading Hour</a></li>
            <li :class="{active:tableIndex2===2}">
              <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex2(2)">Calendar</a></li>
          </ul>
          <div id="tabContent" class="tab-content" >
            <div class="tab-pane active" id="futures" v-if="tableIndex2===0">
              <div class="table-wrap top50">
                <div id="DataTables_Table_4_wrapper" class="dataTables_wrapper no-footer">
                  <div class="dataTables_length" id="DataTables_Table_4_length">
                    <label>展示
                      <select name="DataTables_Table_4_length" aria-controls="DataTables_Table_4" class="">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option></select>商品</label>
                  </div>
                  <div id="DataTables_Table_4_filter" class="dataTables_filter">
                    <label>搜索
                      <input type="search" class="" placeholder="" aria-controls="DataTables_Table_4"></label></div>
                  <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_4" aria-describedby="DataTables_Table_4_info" style="width: 100%;">
                    <thead>
                      <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 97px;" aria-sort="ascending" aria-label="Commodity code: activate to sort column descending">Commodity code</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 78px;" aria-label="Commodity overview: activate to sort column ascending">Commodity overview</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 78px;" aria-label="Minimum fluctuation range: activate to sort column ascending">Minimum fluctuation
                          <br>range</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 112px;" aria-label="Minimum price fluctuation: activate to sort column ascending">Minimum price fluctuation</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 43px;" aria-label="Lowest spread: activate to sort column ascending">spread
                          <br>Lowest</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 118px;" aria-label="1 lot value: activate to sort column ascending">1 lot value</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 155px;" aria-label="Minimum/maximum trading lots: activate to sort column ascending">Minimum/maximum trading lots</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 95px;" aria-label="Margin ratio: activate to sort column ascending">Margin ratio</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 104px;" aria-label="Stop profit and loss distance*: activate to sort column ascending">Stop profit and loss distance*</th></tr>
                    </thead>
                    <tbody>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">PALL</td>
                        <td>Palladium</td>
                        <td>0.01000</td>
                        <td>USD 0.1</td>
                        <td>4</td>
                        <td>10 Troy ounces</td>
                        <td>1/45</td>
                        <td>4.5 %</td>
                        <td>10</td></tr>
                      <tr role="row" class="even">
                        <td tabindex="0" class="sorting_1">PLAT</td>
                        <td>Platinum</td>
                        <td>0.01000</td>
                        <td>USD 0.1</td>
                        <td>3</td>
                        <td>10 Troy ounces</td>
                        <td>1/100</td>
                        <td>4.5 %</td>
                        <td>8</td></tr>
                    </tbody>
                  </table>
                  <div class="dataTables_info" id="DataTables_Table_4_info" role="status" aria-live="polite">Showing 1 to 2 ，of 2 entries</div>
                  <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_4_paginate">
                    <a class="paginate_button previous disabled" aria-controls="DataTables_Table_4" data-dt-idx="0" tabindex="0" id="DataTables_Table_4_previous">Previous</a>
                    <span>
                      <a class="paginate_button current" aria-controls="DataTables_Table_4" data-dt-idx="1" tabindex="0">1</a></span>
                    <a class="paginate_button next disabled" aria-controls="DataTables_Table_4" data-dt-idx="2" tabindex="0" id="DataTables_Table_4_next">Next</a></div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="trading-hours" v-if="tableIndex2===1">
              <div class="table-wrap top50">
                <div id="DataTables_Table_5_wrapper" class="dataTables_wrapper no-footer">
                  <div class="dataTables_length" id="DataTables_Table_5_length">
                    <label>展示
                      <select name="DataTables_Table_5_length" aria-controls="DataTables_Table_5" class="">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option></select>商品</label>
                  </div>
                  <div id="DataTables_Table_5_filter" class="dataTables_filter">
                    <label>搜索
                      <input type="search" class="" placeholder="" aria-controls="DataTables_Table_5"></label></div>
                  <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_5" aria-describedby="DataTables_Table_5_info" style="width: 100%;">
                    <thead>
                      <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-sort="ascending" aria-label="Commodity code: activate to sort column descending">Commodity code</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="Commodity overview: activate to sort column ascending">Commodity overview</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="Server Time: activate to sort column ascending">Server Time</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="Weekday: activate to sort column ascending">Weekday</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="Monday Open: activate to sort column ascending">Monday Open</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="Friday Close: activate to sort column ascending">Friday Close</th></tr>
                    </thead>
                    <tbody>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">PALL</td>
                        <td>Palladium</td>
                        <td>GMT +2</td>
                        <td>01:05-23:55</td>
                        <td>01:05</td>
                        <td>23:10</td></tr>
                      <tr role="row" class="even">
                        <td tabindex="0" class="sorting_1">PLAT</td>
                        <td>Platinum</td>
                        <td>GMT +2</td>
                        <td>01:05-23:55</td>
                        <td>01:05</td>
                        <td>23:10</td></tr>
                    </tbody>
                  </table>
                  <div class="dataTables_info" id="DataTables_Table_5_info" role="status" aria-live="polite">Showing 1 to 2 ，of 2 entries</div>
                  <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_5_paginate">
                    <a class="paginate_button previous disabled" aria-controls="DataTables_Table_5" data-dt-idx="0" tabindex="0" id="DataTables_Table_5_previous">Previous</a>
                    <span>
                      <a class="paginate_button current" aria-controls="DataTables_Table_5" data-dt-idx="1" tabindex="0">1</a></span>
                    <a class="paginate_button next disabled" aria-controls="DataTables_Table_5" data-dt-idx="2" tabindex="0" id="DataTables_Table_5_next">Next</a></div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="calendar" v-if="tableIndex2===2">
              <div class="table-wrap top50">
                <div id="DataTables_Table_6_wrapper" class="dataTables_wrapper no-footer">
                  <div class="dataTables_length" id="DataTables_Table_6_length">
                    <label>展示
                      <select name="DataTables_Table_6_length" aria-controls="DataTables_Table_6" class="">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option></select>商品</label>
                  </div>
                  <div id="DataTables_Table_6_filter" class="dataTables_filter">
                    <label>搜索
                      <input type="search" class="" placeholder="" aria-controls="DataTables_Table_6"></label></div>
                  <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_6" aria-describedby="DataTables_Table_6_info" style="width: 100%;">
                    <thead>
                      <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-sort="ascending" aria-label="Instrument: activate to sort column descending">Instrument</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Status: activate to sort column ascending">Status</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Feb20: activate to sort column ascending">Feb
                          <br>20</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Mar20: activate to sort column ascending">Mar
                          <br>20</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Apr20: activate to sort column ascending">Apr
                          <br>20</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="May20: activate to sort column ascending">May
                          <br>20</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Jun20: activate to sort column ascending">Jun
                          <br>20</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Jul20: activate to sort column ascending">Jul
                          <br>20</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Aug20: activate to sort column ascending">Aug
                          <br>20</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Sep20: activate to sort column ascending">Sep
                          <br>20</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Oct20: activate to sort column ascending">Oct
                          <br>20</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Nov20: activate to sort column ascending">Nov
                          <br>20</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Dec20: activate to sort column ascending">Dec
                          <br>20</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Jan21: activate to sort column ascending">Jan
                          <br>21</th></tr>
                    </thead>
                    <tbody>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Palladium
                          <br>(PALL)</td>
                        <td>Open</td>
                        <td></td>
                        <td>22/11/19</td>
                        <td></td>
                        <td></td>
                        <td>21/02/20</td>
                        <td></td>
                        <td></td>
                        <td>21/05/20</td>
                        <td></td>
                        <td></td>
                        <td>25/08/20</td>
                        <td></td>
                      </tr>
                      <tr role="row" class="even">
                        <td tabindex="0" class="sorting_1">Palladium
                          <br>(PALL)</td>
                        <td>Close Only</td>
                        <td></td>
                        <td>21/02/20</td>
                        <td></td>
                        <td></td>
                        <td>21/05/20</td>
                        <td></td>
                        <td></td>
                        <td>25/08/20</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Palladium
                          <br>(PALL)</td>
                        <td>Expiry</td>
                        <td></td>
                        <td>24/02/20</td>
                        <td></td>
                        <td></td>
                        <td>22/05/20</td>
                        <td></td>
                        <td></td>
                        <td>26/08/20</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr role="row" class="even">
                        <td tabindex="0" class="sorting_1">Platinum
                          <br>(PLAT)</td>
                        <td>Open</td>
                        <td></td>
                        <td></td>
                        <td>26/12/19</td>
                        <td></td>
                        <td></td>
                        <td>25/03/20</td>
                        <td></td>
                        <td></td>
                        <td>25/06/20</td>
                        <td></td>
                        <td></td>
                        <td>24/09/20</td></tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Platinum
                          <br>(PLAT)</td>
                        <td>Close Only</td>
                        <td></td>
                        <td></td>
                        <td>25/03/20</td>
                        <td></td>
                        <td></td>
                        <td>25/06/20</td>
                        <td></td>
                        <td></td>
                        <td>24/09/20</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr role="row" class="even">
                        <td tabindex="0" class="sorting_1">Platinum
                          <br>(PLAT)</td>
                        <td>Expiry</td>
                        <td></td>
                        <td></td>
                        <td>26/03/20</td>
                        <td></td>
                        <td></td>
                        <td>26/06/20</td>
                        <td></td>
                        <td></td>
                        <td>25/09/20</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="dataTables_info" id="DataTables_Table_6_info" role="status" aria-live="polite">Showing 1 to 6 ，of 6 entries</div>
                  <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_6_paginate">
                    <a class="paginate_button previous disabled" aria-controls="DataTables_Table_6" data-dt-idx="0" tabindex="0" id="DataTables_Table_6_previous">Previous</a>
                    <span>
                      <a class="paginate_button current" aria-controls="DataTables_Table_6" data-dt-idx="1" tabindex="0">1</a></span>
                    <a class="paginate_button next disabled" aria-controls="DataTables_Table_6" data-dt-idx="2" tabindex="0" id="DataTables_Table_6_next">Next</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="dis60"></div>
      <div class="container-fluid">
        <div class="col-md-12 text-justify mx-2">
          <p>* برای دستورگذاری حد سود و زیان با توجه به قیمت لحظه ای بازار کمترین میزان اسپرد را تنظیم کنید.</p>
          <p>**  اگر پوزیشن باز شبانه داشته باشید، مبلغی را پرداخت یا دریافت می کنید که بهره ی حاصل از دو جفت ارزی است که همان نرخ بهره ی شبانه (سواپ) میباشد. در نرم افزار معاملاتی، سواپ شبانه بطور خودکار در مبلغ واریزی حساب شما اعمال خواهد شد (ارز حساب). سیستم روزانه راس ساعت 00:00 ( منطقه ی زمانی GMT+2 ، با در نظر گرفتن احتمال اعمال ساعات روشنایی روز) سواپ را محاسبه میکند که کل پروسه چند دقیقه زمان نیاز دارد. این نرخ از چهارشنبه تا پنجشنبه، سه برابر در نظرگرفته می شود.</p>
          <p>*** میانگین اسپرد بطور روزانه محاسبه و طبق شرایط نرمال بازار انجام میشود. با این حال، به دلیل انتشار اخبار مهم، دوره های بی ثبات سیاسی، تعطیلی بازار یا تعطیلات آخر هفته که نقدینگی کم میباشد و حوادث غیرمنتظره ممکن است بازار دچار نوسانات زیاد شده و اسپردها افزایش پیدا کنند. در صورتیکه با پلتفرم ما معامله میکنید، نقطه ی مورد نظر معامله بروکر میباشد. ما معاملات و پوزیشن های هجیگن و ارائه دهندگان نقدینگی شما را که اسپرد فعلی آنها از بالاتر از بالاترین سطح است مطابقت خواهیم داد. با این وجود در شرایط نوسان زیاد در بازار یا سیالیت ضعیف، اسپردهای اولیه که تامین کنندگان نقدینگی ما ارائه میدهند بالاتر از حد نرمال بوده و در نتیجه اسپرد نقطه ی معامله هم افزایش پیدا خواهد کرد. </p>
          <p>فرمول محاسبه ی مارجین CFD به این شکل میباشد: اندازه ی لات * حجم قرارداد * قیمت لحظه ی باز شدن * نسبت مارجین. محاسبه ی مارجین هیچ ارتباطی با لوریج حساب شما ندارد.</p>
          <p>در صورتیکه برای معامله کالا را انتخاب کرده اید نسبت پیش پرداخت شما بایستی بیشتر از 100% باشد. اگر معاملات CFD را قفل کنید ، پیش پرداخت قفل فقط برای لات های بزرگ یک جانبه کسر می شود.</p>
          <p>تاریخ موجود در تقویم فقط مرجع بوده و امکان تغییر آن در هر زمان وجود دارد.</p>
        </div>
      </div>
    </div>
    <div class="container-fluid " style="direction:rtl; text-align:right;">
      <h2>بازار معاملاتی طلا و فلزات گرانبها</h2>
      <p>طلا و سایر فلزات گرانبها، نفت خام، مس، بنزین و سایر کالاها جایگاه مهمی در بازار کالاهای عمده دارند. تمام این موارد در زمره ی کالاهای قراردادی قرار دارند. قرارداد فلزات گرانبها شامل آتی، لحظه ای، فوروارد و آپشن میباشد.</p>
      <p>واسطه معاملات قراردادهای آتی، بورس آتی یا بازار آتی است. معامله گران از سراسر دنیا می توانند حدود 50 کالای عمده را، اگر در مورد ارزش اقتصادی و دوام بسیار بالای آن ها مردد هستند، معامله کنند. طلا، نقره، پلاتینیم، پالادیوم و غیره جزء دارایی های اصلی معامله میباشند. آسیا بزرگترین بازار معاملاتی فلزات گرانبها میباشد ( چین، هند و سنگاپور بیشترین تعداد معامله گر بر روی چنین کالاهایی را دارد)  و غالب معاملات انبوه کالاها تحت سلطه شرکت های اروپایی و آمریکایی است. بزرگترین شرکت های فلزات گرانبها در کانادا و آلمان قرار دارند.</p>
      <p>
        علاوه بر کالاهایی نظیر جفت ارزها و
        شاخص طلا، معامله بر روی فلزات گرانبها نیز در بازار آتی از اهمیت بسیار بالایی برخوردار است. شما در این بازار میتوانید بصورت 24 ساعته معامله انجام بدهید البته به غیر از آخر هفته ها. بطور کلی دو روش برای معامله ی فلزات گرانبها وجود دارد: قراردادهای آنی و قراردادهای آتی. قراردادهای آنی مشمول خرید و فروش لحظه ای، پرداخت و تحویل آنی میشوند در حالیکه قراردادهای آتی شرایط استاندارد دارند. هر دو طرف در مورد مبلغ مشخصی از قیمت فلزات گرانبها (که به آنها قیمت های آتی گفته می شود) برای تحویل و پرداخت در تاریخ آینده (به نام موعد تحویل) توافق کرده اند. معاملات آتی به این واقعیت اشاره دارد که مالکیت واقعی در مورد کالاهای مورد معامله ی آنلاین وجود ندارد.
        <h3>معامله ی طلا و فلزات گرانبها</h3>
        <div class="row top30"></div>
      <p>بیشترین تعداد معاملات فلزات گرانبها بر روی طلا، پلاتینیم، پالادیم و نقره انجام میشود. حجم بالای معاملات این کالاها (صرف نظر از شرایط اقتصادی) به دلیل ارزش ذاتی حفظ شده آنها، است. در دهه های اخیر گرایش مردم برای خرید فلزات گرانبها به عنوان کالاهای سرمایه گذاری بلند مدت آنلاین و حتی مالکیت فیزیکی به طور قابل توجهی افزایش یافته است. معامله ی فلزات گرانبها نیز فرصت هایی را برای علاقه مندان به سرمایه گذاری های کوتاه مدت فراهم می کند، از آنجاییکه قراردادهای مشتقاتی و فروش مبادله ای راهی ساده و فشرده برای کسب سود از طریق تغییرات قیمت است.</p>
      <p>معامله ی طلا، بر خلاف اغلب کالاها که بستگی به سطح تولید و مصرف دارند از این قائده پیروی نمیکند و گاهی اوقات تغییرات سیاسی، طلا را به امن ترین بازار تبدیل می کند. علاوه بر طلا، پلاتینیم و نقره همچنین دارایی های ارزشمندی هستند که معامله گران در شرایط بی ثبات بازار به سمت آن ها روی می آورند.</p>
      <p>عوامل متعدد تاثیرگذار در نوسانات بازار وجود دارد و ممکن است باعث نوسان بازار فلزات گرانبها شود. یکی از مهم ترین عوامل، موسسات مالی جهانی هستند که سرمایه گذاری آن ها ذاتا احتکارآمیز بوده و ممکن است منجر به تغییرات قیمت رو به بالا یا رو به پایین شود. یکی دیگر از عوامل که بازار را تحت تاثیر قرار میدهد روند کاربران میباشد که عمدتا خریداران طلا هستند: تقاضای بیشتر جواهرات منجر به افزایش قیمت فلزات گرانبها در بازار میشود. شرایط اقتصادی نیز همینطور قیمت های بازار را تحت تاثیر قرار میدهند. در کشورهایی که شرایط اقتصادی خوبی دارند، سطح دارایی ها ارتباط مستقیم با تقاضای طلا یا سایر فلزات گرانبها دارند: در صورتیکه سرمایه گذاران به دنبال گزینه های بیشتر سرمایه گذاری با ریسک بالاتر باشند، قیمت فلزات گرانبهای خاص افزایش پیدا خواهد کرد و در نتیجه سایر قیمت ها نیز افزایش خواهند یافت. همچنین تغییرات در تقاضا برای دارایی های مالی غیر از فلزات گرانبها نیز در نوسانات قیمت ها تاثیرگذار هستند .</p>
      <div class="row top30"></div>
      <h3>خلاصه ای از تاریخچه ی معامله ی طلا و سایر فلزات گرانبها</h3>
      <div class="row top30"></div>
      <p>فلزات گرانبها بویژه طلا، از گذشته نماد ثروت و دارایی بوده است. در عصر ماقبل تاریخ از طلا برای مبادله ی کالا استفاده میشده است. طلا برای قرن های متوالی، چه به صورت سکه، شمش طلا، و چه دوده طلا ترکیبی، دارایی ارزشمند محسوب میشده است و مناسب پس انداز بوده است. اولین سکه 600 سال قبل از میلاد مسیح ضرب شده و مبادلات ارزی (که طلا پایه ی آن بوده است) به مدت 30 سال استفاده شده است. طلا به عنوان یک فلز با رسانایی و بداهت بالا، با عناصر دیگر واکنش نشان نمی دهد، و از آن در صنعت جواهرات، شیمی بازرگانی و تجهیزات پزشکی استفاده می شود. بعد از سال 1976 سیستم ارز فیات، جایگزین طلا که عنوان ارز را داشت، شد، اما همچنان عنوان دارایی در سرمایه گذاری فیزیکی را تا به امروز حفظ کرده است.</p>
      <p>نقره هم مانند طلا بیشتر از 4000 سال برای مبادلات ارزی استفاده شده است و تا قرن 19 هم ادامه داشته است. مطالبات صنعتی، تجاری و مصرف کنندگان نقره را در زمره ی دارایی های ارزشمند سرمایه گذاری قرار داده است و مشتقاتی مانند نقره در بازارهای مختلف مبادلاتی در سراسر جهان در حال معامله میباشند. با پیدایش معاملات آنلاین، سرمایه گذاران راه آسانی را برای به دست آوردن قیمت نقره فراهم کرده اند.</p>
      <p>معامله ی پلاتینیم و پالادیوم در مقایسه با معامله ی طلا و نقره از زمان تمدن باستان، سابقه کوتاه تری در زمینه مالی دارند. با این حال، به دلیل کمیاب بودن و تولید سالانه و همچنین کاربردهای مختلف آن ها در چندین میدان صنعتی، گاهی نسبت به طلا ارزش بیشتری دارند، و ممکن است به ۱۰ برابر قیمت طلا برسند. پلاتینیم ثروت و طلای سفید-پلاتینیم مربوط به تمدن قاره آمریکا میباشد که اخیرا کلمبوس کشف کرد. اولین مورد پلاتینیم دیده شده در اروپا به قرن 16 برمیگردد.از قرن 18 ام هم در صنایع جواهرسازی، تجهیزات پزشکی، شیمی، دندان پزشکی و حتی دارویی مورد استفاده قرار گرفته است.</p>
      <p>پالادیوم هم مانند پلاتینیم نقش مهمی را در تکنولوژی ایفا میکند. از زمان کشف آن در قرن 19 ام در اروپا، تقاضای جهانی آن بالاخص در صنایع خودروسازی به ندرت افزایش پیدا کرد در حالیکه در صنایع داروسازی، الکترونیکی و جواهرسازی نیز بطور گسترده مورد استفاده قرار گرفته است. همچنین در دسته ی دارایی های قابل سرمایه گذاری نیز قرار دارد. با توجه به میزان عرضه و تقاضا (که بازار تعیین قیمت است)، در عصر ثبات اقتصادی پایدار، قیمت پلاتین و پالادیوم می تواند همان طلا یا حتی بالاتر از طلا باشد. در دوره های ناپایدار اقتصادی قیمت پلاتینیم و پالادیوم از قیمت طلا پایین تر خواهد بود. در هنگام سرمایه گذاری  تبدیل به یک فلز گرانبهای پایدارتر میشود.</p>
      <div class="row top30"></div>
      <h3> همین امروز طلا و فلزات گرانبها را معامله کنید</h3>
      <div class="row top30"></div>
      <p>
        علاوه بر معامله ی جفت ارزهای خارجی
        <a href="javascript:void(0)">مبادلات ارزی</a>）از سال 1970 و در دوره ی تورم یا عدم پایداری شرایط اقتصادی/سیاسی بر اساس مدیریت ریسک، معامله ی فلزات گرانبها در بین کالاهای معاملاتی از محبوبیت بسیاری برخوردار شد. سرمایه گذاری های بلند مدت بر روی طلا و سایر فلزات گرانبها در تمام دنیا از محبوبیت بالایی برخوردار میباشد.
      </p>
      <p>قراردادهای آتی به اصطلاح قراردادهای مشتقه هستند، به این معنی که ارزش آن ها با توجه به عملکرد دارایی های اصلی بدست می آید. یکی از اهداف اصلی سرمایه گذاری بر روی فلزات گرانبهای آتی کاهش ریسک می باشد: با دادن امکان بهره مندی از مزایای معاملات آتی با قیمت ثابت و یا نرخ بهره به خریداران و فروشندگان قراردادی که، هر دو می توانند اطمینان حاصل کنند تغییرات شدید یا ناگهانی قیمت ممکن است منجر به افزایش زیان آن ها شود.</p>
      <p>معامله ی فلزات گرانبها را می توان دو طرفه در نظر گرفت: در صورت رشد بازار (روند رو به بالا)، معامله را می توان از طریق خرید قراردادهای آتی (خرید) و صادرات به فروش رساند؛ و در صورت نزول بازار (روند نزولی)، مبادلات را می توان با فروش قراردادهای آتی برای ورود (فروش) و صادرات از طریق قراردادهای خرید به انجام رسانید. همچنین می توان قراردادهای آتی متعددی از جمله ساخت چندین واردات و صادرات جداگانه با ورود به قرارداد  در قیمت های مختلف و خروج در یک قیمت یا بالعکس معامله کرد. توانایی معامله ی طرفین، صرفنظر از روند صعودی یا نزولی بازار، به سرمایه گذاران امکان کسب سود را میدهد.</p>
    </div>
    <div class="dis70"></div>



    <pageFooter />
  </div>
</template>


<script>

  import pageHeader from '../../components/pageHeaderTFX.vue'
  import pageFooter from '../../components/pageFooterTFX.vue'
  import { languageCode } from '../../utils/lan-code'





  export default {
    name: "my-acount",
    data: function () {
      return {
        isLogin: false,
        userLoginInfo: '',
        curCoinType: 1,
        curLanguage: 2,
        // language:coinstrad,

        userInfo: {
          configure: {
          }
        },

        tableIndex: 0,
        tableIndex2: 0,
        queryIndex: 0,
        queryIndexFlag: false




      };
    },
    metaInfo: {
      title: 'Precious metals-NOBLE SKY',
    },
    created() {



      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');

      this.curCoinType = !!storeCoinType ? storeCoinType : this.$api.defaultCoinType;
      this.curLanguage = !!storeLanguage ? storeLanguage : this.$api.defaultLanguage;

      if (this.curLanguage != 2) {
        let pName = this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[this.curLanguage]
        this.$router.push({ name: pNameStr });
      }

      this.isLogin = this.util.isLogin();

      if (!!this.isLogin) {
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
        // this.getUserInfo();
      }


      // this.getSystemTradMode()

      // this.getUserAsset()
      // this.getCoinList();
      // this.getUserOrder();
      // this.getUserOrder2();
      // this.settingAPIDataLanguage();
      // this.getcurrency()



    },

    mounted() {
      document.documentElement.scrollTop = 0
    },

    components: {
      pageHeader,
      pageFooter
    },

    methods: {
      changeLanguage(val) {
        console.log(this.curLanguage)
        let pName = this.curLanguage == 1 ? this.$route.name : this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[val]
        this.$router.push({ name: pNameStr });
      },
      hideMenu() {
        this.$refs.pageHead.hideMenu();
      },
      handleTableIndex(val) {
        this.tableIndex = val
      },
      handleTableIndex2(val) {
        this.tableIndex2 = val
      },
      handleQueryIndex(val) {
        if (val === this.queryIndex) {
          this.queryIndexFlag = !this.queryIndexFlag
        } else {
          this.queryIndex = val
          this.queryIndexFlag = true
        }

      }



    }


  };
</script>





<style scoped lang="scss">
  h2 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .top20 {
    margin-top: 20px !important;
  }

  .top30 {
    margin-top: 30px !important;
    text-align: center;
  }

  .top50 {
    margin-top: 50px !important;
    width: 95%;
    display: flex !important;
  }

  .top60 {
    margin-top: 60px !important;
  }

  .top80 {
    margin-top: 80px !important;
  }


  .text-center {
    text-align: center !important;
  }

  .center-block {
    float: none !important;
  }

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    display: none;
  }


  .dis20 {
    height: 20px;
    clear: both;
  }

  .dis30 {
    height: 30px;
    clear: both;
  }

  .dis60 {
    height: 60px;
    clear: both;
  }

  .dis80 {
    height: 80px;
    clear: both;
  }



  .site-canvas .top-bar .breadcrumb {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .site-canvas .top-bar {
    background-color: #e8e8e8;
    padding: 20px 25px;
    margin: 0;
  }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
    clear: both;
  }

  .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
  }



  .box-text-btn {
    text-align: center;
    padding: 10px !important;
    .row

  {
    margin-left: -15px;
    margin-right: -15px;
  }

  .btn-full {
    background-color: #74c109;
    display: inline-block;
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
    width: 247px;
    text-align: center;
  }

    .btn-full:hover {
      background-color: #29a643;
    }

  }

  .nav-flexbox-tabs {
    padding: 10px !important;
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: block;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
  }

    .nav-flexbox-tabs > li {
      width: 95%;
      text-align: center;
      background-color: #fff;
      margin-bottom: 15px;
      margin-left: 2.5%;
      margin-right: 15px;
      border: 1px solid #cbcbcb;
    }

      .nav-flexbox-tabs > li.active {
        background-color: #d51820;
      }

      .nav-flexbox-tabs > li > a, .nav-flexbox-tabs > li > button {
        color: #000;
      }

      .nav-flexbox-tabs > li.active a, .nav-flexbox-tabs > li.active button {
        color: #fff;
      }


  a:focus, a:visited {
    color: #d51820;
  }

  .nav-flexbox-tabs a, .nav-flexbox-tabs button {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #000;
    line-height: normal;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    min-height: 38px;
    padding: 0 15px;
  }




  .nav-tabs {
    border: 0;
    font-size: 0;
    margin-bottom: 30px;
  }

  #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
    position: relative;
    margin-bottom: 0;
    z-index: 9;
  }

  #tabs2, #tabs3, #tabs4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }





  .nav > li {
    position: relative;
    display: block;
  }

  .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
  }

  .nav-tabs > li {
    width: 50%;
  }

  #tabs2.nav-tabs > li, #tabs3.nav-tabs > li, #tabs4.nav-tabs > li {
    float: none;
    width: 100%;
  }

  #tabs2.nav-tabs > li, #tabs3.nav-tabs > li, #tabs4.nav-tabs > li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }



  .collapse {
    display: block;
  }

  .panel-default > .panel-heading i.fa-angle-up {
    color: #d51820 !important;
  }

  #tabContent .panel-default > .panel-heading i.fa.fa-angle-up, .panel-default > .panel-heading i.fa.fa-angle-up, #tabContent .panel-default > .panel-heading i.fa.fa-angle-down, .panel-default > .panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-up, .panel-default > .panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-down, .panel-default > .panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
  }

  .tab-pane .dis30 {
    height: 50px;
  }



  .row h2 {
    text-align: center;
    // margin-left: -15px;
    // margin-right: -15px;
  }


  // footer {
  //   height: 300px;
  //   background-color: #333;
  //   text-align: center;
  // }

    footer .cell {
      padding-top: 100px;
      font-size: 26px;
      color: #fff;
    }

  table.dataTable thead th, table.dataTable tbody td {
    padding: 0px 15px !important;
    font-size: 0.8em !important;
  }

  .row {
    display: block;
    width: 100%;
  }

  .feature-item5 {
    width: 50%;
  }

  .tab-content > .active {
    width: 100%;
  }

  table {
    display: contents;
  }
</style>
