<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar" style="direction:rtl;text-align:right;">
            <div class="container-fluid ">
              <div class="row">
                <div class="col-12">
                  <h1 class="ltr ">سیاست حریم خصوصی</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">سیاست حریم خصوصی</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span> تماس با ما</span>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid top80 regulation" style="direction:rtl;text-align:right;">
            <!-- <div class="row">
    <div class="col-12">
      <h2>相关法律文件</h2></div>
  </div> -->
            <div class="privacy-box" style="direction:rtl;text-align:right;">
              <p>لطفاً سیاست حفظ حریم خصوصی را با دقت مطالعه نمایید. جهت استفاده از محصولات یا خدمات ما شما تایید می کنید که به سن 18 سالگی رسیده اید و کلیه شرایط و محتوای سیاست حفظ حریم خصوصی را کاملاً درک کرده و پذیرفته اید. در صورت عدم موافقت، لطفا از محصولات یا خدمات ما استفاده نکرده و با ما همکاری نکنید.</p>
              <h3>مفهوم حریم اطلاعات شخصی</h3>
              <p>در سیاست حفظ حریم خصوصی، "اطلاعات شخصی" به اطلاعات جمع آوری شده ی خاص برای شناسایی هویت اشخاص گفته می شود، که می تواند به اطلاعات شخصی که می تواند به تنهایی مورد استفاده قرار گیرد (مانند نام ، اطلاعات کارت شناسایی) تقسیم شود که به تنهایی قابل استفاده نیست و باید با سایر اطلاعات (به عنوان مثال ، اطلاعات مکان ، وسایل نقلیه) ترکیب شود. اطلاعات شخصی که جمع آوری می کنیم ممکن است شامل هر دو نوع اطلاعات باشد. اطلاعات شخصی که می توانند به طور مستقل مورد استفاده قرار گیرند تنها با اطلاع و رضایت قلبی شما جمع آوری می شود. اطلاعات شخصی که به طور جداگانه قابل استفاده نیستند ممکن است توسط ما برای هر هدف دیگری غیر از استفاده ترکیبی جمع آوری ، مورد استفاده ، انتقال و افشا شود.</p>
              <p>"اطلاعات شخصی" جمع آوری شده ی شما ممکن است، البته نه بطور قطع، شامل نام شما، آدرس پستی ، شماره تلفن، آدرس پست الکترونیکی و سایر اطلاعات تماس، سن، تاریخ تولد، جنسیت، تحصیلات، شغل، زبان، کد پستی، منطقه کد، تصویر شخصی، اطلاعات مربوط به اولویت های شما، کارت شناسایی، اطلاعات گواهی نامه ی رانندگی، اطلاعات کارت اعتباری، شناسه منحصر به فرد دستگاه، اطلاعات مکان، وضعیت خودرو، رفتار و غیره باشد.</p>

              <h3>مفهوم جمع آوری اطلاعات شخصی</h3>
              <p>ما اطلاعات شخصی شما را به روش های مختلف جمع آوری و ذخیره خواهیم کرد:</p>
              <p>اطلاعاتی که هنگام مراجعه و یا مشارکت در وب سایت رسمی یا سایر خدمات آنلاین ما به طور داوطلبانه به ما ارائه می دهید (مانند تماس با ما از طریق وب سایت یا ایمیل ما برای پرسش و پاسخ ، نظر یا نظرسنجی آنلاین).</p>
              <p>هنگام ثبت نام برای استفاده از خدمات آفلاین ما؛</p>
              <p>هنگام بارگیری یا استفاده از برنامه هایی که توسط ما یا شرکت های معین تولید شده اند؛</p>
              <p>هنگامی که رسانه های اجتماعی ما را دنبال می کنید؛</p>
              <p>هنگام ارائه ی اطلاعات به نمایندگان مراکز خدمات مشتری؛</p>
              <p>همچنین ممکن است اطلاعات مربوط به شما را از منابع دیگر جمع آوری کرده و به پایگاه داده مشتری خود اضافه کنیم.</p>

              <h5>
                جمع اوری اطلاعات از طریق کوکی ها </h5>
                <p>ما از کوکی ها و سایر فناوری های ردیابی برای پیگیری نحوه استفاده مشتریان از وب سایت استفاده می کنیم. کوکی ها شناسه های خاصی برای دستگاه شما هستند. با شناسایی دستگاه شما می توانیم محصولات و تبلیغات شخصی شده را برای شما ارسال کنیم (از جمله وب سایت های وابسته که محتوای تبلیغاتی این وب سایت را ارائه می دهند).</p>
                <p>اطلاعاتی که از طریق کوکی ها جمع آوری می کنیم طبقه بندی و خلاصه می شود تا اطلاعات و خدمات هدفمند و با ارزش تری را به گروه های مختلف مشتری ارائه دهد. اطلاعات جمع آوری شده از طریق کوکی ها اطلاعات شخصی است که نمی تواند به صورت جداگانه مورد استفاده قرار گیرد و شما در جریان هستید که ما از اطلاعات جمع آوری شده از طریق کوکی ها در ترکیب با سایر اطلاعات شما استفاده می کنیم. بیشتر مرورگرهای وب به طور خودکار کوکی ها را روشن می کنند ، اما شما همیشه می توانید تنظیمات مرورگر خود را برای خاموش کردن کوکی ها انجام دهید. با این حال ، کوکی ها می توانند شما را قادر به لذت بردن از خدمات بهتر و شخصی تر ما کنند. اگر کوکی ها را خاموش کنید ممکن است نتوانید تمام خدمات ارائه شده در وب سایت ما را کاملاً تجربه کنید. بنابراین ، توصیه می کنیم آن را روی حالت باز تنظیم کنید. </p>

                <h5>جمع آوری اطلاعات از طریق مراکز تماس</h5>
                <p>هنگامی که با بخش خدمات مشتری ما تماس می گیرید برای ارتقاع کیفیت خدمات و پیگیری درخواست های شما، ممکن است در هنگام مکالمه اطلاعات شخصی را از شما جمع آوری کنیم یا تماس را از طریق رسانه الکترونیکی ضبط کنیم. شما موافقت می کنید که ما در هنگام تماس صوتی اطلاعات شخصی شما را جمع آوری کرده و تماس را ضبط می کنیم.</p>


                <h3>عواقب امتناع از ارائه اطلاعات شخصی</h3>
                <p>ممکن شما است اطلاعات شخصی خود را ارائه ندهید، اگر تصمیم دارید اطلاعات شخصی خود را ارائه ندهید، ممکن است نتوانیم محصولات یا خدمات خود را به شما ارائه دهیم یا ممکن است نتوانیم به مشکلی که هنگام استفاده از محصولات ما روبرو می شوید پاسخ دهیم. ما مسئولیتی در قبال خساراتی که ممکن است به عنوان یک نتیجه گیری متحمل شوید ، نخواهیم داشت.</p>

                <h3>چگونه از اطلاعات شخصی شما استفاده میکنیم</h3>
                <p>ما از اطلاعات شخصی جمع آوری شده به منظور ذیل ("اهداف جمع آوری اطلاعات شخصی") استفاده خواهیم کرد:</p>
                <p>محصولات و خدماتما ن را مدیریت کنیم، و در اختیار شما قرار دهیم تا در مورد استفاده شما از محصولات و خدماتمان به موقع با شما ارتباط برقرار کنیم؛</p>
                <p>از عملکرد خدمات پشتیبانی میکنیم، به سوالات و درخواست های شما پاسخ میدهیم و معاملات شما را کنترل میکنیم؛</p>
                <p>خدمات پس از فروش خود را برای پشتیبانی از شما ارائه داده و نظرات شما را دریافت میکنیم؛</p>
                <p>شما را در جریان آخرین محصولات، خدمات و مشتقاتمان قرار دهیم؛;</p>
                <p>برای بهبود محصولات، خدمات و ارتباط با مشتریان و حل به موقع مشکلات مشتریان، از اطلاعات شخصیتان با استفاده از راهبردهای داخلی مانند تحلیل و بررسی داده ها استفاده میکنیم؛p>
                <p>برای ارسال اطلاعیه های مهم درباره امنیت محصول / خدمات از اطلاعات شخصی شما استفاده کنیم. از آنجا که چنین اطلاعاتی برای ایمنی شخصی شما از اهمیت بسزایی برخوردار است اکیداً توصیه می کنیم که از دریافت چنین اطلاعاتی خودداری نکنید؛</p>
                <p>به منظور شناسایی کلاهبرداری رخ داده یا احتمال کلاهبرداری یا جلوگیری از کلاهبرداری یا سایر اقدامات غیرقانونی بالقوه و سایر روش هایی که با آن ها موافق هستید؛</p>
                <p>در برخی موارد برای ارائه و بهبود محصولات، خدمات، محتوا و تبلیغات خود ممکن است اطلاعات شخصی و غیر شخصی شما را نیز برای تجزیه و تحلیل و تحقیق ترکیب کنیم.</p>
                <p>در برخی موارد برای ارائه و بهبود محصولات، خدمات، محتوا و تبلیغات خود ممکن است اطلاعات شخصی و غیر شخصی شما را نیز برای تجزیه و تحلیل و تحقیق ترکیب کنیم. </p>

                <h3>اطلاعات شخصی خود را با اشخاص ثالث افشا و به اشتراک بگذارید</h3>
                <p>ما به حریم شخصی شما احترام می گذاریم و از قوانین و مقررات مربوطه پیروی می کنیم. ما قول می دهیم اطلاعات شخصی شما را کاملاً محرمانه نگهداری کنیم و اطلاعات شخصی شما را به دیگران نمی فروشیم. ما اطلاعات شخصی شما  را فقط به هدف جمع آوری اطلاعات شخصی با اشخاص ثالثی که با این سیاست حفظ حریم خصوصی مطابقت دارند یا حداقل از آنها استفاده می کنند، به اشتراک خواهیم گذاشت مگر در مواردی که خلاف آن ذکر شده باشد، این اشخاص ثالث اطلاعات شخصی را از طرف ما جمع آوری ، استفاده یا انتقال نمی دهند. بنابراین ما مسئول جمع آوری ، استفاده یا انتقال اطلاعات شخصی توسط اشخاص ثالث نیستیم.</p>

                <h3>پردازش و ذخیره اطلاعات شخصی</h3>
                <p>هدف جمع آوری اطلاعات شخصی شما یا فراتر از محدوده این سیاست حفظ حریم خصوصی، پردازش، تغییر  یا آسیب به اطلاعات شخصی شما نیست.</p>
                <p>وقتی اطلاعات شخصی شما را ذخیره می کنیم، اقدامات امنیتی منطقی و کافی در نظر گرفته ایم تا از اطلاعات شخصی شما در برابر دسترسی، افشا و از دست دادن غیرمجاز محافظت کنیم، شامل اقدامات امنیتی الکترونیکی و اقدامات امنیتی فیزیکی اما صرفا محدود به آنها نیست.</p>

                <h3>یکپارچگی و به روزرسانی اطلاعات شخصی</h3>
                <p>ما چند روش آسان برای اطمینان از دقت، تکمیل بودن و به روز بودن اطلاعات شخصی شما ارائه می دهیم. اطلاعات شخصی شما را برای مدت زمانی که برای دستیابی به اهداف مندرج در این سیاست حفظ حریم خصوصی لازم است حفظ خواهیم کرد، مگر در مواردی که چنین نگهداری برای مدت طولانی تری توسط قانون لازم یا مجاز باشد.</p>

                <h3>انتخاب کنید</h3>
                <p>ما ممکن است اطلاعات بازاریابی را از طریق پست الکترونیکی، تلفن، تلفن همراه / پیامک (شامل پیام کوتاه) یا نامه برای شما ارسال کنیم، تا شما را در جریان آخرین اطلاعات مربوط به محصولات و خدمات قرار دهیم، از شما برای مشارکت در فعالیت های بازاریابی درخواست همکاری کنیم، و یا اطلاعیه های مربوط به محصولات یا خدمات را برای شما ارسال کنیم.</p>

                <h3>کودکان</h3>
                <p>ما آگاهانه اطلاعات شخصی کودکان زیر 18 سال را جمع آوری نخواهیم کرد و چنانچه متوجه شویم که اطلاعات شخصی کودکان زیر 18 سال را بدون رضایت والدین جمع آوری کرده ایم برای حذف سریع این اطلاعات در اسرع وقت اقدام خواهیم کرد.</p>

                <h3>اشخاص ثالث از طریق محصولات و خدمات ما اطلاعات شخصی شما را جمع آوری می کنند</h3>
                <p>محصولات و خدمات ما ممکن است حاوی پیوندهایی به وب سایت ها، محصولات و خدمات شخص ثالث باشد. محصولات و خدمات ما همچنین ممکن است از محصولات یا خدمات اشخاص ثالث استفاده کرده یا آن ها را ارائه دهند. چنین اطلاعات شخصی (که ممکن است حاوی داده های مکان یا اطلاعات تماس و غیره باشد) که توسط اشخاص ثالث از طریق سیستم ها، محصولات و خدمات ما جمع آوری می شود، مطابق با سیاست های رازداری شخص ثالث مورد استفاده، پردازش، ذخیره، انتقال، نگهداری میشود و ممکن است مطابق با سیاست حریم خصوصی شخص ثالث و مقررات از بین برود. اگر اطلاعات شخصی شما را در این فرآیند ضبط یا جمع آوری نکنیم، مسئولیتی در قبال آن نداریم و امیدواریم که بتوانید مفاد سیاست حفظ حریم خصوصی این اشخاص ثالث را درک کنید. با این حال اگر در روند کار اطلاعات شخصی شما را ضبط یا جمع آوری کنیم، به شدت از قوانین این سیاست حفظ حریم خصوصی پیروی خواهیم کرد.</p>

                <h3>به روز رسانی</h3>
                <p>ما حق تغییر و به روزرسانی سیاست حفظ حریم خصوصی را در هر زمان برای خود محفوظ می داریم. در صورت اعمال تغییرات مهمی در سیاست حفظ حریم خصوصی، در اسرع وقت آخرین سیاست حفظ حریم خصوصی را در وب سایت خود ارسال خواهیم کرد. همچنین آخرین سیاست حفظ حریم خصوصی را به نمایندگان خود ارائه خواهیم داد. برای جزئیات بیشتر می توانید با نمایندگان ما تماس بگیرید. بجز موارد ذکر شده، آخرین و موثرترین سیاست حفظ حریم خصوصی در مورد شما و کلیه اطلاعات شخصی شما اعمال می شود.</p>

                <h3>تماس با ما</h3>
                <p>در صورت هرگونه سوال در خصوص خط مشی فوق یا محافظت از اطلاعات شخصی خود، یا دسترسی به محتوای اطلاعات شخصی خود که توسط ما نگهداری می شود، یا اصلاح اطلاعات شخصی ارائه شده توسط شما، لطفا از طریق خدمات مشتری با ما تماس بگیرید. ما در اسرع وقت به درخواست شما پاسخ خواهیم داد. پاسخ رایگان است مگر اینکه هزینه ارائه پاسخ یا تعداد دفعات درخواست پاسخ منطقی نباشد.</p>
                <p>لطفاً سیاست حفظ حریم خصوصی را با دقت مطالعه کنید. پس از اتمام مطالعه و ارائه ی اطلاعات شخصی، یا محصولات ما را خریداری کرده اید یا از خدمات ما استفاده کرده اید که در هر صورت کلیه ی شرایط و محتوای سیاست حفظ حریم خصوصی را کاملاً درک کرده و پذیرفته اید.</p>



            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-8 {
       width: 66.66666667%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


 //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}

.privacy-box{
   h3{font-size: 24px !important;font-weight: bold;margin:50px 0 10px;color: #000 !important;}
   h5{font-size: 18px;font-weight: bold;margin:30px 0 10px;color: #387ee2;}
   p{font-size: 14px;margin-bottom: 10px;}
}



footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

  .regulation h3 {
    direction: rtl;
    padding: inherit;
  }

</style>
