<template>
  <div class="footer-container">
     <footer v-bind:class="{rightToLeft:(curLanguage==4||curLanguage==5)}">



      <div class="f-middle">
        <div class="width-cell">
          <div class="left">
            <router-link to="/privacy-policy" style="color: rgb(255, 162, 0); text-shadow: -3px 2px 4px #131212;">{{language[curLanguage][25]}}</router-link>
            <router-link to="/cookie" style="color: rgb(255, 162, 0); text-shadow: -3px 2px 4px #131212;">{{language[curLanguage][26]}}</router-link>
            <router-link to="/legal-documents" style="color: rgb(255, 162, 0); text-shadow: -3px 2px 4px #131212;">{{language[curLanguage][27]}}</router-link>
          </div>
          <div class="right">
            <img src="../../static/images/noblesky-logo-b.png" />
          </div>
        </div>
      </div>
      <div class="under">
        <div class="width-cell">
          <p>{{language[curLanguage][28]}}</p>
          <p>{{language[curLanguage][29]}}</p>
          <p>{{language[curLanguage][30]}}</p>
          <p>{{language[curLanguage][31]}}</p>
          <p>{{language[curLanguage][32]}} {{language[curLanguage][33]}}</p>
          <p>{{language[curLanguage][35]}}</p>
        </div>
      </div>
      <div>
        <div id="social" style="height: 5rem; font-size: 3em;">
            <a href="https://www.facebook.com/Nsky-Trade-104007878554091"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/noble_tra"><i class="fab fa-twitter"></i></a>
            <!-- <a href="https://linkedin.com"><i class="fab fa-linkedin"></i></a> -->
            <a href="https://www.instagram.com/nskytrade/"><i class="fab fa-instagram"></i></a>
            <!-- <a href="https://youtube.com"><i class="fab fa-youtube"></i></a> -->
            <a href="https://telegram.me/YourUsername"><i class="fab fa-telegram"></i></a>
          </div>

      </div>


    </footer>
    
    <div class="to-top" @click="toTop" :class="{'to-top-show':scroll_top>300}" :style="{right:rightRange}"><i class="icon el-icon-arrow-up"></i></div>
  </div>
</template>



<script>
  import ticker from './ticker.vue'
  import { languageCode } from "../utils/lan-code";
  import { changLang } from '../main.js'

export default {
    name: "pageFooter",
    props: {
      pageName: {
        default: '',
        type: String
      },
      defaultCoinType: {
        default: 1,
        type: Number
      },
      defaultLanguage: {
        default: 1,
        type: Number
      }

    },
  data: function() {
    return {
      curLanguage: this.$api.defaultLanguage,
      setLanguage: this.defaultLanguage,
         scroll_top:0,
         scrollFlag:false,
      rightRange: 0,
      languageOptions: [
        { value: 1, label: '简体中文', image: '../../static/images/CNFlag.png' },
        { value: 2, label: 'English', image: '../../static/images/ENFlag.png' },
        { value: 3, label: 'Türkçe', image: '../../static/images/TRFlag.png' },
        { value: 4, label: 'العربية', image: '../../static/images/ARFlag.png' },
        { value: 5, label: 'فارسى', image: '../../static/images/IRFlag.png' }
      ],
          language:{
           1:{
              1:'交易账户',
              2:'交易账户类型',
              3:'交易工具',
              4:'外汇',
              5:'贵重金属',
              6:'能源',
              7:'交易条件',
              8:'执行策略',
              9:'点差',
              10:'保证金和杠杆作用',
              11:'过夜仓位',
              12:'交易时间',
              13:'MT5交易平台',
              14:'PC系统MT5',
              16:'MT5 WebTrader',
              17:'iPad系统MT5',
              18:'iPhone版MT5',
              19:'安卓系统MT5',
              20:'简介',
              21:'关于我们',
              22:'监管与资质',
              23:'常见问题',
              24:'相关法律文件',
              25:'隐私政策',
              26:'Cookie政策',
              27:'条款与条例',
              28:'法律: 此网站由NOBLE SKY TREASURE运行，注册地址是：Suite 305, Griffith Corporate Center, Beachmont Kingston, St . Vincent and the Grenadines。',
              29:'NOBLE SKY TREASURE 旗下拥有 NOBLE SKY TREASURE Global Finance Co.,LLC 和 HK NOBLE SKY TREASURE PRECIOUS METALS LIMITED。',
              30:'NOBLE SKY TREASURE Global Finance Co.,LLC由圣文森特和格林纳丁斯金融服务管理局（SVGFSA）授权和监管（注册号：225 LLC2019）。',
              31:'HK NOBLE SKY TREASURE PRECIOUS METALS LIMITED香港金银业贸易场与香港法律（CGSE）授权与监管（牌照号：170）。',
              32:'免责声明:',
              33:'外汇和差价合约交易对于您的投资资本含有风险。请确保您已通读并完全理解我们的风险披露。',
              34:'条款与条例适用',
              35:'受限地区： NOBLE SKY TREASURE无法为特定国家/地区的居民提供服务，例如： 美国, 加拿大, 以色列 和 伊斯兰共和国。'
            },
            2:{
              1:'Trading account',
              2:'Trading Account Type',
              3:'Trading tools',
              4:'Foreign Exchange',
              5:'Precious Metals',
              6:'Energy',
              7:'Trading conditions',
              8:'Execution Policy',
              9:'Spreads',
              10:'Margin & Leverage',
              11:'Overnight Positions',
              12:'Trading Hours',
              13:'MT5 Trading platform',
              14:'MT5 for PC',
              16:'MT5 for WebTrader',
              17:'MT5 for iPad',
              18:'MT5 for iPhone',
              19:'MT5 for Android',
              20:'Introduction',
              21:'About us',
              22:'Supervision&Qualification',
              23:'FAQ',
              24:'Legal Documents',
              25:'Privacy Policy',
              26:'Cookie Policy',
              27:'Terms and Conditions',
              28:'Legal: This website is operated by NOBLE SKY TREASURE, registered at: Suite 305, Griffith Corporate Center, Beachmont Kingston, St . Vincent and the Grenadines.',
              29:'NOBLE SKY TREASURE owns NOBLE SKY TREASURE Global Finance Co., LLC and HK NOBLE SKY TREASURE PRECIOUS METALS LIMITED.',
              30:'NOBLE SKY TREASURE Global Finance Co., LLC is authorized and regulated by the Saint Vincent and the Grenadines Financial Services Authority (SVGFSA) (registration number: 225 LLC2019).',
              31:'HK NOBLE SKY TREASURE PRECIOUS METALS LIMITED Hong Kong Gold and Silver Trade Fair and Hong Kong Law (CGSE) authorization and supervision (license number: 170).',
              32:'Disclaimer:',
              33:'Foreign exchange and CFD trading involve risks to your investment capital. Please ensure that you have read through and fully understand our risk disclosure.',
              34:'T&Cs Applied',
              35:'Restricted areas: NOBLE SKY TREASURE cannot provide services to residents of certain countries/regions, such as the United States, Canada and Israel'
            },
            3:{
              1:'Hesaplar',
              2:'Ticaret hesabı türü',
              3:'Ticaret araçları',
              4:'Döviz',
              5:'Değerli metaller',
              6:'Enerji',
              7:'işlem şartları',
              8:'Yürütme Poliçesi',
              9:'Spreads',
              10:'Marj ve kaldıraç',
              11:'Gecelik Pozisyonlar',
              12:'İşlem Saatleri',
              13:'MT5 Ticaret platformu',
              14:'MT5 PC için',
              16:'MT5 WebTrader için',
              17:'MT5 İPad için',
              18:'MT5 İPhone için',
              19:'MT5 Android için',
              20:'Girişim',
              21:'Hakkımızda',
              22:'Denetim ve Yeterlilik',
              23:'SSS',
              24:'İlgili yasal belgeler',
              25:'Gizlilik Poliçesi',
              26:'Çerez Poliçesi',
              27:'Şartlar Ve Düzenlemler',
              28:'Yasal: Bu web sitesi NOBLE SKY TREASURE tarafından işletilmektedir, kayıtlı adres: OFFICE B1 18 / F LEGEND TOWER 7 SHING YIP STREET KWUN TONG, Hong Kong.',
              29:"NOBLE SKY TREASURE, NOBLE SKY TREASURE Global Finance Co., LLC ve HK NOBLE SKY TREASURE PRECIOUS METALS LIMITED'in sahibidir.",
              30:'HK NOBLE SKY TREASURE PRECIOUS METALS LIMITED, Hong Kong Külçe Ticaret Fuarı ve Hong Kong Yasası (CGSE) (lisans numarası: 170) tarafından yetkilendirilmiş ve denetlenmektedir.',
              31:'HK NOBLE SKY TREASURE PRECIOUS METALS LIMITED Hong Kong Altın ve Gümüş Ticaret Fuarı ve Hong Kong Hukuku (CGSE) yetkilendirme ve denetimi (lisans numarası: 170).',
              32:'Feragatname:',
              33:'Değerli metal CFD ticareti, yatırım sermayeniz için riskler içerir. Lütfen risk ifşamızı okuyup tam olarak anladığınızdan emin olun.',
              34:'Uygulanan Hüküm ve Koşullar',
              35:'Kısıtlanmış alanlar: NOBLE SKY TREASURE, Amerika Birleşik Devletleri, Kanada gibi belirli ülkelerde / bölgelerde yaşayanlara hizmet sağlayamaz.'
            },
            4:{
              1:'حسابات التداول',
              2:'أنوع حسابات التداول',
              3:'أدوات التداول',
              4:'سعر صرف العملات',
              5:'المعادن الثمينة',
              6:'طاقة',
              7:'شروط التداول',
              8:'سياسة التنفيذ',
              9:'السبريد',
              10:'الهامش والرافعة المالية',
              11:'المداولات الليلية',
              12:'ساعات التداول',
              13:'MT5 منصة التداول',
              14:'MT5 للكمبيوتر الشخصي',
              16:'MT5 للويب تريدر',
              17:'MT5 لأجهزة iPad',
              18:'MT5 لأجهزة iPhone',
              19:'MT5 لنظام Android',
              20:'المقدمة',
              21:'معلومات عنا',
              22:'الإشراف والتأهيل',
              23:'التعليمات',
              24:'وثائق قانونية',
              25:'سياسة الخصوصية',
              26:'سياسة ملفات تعريف الارتباط',
              27:'وثائق قانونية',
              28:'قانوني: يتم تشغيل هذا الموقع بواسطة NOBLE SKY TREASURE ، المسجل في: Suite 305 ، Griffith Corporate Centre ، Beachmont Kingston ، St St Vincent and the Grenadines.',
              29:'تمتلك NOBLE SKY TREASURE شركة NOBLE SKY TREASURE Global Finance Co.، LLC و HK NOBLE SKY TREASURE PRECIOUS METALS LIMITED.',
              30:'NOBLE SKY TREASURE Global Finance Co.، LLC مرخصة ومنظمة من قبل هيئة الخدمات المالية في سانت فنسنت وجرينادينز (SVGFSA) (رقم التسجيل: 225 LLC2019).',
              31:'HK NOBLE SKY TREASURE PRECIOUS METALS LIMITED هونغ كونغ للمعارض التجارية للذهب والفضة وقانون هونغ كونغ (CGSE) الترخيص والإشراف (رقم الترخيص: 170).',
              32:'تحذير:',
              33:'ينطوي تداول العملات الأجنبية وعقود الفروقات على مخاطر على رأس المال الاستثماري الخاص بك. يرجى التأكد من قراءتك وفهمك الكامل لإفصاحنا عن المخاطر.',
              34:'الشروط والأحكام المطبقة',
              35:'المناطق المحظورة: لا يمكن لـ NOBLE SKY TREASURE تقديم خدمات للمقيمين في بلدان / مناطق معينة ، مثل الولايات المتحدة وكندا وإسرائيل.'
            },
            5:{
              1:'حساب',
              2:'انواع حساب',
              3:'نمادهای قابل  معامله',
              4:'ارزهای خارجی',
              5:'فلزات گران بها',
              6:'انرژی',
              7:'شرایط معامله',
              8:'سیاست های اجرای معاملات',
              9:'اسپردها',
              10:'مارجین و لوریج',
              11:'پوزیشن های باز شبانه',
              12:'ساعت های معامله',
              13:'پلتفرم MT5',
              14:'MT5 برای کامپیوتر',
              16:'MT5 در WebTrader',
              17:'MT5 برای آی پد',
              18:'MT5 برای آیفون',
              19:'MT5 برای اندروید',
              20:'معرفی',
              21:'درباره ی ما',
              22:'نظارت و صلاحیت',
              23:'سوالات متداول',
              24:'اسناد قانونی',
              25:'سیاست حفظ حریم خصوصی',
              26:'سیاست کوکی',
              27:'شرایط و ضوابط',
              28:'حقوقی: این وب سایت توسط NOBLE SKY TREASURE اداره می شود که ثبت شده در: Suite 305، مرکز شرکت Griffith ، Beachmont Kingston ، St. Vincent and the Grenadines می باشد.',
              29:'NOBLE SKY TREASURE دارای NOBLE SKY TREASURE Global Finance Co.، LLC و HK NOBLE SKY TREASURE PERCIOUS METALS LIMITED  است.',
              30:'NOBLE SKY TREASURE Global Finance Co.، LLC در خدمات مالی سنت وینسنت و گرنادین ها (SVGFSA) تنظیم و ثبت شده است (شماره ثبت: 225 LLC2019).',
              31:'دارای مجوز و نظارت بر بنگاه های طلا و نقره هنگ کنگ و قوانین هنگ کنگ (CGSE) HK NOBLE SKY TREASURE PRECIOUS METALS (شماره مجوز: 170).',
              32:'ههشدار خطر:',
              33:'معاملات ارز و CFD ها خطراتی را برای سرمایه ی شما به همراه دارد. لطفاً موارد مربوط به افشای ریسک ما را مطالعه کرده و از درک کامل آن اطمینان حاصل کنید.',
              34:'شرایط و ضوابط آورده شده است.',
              35:'مناطق محدود: NOBLE SKY TREASURE نمی تواند به ساکنان برخی کشورها یا مناطق مانند ایالات متحده، کانادا و اسرائیل خدمات ارائه دهد'
            }
         }
    };
  },
  created(){

    changLang.$on('switchedLang', () => {
      const storeLanguage = this.localStore.getItem('curLanguage');
      this.$api.defaultLanguage = storeLanguage;
      this.curLanguage = storeLanguage ? storeLanguage : this.$api.defaultLanguage;
    })


  //  this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;
  },
  mounted(){
  	if(document.addEventListener){
          document.addEventListener('scroll',this.curScroll);
  }else if(document.attchEvent){
      document.attchEvent('scroll',this.curScroll);
  }
    const storeLanguage = this.localStore.getItem('curLanguage');
    console.log(storeLanguage);
    this.curLanguage = storeLanguage ? storeLanguage : this.$api.defaultLanguage;
    this.$api.defaultLanguage = storeLanguage;
   this.rightRange = parseInt((parseInt(document.body.clientWidth)-1200)/2) - 100 + 'px'



  },

  components: {

  },
  methods: {
     handleLan(){
         const storeLanguage = this.localStore.getItem('curLanguage');

         this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;
     },
     curScroll(){
     	let that=this;
     	if (!that.scrollFlag) {
              that.scroll_top = document.documentElement.scrollTop;
              that.scrollFlag = true;
              setTimeout(function(){
              	 that.scrollFlag = false;
              },50);
           }
     },
     toTop(){
     	let st,si=1,_scroll=this.scroll_top;
     	let that = this;

           st = setInterval(function(){
           	document.documentElement.scrollTop -= si*200;
           	if(_scroll==document.documentElement.scrollTop){that.scroll_top=0;clearInterval(st);return;}
           	_scroll=document.documentElement.scrollTop;
           	si++;
           },20)

     }

  }

};
</script>




<style scoped lang="scss">

    #social a{
        padding-left: .25rem !important;
        padding-right: .25rem !important;
        position: inherit;
    }

    .to-top{position: fixed;background-color: #fff;width: 68px;height: 68px;right: 0;top:50%;-webkit-transform: translate(0,-50%);transform: translate(0,-50%);text-align: center;border:1px solid #ccc;border-radius: 50%;line-height: 68px;font-size: 28px;cursor: pointer; display:none;
      -webkit-transition: all .2s ease 0s;transition: all .2s ease 0s;opacity: 0;box-shadow:0 0 10px rgba(0,0,0,.1);
    }
    .to-top.to-top-show{opacity: 1;}
    .to-top:hover{border-color: #74c109;color:#29a643 ;}



    footer{
        a{color: #ddd;}
       .width-cell{margin:0 .75rem; width: unset!important; padding: unset!important;

       }
       .upper{height: 295px;padding:2rem 0 .5rem;background-color: #333;
         dl{width: 16.3%;float: left;}
         dt{font-size: .7rem;color: #fff;margin-bottom: .5rem;}
         dd{font-size: .75rem;margin-bottom: 2px;}
       }

       .f-middle{
         height: 5rem;border-bottom: 1px solid #333;
         .left{width: 100%;margin-top: 2.5rem;
           a{padding:0 .25rem;color: #fff;border-right: 1px solid #333;text-decoration:underline !important}
           a:first-child{padding-left: 0;}
           a:last-child{border-right: 0;}
         }
         .right{float: right;margin-top: .9rem;display: none;}
       }
       .under{padding:1.5rem 0; position: inherit;
         p{margin-bottom: .75rem;color: #fff;}
       }


    }


    ::-webkit-scrollbar{
      background:#fff;width:0;height:0;display:none;
  }
  ::-webkit-scrollbar-thumb{
      background:#fff;width:0;height:0;display:none;
  }


       .rightToLeft{
         .f-middle{
           .left{
             a{
               border-left: 1px solid #333;
               border-right: unset;
             }
             a:first-child{padding-left: 0.25rem;}
             a:last-child{border-left: 0;}
           }
         }
       }


  footer {
    /*height: 300px;*/
    background-color: rgb(21, 22, 31) ;
    text-align: center;
  }

    footer .cell {
      padding-top: 100px;
      font-size: 26px;
      color: #fff;
    }
 
  @media all {
    img

  {
    border: 0;
  }

  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }

    img {
      page-break-inside: avoid;
    }

    img {
      max-width: 100% !important;
    }
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

    *:before,
    *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

  img {
    vertical-align: middle;
  }

  ul {
    margin-top: 0;
    margin-bottom: 10px;
  }

  }
  /*! CSS Used from: https://cryptic.modeltheme.com/wp-content/themes/cryptic/css/styles.css?ver=5.2.9 ; media=all */
  @media all {
    * {
      word-wrap: break-word;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    ul {
      padding-left: 30px;
    }
  }
  /*! CSS Used from: https://cryptic.modeltheme.com/wp-content/themes/cryptic-child/style.css?ver=5.2.9 ; media=all */
  @media all {
    /*! @import https://cryptic.modeltheme.com/wp-content/themes/cryptic/style.css */
    img {
      border: 0;
    }

    img {
      max-width: 100%;
    }

    .ccpw_icon img {
      margin-left: 0px !important;
      max-width: 50px;
      height: auto !important;
    }

    body .ccpw_icon img {
      margin-top: 0px !important;
    }

    .tickercontainer2 {
      margin: 0 !important;
    }

    .ccpw_icon img {
      margin-top: 0px !important;
    }
    /*! end @import */
  }
  /*! CSS Used from: Embedded */
  ::selection {
    color: #ffffff;
    background: #1e1f26;
  }

  ::-moz-selection {
    color: #ffffff;
    background: #1e1f26;
  }
  /*! CSS Used from: https://cryptic.modeltheme.com/wp-content/plugins/cryptocurrency-price-ticker-widget/assets/css/bootstrap.min.css?ver=5.2.9 ; media=all */
  @media all {
    *,
    :after,
    :before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  /*! CSS Used from: https://cryptic.modeltheme.com/wp-content/plugins/cryptocurrency-price-ticker-widget/assets/css/ccpw-icons.css?ver=5.2.9 ; media=all */
  @media all {
    [class^="ccpw_icon-"]:before {
      font-family: "ccpwicons";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: 0.2em;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      margin-left: 0.2em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .ccpw_icon-up:before {
      content: "\21";
    }

    .ccpw_icon-down:before {
      content: "\22";
    }
  }

  @media all {
    .ccpw-ticker-cont {
      width: 100%;
      overflow: hidden;
      cursor: pointer;
      font-size: 12px;
    }



    .tickercontainer2 .coin-container {
      margin-right: 6px;
    }

    .tickercontainer2 span.name {
      font-size: 14px;
      margin-left: 6px;
      font-weight: bold;
    }

    .tickercontainer2 span.price {
      font-size: 12px;
      margin-left: 8px;
    }

    .tickercontainer2 span.ccpw_icon {
      display: inline-table;
      width: 50px;
      height: 100%;
      vertical-align: middle;
    }

      .tickercontainer2 span.ccpw_icon img {
        width: 100%;
        height: auto;
        padding: 0;
        vertical-align: middle;
        margin-top: -3px;
      }

    .tickercontainer2 li {
      white-space: nowrap;
      float: left;
      padding: 0 7px;
      line-height: 34px;
    }

    .tickercontainer2 ul {
      display: inline-block;
      position: relative;
      margin: 0;
      padding: 0;
      width: 100%;
      float: left;
      overflow: hidden;
      list-style-type: none;
    }

    span.changes.up {
      color: #67c624;
      margin-left: 3px;
    }

    span.changes.down {
      color: #ed1414;
      margin-left: 3px;
    }

    .ccpw-container {
      display: flow-root;
    }
  }
  /*! CSS Used from: Embedded */
  .tickercontainer2 #ccpw-ticker-widget-4449 {
    background-color: #1e1f26;
  }

  .tickercontainer #ccpw-ticker-widget-4449 span.name {
    color: #fff;
  }

  .tickercontainer #ccpw-ticker-widget-4449 span.price {
    color: #fff;
  }
  /*! CSS Used fontfaces */
  @font-face {
    font-family: "ccpwicons";
    src: url("https://cryptic.modeltheme.com/wp-content/plugins/cryptocurrency-price-ticker-widget/assets/font/ccpwicons.eot?89136625");
    src: url("https://cryptic.modeltheme.com/wp-content/plugins/cryptocurrency-price-ticker-widget/assets/font/ccpwicons.eot?89136625#iefix") format("embedded-opentype"), url("../../static/fonts/ccpwicons.woff2") format("woff2"), url("../../static/fonts/ccpwicons.woff") format("woff"), url("../../static/fonts/ccpwicons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  .bx-wrapper {
    margin-bottom: 0px;
  }

  .name {
    color: white;
  }

  .price {
    color: white;
  }
  footer {
    color: white!important;
    background: linear-gradient( 0deg, #07070a 0%, #15161f 66%);
    background-color: #000;
    font-size: 12px;
  }

</style>
