<template>
  <div class="header-container">
    <div class="header-cell" v-if="curLanguage == 1">


                          LANGUAGE
                          <i class="icon icon-language"></i>
                     
                 
                 <div class="mask-cover" v-if="menuViewFlag||langViewFlag" @click="menuViewFlag=false;langViewFlag=false"></div>
                 <div class="left" v-if="menuViewFlag">
                     <div class="menu">
                          <ul>
                              <li :class="{active:pageName=='home'}">
                                  <router-link to='/'><i class="fa fa-home"></i>HOME</router-link>
                              </li>
                              <!--li>
                                   <router-link to='/products' :class="{active:pageName=='products'}"><i class="icon icon-bar-product"></i>F.M.</router-link>
                              </li-->
                              <li>
                                   <router-link to='/en/analytics-info' ><i class="icon icon-bar-product"></i>Analytics</router-link>
                              </li>
                              <li v-if="isLogin">
                                   <router-link to='/coinstrad'><i class="icon icon-product"></i>CRM</router-link>
                              </li>
                              <li v-if="!isLogin">
                                   <router-link to='/login'><i class="icon icon-product"></i>CRM</router-link>
                              </li>
                              <li>

                <div class="menu-child" v-show="menuFlag1">
                  <dl>
                    <dt>交易账户</dt>
                    <dd>
                      <router-link to='/account-types'><i class="fa fa-signal"></i>交易账户类型</router-link>
                    </dd>
                  </dl>
                  <dl>
                    <dt>交易工具</dt>
                    <dd>
                      <router-link to='/forex-trading'><i class="fa fa-usd"></i>外汇</router-link>
                    </dd>
                    <dd>
                      <router-link to='/commodities'><i class="fa fa-envira"></i>大宗商品</router-link>
                    </dd>
                    <dd>
                      <router-link to='/equity-indices'><i class="fa fa-database"></i>证券指数</router-link>
                    </dd>
                    <dd>
                      <router-link to='/precious-metals'><i class="fa fa-cubes"></i>贵重金属</router-link>
                    </dd>
                    <dd>
                      <router-link to='/energies'><i class="fa fa-tint"></i>能源</router-link>
                    </dd>

                  </dl>
                  <dl>
                    <dt>交易条件</dt>
                    <dd>
                      <router-link to='/execution-policy'><i class="icon icon-policy"></i>执行策略</router-link>
                    </dd>
                    <dd>
                      <router-link to='/spreads'><i class="icon icon-spreads"></i>点差</router-link>
                    </dd>
                    <dd>
                      <router-link to='/margin-and-leverage'><i class="icon icon-margin"></i>保证金和杠杆作用</router-link>
                    </dd>
                    <dd>
                      <router-link to='/overnight-positions'><i class="icon icon-positions"></i>过夜仓位</router-link>
                    </dd>
                    <dd>
                      <router-link to='/trading-hours'><i class="icon icon-hours"></i>交易时间</router-link>
                    </dd>

                  </dl>
                </div>
              </li>
              <li>
                <div class="menu-parent" @click.stop="handleMenu(2)">
                  <i class="fa fa-desktop"></i>
                  交易平台
                  <i class="icon icon-arrow-down" :class="{'arrow-up':menuFlag2}"></i>
                </div>

                <div class="menu-child" v-show="menuFlag2">
                  <dl>
                    <dt>PC</dt>
                    <dd>

                      <router-link to='/mt5'><i class="fa fa-windows"></i>PC系统MT5</router-link>
                    </dd>
                    <!-- <dd>
                       <i class="fa fa-apple"></i>
                       <router-link to='/mt5-mac'>Mac系统MT5</router-link>
                    </dd> -->
                    <dd>

                      <router-link to='/mt5-webtrader'><i class="fa fa-desktop"></i>MT5 WebTrader</router-link>
                    </dd>
                  </dl>
                  <dl>
                    <dt>智能手机</dt>
                    <dd>

                      <router-link to='/mt5-iphone'><i class="fa fa-apple"></i>iPhone版MT5</router-link>
                    </dd>
                    <dd>

                      <router-link to='/mt5-android'><i class="fa fa-android"></i>安卓系统MT5</router-link>
                    </dd>

                  </dl>

                  <dl>
                    <dt>平板电脑</dt>
                    <dd>

                      <router-link to='/mt5-ipad'><i class="fa fa-apple"></i>iPad系统MT5</router-link>
                    </dd>
                  </dl>
                </div>
              </li>
              <li :class="{active:pageName=='activityList'}">
                <router-link to='/activity-list'><i class="fa fa-gift"></i> 活动</router-link>
              </li>
              <li>
                <div class="menu-parent" @click.stop="handleMenu(3)">
                  <i class="fa fa-briefcase"></i>
                  简介
                  <i class="icon icon-arrow-down" :class="{'arrow-up':menuFlag3}"></i>
                </div>

                <div class="menu-child" v-show="menuFlag3">
                  <dl>
                    <dt>简介</dt>
                    <dd>
                      <router-link to='/about'><i class="fa fa-briefcase"></i> NOBLE SKY集团是谁？</router-link>
                    </dd>
                    <dd>
                      <router-link to='/regulation'><i class="icon icon-regulation"></i>监管</router-link>
                    </dd>
                    <dd>
                      <router-link to='/faq'><i class="icon icon-faq"></i>常见问题</router-link>
                    </dd>
                    <dd>
                      <router-link to='/legal-documents'><i class="icon icon-file"></i>相关法律文件</router-link>
                    </dd>
                  </dl>

                </div>
              </li>
              <li :class="{active:pageName=='agent'}">
                <router-link to='/agent'><i class="fa fa-refresh"></i>代理</router-link>
              </li>
              <li :class="{active:pageName=='contact'}">
                <router-link to='/contact'><i class="icon icon-service"></i>联系我们</router-link>
              </li>
              <li v-if="isLogin">
                <router-link to='/my'><i class="icon icon-user"></i>用户中心</router-link>
              </li>
              <li v-if="!isLogin">
                <router-link to='/login'><i class="icon icon-user"></i>用户中心</router-link>
              </li>
            </ul>
          </div>
        </div>

        <div class="right" v-if="langViewFlag">
          <div class="language" @mouseover="languageMouseOver">
            <ul>
              <li v-for="(item,index) in languageOptions" @click.stop="selectLanguage(item.value)" :key="index">{{item.label}}</li>
            </ul>
          </div>
        </div>


      
      <div class="logo">
        <router-link to='/zh'>
          <img src="../../static/images/home-logo.svg" />
          <!-- <em>&nbsp;MT5 CRM</em> -->
        </router-link>
      </div>



    </div>


    <div class="header-cell" v-if="curLanguage == 2">


      <div class="nav">
        <div class="nav-bar">
          <div class="l-icon" @click="viewMenu">
            <i class="icon icon-menu"></i>
            MENU
          </div>
          <div class="r-icon" @click="viewLang ">

            LANGUAGE
            <i class="icon icon-language"></i>
          </div>
        </div>
        <div class="mask-cover" v-if="menuViewFlag||langViewFlag" @click="menuViewFlag=false;langViewFlag=false"></div>
        <div class="left" v-if="menuViewFlag">
          <div class="menu">
            <ul>
              <li :class="{active:pageName=='home'}">
                <router-link to='/'><i class="fa fa-home"></i>HOME</router-link>
              </li>
              <li>
                <router-link to='/products' :class="{active:pageName=='products'}"><i class="icon icon-bar-product"></i>F.M.</router-link>
              </li>
              <li v-if="isLogin">
                <router-link to='/coinstrad'><i class="icon icon-product"></i>CRM</router-link>
              </li>
              <li v-if="!isLogin">
                <router-link to='/login'><i class="icon icon-product"></i>CRM</router-link>
              </li>
              <li>

                <div class="menu-parent" @click.stop="handleMenu(1)">

                  <i class="fa fa-area-chart"></i>
                  TRADING
                  <i class="icon icon-arrow-down" :class="{'arrow-up':menuFlag1}"></i>
                </div>
                <div class="menu-child" v-show="menuFlag1">
                  <dl>
                    <dt>Trading account</dt>
                    <dd>
                      <router-link to='/en/account-types'><i class="fa fa-signal"></i>Trading account type</router-link>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Trading tools</dt>
                    <dd>
                      <router-link to='/en/forex-trading'><i class="fa fa-usd"></i>Foreign exchange</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/commodities'><i class="fa fa-envira"></i>Commodity</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/equity-indices'><i class="fa fa-database"></i>Equity Indices</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/precious-metals'><i class="fa fa-cubes"></i>Precious metals</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/energies'><i class="fa fa-tint"></i>Energy</router-link>
                    </dd>

                  </dl>
                  <dl>
                    <dt>Trading terms</dt>
                    <dd>
                      <router-link to='/en/execution-policy'><i class="icon icon-policy"></i>Execution Policy</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/spreads'><i class="icon icon-spreads"></i>Spread</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/margin-and-leverage'><i class="icon icon-margin"></i>Margin and leverage</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/overnight-positions'><i class="icon icon-positions"></i>Overnight position</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/trading-hours'><i class="icon icon-hours"></i>Trading hours</router-link>
                    </dd>

                  </dl>
                </div>
              </li>
              <li>
                <div class="menu-parent" @click.stop="handleMenu(1)">
                  <i class="fa fa-desktop"></i>
                  TRADING PLATFORM
                  <i class="icon icon-arrow-down" :class="{'arrow-up':menuFlag2}"></i>
                </div>

                <div class="menu-child" v-show="menuFlag2">
                  <dl>
                    <dt>PC</dt>
                    <dd>

                      <router-link to='/en/mt5'><i class="fa fa-windows"></i>MT5 for PC</router-link>
                    </dd>
                    <!-- <dd>
                       <i class="fa fa-apple"></i>
                       <router-link to='/mt5-mac'>Mac系统MT5</router-link>
                    </dd> -->
                    <dd>

                      <router-link to='/en/mt5-webtrader'><i class="fa fa-desktop"></i>MT5 WebTrader</router-link>
                    </dd>
                  </dl>
                  <dl>
                    <dt>SMARTPHONES</dt>
                    <dd>

                      <router-link to='/en/mt5-iphone'><i class="fa fa-apple"></i>MT5 for iPhone</router-link>
                    </dd>
                    <dd>

                      <router-link to='/en/mt5-android'><i class="fa fa-android"></i>MT5 for Android</router-link>
                    </dd>

                  </dl>

                  <dl>
                    <dt>TABLET</dt>
                    <dd>

                      <router-link to='/en/mt5-ipad'><i class="fa fa-apple"></i>MT5 for iPad</router-link>
                    </dd>
                  </dl>
                </div>
              </li>
              <li :class="{active:pageName=='activityList'}">
                <router-link to='/activity-list'><i class="fa fa-gift"></i> ACTIVITY</router-link>
              </li>
              <li>


                <div class="menu-parent" @click.stop="handleMenu(3)">
                  <i class="fa fa-briefcase"></i>
                  INTRODUCTION
                  <i class="icon icon-arrow-down" :class="{'arrow-up':menuFlag3}"></i>
                </div>

                <div class="menu-child" v-show="menuFlag3">
                  <dl>
                    <dt>Introduction</dt>
                    <dd>
                      <router-link to='/en/about'><i class="fa fa-briefcase"></i>About NOBLE SKY group</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/regulation'><i class="icon icon-regulation"></i>Supervision</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/faq'><i class="icon icon-faq"></i>Common Questions</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/legal-documents'><i class="icon icon-file"></i>Related legal documents</router-link>
                    </dd>
                  </dl>

                </div>
              </li>
              <li :class="{active:pageName=='agent'}">
                <router-link to='/agent'><i class="fa fa-refresh"></i>AGENT</router-link>
              </li>
              <li :class="{active:pageName=='contact'}">
                <router-link to='/en/contact'><i class="icon icon-service"></i>CONTACT US</router-link>
              </li>
              <li v-if="isLogin">
                <router-link to='/my'><i class="icon icon-user"></i>User center</router-link>
              </li>
              <li v-if="!isLogin">
                <router-link to='/login'><i class="icon icon-user"></i>User center</router-link>
              </li>
            </ul>
          </div>
        </div>

        <div class="right" v-if="langViewFlag">
          <div class="language" @mouseover="languageMouseOver">
            <ul>
              <li v-for="(item,index) in languageOptions" @click.stop="selectLanguage(item.value)" :key="index">{{item.label}}</li>
            </ul>
          </div>
        </div>


      </div>

      <div class="logo">
        <router-link to='/'>
          <img src="../../static/images/home-logo.svg" />
          <!-- <em>&nbsp;MT5 CRM</em> -->
        </router-link>
      </div>



    </div>
    <!----   Turkish headers ---->
    <div class="header-cell" v-if="curLanguage == 3">


      <div class="nav">
        <div class="nav-bar">
          <div class="l-icon" @click="viewMenu">
            <i class="icon icon-menu"></i>
            MENU
          </div>
          <div class="r-icon" @click="viewLang ">

            {{languageOptions[curLanguage-1].label}}
            <i class="icon icon-language"></i>
          </div>
        </div>
        <div class="mask-cover" v-if="menuViewFlag||langViewFlag" @click="menuViewFlag=true;langViewFlag=true"></div>
        <div class="left" v-if="menuViewFlag">
          <div class="menu">
            <ul>
              <li :class="{active:pageName=='home'}">
                <router-link to='/'><i class="fa fa-home"></i>ANA SAYFA</router-link>
              </li>
              <!--<li>
                <router-link to='/products' :class="{active:pageName=='products'}"><i class="icon icon-bar-product"></i>F.M.</router-link>
              </li>-->
              <li v-if="isLogin">
                <router-link to='/coinstrad'><i class="icon icon-product"></i>CRM</router-link>
              </li>
              <li v-if="!isLogin">
                <router-link to='/login'><i class="icon icon-product"></i>CRM</router-link>
              </li>
              <router-link to="/tr/analytics-info"> <i class="icon icon-product"></i>ANALİTİK </router-link>
              <li>

                <div class="menu-parent" @click.stop="handleMenu(1)">

                  <i class="fa fa-area-chart"></i>
                  TİCARET
                  <i class="icon icon-arrow-down" :class="{'arrow-up':menuFlag1}"></i>
                </div>
                <div class="menu-child" v-show="menuFlag1">
                  <dl>
                    <dt>TİCARET PLATFORMLARI</dt>
                    <dd>
                      <router-link to='/en/account-types'><i class="fa fa-signal"></i>Trading account type</router-link>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Trading tools</dt>
                    <dd>
                      <router-link to='/en/forex-trading'><i class="fa fa-usd"></i>Foreign exchange</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/commodities'><i class="fa fa-envira"></i>Commodity</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/equity-indices'><i class="fa fa-database"></i>Equity Indices</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/precious-metals'><i class="fa fa-cubes"></i>Precious metals</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/energies'><i class="fa fa-tint"></i>Energy</router-link>
                    </dd>

                  </dl>
                  <dl>
                    <dt>Trading terms</dt>
                    <dd>
                      <router-link to='/en/execution-policy'><i class="icon icon-policy"></i>Execution Policy</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/spreads'><i class="icon icon-spreads"></i>Spread</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/margin-and-leverage'><i class="icon icon-margin"></i>Margin and leverage</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/overnight-positions'><i class="icon icon-positions"></i>Overnight position</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/trading-hours'><i class="icon icon-hours"></i>Trading hours</router-link>
                    </dd>

                  </dl>
                </div>
              </li>
              <li>
                <div class="menu-parent" @click.stop="handleMenu(1)">
                  <i class="fa fa-desktop"></i>
                  TİCARET PLATFORMLARI
                  <i class="icon icon-arrow-down" :class="{'arrow-up':menuFlag2}"></i>
                </div>

                <div class="menu-child" v-show="menuFlag2">
                  <dl>
                    <dt>PC</dt>
                    <dd>

                      <router-link to='/en/mt5'><i class="fa fa-windows"></i>MT5 for PC</router-link>
                    </dd>
                    <!-- <dd>
                       <i class="fa fa-apple"></i>
                       <router-link to='/mt5-mac'>Mac系统MT5</router-link>
                    </dd> -->
                    <dd>

                      <router-link to='/en/mt5-webtrader'><i class="fa fa-desktop"></i>MT5 WebTrader</router-link>
                    </dd>
                  </dl>
                  <dl>
                    <dt>SMARTPHONES</dt>
                    <dd>

                      <router-link to='/en/mt5-iphone'><i class="fa fa-apple"></i>MT5 for iPhone</router-link>
                    </dd>
                    <dd>

                      <router-link to='/en/mt5-android'><i class="fa fa-android"></i>MT5 for Android</router-link>
                    </dd>

                  </dl>

                  <dl>
                    <dt>TABLET</dt>
                    <dd>

                      <router-link to='/en/mt5-ipad'><i class="fa fa-apple"></i>MT5 for iPad</router-link>
                    </dd>
                  </dl>
                </div>
              </li>
              <li :class="{active:pageName=='activityList'}">
                <router-link to='/activity-list'><i class="fa fa-gift"></i> AKTİVİTE</router-link>
              </li>
              <li>


                <div class="menu-parent" @click.stop="handleMenu(3)">
                  <i class="fa fa-briefcase"></i>
                  GİRİŞİM
                  <i class="icon icon-arrow-down" :class="{'arrow-up':menuFlag3}"></i>
                </div>

                <div class="menu-child" v-show="menuFlag3">
                  <dl>
                    <dt>Introduction</dt>
                    <dd>
                      <router-link to='/en/about'><i class="fa fa-briefcase"></i>About NOBLE SKY group</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/regulation'><i class="icon icon-regulation"></i>Supervision</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/faq'><i class="icon icon-faq"></i>Common Questions</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/legal-documents'><i class="icon icon-file"></i>Related legal documents</router-link>
                    </dd>
                  </dl>

                </div>
              </li>
              <li :class="{active:pageName=='agent'}">
                <router-link to='/agent'><i class="fa fa-refresh"></i>ACENTA</router-link>
              </li>
              <li :class="{active:pageName=='contact'}">
                <router-link to='/en/contact'><i class="icon icon-service"></i>Bize Ulaşın</router-link>
              </li>
              <li v-if="isLogin">
                <router-link to='/my'><i class="icon icon-user"></i>{{userLoginInfo.userName}}</router-link>
              </li>
              <li v-if="!isLogin">
                <router-link to='/login'><i class="icon icon-user"></i>Üye Girişi</router-link>
              </li>
            </ul>
          </div>
        </div>

        <div class="right" v-if="langViewFlag">
          <div class="language" @mouseover="languageMouseOver">
            <ul>
              <li v-for="(item,index) in languageOptions" @click.stop="selectLanguage(item.value)" :key="index">{{item.label}}</li>
            </ul>
          </div>
        </div>


      </div>

      <div class="logo">
        <router-link to='/'>
          <img src="../../static/images/home-logo.svg" />
          <!-- <em>&nbsp;MT5 CRM</em> -->
        </router-link>
      </div>



    </div>
    <!----   Ar and Ir headers ---->


    <div class="header-cell" v-if="curLanguage == 4">


      <div class="nav">
        <div class="nav-bar">
          <div class="l-icon" @click="viewMenu">
            <i class="icon icon-menu"></i>
            القائمة

          </div>
          <div class="r-icon" @click="viewLang ">

            {{languageOptions[curLanguage-1].label}}
            <i class="icon icon-language"></i>
          </div>
        </div>
        <div class="mask-cover" v-if="menuViewFlag||langViewFlag" @click="menuViewFlag=false;langViewFlag=false"></div>
        <div class="left" v-if="menuViewFlag">
          <div class="menu">
            <ul>
              <li :class="{active:pageName=='home'}">
                <router-link to='/'><i class="fa fa-home"></i>الصفحة الرئيسية</router-link>
              </li>
              <!--<li>
                <router-link to='/products' :class="{active:pageName=='products'}"><i class="icon icon-bar-product"></i>F.M.</router-link>
              </li>-->
              <li v-if="isLogin">
                <router-link to='/coinstrad'><i class="icon icon-product"></i>{{userLoginInfo.userName}}</router-link>
              </li>
              <li v-if="!isLogin">
                <router-link to='/login'><i class="icon icon-product"></i>CRM</router-link>
              </li>
              <li>

                <div class="menu-parent" @click.stop="handleMenu(1)">

                  <i class="fa fa-area-chart"></i>
                  المداولات
                  <i class="icon icon-arrow-down" :class="{'arrow-up':menuFlag1}"></i>
                </div>
                <div class="menu-child" v-show="menuFlag1">
                  <dl>
                    <dt>حساب التداول</dt>
                    <dd>
                      <router-link to='/ar/account-types'><i class="fa fa-signal"></i>نوع حساب التداول</router-link>
                    </dd>
                  </dl>
                  <dl>
                    <dt>أدوات التداول</dt>
                    <dd>
                      <router-link to='/ar/forex-trading'><i class="fa fa-usd"></i>تداول العملات</router-link>
                    </dd>
                    <!--<dd>
                      <router-link to='/en/commodities'><i class="fa fa-envira"></i>Commodity</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/equity-indices'><i class="fa fa-database"></i>Equity Indices</router-link>
                    </dd>-->
                    <dd>
                      <router-link to='/ar/precious-metals'><i class="fa fa-cubes"></i>المعادن النفيسة</router-link>
                    </dd>
                    <dd>
                      <router-link to='/ar/energies'><i class="fa fa-tint"></i>الطاقات</router-link>
                    </dd>

                  </dl>
                  <dl>
                    <dt><i class="tfxfont3 xmChart-bars-arrow"></i>شروط التداول</dt>
                    <dd>
                      <router-link to='/ar/execution-policy'>سياسة التنفيذ</router-link>
                    </dd>
                    <dd>
                      <router-link to='/ar/spreads'>سبريد</router-link>
                    </dd>
                    <dd>
                      <router-link to='/ar/margin-and-leverage'>الهامش و الرافعة المالية</router-link>
                    </dd>
                    <dd>
                      <router-link to='/ar/overnight-positions'>المداولات الليلية</router-link>
                    </dd>
                    <dd>
                      <router-link to='/ar/trading-hours'>ساعات التداول</router-link>
                    </dd>

                  </dl>
                </div>
              </li>
              <li>
                <div class="menu-parent" @click.stop="handleMenu(1)">
                  <i class="fa fa-desktop"></i>
                  منصة التداول
                  <i class="icon icon-arrow-down" :class="{'arrow-up':menuFlag2}"></i>
                </div>

                <div class="menu-child" v-show="menuFlag2">
                  <dl>
                    <dt><i class="tfxfont3 xmPc"></i>الكمبيوتر</dt>
                    <dd>
                      <i class="fa fa-windows"></i>
                      <router-link to='/ar/mt5'>MT5 للكمبيوتر الشخصي</router-link>
                    </dd>
                    <!-- <dd>
                       <i class="fa fa-apple"></i>
                       <router-link to='/mt5-mac'>MacsystemMT5</router-link>
                    </dd> -->
                    <dd>
                      <i class="fa fa-desktop"></i>
                      <router-link to='/ar/mt5-webtrader'>MT5 WebTrader</router-link>
                    </dd>
                  </dl>
                  <dl>
                    <dt>الجولات الذكية</dt>
                    <dd>
                      <i class="fa fa-apple"></i>
                      <router-link to='/ar/mt5-iphone'>MT5 لأجهزة iPhone</router-link>
                    </dd>
                    <dd>
                      <i class="fa fa-android"></i>
                      <router-link to='/ar/mt5-android'>MT5 لأجهزة Android</router-link>
                    </dd>

                  </dl>

                  <dl>
                    <dt>الأجهزة اللوحية</dt>
                    <dd>

                      <router-link to='/ar/mt5-ipad'><i class="fa fa-apple"></i>MT5 لأجهزة iPad</router-link>
                    </dd>
                  </dl>
                </div>
              </li>
              <li :class="{active:pageName=='activityList'}">
                <router-link to='/activity-list'>
                  <i class="fa fa-gift"></i> النشاطات

                </router-link>
              </li>
              <li>


                <div class="menu-parent" @click.stop="handleMenu(3)">
                  <i class="fa fa-briefcase"></i>
                  المقدمة
                  <i class="icon icon-arrow-down" :class="{'arrow-up':menuFlag3}"></i>
                </div>

                <div class="menu-child" v-show="menuFlag3">
                  <dl>
                    <dt>المقدمة</dt>
                    <dd>
                      <router-link to='/ar/about'><i class="fa fa-briefcase"></i>معلومات عنا</router-link>
                    </dd>
                    <dd>
                      <router-link to='/ar/regulation'><i class="icon icon-regulation"></i>التراخيص والمؤهلات</router-link>
                    </dd>
                    <dd>
                      <router-link to='/ar/faq'><i class="icon icon-faq"></i>الأسئلة الشائعة</router-link>
                    </dd>
                    <dd>
                      <router-link to='/ar/legal-documents'><i class="icon icon-file"></i>الوثائق القانونية ذات الصلة</router-link>
                    </dd>
                  </dl>

                </div>
              </li>
              <li :class="{active:pageName=='agent'}">
                <router-link to='/agent'><i class="fa fa-refresh"></i>وكيل</router-link>
              </li>
              <li :class="{active:pageName=='contact'}">
                <router-link to='/ar/contact'><i class="icon icon-service"></i>اتصل بنا</router-link>
              </li>
              <li v-if="isLogin">
                <router-link to='/my'><i class="icon icon-user"></i>User center</router-link>
              </li>
              <li v-if="!isLogin">
                <router-link to='/login'><i class="icon icon-user"></i>User center</router-link>
              </li>
            </ul>
          </div>
        </div>

        <div class="right" v-if="langViewFlag">
          <div class="language" @mouseover="languageMouseOver">
            <ul>
              <li v-for="(item,index) in languageOptions" @click.stop="selectLanguage(item.value)" :key="index">{{item.label}}</li>
            </ul>
          </div>
        </div>


      </div>

      <div class="logo">
        <router-link to='/'>
          <img src="../../static/images/home-logo.svg" />
          <!-- <em>&nbsp;MT5 CRM</em> -->
        </router-link>
      </div>



    </div>
    <div class="header-cell" v-if="curLanguage == 5">


      <div class="nav">
        <div class="nav-bar">
          <div class="l-icon" @click="viewMenu">
            <i class="icon icon-menu"></i>
            MENU
          </div>
          <div class="r-icon" @click="viewLang ">

            LANGUAGE
            <i class="icon icon-language"></i>
          </div>
        </div>
        <div class="mask-cover" v-if="menuViewFlag||langViewFlag" @click="menuViewFlag=false;langViewFlag=false"></div>
        <div class="left" v-if="menuViewFlag">
          <div class="menu">
            <ul>
              <li :class="{active:pageName=='home'}">
                <router-link to='/'><i class="fa fa-home"></i>HOME</router-link>
              </li>
              <li>
                <router-link to='/products' :class="{active:pageName=='products'}"><i class="icon icon-bar-product"></i>F.M.</router-link>
              </li>
              <li v-if="isLogin">
                <router-link to='/coinstrad'><i class="icon icon-product"></i>CRM</router-link>
              </li>
              <li v-if="!isLogin">
                <router-link to='/login'><i class="icon icon-product"></i>CRM</router-link>
              </li>
              <li>

                <div class="menu-parent" @click.stop="handleMenu(1)">

                  <i class="fa fa-area-chart"></i>
                  TRADING
                  <i class="icon icon-arrow-down" :class="{'arrow-up':menuFlag1}"></i>
                </div>
                <div class="menu-child" v-show="menuFlag1">
                  <dl>
                    <dt>Trading account</dt>
                    <dd>
                      <router-link to='/en/account-types'><i class="fa fa-signal"></i>Trading account type</router-link>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Trading tools</dt>
                    <dd>
                      <router-link to='/en/forex-trading'><i class="fa fa-usd"></i>Foreign exchange</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/commodities'><i class="fa fa-envira"></i>Commodity</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/equity-indices'><i class="fa fa-database"></i>Equity Indices</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/precious-metals'><i class="fa fa-cubes"></i>Precious metals</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/energies'><i class="fa fa-tint"></i>Energy</router-link>
                    </dd>

                  </dl>
                  <dl>
                    <dt>Trading terms</dt>
                    <dd>
                      <router-link to='/en/execution-policy'><i class="icon icon-policy"></i>Execution Policy</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/spreads'><i class="icon icon-spreads"></i>Spread</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/margin-and-leverage'><i class="icon icon-margin"></i>Margin and leverage</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/overnight-positions'><i class="icon icon-positions"></i>Overnight position</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/trading-hours'><i class="icon icon-hours"></i>Trading hours</router-link>
                    </dd>

                  </dl>
                </div>
              </li>
              <li>
                <div class="menu-parent" @click.stop="handleMenu(1)">
                  <i class="fa fa-desktop"></i>
                  TRADING PLATFORM
                  <i class="icon icon-arrow-down" :class="{'arrow-up':menuFlag2}"></i>
                </div>

                <div class="menu-child" v-show="menuFlag2">
                  <dl>
                    <dt>PC</dt>
                    <dd>

                      <router-link to='/en/mt5'><i class="fa fa-windows"></i>MT5 for PC</router-link>
                    </dd>
                    <!-- <dd>
                       <i class="fa fa-apple"></i>
                       <router-link to='/mt5-mac'>Mac系统MT5</router-link>
                    </dd> -->
                    <dd>

                      <router-link to='/en/mt5-webtrader'><i class="fa fa-desktop"></i>MT5 WebTrader</router-link>
                    </dd>
                  </dl>
                  <dl>
                    <dt>SMARTPHONES</dt>
                    <dd>

                      <router-link to='/en/mt5-iphone'><i class="fa fa-apple"></i>MT5 for iPhone</router-link>
                    </dd>
                    <dd>

                      <router-link to='/en/mt5-android'><i class="fa fa-android"></i>MT5 for Android</router-link>
                    </dd>

                  </dl>

                  <dl>
                    <dt>TABLET</dt>
                    <dd>

                      <router-link to='/en/mt5-ipad'><i class="fa fa-apple"></i>MT5 for iPad</router-link>
                    </dd>
                  </dl>
                </div>
              </li>
              <li :class="{active:pageName=='activityList'}">
                <router-link to='/activity-list'><i class="fa fa-gift"></i> ACTIVITY</router-link>
              </li>
              <li>


                <div class="menu-parent" @click.stop="handleMenu(3)">
                  <i class="fa fa-briefcase"></i>
                  INTRODUCTION
                  <i class="icon icon-arrow-down" :class="{'arrow-up':menuFlag3}"></i>
                </div>

                <div class="menu-child" v-show="menuFlag3">
                  <dl>
                    <dt>Introduction</dt>
                    <dd>
                      <router-link to='/en/about'><i class="fa fa-briefcase"></i>About NOBLE SKY group</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/regulation'><i class="icon icon-regulation"></i>Supervision</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/faq'><i class="icon icon-faq"></i>Common Questions</router-link>
                    </dd>
                    <dd>
                      <router-link to='/en/legal-documents'><i class="icon icon-file"></i>Related legal documents</router-link>
                    </dd>
                  </dl>

                </div>
              </li>
              <li :class="{active:pageName=='agent'}">
                <router-link to='/agent'><i class="fa fa-refresh"></i>AGENT</router-link>
              </li>
              <li :class="{active:pageName=='contact'}">
                <router-link to='/en/contact'><i class="icon icon-service"></i>CONTACT US</router-link>
              </li>
              <li v-if="isLogin">
                <router-link to='/my'><i class="icon icon-user"></i>User center</router-link>
              </li>
              <li v-if="!isLogin">
                <router-link to='/login'><i class="icon icon-user"></i>User center</router-link>
              </li>
            </ul>
          </div>
        </div>

        <div class="right" v-if="langViewFlag">
          <div class="language" @mouseover="languageMouseOver">
            <ul>
              <li v-for="(item,index) in languageOptions" @click.stop="selectLanguage(item.value)" :key="index">{{item.label}}</li>
            </ul>
          </div>
        </div>


      </div>

      <div class="logo">
        <router-link to='/'>
          <img src="../../static/images/home-logo.svg" />
          <!-- <em>&nbsp;MT5 CRM</em> -->
        </router-link>
      </div>



    </div>

  </div>
</template>


<script>

  function noop() { }

  export default {
    name: "pageHeader",
    props: {
      pageName: {
        default: '',
        type: String
      },
      defaultCoinType: {
        default: 1,
        type: Number
      },
      defaultLanguage: {
        default: 1,
        type: Number
      }


    },
    data: function () {
      return {
        isLogin: false,
        userLoginInfo: {},
        curLanguage: this.defaultLanguage,
        setLanguage: this.defaultLanguage,
        dialogVisible: false,
        curCoinType: this.defaultCoinType,
        setCoinType: this.defaultCoinType,
        coinOptions: [
          { value: 1, label: '人民币(CNY)', label_en: 'CNY(CNY)' },
          { value: 2, label: '美元(USD)', label_en: 'USD(USD)' },
          //            {value:3,label:'比索(PHP)',label_en:'PHP(PHP)'},
          //            {value:4,label:'港元(HKD)',label_en:'HKD(HKD)'},
          //            {value:5,label:'日元(JPY)',label_en:'JPY(JPY)'},
          //            {value:6,label:'韩元(KRW)',label_en:'KRW(KRW)'}
        ],
        systemCoinOption: [

        ],
        languageOptions: [
          { value: 1, label: '简体中文', image: '../../static/images/CNFlag.png' },
          { value: 2, label: 'English', image: '../../static/images/ENFlag.png' },
          { value: 3, label: 'Türkçe', image: '../../static/images/TRFlag.png' },
          { value: 4, label: 'العربية', image: '../../static/images/ARFlag.png' },
         { value: 5, label: 'فارسى', image: '../../static/images/IRFlag.png' }
        ],
        dialogLanguage: false,
        mouseOverFlag: false,
        language: {
          1: {
            1: '出入金',
            2: '现货交易',
            3: '合约交易',
            4: '币银行',
            5: '登录',
            6: '注册',
            7: '设置',
            8: '交易所时区',
            9: '计价币种',
            10: '显示语言',
            11: '确 定',
            12: '个人信息',
            13: '退出',
            14: '主页',
            15: '期货交易',
            16: '简体中文',
            17: '土耳其语'

          },
          2: {
            1: 'OTC',
            2: 'Spot Gold',
            3: 'Forex&CFD',
            4: 'currency bank',
            5: 'Sign in',
            6: 'Register',
            7: 'Setting',
            8: 'Exchange time zone',
            9: 'Valuation currency',
            10: 'Display language',
            11: 'Confirm',
            12: 'User Information',
            13: 'Logout',
            14: 'Home',
            15: 'Futures',
            16: 'Chinese',
            17: 'Turkish'
          },
          4: {
            1: "OTC",
            2: 'Spot Altın',
            3: 'Forex ve CFD',
            4: 'döviz bankası',
            5: 'Oturum açın',
            6: 'Kayıt Ol',
            7: 'Ayar',
            8: 'Saat dilimi değişimi',
            9: 'Değerleme para birimi',
            10: 'Ekran dili',
            11: 'Onayla',
            12: 'Kullanıcı Bilgileri',
            13: 'Oturumu Kapat',
            14: 'Ana Sayfa',
            15: 'Vadeli İşlemler',
            16: 'Çince',
            17: 'Türkçe'

          },
          5: {
            1: "OTC",
            2: "طلای لکه دار",
            3: "فارکس و CFD",
            4: "بانک ارز",
            5: "ورود به سیستم",
            6: "ثبت نام",
            7: "تنظیم",
            8: "منطقه زمانی مبادله",
            9: "ارز ارزیابی",
            10: "نمایش زبان",
            11: "تأیید",
            12: "اطلاعات کاربر",
            13: "خروج",
            14: "خانه",
            15: "آینده",
            16: "چینی",
            17: 'ترکی'
          }

        },

        menuFlag1: false,
        menuFlag2: false,
        menuFlag3: false,
        menuFlag4: false,
        menuFlag5: false,

        menuViewFlag: false,
        langViewFlag: false,


      };
    },
    created() {

      //       console.log(window.TradingView)
      //
      //       if(this.pageName!='symbolPriceList'&&!this.localStore.getItem('tvPriceListPlugin')){
      //           console.log()
      //           console.log('aaaaaa')
      //           console.log(window.TradingView)
      //           let ttv = window.TradingView;
      //           console.log(ttv)
      //           console.log(JSON.stringify(ttv))
      //           this.localStore.setItem('tvChartPlugin',ttv);
      //           console.log(this.localStore.getItem('tvChartPlugin'))
      //       }




      if (!!this.localStore.getItem('userLoginInfo')) {
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'))
        this.isLogin = true;
      }

      this.getCoinList();
      this.settingAPIDataLanguage();

    },

    components: {

    },
    methods: {
      viewMenu() {
        this.langViewFlag = false;
        this.menuViewFlag = !this.menuViewFlag;
      },
      viewLang() {

        this.menuViewFlag = false;
        this.langViewFlag = !this.langViewFlag;
      },
      settingAPIDataLanguage() {

        let languageOptions = [
          { value: 1, label: '简体中文' },
          { value: 2, label: 'English' },
          { value: 3, label: 'Türkçe' },
          { value: 4, label: 'العربية' },
          { value: 5, label: 'فارسى' }
        ]






        this.languageOptions = languageOptions



      },
      handleMenu(val) {

        if (val == 1) {
          this.menuFlag1 = !this.menuFlag1
        } else if (val == 2) {
          this.menuFlag2 = !this.menuFlag2
        } else if (val == 3) {
          this.menuFlag3 = !this.menuFlag3
        } else if (val == 4) {
          this.menuFlag4 = !this.menuFlag4
        } else {
          this.menuFlag5 = !this.menuFlag5
        }



      },
      // handleMenuFlag(val){
      //    if(val==1){
      //       this.menuFlag2 = false;
      //       this.menuFlag3 = false;
      //       this.menuFlag1 = !this.menuFlag1
      //       return
      //    }
      //    if(val==2){
      //       this.menuFlag1 = false;
      //       this.menuFlag3 = false;
      //       this.menuFlag2 = !this.menuFlag2
      //       return
      //    }
      //    if(val==3){
      //       this.menuFlag1 = false;
      //       this.menuFlag2 = false;
      //       this.menuFlag3 = !this.menuFlag3
      //       return
      //    }
      // },
      languageMouseOver() {

        this.mouseOverFlag = true;
      },
      selectLanguage(index) {

        this.curLanguage = index
        this.localStore.setItem('curLanguage', this.curLanguage);
        this.$emit('changeLanguage', this.curLanguage);
        // this.dialogLanguage = false;
        // this.mouseOverFlag = false;
        this.langViewFlag = false
        this.settingAPIDataLanguage()
      },
      openSetting() {
        this.dialogVisible = true;
        this.setCoinType = this.curCoinType;
        this.setLanguage = this.curLanguage;
      },
      settedConfirm() {
        this.curCoinType = this.setCoinType;
        this.curLanguage = this.setLanguage;
        this.dialogVisible = false;
        this.localStore.setItem('curCoinType', this.curCoinType);
        this.localStore.setItem('curLanguage', this.curLanguage);
        this.$emit('changeCoinType', this.curCoinType);
        this.$emit('changeLanguage', this.curLanguage);
      },

      languageShowOrHide() {
        this.dialogLanguage = !!this.dialogLanguage ? false : true;
      },
      logout() {

        this.localStore.removeItem('userLoginInfo');
        this.localStore.removeItem('userInfo');
        this.localStore.removeItem('userCountry');
        this.isLogin = false;
        this.$emit('userLogout');
      },
      loginSuccess() {

        this.userLoginInfo = this.localStore.getItem('userLoginInfo');

        this.isLogin = true;
      },
      getCoinList() {

        this.coinOptions = [];
        const api = this.$api.url.currency_info;
        let coinsPrecision = {}
        this.$axios.get(api)
          .then((res) => {
            if (res.data.code == 0) {
              let _data = JSON.parse(res.data.data)

              let x = 0.2 % 0.02



              _data.forEach(item => {
                coinsPrecision[item.Code] = item.Precision
                if (item.Type == 1) {
                  this.coinOptions.push(item);
                }
                if (item.Type == 0) {
                  this.systemCoinOption.push(item);
                }
              })

              let data = this.coinOptions.map((item, index) => {
                let value = index + 1;
                let label = decodeURI(item.Name) + '(' + item.Code + ')';
                let label_en = item.Code + '(' + item.Code + ')';


                return { value: value, label: label, label_en: label_en, code: item.Code, default: item.Default }
              })
              this.coinOptions = data;


              this.localStore.setItem('coinsPrecision', coinsPrecision);
              this.localStore.setItem('coinsList', this.coinOptions);

              this.localStore.setItem('systemCoinsList', this.systemCoinOption);
            } else {
              this.$message({
                message: res.data.msg + " 获取币种失败",
                type: "error",
                center: true,
                duration: 1800
              })
            }
          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 1800
            })
          })
      },

      hideMenu() {
        // this.menuFlag1 = false;
        // this.menuFlag2 = false;
        // this.menuFlag3 = false;
      },

      menuClick() {
        return;
      }

      // handleMenu(val){
      //     this.menuIndex =
      // }

    }

  };
</script>



<style scoped lang="scss">

  .nav {
    height: 3rem;
    position: relative;
    .nav-bar

  {
    height: 3rem;
    background-color: #000;
    line-height: 3rem;
    padding: 0 .75rem;
    color: #fff;
    overflow: hidden;
    font-size: .9rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    i

  {
    font-size: 1.3rem;
  }

  .l-icon {
    float: left;
  }

  .r-icon {
    float: right;
    i

  {
    font-size: 1rem;
  }

  }
  }

  .mask-cover {
    position: fixed;
    background: rgba(0,0,0,.5);
    width: 100%;
    top: 3rem;
    bottom: 0;
    z-index: 11;
  }

  .left, .right {
    position: fixed;
    left: 0;
    top: 3rem;
    bottom: 0;
    background-color: #3d3d3d;
    width: 12rem;
    overflow: scroll;
    z-index: 12;
    li

  {
    min-height: 2.5rem;
    line-height: 2.5rem;
    color: #fff;
    border-bottom: 1px solid #000;
    border-top: 1px solid #2d2d2d;
    i

  {
    margin: 0 .5rem;
  }

  i.icon-arrow-down {
    float: right;
    font-size: .9rem;
  }

  }

  .menu-child {
    background-color: #000;
    padding-left: .25rem;
  }

  a {
    color: #fff;
    display: block;
  }

  dt {
    color: #fff;
    opacity: .9;
    padding: .5rem;
    padding-bottom: 0;
  }

  dd {
    line-height: 1.8rem;
    a

  {
    color: #fff;
    opacity: .5;
  }

  }

  li.active {
    a

  {
    color: #f1c07f;
  }

  }

  dl {
    margin-bottom: .5rem;
  }

    dl:last-child {
      margin-bottom: 0;
    }

  }

  .right {
    left: auto;
    right: 0;
    width: 9rem;
    li

  {
    text-align: right;
    padding-right: .75rem;
  }

  }
  }

  .logo {
    text-align: center;
    height: 3.9rem;
    a

  {
    display: block;
    padding: .25rem 0;
    position: fixed;
    width: 100%;
    height: 3.9rem;
    left: 0;
    top: 3rem;
    background-color: #000;
    border-top: 1px solid #333;
    z-index: 10;
  }

  img {
    width: 65%;
  }
  }
</style>
