<template>
		<div class="footer-container">
        <footer>

              
              <div class="f-middle">
                  <div class="width-cell">
                      <div class="left">
                          <router-link to="/en/privacy-policy">Privacy Policy</router-link>
                          <router-link to="/en/cookie">Cookie Policy</router-link>
                          <router-link to="/en/legal-documents">Terms and Conditions</router-link>
                      </div>
                      <div class="right">
                          <img src="../../static/images/noblesky-logo-b.png" />
                      </div>
                  </div>
              </div>
              <div class="under">
                  <div class="width-cell">
                      <p>Legal: This website is operated by NOBLE SKY TREASURE, registered at: Suite 305, Griffith Corporate Center, Beachmont Kingston, Stâ€ Vincent and the Grenadines.</p>
                      <p>NOBLE SKY TREASURE owns NOBLE SKY TREASURE Global Finance Co., LLC and HK NOBLE SKY TREASURE PRECIOUS METALS LIMITED.</p>
                      <p>NOBLE SKY TREASURE Global Finance Co., LLC is authorized and regulated by the Saint Vincent and the Grenadines Financial Services Authority (SVGFSA) (registration number: 225 LLC2019).</p>
                      <p>HK NOBLE SKY TREASURE PRECIOUS METALS LIMITED Hong Kong Gold and Silver Trade Fair and Hong Kong Law (CGSE) authorization and supervision (license number: 170).</p>
                      <p>Risk Warning: Foreign exchange and CFD trading involve risks to your investment capital. Please ensure that you have read through and fully understand our risk disclosure.</p>
                      <p>Restricted areas: NOBLE SKY TREASURE cannot provide services to residents of certain countries/regions, such as the United States, Canada, and Israel </p>
                  </div>
              </div>


        </footer>
        <div class="to-top" @click="toTop" :class="{'to-top-show':scroll_top>300}" :style="{right:rightRange}"><i class="icon el-icon-arrow-up"></i></div>
		</div>
</template>


<script>


export default {
  name: "chart",
  data: function() {
    return {
        scroll_top:0,
        scrollFlag:false,
        rightRange:0
    };
  },
  created(){

  },

  mounted(){
  	if(document.addEventListener){
          document.addEventListener('scroll',this.curScroll);
  }else if(document.attchEvent){
      document.attchEvent('scroll',this.curScroll);
  }

   this.rightRange = parseInt((parseInt(document.body.clientWidth)-1200)/2) - 100 + 'px'



  },

  components: {

  },
  methods: {
    curScroll(){
    	let that=this;
    	if (!that.scrollFlag) {
             that.scroll_top = document.documentElement.scrollTop;
             that.scrollFlag = true;
             setTimeout(function(){
             	 that.scrollFlag = false;
             },50);
          }
    },
    toTop(){
    	let st,si=1,_scroll=this.scroll_top;
    	let that = this;

          st = setInterval(function(){
          	document.documentElement.scrollTop -= si*200;
          	if(_scroll==document.documentElement.scrollTop){that.scroll_top=0;clearInterval(st);return;}
          	_scroll=document.documentElement.scrollTop;
          	si++;
          },20)

    }

  }

};
</script>





<style scoped lang="scss">



    .to-top{position: fixed;background-color: #fff;width: 68px;height: 68px;right: 0;top:50%;-webkit-transform: translate(0,-50%);transform: translate(0,-50%);text-align: center;border:1px solid #ccc;border-radius: 50%;line-height: 68px;font-size: 28px;cursor: pointer;
      -webkit-transition: all .2s ease 0s;transition: all .2s ease 0s;opacity: 0;box-shadow:0 0 10px rgba(0,0,0,.1);
    }
    .to-top.to-top-show{opacity: 1;}
    .to-top:hover{border-color: #74c109;color:#29a643 ;}



    footer{
        a{color: #ddd;}
       .width-cell{margin:0 .75rem;

       }
       .upper{height: 295px;padding:2rem 0 .5rem;background-color: #333;
         dl{width: 16.3%;float: left;}
         dt{font-size: .7rem;color: #fff;margin-bottom: .5rem;}
         dd{font-size: .75rem;margin-bottom: 2px;}
       }

       .f-middle{
         height: 5rem;border-bottom: 1px solid #333;
         .left{float: left;margin-top: 2.5rem;
           a{padding:0 .25rem;color: #888;border-right: 1px solid #333;text-decoration:underline !important}
           a:first-child{padding-left: 0;}
           a:last-child{border-right: 0;}
         }
         .right{float: right;margin-top: .9rem;display: none;}
       }
       .under{padding:1.5rem 0;
         p{margin-bottom: .75rem;color: #888;}
       }

    }


    ::-webkit-scrollbar{
      background:#fff;width:0;height:0;display:none;
  }
  ::-webkit-scrollbar-thumb{
      background:#fff;width:0;height:0;display:none;
  }



</style>
