<template>
  <div class="header-container">
    <div class="nav">
        <div class="nav-bar"  id="lefty">
          <div class="l-icon" @click="viewMenu">
            <i class="icon icon-menu"></i>
          </div>
          
          <div style="position: inherit;width: 45%;left: 25%;">
            <router-link to='/' >
              <img src="../../static/images/home-logo4sm.png" />
              <!-- <em>&nbsp;MT5 CRM</em> -->
              </router-link>
         </div>
          <div class="r-icon" @click="viewLang ">
              <span> <img style="width:2.3em" v-bind:src="languageOptions[curLanguage-1].image"></span>
            
            <!-- {{lang[curLanguage][54]}}
            <i class="icon icon-language"></i> -->
          </div>
        </div>
        <div class="mask-cover" v-if="menuViewFlag||langViewFlag" @click="menuViewFlag=false;langViewFlag=false"></div>
        <div class="left" v-if="menuViewFlag">
          <div class="menu">
            <ul v-bind:class="{rightToLeft:(curLanguage==4||curLanguage==5)}">
              <li :class="{active:pageName=='home'}">
                <router-link to='/'><i class="fa fa-home"></i>{{lang[curLanguage][6]}}</router-link>
              </li>
              <li>
                <router-link to='/analytics-info'><i class="icon icon-product"></i>{{lang[curLanguage][7]}}</router-link>
              </li>
              <!-- <li>
                <router-link to='/product-introduce'><i class="icon icon-product"></i>FM</router-link>
              </li> -->
              <li>
                <div class="menu-parent" @click.stop="handleMenu(4)">
                  <i class="fas fa-coins"></i>
                  FM
                  <i class="icon icon-arrow-down" :class="{'arrow-up':menuFlag4}" ></i>
                </div>

                <div class="menu-child" v-show="menuFlag4">
                  <dl>
                    <dt>{{lang[curLanguage][59]}}</dt>
                    <dd>

                      <router-link to='/product-introduce'><i class="fas fa-file-invoice-dollar"></i>{{lang[curLanguage][61]}}</router-link>
                    </dd>
                    <dd>

                      <router-link to='/product-introduction'><i class="fas fa-balance-scale"></i>{{lang[curLanguage][60]}}</router-link>
                    </dd>
                  </dl>
                  <dl>
                    <dt>{{lang[curLanguage][62]}}</dt>
                    <dd>

                      <router-link to='/futures-introduce'><i class="fa fa-file-contract"></i>{{lang[curLanguage][64]}}</router-link>
                    </dd>
                    <dd>

                      <router-link to='/futures-introduction'><i class="fas fa-clock"></i>{{lang[curLanguage][63]}}</router-link>
                    </dd>

                  </dl>
                  <dl>
                    <dt>{{lang[curLanguage][65]}}</dt>
                    <dd>

                      <router-link to='/crypto-introduce'><i class="fab fa-btc"></i>{{lang[curLanguage][66]}}</router-link>
                    </dd>
                    <dd>

                      <router-link to='/crypto-introduction'><i class="fab fa-ethereum"></i>{{lang[curLanguage][67]}}</router-link>
                    </dd>

                  </dl>
                </div>
              </li>
              <li v-if="isLogin">
                <router-link to='/coinstrad'><i class="icon icon-product"></i>CRM</router-link>
              </li>
              <li v-if="!isLogin">
                <router-link to='/login'><i class="icon icon-product"></i>CRM</router-link>
              </li>
              <li>
                <div class="menu-parent" @click.stop="handleMenu(1)">

                  <i class="fa fa-area-chart"></i>
                  {{lang[curLanguage][8]}}
                  <i class="icon icon-arrow-down" :class="{'arrow-up':menuFlag1}"></i>
                </div>
                <div class="menu-child" v-show="menuFlag1">
                  <dl>
                    <dt>{{lang[curLanguage][17]}}</dt>
                    <dd>
                      <router-link to='/account-types'><i class="fa fa-signal"></i>{{lang[curLanguage][18]}}</router-link>
                    </dd>
                  </dl>
                  <dl>
                    <dt>{{lang[curLanguage][19]}}</dt>
                    <dd>
                      <router-link to='/forex-trading'><i class="fa fa-usd"></i>{{lang[curLanguage][20]}}</router-link>
                    </dd>
                    <!--<dd>
    <router-link to='/en/commodities'><i class="fa fa-envira"></i>Commodity</router-link>
  </dd>
  <dd>
    <router-link to='/en/equity-indices'><i class="fa fa-database"></i>Equity Indices</router-link>
  </dd>-->
                    <dd>
                      <router-link to='/precious-metals'><i class="fa fa-cubes"></i>{{lang[curLanguage][21]}}</router-link>
                    </dd>
                    <dd>
                      <router-link to='/energies'><i class="fa fa-tint"></i>{{lang[curLanguage][22]}}</router-link>
                    </dd>
                    <dd>
                      <router-link to='/futures'><i class="fas fa-file-contract"></i>{{language[curLanguage][15]}}</router-link>
                    </dd>
                    <dd>
                      <router-link to='/crypto'><i class="fab fa-btc"></i>{{lang[curLanguage][65]}}</router-link>
                    </dd>
                  </dl>
              <dl>
                <dt>{{lang[curLanguage][23]}}</dt>
                <dd>
                  <router-link to='/execution-policy'><i class="icon icon-policy"></i>{{lang[curLanguage][24]}}</router-link>
                </dd>
                <dd>
                  <router-link to='/spreads'><i class="icon icon-spreads"></i>{{lang[curLanguage][25]}}</router-link>
                </dd>
                <dd>
                  <router-link to='/margin-and-leverage'><i class="icon icon-margin"></i>{{lang[curLanguage][26]}}</router-link>
                </dd>
                <dd>
                  <router-link to='/overnight-positions'><i class="icon icon-positions"></i>{{lang[curLanguage][27]}}</router-link>
                </dd>
                <dd>
                  <router-link to='/trading-hours'><i class="icon icon-hours"></i>{{lang[curLanguage][28]}}</router-link>
                </dd>

              </dl>
          </div>
          </li>
          <li>
            <div class="menu-parent" @click.stop="handleMenu(2)">
              <i class="fa fa-desktop"></i>
              {{lang[curLanguage][9]}}
              <i class="icon icon-arrow-down" :class="{'arrow-up':menuFlag2}" ></i>
            </div>

            <div class="menu-child" v-show="menuFlag2">
              <dl>
                <dt>{{lang[curLanguage][34]}}</dt>
                <dd>

                  <router-link to='/mt5'><i class="fab fa-windows"></i>{{lang[curLanguage][35]}}</router-link>
                </dd>
                <!-- <dd>
           <i class="fab fa-apple"></i>
           <router-link to='/mt5-mac'>Mac系统MT5</router-link>
        </dd> -->
                <dd>

                  <router-link to='/mt5-webtrader'><i class="fa fa-desktop"></i>{{lang[curLanguage][36]}}</router-link>
                </dd>
              </dl>
              <dl>
                <dt>{{lang[curLanguage][37]}}</dt>
                <dd>

                  <router-link to='/mt5-iphone'><i class="fab fa-apple"></i>{{lang[curLanguage][38]}}</router-link>
                </dd>
                <dd>

                  <router-link to='/mt5-android'><i class="fab fa-android"></i>{{lang[curLanguage][39]}}</router-link>
                </dd>

              </dl>

              <dl>
                <dt>{{lang[curLanguage][40]}}</dt>
                <dd>

                  <router-link to='/mt5-ipad'><i class="fab fa-apple"></i>{{lang[curLanguage][41]}}</router-link>
                </dd>
              </dl>
            </div>
          </li>
          <li :class="{active:pageName=='activityList'}">
            <router-link to='/activity-list'><i class="fa fa-gift"></i> {{lang[curLanguage][10]}}</router-link>
          </li>
          <li>


            <div class="menu-parent" @click.stop="handleMenu(3)">
              <i class="fa fa-briefcase"></i>
              {{lang[curLanguage][11]}}
              <i class="icon icon-arrow-down" :class="{'arrow-up':menuFlag3}"></i>
            </div>

            <div class="menu-child" v-show="menuFlag3">
              <dl>
                <dt>{{lang[curLanguage][43]}}</dt>
                <dd>
                  <router-link to='/about'><i class="fa fa-briefcase"></i>{{lang[curLanguage][48]}}</router-link>
                </dd>
                <dd>
                  <router-link to='/regulation'><i class="icon icon-regulation"></i>{{lang[curLanguage][49]}}</router-link>
                </dd>
                <dd>
                  <router-link to='/faq'><i class="icon icon-faq"></i>{{lang[curLanguage][50]}}</router-link>
                </dd>
                <dd>
                  <router-link to='/legal-documents'><i class="icon icon-file"></i>{{lang[curLanguage][51]}}</router-link>
                </dd>
              </dl>

            </div>
          </li>
          <li :class="{active:pageName=='agent'}">
            <router-link to='/agent'><i class="fa fa-refresh"></i>{{lang[curLanguage][12]}}</router-link>
          </li>
          <li :class="{active:pageName=='contact'}">
            <router-link to='/contact'><i class="icon icon-service"></i>{{lang[curLanguage][55]}}</router-link>
          </li>
          <li v-if="isLogin">
            <router-link to='/my'><i class="icon icon-user"></i>{{lang[curLanguage][56]}}</router-link>
          </li>
          <li v-if="!isLogin">
            <router-link to='/login'><i class="icon icon-user"></i>{{lang[curLanguage][56]}}</router-link>
          </li>
          </ul>
        </div>
        </div>

        <div class="right" v-if="langViewFlag">
          <div class="language" @mouseover="languageMouseOver">
            <ul>
              <li v-for="(item,index) in languageOptions" @click.stop="selectLanguage(item.value)" :key="index">{{item.label}}  <img style="width:1.5em" v-bind:src="item.image"></li>
            </ul>
          </div>
        </div>


      </div>
  
  </div>
</template>


<script>
  import { changLang } from '../main.js' 
  import $ from 'jquery'
  function noop() { }

  export default {
    name: "pageHeader",
    props: {
      pageName: {
        default: '',
        type: String
      },
      defaultCoinType: {
        default: 1,
        type: Number
      },
      defaultLanguage: {
        default: 1,
        type: Number
      }


    },
    data: function () {
      return {
        isLogin: false,
        userLoginInfo: {},
        curLanguage: this.defaultLanguage,
        setLanguage: this.defaultLanguage,
        dialogVisible: false,
        curCoinType: this.defaultCoinType,
        setCoinType: this.defaultCoinType,
        coinOptions: [
          { value: 1, label: '人民币(CNY)', label_en: 'CNY(CNY)' },
          { value: 2, label: '美元(USD)', label_en: 'USD(USD)' },
          //            {value:3,label:'比索(PHP)',label_en:'PHP(PHP)'},
          //            {value:4,label:'港元(HKD)',label_en:'HKD(HKD)'},
          //            {value:5,label:'日元(JPY)',label_en:'JPY(JPY)'},
          //            {value:6,label:'韩元(KRW)',label_en:'KRW(KRW)'}
        ],
        systemCoinOption: [

        ],
        languageOptions: [
          { value: 1, label: '简体中文', image: '../../static/images/CNFlag.png' },
          { value: 2, label: 'English', image: '../../static/images/ENFlag.png' },
          { value: 3, label: 'Türkçe', image: '../../static/images/TRFlag.png' },
          { value: 4, label: 'العربية', image: '../../static/images/ARFlag.png' },
            {value:5,label:'فارسى',image:'../../static/images/IRFlag.png'}
        ],
        dialogLanguage: false,
        mouseOverFlag: false,
        language: {
          1: {
            1: '出入金',
            2: '现货交易',
            3: '合约交易',
            4: '币银行',
            5: '登录',
            6: '注册',
            7: '设置',
            8: '交易所时区',
            9: '计价币种',
            10: '显示语言',
            11: '确 定',
            12: '个人信息',
            13: '退出',
            14: '主页',
            15: '期货交易',
            16: '简体中文',
            17: '土耳其语'

          },
          2: {
            1: 'OTC',
            2: 'Spot Gold',
            3: 'Forex&CFD',
            4: 'currency bank',
            5: 'Sign in',
            6: 'Register',
            7: 'Setting',
            8: 'Exchange time zone',
            9: 'Valuation currency',
            10: 'Display language',
            11: 'Confirm',
            12: 'User Information',
            13: 'Logout',
            14: 'Home',
            15: 'Futures',
            16: 'Chinese',
            17: 'Turkish'
          },
          3: {
            1: "OTC",
            2: 'Spot Altın',
            3: 'Forex ve CFD',
            4: 'döviz bankası',
            5: 'Oturum açın',
            6: 'Kayıt Ol',
            7: 'Ayar',
            8: 'Saat dilimi değişimi',
            9: 'Değerleme para birimi',
            10: 'Ekran dili',
            11: 'Onayla',
            12: 'Kullanıcı Bilgileri',
            13: 'Oturumu Kapat',
            14: 'Ana Sayfa',
            15: 'Vadeli İşlemler',
            16: 'Çince',
            17: 'Türkçe'

          },
          4: {
            1: "OTC",
            2: 'Spot Altın',
            3: 'Forex ve CFD',
            4: 'döviz bankası',
            5: 'Oturum açın',
            6: 'Kayıt Ol',
            7: 'Ayar',
            8: 'Saat dilimi değişimi',
            9: 'Değerleme para birimi',
            10: 'Ekran dili',
            11: 'Onayla',
            12: 'Kullanıcı Bilgileri',
            13: 'Oturumu Kapat',
            14: 'Ana Sayfa',
            15: 'العقود الآجلة',
            16: 'Çince',
            17: 'Türkçe'
          },
          5: {
            1: "OTC",
            2: "طلای لکه دار",
            3: "فارکس و CFD",
            4: "بانک ارز",
            5: "ورود به سیستم",
            6: "ثبت نام",
            7: "تنظیم",
            8: "منطقه زمانی مبادله",
            9: "ارز ارزیابی",
            10: "نمایش زبان",
            11: "تأیید",
            12: "اطلاعات کاربر",
            13: "خروج",
            14: "خانه",
            15: "آینده",
            16: "چینی",
            17: 'ترکی'
          }

        },
        lang:{
        1:{
          1:'N Sky主页',
          2:'常见问题',
          3:'会员登录',
          4:'网页客服',
          5:'建立真实账户',
          6:'首页',
          7:'分析学',
          8:'交易',
          9:'交易平台',
          10:'活动',
          11:'简介',
          12:'代理',
          13:'交易',
          14:'既适合新手也能满足有经验的交易者，灵活的交易条件，杠杆高达 200:1。',
          15:'N SKY提供超过 55 种极低点差货币对和差价合约商品，包括贵重金属、和能源，无拒绝订单，无二次报价。',
          16:'风险警告 : 利用保证金进行外汇交易有着巨大风险',
          17:'交易账户',
          18:'交易账户类型',
          19:'交易工具',
          20:'外汇',
          21:'贵重金属',
          22:'能源',
          23:'交易条件',
          24:'执行策略',
          25:'点差',
          26:'保证金和杠杆作用',
          27:'过夜仓位',
          28:'交易时间',
          29:'收起菜单',
          30:'交易平台',
          31:'您可以在 N SKY MT5上交易自选商品，适用于PC和多种移动设备。您也可以尝试选用NOBLE SKY WebTrader，直接通过浏览器即可访问。',
          32:'此外，平台的完整功能同样适用于Apple 和Android移动设备，可无缝链接到您的智能手机或者平板电脑。',
          33:'风险警告 : 利用保证金进行外汇交易有着巨大风险。',
          34:'PC',
          35:'PC系统MT5',
          36:'MT5 WebTrader',
          37:'智能手机',
          38:'iPhone版MT5',
          39:'安卓系统MT5',
          40:'平板电脑',
          41:'iPad系统MT5',
          42:'收起菜单',
          43:'简介',
          44:'N SKY追求高质量的服务，因为质量不管对于客户还是我们来说都是至关重要的。我们相信全面周到的金融服务需要建立在思维的全面化，以及商业原则的统一政策上。',
          45:'我们的任务就是和全球市场需求同步，运用开阔思维，帮助客户达到投资目标。',
          46:'风险警告 : 利用保证金进行外汇交易有着巨大风险。',
          47:'简介',
          48:'N SKY集团是谁？',
          49:'监管',
          50:'常见问题',
          51:'相关法律文件',
          52:'收起菜单',
          53:'大宗商品',
          54:'证券指数',
           55:'金融市场',
           56:'用户中心',
           57:'主交易员能够进行更大的交易，以赚更多的钱，与投资者分享或提供固定利润。 因此，您可以轻松休息，让专家在您睡觉时真正赚钱的同时照顾其余的人。',
           58:'单击简介页面以了解更多信息',
           59:'自由产品',
           60:'财务介绍',
          61:'理财产品',
           62:'期货产品',
           63:'期货介绍',
           64:'期货产品',
           65:'加密货币',
           66:'加密产品',
           67:'加密货币介绍',

        },
        2:{
          1:'N Sky HOME PAGE',
          2:'FAQ',
          3:'Member login',
          4:'Web customer service',
          5:'OPEN AN ACCOUNT',
          6:'HOME',
          7:'ANALYTICS',
          8:'TRADING',
          9:'TRADING PLATFORM',
          10:'ACTIVITY',
          11:'INTRODUCTION',
          12:'AGENT',
          13:'Trading',
          14:'At N Sky™, we provide standard accounts, which are suitable for novices and experienced traders, with flexible trading conditions and leverage up to 200:1.',
          15:'N Sky™ provides more than 55 kinds of extremely low spread currency pairs and CFD commodities, including precious metals, and energy, without rejection orders, and no secondary quotes.',
          16:'Risk warning: There are huge risks in foreign exchange transactions using margin',
          17:'Trading account',
          18:'Trading account type',
          19:'Trading tools',
          20:'Foreign exchange',
          21:'Precious metals',
          22:'Energy',
          23:'Trading terms',
          24:'Execution Policy',
          25:'Spread',
          26:'Margin and leverage',
          27:'Overnight position',
          28:'Trading hours',
          29:'Collapse menu',
          30:'Trading platform',
          31:'You can trade on-demand goods on N Sky™ MT5, which is suitable for PC and various mobile devices. You can also try N Sky™ WebTrader.',
          32:'In addition, the full functionality of the platform is also applicable to Apple and Android mobile devices, and can be seamlessly linked to your smartphone or tablet.',
          33:'Risk Warning: Precious Metals trading involves high risks.',
          34:'PC',
          35:'MT5 for PC',
          36:'MT5 WebTrader',
          37:'SMARTPHONES',
          38:'MT5 for iPhone',
          39:'MT5 for Android',
          40:'TABLET',
          41:'MT5 for iPad',
          42:'Collapse menu',
          43:'Introduction',
          44:'N Sky™ pursues high-quality service, because quality is very important to customers and us. We believe that comprehensive and thoughtful financial services need to be based on comprehensive thinking and a unified policy of business principles.',
          45:'Our task is to keep pace with the global market demand, use broad thinking, and help customers achieve their investment goals.',
          46:'Risk warning: There are huge risks in foreign exchange transactions using margin.',
          47:'Introduction',
          48:'About N Sky™ group',
          49:'Supervision',
          50:'Common Questions',
          51:'Related legal documents',
          52:'Collapse menu',
          53:'Commodities',
          54:'Equity Indicies',
          55:'Financial Market',
          56: 'User Center',
          57: 'Master traders are able to make bigger trades to make more money and share or give fixed profits with investors. So you rest easy and let the experts take care of the rest while you literally make money while you sleep. ',
          58: 'click in the introduction pages to learn more.',
          59: 'Freedom Products',
          60:'Financial introduction',
          61:'Financial Products',
          62:'Futures Products',
          63:'Futures Introduction',
          64:'Futures products',
          65:'Cryptocurrencies',
          66:'Crypto Products',
          67:'Crypto Introduction',
        },
        3:{
          1:'N Sky Ana Sayfası',
          2:'SSS',
          3:'Üye Girişi',
          4:'Web Müşteri Hizmetleri',
          5:'HESAP AÇ',
          6:'ANA SAYFA',
          7:'ANALIZ',
          8:'FİNANS',
          9:'PLATFORMLAR',
          10:'AKTİVİTE',
          11:'GİRİŞİM',
          12:'ACENTA',
          13:'Ticaret',
          14:"N Sky™'de, hem deneyimli hem de deneyimli tüccarlar, Esnek ticaret koşulları, Kaldıraç 50:1 - 200:1 için uygun Profesyonel Altın Standart Hesaplar sunuyoruz.",
          15:'N Sky™ Değerli Metal Marjı ticareti ve fiziksel Altın külçe siparişi ve koruma hizmetleri sağlar.',
          16:'Risk uyarısı: Değerli metal marjı ticareti yüksek riskler içerir',
          17:'Hesaplar',
          18:'Ticaret Hesabı Tipi',
          19:'Ticaret Araçları',
          20:'Döviz',
          21:'Değerli Metaller',
          22:'Enerji',
          23:'Ticaret Koşulları',
          24:'Yürütme Poliçesi',
          25:'Spreads',
          26:'Marj ve Kaldıraç',
          27:'Gecelik Pozisyonlar',
          28:'İşlem Saatleri',
          29:'Menüyü daralt',
          30:'Ticaret Platformları',
          31:"PC'ler ve çok çeşitli mobil cihazlar için N Sky™ MT5'te seçtiğiniz öğeleri takas edebilirsiniz.Ayrıca tarayıcınızdan doğrudan erişebileceğiniz N Sky™ WebTrader'ı da deneyebilirsiniz.",
          32:'Ek olarak, platformun tam işlevselliği, akıllı telefonunuza veya tabletinize sorunsuz bir şekilde bağlanan Apple ve Android mobil cihazlar için de mevcuttur.',
          33:'Risk uyarısı: Altın ticareti için marj kullanmanın büyük bir riski vardır.',
          34:'PC',
          35:'MT5 PC için',
          36:'MT5 WebTrader',
          37:'AKILLI TELEFONLAR',
          38:'MT5 İPhone için',
          39:'MT5 Android için',
          40:'TABLET',
          41:'MT5 İPad için',
          42:'Menüyü daralt',
          43:'HAKIMIZDA',
          44:'N Sky™ yüksek kaliteli hizmet peşinde koşmaktadır, çünkü kalite hem Müşterilerimiz hem de bizler için son derece önemlidir Düşünceli finansal hizmetlerin kapsamlı bir düşünceye ve birleşik bir iş ilkeleri politikasına dayanması gerektiğine inanıyoruz.',
          45:"Misyonumuz, küresel pazar olan Broaden Horizon'a ayak uydurmak ve Müşterilerimizin yatırım hedeflerine ulaşmalarına yardımcı olmaktır.",
          46:'Risk uyarısı: Teminat kullanarak Altın Ticaretinde büyük riskler vardır.',
          47:'Giriş',
          48:'N Sky™ Group Hakkında',
          49:'Nezaret',
          50:'SSS',
          51:'İlgili Yasal Belgeler',
          52:'Menüyü daralt',
          53:'Emtia',
          54:'Menkul Kıymetler Endeksi',
          55: 'Finans Piyasası',
          56: 'Kullanıcı Merkezi',
          57: 'Usta tüccarlar daha fazla para kazanmak ve yatırımcılarla sabit kar paylaşmak veya vermek için daha büyük işlemler yapabilirler, Böylece rahat bir şekilde dinlenin ve siz uyurken kelimenin tam anlamıyla para kazanırken uzmanların gerisini halletmesine izin verin, ',
          58: 'Daha fazlasını öğrenmek için giriş sayfalarına tıklayın,',
          59: 'Özgürlük Ürünleri',
          60: 'Finansal giriş',
          61: 'Finansal Ürünler',
          62: 'Vadeli Ürünler',
          63: 'Vadeli İşlemlere Giriş',
          64: 'Vadeli ürünler',
          65: 'Kripto Para Birimleri',
          66: 'Kripto Ürünleri',
          67: 'Kripto Giriş',
        },
        4:{
          1:'الصفحة الرئيسية',
          2:'الأسئلة الشائعة',
          3:'تسجيل الدخول',
          4:'خدمة العملاء',
          5:'فتح حساب جديد',
          6:'الصفحة الرئيسية',
          7:'التحليلات',
          8:'المداولات',
          9:'منصة التداول',
          10:'النشاطات',
          11:'حول',
          12:'وكيل',
          13:'المداولات',
          14:'في ™N Sky  ، نقدم حسابات STANDARD مناسبة للمتداولين المبتدئين وذوي الخبرة ، مع شروط تداول مرنة ورافعة مالية تصل إلى 200: 1.',
          15:'توفر ™N Sky أكثر من 55 نوعًا من أزواج العملات ذات الفروق المنخفضة للغاية وسلع العقود مقابل الفروقات ، بما في ذلك المعادن الثمينة والطاقة ، دون رفض الطلبات ، ولا توجد عروض أسعار ثانوية.',
          16:'تحذير: هناك مخاطر كبيرة في معاملات الصرف الأجنبي باستخدام الهامش',
          17:'حساب التداول',
          18:'نوع حساب التداول',
          19:'أدوات التداول',
          20:'تداول العملات',
          21:'المعادن النفيسة',
          22:'الطاقات',
          23:'شروط التداول',
          24:'سياسة التنفيذ',
          25:'سبريد',
          26:'الهامش و الرافعة المالية',
          27:'المداولات الليلية',
          28:'ساعات التداول',
          29:'Collapse menu',
          30:'منصة التداول',
          31:'يمكنك تداول السلع حسب الطلب على ™N Sky MT5 ، وهو مناسب لأجهزة الكمبيوتر الشخصية والأجهزة المحمولة المختلفة. يمكنك أيضًا تجربة ™N Sky WebTrader.',
          32:'بالإضافة إلى ذلك ، فإن الوظائف الكاملة للمنصة تنطبق أيضًا على أجهزة Apple و Android المحمولة ، ويمكن ربطها بسلاسة بهاتفك الذكي أو جهازك اللوحي.',
          33:'تحذير: يحتوي تداول المعادن الثمينة على مخاطر عالية.',
          34:'الكمبيوتر',
          35:'MT5 للكمبيوتر الشخصي',
          36:'MT5 WebTrader',
          37:'الجولات الذكية',
          38:'MT5 على iPhone',
          39:'MT5 على Android',
          40:'الأجهزة اللوحية',
          41:'MT5 على iPad',
          42:'Collapse menu',
          43:'حول',
          44:'تسعى ™Noble Sky  إلى تقديم خدمة عالية الجودة ، لأن الجودة مهمة جدًا للعملاء ولنا. نعتقد أن الخدمات المالية الشاملة والمدروسة تحتاج إلى أن تستند إلى تفكير شامل وسياسة موحدة لمبادئ الأعمال.',
          45:'مهمتنا هي مواكبة طلب السوق العالمي ، واستخدام التفكير الواسع ، ومساعدة العملاء على تحقيق أهدافهم الاستثمارية.',
          46:'تحذير: هناك مخاطر كبيرة في معاملات الصرف الأجنبي باستخدام الهامش.',
          47:'حول',
          48:'معلومات عنا',
          49:'التراخيص والمؤهلات',
          50:'الأسئلة الشائعة',
          51:'الوثائق القانونية ذات الصلة',
          52:'Collapse menu',
          53:'السلع',
          55:'مؤشرات الأسهم',
          55:'السوق المالية',
          55: 'السوق المالية',
          56: 'مركز المستخدم',
          57: 'يمكن للمتداولين الرئيسيين إجراء صفقات أكبر لكسب المزيد من المال والمشاركة أو إعطاء أرباح ثابتة مع المستثمرين, لذا فأنت مرتاح ودع الخبراء يعتنون بالباقي بينما تكسب المال حرفيًا أثناء نومك, ',
           58: 'انقر في صفحات المقدمة لمعرفة المزيد',
          59: 'منتجات الحرية',
          60: 'مقدمة مالية',
          61: 'المنتجات المالية',
          62: 'منتجات العقود الآجلة',
          63: 'مقدمة عن العملات الرقمية',
          64: 'منتجات العقود الآجلة',
          65: 'العملات الرقمية',
          66: 'منتجات العملات الرقمية',
          67: 'مقدمة العملات الرقمية',
        },
        5:{
          1:'صفحه ی اصلی',
          2:'سوالات متداول',
          3:' ورود اعضاء',
          4:'تماس با ما',
          5:'افتتاح حساب',
          6:'صفحه ی اصلی',
          7:'تحلیل',
          8:'معامله',
          9:'پلتفرم معاملاتی',
          10:'فعالیت ها',
          11:'معرفی',
          12:'پشتیبان',
          13:'معامله',
          14:'در ™Noble Sky حساب های میکرو و استاندارد، مناسب معامله گران تازه وارد و حرفه ای، با شرایط انعطاف پذیر معامله گری و لوریج 1:200 فراهم آورده اییم.',
          15:'در ™Noble Sky  بیشتر از 55 جفت ارز و CFD شامل فلزات گران بها و انرژی) با اسپرد بسیار پایین بدون ریجکشن و قیمت های مجدد گردآوری کرده اییم)',
          16:'هشدار: در معاملات ارزهای خارجی که در آن ها از مارجین استفاده شده است ریسک معاملات بالا هستند',
          17:'حساب معاملاتی',
          18:'انواع حساب',
          19:'نمادهای قابل معامله',
          20:'ارزهای خارجی',
          21:'فلزات گران بها',
          22:'انرژی ها',
          23:'قوانین معامله گری',
          24:'سیاست های اجرای دستورات',
          25:'اسپرد',
          26:'لوریج و مارجین',
          27:'پوزیشن های شبانه',
          28:'ساعت های معامله',
          29:'مینیمایز کردن فهرست',
          30:'پلتفرم معاملاتی',
          31:'کالاهای مورد نظر خود را می توانید از طریق N Sky™ MT5 که برای رایانه های شخصی و دستگاه های مختلف تلفن همراه مناسب است، معامله کنید. همچنین میتوانید از WebTrader نیز استفاده کنید',
          32:'بعلاوه، با گوشی های تلفن همراه اپل و اندروید نیز میتوانید از تمام کاربردهای پلتفرم استفاده کنید و برنامه قابل انطباق با تلفن هوشمند یا تبلت شما است.',
          33:'هشدار: معامله ی فلزات گران بها ریسک بالایی دارد.',
          34:'کامپیوتر',
          35:'MT5 ویندوز',
          36:'MT5 WebTrader',
          37:'تلفن های هوشمند',
          38:'MT5 آیفون',
          39:'MT5 اندروید',
          40:'تبلت',
          41:'MT5 آیپد',
          42:'Collapse menu',
          43:'معرفی',
          44:'™N Sky به دنبال ارائه ی خدمات با کیفیت است، زیرا کیفیت حرف اول را برای مشتریان و ما میزند. ما بر این باور هستیم که خدمات مالی جامع و معقول باید مبتنی بر تفکر جامع و سیاست واحدی از اصول معامله باشد',
          45:'وظیفه ما همسویی با تقاضای بازار جهانی، بهره گیری از تفکرات عمیق و کمک به مشتریان در دستیابی به اهداف سرمایه گذاری آن ها است.',
          46:'هشدار: استفاده از مارجین در معاملات ارزی ریسک بالایی دارد.',
          47:'معرفی',
          48:'درباره ی گروه N Sky',
          49:'نظارت',
          50:'سوالات متداول',
          51:'اسناد قانونی مرتبط',
          52:'Collapse menu',
          53:'Commodities',
          55:'Equity Indicies',
          55: 'بازار مالی',
          56: 'مرکز کاربری',
           57: 'معامله گران اصلی می توانند معاملات بزرگتری انجام دهند تا پول بیشتری بدست آورند و سودهای ثابت را با سرمایه گذاران تقسیم کنند یا به آنها بدهند, بنابراین شما راحت استراحت کنید و اجازه دهید متخصصین از بقیه امور مراقبت کنند در حالی که به معنای واقعی کلمه در هنگام خواب پول در می آورید, ',
          58: 'برای اطلاعات بیشتر در صفحه های معرفی کلیک کنید',
          59: 'محصولات آزادی',
          60: 'معرفی مالی',
          61: 'محصولات مالی',
          62: 'محصولات آینده',
          63: 'معرفی آینده',
          64: 'محصولات آینده',
          65: 'ارزهای کریپتو',
          66: 'محصولات کریپتو',
          67: 'مقدمه کریپتو',
        }
      },
        menuFlag1: false,
        menuFlag2: false,
        menuFlag3: false,
        menuFlag4: false,
        menuFlag5: false,

        menuViewFlag: false,
        langViewFlag: false,


      };
    },
    created() {

      //       console.log(window.TradingView)
      //
      //       if(this.pageName!='symbolPriceList'&&!this.localStore.getItem('tvPriceListPlugin')){
      //           console.log()
      //           console.log('aaaaaa')
      //           console.log(window.TradingView)
      //           let ttv = window.TradingView;
      //           console.log(ttv)
      //           console.log(JSON.stringify(ttv))
      //           this.localStore.setItem('tvChartPlugin',ttv);
      //           console.log(this.localStore.getItem('tvChartPlugin'))
      //       }


      function changeCss () {
        var navElement = document.querySelector(".nav .nav-bar");
        if (navElement) {

       
        if (window.pageYOffset != 0)
          navElement.style.boxShadow = "0px 4px 20px 0px #000000ab";
        else
          navElement.style.boxShadow = "unset";
        }  
      }
      window.addEventListener("scroll", changeCss , false);

      if (!!this.localStore.getItem('userLoginInfo')) {
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'))
        this.isLogin = true;
      }

      this.getCoinList();
      this.settingAPIDataLanguage();

    },

    components: {

    },
    methods: {
      viewMenu() {
        this.langViewFlag = false;
        this.menuViewFlag = !this.menuViewFlag;
      },
      viewLang() {

        this.menuViewFlag = false;
        this.langViewFlag = !this.langViewFlag;
      },
      settingAPIDataLanguage() {

        this.localStore.setItem('curLanguage', this.curLanguage);
        this.$emit('changeLanguage', this.curLanguage);
        this.$emit('switchedLang');
        changLang.$emit('switchedLang');  


      },
      handleMenu(val) {

        if (val == 1) {
          this.menuFlag1 = !this.menuFlag1
        } else if (val == 2) {
          this.menuFlag2 = !this.menuFlag2
        } else if (val == 3) {
          this.menuFlag3 = !this.menuFlag3
        } else if (val == 4) {
          this.menuFlag4 = !this.menuFlag4
        } else {
          this.menuFlag5 = !this.menuFlag5
        }



      },
      // handleMenuFlag(val){
      //    if(val==1){
      //       this.menuFlag2 = false;
      //       this.menuFlag3 = false;
      //       this.menuFlag1 = !this.menuFlag1
      //       return
      //    }
      //    if(val==2){
      //       this.menuFlag1 = false;
      //       this.menuFlag3 = false;
      //       this.menuFlag2 = !this.menuFlag2
      //       return
      //    }
      //    if(val==3){
      //       this.menuFlag1 = false;
      //       this.menuFlag2 = false;
      //       this.menuFlag3 = !this.menuFlag3
      //       return
      //    }
      // },
      languageMouseOver() {
        $('.language li').each(function () { 
      var delay = ($(this).index() / 4) + 's'; 
        $(this).css({ 
          webkitAnimationDelay: delay, 
          mozAnimationDelay: delay, 
          animationDelay: delay 
        }); 
      }); 
        this.mouseOverFlag = true;
      },
      selectLanguage(index) {

        this.curLanguage = index
        this.localStore.setItem('curLanguage', this.curLanguage);
        this.$emit('changeLanguage', this.curLanguage);
        // this.dialogLanguage = false;
        // this.mouseOverFlag = false;
        changLang.$emit('switchedLang'); 
        this.langViewFlag = false
        this.settingAPIDataLanguage()
      },
      openSetting() {
        this.dialogVisible = true;
        this.setCoinType = this.curCoinType;
        this.setLanguage = this.curLanguage;
      },
      settedConfirm() {
        this.curCoinType = this.setCoinType;
        this.curLanguage = this.setLanguage;
        this.dialogVisible = false;
        this.localStore.setItem('curCoinType', this.curCoinType);
        this.localStore.setItem('curLanguage', this.curLanguage);
        this.$emit('changeCoinType', this.curCoinType);
        this.$emit('changeLanguage', this.curLanguage);
      },

      languageShowOrHide() {
        this.dialogLanguage = !!this.dialogLanguage ? false : true;
      },
      logout() {

        this.localStore.removeItem('userLoginInfo');
        this.localStore.removeItem('userInfo');
        this.localStore.removeItem('userCountry');
        this.isLogin = false;
        this.$emit('userLogout');
      },
      loginSuccess() {

        this.userLoginInfo = this.localStore.getItem('userLoginInfo');

        this.isLogin = true;
      },
      getCoinList() {

        this.coinOptions = [];
        const api = this.$api.url.currency_info;
        let coinsPrecision = {}
        this.$axios.get(api)
          .then((res) => {
            if (res.data.code == 0) {
              let _data = JSON.parse(res.data.data)

              let x = 0.2 % 0.02



              _data.forEach(item => {
                coinsPrecision[item.Code] = item.Precision
                if (item.Type == 1) {
                  this.coinOptions.push(item);
                }
                if (item.Type == 0) {
                  this.systemCoinOption.push(item);
                }
              })

              let data = this.coinOptions.map((item, index) => {
                let value = index + 1;
                let label = decodeURI(item.Name) + '(' + item.Code + ')';
                let label_en = item.Code + '(' + item.Code + ')';


                return { value: value, label: label, label_en: label_en, code: item.Code, default: item.Default }
              })
              this.coinOptions = data;


              this.localStore.setItem('coinsPrecision', coinsPrecision);
              this.localStore.setItem('coinsList', this.coinOptions);

              this.localStore.setItem('systemCoinsList', this.systemCoinOption);
            } else {
              this.$message({
                message: res.data.msg + " 获取币种失败",
                type: "error",
                center: true,
                duration: 1800
              })
            }
          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 1800
            })
          })
      },

      hideMenu() {
        // this.menuFlag1 = false;
        // this.menuFlag2 = false;
        // this.menuFlag3 = false;
      },

      menuClick() {
        return;
      },
       langMenuAnimate() {
      $('.language li').each(function () { 
        var delay = ($(this).index() / 4) + 's'; 
        $(this).css({ 
          webkitAnimationDelay: delay, 
          mozAnimationDelay: delay, 
          animationDelay: delay 
        }); 
      }); }

      // handleMenu(val){
      //     this.menuIndex =
      // }

    }

  };
</script>


<style scoped lang="scss">
.rightIcon{
  left:2%!important;
  text-align: left;
}
#lefty{
  direction: ltr!important;

}

  .nav {
    height: 4rem;
    position: relative;
    .right li{
      font-size:14px!important;
    }
    a{
    font-size:13px!important;
  }
    .nav-bar

  {
    height: 4rem;
        background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(39, 40, 51) 0%, rgb(30, 32, 47) 100%) repeat scroll 0% 0%;
    line-height: 4rem;
    padding: 0 .75rem;
    color: #fff;
    overflow: visible;
    font-size: 0.65rem;
    position: fixed;
    width: 100%;
    // top: 1px;
    left: 0;
    z-index: 10;
    i

  {
    font-size: 2rem;
  }

  .l-icon {
    float: left;
  }

  .r-icon {
    float: right;
    i

  {
    font-size: 1rem;
  }

  }
  }

  .mask-cover {
    position: fixed;
    background: rgba(0,0,0,.5);
    width: 100%;
    top: 4rem;
    bottom: 0;
    z-index: 11;
  }
  .left{
    box-shadow:6px 13px 11px 3px #000000ab;
  }
  .right{
    box-shadow:-6px 13px 11px 3px #000000ab;
  }
  .left, .right {
    position: fixed;
    left: 0;
    top: 4rem;
    bottom: 0;
    font-size: 14px;
    background-color: #1a1c27;
    width: 12rem;
    overflow: scroll;
    z-index: 9999;
    li

  {
    min-height: 4em;
    line-height: 2.5rem;
    color: #fff;
    border-bottom: 1px solid #000;
    border-top: 1px solid #2d2d2d;
    list-style: none;
    //text-align: left;
    width: 100%;
    margin: auto;
    padding-left: 0px;
    i

  {
    margin: 0 .4em;
  }

  i.icon-arrow-down {
    //float: right;
    font-size: .9rem;
  }

  }
  dl {
    display: grid;
    font-size: large;
  }

  .menu-child {
    background-color: #272833;
    padding-left: .25rem;
    line-height:normal;
    width:99%;

  }

  a {
    color: #fff;
    display: block;
  }

  dt {
    color: #fff;
    opacity: .9;
    padding: .5rem;
    //padding-bottom: 0;
    font-size: 13px!important;
    border-bottom: 1px solid #898ca961;
  }

  dd {
    line-height: 1.8rem;
    font-size: 13px!important;
    a

  {
    color: #fff;
    opacity: .5;
  }

  }

  li.active {
    a

  {
    color: #f1c07f;
  }

  }

  dl {
    margin-bottom: .5rem;
  }

    dl:last-child {
      margin-bottom: 0;
    }

  }

  .right {
    left: auto;
    right: 0;
    width: 9rem;
    li

  {
    text-align: right;
    padding-right: .75rem;
  }

  }
  }

  .logo {
    text-align: center;
    height: 3.9rem;
    a

  {
    display: block;
    padding: .25rem 0;
    position: fixed;
    width: 100%;
    height: 3.9rem;
    left: 0;
    top: 3rem;
    background-color: #000;
    border-top: 1px solid #333;
    z-index: 10;
  }

  img {
    width: 65%;
  }
  }

  ul {
    padding: 0 2%;
    font-size: 13px!important;
  }
      header .right .language > ul {
      position: absolute;
      width: calc(100% + 2px);
      left: -1px;
      top: 30px;
      background: transparent;
      color: #fff;
      padding: 5px 0;
      /* border: 1px solid #555;*/
      border-top: 0;
      display: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      li
  {
    text-align: right;
    padding: .45em;
    border: 1px solid #555;
    padding-bottom: .55em;
    visibility: hidden;
    animation: rolldown .85s 1;
    transform-origin: 50% 0;
    animation-fill-mode: forwards;
    background: #333;
  }
  li:last-child {
   
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  li.active{ font-weight:600;color: #fff;}
  li:hover {
    color: #fff;
    text-shadow: 1px 1px 2px #f5f7fa;
  }
  }
  header .right .language i{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
  }
  header .right .language:hover {
    border-color: #555;
    i
  {
    transition: 1.50s;
    -webkit-transition: 1.50s;
    -moz-transition: 1.50s;
    -ms-transition: 1.50s;
    -o-transition: 1.50s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
     ul{display:block;}
  }
  @keyframes rolldown {
    0% {
      visibility: visible;
      opacity:0.5;
      transform: rotateX(180deg) perspective(500px);
    }

    70% {
      visibility: visible;
      opacity: 0.75;
      transform: rotateX(-20deg);
    }

    100% {
      visibility: visible;
      opacity: 1;
      transform: rotateX(0deg);
    }
  }
  @keyframes rollup {
    0% {
      visibility: visible;
      transform: rotate(20deg);
    }
    25% {
      visibility: visible;
      transform: rotate(40deg);
    }
    50% {
      visibility: visible;
      transform: rotate(80deg);
    }
    70% {
      visibility: visible;
      transform: rotate(120deg);
    }

    100% {
      visibility: visible;
      transform: rotate(180deg);
    }
  }
</style>
