<!-- TradingView Widget BEGIN -->
<style>
  .speedometerTitle-DPgs-R4s {
    margin: 0px 16px!important;
    font-size: 14px!important;
    color: #131722;
    letter-spacing: .3px;
    font-weight: 400;
    text-align: center;
  }
  .compactMargin-1mNRKgwm {
    margin-bottom: 5px;
  }
  .tabsWrap-1mNRKgwm {
    text-align: center;
    margin-bottom: 10px;
  }
</style>
<div class="tradingview-widget-container">
  <div  class="tradingview-widget-container__widget" height="450" width="450"></div>
 <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
  {
  "interval": "1h",
  "width": "100%",
  "isTransparent": false,
  "height": 450,
  "symbol": "OANDA:EURUSD",
  "showIntervalTabs": true,
  "locale": "en",
  "colorTheme": "dark",
  "largeChartUrl": "https://nskytrade.com"
}
  </script>
</div>
<!-- TradingView Widget END -->
<script>

</script>
