<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"  height="450" width="450"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
    {
    "interval": "1h",
    "width": "100%",
    "isTransparent": false,
    "height": 450,
    "symbol": "OANDA:GBPUSD",
    "showIntervalTabs": true,
    "locale": "en",
    "colorTheme": "dark",
    "largeChartUrl": "https://www.nskytrade.com"
  }
    </script>
  </div>
  <!-- TradingView Widget END -->
