<script type="text/javascript">DukascopyApplet = { "type": "market_signals", "params": { "showHeader": false, "tableBorderColor": "#272833", "availableInstruments": "l:EUR/USD,USD/JPY,GBP/USD,EUR/JPY,USD/CAD,AUD/USD,USD/RUB,XAU/USD,XAG/USD,USD/HKD,AUD/CAD,AUD/CHF,AUD/JPY,AUD/NZD,AUD/SGD,CAD/CHF,CAD/HKD,CAD/JPY,CHF/JPY,CHF/SGD,EUR/AUD,EUR/CAD,EUR/CHF,EUR/CZK,EUR/DKK,EUR/GBP,EUR/HKD,EUR/HUF,EUR/NOK,EUR/NZD,EUR/PLN,EUR/RUB,EUR/SEK,EUR/SGD,EUR/TRY,GBP/AUD,GBP/CAD,GBP/CHF,GBP/JPY,GBP/NZD,HKD/JPY,NZD/CAD,NZD/CHF,NZD/JPY,SGD/JPY,TRY/JPY,USD/CNH,USD/CZK,USD/DKK,USD/HUF,USD/ILS,USD/MXN,USD/NOK,USD/PLN,USD/RON,USD/SEK,USD/SGD,USD/THB,USD/TRY,USD/ZAR,ZAR/JPY,NZD/USD,USD/CHF", "width": "650px", "height": "100%", "adv": "popup", "lang": "en" } };</script>
<script type="text/javascript" src="https://freeserv-static.dukascopy.com/2.0/core.js"></script>
