<script type="text/javascript">DukascopyApplet = { "type": "technical_analysis", "params": { "showHeader": false, "tableBorderColor": "#272833", "availableInstruments": "l:USD/CAD", "instrument": "USD/CAD", "period": ["6", "8", "10", "11", "13", "16", "17", "18"], "width": "100%", "height": "95%", "adv": "none" } };</script>
<script type="text/javascript" src="https://freeserv-static.dukascopy.com/2.0/core.js"></script>
