<template>
  <div class="wrap" @click="hideMenu">
    <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

    <div class="site-canvas"  style="direction:rtl;text-align:right;">


      <div class="container-fluid top-bar"  style="direction:rtl;text-align:right;">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-9">
              <h1 class="ltr text-left">
                MT5 برای اندروید

              </h1>
              <ol class="breadcrumb">
                <li class="home"><router-link to="/" class="home">NOBLE SKY</router-link></li>
                <li class="post post-page current-item">MT5  برای اندروید</li>
              </ol>
            </div>

            <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
              <div class="option-nav">
                <router-link to="/contact">
                  <i class="contact"></i>
                  <span>تماس با ما</span>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container hidden-xs hidden-sm hidden-l-sm"  style="direction:rtl;text-align:right;">
        <div class="row top80">
          <div class="col-sm-12 col-md-6">
            <h2>چرا استفاده از اندروید برای معامله با MT5</h2>
            <div class="clearfix">
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-12">
                <ul class="checks top35">
                  <li>
                    بیش از ۱۰۰ کالای تجاری از جمله شاخص سهام CFD، ارزهای خارجی، CFD فلزات گرانبها و CFD انرژی.
                  </li>
                  <li>انطباق 100% با اندروید</li>
                  <li>دارا بودن تمام توابع MT5</li>
                  <li>پشتیبانی از انواع دستورها</li>
                  <li>ساخته شده در بازار ابزار تجزیه و تحلیل</li>
                </ul>
                <div class="row top70 mobile-btn-box">
                  <div class="col-sm-8 col-md-8 text-center">
                    <router-link to="/register" class="btn btn-solid btn-green-mobile btn-block">
                      <i class="fa fa-pencil-square-o"></i>
                      افتتاح حساب
                    </router-link>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <a href="/goto/mt5-androidmarket-xmbz" class="btn-playstore" target="_blank">
                      <img src="../../../static/images/page-img/mt5-android/googleplay.png">
                    </a>
                  </div>
                </div>
              </div>
              <!-- <div class="col-sm-6 visible-sm">
                  <img src="../../../static/images/page-img/mt5-android/mt5-android.png?v2.0" class="img-responsive center-block">
              </div> -->
            </div>
          </div>
          <div class="col-md-6 top60 hidden-sm">
            <img src="../../../static/images/page-img/mt5-android/mt5-android.png?v2.0" class="img-responsive center-block">
          </div>
        </div>
      </div>
      <section class="section top80"  style="direction:rtl;text-align:right;">
        <div class="container metatrader">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center big"> انواع معاملات متنوع پلتفرم  Noble Sky MT5-1 </h2>
              <img src="../../../static/images/page-img/mt5-android/mt5-android-half.png?v2.0" class="img-responsive center-block top30">
            </div>
          </div>
        </div>
      </section>
      <div class="container-fluid"  style="direction:rtl;text-align:right;">
        <div class="container">
          <div class="dis30 visible-xs visible-sm"></div>
          <div class="row btn-a-box">
            <div class="col-sm-6 col-md-6 col-sm-offset-2 col-md-offset-2 text-center">
              <router-link to="/register" class="btn-a crate-account-btn">
                <i class="fa fa-pencil-square-o"></i>
                افتتاح حساب
              </router-link>
            </div>
            <div class="col-sm-4 col-md-4 text-center">
              <div class="dis20 visible-xs"></div>
              <a href="/goto/mt5-androidmarket-xmbz" class="center-block pull-left btn-playstore" target="_blank">
                <img src="../../../static/images/page-img/mt5-android/googleplay.png">
              </a>
            </div>
            <div class="dis20"></div>
            <p class="text-center">دسترسی به بازارهای جهانی مالی</p>
          </div>
        </div>
        <div class="row">
          <hr>
        </div>
      </div>
      <div class="container metatrader"  style="direction:rtl;text-align:right;">
        <div class="row top50">
          <div class="col-md-12">
            <h2><i class="tfxfont3 xmInstall-pc sm red"></i>چگونه به Noble Sky MT5 در  اندروید  دسترسی داشته باشیم ؟</h2>
          </div>
          <div class="col-sm-12 col-md-4">
            <h3 class="red">مرحله اول:</h3>
            <ul class="arrows top20">
              <li>
                برنامه  Google Play را در گوشی اندروید خود باز کنید یا <a href="https://download.mql5.com/cdn/mobile/mt5/android?server=HKNobleSkyTreasure-real">اینجا کلیک کنید.</a>برای دانلود برنامه .
              </li>
              <li>
                MetaTrader 5 را در نوار جستجوی Google Play جستجو کنید.
              </li>
              <li>
                برای نصب نرم افزار روی گوشی اندروید خود روی نماد MetaTrader 5 کلیک کنید.
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-4">
            <h3 class="red">مرحله 2</h3>
            <ul class="arrows top20">
              <li>	اکنون دستورالعمل ها را برای ورود به حساب خود یا ایجاد یک حساب آزمایشی دنبال کنید.</li>
              <li>	با کلیک بر روی ورود به سیستم با حساب موجود یا باز کردن یک حساب آزمایشی ، پنجره جدیدی باز می شود.</li>
              <li>	HK Noble Sky Treasure را در نوار جستجو تایپ کنید</li>
              <li>	اگر حساب آزمایشی دارید ، روی NOBLE SKYGlobal-Demo کلیک کنید. اگر حساب واقعی دارید ، روی NOBLE SKYGlobal-Real کلیک کنید.</li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-4">
            <h3 class="red">مرحله 3</h3>
            <ul class="arrows top20">
              <li>	نام کاربری و رمز عبور خود را وارد کنید.</li>
              <li>	معامله  با گوشی اندروید را آغاز کنید.</li>
            </ul>
          </div>
        </div>
        <div style="padding-left: 20px;">
          <p style="color: #000;font-weight: bold;">تذکر: اگر حساب گوگل ندارید،  لطفا  <a href="https://download.mql5.com/cdn/web/metaquotes.software.corp/mt5/metatrader5.apk?utm_source=www.metatrader5.com&utm_campaign=download" style="color:#f00">اینجا را کلیک کنید.</a> برای دانلود app.apk </p>
        </div>

      </div>

      <div id="faq"  style="direction:rtl;text-align:right;">
        <div class="container top80">
          <div class="row">
            <div class="col-md-6">
              <h2>مشکلات رایج</h2>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <div id="accordionText" class="hidden"> </div>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btnAccordion pull-right" data-parent="#accordion1"> </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row top20">
            <div class="col-md-12">
              <div class="panel-group" id="accordion1">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">چگونه می توان به پلتفرم MT5 دسترسی پیدا کرد؟</h4>
                    <i class="fa fa-angle-down pull-right"></i>
                  </div>
                  <div id="a1collapse1" class="panel-collapse collapse">
                    <div class="panel-body gray">
                      <p>برای معامله در بستر MT5 شما باید یک حساب تجاری Noble Sky ™ MT5 داشته باشید. برای ایجاد حساب Noble Sky ™ MT5<router-link to="/register">اینجا را کلیک کنید</router-link>。</p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">چگونه حساب MT5 خود را تأیید کنم؟</h4>
                    <i class="fa fa-angle-down pull-right"></i>
                  </div>
                  <div id="a1collapse1" class="panel-collapse collapse">
                    <div class="panel-body gray">
                      <p>روی CRM کلیک کنید -> انتخاب "Register" برای افتتاح حساب MT5, تهیه و ارسال اسناد احراز هویت مورد نیاز (به عنوان مثال شناسه و آدرس).</p>
                    </div>
                  </div>
                </div>



                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">چه کالاهایی را می توانم با MT5 معامله کنم؟</h4>
                    <i class="fa fa-angle-down pull-right"></i>
                  </div>
                  <div id="a1collapse1" class="panel-collapse collapse">
                    <div class="panel-body gray">
                      <p>
                        در پلتفرم MT5 می توانید کلیه کالاهای Noble Sky، ، از جمله ارز ، کالاها ، شاخص های اوراق بهادار ، CFD های فلزات گرانبها و CFD های انرژی را معامله کنید.
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div><div class="container metatrader top80 hidden-xs hidden-sm hidden-l-sm">
        <div class="row"  style="direction:rtl;text-align:right;">
          <div class="col-md-12">
            <h2><i class="tfxfont3 xmMobile-devices sm red"></i> این برنامه همچنین قابل استفاده در موارد زیر میباشد</h2>
          </div>
        </div>
        <div class="row text-center"  style="direction:rtl;text-align:right;">
          <div class="feature-item7 noborder">
            <router-link to="/mt5" class="device">
              <i class="tfxfont3 xmPc"></i>
              <p class="text-center top20">
                کامپیوتر شخصی
              </p>
            </router-link>
          </div>


          <div class="feature-item7 noborder">
            <router-link to="/mt5-webtrader" class="device">
              <i class="tfxfont3 xmLaptop"></i>
              <p class="text-center top20">
                MT5 WebTrader
              </p>
            </router-link>
          </div>
          <div class="feature-item7 noborder">
            <router-link to="/mt5-ipad" class="device">
              <i class="tfxfont3 xmIpad"></i>
              <p class="text-center top20">
                آیپد
              </p>
            </router-link>
          </div>
          <div class="feature-item7 noborder">
            <router-link to="/mt5-iphone" class="device">
              <i class="tfxfont3 xmIphone"></i>
              <p class="text-center top20">
                آیفون
              </p>
            </router-link>
          </div>
          <div class="feature-item7 noborder">
            <router-link to="/mt5-android" class="device">
              <i class="tfxfont3 xmAndroid-phone"></i>
              <p class="text-center top20">
                اندروید
              </p>
            </router-link>
          </div>
          <!-- <div class="feature-item7 noborder">
              <router-link to="/mt5">
                  <i class="tfxfont3 xmAndroid-tablet"></i>
                  <p class="text-center top20">
                      Android Tablet MT5                </p>
              </router-link>
          </div> -->
        </div>

      </div>
      <div class="dis70"></div>


    </div>

    <pageFooter />
  </div>
</template>



<script>

  import pageHeader from '../../components/pageHeaderTFX.vue'
  import pageFooter from '../../components/pageFooterTFX.vue'
  import { languageCode } from '../../utils/lan-code'





  export default {
    name: "my-acount",
    data: function () {
      return {
        isLogin: false,
        userLoginInfo: '',
        curCoinType: 1,
        curLanguage: 2,
        // language:coinstrad,

        userInfo: {
          configure: {
          }
        },




      };
    },
    metaInfo: {
      title: 'Mt5 android-NOBLE SKY',
    },
    created() {



      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');

      this.curCoinType = !!storeCoinType ? storeCoinType : this.$api.defaultCoinType;
      this.curLanguage = !!storeLanguage ? storeLanguage : this.$api.defaultLanguage;

      if (this.curLanguage != 2) {
        let pName = this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[this.curLanguage]
        this.$router.push({ name: pNameStr });
      }

      this.isLogin = this.util.isLogin();

      if (!!this.isLogin) {
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
        // this.getUserInfo();
      }


      // this.getSystemTradMode()

      // this.getUserAsset()
      // this.getCoinList();
      // this.getUserOrder();
      // this.getUserOrder2();
      // this.settingAPIDataLanguage();
      // this.getcurrency()



    },

    mounted() {

      let element = document.querySelectorAll(".panel-heading");



      for (let i = 0; i < element.length; i++) {

        (function (m) {

          let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

          panel.classList.add('showFlag')

          element[m].addEventListener('click', function () {


            this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
            this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

            panel.classList.toggle('showFlag')


          })


        })(i)



      }


      document.documentElement.scrollTop = 0


    },



    components: {
      pageHeader,
      pageFooter
    },

    methods: {
      changeLanguage(val) {
        console.log(this.curLanguage)
        let pName = this.curLanguage == 1 ? this.$route.name : this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[val]
        this.$router.push({ name: pNameStr });
      },
      hideMenu() {
        this.$refs.pageHead.hideMenu();
      }
    }


  };
</script>




<style scoped lang="scss">
  h2 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .container {
    width: 1170px;
    margin: 0 auto;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .top20 {
    margin-top: 20px !important;
  }

  .top30 {
    margin-top: 30px !important;
  }

  .top50 {
    margin-top: 50px !important;
  }

  .top80 {
    margin-top: 80px !important;
  }


  .text-center {
    text-align: center !important;
  }

  .center-block {
    float: none !important;
  }

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
  }


  .dis10 {
    height: 10px;
    clear: both;
  }

  .dis20 {
    height: 20px;
    clear: both;
  }

  .site-canvas .top-bar .breadcrumb {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .site-canvas .top-bar {
    background-color: #e8e8e8;
    padding: 20px 0 20px 0;
    margin: 0;
  }

  .visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
    display: none !important;
  }

  .row.mobile-btn-box {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 70px;
  }

  .btn-green-mobile {
    background-color: #74c109;
    width: 360px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    display: inline-block;
    color: #fff;
  }

    .btn-green-mobile:hover {
      background-color: #29A643;
    }

  .greenRed-btns {
    .btn

  {
    color: #fff;
    text-align: center;
  }

  .btn.btn-green {
    background-color: #74c109;
  }

    .btn.btn-green:hover {
      background-color: #29A643;
    }

  .btn.btn-red {
    background-color: #d51820;
  }

    .btn.btn-red:hover {
      background-color: #b30000;
    }

  .btn-outline {
    color: #d51820;
    border: 1px solid #d51820;
    font-size: 24px;
    padding: 8px 18px !important;
  }

    .btn-outline:hover {
      background-color: #d51820;
      color: #fff;
    }

  }

  .greenRed-btns .btn.btn-red {
    font-size: 24px;
    padding: 10px 20px !important;
  }

  .greenRed-btns .btn.btn-green {
    font-size: 30px;
    padding: 15px 20px !important;
  }

  .btn-a-box {
    text-align: center;
    padding-top: 50px;
  }

  .btn-a {
    display: inline-block;
    width: 450px;
    background-color: #74c109;
    color: #fff;
    font-size: 24px;
    padding: 10px 20px;
  }

    .btn-a:hover {
      background-color: #29A643;
    }

    .btn-a.download-btn {
      background-color: #d51820;
    }

      .btn-a.download-btn:hover {
        background-color: #b30000;
      }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
    clear: both;
  }

  .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
  }

  #tabContent .panel-default > .panel-heading i.fa.fa-angle-up, .panel-default > .panel-heading i.fa.fa-angle-up, #tabContent .panel-default > .panel-heading i.fa.fa-angle-down, .panel-default > .panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-up, .panel-default > .panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-down, .panel-default > .panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
  }

  .collapse {
    display: block;
  }

  .tab-pane .dis30 {
    height: 50px;
  }

  .panel-collapse.showFlag {
    display: none;
  }

  footer {
    height: 300px;
    background-color: #333;
    text-align: center;
  }

    footer .cell {
      padding-top: 100px;
      font-size: 26px;
      color: #fff;
    }
  .btn-green-mobile {
    background-color: #74c109;
    width: auto;
    height: auto;
    line-height: 6px;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
    color: #fff;
  }
</style>
