<template>
  <div class="wrap" @click="hideMenu">
    <pageHeader
      @userLogout="userLogout"
      ref="pageHead"
      :defaultCoinType="curCoinType"
      :defaultLanguage="curLanguage"
      @changeCoinType="changeCoinType"
      @changeLanguage="changeLanguage"
    />

        <div class="site-canvas" style="direction: rtl; text-align: right">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="rtl text-right">رگوله</h1>
                  <ol class="breadcrumb rtl text-right">
                    <li class="home">

                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">رگوله</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>تماس با ما</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80 regulation">
            <div class="row">
              <div class="col-md-12">
                <h2>گواهی نامه های <strong>™Noble Sky</strong></h2></div>
            </div>
            <div class="list-box" style="direction: rtl; text-align: right">
                <ul>
                    <li class="clearfix">
                        <div class="left-img" @click="handleImgScale(1)">
                            <img src="../../../static/images/license1.jpg" />
                        </div>
                        <div class="right-txt" style="direction: rtl; text-align: right">
                           <h3 style="direction: rtl; text-align: right">بنگاه معاملاتی طلا و نقره</h3>
                           <p>انجمن معاملات طلا و نقره چین (CGSE))</p>
                           <p>Tianfu Precious Metals Co. ، Ltd. عضو بازار معاملات طلا و نقره هنگ کنگ، دارای مجوز تجارت AA (به شماره عضویت: 170) است.<br />
تحت نظارت دوگانه بازار معاملاتی صنعت طلا و نقره و قانون هنگ کنگ می باشد. این شرکت معاملاتی طلا و نقره بیش از 100 سال سابقه دارد و CGSE در حال حاضر تنها مرجع نظارت بر مبادلات طلا و نقره در هنگ کنگ است. این بنگاه تجاری کدهای معاملاتی را برای سفارشات معاملاتی رسمی و مصوب با تلاش بر حفظ منافع سرمایه گذاران و شرکت های حقوقی ارائه می دهد و بر بازار فلزات گرانبها با همکاری دولت هنگ کنگ بی طرفانه و مقتدرانه نظارت و مدیریت می کند.
<span @click="handleImgScale(1)">برای مشاهده ی دقیق تر کلیک کنید</span>
</p>
                        </div>
                    </li>

                    <li class="clearfix">
                                            <div class="left-img" @click="handleImgScale(2)">
                                                <img src="../../../static/images/license2.jpg" />
                                            </div>
                                            <div class="right-txt">
                                               <h3 style="direction: rtl; text-align: right">سنت وینسنت و گرنادین </h3>
                                               <p>سازمان خدمات مالی سنت وینسنت و گرنادین ها （SVGFSA）</p>
                                               <p>Tianfu Precious Metals Co.، Ltd. دارای مجوز ثبت از اداره خدمات مالی سنت وینسنت و گرنادین ها به شماره ثبت: 225  LLC2019.می باشد.<br />
اداره خدمات مالی سنت وینسنت و گرنادین ها با نام موسسه قانونی سنت وینسنت و گرنادین ها است که تحت عنوان یکی از مراجع مهم مالی در جهان پلتفرم های بسیار قانونی را با خدماتی حرفه ای، انعطاف پذیر و سطح جهانی برای سرمایه گذاران فراهم کند. قوانین سنت وینسنت و گرنادین از وجوه سرمایه گذاران و امنیت معاملات محافظت می کنند و این پلتفرم کاملاً به قوانین محلی شرکت بین المللی بازرگانی و سایر الزامات نظارتی مربوطه پایبند است.
                    <span @click="handleImgScale(2)">برای مشاهده ی دقیق تر کلیک کنید</span>
                    </p>
                                            </div>
                                        </li>

                </ul>
            </div>
          </div>
    
      </div>
      <div class="dis70"></div>
      <div
        class="mask-cover"
        @click="handleImgScale()"
        v-if="imgBigShowFlag"
      ></div>
      <div class="img-big-box" v-if="imgBigShowFlag">
        <img :src="imgBigURL" />
      </div>
    

    <pageFooter />
  </div>
</template>


<script>
import pageHeader from "../../components/pageHeaderTFX.vue";
import pageFooter from "../../components/pageFooterTFX.vue";
import { languageCode } from "../../utils/lan-code";

export default {
  name: "my-acount",
  data: function () {
    return {
      isLogin: false,
      userLoginInfo: "",
      curCoinType: 1,
      curLanguage: 2,
      // language:coinstrad,

      userInfo: {
        configure: {},
      },

      tableIndex: 0,
      queryIndex: 0,
      queryIndexFlag: false,
      imgBigURL: "",
      imgBigShowFlag: false,
    };
  },
  metaInfo: {
    title: "التراخيص والمؤهلات-NOBLE SKY",
  },
  created() {
    const storeCoinType = this.localStore.getItem("curCoinType");
    const storeLanguage = this.localStore.getItem("curLanguage");

    this.curCoinType = !!storeCoinType
      ? storeCoinType
      : this.$api.defaultCoinType;
    this.curLanguage = !!storeLanguage
      ? storeLanguage
      : this.$api.defaultLanguage;

    if (this.curLanguage != 2) {
      let pName = this.$route.name.substring(0, this.$route.name.length - 2);
      let pNameStr = pName + languageCode[this.curLanguage];
      this.$router.push({ name: pNameStr });
    }

    this.isLogin = this.util.isLogin();

    if (!!this.isLogin) {
      this.userLoginInfo = JSON.parse(this.localStore.getItem("userLoginInfo"));
      // this.getUserInfo();
    }

    // this.getSystemTradMode()

    // this.getUserAsset()
    // this.getCoinList();
    // this.getUserOrder();
    // this.getUserOrder2();
    // this.settingAPIDataLanguage();
    // this.getcurrency()
  },

  mounted() {
    document.documentElement.scrollTop = 0;
  },

  components: {
    pageHeader,
    pageFooter,
  },

  methods: {
    changeLanguage(val) {
      console.log(this.curLanguage);
      let pName =
        this.curLanguage == 1
          ? this.$route.name
          : this.$route.name.substring(0, this.$route.name.length - 2);
      let pNameStr = pName + languageCode[val];
      this.$router.push({ name: pNameStr });
    },
    hideMenu() {
      this.$refs.pageHead.hideMenu();
    },
    handleTableIndex(val) {
      this.tableIndex = val;
    },
    handleQueryIndex(val) {
      if (val === this.queryIndex) {
        this.queryIndexFlag = !this.queryIndexFlag;
      } else {
        this.queryIndex = val;
        this.queryIndexFlag = true;
      }
    },
    handleImgScale(num) {
      this.imgBigShowFlag = !this.imgBigShowFlag;
      if (num == 1) {
        this.imgBigURL = "../../../static/images/license1.jpg";
      }
      if (num == 2) {
        this.imgBigURL = "../../../static/images/license2.jpg";
      }
    },
  },
};
</script>





<style scoped lang="scss">
h2 {
  margin-top: 0;
  margin-bottom: 30px;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.col-md-12 {
  width: 100%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-sm-4 {
  width: 33.33333333%;
}

.top20 {
  margin-top: 20px !important;
}
.top30 {
  margin-top: 30px !important;
}
.top40 {
  margin-top: 40px !important;
}
.top50 {
  margin-top: 50px !important;
}
.top60 {
  margin-top: 60px !important;
}
.top80 {
  margin-top: 80px !important;
}

.text-center {
  text-align: center !important;
}

.center-block {
  float: none !important;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
  display: none;
}

.dis20 {
  height: 20px;
  clear: both;
}
.dis30 {
  height: 30px;
  clear: both;
}
.dis40 {
  height: 40px;
  clear: both;
}
.dis60 {
  height: 60px;
  clear: both;
}

.site-canvas .top-bar .breadcrumb {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.site-canvas .top-bar {
  background-color: #e8e8e8;
  padding: 20px 0 20px 0;
  margin: 0;
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
  float: left;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  float: left;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}

.box-text-btn {
  text-align: right;
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .btn-full {
    background-color: #74c109;
    display: inline-block;
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
    width: 247px;
    text-align: center;
  }
  .btn-full:hover {
    background-color: #29A643;
  }
}

.nav-flexbox-tabs {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.nav-flexbox-tabs > li {
  width: 213px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 15px;
  margin-right: 15px;
  border: 1px solid #cbcbcb;
}

.nav-flexbox-tabs > li.active {
  background-color: #d51820;
}

.nav-flexbox-tabs > li > a,
.nav-flexbox-tabs > li > button {
  color: #000;
}
.nav-flexbox-tabs > li.active a,
.nav-flexbox-tabs > li.active button {
  color: #fff;
}

a:focus,
a:visited {
  color: #d51820;
}

.nav-flexbox-tabs a,
.nav-flexbox-tabs button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #000;
  line-height: normal;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  min-height: 38px;
  padding: 0 15px;
}

.nav-tabs {
  border: 0;
  font-size: 0;
  margin-bottom: 30px;
}

#tabs2,
#tabs3,
#tabs4,
#PaymentMethodTab {
  position: relative;
  margin-bottom: 0;
  z-index: 9;
}

#tabs2,
#tabs3,
#tabs4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav > li {
  position: relative;
  display: block;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li {
  width: 50%;
}

#tabs2.nav-tabs > li,
#tabs3.nav-tabs > li,
#tabs4.nav-tabs > li {
  float: none;
  width: 100%;
}

#tabs2.nav-tabs > li,
#tabs3.nav-tabs > li,
#tabs4.nav-tabs > li {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.collapse {
  display: block;
}

.panel-default > .panel-heading i.fa-angle-up {
  color: #d51820 !important;
}
#tabContent .panel-default > .panel-heading i.fa.fa-angle-up,
.panel-default > .panel-heading i.fa.fa-angle-up,
#tabContent .panel-default > .panel-heading i.fa.fa-angle-down,
.panel-default > .panel-heading i.fa.fa-angle-down,
#PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-up,
.panel-default > .panel-heading i.fa.fa-angle-up,
#PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-down,
.panel-default > .panel-heading i.fa.fa-angle-down {
  font-size: 50px;
  margin-top: -25px;
  margin-left: 0;
  right: 20px;
}

.tab-pane .dis30 {
  height: 50px;
}

footer {
  height: 300px;
  background-color: #333;
  text-align: center;
}
footer .cell {
  padding-top: 100px;
  font-size: 26px;
  color: #fff;
}

.list-box {
  li {
    padding: 30px;
    border-bottom: 1px solid #eee;
  }
  .left-img {
    float: left;
    width: 280px;
    height: 400px;
    cursor: pointer;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .right-txt {
    padding-left: 300px;
    padding-top: 120px;
    h3 {
      font-size: 24px;
      color: #333 !important;
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 24px;
      color: #333;
      span {
        display: block;
        margin-top: 10px;
        color: #f00;
        cursor: pointer;
      }
    }
  }
}

.img-big-box {
  width: 80%;
  height: 80%;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: scroll;
  background-color: #fff;
}
.mask-cover {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}
</style>
