<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" style="driection: rtl; text-align: right">
          <div class="container-fluid top-bar" style="direction: rtl; text-align: right">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="rtl text-right">ساعت های معامله</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link>
                    </li>
                    <li class="post post-page current-item">ساعت های معامله</li>
                  </ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>تماس با ما</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container hidden-xs">
            <h2 class="top80">موارد ارائه شده</h2>
            <div class="row text-center top50" style="direction: rtl">
              <div class="feature-item5">
                <i class="tfxfont3 xmChart-24h fs100 red"></i>
                <p>معاملات آنلاین 24 ساعته</p>
              </div>
              <div class="feature-item5">
                <i class="tfxfont3 xmCalendar fs100 red"></i>
                <p>از ساعت 22:05 یکشنبه تا 21:50 جمعه به وقت گرینویچ</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmClock fs100 red"></i>
                <p>اطلاعات بازار جاری</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p>جدیدترین اخبار مالی</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmChart-24h fs100 red"></i>
                <p>خدمات پشیبانی مشتری 24 ساعت در 5 روز کاری هفته</p>
              </div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-sm-12 col-md-9" style="direction: rtl"><br>در Noble Sky  فارکس، سهام های انفرادی، کالاها، فلزات گران بها، انرژی ها و شاخص را معامله کنید</div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">افتتاح حساب</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row" style="direction: rtl">
              <div class="col-md-12">
                <h2>زمان باز شدن بازار ارز خارجی</h2>
                <p>
                  در Noble Sky بازار هرگز در طول روزهای هفته و همچنین معاملات متوقف نمی شوند. زمانیکه یک بازار ارز بسته میشود بازار بعدی شروع به فعالیت میکند. بنابراین مشتریان میتوانند از معاملات 24 ساعته ی 5 روز کاری هفته لذت ببرند. ساعت معامله در نیویرک 22:00 – 13:00 ، سیدنی 22:00، توکیو 00:00 آغاز و 9:00 پایان، لندن 8:00 آغاز و 17:00 پایان (همگی به وقت گرینویچ) میباشد. این امر به معامله گران سراسر دنیا و سهامداران بانک های مرکزی در تمام قاره ها امکان تجارت 24 ساعته (کل روز) را می دهد.
                </p>
                <h2 class="top50">ساعت های معامله ی بیشتر، احمالات بیشتر</h2>
                <p>بازار ارز به صورت 24 ساعت باز است و مهم است بدانید فعال ترین ساعات معاملاتی کی هستند.</p>
                <p>
                  به عنوان مثال اگر اسلات زمانی با حجم معاملاتی کم را انتخاب کنیم، زمان استاندارد شرقی ایالات متحده از ساعت 19:00 - 17:00 بعد از بسته شدن بازار نیویورک و قبل از باز شدن بازار توکیو است. در این زمان، فقط بازار سیدنی کار خود را آغاز کرده است، بنابراین اسپرد در این بازه ی زمانی نسبت به لندن، ایالات متحده و توکیو نسبتاً زیاد است. موقعیت های معامله ی کمتر به منزله ی فرصت های مالی کمتر است. اگر قصد معامله ی جفت ارزهایی نظیر EUR/USD، GBP/USD یا USD/CHF داریدبهترین زمان ممکن 12:00 – 8:00 که فعال ترین ساعات معامله گری در اروپا و ایالت متحده ی آمریکا می باشد.
                </p>
              </div>
              <div class="col-md-12">
                <h2 class="top50">هشدار و فرصت</h2>
                <p>
                  نکته دیگری که سرمایه گذاران باید از آن آگاه باشند، زمان ارائه گزارش های دولت ها و انتشار اخبار رسمی مهم است. اگرچه هر دولت زمان دقیق انتشار خبر را از قبل اعلام می کند اما به دلیل اختلاف زمانی، زمان انتشار هر کشور با کشور دیگر نیز متفاوت است.
                </p>
                <p>
                  بنابراین لازم است از شاخص های اقتصادی منتشر شده در کشورهای مختلف اطلاع پیدا کنید چرا که با فعال ترین لحظات 
                  <a href="/ar/forex-trading">معاملات فارکس</a> همزمان اتفاق میافتد. این افزایش فعالیت به معنای نوسان بیشتر در قیمت ارز است و گاهی اوقات سفارشات با قیمت هایی متفاوت از انتظار شما انجام می شوند.
                </p>
                <p>
                  به عنوان یک معامله گر، شما دو گزینه پیش رو دارید؛ می توانید در دوره حساس معاملات ارزی وارد شده تا سود بالاتری را از نوسانات بالا بدست آورید یا در این بازه های زمانی معاملات را متوقف کنید و معاملات ارزی را با احتیاط انجام دهید. مهم نیست کدام یک را انتخاب میکنید، باید از قبل طوری برنامه ریزی کنید تا از تغییرات ناگهانی قیمت در زمان انتشار خبر که می تواند باعث ضرر شما شود جلوگیری کنید.
                </p>
              </div>
              <div class="col-md-12">
                <h2 class="top50">ساعات معامله</h2>
                <p>
                  برای معامله گران روزانه مناسب ترین زمان معامله از ساعت 08:00 لندن به وقت گرینویچ آغاز شده و در ساعت 22:00 به وقت گرینویچ آمریکا خاتمه پیدا میکند. زمان اوج معاملات، همپوشانی بازارهای ایالات متحده و لندن در در  16:00 – 13:00 به وقت گرینویچ است. بازارهای اصلی روز بازارلندن، بازار آمریکا و بازار کشورهای مهم آسیایی هستند. 
                </p>
                <p>
                  در زیر خلاصه ای از ساعتهای معاملاتی برای کمک به شما در استفاده بهتر از بازار آورده شده است:
                </p>
                <p>
                  ساعت های اوج معامله در لندن 8:00 تا 17:00 به وقت گرینویچ که یورو، پوند و دلار آمریکا بیشترین ارزهایی هستند که معامله میشوند؛
                </p>
                <p>
                  ساعت های اوج معامله در آمریکا 13:00 تا 22:00 به وقت گرینویچ که دلار آمریکا، یورو، پوند، دلار استرالیا و ین ژاپن بیشترین ارزهایی هستند که معامله میشوند؛
                </p>
                <p>
                  ساعت های اوج معامله در آسیا از ساعت 22:00 روز یکشنبه به وقت گرینویچ تا آغاز بازار اروپا حدود ساعت 9:00 به وقت گرینویچ است؛ که مناسب معاملات روزانه نمیباشد.
                </p>
              </div>
              <div class="col-md-12">
                <h2 class="top50">معاملات آنلاین
</h2>
                <p>
                  ساعات معامله در Noble Sky از یکشنبه ساعت 22:05 به وقت گرینویچ تا جمعه 21:50 به وقت گرینویچ میباشد. وقتی زمینه معامله ی ما بسته شود، پلتفرم معامله ی دیگری انجام نداده و داده ها فقط قابل مشاهده هستند.  
                </p>
                <p>
                  جهت دریافت هر گونه مشاوره، مشکلات فنی یا پشتیبانی اضطراری، لطفا در صورت تمایل با خدمات آنلاین 24 ساعته مشتری از طریق ایمیل یا چت زنده تماس بگیرید. در صورتیکه رایانه ای در دسترس خود ندارید، لطفاً اطلاعات ورود به سیستم حساب خود را در ذهن نگهدارید تا تیم ما مشکل دستورات شما را در اولین فرصت برطرف کند.
                </p>
                <p>
                  زمان بستن پوزیشن های موجود و تنظیم دستورهای سود یا توقف ضرر، باید شماره دستور را نیز به ما ارائه دهید. سپس جفت ارزها و تعداد معاملات را مشخص کنید. ( به عنوان نمونه: قصد خرید 10 لات EUR/USD دارم). لطفا به یاد داشته باشید اگر تأیید رمز ورود با موفقیت انجام نشود و یا نمی خواهید تأیید رمز ورود را انجام دهید، بنابراین  دستور تلفنی شما اجرا نخواهد شد.
                </p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>
        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'



  

export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false





    };
  },
   metaInfo: {
      title: 'ساعت های معامله-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }



  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap>footer{height: 300px;background-color: #333;text-align: center;}
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

  p {
    margin-bottom: 2em;
  }
</style>
