<template>
<div class="wrap" @click="hideMenu" style="direction: rtl; text-align: right">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" dir="rtl">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="rtl text-right">معلومات عنا</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">معلومات عنا</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                  <router-link to="/contact">
                      <i class="contact"></i>
                      <span> اتصل بنا</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="api-tutorials video-player"></div>
          -->
          <div class="container top80 about-xm">
            <div class="box-border">
              <div class="box-border1">
                <small>للمستثمرين المستجدين</small>
                <h4>تقديم ضمان خبير</h4>
                <p class="big">الحفظ الآمن والخدمات المالية.</p></div>
              <div class="visible-sm visible-xs dis20"></div>
              <div class="box-border1">
                <small>للمستثمرين ذوي الخبرة</small>
                <h4>توفير تجربة تداول مثالية</h4>
                <p class="big">تنفيذ سريع للطلبات ، بدون إعادة تسعير أو رفض طلبات.</p></div>
              <div class="visible-sm visible-xs dis20"></div>
              <div class="box-border1">
                <small>للمستثمرين البرمجيين</small>
                <h4>توفير التخصيص البرمجي MT5</h4>
                <p class="big">استشارة مجانية وتخصيص مجاني والتحقق من الإنتاج المالي بشكل فعلي.</p></div>
            </div>
          </div>
          <section class="">
            <section class="section bottom top80">
              <div class="container-fluid">
                <div class="container about-xm">
                  <div class="row">
                    <div class="col-md-12">
                      <h2 class="big text-center">منظمة.كبيرة.عادلة.</h2>
                      <p class="text-center">عندما تختار <strong>™Noble Sky</strong> ، فإنك تختار وسيطًا عادلًا وصادقًا وموجهًا للناس في جميع أنحاء العالم.</p></div>
                    <div class="col-md-12 top80">
                      <h2>
                        <span class="red">في جميع أنحاء العالم</span> ، ممتازون ، محترفون</h2></div>
                    <div class="col-md-8">
                      <p>منذ إنشائها في عام 2009 ، مع أكثر من 500000 عميل ، تطورت  <strong>™Noble Sky</strong> لتصبح شركة استثمار مشهورة عالميًا ورائدة حقيقية في هذه الصناعة.</p>
                      <p>لدى <strong>™Noble Sky</strong>  حاليًا أكثر من 150 متخصصًا يتمتعون بخبرة سنوات عديدة في المجال المالي. </p>
                      <p>في <strong>™Noble Sky</strong> ، تعتبر سلامة أموال العملاء على رأس أولوياتنا. نتعاون مع أفضل البنوك الاستثمارية في العالم لتخزين حسابات الشركة وأموال العملاء بشكل منفصل لضمان سلامة أموال العملاء.</p>
                    </div>
                    <div class="col-md-4">

                      <ul class="checks">
                        <li>أكثر من 500,000 عميل</li>
                        <li>عملاء في 196 دولة</li>
                        <li>طرق دفع متعددة آمنة</li>
                        <li>منصة تداول MT5 مع وظائف كاملة</li>
                        <li>دعم الإدارة المالية التفاعلية بين المستخدمين</li>
                        <li>خدمة عملاء خاصة</li></ul>
                    </div>
                    <div class="col-md-12 top80 hidden-xs hidden-sm">
                      <h2>
                        غير متحيزون و صادقون و جديرون بالثقة</h2>
                      <div class="dis30"></div>
                      <div class="box-border">
                        <div class="box-border2">
                          <div class="text-center">
                            <i class="tfxfont3 xmStamp fs100 red"></i>
                          </div>
                          <p class="top20">التداول مع <strong>™Noble Sky</strong> يعني التداول مع سمسار عادل ونزيه.</p>
                          <p>نحن لا نفرق بين صافي رأس مال العميل وحجم الاستثمار ، فبيئة التداول لجميع العملاء هي نفسها لضمان المساواة في معاملات المنصة. </p></div>
                        <div class="box-border2">
                          <div class="text-center">
                            <i class="tfxfont3 xmClock fs100 red"></i>
                          </div>
                          <p class="top20">تطبق <strong>™Noble Sky</strong> بصرامة مبدأ عدم إعادة التسعير وعدم رفض الأوامر لضمان أنها توفر للعملاء تجربة تداول عادلة وجديرة بالثقة.</p>
                          <p>علاوة على ذلك ، سيتم تنفيذ 99.35٪ من الطلبات في غضون ثانية واحدة ، بدون إعادة تسعير أو رفض.</p>
                          <p>يعتمد نموذج أعمالنا على فلسفة عمل شركتنا: عند الاستثمار في السوق ، يكون التنفيذ هو كل شيء.</p></div>
                        <div class="box-border2">
                          <div class="text-center">
                            <i class="tfxfont3 xmSafe fs100 red"></i>
                          </div>
                          <p class="top20">في <strong>™Noble Sky</strong> ، تعتبر سلامة أموال العملاء على رأس أولوياتنا. نتعاون مع أفضل البنوك الاستثمارية في العالم لتخزين حسابات الشركة وأموال العملاء بشكل منفصل لضمان سلامة أموال العملاء</p>
                          <p>عملاء التجزئة محميون بـ 20،000 يورو من أموال تعويض المستثمرين. في الوقت نفسه ، يتمتع جميع العملاء بسياسة
                            <strong>حماية الرصيد السلبي</strong> ، والتي تمنع العملاء من خسارة أكثر من رصيد حساباتهم .</p></div>
                      </div>
                    </div>
                    <div class="col-md-6 top80">
                      <h2>شركة <span class="red">موجهة للناس</span></h2>
                                <p>تتمثل مهمة <strong>™Noble Sky</strong> في تقديم خدمات التداول المؤسسي لجميع العملاء ، سواء كانوا مؤسسيين أو مستثمرين أفراد ، لتزويد جميع المستثمرين بالمعرفة المبتكرة والمعاملات منخفضة التكلفة والإشراف على الأمن المالي وأدوات أبحاث السوق الشاملة ودورات التعليم المتقدمة و خدمة عملاء من الدرجة الأولى.</p>
                                <p>نحن مهتمون بالربح النامي و النمو المستدام ؛</p>
                                <p>نحن حريصون على تحقيق هذا الهدف على نطاق عالمي من خلال الأساليب التالية ؛</p>
                                <p>تنفيذ استراتيجيات الإدارة في السوق العالمية والتكنولوجيا في مجالات وأسواق أعمالنا ؛</p>
                                <p>نعمل معًا لخلق التألق: تعاون مع عملائنا وشركائنا وشركاء الأعمال الآخرين داخل الشركة ، وكذلك مع الإدارات والمناطق.</p>
                              </div>
                              <div class="col-md-6 hidden-xs hidden-sm" style="margin-top:135px!important;">
                                <img src="../../../static/images/page-img/about/about-map-grey.png" class="img-responsive"></div>
                            </div>
                          </div>
                        </div>
                        <div class="dis60"></div>
                      </section>
                      <div class="dis80 hidden-xs hidden-sm"></div>
                      <div class="container">
                        <div class="row">
                          <div class="col-md-12 top50">
                            <h2>لماذا تختار <strong>™Noble Sky</strong>؟</h2>
                            <p>تعمل <strong>™Noble Sky</strong> على تنمية الموظفين لتحقيق التنمية المستدامة. يأتي موظفونا من خلفيات ثقافية مختلفة للتعامل مع تنوع ثقافة العملاء والجنسية والدين والعرق. تلبي منصتنا المتقدمة وبيئة التداول المرنة احتياجات العملاء العالميين. تأتي خبرتنا من خبرة واسعة وفهم عميق للأسواق المالية العالمية. نحن ملتزمون بتقديم خدمات تداول العملات الأجنبية من الدرجة الأولى ، بما في ذلك العقود مقابل الفروقات ، ومؤشر الأسهم ، والمعادن الثمينة والطاقة.</p>
                            <p>فلسفة العمل التي نتبعها بسيطة: لضمان رضا العملاء ، يمكننا كسب ثقة وولاء العملاء. ترتبط السمعة بالمصداقية ، وكلاهما مستمد من قدرتنا على تقديم الخدمات وفقًا لاحتياجات العملاء وتوقعاتهم. من خلال الاهتمام الدائم باتجاهات الصناعة والابتكار التكنولوجيا ، يمكننا الاستجابة للاحتياجات ذات التعقيد المتزايد والمتنوعة لعملائنا. نحن لا نتجاهل طلبات العملاء أبدًا ، ولهذا السبب يمكننا توفير فروق أسعار منخفضة والحفاظ على أعلى تنفيذ.</p>
                          </div>
                        </div>
                      </div>
                      <div class="container top60 box-text-btn hidden-xs hidden-sm">
                        <div class="row">
                          <div class="col-sm-12 col-md-9">
                            <p>لا يوجد تسعير متكرر في معاملات الصرف الأجنبي ، ويتم تنفيذ المعاملات وفقًا
                              <br>لعروض الأسعار في الوقت الفعلي لمنصات MT5Trading التي تلبي احتياجات أي جهاز.</p></div>
                          <div class="col-sm-12 col-md-3">
                          <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">افتح حساب</router-link></div>
              </div>
            </div>

          </section>
          <div class="dis70"></div>

        </div>


         <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'




export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'About-NOBLE SKY',
  },
  created(){



   const storeCoinType = this.localStore.getItem('curCoinType');
   const storeLanguage = this.localStore.getItem('curLanguage');

    this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }





   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },

     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-8 {
       width: 66.66666667%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


footer{height: 300px;background-color: #333;text-align: center;}
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}


.about-xm .box-border1 h4 {
    font-family: "regular","regular_ext",sans-serif;
    font-size: 33px;
    color: #d51820;
    margin: 25px 0;
}

.about-xm .box-border1 small, .about-xm .box-border1 p.big {
    font-size: 18px;
    font-weight: 300;
}


</style>
