<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />





        <div class="site-canvas">


        <div class="container-fluid top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <h1 class="ltr text-left">
                            Mac系统MT5                </h1>
                        <ol class="breadcrumb">
                            <li class="home"><router-link to="/" class="home">NOBLE SKY</router-link></li>
                            <li class="post post-page current-item">Mac系统MT5</li>
                        </ol>
                    </div>

                    <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                        <div class="option-nav">
                                                <router-link to="/contact">
                                                  <i class="contact"></i>
                                                  <span>联系我们</span></router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container hidden-xs hidden-sm hidden-l-sm">
                <div class="row top80">
                    <div class="col-sm-12 col-md-6">
                        <h2>为什么在Mac上的NOBLE SKY MT5交易？</h2>
                        <div class="quote-msg top30">
                            <p>
                                <i class="quote-right "></i>
                                完全兼容Mac系统，无需Boot Camp软件或者parallels desktop，NOBLE SKY MT5提供一系列的功能，可以在全球市场上交易，无重复报价，无拒绝订单。                    </p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-sm-6 col-md-12">
                                <ul class="checks top35">
                                    <li>
                                        超过1000种交易商品，包括股票差价合约，股指指数差价合约，外汇，贵金属差价合约和能源差价合约。                            </li>
                                    <li>100%Mac机中的应用</li>
                                    <li>完整的MT5账户功能</li>
                                    <li>支持所有订单类型</li>
                                    <li>内置市场分析工具</li>
                                    <li>点差低至零</li>
                                    <li>一键交易和内置新闻流</li>
                                    <li>一键交易</li>
                                    <li>允许锁仓</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 top60 hidden-sm">
                        <img src="../../../static/images/page-img/mt5-mac/mt5-mac-keyboard.png?v3.0" class="img-responsive center-block">
                    </div>
                </div>
                <div class="greenRed-btns top50">
                    <router-link to="/register" class="btn btn-solid btn-green btn-block">
                        <i class="fa fa-pencil-square-o"></i>
                        建立账户            </router-link>
                    <div class="dis20"></div>
                    <a href="/download/xmbz-macmt5" class="btn btn-solid btn-red btn-block" target="_blank">
                        <i class="fa fa-download"></i>
                        下载            </a>
                    <div class="dis20"></div>
                    <a href="https://www.noblesky.com/goto/demo/cn" class="btn btn-outline btn-block">
                        <i class="fa fa-pencil-square-o"></i>
                        建立模拟账户            </a>
                </div>
            </div>
            <section class="section top80">
                <div class="container metatrader">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-center big">NOBLE SKY MT5 - 1 种平台, 6种资产类别</h2>
                            <img src="../../../static/images/page-img/mt5-mac/mt5-mac-half.png?v3.0" class="img-responsive center-block top30">
                        </div>
                    </div>
                </div>
            </section>
            <div class="container-fluid">
                <div class="container">
                    <div class="dis30 visible-xs visible-sm"></div>
                    <div class="row btn-a-box">
                        <div class="col-sm-6 col-md-6 text-center">
                            <router-link to="/register" class="btn-a create-account-btn">
                                <i class="fa fa-pencil-square-o"></i>
                                建立账户                    </router-link>
                        </div>
                        <div class="col-sm-6 col-md-6 text-center">

                            <a href="/download/xmbz-macmt5" class="btn-a download-btn" target="_blank">
                                <i class="fa fa-download"></i>
                                下载                    </a>
                        </div>
                        <div class="dis20"></div>
                        <p class="text-center">
                            进入全球金融市场                </p>
                    </div>
                </div>
                <div class="row"><hr></div>
                <div class="container metatrader hidden-xs hidden-sm hidden-l-sm">
                    <div class="row top50">
                        <div class="col-sm-7 col-md-6">
                            <h3>
                                <i class="tfxfont3 xmInstall-pc sm red"></i>
                                如何安装Mac系统NOBLE SKY MT5？                    </h3>
                            <ul class="arrows top30">
                                <li>
                                    通过点击<a href="/download/xmbz-macmt5">这里</a> (.dmg 文件)下载MT5平台。                        </li>
                                <li>
                                    下载后打开NOBLE SKY.dmg文件。                        </li>
                                <li>
                                    将NOBLE SKY软件拖到您的应用文件夹。                        </li>
                                <li>
                                    右键点击NOBLE SKY Mac MT5应用并选择 "打开"。                        </li>
                            </ul>
                        </div>
                        <div class="col-sm-7 col-md-6">
                            <h3>
                                <i class="tfxfont3 xmInstall-pc sm red"></i>
                                怎样在Mac系统NOBLE SKY MT5上安装EA？                    </h3>
                            <ul class="arrows top30">
                                <li>
                                    打开搜索。                        </li>
                                <li>
                                    导航到您的应用文件夹。                        </li>
                                <li>
                                    找到NOBLE SKY Mac MT5应用，右键点击并选择 "显示压缩包内容"。
                                </li>
                                <li>
                                    打开"C盘"文件夹，在（Program Files\MetaTrader 5\MQL5\Experts)中安装您的EA。                        </li>
                                <li>
                                    重启NOBLE SKY Mac MT5，以便应用程序可以识别您的EA。
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid top50 section-icons gray hidden-xs hidden-sm hidden-l-sm">
                <div class="container">
                    <div class="top50"></div>
                    <div class="row text-center">
                        <div class="col-xs-6 col-sm-4 col-md-2 top20">
                            <i class="tfxfont3 xmQuote fs100 red"></i>
                            <div class="dis10"></div>
                            <p>无重复报价</p>
                        </div>

                        <div class="col-xs-6 col-sm-4 col-md-3 top20">
                            <i class="tfxfont3 xmStop-sign fs100 red"></i>
                            <div class="dis10"></div>
                            <p>无拒绝订单</p>
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-xs-6 col-sm-4 col-md-2 top20">
                            <i class="tfxfont3 xmLeverage-888 fs100 red"></i>
                            <div class="dis10"></div>
                            <p>杠杆高达888:1</p>
                        </div>

                        <div class="col-xs-6 col-sm-4 col-md-3 top20">
                            <i class="tfxfont3 xmLock-check fs100 red"></i>
                            <div class="dis10"></div>
                            <p>EA兼容</p>
                        </div>
                        <div class="clearfix visible-xs-block"></div>
        <!--                 <div class="col-xs-6 col-sm-4 col-md-2 top20">
                            <i class="tfxfont3 xmPromotions fs100 red"></i>
                            <p></p>?></p>
                        </div> -->

                        <div class="col-xs-6 col-sm-4 col-md-2 top20">
                            <i class="tfxfont3 xmClick fs100 red"></i>
                            <div class="dis10"></div>
                            <p>一键交易</p>
                        </div>
                    </div>
                </div>
                <div class="top50"></div>
            </div>
            <div class="container metatrader">
                <div class="row top50">
                    <div class="col-md-12">
                        <h2><i class="tfxfont3 xmZoom sm red"></i> Mac系统NOBLE SKY MT5主要特点</h2>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <ul class="arrows">
                            <li>与EA和自定义指标无缝链接</li>
                            <li>一键交易</li>
                            <!--<li></li>-->
                            <li>内置邮件系统</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <ul class="arrows">
                            <li>支持50多种指标的完整技术分析功能</li>
                            <li>可创建多种自定义指标和不同时间周期</li>
                            <li>可以处理大量交易订单</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <ul class="arrows">
                            <li>历史数据管理，和历史数据导出/导入</li>
                            <li>完整的数据支持和安全保障</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container metatrader hidden-xs hidden-sm hidden-l-sm">
                <div class="row top80">
                    <div class="col-md-12">
                        <h2><i class="tfxfont3 xmTrash sm red"></i> 如何卸载Mac系统NOBLE SKY MT5？</h2>
                        <ul class="arrows">
                            <li>
                                <span class="red"><strong>步骤1:</strong>
                                </span> 打开您的应用文件夹。                    </li>
                            <li>
                                <span class="red"><strong>步骤2:</strong>
                                </span> 将Mac系统NOBLE SKY MT5移动到垃圾箱。                    </li>
                        </ul>
                    </div>
                </div>
            </div>

        <div id="faq">
            <div class="container top80">
                <div class="row">
                    <div class="col-md-6">
                        <h2>常见问题</h2>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="accordionText" class="hidden"> </div>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btnAccordion pull-right" data-parent="#accordion1"> </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row top20">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion1">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">怎样访问MT5平台？</h4>
                                    <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a1collapse1" class="panel-collapse collapse">
                                    <div class="panel-body gray">
                                        <p>您需要有Noble Sky MT5交易账户才可以在MT5平台交易。创建Noble Sky MT5账户<router-link to="/register">点击这里</router-link>。</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">怎样认证我的MT5账户呢？</h4>
                                    <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a1collapse1" class="panel-collapse collapse">
                                    <div class="panel-body gray">
                                        <p>点击CRM - >“注册”创建一个MT5账户，创建并登录进行认证，您需要提供我们所需的认证文件（例如，身份证明和地址证明）。</p>
                                    </div>
                                </div>
                            </div>



                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">我可以在MT5上交易什么商品呢？</h4>
                                    <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a1collapse1" class="panel-collapse collapse">
                                    <div class="panel-body gray">
                                        <p>
                                            在 MT5交易终端您可以交易Noble Sky所有的商品，包括外汇，大宗商品，证券指数，贵金属差价合约和能源差价合约。                              </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><div class="container metatrader top80 hidden-xs hidden-sm hidden-l-sm">
            <div class="row">
                <div class="col-md-12">
                    <h2><i class="tfxfont3 xmMobile-devices sm red"></i> 同样适用于</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="feature-item7 noborder">
                    <a class="device " href="https://www.noblesky.com/cn/mt5">
                        <i class="tfxfont3 xmPc"></i>
                        <p class="text-center top20">
                            PC系统MT5                </p>
                    </a>
                </div>
                <div class="feature-item7 noborder">
                    <a class="device active" href="https://www.noblesky.com/cn/mt5-mac">
                        <i class="tfxfont3 xmImac"></i>
                        <p class="text-center top20">
                            Mac系统MT5                </p>
                    </a>
                </div>

                <!---->

                <div class="feature-item7 noborder">
                    <a class="device " href="https://www.noblesky.com/cn/mt5-webtrader">
                        <i class="tfxfont3 xmLaptop"></i>
                        <p class="text-center top20">
                            MT5 WebTrader                </p>
                    </a>
                </div>
                <div class="feature-item7 noborder">
                    <a class="device " href="https://www.noblesky.com/cn/mt5-ipad">
                        <i class="tfxfont3 xmIpad"></i>
                        <p class="text-center top20">
                            iPad系统MT5                </p>
                    </a>
                </div>
                <div class="feature-item7 noborder">
                    <a class="device " href="https://www.noblesky.com/cn/mt5-iphone">
                        <i class="tfxfont3 xmIphone"></i>
                        <p class="text-center top20">
                            iPhone版MT5                </p>
                    </a>
                </div>
                <div class="feature-item7 noborder">
                    <a class="device " href="https://www.noblesky.com/cn/mt5-android">
                        <i class="tfxfont3 xmAndroid-phone"></i>
                        <p class="text-center top20">
                            安卓系统MT5                </p>
                    </a>
                </div>
                <div class="feature-item7 noborder">
                    <a class="device " href="https://www.noblesky.com/cn/mt5-android-tablet">
                        <i class="tfxfont3 xmAndroid-tablet"></i>
                        <p class="text-center top20">
                            安卓平板电脑MT5                </p>
                    </a>
                </div>
            </div>

            </div>



        </div>




        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },




    };
  },
   metaInfo: {
      title: 'Mt5 MAC-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){

      let element = document.querySelectorAll(".panel-heading");



      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){


               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }





  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
    hideMenu(){
       this.$refs.pageHead.hideMenu();
    }
  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-md-2 {
       width: 16.66666667%;
   }
   .col-md-3 {
       width: 25%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }
   .img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
       display: block;
       max-width: 100%;
       height: auto;
   }


   .dis10 {
       height: 10px;
       clear: both;
   }
   .dis20 {
       height: 20px;
       clear: both;
   }

   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
    display: none !important;
}

 .greenRed-btns{
    .btn{color: #fff;text-align: center;}
    .btn.btn-green{background-color: #74c109;}
    .btn.btn-green:hover{background-color: #29A643;}
    .btn.btn-red{background-color: #d51820;}
    .btn.btn-red:hover{background-color: #b30000;}
    .btn-outline{
       color: #d51820;
       border:1px solid #d51820;
       font-size: 24px;
       padding: 8px 18px !important;
    }
    .btn-outline:hover{
      background-color: #d51820;
      color: #fff;
    }

 }
.greenRed-btns .btn.btn-red {
    font-size: 24px;
    padding: 10px 20px !important;
}

.greenRed-btns .btn.btn-green {
    font-size: 30px;
    padding: 15px 20px !important;
}
.btn-a-box{text-align: center;padding-top: 50px;}
.btn-a{
  display: inline-block;
  width: 450px;
  background-color: #74c109;
  color: #fff;
  font-size: 24px;
  padding:10px 20px;
}
.btn-a:hover{background-color: #29A643;}
.btn-a.download-btn{background-color: #d51820;}
.btn-a.download-btn:hover{background-color:#b30000 ;}

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }

   #tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
       font-size: 50px;
       margin-top: -25px;
       margin-left: 0;
       right: 20px;
   }
   .collapse {
        display: block;
    }
   .tab-pane .dis30{height: 50px;}
   .panel-collapse.showFlag{display: none;}

   footer{height: 300px;background-color: #333;text-align: center;}
   footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

</style>
