<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <div class="site-canvas" dir="rtl">


          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">
                    ميتاتريدر 5 (MT5)
                  </h1>
                  <ol class="breadcrumb">
                    <li class="home"><router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">ميتاتريدر 5 (MT5)</li>
                  </ol>
                </div>

                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>اتصل بنا</span>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container hidden-xs hidden-sm hidden-l-sm">
            <div class="row top80">
              <div class="col-sm-12 col-md-6">
                <h2>
                  لماذا NOBLE SKY MT5 أفضل؟
                </h2>
                <div class="quote-msg top30">
                  <p>
                    <i class="quote-right "></i>
                    توفر منصة Noble sky MT5 جميع الوظائف الضرورية ، مما يجعل MT5 منصة مثالية لإدارة الأصول المتعددة. يمكن تداول عقود العملات الأجنبية وعقود الفروقات والذهب والنفط الخام ومؤشرات الأسهم على نفس المنصة ، ولا يوجد رفض للأوامر ، ولا إعادة تسعير ، ويمكن اختيار الرافعة المالية بمرونة من 1: 1 إلى 200: 1.
                  </p>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                  <div class="col-sm-6 col-md-12 top40">
                    <h3>ميزات نوبل سكاي MT5</h3>
                    <ul class="checks top35">
                      <li>
                        أكثر من 100 سلعة تجارية ، بما في ذلك مؤشر CFD على مؤشر الأسهم ، والعملات الأجنبية ، وعقود الفروقات على المعادن الثمينة ، وعقود الفروقات على الطاقة。
                      </li>
                      <li>
                        سبريد منخفض يصل إلى 0.6 نقطة
                      </li>
                      <li>وظيفة EA كاملة</li>
                      <li>تداول بنقرة واحدة</li>
                      <li>دعم جميع أنواع الطلبات</li>
                      <li>أكثر من 80 أداة للتحليل الفني</li>
                      <li>أحدث عرض بعمق السوق</li>
                      <li>السماح بالقفل</li>
                    </ul>
                  </div>

                </div>
              </div>
              <div class="col-md-6 top60 hidden-sm">
                <img class="img-responsive center-block" src="../../../static/images/page-img/mt5/mt5-pc.png?v3.0" alt="mt5 pc screenshot">
              </div>
            </div>
            <div class="greenRed-btns top50">
              <router-link to="/register" class="btn btn-solid btn-green btn-block">
                <i class="fa fa-pencil-square-o"></i>
                انشئ حساب
              </router-link>
              <div class="dis20"></div>
              <a href="https://download.mql5.com/cdn/web/hk.noble.sky/mt5/hknobleskytreasure5setup.exe" class="btn btn-solid btn-red btn-block">
                <i class="fa fa-download"></i>
                تحميل
              </a>
              <div class="dis20"></div>
              <router-link :to="{name:'register',params:{regType:2}}" class="btn btn-outline btn-block">
                <i class="fa fa-pencil-square-o"></i>
                قم بإنشاء حساب تجريبي
              </router-link>
            </div>
          </div>
          <section class="section top80">
            <div class="container metatrader">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="text-center big">منصة نوبل سكاي MT5-1 ، أصناف تداول متعددة</h2>
                  <img class="img-responsive center-block top30" src="../../../static/images/page-img/mt5/mt5-pc-half.png?v3.0" alt="mt5 pc screenshot">
                </div>
              </div>
            </div>
          </section>
          <div class="container-fluid">
            <div class="container">
              <div class="dis30 visible-xs visible-sm"></div>
              <div class="row btn-a-box">
                <div class="col-sm-6 col-md-6 text-center">
                  <router-link to="/register" class="btn-a crate-account-btn">
                    <i class="fa fa-pencil-square-o"></i>
                    انشئ حساب
                  </router-link>
                </div>

                <div class="col-sm-6 col-md-6 text-center">
                  <a href="https://download.mql5.com/cdn/web/hk.noble.sky/mt5/hknobleskytreasure5setup.exe" class="btn-a download-btn">
                    <i class="fa fa-download"></i>
                    تحميل
                  </a>
                </div>
                <div class="dis20"></div>
                <p class="text-center">
                  الوصول إلى الأسواق المالية العالمية
                </p>
              </div>
            </div>
           
            <div class="container metatrader">
              <div class="row top50 hidden-xs hidden-sm hidden-l-sm">
                <div class="col-sm-7 col-md-8">
                  <h2>
                    <i class="tfxfont3 xmInstall-pc sm red"></i>
                    كيفية تثبيت Noble sky MT5
                  </h2>
                  <ul class="arrows top30">
                    <li>انقر <a href="https://download.mql5.com/cdn/web/hk.noble.sky/mt5/hknobleskytreasure5setup.exe">هنا</a> (ملف .exe) لتنزيل المنصة</li>
                    <li>بعد التنزيل ، قم بتشغيل ملف NOBLE SKY.exe.</li>
                    <li>عند تشغيل البرنامج لأول مرة ، سترى نافذة تسجيل الدخول.</li>
                    <li>أدخل معلومات تسجيل الدخول إلى حسابك الحقيقي أو التجريبي.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="container metatrader">
            <div class="row top80">
              <div class="col-md-12">
                <h2>
                  <i class="tfxfont3 xmZoom sm red"></i>
                  الميزات الرئيسية لـ Noble sky MT5
                </h2>
              </div>
              <div class="col-sm-12 col-md-4">
                <ul class="arrows">
                  <li>بيئة تطوير MQL5 مدمجة ممتازة</li>
                  <li>ينطبق على المعاملات الطرفية المتنقلة لنظام Android و IOS</li>
                  <li>دعم التداول عبر الإنترنت على أنظمة تشغيل Windows و Linux</li>
                  <li>نظام البريد الداخلي</li>
                </ul>
              </div>

              <div class="col-sm-12 col-md-4">
                <ul class="arrows">
                  <li>اختبار العملات المتعددة والتنبيهات</li>
                </ul>
              </div>
            </div>
            <div class="row top80 hidden-xs hidden-sm hidden-l-sm">
              <div class="col-sm-6 col-md-7">
                <h2>
                  <i class="tfxfont3 xmGears sm red"></i>
                  متطلبات نظام نوبل سكاي MT5
                </h2>
                <!-- <div class="col-md-6 visible-xs">
            <img class="img-responsive center-block" src="../../../static/images/page-img/mt5/mt5-pc-small.png?v3.0" alt="mt5 pc screenshot">
        </div> -->
                <ul class="arrows top30">
                  <li><strong>نظام التشغيل:</strong> يوصى باستخدام إصدارات 64 بت من Windows 10 أو Microsoft Windows 7 أو أعلى للحصول على أفضل النتائج.</li>
                  <li><strong>المعالج:</strong> يدعم SSE2 لجميع وحدات المعالجة المركزية (بنتيوم 4 / أثلون 64 وما فوق)</li>
                  <li>تعتمد متطلبات الأجهزة الأخرى على النظام الأساسي المستخدم (على سبيل المثال ، حمل تطبيقات MQL5 قيد التشغيل ، ونوع السلع المختارة وعدد الرسوم البيانية)</li>
                </ul>
              </div>
              <div class="col-sm- col-md-5 hidden-xs top30">
                <img class="img-responsive center-block" src="../../../static/images/page-img/mt5/mt5-pc-small.png?v3.0" alt="mt5 pc screenshot">
              </div>
            </div>
          </div>
          <div class="container metatrader">
            <div class="row top80 hidden-xs hidden-sm hidden-l-sm">
              <div class="col-md-12">
                <h2><i class="tfxfont3 xmTrash sm red"></i> كيفية إلغاء تثبيت Noble sky MT5 على جهاز الكمبيوتر</h2>
                <ul class="arrows">
                  <li>
                    <span class="red mt4_steps"><strong>الخطوة 1:</strong></span>
                    انقر فوق ابدأ ← كافة البرامج ← NOBLE SKY MT5 ← إلغاء التثبيت
                  </li>
                  <li>
                    <span class="red mt4_steps"><strong>الخطوة 2:</strong></span>
                    اتبع الخطوات التي تظهر على الشاشة لبدء إلغاء التثبيت حتى تكتمل عملية إلغاء التثبيت
                  </li>
                  <li>
                    <span class="red mt4_steps"><strong>الخطوة 3:</strong></span>
                    انقر فوق My Computer (جهاز الكمبيوتر) ← انقر فوق محرك الأقراص C أو برنامج تشغيل الجذر لتثبيت نظام التشغيل ← انقر فوق مجلد البرنامج ← حدد مجلد Noble sky MT5 وقم بحذفه
                  </li>
                  <li>
                    <span class="red mt4_steps"><strong>الخطوة 4:</strong></span>
                    أعد تشغيل الكمبيوتر
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div id="faq">
            <div class="container top80">
              <div class="row">
                <div class="col-md-6">
                  <h2>مشاكل شائعة</h2>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <div id="accordionText" class="hidden"></div>
                    </div>
                    <div class="col-md-6"><button type="button" data-parent="#accordion1" class="btnAccordion pull-right"></button></div>
                  </div>
                </div>
              </div>
              <div class="row top20">
                <div class="col-md-12">
                  <div id="accordion1" class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">كيفية الوصول إلى منصة MT5؟</h4>
                        <i class="fa pull-right fa-angle-up"></i>
                      </div>
                      <div id="a1collapse1" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>يجب أن يكون لديك حساب تداول في Noble Sky MT5 للتداول على منصة MT5. إنشاء حساب نوبل سكاي MT5 <a href="#/register" class="">انقر هنا</a>。</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">كيف أتحقق من حساب MT5 الخاص بي؟</h4>
                        <i class="fa pull-right fa-angle-up"></i>
                      </div>
                      <div id="a1collapse1" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>انقر فوق CRM -&gt; "تسجيل" لإنشاء حساب MT5 وإنشاء وتسجيل الدخول للمصادقة ، تحتاج إلى تقديم مستندات المصادقة التي نحتاجها (على سبيل المثال ، إثبات الهوية والعنوان).</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">ما هي السلع التي يمكنني تداولها على MT5؟</h4>
                        <i class="fa pull-right fa-angle-up"></i>
                      </div>
                      <div id="a1collapse1" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>
                            في منصة التداول MT5 ، يمكنك تداول جميع سلع نوبل سكاي ، بما في ذلك العملات الأجنبية والسلع ومؤشرات الأوراق المالية وعقود الفروقات على المعادن الثمينة وعقود فروقات الطاقة.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="container metatrader top80 hidden-xs hidden-sm hidden-l-sm">
            <div class="row">
              <div class="col-md-12">
                <h2><i class="tfxfont3 xmMobile-devices sm red"></i> متوفر أيضًا على</h2>
              </div>
            </div>
            <div class="row text-center">
              <div class="feature-item7 noborder">
                <a href="/ar/mt5" class="device">
                  <i class="tfxfont3 xmPc"></i>
                  <p class="text-center top20">
                    نظام الكمبيوتر الشخصي MT5
                  </p>
                </a>
              </div>
              <div class="feature-item7 noborder">
                <a href="/ar/mt5-webtrader" class="device">
                  <i class="tfxfont3 xmLaptop"></i>
                  <p class="text-center top20">
                    MT5 WebTrader
                  </p>
                </a>
              </div>
              <div class="feature-item7 noborder">
                <a href="/ar/mt5-ipad" class="device">
                  <i class="tfxfont3 xmIpad"></i>
                  <p class="text-center top20">
                    MT5 لأجهزة iPad
                  </p>
                </a>
              </div>
              <div class="feature-item7 noborder">
                <a href="/ar/mt5-iphone" class="device">
                  <i class="tfxfont3 xmIphone"></i>
                  <p class="text-center top20">
                    MT5 لأجهزة iPhone
                  </p>
                </a>
              </div>
              <div class="feature-item7 noborder">
                <a href="/ar/mt5-android" class="device">
                  <i class="tfxfont3 xmAndroid-phone"></i>
                  <p class="text-center top20">
                    MT5 الروبوت
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="container metatrader hidden-xs hidden-sm hidden-l-sm">
            <div class="row top50">
              <div class="col-md-12">
                <h2><i class="tfxfont3 xmZoom sm red"></i> حول ميتاتريدر 5 (MT5)</h2>
                <p>منصة التداول عبر الإنترنت MetaTrader 5 ، والمعروفة أيضًا باسم MT5 ، هي نسخة مطورة من MetaTrader 4 المعروفة (MT4). هو من <em>MetaQuotes Software Corp. تم</em> تطوير وإصدار نسخة تجريبية في عام 2010. على مر السنين ، جعلت الاستثمار المستمر في التطوير والاختبار والتحسين من قبل <em>MetaQuotes</em> جعلت من MT5 جيلًا جديدًا من منصات التداول الأكثر مرونة.</p>
                <p>الميزة الأكبر التي تتمتع بها MT5 على الجيل السابق هي مرونتها. يمكن أن توفر بمرونة المزيد من السلع التجارية من خلال إعدادات مختلفة لفئات الأصول المتعددة ، والتي يمكن أن تكون جميعها في نفس الواجهة ونفس حساب التداول في المعاملة.</p>
                <p>MetaTrader 5 (MT5) لقد تم رفع احتمالات حزم الرسوم البيانية المعروفة والتداول الآلي إلى مستوى جديد تمامًا. تم الاحتفاظ بجميع وظائف MetaTrader 4 (MT4) بالكامل وترقيتها إلى بنية أساسية خلفية أكثر تعقيدًا لدعم المتداولين لإجراء معاملات سلع متعددة في فئات الأصول المختلفة.</p>
                <div class="row top30"></div>
                <h3>تداول متعدد الأصول عبر MT5</h3>
                <div class="row top30"></div>
                <p>
                  يوفر MT5 للمستثمرين عبر الإنترنت <a href="http://crm.hknstpm.com:9999/#">صرف</a>
                  العملات <a href="http://crm.hknstpm.com:9999/#">الأجنبية</a> (تداول العملات) ، ومؤشر الأسهم ، والمعادن الثمينة ، وعقود الطاقة مقابل السلع مقابل الفروقات (CFDs) وخيارات تداول أخرى من فئة الأصول.
                </p>
                <p>سواء كان متداولًا مبتدئًا أو متقدماً أو محترفًا عبر الإنترنت ، فقد فتحت MT5 رؤية جديدة لها ، ليس فقط على مستوى المعاملات ، ولكنها تتيح أيضًا للمتداولين الحصول على رؤية أوضح في الأسواق المختلفة وفئات الأصول المختلفة. الوعي.</p>
                <p>بالإضافة إلى ذلك ، في القرن الحادي والعشرين ، توفر لهم قدرة المستثمرين عبر الإنترنت على تداول الأصول المالية المختلفة من حساب واحد ميزة التوزيع الاستراتيجي للأصول (أو إدارة الأصول). والغرض الرئيسي هو تخصيص رأس المال الاستثماري لمختلف الأصول ، وبناءً على تقلبات السوق والأداء قصير الأجل أو طويل الأجل لهذه الأصول لإدارة المخاطر.</p>
                <div class="row top30"></div>
                <h3>مزايا التداول عبر الإنترنت MT5</h3>
                <div class="row top30"></div>
                <p>تحتوي منصة MT5 متعددة الوظائف على أداء قوي. تم تطويرها جميعًا باستخدام أحدث التقنيات. يتم الاحتفاظ بالعديد من المعايير الرئيسية. حزمة الرموز التي لا يمكن الاستغناء عنها ، وإمكانية ومرونة التداول الآلي (التداول الخوارزمي) ، ودعم السوق متعدد الأنواع.</p>
                <p>للمبتدئين والمتداولين ذوي الخبرة ، تضمن MT5 أن أداء ووظائف المنصة تلبي أعلى توقعات أي مستثمر عبر الإنترنت اليوم. بما في ذلك أنواع مختلفة من الأوامر المعلقة (سعر حد الشراء ، وإيقاف الشراء ، وسعر حد البيع ، وسعر إيقاف البيع ، وسعر حد وقف الخسارة للشراء ، وسعر حد وقف الخسارة للبيع) ؛ العمليات مع عدد غير محدود من قاعدة بيانات الطلبات ، بالإضافة إلى لغة البرمجة الأكثر تقدمًا MQL5 ، تسمح للمتداولين بتحرير البرامج والمؤشرات المناسبة لتفضيلاتهم التجارية الشخصية وتفضيلات تداول الأصول المالية.</p>
                <div class="row top30"></div>
                <h3>التداول عبر MT5 على الهاتف المحمول</h3>
                <div class="row top30"></div>
                <p>تطبيق MT5 مناسب لأجهزة iOS و Android ، ويمكنك الوصول إلى حسابك في أي وقت وفي أي مكان. تتضمن وظائفه مخططات متحركة لا مثيل لها وأكثر من 30 مؤشرًا مدمجًا ، بالإضافة إلى أكثر من 24 خيارًا فنيًا لعناصر التحليل.</p>
              </div>
            </div>
          </div>


        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){

      let element = document.querySelectorAll(".panel-heading");



      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){


               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }


     document.documentElement.scrollTop = 0


  },



  components: {
    pageHeader,
    pageFooter
  },


  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     }
  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }

   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }
   .img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
       display: block;
       max-width: 100%;
       height: auto;
   }



   .dis20 {
       height: 20px;
       clear: both;
   }


   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }

 .greenRed-btns{
    .btn{color: #fff;text-align: center;}
    .btn.btn-green{background-color: #74c109;}
    .btn.btn-green:hover{background-color: #29A643;}
    .btn.btn-red{background-color: #d51820;}
    .btn.btn-red:hover{background-color: #b30000;}
    .btn-outline{
       color: #d51820;
       border:1px solid #d51820;
       font-size: 24px;
       padding: 8px 18px !important;
    }
    .btn-outline:hover{
      background-color: #d51820;
      color: #fff;
    }

 }
.greenRed-btns .btn.btn-red {
    font-size: 24px;
    padding: 10px 20px !important;
}

.greenRed-btns .btn.btn-green {
    font-size: 30px;
    padding: 15px 20px !important;
}
.btn-a-box{text-align: center;padding-top: 50px;}
.btn-a{
  display: inline-block;
  width: 450px;
  background-color: #74c109;
  color: #fff;
  font-size: 24px;
  padding:10px 20px;
}
.btn-a:hover{background-color: #29A643;}
.btn-a.download-btn{background-color: #d51820;}
.btn-a.download-btn:hover{background-color:#b30000 ;}





   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }

    #tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
        font-size: 50px;
        margin-top: -25px;
        margin-left: 0;
        right: 20px;
    }
    .collapse {
        display: block;
    }
   .tab-pane .dis30{height: 50px;}
   .panel-collapse.showFlag{display: none;}

   footer{height: 300px;background-color: #333;text-align: center;}
   footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

</style>
