<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <div class="site-canvas" dir="rtl">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">لمعادن الثمينة</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">المعادن الثمينة</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>اتصل بنا</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container top60 hidden-xs">
            <ul class="nav-flexbox-tabs">
              <li>
                <router-link to='/ar/forex-trading'>تجارة الفوركس</router-link>
               </li>
              <!-- <li>
                 <router-link to='/stocks'>Stock CFDs</router-link>
                 <a href="https://www.noblesky.com/cn/stocks">Stock CFDs</a></li> -->
               <!-- <li>
                 <router-link to='/ar/commodities'>Commodities</router-link>
                </li>
               <li>
                 <router-link to='/ar/equity-indices'>Equity indices</router-link>
               </li> -->
               <li class="active">
                 <router-link to='/ar/precious-metals'>المعادن الثمينة</router-link>
               </li>
               <li>
                 <router-link to='/ar/energies'>الطاقات</router-link>
               </li>
              <!-- <li>
                <router-link to='/shares'>股票</router-link>
                <a href="https://www.noblesky.com/cn/shares">股票</a></li> -->
            </ul>
            <div class="dis15"></div>
          </div>
          <div class="dis50 visible-sm"></div>
          <div class="container hidden-xs">
            <h2 class="top30">مزايا نوبل سكاي تداول المعادن الثمينة</h2>
            <div class="row text-center top50">
              <div class="feature-item6">
                <i class="tfxfont3 xmGold fs100 red"></i>
                <p class="top30">
                  معاملات الذهب والفضة عبر الإنترنت
                  <br data-v-7e18e0a9="">دون إعادة تسعير
                </p>
              </div>
              <div class="feature-item6">
                <i class="tfxfont3 xmDollar-bag fs100 red"></i>
                <p class="top30">استثمارات جيدة غير العملات الأجنبية</p>
              </div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p class="top30">سوق سهل التحصيل</p>
              </div>
              <div class="feature-item6 hidden-xs hidden-md">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p class="top30">التعاملات الطويل / القصير في نفس الحساب</p>
              </div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmLeverage-100 fs100 red"></i>
                <p data-v-7e18e0a9="">الرافعة المالية تصل إلى 200: 1</p>
              </div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmPercent fs100 red"></i>
                <p class="top30">رسوم المعاملات صفر</p>
              </div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-sm-12 col-md-9"><br data-v-7e18e0a9="">تداول العملات الأجنبية والأسهم الفردية والسلع والمعادن الثمينة والطاقات ومؤشرات الأسهم في NOBLE SKY</div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">افتح حساب</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row">
              <div class="col-md-12">
                <h2>هوامش / شروط المعادن الثمينة</h2></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3>المعادن الثمينة</h3>
                <ul id="tabs4" class="nav nav-tabs top20" role="tablist">
                  <li :class="{active:tableIndex===0}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex(0)">حساب قياسي</a>
                  </li>
                  <!--<li :class="{active:tableIndex===1}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(1)">Micro account</a>
                  </li>-->
                  <!-- <li :class="{active:tableIndex===2}">
      <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(2)">NOBLE SKY Ultra Low Standard账户</a></li>
    <li :class="{active:tableIndex===3}">
      <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(3)">NOBLE SKY Ultra Low Micro账户</a></li> -->
                </ul>
                <div id="tabContent" class="tab-content" >
                  <div class="tab-pane active" id="standard" v-if="tableIndex===0">
                    <div class="dis30"></div>
                    <div class="table-wrap">
                      <div id="DataTables_Table_0_wrapper" style="padding-bottom:2em;" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_0_length">
                          <label>
                            متفاخر

                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                            </select>المنتج
                          </label>
                        </div>
                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                          <label>
                            البحث عن
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_0">
                          </label>
                        </div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th colspan="1" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" aria-sort="ascending" aria-label="زوج العملات: يتم تفعيله لفرز العمود تنازليًا" class="sorting_asc" style="width: 0px;">زوج العملات</th>
                              <th colspan="1" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" aria-label="نطاق التقلب الأدنى: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 0px;">
                                <br>نطاق التقلب الأدنى

                              </th>
                              <th tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="ينتشر منخفضًا مثل ***: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 0px;">
                                سبريد بسعر
                                <br>منخفض يصل إلى ***
                              </th>
                              <th tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="متوسط ​​السبريد ***: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 0px;">متوسط السبريد***</th>
                              <th tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="دفع الفائدة الليلية (النقاط) **: التفعيل لفرز العمود تصاعديًا" class="sorting" style="width: 0px;">
                                دفع فائدة الليلة
                                <br>(نقاط) **
                              </th>
                              <th tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="فائدة التبييت على أوامر البيع (بالنقاط) **: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 0px;">
                                الفائدة الليلية على طلبات البيع
                                <br>(بالنقاط) **
                              </th>
                              <th colspan="1" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" aria-label="1 لوت قيمة: تفعيل لفرز العمود تصاعديا" class="sorting" style="width: 0px;">قيمة الحزمة الواحدة</th>
                              <th colspan="1" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" aria-label="مسافة وقف الربح والخسارة *: يتم التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 0px;">قيمة وقف الربح والخسارة *</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">الذهب</td>
                              <td>0.01</td>
                              <td>0.3</td>
                              <td>0.45</td>
                              <td>-9.74</td>
                              <td>-5.58</td>
                              <td>1 أوقية</td>
                              <td>1</td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">الفضة</td>
                              <td>0.001</td>
                              <td>0.03</td>
                              <td>0.045</td>
                              <td>-1.28</td>
                              <td>-0.6</td>
                              <td>5000 أوقية</td>
                              <td>0.14</td>
                            </tr>
                          </tbody>
                        </table>
                        <div id="DataTables_Table_1_info" role="status" aria-live="polite" class="dataTables_info">إظهار 1 إلى 2 من 2 مدخلات</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">السابق</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a>
                          </span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">التالى</a>
                        </div>
                      </div>
                    </div>
                    <div class="top80 row">
                      <div class="col-sm-12">
                        <p><b>الحد الأدنى / الأقصى لعدد العقود التجارية:</b> 0.1 / 100 (MT5)</p>
                      </div>
                    </div>
                  </div>
            
                </div>
              </div>
            </div>
          </div>
          <div class="container ">
            <div class="row">
              <div class="col-sm-12">
                <p> يتم حساب متطلبات الهامش للذهب والفضة على النحو التالي: العقود * حجم العقد * سعر السوق / الرافعة المالية.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p>
                  <strong>
                    ساعات تداول الذهب والفضة
                    <br>(GMT + 2 المنطقة الزمنية ، يرجى ملاحظة أنه قد يكون التوقيت الصيفي)
                  </strong> <br> <i class="fa fa-clock-o red"></i>الإثنين - الخميس: 01:05 - 23:55
                  <br> <i class="fa fa-clock-o red"></i>الجمعة: 01:05 - 23:50
                </p>
              </div>
            </div>
          
            <div class="dis60"></div>
            <div class="row">
              <div class="col-md-12">
                <p>* بناءً على سعر السوق الحالي ، قم بتعيين الحد الأدنى لقيمة التكلفة لجني الأرباح أو وقف الخسارة.</p>
                <p>** إذا كنت تحتفظ بتداول ليلي ، فستدفع أو تحصل على حزء من المبلغ ، وهو الفائدة المتولدة بين أزواج العملات ، وهي "مقايضة الفائدة الليلية". في برنامج التداول ، سيتم تحويل "مقايضة الفائدة الليلية" تلقائيًا إلى عملة الإيداع الخاصة بك (عملة الحساب). يحسب النظام الساعة 00.00 (المنطقة الزمنية GMT +2، يرجى ملاحظة أنه قد يكون في التوقيت الصيفي) كل يوم ، وقد تستغرق العملية برمتها عدة دقائق. من الأربعاء إلى الخميس ، يتم تحصيل ثلاثة أضعاف الفائدة الليلية.</p>
                <p>*** يتم حساب متوسط السبريد الموضح هنا في يوم واحد. يتم حسابها في ظل ظروف السوق العادية. ومع ذلك ، نظرًا لتوسع انتشار إعلانات الأخبار المهمة ، خلال فترات عدم اليقين السياسي ، أو أثناء إغلاق السوق ، أو في عطلات نهاية الأسبوع ذات السيولة المنخفضة ، فقد تتسبب الأحداث غير المتوقعة في تقلب السوق واتساع نطاق التكلفة. عندما تتداول على منصتنا ، فإن Trading Point هي وسيطك. سنطابق معاملاتك ومراكز التحوط وموفري السيولة الذين تتجاوز فروق الأسعار الحالية الخاصة بهم في السوق المستويات المذكورة أعلاه. ومع ذلك ، في حالة التقلبات الكبيرة في السوق أو ضعف السيولة ، يكون فارق عرض الأسعار المقدم من مزود عرض أسعار الهاتف المحمول أعلى من المستوى العادي ، لذلك ستعمل Trading Point أيضًا على توسيع الربح.</p>
                <p>معادلة حساب متطلبات الهامش للعقود مقابل الفروقات هي كما يلي: حجم الحزمة * حجم العقد * سعر الافتتاح * نسبة الهامش. لا علاقة لحساب متطلبات الهامش بقيمة الرافعة المالية لحسابك.</p>
                <p>إذا كنت تتداول سلعًا في اتجاه واحد ، فيجب أن تكون نسبة الدفع المسبق أعلى من 100٪. إذا كنت تستخدم معاملات إقفال العقود مقابل الفروقات ، فلن يتم تحصيل الدفعة المسبقة للقفل إلا مقابل عقد أحادي كبير.</p>
                <p>تاريخ التقويم هو للتوضيح فقط ويمكن تغييره في أي وقت.</p>
              </div>
            </div>
          </div>
          <div class="container top50">
            <h2>سوق تداول الذهب والمعادن النفيسة</h2>
            <p>يحتل الذهب والمعادن النفيسة الأخرى والنفط الخام والنحاس والبنزين والسلع الأخرى مكانة مهمة في سوق السلع بالجملة. جميع السلع المتداولة في العقود. تشمل عقود المعادن الثمينة العقود الآجلة والعقود الفورية والآجلة والخيارات.</p>
            <p>الوسيط لتداول العقود الآجلة هو تبادل العقود الآجلة أو سوق العقود الآجلة. يمكن للتجار من جميع أنحاء العالم تداول حوالي 50 سلعة رئيسية ، ولديهم قيمة اقتصادية عالية للغاية ومتانة. الذهب ، الفضة ، البلاتين ، البلاديوم ، إلخ ، كلها أصول تجارية رئيسية. آسيا هي أكبر سوق لتجارة المعادن النفيسة في العالم (الصين والهند وسنغافورة هم المتداولون الرئيسيون لهذه السلع) ، وتهيمن الشركات الأوروبية والأمريكية على معظم معاملات السلع بالجملة. توجد أكبر شركات المعادن النفيسة في كندا وألمانيا.</p>
            <p>
              بالإضافة إلى السلع مثل أزواج العملات
              <a href="javascript:void(0)">مؤشر</a> الذهب ، فإن تداول المعادن الثمينة الأخرى نشط أيضًا في سوق العقود الآجلة. يمكنك التداول على مدار 24 ساعة في اليوم ، باستثناء عطلات نهاية الأسبوع. بشكل عام ، هناك طريقتان لتداول المعادن الثمينة: ​​العقود الفورية والعقود الآجلة. تتضمن العقود الفورية عمليات الشراء والمبيعات الفورية والدفع والتسليم. العقود الآجلة هي عقود قياسية. يتفق الطرفان على كمية معينة من أسعار المعادن الثمينة (تسمى أسعار العقود الآجلة) للتسليم والدفع في تاريخ مستقبلي (يسمى تاريخ التسليم). يشير تداول العقود الآجلة إلى حقيقة أنه لا توجد ملكية فعلية لسلع التداول عبر الإنترنت.
            </p>
            <div class="row top30"></div>
            <h3>تداول الذهب والمعادن النفيسة</h3>
            <div class="row top30"></div>
            <p>المعادن الثمينة الأكثر تداولًا هي الذهب والبلاتين والبلاديوم والفضة. يرجع حجم التداول المرتفع لهذه السلع إلى قيمتها الجوهرية المحتفظ بها ، بغض النظر عن الظروف الاقتصادية. في العقود الأخيرة ، ازداد بشكل كبير تفضيل شراء المعادن الثمينة كسلع استثمارية طويلة الأجل عبر الإنترنت وحتى الملكية المادية. يوفر تداول المعادن الثمينة أيضًا فرصًا للمهتمين بالاستثمارات قصيرة الأجل ، لأن المشتقات وعقود بيع الصرف الكثيفة هي رأس مال مكثف وطريقة وبسيطة لتحقيق الأرباح من خلال تغيرات الأسعار.</p>
            <p>على عكس معظم السلع التي تعتمد على مستوى الإنتاج والاستهلاك ، فإن أسعار تداول الذهب ليست على هذا النحو: فهي تتبع نبض التغيير السياسي ، مما يجعل الذهب أحيانًا بمثابة سوق آمن. نظرًا لأن الذهب والبلاتين والبلاديوم والفضة أصبحوا أيضًا أصولًا قيمة ، فإن المستثمرين يرونها كمخزن للقيمة عندما يكون السوق غير مستقر.</p>
            <p>هناك العديد من العوامل التي تؤثر على تقلبات الأسعار وقد تتسبب في تذبذب سوق المعادن الثمينة. أحد أهم العوامل هو المؤسسات المالية العالمية ، التي يكون استثمارها مضاربة بطبيعته وقد يؤدي إلى تغيرات في الأسعار صعودًا أو هبوطًا. هناك عامل آخر يؤثر على السوق وهو اتجاه المستخدمين النهائيين ، والذي يتم تشغيله بشكل أساسي من قبل مشتري المجوهرات: الطلب على المجوهرات يجعل سعر السوق للمعادن الثمينة يرتفع. للاقتصاد أيضًا تأثير على أسعار السوق. في الاقتصادات ذات الأداء الجيد حول العالم ، يرتبط مستوى الثروة ارتباطًا مباشرًا بالطلب على الذهب وغيره من المجوهرات المعدنية الثمينة: ​​عندما يبحث المستثمرون عن خيارات استثمار ذات مخاطر استثمارية أعلى ، سينخفض ​​سعر بعض المعادن الثمينة ، بينما ترتفع أسعار أخرى. علاوة على ذلك، التغيرات في طلب المنتجات المالية غير المعادن الثمينة يساهم أيضاً في تقلب السعر.</p>
            <div class="row top30"></div>
            <h3>ملخص لتاريخ تداول الذهب والمعادن النفيسة الأخرى</h3>
            <div class="row top30"></div>
            <p>لطالما كانت المعادن الثمينة ، وخاصة الذهب ، رمزًا للثروة. في عصور ما قبل التاريخ ، كان الذهب يستخدم في التبادل. لعدة قرون ، سواء في شكل عملات معدنية أو سبائك ذهبية أو سبائك ذهبية ذات نقاء ووزن ثابت ، كان الذهب أحد الأصول القيمة والمطلوبة. كانت العملة الأولى في عام 600 قبل الميلاد ، وتم استخدامه (الذهب العادي) في المداولات لمدة 30 عامًا. كونه معدن ذو موصلية عالية وليونة عالية ، لا يتفاعل الذهب مع العناصر الأخرى ، ويستخدم في صناعة المجوهرات والكيمياء التجارية والالكترونيات الطبية. تم استبدال الذهب كعملة فقط بنظام العملات الورقية بعد عام 1976 ، لكنه لا يزال يحتفظ بأصول استثمارية قوية حتى يومنا هذا.</p>
            <p>مثل الذهب ، تم استخدام الفضة لتبادل العملات لأكثر من 4000 عام ، واستمرت الفضة في القرن التاسع عشر. تجعل الطلبات الصناعية والتجارية والاستهلاكية الفضة أصلًا قويًا للاستثمار ، ويتم تداول المشتقات مثل العقود الآجلة للفضة في أسواق الصرف المختلفة حول العالم. مع ظهور التداول عبر الإنترنت ، قدم المستثمرون طريقة سهلة للحصول على سعر الفضة.</p>
            <p>بالمقارنة مع تجارة الذهب وتجارة الفضة منذ الحضارة القديمة ، فإن البلاتين والبلاديوم لهما تاريخ أقصر في المجال المالي. ومع ذلك ، وبسبب ندرتها وإنتاجها السنوي ، وكذلك استخداماتها المتنوعة في عدة مجالات صناعية ، فإنها تميل أحيانًا إلى أن تكون أغلى من الذهب ، وقد تصل إلى 10 أضعاف سعر الذهب. يرتبط البلاتين بالثروة ، وسبائك الذهب الأبيض والبلاتينيوم هي الحضارة التي اكتشفت القارة الأمريكية في وقت مبكر مثل كولومبوس. كان أول ذكر للبلاتين في أوروبا في القرن السادس عشر. منذ القرن الثامن عشر ، تم استخدامه في المجوهرات والآلات الكهربائية والمواد الكيميائية وطب الأسنان وحتى الطب.</p>
            <p>على غرار البلاتين ، يلعب البلاديوم أيضًا دورًا مهمًا في التكنولوجيا. منذ اكتشافه في أوروبا في القرن التاسع عشر ، زاد الطلب العالمي على البلاديوم بشكل كبير ، لا سيما في صناعة السيارات ، ولكنه استخدم أيضًا على نطاق واسع في الصناعات الدوائية والكهربائية والمجوهرات. أيضا كأصل استثماري. بسبب العرض والطلب (أي السوق المحدد بالسعر) ، في عصر الاستقرار الاقتصادي المستدام ، يمكن أن يكون سعر البلاتين والبلاديوم هو نفسه أو حتى أعلى من سعر الذهب. في فترات عدم الاستقرار الاقتصادي ، سيكون سعر البلاتين والبلاديوم أقل من سعر الذهب. يصبح معدنًا ثمينًا أكثر استقرارًا عند الاستثمار</p>
            <div class="row top30"></div>
            <h3>تداول الذهب والمعادن النفيسة اليوم</h3>
            <div class="row top30"></div>
            <p>
              منذ السبعينيات ، بالإضافة إلى تداول أزواج العملات
              <a href="javascript:void(0)">الأجنبية</a> ، أصبحت المعادن الثمينة أكثر السلع الاستثمارية شيوعًا ، وتستند فترة التضخم أو عدم اليقين الاقتصادي / السياسي إلى إدارة مخاطر السندات. الاستثمار طويل الأجل في الذهب والمعادن النفيسة الأخرى هو طريقة استثمار شائعة في جميع أنحاء العالم.
            </p>
            <p>العقود الآجلة هي ما يسمى بالعقود المشتقة ، مما يعني أن قيمتها تأتي من أداء الأصل الأساسي. أحد الأغراض الرئيسية للاستثمار في العقود الآجلة للمعادن الثمينة هو التخفيف من المخاطر: نظرًا لقدرة مشتري وبائعي العقود على المضي قدمًا في المعاملات المستقبلية بسعر أو سعر فائدة ثابت ، يمكنهم ضمان أن التغيرات الجذرية أو المفاجئة في الأسعار قد تؤدي إلى زيادة الأرباح .</p>
            <p>يمكن القول بأن تداول المعادن الثمينة ذو اتجاهين: إذا كان من المتوقع أن يرتفع السوق (اتجاه تصاعدي) ، يمكن بيع الصفقة من خلال شراء العقود الآجلة (طويلة) وتجارة التصدير ؛ وإذا كان هناك توقع بحركة هبوطية (اتجاه هبوطي) ، فيمكن تمرير صفقة بيع العقود الآجلة للدخول (قصير) وتصدير الصفقات من خلال عقود الشراء. من الممكن أيضًا تداول عقود آجلة متعددة ، بما في ذلك إجراء العديد من الإدخالات والصادرات المنفصلة ، أي الدخول في العقد بأسعار مختلفة ، و الخروج بسعر واحد ، أو العكس. سواء كان اتجاه السوق صاعدًا أو هبوطيًا ، فإن قدرة كلا الطرفين على التداول تسمح للمستثمرين بجني الأرباح.</p>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        tableIndex2:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Precious metals-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleTableIndex2(val){
         this.tableIndex2 = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }



  }


};
</script>





<style scoped lang="scss">
  .xmLeverage-200.fs100{
    width: 150px;height: 100px;display: block;
    // background: url(../../../static/images/ico-200-1.png) no-repeat center 0;
  }
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }
   .dis80 {
       height: 80px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}



.row {
    margin-left: -15px;
    margin-right: -15px;
}


footer{height: 300px;background-color: #333;text-align: center;}
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
  .table-wrap {
    display: contents !important;
    width: 100%;
  }

  .tab-content > .active {
    height: auto !important;
    width: auto;
  }

  .tab-content {
    height: auto !important;
  }

  .dataTables_paginate {
    height: auto !important;
  }
  p {
    margin-bottom: 2em;
  }
</style>
