<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" dir="rtl">
          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">ساعات التداول</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link>
                    </li>
                    <li class="post post-page current-item">ساعات المعاملة</li>
                  </ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>اتصل بنا</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container hidden-xs">
            <h2 class="top80">نحن نقدم</h2>
            <div class="row text-center top50">
              <div class="feature-item5">
                <i class="tfxfont3 xmChart-24h fs100 red"></i>
                <p>24 ساعة في اليوم للتداول عبر الإنترنت</p>
              </div>
              <div class="feature-item5">
                <i class="tfxfont3 xmCalendar fs100 red"></i>
                <p>من الأحد 22:05 بتوقيت جرينتش إلى الجمعة 21:50 بتوقيت جرينتش</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmClock fs100 red"></i>
                <p>معلومات السوق مباشرة</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p>آخر الأخبار المالية</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmChart-24h fs100 red"></i>
                <p>24/5 خدمة عملاء</p>
              </div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-sm-12 col-md-9"><br>تداول العملات الأجنبية والأسهم الفردية والسلع والمعادن الثمينة والطاقات ومؤشرات الأسهم في NOBLE SKY</div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">افتح حساب</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row">
              <div class="col-md-12">
                <h2>ساعات عمل سوق الصرف الأجنبي</h2>
                <p>لا يتوقف السوق أبدًا خلال أيام الأسبوع ، ولا المداولات على NOBLE SKY. إذا تم إغلاق أحد أسواق الصرف الأجنبي ، يبدأ الآخر في العمل مرة أخرى. لذلك ، يمكن للعملاء الاستمتاع بالتداول 24/5. وقت التداول في نيويورك هو 01:00 مساءً - 10:00 مساءً بتوقيت جرينتش ؛ وقت التداول في سيدني هو 10:00 مساءا بتوقيت جرينتش. يبدأ تداول طوكيو في الساعة 00:00 صباحًا وينتهي الساعة 9:00 صباحًا بتوقيت جرينتش ؛ يبدأ وقت التداول في لندن في الساعة 8:00 صباحًا وينتهي الساعة 05:00 مساءً بتوقيت جرينتش. يتيح ذلك للمتداولين من جميع أنحاء العالم ومساهمي البنوك المركزية في جميع القارات التداول على مدار 24 ساعة في اليوم (طوال اليوم).</p>
                <h2 class="top50">المزيد من وقت المداولة ، المزيد من الاحتمالات</h2>
                <p>يفتح سوق الصرف الأجنبي على مدار 24 ساعة في اليوم ومن المهم معرفة ساعات التداول الأكثر نشاطًا.</p>
                <p>على سبيل المثال ، إذا اخترنا فترة زمنية ذات حجم تداول منخفض ، فإن التوقيت الشرقي للولايات المتحدة من 5 مساءً إلى 7 مساءً بتوقيت شرق الولايات المتحدة يكون بعد إغلاق نيويورك وقبل فتح طوكيو. في هذا الوقت ، بدأت سيدني فقط التداول ، وبالتالي فإن السبريد خلال هذه الفترة الزمنية مرتفع نسبيًا مقارنة بلندن والولايات المتحدة وطوكيو. فرص تداول أقل تعني فرصًا مالية أقل. إذا كنت ترغب في تداول أزواج العملات مثل EUR / USD أو GBP / USD أو USD / CHF ، فإن الفترة الزمنية الأنسب هي 8:00 صباحًا - 12:00 ظهرًا ، وهي أكثر أوقات التداول نشاطًا في أوروبا والولايات المتحدة .</p>
              </div>
              <div class="col-md-12">
                <h2 class="top50">الإحتراس والفرص</h2>
                <p>الشيء الآخر الذي يحتاج المستثمرون إلى الحذر منه هو توقيت التقارير الحكومية والبيانات الإخبارية الرسمية الطارئة. على الرغم من أن كل حكومة ستعلن عن الوقت المحدد للبيان الإخباري مقدمًا ، نظرًا لاختلاف التوقيت ، يختلف وقت الإصدار لكل دولة أيضًا.</p>
                <p>
                  ومن ثم يجدر التعرف على المؤشرات الاقتصادية المنشورة في الدول الكبرى المختلفة ، حيث تتزامن هذه المؤشرات مع أوقات
                  <a href="/ar/forex-trading">تداول الفوركس </a>الأكثر نشاطًا ، النشاط المتزايد يعني فرصًا أكبر في أسعار العملات ، وأحيانًا يتم تنفيذ عمليات الشراء بأسعار تختلف عن ما كنت تتوقع.
                </p>
                <p>كمتداول ، لديك خياران: يمكنك المشاركة في فترة مكثفة من معاملات الصرف الأجنبي للحصول على أرباح أعلى من التقلبات العالية ؛ أو يمكنك أن تقرر تعليق التداول خلال هذه الفترات الزمنية وإجراء معاملات الصرف الأجنبي بحذر. بغض النظر عن ما تختار ، يجب أن تخطط مسبقًا لمنع حدوث تغييرات مفاجئة في السعر وقت صدور البيان الإخباري وتتسبب في خسارة المال.</p>
              </div>
              <div class="col-md-12">
                <h2 class="top50">ساعة الصفقة</h2>
                <p>بالنسبة للمتداولين يومياً ، يكون وقت التداول الأكثر فاعلية هو من بداية سوق لندن في الساعة 08:00 بتوقيت جرينتش وحتى نهاية السوق الأمريكية في الساعة 22:00 بتوقيت جرينتش. وقت ذروة التداول هو تداخل أسواق الولايات المتحدة ولندن في الساعة 1 مساءً بتوقيت جرينتش - 4 مساءً بتوقيت جرينتش. أسواق التداول الرئيسية لليوم هي لندن والولايات المتحدة والأسواق الآسيوية.</p>
                <p>فيما يلي لمحة موجزة عن ساعات التداول لمساعدتك على تحقيق أقصى استفادة من السوق:</p>
                <p>ساعات ذروة التداول في لندن - من 8 صباحًا إلى 5 مساءً بتوقيت جرينتش ؛ اليورو والجنيه الإسترليني والدولار الأمريكي هي العملات الأكثر تداولًا ؛</p>
                <p>ساعات الذروة في الولايات المتحدة - 1 مساءً بتوقيت جرينتش إلى 10 مساءً بتوقيت جرينتش ؛ العملات الأكثر تداولًا هي الدولار الأمريكي واليورو والجنيه الإسترليني والدولار الأسترالي والين الياباني ؛</p>
                <p>ذروة ساعات التداول الآسيوية - من الساعة 10:00 مساءً بتوقيت جرينتش يوم الأحد إلى بداية التداول الأوروبي ، حوالي الساعة 9 صباحًا بتوقيت جرينتش ؛ غير مناسب للتداول اليومي.</p>
              </div>
              <div class="col-md-12">
                <h2 class="top50">التداول عبر الانترنت</h2>
                <p>ساعات التداول في NOBLE SKY هي من الأحد 22:05 بتوقيت جرينتش إلى الجمعة 21:50 بتوقيت جرينتش. عندما يتم إغلاق خلفية التداول الخاصة بنا ، لن تقوم منصة التداول بعدها بإجراء المداولات ، ويمكنك مشاهدة البيانات فقط .</p>
                <p>لأي استشارة أو صعوبات فنية أو دعم طارئ ، لا تتردد في الاتصال بخدمة العملاء عبر الإنترنت على مدار 24 ساعة عبر البريد الإلكتروني أو التواصل خلال موقعنا. إذا لم يكن لديك جهاز كمبيوتر بجانبك ، فالرجاء الإحتفاظ بمعلومات تسجيل الدخول إلى حسابك الخاضة بك حتى يتمكن فريقنا من حل مشكلة طلبك.</p>
                <p>عند إغلاق تداول موجود ، أو تحديد ربح أو أمر إيقاف خسارة ، تحتاج أيضًا إلى تزويدنا برقم عملية الشراء. بعد ذلك ، ما عليك سوى تحديد زوج العملات وعدد المداولات. (على سبيل المثال: أريد تسعير 10 عقود يورو / دولار أمريكي). يرجى تذكر: إذا فشل التحقق من كلمة المرور أو إذا كنت لا تريد إجراء التحقق من كلمة المرور ، فلا يمكننا تنفيذ طلب الهاتف الخاص بك.</p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>
        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'



  

export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false





    };
  },
   metaInfo: {
      title: 'Trading hours-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }



  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap>footer{height: 300px;background-color: #333;text-align: center;}
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

  p {
    margin-bottom: 2em;
  }
</style>
