<template>
    <div class="wrap">
      <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <pageHeader2 backFlag="yes" :pageTitle="language[curLanguage][10]" :defaultLanguage="curLanguage" @routerBack="routerBack" @changeLanguage="changeLanguage" />
        <main>

            <div class="w-1200 theme-black verify">
                <h3><i class="icon icon-dotted"></i><router-link to="/my">{{language[curLanguage][1]}}</router-link></h3>
                <div class="verify-level-1">
                    <el-form :model="pwdInfo" :rules="rules" ref="pwdInfoForm" class="demo-ruleForm" id="pwdForm">
                    <div class="row">
                         <h5>{{language[curLanguage][10]}}</h5>
                         <div class="info-cell">
                             <ul>
                                 <li>
                                    <el-form-item :label="language[curLanguage][2]" prop="pwd">
                                        <el-input v-model.trim="pwdInfo.pwd" type="password" :placeholder="language[curLanguage][3]"></el-input>
                                    </el-form-item>
                                 </li>
                                 <li>
                                    <el-form-item :label="language[curLanguage][4]" prop="newPwd">
                                        <el-input v-model.trim="pwdInfo.newPwd" type="password" :placeholder="language[curLanguage][5]"></el-input>
                                    </el-form-item>
                                 </li>
                                 <li>
                                    <el-form-item :label="language[curLanguage][6]" prop="confirmPwd">
                                        <el-input v-model.trim="pwdInfo.confirmPwd" type="password" :placeholder="language[curLanguage][7]"></el-input>
                                    </el-form-item>
                                 </li>

                             </ul>
                         </div>
                    </div>

                    </el-form>

                    <div class="btn-box">

                        <button @click="submitPwd('pwdInfoForm')">{{language[curLanguage][9]}}</button>

                    </div>

                </div>


            </div>



        </main>
    </div>
</template>


<script>
import qs from 'qs'
import pageHeader from '../../components/pageHeader.vue'
import pageHeader2 from '../../components/pageHeader2.vue'
import {changePwd} from '../../utils/language'
import md5 from 'js-md5';
import {apiStateList} from '../../utils/result-state'
export default {
  name: "changePwd",

  data: function() {

    var validateConfirmPwd = (rule, value, callback) => {
           if (value === '') {
              callback(new Error('请再次输入密码'));
            } else if (value !== this.pwdInfo.newPwd) {
              callback(new Error('两次密码输入不一致'));
            } else {
              callback();
            }
        }
    return {
        lang:'',
        isLogin:false,
        curCoinType:1,
        curLanguage:2,
        pwdInfo:{
            pwd:'',
            newPwd:'',
            confirmPwd:''
        },

        userLoginInfo:{},
        userInfo:{},

//         rules: {
//           pwd:[
//             {required: true, message: '请输入旧密码', trigger: 'blur'}
//           ],
//            newPwd:[
//              {required: true, message: '新密码不能为空', trigger: 'blur'}
//            ],
//            confirmPwd:[
//              {required: true,validator: validateConfirmPwd, trigger: 'blur' }
//            ]
//
//         },

        language:changePwd,
        resultStateList:apiStateList
    };
  },
   metaInfo() {
       return{
          title: this.curLanguage==1?'修改密码 - N Sky':'Modify Password - N Sky',
       }

   },
  created(){

       this.isLogin = this.util.isLogin();
       if(!!this.isLogin){
           this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
           this.userInfo = JSON.parse(this.localStore.getItem('userInfo'));
           this.userCountry = JSON.parse(this.localStore.getItem('userCountry'));
            console.log(this.userCountry)
       }else{
           this.$router.push({name:'login'});
           return
       }




       if(!this.userInfo){
            this.$router.push({name:'my'});
            return
       }

       const storeCoinType = this.localStore.getItem('curCoinType');
       const storeLanguage = this.localStore.getItem('curLanguage');

       this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
       this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

      this.handleCommand(this.curLanguage)

  },

  components: {
   pageHeader,
   pageHeader2
  },
  computed: {


      rules() {

        var validateConfirmPwd = (rule, value, callback) => {
               if (value === '') {
                  callback(new Error(this.language[this.curLanguage][7]));
                } else if (value !== this.pwdInfo.newPwd) {
                  callback(new Error(this.language[this.curLanguage][11]));
                } else {
                  callback();
                }
            }

        return {


                  pwd:[
                    {required: true, message:  this.$t("changePwd.pwd"), trigger: 'blur'}
                  ],
                   newPwd:[
                     {required: true, message:  this.$t("changePwd.newPwd"), trigger: 'blur'}
                   ],
                   confirmPwd:[
                     {required: true,validator: validateConfirmPwd, trigger: 'blur' }
                   ]
          };
      }
    },
  methods: {
    getStateCodeText(code){
          let text = this.resultStateList.find(item=>{
             return item.code == code
          })
          if(this.curLanguage==1){
            return text.cn
          }else{
            return text.en
          }
    
    },
    handleCommand(command) {
          // this.$message("click on item " + command);
          switch (command) {
            case 1: {
              this.lang = "zh";
              this.$i18n.locale = this.lang;
              break;
            }
            case 2: {
              this.lang = "en";
              this.$i18n.locale = this.lang;
              break;
            }

            default:
              break;
          }
        },
      changeCoinType(val){
        this.curCoinType = val;
      },
      changeLanguage(val){
        
        this.curLanguage = val;
        this.handleCommand(this.curLanguage)
        this.$refs.pageHead.handleLan();
      },

     submitPwd(formName){
           ////////////////

           this.$refs[formName].validate((valid) => {
             if (valid) {

               const api = this.$api.url.changePwd;


                        const params = {
                           Uid:this.userLoginInfo.userID,
                           Token:this.userLoginInfo.session,
                           Device:'web',
                           NewPwd:md5(this.pwdInfo.newPwd),
                           OldPwd:md5(this.pwdInfo.pwd)
                        }

                         this.$axios.post(api,params)
                        .then((res)=>{
                            if(res.data.code==0){
                                  this.$message({
                                    message:this.language[this.curLanguage][12],
                                    type: "success",
                                    center: true,
                                    duration:1800
                                  })
                                 this.$router.push({name:'my'});
                              // this.getUserVerify1()

                            }else{
                              let resultMsg = this.getStateCodeText(res.data.code)
                              this.$message({
                                message:this.language[this.curLanguage][13]+" " +this.language[this.curLanguage][14]+resultMsg,
                                type: "error",
                                center: true,
                                duration:1800
                              })
                            }


                        }).catch((error)=>{
                            this.$message({
                              message: error,
                              type: "error",
                              center: true,
                            duration:1800
                            })
                          })


             } else {
               console.log('error submit!!');
               return false;
             }
           });


     },

      userLogout(){
         this.$router.push({name:'login'});
      },
      routerBack(){
         this.$router.back();
      }

  }

};
</script>





<style scoped lang="scss">

 .wrap{font-size: .7rem;background:#fafafa;padding-bottom: 4.2rem;padding-top: 2.5rem;
 
      h3{height: 2.5rem;line-height: 2.5rem;border-bottom: 1px solid #eee;background: #fff;position: fixed;width:100%;left:0;top:0;
        i{margin:0 .5rem 0 .75rem;}
      }
 
      .row{padding-top: .75rem;
         h5{height: 2rem;line-height: 2rem;font-size: .8rem;padding:0 0 0 1rem;}
         .info-cell{background: #fff;padding:.5rem;margin: 0 .75rem;
 
         }
      }
 
   }
 
 
  .btn-box{padding:0 .75rem;
      margin-top: 1rem;
     button{width:100%;height: 2.5rem;border-radius: .15rem;background:#387ee2;color: #fff;font-size: .8rem;cursor: pointer;
     -webkit-transition:background .2s ease 0s;transition:background .2s ease 0s;}
     button:hover{background:#2b6ecd;}
      button.dasable{background: #aaa;color: #fff;cursor:not-allowed}
  }

 h4, .h4, h5, .h5, h6, .h6 {
     margin-top: 0;
     margin-bottom: 0;
 }


</style>

<style lang="scss">
     .change-pwd .row{
       .el-form-item{margin-bottom: 0;}

       .el-form-item__label{color: #999;}
       .el-form-item__content{text-align: right;}
       .el-date-editor.el-input, .el-date-editor.el-input__inner,.el-select{
         width:100%;
       }
     }
#pwdForm{overflow-y: clip;}

</style>
