<template>
		<div class="wrap">
      <pageHeader2 pageName="register" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage"
      @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
      <pageHeader pageName="register" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage"
      @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
      <div class="login-overlay"></div>
			<main style="z-index: 5">
          <!-- <div class="register-box"> -->
            <div class="main-box">
              
              <div class="form-cont">
                <div class="top-buttons">
                <button class="to-signup top-active-button">{{language[curLanguage][27]}}</button>
                <router-link to="/login"><button class="to-signin">{{language[curLanguage][75]}}</button></router-link>
              </div>
               <h3><i class="fas fa-user-tie"></i> {{language[curLanguage][1]}}</h3>
              
              <div id="type" style="display:flex">
                <sction class="form-tabs">
                  <div class="form-tabs__slider"></div>
                  <button class="form-tabs__btn form-tabs__btn_sign-in" v-on:click="selectType(1)">{{language[curLanguage][46]}}</button>
                  <button class="form-tabs__btn form-tabs__btn_register" v-on:click="selectType(2)">{{language[curLanguage][45]}}</button>
                </sction>
              </div>
              <div class="form form-signup">
                <!-- <form action="#"> -->
                  <el-form :model="registerForm" :rules="rules" ref="registerForm" class="demo-ruleForm" v-if="registerID==1">

                    <el-form-item :label="language[curLanguage][2]">
                       <el-select v-model="registerForm.country" name="country" popper-class="country-list" @change="settingTelHead">
                         <div class="country-filter-fixed">
                             <div class="country-filter">
                                 <div class="cell">
                                     <i class="icon icon-search"></i>
                                     <input v-model.trim="filterSubstring" @input="handleCountryList" :placeholder="language[curLanguage][41]" />
                                 </div>
                                 <!-- <div class="no-data-tip" v-if="countryOptions.length==0">没有相匹配的国家</div> -->
                             </div>
                         </div>

                         <el-option v-for="item in countryOptions" :key="item.id" :label="curLanguage==1?item.cn:item.en" :value="item.id">
                         </el-option>
                       </el-select>
                       <!-- <p class="p-tip">{{language[curLanguage][18]}}</p> -->
                     </el-form-item>



                     <el-form-item :label="language[curLanguage][3]" prop="email">
                       <el-input v-model.trim="registerForm.email" :placeholder="language[curLanguage][4]">  </el-input>
                       <!-- <p class="p-tip" style="height: 24px;">{{language[curLanguage][39]}}</p> -->
                     </el-form-item>



                    <!-- <el-form-item :label="language[curLanguage][40]" prop="phone">
                        <el-input v-model="registerForm.phone" type="text" auto-complete="off" :placeholder="language[curLanguage][42]">  </el-input>
                     </el-form-item> -->
                     <div class="register-phone-item">

                           <el-form-item :label="language[curLanguage][40]" prop="phone">
                               <div class="phone-wrap">
                                   <div class="select-box" style="direction:ltr!important">
                                       <el-select v-model="registerForm.telHead" popper-class="country-list phone">
                                         <div class="country-filter-fixed">
                                             <div class="country-filter">
                                                 <div class="cell">
                                                     <i class="icon icon-search"></i>
                                                     <input v-model.trim="filterSubstring" @input="handleCountryList" :placeholder="language[curLanguage][41]" />
                                                 </div>
                                                 <!-- <div class="no-data-tip" v-if="countryOptions.length==0">没有相匹配的国家</div> -->
                                             </div>
                                         </div>

                                         <el-option v-for="item in countryOptions" :key="item.id" :label="'00'+item.tel" :value="item.tel">
                                                   <span style="float: left">{{curLanguage==1?item.cn:item.en}}</span>
                                                   <span style="float: right; color: #8492a6; font-size: 13px">{{'+' + item.tel }}</span>
                                         </el-option>
                                       </el-select>
                                   </div>
                                   <div class="phone-input-box">
                                       <el-input v-model.trim="registerForm.phone" type="text" auto-complete="off" :placeholder="language[curLanguage][42]">  </el-input>
                                   </div>
                               </div>

                           </el-form-item>
                     </div>

                     <el-form-item :label="language[curLanguage][6]" prop="pwd">
                       <el-input v-model="registerForm.pwd" type="password" auto-complete="off" :placeholder="language[curLanguage][7]">  </el-input>
                     </el-form-item>
                     <el-form-item :label="language[curLanguage][9]" prop="confirmPwd">
                       <el-input v-model="registerForm.confirmPwd" type="password" auto-complete="off" :placeholder="language[curLanguage][11]">  </el-input>
                     </el-form-item>
                     <el-form-item :label="language[curLanguage][12]" prop="recommendCode">
                       <el-input v-model="registerForm.recommendCode" :placeholder="language[curLanguage][13]">  </el-input>
                     </el-form-item>




                  <el-form-item>
                      <el-checkbox v-model="checkedAgreement">{{language[curLanguage][17]}}</el-checkbox>
                      <a href="javascript:" @click="goAgreement">{{language[curLanguage][26]}}</a>
                  </el-form-item>



              </el-form>


              <el-form :model="registerForm2" :rules="rules" ref="registerForm" class="demo-ruleForm" v-if="registerID==2">

                    <el-form-item :label="language[curLanguage][55]" prop="system">
                      <el-select v-model="registerForm2.system" popper-class="country-list">
                        <el-option v-for="item in systemGroup" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                      </el-select>
                    </el-form-item>

                    <el-form-item :label="language[curLanguage][2]">
                       <el-select v-model="registerForm2.country" popper-class="country-list" @change="settingTelHead">
                         <div class="country-filter-fixed">
                             <div class="country-filter">
                                 <div class="cell">
                                     <i class="icon icon-search"></i>
                                     <input v-model.trim="filterSubstring" @input="handleCountryList" :placeholder="language[curLanguage][41]" />
                                 </div>
                                 <!-- <div class="no-data-tip" v-if="countryOptions.length==0">没有相匹配的国家</div> -->
                             </div>
                         </div>

                         <el-option v-for="item in countryOptions" :key="item.id" :label="curLanguage==1?item.cn:item.en" :value="item.id">
                         </el-option>
                       </el-select>
                       <p class="p-tip">{{language[curLanguage][18]}}</p>
                     </el-form-item>



                     <el-form-item :label="language[curLanguage][3]" prop="email">
                       <el-input v-model.trim="registerForm2.email" :placeholder="language[curLanguage][4]">  </el-input>
                       <p class="p-tip" style="height: 24px;">{{language[curLanguage][39]}}</p>
                     </el-form-item>



                    <!-- <el-form-item :label="language[curLanguage][40]" prop="phone">
                        <el-input v-model="registerForm2.phone" type="text" auto-complete="off" :placeholder="language[curLanguage][42]">  </el-input>
                     </el-form-item> -->
                     <div class="register-phone-item">
                           <el-form-item :label="language[curLanguage][40]" prop="phone">
                               <div class="phone-wrap">
                                   <div class="select-box" style="direction:ltr!important">
                                       <el-select v-model="registerForm2.telHead" popper-class="country-list phone">
                                         <div class="country-filter-fixed">
                                             <div class="country-filter">
                                                 <div class="cell">
                                                     <i class="icon icon-search"></i>
                                                     <input v-model.trim="filterSubstring" @input="handleCountryList" :placeholder="language[curLanguage][41]" />
                                                 </div>
                                                 <!-- <div class="no-data-tip" v-if="countryOptions.length==0">没有相匹配的国家</div> -->
                                             </div>
                                         </div>

                                         <el-option v-for="item in countryOptions" :key="item.id" :label="'00'+item.tel" :value="item.tel">
                                                   <span style="float: left">{{curLanguage==1?item.cn:item.en}}</span>
                                                   <span style="float: right; color: #8492a6; font-size: 13px">{{'+' + item.tel }}</span>
                                         </el-option>
                                       </el-select>
                                   </div>
                                   <div class="phone-input-box">
                                       <el-input v-model.trim="registerForm2.phone" type="text" auto-complete="off" :placeholder="language[curLanguage][42]">  </el-input>
                                   </div>
                               </div>

                           </el-form-item>
                     </div>




                     <el-form-item :label="language[curLanguage][49]" prop="sex">
                         <el-radio v-model="registerForm2.sex" :label="sex[1]">{{language[curLanguage][50]}}</el-radio>
                         <el-radio v-model="registerForm2.sex" :label="sex[0]">{{language[curLanguage][51]}}</el-radio>
                     </el-form-item>



                     <el-form-item :label="language[curLanguage][52]" prop="name">
                       <el-input v-model="registerForm2.name" :placeholder="language[curLanguage][63]">  </el-input>
                     </el-form-item>

                     <el-form-item :label="language[curLanguage][48]" prop="age">
                       <el-input v-model="registerForm2.age" :placeholder="language[curLanguage][64]">  </el-input>
                     </el-form-item>

                     <el-form-item :label="language[curLanguage][54]" prop="period">
                       <el-input v-model="registerForm2.period" :placeholder="language[curLanguage][65]">  </el-input>
                     </el-form-item>


                     <el-form-item :label="language[curLanguage][62]" prop="reasons">
                       <el-input type="textarea" :rows="3" v-model="registerForm2.reasons" :placeholder="language[curLanguage][66]">  </el-input>
                     </el-form-item>

                     <el-form-item :label="language[curLanguage][53]" prop="address">
                       <el-input type="textarea" :rows="3" v-model="registerForm2.address" :placeholder="language[curLanguage][67]">  </el-input>
                     </el-form-item>





                  <el-form-item style="line-hight:15px">
                      <el-checkbox v-model="checkedAgreement">{{language[curLanguage][17]}}</el-checkbox>
                      <a href="javascript:" @click="goAgreement">{{language[curLanguage][26]}}</a>
                  </el-form-item>



              </el-form>
              <input type="submit" @click="submitRegisterInfo('registerForm')" style="float:unset"  v-if="registerID==1" class="form-btn" v-bind:value="language[curLanguage][14]">
              <input type="submit" @click="submitApplication('registerForm')" style="float:unset"  v-if="registerID==2" class="form-btn" v-bind:value="language[curLanguage][68]">
                <!-- </form> -->
              </div>
            </div>
            </div>
           
            
              <!-- <div class="register-type-item">
                        <span>{{language[curLanguage][44]}}</span>
                        <div class="select-type">
                            <span :class="{active:registerID==1}" @click="selectType(1)">{{language[curLanguage][69]}}<i class="icon icon-badges" v-if="registerID==1"></i></span>
                            <span :class="{active:registerID==2}" @click="selectType(2)">{{language[curLanguage][70]}}<i class="icon icon-badges" v-if="registerID==2"></i></span>
                        </div>
              </div>

              <el-form :model="registerForm" :rules="rules" ref="registerForm" class="demo-ruleForm" v-if="registerID==1">

                    <el-form-item :label="language[curLanguage][2]">
                       <el-select v-model="registerForm.country" popper-class="country-list" @change="settingTelHead">
                         <div class="country-filter-fixed">
                             <div class="country-filter">
                                 <div class="cell">
                                     <i class="icon icon-search"></i>
                                     <input v-model.trim="filterSubstring" @input="handleCountryList" :placeholder="language[curLanguage][41]" />
                                 </div>
                                 < <div class="no-data-tip" v-if="countryOptions.length==0">没有相匹配的国家</div> -->
                             <!-- </div> -->
                         <!-- </div> -->

                         <!-- <el-option v-for="item in countryOptions" :key="item.id" :label="curLanguage==1?item.cn:item.en" :value="item.id">
                         </el-option>
                       </el-select>
                       <p class="p-tip">{{language[curLanguage][18]}}</p>
                     </el-form-item>



                     <el-form-item :label="language[curLanguage][3]" prop="email">
                       <el-input v-model.trim="registerForm.email" :placeholder="language[curLanguage][4]">  </el-input>
                       <p class="p-tip" style="height: 24px;">{{language[curLanguage][39]}}</p>
                     </el-form-item> -->



                    <!-- <el-form-item :label="language[curLanguage][40]" prop="phone">
                        <el-input v-model="registerForm.phone" type="text" auto-complete="off" :placeholder="language[curLanguage][42]">  </el-input>
                     </el-form-item> -->
                     <!-- <div class="register-phone-item">

                           <el-form-item :label="language[curLanguage][40]" prop="phone">
                               <div class="phone-wrap">
                                   <div class="select-box">
                                       <el-select v-model="registerForm.telHead" popper-class="country-list phone">
                                         <div class="country-filter-fixed">
                                             <div class="country-filter">
                                                 <div class="cell">
                                                     <i class="icon icon-search"></i>
                                                     <input v-model.trim="filterSubstring" @input="handleCountryList" :placeholder="language[curLanguage][41]" />
                                                 </div> -->
                                                 <!-- <div class="no-data-tip" v-if="countryOptions.length==0">没有相匹配的国家</div> -->
                                             <!-- </div>
                                         </div>

                                         <el-option v-for="item in countryOptions" :key="item.id" :label="'00'+item.tel" :value="item.tel">
                                                   <span style="float: left">{{curLanguage==1?item.cn:item.en}}</span>
                                                   <span style="float: right; color: #8492a6; font-size: 13px">{{'+' + item.tel }}</span>
                                         </el-option>
                                       </el-select>
                                   </div>
                                   <div class="phone-input-box">
                                       <el-input v-model.trim="registerForm.phone" type="text" auto-complete="off" :placeholder="language[curLanguage][42]">  </el-input>
                                   </div>
                               </div>

                           </el-form-item>
                     </div>

                     <el-form-item :label="language[curLanguage][6]" prop="pwd">
                       <el-input v-model="registerForm.pwd" type="password" auto-complete="off" :placeholder="language[curLanguage][7]">  </el-input>
                     </el-form-item>
                     <el-form-item :label="language[curLanguage][9]" prop="confirmPwd">
                       <el-input v-model="registerForm.confirmPwd" type="password" auto-complete="off" :placeholder="language[curLanguage][11]">  </el-input>
                     </el-form-item>
                     <el-form-item :label="language[curLanguage][12]" prop="recommendCode">
                       <el-input v-model="registerForm.recommendCode" :placeholder="language[curLanguage][13]">  </el-input>
                     </el-form-item>




                  <el-form-item>
                      <el-checkbox v-model="checkedAgreement">{{language[curLanguage][17]}}</el-checkbox>
                      <a href="javascript:" @click="goAgreement">{{language[curLanguage][26]}}</a>
                  </el-form-item>



              </el-form>


              <el-form :model="registerForm2" :rules="rules" ref="registerForm" class="demo-ruleForm" v-if="registerID==2">

                    <el-form-item :label="language[curLanguage][55]" prop="system">
                      <el-select v-model="registerForm2.system" popper-class="country-list">
                        <el-option v-for="item in systemGroup" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                      </el-select>
                    </el-form-item>

                    <el-form-item :label="language[curLanguage][2]">
                       <el-select v-model="registerForm2.country" popper-class="country-list" @change="settingTelHead">
                         <div class="country-filter-fixed">
                             <div class="country-filter">
                                 <div class="cell">
                                     <i class="icon icon-search"></i>
                                     <input v-model.trim="filterSubstring" @input="handleCountryList" :placeholder="language[curLanguage][41]" />
                                 </div> -->
                                 <!-- <div class="no-data-tip" v-if="countryOptions.length==0">没有相匹配的国家</div> -->
                             <!-- </div>
                         </div>

                         <el-option v-for="item in countryOptions" :key="item.id" :label="curLanguage==1?item.cn:item.en" :value="item.id">
                         </el-option>
                       </el-select>
                       <p class="p-tip">{{language[curLanguage][18]}}</p>
                     </el-form-item>



                     <el-form-item :label="language[curLanguage][3]" prop="email">
                       <el-input v-model.trim="registerForm2.email" :placeholder="language[curLanguage][4]">  </el-input>
                       <p class="p-tip" style="height: 24px;">{{language[curLanguage][39]}}</p>
                     </el-form-item> -->



                    <!-- <el-form-item :label="language[curLanguage][40]" prop="phone">
                        <el-input v-model="registerForm2.phone" type="text" auto-complete="off" :placeholder="language[curLanguage][42]">  </el-input>
                     </el-form-item> -->
                     <!-- <div class="register-phone-item">
                           <el-form-item :label="language[curLanguage][40]" prop="phone">
                               <div class="phone-wrap">
                                   <div class="select-box">
                                       <el-select v-model="registerForm2.telHead" popper-class="country-list phone">
                                         <div class="country-filter-fixed">
                                             <div class="country-filter">
                                                 <div class="cell">
                                                     <i class="icon icon-search"></i>
                                                     <input v-model.trim="filterSubstring" @input="handleCountryList" :placeholder="language[curLanguage][41]" />
                                                 </div> -->
                                                 <!-- <div class="no-data-tip" v-if="countryOptions.length==0">没有相匹配的国家</div> -->
                                             <!-- </div>
                                         </div>

                                         <el-option v-for="item in countryOptions" :key="item.id" :label="'00'+item.tel" :value="item.tel">
                                                   <span style="float: left">{{curLanguage==1?item.cn:item.en}}</span>
                                                   <span style="float: right; color: #8492a6; font-size: 13px">{{'+' + item.tel }}</span>
                                         </el-option>
                                       </el-select>
                                   </div>
                                   <div class="phone-input-box">
                                       <el-input v-model.trim="registerForm2.phone" type="text" auto-complete="off" :placeholder="language[curLanguage][42]">  </el-input>
                                   </div>
                               </div>

                           </el-form-item>
                     </div>




                     <el-form-item :label="language[curLanguage][49]" prop="sex">
                         <el-radio v-model="registerForm2.sex" :label="sex[1]">{{language[curLanguage][50]}}</el-radio>
                         <el-radio v-model="registerForm2.sex" :label="sex[0]">{{language[curLanguage][51]}}</el-radio>
                     </el-form-item>



                     <el-form-item :label="language[curLanguage][52]" prop="name">
                       <el-input v-model="registerForm2.name" :placeholder="language[curLanguage][63]">  </el-input>
                     </el-form-item>

                     <el-form-item :label="language[curLanguage][48]" prop="age">
                       <el-input v-model="registerForm2.age" :placeholder="language[curLanguage][64]">  </el-input>
                     </el-form-item>

                     <el-form-item :label="language[curLanguage][54]" prop="period">
                       <el-input v-model="registerForm2.period" :placeholder="language[curLanguage][65]">  </el-input>
                     </el-form-item>


                     <el-form-item :label="language[curLanguage][62]" prop="reasons">
                       <el-input type="textarea" :rows="3" v-model="registerForm2.reasons" :placeholder="language[curLanguage][66]">  </el-input>
                     </el-form-item>

                     <el-form-item :label="language[curLanguage][53]" prop="address">
                       <el-input type="textarea" :rows="3" v-model="registerForm2.address" :placeholder="language[curLanguage][67]">  </el-input>
                     </el-form-item>





                  <el-form-item>
                      <el-checkbox v-model="checkedAgreement">{{language[curLanguage][17]}}</el-checkbox>
                      <a href="javascript:" @click="goAgreement">{{language[curLanguage][26]}}</a>
                  </el-form-item>



              </el-form> --> 

              

              <!-- <div class="btn-box"> -->
                  <!-- <button @click="nextStep('registerForm')" v-if="registerType==0">{{language[curLanguage][14]}}</button> -->
                  <!-- <button @click="submitRegisterInfo('registerForm')" v-if="registerID==1">{{language[curLanguage][14]}}</button>
                  <button @click="submitApplication('registerForm')" v-if="registerID==2">{{language[curLanguage][68]}}</button>
              </div> -->
          <!-- </div> -->



			</main>
		</div>
</template>

<script>
import pageHeader from '../../components/pageHeader.vue';
import pageHeader2 from '../../components/pageHeader2.vue';
import {RegisterLanguage} from '../../utils/language';
import md5 from 'js-md5';
import {apiStateList} from '../../utils/result-state';

import VueSlickCarousel from 'vue-slick';

import $ from 'jquery'


export default {
  name: "chart",
  data: function() {


    return {
         lang:'en',
         sex:[0,1],
         systemGroup:[
            {value:1,label:'现货'},
            {value:2,label:'期货'},
            {value:3,label:'股票'},
            {value:4,label:'黄金'}
         ],
         registerForm: {
           ccode:'',
           country:'',
            email: '',
            pwd: '',
            confirmPwd:'',
            recommendCode:'',
            phone:'',
            telHead:'',
            userType:1
        },
        registerForm2: {
           ccode:'',
           country:'',
            email: '',
            phone:'',
            telHead:'',
            sex:1,
            name:'',
            age:'',
            period:'',
            system:1,
            reasons:'',
            address:''

        },
        countryOptions:[
          {label:'中国',value:1},
          {label:'美国',value:2},
          {label:'安哥拉',value:3}
        ],
        countryOptionsCopy:[],
        curCoinType:1,
        curLanguage:2,
        checkedAgreement:true,
        filterSubstring:'',
        language:RegisterLanguage,

//         rules: {
//           email: [
//             { required: true, message: '邮箱账号不能为空', trigger: 'blur' },
//             { validator: validateEmail, trigger: 'blur' }
//           ],
//           pwd:[
//             {required: true, message: '密码不能为空', trigger: 'blur'},
//             {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
//           ],
//            confirmPwd:[
//             {required: true,validator: validateConfirmPwd, trigger: 'blur' }
//           ],
//           recommendCode:[
//             {required: true, message: '请输入推荐码', trigger: 'blur'}
//           ]
//
//         },
        registerType:0,
        userTypeGroup:[
           {label:'模拟用户',value:0},
           {label:'实盘用户',value:1}
        ],
        resultStateList:apiStateList,
        registerID:1,
      slickOptionsLogin: {
        focusOnSelect: true,
        infinite: true,
        speed: 500,
        slidesToShow: 3,
        slidesToScroll: 1,
        touchThreshold: 1,
        accessibility: true,
        adaptiveHeight: false,
        arrows: true,
        draggable: true,
        swipe: true,
        // variableWidth: true,
        responsive: [
          {
            breakpoint: 620,
            settings: {
              arrows: true
            }
          },
          {
            breakpoint: 345,
            settings: {
              arrows: true
            }
          }
        ]
      }

    };
  },
   metaInfo() {
       return{
          title: this.curLanguage==1?'注册 - N Sky':'Register - N Sky',
       }
   
   },
  created(){

    
    const queryRecommendCode = this.$route.query.recommend;
    if(!!queryRecommendCode){
        this.registerForm.recommendCode = queryRecommendCode;
    }

    if(!!this.$route.params.regType){
      this.registerID = this.$route.params.regType
    }

   console.log(this.localStore.getItem('registerID'))

    if(this.localStore.getItem('registerID') != undefined){
      console.log('////')
        this.registerID = this.localStore.getItem('registerID')
        if(this.registerID==1){
           this.registerForm = JSON.parse(this.localStore.getItem('registerForm'));
        }else{
           this.registerForm2 = JSON.parse(this.localStore.getItem('registerForm'));
        }
        this.localStore.removeItem('registerID')
        this.localStore.removeItem('registerForm')
    }

   // this.getRegisterType();
   const storeCoinType = this.localStore.getItem('curCoinType');
   const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage
   
   this.rules.email[0].required=true;
   this.rules.email[0].message = this.language[this.curLanguage][5];
   this.rules.pwd[0].required=true;
   this.rules.pwd[0].message = this.language[this.curLanguage][8];
   this.rules.recommendCode[0].required=true;
   this.rules.recommendCode[0].message = this.language[this.curLanguage][13];

   this.getCountry();

   // if(!!this.localStore.getItem('registerForm')){
   //    this.registerForm = JSON.parse(this.localStore.getItem('registerForm'));
   //    this.localStore.removeItem('registerForm');
   // }
   this.handleCommand(this.curLanguage)
   this.settingAPIDataLanguage();
  },

  components: {
   pageHeader,
   pageHeader2,
   VueSlickCarousel
  },
  computed: {


      rules() {

        var validateEmail = (rule, value, callback) => {
                    if(!this.util.isEmail(value)){
                      callback(new Error(this.language[this.curLanguage][16]))
                    }else{
                      callback();
                    }
                }
        var validateConfirmPwd = (rule, value, callback) => {

                   if (value === '') {
                      callback(new Error(this.language[this.curLanguage][11]));
                    } else if (value !== this.registerForm.pwd) {
                      callback(new Error(this.language[this.curLanguage][15]));
                    } else {
                      callback();
                    }

                }


         var validatePhone = (rule, value, callback) => {
                    if(!this.util.isIntNumber(value)){
                      callback(new Error(this.language[this.curLanguage][43]))
                    }else{
                      callback();
                    }
                }

        return {

                  // xcb
                  email: [
                    { required: true, message: this.$t("register.email"), trigger: 'blur' },
                    { validator:validateEmail, trigger: 'blur' }
                  ],
                  phone:[
                    {required: true, message: this.$t("register.phone"), trigger: 'blur' },
                    {validator:validatePhone, trigger:'blur' }
                  ],
                  pwd:[
                    {required: true, message: this.$t("register.pwd"), trigger: 'blur'},
                    {min: 6, max:16,message: this.$t("register.pwdLengthTip"), trigger: 'blur'}
                  ],
                   confirmPwd:[
                    {required: true,validator:validateConfirmPwd, trigger: 'blur' }
                  ],
                  recommendCode:[
                    {required: true, message: this.$t("register.recommendCode"), trigger: 'blur'}
                  ],
                  name:[
                    {required: true, message: this.$t("register.name"), trigger: 'blur'}
                  ],
                  age:[
                    {required: true, message: this.$t("register.age"), trigger: 'blur'}
                  ],
                  period:[
                    {required: true, message: this.$t("register.period"), trigger: 'blur'}
                  ],
                  reasons:[
                    {required: true, message: this.$t("register.reasons"), trigger: 'blur'}
                  ],
                  address:[
                    {required: true, message: this.$t("register.address"), trigger: 'blur'}
                  ]
          };
      }
    },
    mounted(){
       document.documentElement.scrollTop = 0;
       var url=window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
        $(document).ready(function (){ 
              $(".to-signin").on("click", function () {
      $(this)
        .addClass("top-active-button")
        .siblings()
        .removeClass("top-active-button");
      $(".form-signup").slideUp(500);
      $(".form-signin").slideDown(500);
    });
  
    $(".to-signup").on("click", function () {
      $(this)
        .addClass("top-active-button")
        .siblings()
        .removeClass("top-active-button");
      $(".form-signin").slideUp(500);
      $(".form-signup").slideDown(500);
    });
  
    $(".to-signin-link").on("click", function () {
      $(".to-signin")
        .addClass("top-active-button")
        .siblings()
        .removeClass("top-active-button");
      $(".form-signup").slideUp(200);
      $(".form-signin").slideDown(200);
    });
  
    $(".to-signup-link").on("click", function () {
      $(".to-signup")
        .addClass("top-active-button")
        .siblings()
        .removeClass("top-active-button");
      $(".form-signin").slideUp(200);
      $(".form-signup").slideDown(200);
    });
    if (url=="register"){
    const mainSwitchBtn = document.querySelector('.form-tabs__slider'),
    signInSwitchBtn = document.querySelector('.form-tabs__btn_sign-in'),
    registerSwitchBtn = document.querySelector('.form-tabs__btn_register');
signInSwitchBtn.addEventListener('click', () => { 
mainSwitchBtn.style.left = '0px';
registerSwitchBtn.style.color = '#cacaca';
signInSwitchBtn.style.color = 'white';
});
registerSwitchBtn.addEventListener('click', () => { 
mainSwitchBtn.style.left = '50%';
registerSwitchBtn.style.color = 'white';
signInSwitchBtn.style.color = '#cacaca';
});}
        });
    },
  methods: {
    goAgreement(){

         if(this.registerID==1){

             this.localStore.setItem('registerForm',this.registerForm);
             this.localStore.setItem('registerID',1);
         }else{
             this.localStore.setItem('registerForm',this.registerForm2);
             this.localStore.setItem('registerID',2);
         }



         this.$router.push({name:'usserAgreement'})

    },
    selectType(val){
       this.registerID = val
       this.settingTelHead(this.countryOptions[0].id)
    },
     getStateCodeText(code){
           let text = this.resultStateList.find(item=>{
              return item.code == code
           })
           if(this.curLanguage==1){
             return text.cn
           }else{
             return text.en
           }
     
     },
     settingTelHead(val){



         const countryFind = this.countryOptions.find(item=>{
             return val == item.id
         })
         if(this.registerID==1){
            this.registerForm.telHead = countryFind.tel
         }else{
            this.registerForm2.telHead = countryFind.tel
            this.registerForm2.Nationality = this.curLanguage==1?countryFind.cn:countryFind.en
         }




     },
     settingAPIDataLanguage(){
         let userTypeGroup = [
           {label:this.language[this.curLanguage][45],value:0},
           {label:this.language[this.curLanguage][46],value:1}
         ]

         let systemGroup = [
           {value:1,label:this.language[this.curLanguage][56]},
           {value:2,label:this.language[this.curLanguage][57]},
           {value:3,label:this.language[this.curLanguage][58]},
           {value:4,label:this.language[this.curLanguage][59]}
         ]

         this.userTypeGroup = userTypeGroup
         this.systemGroup = systemGroup

     },

      handleCommand(command) {
            // this.$message("click on item " + command);
            switch (command) {
              case 1: {
                this.lang = "zh";
                this.$i18n.locale = this.lang;
                break;
              }
              case 2: {
                this.lang = "en";
                this.$i18n.locale = this.lang;
                break;
              }

              default:
                break;
            }
          },
      changeCoinType(val){
        this.curCoinType = val;
      },
      changeLanguage(val){
        this.curLanguage = val;
        // this.countryOptions = this.countryOptionsCopy;
        // this.filterSubstring = '';
        // this.handleCommand(this.curLanguage)
        // this.settingAPIDataLanguage();
//         this.rules.email[0].message = this.language[this.curLanguage][5];
//         this.rules.pwd[0].message = this.language[this.curLanguage][8];
//         this.rules.recommendCode[0].message = this.language[this.curLanguage][13];
//         this.$refs['registerForm'].validate((valid) => {});

      },
      getCountry(){
      	const api = this.$api.url.getCountry;

//       	const params = {
//       		session:this.userSession,
//       	}
      	 this.$axios.get(api)
      	.then((res)=>{
                  if(res.data.code==0){
      				   this.countryOptions = JSON.parse(res.data.data);
                 this.countryOptionsCopy = JSON.parse(res.data.data);

      				   this.registerForm.country = 1000;
                 this.registerForm2.country = 1000;
                 this.settingTelHead(this.countryOptions[0].id)
      			}else{

      				this.$message({
      				  message: this.language[this.curLanguage][29],
      				  type: "error",
      				  center: true,
      				  duration:1500
      				})
      			}

      	}).catch((error)=>{
      		  this.$message({
      		    message: error,
      		    type: "error",
      		    center: true,
      			duration:1500
      		  })
      	  })
      },
      submitRegisterInfo(formName){
        let that = this;
        this.$refs[formName].validate((valid) => {
          if (valid) {
              if(!this.checkedAgreement){
                this.$message({
                  message:this.language[this.curLanguage][29],
                  type: "error",
                  center: true,
                  duration:2000
                });

                return;
              }

              const api = this.$api.url.register;
              const params = {
                 Country:this.registerForm.country,
                 Email:this.registerForm.email,
                 Pwd:md5(this.registerForm.pwd),
                 Rcode:this.registerForm.recommendCode,
                 Phone:this.registerForm.telHead + ' ' + this.registerForm.phone
              }

               this.$axios.get(api,{params:params})
              .then((res)=>{
                        if(res.data.code==0){

                         this.$router.push({name:'login'});
                         this.$message({
                           message:this.language[this.curLanguage][30],
                           type: "success",
                           center: true,
                           duration:1500
                         })
                  }else if(res.data.code==1040){
                     this.$message({
                       message:this.language[this.curLanguage][47],
                       type: "error",
                       center: true,
                       duration:1500
                     })
                  }else{
                    let resultMsg = this.getStateCodeText(res.data.code)
                    this.$message({
                      message:this.language[this.curLanguage][31] + ' ' + this.language[this.curLanguage][28] + ' ' +resultMsg,
                      type: "error",
                      center: true,
                      duration:1500
                    })
                  }

              }).catch((error)=>{
                  this.$message({
                    message: error,
                    type: "error",
                    center: true,
                  duration:1500
                  })
                })


          } else {
            console.log('error submit!!');
            return false;
          }
        });


      },


      submitApplication(formName){
        let that = this;
        this.$refs[formName].validate((valid) => {
          if (valid) {
              if(!this.checkedAgreement){
                this.$message({
                  message:this.language[this.curLanguage][29],
                  type: "error",
                  center: true,
                  duration:2000
                });

                return;
              }

              const api = this.$api.url.simulation;
              const params = {
                 Nationality:this.registerForm2.country,
                 // Nationality:this.registerForm2.Nationality,
                 Email:this.registerForm2.email,
                 Phone:this.registerForm2.telHead + ' ' + this.registerForm2.phone,
                 Full_Name:this.registerForm2.name,
                 Sex:this.registerForm2.sex,
                 Age:this.registerForm2.age,
                 Region:this.registerForm2.address,
                 Experience:this.registerForm2.period,
                 Acctype:this.registerForm2.system,
                 Reason:this.registerForm2.reasons,
              }

               this.$axios.post(api,params)
              .then((res)=>{
                        if(res.data.code==0){
                         let data = JSON.parse(res.data.data);
                         this.$router.push({name:'applicationSuccess',params:{account:data.login,pwd:data.pwd}});
                         this.$message({
                           message:this.language[this.curLanguage][71],
                           type: "success",
                           center: true,
                           duration:1500
                         })
                  }else if(res.data.code==1040){
                     this.$message({
                       message:this.language[this.curLanguage][47],
                       type: "error",
                       center: true,
                       duration:1500
                     })
                  }else{
                    let resultMsg = this.getStateCodeText(res.data.code)
                    this.$message({
                      message:this.language[this.curLanguage][31] + ' ' + this.language[this.curLanguage][28] + ' ' +resultMsg,
                      type: "error",
                      center: true,
                      duration:1500
                    })
                  }

              }).catch((error)=>{
                  this.$message({
                    message: error,
                    type: "error",
                    center: true,
                  duration:1500
                  })
                })


          } else {
            console.log('error submit!!');
            return false;
          }
        });

      },



      handleCountryList(){
          let countryOptionsMap=[];
          if(this.filterSubstring==''){
            this.countryOptions = this.countryOptionsCopy;
            return;
          }
          this.countryOptionsCopy.forEach((item)=>{
              if(this.curLanguage==1){
                if(item.cn.indexOf(this.filterSubstring)!=-1){
                   countryOptionsMap.push(item);
                }

              }else{

                if(item.en.indexOf(this.filterSubstring)!=-1||item.en.toLocaleLowerCase().indexOf(this.filterSubstring)!=-1){
                   countryOptionsMap.push(item);
                }
              }
          });

          this.countryOptions = countryOptionsMap;
      },

      nextStep(formName){
          this.$refs[formName].validate((valid) => {
            if (valid) {
                if(!this.checkedAgreement){
                  let resultMsg = this.getStateCodeText(res.data.code)
                  this.$message({
                    message:this.language[this.curLanguage][29] + ' ' + this.language[this.curLanguage][28] + ' ' +resultMsg,
                    type: "error",
                    center: true,
                    duration:2000
                  });

                  return;
                }
               this.localStore.setItem('registerForm',this.registerForm);
               this.$router.push({name:'sendCode'});


            } else {
              console.log('error submit!!');
              return false;
            }
          });
      },
      getRegisterType(){

            const api = this.$api.url.registerType;


             this.$axios.get(api)
            .then((res)=>{
                if(res.data.code==0){
                       this.registerType = res.data.data;
                      // console.log(this.registerType)
                }else{
                  let resultMsg = this.getStateCodeText(res.data.code)
                  this.$message({
                    message:this.language[this.curLanguage][32] + ' ' + this.language[this.curLanguage][28] + ' ' +resultMsg,
                    type: "error",
                    center: true,
                    duration:1500
                  })
                }

            }).catch((error)=>{
                this.$message({
                  message: error,
                  type: "error",
                  center: true,
                duration:150000
                })
              })
      }






  }

};
</script>





<style scoped lang="scss">
  .login-overlay{
    background: #0f0f24;
    height: 100%;
    opacity: 0.6;
    width: 100%;
    position: absolute;
  }
  h3{
    margin:0px;
    margin-bottom: 30px;
  }

 .wrap{background:#0f0f24;overflow: hidden;}

 main{min-height: calc(100vh - 60px);position: relative;}

 .register-box{width:500px;background: #fff;padding:30px 50px;border-radius: 5px;margin:38px auto;left:calc(50% - 250px);top:calc(50% - 400px);
   h3{margin-bottom: 30px;font-size: 20px;text-align: center;}
   .el-form-item{margin-bottom: 20px;}
   .el-form-item:first-child{margin-bottom: 10px;}

   .btn-box{margin-top: 30px;
      button{width: 100%;height: 50px;line-height: 50px;color: #fff;font-size: 16px;background: #409eff;border-radius: 4px;
      -webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;cursor: pointer;
      }
      button:active{background:#2992fe; }
    }
//     .pwd-link{text-align: right;
//       a{color: #409eff;}
//     }
   a{color: #1670ce;}
 }

 .p-tip{line-height: 30px;margin-top: 5px;color: #888;font-size: 12px;}

 .no-data-tip{position: absolute;top:56px;width: 100%;text-align: center;color: #bbb;font-size: 16px;height: 140px;background: #fff;padding-top: 50px;}

.country-filter-fixed{height: 56px;
   .country-filter{
      position:absolute;top:0;left:0;width: 100%;z-index:10;background:#fff;height:56px;
      .cell{height: 40px;margin:10px 20px 0;border:1px solid #eee;border-radius: 3px;}
   }
   i{color: #bbb;float: left;margin: 12px 0 0 10px;line-height: 100%;}
   input{float: left;height: 100%;width: 320px;padding-left: 5px;}
}

.select-box{width:20vw;float: left;}
.phone-input-box{width: 45vw;float:left;margin-left: 5px;}


.phone-wrap,.type-wrap{float: left;width: 100%;}
.register-type-item{margin-bottom: 10px;}
.register-type-item>span{display: block;margin-bottom: 10px;}

.select-type{height: 50px;
      p{margin-bottom: 10px;color:#7f8cac;}
      span{
        float:left;width:auto;padding:0 10px;height: 40px;text-align: center;line-height: 40px;border:1px solid #7f8cac;color: #7f8cac;margin-right: 15px;cursor: pointer;position: relative;

        i{display: none;}

      }
      span:last-child{margin-right: 0;}

      span.active{color: #409eff;border-color: #409eff;
        i{display: block;font-size: 24px;position: absolute;right:0;bottom:0;line-height: 20px;width:24px;height: 20px;overflow: hidden;color: #409eff}
      }

   }



  ::-webkit-scrollbar {
    background: #192742;
    width: 5px;
    height: auto;
    color: beige;
    border-radius: 50px;
  }

  ::-webkit-scrollbar-thumb {
    background: #fff;
    width: 10px;
    height: 10px;
    color: beige;
    border-radius: 50px;
  } 
 

 h4, .h4, h5, .h5, h6, .h6 {
     margin-top: 0;
     margin-bottom: 0;
 }

</style>

<style lang="scss">

  .country-list.phone{width: auto;}
  .register-phone-item .el-form-item__error{padding-left: 128px;}
  .el-select{
    display: block!important;
    width: 100%;
  }
  .country-filter-fixed input{width: 80%!important;}
  .el-select-dropdown .el-popper .country-list{width: 90%!important;}
</style>
