<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">Cookie政策</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">Cookie政策</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>联系我们</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container top40 regulation">
            <!-- <div class="row">
              <div class="col-md-12">
                <h2>相关法律文件</h2></div>
            </div> -->
            <div class="cookie-box">
                 <h5>什么是 Cookie?</h5>
                 <p>Cookie是一种很小的数据文件，当您访问网站时，这些文件会存储在您的计算机或移动设备上。Cookie被网站所有者广泛使用，使网站更好的运行或更有效地工作，并报告信息。由网站所有者设置的Cookie称为“第一方Cookie”。由网站所有者以外的其他方设置的Cookie称为“第三方Cookie”。第三方Cookie允许在网站上或通过网站提供第三方功能（例如广告、交互式内容和分析）。设置这些第三方Cookie的各方即可在访问相关网站或其他网站时识别您。</p>

                 <h5>为什么我们要使用Cookie? </h5>
                 <p>我们使用第一方和第三方Cookie是有原因的。出于技术需要，我们要创建一些Cookie，以确保我们的网站能够运行，我们将这些Cookie称为“绝对必要的”。其他Cookie也使我们能够进一步了解用户的偏好，以增强我们网站的用户体验。</p>

                 <h5>您的个人信息</h5>
                 <p>当您访问我们的网站时，我们将使用Cookie确保您在我们的网站上获得最佳体验。这些Cookie可能与您、您的偏好或您的设备有关。这些信息通常不会用于直接识别您的身份，但可为您提供更为个性化的网站使用体验。我们尊重您的个人信息权利，您可以选择禁用某些类型的Cookie，但是，阻止某些类型的Cookie可能会影响您的网站使用体验以及我们能够为您提供的服务。</p>
                 <p>我们将使用Cookie来记录您在我们的Cookie隐私管理器中所做的选择。这将产生以下几方面的后果：</p>
                 <p>如果您删除了您的Cookie，再次访问我们网站时，则需要再次告知我们您的偏好。</p>
                 <p>如果您使用不同的设备或浏览器访问我们的网站时，则需要再次告知我们您的偏好。</p>

                 <h5>处理的目的和法律依据</h5>
                 <p>当您访问我们的网站时，我们会收集并处理您的IP地址和浏览器信息。我们收集、处理这些信息的目的包括确定您是否是我们网站的回访用户，分析您对我们网站的访问行为，并提升我们网站的用户体验。</p>
                 <p>如上所述，我们将在《网络安全法》和配套的相关法律法规的要求下处理您的个人数据。我们在收集、处理您的访问行为数据和您最终提供我们的其他个人数据之前，都将会主动征求您的同意。此外，您有权随时向我们提出撤销同意的请求。您还有权通过在浏览器中设置cookie禁用cookie的相关选项，来拒绝我们使用这些Cookie。如果您希望就此数据或我们可能处理到的与您有关的其他个人数据联系我们，请参阅下面的“您的权利和联系信息”部分。</p>


                 <h5>披露/接收您的个人数据</h5>
                 <p>为了向您提供我们网站上服务，我们可能聘请我们的关联公司和业务合作伙伴为我们提供服务。出于上述目的，您的个人数据将披露给我们的关联公司和业务合作伙伴并由他们进行处理。</p>

                 <h5>保留时间</h5>
                 <p>我们将一直保留您访问我们网站的个人数据，直到服务终止或您要求我们予以删除。</p>

                 <h5>您的权利和联系信息</h5>
                 <p>有关与我们处理您的个人数据相关的您的权利的更多信息、咨询和投诉的联系方式，请访问隐私政策.</p>
                 <p>此Cookie政策用于描述当您访问我们的网站时，我们如何使用Cookie与类似的技术来识别您。它描述了这些技术是什么，为什么我们使用它们，以及您授权我们使用它们的权利。在某些情况下，我们可能会使用Cookie来收集个人信息，或者我们将其与其他信息结合起来构成了个人信息。</p>

                 <h5>怎么管控自己的Cookie?</h5>
                 <p>您有权决定接受或拒绝在网站中使用Cookie。您可以通过在浏览器中设置Cookie来设置Cookie的使用。Cookie设置中的选项允许您选择接受或拒绝收集的Cookie。不能拒绝绝对必要的Cookie，因为它们是为您提供服务的严格必要条件。以Chrome浏览器为例，用户可以通过点击设置-高级-隐私与安全-页面设置来管理网站的Cookie收集请求。</p>
                 <p>Cookie设置中选项可以在通知横幅和我们的网站上找到。如果您选择拒绝Cookie，您仍然可以使用我们的网站，同时网站的某些功能和区域可能受到限制。您还可以设置或修改Web浏览器设置以接受或拒绝Cookie。由于通过Web浏览器设置拒绝Cookie的方式因浏览器而异，因此您应访问浏览器的“帮助”菜单以获取更多信息。</p>

                 <h5>绝对必要的 Cookie</h5>
                 <p>这些Cookie对于我们网站的运行是必需的，无法在我们的网站中关闭。它们通常根据您所做的操作进行设置，这些操作相当于请求服务。您可以将浏览器设置为阻止使用这些Cookie，但网站的部分功能将无法运行。绝对必要的Cookie不会存储任何个人身份信息。</p>

                 <h5>性能与功能Cookie</h5>
                 <p>我们使用这些Cookie来统计访问次数和流量来源，以便衡量并提高我们网站的性能。它们可以帮助我们了解哪些页面最受欢迎、哪些页面最不受欢迎以及访客如何在网站上浏览。我们采用匿名的方式汇总这些Cookie收集的所有信息。如果您禁用这些Cookie，我们将不知道您何时访问我们的网站并且无法监控网站性能，某些功能可能会变得不可用。</p>

                 <h5>多久更新Cookie政策？</h5>
                 <p>我们可能会不时或者出于其他运营、法律或监管原因更新此Cookie政策，以反映我们使用的Cookie的变化。因此，请定期重新阅读此Cookie政策，以了解我们对Cookie和相关技术的使用情况。</p>
                 <p>此Cookie政策顶部的日期表示最近更新的时间。</p>


            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=1){
       let pName = this.$route.name
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-8 {
       width: 66.66666667%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}

.cookie-box{
   h5{font-size: 18px;font-weight: bold;margin:50px 0 10px}
   p{font-size: 14px;margin-bottom: 10px;}
}


footer{height: 300px;background-color: #333;text-align: center;}
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}



</style>
