<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">保证金和交易杠杆</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">保证金和交易杠杆</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>联系我们</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container hidden-xs hidden-sm hidden-l-sm">
            <h2 class="top80">独家杠杆高达200:1</h2>
            <div class="row text-center top50">
              <div class="feature-item4">
                <i class="tfxfont3 xmLeverage-100 fs100 red"></i>
                <p>灵活交易杠杆在1:1至 200:1之间</p>
              </div>
              <div class="feature-item4">
                <i class="tfxfont3 xmLock-check fs100 red"></i>
                <p>负余额保护政策</p>
              </div>
              <div class="feature-item4">
                <i class="tfxfont3 xmClock fs100 red"></i>
                <p>实时风险敞口监测</p>
              </div>
              <div class="feature-item4">
                <i class="tfxfont3 xmStop-sign fs100 red"></i>
                <p>过夜或周末保证金无变化</p>
              </div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <p>
                    <br>在NOBLE SKY交易外汇，个股，大宗商品，贵金属，能源和股指。</p></div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">建立账户</router-link></div>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row">
              <div class="col-md-12">
                <h2>灵活杠杆从1:1 到 200:1</h2>
                <p>NOBLE SKY的客户可以灵活地运用相同的保证金需求进行交易，杠杆的比例可以从1:1到 200:1.</p>
                <h2 class="top50">关于保证金</h2>
                <p>保证金是交易操作期间投保任何信贷风险的抵押金额。</p>
                <p>保证金以头寸大小百分比计(比如：5% 或 1%),
                  <a href="https://www.noblesky.com/cn/account-types">交易账户</a>需要入金的唯一原因就是确保保证金足够。例如，保证金为 1% 时，价值1,000,000 美元的头寸所需的保证金为 10,000美元。</p>
                <p>因此，您交易账户中的保证金比例需不低于 100%；否则，再次开仓可能会因保证金不足，而导致爆仓。</p>
              </div>
              <div class="col-md-12 top50">
                <h2>关于交易杠杆</h2>
                <p>通过使用交易杠杆，您可以放大交易账户中的入金头寸。交易杠杆金额以比率计算, 比如 50:1, 200:1, 或者200:1。假设您的交易账户拥有1,000美元，您的交易单价值 为200,000美元/日元, 那么您的交易杠杆等同于 200:1.</p>
                <p>为什么您可以以余额500倍的金额进行交易? 在NOBLE SKY，无论您何时使用保证金，您都拥有自由的 短期贷款限额，: 这使您能够购买超过账户价值的金额。在无该限额的情况下，您只能一次购买或出售价值1,000的交易单。</p>
                <p>NOBLE SKY可以随时监控客户账户的杠杆比率，并保留对客户杠杆比率进行变更和修改的权利（如缩小杠杆比率 ），若未另行通知，则适用于所有的NOBLE SKY账户。</p>
              </div>
              <div class="col-md-12 top50">
                <h2>NOBLE SKY交易杠杆</h2>
                <p>根据您在NOBLE SKY注册的账户类型，杠杆的比例可以从1:1到200:1. 保证金需求在一个星期内不会改变，也不会在一夜之间或一个周末后扩大。</p>
              </div>
              <div class="col-md-12 top50">
                <h2>交易杠杆风险</h2>
                <p>一方面，即使您的初始投资额相对较小，您也可以通过交易杠杆获取相当可观的利润。另一方面，如果您未能进行适当的风险管理，您的亏损也可能加剧。</p>
                <p>NOBLE SKY 提供了交易杠杆的范围，能够帮助客户选择喜欢的风险水准。</p>
              </div>
              <div class="col-md-12 top50">
                <h2>保证金监测</h2>
                <p>在 NOBLE SKY ，您可以通过监测来看管您的保证金，同时控制实时风险敞口。</p>
                <p>占用保证金和自由保证金组成您的净值。占用保证金 是指您用来维持交易的金额。(比如：如果您账户的交易杠杆为200:1, 那么您需要留出交易额的1% 作为保证金)。自由保证金 是您留在交易账户中的资金，它随着账户的净值浮动；您可以用它开立其他头寸或承担亏损。</p>
              </div>
              <div class="col-md-12 top50">
                <h2>追加保证金</h2>
                <p>虽然每个客户负责监控自己账户的盈亏状况， 但是NOBLE SKY在您账户即将爆仓时，会给予追加保证金提醒，以确保您的账户不会完全爆仓。</p>
                <p>一旦您的账户资产净值低于维持开仓所需保证金的50%时，我们会向您发送追加保证金邮件提醒，来警告您已没有足够金额来维持敞口头寸。</p>
                <!-- <p>一旦您的账户资产净值低于维持开仓所需保证金的50%时，我们会向您发送追加保证金邮件提醒，来警告您已没有足够金额来维持敞口头寸。</p>
                -->
              </div>
              <div class="col-md-12 top50">
                <h2>强平标准</h2>
                <p>止损指的是根据您开仓的点位自动进行平仓。 当交易账户内的净值不大于所需保证金的30%时，该账户达到强制平仓的要求。</p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=1){
       let pName = this.$route.name
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap>footer{height: 300px;background-color: #333;text-align: center;}
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

  p {
    margin-bottom: 2em;
  }
</style>
