<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">隐私政策</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">隐私政策</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>联系我们</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80 regulation">
            <!-- <div class="row">
              <div class="col-md-12">
                <h2>相关法律文件</h2></div>
            </div> -->
            <div class="privacy-box">
                 <p>请您仔细阅读本隐私政策。通过使用我们的产品或服务，您同意：您已满十八周岁且已完全理解并接受本隐私政策的全部条款和内容。如果您不同意本隐私政策，您可以不使用我们的产品或服务。</p>
                 <h3>个人信息范围</h3>
                 <p>本隐私政策所称“个人信息”，是指我们从个人收集的可用于识别特定个人身份的信息，其中又可分为能够单独使用的个人信息（如姓名、身份证信息）和不能单独使用而必须与其他信息结合使用的个人信息（如位置信息、车辆状况）。我们所收集的个人信息可能同时包括这两类信息。对于能够单独使用的个人信息，我们只会在事先告知并取得您同意的情况下收集；对于不能单独使用的个人信息，在非结合使用的情况下，我们可出于任何目的收集、使用、转让和披露该等信息。</p>
                 <p>我们可能向您收集的“个人信息”包括但不限于您的姓名、邮寄地址、电话号码、电子邮件地址、其他联系方式、年龄、出生日期、性别、学历、职业、语言、邮编、区号、个人图像、兴趣偏好、身份证信息、驾照信息、信用卡信息、唯一设备标识符、地理位置信息、车辆状态、行为信息等。</p>

                 <h3>个人信息的收集途径</h3>
                 <p>我们会通过多种方式收集并存储您的个人信息：</p>
                 <p>当您访问或者参与我们的官网或者其他网上服务时（例如您通过我们的网站或者电子邮件联系我们提出问题、进行评论或者参与在线调查时），您自愿向我们提供的信息。</p>
                 <p>当您为了获得我们的线下服务而进行注册时；</p>
                 <p>当您下载或使用我们或我们指定的公司开发的应用时；</p>
                 <p>当您关注我们的社交媒体时；</p>
                 <p>当您向我们客服中心的代表提供信息时；</p>
                 <p>我们还可能从其他途径收集到关于您的信息并加入我们的客户信息库。</p>

                 <h5>通过Cookies收集信息</h5>
                 <p>我们会通过Cookies和其他追踪技术了解客户使用我们网站的情况。Cookies是一种能够识别您设备的特定识别符号，通过识别您的设备，我们可以为您推荐个性化商品和广告（包括由本网站提供广告内容的联盟网站）。</p>
                 <p>通过Cookies收集的信息属于不能单独使用的个人信息，您理解并同意我们将通过Cookies收集的信息与您的其他信息结合使用。大部分网页浏览器会自动打开Cookies，但您可以随时调整您的浏览器设置，选择关闭Cookies。然而，Cookies能让您享受我们更优质、更个性化的服务，如果您关闭了Cookies，可能无法完全体验或者我们网站上提供的所有服务，所以我们建议您将其设置为打开状态。</p>

                 <h5>通过客服中心收集信息</h5>
                 <p>当您拨打我们的服务热线，为了提高服务质量以及跟进您的请求，我们可能会在通话期间向您收集个人信息，或者通过电子媒介手段进行电话录音。您理解并同意我们在语音通话的过程中收集您的个人信息并进行电话录音。
通过移动设备或系统收集信息</p>
                 <p>当您下载或使用我们或我们指定的公司开发的应用时，我们将可能收到关于您账号、姓名以及您的移动设备的信息（如包含识别您的移动设备的特定号码）。这些数据将被用于确定您的身份，以便我们能提供并完善我们的定位服务或其他个性化服务。您理解并同意我们收集上述账号、姓名、移动设备特定标识码等的个人信息。</p>

                 <h3>拒绝提供个人信息的后果</h3>
                 <p>您可以不提供您的个人信息，如果您选择不提供您的个人信息，我们将可能无法为您提供我们的产品或服务，也可能无法回应您在使用我们的产品或服务时所遇到的问题。对于您可能因此遭受的损失，我们将不承担责任。</p>

                 <h3>我们如何使用您的个人信息</h3>
                 <p>我们会将收集到的个人信息用于以下目的（以下简称“个人信息收集目的”）：</p>
                 <p>管理我们的产品和服务，向您提供我们的产品及服务，并就您使用我们产品与服务的情况进行及时沟通；</p>
                 <p>支持我们服务的履行与运作，回应您的咨询及请求，处理您的交易；</p>
                 <p>向您提供售后服务及支持，接收您的反馈；</p>
                 <p>将我们的最新产品、服务、衍生产品及服务等及时告知您；</p>
                 <p>将您的个人信息用于数据分析和研究等内部目的，以改进我们的产品、服务和与客户之间的沟通，及时解决客户的问题；</p>
                 <p>使用个人信息向您发送产品/服务安全的重要通知。由于这些信息对您的人身安全至关重要，我们强烈建议您不要拒绝接收此类信息；</p>
                 <p>调查已经发生的或者可能的欺诈情形或者防止欺诈或者其他潜在的非法活动；以及您同意的其他方式。</p>
                 <p>在某些情况下，为了提供并完善我们的产品、服务、内容和广告，我们也可能会将您的个人信息和非个人信息结合在一起进行分析研究。</p>
                 <p>我们不会在违背上述个人信息收集目的的情况下，或超出本隐私政策的范围外使用您的个人信息。</p>

                 <h3>向第三方披露和共享您的个人信息</h3>
                 <p>我们尊重您的个人隐私并遵守相关的法律和法规，我们承诺严格保密所收集的您的个人信息，并且不会将您的个人信息出售给他人。我们仅会为达到个人信息收集目的，与遵守本隐私政策或至少提供与本隐私政策同样保护性惯例的以下第三方分享您的个人信息。除非另有声明，这些第三方并不代表我司收集、使用或转移个人信息等。因此，我司并不对这些第三方收集、使用或转移个人信息等行为负责。</p>

                 <h3>个人信息的处理及储存</h3>
                 <p>我们不会在违背您的个人信息收集目的的情况下，或超出本隐私政策的范围处理、篡改、毁损您的个人信息。</p>
                 <p>在我们存储您的个人数据时，我们设置了合理且足够的安保措施来保护您的个人信息免受未经授权的访问、泄露和丢失，包括但不限于电子安全措施和物理安全措施。</p>

                 <h3>个人信息的完整性及更新</h3>
                 <p>我们提供了一些便捷的方法，让你能够确保你的个人信息准确、完整并及时更新。我们将在实现本隐私政策中所述目的所必需的期间内保留你的个人信息，除非法律要求或允许在更长的期间内保留这些信息。</p>

                 <h3>选择</h3>
                 <p>我们可能会通过电子邮件、电话、手机/文本消息（包括 SMS 和 MMS）或信函等方式向您发送营销类信息，包括但不限于：告知我们的产品或服务的最新信息、邀请您参加我们的市场活动、或者发出关于产品或服务的公告。</p>

                 <h3>儿童</h3>
                 <p>我们不会在明知对方为年龄不满 18周岁的儿童的情况下收集其个人信息。如果我们发现我们在未经家长同意的情况下收集了年龄不满 18 周岁的儿童的个人信息，我们将采取措施尽快删除此等信息。</p>

                 <h3>第三方通过我们的产品和服务向您收集个人信息</h3>
                 <p>我们的产品和服务中可能含有第三方网站、产品和服务的链接。我们的产品和服务也可能使用或提供来自第三方的产品或服务。第三方通过我们的系统、产品和服务收集的此类个人信息（其中可能含有位置数据或联系方式等），其使用、处理、保存、转移、保留及销毁等须遵守第三方关于隐私的政策规定。如果在这个过程中，我们并未因此而抓取或收集到您的个人信息，则我们不承担相关责任，且我们希望您能了解这些第三方的隐私政策规定；但如果在这个过程中，我们因此抓取或收集到您的个人信息，则我们会严格遵守本隐私政策的条款。</p>

                 <h3>更新</h3>
                 <p>我们有权随时对本隐私政策加以修订及更新。如果我们对隐私政策作出重大变更，我们将于我们的网站即时发布最新的隐私政策。我们亦将向我们的代理商传达最新的隐私政策，您可以向我们的代理商查询详情。除另有声明外，最新有效的隐私政策适用于我们关于您和您的所有个人信息。</p>

                 <h3>联系我们</h3>
                 <p>如果您对上述政策内容或对您的个人信息保护有任何咨询或疑问，或您希望查阅我们所持有的您的个人信息的内容，或要求对您所提供的个人信息做出更正，请通过网站客服与我们联系。我们将于收到您的询问或要求后尽快给予答复。该答复是免费的，除非提供该答复的成本或要求提供该答复的频率是不合理的。</p>
                 <p>请您仔细阅读本隐私政策，当您阅读完毕并继续提供您的个人信息，或购买我们的产品或使用我们的服务，表示您已完全理解并接受本隐私政策的全部条款和内容。</p>



            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=1){
       let pName = this.$route.name
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-8 {
       width: 66.66666667%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}

.privacy-box{
   h3{font-size: 24px !important;font-weight: bold;margin:50px 0 10px;color: #000 !important;}
   h5{font-size: 18px;font-weight: bold;margin:30px 0 10px;color: #387ee2;}
   p{font-size: 14px;margin-bottom: 10px;}
}


footer{height: 300px;background-color: #333;text-align: center;}
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}



</style>
