<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <!-- <div class="page-title">
            <h3>理财产品</h3>
            <div class="links">
                <router-link to="/publish" v-if="isLogin"><i class="icon icon-plane"></i>发布产品 </router-link>
                <router-link to="/login?page=publish" v-if="!isLogin"><i class="icon icon-plane"></i>发布产品</router-link>

                <router-link to="/my-products" v-if="isLogin"><i class="icon icon-product"></i>我的产品</router-link>
                <router-link to="/login?page=myProducts" v-if="!isLogin"><i class="icon icon-product"></i>我的产品</router-link>

               <router-link to="/f-order" v-if="isLogin"><i class="icon icon-record"></i>我的订单</router-link>
               <router-link to="/login?page=fOrder" v-if="!isLogin"><i class="icon icon-record"></i>我的订单</router-link>
            </div>
        </div>

        <div class="filter">
            <div class="tab-head">
                <router-link :to="{name:'products',params:{type:3}}">募集中</router-link>
                <router-link :to="{name:'products',params:{type:4}}">运行中</router-link>
                <router-link to="/fm-introduce" class="active"><em><i></i></em>理财介绍</router-link>
                <router-link :to="{name:'products',params:{type:6}}">规则介绍</router-link>
            </div>
        </div> -->

        <div class="row white" style="background: url('../../../static/images/ETFs-Hero-Banner-.jpg');height: 532px;background-position: center;">
                <!--<img src="../../../static/images/ETFs-Hero-Banner-.jpg" />-->
                <div class="container text-center " style="padding-top:1.5rem; letter-spacing:3px;">
                    <h1 class="HeroLoadtext" style="font-family: 'Montserrat', sans-serif; font-weight:bold">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                引言
                            </font>
                        </font>
                    </h1><br>
                    <h2 class="HeroLoadtextSub" style="font-weight: bold; font-family: 'Montserrat', sans-serif; font-size:40px;padding-top:0.8rem;">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Noble Sky™财务自由产品
                            </font>
                        </font>
                    </h2>

                </div>

            </div>
            <div class=" row blueSectionBg">
                <div class="container container2 ">
                    <div class="row">

                        <div class="col-6 LBrick " style=" background: url('../../../static/images/peace-of-mind.jpg');
                            height: 450px; background-size: cover;">
                            <h2 class="title" style="padding: 25px 7px; z-index: 10; color: white; position: absolute; left: 12vw; top: 17vh;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">完全</font></font><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">安心</font></font></b> </h2>
                            <div class="text-left white small" style="padding: 25px 7px; z-index: 10; color: white; position: absolute; left: 8.5vw; top: 23vh;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">超过  </font></font><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">150位</font></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">  在金融领域拥有多年经验的</font><b><font style="vertical-align: inherit;">金融专家</font></b></font></div>
                            <div class="overlayCI">

                            </div>
                        </div>
                        <div class="col-6 RBrick" style="padding:1.2rem;">
                            <div class="left">
                                <h2 class="title" style=" padding: 20px 7px;"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">将交易留给专家 </font></font></b></h2>
                                <p class="generalText" style=" padding: 10px 12px;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            拥有150多位行业领先的金融专家，您可以安心地休息，而专家们则负责其余的工作，因此您可以继续过上最美好的生活。
                                        </font><font style="vertical-align: inherit;">
                                            您实际上可以在睡眠时赚钱，并让专家们努力工作。
                                        </font>
                                    </font>
                                </p>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="row section-light">
                <div class="container container2 ">

                    <div class="row">
                        <div class="col-6 LBrick" style="padding:.6rem;">
                            <div class="left">
                                <h2 class="title" style=" padding: 25px 7px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">高达</font></font><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">两万美元的保护</font></font></b></h2>
                                <p class="generalText">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            屡获殊荣的领先外汇和CFD经纪人NobelSky™借助创新的创新风险工具Nobel Sky Protect推出了降低风险的新标准。
                                        </font>
                                    </font><br><font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            这种独特的风险管理功能使您可以在特定时间范围内保护特定交易免受高达两万欧元的损失，所有这些，以便我们可以继续证明我们对客户群的专注程度，并确保我们领先的可信赖经纪行
                                        </font>
                                    </font>
                                </p>
                                <p class="generalText">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            NobelSky™Protect的开发是公司对客户成功和满意度的持续承诺的一部分，并且仅在Nobel Sky的平台上可用
                                        </font>
                                    </font>
                                </p>
                            </div>

                        </div>
                        <div class="col-6 RBrick " style="background: url('../../../static/images/depoProtectBrick.jpg');
        height: 450px; background-size: cover;">
                            <h2 class="title" style="padding: 25px 7px; z-index: 10; color: white; position: absolute; left: 12.5vw; top: 17vh;"> <b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 没有存款损失 </font></font></b> <br><div class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">保证的</font></font></div></h2>
                            <div class="overlay">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" row blueSectionBg">

                <div class="container container2 ">

                    <div class="row">

                        <div class="col-6 LBrick " style=" background: url('../../../static/images/Stocks_v2.png');
        height: 450px; background-size: cover;">
                            <h2 class="title" style="padding: 25px 7px; z-index: 10; color: white; position: absolute; left: 12vw; top: 18vh;"> <b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 信任交易 </font></font></b> </h2>
                            <div class="text-left white small" style="padding: 25px 7px; z-index: 10; color: white; position: absolute; left: 8vw; top: 24vh;"> <b><font style="vertical-align: inherit;"></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CGSE™的</font><b><font style="vertical-align: inherit;">AA</font></b><font style="vertical-align: inherit;">交易许可证，由两个独立的监管机构监管</font></font></div>
                            <div class="overlayCI">

                            </div>
                        </div>
                        <div class="col-6 RBrick" style="padding:.6rem;">
                            <div class="left">
                                <h2 class="title" style=" padding: 20px 7px;"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">超过半百万的满意客户 </font></font></b></h2>
                                <p class="generalText" style=" padding: 10px 12px;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            自2009年成立以来，NobleSky™已有50万客户，已发展成为国际知名的投资公司和该行业的真正领导者。
                                        </font><font style="vertical-align: inherit;">NobleSky™目前拥有150多名在金融领域拥有多年经验的专业人员。</font><font style="vertical-align: inherit;">在NobleSky™中，客户资金的安全是我们的首要任务。</font><font style="vertical-align: inherit;">我们与世界顶级投资银行合作，分别存储公司账户和客户资金，以确保客户资金安全。</font>
                                    </font><br><font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            这种独特的风险管理功能使您可以保护特定交易在选定的时间范围内免受高达一百万美元的损失，所有这些都是在购买时支付的适度对冲成本的交换。
                                        </font>
                                    </font>
                                </p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row section-light hDIWSection" style="        background: url('../../../static/images/seesaw-coins.png');
        background-size: cover; background-position: center;">
                <div class="col-12" style="background: rgba(0, 0, 0, .35);  height: -webkit-fill-available;">
                    <div class="container container3 container4 ">
                        <h1 class="text-center white py-1 pb-2" style=" font-family: 'Montserrat', sans-serif; ">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    它是如何工作的？
                                </font>
                            </font>
                        </h1>
                        <div class="row pt-2 pb-3">
                            <div class="col-4 text-center white px-2 ">
                                <span><img src="../../../static/images/investorGroupWhite.png"></span>
                                <br>
                                <p class="pt-1">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            投资者将资金投资在金融自由产品中，用作本金，而主交易员则将其私人股本用作交易资本。
                                        </font>
                                    </font>
                                </p>
                            </div>
                            <div class="col-4 text-center white px-2 ">
                                <span><img src="../../../static/images/financeGrowthWhite.png"></span>
                                <br>
                                <p class="pt-1">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            主交易者使用合并的资金作为保证金来进行更大的交易，这使他们可以赚更多的钱，同时
                                        </font>
                                    </font><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">仅</font></font></b><font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">冒着主交易者自己的私募股权的风险。</font><font style="vertical-align: inherit;">
                                            NobleSky在所有情况下均确保投资者本金。
                                        </font>
                                    </font>
                                </p>
                            </div>
                            <div class="col-4 text-center white px-2 ">
                                <span><img src="../../../static/images/paperMoneyWhite.png"></span>
                                <br>
                                <p class="pt-1">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            交易周期结束后，NobleSky™根据财务自由产品的分配方法分配利润。
                                        </font><font style="vertical-align: inherit;">您实际上是在睡觉时赚钱，</font>
                                    </font><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">就是这么简单！</font></font></b>
                                </p>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
            <!-- <div class="row py-3">
                <div class="container">
                    <h1 class="text-center  pb-2 " id="datacounters" style=" font-family: 'Montserrat', sans-serif; color:#53455b; ">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                可以那么容易吗？
                            </font>
                        </font>
                    </h1>
                    <h3 class="text-center  pb-2" style=" font-family: 'Montserrat', sans-serif; color:#53455b; ">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                NobelSky™是一家屡获殊荣的屡获殊荣的外汇和差价合约经纪商。
                            </font>
                        </font><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">它是。</font></font></b>
                    </h3>
                    <div class="content">
                        <div class="data bold">
                            <ul>
                                <li>
                                    <span class="num clients" style="color:#53455b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">0</font></font></span>
                                    <span class="title title-tweets " style="color: rgb(102, 153, 0);"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">满意的客户</font></font></span>
                                </li>
                                <li>
                                    <span class="num experts" style="color:#53455b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">0</font></font></span>
                                    <span class="title title-followers" style="color: rgb(255, 136, 0);"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">大师级专家</font></font></span>
                                </li>

                                <li>
                                    <span class="num products" style="color:#53455b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">0</font></font></span>
                                    <span class="title title-following" style="color: rgb(204, 0, 0);"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">财务自由产品</font></font></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div> -->
            <div class="row productBody">
                <div class="container">
                    <h1 class="text-center white pb-3 pt-2" style=" font-family: 'Montserrat', sans-serif; ">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                NobleSky™财务自由产品
                            </font>
                        </font>
                    </h1>
                </div>
                <div class="container" style="width: 100%">
                    <div class=" group">
                        <div class="grid-1-5">
                            <h2 class="py-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">固定收益</font></font></h2>
                            <h3 class="pb-1"><span class="uppercase"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">放心</font></font></span></h3>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">固定的投资回报率</font></font></p>
                            <ul>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">无损失存款</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">保证金回报率（基于存款）</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">无论市场如何发展</font></font></li>
                            </ul>

                        </div>
                        <div class="grid-1-5">
                            <h2 class="py-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">利润分享</font></font></h2>
                            <h3 class="pb-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 无限潜力</font></font></h3>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 固定百分比的总利润回报率</font></font></p>
                            <ul>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">延误的损失</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">更高的奖励</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">无限的赚钱潜力 </font></font></li>
                            </ul>

                        </div>

                    </div>
                </div>
                <div class="container">
                    <div class="container text-center pt-3 pb-1">
                        <router-link to="/products" class="text-md prodBtn btn-primary d-inline-block"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 查看产品 </font></font></router-link>
                    </div>
                </div>

            </div>
            <!--  faq section -->
            <div class="container pb-2" style="font-family: 'Titillium Web', sans-serif;">
                <div class="row py-2 ">
                    <div class="container text-center"><h1 class="py-2">常问问题</h1></div>
                    <ul class=" container ulist">
                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h3>财务自由产品将花费我多少钱？</h3>
                            <p class="para">

                                NobleSky™对使用财务自由产品不收取任何费用

                            </p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h3>使用“财务自由”产品所需的最低金额是多少？</h3>
                            <p class="para">最低100美元即可购买财务自由产品</p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h3>产品交易期过后，资金需要多长时间才能转入我的帐户？</h3>
                            <p class="para">

                                NobleSky™一旦完成交易期并在1个工作日内分配资金，便自动关闭该基金

                            </p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h3>我有可能失去我的存款吗？</h3>
                            <p class="para">

                                不它不是。 基本原则只能用作开立较大保证金的保证金，并且当交易的负余额达到次等本金时，基金将自动关闭。

                            </p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h3>我想要的不仅仅是固定的百分比回报，这可能吗？</h3>
                            <p class="para">就在这里！ 利润分享产品使投资者可以获得总利润的一定百分比，而不是固定的收益</p>
                        </li>
                    </ul>

                </div>
            </div>
        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },




    };
  },
   metaInfo: {
      title: '理财介绍-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=1){
       let pName = this.$route.name
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){

      let element = document.querySelectorAll(".panel-heading");



      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){


               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }


     document.documentElement.scrollTop = 0


  },



  components: {
    pageHeader,
    pageFooter
  },


  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     }
  }


};
</script>

