.bodySub {
    height: 100%;
    background: #2a2e45!important;
    color: #fff;
    font-family: "montserrat";
}

.bodySub:before {
    content: '';
    height: 100%;
    width: 100%;
    background: repeating-linear-gradient(90deg, #343956, #343956 2px, transparent 2px, transparent 17.5vw);
    position: absolute;
}

.card-sliders {
    overflow: hidden;
    /* height: 95vh; */
    font-family: "montserrat";
}

.card-sliders .container {
    height: 100% !important;
}

.card-sliders .container .row {
    height: 100%;
}

.card-sliders .card-decks .card-deck {
    display: none;
}

.card-sliders .card-decks .card-deck.deck-active {
    display: flex;
}

.card-sliders .card-decks .card-deck .card {
    font-size: 1.2em;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 10px 20px 2px #181a28;
    color: #fff;
    height: 3rem;
    overflow: hidden;
    text-align: center;
}

.card-sliders .card-decks .card-deck .card h1,
.card-sliders .card-decks .card-deck .card h2,
.card-sliders .card-decks .card-deck .card h3,
.card-sliders .card-decks .card-deck .card h4,
.card-sliders .card-decks .card-deck .card h5,
.card-sliders .card-decks .card-deck .card h6 {
    font-weight: bold;
}

.card-sliders .card-decks .card-deck .card a {
    color: #3bceac;
}

.card-sliders .card-decks .card-deck .card img {
    width: 200%;
    height: 200%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-sliders .card-decks .card-deck .card .card-img-overlay {
    background: rgba(0, 0, 0, 0.5);
}


/* Custom animate.css delay */

.animated.delay-02s {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.animated.delay-04s {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.card-title {
    font-size: 1.5em;
    height: 35%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-text {
    margin-top: 2em;
    margin-bottom: 2em;
    height: 10%;
}

.card-img-overlay {
    padding: 0.5rem;
}

.card-row {
    padding: 2.5em!important;
    height: 25%!important;
}

.col-6 span {
    font-weight: bold;
}

.col-6 i {
    color: #74c109;
}