* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

em,
i {
    font-style: normal;
}

body,
button,
input,
select,
textarea {
    font: 13px/1.5 "Microsoft YaHei", "黑体", arial, "宋体", sans-serif;
}

body {
    color: #333;
    font-size: 14px;
    line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

ul,
li,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
}

input {
    outline-width: 0;
}

button,
input,
img {
    border: 0;
    outline: none;
}

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    height: 1%;
}

.clearfix {
    zoom: 1;
}

.wrap .el-dialog {
    background: #0e162e;
    position: fixed;
    margin: 0 !important;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #aeb9d8;
    width: 80% !important;
    border-radius: 5px;
}

.dialog-box .el-dialog {
    width: 520px !important;
}

.el-dialog .el-dialog__title {
    color: #aeb9d8;
    font-size: 16px;
}

.el-dialog .el-dialog__headerbtn .el-dialog__close {
    color: #aeb9d8;
}

.el-dialog .el-dialog__body {
    color: #aeb9d8;
}

.theme-mobile .el-dialog {
    width: 90% !important;
    background: #fff;
}

.theme-mobile .el-dialog .el-dialog__title {
    color: #333;
}

.theme-mobile .el-dialog__body {
    padding: .5rem 1rem;
}

.theme-mobile .el-upload--picture-card {
    width: 5.3rem;
    height: 5.3rem;
    line-height: 5.3rem;
}

.theme-mobile .el-upload-list--picture-card .el-upload-list__item {
    width: 5.3rem;
    height: 5.3rem;
}

.theme-mobile .el-input__inner {
    height: 2rem;
    font-size: .6rem;
}

body .select-dropdown-black {
    border-color: #536085;
    background: #0e162e;
}

.select-dropdown-black .el-select-dropdown__item {
    color: #aeb9d8;
}

.select-dropdown-black .el-select-dropdown__item.hover,
.select-dropdown-black .el-select-dropdown__item:hover {
    background: #132443;
}

.select-dropdown-black.el-popper[x-placement^=bottom] .popper__arrow {
    border-bottom-color: #536085;
}

.select-dropdown-black.el-popper[x-placement^=bottom] .popper__arrow::after {
    border-bottom-color: #0e162e;
}

.theme-black .el-select .el-input__inner:focus {
    border-color: #536085;
}

.login-box .el-form-item__label,
.register-box .el-form-item__label {
    font-size: .8rem;
}

.login-box .el-input input,
.register-box .el-input input {
    height: 2.5rem;
    color: #333;
}

.register-box .el-select {
    width: 100%;
}

.register-box .el-select .el-input__inner {
    border-color: #DCDFE6;
}

.register-box .el-select:hover .el-input__inner {
    border-color: #C0C4CC;
}

.register-box .el-select .el-input__inner:focus {
    border-color: #DCDFE6;
}

.country-list .el-scrollbar {
    display: block !important;
}

.country-list .el-scrollbar__bar {
    z-index: 11;
}

.register-box .el-checkbox {
    margin-right: 0;
    cursor: default;
}

.theme-black .search .el-input__inner {
    background: none;
    border-color: #697080;
    height: 30px;
    width: 160px;
    color: #a9bdc8;
}

.theme-black .search .isFocus .el-input__inner {
    border-color: #a9bdc8;
}

.theme-black .search .el-input__icon {
    line-height: 30px;
    color: #697080;
}

.theme-black .search .isFocus .el-input__icon {
    color: #a9bdc8;
}

.theme-black .el-table,
.theme-black .el-table__expanded-cell {
    background: #2d374e;
}

.theme-black .el-table th,
.theme-black .el-table tr {
    background: none;
}

.theme-black .el-table td,
.theme-black .el-table th.is-leaf {
    border-bottom-color: #3b455d;
}

.theme-black .el-table thead {
    color: #a9bdc8;
}

.theme-black .el-table::before {
    height: 0;
}

.theme-black .el-table--enable-row-hover .el-table__body tr:hover>td {
    background: #222a3e;
}

.theme-black .el-table th {
    padding: 5px 0;
    text-align: center;
}

.theme-black .el-table td {
    padding: 10px 0;
    text-align: center;
    color: #ccc;
    cursor: pointer;
}

.theme-black .search input::-webkit-input-placeholder {
    color: #697080;
}

.theme-black.buy-sell .el-input input {
    border-color: #536085;
    height: 35px;
}

.theme-black.buy-sell .el-input__inner {
    background: none;
}

.theme-black.buy-sell .el-input-number__decrease,
.theme-black.buy-sell .el-input-number__increase {
    background: none;
    color: #aeb9d8;
    border-color: #536085;
}

.theme-black.buy-sell .el-input-number.is-controls-right .el-input-number__decrease {
    border-color: #536085;
}

.theme-black.buy-sell .el-input-number.is-controls-right .el-input-number__increase {
    border-color: #536085;
}

.theme-black.buy-sell .el-input-number {
    line-height: 30px;
    width: 100%;
}

.theme-black.buy-sell .el-input-number.is-controls-right .el-input-number__decrease,
.theme-black.buy-sell .el-input-number.is-controls-right .el-input-number__increase {
    line-height: 16px;
}

.theme-black.buy-sell .el-input__icon {
    line-height: 30px;
}

.theme-black.buy-sell .el-select {
    width: 100%;
}

.pagination-box.black .el-pagination {
    color: #a9bdc8;
    text-align: center;
    border-top: 1px solid #292b30;
}

.pagination-box.black .el-pagination button:disabled {
    color: #697080;
    background: none;
}

.pagination-box.black .el-pager li {
    background: none;
    min-width: 25px;
}

.pagination-box.black .btn-next,
.pagination-box.black .btn-prev {
    color: #a9bdc8;
    background: none;
}

.pagination-box.black li.btn-quicknext,
.pagination-box.black li.btn-quickprev {
    color: #a9bdc8;
}

.list-container .mod-head .select-box.black .el-input__inner {
    height: 24px;
    font-size: 12px;
    padding: 0 30px 0 10px;
}

.list-container .mod-head .select-box.black .el-input__icon {
    line-height: 24px;
}

.select-box.black .el-input__inner {
    background: none;
    border-color: #697080;
    color: #a9bdc8;
}

.select-box.black .el-input:hover .el-input__inner {
    border-color: #a9bdc8;
}

.theme-black .el-date-editor.el-input,
.el-date-editor.el-input__inner,
.theme-black .el-select {
    width: 100%
}

.coins-buy-box.theme-black .el-input__inner,
.coins-sell-box.theme-black .el-input__inner,
.add-bank-box.theme-black .el-input__inner {
    border: 0;
    background: #fff;
    color: #333;
}

.hide-other-symbol .el-checkbox__inner,
.closeOrderTip .el-checkbox__inner {
    border: 1px solid #a9bdc8;
    background: none;
}

.hide-other-symbol .el-checkbox__label {
    color: #a9bdc8;
    padding-left: 5px;
}

.contract-sell .el-input__inner {
    color: #a9bdc8;
    text-align: left;
}

.send-email-code input {
    width: 150px;
}

.send-email-code .el-form-item__content {
    margin-left: 110px;
}

.send-email-code .el-input {
    width: auto;
}

.lock-mony-dialog .el-dialog__body {
    padding: 0;
    border-top: 1px solid #3e496c;
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.upload-box.border .avatar-uploader .el-upload {
    border: 0;
}

.avatar {
    width: 178px;
    height: 178px;
    display: block;
}

.bankroll-record.el-dialog {
    width: 60% !important;
    max-width: 800px;
    background: #3a496c;
}

.lock-asset.el-dialog {
    width: 40% !important;
    max-width: 600px;
    background: #3a496c;
}

.bankroll-record .el-dialog__body {
    background: #2d3956;
    padding: 10px 20px;
    color: #aeb9d8;
    font-size: 14px;
}

.bankroll-record .el-input__inner {
    color: #fff;
}

.bankroll-record .el-select .el-input__inner {
    background: none;
}

.bankroll-record .el-select:hover .el-input__inner {
    border-color: #5f6c91
}

.coins-buy-box.theme-black .el-upload--picture-card,
.coins-buy-box.theme-black .el-checkbox__inner {
    background: none;
}

.lock-mony-dialog.el-dialog {
    width: 50% !important;
    max-width: 900px;
}

.head-dialog .el-select .el-input__inner {
    background: none;
    color: #aeb9d8;
}

input::-webkit-input-placeholder {
    color: #e0e0e0;
}

.popup-div-ac.theme-black .el-input__inner {
    border: 0;
    background: #2f3b55;
    color: #aeb9d8;
}

.popup-div-ac.theme-black .el-select .el-input .el-select__caret {
    line-height: 40px;
}

table.dataTable tr.child span.dtr-title {
    font-weight: bold;
}

.wrap.mobile {
    padding: 2.5rem 0 3rem;
}

.el-form-item__label {
    margin-bottom: 0;
}