/* typer1-start */

.futures-icon {
    width: 16%;
    height: 50px;
}

.futures-icon img {
    height: 100%;
    width: 100%
}

.typer1 {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.typer1 p {
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}

.typer1 p span.typed-text {
    font-weight: normal;
    color: #ffa200;
}

.typer1 p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.typer1 p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}


/* typer1-end */


/* typer-start */

.typer {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.typer p {
    font-size: 1.1rem;
    padding: 0.5rem;
    font-weight: bold;
    /* letter-spacing: 0.1rem; */
    text-align: center;
    overflow: hidden;
}

.typer p span.typed-text {
    font-weight: 700;
    color: #ffa200;
    font-size: larger;
}

.typer p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.typer p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}


/* typer-end */

.more a {
    display: inline-block;
    width: 220px;
    height: 50px;
    line-height: 50px;
    border-radius: 60px;
    background-color: #12d767;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}


/*NAS*/

.projectFactsWrap {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    /* // border: 1px solid #27283370;
  // border-radius: 10px; */
}

#projectFacts .fullWidth {
    padding: 0;
}

.projectFactsWrap .item {
    width: 20%;
    height: 100%;
    min-height: 10rem;
    /* padding: 50px 0px; */
    text-align: center;
    margin: auto;
    /* // border-bottom: 1px solid black; */
}


/* .projectFactsWrap .item:hover{
    background: linear-gradient(0deg, #2c2c3b3b 0%, #ffffff 30%);
    box-shadow: 2px 5px 7px 0px #00000054;
} */

.projectFactsWrap .item:nth-child(1) {
    /* // background: rgb(39, 40, 51); */
}

.projectFactsWrap .item:nth-child(2) {
    /* // background: rgb(36, 37, 49); */
}

.projectFactsWrap .item:nth-child(3) {
    /* // background: rgb(33, 34, 46); */
}

.projectFactsWrap .item:nth-child(4) {
    /* // background: rgb(29, 30, 43);
  // padding: 2.83% 0; */
}

.projectFactsWrap .item p.number {
    font-size: 1.5rem;
    padding: 0;
    font-weight: bold;
}

.projectFactsWrap .item p {
    color: rgb(39, 40, 51);
    font-size: 0.7rem;
    margin: 0!important;
    padding: 10px;
    font-family: 'Arial';
}

.projectFactsWrap .item span {
    width: 60px;
    background: rgb(39, 40, 51);
    height: 2px;
    display: block;
    margin: 0 auto;
}

.projectFactsWrap .item i {
    vertical-align: middle;
    font-size: 50px;
    padding-bottom: 20px;
    color: rgb(39, 40, 51);
}

.projectFactsWrap .item:hover i,
.projectFactsWrap .item:hover p {
    /* color: #ffa200; */
}

.projectFactsWrap .item:hover span {
    background: white;
}

@media (max-width: 786px) {
    .projectFactsWrap .item {
        flex: 0 0 50%;
    }
}


/* NAE */

.uk-button {
    font-family: "Lato", sans-serif;
}

.card {
    background: linear-gradient(90deg, rgb(39, 40, 51) 0%, rgb(29, 30, 43) 100%) 0% 0% repeat scroll rgba(0, 0, 0, 0);
    margin: 10px 0;
}

.in-button-app {
    background-color: #2b2a2a;
    border-radius: 6px;
    color: #fff;
    display: -webkit-box;
}

.in-button-app:hover {
    transition: all ease 400ms;
    background-color: #fff;
    box-shadow: inset 0px 0px 0px 1px #d6d5e1;
    color: #3f3453;
}

@media (max-width: 960px) {
    .in-button-app {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.in-pricing-1 .uk-card {
    overflow: hidden;
    border-radius: 12px;
    border: 2px solid #d5cee0;
    transition: all ease 600ms;
}

.in-pricing-1 .uk-card-default {
    background-color: #fff;
}

.in-pricing-1 .uk-card-default:hover {
    border-color: #b9afcd;
}

.in-button-app {
    font-weight: 300;
    font-size: 13px;
    text-transform: capitalize;
    text-align: center;
    line-height: 17px;
    padding: 8px 8px;
}

.in-button-app span.wrapper {
    float: right;
}

.in-button-app span.wrapper span {
    font-weight: 600;
    font-size: 15px;
}

.in-button-app span.wrapper span::before {
    content: "\A";
    white-space: pre;
}

.in-button-app i {
    margin-right: 5px;
    position: relative;
    top: 4px;
    font-size: small!important;
}

.in-icon-wrap {
    font-family: inherit;
    font-weight: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: #f0f0f0;
    color: #5c5c5c;
    border-radius: 24px;
}

.in-icon-wrap.circle {
    border-radius: 500px;
}

.in-icon-wrap.primary-color {
    background-color: #f19e38;
    color: #fff;
}

.fas,
.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-2x {
    font-size: 2em;
}

.fa-apple:before {
    content: "\f179";
}

.fa-caret-square-right:before {
    content: "\f152";
}

.fa-chart-line:before {
    content: "\f201";
}

.fa-google-play:before {
    content: "\f3ab";
}

.fab {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
}

.fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

#exReport {
    margin-bottom: 0;
}

.news-tab-head {
    width: inherit;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0 30px;
}

.news-tab-head span {
    display: inline-block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 0 20px;
    font-size: 20px;
    cursor: pointer;
}

.news-tab-head span.active {
    background-color: #d51820;
    color: #fff;
    border-color: #d51820;
}

header {
    height: 62px;
    line-height: 62px;
    background-color: #000;
}

header .width-cell {
    width: inherit;
    margin: 0 auto;
}

header a {
    color: #fff;
}

header .left {
    float: left;
}

header .left a {
    margin-right: 15px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}

header .left a:hover {
    opacity: 1;
}

header .right {
    float: right;
    position: relative;
    padding-right: 100px;
    padding-top: 15px;
}

header .right a {
    float: left;
    margin-right: 15px;
}

header .right a i {
    margin-right: 5px;
}

header .right .language,
header .right a {
    width: 100px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    color: #ccc;
    text-align: center;
}

header .right .create-account {
    width: 140px;
    background-color: #74c109;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: 0;
}

header .right .language {
    position: absolute;
    right: 0;
    top: 15px;
}

.width-cell {
    width: 90%;
    padding: 0px 20px;
    max-width: inherit;
    margin: 0 auto;
}

.menu-parent {
    font-weight: bold;
}



.home-banner {
    /* background: url(../../static/images/Hero-3.png) no-repeat center center; */
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(39, 40, 51) 0%, rgb(30, 32, 47) 100%) repeat scroll 0% 0%;
    min-height: 650px;
    background-size: cover;
}

.home-banner .banner-cell {
    background: rgba(0, 0, 0, .5);
    height: 100%;
    padding-top: 55px;
    position: relative;
    min-height: 650px;
}

@media (min-width: 2000px) {
    .home-banner {
        min-height: 650px;
    }
    .home-banner .banner-cell {
        padding-top: 136px;
    }
}

.home-banner .swiper-wrap {
    width: inherit;
    height: auto;
    margin: 0 auto;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    color: #fff;
    text-align: center;
    /*  padding-top: 26px;*/
}

.swiper-slide h5 {
    font-size: 42px;
    font-weight: bold;
    line-height: 42px;
}

.swiper-slide p {
    font-size: 0.9rem;
    margin-top: 20px;
}

.crate-account-box {
    width: inherit;
    height: 65px;
    margin: 35px auto 0;
}

.crate-account-box a {
    float: left;
    width: inherit;
    height: 64px;
    text-align: center;
    background-color: #d51820;
    color: #fff;
    margin: 15px 0px;
    padding-top: 8px;
}

.crate-account-box a:hover {
    background-color: #b30000;
}


/*.crate-account-box a:last-child {
	 background-color: #74c109;
}
*/

.crate-account-box a:last-child:hover {
    background-color: #d51820;
}

.crate-account-box i {
    display: block;
    font-size: 25px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 1px;
}

.crate-account-box span {
    display: block;
    margin-top: 4px;
}

.advantage {
    width: inherit;
    height: 125px;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background-color: #fff;
    border-radius: 2px 2px 0 0;
}

.advantage .col {
    width: 25%;
    float: left;
    border-right: 1px solid #eee;
    margin-top: 30px;
}

.advantage .col em {
    float: left;
    font-size: 50px;
    line-height: 50px;
    color: #d51820;
    margin: 15px 0 0 35px;
}

.advantage .col span {
    float: right;
    margin: 20px 40px 0 0;
    line-height: 20px;
    font-size: 18px;
}

.advantage .col2 em {
    margin-left: 50px;
}

.advantage .col2 span {
    margin-right: 80px;
}

.advantage .col3 em {
    margin-left: 50px;
}

.advantage .col3 span {
    margin-right: 50px;
    margin-top: 30px;
}

.advantage .col4 em {
    margin: 15px 35px 0 0;
    float: right;
}

.advantage .col4 span {
    margin: 20px 0 0 40px;
    float: left;
}

.fph {
    font-size: 26px;
    font-weight: bold;
    /* color: #000; */
    text-align: center;
}

.row-1 {
    background-color: #f7f7f7;
    /* padding-top: 80px; */
}

.row-1 .box {
    margin-top: 70px;
    height: 700px;
    min-height: 550px;
}

.row-1 .box .item {
    float: left;
    margin: 30px;
    height: 70px;
    margin-left: 9px;
}

.row-1 .box .item em {
    font-size: 42px;
    padding-right: 15px;
    line-height: 70px;
    border-right: 1px solid #afafaf;
    float: left;
}

.row-1 .box .item .txt {
    margin-left: 15px;
    position: relative;
    padding-left: 95px;
}

.row-1 .box .item .tfx-font {
    font-size: 80px;
    color: #ffa200;
    position: absolute;
    left: 0;
    top: 0;
}

.row-1 .box .item p {
    font-size: 18px;
    padding-top: 16px;
}

.row-1 .crate-account {
    text-align: center;
    margin-top: 10px;
    margin: 0px -20px;
}

.row-1 .crate-account .create-link {
    display: block;
    width: 300px;
    height: 60px;
    background-color: #12d767;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 8px;
    border-radius: 3px;
}

.row-1 .crate-account .create-link:hover {
    background-color: #29a643;
}

.row-1 .crate-account .create-link em {
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 1px;
}

.row-1 .crate-account .create-link small {
    display: block;
    margin-top: 3px;
}

.row-1 .risk-wrap a {
    color: #f00;
}

.row-2>p {
    text-align: center;
    font-size: 16px;
    margin: 40px auto 0;
    line-height: 24px;
    color: #555;
}

.row-2>ul {
    width: inherit;
    margin: 0 auto;
    margin-top: 45px;
    min-height: 350px;
    display: block;
}

.row-2>ul li {
    box-shadow: 2px 2px 7px 3px #0000003b;
    margin-bottom: 15px;
    border-radius: 20px;
    position: relative;
    margin-left: 5%;
}

.row-2>ul li .left {
    float: left;
    margin: 20px 0 0 10px;
}

.row-2>ul li .left .r1 {
    /*border-bottom: 1px solid #eee;*/
}

.row-2>ul li .left .avatar-fin {
    float: left;
}

.row-2>ul li .left .img-box {
    float: left;
    width: 3rem;
    height: 3.1rem;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid #eee;
}

.row-2>ul li .left .img-box img {
    width: 100%;
    height: 100%;
}

.row-2>ul li .left .avatar-fin p {
    padding-left: 95px;
}

.row-2>ul li .left .avatar-fin p i {
    font-size: 20px;
    font-weight: bold;
    display: block;
    padding-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row-2>ul li .left .avatar-fin p span {
    color: #999;
    font-size: 15px;
    display: block;
    padding-top: 8px;
}

.row-2>ul li .left .txt {
    float: right;
    padding-top: 10px;
    font-size: 15px;
    color: #000;
}

.row-2>ul li .left .txt .cell {
    float: left;
    width: 50%;
    margin-bottom: 10px;
    padding-left: 15px;
}

.row-2>ul li .left .txt .cell.even {
    padding-left: 60px;
}

.row-2>ul li .left .txt .cell span {
    color: #999;
}

.row-2>ul li .left .txt .cell i {
    color: #000;
    margin-left: 10px;
}

.row-2>ul li .left .r2 .col {
    float: left;
    text-align: center;
}

.row-2>ul li .left .r2 .col i {
    font-size: 20px;
    color: #12d767;
    font-weight: bold;
    display: block;
    padding: 26px 0 8px;
}

.row-2>ul li .left .r2 .col:last-child i {
    color: #000;
}

.row-2>ul li .left .r2 .col span {
    color: #999;
    font-size: 15px;
}


/* .row-2>ul li .right {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    display: contents;
} */

.row-2>ul li .right button {
    height: 40px;
    border-radius: 50px;
    background-color: #12d767;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.row-2>ul li .right button.details {
    background-color: #d51820;
}

.row-2>ul li .right button:hover {
    background-color: #29a643;
}

.row-2>ul li .right button.details:hover {
    background-color: #b30000;
}

.row-2 .more {
    text-align: center;
    margin-top: 40px;
}

.row-2 .more a {
    display: inline-block;
    width: 220px;
    height: 50px;
    line-height: 50px;
    border-radius: 60px;
    background-color: #12d767;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.row-2 .more a:hover {
    background-color: #29a643;
}

.row-3 {
    background-color: #f7f7f7;
}

.row-3 .width-cell {
    display: table;
    text-align: center;
}

.row-3 .item {
    width: 25%;
    text-align: center;
    display: inline-block;
}

.row-3 .item:hover {
    -webkit-transition: opacity 0.2s ease 0s;
    transition: opacity 0.2s ease 0s;
    opacity: 0.5;
}

.row-3 .tfx-font {
    font-size: 80px;
    color: #d51820;
    display: block;
}


/* .row-3 .tfx-home-stock{
	color: #74c109;
}
 .row-3 .tfx-home-commodities{
	color: #9266f9;
}
 .row-3 .tfx-home-gold{
	color: #9266f9;
}
 .row-3 .tfx-home-energies{
	color: #16c2c2;
}
 */

@media screen and (max-width:361 px) {
    .row-2>ul li .left .r2 .col {
        width: 32.3%;
        float: left;
        text-align: center;
    }
    .row-2>ul li .left .avatar-fin p {
        padding-left: 22px;
    }
    .row-2>ul li .left .avatar-fin p i {
        font-size: 14px;
        font-weight: bold;
        display: block;
        width: 54%;
        padding-top: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.row-3 em {
    display: block;
    font-size: 16px;
    padding: 10px 0 5px;
}

.row-3 p {
    color: #888;
    font-size: 15px;
}

.row-4 {
    background-color: #fff;
}

.row-4 .row-cell {
    width: inherit;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px;
    padding-top: 20px;
    border-radius: 10px;
}

.row-4 .report-head {
    height: 30px;
    line-height: 30px;
}

.row-4 .report-head em,
.row-4 .report-head span {
    float: left;
    margin-right: 30px;
}

.row-4 .report-head em {
    font-size: 18px;
    font-weight: bold;
}

.row-4 .report-head span {
    color: #888;
    position: relative;
    cursor: pointer;
}

.row-4 .report-head span:hover {
    color: #000;
    font-weight: bold;
}

.row-4 .report-head span.active {
    color: #000;
    font-weight: bold;
}

.row-4 .report-head span.active:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background-color: #74c109;
}

.row-4 .report-head a {
    float: right;
    padding: 0 8px 0 10px;
    height: 26px;
    line-height: 26px;
    background: rgba(41, 166, 67, .2);
    color: #74c109;
    border-radius: 20px;
}

.row-4 .report-head a i {
    float: right;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    margin: 4px 0 0 5px;
    background: rgba(35, 140, 56, .2);
}

.row-4 ul {
    width: inherit;
    margin: 25px auto 0;
}

.row-4 li {
    margin-bottom: 25px;
    width: 50%;
    float: left;
}

.row-4 li:last-child {
    border: 0;
}

.row-4 li .title h5 {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
}

.row-4 li .title p {
    color: #aaa;
    font-size: 14px;
    font-weight: normal;
    display: block;
    padding-top: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.row-4 li .title i {
    margin-right: 3px;
}

.row-4 li .img-box {
    width: 132px;
    height: 82px;
    overflow: hidden;
    float: left;
    position: relative;
}

.row-4 li .img-box .cell {
    width: 100%;
    border-radius: 4px;
    background-size: cover;
    background-position: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    transition: all 1s;
}

.row-4 li .img-box .cell:hover {
    transform: scale(1.1);
}

.row-4 li .txt {
    margin-left: 150px;
    padding-right: 15px;
    position: relative;
    height: 82px;
}

.row-4 li .txt>p {
    font-size: 15px;
    margin-top: 5px;
    color: #333;
}

.row-4 li>a {
    display: block;
    color: #74c109;
    margin-top: 5px;
}

.row-4 li>a:hover {
    color: #29a643;
}

.row-4 .more {
    text-align: center;
}

.row-4 .more a {
    display: inline-block;
    width: 120px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #74c109;
    border-radius: 3px;
    color: #74c109;
}

.row-4 .more a:hover {
    color: #29a643;
    border-color: #29a643;
}

.row-4 .empty {
    padding-top: 30px;
    padding-bottom: 20px;
}

.fin-pro-details .upper {
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 10px 0;
}

.fin-pro-details .item {
    width: 20%;
    float: left;
    padding: 5px 15px;
    color: #888;
}

.fin-pro-details .item i {
    color: #000;
    margin-left: 5px;
}

.fin-pro-details .under {
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #eee;
    border-radius: 3px;
    max-height: 410px;
    overflow: auto;
}

.fin-pro-details .under h5 {
    font-size: 18px;
    color: #000;
}

.fin-pro-details .under p {
    padding: 15px 0;
}

.fin-pro-details .under a {
    color: #74c109;
    margin-right: 10px;
}

.fin-pro-details .under a:hover {
    text-decoration: underline;
}

.fin-pro-details .dialog-head-box {
    height: 35px;
    line-height: 35px;
    margin-bottom: 40px;
}

.fin-pro-details .dialog-head-box span {
    margin: 0 10px;
    font-size: 16px;
    color: #888;
    position: relative;
    float: left;
    cursor: pointer;
}

.fin-pro-details .dialog-head-box span.active {
    color: #000;
}

.fin-pro-details .dialog-head-box span.active:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #74c109;
    bottom: 0;
    left: 0;
}

.fin-pro-details table {
    width: 100%;
}

.fin-pro-details th,
.fin-pro-details td {
    height: 50px;
    text-align: center;
}

.fin-pro-details th {
    background-color: #f5f5f5;
}

.fin-pro-details td {
    border-bottom: 1px solid #ddd;
}

.fin-pro-details .product-info,
.fin-pro-details .product-order-records,
.fin-pro-details .product-flows,
.fin-pro-details .product-trad-history {
    min-height: 230px;
}

.fin-pro-details .empty i {
    font-size: 60px;
    line-height: 80px;
}

.f-pro-pagination-box {
    text-align: center;
    margin: 50px 0 15px;
}

.check-tip {
    position: absolute;
    background: #555;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    bottom: 45px;
    left: 50%;
    line-height: 20px;
    letter-spacing: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.check-tip:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 5px;
    border-bottom-width: 0;
    border-top-color: #555;
    left: calc(50% - 5px);
    bottom: -5px;
}

.fin-pro-buy .buy-box-fin>p {
    height: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #777;
}

.fin-pro-buy .buy-box-fin span {
    color: #777;
    margin-right: 5px;
    display: inline-block;
    min-width: 80px;
    /* text-align: right; */
    padding-bottom: 5%;
    color: #888;
}

.fin-pro-buy .buy-box-fin li {
    height: 35px;
    line-height: 35px;
    margin-bottom: 20px;
    position: relative;
    width: 350px;
}

.fin-pro-buy .buy-box-fin li.lan-en {
    height: 70px;
}

.fin-pro-buy .buy-box-fin li.lan-en input {
    margin-left: 88px;
}

.fin-pro-buy .buy-box-fin input {
    height: 35px;
    border: 1px solid #ccc;
    width: 230px;
    padding: 0 10px;
    border-radius: 3px;
}

.fin-pro-buy .buy-box-fin input::-webkit-input-placeholder {
    color: #bbb;
}

.fin-pro-buy .buy-box-fin .btn {
    padding-left: 88px;
}

.fin-pro-buy .buy-box-fin button {
    width: 120px;
    height: 41px;
    background-color: #74c109;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
}

.fin-pro-buy .buy-box-fin button:hover {
    background-color: #29a643;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.empty {
    text-align: center;
    padding-top: 50px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

.empty i {
    font-size: 80px;
    color: #cecece;
    display: block;
    line-height: 100px;
}

.empty span {
    font-size: 16px;
    color: #aaa;
}

.row-5 h2 {
    /* padding-bottom: 30px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 30px; */
}

.row-5 .row-cell {
    width: inherit;
    margin: 0 auto;
}

.ul2 {
    display: inline-flex;
}

ul {
    padding-left: 0px;
    margin-top: 0;
    margin-bottom: 10px;
}

.li2 {
    margin: 3% 5%;
    font-size: 11px;
}

.icopad {
    color: #272833;
    padding-left: 0px;
}

.col-6 i {
    color: #58755e;
}

.uk-margin-medium-bottom {
    margin-bottom: 40px !important;
}

.uk-background-default {
    background-color: #fff;
}

.uk-container-expand {
    max-width: none;
}

.uk-container {
    max-width: 1201px;
    border-radius: 10px;
}

.uk-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
    list-style: none;
    margin-left: -40px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    color: #788084;
}

.uk-button-default {
    background-color: transparent;
    color: #00b276;
    box-shadow: inset 0 0 0 2px rgba(0, 178, 118, 1);
    border: transparent;
    border-radius: 6px;
}

.uk-list {
    padding: 0;
    list-style: none;
}

.uk-margin-bottom {
    margin-bottom: 20px !important;
}

.uk-button {
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    text-decoration: none;
}

.uk-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.uk-button:hover {
    text-decoration: none;
}

.uk-button:focus {
    outline: 0;
}

.uk-button-link {
    padding: 0;
    line-height: 1.5;
    background: 0 0;
    color: #1e87f0;
}

.uk-button-link:focus,
.uk-button-link:hover {
    color: #0f6ecd;
    text-decoration: underline;
}

.uk-button-link:disabled {
    color: #999;
    text-decoration: none;
}

.uk-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.uk-grid>* {
    margin: 0;
}

.uk-grid>*> :last-child {
    margin-bottom: 0;
}

.uk-grid {
    margin-left: -30px;
}

.uk-grid>* {
    padding-left: 30px;
}

*+.uk-grid-margin,
.uk-grid>.uk-grid-margin {
    margin-top: 30px;
}

@media (min-width: inherit) {
    .uk-grid {
        margin-left: -40px;
    }
    .uk-grid>* {
        padding-left: 40px;
    }
    *+.uk-grid-margin,
    .uk-grid>.uk-grid-margin {
        margin-top: 40px;
    }
}

.uk-grid-small {
    margin-left: -15px;
}

.uk-grid-small>* {
    padding-left: 15px;
}

.uk-grid-divider>* {
    position: relative;
}

.uk-grid-divider> :not(.uk-first-column)::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px solid #d5d4dc;
}


/*.uk-grid-divider {
  margin-left: -60px;
}*/

.uk-grid-divider>* {
    padding-left: 75px;
}

.uk-grid-divider> :not(.uk-first-column)::before {
    left: 30px;
}

@media (min-width: inherit) {
    .uk-grid-divider {
        margin-left: -80px;
    }
    .uk-grid-divider>* {
        padding-left: 80px;
    }
    .uk-grid-divider> :not(.uk-first-column)::before {
        left: 40px;
    }
}

.uk-grid-match>* {
    display: flex;
    flex-wrap: wrap;
}

.uk-grid-match>*> :not([class*="uk-width"]) {
    box-sizing: border-box;
    width: 100%;
    flex: auto;
}

.uk-card {
    position: relative;
    box-sizing: border-box;
}

.uk-card-body {
    display: flow-root;
    padding: 30px 30px;
}

@media (min-width: inherit) {
    .uk-card-body {
        padding: 40px 40px;
    }
}

.uk-card-body> :last-child {
    margin-bottom: 0;
}

.uk-card-default {
    background: #f2f3f5;
    color: #666;
    border: 1px solid #e8e8e8;
}

.uk-label {
    display: inline-block;
    padding: 0 10px;
    background: #f19e38;
    line-height: 1.5;
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
}

[class*="uk-child-width"]>* {
    box-sizing: border-box;
    width: 100%;
}

@media (min-width: 640px) {
    .uk-child-width-1-2\@s >* {
        width: 50%;
    }
}

@media (min-width: 960px) {
    .uk-child-width-1-2\@m >* {
        width: 50%;
    }
}

[class*="uk-width"] {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

.uk-width-auto {
    width: auto;
}

.uk-width-expand {
    flex: 1;
    min-width: 1px;
}

@media (min-width: 960px) {
    .uk-width-5-6\@m {
        width: calc(100% * 5 / 6.001);
    }
    .uk-width-auto\@m {
        width: auto;
    }
    .uk-width-expand\@m {
        flex: 1;
        min-width: 1px;
    }
}

.uk-text-lead {
    font-size: 18px;
    line-height: 1.5;
    color: rgb(135, 135, 135);
    ;
    font-weight: 400;
}

.uk-text-small {
    font-size: 18px;
    line-height: 1.5;
}

.uk-text-bold {
    font-weight: 700;
}

.uk-text-uppercase {
    text-transform: uppercase !important;
}

.uk-text-primary {
    color: #f19e38 !important;
}

[class*="uk-align"] {
    display: block;
    margin-bottom: 30px;
}

*+[class*="uk-align"] {
    margin-top: 30px;
}

.uk-align-center {
    margin-left: auto;
    margin-right: auto;
}

.uk-align-right {
    margin-top: 0;
    margin-left: 30px;
    float: right;
}

@media (min-width: inherit) {
    .uk-align-right {
        margin-left: 40px;
    }
}

.uk-border-pill {
    border-radius: 500px;
}

.uk-box-shadow-medium {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.uk-flex {
    display: flex;
}

.uk-flex::after,
.uk-flex::before {
    display: none;
}

.uk-flex-left {
    justify-content: flex-start;
}

@media (min-width: 960px) {
    .uk-flex-center\@m {
        justify-content: center;
    }
}

.uk-flex-middle {
    align-items: center;
}

.uk-margin-small-top {
    margin-top: 10px !important;
}

.uk-margin-small-left {
    margin-left: 10px !important;
}

.uk-margin-small-right {
    margin-right: 10px !important;
}

.uk-margin-medium-top {
    margin-top: 40px !important;
}

.uk-margin-remove-top {
    margin-top: 0 !important;
}

.uk-margin-remove-bottom {
    margin-bottom: 0 !important;
}

@media (max-width: 959px) {
    .uk-visible\@m {
        display: none !important;
    }
}

.uk-button {
    font-family: "Lato", sans-serif;
}

.in-pricing-1 .uk-card {
    overflow: hidden;
    border-radius: 12px;
    border: 2px solid #d5cee0;
    transition: all ease 600ms;
}

.in-pricing-1 .uk-card-default {
    background-color: #fff;
}

.in-pricing-1 .uk-card-default:hover {
    border-color: #b9afcd;
}

.in-pricing-1 .uk-card-default {
    background: linear-gradient(0deg, #f7f7fa 0%, #f7f7fa 45%, white 75%, white 100%);
}

.in-pricing-1 .uk-card-body {
    padding-top: 0;
    padding-bottom: 20px;
}

.in-pricing-1 .uk-card-body p,
.in-pricing-1 .uk-card-body .uk-label {
    position: relative;
    z-index: 1;
    margin-bottom: 0px;
}

.in-pricing-1 .uk-card-body .uk-label {
    margin-top: 4px;
}

.in-pricing-1 .uk-card-media-top {
    position: relative;
}

.in-pricing-1 .uk-card-media-top span {
    position: absolute;
    display: block;
    width: 100%;
    height: 101%;
    background: linear-gradient(0deg, #f7f7fa 0%, rgba(247, 247, 250, 0.599877) 30%, rgba(247, 247, 250, 0) 100%);
    top: 0;
}

.in-pricing-1 .uk-button-link {
    color: #fd6a4f;
}

.in-heading-extra .uk-text-lead {
    margin-top: -5px;
}

.in-profit-appcard {
    background-color: #f7f6fc;
    border: 2px solid #d5cee0;
    border-radius: 12px;
}

.in-profit-appcard.uk-card-body .uk-child-width-1-2\@m div:nth-child(2) {
    padding-left: 0;
    margin-top: -40px;
    margin-bottom: -40px;
}

.in-profit-tradestatus .uk-text-lead {
    font-size: 18px;
}

@media (max-width: 960px) {
    .in-heading-extra:before {
        top: 39px;
        right: -180px;
    }
}

@media (max-width: 639px) {
    .uk-card-body .uk-label {
        display: none;
    }
}

.in-pricing-1 .uk-card-media-top span {
    position: absolute;
    width: 100%;
    height: 101%;
    background: linear-gradient(0deg, #f7f7fa 0%, rgba(247, 247, 250, 0.599877) 30%, rgba(247, 247, 250, 0) 100%);
    top: 0;
}

.in-profit-2.uk-background-contain {
    background-size: 960px 710px;
    background-position: 20% 30%;
}

.in-heading-extra {
    border-left: 7px solid #ffc175;
    padding-left: 18px;
    position: relative;
    top: -120px;
    margin-bottom: -120px;
}

hr {
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.in-button-app {
    background-color: #2b2a2a;
    border-radius: 6px;
    color: #fff;
    font-weight: 300;
    font-size: 11px;
    white-space: nowrap;
    text-transform: capitalize;
    text-align: center;
    line-height: 17px;
    padding: 8px 8px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    color: #fff;
    opacity: .6;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 26px;
    font-weight: bold;
}

.swiper-pagination-bullet {
    background: none;
    border: 1px solid #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #f00;
    border: 0
}

.fin-pro-details .el-dialog {
    /* width: inherit !important; */
    background: #fff;
}

.fin-pro-details .el-dialog__title {
    color: #333;
}

.fin-pro-details .el-dialog__header {
    padding-bottom: 5px;
}

.fin-pro-details .el-dialog__body {
    color: #333;
    padding: 10px 20px 20px;
}

.fin-pro-buy .el-dialog {
    /* width: 500px !important; */
    background: #fff;
}

.fin-pro-buy .el-dialog__title {
    color: #333;
    font-size: 18px;
}

.fin-pro-buy .el-dialog__header {
    padding-bottom: 5px;
    padding-top: 15px;
}

.fin-pro-buy .el-dialog__body {
    color: #333;
    padding: 10px 20px 20px;
}

.fin-pro-buy .el-select {
    width: 230px;
}

.fin-pro-buy .el-input__inner {
    height: 35px;
    border-radius: 3px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    color: #fff;
    opacity: 0.6;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 26px;
    font-weight: bold;
}

.swiper-pagination-bullet {
    background: none;
    border: 1px solid #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #f00;
    border: 0;
}

.fin-pro-details .el-dialog {
    width: 90% !important;
    background: #fff;
    height: 90%;
}

.fin-pro-details .el-dialog__title {
    color: #333;
}

.fin-pro-details .el-dialog__header {
    padding-bottom: 5px;
}

.fin-pro-details .el-dialog__body {
    color: #333;
    padding: 10px 20px 20px;
}

.fin-pro-buy .el-dialog {
    /* width: 500px !important; */
    background: #fff;
}

.fin-pro-buy .el-dialog__title {
    color: #333;
    font-size: 18px;
}

.fin-pro-buy .el-dialog__header {
    padding-bottom: 5px;
    padding-top: 15px;
}

.fin-pro-buy .el-dialog__body {
    color: #333;
    padding: 10px 20px 20px;
}

.fin-pro-buy .el-select {
    width: 230px;
}

.fin-pro-buy .el-input__inner {
    height: 35px;
    border-radius: 3px;
}


/*.slick-slide {
  width: 100%!important;
}*/

@media (min-width: inherit) {
    .h3,
    h3 {
        font-size: inherit;
    }
}


/*.slick-slider {
  width: auto;*/


/*margin-left: 1.5em !important;*/


/*padding-left: 0px;
}*/

.rowsy>* {
    padding-right: inherit;
    padding-left: inherit;
    margin-top: inherit;
}

dd {
    margin-bottom: 0 !important;
}

.row-3 .item em {
    color: #fd6a4f !important
}

span.changes.down {
    color: #ff0000;
    margin-left: 3px;
    font-weight: 700;
    text-shadow: 0 0 #ff8383;
}


.ccpw-footer-ticker-fixedbar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 999;
    cursor: pointer;
    height: 50px;
    background-color: #333;
}


/*
.slick-initialized .slick-slide {
  max-width: min-content !important;
}*/

.btn-primary {
    background-color: #12d767;
    border-color: #12d767;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #29a643;
    border-color: #29a643;
}


/*.slick-prev, .slick-next {
  display: none!important;
}
*/

.el-select .el-input .el-select__caret {
    position: fixed;
    display: inline;
    top: 30px;
    right: 30px;
}

.w3-code {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word
}

.w3-codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%
}

.w3-card,
.w3-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.w3-card-4,
.w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.w3-spin {
    animation: w3-spin 2s infinite linear
}

@keyframes w3-spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}

.w3-animate-fading {
    animation: fading 10s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.w3-animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.w3-animate-top {
    position: relative;
    animation: animatetop 400ms;
    -webkit-animation: animatetop 400ms;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@-webkit-keyframes animatetop {
    0% {
        -webkit-top: -300px;
        -webkit-opacity: 0
    }
    100% {
        -webkit-top: 0;
        -webkit-opacity: 1
    }
}

.w3-animate-left {
    position: relative;
    animation: animateleft 0.4s;
    -webkit-animation: animateleft 0.4s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

@-webkit-keyframes animateleft {
    0% {
        -webkit-left: -300px;
        -webkit-opacity: 0
    }
    100% {
        -webkit-left: 0;
        -webkit-opacity: 1
    }
}

.w3-animate-right {
    position: relative;
    -webkit-position: relative;
    animation: animateright 0.4s;
    -webkit-animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

@-webkit-keyframes animateright {
    0% {
        -webkit-right: -300px;
        -webkit-opacity: 0
    }
    100% {
        -webkit-right: 0;
        -webkit-opacity: 1
    }
}

.w3-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.w3-animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.w3-animate-input {
    transition: width 0.4s ease-in-out
}

.w3-animate-input:focus {
    width: 100% !important
}

.w3-opacity,
.w3-hover-opacity:hover {
    opacity: 0.60
}

.w3-opacity-off,
.w3-hover-opacity-off:hover {
    opacity: 1
}

.w3-opacity-max {
    opacity: 0.25
}

.w3-opacity-min {
    opacity: 0.75
}

.moneyStar {
    /*  box-shadow: 0 0 7px white;
  animation: pulsate 1s ease-out infinite;*/
    filter: drop-shadow( 1px 1px 0px rgba(250, 250, 250, .5));
    animation: pulsate 4s ease-out infinite;
}

.moneyStar2 {
    /*  box-shadow: 0 0 7px white;
  animation: pulsate 1s ease-out infinite;*/
    /*  -webkit-filter: drop-shadow( 1px 1px 1px rgba(250, 250, 250, .7));*/
    filter: drop-shadow( 1px 1px 0px rgba(250, 250, 250, .5));
    animation: pulsate 4s ease-in-out infinite 1s;
}

.moneyStar3 {
    /*  box-shadow: 0 0 7px white;
  animation: pulsate 1s ease-out infinite;*/
    /* -webkit-filter: drop-shadow( 1px 1px 1px rgba(250, 250, 250, .7));*/
    filter: drop-shadow( 1px 1px 0px rgba(250, 250, 250, .5));
    animation: pulsate 3s ease-in infinite 2s;
}

.moneyStar4 {
    /*  box-shadow: 0 0 7px white;
  animation: pulsate 1s ease-out infinite;*/
    /*  -webkit-filter: drop-shadow( 1px 1px 1px rgba(250, 250, 250, .7));*/
    filter: drop-shadow( 1px 1px 0px rgba(250, 250, 250, .5));
    animation: pulsate 4s linear infinite 3s;
}

@-webkit-keyframes pulsate {
    0% {
        filter: drop-shadow( 1px 1px 1px rgba(250, 250, 250, 0));
    }
    /*  10% {
    box-shadow: 0 0 1px white;
  }

  20% {
    box-shadow: 0 0 2px white;
  }

  30% {
    box-shadow: 0 0 4px white;
  }

  40% {
    box-shadow: 0 0 5px white;
  }
*/
    50% {
        filter: drop-shadow( 1px 1px 20px rgba(250, 250, 250, 1));
    }
    100% {
        filter: drop-shadow( 1px 1px 1px rgba(250, 250, 250, 0));
    }
}

.in-button-app:hover i:before {
    color: #3f3453
}