.main-box {
    position: relative;
    display: block;
    width: 90%;
    height: 700px;
    margin: 50px auto;
    border-radius: 8px;
    overflow: hidden;
    background: radial-gradient( circle, rgba(20, 24, 52, 1) 0%, rgba(19, 22, 47, 1) 100% );
}

.lined-link {
    position: relative;
    text-decoration: none;
    transition: all 0.2s linear
}

.lined-link:hover {
    opacity: 0.5
}

.lined-link:after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -2px;
    border: none;
    border-bottom: 1px solid #63d5c4;
}


/************ Start Slider Container **************/

.slider-cont,
.form-cont {
    width: 100%;
    height: 100%;
    /*float: left;*/
    text-align: center;
}

.slick-slide,
.slick-slider {
    width: 100%;
    height: 100%
}

.clear-fix {
    clear: both;
}

.slick-dots {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 3px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    border: 0;
    outline: none;
    background: #8dffea;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.slick-dots li.slick-active button {
    background-color: #53C5B9;
    transform: scale(1.6);
    box-shadow: 0 0 10px #1b1b1b
}

.img-txt {
    position: relative;
}

.img-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(47, 63, 85, 0.53);
}

.img-txt h1 {
    position: absolute;
    display: block;
    top: 50%;
    color: #fff;
    width: 100%;
    padding: 50px 0;
    font-size: 45px;
    font-weight: 100;
    text-align: center;
    transform: translateY(-50%);
    background-color: transparent;
}


/************ Start Form Container **************/

.top-buttons {
    position: relative;
    display: block;
    width: 100%;
    height: 15%;
    padding: 25px;
    text-align: right;
}

.top-buttons button {
    color: #cacaca;
    border: none;
    width: 50%;
    margin: -2px;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    background: #4c5c72;
    cursor: pointer;
}

.top-buttons button:nth-child(1) {
    border-radius: 0px!important;
}

.top-buttons button:nth-child(2) {
    border-radius: 0px!important;
}

.top-active-button {
    color: #fff !important;
    box-shadow: 0 0 20px #2a2a2a;
    background: linear-gradient(#3463b9, #34BABA)!important;
    transition: all 0.3s ease;
}

.form {
    width: 100%;
    height: 60%;
    padding: 10px 20px;
}

.form form {
    width: 100%;
    height: 100%;
}

.form form lable,
input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
}

.form form lable {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 6px 0;
}

p.terms {
    color: #9E9E9E;
    margin-bottom: 60px;
}

.form form input[type="text"],
input[type="email"],
input[type="password"] {
    color: #fff;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 45px;
    padding: 5px 0 10px 0;
    background: #31334a;
    border-bottom: 1px solid #4c5c72;
}

.form form input::placeholder {
    color: #cecece;
}

.form form a {
    color: #fff;
}

input.form-btn {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 12px 55px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    border-radius: 35px;
    transition: all 0.3s linear;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.55);
    background: linear-gradient(#3463b9, #34BABA);
}

input.form-btn:hover {
    box-shadow: none
}

.form-signin {
    display: none;
    padding-top: 120px;
}

#type {
    color: white;
}

.custom-switch {
    padding-left: 3.25rem;
}

.custom-switch label {
    padding-left: 0.5em
}

.form-tabs {
    width: auto;
    margin: 0px auto;
    position: relative;
    border-radius: 30px;
    background: transperant;
    /* 	border: solid 0.5px rgba(91, 128, 93, 0.73); */
}

.form-tabs__slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 130px;
    background: linear-gradient(#3463b9, #34BABA);
    border-radius: 30px;
    transition: 0.7s;
    box-shadow: 0 0 20px #2a2a2a;
    /* 	box-shadow: 0 0 5px 2px rgba(91, 128, 93, 0.73); */
    opacity: 1;
}

.form-tabs__btn {
    position: relative;
    padding: 10px 27px;
    cursor: pointer;
    background: transparent;
    border: 0;
    border-radius: 30px;
    outline: none;
    font-size: 0.7em;
    font-family: 0.1rem;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
    transition: 0.9s;
}

.form-tabs__btn_sign-in {
    color: #ECEFF1;
    width: 13em;
    /* padding: 10px 26px; */
}

.form-tabs__btn_register {
    /* padding-left: 3px;
  padding-right: 10px; */
    width: 13em;
}

button:focus {
    outline: none;
}

.to-signin {
    border-radius: 0 50px 50px 0!important;
}

.to-signup {
    border-radius: 50px 0 0 50px;
}

.form-cont h3 {
    margin-bottom: 0;
    margin-top: 1em;
    color: white;
    font-size: 1.4em !important;
}

.el-form-item__label,
.p-tip {
    color: #c3c3c3;
    margin-bottom: 0;
}

.el-input__inner {
    margin-bottom: 0!important;
}

.el-select {
    display: block;
}

.el-form-item {
    margin-bottom: 0;
}


/* .el-input__suffix {
    padding-top: 3em;
} */

.el-form-item__content {
    margin-bottom: 2em;
}

.el-form {
    overflow-y: scroll;
}

.form form {
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.el-checkbox__label {
    color: #34BABA !important;
    width: 10rem
}

.el-checkbox__inner {
    background-color: #34BABA!important;
    border-color: #34BABA !important;
}

.el-checkbox a {
    text-decoration: underline!important;
}

.el-select .el-input .el-select__caret {
    position: relative;
    top: 0px;
    right: 0px
}