.sortable-table thead th {
	cursor: pointer;
}

.sortable-table thead th:after {
	padding-left: 7px;
}

.sortable-table thead th[data-sort-direction="0"]:after {
	content: "\21D5";
}

.sortable-table thead th[data-sort-direction="1"]:after {
	content: "\25B4";
}

.sortable-table thead th[data-sort-direction="-1"]:after {
	content: "\25BE";
}

.sortable-table.sortable-fa-icons thead th:after {
	font-family: FontAwesome;
}

.sortable-table.sortable-fa-icons thead th[data-sort-direction="0"]:after {
	content: "\f0dc";
}

.sortable-table.sortable-fa-icons thead th[data-sort-direction="1"]:after {
	content: "\f0de";
}

.sortable-table.sortable-fa-icons thead th[data-sort-direction="-1"]:after {
	content: "\f0dd";
}