/*! CSS Used from: https://cryptic.modeltheme.com/wp-content/themes/cryptic/css/responsive.css?ver=5.2.9 ; media=all */

@media all {
    img {
        border: 0;
    }
}


/*! CSS Used from: https://cryptic.modeltheme.com/wp-content/themes/cryptic/css/styles.css?ver=5.2.9 ; media=all */

@media all {
    * {
        word-wrap: break-word;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    /* ul {
		padding-left: 30px;
	} */
}


/*! CSS Used from: https://cryptic.modeltheme.com/wp-content/themes/cryptic-child/style.css?ver=5.2.9 ; media=all */

@media all {
    /*! @import https://cryptic.modeltheme.com/wp-content/themes/cryptic/style.css */
    img {
        border: 0;
    }
    img {
        max-width: 100%;
    }
    .ccpw_icon img {
        margin-left: 0px !important;
        max-width: 50px;
        height: auto !important;
    }
    body .ccpw_icon img {
        margin-top: 0px !important;
    }
    .tickercontainer2 {
        margin: 0 !important;
    }
    .ccpw_icon img {
        margin-top: 0px !important;
    }
    /*! end @import */
    ;
}


/*! CSS Used from: Embedded */

::selection {
    color: #ffffff;
    background: #1e1f26;
}

::-moz-selection {
    color: #ffffff;
    background: #1e1f26;
}


/*! CSS Used from: https://cryptic.modeltheme.com/wp-content/plugins/cryptocurrency-price-ticker-widget/assets/css/bootstrap.min.css?ver=5.2.9 ; media=all */

@media all {
    *,
     :after,
     :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}


/*! CSS Used from: https://cryptic.modeltheme.com/wp-content/plugins/cryptocurrency-price-ticker-widget/assets/css/ccpw-icons.css?ver=5.2.9 ; media=all */

@media all {
    [class^="ccpw_icon-"]:before {
        font-family: "ccpwicons";
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: 0.2em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        margin-left: 0.2em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .ccpw_icon-up:before {
        content: "\21";
    }
    .ccpw_icon-down:before {
        content: "\22";
    }
}

@media all {
    .ccpw-ticker-cont {
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        font-size: 12px;
    }
    .ccpw-footer-ticker-fixedbar {
        position: fixed;
        bottom: 0px;
        width: 100%;
        z-index: 999;
        cursor: pointer;
    }
    .tickercontainer2 .coin-container {
        margin-right: 6px;
    }
    .tickercontainer2 span.name {
        font-size: 14px;
        margin-left: 6px;
        font-weight: bold;
    }
    .tickercontainer2 span.price {
        font-size: 12px;
        margin-left: 8px;
    }
    .tickercontainer2 span.ccpw_icon {
        display: inline-table;
        width: 50px;
        height: 100%;
        vertical-align: middle;
    }
    .tickercontainer2 span.ccpw_icon img {
        width: 100%;
        height: auto;
        padding: 0;
        vertical-align: middle;
        margin-top: -3px;
    }
    .tickercontainer2 li {
        white-space: nowrap;
        float: left;
        padding: 0 7px;
        line-height: 34px;
    }
    .tickercontainer2 ul {
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        float: left;
        overflow: hidden;
        list-style-type: none;
    }
    span.changes.up {
        color: #67c624;
        margin-left: 3px;
    }
    span.changes.down {
        color: #ed1414;
        margin-left: 3px;
    }
    .ccpw-container {
        display: flow-root;
    }
}


/*! CSS Used from: Embedded */

.tickercontainer2 #ccpw-ticker-widget-4449 {
    background-color: #1e1f26;
    width: max-content!important;
}

.tickercontainer #ccpw-ticker-widget-4449 span.name {
    color: #fff;
}

.tickercontainer #ccpw-ticker-widget-4449 span.price {
    color: #fff;
}


/*! CSS Used fontfaces */

@font-face {
    font-family: "ccpwicons";
    src: url("https://cryptic.modeltheme.com/wp-content/plugins/cryptocurrency-price-ticker-widget/assets/font/ccpwicons.eot?89136625");
    src: url("https://cryptic.modeltheme.com/wp-content/plugins/cryptocurrency-price-ticker-widget/assets/font/ccpwicons.eot?89136625#iefix") format("embedded-opentype"), url("../../static/fonts/ccpwicons.woff2") format("woff2"), url("../../static/fonts/ccpwicons.woff") format("woff"), url("../../static/fonts/ccpwicons.ttf") format("truetype"), url("https://cryptic.modeltheme.com/wp-content/plugins/cryptocurrency-price-ticker-widget/assets/font/ccpwicons.svg?89136625#ccpwicons") format("svg");
    font-weight: normal;
    font-style: normal;
}

.bx-wrapper {
    margin-bottom: 0px;
}

.name {
    color: white;
}

.price {
    color: white;
}

#tickerDiv {
    display: flow-root;
}