.card .pictures{padding: 0 0 0 5%;margin-left: 30px;}
.card .pictures .pPic img{width: 75%;
    height: auto;
    border-radius: 50%;
    border: 5px solid #636363;}
.card .pictures .fPic {
    position: relative;
bottom: 40px;
left: 135px;
right:unset

}
.rightToLeft .card .pictures .fPic{
left: unset;
right:100px
}
.card .pictures .fPic img{
    width: 25%;
border: 5px solid gray;
border-radius: 50%;
}
.row-profile {width: 100%;display:block;}
.row-profile span{float: right;
    color: white;
    font-weight: 700;width: 60px;
    height: 60px;
    line-height: 55px;}
#traderMainContainer{padding-top: 100px;}
#nameDiv{padding-top: 35px;}
#nameDiv h2{margin-bottom: 20px;}
#nameDiv h4{margin-bottom: 0;color: gray;}
#rankBadge{background:url(../images/2018/badge.png) no-repeat center center;    text-align: center;
    background-size: 60px;}
    .rightToLeft #rankBadge{float:left}
.strategy-manager__rank {padding:20px;}
#warP{line-height: 30px;padding-top:30px;text-align: center;}
.traderDetails{display:inline-block;text-align: center;}
.figure{padding-top: 30px;font-size: 40px;font-weight: 400;}
.figureTitle{padding-top: 20px;padding-bottom: 30px;font-size: 15px;color: #9e9e9e;}
.riskGrn{color: #12d767;}
/* .row-breaker{border-bottom: 1px solid #b7b7b7;} */
.chartCard{border:none;padding-bottom: 75px;}
#historyData {padding-top:20px;}
#historyData h4{color:black;text-align: center;margin-bottom: .5rem;}
#historyData tr{height: 57px;}
#historyData td{font-size: 14px;font-weight: 700;}
.down{color:red}
.up{color:#12d767}
.pieCard{padding-bottom: 75px;}
/* .rightToLeft #textTrader{text-align: left!important;} */
#cardShadow{box-shadow: 13px 10px 10px #bbbbbb52;height: 100%;}