<template>
  <div class="wrap" @click="hideMenu" style="direction: rtl; text-align: right">
    <pageHeader
      @userLogout="userLogout"
      ref="pageHead"
      :defaultCoinType="curCoinType"
      :defaultLanguage="curLanguage"
      @changeCoinType="changeCoinType"
      @changeLanguage="changeLanguage"
    />
    <div class="site-canvas">
      <div class="container-fluid top-bar">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 ">
              <h1 class="ltr text-right">أنوع حسابات التداول</h1>
              <ol class="breadcrumb">
                <li class="home">
                  <router-link to="/" class="home">NOBLE SKY</router-link>
                </li>
                <li class="post post-page current-item">أنوع حسابات التداول</li>
              </ol>
            </div>
            <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
              <div class="option-nav">
                <router-link to="/contact">
                  <i class="contact"></i>
                  <span> اتصل بنا</span></router-link
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="container-fluid text-center  top80">
          <div class="feature-item5">
            <i class="tfxfont3 xmHigh-bars red fs100"></i>
            <p class="top30">بيئة تداول ممتازة</p>
          </div>
          <div class="feature-item5">
            <i class="tfxfont3 xmArrows red fs100"></i>
            <p class="top30">تداول عقود قياسية <br />أو <br />صفقات مصغرة</p>
          </div>
          <div class="feature-item5">
            <i class="tfxfont3 xmChart red fs100"></i>
            <p class="top30">وصول غير محدود إلى MT5 و استشاري خبير</p>
          </div>
          <div class="feature-item5">
            <i class="tfxfont3 xmInfinity red fs100"></i>
            <p class="top30">تحديثات السوق المجانية اليومية والتحليل الفني</p>
          </div>
          <div class="feature-item5">
            <i class="tfxfont3 xmScale red fs100"></i>
            <p class="top30">جميع أنواع الحسابات لها نفس جودة التنفيذ</p>
          </div>
          <div class="feature-item5">
            <i class="tfxfont3 xmGlobe red fs100"></i>
            <p class="top30">دعم خدمة العملاء متعدد اللغات ومدير حساب شخصي</p>
          </div>
        </div>
       
        <div class="dis40 visible-xs"></div>
        <div class="container-fluid">
          <div class="col-md-12 text-justify mx-2">
            <h2>أنوع حسابات تداولNBS</h2>
            <div class="dis40 hidden-xs"></div>
            <!-- <div class="divTable clone-11 sharesAccount" style="height: 1265px;">
                                      <div class="area-11" style="height: 1265px;">
                                        <h3 class="titleRed">Micro account</h3>
                                        <div class="content">
                                          <ul class="area-5" style="height: 104px;">
                                            <li class="title">Optional base currency</li>
                                            <li class="text">USD</li></ul>
                                          <ul class="area-4" style="height: 104px;">
                                            <li class="title">Contract size</li>
                                            <li class="text">1 lot = 1,000 units</li></ul>
                                          <ul class="area-2" style="height: 146px;">
                                            <li class="title">Leverage*</li>
                                            <li class="text">1:1 to 1:200 </li></ul>
                                          <ul>
                                            <li class="title">Negative balance protection policy</li>
                                            <li class="text">
                                              <i class="fa fa-check"></i>
                                            </li>
                                          </ul>
                                          <ul class="area-6" style="height: 84px;">
                                            <li class="title">Spreads on mainstream currency pairs</li>
                                            <li class="text">As low as 1 point</li></ul>
                                          <ul>
                                            <li class="title">Handling fee</li>
                                            <li class="text">
                                              <i class="fa fa-times"></i>
                                            </li>
                                          </ul>
                                          <ul>
                                            <li class="title">Maximum number of open/pending orders for a single client</li>
                                            <li class="text">200 orders</li></ul>
                                          <ul class="area-7" style="height: 84px;">
                                            <li class="title">Minimum transaction volume</li>
                                            <li class="text">
                                              <br>0.1 lot (MT5)
                                              <br></li></ul>
                                          <ul class="area-8" style="height: 84px;">
                                            <li class="title">Limits per lot</li>
                                            <li class="text">100 lots</li></ul>
                                          <ul>
                                            <li class="title">Hedging allowed</li>
                                            <li class="text">
                                              <i class="fa fa-check"></i>
                                            </li>
                                          </ul>

                                          <ul>
                                            <li class="title">Minimum deposit</li>
                                            <li class="text">5 USD</li></ul>
                                        </div>
                                        <div class="content">
                                          <ul>
                                            <li class="text-center">
                                              <div class="dis20"></div>
                                              <router-link to="/register" class="btn btn-solid btn-red center-block">Create an account</router-link>
                                              <div class="dis20"></div>
                                            </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div> -->
            <div class="divTable clone-11 sharesAccount" style="height: 1265px">
              <div class="area-11" style="height: 1265px">
                <h3 class="titleRed">حساب قياسي</h3>
                <div class="content">
                  <ul class="area-5" style="height: 104px">
                    <li class="title">عملة أساسية اختيارية</li>
                    <li class="text">دولار أمريكي</li>
                  </ul>
                  <ul class="area-4" style="height: 104px">
                    <li class="title">حجم العقد</li>
                    <li class="text">1 وحدة = 100،000 وحدة</li>
                  </ul>
                  <ul class="area-2" style="height: 146px">
                    <li class="title">الرافعة المالية*</li>
                    <li class="text">1: 1 إلى 1: 200</li>
                  </ul>
                  <ul>
                    <li class="title">سياسة حماية الرصيد السلبي</li>
                    <li class="text">
                      <i class="fa fa-check"></i>
                    </li>
                  </ul>
                  <ul class="area-6" style="height: 84px">
                    <li class="title">فروقات على أزواج العملات السائدة</li>
                    <li class="text">منخفضة تصل إلى 1 نقطة</li>
                  </ul>
                  <ul>
                    <li class="title">العمولة</li>
                    <li class="text">
                      <i class="fa fa-times"></i>
                    </li>
                  </ul>
                  <ul>
                    <li class="title">
                      الحد الأقصى لعدد الطلبات المفتوحة / المعلقة لعميل واحد
                    </li>
                    <li class="text">200 طلب</li>
                  </ul>
                  <ul class="area-7" style="height: 84px">
                    <li class="title">الحد الأدنى لحجم الصفقة</li>
                    <li class="text">0.01 وحدة</li>
                  </ul>
                  <ul class="area-8" style="height: 84px">
                    <li class="title">الحد لكل حزمة</li>
                    <li class="text">50 حزمة</li>
                  </ul>
                  <ul>
                    <li class="title">السماح بوضع القفل</li>
                    <li class="text">
                      <i class="fa fa-check"></i>
                    </li>
                  </ul>

                  <ul>
                    <li class="title">الحد الأدنى للإيداع</li>
                    <li class="text">5 دولارات أمريكية</li>
                  </ul>
                </div>
                <div class="content">
                  <ul>
                    <li class="text-center">
                      <div class="dis20"></div>

                      <router-link
                        to="/register"
                        class="btn btn-solid btn-red center-block"
                        >افتح حساب جديد</router-link
                      >
                      <div class="dis20"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="dis10"></div>
            <small class="atnotecn"
              >* يتم حساب قيمة الرافعة المالية المطبقة على أساس المبلغ التراكمي
              لإجمالي الأموال في جميع حسابات التداول التي تحتفظ بها مجموعة
              NBS.</small
            >
          </div>
        </div>
      </div>
      <div class="container-fluid top115 option-type info">
        <div class="row">
          <div class="col-md-12 text-justify mx-2">
            <p class="text-center">
              الجدول أعلاه هو للتوضيح فقط. يسعد NBS أن تصمم حلول خاصة لكل عميل. إذا
              لم تكن عملة الإيداع بالدولار الأمريكي ، <br />فسيكون العرض النهائي
              هو المبلغ المحول من الدولار الأمريكي إلى عملة الإيداع.
            </p>
            <div class="top80"></div>
            <p class="text-center">
              يرجى ملاحظة أنه من أجل ضمان أفضل أداء لخادمنا وتحقيق المعايير
              الخاصة بنا في
              <span class="text-underline">سياسة تنفيذ الأوامر</span> ، يجب
              اتباع
              <a
                href="/assets/pdf/terms/NBS_Client-Agreement-Terms-and-Conditions-of-Business.pdf"
              >
                سياسة إغلاق الحساب والأرشفة الخاصة </a
              >بالحسابات التي لم يتم استخدامها لفترة طويلة.
            </p>
            <p class="text-center">
              إذا كنت مبتدئًا في مجال
              <a href="/cn">تداول العملات الأجنبية</a> ، فإن
              <strong> <a href="/cn/forex-demo">الحساب التجريبي</a></strong> هو
              الخيار الأفضل لاختبار إمكانات التداول لديك. يمكنك التداول بأموال
              افتراضية دون المخاطرة ، لأنه يتم محاكاة الربح والخسارة. بعد اختبار
              استراتيجيات التداول ، وتعلم إتقان اتجاهات السوق وكيفية تقديم
              الطلبات ، يمكنك البدء في الخطوة التالية ، وإنشاء حساب حقيقي وتداول
              الأموال الحقيقية.
            </p>
          </div>
        </div>
      </div>
      <div data-v-14b223d0="" class="container-fluid top80 text-center">
        <div data-v-14b223d0="" class="row">
          <div data-v-14b223d0="" class="col-md-12 text-justify mx-2">
            <div data-v-14b223d0="" id="accordion1" class="panel-group">
              <div data-v-14b223d0="" class="panel panel-default">
                <div data-v-14b223d0="" class="panel-heading">
                  <h4 data-v-14b223d0="" class="panel-title">
                    <font style="vertical-align: inherit"
                      ><font style="vertical-align: inherit"
                        >ما هو حساب تداول الفوركس؟</font
                      ></font
                    >
                  </h4>
                  <i data-v-14b223d0="" class="fa pull-right fa-angle-down"></i>
                </div>
                <div
                  data-v-14b223d0=""
                  id="a1collapse1"
                  class="panel-collapse collapse"
                >
                  <div data-v-14b223d0="" class="panel-body gray">
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >حساب صرف العملات الأجنبية في <strong>™Noble Sky</strong> هو حساب تداول
                          تملكه. </font
                        ><font style="vertical-align: inherit"
                          >إنه مشابه لحسابك المصرفي ، لكن الاختلاف هو أنه يستخدم
                          بشكل أساسي في تداولات العملات.</font
                        ></font
                      >
                    </p>
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >كما ذكرنا سابقًا ، تشتمل حسابات تداول العملات
                          الأجنبية في <strong>™Noble Sky</strong> على نوع الحساب:
                        </font></font
                      ><strong data-v-14b223d0=""
                        ><font style="vertical-align: inherit"
                          ><font style="vertical-align: inherit"
                            >القياسي</font
                          ></font
                        ></strong
                      >
                    </p>
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >يرجى ملاحظة أنه يمكنك استخدام
                        </font></font
                      ><span data-v-14b223d0="" class="text-underline"
                        ><font style="vertical-align: inherit"
                          ><font style="vertical-align: inherit"
                            >جميع منصات <strong>™Noble Sky</strong></font
                          ></font
                        ></span
                      ><font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">
                          لإجراء معاملات الصرف الأجنبي (أو العملات).</font
                        ></font
                      >
                    </p>
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >باختصار ، يمكنك تسجيل الدخول بحساب التداول الخاص
                          بك:</font
                        ></font
                      >
                    </p>
                    <ul data-v-14b223d0="" class="ftr-faq">
                      <li data-v-14b223d0="">
                        <font style="vertical-align: inherit"
                          ><font style="vertical-align: inherit"
                            >1. مركز CRM</font
                          ></font
                        >
                      </li>
                      <li data-v-14b223d0="">
                        <font style="vertical-align: inherit"
                          ><font style="vertical-align: inherit"
                            >2. منصة MT5</font
                          ></font
                        >
                      </li>
                    </ul>
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >عندما تقوم بالتسجيل للحصول على حساب تداول العملات
                          الأجنبية مع <strong>™Noble Sky</strong> ، فأنت بحاجة إلى الخضوع لمراجعة
                          بسيطة لعملية البيانات ، حيث تحتاج <strong>™Noble Sky</strong> للتأكد من
                          صحة التفاصيل الشخصية التي ترسلها ، ولضمان أمان أموالك
                          وحسابك. .
                        </font></font
                      >
                    </p>
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >بعد فتح حساب تداول العملات الأجنبية ، يمكنك تسجيل
                          الدخول إلى مركز إدارة علاقات العملاء في <strong>™Noble Sky</strong> ،
                          حيث يمكنك التحقق من معلومات حسابك وتنشيط حساب MT5
                          الخاص بك وإيداع الأموال وسحبها.
                        </font></font
                      >
                    </p>
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >يجب أن تتطابق تفاصيل تسجيل الدخول إلى حساب التداول
                          الخاص بك مع منصة التداول MT5 التي سيتم استخدامها
                          لتنفيذ معاملاتك. </font
                        ><font style="vertical-align: inherit"
                          >أي إيداع أو سحب أو أي تغييرات أخرى تقوم بها في CRM
                          ستنعكس على منصة التداول MT5.</font
                        ></font
                      >
                    </p>
                  </div>
                </div>
              </div>
              <div data-v-14b223d0="" class="panel panel-default">
                <div data-v-14b223d0="" class="panel-heading">
                  <h4 data-v-14b223d0="" class="panel-title">
                    <font style="vertical-align: inherit"
                      ><font style="vertical-align: inherit"
                        >ما هو حساب التداول متعدد الأصول؟
                      </font></font
                    >
                  </h4>
                  <i data-v-14b223d0="" class="fa pull-right fa-angle-dowm"></i>
                </div>
                <div
                  data-v-14b223d0=""
                  id="a1collapse1"
                  class="panel-collapse collapse"
                >
                  <div data-v-14b223d0="" class="panel-body gray">
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >حساب تداول <strong>™Noble Sky</strong> متعدد الأصول هو حساب مشابه
                          لحسابك المصرفي ، ولكن الاختلاف هو أن الغرض منه هو
                          تداول العملات الأجنبية وعقود الفروقات لمؤشر الأسهم
                          وعقود الفروقات على الطاقة و المعادن الثمينة.
                        </font></font
                      >
                    </p>
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >حسابات التداول متعددة الأصول <strong>™Noble Sky</strong> هي من النوع
                          منها:
                        </font></font
                      ><strong data-v-14b223d0=""
                        ><font style="vertical-align: inherit"
                          ><font style="vertical-align: inherit"
                            >القياسي</font
                          ></font
                        ></strong
                      >
                    </p>
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >يرجى ملاحظة أنه لا يمكن استخدام حسابات التداول متعددة
                          الأصول إلا في MT5 ويمكنها الوصول إلى متداولي <strong>™Noble Sky</strong>
                          عبر الإنترنت</font
                        ></font
                      >
                    </p>
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >بشكل عام ، يمكنك استخدام حساب تداول متعدد
                          الأصول</font
                        ></font
                      >
                    </p>
                    <ul data-v-14b223d0="" class="ftr-faq">
                      <li data-v-14b223d0="">
                        <font style="vertical-align: inherit"
                          ><font style="vertical-align: inherit"
                            >1. قم بتسجيل الدخول إلى CRM</font
                          ></font
                        >
                      </li>
                      <li data-v-14b223d0="">
                        <font style="vertical-align: inherit"
                          ><font style="vertical-align: inherit"
                            >2. قم بتسجيل الدخول إلى منصة MT5</font
                          ></font
                        >
                      </li>
                      <li data-v-14b223d0="">
                        <font style="vertical-align: inherit"
                          ><font style="vertical-align: inherit"
                            >3. قم بتسجيل الدخول إلى محطة ويب <strong>™Noble Sky</strong></font
                          ></font
                        >
                      </li>
                    </ul>
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >عندما تقوم بالتسجيل للحصول على حساب تداول العملات
                          الأجنبية مع <strong>™Noble Sky</strong> ، فأنت بحاجة إلى الخضوع لعملية مراجعة بيانات
                          بسيطة ، حيث تحتاج <strong>™Noble Sky</strong> للتأكد من
                          صحة التفاصيل الشخصية التي ترسلها ، ولضمان أمان أموالك
                          وحسابك. .
                        </font></font
                      >
                    </p>
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >بعد فتح حساب تداول العملات الأجنبية ، يمكنك تسجيل
                          الدخول إلى مركز إدارة علاقات العملاء في <strong>™Noble Sky</strong> ،
                          حيث يمكنك التحقق من معلومات حسابك وتنشيط حساب MT5
                          الخاص بك وإيداع الأموال وسحبها.
                        </font></font
                      >
                    </p>
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >ستتطابق تفاصيل تسجيل الدخول إلى حساب التداول الخاص بك
                          مع منصة التداول MT5 وسيتم استخدامها في النهاية لتنفيذ
                          معاملاتك. </font
                        ><font style="vertical-align: inherit"
                          >أي إيداع أو سحب أو أي تغييرات أخرى تقوم بها في CRM
                          ستنعكس على منصة التداول MT5.</font
                        ></font
                      >
                    </p>
                  </div>
                </div>
              </div>
              <div data-v-14b223d0="" class="panel panel-default">
                <div data-v-14b223d0="" class="panel-heading">
                  <h4 data-v-14b223d0="" class="panel-title">
                    <font style="vertical-align: inherit"
                      ><font style="vertical-align: inherit"
                        >لماذا تختار MT5؟
                      </font></font
                    >
                  </h4>
                  <i data-v-14b223d0="" class="fa pull-right fa-angle-dowm"></i>
                </div>
                <div
                  data-v-14b223d0=""
                  id="a1collapse3"
                  class="panel-collapse collapse"
                >
                  <div data-v-14b223d0="" class="panel-body gray">
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >يمكن للعملاء الذين يختارون MT5 إجراء مجموعة واسعة من
                          المعاملات ، بما في ذلك العملات الأجنبية وعقود الفروقات
                          لمؤشر الأسهم والعقود مقابل الفروقات على الذهب والنفط
                          الخام.
                        </font></font
                      >
                    </p>
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >بالإضافة إلى تسجيل الدخول إلى إصدار الكمبيوتر (متاح
                          للتنزيل) MT5 والتطبيق المقابل ، يمكن لحساب MT5 أيضًا
                          تسجيل الدخول إلى منصة الويب ..
                        </font></font
                      >
                    </p>
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >كما ذكرنا أعلاه ، يمكن تداول حساب قياسي
                          على منصة MT5.
                        </font></font
                      >
                    </p>
                  </div>
                </div>
              </div>
              <div data-v-14b223d0="" class="panel panel-default">
                <div data-v-14b223d0="" class="panel-heading">
                  <h4 data-v-14b223d0="" class="panel-title">
                    <font style="vertical-align: inherit"
                      ><font style="vertical-align: inherit"
                        >هل يمكنني امتلاك حسابات متعددة في نفس الوقت؟
                      </font></font
                    >
                  </h4>
                  <i data-v-14b223d0="" class="fa pull-right fa-angle-dowm"></i>
                </div>
                <div
                  data-v-14b223d0=""
                  id="a1collapse1"
                  class="panel-collapse collapse"
                >
                  <div data-v-14b223d0="" class="panel-body gray">
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >يمكن لبطاقة هوية واحدة فقط التحقق من حساب حقيقي واحد.
                        </font></font
                      >
                    </p>
                  </div>
                </div>
              </div>
              <div data-v-14b223d0="" class="panel panel-default">
                <div data-v-14b223d0="" class="panel-heading">
                  <h4 data-v-14b223d0="" class="panel-title">
                    <font style="vertical-align: inherit"
                      ><font style="vertical-align: inherit"
                        >كيف تدير حساب التداول الخاص بك؟
                      </font></font
                    >
                  </h4>
                  <i data-v-14b223d0="" class="fa pull-right fa-angle-dowm"></i>
                </div>
                <div
                  data-v-14b223d0=""
                  id="a1collapse1"
                  class="panel-collapse collapse"
                >
                  <div data-v-14b223d0="" class="panel-body gray">
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >يمكنك تشغيل مصادقة معلومات الحساب وتنشيط حساب MT5
                          وإيداع الأموال وسحبها في مركز إدارة علاقات العملاء في
                          <strong>™Noble Sky</strong>.
                        </font></font
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dis70"></div>
    </div>

    <pageFooter />
  </div>
</template>


<script>
import pageHeader from "../../components/pageHeaderTFX.vue";
import pageFooter from "../../components/pageFooterTFX.vue";
import { languageCode } from "../../utils/lan-code";

export default {
  name: "my-acount",
  data: function () {
    return {
      isLogin: false,
      userLoginInfo: "",
      curCoinType: 1,
      curLanguage: 2,
      // language:coinstrad,

      userInfo: {
        configure: {},
      },

      tableIndex: 0,
      queryIndex: 0,
      queryIndexFlag: false,
    };
  },
  metaInfo: {
    title: "نوع الحساب-NOBLE SKY",
  },
  created() {
    const storeCoinType = this.localStore.getItem("curCoinType");
    const storeLanguage = this.localStore.getItem("curLanguage");

    this.curCoinType = !!storeCoinType
      ? storeCoinType
      : this.$api.defaultCoinType;
    this.curLanguage = !!storeLanguage
      ? storeLanguage
      : this.$api.defaultLanguage;

    if (this.curLanguage != 2) {
      let pName = this.$route.name.substring(0, this.$route.name.length - 2);
      let pNameStr = pName + languageCode[this.curLanguage];
      this.$router.push({ name: pNameStr });
    }

    this.isLogin = this.util.isLogin();

    if (!!this.isLogin) {
      this.userLoginInfo = JSON.parse(this.localStore.getItem("userLoginInfo"));
      // this.getUserInfo();
    }

    // this.getSystemTradMode()

    // this.getUserAsset()
    // this.getCoinList();
    // this.getUserOrder();
    // this.getUserOrder2();
    // this.settingAPIDataLanguage();
    // this.getcurrency()
  },

  mounted() {
    let element = document.querySelectorAll(".panel-heading");

    console.log(element);
    console.log("aaaaaaaaaaa");

    for (let i = 0; i < element.length; i++) {
      (function (m) {
        let panel = element[m].parentNode.getElementsByClassName(
          "panel-collapse"
        )[0];

        panel.classList.add("showFlag");

        element[m].addEventListener("click", function () {
          console.log("aaaaaaaaa");
          this.getElementsByClassName("pull-right")[0].classList.toggle(
            "fa-angle-down"
          );
          this.getElementsByClassName("pull-right")[0].classList.toggle(
            "fa-angle-up"
          );

          panel.classList.toggle("showFlag");
        });
      })(i);
    }

    document.documentElement.scrollTop = 0;
  },

  components: {
    pageHeader,
    pageFooter,
  },

  methods: {
    changeLanguage(val) {
      console.log(this.curLanguage);
      let pName =
        this.curLanguage == 1
          ? this.$route.name
          : this.$route.name.substring(0, this.$route.name.length - 2);
      let pNameStr = pName + languageCode[val];
      this.$router.push({ name: pNameStr });
    },
    hideMenu() {
      this.$refs.pageHead.hideMenu();
    },
    handleTableIndex(val) {
      this.tableIndex = val;
    },
    handleQueryIndex(val) {
      if (val === this.queryIndex) {
        this.queryIndexFlag = !this.queryIndexFlag;
      } else {
        this.queryIndex = val;
        this.queryIndexFlag = true;
      }
    },
  },
};
</script>




<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 100%;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }
   .top115 {
       margin-top: 115px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }


 .area-11 .btn.btn-solid{background-color: #74c109;color: #fff;height: 40px;line-height: 22px;display: block;font-size: 24px;}
 .area-11 .btn.btn-solid:hover{background-color: #29a643;}

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: center;padding: 10px !important;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29a643;}
   }

   .nav-flexbox-tabs {padding: 10px !important;
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


  //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}
.panel-collapse.showFlag{display: none;}

.btnAccordion.pull-right{display: none;}


footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

.divTable.sharesAccount {
    width: 100%;
    margin-bottom: 0;
}
.row{
  width: 100%;
}
  .container-fluid, .container-fluid .top-bar {
    padding: 30px 10px;
    margin: auto;
    width: 100%;
  }
.feature-item5{
  width: 50%;
}
.row h2{
  text-align: center;
}
</style>
