<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" dir="rtl">

          <div class="container-fluid top-bar">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 ">
                  <h1 class="rtl text-right">سياسة التنفيذ</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link>
                    </li>
                    <li class="post post-page current-item">سياسة التنفيذ</li>
                  </ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>اتصل بنا</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid hidden-xs">
            <h2  class="top80">يتم تنفيذ 99.35٪ من جميع التداولات في أقل من ثانية واحدة</h2>
                  <div  class="row text-center top50 mx-auto">
                     <div  class="feature-item5">
                        <i  class="tfxfont3 xmStopwatch fs100 red"></i> 
                        <p >يتم تنفيذ 99.35٪ من جميع الأوامر في أقل من ثانية واحدة.</p>
                     </div>
                     <div  class="feature-item5">
                        <i  class="tfxfont3 xmLock fs100 red"></i> 
                        <p >سياسة صارمة لعدم إعادة التسعير - لا يوجد إضافات للوكلاء الافتراضيين</p>
                     </div>
                     <div  class="feature-item5 hidden-xs">
                        <i  class="tfxfont3 xmPercent-100 fs100 red"></i> 
                        <p >100٪ معدل تنفيذ
                           <br >لا رفض للطلبات
                        </p>
                     </div>
                     <div  class="feature-item5 hidden-xs">
                        <i  class="tfxfont3 xmClock fs100 red"></i> 
                        <p >تنفيذ العمليات في الوقت الفعلي للسوق</p>
                     </div>
                     <div  class="feature-item5 hidden-xs">
                        <i  class="tfxfont3 xmSupport-on fs100 red"></i> 
                        <p >تقديم الطلبات عبر الإنترنت أو عبر الهاتف</p>
                     </div>
                  </div>
          </div>
          
         
          <div class="container-fluid">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-12 ">
                  <p dir="rtl">
                    تداولات الفوركس بدون إعادة تسعير وتنفيذ في الوقت الحقيقي.
                    <br>منصات MT5Trading التي تلبي احتياجات أي جهاز.
                  </p>
                </div>
                <div class="col-12">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">افتح حساب</router-link></div>
              </div>
            </div>
          </div>
          <div class="container-fluid top80 text-center">
            <div class="row hidden-xs hidden-sm">
              <div class="col-md-12 text-justify mx-2">
                <blockquote dir="rtl">
                  <p>في NOBLE SKY ، تعتبر جودة التنفيذ أمرًا بالغ الأهمية. نحن نعزز السهولة والسرعة التي يدخل بها عملاؤنا السوق بأفضل سعر متاح في السوق. وبالتالي ، فإننا نعارض بشدة أي برنامج أو طرق تقوض جودة التنفيذ من خلال إعادة الاقتباس أو رفض أوامر العملاء بقوة. بصفتنا متعاملين سابقين بين البنوك ، نعلم أيضًا أن التنفيذ الرديء يحول استراتيجية تداول مربحة إلى استراتيجية خاسرة. السبريد الضيق يكون منطقيًا فقط إذا كان بإمكانك التداول عليه. في هذا الصدد ، تتمثل مهمة NOBLE SKY في توفير أفضل تنفيذ ممكن.</p>
                  <footer>مجموعة NOBLE SKY </footer>
                </blockquote>
              </div>
            </div>
            <div class="row top40">
              <div class="col-md-12 text-justify mx-2">
                <h2>تنفيذ <strong>™Noble Sky</strong> الأسطوري</h2>
                <p>لقد كانت <strong>™Noble Sky</strong> رائدة في إدخال سياسة عدم إعادة التسعير وعدم رفض الطلبات منذ عام 2018. نحن نقدم تنفيذًا بنسبة 100٪ للطلبات مع تنفيذ 99.35٪ من جميع الطلبات في أقل من ثانية واحدة.</p>
              </div>
              <div class="col-md-12 top20">
                <h2>تقديم الطلبات</h2>
                <p>تدعم منصة التداول الخاصة بنا طلبات السوق ، والحد ، والإيقاف ، والإيقاف المتحرك ، ولديك الحرية في وضع الأوامر في أي وقت خلال ساعات التداول. في حال كنت تفضل التداول عبر الهاتف والتحدث مباشرة إلى أي من تجارنا ، فهذا ممكن أيضًا في <strong>™Noble Sky</strong>. سيظل تداولك مفتوحًا حتى يتم تنفيذ صفقة الإغلاق ؛ علاوة على ذلك ، يتم تحديث رصيد حسابك في الوقت الفعلي وفقًا لأسعار السوق الحالية.</p>
                <p>مع تسعير النقطة الجزئية ، يمكنك التداول بفروق أسعار ضيقة والتمتع بأدق عرض أسعار ممكن</p>
                <p>يرجى ملاحظة أنه يمكنك فقط الاحتفاظ بما يصل إلى 200 مداولة مفتوحة في وقت واحد (لكل عميل بما في ذلك الأوامر المعلقة).</p>
              </div>
              <div class="col-md-12 top20">
                <h2>تنفيذ أوامر السوق</h2>
                <p>في NOBLE SKY ، يمكنك تداول 5 ملايين بنقرة بسيطة ، حيث نضمن تنفيذ أوامر السوق حتى 50 عقدًا (5 ملايين). ومع ذلك ، إذا كنت تنوي التعامل بمبلغ أكبر من هذا ، يمكنك تقسيم الأمر إلى أحجام تداول أصغر.</p>
              </div>
              <div class="col-md-12 top20">
                <h2>تنفيذ بأوامر الإيقاف - الخسارة والحد</h2>
                <p>في NOBLE SKY ، نتفهم أهمية أوامر وقف الخسارة والحد في إدارة المخاطر ، ولهذا السبب نضمن تنفيذ كل من هذه الأوامر حتى 50 عقدًا بأفضل سعر متاح في السوق.</p>
              </div>
              <div class="col-md-12 top20">
                <h2>تنفيذ عطلة نهاية الأسبوع</h2>
                <p>إذا كان هناك أي فجوة في السوق من يوم الجمعة بالقرب من افتتاح يوم الأحد ، فإن <strong>™Noble Sky</strong> تنفذ جميع طلبات الحد أو الإيقاف المعلقة عند أول سعر سوق متاح لحجم المركز المقابل.</p>
              </div>
              <div class="col-md-12 top20">
                <h2>تداول السوق المتقلب أو غير السائل</h2>
                <p>بفضل اليقظة والشراكات التجارية مع العديد من مزودي السيولة ، تهدف <strong>™Noble Sky</strong> إلى خدمتك بشكل أفضل حتى أثناء ظروف السوق المتقلبة من خلال تنفيذ الطلبات بأفضل سعر متاح في السوق.</p>
                <p>
                  يرجى قراءة المزيد من التفاصيل في <a href="/assets/pdf/new/docs/NOBLE%20SKYGlobal-Order-Execution-Policy.pdf?v2" target="_blank" class="red">سياسة تنفيذ الطلب</a> لدينا
                  <a href="/assets/pdf/new/docs/NOBLE%20SKYGlobal-Order-Execution-Policy.pdf?v2" target="_blank" class="red">.</a></p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'سياسة التنفيذ-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
     width: 100%;
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
     text-align: center;
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: center;padding: 10px !important;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29a643;}
   }

   .nav-flexbox-tabs {padding: 10px !important;
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


 //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap>
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
.feature-item5{width: 50%;}
</style>
