<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <div class="site-canvas" dir="rtl">
          <div class="container-fluid top-bar">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 ">
                  <h1 class="rtl text-right">
                    تجارة الفوركس
                  </h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link>
                    </li>
                    <li class="post post-page current-item">تجارة الفوركس</li>
                  </ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span> اتصل بنا</span>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid top60 hidden-xs">
            <ul class="nav-flexbox-tabs">
              <li class="active">
                <router-link to='/ar/forex-trading'>تجارة الفوركس</router-link>
              </li>
              <!-- <li>
         <router-link to='/stocks'>Stock CFDs</router-link>
         <a href="/cn/stocks">Stock CFDs</a></li> -->
              <!-- <li>
        <router-link to='/ar/commodities'>Commodities</router-link>
       </li>
      <li>
        <router-link to='/ar/equity-indices'>Equity indices</router-link>
      </li> -->
              <li>
                <router-link to='/ar/precious-metals'>المعادن الثمينة</router-link>
              </li>
              <li>
                <router-link to='/ar/energies'>الطاقات</router-link>
              </li>
              <!-- <li>
        <router-link to='/shares'>shares</router-link>
        <a href="/cn/shares">shares</a></li> -->
            </ul>
            <div class="dis15"></div>
          </div>
          <div class="dis50 visible-sm"></div>
          <div class="container-fluid hidden-xs">
            <h2 class="top30">مزايا تداول الفوركس مع <strong>™Noble Sky</strong></h2>
            <div class="row text-center top50 mx-auto">
              <div class="feature-item5">
                <i class="tfxfont3 xmDatabase-dollar fs100 red"></i>
                <p>
                  أكثر من 55 من أزواج

                  <br> العملات الرئيسية والمتقاطعة والغريبة
                </p>
              </div>
              <div class="feature-item5">
                <i class="tfxfont3 xmChart-24h fs100 red"></i>
                <p>24 ساعة في اليوم ، 5 أيام في الأسبوع</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmLeverage-200 fs100 red"></i>
                <p>رافعة مالية تصل إلى 200: 1</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmLink fs100 red"></i>
                <p>هوامش ضيقة ولا إعادة تسعير</p>
              </div>
              <div class="feature-item5 hidden-xs hidden-md">
                <i class="tfxfont3 xmClock fs100 red"></i>
                <p>تداول في أكثر الأسواق سيولة في العالم</p>
              </div>
              <div class="feature-item5 hidden-xs">
                <i class="tfxfont3 xmPercent fs100 red"></i>
                <p>تداول بدون رسوم خفية</p>
              </div>
            </div>
          </div>
          
         
          <div class="container-fluid">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-12 ">
                  <br>تداول العملات الأجنبية والأسهم الفردية والسلع والمعادن الثمينة والطاقات ومؤشرات الأسهم في <strong>™Noble Sky</strong>
                </div>
                <div class="col-12">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">افتح حساب</router-link>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="row">
            <div class="col-12">

              <div class="container-fluid top80 text-center">
                <div class="row">
                  <div class="col-md-12 text-justify mx-2">
                    <h2>سبريد / شروط تداول الفوركس</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-justify mx-2">
                    <ul id="tabs4" class="nav nav-tabs top20 text-center" role="tablist">
                      <li :class="{active:tableIndex===0}">
                        <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex(0)">لحسابات ستاندرد</a>
                      </li>
                    </ul>
                    <div id="tabContent" class="tab-content">
                      <div class="tab-pane active" id="standard" v-if="tableIndex===0">
                        <div class="dis30"></div>
                        <div class="table-wrap">
                          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                            <div class="dataTables_length" id="DataTables_Table_0_length">
                              <label>
                                عرض

                                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                                  <option value="10">10</option>
                                  <option value="25">25</option>
                                  <option value="50">50</option>
                                  <option value="100">100</option>
                                </select>العناصر
                              </label>
                            </div>
                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                              <label>
                                بحث

                                <input type="search" class="" placeholder="" aria-controls="DataTables_Table_0">
                              </label>
                            </div>
                            <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                              <thead data-v-9c3281c8="">
                                <tr data-v-9c3281c8="" role="row">
                                  <th data-v-9c3281c8="" colspan="1" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" aria-sort="ascending" aria-label="زوج العملات: التنشيط لفرز العمود تنازليًا" class="sorting_asc" style="width: 116px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">زوج العملات</font></font></th>
                                  <th data-v-9c3281c8="" colspan="1" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" aria-label="الحد الأدنى لتقلب السعر: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 93px;">
                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">الحد الأدنى من </font></font><br data-v-9c3281c8=""><font style="vertical-align: inherit;">
                                      <font style="vertical-align: inherit;">تقلب </font><font style="vertical-align: inherit;">
                                        الأسعار
                                      </font>
                                    </font>
                                  </th>
                                  <th data-v-9c3281c8="" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ينتشر منخفض مثل *: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 75px;">
                                    <font style="vertical-align: inherit;">
                                      <font style="vertical-align: inherit;">
                                        سبريد
                                      </font>
                                    </font><br data-v-9c3281c8=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font>
                                  </th>
                                  <th data-v-9c3281c8="" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="متوسط ​​السبريد *: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 103px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">متوسط ​​السبريد *</font></font></th>
                                  <th data-v-9c3281c8="" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="قيمة المبادلة الطويلة (النقاط) **: التنشيط لفرز العمود تصاعديًا" class="sorting" style="direction: ltr; width: 133px;">
                                    <font style="vertical-align: inherit;">
                                      <font style="vertical-align: inherit;">
                                        قيمة المقايضة الطويلة
                                      </font>
                                    </font><br data-v-9c3281c8=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(النقاط) **</font></font>
                                  </th>
                                  <th data-v-9c3281c8="" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="قيمة المبادلة القصيرة (النقاط) **: التنشيط لفرز العمود تصاعديًا" class="sorting" style="direction: ltr; width: 133px;">
                                    <font style="vertical-align: inherit;">
                                      <font style="vertical-align: inherit;">
                                        قيمة المبادلة القصيرة
                                      </font>
                                    </font><br data-v-9c3281c8=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(نقاط) **</font></font>
                                  </th>
                                  <th data-v-9c3281c8="" colspan="1" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" aria-label="قيمة 1 لوت: تفعيل لفرز العمود تصاعديا" class="sorting" style="width: 114px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">قيمة 1 لوت</font></font></th>
                                  <th data-v-9c3281c8="" colspan="1" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" aria-label="مستويات الحد والإيقاف ***: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 142px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">مستويات الحد والوقف ***</font></font></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">AUDCAD</td>
                                  <td>0.00001</td>
                                  <td>0.00028</td>
                                  <td>0.0003</td>
                                  <td style="direction:ltr;">-4.45</td>
                                  <td style="direction:ltr;">-3.37</td>
                                  <td>100000 AUD</td>
                                  <td>0.0016</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">AUDCHF</td>
                                  <td>0.00001</td>
                                  <td>0.00027</td>
                                  <td>0.0003</td>
                                  <td style="direction:ltr;">-1.46</td>
                                  <td style="direction:ltr;">-3.96</td>
                                  <td>100000 AUD</td>
                                  <td>0.0016</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">AUDJPY</td>
                                  <td>0.001</td>
                                  <td>0.032</td>
                                  <td>0.033</td>
                                  <td style="direction:ltr;">-2.84</td>
                                  <td style="direction:ltr;">-3.34</td>
                                  <td>100000 AUD</td>
                                  <td>0.099</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">AUDNZD</td>
                                  <td>0.00001</td>
                                  <td>0.00037</td>
                                  <td>0.0004</td>
                                  <td style="direction:ltr;">-5.09</td>
                                  <td style="direction:ltr;">-3.79</td>
                                  <td>100000 AUD</td>
                                  <td>0.0021</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">AUDUSD</td>
                                  <td>0.00001</td>
                                  <td>0.00016</td>
                                  <td>0.00019</td>
                                  <td style="direction:ltr;">-2.15</td>
                                  <td style="direction:ltr;">-1.85</td>
                                  <td>100000 AUD</td>
                                  <td>0.0005</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">CADCHF</td>
                                  <td>0.00001</td>
                                  <td>0.00035</td>
                                  <td>0.00037</td>
                                  <td style="direction:ltr;">-1.13</td>
                                  <td style="direction:ltr;">-4.55</td>
                                  <td>100000 CAD</td>
                                  <td>0.0018</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">CADJPY</td>
                                  <td>0.001</td>
                                  <td>0.031</td>
                                  <td>0.034</td>
                                  <td style="direction:ltr;">-2.6</td>
                                  <td style="direction:ltr;">-3.9</td>
                                  <td>100000 CAD</td>
                                  <td>0.1</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">CHFJPY</td>
                                  <td>0.001</td>
                                  <td>0.028</td>
                                  <td>0.033</td>
                                  <td style="direction:ltr;">-6.69</td>
                                  <td style="direction:ltr;">-2.65</td>
                                  <td>100000 CHF</td>
                                  <td>0.12</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">CHFSGD</td>
                                  <td>0.00001</td>
                                  <td>0.0024</td>
                                  <td>0.0025</td>
                                  <td style="direction:ltr;">-15.05</td>
                                  <td style="direction:ltr;">-7.45</td>
                                  <td>100000 CHF</td>
                                  <td>0.0028</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">EURAUD</td>
                                  <td>0.00001</td>
                                  <td>0.00027</td>
                                  <td>0.0003</td>
                                  <td style="direction:ltr;">-9.42</td>
                                  <td style="direction:ltr;">-3.92</td>
                                  <td>100000 EUR</td>
                                  <td>0.0012</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">EURCAD</td>
                                  <td>0.00001</td>
                                  <td>0.00029</td>
                                  <td>0.00033</td>
                                  <td style="direction:ltr;">-9.21</td>
                                  <td style="direction:ltr;">-3.61</td>
                                  <td>100000 EUR</td>
                                  <td>0.0014</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">EURCHF</td>
                                  <td>0.00001</td>
                                  <td>0.00023</td>
                                  <td>0.00027</td>
                                  <td style="direction:ltr;">-3.67</td>
                                  <td style="direction:ltr;">-5.07</td>
                                  <td>100000 EUR</td>
                                  <td>0.00062</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td class="not-available sorting_1" tabindex="0">EURDKK****</td>
                                  <td>0.00001</td>
                                  <td>0.00265</td>
                                  <td>0.0035</td>
                                  <td style="direction:ltr;">-59.71</td>
                                  <td style="direction:ltr;">-52.41</td>
                                  <td>100000 EUR</td>
                                  <td>0.0026</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">EURGBP</td>
                                  <td>0.00001</td>
                                  <td>0.00018</td>
                                  <td>0.0002</td>
                                  <td style="direction:ltr;">-3.9</td>
                                  <td style="direction:ltr;">-1.1</td>
                                  <td>100000 EUR</td>
                                  <td>0.0005</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td class="not-available sorting_1" tabindex="0">EURHKD****</td>
                                  <td>0.00001</td>
                                  <td>0.0032</td>
                                  <td>0.0033</td>
                                  <td style="direction:ltr;">-87.79</td>
                                  <td style="direction:ltr;">-50.59</td>
                                  <td>100000 EUR</td>
                                  <td>0.0052</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">EURHUF</td>
                                  <td>0.001</td>
                                  <td>0.326</td>
                                  <td>0.59</td>
                                  <td style="direction:ltr;">-39.25</td>
                                  <td style="direction:ltr;">-14.85</td>
                                  <td>100000 EUR</td>
                                  <td>0.6</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">EURJPY</td>
                                  <td>0.001</td>
                                  <td>0.021</td>
                                  <td>0.023</td>
                                  <td style="direction:ltr;">-4.6</td>
                                  <td style="direction:ltr;">-2.3</td>
                                  <td>100000 EUR</td>
                                  <td>0.054</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">EURNOK</td>
                                  <td>0.00001</td>
                                  <td>0.0067</td>
                                  <td>0.0097</td>
                                  <td style="direction:ltr;">-103.35</td>
                                  <td style="direction:ltr;">-61.35</td>
                                  <td>100000 EUR</td>
                                  <td>0.0062</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">EURNZD</td>
                                  <td>0.00001</td>
                                  <td>0.00039</td>
                                  <td>0.0004</td>
                                  <td style="direction:ltr;">-9.77</td>
                                  <td style="direction:ltr;">-4.77</td>
                                  <td>100000 EUR</td>
                                  <td>0.0022</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">EURPLN</td>
                                  <td>0.00001</td>
                                  <td>0.0045</td>
                                  <td>0.0065</td>
                                  <td style="direction:ltr;">-42.27</td>
                                  <td style="direction:ltr;">-25.57</td>
                                  <td>100000 EUR</td>
                                  <td>0.0054</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td class="not-available sorting_1" tabindex="0">EURRUB****</td>
                                  <td>0.0001</td>
                                  <td>0.4149</td>
                                  <td>0.456</td>
                                  <td style="direction:ltr;">-229.14</td>
                                  <td style="direction:ltr;">-22.75</td>
                                  <td>100000 EUR</td>
                                  <td>0.034</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">EURSEK</td>
                                  <td>0.00001</td>
                                  <td>0.0048</td>
                                  <td>0.0072</td>
                                  <td style="direction:ltr;">-89.18</td>
                                  <td style="direction:ltr;">-67.58</td>
                                  <td>100000 EUR</td>
                                  <td>0.0056</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">EURSGD</td>
                                  <td>0.00001</td>
                                  <td>0.00161</td>
                                  <td>0.0017</td>
                                  <td style="direction:ltr;">-15.07</td>
                                  <td style="direction:ltr;">-9.17</td>
                                  <td>100000 EUR</td>
                                  <td>0.0014</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td class="not-available sorting_1" tabindex="0">EURTRY****</td>
                                  <td>0.00001</td>
                                  <td>0.01175</td>
                                  <td>0.021</td>
                                  <td style="direction:ltr;">-319.76</td>
                                  <td style="direction:ltr;">71.34</td>
                                  <td>100000 EUR</td>
                                  <td>0.003</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">EURUSD</td>
                                  <td>0.00001</td>
                                  <td>0.00016</td>
                                  <td>0.00017</td>
                                  <td style="direction:ltr;">-5.49</td>
                                  <td style="direction:ltr;">-0.99</td>
                                  <td>100000 EUR</td>
                                  <td>0.0004</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">EURZAR</td>
                                  <td>0.00001</td>
                                  <td>0.01144</td>
                                  <td>0.0182</td>
                                  <td style="direction:ltr;">-407.21</td>
                                  <td style="direction:ltr;">114.29</td>
                                  <td>100000 EUR</td>
                                  <td>0.0258</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">GBPAUD</td>
                                  <td>0.00001</td>
                                  <td>0.00036</td>
                                  <td>0.00043</td>
                                  <td style="direction:ltr;">-6.84</td>
                                  <td style="direction:ltr;">-8.04</td>
                                  <td>100000 GBP</td>
                                  <td>0.0016</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">GBPCAD</td>
                                  <td>0.00001</td>
                                  <td>0.00047</td>
                                  <td>0.00056</td>
                                  <td style="direction:ltr;">-7.53</td>
                                  <td style="direction:ltr;">-6.63</td>
                                  <td>100000 GBP</td>
                                  <td>0.002</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">GBPCHF</td>
                                  <td>0.00001</td>
                                  <td>0.0003</td>
                                  <td>0.00046</td>
                                  <td style="direction:ltr;">-2.25</td>
                                  <td style="direction:ltr;">-7.55</td>
                                  <td>100000 GBP</td>
                                  <td>0.00178</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td class="not-available sorting_1" tabindex="0">GBPDKK****</td>
                                  <td>0.00001</td>
                                  <td>0.00481</td>
                                  <td>0.0055</td>
                                  <td style="direction:ltr;">-51.78</td>
                                  <td style="direction:ltr;">-73.28</td>
                                  <td>100000 GBP</td>
                                  <td>0.006</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">GBPJPY</td>
                                  <td>0.001</td>
                                  <td>0.032</td>
                                  <td>0.036</td>
                                  <td style="direction:ltr;">-2.86</td>
                                  <td style="direction:ltr;">-4.56</td>
                                  <td>100000 GBP</td>
                                  <td>0.108</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">GBPNOK</td>
                                  <td>0.00001</td>
                                  <td>0.00835</td>
                                  <td>0.0118</td>
                                  <td style="direction:ltr;">-94.97</td>
                                  <td style="direction:ltr;">-86.97</td>
                                  <td>100000 GBP</td>
                                  <td>0.0146</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">GBPNZD</td>
                                  <td>0.00001</td>
                                  <td>0.00062</td>
                                  <td>0.0007</td>
                                  <td style="direction:ltr;">-7.68</td>
                                  <td style="direction:ltr;">-8.38</td>
                                  <td>100000 GBP</td>
                                  <td>0.0036</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">GBPSEK</td>
                                  <td>0.00001</td>
                                  <td>0.00815</td>
                                  <td>0.0134</td>
                                  <td style="direction:ltr;">-79.58</td>
                                  <td style="direction:ltr;">-93.38</td>
                                  <td>100000 GBP</td>
                                  <td>0.014</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">GBPSGD</td>
                                  <td>0.00001</td>
                                  <td>0.00276</td>
                                  <td>0.0031</td>
                                  <td style="direction:ltr;">-14.04</td>
                                  <td style="direction:ltr;">-13.14</td>
                                  <td>100000 GBP</td>
                                  <td>0.0034</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">GBPUSD</td>
                                  <td>0.00001</td>
                                  <td>0.0002</td>
                                  <td>0.00024</td>
                                  <td style="direction:ltr;">-3.88</td>
                                  <td style="direction:ltr;">-3.08</td>
                                  <td>100000 GBP</td>
                                  <td>0.00052</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">NZDCAD</td>
                                  <td>0.00001</td>
                                  <td>0.00038</td>
                                  <td>0.00041</td>
                                  <td style="direction:ltr;">-3.92</td>
                                  <td style="direction:ltr;">-3.32</td>
                                  <td>100000 NZD</td>
                                  <td>0.0018</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">NZDCHF</td>
                                  <td>0.00001</td>
                                  <td>0.00037</td>
                                  <td>0.0004</td>
                                  <td style="direction:ltr;">-1.21</td>
                                  <td style="direction:ltr;">-3.81</td>
                                  <td>100000 NZD</td>
                                  <td>0.002</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">NZDJPY</td>
                                  <td>0.001</td>
                                  <td>0.025</td>
                                  <td>0.03</td>
                                  <td style="direction:ltr;">-2.56</td>
                                  <td style="direction:ltr;">-3.16</td>
                                  <td>100000 NZD</td>
                                  <td>0.14</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">NZDSGD</td>
                                  <td>0.00001</td>
                                  <td>0.00241</td>
                                  <td>0.0028</td>
                                  <td style="direction:ltr;">-6.9</td>
                                  <td style="direction:ltr;">-6.7</td>
                                  <td>100000 NZD</td>
                                  <td>0.0022</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">NZDUSD</td>
                                  <td>0.00001</td>
                                  <td>0.00025</td>
                                  <td>0.00027</td>
                                  <td style="direction:ltr;">-2.16</td>
                                  <td style="direction:ltr;">-1.46</td>
                                  <td>100000 NZD</td>
                                  <td>0.0008</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">SGDJPY</td>
                                  <td>0.001</td>
                                  <td>0.195</td>
                                  <td>0.2</td>
                                  <td style="direction:ltr;">-5.78</td>
                                  <td style="direction:ltr;">-5.8</td>
                                  <td>100000 SGD</td>
                                  <td>0.14</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">USDCAD</td>
                                  <td>0.00001</td>
                                  <td>0.0002</td>
                                  <td>0.00022</td>
                                  <td style="direction:ltr;">-3.46</td>
                                  <td style="direction:ltr;">-3.86</td>
                                  <td>100000 USD</td>
                                  <td>0.00052</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">USDCHF</td>
                                  <td>0.00001</td>
                                  <td>0.00019</td>
                                  <td>0.00021</td>
                                  <td style="direction:ltr;">-0.12</td>
                                  <td style="direction:ltr;">-4.92</td>
                                  <td>100000 USD</td>
                                  <td>0.0005</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td class="not-available sorting_1" tabindex="0">USDCNH****</td>
                                  <td>0.0001</td>
                                  <td>0.0034</td>
                                  <td>0.0036</td>
                                  <td style="direction:ltr;">-11.59</td>
                                  <td style="direction:ltr;">1.41</td>
                                  <td>100000 USD</td>
                                  <td>0.005</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td class="not-available sorting_1" tabindex="0">USDDKK****</td>
                                  <td>0.00001</td>
                                  <td>0.00332</td>
                                  <td>0.0036</td>
                                  <td style="direction:ltr;">-36.98</td>
                                  <td style="direction:ltr;">-57.68</td>
                                  <td>100000 USD</td>
                                  <td>0.0034</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td class="not-available sorting_1" tabindex="0">USDHKD****</td>
                                  <td>0.0001</td>
                                  <td>0.0026</td>
                                  <td>0.0028</td>
                                  <td style="direction:ltr;">-5.98</td>
                                  <td style="direction:ltr;">-5.7</td>
                                  <td>100000 USD</td>
                                  <td>0.0026</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">USDHUF</td>
                                  <td>0.001</td>
                                  <td>0.28</td>
                                  <td>0.51</td>
                                  <td style="direction:ltr;">-27.5</td>
                                  <td style="direction:ltr;">-18.7</td>
                                  <td>100000 USD</td>
                                  <td>0.52</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">USDJPY</td>
                                  <td>0.001</td>
                                  <td>0.015</td>
                                  <td>0.016</td>
                                  <td style="direction:ltr;">-1.88</td>
                                  <td style="direction:ltr;">-3.88</td>
                                  <td>100000 USD</td>
                                  <td>0.04</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">USDMXN</td>
                                  <td>0.00001</td>
                                  <td>0.0178</td>
                                  <td>0.0239</td>
                                  <td style="direction:ltr;">-415.37</td>
                                  <td style="direction:ltr;">84.63</td>
                                  <td>100000 USD</td>
                                  <td>0.0103</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">USDNOK</td>
                                  <td>0.00001</td>
                                  <td>0.0067</td>
                                  <td>0.0087</td>
                                  <td style="direction:ltr;">-70.02</td>
                                  <td style="direction:ltr;">-70.62</td>
                                  <td>100000 USD</td>
                                  <td>0.0078</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">USDPLN</td>
                                  <td>0.00001</td>
                                  <td>0.004</td>
                                  <td>0.0052</td>
                                  <td style="direction:ltr;">-28.61</td>
                                  <td style="direction:ltr;">-29.31</td>
                                  <td>100000 USD</td>
                                  <td>0.007</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td class="not-available sorting_1" tabindex="0">USDRUB****</td>
                                  <td>0.0001</td>
                                  <td>0.4155</td>
                                  <td>0.437</td>
                                  <td style="direction:ltr;">-180.55</td>
                                  <td style="direction:ltr;">-34.55</td>
                                  <td>100000 USD</td>
                                  <td>0.034</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td tabindex="0" class="sorting_1">USDSEK</td>
                                  <td>0.00001</td>
                                  <td>0.0052</td>
                                  <td>0.0082</td>
                                  <td style="direction:ltr;">-58.8</td>
                                  <td style="direction:ltr;">-74.6</td>
                                  <td>100000 USD</td>
                                  <td>0.0082</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">USDSGD</td>
                                  <td>0.00001</td>
                                  <td>0.00193</td>
                                  <td>0.0021</td>
                                  <td style="direction:ltr;">-10.14</td>
                                  <td style="direction:ltr;">-10.34</td>
                                  <td>100000 USD</td>
                                  <td>0.0014</td>
                                </tr>
                                <tr role="row" class="even">
                                  <td class="not-available sorting_1" tabindex="0">USDTRY****</td>
                                  <td>0.00001</td>
                                  <td>0.0088</td>
                                  <td>0.014</td>
                                  <td style="direction:ltr;">-346.04</td>
                                  <td style="direction:ltr;">133.96</td>
                                  <td>100000 USD</td>
                                  <td>0.0028</td>
                                </tr>
                                <tr role="row" class="odd">
                                  <td tabindex="0" class="sorting_1">USDZAR</td>
                                  <td>0.0001</td>
                                  <td>0.0112</td>
                                  <td>0.014</td>
                                  <td style="direction:ltr;">-31.51</td>
                                  <td style="direction:ltr;">6.49</td>
                                  <td>100000 USD</td>
                                  <td>0.0206</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">إظهار 1 إلى 57 من أصل 57 مُدخل</div>
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                              <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">السابق</a>
                              <span>
                                <a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a>
                              </span>
                              <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">التالى</a>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                

              </div>
            </div>
          </div>
          <br />
               <div class="row">

                 <div class="col-6">
              <p>
                <strong>
                  ساعات التداول

                  <br>(GMT + 2 time zone ، يرجى ملاحظة أنه قد يتم تطبيق DST)
                </strong>
                <br>
                <i class="fa fa-clock-o red"></i>الإثنين - الجمعة: 10:05 - 17:55
              </p>
            </div>
            <div class="col-6">
              <p>
                <strong>
                  ساعات تداول الفوركس
                  <br>(GMT + 2 المنطقة الزمنية ، يرجى ملاحظة أنه قد يتم تطبيق التوقيت
                </strong>
                <br>
                <i class="fa fa-clock-o red"></i>الاثنين - الجمعة: 00:05 - 23:50
              </p>
            </div>
            <div class="dis30"></div>
            <div class="col-md-12 text-justify mx-2">
              <p>* يتم حساب متوسط ​​السبريد المشار إليه هنا على مدار اليوم. تميل إلى أن تكون أضيق في ظل ظروف السوق العادية. ومع ذلك ، قد تتسع فروق الأسعار نتيجة لإعلانات الأخبار المهمة ، أو أثناء عدم اليقين السياسي ، أو بسبب الأحداث غير المتوقعة التي يمكن أن تؤدي إلى ظروف السوق المتقلبة ، أو في نهاية يوم العمل ، أو في عطلات نهاية الأسبوع عندما تكون السيولة أقل. عندما تتداول في شركتنا ، فإن Trading Point هي الطرف المقابل لك. تتم مطابقة تداولاتك وأي تعرض تالٍ أعلى من الحدود المحددة مسبقًا يتم التحوط منه مع مزودي السيولة لدينا عند انتشار السوق الحالي. ومع ذلك ، خلال ظروف السوق المتقلبة وغير السائلة ، فإن فروق أسعار مزودي السيولة لدينا أكبر من المعتاد. في مثل هذه الأوقات ، تضطر Trading Point إلى نقل بعض زيادات السبريد إلى عملائها.</p>
              <p>** إذا تركت مركزًا مفتوحًا في يوم التداول التالي ، فأنت تدفع أو تحصل على مبلغ معين ، محسوبًا على أساس فرق أسعار الفائدة لعملتين في زوج العملات. تسمى هذه العملية "المبادلة". في محطة التداول ، يتم تحويل "المبادلة" تلقائيًا إلى عملة الإيداع. يتم إجراء العملية في الساعة 00.00 (GMT + 2 المنطقة الزمنية ، يرجى ملاحظة أنه قد يتم تطبيق DST) ويمكن أن تستغرق عدة دقائق. من الأربعاء إلى الخميس يتم تحصيل رسوم المبادلة لمدة ثلاثة أيام.</p>
              <p>*** Min. level for placing pending orders at a current market price.</p>
              <p>
                *** دقيقة. مستوى لوضع الأوامر المعلقة بسعر السوق الحالي.

                بالنسبة لجميع أنواع الحسابات على منصات MT5 ، فإن الرافعة المالية لكل من EURDKK ، و EURHKD ، و GBPDKK ، و USDDKK ، و USDHKD ، و USDCNH ، و EURRUB ، و USDRUB محددة عند 1: 50 ， ولأسعار USDTRY و EURTRY و 1: 100。
              </p>

            </div>
          </div>-->
   
          <div class="container-fluid top80 text-center">
            <div class="row">
              <div class="col-md-12 text-justify mx-2">
                <h2>حول تجارة الفوركس</h2>
                <p>
                  تداول العملات الأجنبية ، أو تداول العملات ، أو تداول الفوركس ، كما يمكن اختصاره أيضًا ، كلها مصطلحات تصف سوق صرف العملات كما نعرفها اليوم ، والتي تشير بلغة بسيطة إلى السوق العالمي اللامركزي حيث الأفراد والشركات المؤسسات المالية تقوم بتبادل العملات مع بعضها البعض بأسعار متغيرة.

                  تم اعتماد نظام الأسعار العائمة الحالي ، الذي نعرفه اليوم ، بعد الحرب العالمية الثانية وأصبح ساريًا منذ ذلك الحين. قبل نظام أسعار تداول العملات الأجنبية الحالي ، كان هناك نظام إدارة نقدي يسمى اتفاقية بريتون وودز ، حيث تم ربط أسعار صرف العملات مقابل بعضها البعض وربطها باحتياطيات الذهب التي في حوزة البلدين اللذين كانا منشئي العملات الفعلية المتعلقة بالمعاملة.
                </p>
                <div class="dis20"></div>
                <h3>سوق تداول العملات الأجنبية</h3>
                <div class="dis10"></div>
                <p>
                  يعد سوق تداول العملات الأجنبية ، كما هو قائم اليوم ، أكبر الأسواق وأكثرها سيولة في العالم نظرًا لعدد من العوامل التي تشمل ، على سبيل المثال لا الحصر ، سهولة إجراء المعاملات عبر الإنترنت ، والتطور الحديث للسفر ، وسهولة التعامل الدولي الاتصالات والنقل الحديث ، مما جعل عالمنا مكانًا أصغر.

                  من خلال جعل عالمنا مكانًا أصغر وأكثر عالمية ، فهذا يعني تلقائيًا أن الأشخاص والسلع والخدمات يمكنهم السفر بشكل أسرع وأسهل. هذا يعني أيضًا أن هناك حاجة إلى ضرورة تداول العملات مقابل بعضها البعض من أجل حدوث ذلك. لقد حددت كل هذه العوامل سوق تداول العملات الأجنبية المتنامي ، والذي سيستمر في النمو ويصبح أكثر ديناميكية وسيولة واستجابة.
                </p>
                <div class="dis20"></div>
                <h3>تجارة الفوركس عبر الإنترنت</h3>
                <div class="dis10"></div>
                <p>
                  من بين المشاركين الرئيسيين في سوق تداول العملات الأجنبية ، أحد أكثر القطاعات نموًا في المجموعة الإجمالية للمشاركين في السوق ، متداولو الصرف الأجنبي بالتجزئة (الأفراد) الذين يشاركون في تداول العملات الأجنبية عبر الإنترنت لأسباب تتعلق بالمضاربة بشكل أساسي بهدف نهائي هو توليد ربح من تقلبات أسعار العملات (تغيرات السوق) ، أو التحوط من مخاطر العملات غير المرغوب فيها.

                  يشارك هذا الجزء في سوق تداول العملات الأجنبية عبر وسيط (مثل Noble Sky) ، أو عبر أحد البنوك. في هذه الحالة ، سيصدر البنك أو الوسيط للعميل حساب تداول يتم تمويله بعملة أساسية (عادة ما تكون العملة المحلية للمنطقة التي يقيم فيها العميل) ، وستتاح للعميل الفرصة للشراء و بيع العملات سواء عبر الإنترنت أو عبر الهاتف بهدف جني الأرباح.
                </p>
                <div class="dis20"></div>
                <h3>تداول الفوركس عبر وسيط</h3>
                <div class="dis10"></div>
                <p>المشاركة في سوق تداول العملات الأجنبية عبر وسيط مثل Noble Sky تعني أن العميل يحصل على إمكانية الوصول إلى الأسعار في الوقت الحقيقي لسوق الفوركس ويتم عرض أسعار البيع والشراء لعدد من الأدوات عبر منصة تداول عبر الإنترنت. يتمتع العميل بحرية تحديد السعر الذي يقرر الشراء أو البيع به ، والعكس صحيح ، ويمكنه تنفيذ معاملة في أي وقت يرغب فيه.</p>
              </div>
            </div>
          </div>
          <div class="container-fluid top80 text-center">
            <div class="row">
              <div class="col-md-12 text-justify mx-2">
                <div class="panel-group" id="accordion1">
                  <div class="panel panel-default">
                    <div class="panel-heading" @click="handleQueryIndex(0)">
                      <h3 class="panel-title">ما هو تداول الفوركس؟</h3>
                      <i class="fa pull-right" :class="{'fa-angle-up':queryIndex===0&&queryIndexFlag,'fa-angle-down':queryIndex!=0||!queryIndexFlag}"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse" v-if="queryIndex===0&&queryIndexFlag">
                      <div class="panel-body gray">
                        <p>
                          يشير تداول الفوركس ، المعروف أيضًا باسم تداول العملات أو تداول العملات الأجنبية ، إلى شراء عملة معينة أثناء بيع عملة أخرى في البورصة. ينطوي تداول العملات دائمًا على تبادل عملة بأخرى.

                          يمكن أن يختلف الهدف النهائي ويمكن أن يكون أيًا مما يلي على سبيل المثال لا الحصر:
                        </p>
                        <ul class="ftr-faq">
                          <li>1.استبدال العملة (أ) (مثل الدولار الأمريكي) بالعملة ب (مثل اليورو) لأغراض السفر ؛</li>
                          <li>2. تبادل العملة "أ" (مثل الدولار الأمريكي) إلى العملة "ب" (مثل اليورو) لأغراض التداول ؛</li>
                          <li>3.تبادل العملة (أ) (مثل الدولار الأمريكي) بالعملة ب (مثل اليورو) لأغراض المضاربة ، بهدف جني الأرباح.</li>
                        </ul>
                        <p>بسبب كل ما سبق ، وليس على سبيل الحصر ، فإن سوق تداول العملات الأجنبية هو اليوم أكثر الأسواق سيولة وتقلبًا في العالم ، حيث يتم تداول أكثر من 5 تريليون دولار يوميًا.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" @click="handleQueryIndex(1)">
                      <h3 class="panel-title">ماهي آلية عمل تداول الفوركس ؟</h3>
                      <i class="fa pull-right" :class="{'fa-angle-up':queryIndex===1&&queryIndexFlag,'fa-angle-down':queryIndex!=1||!queryIndexFlag}"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse" v-if="queryIndex===1&&queryIndexFlag">
                      <div class="panel-body gray">
                        <p> إن تداول العملات الأجنبية هو في جوهره تداول العملات لبعضها البعض. على هذا النحو ، يقوم عميل NOBLE SKY ببيع عملة مقابل أخرى بسعر السوق الحالي. </p>
                        <p> لكي تكون قادرًا على التداول ، يلزم فتح حساب والاحتفاظ بالعملة "أ" ثم استبدال العملة "أ" بالعملة "ب" إما في تجارة طويلة الأجل أو قصيرة الأجل ، مع تغيير الهدف النهائي وفقًا لذلك.
                        <p> نظرًا لأن تداول العملات الأجنبية يتم إجراؤه على أزواج العملات (أي عرض أسعار القيمة النسبية لوحدة عملة واحدة مقابل وحدة عملة أخرى) ، حيث تكون العملة الأولى هي ما يسمى بالعملة الأساسية ، بينما تسمى العملة الثانية عملة التسعير. </p>
                        <p> على سبيل المثال ، عرض السعر EUR / USD 1.2345 هو سعر اليورو المعبر عنه بالدولار الأمريكي ، مما يعني أن 1 يورو يساوي 1.2345 دولار أمريكي. </p>
                        <p> يمكن إجراء تداول العملات على مدار 24 ساعة في اليوم ، من الساعة 22.00 بتوقيت جرينتش يوم الأحد وحتى الساعة 22.00 بتوقيت جرينتش يوم الجمعة ، حيث يتم تداول العملات بين المراكز المالية الرئيسية في لندن ونيويورك وطوكيو وزيوريخ وفرانكفورت وباريس وسيدني وسنغافورة وهونج كونج. </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" @click="handleQueryIndex(2)">
                      <h3 class="panel-title">مالذي يؤثر على الأسعار في تداولات الفوركس؟</h3>
                      <i class="fa pull-right" :class="{'fa-angle-up':queryIndex===2&&queryIndexFlag,'fa-angle-down':queryIndex!=2||!queryIndexFlag}"></i>
                    </div>
                    <div id="a1collapse2" class="panel-collapse collapse" v-if="queryIndex===2&&queryIndexFlag">
                      <div class="panel-body gray">
                        <p>
                          هناك عدد لا حصر له من العوامل التي تساهم جميعها وتؤثر على الأسعار في تداول الفوركس (أي أسعار العملات) يوميًا ، ولكن يمكن أن نقول بأمان أن هناك 6 عوامل رئيسية تساهم بشكل أكبر وتكون أكثر أو أقل القوى الدافعة الرئيسية لتقلب أسعار تداول العملات الأجنبية:
                        </p>
                        <ul class="ftr-faq">
                          <li> 1. فروق التضخم. </li>
                          <li> 2. الفروق في أسعار الفائدة </li>
                          <li> 3. عجز الحساب الجاري </li>
                          <li> 4. الدين العام </li>
                          <li> 5. شروط التجارة </li>
                          <li> 6. الاستقرار السياسي والاقتصادي </li>
                        </ul>
                        <p> من أجل فهم العوامل الستة المذكورة أعلاه بشكل أفضل ، يجب أن تضع في اعتبارك أن العملات يتم تداولها مقابل بعضها البعض. لذلك عندما ينخفض ​​أحدهما ، يرتفع الآخر حيث يتم دائمًا تحديد فئة سعر أي عملة مقابل عملة أخرى. </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" @click="handleQueryIndex(3)">
                      <h3 class="panel-title">
                        ما هو برنامج تداول الفوركس؟
                      </h3>
                      <i class="fa pull-right" :class="{'fa-angle-up':queryIndex==3&&queryIndexFlag,'fa-angle-down':queryIndex!=3||!queryIndexFlag}"></i>
                    </div>
                    <div id="a1collapse3" class="panel-collapse collapse" v-if="queryIndex===3&&queryIndexFlag">
                      <div class="panel-body gray">
                        <p> برنامج تداول العملات الأجنبية هو عبارة عن منصة تداول عبر الإنترنت يتم توفيرها لكل عميل من عملاء <strong>™Noble Sky</strong> ، والتي تتيح لهم عرض وتحليل وتداول العملات أو فئات الأصول الأخرى.
                        <p> بعبارات بسيطة ، يتم منح كل عميل من عملاء <strong>™Noble Sky</strong> إمكانية الوصول إلى منصة تداول (أي برنامج) ترتبط مباشرة بموجز أسعار السوق العالمية وتسمح لهم بإجراء المعاملات دون مساعدة من طرف ثالث. </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" @click="handleQueryIndex(4)">
                      <h3 class="panel-title">من هم المشاركون في سوق تداول العملات الأجنبية؟</h3>
                      <i class="fa pull-right" :class="{'fa-angle-up':queryIndex==4&&queryIndexFlag,'fa-angle-down':queryIndex!=4||!queryIndexFlag}"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse" v-if="queryIndex===4&&queryIndexFlag">
                      <div class="panel-body gray">
                        <p>يمكن أن يقع المشاركون في سوق تداول العملات الأجنبية في أي من الفئات التالية:</p>
                        <ul class="ftr-faq">
                          <li> 1. المسافرون أو المستهلكون في الخارج الذين يتبادلون الأموال للسفر إلى الخارج أو شراء سلع من الخارج. </li>
                          <li> 2. الشركات التي تشتري المواد الخام أو البضائع من الخارج وتحتاج إلى استبدال عملتها المحلية بعملة بلد البائع. </li>
                          <li> 3. المستثمرون أو المضاربون الذين يتبادلون العملات ، والتي تتطلب إما عملة أجنبية ، لأداء التداول في الأسهم أو فئات الأصول الأخرى من الخارج أو يتداولون العملات بهدف تحقيق ربح من تغيرات السوق. </li>
                          <li> 4. المؤسسات المصرفية التي تتبادل الأموال لخدمة عملائها أو لإقراض العملاء في الخارج. </li>
                          <li> 5. الحكومات أو البنوك المركزية التي تشتري العملات أو تبيعها وتحاول تعديل الاختلالات المالية أو تعديل الظروف الاقتصادية. </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" @click="handleQueryIndex(5)">
                      <h3 class="panel-title">ما هو مهم في تجارة الفوركس؟</h3>
                      <i class="fa pull-right" :class="{'fa-angle-up':queryIndex==5&&queryIndexFlag,'fa-angle-down':queryIndex!=5||!queryIndexFlag}"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse" v-if="queryIndex===5&&queryIndexFlag">
                      <div class="panel-body gray">
                        <p> بصفتك متداولًا بالتجزئة في العملات الأجنبية ، فإن أهم العوامل التي تؤثر على تداولك هي جودة تنفيذ الصفقات وسرعته والسبريد. أحدهما يؤثر على الآخر. </p>
                        <p> السبريد هو الفرق بين العرض وسعر الطلب لزوج عملات (سعر الشراء أو البيع) ، وبالتالي ، لتسهيل الأمر ، يكون السعر الذي يرغب الوسيط أو البنك الذي تتعامل معه في بيع أو شراء طلب تداولك. ومع ذلك ، فإن الفروق مهمة فقط مع التنفيذ الصحيح. </p>
                        <p> في سوق تداول العملات الأجنبية ، عندما نشير إلى التنفيذ ، فإننا نعني السرعة التي يمكن لمتداول الصرف الأجنبي من خلالها شراء أو بيع ما يراه على شاشته أو ما يتم تداوله كسعر العرض / الطلب عبر الهاتف. السعر الجيد لا معنى له إذا لم يتمكن البنك أو الوسيط من تلبية طلبك بالسرعة الكافية للحصول على سعر العرض / الطلب. </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" @click="handleQueryIndex(6)">
                      <h3 class="panel-title">ما هي التخصصات الرئيسية في تجارة الفوركس؟</h3>
                      <i class="fa pull-right" :class="{'fa-angle-up':queryIndex==6&&queryIndexFlag,'fa-angle-down':queryIndex!=6||!queryIndexFlag}"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse" v-if="queryIndex===6&&queryIndexFlag">
                      <div class="panel-body gray">
                        <p> في تداول الفوركس ، تُعرف بعض أزواج العملات بالعملات الرئيسية (الأزواج الرئيسية). تشمل هذه الفئة أزواج العملات الأكثر تداولًا وهي تتضمن دائمًا الدولار الأمريكي في جانب واحد. </p>
                        <p> تشمل الأزواج الرئيسية: EUR / USD ، USD / JPY ، GBP / USD ، USD / CHF ، USD / CAD ، AUD / USD ، NZD / USD </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" @click="handleQueryIndex(7)">
                      <h3 class="panel-title">ما هي الأزواج الثانوية في تجارة الفوركس؟</h3>
                      <i class="fa pull-right" :class="{'fa-angle-up':queryIndex==7&&queryIndexFlag,'fa-angle-down':queryIndex!=7||!queryIndexFlag}"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse" v-if="queryIndex===7&&queryIndexFlag">
                      <div class="panel-body gray">
                        <p>في تداول الفوركس ، تعتبر أزواج التقاطعات أو أزواج العملات الثانوية كلها أزواج عملات لا تتضمن الدولار الأمريكي من جانب واحد.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" @click="handleQueryIndex(8)">
                      <h3 class="panel-title">ما هي الأزواج الغير مألوفة في تجارة الفوركس؟</h3>
                      <i class="fa pull-right" :class="{'fa-angle-up':queryIndex==8&&queryIndexFlag,'fa-angle-down':queryIndex!=8||!queryIndexFlag}"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse" v-if="queryIndex===8&&queryIndexFlag">
                      <div class="panel-body gray">
                        <p> في تداول الفوركس ، تشمل الأزواج غير المألوفة أزواج العملات الأقل تداولًا والتي تشمل العملات الرئيسية المقترنة بعملة اقتصاد أصغر أو ناشئ. عادة ما تكون هذه الأزواج أقل تقلبًا وسيولة أقل ولا تقدم السلوك الديناميكي للأزواج الرئيسية والتقاطعات. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dis70"></div>
        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
     title: ' تجارة الفوركس-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>




<style scoped lang="scss">
  .xmLeverage-200.fs100{
    width: 150px;height: 100px;display: block;
   background: url(../../../static/images/ico-200-1.png) no-repeat center 0;
  }
  .xmLeverage-100.fs100 {
    width: 150px;
    height: 100px;
    display: block;
    background: url(../../../static/images/ico-200-1.png) no-repeat center 0;
  }
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width:100%;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top30 {
       margin-top: 30px !important;
       text-align: center;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: center;padding: 10px !important;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29a643;}
   }

   .nav-flexbox-tabs {padding: 10px !important;
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: block;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width:  95%;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       margin-left: 2.5%;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


 //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}



footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
table.dataTable thead th, table.dataTable tbody td{
  padding: 0!important;
  font-size: 0.8em!important;
}
  .tab-content > .active {
    width: auto!important;
  }
  dataTables_paginate{
      display:none;
  }
  .feature-item5 {
    width: 50%;
  }
</style>
