<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" dir="rtl">

          <div class="container-fluid top-bar">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 ">
                  <h1 class="rtl text-right">الهامش والرافعة المالية</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">الهامش والرافعة المالية</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>اتصل بنا</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid hidden-xs hidden-sm hidden-l-sm">
            <h2 class="top80">رافعة مالية فريدة تصل إلى 200: 1</h2>
            <div class="row text-center top50 mx-auto">
              <div class="feature-item4">
                <i class="tfxfont3 xmLeverage-100 fs100 red"></i>
                <p>رافعة مالية مرنة بين 1: 1 - 2  00: 1</p>
              </div>
              <div class="feature-item4">
                <i class="tfxfont3 xmLock-check fs100 red"></i>
                <p>حماية الرصيد السلبي</p>
              </div>
              <div class="feature-item4">
                <i class="tfxfont3 xmClock fs100 red"></i>
                <p>مراقبة التعرض للمخاطر في الوقت الحقيقي</p>
              </div>
              <div class="feature-item4">
                <i class="tfxfont3 xmStop-sign fs100 red"></i>
                <p>لا توجد تغييرات في الهامش بين عشية وضحاها أو في عطلات نهاية الأسبوع</p>
              </div>
            </div>
          </div>
          
         
          <div class="container-fluid">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-12 ">
                  <p><br>6 فئات أصول - 16 منصة تداول - أكثر من 1000 أداة. تداول الفوركس والأسهم الفردية والسلع والمعادن الثمينة والطاقات ومؤشرات الأسهم في NOBLE SKY。</p>
                </div>
                <div class="col-12">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">افتح حساب</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid top80 text-center">
            <div class="row">
              <div class="col-md-12 text-justify mx-2">
                <h2>الرافعة المالية المرنة من 1: 1 حتى 200: 1</h2>
                <p>في NOBLE SKY ، يتمتع العملاء بالمرونة في التداول باستخدام نفس متطلبات الهامش والرافعة المالية من 1: 1 إلى 200: 1.</p>
                <h2 class="top50">حول الهامش</h2>
                <p>الهامش هو مقدار الضمان لتغطية أي مخاطر ائتمانية تنشأ أثناء عمليات التداول الخاصة بك.</p>
                <p>يتم التعبير عن الهامش كنسبة مئوية من حجم الصفقة (على سبيل المثال 5٪ أو 1٪) ، والسبب الحقيقي الوحيد لوجود أموال في <a href="/cn/account-types">حساب التداول</a> الخاص بك هو ضمان هامش كافٍ. على هامش 1٪ ، على سبيل المثال ، سيتطلب تداول بقيمة 1،000،000 دولار إيداع 10،000 دولار.</p>
                <p>حتى تتمكن من فتح صفقات جديدة ، يجب أن يكون مستوى الهامش في حساب التداول الخاص بك مساوياً أو أعلى من 100٪ ؛ وإلا ، فإن الصفقات الجديدة ستؤدي إلى تحوط حساب التداول الخاص بك بالكامل.</p>
              </div>
              <div class="col-md-12 top50">
                <h2>حول الرافعة المالية</h2>
                <p>استخدام الرافعة المالية يعني أنه يمكنك تداول صفقات أكبر من مبلغ المال في حساب التداول الخاص بك. يتم التعبير عن مقدار الرافعة المالية كنسبة ، على سبيل المثال 50: 1 ، 100: 1. بافتراض أن لديك 1000 دولار في حساب التداول الخاص بك وأنك تتداول بأحجام بطاقة 100،000 دولار أمريكي / ين ياباني ، فإن الرافعة المالية الخاصة بك ستعادل 100: 1.</p>
                <p>كيف يمكن أن تتداول 100 ضعف المبلغ الذي لديك؟ في NOBLE SKY ، لديك بدل ائتمان مجاني قصير الأجل عندما تتداول على الهامش: يتيح لك ذلك شراء مبلغ يتجاوز قيمة حسابك. بدون هذا البدل ، ستتمكن فقط من شراء أو بيع عقود بقيمة 1000 دولار في المرة الواحدة.</p>
                <p>يجب على نوبل سكاي مراقبة نسبة الرافعة المالية المطبقة على حسابات العملاء في جميع الأوقات وتحتفظ بالحق في تطبيق التغييرات وتعديل نسبة الرافعة المالية (أي خفض نسبة الرافعة المالية) ، وفقًا لتقديرها الخاص ودون أي إشعار على أساس كل حالة على حدة ، و / أو على جميع حسابات العميل أو أي منها حسبما تراه ضروريًا من قبل NOBLE SKY.</p>
              </div>
              <div class="col-md-12 top50">
                <h2>نوبل سكاي الرافعة المالية</h2>
                <p>اعتمادًا على نوع الحساب الذي تفتحه في NOBLE SKY ، يمكنك اختيار الرافعة المالية على مقياس من 1: 1 إلى 200: 1. لا تتغير متطلبات الهامش خلال الأسبوع ، كما أنها لا تتسع بين عشية وضحاها أو في عطلات نهاية الأسبوع. علاوة على ذلك ، في NOBLE SKY لديك خيار طلب زيادة الرافعة المالية التي اخترتها أو خفضها.</p>
              </div>
              <div class="col-md-12 top50">
                <h2>رفع المخاطر</h2>
                <p>من ناحية أخرى ، باستخدام الرافعة المالية ، حتى من استثمار أولي صغير نسبيًا ، يمكنك تحقيق ربح كبير. من ناحية أخرى ، يمكن أن تصبح خسائرك كبيرة إذا فشلت في تطبيق إدارة المخاطر المناسبة.</p>
                <p>هذا هو السبب في أن NOBLE SKY توفر نطاقًا للرافعة المالية يساعدك في اختيار مستوى المخاطرة المفضل لديك. في الوقت نفسه ، لا نوصي بالتداول بالقرب من رافعة مالية بنسبة 200: 1 نظرًا للمخاطر العالية التي تنطوي عليها.</p>
              </div>
              <div class="col-md-12 top50">
                <h2>مراقبة الهامش</h2>
                <p>في NOBLE SKY ، يمكنك التحكم في تعرضك للمخاطر في الوقت الفعلي من خلال مراقبة الهامش المستخدم والحر.</p>
                <p>الهامش المستخدم والحر يشكلان معًا رصيدك. يشير الهامش المستخدم إلى مقدار المال الذي تحتاج إلى إيداعه للاحتفاظ بالصفقة (على سبيل المثال ، إذا قمت بتعيين حسابك برافعة مالية 100: 1 ، فإن الهامش الذي ستحتاج إلى تخصيصه هو 1٪ من حجم تداولك). الهامش المجاني هو مقدار المال الذي تركته في حساب التداول الخاص بك ، وهو يتقلب وفقًا لرصيد حسابك ؛ يمكنك فتح صفقات إضافية معها ، أو استيعاب أي خسائر.</p>
              </div>
              <div class="col-md-12 top50">
                <h2>نداء الهامش</h2>
                <p>على الرغم من أن كل عميل مسؤول مسؤولية كاملة عن مراقبة نشاط حساب التداول الخاص به ، إلا أن NOBLE SKY يتبع سياسة نداء الهامش لضمان عدم تجاوز الحد الأقصى للمخاطرة المحتملة لحسابك.</p>
                <p>بمجرد أن ينخفض ​​رصيد حسابك إلى أقل من 50٪ من الهامش المطلوب للحفاظ على مراكزك المفتوحة ، سنحاول إخطارك من خلال استدعاء الهامش لتحذيرك من عدم وجود رصيد كافٍ لدعم الصفقات المفتوحة.</p>
              </div>
              <div class="col-md-12 top50">
                <h2>مستوى التوقف</h2>
                <p>يشير مستوى وقف الخسارة إلى مستوى الأسهم الذي يتم عنده إغلاق صفقاتك المفتوحة تلقائيًا. يتم الوصول إلى مستوى الإيقاف في حساب العميل عندما تتساوى حقوق الملكية في حساب التداول أو تقل عن 20٪ من الهامش المطلوب.</p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
     title: 'الهامش والرافعة المالية-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  .xmLeverage-200.fs100{
    width: 150px;height: 100px;display: block;
   background: url(../../../static/images/ico-200-1.png) no-repeat center 0;
  }
  .xmLeverage-100.fs100 {
    width: 150px;
    height: 100px;
    display: block;
    background: url(../../../static/images/ico-200-1.png) no-repeat center 0;
  }
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: center;padding: 10px !important;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29a643;}
   }

   .nav-flexbox-tabs {padding: 10px !important;
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


 //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap>
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}


</style>
