<template>
		<div class="wrap" @click="hideMenu" style="direction: rtl; text-align: right">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" dir="rtl">

          <div class="container-fluid top-bar">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 ">
                  <h1 class="rtl text-right">MT5 لأجهزة iPad</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link>
                    </li>
                    <li class="post post-page current-item">MT5 لأجهزة iPad</li>
                  </ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>اتصل بنا</span>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row top80">
              <div class="col-sm-12">
                <h2> لماذا التداول على MT5 باستخدام iPad؟</h2>
                <div class="quote-msg top30">
                  <p><i class="quote-right "></i>يمكن لـ MT5 iPad Trader الوصول مباشرة إلى حسابك على تطبيق iPad. ما عليك سوى تسجيل الدخول بنفس كلمة مرور حساب الكمبيوتر الشخصي.</p>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                  <div class="col-sm-12 top40">
                    <h3>ميزات NOBLE SKY MT5 iPad Trader</h3>
                    <ul class="checks top35">
                      <li>أكثر من 100 سلعة تجارية ، بما في ذلك مؤشر CFD على مؤشر الأسهم ، والعملات الأجنبية ، وعقود الفروقات على المعادن الثمينة ، وعقود الفروقات على الطاقة</li>
                      <li>متوافق مع iPad 100%</li>
                      <li>وظائف حساب MT5 كاملة</li>
                      <li>دعم جميع أنواع الطلبات</li>
                      <li>أدوات تحليل السوق المضمنة</li>
                    </ul>
                    <div class="row top70 mobile-btn-box">
                      <div class="col-sm-8 col-md-8 text-center">
                        <router-link to="/register" class="btn btn-solid btn-green-mobile btn-block">
                          <i class="fa fa-pencil-square-o"></i>انشئ حساب
                        </router-link>
                      </div>
                      
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-12 top60 hidden-sm">
                <img src="../../../static/images/page-img/mt5-ipad/mt5-ipad.png?v2.0" class="img-responsive center-block">
              </div>
              <div class="col-sm-12">
                        <a href="/goto/mt5-appstore-xmbz" class="btn-appstore" target="_blank">
                          <img src="../../../static/images/page-img/mt5-ipad/app-store.png">
                        </a>
                      </div>
            </div>
          </div>
          <!--section class="section top80">
            <div class="container-fluid metatrader">
              <div class="row">
                <div class="col-md-12 text-justify mx-2">
                  <h2 class="text-center big">منصة NOBLE SKY MT5-1 ، أصناف تداول متعددة</h2>
                  <p class="text-center">تم تطوير Metaquotes خصيصًا لأجهزة iPad</p>
                  <img src="../../../static/images/page-img/mt5-ipad/mt5-ipad-half.png?v2.0" class="img-responsive center-block top30">
                </div>
              </div>
            </div>
          </section-->
          <div class="container-fluid">
            <!--div class="container-fluid">
              <div class="dis30 visible-xs visible-sm"></div>
              <div class="row">
                <div class="col-sm-6 col-md-6 col-sm-offset-2 col-md-offset-2 text-center">
                  <router-link to="/register" class="btn btn-solid btn-green-mobile btn-block">
                    <i class="fa fa-pencil-square-o"></i>انشئ حساب
                  </router-link>
                </div>
                <div class="col-sm-4 col-md-4 text-center">
                  <div class="dis20 visible-xs"></div>
                  <a href="/goto/mt5-appstore-xmbz" class="center-block pull-left btn-appstore" target="_blank">
                    <img src="../../../static/images/page-img/mt5-ipad/app-store.png">
                  </a>
                </div>
                <div class="dis20"></div>
                <p class="text-center">الوصول إلى الأسواق المالية العالمية</p>
              </div>
            </div-->
            <div class="row">
              <hr>
            </div>
            <div class="container-fluid metatrader">
              <div class="row top50">
                <div class="col-md-12 text-justify mx-2">
                  <h2><i class="  tfxfont3 xmInstall-pc sm red"></i>كيفية الوصول إلى تطبيق NOBLE SKY MT5 iPad</h2>
                </div>
                <div class="col-sm-12 top20">
                  <h3 class="red">الخطوة 1</h3>
                  <ul class="arrows top20">
                    <li>
                      افتح App Store على iPad أو التطبيق
                      <a href="https://download.mql5.com/cdn/mobile/mt5/ios?server=HKNobleSkyTreasure-real">انقر هنا</a> للتنزيل.
                    </li>
                    <li>ابحث عن MetaTrader 5 في شريط بحث App Store.</li>
                    <li>انقر فوق أيقونة MetaTrader 5 لتثبيت البرنامج على جهاز iPad.</li>
                  </ul>
                </div>
                <div class="col-sm-12 top20">
                  <h3 class="red">الخطوة 2</h3>
                  <ul class="arrows top20">
                    <li>الآن سوف تتبع الارشادات لاختيار تسجيل الدخول إلى حساب موجود / إنشاء حساب تجريبي.</li>
                    <li>انقر لتسجيل الدخول إلى الحساب المستخدم / إنشاء حساب تجريبي ، ستظهر نافذة جديدة.</li>
                    <li>ابحث عن HK Noble Sky Treasure في شريط البحث</li>
                    <li>إذا كان لديك حساب تجريبي ، انقر فوق NOBLE SKYGlobal-Demo ؛ إذا كان لديك حساب حقيقي ، فانقر فوق NOBLE SKYGlobal-Real.</li>
                  </ul>
                </div>
                <div class="col-sm-12 top20">
                  <h3 class="red">الخطوه 3</h3>
                  <ul class="arrows top20">
                    <li>أدخل اسم تسجيل الدخول وكلمة المرور.</li>
                    <li>ابدأ التداول على iPad.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div id="faq">
            <div class="container-fluid top80 text-center">
              <div class="row">
                <div class="col-md-6">
                  <h2>مشاكل شائعة</h2>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <div id="accordionText" class="hidden"></div>
                    </div>
                    <div class="col-md-6"><button type="button" data-parent="#accordion1" class="btnAccordion pull-right"></button></div>
                  </div>
                </div>
              </div>
              <div class="row top20">
                <div class="col-md-12 text-justify mx-2">
                  <div id="accordion1" class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">كيفية الوصول إلى منصة MT5؟</h4>
                        <i class="fa pull-right fa-angle-dowm"></i>
                      </div>
                      <div id="a1collapse1" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>يجب أن يكون لديك حساب تداول في Noble Sky MT5 للتداول على منصة MT5. لإنشاء حساب نوبل سكاي MT5 <a href="#/register" class="">انقر هنا</a>。</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">كيف أتحقق من حساب MT5 الخاص بي؟</h4>
                        <i class="fa pull-right fa-angle-dowm"></i>
                      </div>
                      <div id="a1collapse1" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>انقر فوق CRM -&gt; "تسجيل" لإنشاء حساب MT5 وإنشاء وتسجيل الدخول للمصادقة ، تحتاج إلى تقديم مستندات المصادقة التي نحتاجها (على سبيل المثال ، إثبات الهوية والعنوان).</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">ما هي السلع التي يمكنني تداولها على MT5؟</h4>
                        <i class="fa pull-right fa-angle-dowm"></i>
                      </div>
                      <div id="a1collapse1" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>
                            في منصة التداول MT5 ، يمكنك تداول جميع سلع NOBLE SKY ، بما في ذلك العملات الأجنبية والسلع ومؤشرات الأوراق المالية وعقود الفروقات على المعادن الثمينة وعقود فروقات الطاقة.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container-fluid metatrader top80 hidden-xs hidden-sm hidden-l-sm">
            <div class="row">
              <div class="col-md-12 text-justify mx-2">
                <h2><i class="tfxfont3 xmMobile-devices sm red"></i> متوفر أيضًا على</h2>
              </div>
            </div>
            <div class="row text-center">
              <div class="feature-item7 noborder">
                <a href="/ar/mt5" class="device">
                  <i class="tfxfont3 xmPc"></i>
                  <p class="text-center top20">
                    نظام الكمبيوتر الشخصي MT5
                  </p>
                </a>
              </div>
              <div class="feature-item7 noborder">
                <a href="/ar/mt5-webtrader" class="device">
                  <i class="tfxfont3 xmLaptop"></i>
                  <p class="text-center top20">
                    MT5 WebTrader
                  </p>
                </a>
              </div>
              <div class="feature-item7 noborder">
                <a href="/ar/mt5-ipad" class="device">
                  <i class="tfxfont3 xmIpad"></i>
                  <p class="text-center top20">
                    MT5 لأجهزة iPad
                  </p>
                </a>
              </div>
              <div class="feature-item7 noborder">
                <a href="/ar/mt5-iphone" class="device">
                  <i class="tfxfont3 xmIphone"></i>
                  <p class="text-center top20">
                    MT5 لأجهزة iPhone
                  </p>
                </a>
              </div>
              <div class="feature-item7 noborder">
                <a href="/ar/mt5-android" class="device">
                  <i class="tfxfont3 xmAndroid-phone"></i>
                  <p class="text-center top20">
                    MT5 الروبوت
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5 ipad-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){

      let element = document.querySelectorAll(".panel-heading");




      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){

               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }



    document.documentElement.scrollTop = 0

  },




  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }

   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }

   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: center;padding: 10px !important;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29a643;}
   }

   .nav-flexbox-tabs {padding: 10px !important;
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


 //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }


.row.mobile-btn-box{margin-left: -15px;margin-right: -15px;margin-top: 70px;}
a.btn-green-mobile{margin-bottom: 10px;  background-color: #74c109;width: 360px;height: 60px;line-height: 40px;font-size: 24px;display: inline-block;color: #fff;}
a.btn-green-mobile:hover{background-color: #29a643;}
.row.mobile-btn-box.top70 .btn-green-mobile{width: 340px;}

.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}
.panel-collapse.showFlag{display: none;}

.btnAccordion.pull-right{display: none;}


footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

</style>
