td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #898a8a;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  .table td, .table th {
    padding: 1.75em;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
  }
  .transfer {
    border: 2px solid #42506e;
    padding: 5px 24px;
    border-radius: 4px;
  }
  .table {
    width: 100%;
    margin-bottom: 3em;
    color: #212529;
  }
  .asset-table-box .asset-list .table table tr:last-child td, .asset-table-box .asset-list .table table tr:nth-child(1) td {
    border-bottom: 1px solid #f5f7fa;
  }
  .asset-table-box .asset-list .table table tr:last-child td, .asset-table-box .asset-list .table table tr:nth-child(2) td {
    border-bottom: 1px solid #3b455e!important;
  }
  span.transfer:hover {
    border: 3px solid white;
    box-shadow: 3px 4px 2px black;
  }
  .table table:nth-child(1) tr{
    font-weight: 700;
  }
  