<template>
    <div class="wrap">
      <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <main>

            <!-- <div style="width: 300px;margin:100px auto;font-size: 24px;">
               ^_^&nbsp;&nbsp;欢迎，内容制作中！
            </div> -->

            <div class="w-1200">



               <!-- <h3><i class="icon icon-dotted"></i>{{language[curLanguage][1]}}</h3> -->


              <div class="nav-tab-head">
                <router-link to="/coinstrad">{{language[curLanguage][66]}}</router-link>
                <a href="javascript:" :class="{active:pageType==1}" @click="handlePageType(1)">{{language[curLanguage][64]}}</a>
                <a href="javascript:" :class="{active:pageType==2}" @click="handlePageType(2)">{{language[curLanguage][65]}}</a>
              </div>


                <div class="mode-list-row" :class="{en:curLanguage==2,'max-h':curLanguage==2&&userInfo.fstate==-1}" v-if="pageType==1">
                    <div class="cell">
                        <h5>{{language[curLanguage][7]}}</h5>
                        <div class="table-container" :class="{high:lv1State!=-1}">
                            <table>
                                <tr>
                                    <td>{{language[curLanguage][8]}}</td>
                                    <td>{{language[curLanguage][11]}}</td>
                                    <td>{{lv2State==1?language[curLanguage][16]:lv1State==-1?language[curLanguage][14]:lv1State==2?language[curLanguage][19]:language[curLanguage][42]}}</td>
                                    <td class="op"><router-link to="/my/verify">{{lv2State==1?language[curLanguage][21]:lv1State==-1?language[curLanguage][20]:language[curLanguage][43]}}</router-link></td>
                                </tr>
                                <tr>
                                    <td>{{language[curLanguage][9]}}</td>
                                    <td>{{language[curLanguage][12]}}</td>
                                    <td>{{lv2State==1?language[curLanguage][17]:lv2State==-1?language[curLanguage][15]:lv2State==2?language[curLanguage][19]:language[curLanguage][18]}}</td>
                                    <td class="op">
                                        <span v-if="lv1State==1">
                                            <router-link to="/my/verify2" v-if="lv2State!=0">{{lv2State==-1?language[curLanguage][20]:language[curLanguage][21]}}</router-link>
                                            <a href="javascript:" v-if="lv2State==0" style="cursor: default;color: #aeb9d8;">{{language[curLanguage][18]}}</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{language[curLanguage][10]}}</td>
                                    <td>{{language[curLanguage][13]}}</td>
                                    <td>{{lv3State==1?language[curLanguage][17]:lv3State==-1?language[curLanguage][15]:lv3State==2?language[curLanguage][19]:language[curLanguage][18]}}</td>
                                    <td class="op">
                                        <!-- <router-link to="/my/verify3" v-if="lv2State==1">{{lv3State==1?'去查看':lv3State==-1?'去认证':'去完善'}}</router-link> -->
                                        <span v-if="lv2State==1">
                                           <router-link to="/my/verify3" v-if="lv3State!=0">{{lv3State==-1?language[curLanguage][20]:language[curLanguage][21]}}</router-link>
                                           <a href="javascript:" v-if="lv3State==0" style="cursor: default;color: #aeb9d8;">{{language[curLanguage][18]}}</a>
                                        </span>
                                    </td>
                                </tr>
                            </table>



                        </div>
                        <el-dialog
                            :title="language[curLanguage][44]"
                            :visible.sync="openExchangeDialog"
                            width="30%">
                            <span style="font-size: 18px;color: #fff;">{{openExchangeText.text}}</span>
                            <span slot="footer" class="dialog-footer">
                              <el-button @click="openExchangeDialog = false">{{openExchangeText.btn1}}</el-button>
                              <el-button type="primary" @click="confirmOpenExcange(openExchangeText.type)">{{openExchangeText.btn2}}</el-button>
                            </span>
                        </el-dialog>

                        <el-dialog
                            :title="language[curLanguage][44]"
                            :visible.sync="openDialogDemoUser"
                            width="30%">
                            <span style="font-size: 18px;color: #fff;">{{language[curLanguage][60]}}</span>
                            <span slot="footer" class="dialog-footer">
                              <el-button @click="openDialogDemoUser = false">{{language[curLanguage][61]}}</el-button>

                            </span>
                        </el-dialog>


                    </div>
                </div>

                <div class="mode-list-row" :class="{en:curLanguage==2,'max-h':curLanguage==2&&userInfo.fstate==-1}" v-if="pageType==2">
                    <!-- <div class="open-cps">
                        <button @click="userEntrust" v-if="entrustInfo.t_superior_1==0">托管账户</button>
                        <button @click="userEntrustInfo" class="color-green" v-if="entrustInfo.t_superior_1!=0">我的托管</button>
                    </div> -->
                    <div class="cell">
                        <h5>{{language[curLanguage][2]}}</h5>
                        <div class="table-container" :class="{high:lv1State!=-1}">
                            <table>
                                <tr>
                                    <td>{{language[curLanguage][3]}}	</td>
                                    <td>{{userLoginInfo.userName||'--'}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>UID</td>
                                    <td>{{userLoginInfo.userID}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>{{language[curLanguage][4]}}</td>
                                    <td>{{userLoginInfo.userName}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>{{language[curLanguage][5]}}</td>
                                    <td>***</td>
                                    <td class="op">
                                       <router-link to="/my/edit-pwd">{{language[curLanguage][6]}}</router-link>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>




                <div class="mode-list-row row2" v-if="pageType==2">
                    <div class="cell">
                        <h5>{{language[curLanguage][27]}}</h5>
                        <div class="table-container">
                            <table>
                                <tr>
                                    <td>{{language[curLanguage][28]}}</td>
                                    <td>{{userInfo.u_mail}}</td>
                                    <td>{{language[curLanguage][29]}}</td>
                                    <td class="op">
                                        <!-- <a href="javascript:">修改</a> -->
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td>谷歌身份验证器</td>
                                    <td></td>
                                    <td>未绑定</td>
                                    <td class="op"><a href="javascript:">设置</a></td>
                                </tr> -->
                            </table>
                        </div>
                    </div>

                </div>

                <div class="mode-list-row row2" v-if="pageType==2">

                    <div class="cell">
                        <h5>{{language[curLanguage][30]}}</h5>
                        <div class="table-container">
                            <table>
                                <tr>
                                    <td>{{language[curLanguage][31]}}</td>
                                    <td>{{userInfo.u_rcode}}</td>
                                </tr>
                                <tr>
                                    <td>{{language[curLanguage][32]}}</td>
                                    <td>https://www.nbstrader.com/#/register?recommend={{userInfo.u_rcode}}</td>
                                </tr>

                            </table>
                        </div>
                    </div>

                </div>




                <div class="loginHistory theme-black" v-if="pageType==2">
                    <div class="tab">
                        <span :class="{active:logType==1}" @click="handleLogType(1)">{{language[curLanguage][33]}}</span>
                        <!-- <span :class="{active:logType==2}" @click="handleLogType(2)">{{language[curLanguage][39]}}</span> -->
                    </div>
                    <el-table v-if="logType==1"
                          :data="loginHistory.data"
                          style="width: 100%">
                          <el-table-column
                            prop="ul_time"
                            :label="language[curLanguage][34]"
                            width="180">
                          </el-table-column>
                          <el-table-column
                            prop="ul_equipment"
                            :label="language[curLanguage][35]"
                           >
                          </el-table-column>
                          <!-- <el-table-column
                            prop="ul_ip"
                            label="IP">
                          </el-table-column> -->
                          <el-table-column
                            prop="ul_result"
                            :label="language[curLanguage][36]">
                            <template slot-scope="scope">
                                {{scope.row.ul_result==true?language[curLanguage][37]:language[curLanguage][38]}}
                            </template>
                          </el-table-column>
                    </el-table>
                    <div class="pagination-box black" v-if="logType==1&&loginHistory.total>loginHistory.pagesize">
                        <el-pagination
                          layout="prev, pager, next"
                          @current-change="handlePaginationIndex"
                          :total="loginHistory.total"
                          :page-size="loginHistory.pagesize">
                        </el-pagination>
                    </div>





                </div>

            </div>


        </main>
    </div>
</template>


<script>

import pageHeader from '../../components/pageHeader.vue'
import {userCenter} from '../../utils/language'
  import { apiStateList } from '../../utils/result-state'
  import '../../../static/css/my/my-styles.css'
export default {
  name: "OTC",
  data: function() {
    return {
         isLogin:false,
         curCoinType:1,
         curLanguage:2,
         userInfo:{},
         userCountry:{},
         userLoginInfo:{},
         logType:1,
         loginHistory:{
             pageindex:1,
             pagesize:10,
             total:0,
             data:[]
         },

        securitySettingHistory:{
              pageindex:1,
              pagesize:10,
              total:0,
             data:[]
         },
         openExchangeText:{
             text:'',
             btn1:'',
             btn2:'',
             type:''
         },
         systemTradMode:[],
         systemTradModeValue:[
             {value:0,label:'现货交易',stateCode:'cstate'},
             {value:1,label:'合约交易',stateCode:'astate'},
             {value:2,label:'期货交易',stateCode:'fstate'}
         ],
         toLink:[
             {linkRouter:'/exchange'},
             {linkRouter:'/contract/exchange'},
             {linkRouter:'/futures/exchange'}
         ],


         openExchangeDialog:false,
         language:userCenter,
         openDialogDemoUser:false,
         resultStateList:apiStateList,
         entrustInfo:[],
         pageType:2,
         lv1State:-1,
         lv2State:-1,
         lv3State:-1,


    };
  },
  created(){



     const storeCoinType = this.localStore.getItem('curCoinType');
     const storeLanguage = this.localStore.getItem('curLanguage');

    this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
    this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

    this.isLogin = this.util.isLogin();
    if(!!this.isLogin){
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
        this.getUserInfo();
    }else{
        this.$router.push({name:'login'});
        return;
    }

    if(this.$route.query.type!=undefined){
       this.pageType = this.$route.query.type;
    }




    this.getUserVerifyInfo()

    // this.getSystemTradMode()
    this.getLoginLog();

    this.settingAPIDataLanguage();



  },
  metaInfo() {
      return{
         title: this.curLanguage==1?'用户中心 - Noble sky':'User center - Noble sky',
      }

  },
  components: {
   pageHeader
  },
  methods: {

    getUserVerifyInfo(){
       const api = this.$api.url.userVerify1;
       const params = {
          Device:'web',
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session
       }
       this.$axios.get(api,{params:params})
       .then((res)=>{
           if(res.data.code==0){

                let data = JSON.parse(res.data.data);
                console.log(data)
                if(data.info1!=null){
                   console.log(data.info1.ui_state)
                   this.lv1State = data.info1.ui_state
                }
                if(data.info2!=null){
                   this.lv2State = data.info2.ui_state
                }
                if(data.info3!=null){
                   this.lv3State = data.info3.ui_state
                }

                this.localStore.setItem('userLv1State',this.lv1State);
                this.localStore.setItem('userLv2State',this.lv2State);
                this.localStore.setItem('userLv3State',this.lv3State);

           }else if(res.data.code==1011||res.data.code==1006){

               this.$refs.pageHead.logout();
               this.isLogin = false;
               this.$router.push({name:'login'});
           }else{
             let resultMsg = this.getStateCodeText(res.data.code)
             this.$message({
               message:this.language[this.curLanguage][58]+resultMsg,
               type: "error",
               center: true,
               duration:1800
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:1800
           })
         })


    },

    handlePageType(type){
       this.pageType = type;
    },
    userEntrustInfo(){
       this.$router.push({name:'entrustInfo'});
    },
    userEntrust(){
      this.$router.push({name:'entrust'});
    },
   getStateCodeText(code){
         let text = this.resultStateList.find(item=>{
            return item.code == code
         })
         if(this.curLanguage==1){
           return text.cn
         }else{
           return text.en
         }
   
   },
    settingAPIDataLanguage(){
        let systemTradModeValue = [
             {value:0,label:this.language[this.curLanguage][47],stateCode:'cstate'},
             {value:1,label:this.language[this.curLanguage][48],stateCode:'astate'},
             {value:2,label:this.language[this.curLanguage][59],stateCode:'fstate'}
         ]

        this.systemTradModeValue = systemTradModeValue

    },

    changeCoinType(val){
            this.curCoinType = val;
          },
  changeLanguage(val){

    this.curLanguage = val;
    this.countryOptions = this.countryOptionsCopy;
    this.filterSubstring = '';
    this.settingAPIDataLanguage()



  },
    // getSystemTradMode(){
    //    const api = this.$api.url.getsystem;

    //    this.$axios.get(api)
    //    .then((res)=>{
    //        if(res.data.code==0){

    //          this.systemTradMode = JSON.parse(res.data.data);


    //        }else{
    //          let resultMsg = this.getStateCodeText(res.data.code)
    //          this.$message({
    //            message:this.language[this.curLanguage][49]+" "+this.language[this.curLanguage][58]+resultMsg,
    //            type: "error",
    //            center: true,
    //            duration:1800
    //          })
    //        }

    //    }).catch((error)=>{
    //        this.$message({
    //          message: error,
    //          type: "error",
    //          center: true,
    //        duration:1800
    //        })
    //      })
    // },

    openDialog(type,name){

      if(this.userLoginInfo.userType==1&&type==0){
         this.openDialogDemoUser = true;
         return;
      }


       this.openExchangeText.text=this.language[this.curLanguage][55] +' '+ name + ' ？'
       this.openExchangeText.btn1 = this.language[this.curLanguage][56]
       this.openExchangeText.btn2 = this.language[this.curLanguage][57]
       this.openExchangeText.type = type;

       this.openExchangeDialog = true;

    },

   confirmOpenExcange(type){
       if(type==0){
           this.openExchange();
       }else if(type==1){
          this.opencontract();
       }else{
          this.openfutures();
       }
       this.openExchangeDialog = false;
   },

    getUserInfo(){
        const api = this.$api.url.userInfo;
        const params = {
           Device:'web',
           Uid:this.userLoginInfo.userID,
           Token:this.userLoginInfo.session
        }
        this.$axios.post(api,params)
        .then((res)=>{
            if(res.data.code==0){

              this.userInfo = JSON.parse(res.data.data);
              // this.userInfo.u_country = this.userCountry;
              this.localStore.setItem('userInfo',this.userInfo)
              this.getUserCountry();


            }else if(res.data.code==1011||res.data.code==1006){

                this.$refs.pageHead.logout();
                this.isLogin = false;
                this.$router.push({name:'login'});
            }else{
              let resultMsg = this.getStateCodeText(res.data.code)
              this.$message({
                message:this.language[this.curLanguage][50]+" "+this.language[this.curLanguage][58]+resultMsg,
                type: "error",
                center: true,
                duration:1800
              })
            }

        }).catch((error)=>{
            this.$message({
              message: error,
              type: "error",
              center: true,
            duration:1800
            })
          })

    },
    getUserCountry(){
       const api = this.$api.url.getCountry;
       const params = {
           id:this.userInfo.u_country
       }
       this.$axios.get(api,{params:params})
       .then((res)=>{
           if(res.data.code==0){
              // this.localStore.setItem('userCountry',res.data.data)
              this.userCountry = res.data.data
              this.localStore.setItem('userCountry',this.userCountry)
           }else if(res.data.code==1011||res.data.code==1006){

                this.$refs.pageHead.logout();
                this.isLogin = false;
                this.$router.push({name:'login'});
            }else{
             let resultMsg = this.getStateCodeText(res.data.code)
             this.$message({
               message:this.language[this.curLanguage][51]+" "+this.language[this.curLanguage][58]+resultMsg,
               type: "error",
               center: true,
               duration:1800
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:1800
           })
         })
    },
    getLoginLog(){
      const api = this.$api.url.login;
      const params = {
          Device:'web',
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session,
          PageIndex:1,
          PageSize:10
      }




      this.$axios.post(api,params)
      .then((res)=>{
          if(res.data.code==0){
            this.loginHistory.data = JSON.parse(res.data.data);
            this.loginHistory.total = res.data.count;
          }else if(res.data.code==1011||res.data.code==1006){

                this.$refs.pageHead.logout();
                this.isLogin = false;
                this.$router.push({name:'login'});
            }else{
            let resultMsg = this.getStateCodeText(res.data.code)
            this.$message({
              message:this.language[this.curLanguage][52]+" "+this.language[this.curLanguage][58]+resultMsg,
              type: "error",
              center: true,
              duration:1800
            })
          }
      }).catch((error)=>{
          this.$message({
            message: error,
            type: "error",
            center: true,
          duration:1800
          })
        })
   },


   handleLogType(val){
       this.loginHistory.pageindex = 1;
       this.securitySettingHistory.pageindex = 1;
       this.loginHistory.total = 1;
       this.securitySettingHistory.total = 1;
       if(val==1&&val!=this.logType){
           this.getLoginLog();
       }
       this.logType = val;
   },
   handlePaginationIndex(val){
       if(this.logType==1){
           this.loginHistory.pageindex = val;
           this.getLoginLog();

       }
   },

   openExchange(){

        const api = this.$api.url.openexchange;
                const params = {
                   uid:this.userLoginInfo.userID,
                   token:this.userLoginInfo.session,
                   device:'web'
                }

                 this.$axios.post(api,params)
                .then((res)=>{
                    if(res.data.code==0){
                        this.getUserInfo()
                        this.$message({
                          message:this.language[this.curLanguage][54],
                          type: "success",
                          center: true,
                          duration:1800
                        })


                    }else{
                      let resultMsg = this.getStateCodeText(res.data.code)
                      this.$message({
                        message:res.data.msg,
                        type: "error",
                        center: true,
                        duration:1800
                      })
                    }

                }).catch((error)=>{
                    this.$message({
                      message: error,
                      type: "error",
                      center: true,
                    duration:1800
                    })
                  })
   },
   opencontract(){

        const api = this.$api.url.opencontract;

                const params = {
                   uid:this.userLoginInfo.userID,
                   token:this.userLoginInfo.session,
                   device:'web'
                }

                 this.$axios.post(api,params)
                .then((res)=>{
                    if(res.data.code==0){
                        this.getUserInfo()
                        this.$message({
                          message:this.language[this.curLanguage][54],
                          type: "success",
                          center: true,
                          duration:1800
                        })


                    }else{
                      let resultMsg = this.getStateCodeText(res.data.code)
                      this.$message({

                        message:res.data.msg,
                        type: "error",
                        center: true,
                        duration:1800
                      })
                    }

                }).catch((error)=>{
                    this.$message({
                      message: error,
                      type: "error",
                      center: true,
                    duration:1800
                    })
                  })
   },
   openfutures(){

        const api = this.$api.url.openfutures;

                const params = {
                   uid:this.userLoginInfo.userID,
                   token:this.userLoginInfo.session,
                   device:'web'
                }

                 this.$axios.post(api,params)
                .then((res)=>{
                    if(res.data.code==0){
                        this.getUserInfo()
                        this.$message({
                          message:this.language[this.curLanguage][54],
                          type: "success",
                          center: true,
                          duration:1800
                        })


                    }else{
                      let resultMsg = this.getStateCodeText(res.data.code)
                      this.$message({
                        message:res.data.msg,
                        type: "error",
                        center: true,
                        duration:1800
                      })
                    }

                }).catch((error)=>{
                    this.$message({
                      message: error,
                      type: "error",
                      center: true,
                    duration:1800
                    })
                  })
   },


    userLogout(){
       this.$router.push({name:'login'});
    }

  }

};
</script>





<style scoped lang="scss">
   table td{text-align: left;}
  .wrap{min-height: 100vh;background: #16233c;}
  main{border-top: 1px solid #000;color: #aeb9d8;}
  .w-1200{width:1200px;margin:30px auto 0;
     h3{height: 40px;line-height: 40px;color: #fff;font-size: 18px;
      i{font-size: 24px;margin-right: 5px;}
     }
  }
  .mode-list-row{display: flex;justify-content: space-between;-webkit-box-pack: justify;position: relative;margin:30px 0 50px;
      .open-cps{position: absolute;top:-50px;right:15px;
         button{height: 35px;padding:0 15px;border-radius: 3px;background: #e04545;color: #fff;cursor: pointer;}
         button.color-green{background: #04b695;}
      }

      .cell{width:1200px;background-color: #192741;padding: 20px 30px;border: 1px solid #263655;}
      h5{height: 30px;line-height: 30px;color: #fff;font-size: 20px;margin-bottom: 15px;padding-bottom: 15px;;
        span{float:left;}
        i{float:right;}
      }

      table{color: #aeb9d8;width: 100%;}
      tr td:first-child{color: #7b87a9}
      td{height: 50px;border-bottom: 1px solid #20304c;}
      tr:last-child{
        td{border: 0;}
      }
      td a{color: #387ee2;}
      td.op{width: 100px;text-align: right;}
  }




.loginHistory{
    .tab{height: 35px;line-height: 35px;margin-bottom: 10px;
      span{float: left;margin-right: 10px;height: 35px;line-height: 35px;border:1px solid #57658a;padding:0 10px;cursor: pointer;}
      span.active{background: #387ee2;color: #fff;border-color: #387ee2}
    }

}

.open-exchange{padding:0 20px;
 p{color: #04b695;}
 .btn-box{margin-top: 15px;}
 .btn-cell{
     float:left;
 }
 button,a,span{margin-right: 30px;height:40px;width: 115px;border:0;background:#04b695;color: #fff;font-size: 14px;border-radius: 2px;cursor: pointer;display: block;text-align: center;line-height: 40px;
  -webkit-transition:all .3s ease 0s;transition:all .3s ease 0s;
 }

 button:hover,a:hover{background: #03a184;}
 span{background: #e04545;width:auto;padding:0 10px;margin-right: 0;cursor: default;}
 span:hover{background: #e04545;}
 .btn-cell:first-child button,.btn-cell:first-child a{background: #387ee2;}
 .btn-cell:first-child button:hover,.btn-cell:first-child a:hover{background: #2b6ecd;}
}

.mode-list-row.en{
   .table-container{height: auto;}

   .open-exchange{
       button{width:155px;}
       a{width:140px}

     }
}
.mode-list-row.en.max-h{
  .table-container{height: auto;}
   span{margin-top: 20px;}
}

.nav-tab-head{
   height: 60px;border-bottom: 2px solid #263655;margin-top: 15px;padding-top: 20px;margin-bottom: 50px;
   a{color: #aeb9d8;float: left;height: 40px;line-height:40px;text-align: center;margin-right: 30px;font-size: 16px;position: relative;}
   a.active{color: #fff;min-width: 96px;background-color: #263655;padding:0 15px;text-align: center;border-radius: 6px 6px 0 0;
     // &:after{content: "";position: absolute;width: 100%;height: 3px;background-color: #0496FF;left: 0;bottom: 0;}
   }
   a:hover{color: #fff;}

}

  ::-webkit-scrollbar{
      background:#fff;width:0;height:0;display:none;
  }
  ::-webkit-scrollbar-thumb{
      background:#fff;width:0;height:0;display:none;
  }

  h4, .h4, h5, .h5, h6, .h6 {
      margin-top: 0;
      margin-bottom: 0;
  }

</style>


<style lang="scss">
   .loginHistory.theme-black .el-table{background-color: #192741;}
   .loginHistory.theme-black .el-table td, .loginHistory.theme-black .el-table th.is-leaf{border-bottom-color:#20304c}

</style>
