<template>
		<div class="wrap">
      <pageHeader :defaultCoinType="curCoinType" :defaultLanguage="curLanguage"
      @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
			<main>

          <div class="register-box send-email-code">
              <h3>{{language[curLanguage][19]}}</h3>
              <el-form :model="inputCodeForm" :rules="rules2" ref="inputCodeForm" class="demo-ruleForm">
                  <p class="tip">{{language[curLanguage][20] + ' ' + registerForm.email + ' ' + language[curLanguage][21]}}</p>
                  <el-form-item :label="language[curLanguage][22]" prop="emailCode">
                    <el-input v-model.trim="inputCodeForm.emailCode" :placeholder="language[curLanguage][24]"></el-input>
                    <span @click="sendCode" class="sendCode" v-if="codeTimer==0">{{language[curLanguage][23]}}</span>
                    <span class="countDown" v-if="codeTimer!=0">{{codeTimer}}s后重发</span>
                  </el-form-item>

                  <div class="btn-box">
                      <button @click="submitRegister('inputCodeForm')">{{language[curLanguage][14]}}</button>
                  </div>

              </el-form>
          </div>


			</main>
		</div>
</template>


<script>
import pageHeader from '../../components/pageHeader.vue'
import {RegisterLanguage} from '../../utils/language'
import md5 from 'js-md5';
export default {
  name: "chart",
  data: function() {


    return {
         registerForm: {
           country:'',
            email: '',
            pwd: '',
            confirmPwd:'',
            recomendCode:''
        },


        curCoinType:1,
        curLanguage:2,

        language:RegisterLanguage,
        inputCodeForm:{
           emailCode:''
        },
        codeTimer:0,
        countDownState:false,

        rules2: {
          emailCode: [
            { required: true, message: '请输入验证码', trigger: 'blur' },
          ]

        }
    };
  },
 metaInfo() {
     return{
        title: this.curLanguage==1?'发送邮箱验证码 - Noble sky':'send email verification code - Noble sky',
     }

 },
  created(){
   const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   this.registerForm =JSON.parse(this.localStore.getItem('registerForm'));



  },

  components: {
   pageHeader
  },
  methods: {


      changeCoinType(val){
        this.curCoinType = val;
      },
      changeLanguage(val){
        console.log(val)
        this.curLanguage = val;
        this.countryOptions = this.countryOptionsCopy;
        this.filterSubstring = '';

//         this.rules.email[0].message = this.language[this.curLanguage][5];
//         this.rules.pwd[0].message = this.language[this.curLanguage][8];
//         this.rules.recomendCode[0].message = this.language[this.curLanguage][13];
//         this.$refs['registerForm'].validate((valid) => {});

      },

      submitRegister(formName){

            this.$refs[formName].validate((valid) => {
              if (valid) {

                    const api = this.$api.url.register;
                    const params = {
                       country:this.registerForm.country,
                       email:this.registerForm.email,
                       pwd:md5(this.registerForm.pwd),
                       rcode:this.registerForm.recomendCode,
                       ecode:this.inputCodeForm.emailCode
                    }

                     this.$axios.get(api,{params:params})
                    .then((res)=>{
                              if(res.data.code==0){
                               this.localStore.removeItem('registerForm');
                               this.$message({
                                 message:'注册成功！',
                                 type: "success",
                                 center: true,
                                 duration:1500
                               })
                               this.$router.push({name:'login'});
                        }else{
                          this.$message({
                            message:res.data.msg+ "注册失败！",
                            type: "error",
                            center: true,
                            duration:1500
                          })
                        }

                    }).catch((error)=>{
                        this.$message({
                          message: error,
                          type: "error",
                          center: true,
                        duration:1500
                        })
                      })

              } else {
                console.log('error submit!!');
                return false;
              }
            });



      },




      sendCode(){


          this.countTimeDown();
          const api = this.$api.url.sendCode;
          const params = {
            country:this.registerForm.country,
            email:this.registerForm.email,
            pwd:this.registerForm.pwd,
            rcode:this.registerForm.recomendCode
          }
           this.$axios.get(api,{params:params})
          .then((res)=>{
                  if(res.data.code==0){
          			this.$message({
          			  message:'已发送到您邮箱，请注意查收！',
          			  type: "success",
          			  center: true,
          			  duration:1800
          			})

          		}else{
          			this.$message({
          			  message:res.data.msg + ' 获取验证码失败',
          			  type: "error",
          			  center: true,
          			  duration:1800
          			})
                this.codeTimer = 0;
          		}
          })
      },

       countTimeDown(){
          this.codeTimer = 60;
          let timer,that=this;
          timer = setInterval(()=>{
              if(that.codeTimer<=0){
                  clearInterval(timer);
                  that.codeTimer=0;

                  return;
              }
              this.codeTimer--;
          },1000)

      },


  }

};
</script>





<style scoped lang="scss">

 .wrap{background:#222c45;overflow: hidden;}

 main{min-height: calc(100vh - 60px);position: relative;}

 .register-box{width:500px;background: #fff;padding:30px 50px;border-radius: 5px;margin:100px auto;left:calc(50% - 250px);top:calc(50% - 400px);
   h3{margin-bottom: 30px;font-size: 20px;text-align: center;}
   .el-form-item{margin-bottom: 20px;}
   .el-form-item:first-child{margin-bottom: 10px;}

   .btn-box{margin-top: 30px;
      button{width: 100%;height: 50px;line-height: 50px;color: #fff;font-size: 16px;background: #409eff;border-radius: 4px;
      -webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;cursor: pointer;
      }
      button:active{background:#2992fe; }
    }

    .pwd-link{text-align: right;
      a{color: #409eff;}
    }

 }

 .p-tip{line-height: 30px;margin-top: 5px;color: #888;font-size: 12px;}

 .no-data-tip{position: absolute;top:56px;width: 100%;text-align: center;color: #bbb;font-size: 16px;height: 140px;background: #fff;padding-top: 50px;}

.country-filter-fixed{height: 56px;
   .country-filter{
      position:absolute;top:0;left:0;width: 100%;z-index:10;background:#fff;height:56px;
      .cell{height: 40px;margin:10px 20px 0;border:1px solid #eee;border-radius: 3px;}
   }
   i{color: #bbb;float: left;margin: 12px 0 0 10px;line-height: 100%;}
   input{float: left;height: 100%;width: 320px;padding-left: 5px;}
}

.send-email-code{
  p.tip{font-size: 16px;padding:10px 0;margin-bottom: 15px;}
  span.sendCode,span.countDown{margin-left:30px;height: 50px;line-height: 50px;text-align: center;background: #409eff;color: #fff;padding:0 15px;float:right;border-radius:3px;}
  span.sendCode{cursor: pointer;}
}


  ::-webkit-scrollbar{
      background:#fff;width:0;height:0;display:none;
  }
  ::-webkit-scrollbar-thumb{
      background:#fff;width:0;height:0;display:none;
  }



</style>
