<template>
    <div class="wrap">
      <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <main>



            <div class="w-1200 theme-black verify">
                <h3><i class="icon icon-dotted"></i><router-link :to="{name:'my',query:{type:1}}">{{language[curLanguage][1]}}</router-link></h3>
                <div class="verify-level-1">
                    <el-form :model="verifyInfo" :rules="rules" ref="verifyInfoForm" class="demo-ruleForm">
                    <div class="row">
                         <h5>{{language[curLanguage][2]}}</h5>
                         <div class="info-cell">
                             <ul>
                                 <li style="margin-bottom: 20px;">
                                    <label style="float:left">{{language[curLanguage][3]}}</label>
                                    <span style="padding-left: 160px;display: block;">{{curLanguage==1?userCountry.cn:userCountry.en}}</span>
                                 </li>
                                 <li>
                                    <el-form-item :label="language[curLanguage][4]" prop="surname">
                                        <span v-if="lv2State==1">{{verifyInfo.surname}}</span>
                                        <el-input v-model.trim="verifyInfo.surname" :placeholder="language[curLanguage][27]" v-else></el-input>
                                    </el-form-item>
                                 </li>
                                 <li>
                                    <el-form-item :label="language[curLanguage][5]" prop="name">
                                        <span v-if="lv2State==1">{{verifyInfo.name}}</span>
                                        <el-input v-model.trim="verifyInfo.name" :placeholder="language[curLanguage][29]" v-else></el-input>
                                    </el-form-item>
                                 </li>
                                 <li>
                                    <el-form-item :label="language[curLanguage][6]" prop="surnameEn">
                                        <span v-if="lv2State==1">{{verifyInfo.surnameEn}}</span>
                                        <el-input v-model.trim="verifyInfo.surnameEn" :placeholder="language[curLanguage][27]" v-else></el-input>
                                    </el-form-item>
                                 </li>
                                 <li>
                                    <el-form-item :label="language[curLanguage][7]" prop="nameEn">
                                        <span v-if="lv2State==1">{{verifyInfo.nameEn}}</span>
                                        <el-input v-model.trim="verifyInfo.nameEn" :placeholder="language[curLanguage][29]" v-else></el-input>
                                    </el-form-item>
                                 </li>
                                 <li>
                                    <el-form-item :label="language[curLanguage][8]" prop="birth">
                                        <span v-if="lv2State==1">{{verifyInfo.birth}}</span>
                                        <el-date-picker
                                          v-model="verifyInfo.birth"
                                          type="date"
                                          :placeholder="language[curLanguage][26]" v-else>
                                        </el-date-picker>
                                    </el-form-item>
                                 </li>

                                 <li>
                                    <el-form-item :label="language[curLanguage][9]" prop="sex">
                                      <span v-if="lv2State==1">{{verifyInfo.sex==1?language[curLanguage][10]:language[curLanguage][11]}}</span>
                                      <el-select v-model="verifyInfo.sex" :placeholder="language[curLanguage][28]" v-else>
                                        <el-option
                                          v-for="item in sexOptions"
                                          :key="item.value"
                                          :label="item.label"
                                          :value="item.value">
                                        </el-option>
                                      </el-select>
                                    </el-form-item>
                                 </li>
                             </ul>
                         </div>
                    </div>
                    <div class="row">
                         <h5>{{language[curLanguage][12]}}</h5>
                         <div class="info-cell">
                             <ul>
                                 <li>
                                    <el-form-item :label="language[curLanguage][13]" prop="credentialsType">
                                      <span v-if="lv2State==1">{{credentialsOptions[verifyInfo.credentialsType-1].label}}</span>
                                      <el-select v-model="verifyInfo.credentialsType" :placeholder="language[curLanguage][28]" v-else>
                                        <el-option
                                          v-for="item in credentialsOptions"
                                          :key="item.value"
                                          :label="item.label"
                                          :value="item.value">
                                        </el-option>
                                      </el-select>
                                    </el-form-item>
                                 </li>
                                 <li>
                                    <el-form-item :label="language[curLanguage][17]" prop="credentialsNum">
                                        <span v-if="lv2State==1">{{verifyInfo.credentialsNum}}</span>
                                        <el-input v-model.trim="verifyInfo.credentialsNum" :placeholder="language[curLanguage][30]" v-else></el-input>
                                    </el-form-item>
                                 </li>
                                 <li>
                                    <el-form-item :label="language[curLanguage][18]" prop="credentialsDate">
                                        <span v-if="lv2State==1">{{verifyInfo.credentialsDate}}</span>
                                        <el-date-picker
                                          v-model="verifyInfo.credentialsDate"
                                          type="date"
                                          :placeholder="language[curLanguage][26]" v-else>
                                        </el-date-picker>
                                    </el-form-item>
                                 </li>
                                 <li>
                                    <el-form-item :label="language[curLanguage][19]" prop="credentialsDateLimit">
                                        <span v-if="lv2State==1">{{verifyInfo.credentialsDateLimit}}</span>
                                        <el-date-picker
                                          v-model="verifyInfo.credentialsDateLimit"
                                          type="date"
                                          :placeholder="language[curLanguage][26]" v-else>
                                        </el-date-picker>
                                    </el-form-item>
                                 </li>
                             </ul>
                         </div>
                    </div>
                    <div class="row">
                         <h5>{{language[curLanguage][20]}}</h5>
                         <div class="info-cell">
                             <ul>
                                 <li>
                                    <el-form-item :label="language[curLanguage][40]" prop="zip">
                                        <span v-if="lv2State==1">{{verifyInfo.address}}</span>
                                        <el-input v-model.trim="verifyInfo.zip" :placeholder="language[curLanguage][41]" v-else></el-input>
                                    </el-form-item>
                                 </li>
                                 <li>
                                    <el-form-item :label="language[curLanguage][21]" prop="address">
                                        <span v-if="lv2State==1">{{verifyInfo.address}}</span>
                                        <el-input v-model.trim="verifyInfo.address" :placeholder="language[curLanguage][31]" v-else></el-input>
                                    </el-form-item>
                                 </li>
                                 <li>
                                    <el-form-item :label="language[curLanguage][22]" prop="city">
                                        <span v-if="lv2State==1">{{verifyInfo.city}}</span>
                                        <el-input v-model.trim="verifyInfo.city" :placeholder="language[curLanguage][32]" v-else></el-input>
                                    </el-form-item>
                                 </li>
                                  <li>
                                     <el-form-item :label="language[curLanguage][23]" prop="province">
                                         <span v-if="lv2State==1">{{verifyInfo.province}}</span>
                                         <el-input v-model.trim="verifyInfo.province" :placeholder="language[curLanguage][33]" v-else></el-input>
                                     </el-form-item>
                                  </li>
                             </ul>
                         </div>
                    </div>
                    </el-form>

                    <div class="btn-box" v-if="lv2State!=1">
                        <p style="margin-bottom: 20px;" class="verify-checkbox"><el-checkbox v-model="checked">{{language[curLanguage][24]}}</el-checkbox></p>
                        <button @click="submitVerify('verifyInfoForm',1)" :class="{dasable:!checked}" v-if="lv1State==-1">{{language[curLanguage][25]}}</button>
                        <button @click="submitVerify('verifyInfoForm',2)" :class="{dasable:!checked}" v-else>{{language[curLanguage][34]}}</button>
                    </div>

                </div>


            </div>



        </main>
    </div>
</template>


<script>
import qs from 'qs'
import pageHeader from '../../components/pageHeader.vue'
import {verify} from '../../utils/language'
import moment from 'moment'
import {apiStateList} from '../../utils/result-state'
export default {
  name: "chart",
  data: function() {
    return {
        lan:'',
        isLogin:false,
        curCoinType:1,
        curLanguage:2,
        language:verify,
        verifyInfo:{
            ui_id:'',
            country:'中国',
            surname:'',
            name:'',
            surnameEn:'',
            nameEn:'',
            birth:'',
            sex:'',
            credentialsType:'',
            credentialsNum:'',
            credentialsDate:'',
            credentialsDateLimit:'',
            zip:'',
            address:'',
            city:'',
            province:''
        },
        sexOptions:[
            {value:1,label:'男'},
            {value:0,label:'女'}
        ],
        credentialsOptions:[
            {value:1,label:'身份证'},
            {value:2,label:'护照'},
            {value:3,label:'驾照'}
        ],
        userLoginInfo:{},
        userInfo:{},
        userCountry:{},
        checked:false,
//         rules: {
//           surname:[
//             {required: true, message: '姓不能为空', trigger: 'blur'}
//           ],
//            name:[
//              {required: true, message: '名不能为空', trigger: 'blur'}
//            ],
//            surnameEn:[
//              {required: true, message: '英文姓不能为空', trigger: 'blur'}
//            ],
//            nameEn:[
//              {required: true, message: '英文名不能为空', trigger: 'blur'}
//              // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
//            ],
//            birth:[
//              {required: true, message: '生日不能为空', trigger: 'blur'}
//              // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
//            ],
//            sex:[
//              {required: true, message: '性别不能为空', trigger: 'blur'}
//              // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
//            ],
//            credentialsType:[
//              {required: true, message: '请选择证件类型', trigger: 'blur'}
//              // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
//            ],
//            credentialsNum:[
//              {required: true, message: '证件号不能为空', trigger: 'blur'}
//              // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
//            ],
//            credentialsDate:[
//              {required: true, message: '签发日期不能为空', trigger: 'blur'}
//              // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
//            ],
//            credentialsDateLimit:[
//              {required: true, message: '有效截止日期不能为空', trigger: 'blur'}
//              // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
//            ],
//            address:[
//              {required: true, message: '地址不能为空', trigger: 'blur'}
//              // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
//            ],
//            city:[
//              {required: true, message: '城市不能为空', trigger: 'blur'}
//              // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
//            ],
//            province:[
//              {required: true, message: '州或省份不能为空', trigger: 'blur'}
//              // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
//            ]
//
//         },



        verifyFormData2:{
            img:[]
        },
        verifyFormData3:{
            img:[]
        },

        dialogImageUrl: '',
        dialogVisible: false,
        resultStateList:apiStateList,
        lv1State:-1,
        lv2State:-1
    };
  },
   metaInfo() {
       return{
          title: this.curLanguage==1?'一级实名认证 - Noble sky':'User first level authentication - Noble sky',
       }

   },
  created(){

       const storeLanguage = this.localStore.getItem('curLanguage');


       this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

       this.isLogin = this.util.isLogin();
       if(!!this.isLogin){
           this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
           this.userInfo = JSON.parse(this.localStore.getItem('userInfo'));
           this.userCountry = JSON.parse(this.localStore.getItem('userCountry'));

       }else{
           this.$router.push({name:'login'});
           return
       }


       if(!this.userInfo){
            this.$router.push({name:'my'});
            return
       }

       this.lv1State =  this.localStore.getItem('userLv1State');
       this.lv2State =  this.localStore.getItem('userLv2State');

       if(this.lv1State!=-1&&this.lv1State!=undefined){
          this.getUserVerify1();
       }


       this.settingAPIDataLanguage()
       this.handleCommand(this.curLanguage);


  },

  components: {
   pageHeader
  },

  computed: {

      rules() {

        return {
                  surname:[
                    {required: true, message:this.$t("verify.surname"), trigger: 'blur'}
                  ],
                   name:[
                     {required: true, message:this.$t("verify.name"), trigger: 'blur'}
                   ],
                   surnameEn:[
                     {required: true, message: this.$t("verify.surnameEn"), trigger: 'blur'}
                   ],
                   nameEn:[
                     {required: true, message: this.$t("verify.nameEn"), trigger: 'blur'}
                     // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
                   ],
                   birth:[
                     {required: true, message: this.$t("verify.birth"), trigger: 'blur'}
                     // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
                   ],
                   sex:[
                     {required: true, message: this.$t("verify.sex"), trigger: 'blur'}
                     // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
                   ],
                   credentialsType:[
                     {required: true, message: this.$t("verify.credentialsType"), trigger: 'blur'}
                     // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
                   ],
                   credentialsNum:[
                     {required: true, message: this.$t("verify.credentialsNum"), trigger: 'blur'}
                     // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
                   ],
                   credentialsDate:[
                     {required: true, message: this.$t("verify.credentialsDate"), trigger: 'blur'}
                     // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
                   ],
                   credentialsDateLimit:[
                     {required: true, message: this.$t("verify.credentialsDateLimit"), trigger: 'blur'}
                     // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
                   ],
                   zip:[
                     {required: true, message: this.$t("verify.zip"), trigger: 'blur'}
                     // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
                   ],
                   address:[
                     {required: true, message: this.$t("verify.address"), trigger: 'blur'}
                     // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
                   ],
                   city:[
                     {required: true, message: this.$t("verify.city"), trigger: 'blur'}
                     // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
                   ],
                   province:[
                     {required: true, message:this.$t("verify.province"), trigger: 'blur'}
                     // {min: 6, max:16,message: '请设置长度为6-16位的密码', trigger: 'blur'}
                   ]
          };
      }
    },




  methods: {
    getStateCodeText(code){
          let text = this.resultStateList.find(item=>{
             return item.code == code
          })
          if(this.curLanguage==1){
            return text.cn
          }else{
            return text.en
          }
    
    },
    handleCommand(command) {

          // this.$message("click on item " + command);
          switch (command) {
            case 1: {
              this.lang = "zh";
              this.$i18n.locale = this.lang;
              break;
            }
            case 2: {
              this.lang = "en";
              this.$i18n.locale = this.lang;
              break;
            }

            default:
              break;
          }
        },
     settingAPIDataLanguage(){
         let sexOptions = [
            {value:1,label:this.language[this.curLanguage][10]},
            {value:0,label:this.language[this.curLanguage][11]}
        ]
        let credentialsOptions = [
            {value:1,label:this.language[this.curLanguage][14]},
            {value:2,label:this.language[this.curLanguage][15]},
            {value:3,label:this.language[this.curLanguage][16]}
        ]
         this.sexOptions = sexOptions
         this.credentialsOptions = credentialsOptions

     },
      changeCoinType(val){
        this.curCoinType = val;
      },
      changeLanguage(val){
        this.curLanguage = val;
        this.settingAPIDataLanguage();
        this.handleCommand(this.curLanguage)
      },
     getUserVerify1(){
         const api = this.$api.url.userVerify1;
         const params = {
            Device:'web',
            Uid:this.userLoginInfo.userID,
            Token:this.userLoginInfo.session
         }
         this.$axios.get(api,{params:params})
         .then((res)=>{
             if(res.data.code==0){
                 let data = JSON.parse(res.data.data)
                 if(data.info1==null){return}

                 this.lv1State = data.info1.ui_state;


                  this.verifyInfo = {
                        ui_id : data.info1.ui_id,
                        country:data.info1.ui_country,
                        surname:data.info1.ui_surname,
                        name:data.info1.ui_rname,
                        surnameEn:data.info1.ui_en_surname,
                        nameEn:data.info1.ui_en_rname,
                        birth:data.info1.ui_birth,
                        sex:Number(data.info1.ui_sex),
                        credentialsType:data.info1.ui_id_type,
                        credentialsNum:data.info1.ui_id_number,
                        credentialsDate:data.info1.ui_id_ctime,
                        credentialsDateLimit:data.info1.ui_id_etime,
                        zip:data.info1.ui_zip,
                        address:data.info1.ui_address,
                        city:data.info1.ui_city,
                        province:data.info1.ui_province
                    }

                    console.log(data)

             }else if(res.data.code==1011){

                this.$refs.pageHead.logout();
                this.isLogin = false;
                this.$router.push({name:'login'});
            }else{
              let resultMsg = this.getStateCodeText(res.data.code)
               this.$message({
                 message:this.language[this.curLanguage][36]+" "+this.language[this.curLanguage][35]+resultMsg,
                 type: "error",
                 center: true,
                 duration:1800
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:1800
             })
           })
     },
     submitVerify(formName,type){
           ////////////////
           if(!this.checked){

               return
              }
           this.$refs[formName].validate((valid) => {
             if (valid) {
//                if(type==1){
//                    var api = this.$api.url.addUserVerify1;
//                }else{
//
//                }
               const api = this.$api.url.userVerify1;

               const params = {
                               Action:type==1?0:1,
                               Province :this.verifyInfo.province,
                               City :this.verifyInfo.city,
                               Zip:this.verifyInfo.zip,
                               Address :this.verifyInfo.address,
                               Surname :this.verifyInfo.surname,
                               Rname :this.verifyInfo.name,
                               En_Surname :this.verifyInfo.surnameEn,
                               En_Rname:this.verifyInfo.nameEn,
                               Birth: moment(this.verifyInfo.birth).format('YYYY-MM-DD'),
                               Id_Type :this.verifyInfo.credentialsType,
                               Id_Number :this.verifyInfo.credentialsNum,
                               Id_Ctime :moment(this.verifyInfo.credentialsDate).format('YYYY-MM-DD'),
                               Id_Etime :moment(this.verifyInfo.credentialsDateLimit).format('YYYY-MM-DD'),
                               Sex :this.verifyInfo.sex,
                               Uid:this.userLoginInfo.userID,
                               Device:'web',
                               Token:this.userLoginInfo.session

                           }

                         // if(type==2){
                         //    paramsData.ui_id = this.verifyInfo.ui_id
                         // }
                        // const params = {
                        //    uid:this.userLoginInfo.userID,
                        //    token:this.userLoginInfo.session,
                        //    device:'web',


                        // }

                         this.$axios.post(api,params)
                        .then((res)=>{
                            if(res.data.code==0){
                                  this.$message({
                                    message:type==1?this.language[this.curLanguage][38]:this.language[this.curLanguage][39],
                                    type: "success",
                                    center: true,
                                    duration:1800
                                  })
                                  this.$router.push({name:'my',query:{type:1}});
                              // this.getUserVerify1()

                            }else{
                              let resultMsg = this.getStateCodeText(res.data.code)
                              this.$message({
                                message:this.language[this.curLanguage][37]+" "+this.language[this.curLanguage][35]+resultMsg,
                                type: "error",
                                center: true,
                                duration:1800
                              })
                            }

                        }).catch((error)=>{
                            this.$message({
                              message: error,
                              type: "error",
                              center: true,
                            duration:1800
                            })
                          })


             } else {
               console.log('error submit!!');
               return false;
             }
           });


     },

      userLogout(){
         this.$router.push({name:'login'});
      }





  }

};
</script>





<style scoped lang="scss">

  .wrap{min-height: 100vh;background: #16233c;padding-bottom: 100px;}
  main{border-top: 1px solid #000;color: #fff;}
  .w-1200{width:1200px;margin:30px auto 0;
     h3{height: 40px;line-height: 40px;color: #fff;font-size: 18px;
      a{color: #fff;}
      i{font-size: 24px;margin-right: 5px;}
     }
  }
 li{
     label,span{color:#aeb9d8}
 }
 .row{margin-top: 50px;padding-bottom: 15px;
   h5{font-size: 16px;margin-bottom: 15px;}
 }
 .info-cell{border:1px solid #57658a;padding:30px;
   ul{width:650px;}
 }
 .btn-box{
     margin-top: 30px;
    button{width:400px;height: 50px;border-radius: 3px;background:#387ee2;color: #fff;font-size: 16px;cursor: pointer;
    -webkit-transition:background .2s ease 0s;transition:background .2s ease 0s;}
    button:hover{background:#2b6ecd;}
     button.dasable{background: #163663;color: #aaa;cursor:not-allowed}
 }



 h4, .h4, h5, .h5, h6, .h6 {
      margin-top: 0;
      margin-bottom: 0;
  }


  .el-form{
      overflow:visible;
  }

</style>
