<template>
  <div id="app">
    <router-view/>
       <div style="" id="tickerDiv" class="ccpw-container ccpw-ticker-cont ccpw-footer-ticker-fixedbar">
<!--<div class="bx-wrapper" style="max-width: 10000px;">
<div class="bx-viewport" style="width: 100%;overflow: visible;position: relative;height: 35.3125px;">-->
  <!--<VueSlickCarousel :arrows="false" :options="slickOptions2" ref="slick2" class="tickercontainer2" style="height: 50px; overflow: hidden; position: relative; ">-->
    <VueSlickCarousel :arrows="false" :options="slickOptions2" ref="slick2" class="tickercontainer2"  id="ccpw-ticker-widget-4449" ><!--style="position: relative; transition-duration: 60s;transition-timing-function: linear; float: left; list-style: none; width: max-content!important;"-->>
      <li id="bitcoin" class="AED" style="float: left; list-style: none; position: relative;">
        <div class="coin-container">
          <span class="ccpw_icon"><img id="bitcoin" alt="bitcoin" src="../static/images/USDAED.png"></span>
          <span class="name">USD / AED</span><span class="price">4.469876</span><span class="changes up"><i class="ccpw_icon-up" aria-hidden="true"></i>1.63%</span>
        </div>
      </li>

      <li id="ethereum" class="EUR" style="float: left; list-style: none; position: relative;">
        <div class="coin-container"><span class="ccpw_icon"><img id="ethereum" alt="ethereum" src="../static/images/USDEUR.png"></span><span class="name">USD / EUR</span><span class="price">1</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.20%</span></div>
      </li>
      <li id="ripple" class="CAD" style="float: left; list-style: none; position: relative;">
        <div class="coin-container"><span class="ccpw_icon"><img id="ripple" alt="ripple" src="../static/images/USDCAD.png"></span><span class="name">USD / CAD</span><span class="price">1.547535</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-8.44%</span></div>
      </li>
      <li id="litecoin" class="CNY" style="float: left; list-style: none; position: relative;">
        <div class="coin-container"><span class="ccpw_icon"><img id="litecoin" alt="litecoin" src="../static/images/USDCNY.png"></span><span class="name">USD / CNY</span><span class="price">7.867501</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-5.14%</span></div>
      </li>
      <li id="cardano" class="GBP" style="float: left; list-style: none; position: relative;">
        <div class="coin-container"><span class="ccpw_icon"><img id="cardano" alt="cardano" src="../static/images/USDGBP.png"></span><span class="name">USD / GBP</span><span class="price">0.891521</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.48%</span></div>
      </li>
      <li id="bitcoin-cash" class="HKD" style="float: left; list-style: none; position: relative;">
        <div class="coin-container"><span class="ccpw_icon"><img id="bitcoin-cash" alt="bitcoin-cash" src="../static/images/USDHKD.png"></span><span class="name">USD / HKD</span><span class="price">9.430347</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-6.13%</span></div>
      </li>
      <li id="bitcoin-cash" class="JOD" style="float: left; list-style: none; position: relative;">
        <div class="coin-container4"><span class="ccpw_icon"><img id="bitcoin-cash" alt="bitcoin-cash" src="../static/images/USDJOD.png"></span><span class="name">USD / JOD</span><span class="price">0.7090</span><span class="changes down"><i class="ccpw_icon-up" aria-hidden="true"></i>+1.03%</span></div>
      </li>
      <li id="monero" class="IDR" style="float: left; list-style: none; position: relative;">
        <div class="coin-container"><span class="ccpw_icon"><img id="monero" alt="monero" src="../static/images/USDIDR.png"></span><span class="name">USD / IDR</span><span class="price">17222.29562</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-5.38%</span></div>
      </li>

      <li id="nem" class="INR" style="float: left; list-style: none; position: relative;">
        <div class="coin-container"><span class="ccpw_icon"><img id="nem" alt="nem" src="../static/images/USDINR.png"></span><span class="name">USD / INR</span><span class="price">89.001858</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-11.84%</span></div>
      </li>
      <li id="iota" class="JPY" style="float: left; list-style: none; position: relative;">
        <div class="coin-container"><span class="ccpw_icon"><img id="iota" alt="iota" src="../static/images/USDJPY.png"></span><span class="name">USD / JPY</span><span class="price">126.400312</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-8.81%</span></div>
      </li>
      <li id="dash" class="PKR" style="float: left; list-style: none; position: relative;">
        <div class="coin-container"><span class="ccpw_icon"><img id="dash" alt="dash" src="../static/images/USDPKR.png"></span><span class="name">USD / PKR</span><span class="price">195.280919</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.04%</span></div>
      </li>
      <li id="dash" class="RUB" style="float: left; list-style: none; position: relative;">
        <div class="coin-container"><span class="ccpw_icon"><img id="dash" alt="dash" src="../static/images/USDRUB.png"></span><span class="name">USD / RUB</span><span class="price">89.668783</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.04%</span></div>
      </li>
      <li id="dash" class="SAR" style="float: left; list-style: none; position: relative;">
        <div class="coin-container"><span class="ccpw_icon"><img id="dash" alt="dash" src="../static/images/USDSAR.png"></span><span class="name">USD / SAR</span><span class="price">4.564203</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.04%</span></div>
      </li>
      <li id="mone2" class="TRY" style="float: left; list-style: none; position: relative;">
        <div class="coin-container"><span class="ccpw_icon"><img id="monero" alt="monero" src="../static/images/USDTRY.png"></span><span class="name">USD / TRY</span><span class="price">17222.29562</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-5.38%</span></div>
      </li>


      <li id="bitcoin2" class="AED" data-id="EUR" style="float: left; list-style: none; position: relative;">
        <div class="coin-container2">
          <span class="ccpw_icon"><img id="bitcoin" alt="bitcoin" src="../static/images/EURAED.png"></span>
          <span class="name">EUR / AED</span><span class="price">4.469876</span><span class="changes up"><i class="ccpw_icon-up" aria-hidden="true"></i>1.63%</span>
        </div>
      </li>

      <li id="ethereum2" class="HKD" data-id="EUR" style="float: left; list-style: none; position: relative;">
        <div class="coin-container2"><span class="ccpw_icon"><img id="ethereum" alt="ethereum" src="../static/images/EURHKD.png"></span><span class="name">EUR / HKD</span><span class="price">1</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.20%</span></div>
      </li>
      <li id="ripple2" class="CAD" data-id="EUR" style="float: left; list-style: none; position: relative;">
        <div class="coin-container2"><span class="ccpw_icon"><img id="ripple" alt="ripple" src="../static/images/EURCAD.png"></span><span class="name">EUR / CAD</span><span class="price">1.547535</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-8.44%</span></div>
      </li>
      <li id="litecoin2" class="CNY" data-id="EUR" style="float: left; list-style: none; position: relative;">
        <div class="coin-container2"><span class="ccpw_icon"><img id="litecoin" alt="litecoin" src="../static/images/EURCNY.png"></span><span class="name">EUR / CNY</span><span class="price">7.867501</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-5.14%</span></div>
      </li>
      <li id="cardano2" class="GBP" data-id="EUR" style="float: left; list-style: none; position: relative;">
        <div class="coin-container2"><span class="ccpw_icon"><img id="cardano" alt="cardano" src="../static/images/EURGBP.png"></span><span class="name">EUR / GBP</span><span class="price">0.891521</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.48%</span></div>
      </li>
      <li id="bitcoin-cash2" class="SAR" data-id="EUR" style="float: left; list-style: none; position: relative;">
        <div class="coin-container2"><span class="ccpw_icon"><img id="bitcoin-cash" alt="bitcoin-cash" src="../static/images/EURSAR.png"></span><span class="name">EUR / SAR</span><span class="price">9.430347</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-6.13%</span></div>
      </li>
      <li id="monero2" class="TRY" data-id="EUR" style="float: left; list-style: none; position: relative;">
        <div class="coin-container2"><span class="ccpw_icon"><img id="monero" alt="monero" src="../static/images/EURTRY.png"></span><span class="name">EUR / TRY</span><span class="price">17222.29562</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-5.38%</span></div>
      </li>
      <li id="nem2" class="USD" data-id="EUR" style="float: left; list-style: none; position: relative;">
        <div class="coin-container2"><span class="ccpw_icon"><img id="nem" alt="nem" src="../static/images/EURUSD.png"></span><span class="name">EUR / USD</span><span class="price">89.001858</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-11.84%</span></div>
      </li>
      <li id="ethereum4666" class="INR" data-id="EUR" style="float: left; list-style: none; position: relative;">
        <div class="coin-container2"><span class="ccpw_icon"><img id="ethereum" alt="ethereum" src="../static/images/EURINR.png"></span><span class="name">EUR / INR</span><span class="price">1</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.20%</span></div>
      </li>
      <li id="ethereum53" class="JPY" data-id="EUR" style="float: left; list-style: none; position: relative;">
        <div class="coin-container2"><span class="ccpw_icon"><img id="ethereum" alt="ethereum" src="../static/images/EURJPY.png"></span><span class="name">EUR / JPY</span><span class="price">1</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.20%</span></div>
      </li>
      <li id="ethereum65" class="RUB" data-id="EUR" style="float: left; list-style: none; position: relative;">
        <div class="coin-container2"><span class="ccpw_icon"><img id="ethereum" alt="ethereum" src="../static/images/EURRUB.png"></span><span class="name">EUR / RUB</span><span class="price">1</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.20%</span></div>
      </li>
      <li id="ethereum6547" class="PKR" data-id="EUR" style="float: left; list-style: none; position: relative;">
        <div class="coin-container2"><span class="ccpw_icon"><img id="ethereum" alt="ethereum" src="../static/images/EURPKR.png"></span><span class="name">EUR / PKR</span><span class="price">1</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.20%</span></div>
      </li>
      <li id="iota2" class="CAD" data-id="GBP" style="float: left; list-style: none; position: relative;">
        <div class="coin-container3"><span class="ccpw_icon"><img id="iota" alt="iota" src="../static/images/GBPCAD.png"></span><span class="name">GBP / CAD</span><span class="price">126.400312</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-8.81%</span></div>
      </li>
      <li id="dash2" class="CNY" data-id="GBP" style="float: left; list-style: none; position: relative;">
        <div class="coin-container3"><span class="ccpw_icon"><img id="dash" alt="dash" src="../static/images/GBPCNY.png"></span><span class="name">GBP / CNY</span><span class="price">195.280919</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.04%</span></div>
      </li>
      <li id="2dash" class="RUB" data-id="GBP" style="float: left; list-style: none; position: relative;">
        <div class="coin-container3"><span class="ccpw_icon"><img id="dash" alt="dash" src="../static/images/GBPEUR.png"></span><span class="name">GBP / EUR</span><span class="price">89.668783</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.04%</span></div>
      </li>
      <li id="3dash" class="SAR" data-id="GBP" style="float: left; list-style: none; position: relative;">
        <div class="coin-container3"><span class="ccpw_icon"><img id="dash" alt="dash" src="../static/images/GBPSAR.png"></span><span class="name">GBP / SAR</span><span class="price">4.564203</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.04%</span></div>
      </li>
      <li id="3dash" class="TRY" data-id="GBP" style="float: left; list-style: none; position: relative;">
        <div class="coin-container3"><span class="ccpw_icon"><img id="dash" alt="dash" src="../static/images/GBPTRY.png"></span><span class="name">GBP / TRY</span><span class="price">4.564203</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.04%</span></div>
      </li>
      <li id="ethereum73" class="INR" data-id="GBP" style="float: left; list-style: none; position: relative;">
        <div class="coin-container3"><span class="ccpw_icon"><img id="ethereum" alt="ethereum" src="../static/images/GBPINR.png"></span><span class="name">GBP / INR</span><span class="price">1</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.20%</span></div>
      </li>
      <li id="ethereum8" class="JPY" data-id="GBP" style="float: left; list-style: none; position: relative;">
        <div class="coin-container3"><span class="ccpw_icon"><img id="ethereum" alt="ethereum" src="../static/images/GBPJPY.png"></span><span class="name">GBP / JPY</span><span class="price">1</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.20%</span></div>
      </li>
      <li id="ethereum9" class="RUB" data-id="GBP" style="float: left; list-style: none; position: relative;">
        <div class="coin-container3"><span class="ccpw_icon"><img id="ethereum" alt="ethereum" src="../static/images/GBPRUB.png"></span><span class="name">GBP / RUB</span><span class="price">1</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.20%</span></div>
      </li>
      <li id="ethereum77" class="PKR" data-id="GBP" style="float: left; list-style: none; position: relative;">
        <div class="coin-container3"><span class="ccpw_icon"><img id="ethereum" alt="ethereum" src="../static/images/GBPPKR.png"></span><span class="name">GBP / PKR</span><span class="price">1</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.20%</span></div>
      </li>
      <li id="ethereum737" class="HKD" data-id="GBP" style="float: left; list-style: none; position: relative;">
        <div class="coin-container3"><span class="ccpw_icon"><img id="ethereum" alt="ethereum" src="../static/images/GBPHKD.png"></span><span class="name">GBP / HKD</span><span class="price">1</span><span class="changes down"><i class="ccpw_icon-down" aria-hidden="true"></i>-7.20%</span></div>
      </li>

    <!--</VueSlickCarousel>-->
  </VueSlickCarousel>
</div>
</div>
<!--</div>                    
  </div>-->
</template>

<script>
  import $ from 'jquery'
  import VueSlickCarousel from 'vue-slick';
  //import * as mdb from 'mdb-ui-kit'; 
export default {
  name: 'App',
    data: function () {
      return {

        slickOptions2: {
          speed: 5000,
          autoplay: true,
          autoplaySpeed: 0,
          centerMode: true,
          cssEase: 'linear',
          slidesToShow: 1,
          slidesToScroll: 1,
          variableWidth: true,
          infinite: true,
          initialSlide: 1,
          arrows: false,
          buttons: false,
          draggable: false,
          pauseOnHover: true,
          swipe: false,
          touchMove: false,

          // variableWidth: true,
          responsive: [
            {
              breakpoint: 620,
              settings: {
                arrows: true
              }
            },
            {
              breakpoint: 345,
              settings: {
                arrows: true
              }
            }
          ]
        },
      }
    },
    components: {
      VueSlickCarousel
    }, mounted() {
          var apple = [];
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        var myObj = JSON.parse(this.responseText);
        apple = JSON.parse(this.responseText);
        $("#ccpw-ticker-widget-4449 li").each(function (i, e2) {
          var CurCode = $(e2).attr("class");
          var ratesArr = apple.rates;
          $(apple).each(function (i, e) {
            $(e2).find(".name").text("USD / " + CurCode);
            $(e2).find(".price").text(e.rates[CurCode]);
          });
        });
      }
    };
    var xmlhttp2 = new XMLHttpRequest();
    xmlhttp2.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        var myObj = JSON.parse(this.responseText);
        apple = JSON.parse(this.responseText);
        $("#ccpw-ticker-widget-4449 li .coin-container2").each(function (i, e2) {
          var CurCode = $(e2).parent().attr("class");
          var CurCodemain = $(e2).parent().data("id");
          CurCode = CurCode
          var ratesArr = apple.rates;
          $(apple).each(function (i, e) {
            $(e2).find(".name").text(CurCodemain + " / " + CurCode);
            $(e2).find(".price").text(e.rates[CurCode]);
          });
        });
      }
    };

    var xmlhttp3 = new XMLHttpRequest();
    xmlhttp3.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        var myObj = JSON.parse(this.responseText);
        apple = JSON.parse(this.responseText);
        $("#ccpw-ticker-widget-4449 li .coin-container3").each(function (i, e2) {
          var CurCode = $(e2).parent().attr("class");
          var CurCodemain = $(e2).parent().data("id");
          CurCode = CurCode
          var ratesArr = apple.rates;
          $(apple).each(function (i, e) {
            $(e2).find(".name").text(CurCodemain + " / " + CurCode);
            $(e2).find(".price").text(e.rates[CurCode]);
          });
        });
      }
    };
    xmlhttp.open("GET", "https://api.exchangerate-api.com/v4/latest/USD", true);
    xmlhttp.send();
    xmlhttp3.open("GET", "https://api.exchangerate-api.com/v4/latest/GBP", true);
    xmlhttp3.send();

    xmlhttp2.open("GET", "https://api.exchangerate-api.com/v4/latest/EUR", true);
    xmlhttp2.send();
    // });
    },
  
  watch:{
    $route (to, from){
      var url=window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
        if(url=="login"||url=="register"){
          $("#tickerDiv").css("opacity","0");
        }
        else{
          $("#tickerDiv").css("opacity","1");
        }
    }
  } 
};

</script>
<style>
  /*@import '../node_modules/mdb-ui-kit/css/mdb.min.css';*/
    @import '../static/css/products/bootstrap.min.css';
  @import '../node_modules/bootstrap-vue/dist/bootstrap-vue.min.css';
  @import url('https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css');
    @import '../static/css/products/counter.css';
    @import '../static/css/products/pills.css';
    /* @import '../static/css/products/chartStyle.css'; */
    @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
    @import '../static/css/products/tradersStyle.css';

  @import url('https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css');
  @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
  @import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css');
    @import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
    @import '../static/css/products/chart.css';
    @import '../static/css/products/productPage.css';
    @import '../static/css/home-products.css';
    @import '../static/css/ticker.css';
    @import '../static/css/signup-signin.css';


  body {
    font-size: initial;
  }
  h1, .h1 {
    font-size: inherit;
  }
  .h3, h3 {
    font-size: unset!important;
  }
  .in-pricing-1 {
    padding: 0px 25px;
  }
  header .right .language{
      z-index:9999!important;
  }
</style>
