<!-- TradingView Chart BEGIN -->
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
    var tradingview_embed_options = {};
    tradingview_embed_options.width = '790';
    tradingview_embed_options.height = '475';
    tradingview_embed_options.chart = 'xKFeHG6e';
    tradingview_embed_options.isTransparent = false;
    tradingview_embed_options.theme = 'dark';
    new TradingView.chart(tradingview_embed_options);
</script>
<!--<p><a href="https://tr.tradingview.com/chart/GOLD/xKFeHG6e/">XAUUSD - GOLD</a> by <a href="https://tr.tradingview.com/u/N Sky/">N Sky</a> </p>-->
<!-- TradingView Chart END -->