<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
  {
  "colorTheme": "dark",
  "isTransparent": false,
  "width": "1300",
  "height": "100%",
  "locale": "en",
  "importanceFilter": "0,1"
  
}
  </script>
</div>
<!-- TradingView Widget END -->
