<!-- TradingView Widget BEGIN -->

<div class="tradingview-widget-container">
    <style>
        body {
            margin: 0 !important;
        }
    </style>
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
        {
            "colorTheme": "dark",
            "isTransparent": false,
            "width": "100%",
            "height": "100%",
            "locale": "en",
            "importanceFilter": "-1,0,1",
            "currencyFilter": "USD"
        }
    </script>
</div>
<!-- TradingView Widget END -->