<!--<a class="fx-widget" data-widget="newsfeed" data-lang="en" data-post-date-color="#f1eded" data-post-description-color="#ded5d5" data-post-title-color="#e7e1e1" data-widget-bg-color="#1a2049" data-show-image data-width="650" data-height="855" data-show-date data-title-font-size="18" data-intro-font-size="16" data-show-upper-intro data-category="news" data-section="all" data-base-url="https://www.fxempire.com" data-url="//www.fxempire.com" href="https://www.fxempire.com" rel="nofollow" style="font-family:Helvetica;font-size:16px;line-height:1.5;text-decoration:none;"> <span style="color:#999999;display:inline-block;margin-top:10px;font-size:12px;">Powered By </span> <img style="width:87px; height:14px;" src="https://www.fxempire.com/logo-full.svg" alt="FX Empire logo" /> </a>
<script async charset="utf-8" src="https://widgets.fxempire.com/widget.js"></script>-->
<script type="text/javascript">DukascopyApplet = { "type": "online_news", "params": { "header": false, "borders": false, "defaultLanguage": "zh", "availableLanguages": [ "zh"], "newsCategories": [ "commodities"], "width": "100%", "height": "600", "adv": "none" } };</script>
<script type="text/javascript" src="https://freeserv-static.dukascopy.com/2.0/core.js"></script>
