<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">Hakkımızda</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">Hakkımızda</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                  <router-link to="/contact">
                      <i class="contact"></i>
                      <span>Bize Ulaşın</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="api-tutorials video-player"></div>
          -->
          <div class="container top80 about-xm">
            <div class="box-border">
              <div class="box-border1">
                <small>Deneyimsiz yatırımcılar için</small>
                <h4>Ana garanti sağlayın</h4>
                <p class="big">Güvenli saklama ve finansal hizmetler.</p></div>
              <div class="visible-sm visible-xs dis20"></div>
              <div class="box-border1">
                <small>Deneyimsiz yatırımcılar için</small>
                <h4>Mükemmel ticaret deneyimi sağlayın</h4>
                <p class="big">Siparişlerin süper hızlı yürütülmesi, yeniden teklif yok, ret emri yok.</p></div>
              <div class="visible-sm visible-xs dis20"></div>
              <div class="box-border1">
                <small>Deneyimsiz yatırımcılar için</small>
                <h4>MT5 programlı özelleştirme sağlayın</h4>
                <p class="big">Ücretsiz danışmanlık, ücretsiz özelleştirme ve finansal üretim hattınızı elle gerçekleştirin.</p></div>
            </div>
          </div>
          <section class="">
            <section class="section bottom top80">
              <div class="container-fluid">
                <div class="container about-xm">
                  <div class="row">
                    <div class="col-md-12">
                      <h2 class="big text-center">BIG. FAIR. HUMAN.</h2>
                      <p class="text-center">seç NOBLE SKY，Küresel, adil ve dürüst ve insan odaklı bir komisyoncu seçtiniz.</p></div>
                    <div class="col-md-12 top80">
                      <h2>
                        <span class="red">Dünya çapında</span>, Mükemmellik, profesyonel</h2></div>
                    <div class="col-md-8">
                      <p>2009NOBLE SKY, 2010 yılındaki kuruluşundan bu yana, 500.000'den fazla müşterisi ile uluslararası üne sahip bir yatırım şirketi ve sektörde gerçek bir lider haline geldi.</p>
                      <p>NOBLE Şu anda finans alanında uzun yıllara dayanan deneyime sahip 150'den fazla profesyonel var.</p>
                      <p>Mesleki bilgiye ek olarak, deneyimsiz yatırımcıların düşük riskli ve yüksek getirili bir yatırım deneyimi elde etmelerine yardımcı olmak için küresel ustaların kişisel ürünleri piyasaya sürmeleri için bir platform sağlıyoruz ve aynı zamanda gerçek ustaların kişisel marka teşhiri, hızlı finansman ve süper yüksek getiri elde etmesine izin veriyoruz. Bunu yalnızca seçkin bir komisyoncu yapabilir.</p>
                    </div>
                    <div class="col-md-4">

                      <ul class="checks">
                        <li>500.000'den fazla müşteri</li>
                        <li>196 ülkedeki müşteriler</li>
                        <li>Birden çok güvenli ödeme yöntemi</li>
                        <li>MT5 ticaret platformu, eksiksiz fonksiyonlar</li>
                        <li>Kullanıcılar arasında etkileşimli finansal yönetim modu desteği</li>
                        <li>Özel müşteri hizmetleri</li></ul>
                    </div>
                    <div class="col-md-12 top80 hidden-xs hidden-sm">
                      <h2>
                        <span class="red">Adalet ve dürüstlük</span>, güvenilir</h2>
                      <div class="dis30"></div>
                      <div class="box-border">
                        <div class="box-border2">
                          <div class="text-center">
                            <i class="tfxfont3 xmStamp fs100 red"></i>
                          </div>
                          <p class="top20">NOBLE SKY'de ticaret yapmak, adil ve dürüst bir bayi ile ticaret yapmak demektir.</p>
                          <p>Müşterinin net varlık değeri ile yatırım büyüklüğü arasında ayrım yapmayız,
                            Tüm müşterilerin alım satım ortamı, platform işlemlerinin adaletini sağlamak için aynıdır.</p></div>
                        <div class="box-border2">
                          <div class="text-center">
                            <i class="tfxfont3 xmClock fs100 red"></i>
                          </div>
                          <p class="top20">NOBLE SKYMüşterilere adil ve güvenilir bir ticaret deneyimi sunulmasını sağlamak için tekrarlanan fiyat tekliflerinin ve siparişlerin reddedilmemesi ilkesini kesinlikle uygulayın.</p>
                          <p>Ayrıca emirlerin% 99,35'i bir saniye içinde yerine getirilecek, yeniden talep yok, ret kararı yok。</p>
                          <p>İş modelimiz, şirketimizin iş felsefesine dayanmaktadır:
                            Pazara yatırım yaparken uygulama her şeydir.</p></div>
                        <div class="box-border2">
                          <div class="text-center">
                            <i class="tfxfont3 xmSafe fs100 red"></i>
                          </div>
                          <p class="top20">NOBLE SKY'de, müşterilerin fonlarının güvenliği en büyük önceliğimizdir. Müşteri fonlarının güvenliğini sağlamak için şirket hesaplarını ve müşteri fonlarını ayrı ayrı depolamak için dünyanın en iyi yatırım bankalarıyla işbirliği yapıyoruz.</p>
                          <p>Bireysel müşteriler 20.000 Euro'luk yatırımcı tazminat fonu ile korunmaktadır. Aynı zamanda tüm müşteriler bundan keyif alacak
                            <strong>Negatif denge koruması</strong>Müşterilerin hesap bakiyelerinden fazlasını kaybetmelerine olanak tanıyan politika.</p></div>
                      </div>
                    </div>
                    <div class="col-md-6 top80">
                      <h2>
                        <span class="red">insan odaklı</span>şirketi</h2>
                      <p>NOBLESKY’nin misyonu, kurumsal müşteriler veya bireysel yatırımcılar olsun, tüm müşterilere kurumsal ticaret hizmetleri sunmak, tüm yatırımcılara yenilikçi bilgi birikimi, düşük maliyetli işlemler, fon güvenliği denetimi, kapsamlı pazar araştırma araçları sağlamak, İleri eğitim kursları ve birinci sınıf müşteri hizmetleri.</p>
                      <p>Karlı ve sürdürülebilir büyüme konusunda endişeliyiz；</p>
                      <p>Bu hedefe küresel ölçekte aşağıdaki yöntemlerle ulaşmaktan sorumlu ve profesyoneliz；</p>
                      <p>İş alanlarımızda ve pazarlarımızda küresel pazar ve teknoloji liderliği stratejilerini uygulayın；</p>
                      <p>Birlikte mükemmellik yaratmak için birlikte çalışın: müşterilerimiz, ortaklarımız ve şirket içindeki diğer iş ortaklarımız ile departmanlar ve bölgeler arasında işbirliği yapın.</p>
                    </div>
                    <div class="col-md-6 hidden-xs hidden-sm" style="margin-top:135px!important;">
                      <img src="../../../static/images/page-img/about/about-map-grey.png" class="img-responsive"></div>
                  </div>
                </div>
              </div>
              <div class="dis60"></div>
            </section>
            <div class="dis80 hidden-xs hidden-sm"></div>
            <div class="container">
              <div class="row">
                <div class="col-md-12 top50">
                  <h2>NOBLE SKY tercih neden？</h2>
                  <p>NOBLESKY, sürdürülebilir kalkınma için çalışanları yetiştirir Çalışanlarımız, müşteri kültürü, milliyet, din ve etnik köken çeşitliliği ile başa çıkmak için farklı kültürel geçmişlerden gelir. Gelişmiş platformumuz ve esnek ticaret ortamımız, küresel müşterilerin ihtiyaçlarını karşılar. Uzmanlığımız, kapsamlı deneyimlerimizden ve küresel finans piyasalarının derinlemesine anlaşılmasından gelir. CFD, hisse senedi endeksi, değerli metaller ve enerji dahil olmak üzere birinci sınıf döviz ticareti hizmetleri sunmaya kararlıyız.</p>
                  <p>İzlediğimiz iş felsefesi basittir: Müşteri memnuniyetini sağlamak için müşterilerin güvenini ve sadakatini kazanabiliriz. İtibar, güvenilirlikle ilgilidir ve her ikisi de, müşteri ihtiyaç ve beklentilerine uygun hizmet sunma yeteneğimizden kaynaklanmaktadır. Her zaman endüstri trendlerine ve teknolojik yeniliklere dikkat ederek, müşterilerimizin gittikçe karmaşıklaşan ve çeşitlenen ihtiyaçlarına cevap verebiliyoruz. Müşteri siparişlerini asla ihmal etmiyoruz, bu nedenle düşük spreadler sağlayabilir ve en yüksek uygulamayı sürdürebiliriz.</p>
                </div>
              </div>
            </div>
            <div class="container top60 box-text-btn hidden-xs hidden-sm">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <p>Döviz işlemleri için tekrar kotasyon yoktur ve işlemler gerçek zamanlı kotasyonlara göre yürütülür
                    <br>Tüm cihazlara uygun 16 çeşit ticaret platformu isteğe bağlıdır.</p></div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">Hesap oluştur</router-link></div>
              </div>
            </div>

          </section>
          <div class="dis70"></div>

        </div>


         <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'



export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

  if(this.curLanguage!=3){
      let pName = this.$route.name.substring(0,this.$route.name.length-2)
      let pNameStr = pName + languageCode[this.curLanguage]
      this.$router.push({name:pNameStr});
  }


   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },

     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-8 {
       width: 66.66666667%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


footer{height: 300px;background-color: #333;text-align: center;}
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}


.about-xm .box-border1 h4 {
    font-family: "regular","regular_ext",sans-serif;
    font-size: 33px;
    color: #d51820;
    margin: 25px 0;
}

.about-xm .box-border1 small, .about-xm .box-border1 p.big {
    font-size: 18px;
    font-weight: 300;
}


</style>
