<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="contact-box">

            <h3>Bize Ulaşın</h3>
            <p><i class="fa fa-warning red"></i>Gönülden geniş bir hizmet yelpazesi sunuyoruz, tüm şüphelerinizi doğru bir şekilde yanıtlıyor ve en yüksek gösterge olarak en iyi kullanıcı deneyimini sağlıyoruz! Lütfen iyi planlanmış ve ayrıntılı SSS sayfamıza bakın. Sorularınız hemen çözülecektir.</p>
            <p>Eğer sen
            <router-link to="/faq">ortak problem</router-link>
            Sayfa tatmin edici bir yanıt alamıyor, lütfen bizimle e-posta veya web müşteri hizmetleri aracılığıyla iletişime geçin.
            </p>
            <h6>adres</h6>
            <p>Oda B, 27. Kat, Ningjin Merkezi, No. 7 Cheng Yip, Kwun Tong, Hong Kong</p>
            <dl>
               <dt>Çevrimiçi destek</dt>
               <dd><i class="fa fa-clock-o red"></i>çalışma saatleri：24/5 GMT</dd>
               <dd><i class="fa fa-headphones red"></i>Web Müşteri Hizmetleri</dd>
               <dd><i class="fa fa-envelope red"></i>nbstraderservice@gmail.com</dd>
            </dl>
            <!-- <dl>
               <dt>Telefon desteği</dt>
               <dd><i class="fa fa-clock-o red"></i>çalışma saatleri：24/5 GMT</dd>
               <dd><i class="fa fa-phone red"></i> +501 223-6696</dd>
            </dl> -->


        </div>


         <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'




export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

  if(this.curLanguage!=3){
      let pName = this.$route.name.substring(0,this.$route.name.length-2)
      let pNameStr = pName + languageCode[this.curLanguage]
      this.$router.push({name:pNameStr});
  }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },

     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">

   .contact-box{width: 1170px;margin: 0 auto;
      h3{padding:30px 0 20px;font-size: 24px;}
      h5{padding:20px 0 10px;font-size: 18px;}
      h6{font-weight: bold;font-size: 16px;margin: 20px 0 2px;}
      dl{margin:30px 0  0;border-bottom: 1px solid #ccc;padding-bottom: 30px;}
      dl:last-child{border:0}

   }


</style>
