<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">ortak problem</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">ortak problem</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>Bize Ulaşın</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container faq hidden-xs hidden-sm hidden-l-sm">
            <div class="row top80">
              <div class="col-md-12">
                <h2>Yaygın sorun sınıflandırması</h2></div>
            </div>
            <div class="row top20">
              <div class="col-12">
                <ul class="features">
                  <li class="col-xs-12 col-sm-3 col-md-3">
                    <a class="scroll" href="#section-1">Kimlik doğrulama verisi sorunu</a></li>
                  <li class="col-xs-12 col-sm-3 col-md-3">
                    <a class="scroll" href="#section-2">işlem hesabı</a></li>
                  <li class="col-xs-12 col-sm-3 col-md-3">
                    <a class="scroll" href="#section-3">Mevduat çekimi</a></li>
                  <li class="col-xs-12 col-sm-3 col-md-3">
                    <a class="scroll" href="#section-4">Ticaret platformu</a></li>
                  <li class="col-xs-12 col-sm-3 col-md-3">
                    <a class="scroll" href="#section-5">NOBLE SKY destek işlevi</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div id="section-1" class="container top80">
            <div class="row">
              <div class="col-md-6">
                <h2>Kimlik doğrulama verisi sorunu</h2>
                <div id="accordionText"> </div></div>
              <div class="col-md-6">
                <button type="button" class="btnAccordion pull-right" data-parent="#accordion1"> </button></div>
            </div>
            <div class="row top20">
              <div class="col-md-12">
                <div class="panel-group" id="accordion1">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Müşteriniz olmak istiyorsam, hangi sertifika bilgilerini sağlamam gerekiyor?</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                         <p>Seviye 1 sertifikası: temel bilgiler, sertifika bilgileri ve adres bilgileri ve diğer metinsel malzemeler gereklidir</p>
                         <p>İkinci düzey sertifika: Geçerli bir pasaportun ön ve arka fotoğraflarını veya bir yetkili tarafından verilen diğer resmi kimlik belgelerini yükleyin</p>
                         <p>(Kimlik kartı, ehliyet, vb.) Ve holding kimliğinin fotoğrafı Kimlik sertifikası müşterinin adını, geçerlilik tarihini, müşterinin adresini ve doğum tarihini içermelidir.</p>
                         <p>Seviye 3 sertifikası: Adres kanıtı yüklemeniz gerekir. Yeni bir resmi fatura (elektrik, gaz, su, telefon, internet faturası veya banka ekstresi (adres dahil) gibi) olmalıdır. Tarih 6 ay içinde olmalı ve Kayıtlı adresinizi belirtin.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Kimlik doğrulama için neden bilgi yüklemem gerekiyor?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a1collapse2" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Yasal olarak düzenlenmiş bir şirket olarak, tüm faaliyetlerimiz ana düzenleyici kurumlarımız CGSE ve SVGFSA'nın düzenlemelerine uygun olarak yürütülmektedir. Gözetim, müşteri sertifika bilgileri, geçerli bir kimlik kartı ve yakın tarihli (son 6 ay içinde) adres kanıtı toplamamızı gerektirir.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">İlk hesabım doğrulanmışsa, bir hesap açtığımda doğrulama bilgilerini tekrar yüklemem gerekir mi?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a1collapse3" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Evet, her hesabın bir sertifika denetiminden geçmesi gerekir.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Kişisel bilgilerimi değiştirebilir miyim?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a1collapse4" class="panel-collapse collapse">
                      <div class="panel-body gray">
                          <p>İkincil sertifika bilgileri incelenmeden önce, birincil sertifikada doldurulan kişisel bilgiler serbestçe değiştirilebilir. İkincil sertifika denetimi geçtikten sonra kişisel bilgiler değiştirilemez.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="section-2" class="container top50">
            <div class="row">
              <div class="col-md-6">
                <h2>işlem hesabı</h2>
                <div id="accordionText"> </div></div>
              <div class="col-md-6">
                <button type="button" class="btnAccordion pull-right" data-parent="#accordion2"> </button></div>
            </div>
            <div class="row top20">
              <div class="col-md-12">
                <div class="panel-group" id="accordion2">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Gerçek bir hesabı nasıl kurarım?</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a2collapse1" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>Hesap oluşturma adımları basit ve hızlıdır.CRM'ye tıklayın, sağ üst köşedeki "kayıt" düğmesini seçin, kayıt bilgilerini doldurun ve ardından kimlik doğrulama için CRM'de oturum açın. Kimlik doğrulama tamamlandıktan sonra, hesabı etkinleştirebilir ve işlemi yatırabilirsiniz.</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Gerçek bir ticaret hesabı oluşturmak ne kadar sürer?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse2" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Tüm bilgileri doğru bir şekilde girerseniz, 30 dakikadan fazla sürmez.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Ticarete nasıl başlanır?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse3" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Gerçek bir hesap oluşturduysanız ve sertifika denetimini geçtiyseniz, birinci seviye sertifikasyonu tamamladıktan sonra spot varlıkları etkinleştirebilirsiniz.</p>
                        <p>Etkinleştirme süreci: Varlık sayfasında "etkinleştirmek için tıklayın" ı seçin. MT5 işlem oturum açma parolasını ve salt okunur parolayı ayarlayın ve "etkinleştirmeyi onayla" yı tıklayın.</p>
                        <p>Açma başarılı olduktan sonra, hesap numarası görüntülenecektir.Cari hesap "pasif" durumda, aktivasyon için bekliyor. Etkinleştirmeden sonra, hesap "Etkinleştirildi" ifadesini gösterir.</p>
                        <p>Hesabı etkinleştirdikten sonra, CRM para yatırma ve çekme sayfasından para yatırabilirsiniz. Aynı zamanda, ticaret yapmak için ticaret platformunu indirmeyi seçebilirsiniz. Ayrıntılı ticaret platformu kılavuzu <a href="javascript:">buraya Tıkla.</a></p>
                     </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Ne tür ticaret hesapları sunuyorsunuz?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse4" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          <strong>standart（STANDARD）Hesap：</strong>Bir standart lot eşdeğerdir 100,000 Birimin temel para birimi
                          <br>
                          <strong>minyatür（MICRO）Hesap：</strong>Küçük bir el eşdeğerdir 1,000 Birimin temel para birimi
                          <br>

                          <br></p>
                        <p>Daha fazla bilgi için lütfen
                          <em>
                            <router-link to="/account-types">buraya Tıkla</router-link></em>。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">NOBLE SKY ticaret hesabımı acenteye nasıl kaydederim?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse5" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Noble Sky ticaret hesabınızı bir acenteye kaydettirmek için, acentenizden bir tavsiye kodu almanız gerekir.</p>
                        <p>Kayıt olurken, ajansa kaydolmak için referans kodunu girin.</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Bir ticaret hesabı için minimum depozito nedir?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse6" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>MICRO hesapları ve STANDARD hesaplar için minimum para yatırma / çekme miktarı 5 $ 'dır。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Cent hesapları sunuyor musunuz? Depozito sent olarak mı gösteriliyor?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse7" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>USD hesapları sağlıyoruz. Depozitonuz gerçek para yatırma tutarı olarak görüntülenir. 100 USD yatırırsanız, hesap bakiyeniz 100 USD olarak görüntülenecektir.</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Mini hesaplar sağlıyor musunuz?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse8" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          <strong>NOBLE SKY</strong>Mikro ve standart hesaplar sağlayın. Mini lot genellikle 10.000 birimdir, bu nedenle mini bir elin etkisini elde etmek için yalnızca standart bir hesapta 0,1 lot (0,1 x 100000 birim = 10000 birim) veya bir mikro hesapta 10 lot (10 x 1000 birim = 10000 birim) işlem yapmanız gerekir.</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Nano hesaplar sağlıyor musunuz？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse9" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          <strong>NOBLE SKY</strong>Mikro ve standart hesaplar sağlanır Nano eller genellikle 100 birimdir, bu nedenle bir mikro hesapta 0,1 lot (0,1 × 1000 birim = 100 birim) işlem yaptığınız sürece, nano ellerin etkisini elde edebilirsiniz.</p></div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Bir şirket hesabı kaydedebilir miyim？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse11" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Üzgünüz, bu hizmet sağlanmamaktadır.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Demo hesabı ne kadar süreyle kullanılabilir？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse12" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>在
                          <strong>NOBLE SKY</strong>Demo hesabı kalıcı olarak kullanılabilir. Ancak 90 günden fazla giriş yapmazsanız, demo hesabınız kapatılacaktır. Ek olarak, istediğiniz zaman yeni bir demo hesabına kaydolabilirsiniz.</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Kaybımın depozito tutarından fazla olması mümkün mü?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse13" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Hayır, para kaybınız önceki para yatırma tutarını aşamaz. Belirli bir döviz çifti nedeniyle bakiyeniz eksiye düştüğünde, sistemimiz bir sonraki para yatırmanızdan önce hesap bakiyenizi otomatik olarak sıfıra çekecektir.</p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Param güvende mi？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse15" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          <strong>NOBLE SKY</strong>tarafından
                          <em>NOBLE SKY Global Limited</em>Müşterilerimizi ve fonlarının güvenliğini daha iyi korumak için yasa ve yönetmeliklere uygun operasyon.
                          <strong>NOBLE SKY</strong>Aşağıdaki önlemler alınacaktır：</p>
                        <ul>
                          <li>
                            <span style="text-decoration:underline;">Müşteri fonlarının izolasyonu</span></li>
                        </ul>
                        <p>Tüm müşteri fonları, şirketin müşteri tarafından ayrılmış banka hesabına aktarılacaktır. Bu fonlar bilanço dışı listelenmiştir ve bu nedenle şirketin iflası durumunda alacaklılara geri ödeme yapmak için kullanılmayacaktır.</p>
                        <ul>
                          <li>
                            <span style="text-decoration:underline;">banka hesabı</span></li>
                        </ul>
                        <p>Müşteri hesaplarını bankacılık kurumları bünyesinde işletiyor ve sürdürüyoruz.</p>
                        <ul>
                          <li>
                            <span style="text-decoration:underline;">Düzenleyici sistem</span></li>
                        </ul>
                        <p>Resmi gözetim ve lisans altındaki bir menkul kıymetler hizmet sağlayıcısı olarak, katı mali gereklilikleri yerine getirmek zorundayız. Bu nedenle, yasal gerekliliklere uygun olarak, müşterilerin mevduatlarını ödemek, döviz pozisyonlarındaki dalgalanmaları ve herhangi bir borcu üstlenmek için yeterli likidite sağlamamız gerekir. Ek olarak, dış denetçi şirketin mali tablolarının yıllık denetimini yapacaktır.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Grafik nasıl görüntülenir？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse16" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Lütfen
                          <em>Market fiyatı</em>Pencerede görüntülemek istediğiniz döviz çiftine sağ tıklayın ve
                          <em>Grafik penceresi</em>。Herhangi bir grafik penceresini sürükleyebilir veya iptal edebilirsiniz.</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Yayılman ne？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse17" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>0,6 pip kadar düşük dalgalı spreadler sağlıyoruz. Tekrarlanan teklif yok: Müşteriler en doğrudan piyasa fiyatından yararlanabilir. Tıklayabilirsiniz
                          <a href="https://www.noblesky.com/cn/spreads">Buraya</a>Formalar hakkında daha fazla bilgi edinin.</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">İşlem saatleriniz nelerdir？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse18" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Pekin saati 05:05 Pazartesi - 05:50 Cumartesi. Ancak bazı ürünlerin işlem saatleri farklıdır(e.g. CFDs)，Detaylar
                          <a href="javascript:">Lütfen buraya tıklayınız</a>.</p></div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Haber verisi ticaretini destekliyor musunuz？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse20" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Evet destekliyoruz</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Hangi kaldıracı sağlıyorsunuz？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse21" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Biz sağlıyoruz1:1 – 100:1。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Marj / marj oranı / mevcut marj nedir?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse22" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Marj, bir ticaret hesabının bir pozisyon açması veya tutması için gereken temel para birimi miktarıdır.Örneğin, döviz ticareti yaparken, belirli bir pozisyon için gerekli / kullanılan marj = lot sayısı * sözleşme büyüklüğü / kaldıraç. Hesaplama sonucu, döviz çiftindeki önceki para biriminde otomatik olarak sunulacak ve ardından hesabınızın temel para birimine çevrilecektir.Bu miktar MT5'inizde görüntülenecektir.</p>
                        <p>Altın ve gümüş için teminat gereksinimleri hesaplama formülü şu şekildedir: lot * sözleşme büyüklüğü * piyasa fiyatı / kaldıraç ve hesaplama sonucu ABD doları cinsinden sunulmuştur.</p>
                        <p>Bir CFD için gerekli marj için hesaplama formülü şudur: lot * sözleşme büyüklüğü * açılış fiyatı * marj gereksinimi. Hesaplama sonuçları ABD doları cinsinden verilmiştir. Daha fazla detay
                          <a href="https://www.noblesky.com/cn/spreads">Lütfen buraya tıklayınız</a>。</p>
                        <p>Marj oranını hesaplamanın formülü şudur: net değer / marj*100%。</p>
                        <p>Mevcut marj, net değerinizin tutarı eksi marjdır ve pozisyon açmak veya tutmak için kullanılabilir.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Marj nasıl hesaplanır?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse23" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Teminat hesaplama formülü aşağıdaki gibidir:</p>
                        <p>(Lotlar * Sözleşme büyüklüğü / Kaldıraç) Sonuç döviz çiftinin ilk para birimine dayanmaktadır.</p>
                        <p>Standart hesaplar için, tüm döviz para birimlerinin sözleşme büyüklüğü 100.000 birimdir. Mikro hesaplar için, tüm döviz para birimlerinin sözleşme büyüklüğü 1.000 birimdir.</p>
                        <p>Örneğin, ticaret hesabınızın temel para birimi USD ise ve kaldıraç 1: 500 ise, bir lot EURUSD ile işlem yaparsanız, marj aşağıdaki formüle göre hesaplanır:</p>
                        <p>(1 * 100 000/500) = 200 EUR</p>
                        <p>Euro, EURUSD döviz çiftinin ilk para birimidir. Hesabınız bir ABD doları hesabı olduğundan, sistem otomatik olarak gerçek zamanlı döviz kuruna göre 200 Euro'yu ABD dolarına çevirecektir.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Altın / gümüş marj formülü nedir？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse24" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Altın / gümüş marj formülü
                          <strong>Çok * Sözleşme büyüklüğü * Piyasa fiyatı / kaldıraç</strong>.</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">CFDs Marj formülü nedir？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse25" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>CFD'ler için marj formülü
                          <strong>Lot * Sözleşme büyüklüğü * Açılış fiyatı * Teminat gereksinimi</strong>。Daha fazla bilgi edin
                          <a href="https://www.noblesky.com/cn/spreads">Lütfen buraya tıklayınız</a>。</p></div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Döviz çiftleri ve altın / gümüşün gecelik faizi nasıl hesaplanır？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse26" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Gecelik faiz ücretlerini anlamak，
                          <a href="https://www.noblesky.com/cn/overnight-positions">Lütfen buraya tıklayınız</a>。</p>
                        <p>Altın ve gümüş dahil tüm döviz borsalarında gecelik faiz formülü aşağıdaki gibidir:</p>
                        <p>
                          <strong>Lot büyüklüğü * uzun veya kısa pozisyon * nokta boyutu</strong></p>
                        <p>
                          <span style="text-decoration:underline;">Burada bir alıntı yapın EUR/USD</span>Döviz çifti örnekleri:</p>
                        <p>Müşterinin temel para birimi USD
                          <br>1 lot satın alEUR/USD
                          <br>uzun = -3.68
                          <br>Bu bir alış pozisyonu olduğundan, sistem bu swap'ı uzun pozisyon olarak sınıflandıracak ve cari fiyatı -3.68
                          <br>Puan büyüklüğü = emtia sözleşmesi boyutu * minimum dalgalanan fiyat
                          <br>EUR/USD Nokta boyutu= 100 000 * 0.00001 = 1
                          <br>Verileri formül 1 ile değiştirme * (-3.68) * 1 = -3.68 USD。
                          <br>Dolayısıyla 1 lot EUR / USD döviz çifti satın almak için gecelik faiz -3.68 USD'dir.</p>
                        <p>
                          <span style="text-decoration:underline;">Bir altın örneği ver</span>:</p>
                        <p>Müşteri temel para birimi USD
                          <br>1 lot altın al
                          <br>uzun= -2.17
                          <br>Bu bir alış pozisyonu olduğundan, sistem bu gecelik faizi uzun pozisyon olarak sınıflandıracaktır ve cari fiyat -2.17'dir.
                          <br>1 puan = emtia sözleşmesi boyutu * minimum dalgalanma fiyatı
                          <br>Altın 1 puan = 100 * 0.01 = 1
                          <br>Verileri formüle koyarsak, bu formül 1 olacaktır * (-2.17) * 1 = -2.17 USD。
                          <br>Yani 1 lot altın almak için gecelik faiz -2.17 USD'dir.</p>
                        <p>Ticaret hesabındaki temel para birimi USD ise, gecelik faiz hesaplamasının USD'den EUR'ya olacağını lütfen unutmayın. Gecelik faizin hesaplama sonucu her zaman ikinci para biriminde ifade edilir ve ticaret hesabındaki sistem sonunda temel para birimi cinsinden ifade edilir.</p>
                        <p>Yukarıdaki örnekler güncel verileri temsil etmez ve sadece referans içindir. En son gecelik faizi görüntüleyin, döviz üzerine tıklayın
                          <a href="https://www.noblesky.com/cn/forex-trading">Buraya</a>，Altın ve gümüş tıklamalar
                          <a href="https://www.noblesky.com/cn/precious-metals">Buraya</a>。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Mikro hesabımda 0,01 mikro lot pozisyonu açtım ve kapattım neden karı göremiyorum?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse27" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Kârı hesaplamak için aşağıdaki formül size yardımcı olabilir:
                          <br>(Kapanış fiyatı açılış fiyatı) * sözleşme büyüklüğü * lot</p>
                        <p>Örneğin</p>
                        <p>Mikro hesabınız var (sözleşme boyutu 1000) ve 0,01 lot EUR / USD açtınız.
                          <br>Açılış fiyatı = 1.29987， Kapanış fiyatı = 1.29906
                          <br>Aşağıdaki hesaplama formülüdür
                          <br>(1.29906-1.29887)*1000*0.01= 0.0019 USD (Bu hesaplamanın sonucu döviz çiftinin ikinci para birimine dayanmaktadır).
                          <br>Görebilirsin， 0.0019 USD, platformda küçük bir kar gösterir ve biz sadece kar bölümünü 2 ondalık basamak tutuyoruz.</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Scalping'e izin veriyor musunuz？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse28" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Evet, buna izin veriyoruz.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Stop loss nedir？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse29" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Stop loss, bir emrin kaybı belirlediğiniz zarar fiyatından daha yüksek olduğunda bir pozisyonu kapatma emrini ifade eder. Stop loss bir puan limitidir, stop loss fiyatına ulaşıldığında emir kapatılacaktır. Zararı durdur fiyatını belirlerken, mevcut fiyata bağlı olarak belirli bir kar zarar durdurma mesafesine ulaşmanız gerektiğini lütfen unutmayın. Döviz çiftlerinin stop kar ve zarar mesafesi hakkında daha fazla bilgi
                          <a href="https://www.noblesky.com/cn/forex-trading">Lütfen buraya bakın</a>。</p>
                        <p>Piyasa eğilimi sizin için iyi olmadığında, bir stop loss belirlemek zararınızı azaltabilir. Zararı durdurma noktası, uzun siparişler için mevcut satış fiyatından daha düşük veya kısa siparişler için mevcut alış fiyatından daha yüksek olarak ayarlanmalıdır.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Kar almak nedir？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse30" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Kâr almak, fiyat müşteri tarafından belirlenen kar fiyatına ulaştığında, pozisyon kapatma emrinin otomatik olarak yürütülmesi anlamına gelir. Kar beklentilere ulaştığında, kar alma emri derhal kapatılacaktır. Kâr ve zararı durdurmayı ayarlarken, mevcut fiyata bağlı olarak belirli bir kar ve zarar durdurma mesafesine ulaşmanız gerektiğini lütfen unutmayın. Döviz çiftlerinin stop kar ve zarar mesafesi hakkında daha fazla bilgi
                          <a href="https://www.noblesky.com/cn/forex-trading">Lütfen buraya bakın</a>。</p>
                        <p>Kâr alma noktasının belirlenmesi, kısa siparişler için mevcut alış fiyatından düşük veya uzun siparişler için mevcut satış fiyatından yüksek olmalıdır.</p>
                        </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Takip eden stop loss nedir?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse31" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>İzleyen durdurma kaybı bir tür durdurma kaybıdır. Uzun bir emrin piyasa fiyatından daha düşük veya kısa bir emrin piyasa fiyatından daha yüksek bir yüzde seviyesinde belirlenir ve piyasa fiyatı ile hareket eder. Zararı durdur emri belirlerken, emir fiyatından belirli bir nokta uzakta olması gerektiğini lütfen unutmayın. Döviz çiftlerinin stop loss mesafesi hakkında daha fazla bilgi edinin,
                          <a href="https://www.noblesky.com/cn/forex-trading">Lütfen buraya bakın</a>。</p>
                        </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">nedir
                        <em>Ofset</em>?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse32" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          <em>Ofset</em>MT5 platformunda, aynı finansal araç üzerindeki iki göreceli pozisyonu aynı anda kapatmanıza ve fark kaydetmenize olanak tanıyan bir işlevdir.
                          <em>satın almak</em>Tek ihtiyacı
                          <em>satın almak</em>Tek ihtiyacı，
                          <em>satın almak</em>Tek ihtiyacı
                          <em>satın almak</em>Tek ihtiyacı。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">nedir
                        <em>Uzun pozisyon ofseti</em>?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse33" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          <em>Uzun pozisyon ofseti</em>MT5 platformunda, aynı finansal araç üzerindeki iki göreceli pozisyonu aynı anda kapatmanıza ve fark kaydetmenize olanak tanıyan bir işlevdir.
                          <em>satın almak</em>Tek ihtiyacı
                          <em>satın almak</em>Tek ihtiyacı，
                          <em>satın almak</em>Tek ihtiyacı
                          <em>satın almak</em>Tek ihtiyacı。</p></div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Biraz kar ve zarar nasıl hesaplanır？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse35" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Temel para birimi tutarı * puan = teklif para birimi değeri
                          <br>1点EUR/USD价值= 1 LOT(100 000 €)*0.0001= 10 USD
                          <br>1 点USD/CHF价值= 1 LOT (100 000$)*0.0001=10 CHF
                          <br>1 点EUR/JPY价值=1 LOT(100 000 €)*0.01= 1000 JPY</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Mikro hesaplar ve standart hesaplar için minimum lot büyüklüğü nedir?？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse36" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Aşağıdaki her işlemin hacmidir, istediğiniz tutarı harcayabilirsiniz</p>
                        <p>Standart hesap：</p>
                        <p>1 LOT= 100,000
                          <br>Minimum işlem hacmi= 0.01
                          <br>Maksimum işlem hacmi= 50
                          <br>Işlem hacmi = 0.01</p>
                        <p>Mikro hesap:</p>
                        <p>1 LOT = 1,000
                          <br>Minimum işlem hacmi= 0.01
                          <br>Maksimum işlem hacmi= 100
                          <br>Işlem hacmi= 0.01
                          <br>lütfen aklınızda bulundurun CFDs Minimum işlem lot büyüklüğü 1 standart lottur.</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Riskten korunmaya izin veriyor musunuz？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse37" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>İzin veriyoruz. Aynı ticaret hesabınızda, ticareti serbestçe kilitleyebilirsiniz. Kilitli pozisyon, aynı anda aynı emtia için uzun ve kısa olduğunuz anlamına gelir.</p>
                        <p>Bir pozisyon işlemini kilitlediğinizde, kilit pozisyonu ön ödemesi yalnızca tek taraflı lot büyüklüğü için ücretlendirilir.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Kaldıraç nedir? Nasıl yapılır? Ne kadar az para harcanırsa, kaldıraç o kadar yüksek, risk o kadar büyük olur?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse38" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Kaldıraç, bakiyenizi artırmaktır. Kaldıraç yoluyla daha büyük ticaret pozisyonları oluşturmak için daha düşük marjlar kullanabilirsiniz. Kaldıraç yoluyla daha fazla kar elde edebilirsiniz, ancak açık pozisyonlarınız çok büyük olduğundan (lot büyüklüğü), risk artacaktır.</p>
                        <p>Örneğin：</p>
                        <p>Hesap bakiyesi：100 USD</p>
                        <p>Hesap kaldıracı：1:100</p>
                        <p>Ticaret sermayeniz şu kadar büyütülecek:100 * 100 USD = 10,000 USD Takas edilebilir sermaye (orijinal 100 USD'nin yerine).</p>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">CFD'lerin karı nasıl hesaplanır？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse40" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Kar hesaplama formülü aşağıdaki gibidir：
                          <br>(Kapanış fiyatı açılış fiyatı) * lot büyüklüğü * sözleşme büyüklüğü
                          <br>CFD lot boyutları farklıdır, daha fazlasını okuyun
                          <a href="https://www.noblesky.com/cn/spreads">Lütfen buraya tıklayınız</a>。</p></div>
                    </div>
                  </div> -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Kayma var mı??</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse41" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Bizimle ticaret yaptığınızda kayma görmek çok zor. Ancak bazı önemli ekonomik haberler yayınlandığında piyasa fiyatlarının hızlı yükselişi / düşüşü nedeniyle emrinizin gerçekleştiği nokta talebinizden farklı olabilir.</p>
                        <p> NOBLE SKY içinde, Siparişiniz sizin için en faydalı yönde gerçekleştirilecektir.</p>
                        <p>Daha NOBLE SKY Lütfen uygulama stratejisinin ilgili içeriğine bakın
                          <a href="https://www.noblesky.com/cn/execution-policy ">Burayı görüntüle。</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Birden fazla ticaret hesabı açabilir miyim？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse42" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Bir kimlik kartı yalnızca gerçek bir hesabı doğrulayabilir。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Sıfır bakiyeli hesaplar kapatılacak mı?？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse43" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Yönetmeliklere göre, sistem 90 gün sonra ticaret hesaplarını otomatik olarak sıfır bakiyeyle kapatacak ve tekrar kullanıma açılamayacak. Mevcut hesabınız kapatıldıysa ve başka ticari hesap yoksa, tıklayabilirsiniz.
                          <a href="https://www.noblesky.com/cn/register/account/real?">Buraya</a>Yeni bir ticaret hesabı açın。</p></div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Çevrimdışı olursam, açtığım tüm pozisyonları kapatmam gerekir mi？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse45" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Ticaret platformunu kapatırsanız, kâr durdurma ve bekleyen emirler korunmaya devam edecektir. Ancak MT5 ticaret sistemini kapattığınızda, izleme sistemi (zararı durdur, kar al) ve EA akıllı ticaret sistemi geçersiz olacaktır.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">İşlem geçmişimi nasıl görüntüleyebilirim？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse46" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>İşlem kayıtlarını MT5 ticaret yazılımında dışa aktarabilirsiniz. MT5- "Araç Kutusu" nu kontrol edin, sağ tıklayın ve "Hesap Geçmişi" ni seçin, süreyi ayarlayın (örneğin: 1 yıl, 1 ay, 1 hafta) ve ardından "Raporu Kaydet" e sağ tıklayın.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Çevrimiçi işlem yapabileceğim maksimum miktar nedir？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse47" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Burada işlem tutarı limiti olmayacak, ancak standart bir hesapta tek bir işlemde işlem yapabileceğiniz maksimum lot sayısı 50 standart lotu, bir mikro hesapta tek bir işlemde işlem görebilecek maksimum lot sayısı 100 mikro lotu geçmeyecektir.</p>
                        <p>Hesabınızda daha fazla lot ticareti yapmak istiyorsanız, alım satım emirlerini azaltmayı deneyebilirsiniz.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Neden Çarşamba günkü gecelik faiz normalin üç katı olacak?？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse48" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Spot döviz piyasasında gerçek değer tarihi iki gün sonradır.Örneğin, Perşembe işlem gününde fiyat Pazartesi'ye ve Cuma işlem gününde fiyat Salıya yansıtılır. Bu nedenle Çarşamba günü, hafta sonunun neden olduğu gecelik faizi telafi etmek için üç günlük gecelik faizi hesaplamak zorundayız (gece faizinin teslimat gününde ödenmesine gerek yoktur, çünkü işlem hafta sonu durdurulur).</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Döviz danışmanlığı sağlıyor musunuz? Döviz ticaretinin temellerini nasıl öğrenirim？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse49" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Her
                          <strong>NOBLE SKY</strong>Müşteriler, yalnızca çevrimiçi sohbet, e-posta ve telefon gibi çok yönlü teknik destek sağlamakla kalmayan, aynı zamanda bire bir MetaTrader5 temel öğrenme eğitim kursları düzenleyebilen kendi kişisel hesap yöneticilerine sahiptir.</p>
                        </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Amerikalı müşterileri kabul ediyor musunuz？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse50" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Yakın zamanda ABD Kongresi tarafından kabul edilen Frank Yasasına göre, Emtia Vadeli İşlemleri Ticaret Komisyonu artık ABD vatandaşlarının bizimle ticaret yapmak için hesap açmasına izin vermiyor. Verdiğimiz rahatsızlıktan dolayı özür dileriz.</p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Tek tıklamayla ticaret nedir: nasıl kullanılır？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse52" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Tek tıklamayla ticaret, açık pozisyonları tek tıklamayla kapatmanıza olanak tanır. Bir pozisyonu kapatmak istediğinizde, yalnızca manuel olarak bir kez tıklamanız gerekir.</p>
                        <p>Tek tıklamayla işlem, grafiğinizin sol üst kısmında görüntülenir. Tek tıklamayla ticarete tıkladığınızda pencerenin sol üst köşesinde görünecektir.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Hesap türümü değiştirebilir miyim？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse53" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Maalesef hesap türü değiştirilemez. Giriş yapmaya hoş geldiniz
                          <router-link to="/login">CRM</router-link>Yeni bir hesap ekleyin ve tercih ettiğiniz hesap türünü seçin.</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Şifre nasıl sıfırlanır？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse54" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Ticari hesap şifrenizi unutursanız, lütfen müşteri hizmetleri veya bir temsilci ile iletişime geçerek şifre sıfırlama talebinde bulunun.</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Hesabımın temel para birimini değiştirebilir miyim？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse55" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Maalesef temel para birimi olarak yalnızca USD desteklenmektedir</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">İkili opsiyon ticareti sunuyor musunuz？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse56" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Sağlanmadı。</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="section-3" class="container top50">
            <div class="row">
              <div class="col-md-6">
                <h2>Depozito/Para çekme</h2>
                <div id="accordionText"> </div></div>
              <div class="col-md-6">
                <button type="button" class="btnAccordion pull-right" data-parent="#accordion3"> </button></div>
            </div>
            <div class="row top20">
              <div class="col-md-12">
                <div class="panel-group" id="accordion3">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Hangi depozito seçilmeli/Para çekme yöntemi？</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse1" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>Sanal para sağlıyoruzUSDT Depozito/Para çekme yöntemi。</p>
                        <p>Bir hesap açtığınızda, kimlik doğrulamasını tamamlamak ve hesabı etkinleştirmek için lütfen CRM'de oturum açın.Tamamlandıktan sonra, para yatırma ve çekme işlemine tıklayabilir ve işlemi tamamlamak için talimatları takip edebilirsiniz.</p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">En düşük ve en yüksek depozito/Para çekme miktarı ne kadar？</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse3" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>Minimum para yatırma / çekme tutarı 5 USD'dir (veya eşdeğer bir değer). Ancak gerçek miktar yine de seçtiğiniz ödeme yöntemine ve ticaret hesabınızın durumuna bağlıdır.</p>
                      </div>
                    </div>
                  </div>


                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">İstediğim zaman para çekebilir miyim?</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse6" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>Para çekmeden önce hesabınızın doğrulanması gerekir. Öncelikle bilgilerinizi yüklemek için CRM'de oturum açmanız gerekir: kimlik (kimlik, pasaport, ehliyet) ve adresinizi ve son 3 aya ait adınızı içeren adres kanıtı (su, elektrik, gaz, kablolu TV faturası veya banka ekstresi) Ve fatura 6 ayı geçemez.</p>
                        <p>Kimlik doğrulamasını geçtikten sonra, CRM'ye giriş yapabilir, para çekme seçeneğini seçebilir ve bize bir para çekme talebi gönderebilirsiniz. Tüm para çekme işlemleri, iş gününün 24 saati içinde arka ofis müşteri hizmetlerimiz tarafından işlenecektir.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Hâlâ açık bir pozisyonum varsa, para çekebilir miyim?</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse7" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>Yapabilmek. Ancak, netleştirilmemiş karlar geri alınamaz.</p>

                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Mevduat fonlarım ne kadar sürede gelecek?</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse8" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>USDT mevduatları genellikle aynı iş gününde mevcuttur.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Para çekme başvurusunu gönderdikten sonra ne kadar sürede para alabilirim？</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse9" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>Sahne arkası, para çekme başvurunuzu 24 saat içinde işleme alacaktır. USDT para çekme işlemleri genellikle aynı gün yapılır.</p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Para yatırma ve çekme için başka işlem ücretleri var mı??</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse11" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>Para yatırma ve çekme işlemleri için başka herhangi bir ücret talep etmiyoruz ve üçüncü şahıslar tarafından alınan para yatırma / çekme ücretleri bizim kontrolümüz altında değildir.</p>
                        <p>Para yatırırken, alınan gerçek USDT'yi temel para birimine ticaret hesabınıza dönüştüreceğiz.</p>
                        <p>Para çekerken, gerçekte başvurduğunuz miktar ile cüzdan adresinize para yatıracağız. Alınan gerçek miktar, üçüncü şahıs tarafından alınan miktara bağlıdır.</p>
                      </div>
                    </div>
                  </div>




                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Ticaret hesabımdaki fonlar diğer müşterilerin ticaret hesaplarına aktarılabilir mi?？</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse16" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>Bu kabul edilemez. Farklı müşteriler arasında para transferi yapmak yasaktır.</p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Başka bir hesaba para aktarabilir miyim？</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse19" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>Yapabilmek. Aynı adı taşıyan hesaplar arasında iç transfer başvurusunda bulunabilirsiniz. Ancak, hesabın aynı ada sahip bir hesap olması ve her ikisinin de doğrulanması gerektiğini lütfen unutmayın.</p></div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Ekstra ücret veya komisyon alınıp alınmayacağı？</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse22" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>
                          <strong>NOBLE SKY</strong>Para yatırma ve çekme ücreti ve komisyon talep etmez。</p></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="section-4" class="container top50">
            <div class="row">
              <div class="col-md-6">
                <h2>Ticaret platformu</h2>
                <div id="accordionText"> </div></div>
              <div class="col-md-6">
                <button type="button" class="btnAccordion pull-right" data-parent="#accordion4"> </button></div>
            </div>
            <div class="row top20">
              <div class="col-md-12">
                <div class="panel-group" id="accordion4">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Demo hesabı ile gerçek hesap arasındaki fark nedir？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse1" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Gerçek hesabın tüm özellikleri ve işlevleri demo hesabına yansıyacak olsa da, lütfen demo hesabının gerçek piyasa koşullarını kopyalayamayacağını unutmayın. En önemli nokta, bir demo hesabına sipariş vermenin piyasayı etkilemeyeceğidir. Aksine gerçek hesaplara verilen siparişler piyasadan etkilenecek ve özellikle sipariş hacmi büyük olduğunda piyasa fiyatlarını da etkileyecektir.
                          <strong>NOBLE SKY</strong>Demo hesabın yürütme hızı gerçek hesapla aynıdır。</p>
                        <p>Ek olarak, kullanıcıların farklı psikolojik özellikleri de bir demo hesaptan mı yoksa gerçek bir hesaptan mı kar edeceğini belirler. Bu özellik, demo hesabının değerlendirmesini etkileyebilir. Demo hesabında çıkarılan herhangi bir sonuç için, kullanıcıların dikkatli olmasını ve kayıtsızlıktan kaçınmasını öneririz. Demo hesabı hakkında daha fazla ayrıntı için lütfen giriş yapın
                          <a href="https://www.noblesky.com/cn/forex-demo">URL takip ediliyor</a>。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">İşlem geçmişimi nasıl görüntüleyebilirim？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse2" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Bir terminal penceresi açmak için klavyenizdeki Ctrl + T tuşlarına basın ve basılı tutun, ardından
                          <em>Tarih</em>。İşlem kayıtlarını html dosyası biçiminde de kaydedebileceğiniz metin menüsünü görmek için sağ tıklayın. Böylece ticaret platformundan çıkış yaptığınızda kolayca kontrol edebilirsiniz.</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Ticaret yapmak için otomatik tüccarlar ve Uzman Danışmanlar kullanabilir miyim？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse3" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Evet yapabilirsin. Platformumuz EA'yı destekliyor.</p>
                      </div>
                    </div>
                  </div>


                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">MT5 platformunun nasıl kullanılacağı konusunda çevrimiçi yardım / rehberlik sağlayabilir misiniz？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse6" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Herhangi bir sorunuz varsa, e-posta veya çevrimiçi sohbet yoluyla MT5 işlemleri hakkında bilgi almak için istediğiniz zaman hesap yöneticinizle iletişime geçebilirsiniz. Size bire bir ayrıntılı açıklama ve rehberlik vermekten her zaman mutluluk duyarız.</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">MT4'te sadece 8 döviz çiftini görebiliyorum. Diğer döviz çiftlerini nasıl görebilirim？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse7" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>MT5 platformunuzda oturum açın -&gt;Pazar penceresi -&gt;Sağ tık -&gt;Tümünü göster → Aşağı kaydırın ve mevcut tüm ürünleri göreceksiniz.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">MetaTrader'ın saat dilimini değiştirebilirim？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse8" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Olmaz. Platformumuzun saati sabittir, kış aylarında GMT + 8, yaz aylarında GMT + 7'dir.</p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Alış fiyatı ve satış fiyatı nedir ve açılış / kapanış fiyatını grafiğimde nasıl görüntülerim？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse10" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Her bir
                          <em>Faturayı ödemek</em>Hepsi satış fiyatına dayalıdır ve alış fiyatı üzerinden kapalıdır, her biri
                          <em>Emir satmak</em>Hepsi alış fiyatına ve satış fiyatına göre kapanışa dayalıdır. Bu nedenle, grafikte sadece satış fiyatı çizgisini görebilirsiniz. Teklif satırını görebilmeniz için，Grafiğe sağ tıklayın-&gt;Öznitellikler-&gt;Görüntüle-&gt;Ve ekranı işaretleyin
                          <em>Fiyat çizgi grafiği satın al</em>。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">MAC ticaret platformu sağlıyor musunuz？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse11" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>MAC sürümünün indirilmesi desteklenmez. Web sürümü üzerinden ticaret yapabilirsiniz.</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">MT5'te kullanabileceğim sunucu adını nasıl bulabilirim？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse12" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Tıklamak“dosya” - &gt;Tıklamak“Hesap aç”- &gt;Açılan pencerede "Bayi Listesi" nde "Yeni Bayi Ekle" yi tıklayın，Sonra yazın“NOBLE SKY（Sonra yazın）”Ve tıklayın“Bayinizi arayın“ 。</p>
                        <p>Arama tamamlandıktan sonra, pencereyi kapatmak için "İptal" düğmesine tıklayabilirsiniz.</p>
                        <p>Sonra tekrar tıklayın“dosya” - &gt;“Ticaret hesabına giriş yapın”，Sunucu adınızın mevcut olup olmadığını görmek için。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">MT5 platformuna nasıl erişilir?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse13" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>MT5 platformunda işlem yapabilmek için bir Noble Sky MT5 işlem hesabınızın olması gerekir. Noble Sky MT5 hesabı oluştur
                          <a href="https://www.noblesky.com/goto/real/cn">buraya Tıkla</a>。</p></div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">MT5 hesabımı nasıl doğrularım？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse15" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>CRM'yi tıklayın - >“kayıtlı”Bir MT5 hesabı oluşturmak, kimlik doğrulama için oluşturmak ve oturum açmak için, ihtiyacımız olan kimlik doğrulama belgelerini (örneğin, kimlik ve adres kanıtı) sağlamanız gerekir.</p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">MT5'te hangi emtiaları takas edebilirim？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse17" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>MT5 ticaret terminalinde, döviz, emtialar, menkul kıymet endeksleri, değerli metal CFD'leri ve enerji CFD'leri dahil olmak üzere Noble Sky'ın tüm emtialarını alıp satabilirsiniz.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Ticaret platformunda ticaret ürünleri nasıl bulunur？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse18" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Hesap türünüze göre, ticari ürün adının son eki özel olarak işaretlenecektir. Doğru ürün adıyla işlemleri kolaylaştırmak için lütfen aşağıdaki örnekleri inceleyin：</p>
                        <ul>
                          <li>Standart (STANDART) hesap: Ürün adı EURUSD, GBPUSD gibi normal olarak görüntülenir (özel bir not yoktur)</li>
                          <li>Mikro (MICRO) hesabı: EURUSDmicro, GBPUSDmicro gibi ürün adının sonuna mikro ekleyin</li>
                        </ul>
                        <p>Platformda beklenen işlem ürünlerini göremiyorsanız, lütfen "Piyasa Teklifi" penceresine sağ tıklayın-&gt;Ticaret çeşitliliğini seçin-&gt;Formda ticaret yapmak istediğiniz emtiayı seçin-&gt;Tıklamak「Görüntüle」。Ayrıca sağ tıklayıp seçim yapabilirsiniz「Hepsini Göster 」。</p>
                        <p>Farklı hesap türleri nedeniyle, gri renkli kısmın ticaret emtiaları için kullanılamayacağını lütfen unutmayın. Ekranı basitleştirmek için "Piyasa Teklifi" penceresine sağ tıklamanız ve "Gizle" yi seçmeniz önerilir.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="section-5" class="container top50">
            <div class="row">
              <div class="col-md-6">
                <h2>NOBLE SKY Destek işlevi</h2>
                <div id="accordionText"> </div></div>
              <div class="col-md-6">
                <button type="button" class="btnAccordion pull-right" data-parent="#accordion5"> </button></div>
            </div>
            <div class="row top20">
              <div class="col-md-12">
                <div class="panel-group" id="accordion5">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">NOBLE SKY tarafından hangi özellikler desteklenir？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a5collapse1" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>Döviz döviz çiftleri, CFD'ler, hisse senedi endeksleri, değerli metaller ve enerji emtiaları ticareti yapabilir</p>
                        <ul>
                          <li>Minimum depozito 5v USD'den az değildir</li>
                          <li>1'den fazla hesap açmayı seçebilirsiniz</li>
                          <li>Negatif bakiye koruma politikasına sahiptir</li>
                          <li>Yeniden teklif yok, ret kararı yok</li>
                          <li>Sıfır kadar düşük yayılır</li>
                          <li>En düşük baz puan fiyatı</li>
                          <li>Bir hesap birden fazla ticaret terminalini kullanabilir</li>
                          <li>Gerçek zamanlı yürütme</li>
                          <li>Hesap mevduatı% 100 tam otomatik, 7/24 zamanında işleniyor</li>
                          <li>Herhangi bir ücret ödemeden hızlı para yatırma</li>
                          <li>Kesintisiz ödül aktiviteleri</li>
                          <li>100.000 USD sanal fon içeren ücretsiz, sınırsız bir demo hesabı ve aynı anda birden fazla ticaret platformuna erişim</li>
                          <li>Günde iki kez profesyonel ticaret sinyalleri sağlayın</li></ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=3){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){

      let element = document.querySelectorAll(".panel-heading");



      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){


               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }


     document.documentElement.scrollTop = 0


  },




  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}
.panel-collapse.showFlag{display: none;}

.btnAccordion.pull-right{display: none;}

footer{height: 300px;background-color: #333;text-align: center;}
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

</style>
