<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <div class="site-canvas">


        <div class="container-fluid top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <h1 class="ltr text-left">
                            MetaTrader 5 (MT5)                </h1>
                        <ol class="breadcrumb">
                            <li class="home"><router-link to="/" class="home">NOBLE SKY</router-link></li>
        <li class="post post-page current-item">MetaTrader 5 (MT5)</li>
                        </ol>
                    </div>

                    <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                        <div class="option-nav">
                                                <router-link to="/contact">
                                                  <i class="contact"></i>
                                                  <span>Bize Ulaşın</span></router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container hidden-xs hidden-sm hidden-l-sm">
            <div class="row top80">
                <div class="col-sm-12 col-md-6">
                    <h2>
                        Noble sky MT5 neden daha iyi?            </h2>
                    <div class="quote-msg top30">
                        <p>
                            <i class="quote-right "></i>
                           Noble sky MT5 platformu, gerekli tüm fonksiyonları sağlayarak, MT5'i ideal bir çoklu varlık yönetimi platformu haline getirir. Aynı platformda döviz ve CFD sözleşmeleri, altın, ham petrol ve hisse senedi endeksleri alınıp satılabilir, emir reddedilmez, yeniden fiyatlandırma yapılmaz ve kaldıraç esnek bir şekilde 1: 1'den 100: 1'e kadar seçilebilir.                </p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-6 col-md-12 top40">
                            <h3>Noble sky MT5 Özellikleri</h3>
                            <ul class="checks top35">
                                <li>
                                    Hisse senedi endeksi CFD'leri, döviz, değerli metal CFD'leri ve enerji CFD'leri dahil olmak üzere 100'den fazla ticari emtia.                        </li>
                                <li>
                                               0,6 puana kadar düşük yayılır                        </li>
                                <li>Tam EA işlevi</li>
                                <li>Tek tıkla ticaret</li>
                                <li>Tüm sipariş türlerini destekleyin</li>
                                <li>80'den fazla teknik analiz aracı</li>
                                <li>Pazar derinliğine sahip son teklif</li>
                                <li>Kilide izin ver</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 top60 hidden-sm">
                    <img class="img-responsive center-block" src="../../../static/images/page-img/mt5/mt5-pc.png?v3.0" alt="mt5 pc screenshot">
                </div>
            </div>
             <div class="greenRed-btns top50">
                <router-link to="/register" class="btn btn-solid btn-green btn-block">
                    <i class="fa fa-pencil-square-o"></i>
                    Hesap oluştur        </router-link>
                <div class="dis20"></div>
                <a href="https://download.mql5.com/cdn/web/hk.noble.sky/mt5/hknobleskytreasure5setup.exe" class="btn btn-solid btn-red btn-block">
                    <i class="fa fa-download"></i>
                    indir        </a>
                 <div class="dis20"></div>
                 <router-link :to="{name:'register',params:{regType:2}}" class="btn btn-outline btn-block">
                     <i class="fa fa-pencil-square-o"></i>
                     Demo hesabı oluşturun         </router-link>
            </div>
        </div>
        <section class="section top80">
            <div class="container metatrader">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center big">Noble sky MT5 - 1 Bir tür platform, Çoklu ticaret çeşitleri</h2>
                        <img class="img-responsive center-block top30" src="../../../static/images/page-img/mt5/mt5-pc-half.png?v3.0" alt="mt5 pc screenshot">
                    </div>
                </div>
            </div>
        </section>
        <div class="container-fluid">
            <div class="container">
                <div class="dis30 visible-xs visible-sm"></div>
                <div class="row btn-a-box">
                    <div class="col-sm-6 col-md-6 text-center">
                        <router-link to="/register" class="btn-a crate-account-btn">
                            <i class="fa fa-pencil-square-o"></i>
                            Hesap oluştur                </router-link>
                    </div>

                    <div class="col-sm-6 col-md-6 text-center">
                        <a href="https://download.mql5.com/cdn/web/hk.noble.sky/mt5/hknobleskytreasure5setup.exe" class="btn-a download-btn">
                            <i class="fa fa-download"></i>
                            indir                </a>
                    </div>
                    <div class="dis20"></div>
                    <p class="text-center">
                        Demo hesabı oluşturun            </p>
                </div>
            </div>
          
            <div class="container metatrader">
                <div class="row top50 hidden-xs hidden-sm hidden-l-sm">
                    <div class="col-sm-7 col-md-8">
                        <h2>
                            <i class="tfxfont3 xmInstall-pc sm red"></i>
                            nasıl kurulur Noble sky MT5                </h2>
                        <ul class="arrows top30">
        	                <li>Tıklamak<a href="https://download.mql5.com/cdn/web/hk.noble.sky/mt5/hknobleskytreasure5setup.exe">Buraya</a> (.exe dosya)İndirme terminali</li>
                            <li>İndirdikten sonra NOBLE SKY.exe dosyasını çalıştırın.</li>
                            <li>Programı ilk kez çalıştırdığınızda, oturum açma penceresini göreceksiniz.</li>
                            <li>Gerçek hesabınızı veya demo hesap giriş bilgilerinizi girin.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container metatrader">
            <div class="row top80">
                <div class="col-md-12">
                    <h2>
                        <i class="tfxfont3 xmZoom sm red"></i>
                        Noble sky MT5 ana özellik            </h2>
                </div>
                <div class="col-sm-12 col-md-4">
                    <ul class="arrows">
                        <li>100'den fazla ticaret çeşidine sahip çok varlıklı yatırım platformu</li>
                        <li>Aynı anda 100 grafik görüntülenebilir</li>
                        <li>Mevcut fiyat emirleri, bekleyen emirler, karı durdur zarar ve takip eden zararı durdur dahil olmak üzere tüm emir türlerini destekler</li>
                        <li>80'den fazla teknik gösterge ve 40 analiz aracı</li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4">
                    <ul class="arrows">
                        <!--<li></li>-->
                        <li>Mükemmel yerleşik MQL5 geliştirme ortamı</li>
                        <li>Android için&amp;IOS sistemi mobil terminal işlemi</li>
                        <li>Windows'u destekleyin, Linux işletim sisteminde web ticareti</li>
                        <li>Dahili posta sistemi</li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4">
                    <ul class="arrows">
                        <li>Çoklu para birimi test cihazı ve uyarılar</li>
                    </ul>
                </div>
            </div>
            <div class="row top80 hidden-xs hidden-sm hidden-l-sm">
                <div class="col-sm-6 col-md-7">
                    <h2>
                        <i class="tfxfont3 xmGears sm red"></i>
                        Noble sky MT5sistem gereksinimleri            </h2>
                   <!-- <div class="col-md-6 visible-xs">
                        <img class="img-responsive center-block" src="../../../static/images/page-img/mt5/mt5-pc-small.png?v3.0" alt="mt5 pc screenshot">
                    </div> -->
                    <ul class="arrows top30">
                        <li><strong>işletim sistemi：</strong>En iyi sonuçlar için Windows 10 veya Microsoft Windows 7'nin 64 bit sürümlerinin kullanılması önerilir.。</li>
                        <li><strong>işlemci：</strong>Herkes için SSE2'yi destekleyin（Pentium 4/Athlon 64 Teknik özelliklerin üstünde）ninCPU</li>
                        <li>Diğer donanım gereksinimleri, kullanım platformuna bağlıdır（Örneğin, MQL5 uygulamasını çalıştırmanın yükü, seçilen emtia türü ve grafik sayısı）</li>
                    </ul>
                </div>
                <div class="col-sm- col-md-5 hidden-xs top30">
                    <img class="img-responsive center-block" src="../../../static/images/page-img/mt5/mt5-pc-small.png?v3.0" alt="mt5 pc screenshot">
                </div>
            </div>
        </div>
        <div class="container metatrader">
            <div class="row top80 hidden-xs hidden-sm hidden-l-sm">
                <div class="col-md-12">
                    <h2><i class="tfxfont3 xmTrash sm red"></i> PC sistemi nasıl kaldırılırNoble sky MT5</h2>
                    <ul class="arrows">
                        <li>
                            <span class="red mt4_steps"><strong>adım 1:</strong></span>
                            Başlat → Tüm Programlar → Noble sky MT5 → Kaldır'a tıklayın               </li>
                        <li>
                            <span class="red mt4_steps"><strong>adım 2:</strong></span>
                            Kaldırma işlemi tamamlanana kadar kaldırma işlemini başlatmak için ekrandaki adımları izleyin.                </li>
                        <li>
                            <span class="red mt4_steps"><strong>adım 3:</strong></span>
                            Bilgisayarım'a tıklayın → işletim sistemini kurmak için C sürücüsüne veya kök sürücüye tıklayın → program klasörüne tıklayın → Noble sky MT5 klasörünü seçin ve silin                </li>
                        <li>
                            <span class="red mt4_steps"><strong>adım 4:</strong></span>
                            Bilgisayarı yeniden başlatın                </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="faq">
            <div class="container top80">
                <div class="row">
                    <div class="col-md-6">
                        <h2>ortak problem</h2>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="accordionText" class="hidden"> </div>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btnAccordion pull-right" data-parent="#accordion1"> </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row top20">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion1">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">MT5 platformuna nasıl erişilir？</h4>
                                    <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a1collapse1" class="panel-collapse collapse">
                                    <div class="panel-body gray">
                                        <p>MT5 platformunda işlem yapabilmek için bir Noble Sky MT5 işlem hesabınızın olması gerekir. Noble Sky MT5 hesabı oluştur<router-link to="/register">buraya Tıkla</router-link>。</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">MT5 hesabımı nasıl doğrularım？</h4>
                                    <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a1collapse1" class="panel-collapse collapse">
                                    <div class="panel-body gray">
                                        <p>Bir MT5 hesabı oluşturmak için CRM -> "Kaydol" seçeneğine tıklayın, kimlik doğrulama için oluşturun ve oturum açın, ihtiyacımız olan kimlik doğrulama belgelerini sağlamanız gerekir (örneğin, kimlik ve adres kanıtı).</p>
                                    </div>
                                </div>
                            </div>



                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">MT5'te hangi emtiaları takas edebilirim？</h4>
                                    <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a1collapse1" class="panel-collapse collapse">
                                    <div class="panel-body gray">
                                        <p>
                                            MT5 ticaret terminalinde, döviz, emtialar, menkul kıymet endeksleri, değerli metal CFD'leri ve enerji CFD'leri dahil olmak üzere Noble Sky'ın tüm emtialarını alıp satabilirsiniz.                              </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><div class="container metatrader top80 hidden-xs hidden-sm hidden-l-sm">
            <div class="row">
                <div class="col-md-12">
                    <h2><i class="tfxfont3 xmMobile-devices sm red"></i> Şunlar için de geçerlidir</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="feature-item7 noborder">
                    <router-link to="/mt5" class="device">
                        <i class="tfxfont3 xmPc"></i>
                        <p class="text-center top20">
                            PC sistemi MT5                </p>
                    </router-link>
                </div>


                <div class="feature-item7 noborder">
                    <router-link to="/mt5-webtrader" class="device">
                        <i class="tfxfont3 xmLaptop"></i>
                        <p class="text-center top20">
                            MT5 WebTrader                </p>
                     </router-link>
                </div>
                <div class="feature-item7 noborder">
                    <router-link to="/mt5-ipad" class="device">
                        <i class="tfxfont3 xmIpad"></i>
                        <p class="text-center top20">
                            iPad sistemi MT5                </p>
                     </router-link>
                </div>
                <div class="feature-item7 noborder">
                    <router-link to="/mt5-iphone" class="device">
                        <i class="tfxfont3 xmIphone"></i>
                        <p class="text-center top20">
                            iPhone sistemi MT5                </p>
                     </router-link>
                </div>
                <div class="feature-item7 noborder">
                    <router-link to="/mt5-android" class="device">
                        <i class="tfxfont3 xmAndroid-phone"></i>
                        <p class="text-center top20">
                            Android sistemi MT5                </p>
                     </router-link>
                </div>
                <!-- <div class="feature-item7 noborder">
                    <router-link to="/mt5">
                        <i class="tfxfont3 xmAndroid-tablet"></i>
                        <p class="text-center top20">
                            Android sistemi MT5                </p>
                    </router-link>
                </div> -->
            </div>

            </div>
            <div class="container metatrader hidden-xs hidden-sm hidden-l-sm">
                <div class="row top50">
                    <div class="col-md-12">
                        <h2><i class="tfxfont3 xmZoom sm red"></i> açık MetaTrader 5 (MT5)</h2>
                        <p>Genellikle MT5 olarak da adlandırılan çevrimiçi ticaret platformu MetaTrader 5, iyi bilinen MetaTrader 4'ün (MT4) yükseltilmiş bir versiyonudur. oradan<em>MetaQuotes Software Corp.</em>Geliştirme，2010'da bir beta sürümü yayınlandı. Uzun yıllar， <em>MetaQuotes</em>Geliştirme, test etme ve iyileştirmeye sürekli yatırım, MT5'i yeni nesil daha esnek ticaret platformları haline getirdi.</p>
                        <p>MT5'in önceki nesle göre en büyük avantajı esnekliğidir.Hepsi aynı arayüzde ve aynı ticaret hesabında olabilen birden fazla varlık sınıfının farklı ayarları aracılığıyla esnek bir şekilde daha fazla ticari ürün sağlayabilir. İşlemde.</p>
                        <p>MetaTrader 5 (MT5), iyi bilinen grafik paketleri ve otomatik ticaret olanaklarını yepyeni bir seviyeye taşıyor. Tüm MetaTrader 4 (MT4) işlevleri, tüccarların çeşitli varlık sınıflarında birden fazla emtia işlemi yapmalarını desteklemek için tamamen korunmuş ve daha karmaşık bir arka uç altyapısına yükseltilmiştir.</p>
                        <div class="row top30"></div>
                        <h3>MT5 üzerinden çoklu varlık ticareti</h3>
                        <div class="row top30"></div>
                        <p>
                            MT5, çevrimiçi yatırımcılara<a href="http://crm.hknstpm.com:9999/#">Döviz</a>(Döviz ticareti), hisse senedi endeksleri, değerli metaller, fark için emtia sözleşmeleri (CFD'ler) ve diğer varlık sınıfları alım satım seçenekleri.                </p>
                        <p>İster yeni başlayan, ister kıdemli ister profesyonel bir çevrimiçi tüccar olsun, MT5 bunun için yalnızca işlem düzeyinde değil, aynı zamanda yatırımcıların farklı pazarlarda ve farklı varlık sınıflarında daha net bir görüşe sahip olmalarına da olanak tanıyan yeni bir vizyon açtı. Farkındalık.</p>
                        <p>Ek olarak, 21. yüzyılda, çevrimiçi yatırımcıların çeşitli finansal varlıkları tek bir hesaptan alıp satabilmeleri, onlara stratejik varlık tahsisi (veya varlık yönetimi) avantajı sağlar ve ana amacı, yatırım sermayesini çeşitli yatırımcılara tahsis etmektir. Varlıklarda ve piyasa dalgalanmalarına ve riskleri yönetmek için bu varlıkların kısa vadeli veya uzun vadeli performansına dayalıdır.</p>
                        <div class="row top30"></div>
                        <h3>MT5 çevrimiçi ticaretin avantajları</h3>
                        <div class="row top30"></div>
                        <p>MT5 çok işlevli platformu güçlü performans içerir. Hepsi en ileri teknolojiyle geliştirilmiştir. Çeşitli ana standartlar korunur. Yeri doldurulamaz simge paketi, otomatik ticaret (algoritmik ticaret) olasılığı ve esnekliği Bir tür pazar desteği.</p>
                        <p>Yeni başlayanlar ve deneyimli tüccarlar için MT5, platformun performansının ve işlevlerinin bugün herhangi bir çevrimiçi yatırımcının en yüksek beklentilerini karşılamasını sağlar. Çeşitli bekleyen emir türleri dahil (limit fiyatı satın al, zararı durdur, satış limit fiyatı, satış durdur fiyatı, zarar durdurma limit fiyatı satın al ve zarar durdurma limit fiyatını sat); sınırsız sayıda işlem Sipariş veritabanı ve en gelişmiş programlama dili MQL5, yatırımcıların kişisel ticaret tercihlerine ve finansal varlık alım satım tercihlerine uygun programları ve göstergeleri düzenlemelerine olanak tanır.</p>
                        <div class="row top30"></div>
                        <h3>Mobilde MT5 ile ticaret</h3>
                        <div class="row top30"></div>
                        <p>MT5 uygulaması iOS ve Android cihazlar için uygundur ve hesabınıza her zaman ve her yerden erişebilirsiniz.Fonksiyonları arasında benzersiz mobil grafikler, 30'dan fazla yerleşik gösterge ve analiz nesneleri için 24'ten fazla teknik seçenek bulunur.</p>
                    </div>
                </div>
            </div>


        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

  if(this.curLanguage!=3){
      let pName = this.$route.name.substring(0,this.$route.name.length-2)
      let pNameStr = pName + languageCode[this.curLanguage]
      this.$router.push({name:pNameStr});
  }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){

      let element = document.querySelectorAll(".panel-heading");



      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){


               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }


     document.documentElement.scrollTop = 0


  },



  components: {
    pageHeader,
    pageFooter
  },


  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     }
  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }

   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }
   .img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
       display: block;
       max-width: 100%;
       height: auto;
   }



   .dis20 {
       height: 20px;
       clear: both;
   }


   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }

 .greenRed-btns{
    .btn{color: #fff;text-align: center;}
    .btn.btn-green{background-color: #74c109;}
    .btn.btn-green:hover{background-color: #29A643;}
    .btn.btn-red{background-color: #d51820;}
    .btn.btn-red:hover{background-color: #b30000;}
    .btn-outline{
       color: #d51820;
       border:1px solid #d51820;
       font-size: 24px;
       padding: 8px 18px !important;
    }
    .btn-outline:hover{
      background-color: #d51820;
      color: #fff;
    }

 }
.greenRed-btns .btn.btn-red {
    font-size: 24px;
    padding: 10px 20px !important;
}

.greenRed-btns .btn.btn-green {
    font-size: 30px;
    padding: 15px 20px !important;
}
.btn-a-box{text-align: center;padding-top: 50px;}
.btn-a{
  display: inline-block;
  width: 450px;
  background-color: #74c109;
  color: #fff;
  font-size: 24px;
  padding:10px 20px;
}
.btn-a:hover{background-color: #29A643;}
.btn-a.download-btn{background-color: #d51820;}
.btn-a.download-btn:hover{background-color:#b30000 ;}





   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }

    #tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
        font-size: 50px;
        margin-top: -25px;
        margin-left: 0;
        right: 20px;
    }
    .collapse {
        display: block;
    }
   .tab-pane .dis30{height: 50px;}
   .panel-collapse.showFlag{display: none;}

   footer{height: 300px;background-color: #333;text-align: center;}
   footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

</style>
