<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">Gecelik pozisyon</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">Gecelik pozisyon</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>Bize Ulaşın</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <h2 class="top80">NOBLE SKY'nin Devrilişi</h2>
            <div class="row text-center feature-icons">
              <div class="feature-item4">
                <i class="tfxfont3 xmArrow-circle fs100 red"></i>
                <p>Rekabetçi takas oranları</p>
              </div>
              <div class="feature-item4">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p>Şeffaf gecelik faiz</p>
              </div>
              <div class="feature-item4 hidden-xs">
                <i class="tfxfont3 xmStrategy fs100 red"></i>
                <p>3Günlük devir stratejisi</p>
              </div>
              <div class="feature-item4 hidden-xs">
                <i class="tfxfont3 xmPercent fs100 red"></i>
                <p>Mevcut faiz oranına göre</p>
              </div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <p>
                    <br>NOBLE SKY'de döviz, bireysel hisse senetleri, emtialar, değerli metaller, enerji ve hisse senedi endeksleri ticareti yapın.</p></div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">Hesap oluştur</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row">
              <div class="col-md-12">
                <h2>Gecelik faiz</h2>
                <p>Gece tutulan pozisyonlar için gecelik faiz uygulanabilir. Döviz emtiaları için miktar, uzun veya kısa pozisyonlara artı döviz çiftleri arasındaki faiz oranı farkına bağlıdır. Ancak hisse senetleri ve hisse senedi endeksleri açısından sadece kısa veya uzun pozisyonlara bağlıdır.</p>
                <p>Lütfen sadece spot emtiaların gecelik faiz tahakkuk ettireceğini unutmayın. Vadeli işlem emtialarının yalnızca bir son kullanma tarihi vardır ve gecelik faizi yoktur.</p>
                <h2 class="top80">Rollover hakkında</h2>
                <p>Rollover teslimi, bir pozisyon açma teslimat tarihini uzatma eylemidir (örneğin, yürütülen bir işlemin teslimat tarihi). Döviz piyasası, tüm spot işlemlerin iki iş günü içerisinde tamamlanmasına izin verir.</p>
                <p>Ancak, marjlı emtia ticaretinde fiziki teslimat olmadığı için tüm açık pozisyonlar her günün sonunda (22:00 GMT) kapatılmalı ve bir sonraki işlem gününde yeniden açılmalıdır. Bu mekanizma nedeniyle, sözde gecelik faiz üretilir.</p>
                <p>Gecelik faiz, gecelik faiz sözleşmesine dayanmaktadır. Tüccarlar için maliyet veya fayda olabilir. NOBLE SKY, pozisyonu fiilen kapatıp yeniden açmayacak, ancak mevcut faiz oranına göre ticaret hesabına gecelik faiz ekleyecektir.</p>
                <h2 class="top80">NOBLE SKYE rtelenmiş ödeme politikası</h2>
                <p>NOBLE SKY, işlem gününde saat 22:00 GMT kapanış saatinden sonra tutulan pozisyonlar için, tüm müşterilere en uygun gecelik faiz oranını sağlamayı ve bunu işlem hesabında sunmayı garanti eder.</p>
                <p>Pazar Cumartesi ve Pazar günleri kapalı olsa da, banka yine de hafta sonu pozisyonlarına olan faizi hesaplayacak. Bu açığı düzeltmek için NOBLE SKY, her Çarşamba 3 günlük gecelik faiz uygulanmasını şart koşuyor.</p>
                <h2 class="top80">Rollover'ı hesapla</h2>
                <h3>
                  <strong>Döviz ve spot değerli metaller (altın ve gümüş)</strong></h3>
                <div class="dis10"></div>
                <p>Döviz ve spot değerli metallerin gecelik faiz oranı, spot teslimat oranına bağlıdır (yarın ve yarından sonraki gün) ve NOBLE SKY primini içerir。
                  <strong>Hemen teslim</strong>Oran, para birimleri arasındaki faiz oranı farkına bağlıdır，NOBLE SKY
                  <strong>Olanaksız</strong>Keyfi kontrol。</p>
                <div class="dis10"></div>
                <div class="section-box small" style="font-size: 14px;">
                  <p>
                    <strong>
                      <u>Örneğin：</u>
                    </strong>
                  </p>Örneğin: USDJPY döviz çifti ticareti yapıyorsunuz ve spot teslimat oranı aşağıdaki gibidir：
                  <br>Uzun pozisyon+0.5%
                  <br>Kısa pozisyon-1.5%
                  <br>Bu ayar altında, Birleşik Devletler'deki faiz oranı Japonya'dakinden daha yüksektir. Bu döviz çiftinde uzun pozisyonların gecelik faizi +% 0,5 -NOBLE SKY prim olacaktır.
                  <br>Tersine, açık pozisyon% -1,5 -NOBLE SKY primi olarak hesaplanır.</div>
                <div class="dis10"></div>
                <p>Hesaplama yöntemi aşağıdaki gibidir：</p>
                <div class="red section-box small" style="font-size: 14px;"><strong>İşlem boyutu X（+/- Spot dağıtım oranı - NOBLE SKY Ödül）*</strong></div>
                <div class="dis10 "></div>
                <p>yukarıda belirtilen<strong>+/-</strong>Döviz çiftleri arasındaki faiz oranı farkına bağlıdır.</p>
                <small>*Tutar, teklif para biriminde sunulur.</small>
                <div class="dis20 "></div>
                <h3><strong>Hisse senetleri ve hisse senedi endeksleri</strong></h3>
                <div class="dis10 "></div>
                <p>Hisse senetleri ve hisse senedi endeksi emtialarının gecelik faiz oranı, hisse senetlerinin veya hisse senedi endekslerinin bankalar arası borç verme oranına göre belirlenir (örneğin, Avustralya'da listelenen menkul kıymetler, yani Avustralya bankaları arasındaki kısa vadeli kredi faiz oranı kullanılır) ve uzun ve kısa pozisyonlara dayanır +/- NOBLE SKY Ödül.</p>
                <div class="dis10 "></div>
                <div class="section-box small " style="font-size: 14px; ">
                <p><strong><u>Örneğin：</u></strong></p>
                Örneğin：Unilever'i (Birleşik Krallık'ta listelenen hisse senedi) satın alırsınız ve İngiltere'deki kısa vadeli bankalar arası teklif oranı% 1,5'tir. Uzun pozisyondaki gecelik faizin hesaplama yöntemi aşağıdaki gibidir：<br>-1.5%/365 – NOBLE SKY Günlük prim<br>Tersine, kısa pozisyon +% 1,5 / 365-NOBLE SKY günlük prim olarak hesaplanır。            </div>
                <div class="dis10 "></div>
                <p>Günlük oran aşağıdaki şekilde hesaplanır：</p>
                <div class="red section-box small " style="font-size: 14px; ">
                  <strong>İşlem boyutu X kapanış fiyatı X (+/- kısa vadeli bankalar arası teklif oranı - NOBLE SKY primi)</strong></div>
                <div class="dis10"></div>
                <p>yukarıda belirtilen
                  <strong>+/-</strong>Ticari emtianın kısa veya uzun pozisyonuna bağlıdır.</p>
                <h2 class="top80">Teslimat planlayın</h2>
                <p>İşlem gününün başlangıç ​​ve bitiş saati 22:00 GMT'dir. 22:00 GMT saatinden sonra alınan tüm siparişler bir gecede tutulur ve gecelik faiz eklenir. Ancak 22: 01'den sonra, yeni pozisyon bu spesifikasyon dahilinde değildir. Tersine, 21: 59'da bir pozisyon açarsanız, gecelik faiz 22: 00'dan hemen sonra hesaplanacaktır. GMT saatiyle 22: 00'da açılan tüm pozisyonlar için, bir saat içinde işlem hesabında gecelik faiz gösterilecektir.</p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

 if(this.curLanguage!=3){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap>footer{height: 300px;background-color: #333;text-align: center;}
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

  p {
    margin-bottom: 2em;
  }
</style>
