<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">Değerli metaller</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">Değerli metaller</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>Bize Ulaşın</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container top60 hidden-xs">
            <ul class="nav-flexbox-tabs">
              <li>
                <router-link to='/tr/forex-trading'>Döviz</router-link>
              </li>
             <!-- <li>
                <router-link to='/stocks'>Hisse Senedi CFD'si</router-link>
                <a href="https://www.noblesky.com/cn/stocks">Hisse Senedi CFD'si</a></li> -->
              <!-- <li>
                <router-link to='/tr/commodities'>Emtia</router-link>
               </li>
              <li>
                <router-link to='/tr/equity-indices'>Menkul Kıymetler Endeksi</router-link>
              </li> -->
              <li class="active">
                <router-link to='/tr/precious-metals'>Değerli metaller</router-link>
              </li>
              <li>
                <router-link to='/tr/energies'>enerji</router-link>
              </li>
              <!-- <li>
                <router-link to='/shares'>Stok</router-link>
                <a href="https://www.noblesky.com/cn/shares">Stok</a></li> -->
            </ul>
            <div class="dis15"></div>
          </div>
          <div class="dis50 visible-sm"></div>
          <div class="container hidden-xs">
            <h2 class="top30">NOBLE SKY değerli metal ticaretinin avantajları</h2>
            <div class="row text-center top50">
              <div class="feature-item6">
                <i class="tfxfont3 xmGold fs100 red"></i>
                <p class="top30">Çevrimiçi altın ve gümüş
                  <br>Tekrarlanan alıntı yok</p></div>
              <div class="feature-item6">
                <i class="tfxfont3 xmDollar-bag fs100 red"></i>
                <p class="top30">Döviz dışındaki kaliteli yatırımlar</p></div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p class="top30">Likit pazarı</p></div>
              <div class="feature-item6 hidden-xs hidden-md">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p class="top30">Aynı hesapta uzun / kısa çalışın</p></div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmLeverage-100 fs100 red"></i>
                <p>100: 1'e kadar kaldıraç</p>
              </div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmPercent fs100 red"></i>
                <p class="top30">Sıfır işlem ücreti</p></div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <p>
                    <br>NOBLE SKY'de döviz, bireysel hisse senetleri, emtialar, değerli metaller, enerji ve hisse senedi endeksleri ticareti yapın.</p></div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">Hesap oluştur</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row">
              <div class="col-md-12">
                <h2>Değerli metaller – Yaymak / durum</h2></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3>Değerli metaller</h3>
                <ul id="tabs4" class="nav nav-tabs top20" role="tablist">
                  <li :class="{active:tableIndex===0}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex(0)">Standart hesap</a></li>
                  <!-- <li :class="{active:tableIndex===1}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(1)">Mikro hesap</a></li> -->
                  <!-- <li :class="{active:tableIndex===2}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(2)">NOBLE SKY Ultra Low StandardHesap</a></li>
                  <li :class="{active:tableIndex===3}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(3)">NOBLE SKY Ultra Low MicroHesap</a></li> -->
                </ul>
                <div id="tabContent" class="tab-content" >
                  <div class="tab-pane active" id="standard" v-if="tableIndex===0">
                    <div class="dis30"></div>
                    <div class="table-wrap">
                      <div id="DataTables_Table_0_wrapper" style="padding-bottom:2em;" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_0_length">
                          <label>Hava atmak
                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>emtia</label>
                        </div>
                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                          <label>aramak
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_0"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th colspan="1" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 118px;" aria-sort="ascending" aria-label="Döviz çifti: activate to sort column descending">Döviz çifti</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 96px;" aria-label="Minimum dalgalanma aralığı: activate to sort column ascending">Minimum dalgalanma
                                <br>Genlik</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 83px;" aria-label="Kadar düşük yayıldı***: activate to sort column ascending">Yaymak
                                <br>Kadar düşük***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 124px;" aria-label="Ortalama yayılma***: activate to sort column ascending">Ortalama yayılma***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 136px;" aria-label="Gecelik faiz(Puanlar)**: activate to sort column ascending">Gecelik faiz
                                <br>(Puanlar)**</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 136px;" aria-label="Satış emirlerine gecelik faiz(Puanlar)**: activate to sort column ascending">Satış emirlerine gecelik faiz
                                <br>(Puanlar)**</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 89px;" aria-label="1El değeri: activate to sort column ascending">1El değeri</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 127px;" aria-label="Kar ve zarar mesafesini durdurun*: activate to sort column ascending">Kar ve zarar mesafesini durdurun*</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">GOLD</td>
                              <td>0.01</td>
                              <td>0.3</td>
                              <td>0.45</td>
                              <td>-9.74</td>
                              <td>-5.58</td>
                              <td>100 oz</td>
                              <td>1</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">SILVER</td>
                              <td>0.001</td>
                              <td>0.03</td>
                              <td>0.045</td>
                              <td>-1.28</td>
                              <td>-0.6</td>
                              <td>5000 oz</td>
                              <td>0.14</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">显示 1 den 2 ，Toplamda 2 sayfa</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">Önceki</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">Sonraki adım</a></div>
                      </div>
                    </div>
                    <div class="top80 row">
                      <div class="col-sm-12">
                        <p>
                          <b>Minimum / maksimum ticaret lotları:</b>0.01/50(MT5)</p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="micro" v-if="tableIndex===1">
                    <div class="dis30"></div>
                    <div class="table-wrap">
                      <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_1_length">
                          <label>Hava atmak
                            <select name="DataTables_Table_1_length" aria-controls="DataTables_Table_1" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>emtia</label>
                        </div>
                        <div id="DataTables_Table_1_filter" class="dataTables_filter">
                          <label>aramak
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_1"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th colspan="1" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" style="width: 0px;" aria-sort="ascending" aria-label="Döviz çifti: activate to sort column descending">Döviz çifti</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" style="width: 0px;" aria-label="Minimum dalgalanma aralığı: activate to sort column ascending"> dalgalanma
                                <br>Genlik</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;" aria-label="Kadar düşük yayıldı***: activate to sort column ascending">Kadar düşük yayıldı
                                <br>Kadar düşük***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;" aria-label="Ortalama yayılma***: activate to sort column ascending">Ortalama yayılma***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;" aria-label="Gecelik faiz(Puanlar)**: activate to sort column ascending">Gecelik faiz
                                <br>(Puanlar)**</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;" aria-label="Satış emirlerine gecelik faiz(Puanlar)**: activate to sort column ascending">Satış emirlerine gecelik faiz
                                <br>(Puanlar)**</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" style="width: 0px;" aria-label="1 Lot değeri: activate to sort column ascending">1 Lot değeri</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" style="width: 0px;" aria-label="Kar ve zarar mesafesini durdurun*: activate to sort column ascending">Kar ve zarar mesafesini durdurun*</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">GOLDmicro</td>
                              <td>0.01</td>
                              <td>0.3</td>
                              <td>0.35</td>
                              <td>-9.74</td>
                              <td>-5.58</td>
                              <td>1 oz</td>
                              <td>1</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">SILVERmicro</td>
                              <td>0.001</td>
                              <td>0.03</td>
                              <td>0.035</td>
                              <td>-1.28</td>
                              <td>-0.6</td>
                              <td>50 oz</td>
                              <td>0.14</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Görüntüle 1 den 2 ，Toplamda 2 sayfa</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_1" data-dt-idx="0" tabindex="0" id="DataTables_Table_1_previous">Önceki</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_1" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_1" data-dt-idx="2" tabindex="0" id="DataTables_Table_1_next">Sonraki adım</a></div>
                      </div>
                    </div>
                    <div class="top80 row">
                      <div class="col-sm-12">
                        <p>
                          <b>Minimum / maksimum ticaret lotları:</b>0.1/100(MT5)</p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane " id="ultraLowStandard" v-if="tableIndex===2">
                    <div class="dis30"></div>
                    <div class="table-wrap">
                      <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_2_length">
                          <label>Hava atmak
                            <select name="DataTables_Table_2_length" aria-controls="DataTables_Table_2" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>emtia</label>
                        </div>
                        <div id="DataTables_Table_2_filter" class="dataTables_filter">
                          <label>aramak
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_2"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_2" aria-describedby="DataTables_Table_2_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th colspan="1" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" style="width: 0px;" aria-sort="ascending" aria-label="Döviz çifti: activate to sort column descending">Döviz çifti</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" style="width: 0px;" aria-label="Minimum dalgalanma aralığı: activate to sort column ascending"> dalgalanma aralığı
                                <br>Genlik</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 0px;" aria-label="Kadar düşük yayıldı***: activate to sort column ascending">Yaymak
                                <br>Kadar düşük***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 0px;" aria-label="Ortalama yayılma***: activate to sort column ascending">Ortalama yayılma***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 0px;" aria-label="Gecelik faiz(Puanlar)**: activate to sort column ascending">Gecelik faiz
                                <br>(Puanlar)**</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 0px;" aria-label="Satış emirlerine gecelik faiz(Puanlar)**: activate to sort column ascending">Satış emirlerine gecelik faiz
                                <br>(Puanlar)**</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" style="width: 0px;" aria-label="1Lot değeri: activate to sort column ascending">1Lot değeri</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" style="width: 0px;" aria-label="Kar ve zarar mesafesini durdurun*: activate to sort column ascending">Kar ve zarar mesafesini durdurun*</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">GOLD#</td>
                              <td>0.01</td>
                              <td>0.2</td>
                              <td>0.25</td>
                              <td>-9.74</td>
                              <td>-5.58</td>
                              <td>100 oz</td>
                              <td>0.5</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">SILVER#</td>
                              <td>0.001</td>
                              <td>0.022</td>
                              <td>0.025</td>
                              <td>-1.28</td>
                              <td>-0.6</td>
                              <td>5000 oz</td>
                              <td>0.04</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite">Görüntüle 1 den 2 ，Toplamda 2 sayfa</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_2_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_2" data-dt-idx="0" tabindex="0" id="DataTables_Table_2_previous">Önceki</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_2" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_2" data-dt-idx="2" tabindex="0" id="DataTables_Table_2_next">Sonraki adım</a></div>
                      </div>
                    </div>
                    <div class="top80 row">
                      <div class="col-sm-12">
                        <p>
                          <b>Minimum / maksimum ticaret lotları:</b>0.1/50(MT5)</p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="ultraLowMicro" v-if="tableIndex===3">
                    <div class="dis30"></div>
                    <div class="table-wrap">
                      <div id="DataTables_Table_3_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_3_length">
                          <label>goster
                            <select name="DataTables_Table_3_length" aria-controls="DataTables_Table_3" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>emtia</label>
                        </div>
                        <div id="DataTables_Table_3_filter" class="dataTables_filter">
                          <label>aramak
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_3"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_3" aria-describedby="DataTables_Table_3_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th colspan="1" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" style="width: 0px;" aria-sort="ascending" aria-label="Döviz çifti: activate to sort column descending">Döviz çifti</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" style="width: 0px;" aria-label="Minimum dalgalanma aralığı: activate to sort column ascending">Minimum dalgalanma
                                <br>Genlik</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="Kadar düşük yayıldı***: activate to sort column ascending">Yaymak
                                <br>Kadar düşük***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="Ortalama yayılma***: activate to sort column ascending">Ortalama yayılma***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="Gecelik faiz(Puanlar)**: activate to sort column ascending">Gecelik faiz
                                <br>(Puanlar)**</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="Satış emirlerine gecelik faiz(Puanlar)**: activate to sort column ascending">Satış emirlerine gecelik faiz
                                <br>(Puanlar)**</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" style="width: 0px;" aria-label="1Lot değeri: activate to sort column ascending">1Lot değeri</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" style="width: 0px;" aria-label="Kar ve zarar mesafesini durdurun*: activate to sort column ascending">Kar ve zarar mesafesini durdurun*</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">GOLDm#</td>
                              <td>0.01</td>
                              <td>0.2</td>
                              <td>0.25</td>
                              <td>-9.74</td>
                              <td>-5.58</td>
                              <td>1 oz</td>
                              <td>0.5</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">SILVERm#</td>
                              <td>0.001</td>
                              <td>0.022</td>
                              <td>0.025</td>
                              <td>-1.28</td>
                              <td>-0.6</td>
                              <td>50 oz</td>
                              <td>0.04</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_3_info" role="status" aria-live="polite">Görüntüle 1 den 2 ，Toplamda 2 sayfa</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_3_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_3" data-dt-idx="0" tabindex="0" id="DataTables_Table_3_previous">Önceki</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_3" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_3" data-dt-idx="2" tabindex="0" id="DataTables_Table_3_next">Sonraki adım</a></div>
                      </div>
                    </div>
                    <div class="top80 row">
                      <div class="col-sm-12">
                        <p>
                          <b>Minimum / maksimum ticaret lotları:</b>0.1/50(MT5)</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container ">
            <div class="row">
              <div class="col-sm-12">
                <p>Altın ve gümüş için marj gereksinimlerini hesaplamanın formülü aşağıdaki gibidir: lot büyüklüğü * sözleşme büyüklüğü * piyasa fiyatı / kaldıraç.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p>
                  <strong>altın &amp; Gümüş işlem saatleri
                    <br>(GMT + 2 saat dilimi, lütfen gün ışığından yararlanma saati olabileceğini unutmayın)</strong>
                  <br>
                  <i class="fa fa-clock-o red"></i>Pazartesi gününde – Perşembe: 01:05 – 23:55
                  <br>
                  <i class="fa fa-clock-o red"></i>Cuma: 01:05 – 23:50</p></div>
            </div>
            <div class="dis80"></div>
            <!-- <div class="row">
              <div class="col-md-12">
                <h3>Diğer değerli metaller</h3>
                <ul id="tabs3" class="nav nav-tabs top20" role="tablist">
                  <li :class="{active:tableIndex2===0}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex2(0)">Fark için sözleşme CFDs</a></li>
                  <li :class="{active:tableIndex2===1}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex2(1)">işlem saati</a></li>
                  <li :class="{active:tableIndex2===2}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex2(2)">takvim</a></li>
                </ul>
                <div id="tabContent" class="tab-content" >
                  <div class="tab-pane active" id="futures" v-if="tableIndex2===0">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_4_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_4_length">
                          <label>Hava atmak
                            <select name="DataTables_Table_4_length" aria-controls="DataTables_Table_4" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>emtia</label>
                        </div>
                        <div id="DataTables_Table_4_filter" class="dataTables_filter">
                          <label>aramak
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_4"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_4" aria-describedby="DataTables_Table_4_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 97px;" aria-sort="ascending" aria-label="Emtia kodu: activate to sort column descending">Emtia kodu</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 78px;" aria-label="Emtia genel bakışı: activate to sort column ascending">Emtia genel bakışı</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 78px;" aria-label="Minimum dalgalanma aralığı: activate to sort column ascending">Minimum dalgalanma
                                <br>Genlik</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 112px;" aria-label="Minimum fiyat dalgalanması: activate to sort column ascending">Minimum fiyat dalgalanması</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 43px;" aria-label="En düşük yayılma: activate to sort column ascending">Yaymak
                                <br>en düşük</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 118px;" aria-label="1Lot değeri: activate to sort column ascending">1Lot değeri</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 155px;" aria-label="Minimum / maksimum ticaret lotları: activate to sort column ascending">Minimum / maksimum ticaret lotları</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 95px;" aria-label="Marj oranı: activate to sort column ascending">Marj oranı</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 104px;" aria-label="Kar ve zarar mesafesini durdurun*: activate to sort column ascending">Kar ve zarar mesafesini durdurun*</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">PALL</td>
                              <td>Palladium</td>
                              <td>0.01000</td>
                              <td>USD 0.1</td>
                              <td>4</td>
                              <td>10 Troy ounces</td>
                              <td>1/45</td>
                              <td>4.5 %</td>
                              <td>10</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">PLAT</td>
                              <td>Platinum</td>
                              <td>0.01000</td>
                              <td>USD 0.1</td>
                              <td>3</td>
                              <td>10 Troy ounces</td>
                              <td>1/100</td>
                              <td>4.5 %</td>
                              <td>8</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_4_info" role="status" aria-live="polite">Görüntüle 1 den 2 ，Toplamda 2 sayfa</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_4_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_4" data-dt-idx="0" tabindex="0" id="DataTables_Table_4_previous">Önceki</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_4" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_4" data-dt-idx="2" tabindex="0" id="DataTables_Table_4_next">Sonraki adım</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="trading-hours" v-if="tableIndex2===1">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_5_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_5_length">
                          <label>Hava atmak
                            <select name="DataTables_Table_5_length" aria-controls="DataTables_Table_5" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>emtia</label>
                        </div>
                        <div id="DataTables_Table_5_filter" class="dataTables_filter">
                          <label>aramak
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_5"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_5" aria-describedby="DataTables_Table_5_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-sort="ascending" aria-label="Emtia kodu: activate to sort column descending">Emtia kodu</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="Emtia genel bakışı: activate to sort column ascending">Emtia genel bakışı</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="Sunucu zamanı: activate to sort column ascending">Sunucu zamanı</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="İş günü: activate to sort column ascending">İş günü</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="Pazar Pazartesi açılıyor: activate to sort column ascending">Pazar Pazartesi açılıyor</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="Pazar Cuma günü kapalı: activate to sort column ascending">Pazar Cuma günü kapalı</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">PALL</td>
                              <td>Palladium</td>
                              <td>GMT +3</td>
                              <td>01:05-23:55</td>
                              <td>01:05</td>
                              <td>23:10</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">PLAT</td>
                              <td>Platinum</td>
                              <td>GMT +3</td>
                              <td>01:05-23:55</td>
                              <td>01:05</td>
                              <td>23:10</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_5_info" role="status" aria-live="polite">Görüntüle 1 den 2 ，Toplamda 2 sayfa</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_5_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_5" data-dt-idx="0" tabindex="0" id="DataTables_Table_5_previous">Önceki</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_5" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_5" data-dt-idx="2" tabindex="0" id="DataTables_Table_5_next">Sonraki adım</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="calendar" v-if="tableIndex2===2">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_6_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_6_length">
                          <label>Hava atmak
                            <select name="DataTables_Table_6_length" aria-controls="DataTables_Table_6" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>emtia</label>
                        </div>
                        <div id="DataTables_Table_6_filter" class="dataTables_filter">
                          <label>aramak
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_6"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_6" aria-describedby="DataTables_Table_6_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-sort="ascending" aria-label="emtia: activate to sort column descending">emtia</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="statü: activate to sort column ascending">statü</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Feb20: activate to sort column ascending">Feb
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Mar20: activate to sort column ascending">Mar
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Apr20: activate to sort column ascending">Apr
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="May20: activate to sort column ascending">May
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Jun20: activate to sort column ascending">Jun
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Jul20: activate to sort column ascending">Jul
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Aug20: activate to sort column ascending">Aug
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Sep20: activate to sort column ascending">Sep
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Oct20: activate to sort column ascending">Oct
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Nov20: activate to sort column ascending">Nov
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Dec20: activate to sort column ascending">Dec
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Jan21: activate to sort column ascending">Jan
                                <br>21</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">Palladium
                                <br>(PALL)</td>
                              <td>Bir pozisyon açın</td>
                              <td></td>
                              <td>22/11/19</td>
                              <td></td>
                              <td></td>
                              <td>21/02/20</td>
                              <td></td>
                              <td></td>
                              <td>21/05/20</td>
                              <td></td>
                              <td></td>
                              <td>25/08/20</td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">Palladium
                                <br>(PALL)</td>
                              <td>Sadece kapatılabilir</td>
                              <td></td>
                              <td>21/02/20</td>
                              <td></td>
                              <td></td>
                              <td>21/05/20</td>
                              <td></td>
                              <td></td>
                              <td>25/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">Palladium
                                <br>(PALL)</td>
                              <td>Son kullanma tarihi</td>
                              <td></td>
                              <td>24/02/20</td>
                              <td></td>
                              <td></td>
                              <td>22/05/20</td>
                              <td></td>
                              <td></td>
                              <td>26/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">Platinum
                                <br>(PLAT)</td>
                              <td>Bir pozisyon açın</td>
                              <td></td>
                              <td></td>
                              <td>26/12/19</td>
                              <td></td>
                              <td></td>
                              <td>25/03/20</td>
                              <td></td>
                              <td></td>
                              <td>25/06/20</td>
                              <td></td>
                              <td></td>
                              <td>24/09/20</td></tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">Platinum
                                <br>(PLAT)</td>
                              <td>Sadece kapatılabilir</td>
                              <td></td>
                              <td></td>
                              <td>25/03/20</td>
                              <td></td>
                              <td></td>
                              <td>25/06/20</td>
                              <td></td>
                              <td></td>
                              <td>24/09/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">Platinum
                                <br>(PLAT)</td>
                              <td>Son kullanma tarihi</td>
                              <td></td>
                              <td></td>
                              <td>26/03/20</td>
                              <td></td>
                              <td></td>
                              <td>26/06/20</td>
                              <td></td>
                              <td></td>
                              <td>25/09/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_6_info" role="status" aria-live="polite">Görüntüle 1 den 6 ，Toplamda 6 sayfa</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_6_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_6" data-dt-idx="0" tabindex="0" id="DataTables_Table_6_previous">Önceki</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_6" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_6" data-dt-idx="2" tabindex="0" id="DataTables_Table_6_next">Sonraki adım</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="dis60"></div>
            <div class="row">
              <div class="col-md-12">
                <p>* Mevcut piyasa fiyatına göre, kar almak veya zararı durdurmak için minimum spread mesafesini ayarlayın.</p>
                <p>** Bir pozisyonu geceleyin tutarsanız, ödeyecek veya bir miktar alacaksınız, bu iki döviz çifti arasında oluşturulan faiz, yani "gecelik faiz takası". Ticaret yazılımında, "gecelik faiz takası" otomatik olarak mevduat para biriminize (hesap para birimi) dönüştürülecektir. Sistem her gün 00.00'da (GMT + 2 saat dilimi, lütfen bunun yaz saati uygulaması olabileceğini unutmayın) hesaplar ve tüm işlem birkaç dakika sürebilir. Çarşambadan Perşembeye üç kez gecelik faiz uygulanır.</p>
                <p>*** Burada gösterilen ortalama spread bir günde hesaplanır. Normal piyasa koşullarında hesaplanırlar. Ancak, siyasi belirsizlik dönemlerinde veya piyasa kapanışlarında veya düşük likiditenin olduğu hafta sonlarında önemli haber açıklamalarının yaygınlaşması nedeniyle beklenmedik olaylar piyasalarda oynaklığa ve spreadlerin genişlemesine neden olabilir. . Platformumuzda işlem yaptığınızda, Trading Point sizin komisyoncunuzdur. İşlemlerinizi ve hedge pozisyonlarınızı ve mevcut piyasa yayılımları yukarıdaki seviyeleri aşan likidite sağlayıcılarınızı eşleştireceğiz. Bununla birlikte, büyük piyasa oynaklığı veya zayıf likidite durumunda, mobil teklif sağlayıcımız tarafından sağlanan kotasyonun yayılması normal seviyeden daha yüksektir, bu nedenle Trading Point spread'i de genişletecektir.</p>
                <p>CFD'ler için marj gereksinimlerini hesaplama formülü şu şekildedir: lot büyüklüğü * sözleşme boyutu * açılış fiyatı * marj oranı. Marj gereksinimlerinin hesaplanması ve siz
                  <a href="https://www.noblesky.com/cn/account-types">Hesap</a>Kaldıraç konu dışıdır.</p>
                <p>Emtia ticaretini tek yönde yapıyorsanız, ön ödeme oranının% 100'den yüksek olması gerekir CFD kilitleme işlemlerini kullanırsanız, kilit ön ödemesi yalnızca büyük bir tek taraflı lot için ücretlendirilecektir.</p>
                <p>Takvim tarihi yalnızca referans içindir ve herhangi bir zamanda değişebilir.</p>
              </div>
            </div>
          </div>
          <div class="container top50">
            <h2>Altın ve değerli metaller ticaret pazarı</h2>
            <p>Altın ve diğer değerli metaller, ham petrol, bakır, benzin ve diğer emtialar, toplu emtia piyasasında önemli bir yere sahiptir. Hepsi sözleşmeli olarak alınıp satılan mallardır. Değerli metal sözleşmeleri vadeli, spot, vadeli ve opsiyonları içerir.</p>
            <p>Vadeli işlem sözleşmeleri ticareti için aracı, vadeli işlem borsası veya vadeli işlem piyasasıdır. Dünyanın her yerinden tüccarlar, son derece yüksek ekonomik değere ve dayanıklılığa sahip oldukları konusunda tereddüt ederek yaklaşık 50 büyük emtia ticareti yapabilirler.Altın, gümüş, platin, paladyum vb. Tüm önemli ticari varlıklardır. Asya, dünyanın en büyük değerli metal ticaret pazarıdır (Çin, Hindistan ve Singapur, bu malların ana tüccarlarıdır) ve toplu emtia işlemleri çoğunlukla Avrupa ve Amerikan şirketlerinin hakimiyetindedir. En büyük değerli metal şirketleri Kanada ve Almanya'da bulunmaktadır.</p>
            <p>Döviz çiftleri hariç、
              <a href="https://www.noblesky.com/cn/equity-indices">indeks</a>Altın ve diğer değerli metaller gibi emtia ticareti de vadeli işlemler piyasasında çok aktiftir. Hafta sonları hariç 24 saat işlem yapabilirsiniz. Genel olarak, değerli metal ticareti yapmanın iki yolu vardır: spot sözleşmeler ve vadeli sözleşmeler. Spot sözleşmeler, spot alımları ve satışları, ödemeleri ve teslimatı içerir. Vadeli sözleşmeler standart sözleşmelerdir.Her iki taraf da gelecekteki bir tarihte (teslim tarihi olarak adlandırılır) teslimat ve ödeme için her iki tarafça anlaşmaya varılan belirli miktarda değerli metal fiyatları (vadeli işlem fiyatları olarak adlandırılır) üzerinde anlaşır. Vadeli işlem ticareti, çevrimiçi ticaret emtialarının gerçek sahipliğinin olmadığı gerçeğini ifade eder.</p>
            <div class="row top30"></div>
            <h3>Altın ve değerli metal ticareti</h3>
            <div class="row top30"></div>
            <p>En çok ticareti yapılan kıymetli metaller altın, platin, paladyum ve gümüştür Bu emtiaların yüksek ticaret hacmi, ekonomik koşullardan bağımsız olarak tutulan içsel değerlerinden kaynaklanmaktadır. Son yıllarda, çevrimiçi olarak uzun vadeli yatırım ürünleri olarak değerli metaller satın alma tercihi ve hatta fiziksel mülkiyet önemli ölçüde artmıştır. Kıymetli metal ticareti, kısa vadeli yatırımlarla ilgilenenler için fırsatlar da sağlar, çünkü türevler ve döviz satış sözleşmeleri, fiyat değişiklikleri yoluyla kar elde etmenin sermaye yoğun ve basit bir yoludur.</p>
            <p>Üretim ve tüketim düzeyine bağlı çoğu emtianın aksine, altın ticareti fiyatları böyle değildir: Politik değişimin nabzını takip ederler, altının bazen güvenli liman olarak hareket etmesini sağlar. Altın, platin, paladyum ve gümüş de değerli varlıklar haline geldikçe, yatırımcılar bunları piyasa istikrarsız olduğunda bir değer deposu olarak görüyorlar.</p>
            <p>Değerli metaller piyasasında fiyat oynaklığını etkileyen ve oynaklığa neden olabilecek birkaç faktör vardır. En önemli faktörlerden biri, yatırımları doğası gereği spekülatif olan ve fiyatların yukarı veya aşağı yönde değişmesine neden olabilen küresel finans kuruluşlarıdır. Pazarı etkileyen bir diğer faktör de, son kullanıcı eğilimidir ve bu eğilim esas olarak mücevher alıcıları tarafından tetiklenmektedir: mücevher talebi, değerli metallerin piyasa fiyatını yükseltir. Ekonominin piyasa fiyatları üzerinde de etkisi vardır. Dünyanın dört bir yanındaki iyi performans gösteren ekonomilerde, servet seviyesi doğrudan altın ve diğer değerli metal mücevherlere olan taleple ilgilidir: yatırımcılar daha yüksek yatırım riskine sahip yatırım seçenekleri aradığında, bazı değerli metallerin fiyatı düşerken, diğer fiyatlar artacaktır. Ayrıca, değerli metaller dışındaki finansal varlıklara olan talepteki değişiklikler de fiyat dalgalanmalarına katkıda bulunmaktadır.</p>
            <div class="row top30"></div>
            <h3>Altın ve diğer değerli metallerin ticaret geçmişinin özeti</h3>
            <div class="row top30"></div>
            <p>Değerli metaller, özellikle altın, her zaman zenginliğin sembolü olmuştur. Tarih öncesi çağlarda altın takas için kullanılıyordu.Altın ister madeni para, külçe altın, ister sabit saflık ve ağırlıktaki külçeler biçiminde olsun, yüzyıllar boyunca değerli ve aranan bir varlık olmuştur. İlk madeni para MÖ 600 yılındaydı ve döviz (standart altın) 30 yıl boyunca kullanıldı. Oldukça iletken ve sünek bir metal olan altın, diğer elementlerle reaksiyona girmez ve kuyumculuk endüstrisinde, ticari kimyada ve elektronik tıpta kullanılır. Para birimi olarak altın, ancak 1976'dan sonra Fiat para sistemi ile değiştirildi, ancak bu güne kadar sağlam bir yatırım varlığını sürdürüyor.</p>
            <p>Altın gibi gümüş de 4.000 yıldan fazla bir süredir döviz bozdurmak için kullanılmıştır ve gümüş on dokuzuncu yüzyıla kadar devam etmiştir. Endüstriyel, ticari ve tüketici talepleri, gümüşü yatırım için güçlü bir varlık haline getirir ve gümüş vadeli işlemler gibi türevler dünya çapında farklı döviz piyasalarında işlem görür. Çevrimiçi ticaretin ortaya çıkmasıyla, yatırımcılara gümüş fiyatını almanın kolay bir yolunu sunuyor.</p>
            <p>Eski uygarlıktan beri altın ticareti ve gümüş ticareti ile karşılaştırıldığında, platin ve paladyum finans alanında daha kısa bir geçmişe sahiptir. Ancak, kıtlıkları ve yıllık üretimleri ile çeşitli endüstriyel alanlarda çeşitli kullanımları nedeniyle, bazen fiyat olarak altından daha yüksek olma eğilimindedirler ve altın fiyatının 10 katına ulaşabilirler. Platin zenginlikle ilişkilidir ve beyaz altın-platin alaşımı, Amerika kıtasını Columbus kadar erken keşfeden uygarlıktır. Avrupa'da platinden ilk kez 16. yüzyılda bahsedilmiştir.18. Yüzyıldan beri mücevherat, elektrikli makineler, kimyasallar, diş hekimliği ve hatta tıpta kullanılmaktadır.</p>
            <p>Platine benzer şekilde paladyum da teknolojide çok önemli bir rol oynar. 19. yüzyılda Avrupa'da keşfedilmesinden bu yana, paladyum için küresel talep, özellikle otomotiv endüstrisinde önemli ölçüde artmıştır, ancak aynı zamanda ilaç, elektrik ve mücevher endüstrilerinde de yaygın olarak kullanılmaktadır. Aynı zamanda bir yatırım varlığı olarak. Arz ve talep nedeniyle (yani fiyatı belirleyen piyasa), ekonomik istikrarın sürdüğü bir çağda, platin ve paladyum fiyatı altınla aynı veya hatta daha yüksek olabilir.Ekonomik istikrarsızlık dönemlerinde platin ve paladyum fiyatları altınınkinden daha düşük olacaktır. Yatırım yaparken daha istikrarlı bir değerli metal haline gelin.</p>
            <div class="row top30"></div>
            <h3>Bugün altın ve değerli metal ticareti</h3>
            <div class="row top30"></div>
            <p>1970'lerden beri döviz çiftlerine ek olarak（
              <a href="https://www.noblesky.com/cn">Döviz</a>）Enflasyon veya ekonomik / politik belirsizlik dönemlerinde portföy risk yönetimine dayalı olarak ticaret, değerli metaller en popüler yatırım malı haline geldi. Altın ve diğer değerli metallere uzun vadeli yatırım, tüm dünyada popüler bir yatırım yöntemidir.。</p>
            <p>Vadeli işlem sözleşmeleri, türev sözleşmeleridir, yani değerlerinin dayanak varlığın performansından kaynaklandığı anlamına gelir. Değerli maden vadeli işlemlerine yatırım yapmanın ana amaçlarından biri risk azaltmadır: sözleşmeli alıcıların ve satıcıların gelecekteki işlemleri sabit bir fiyat veya faiz oranı üzerinden ilerletme kabiliyetleri göz önüne alındığında, her ikisi de şiddetli veya ani fiyat değişikliklerinin artan kayıplara yol açmasını sağlayabilir.</p>
            <p>Kıymetli metal alım satımının iki yönlü olduğu söylenebilir: eğer piyasanın yükselmesi bekleniyorsa (yükselme trendi), işlem vadeli işlem sözleşmelerinin satın alınması (uzun) ve ihracat ticareti yoluyla satılabilir; ve aşağı yönlü hareket beklentisi varsa (düşüş trendi) işlem geçilebilir. Satın alma sözleşmeleri yoluyla alım satımlara girmek (kısa) ve ihracat yapmak için vadeli işlem sözleşmeleri satın. Birkaç ayrı giriş ve ihracat yapmak, yani sözleşmeyi farklı fiyatlardan girmek, tek fiyattan çıkış yapmak veya tam tersi olmak üzere birden fazla vadeli işlem sözleşmesi ticareti yapmak da mümkündür. İster yukarı ister aşağı doğru bir piyasa trendi olsun, her iki tarafın da ticaret yapabilme yeteneği, yatırımcıların kar elde etmesini sağlar.</p>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        tableIndex2:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

  if(this.curLanguage!=3){
      let pName = this.$route.name.substring(0,this.$route.name.length-2)
      let pNameStr = pName + languageCode[this.curLanguage]
      this.$router.push({name:pNameStr});
  }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleTableIndex2(val){
         this.tableIndex2 = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }



  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }
   .dis80 {
       height: 80px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}



.row {
    margin-left: -15px;
    margin-right: -15px;
}


footer{height: 300px;background-color: #333;text-align: center;}
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
  .table-wrap {
    display: contents !important;
    width: 100%;
  }

  .tab-content > .active {
    height: auto !important;
    width: auto;
  }

  .tab-content {
    height: auto !important;
  }

  .dataTables_paginate {
    height: auto !important;
  }
  p {
    margin-bottom: 2em;
  }
</style>
