<template>
		<div class="wrap">
      <pageHeader pageName="coinsTrade" @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
			<main>
          <div class="w-1200">
             <div class="add-bank-box theme-black">
                 <h3>{{language[curLanguage][1]}}</h3>
                 <div class="add-bank">
                      <el-form :model="bankInfo" :rules="rules" ref="bankInfoForm" class="demo-ruleForm">
                          <ul>

                              <li>
                                 <el-form-item :label="language[curLanguage][2]" prop="name">
                                     <el-input v-model.trim="bankInfo.name" :placeholder="language[curLanguage][3]"></el-input>
                                 </el-form-item>
                              </li>
                              <li>
                                 <el-form-item :label="language[curLanguage][4]" prop="bankName">
                                     <el-input v-model.trim="bankInfo.bankName" :placeholder="language[curLanguage][5]"></el-input>
                                 </el-form-item>
                              </li>
                              <li>
                                 <el-form-item :label="language[curLanguage][6]" prop="openBank">
                                     <el-input v-model.trim="bankInfo.openBank" :placeholder="language[curLanguage][7]"></el-input>
                                 </el-form-item>
                              </li>
                              <li>
                                 <el-form-item :label="language[curLanguage][8]" prop="bankAccount">
                                     <el-input v-model.trim="bankInfo.bankAccount" :placeholder="language[curLanguage][9]"></el-input>
                                 </el-form-item>
                              </li>
                              <!-- <li>
                                 <el-form-item label="资金密码" prop="amountPwd">
                                     <el-input v-model.trim="bankInfo.amountPwd" placeholder="请输入资金密码"></el-input>
                                 </el-form-item>
                              </li> -->

                          </ul>
                      </el-form>

                      <div class="btn-box">
                          <button @click="submitBankInfo('bankInfoForm')">{{language[curLanguage][10]}}</button>
                      </div>
                 </div>
             </div>


         </div>
			</main>
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeader.vue'
import {addBank} from '../../utils/language'
import {apiStateList} from '../../utils/result-state'
export default {
  name: "my-acount",
  data: function() {
    return {

         isLogin:false,
         curCoinType:1,
         curLanguage:2,
         language:addBank,
         userLoginInfo:'',
         tradCoinsType:null,
         cardType:null,
         coinsType:'',
         bankInfo:{
           name:'',
           bankName:'',
           openBank:'',
           bankAccount:'',
           amountPwd:''
         },
         resultStateList:apiStateList


    };
  },
  metaInfo() {
      return{
         title: this.curLanguage==1?'添加银行卡-Noble sky':'Add bank card - Noble sky',
      }
  
  },
  created(){
      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');

     this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
     this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

    this.tradCoinsType = this.$route.query.type;
    this.cardType = this.$route.query.cardType;
    this.isLogin = this.util.isLogin();
    if(!!this.isLogin){
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
    }else{
        this.$router.push({name:'login'});
        return;
    }
    this.coinsType = this.$route.query.ccode;
    this.handleCommand(this.curLanguage);
//     if(!!this.localStore.getItem('userInfo')){
//         this.userInfo = JSON.parse(this.localStore.getItem('userInfo'))
//     }else{
//         this.getUserInfo();
//     }
  },

  components: {
    pageHeader
  },
  computed: {


      rules() {



        return {

                  name:[
                    {required: true, message: this.$t("addBank.name"), trigger: 'blur'}
                  ],
                  bankName:[
                    {required: true, message: this.$t("addBank.bankName"), trigger: 'blur'}
                  ],
                  openBank:[
                    {required: true, message: this.$t("addBank.openBank"), trigger: 'blur'}
                  ],
                  bankAccount:[
                    {required: true, message: this.$t("addBank.bankAccount"), trigger: 'blur'}
                  ],
                  address:[
                    {required: true, message: this.$t("addBank.address"), trigger: 'blur'}
                  ],



          };
      }
    },
  methods: {
   getStateCodeText(code){
         let text = this.resultStateList.find(item=>{
            return item.code == code
         })
         if(this.curLanguage==1){
           return text.cn
         }else{
           return text.en
         }
   
   },
   handleCommand(command) {
         // this.$message("click on item " + command);
         switch (command) {
           case 1: {
             this.lang = "zh";
             this.$i18n.locale = this.lang;
             break;
           }
           case 2: {
             this.lang = "en";
             this.$i18n.locale = this.lang;
             break;
           }

           default:
             break;
         }
       },
   submitBankInfo(formName){

       let that = this;
       this.$refs[formName].validate((valid) => {
         if (valid) {
             const api = this.$api.url.adduserbank;

             const params = {
               Uid:this.userLoginInfo.userID,
               Token:this.userLoginInfo.session,
               Device:'web',
               BankName:this.bankInfo.bankName,
               BankId:this.bankInfo.bankAccount,
               Payee:this.bankInfo.name,
               BankAddress:this.bankInfo.openBank,
               Remarks:'',
               Currency:this.cardType
             }

              this.$axios.post(api,params)
             .then((res)=>{
                       if(res.data.code==0){

                        this.$message({
                          message:this.language[this.curLanguage][14],
                          type: "success",
                          center: true,
                          duration:2000
                        })
                        this.localStore.setItem('tradCoinFlag',true)
                        this.$router.push({name:'coinsSell',query:{type:this.tradCoinsType},params:{paymentCurrency:this.cardType,code:this.coinsType}});
                 }else{
                   let resultMsg = this.getStateCodeText(res.data.code);
                   this.$message({
                     message:this.language[this.curLanguage][13]+this.language[this.curLanguage][11]+' '+resultMsg,
                     type: "error",
                     center: true,
                     duration:2000
                   })
                 }

             }).catch((error)=>{
                 this.$message({
                   message: error,
                   type: "error",
                   center: true,
                 duration:2000
                 })
               })



         } else {
           console.log('error submit!!');
           return false;
         }
       });

   },
   changeCoinType(val){
     this.curCoinType = val;
   },
   changeLanguage(val){
     this.curLanguage = val;
     this.handleCommand(this.curLanguage);
   },
   userLogout(){
      this.$router.push({name:'login'});
   }


  }

};
</script>





<style scoped lang="scss">



.wrap{min-height: 100vh;background: #232c42;overflow: hidden;}

.add-bank-box{width:500px;margin: 100px auto;color: #aeb9d8;
   h3{font-size: 24px;color: #aeb9d8;margin-bottom: 20px;}
   .add-bank{background: #2f3b55; padding:20px 30px;border-radius: 5px;

      .btn-box{padding-top:10px;
         button{color: #fff;width: 100%;text-align: center;height: 45px;font-size: 16px;border-radius: 3px;background: #387ee2;cursor:pointer;
         -webkit-transition:all .2s ease 0s;transition:all .2s ease 0s;}
         button:hover{background: #2b71d4;}
      }

   }

}

  h4, .h4, h5, .h5, h6, .h6 {
      margin-top: 0;
      margin-bottom: 0;
  }


    ::-webkit-scrollbar{
      background:#fff;width:0;height:0;display:none;
  }
  ::-webkit-scrollbar-thumb{
      background:#fff;width:0;height:0;display:none;
  }



</style>
