<template>
		<div class="wrap">
      <pageHeader pageName="coinsTrade" @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
			<main>
          <div class="w-1200">
             <div class="coins-sell-box theme-black">
                 <h3>{{language[curLanguage][1]}}</h3>
                 <div class="buy-cell">
                      <div class="select-type">
                          <p>{{language[curLanguage][2]}}</p>
                          <span :class="{active:coinsTradType==1}" @click="selectType(1,'Actuals')" v-if="userInfo.configure.t_actuals_state==2">{{language[curLanguage][12]}}<i class="icon icon-badges" v-if="coinsTradType==1"></i></span>
                          <!-- <span :class="{active:coinsTradType==1}" @click="selectType(1)" v-if="userInfo.astate>0">{{language[curLanguage][3]}}<i class="icon icon-badges" v-if="coinsTradType==1"></i></span> -->
                          <span :class="{active:coinsTradType==2}" @click="selectType(2,'Futures')" v-if="userInfo.configure.t_futures_state==2">{{language[curLanguage][36]}}<i class="icon icon-badges" v-if="coinsTradType==2"></i></span>
                          <span :class="{active:coinsTradType==3}" @click="selectType(3,'Shares')" v-if="userInfo.configure.t_shares_state==2">{{language[curLanguage][37]}}<i class="icon icon-badges" v-if="coinsTradType==3"></i></span>
                          <span :class="{active:coinsTradType==4}" @click="selectType(4,'Other')" v-if="userInfo.configure.t_other_state==2">{{language[curLanguage][38]}}<i class="icon icon-badges" v-if="coinsTradType==4"></i></span>
                      </div>
                      <!-- <p v-if="paymentType!=1">{{defaultSystemCoin}}{{language[curLanguage][4]}}:&nbsp;{{curRate}} &nbsp;{{defaultCoin}}/{{defaultSystemCoin}}</p> -->
                      <!-- <p v-if="!!rateFlag">{{coinsType}}{{language[curLanguage][4]}}:&nbsp;{{curRate}} &nbsp;{{defaultCoin}}/{{coinsType}}</p> -->
                      <div class="input">
                           <p>{{language[curLanguage][5]}}</p>
                           <div class="input-cell">
                                <el-input v-model.trim="sellNum" :placeholder="tradCoinsType==2?language[curLanguage][6]:language[curLanguage][13]" @input="numberCheckTip"></el-input>
                                <div class="coins-type-group">
                                    <el-select v-model="coinsType" popper-class="select-coin-black" @change="selectCoinType">
                                      <el-option
                                        v-for="(item,index) in coinsTypeGroup[coinsTypeGroupIndex]"
                                        :key="index"
                                        :label="item"
                                        :value="item">
                                      </el-option>
                                    </el-select>
                                </div>
                                <!-- <i>{{defaultSystemCoin}}</i> -->
                                <p class="check-tip" v-if="tradTip.tip1">{{language[curLanguage][14]}}</p>
                                <p class="check-tip" v-if="tradTip.tip2">{{language[curLanguage][15]}} {{minNum}} - {{maxNum}}</p>
                                <!-- <p class="check-tip" v-if="tradTip.tip3">{{language[curLanguage][16]}}{{minNum}}</p>
                                <p class="check-tip" v-if="tradTip.tip4">{{language[curLanguage][34]}}{{maxNum}}</p> -->
                           </div>
                      </div>

                      <!-- <div class="trad-info" v-if="paymentType!=1">
                          <ul v-if="paymentType!=1">
                             <li>
                                  <span>{{language[curLanguage][7]}}</span>
                                  <i>{{sellNum==''?'0.00':tradNum}}</i>
                                  <span>{{' '+ defaultSystemCoin}}</span>
                             </li>

                          </ul>
                      </div> -->
                      <div class="select-type payment-type-box">
                          <p>{{language[curLanguage][33]}}</p>
                          <span :class="{active:paymentType==item.t_pid}" @click="selectPaymentType(item.t_pid,item.t_currency,item.t_type)" v-for="(item,index) in paymentTypeList" :key="index">{{item.t_name}}<i class="icon icon-badges"></i></span>

                      </div>
                      <div class="payment-type" v-if="paymentCategory==0">
                           <p>{{language[curLanguage][8]}}:</p>
                           <div class="bank-info" v-if='notWithdrawInfoFlag'>
                              <!-- <button>添加银行卡</button> -->

                               <router-link :to="{name:'addBankCard',query:{type:paymentType,cardType:paymentCurrency,ccode:coinsType}}">{{language[curLanguage][18]}}</router-link>
                           </div>
                           <div class="bank-info" v-if='!notWithdrawInfoFlag&&getWithdrawInfoFlag'>
                               <span>{{language[curLanguage][9]}}</span>
                               <span>{{bankInfo.t_payee || '---'}}</span>
                               <i>{{bankInfo.t_bankid || '------'}}</i>
                               <em>{{bankInfo.t_bankname || '--------'}},{{bankInfo.t_bank_address || '--------'}}</em>
                           </div>
                      </div>
                      <div class="payment-type" v-if="paymentCategory==1">
                           <p>{{language[curLanguage][8]}}:</p>
                           <div class="bank-info" v-if='notWithdrawInfoFlag'>
                              <!-- <button>添加银行卡</button> -->
                               <router-link :to="{name:'addAddress',query:{type:paymentType,currency:paymentCurrency,ccode:coinsType}}">{{language[curLanguage][19]}}</router-link>
                           </div>
                           <div class="bank-info" v-if='!notWithdrawInfoFlag&&getWithdrawInfoFlag'>
                               <span>{{language[curLanguage][20]}}</span>
                               <span>{{walletInfo.t_address || '---'}}</span>

                           </div>
                      </div>
<!--                      <div class="explain">
                          <p>请向对方收款方式中的银行卡中转入购买所需的金额，然后点击下面的上传付款凭证上传付款截图</p>
                      </div> -->

                      <div class="btn-box">
                           <!-- <button @click="addwithdraw" :disabled="isDisable" v-if="paymentType!=1">{{language[curLanguage][10]+' '}}{{defaultSystemCoin}}</button> -->
                           <button v-if="submitTimerFlag" @click="addwithdraw" :disabled="isDisable">{{language[curLanguage][10]}}</button>
                           <button v-if="!submitTimerFlag" :disabled="isDisable">{{language[curLanguage][39]}}</button>
                           <!-- <button @click="addwithdraw" :disabled="isDisable" v-if="paymentType==1">转出{{defaultSystemCoin}}</button> -->

                      </div>
                      <el-dialog
                         :title="language[curLanguage][21]"
                          :visible.sync="openCoinDialog"
                          width="30%">
                          <span style="font-size: 16px;color: #f5f5f5;">{{openCoinDialogText.text}}</span>
                          <span slot="footer" class="dialog-footer">
                            <el-button @click="openCoinDialog = false">{{openCoinDialogText.btn1}}</el-button>
                            <el-button type="primary" @click="tradCoinsDialogConfirm(openCoinDialogText.type)">{{openCoinDialogText.btn2}}</el-button>
                          </span>
                      </el-dialog>
                 </div>
             </div>


         </div>
			</main>
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeader.vue'
import BigNumber from 'bignumber.js';
import {coinsSell} from '../../utils/language'
import {apiStateList} from '../../utils/result-state'
export default {
  name: "coinsSell",
 data: function() {
   return {
        isLogin:false,
        curCoinType:1,
        curLanguage:2,
        language:coinsSell,
        userLoginInfo:{},
        coinsTradType:1,
        sellNum:'' ,
        userInfo:{},
        coins:[],
        rateInfo:[],
        defaultCoin:'',
        defaultSystemCoin:'',
        curRate:'',
        tradTip:{
           tip1:false,
           tip2:false,
           tip3:false,
           tip4:false
        },
        openCoinDialog:false,
        openCoinDialogText:{
           text:'',
           btn1:'',
           btn2:'',
           type:1
        },
        tradNum:'',
        total:'0.00',
        bankInfo:{},
        walletInfo:{},
        notWithdrawInfoFlag:false,
        getWithdrawInfoFlag:false,
        isDisable:false,
        tradCoinsType:null,
        paymentType:0,
        paymentTypeList:[],
        paymentCurrency:null,
        coinsType:'USDT',
        coinsTypeGroup:{
          MtCurrency:'',
          Actuals:[],
          Futures:[],
          Shares:[],
          Other:[]
        },
        coinsTypeGroupIndex:'Actuals',

        rateFlag: false,
        paymentCategory:0,
        minNum:0,
        maxNum:0,
        resultStateList:apiStateList,
        coinsMtCurrency:'',
        coinsFutures:[],
        coinsActuals:[],
        coinsOther:[],
        coinsShares:[],
        submitTimerFlag:true


   };
 },
 metaInfo() {
     return{
        title: this.curLanguage==1?'出金-Noble sky':'Withdraw - Noble sky',
     }
 
 },
 created(){

      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');

     this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
     this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;
    this.isLogin = this.util.isLogin();
    if(!!this.isLogin){
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
    }else{
        this.$router.push({name:'login'});
        return;
    }

    let tradCoinFlag = false;
    let storeTradCoinFlag = this.localStore.getItem('tradCoinFlag');
    if(!!storeTradCoinFlag){
        tradCoinFlag = storeTradCoinFlag
        this.localStore.removeItem('tradCoinFlag');
    }

    if(!tradCoinFlag){
        this.$router.push({name:'coinstrad'});
    }

    this.tradCoinsType = this.$route.query.type;

   if(!!this.$route.params.code){

     this.coinsType = this.$route.params.code;
   }



    if(!!this.localStore.getItem('userInfo')){
        this.userInfo = JSON.parse(this.localStore.getItem('userInfo'))
        if(this.userInfo.configure.t_actuals_state==2){
          this.coinsTradType = 1
          this.coinsTypeGroupIndex = 'Actuals'

        }else{
          if(this.userInfo.configure.t_futures_state==2){
            this.coinsTradType = 2
            this.coinsTypeGroupIndex = 'Futures'
          }else if(this.userInfo.configure.t_shares_state==2){
            this.coinsTradType = 3
            this.coinsTypeGroupIndex = 'Shares'
          }else if(this.userInfo.configure.t_other_state==2){
            this.coinsTradType = 4
            this.coinsTypeGroupIndex = 'Other'
          }
        }
    }else{
        this.getUserInfo();
    }

    if(this.userInfo.configure.t_actuals_state<2&&this.userInfo.configure.t_futures_state<2&&this.userInfo.configure.t_shares_state<2&&this.userInfo.configure.t_other_state<2){
       this.$router.push({name:'coinstrad'});
       return
    }

    if(!!this.$route.params.paymentCurrency){
      this.paymentCurrency = this.$route.params.paymentCurrency;
    }



    this.getCoinList();

    // this.getapipaymentlist();



    if(this.sellNum!=''){
       let sellNumDp = BigNumber(this.sellNum).dp();
       this.tradNum = this.priceToString(this.sellNum,sellNumDp,2);
    }

   this.getcurrency()

 },

 components: {
   pageHeader
 },
 methods: {
   getStateCodeText(code){
         let text = this.resultStateList.find(item=>{
            return item.code == code
         })
         if(this.curLanguage==1){
           return text.cn
         }else{
           return text.en
         }
   
   },
   selectCoinType(val){

       this.defaultSystemCoin = val

       this.getapipaymentlist();
       this.getRateInfo();
   },
   getcurrency(){

      // const api = this.$api.url.getcurrencysystem;
      const api = this.$api.url.currency_info;
      const params = {
         Uid:this.userLoginInfo.userID,
         Token:this.userLoginInfo.session,
         Device:'web'
      }

      this.$axios.post(api,params)
      .then((res)=>{
          if(res.data.code==0){


                 let data = JSON.parse(res.data.data)
                 // this.coinsTypeGroup = data.in

                 this.coinsTypeGroup.MtCurrency = data.MtCurrency;
                 this.coinsTypeGroup.Actuals = JSON.parse(data.Actuals)
                 this.coinsTypeGroup.Futures = JSON.parse(data.Futures)
                 this.coinsTypeGroup.Shares = JSON.parse(data.Shares)
                 this.coinsTypeGroup.Other = JSON.parse(data.Other)

                 this.coinsType = this.coinsTypeGroup[this.coinsTypeGroupIndex][0];
                 this.getapipaymentlist();

                 // console.log(this.coinsTypeGroup)

          }else if(res.data.code==1011){

          }else{
            let resultMsg = this.getStateCodeText(res.data.code);
            this.$message({
              message:'获取可出金币种失败' + this.language[this.curLanguage][22]+resultMsg,
              type: "error",
              center: true,
              duration:2000
            })
          }

      }).catch((error)=>{
          this.$message({
            message: error,
            type: "error",
            center: true,
          duration:200000
          })
        })
   },

    changeCoinType(val){
      this.curCoinType = val;
    },
    changeLanguage(val){

      this.curLanguage = val;
    },
   priceToString(price,curDP,toDP){


      if(curDP==0&&toDP!=0){
          price += '.'
      }
      for(let i=0;i<toDP-curDP;i++){

          price+='0';
      }

      return price;
   },

   getuserbank(){

       const api = this.$api.url.getuserbank;
       const params = {
          Device:'web',
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session
       }
       this.$axios.get(api,{params:params})
       .then((res)=>{
           if(res.data.code==0){

               this.bankInfo = JSON.parse(res.data.data);
               this.notWithdrawInfoFlag = false;
           }else if(res.data.code==1000){
               this.notWithdrawInfoFlag = true

           }else if(res.data.code==1011){

               this.$refs.pageHead.logout();
               this.isLogin = false;
               this.$router.push({name:'login'});
           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:this.language[this.curLanguage][23]+ " " + this.language[this.curLanguage][22]+resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }
          this.getWithdrawInfoFlag = true
       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:2000
           })
         })
   },

   getuserwallet(){
       const api = this.$api.url.getuserwallet;
       const params = {
          Device:'web',
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session,
          Ccode:this.paymentCurrency
       }
       this.$axios.get(api,{params:params})
       .then((res)=>{

           if(res.data.code==0){
               this.walletInfo = JSON.parse(res.data.data);
               this.notWithdrawInfoFlag = false;

           }else if(res.data.code==1000){
               this.notWithdrawInfoFlag = true

           }else if(res.data.code==1011){

               this.$refs.pageHead.logout();
               this.isLogin = false;
               this.$router.push({name:'login'});
           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:this.language[this.curLanguage][24]+ " " + this.language[this.curLanguage][22]+resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }
           this.getWithdrawInfoFlag = true;

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:2000000
           })
         })
   },

    tradCoinsDialogConfirm(type){
     if(type==1||type==2){
       this.openCoinDialog = false;
       this.$router.push({name:'my',query:{type:1}});
     }else{
       this.openCoinDialog = false;
     }
   },
   addwithdraw(){

       if(this.userInfo.u_level<3){
         this.openCoinDialogText.text = this.language[this.curLanguage][29]
         this.openCoinDialogText.btn1 = this.language[this.curLanguage][30]
         this.openCoinDialogText.btn2 = this.language[this.curLanguage][31]
         this.openCoinDialogText.type = 1
         this.openCoinDialog = true
         return;
       }

       let that = this;
       let tipEndTimer=null;


       if(this.sellNum==''||BigNumber(this.sellNum).toNumber() < this.minNum||BigNumber(this.sellNum).toNumber()>this.maxNum){
          that.tradTip.tip2 = true;
          clearTimeout(tipEndTimer);
          tipEndTimer = setTimeout(()=>{
               that.tradTip.tip2 = false;
          },1000)
          return;
       }


        let numberCheckTip = this.numberCheckTip();

        if(!numberCheckTip){
            return;
        }

       const api = this.$api.url.addwithdraw;
       const params = {
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session,
          Device:'web',
          Number:this.sellNum,
          System:this.coinsTradType,
          // ccode:this.coinsType,
          Merchant:this.paymentType,
          // pay_ccode:this.paymentCurrency
       }
        this.isDisable = true;
        this.submitTimerFlag = false
        this.$axios.post(api,params)
       .then((res)=>{
           this.submitTimerFlag = true
           if(res.data.code==0){
               this.$message({
                 message:this.language[this.curLanguage][25],
                 type: "success",
                 center: true,
                 duration:2000
               })
               this.$router.push({name:'coinstrad'})

           }else if(res.data.code==2001){

               this.$refs.pageHead.logout();
               this.isLogin = false;
               // this.$router.push({name:'login'});
           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:this.language[this.curLanguage][26]+ " " + this.language[this.curLanguage][22]+resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:2000
           })
         })
      setTimeout(()=>{
          this.isDisable = false;
      },1200)
   },
   getapipaymentlist(){

      const api = this.$api.url.getapipaymentlist;

      const params = {
         Device:'web',
         Uid:this.userLoginInfo.userID,
         Token:this.userLoginInfo.session,
         Type:2,
         Currency:this.coinsType
      }
      this.$axios.get(api,{params:params})
      .then((res)=>{
          if(res.data.code==0){

             this.paymentTypeList = JSON.parse(res.data.data);


             if(this.paymentTypeList.length!=0){
                this.selectPaymentType(this.paymentTypeList[0].t_pid,this.paymentTypeList[0].t_currency,this.paymentTypeList[0].t_type);
             }




          }else if(res.data.code==1011){

              // this.$refs.pageHead.logout();
              // this.isLogin = false;
              // this.$router.push({name:'login'});
          }else{
            let resultMsg = this.getStateCodeText(res.data.code);
            this.$message({
              message:this.language[this.curLanguage][41]+ " " + this.language[this.curLanguage][22]+resultMsg,
              type: "error",
              center: true,
              duration:2000
            })
          }

      }).catch((error)=>{
          this.$message({
            message: error,
            type: "error",
            center: true,
          duration:200000
          })
        })
   },

   selectPaymentType(payType,payCurrency,category){


       this.paymentType = payType;
       this.paymentCategory = category
       this.paymentCurrency = payCurrency;

       if(category==0){
          this.getuserbank()
       }
       if(category==1){

          this.getuserwallet();
       }

       let paymentType = this.paymentTypeList.find(item=>{
           return item.t_pid == this.paymentType
       })
       this.minNum = paymentType.t_out_min;
       this.maxNum = paymentType.t_out_max;
       this.curPaymentName = paymentType.t_name;

   },
   getUserInfo(){
       const api = this.$api.url.userVerify1;
       const params = {
          Device:'web',
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session
       }
       this.$axios.get(api,{params:params})
       .then((res)=>{
           if(res.data.code==0){
               this.userInfo = JSON.parse(res.data.data);
               // this.userInfo.u_country = this.userCountry;
               this.localStore.setItem('userInfo',this.userInfo)

           }else if(res.data.code==1011){

               this.$refs.pageHead.logout();
               this.isLogin = false;
               this.$router.push({name:'login'});
           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:this.language[this.curLanguage][32]+ " " + this.language[this.curLanguage][22]+resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:2000000
           })
         })

   },

   getCoinList(){

       this.coins = [];
      const api = this.$api.url.currency_info;

      this.$axios.get(api)
      .then((res)=>{
          if(res.data.code==0){
              let _data = JSON.parse(res.data.data)

              console.log(_data);
              _data.forEach(item=>{
                  if(item.Type==1){
                     if(item.Default==1){
                        this.defaultCoin = item.Code;
                     }
                     this.coins.push(item);
                  }
                  if(item.Type==0){
                     if(item.Default==1){
                        this.defaultSystemCoin = item.Code;
                     }
                  }
              })
              console.log(this.coins);
              let data =this.coins.map((item,index)=>{
                  let value = index+1;
                  let label = decodeURI(item.Name)+'(' + item.Code + ')';
                  let label_en = item.Code+'(' + item.Code + ')';
                  console.log(label);

                  return {value:value,label:label,label_en:label_en,code:item.Code,default:item.Default}
              })
              this.coins = data;
              this.localStore.setItem('coinsList',this.coins);
              this.getRateInfo()
              // this.getuserbank();
              // if(this.paymentType==0){
              //
              // }else{
              //   this.getuserwallet();
              // }


          }else{
            let resultMsg = this.getStateCodeText(res.data.code);
            this.$message({
              message:this.language[this.curLanguage][27]+ " " + this.language[this.curLanguage][22]+resultMsg,
              type: "error",
              center: true,
              duration:2000
            })
          }
      }).catch((error)=>{
          this.$message({
            message: error,
            type: "error",
            center: true,
          duration:2000
          })
        })
   },
   getRateInfo(){
       this.rateFlag = true;
       const api = this.$api.url.rateInfo;

        this.$axios.get(api)
       .then((res)=>{
           if(res.data.code==0){


               this.rateInfo = JSON.parse(res.data.data);

               let rate =  this.rateInfo.find(item=>{
                 return item.Swap == this.defaultCoin&&item.Basic==this.coinsType;
               })
               console.log('////ccc')
               console.log(rate);

               if(!rate){
                  console.log('yyy')
                  this.rateFlag = false;
                  return
               }



               let curRate = rate.Proportion.toString();



               if(curRate.indexOf('.')<0){

                   curRate += '.'

                   for(let m=0;m<2;m++){
                       curRate += '0'
                   }

               }else{
                  let dpLength = curRate.split('.')[1].length;
                  for(let m=0;m<2-dpLength;m++){
                      curRate += '0'
                  }
               }

               this.curRate = curRate;

           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:this.language[this.curLanguage][37]+ " " + this.language[this.curLanguage][22]+resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:200000
           })
         })
   },
    numberCheckTip(val){
           const that = this;
           let tipEndTimer=null;
           let number = this.sellNum;
           let numberCopy = BigNumber(number).toNumber()
                if(!this.util.isNumber(number)){
                    this.sellNum = this.sellNum.substring(0,this.sellNum.length-1);
                    that.tradTip.tip1 = true;
                    clearTimeout(tipEndTimer);
                    tipEndTimer = setTimeout(()=>{
                         that.tradTip.tip1 = false;
                    },1000)
                    return false;
                }
                // if(numberCopy<this.minNum){
                //   that.tradTip.tip3 = true;
                //   clearTimeout(tipEndTimer);
                //   tipEndTimer = setTimeout(()=>{
                //        that.tradTip.tip3 = false;
                //   },1000)
                //   return false;
                // }
                // if(numberCopy>this.maxNum){
                //   that.tradTip.tip4 = true;
                //   clearTimeout(tipEndTimer);
                //   tipEndTimer = setTimeout(()=>{
                //        that.tradTip.tip4 = false;
                //   },1000)
                //   return false;
                // }
           let sellNumDp = BigNumber(this.sellNum).dp();
           let buyTotal = BigNumber(this.sellNum).multipliedBy(this.curRate).toNumber();
           let buyTotalDp = BigNumber(buyTotal).dp();

           this.total = this.priceToString(buyTotal,buyTotalDp,2);
           this.tradNum = this.priceToString(this.sellNum,sellNumDp,2);

           return true;
        },

   selectType(val){
      this.coinsTradType = val
   },
  getSymbolList(index){
    this.symbolTypeIndex = index;
  },
  searchFocus(){
    this.symbolSearchFocus = true;
  },
  searchBlur(){
    this.symbolSearchFocus = false;
  },
  userLogout(){
     this.$router.push({name:'login'});
  }


 }

};
</script>





<style scoped lang="scss">


.wrap{min-height: 100vh;background: #232c42;overflow: hidden;}

.coins-sell-box{width:600px;margin: 100px auto;color: #aeb9d8;
   h3{font-size: 24px;color: #aeb9d8;margin-bottom: 20px;}
   .buy-cell{background: #2f3b55; padding:20px 0;border-radius: 5px;
      &>div{padding:0 30px;}
      &>p{color: #717d9b;padding:0 30px;}
      .input{padding:15px 30px;
        p{margin-bottom: 5px;color: #7f8cac;}
      }
      .input-cell{position: relative;
        i{position: absolute;right:10px;top:50%;-webkit-transform:translate(0,-50%);transform:translate(0,-50%);color: #717d9b}
      }
      .payment-type{padding:10px 30px;
        p{margin-bottom: 5px;color: #7f8cac;}
        .bank-info{
            a{display: block;text-align: center;line-height:45px;-webkit-transition:all .2s ease 0s;transition:all .2s ease 0s;}
            a,button{color: #fff;width: 100%;height: 45px;font-size: 16px;border-radius: 3px;background: #5d6a8c;cursor: pointer;}
            a:hover{background: #4e5b7d}
        }
        span{margin-right: 10px;}
        i{font-size: 18px;color: #387ee2;}
        em{display: block;margin-top: 5px;}

      }
      .trad-info{padding:10px 30px 15px;border-bottom: 1px solid #3b455e;
         li{height: 30px;line-height: 30px;}
         span{margin-right: 10px;color: #7f8cac}

      }
      .explain{padding:10px 30px;padding-top: 15px;
         p{color:#7f8cac;padding-left: 30px;position: relative;}
         i{margin-right: 5px;color: #fff;font-size: 20px;position: absolute;left:0;top:5px;font-weight: normal;color: #04b695}
      }
      .btn-box{padding-top:10px;padding-bottom: 10px;
         a,button{display: block;color: #fff;width: 100%;text-align: center;height: 45px;line-height: 45px;font-size: 16px;border-radius: 3px;background: #387ee2;cursor: pointer;
         -webkit-transition:all .2s ease 0s;transition:all .2s ease 0s;}
         a:hover{background: #2b71d4;}
         button:hover{background: #2b71d4;}
      }

   }

  .select-type{height: 60px;margin-bottom: 30px;
      p{margin-bottom: 10px;color:#7f8cac;}
      span{float:left;width:110px;height: 40px;text-align: center;line-height: 40px;border:1px solid #7f8cac;color: #7f8cac;margin-right: 15px;cursor: pointer;position: relative;
         i{display: none;}
      }
      span.active{color: #fff;border-color: #fff;
        i{display: block;font-size: 24px;position: absolute;right:0;bottom:0;line-height: 20px;width:24px;height: 20px;overflow: hidden;color: #fff}
      }

   }
   .check-tip{position: absolute;background: #fff;color: #333;padding:10px;border-radius: 5px;bottom:35px;left:50%;line-height: 20px;
     -webkit-transform:translate(-50%,0);transform:translate(-50%,0);
   }
   .check-tip:after{
      position: absolute;content: "";width:0;height: 0;border-style:solid;border-color:transparent;
      border-width: 5px;border-bottom-width:0;border-top-color:#fff;left:calc(50% - 5px);bottom:-5px;
   }

   .select-type.payment-type-box{
     padding-top: 15px;height: 90px;margin-bottom: 15px;
   }

}

.coins-type-group{width: 100px;position: absolute;right:0;top:0;}

    ::-webkit-scrollbar{
      background:#fff;width:0;height:0;display:none;
  }
  ::-webkit-scrollbar-thumb{
      background:#fff;width:0;height:0;display:none;
  }

  h4, .h4, h5, .h5, h6, .h6 {
      margin-top: 0;
      margin-bottom: 0;
  }

</style>
