  <template>
		<div class="wrap">
      <pageHeader pageName="coinsTrade" @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
			<main>
          <div class="w-1200">

                 <div class="nav-tab-head">
                      <router-link to="/coinstrad" class="active">{{language[curLanguage][79]}}</router-link>
                      <router-link to="/my?type=1">{{language[curLanguage][77]}}</router-link>
                      <router-link to="/my?type=2">{{language[curLanguage][78]}}</router-link>
                 </div>



                 <div class="popup-div-ac theme-black" v-if="!!changeAssetDialog">
                      <ul>
                          <li>{{language[curLanguage][48]}}<i class="currency">{{changeCode}}</i></li>
                          <li>
                               <div class="cell">{{curLanguage==1?'从':''}}<i>{{inSystemType[changeFromMode]}}</i>{{language[curLanguage][49]}}</div>
                               <div class="ac-select">
                                   <el-select v-model="changeToMode" popper-class="select-coin-black" @change="selectSysMode">
                                       <el-option
                                         v-for="(item,index) in systemTradModeCopy"
                                         :key="index"
                                         :label="inSystemType[item]"
                                         :value="item"
                                         v-if="item!=changeFromMode"
                                         >
                                       </el-option>
                                   </el-select>
                               </div>
                          </li>
                          <li>
                              <span>{{language[curLanguage][50]}}</span>
                              <input type="text" v-model="assetChangeQt" />
                          </li>
                          <li>
                              <button class="cancel" @click="changeAssetDialog=false;maskFlag=false">{{language[curLanguage][24]}}</button>
                              <button @click="addtransfer">{{language[curLanguage][25]}}</button>
                          </li>
                      </ul>
                 </div>


                 <div class="popup-div-ac theme-black" v-if="!!coinsChangeDialog">
                      <ul>
                          <li>{{language[curLanguage][48]}}<i>{{changeCode}}</i></li>
                          <li>
                               <div class="cell">{{curLanguage==1?'从':''}}<i>{{changeCode}}</i>{{language[curLanguage][49]}}</div>
                               <div class="ac-select">
                                  <i>USDT</i>
                               </div>
                          </li>
                          <li>{{language[curLanguage][59]}}：<i>{{exchangePrice}}</i></li>
                          <li class="amount-input">
                              <span>{{language[curLanguage][50]}}</span>
                              <input type="text" v-model="coinsChangeQt" />
                              <i>{{changeCode}}</i>
                          </li>
                          <li>
                              <button class="cancel" @click="coinsChangeDialog=false;maskFlag=false;">{{language[curLanguage][24]}}</button>
                              <button @click="addexchange">{{language[curLanguage][25]}}</button>
                          </li>
                      </ul>
                 </div>

                 <!-- <div class="popup-div-take theme-black" v-if="!!coinsTakeDialog">
                      <table>
                           <tr v-for="(item,index) in takeList" :key="index">
                               <td>
                                   <img :src="item.t_img" />
                               </td>
                               <td>{{item.t_ccode}}</td>
                               <td>{{item.t_name}}</td>
                               <td>{{item.t_units}}</td>
                               <td></td>
                           </tr>
                      </table>
                 </div> -->




            <div class="btn-box">
                  <button @click="tradCoins(1,'USDT')">{{language[curLanguage][1]}}</button>
                  <button @click="tradCoins(2,'USDT')">{{language[curLanguage][2]}}</button>
             </div>

             <div class="table-head">
                 <span>{{language[curLanguage][51]}}</span>
             </div>

             <el-dialog
                 :title="language[curLanguage][19]"
                 :visible.sync="openCoinDialog"
                 width="30%">
                 <span style="font-size: 16px;color: #f5f5f5;">{{openCoinDialogText.text}}</span>
                 <span slot="footer" class="dialog-footer">
                   <el-button @click="openCoinDialog = false" v-if="openCoinDialogText.type!=10">{{openCoinDialogText.btn1}}</el-button>
                   <el-button type="primary" @click="tradCoinsDialogConfirm(openCoinDialogText.type)" v-if="openCoinDialogText.type!=10">{{openCoinDialogText.btn2}}</el-button>
                   <el-button type="primary" @click="openCoinDialog = false" v-if="openCoinDialogText.type==10">{{openCoinDialogText.btn2}}</el-button>
                 </span>
             </el-dialog>


             <el-dialog
                 :title="language[curLanguage][19]"
                 :visible.sync="openCoinTip"
                 width="30%">
                 <span style="font-size: 16px;color: #f5f5f5;">{{language[curLanguage][80]}}</span>
                 <span slot="footer" class="dialog-footer">
                   <el-button @click="openCoinTip = false">{{language[curLanguage][25]}}</el-button>
                 </span>
             </el-dialog>

           <!-- <el-dialog
                title="提货记录"
                :visible.sync="takeOrderDialog"
                width="1000"
                custom-class="take-dialog">
                <div class="take-order-list">
                    <table>
                        <tr>
                            <th class="Order-number">订单编号</th>
                            <th>币种</th>
                            <th>提货数量</th>
                            <th>支付数量</th>
                            <th>状态</th>
                            <th>申请时间</th>
                            <th>完成时间</th>
                        </tr>
                        <tr v-for="(item,index) in takeOrderList" :key = "index">
                            <td class="Order-number">{{item.tdid}}</td>
                            <td class="Order-number">{{item.t_number}}</td>
                            <td class="Order-number">{{item.t_pay_number}}</td>
                            <td class="Order-number">{{item.t_state}}</td>
                            <td class="Order-number">{{item.t_time}}</td>
                            <td class="Order-number">{{item.t_etime}}</td>
                        </tr>
                    </table>
                </div>
            </el-dialog> -->


              <div class="order-list" v-loading="orderList.loading"
                  element-loading-background="rgba(47, 59, 85, 0.8)">
                   <div class="tab-head">
                        <span :class="{active:orderList.state==0}" @click="handleOrderState(0)">{{language[curLanguage][5]}}</span>
                        <span :class="{active:orderList.state==1}" @click="handleOrderState(1)">{{language[curLanguage][6]}}</span>
                        <span :class="{active:orderList.state==2}" @click="handleOrderState(2)">{{language[curLanguage][7]}}</span>
                        <span :class="{active:orderList.state==3}" @click="handleOrderState(3)">{{language[curLanguage][8]}}</span>
                   </div>
                   <div class="table">
                       <table>
                           <tr>
                               <th>{{language[curLanguage][9]}}</th>
                               <th>{{language[curLanguage][10]}}</th>
                               <th>{{language[curLanguage][11]}}</th>
                               <th>{{language[curLanguage][12]}}</th>
                               <th>{{language[curLanguage][13]}}</th>
                               <th>{{language[curLanguage][14]}}</th>
                               <th>{{language[curLanguage][15]}}</th>
                               <th v-if="orderList.state==0">{{language[curLanguage][16]}}</th>
                           </tr>
                           <tr v-if="!orderList.data">
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td v-if="orderList.state==0"></td>
                           </tr>
                           <tr v-for="(item,index) in orderList.data" :key="index">
                               <td><i class="order-type" :class="{sell:item.t_type==2}">{{item.t_type==1?language[curLanguage][20]:language[curLanguage][21]}}</i><span>{{item.t_orderid}}</span></td>
                               <td>{{payState[item.t_state]}}</td>
                               <td>{{item.t_pay_number}}&nbsp;{{item.t_pay_ccode}}</td>
                               <td>{{item.t_price}}&nbsp;{{item.t_pay_ccode}}</td>
                               <td>{{item.t_number}}&nbsp;{{item.t_ccode}}{{' / ' + item.t_cost}}</td>
                               <td>{{item.t_merchant_name}}{{' / ' + inSystemType[item.t_system ]}}</td>
                               <td>{{item.t_ctime}}</td>
                               <td v-if="orderList.state==0">
                                  <div class="operation">
                                     <button @click="openOrderDialog(item.t_orderid)">{{language[curLanguage][18]}}</button>
                                     <a href="javascript:" @click="getpayfiatorder(item.t_orderid)" :class="{en:curLanguage==2}" v-if="item.t_merchant_type==2">{{language[curLanguage][17]}}</a>
                                     <router-link :to="{name:'orderUploadFile',query:{orderNum:item.t_orderid,c1:item.t_ccode,c2:item.t_pay_ccode,type:item.t_merchant,paymentCategory:item.t_merchant_type}}" :class="{en:curLanguage==2}" v-if="item.t_merchant_type!=2">{{language[curLanguage][17]}}</router-link>
                                  </div>
                               </td>
                           </tr>

                       </table>

                       <el-dialog
                           :title="language[curLanguage][19]"
                           :visible.sync="changeAssetTip"
                           width="30%">
                           <span style="font-size: 16px;color: #f5f5f5;">{{language[curLanguage][94]}}</span>

                           <span slot="footer" class="dialog-footer">
                             <el-button @click="changeAssetTip = false">{{language[curLanguage][25]}}</el-button>
                           </span>
                       </el-dialog>

                       <el-dialog
                           :title="language[curLanguage][19]"
                           :visible.sync="orderList.dialogVisible"
                           width="30%">
                           <span style="font-size: 16px;color: #f5f5f5;">{{language[curLanguage][22]}}</span>
                           <p style="margin-top: 30px;" class="closeOrderTip"><el-checkbox v-model="closeTipChecked"><span style="color: #aeb9d8;">{{language[curLanguage][23]}}</span></el-checkbox></p>
                           <span slot="footer" class="dialog-footer">
                             <el-button @click="orderList.dialogVisible = false">{{language[curLanguage][24]}}</el-button>
                             <el-button type="primary" @click="closeOrder(orderCloseID)">{{language[curLanguage][25]}}</el-button>
                           </span>
                       </el-dialog>


                       <el-dialog
                           :title="language[curLanguage][19]"
                           :visible.sync="orderList.dialogRefreshOrder"
                           width="30%">
                           <span style="font-size: 16px;color: #f5f5f5;">{{language[curLanguage][66]}}</span>

                           <span slot="footer" class="dialog-footer">
                             <el-button @click="refreshOrder">{{language[curLanguage][68]}}</el-button>
                             <el-button type="primary" @click="refreshOrder">{{language[curLanguage][67]}}</el-button>
                           </span>
                       </el-dialog>


                       <el-dialog
                           :title="language[curLanguage][69]"
                           :visible.sync="openAssetGroup.dialogFlag"
                           :close-on-click-modal = "false"
                           width="30%">
                           <div class="open-asset-cell">
                               <ul>
                                   <li>
                                       <span>{{language[curLanguage][70]}}:</span>
                                       <input type="password" v-model.trim = "openAssetGroup.pwd1" :placeholder="language[curLanguage][81]" />
                                       <p class="check-tip" v-if="openAssetGroup.tip1">{{language[curLanguage][81]}}</p>
                                   </li>
                                   <li>
                                       <span>{{language[curLanguage][82]}}:</span>
                                       <input type="password" v-model.trim = "openAssetGroup.pwd2" :placeholder="language[curLanguage][83]" />
                                       <p class="check-tip" v-if="openAssetGroup.tip2">{{language[curLanguage][84]}}</p>
                                   </li>

                                   <li>
                                       <span>{{language[curLanguage][71]}}:</span>
                                       <input type="password" v-model.trim = "openAssetGroup.pwd3" :placeholder="language[curLanguage][81]" />
                                       <p class="check-tip" v-if="openAssetGroup.tip3">{{language[curLanguage][81]}}</p>
                                       <p class="check-tip" v-if="openAssetGroup.tip5">{{language[curLanguage][85]}}</p>
                                   </li>
                                   <li>
                                       <span>{{language[curLanguage][87]}}:</span>
                                       <input type="password" v-model.trim = "openAssetGroup.pwd4" :placeholder="language[curLanguage][86]" />
                                       <p class="check-tip" v-if="openAssetGroup.tip4">{{language[curLanguage][84]}}</p>
                                   </li>

                               </ul>

                           </div>
                           <div class="btn" style="text-align: center;padding-top: 20px;">
                              <el-button type="primary" @click="openAsset">{{language[curLanguage][74]}}</el-button>
                           </div>
                           <!-- <span slot="footer" class="dialog-footer">
                             <el-button @click="refreshOrder">{{language[curLanguage][68]}}</el-button>
                             <el-button type="primary" @click="refreshOrder">{{language[curLanguage][67]}}</el-button>
                           </span> -->
                       </el-dialog>






                       <div class="empty" v-if="orderList.data.length==0"><span>{{language[curLanguage][40]}}</span></div>
                       <div class="pagination-box black" v-if="orderList.total>orderList.pageSize">
                           <el-pagination
                             layout="prev, pager, next"
                             @current-change="handlePaginationIndex"
                             :total="orderList.total"
                             :page-size="orderList.pageSize">
                           </el-pagination>
                       </div>

                       <!-- <el-dialog
                           :title="language[curLanguage][19]"
                           :visible.sync="openCoinTip"
                           width="30%">
                           <span style="font-size: 16px;color: #f5f5f5;">wq</span>

                           <span slot="footer" class="dialog-footer">
                             <el-button @click="orderList.dialogVisible = false">{{language[curLanguage][24]}}</el-button>

                           </span>
                       </el-dialog> -->

                   </div>

              </div>

              <div class="asset-table-box coupons">
                  <div class="table-head">
                      <span>{{language[curLanguage][97]}}</span>
                  </div>
                  <div class="asset-list">
                      <span>{{language[curLanguage][54]}}</span>
                      <em>{{myCoupons}}</em>
                      <router-link to="/wealth-coupons">{{language[curLanguage][98]}}</router-link>
                  </div>
              </div>

              <div class="asset-table-box">
                  <div class="table-head">
                      <span>{{language[curLanguage][52]}}</span>
                      <i v-if="myAsset.actuals.length>0">{{language[curLanguage][88]}}: <em>{{userInfo.configure.t_actuals_uid}}</em></i>
                      <i v-if="myAsset.actuals.length>0">{{language[curLanguage][89]}}：<em :class="{'state-ok':userInfo.configure.t_actuals_state==2,'state-no':userInfo.configure.t_actuals_state!=2}">{{userInfo.configure.t_actuals_state==2?language[curLanguage][90]:language[curLanguage][91]}}</em></i>

                  </div>

                  <div class="asset-list" v-loading="assetSpotLoading"
                      element-loading-background="rgba(47, 59, 85, 0.1)">

                       <div class="table" v-if="myAsset.actuals.length>0">
                           <table>
                               <tr style="border-bottom:solid 1px white!important;">
                                   <th>{{language[curLanguage][48]}}</th>
                                   <th class="balance">{{language[curLanguage][54]}}</th>
                                   <th class="operation">{{language[curLanguage][16]}}</th>
                               </tr>
                               <tr v-if="myAsset.actuals.length===0">
                                   <td></td>
                                   <td class="balance"></td>
                                   <td class="operation"></td>
                               </tr>
                               <tr v-for="(item,index) in myAsset.actuals" :key="index">
                                   <td>{{item.t_ccode}}</td>
                                   <td class="balance">{{item.t_number||'0.00'}}</td>
                                   <td class="operation">

                                       <span @click="popupDivAssetChange(item.t_ccode,1)" class="transfer">{{language[curLanguage][56]}}</span>

                                   </td>
                               </tr>
                           </table>

                       </div>

                       <div class="asset-empty" v-if="myAsset.actuals.length===0&&assetRequestFlag">
                           {{language[curLanguage][72]}}，<span @click="openAssetBefore(1)">{{language[curLanguage][73]}}</span>
                       </div>


                     </div>




                 </div>




                    <div class="asset-table-box">
                        <div class="table-head">
                            <span>{{language[curLanguage][63]}}</span>
                            <i v-if="myAsset.futures.length>0">{{language[curLanguage][88]}}: <em>{{userInfo.configure.t_futures_uid}}</em></i>
                            <i v-if="myAsset.futures.length>0">{{language[curLanguage][89]}}：<em :class="{'state-ok':userInfo.configure.t_futures_state==2,'state-no':userInfo.configure.t_futures_state!=2}">{{userInfo.configure.t_futures_state==2?language[curLanguage][90]:language[curLanguage][91]}}</em></i>

                        </div>

                        <div class="asset-list" v-loading="assetSpotLoading"
                            element-loading-background="rgba(47, 59, 85, 0.1)">

                             <div class="table" v-if="myAsset.futures.length>0">
                                 <table>
                                     <tr>
                                         <th>{{language[curLanguage][48]}}</th>
                                         <th class="balance">{{language[curLanguage][54]}}</th>
                                         <th class="operation">{{language[curLanguage][16]}}</th>
                                     </tr>
                                     <tr v-if="!myAsset.futures">
                                         <td></td>
                                         <td class="balance"></td>
                                         <td class="operation"></td>
                                     </tr>
                                     <tr v-for="(item,index) in myAsset.futures" :key="index">
                                         <td>{{item.t_ccode}}</td>
                                         <td class="balance">{{item.t_number||'0.00'}}</td>
                                         <td class="operation">
                                             <!-- <span @click="popupDivCoinsChange(item.t_ccode,2)" v-if="!!item.codeChangeState" class="change">{{language[curLanguage][58]}}</span> -->
                                             <span @click="popupDivAssetChange(item.t_ccode,2)" class="transfer">{{language[curLanguage][56]}}</span>

                                         </td>
                                     </tr>
                                 </table>

                             </div>

                             <div class="asset-empty" v-if="myAsset.futures.length===0&&assetRequestFlag">
                                 {{language[curLanguage][72]}}，<span @click="openAssetBefore(2)">{{language[curLanguage][73]}}</span>
                             </div>


                           </div>

                       </div>

                       <div class="asset-table-box">
                           <div class="table-head">
                               <span>{{language[curLanguage][92]}}</span>
                               <i v-if="myAsset.shares.length>0">{{language[curLanguage][88]}}: <em>{{userInfo.configure.t_shares_uid}}</em></i>
                               <i v-if="myAsset.shares.length>0">{{language[curLanguage][89]}}：<em :class="{'state-ok':userInfo.configure.t_shares_state==2,'state-no':userInfo.configure.t_shares_state!=2}">{{userInfo.configure.t_shares_state==2?language[curLanguage][90]:language[curLanguage][91]}}</em></i>

                           </div>

                           <div class="asset-list" v-loading="assetSpotLoading"
                               element-loading-background="rgba(47, 59, 85, 0.1)">

                                <div class="table" v-if="myAsset.shares.length>0">
                                    <table>
                                        <tr>
                                            <th>{{language[curLanguage][48]}}</th>
                                            <th class="balance">{{language[curLanguage][54]}}</th>
                                            <th class="operation">{{language[curLanguage][16]}}</th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="balance"></td>
                                            <td class="operation"></td>
                                        </tr>
                                        <tr v-for="(item,index) in myAsset.shares" :key="index">
                                            <td>{{item.t_ccode}}</td>
                                            <td class="balance">{{item.t_number||'0.00'}}</td>
                                            <td class="operation">

                                                <span @click="popupDivAssetChange(item.t_ccode,3)" class="transfer">{{language[curLanguage][56]}}</span>

                                            </td>
                                        </tr>
                                    </table>

                                </div>

                                <div class="asset-empty" v-if="myAsset.shares.length===0&&assetRequestFlag">
                                    {{language[curLanguage][72]}}，<span @click="openAssetBefore(3)">{{language[curLanguage][73]}}</span>
                                </div>


                              </div>

                          </div>

                          <div class="asset-table-box">
                              <div class="table-head">
                                  <span>{{language[curLanguage][93]}}</span>
                                  <i v-if="myAsset.gold.length>0">{{language[curLanguage][88]}}: <em>{{userInfo.configure.t_other_uid}}</em></i>
                                  <i v-if="myAsset.gold.length>0">{{language[curLanguage][89]}}：<em :class="{'state-ok':userInfo.configure.t_other_state==2,'state-no':userInfo.configure.t_other_state!=2}">{{userInfo.configure.t_other_state==2?language[curLanguage][90]:language[curLanguage][91]}}</em></i>

                              </div>

                              <div class="asset-list" v-loading="assetSpotLoading"
                                  element-loading-background="rgba(47, 59, 85, 0.1)">

                                   <div class="table" v-if="myAsset.gold.length>0">
                                       <table>
                                           <tr>
                                               <th>{{language[curLanguage][48]}}</th>
                                               <th class="balance">{{language[curLanguage][54]}}</th>
                                               <th class="operation">{{language[curLanguage][16]}}</th>
                                           </tr>
                                           <tr>
                                               <td></td>
                                               <td class="balance"></td>
                                               <td class="operation"></td>
                                           </tr>
                                           <tr v-for="(item,index) in myAsset.gold" :key="index">
                                               <td>{{item.t_ccode}}</td>
                                               <td class="balance">{{item.t_number||'0.00'}}</td>
                                               <td class="operation">

                                                   <span @click="popupDivAssetChange(item.t_ccode,4)" class="transfer">{{language[curLanguage][56]}}</span>

                                               </td>
                                           </tr>
                                       </table>

                                   </div>

                                   <div class="asset-empty" v-if="myAsset.gold.length===0&&assetRequestFlag">
                                       {{language[curLanguage][72]}}，<span @click="openAssetBefore(4)">{{language[curLanguage][73]}}</span>
                                   </div>


                                 </div>

                             </div>






                    <!-- <el-dialog
                        :title="language[curLanguage][19]"
                        :visible.sync="openDialogDemoUser"
                        width="30%">
                        <span style="font-size: 18px;color: #fff;">{{language[curLanguage][61]}}</span>
                        <span slot="footer" class="dialog-footer">
                          <el-button @click="openDialogDemoUser = false">{{language[curLanguage][60]}}</el-button>

                        </span>
                    </el-dialog> -->

         </div>
			</main>
      <div class="mask" v-if="maskFlag"></div>
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeader.vue'
import {coinstrad} from '../../utils/language'
import BigNumber from 'bignumber.js';
import moment from 'moment'
  import { apiStateList } from '../../utils/result-state'
  import '../../../static/css/my/my-styles.css'
export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         language:coinstrad,
         exchangePrice:'',
         userInfo:{
            configure:{

            }

         },
         orderList:{
            pageIndex:1,
            pageSize:10,
            total:0,
            state:0,
            data:[],
            loading:false,
            dialogVisible:false,
            dialogRefreshOrder:false
         },
         payState:{
           0:'待支付',
           1:'审核中',
           2:'成功',
           3:'用户关闭',
           4:'后台关闭'
         },
         orderCloseID:'',
         // closeTipState:false,
         closeTipChecked:false,
         openCoinDialog:false,
         openCoinDialogText:{
            text:'',
            btn1:'',
            btn2:'',
            type:1
         },
         payType:{
           0:'一键买卖',
           1:'钱包转账'
         },
         inSystemType:{
           1:'现货交易',
           2:'期货交易',
           3:'股票交易',
           4:'黄金交易'

         },

         userBalanceSpot:{

         },
         userBalanceContract:{
         },
         defaultCoin:'',
         defaultSystemCoin:'',
         myCoupons:0,
         myAsset:{
            actuals:[],
            futures:[],
            gold:[],
            shares:[]
         },
         myAssetSpot:[],
         myAssetContract:[],
         myAssetFutures:[],
         assetSpotLoading:false,
         assetContractLoading:false,
         systemTradMode:[1,2,3,4],
         systemTradModeCopy:[],
         changeToMode:'',
         changeFromMode:0,
         isDisable:false,
         changeCode:'',
         changeAssetDialog:false,
         changeAssetTip:false,
         currencyStateTrueGroup:[],
         currencyIn:[],
         currencyOut:[],
         currencyTransfer:[],
         currencyExchange:[],
         currencyTake:[],
         openCoinTip:false,
         maskFlag:false,
         coinsChangeDialog:false,
         assetChangeQt:'',
         coinsChangeQt:'',
         coinsChangeSystem:0,
         coinsTakeDialog:false,
         takeList:[],
         takeOrderList:[],
         takeOrderDialog:false,
         resultStateList:apiStateList,
         orderList2:[],

         openAssetGroup:{
            dialogFlag:false,
            pwd1:'',
            pwd2:'',
            pwd3:'',
            pwd4:'',
            type:null,
            tip1:false,
            tip2:false,
            tip3:false,
            tip4:false,
            tip5:false,
            tipEndTimer:null
         },
         assetStateFlag:false,
         assetRequestFlag:false

         // openDialogDemoUser:false
    };
  },
  metaInfo() {
      return{
         title: this.curLanguage==1?'出入金-Noble sky':' Deposit and withdraw - Noble sky',
      }

  },
  created(){


       // let a = '{"actuals":[{"t_fid":1,"t_ccode":"USD","t_number":0.0,"t_frozen":0.0,"t_mid":"1514","t_uid":200002},{"t_fid":2,"t_ccode":"USDT","t_number":0.0,"t_frozen":0.0,"t_mid":"1514","t_uid":200002},{"t_fid":3,"t_ccode":"BTC","t_number":0.0,"t_frozen":0.0,"t_mid":"1514","t_uid":200002},{"t_fid":4,"t_ccode":"ETH","t_number":0.0,"t_frozen":0.0,"t_mid":"1514","t_uid":200002}],"futures":[{"t_fid":2,"t_ccode":"USD","t_number":100474.6600000,"t_frozen":0.0000000,"t_mid":"1461","t_uid":200002},{"t_fid":33,"t_ccode":"BTC","t_number":0.0000000,"t_frozen":0.0000000,"t_mid":"1461","t_uid":200002},{"t_fid":64,"t_ccode":"ETH","t_number":0.0000000,"t_frozen":0.0000000,"t_mid":"1461","t_uid":200002},{"t_fid":95,"t_ccode":"USDT","t_number":0.0000000,"t_frozen":0.0000000,"t_mid":"1461","t_uid":200002}],"gold":[],"shares":[]}'

       // console.log(JSON.parse(a))


      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');

     this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
     this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

     this.isLogin = this.util.isLogin();
     if(!!this.isLogin){
         this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
         this.getUserInfo();
     }else{
         this.$message({
           message:this.language[this.curLanguage][42],
           type: "error",
           center: true,
           duration:2000
         })
         this.localStore.setItem('fromPage','coinstrad');
         this.$router.push({name:'login'});
         return;
     }

     this.orderTypeFlag = this.$route.params.payment;
     if(this.orderTypeFlag!=undefined){
        this.orderList.dialogRefreshOrder = true;
     }

     if(this.userLoginInfo.userType==1){

         this.$message({
           message:this.language[this.curLanguage][61],
           type: "error",
           center: true,
           duration:2000
         })

         this.$router.push({name:'login'});
         return;
     }




     // this.getSystemTradMode()

     // this.getUserAsset()
     this.getCoinList();
     this.getUserOrder();
     this.getUserOrder2();
     this.settingAPIDataLanguage();
     this.getcurrency()
  },

  components: {
    pageHeader
  },
  methods: {


    openAssetBefore(type){

       if(this.userInfo.u_level<1){
           this.openCoinDialogText.text = this.language[this.curLanguage][95]
           this.openCoinDialogText.btn1 = this.language[this.curLanguage][24]
           this.openCoinDialogText.btn2 = this.language[this.curLanguage][75]
           this.openCoinDialogText.type = type
           this.openCoinDialog = true
           return
       }

       this.openAssetGroup.dialogFlag = !this.openAssetGroup.dialogFlag;
       this.openAssetGroup.type = type
       this.openAssetGroup.pwd1 = ''
       this.openAssetGroup.pwd2 = ''
       this.openAssetGroup.pwd3 = ''
       this.openAssetGroup.pwd4 = ''
    },
    openAsset(){
      if(!!this.isDisable){return}
      const that = this;



           if(this.openAssetGroup.pwd1==''||!this.util.isLettersAndNumbers(this.openAssetGroup.pwd1)||this.openAssetGroup.pwd1.length<8||this.openAssetGroup.pwd1.length>30){

               that.openAssetGroup.tip1 = true;
               clearTimeout(that.openAssetGroup.tipEndTimer);
               that.openAssetGroup.tipEndTimer = setTimeout(()=>{
                    that.openAssetGroup.tip1 = false;
               },1000)
               return false;
           }
           if(this.openAssetGroup.pwd2 != this.openAssetGroup.pwd1){

               that.openAssetGroup.tip2 = true;
               clearTimeout(that.openAssetGroup.tipEndTimer);
               that.openAssetGroup.tipEndTimer = setTimeout(()=>{
                    that.openAssetGroup.tip2 = false;
               },1000)
               return false;
           }

           if(this.openAssetGroup.pwd3 == this.openAssetGroup.pwd1){

               that.openAssetGroup.tip5 = true;
               clearTimeout(that.openAssetGroup.tipEndTimer);
               that.openAssetGroup.tipEndTimer = setTimeout(()=>{
                    that.openAssetGroup.tip5 = false;
               },1000)
               return false;
           }

           if(this.openAssetGroup.pwd3==''||!this.util.isLettersAndNumbers(this.openAssetGroup.pwd3)||this.openAssetGroup.pwd3.length<8||this.openAssetGroup.pwd3.length>30){

               that.openAssetGroup.tip3 = true;
               clearTimeout(that.openAssetGroup.tipEndTimer);
               that.openAssetGroup.tipEndTimer = setTimeout(()=>{
                    that.openAssetGroup.tip3 = false;
               },1000)
               return false;
           }
           if(this.openAssetGroup.pwd4 != this.openAssetGroup.pwd3){

               that.openAssetGroup.tip4 = true;
               clearTimeout(that.openAssetGroup.tipEndTimer);
               that.openAssetGroup.tipEndTimer = setTimeout(()=>{
                    that.openAssetGroup.tip4 = false;
               },1000)
               return false;
           }



       const api = this.$api.url.userFund;
       const params = {
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session,
          Device:'web',
          System:this.openAssetGroup.type,
          MasterPass:this.openAssetGroup.pwd1,
          InvestorPass:this.openAssetGroup.pwd3

       }

        this.isDisable = true;
        this.coinsTakeDialog = true;
        this.$axios.post(api,params)
       .then((res)=>{
           this.isDisable = false;
           if(res.data.code==0){
             this.$message({
               message:'开通成功！',
               type: "success",
               center: true,
               duration:2000
             })

             this.openAssetGroup.dialogFlag = false;
             this.getUserAsset();
             this.getUserInfo();

           }else if(res.data.code==1011||res.data.code==1006){

               this.$refs.pageHead.logout();
               this.isLogin = false;
               this.$router.push({name:'login'});
           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:2000
           })
         })


    },

    refreshOrder(){
       this.getUserOrder()
       this.orderList.dialogRefreshOrder = false;
    },
   getStateCodeText(code){
         let text = this.resultStateList.find(item=>{
            return item.code == code
         })
         if(this.curLanguage==1){
           return text.cn
         }else{
           return text.en
         }
   
   },
    popupTakeOrder(){
        this.takeOrderDialog = true;
        this.gethtakedelivery()
    },
    gotake(code){
        this.localStore.setItem('tradCoinFlag',true)
        this.$router.push({name:'take',query:{code:code}});

    },
    gettakegoods(code){
        if(!!this.isDisable){return}

         const api = this.$api.url.gettakegoods;
         const params = {
            uid:this.userLoginInfo.userID,
            token:this.userLoginInfo.session,
            device:'web',
            ccode:code
         }

          this.isDisable = true;
          this.coinsTakeDialog = true;
          this.$axios.post(api,params)
         .then((res)=>{
             if(res.data.code==0){

                this.takeList = res.data.data

             }else if(res.data.code==1011||res.data.code==1006){

                 this.$refs.pageHead.logout();
                 this.isLogin = false;
                 this.$router.push({name:'login'});
             }else{
               let resultMsg = this.getStateCodeText(res.data.code);
               this.$message({
                 message:this.language[this.curLanguage][65] + " "+this.language[this.curLanguage][39]+resultMsg,
                 type: "error",
                 center: true,
                 duration:2000
               })
             }
             this.maskFlag = false;
             this.coinsChangeDialog = false;
         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })
        setTimeout(()=>{
            this.isDisable = false;
        },1200)
    },
    	gethtakedelivery(code){
        if(!!this.isDisable){return}

         const api = this.$api.url.	gethtakedelivery;
         const params = {
            uid:this.userLoginInfo.userID,
            token:this.userLoginInfo.session,
            device:'web'
         }

          this.isDisable = true;

          this.$axios.get(api,{params:params})
         .then((res)=>{
             if(res.data.code==0){

                this.takeOrderList = res.data.data

             }else if(res.data.code==1011||res.data.code==1006){
                 this.$refs.pageHead.logout();
                 this.isLogin = false;
                 this.$router.push({name:'login'});
             }else{
               let resultMsg = this.getStateCodeText(res.data.code);
               this.$message({
                 message:this.language[this.curLanguage][65] + " "+this.language[this.curLanguage][39]+resultMsg,
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
             duration:2000
             })
           })
        setTimeout(()=>{
            this.isDisable = false;
        },1200)
    },
//     getcurrency(){
//        const api = this.$api.url.getcurrency;
//        this.$axios.get(api)
//        .then((res)=>{
//            if(res.data.code==0){
//                  console.log(JSON.parse(res.data.data))
//                  this.currencyStateTrueGroup = JSON.parse(res.data.data)
//                  this.getUserAssetSpot();
//                  this.getUserAssetContract();
//            }else if(res.data.code==1011||res.data.code==1006){
//
//            }else{
//              this.$message({
//                message:'获取可入金币种失败' + this.language[this.curLanguage][39]+res.data.code,
//                type: "error",
//                center: true,
//                duration:2000
//              })
//            }
//
//        }).catch((error)=>{
//            this.$message({
//              message: error,
//              type: "error",
//              center: true,
//            duration:20000
//            })
//          })
//     },
    getcurrency(){
       // const api = this.$api.url.getcurrencysystem;
       const api = this.$api.url.currency_info;

       const params = {
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session,
          Device:'web'
       }

       this.$axios.post(api,params)
       .then((res)=>{
           if(res.data.code==0){

                 let data = JSON.parse(res.data.data)

                 this.currencyIn = data.in;
                 this.currencyOut = data.out;
                 this.currencyTransfer = data.transfer;
                 this.currencyExchange = data.exchange;
                 this.currencyTake = data.take;

                 console.log(data)

                 this.currencyStateTrueGroup = JSON.parse(res.data.data)
                 // this.getUserAssetSpot();
                 // this.getUserAssetContract();
                 // this.getUserAssetFutures();
                 this.getUserAsset()

           }else if(res.data.code==1011||res.data.code==1006){

           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:'获取可入金币种失败' + this.language[this.curLanguage][39]+resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:2000
           })
         })
    },
  selectSysMode(val){
       this.changeToMode = val
  },
  popupDivCoinsChange(code,system){
    ////////
      this.changeCode = code;
      this.maskFlag = true;
      this.coinsChangeDialog = true;
      this.coinsChangeSystem = system;
      this.getatradesprice(code,'USDT');

  },
  popupDivAssetChange(code,fromAsset){
      console.log('/////CCCCCCC')

      // this.systemTradModeCopy =  this.systemTradMode.map(item=>{
      //          return item
      // })

      let systemTradModeCopy = [];

      this.systemTradModeCopy.forEach(item=>{

          systemTradModeCopy.push(item);

      })


      let sysModeIndex = systemTradModeCopy.findIndex(item=>{
          return item == fromAsset
      })

      systemTradModeCopy.splice(sysModeIndex,1);

      if(systemTradModeCopy.length>0){
         this.changeToMode = systemTradModeCopy[0]
      }else{
         console.log('111')
         this.changeAssetTip = true;
         return
      }

      this.changeCode = code;
      this.changeFromMode = fromAsset
      this.maskFlag = true;
      this.changeAssetDialog = true;



  },
  addexchange(){

           if(!!this.isDisable){return}
          const api = this.$api.url.addexchange;
          const params = {
             uid:this.userLoginInfo.userID,
             token:this.userLoginInfo.session,
             device:'web',
             ccode:this.changeCode,
             amount:this.coinsChangeQt,
             exccode:'USDT',
             system: this.coinsChangeSystem
          }

           this.isDisable = true;
           this.$axios.post(api,params)
          .then((res)=>{
              if(res.data.code==0){
                  // this.getUserAssetSpot();
                  // this.getUserAssetContract();
                  // this.getUserAssetFutures();

                  this.$message({
                    message:this.language[this.curLanguage][28],
                    type: "success",
                    center: true,
                    duration:2000
                  })



              }else if(res.data.code==1011||res.data.code==1006){

                  this.$refs.pageHead.logout();
                  this.isLogin = false;
                  this.$router.push({name:'login'});
              }else{
                let resultMsg = this.getStateCodeText(res.data.code);
                this.$message({
                  message:this.language[this.curLanguage][57]+" "+this.language[this.curLanguage][39]+resultMsg,
                  type: "error",
                  center: true,
                  duration:2000
                })
              }
              this.maskFlag = false;
              this.coinsChangeDialog = false;
          }).catch((error)=>{
              this.$message({
                message: error,
                type: "error",
                center: true,
              duration:2000
              })
            })
         setTimeout(()=>{
             this.isDisable = false;
         },1200)
      },
  addtransfer(){

           if(!!this.isDisable){return}

          const api = this.$api.url.addtransfer;
          const params = {
             Uid:this.userLoginInfo.userID,
             Token:this.userLoginInfo.session,
             Device:'web',
             Ccode:this.changeCode,
             Amount:this.assetChangeQt,
             OutSystem:this.changeFromMode,
             InSystem: this.changeToMode
          }

           this.isDisable = true;
           this.$axios.post(api,params)
          .then((res)=>{
              if(res.data.code==0){
                  // this.getUserAssetSpot();
                  // this.getUserAssetContract();
                  // this.getUserAssetFutures();
                  this.$message({
                    message:this.language[this.curLanguage][28],
                    type: "success",
                    center: true,
                    duration:2000
                  })

                  this.getUserAsset()

              }else if(res.data.code==1011||res.data.code==1006){

                  this.$refs.pageHead.logout();
                  this.isLogin = false;
                  this.$router.push({name:'login'});
              }else{
                let resultMsg = this.getStateCodeText(res.data.code);
                this.$message({
                  message:this.language[this.curLanguage][57]+" "+this.language[this.curLanguage][39]+resultMsg,
                  type: "error",
                  center: true,
                  duration:2000
                })
              }
              this.maskFlag = false;
              this.changeAssetDialog = false;
          }).catch((error)=>{
              this.$message({
                message: error,
                type: "error",
                center: true,
              duration:2000
              })
            })
         setTimeout(()=>{
             this.isDisable = false;
         },1200)
      },
  getSystemTradMode(){
     const api = this.$api.url.getsystem;

     this.$axios.get(api)
     .then((res)=>{
         if(res.data.code==0){
           this.systemTradMode = JSON.parse(res.data.data);


         }else{
           let resultMsg = this.getStateCodeText(res.data.code);
           this.$message({
             message:'获取资产类型失败' +" "+this.language[this.curLanguage][39]+resultMsg,
             type: "error",
             center: true,
             duration:2000
           })
         }

     }).catch((error)=>{
         this.$message({
           message: error,
           type: "error",
           center: true,
         duration:2000
         })
       })
  },

    settingAPIDataLanguage(){
        let payState = {
           0:this.language[this.curLanguage][26],
           1:this.language[this.curLanguage][27],
           2:this.language[this.curLanguage][28],
           3:this.language[this.curLanguage][29],
           4:this.language[this.curLanguage][30]
         }
        let payType = {
           0:this.language[this.curLanguage][35],
           1:this.language[this.curLanguage][36],
           2:this.language[this.curLanguage][46]

         }
         let inSystemType = {
           1:this.language[this.curLanguage][100],
           2:this.language[this.curLanguage][101],
           3:this.language[this.curLanguage][102],
           4:this.language[this.curLanguage][103],
         }

        this.payState = payState
        this.payType = payType

        this.inSystemType = inSystemType


    },
    getpayfiatorder(orderId){
      const api = this.$api.url.getpayfiatorder;
      const params = {
         Device:'web',
         Uid:this.userLoginInfo.userID,
         Token:this.userLoginInfo.session,
         OrderId:orderId
      }

       var newView = window.open()

      this.$axios.get(api,{params:params})
      .then((res)=>{
          if(res.data.code==0){


             let paymentURL = res.data.url;

             // window.open(paymentURL);
             newView.location.href = paymentURL;
             this.orderList.dialogRefreshOrder = true;
             this.paymentDialogVisible = true;



          }else if(res.data.code==1011||res.data.code==1006){

              // this.$refs.pageHead.logout();
              // this.isLogin = false;
              // this.$router.push({name:'login'});
          }else{
            this.$message({
              message:res.data.msg,
              type: "error",
              center: true,
              duration:2000
            })
          }

      }).catch((error)=>{
          this.$message({
            message: error,
            type: "error",
            center: true,
          duration:2000
          })
        })
    },
    getatradesprice(ccode,exccode){
      const api = this.$api.url.getatradesprice;
      const params = {
         device:'web',
         uid:this.userLoginInfo.userID,
         token:this.userLoginInfo.session,
         ccode:ccode,
         exccode:exccode
      }
      this.$axios.get(api,{params:params})
      .then((res)=>{
          if(res.data.code==0){
            this.exchangePrice = BigNumber(res.data.data).toNumber();
          }else if(res.data.code==1011||res.data.code==1006){

              // this.$refs.pageHead.logout();
              // this.isLogin = false;
              // this.$router.push({name:'login'});
          }else{
            this.$message({
              message:res.data.msg,
              type: "error",
              center: true,
              duration:2000
            })
          }

      }).catch((error)=>{
          this.$message({
            message: error,
            type: "error",
            center: true,
          duration:2000
          })
        })
    },
    changeCoinType(val){
      this.curCoinType = val;
    },
    changeLanguage(val){

      this.curLanguage = val;
      this.settingAPIDataLanguage();
    },
    getCoinList(){

       this.coins = [];
      const api = this.$api.url.currency_info;

      this.$axios.get(api)
      .then((res)=>{
          if(res.data.code==0){
              let _data = JSON.parse(res.data.data)


              _data.forEach(item=>{
                  if(item.Type==1){
                     if(item.Default==1){
                        this.defaultCoin = item.Code;
                     }
                     this.coins.push(item);
                  }
                  if(item.Type==0){
                     if(item.Default==1){
                        this.defaultSystemCoin = item.Code;
                     }
                  }
              })





          }else{
            let resultMsg = this.getStateCodeText(res.data.code);
            this.$message({
              message: this.language[this.curLanguage][31]+ this.language[this.curLanguage][39]+resultMsg,
              type: "error",
              center: true,
              duration:2000
            })
          }
      }).catch((error)=>{
          this.$message({
            message: error,
            type: "error",
            center: true,
          duration:2000
          })
        })
   },
   tradCoinsDialogConfirm(type){
     if(type!=9){
       this.openCoinDialog = false;
       this.$router.push({name:'my',query:{type:1}});
     }else{
       this.openCoinDialog = false;
     }
   },
   tradCoins(type,code,system){




      // if(this.myAssetSpot.length>0||this.myAssetContract.length>0||this.myAssetFutures.length){

     if(type==1){
       if(this.userInfo.u_level<1){
           this.openCoinDialogText.text = this.language[this.curLanguage][76]
           this.openCoinDialogText.btn1 = this.language[this.curLanguage][24]
           this.openCoinDialogText.btn2 = this.language[this.curLanguage][75]
           this.openCoinDialogText.type = type
           this.openCoinDialog = true
           return
       }
     }

     if(type==2){
       if(this.userInfo.u_level<3){
           this.openCoinDialogText.text = this.language[this.curLanguage][96]
           this.openCoinDialogText.btn1 = this.language[this.curLanguage][24]
           this.openCoinDialogText.btn2 = this.language[this.curLanguage][75]
           this.openCoinDialogText.type = type
           this.openCoinDialog = true
           return
       }
     }




      if(!this.assetStateFlag){
          this.openCoinDialogText.text = this.language[this.curLanguage][99]
          this.openCoinDialogText.btn1 = this.language[this.curLanguage][24];
          this.openCoinDialogText.btn2 = this.language[this.curLanguage][25]
          this.openCoinDialogText.type = 10
          this.openCoinDialog = true
          return
      }






//          if(this.currencyStateTrueGroup.length>0){
//
//
//               let currencyIndex = this.currencyStateTrueGroup.findIndex(item=>{
//                   return item == code
//               })
//
//
//               if(currencyIndex!=-1){
//                   this.localStore.setItem('tradCoinFlag',true)
//                   if(type==1){
//
//                       this.$router.push({name:'coinsBuy',query:{type:0},params:{code:code,system:system}});
//                   }else{
//
//
//                        this.$router.push({name:'coinsSell',query:{type:0},params:{code:code,system:system}});
//                   }
//               }else{
//                   this.openCoinTip = true;
//                   return
//               }
//
//          }

         let currencyIndex = -1;
         let routerName = '';

         if(type==1){



                 routerName = 'coinsBuy'



         }else{


                routerName = 'coinsSell'



         }


         let orderFlag = this.orderList.data.length>0||this.orderList2.length>0?1:0
         this.localStore.setItem('tradCoinFlag',true)
         this.$router.push({name:routerName,query:{type:0},params:{code:code,system:system,orderFlag:orderFlag}});











   },

   getUserAsset(){

       const api = this.$api.url.userFund;
       const params = {
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session,
          Device:'web'

       }
        this.assetSpotLoading = true;
        this.assetRequestFlag = false;
        this.$axios.get(api,{params:params})
       .then((res)=>{

           this.assetSpotLoading = false;
           this.assetRequestFlag = true;

           if(res.data.code==0){

                const data = JSON.parse(res.data.data);

                this.myAsset = data;

                this.myCoupons = data.all.t_experience;

                this.systemTradModeCopy = [];
                if(data.actuals.length!=0){
                   this.systemTradModeCopy.push(1)

                   data.actuals.forEach(item=>{
                      let currencyExchangeList = JSON.parse(this.currencyStateTrueGroup.Actuals)


                      let findCurrencyExchange = currencyExchangeList.findIndex(currency_item=>{
                         return currency_item == item.t_ccode
                      })
                      console.log(findCurrencyExchange)
                      if(findCurrencyExchange>=0){
                        item.codeChangeState = true
                      }
                   })
                   console.log(data.actuals)
                }
                if(data.futures.length!=0){
                   this.systemTradModeCopy.push(2)
                   data.futures.forEach(item=>{
                     let currencyExchangeList = JSON.parse(this.currencyStateTrueGroup.Futures)

                     let findCurrencyExchange = currencyExchangeList.findIndex(currency_item=>{
                         return currency_item == item.t_ccode
                      })

                      if(findCurrencyExchange>=0){
                        item.codeChangeState = true
                      }
                   })

                }
                if(data.shares.length!=0){
                   this.systemTradModeCopy.push(3)
                   data.shares.forEach(item=>{
                      let currencyExchangeList = JSON.parse(this.currencyStateTrueGroup.Shares)

                      let findCurrencyExchange = currencyExchangeList.findIndex(currency_item=>{
                         return currency_item == item.t_ccode
                      })
                      if(findCurrencyExchange>=0){
                        item.codeChangeState = true
                      }
                   })
                }
                if(data.gold.length!=0){
                   this.systemTradModeCopy.push(4)
                   data.gold.forEach(item=>{
                      let currencyExchangeList = JSON.parse(this.currencyStateTrueGroup.Other)

                      let findCurrencyExchange = currencyExchangeList.findIndex(currency_item=>{
                         return currency_item == item.t_ccode
                      })
                      if(findCurrencyExchange>=0){
                        item.codeChangeState = true
                      }
                   })
                }





           }else if(res.data.code==1000){
              return
           }else if(res.data.code==1011||res.data.code==1006){

               this.$refs.pageHead.logout();
               this.isLogin = false;

               // this.$router.push({name:'login'});
           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:this.language[this.curLanguage][43]+ this.language[this.curLanguage][39]+resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:2000
           })
         })

   },


   getUserAssetSpot(){

       const api = this.$api.url.queryAsset;
       const params = {
          uid:this.userLoginInfo.userID,
          session:this.userLoginInfo.session,
          device:'web',
          para:JSON.stringify({
              good_id:''
          })
       }
        this.assetSpotLoading = true;
        this.$axios.post(api,params)
       .then((res)=>{
           this.assetSpotLoading = false;

           if(res.data.code==0){

                const data = JSON.parse(res.data.rest);


                data.forEach((item)=>{
                    let EffectiveBalance = BigNumber(item.ac_number).minus(item.ac_frozen_num).minus(item.ac_lock_num).toNumber();
                    if(!!item.ac_ccode){

                       this.userBalanceSpot[item.ac_ccode] = item.ac_number==0?'0.00':EffectiveBalance;
                    }


                   let findCurrencyBuy = this.currencyIn.findIndex(currency_item=>{
                      return currency_item == item.ac_ccode
                   })
                   let findCurrencyExchange = this.currencyExchange.findIndex(currency_item=>{
                      return currency_item == item.ac_ccode
                   })
                   let findCurrencyTake = this.currencyTake.findIndex(currency_item=>{
                      return currency_item == item.ac_ccode
                   })


                   item.codeBuyState = findCurrencyBuy>=0?true:false;
                   item.codeTakeState = findCurrencyTake>=0?true:false;
                   if(findCurrencyExchange>=0&&item.ac_ccode!='USDT'){
                     item.codeChangeState = true
                   }



                })


               this.myAssetSpot = data;

           }else if(res.data.code==2001){

               this.$refs.pageHead.logout();
               this.isLogin = false;

               // this.$router.push({name:'login'});
           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:this.language[this.curLanguage][43]+ this.language[this.curLanguage][39]+resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:2000
           })
         })

   },
   getUserAssetContract(){

        const api = this.$api.url.make_market_query_asset;
        const params = {
           uid:this.userLoginInfo.userID,
           session:this.userLoginInfo.session,
           device:'web',
           para:JSON.stringify({
               good_id:''
           })
        }
        this.assetContractLoading = true;
         this.$axios.post(api,params)
        .then((res)=>{
            this.assetContractLoading = false;
            if(res.data.code==0){
                 // const data = JSON.parse(res.data.rest);
                 const data = res.data.rest;

                 data.forEach((item)=>{
                     let EffectiveBalance = BigNumber(item.t_number).minus(item.t_frozen_num).toNumber();
                     if(!!item.t_ccode){
                        //this.userBalanceContract[item.t_ccode] = item.t_number==0?'0.00':item.t_number;
                        this.userBalanceContract[item.t_ccode] = item.t_number==0?'0.00':EffectiveBalance;
                     }





                    let findCurrencyBuy = this.currencyIn.findIndex(currency_item=>{
                       return currency_item == item.t_ccode
                    })
                    let findCurrencyExchange = this.currencyExchange.findIndex(currency_item=>{
                       return currency_item == item.t_ccode
                    })
                    let findCurrencyTake = this.currencyTake.findIndex(currency_item=>{
                       return currency_item == item.ac_ccode
                    })


                    item.codeBuyState = findCurrencyBuy>=0?true:false;
                    item.codeTakeState = findCurrencyTake>=0?true:false;
                    if(findCurrencyExchange>=0&&item.t_ccode!='USDT'){
                      item.codeChangeState = true
                    }

                 })





                 this.myAssetContract = data;
                 // this.myAsset = data;
                 // this.getLockInfoList()

            }else if(res.data.code==2001){

                this.$refs.pageHead.logout();
                this.isLogin = false;
                // this.$router.push({name:'login'});
            }else{
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message: " " + this.language[this.curLanguage][137]+ this.language[this.curLanguage][39]+resultMsg,
                type: "error",
                center: true,
                duration:2000
              })
            }

        }).catch((error)=>{
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration:2000
            })
          })

    },
    getUserAssetFutures(){

         const api = this.$api.url.futures_query_asset;
         const params = {
            uid:this.userLoginInfo.userID,
            session:this.userLoginInfo.session,
            device:'web',
            para:JSON.stringify({
                good_id:''
            })
         }
         this.assetContractLoading = true;
          this.$axios.post(api,params)
         .then((res)=>{
             this.assetContractLoading = false;
             if(res.data.code==0){
                  // const data = JSON.parse(res.data.rest);
                  const data = res.data.rest;

                  data.forEach((item)=>{
                      let EffectiveBalance = BigNumber(item.t_number).minus(item.t_frozen_num).toNumber();
                      if(!!item.t_ccode){
                         //this.userBalanceContract[item.t_ccode] = item.t_number==0?'0.00':item.t_number;
                         this.userBalanceContract[item.t_ccode] = item.t_number==0?'0.00':EffectiveBalance;
                      }





                     let findCurrencyBuy = this.currencyIn.findIndex(currency_item=>{
                        return currency_item == item.t_ccode
                     })
                     let findCurrencyExchange = this.currencyExchange.findIndex(currency_item=>{
                        return currency_item == item.t_ccode
                     })
                     let findCurrencyTake = this.currencyTake.findIndex(currency_item=>{
                        return currency_item == item.ac_ccode
                     })


                     item.codeBuyState = findCurrencyBuy>=0?true:false;
                     item.codeTakeState = findCurrencyTake>=0?true:false;
                     if(findCurrencyExchange>=0&&item.t_ccode!='USDT'){
                       item.codeChangeState = true
                     }

                  })





                  this.myAssetFutures = data;
                  // this.myAsset = data;
                  // this.getLockInfoList()

             }else if(res.data.code==2001){

                 this.$refs.pageHead.logout();
                 this.isLogin = false;
                 // this.$router.push({name:'login'});
             }else{
               let resultMsg = this.getStateCodeText(res.data.code);
               this.$message({
                 message: " " + this.language[this.curLanguage][137]+ this.language[this.curLanguage][39]+resultMsg,
                 type: "error",
                 center: true,
                 duration:2000
               })
             }

         }).catch((error)=>{
             this.$message({
               message: error,
               type: "error",
               center: true,
               duration:2000
             })
           })

     },
   getUserInfo(){
       const api = this.$api.url.userVerify1;
       const params = {
          Device:'web',
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session
       }
       this.$axios.get(api,{params:params})
       .then((res)=>{
           if(res.data.code==0){
              let data = JSON.parse(res.data.data);
              this.userInfo = data

              if(this.userInfo.configure==null){
                 this.userInfo.configure = {
                    t_actuals_gid: null,
                    t_actuals_state: null,
                    t_actuals_uid: null,
                    t_futures_gid: null,
                    t_futures_state: null,
                    t_futures_uid: null,
                    t_other_gid: null,
                    t_other_state: null,
                    t_other_uid: null,
                    t_shares_gid: null,
                    t_shares_state: null,
                    t_shares_uid: null,
                    t_uid: null
                 }
              }


             // this.userInfo.u_country = this.userCountry;
             this.localStore.setItem('userInfo',this.userInfo)


             if(data.configure.t_actuals_state == 2||data.configure.t_futures_state == 2||data.configure.t_shares_state == 2||data.configure.t_other_state == 2){
                this.assetStateFlag = true;
             }

           }else if(res.data.code==1011||res.data.code==1006){

               this.$refs.pageHead.logout();
               this.isLogin = false;
               this.$router.push({name:'login'});
           }else{
             let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:this.language[this.curLanguage][44]+ this.language[this.curLanguage][39]+resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:2000
           })
         })

   },
   openOrderDialog(val){
     if(!!this.localStore.getItem('closeTipState')){
       this.closeOrder(val)
     }else{
       this.orderList.dialogVisible = true;
       this.orderCloseID = val;
     }
   },
   handleOrderState(val){
      this.orderList.state = val;
      this.orderList.total = 0;
      this.orderList.pageIndex = 1;
      this.orderList.data=[];
      this.getUserOrder();
   },
   closeOrder(val){

     if(!this.localStore.getItem('closeTipState')){
       if(!!this.closeTipChecked){
         this.localStore.setItem('closeTipState',true);
       }
     }


     this.orderList.dialogVisible=false;
     const api = this.$api.url.closeOrder;
     const params = {
        Uid:this.userLoginInfo.userID,
        Token:this.userLoginInfo.session,
        Device:'web',
        Orderid:val
     }

      this.$axios.post(api,params)
     .then((res)=>{
         if(res.data.code==0){

            this.getUserOrder();
         }else if(res.data.code==1011||res.data.code==1006){
             this.$refs.pageHead.logout();
             this.isLogin = false;
             this.$router.push({name:'login'});
         }else{
           let resultMsg = this.getStateCodeText(res.data.code);
           this.$message({
             message:this.language[this.curLanguage][45]+ this.language[this.curLanguage][39]+resultMsg,
             type: "error",
             center: true,
             duration:2000
           })
         }

     }).catch((error)=>{
         this.$message({
           message: error,
           type: "error",
           center: true,
         duration:2000
         })
       })
   },




   getUserOrder(){
       this.orderList.loading=true;
       const api = this.$api.url.getuserfiatorder;
       const params = {
          Device:'web',
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session,
          PageIndex:this.orderList.pageIndex,
          PageSize:this.orderList.pageSize,
          State:this.orderList.state
       }
       this.$axios.get(api,{params:params})
       .then((res)=>{
           this.orderList.loading = false;
           if(res.data.code==0){
               let data = JSON.parse(res.data.data);
                data.forEach(item=>{
                   item.t_price = BigNumber(item.t_pay_number).div(item.t_number);
                   item.t_ctime = moment(item.t_ctime).format('YYYY-MM-DD HH:mm:ss');
                })

               this.orderList.data = data;
               this.orderList.total = res.data.count;

           }else if(res.data.code==1011||res.data.code==1006){
              this.$refs.pageHead.logout();
              this.isLogin = false;
              this.$router.push({name:'login'});
          }else{
            let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:this.language[this.curLanguage][41]+ this.language[this.curLanguage][39]+resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:2000
           })
         })
   },
   getUserOrder2(){
       this.orderList.loading=true;
       const api = this.$api.url.getuserfiatorder;
       const params = {
          Device:'web',
          Uid:this.userLoginInfo.userID,
          Token:this.userLoginInfo.session,
          PageIndex:this.orderList.pageIndex,
          PageSize:this.orderList.pageSize,
          State:1
       }
       this.$axios.get(api,{params:params})
       .then((res)=>{
           this.orderList.loading = false;
           if(res.data.code==0){
               let data = JSON.parse(res.data.data);
                data.forEach(item=>{
                   item.t_price = BigNumber(item.t_pay_number).div(item.t_number);
                   item.t_ctime = moment(item.t_ctime).format('YYYY-MM-DD HH:mm:ss');
                })

               this.orderList2 = data;


           }else if(res.data.code==1011||res.data.code==1006){
              this.$refs.pageHead.logout();
              this.isLogin = false;
              this.$router.push({name:'login'});
          }else{
            let resultMsg = this.getStateCodeText(res.data.code);
             this.$message({
               message:this.language[this.curLanguage][41]+ this.language[this.curLanguage][39]+resultMsg,
               type: "error",
               center: true,
               duration:2000
             })
           }

       }).catch((error)=>{
           this.$message({
             message: error,
             type: "error",
             center: true,
           duration:2000
           })
         })
   },
    handlePaginationIndex(val){
        this.orderList.pageIndex = val;
        this.getUserOrder();

    },
   userLogout(){
      this.$router.push({name:'login'});
   }


  }

};
</script>









<style scoped lang="scss">

table th{padding:0 !important;text-align: center;}
.wrap{min-height: 100vh;background: #232c42;color: #aeb9d8}
.w-1200{width: 1200px;margin:0 auto;padding-top: 20px;padding-bottom: 100px;}
.btn-box{height: 50px;margin: 50px 0 15px;
  a,button{color: #fff;background:#05c19e;width:100px;height: 40px;display: block;float: left;line-height: 40px;text-align: center;border-radius: 2px;cursor: pointer;margin-left: 20px;;
  -webkit-transition:all .2s ease 0s;transition:all .2s ease 0s;}
  a:hover,button:hover{background:#04b695;}
  button:first-child{margin-left: 0;}
  button:nth-child(3){margin-left: 50px;}
  a:last-child,button:nth-child(2),button:nth-child(4){background: #e04545;}
  a:last-child:hover,button:nth-child(2):hover,button:nth-child(4):hover{background: #d63c3c}
}
.order-list,.asset-list{border-radius:5px;overflow: hidden;min-height: 100px;
  .tab-head{height: 50px;background: #4e5d7e;border-radius: 5px 5px 0 0;
    span{float: left;height: 100%;position: relative;padding:0 20px;line-height: 50px;cursor: pointer;}
    span:hover{color: #bec7e1;}
    span.active{color: #fff;
       &:before{content: ' ';position:absolute ;width:50%;height: 3px;background: #fff;left:50%;bottom: 5px;-webkit-transform:translate(-50%,0);transform:translate(-50%,0);}
    }
  }
  .table{background-color:#2f3b55;padding-bottom: 15px;
     table{width: 100%;
       th{border-bottom: 1px solid #3b455e;height: 50px;color: #7783a2;}

       td{height: 40px;text-align: center;
         span{color:#387ee2}
         i.order-type{margin-right: 10px;color: #fff;font-size: 12px;padding:0 5px;float: left;border-radius: 50px;border:1px solid #05c19e;color: #05c19e;}
         i.order-type.sell{border-color: #e04545;color: #e04545;}
         a,button{background:#05c19e;color: #fff;float:right;margin-left: 5px;width: 50px;height: 30px;line-height: 30px;text-align: center;border-radius: 2px;cursor: pointer;
         -webkit-transition:all .2s ease 0s;transition:all .2s ease 0s;}
         .en{width:75px;}
         a:hover{background: #04b695;}
         button{background: #e04545;}
         button:hover{background: #d63c3c}
       }
       th:first-child,td:first-child{text-align: left;padding-left: 20px !important;width:210px;}
       th:last-child,td:last-child{text-align: right;padding-right: 20px !important;width:210px;}

       tr:nth-child(2){

          td{height: 15px;}
       }
     }

  }
  .asset-empty{padding:15px;background-color: #2f3b55;
     span{color: #0496FF;cursor: pointer;}
  }
  .empty{text-align: center;padding: 30px 0 20px;}

}

.asset-table-box .asset-list .table table{

  th,td{width:150px;}
  .balance{width:860px;text-align: left;padding-left: 15px;}
  th{background: #42506e;}
  td{border-bottom: 1px solid #3b455e;}
  tr:last-child,tr:nth-child(2){
    td{border:0}
  }
}


.table-head{color: #fff;font-size: 18px;margin:25px 0 10px;}





.mask{position: fixed;width:100%;height: 100%;background: rgba(0,0,0,.5);left:0;top:0;}
.popup-div-ac{width:500px;position: fixed;background: #2f3b55;padding:10px 15px;border-radius: 5px;
left:50%;top:50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);z-index: 10;



    li{position: relative;min-height: 40px;line-height: 40px;margin-bottom: 10px;
       color: #717d9b;
       i{color: #05c19e;padding:0 10px;}
       i.currency{color: #aeb9d8;}
       input{background: #000;color: #aeb9d8;height: 40px;margin-left: 10px;border-radius: 3px;width:420px;padding-left: 10px;}
       button{width:80px;height: 40px;background: #387ee2;border-radius: 3px;color: #fff;cursor: pointer;}
       button.cancel{background: #eee;color: #333;margin-right: 10px;}
    }
    li:last-child{text-align: center;padding:20px 0 15px 0;}
    li:first-child{padding-bottom: 0;}
    .cell{float:left;height: 40px;line-height: 40px;}
    .ac-select{float:left;width:110px}
    li.amount-input{position: relative;height: 40px;}
    li.amount-input span{float:left;width:80px;}
    li.amount-input input{float:right;width:calc(100% - 80px);margin:0;paddding:0;}
    li.amount-input i{position: absolute;right:20px;top:0;}
}



.asset-table-box .asset-list .table table td span{
  cursor: pointer;
}


.asset-table-box .table-head{margin-top: 50px;
    span{margin-right: 30px;}
    i{font-size: 14px;color: #aeb9d8;margin-right: 20px;
      em{color: #fff;}
      em.state-ok{color: #05c19e;}
      em.state-no{color: #e04545;}
    }
}
.asset-table-box .asset-list .table table td span{margin-left: 5px;color: #fff;}
.asset-table-box .asset-list .table table td span.buy{color: #05c19e;}
.asset-table-box .asset-list .table table td span.change{color: #e04545;}
.asset-table-box .asset-list .table table td span.take{color: #387ee2;}
.asset-table-box .asset-list .table table td:last-child{width:200px;}

.asset-table-box .table table td:first-child,.asset-table-box .table table th:first-child{
    padding-left: 20px;
}


.popup-div-take{width:500px;position: fixed;background: #2f3b55;padding:10px 15px;border-radius: 5px;
left:50%;top:50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);z-index: 10;}



.nav-tab-head{
   height: 60px;border-bottom: 2px solid #263655;margin-top: 15px;padding-top: 20px;
   a{color: #aeb9d8;float: left;height: 40px;line-height:40px;text-align: center;margin-right: 30px;font-size: 16px;position: relative;}
   a.active{color: #fff;min-width: 96px;background-color: #263655;padding:0 15px;text-align: center;border-radius: 6px 6px 0 0;
     // &:after{content: "";position: absolute;width: 100%;height: 3px;background-color: #0496FF;left: 0;bottom: 0;}
   }
   a:hover{color: #fff;}

}
.open-asset-cell{
  li{margin-bottom: 20px;position: relative;}
  span{display: block;margin-bottom: 8px;}
  input{width: 100%;height: 45px;background-color: #091022;border-radius: 3px;border:1px solid #111932;padding:0 15px;color: #fff;}
  .check-tip{position: absolute;background: #fff;color: #333;padding:10px;border-radius: 5px;bottom:45px;left:50%;line-height: 20px;
     white-space:nowrap;text-overflow:ellipsis;
    -webkit-transform:translate(-50%,0);transform:translate(-50%,0);
  }
  .check-tip:after{
     position: absolute;content: "";width:0;height: 0;border-style:solid;border-color:transparent;
     border-width: 5px;border-bottom-width:0;border-top-color:#fff;left:calc(50% - 5px);bottom:-5px;
  }

  input::-webkit-input-placeholder{color: #707da1;opacity: .6;}

}

  .asset-table-box.coupons{
     .asset-list{min-height: 50px;padding: 15px;background-color: #2f3b55;
       span{margin-right: 15px;}
       a{margin-left: 50px;color: #05C19E;}
       a:hover{color: #04b695;}
     }
  }

  ::-webkit-scrollbar{
      background:#fff;width:0;height:0;display:none;
  }
  ::-webkit-scrollbar-thumb{
      background:#fff;width:0;height:0;display:none;
  }


</style>

<style lang="scss">
    .el-dialog.take-dialog{width:1000px !important;background: #2f3b55;}

    .el-dialog.take-dialog{
         .el-dialog__body{padding-top:10px;
            table{width:100%;}
            th,td{border-bottom: 1px solid #3b455e;height: 40px;}
            td{text-align: center;}
            tr:last-child{
               td{border-bottom: 0;}
            }
            .Order-number{text-align: left;}
         }
    }
    h4, .h4, h5, .h5, h6, .h6 {
        margin-top: 0;
        margin-bottom: 0;
    }
</style>
