@font-face {
    font-family: 'Pragmatica Slabserif';
    src: url('PragmaticaSlab-Medium.eot');
    src: url('PragmaticaSlab-Medium.eot?#iefix') format('embedded-opentype'),
        url('PragmaticaSlab-Medium.woff') format('woff'),
        url('PragmaticaSlab-Medium.ttf') format('truetype'),
        url('PragmaticaSlab-Medium.svg#PragmaticaSlab-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

