<template>
<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 ">
                  <h1 class="ltr text-left">About Us</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">About us</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                  <router-link to="/contact">
                      <i class="contact"></i>
                      <span>Contact Us</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="api-tutorials video-player"></div>
          -->
          <div class="container-fluid top80 text-center about-xm">
            <div class="box-border">
              <div class="box-border1">
                <small>For inexperienced investors</small>
                <h4>Providing expert guarantee</h4>
                <p class="big">Safe custody and financial services. </p></div>
              <div class="visible-sm visible-xs dis20"></div>
              <div class="box-border1">
                <small>For experienced investors</small>
                <h4>Provide a perfect trading experience</h4>
                <p class="big">Super fast execution of orders, no requotes and no rejections. </p></div>
              <div class="visible-sm visible-xs dis20"></div>
              <div class="box-border1">
                <small>For programmatic investors</small>
                <h4>Provide MT5 programmatic customization</h4>
                <p class="big">Free consultation, free customization, and realize your financial production line by hand. </p></div>
            </div>
          </div>
          <section class="">
            <section class="section bottom top80">
              <div class="container-fluid">
                <div class="container-fluid about-xm">
                  <div class="row">
                    <div class="col-md-12 text-justify mx-2">
                      <h2 class="big text-center">BIG. FAIR. ORGANIZATION.</h2>
                      <p class="text-center">When you choose NOBLE SKY, you choose a broker that is fair,honest and people-oriented all over the world. </p></div>
                    <div class="col-md-12 top80">
                      <h2>
                        <span class="red">All over the world</span>, Excellent, Professional</h2></div>
                    <div class="col-md-12 text-justify mx-2">
                      <p>Since its establishment in 2009, with more than 500,000 clients, NOBLE SKY has developed into an internationally renowned investment company and a true leader in the industry. </p>
                      <p>NOBLE SKY currently has more than 150 professionals with many years of experience in the financial field. </p>
                      <p>In NOBLE SKY, the safety of client funds is our top priority. We cooperate with the world's top investment banks to store company accounts and client funds separately to ensure client funds safety. </p>
                    </div>
                    <div class="col-md-12 text-justify mx-2">

                      <ul class="checks">
                        <li>More than 500,000 clients</li>
                        <li>Clients in 196 countries</li>
                        <li>Multiple safe payment methods</li>
                        <li>MT5 trading platform with complete functions</li>
                        <li>Support for interactive financial management mode between users</li>
                        <li>Private customer service</li></ul>
                    </div>
                    <div class="col-md-12 top80 hidden-xs hidden-sm">
                      <h2>
                        Unbiased, Honest & Trustworthy</h2>
                      <div class="dis30"></div>
                      <div class="box-border">
                        <div class="box-border2">
                          <div class="text-center">
                            <i class="tfxfont3 xmStamp fs100 red"></i>
                          </div>
                          <p class="top20">Trade at NOBLE SKY means to trade with a fair and honest dealer. </p>
                          <p>We do not distinguish between the client's net asset value, investment size,
                            The trading environment of all clients is the same to ensure equality of platform transactions. </p></div>
                        <div class="box-border2">
                          <div class="text-center">
                            <i class="tfxfont3 xmClock fs100 red"></i>
                          </div>
                          <p class="top20">NOBLE SKY strictly implements the principle of no requotes and no rejection of orders to ensure that it provides clients with a fair and trustworthy trading experience. </p>
                          <p>Also, 99.35% of orders will be filled within one second, with no requotes and no rejections. </p>
                          <p>Our business model relies on our company's business philosophy:
                            When investing in the market, execution is everything. </p></div>
                        <div class="box-border2">
                          <div class="text-center">
                            <i class="tfxfont3 xmSafe fs100 red"></i>
                          </div>
                          <p class="top20">In NOBLE SKY, the safety of client funds is our top priority. We cooperate with the world's top investment banks to store company accounts and client funds separately to ensure the safety of client funds. </p>
                          <p>Retail clients are protected by 20,000 Euros of investor compensation funds. At the same time, all clients will enjoy
                            <strong>a Negative balance protection</strong> policy, which prevents the clients to lose more than their account balance.. </p></div>
                      </div>
                    </div>
                    <div class="col-md-12 top80">
                      <h2>      <span class="red">People-oriented</span> company</h2>
                                <p>NOBLESKY's mission is to provide institutional trading services to all clients, whether they are institutional clients or individual investors, to provide all investors with innovative know-how, low-cost transactions, financial security supervision, comprehensive market research tools, Advanced education courses ,and first-class customer service.</p>
                                <p>We are concerned about profitable and sustainable growth;</p>
                                <p>We are responsible and professional to achieve this goal on a global scale through the following methods;</p>
                                <p>Implement global market and technology leadership strategies in our business areas and markets;</p>
                                <p>Work together to create brilliance: cooperate with our clients, partners and other business partners within the company, as well as across departments and regions.</p>
                              </div>
                              <div class="col-md-12 hidden-xs hidden-sm" style="margin-top:135px!important;">
                                <img src="../../../static/images/page-img/about/about-map-grey.png" class="img-responsive"></div>
                            </div>
                          </div>
                        </div>
                        
                      </section>
                      <div class="dis80 hidden-xs hidden-sm"></div>
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-12 top50">
                            <h2>Why choose NOBLE SKY?</h2>
                            <p>NOBLESKY cultivates employees for sustainable development. Our employees come from different cultural backgrounds to cope with the diversity of customer culture, nationality, religion, and ethnicity. Our advanced platform and flexible trading environment meet the needs of global clients. Our expertise comes from extensive experience ,and a deep understanding of global financial markets. We are committed to providing top-notch foreign exchange trading services, including CFD, stock index, precious metals and energy.</p>
                            <p>The business philosophy we follow is simple: to ensure customer satisfaction, we can win the trust and loyalty of clients. Reputation is related to credibility, and both are derived from our ability to provide services following customer needs and expectations. By always paying attention to industry trends and technological innovation, we can respond to the increasingly complex and diverse needs of our clients. We never neglect customer orders, which is why we can provide low spreads and maintain the highest execution.</p>
                          </div>
                        </div>
                      </div>
                      <div class="container-fluid top60 box-text-btn hidden-xs hidden-sm">
                        <div class="row">
                          <div class="col-sm-12">
                            <p>There is no repeat quotation in foreign exchange transactions, and transactions are executed according to real-time quotations
                              <br>MT5Trading Platforms catering to any device.</p></div>
                          <div class="col-sm-12 ">
                          <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">OPEN AN ACCOUNT</router-link></div>
              </div>
            </div>

          </section>
          <div class="dis70"></div>

        </div>


         <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'




export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'About-NOBLE SKY',
  },
  created(){



   const storeCoinType = this.localStore.getItem('curCoinType');
   const storeLanguage = this.localStore.getItem('curLanguage');

    this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }





   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },

     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-8 {
       width: 66.66666667%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: center;padding: 10px !important;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29a643;}
   }

   .nav-flexbox-tabs {padding: 10px !important;
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


 //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}



footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}


.about-xm .box-border1 h4 {
    font-family: "regular","regular_ext",sans-serif;
    font-size: 33px;
    color: #d51820;
    margin: 25px 0;
}

.about-xm .box-border1 small, .about-xm .box-border1 p.big {
    font-size: 18px;
    font-weight: 300;
}


</style>
