<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />





        <div class="site-canvas">


        <div class="container-fluid top-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 ">
                        <h1 class="ltr text-left">
                            MT5 WebTrader  </h1>
                        <ol class="breadcrumb">
                            <li class="home"><router-link to="/" class="home">NOBLE SKY</router-link></li>
        <li class="post post-page current-item">MT5 WebTrader</li>
                        </ol>
                    </div>

                    <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                        <div class="option-nav">
                                                <router-link to="/contact">
                                                  <i class="contact"></i>
                                                  <span>contact us</span></router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid ">
        	<div class="row top80">
        		<div class="col-sm-12">
                    <h2>Why trade on NOBLE SKY MT5 WebTrader?</h2>
                    <div class="quote-msg top30">
                        <p>
                        	<i class="quote-right "></i>

Suitable for PC and Mac OS system mobile transactions, no need to download any software, NOBLE SKY MT5 WebTrader can directly access the global market.                </p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-12 top40">
                            <h3>NOBLE SKY MT5 WebTrader features</h3>
                            <ul class="checks top35">
                                <li>
                                    More than 100 trading commodities, including stock index index CFD, foreign exchange, precious metal CFD and energy CFD.                        </li>
        						<li>Can be traded through a web browser</li>
        						<li>One-click trading</li>
        						<li>Support all order types</li>
        						<li>Editable chart object</li>
                            </ul>
                        </div>
                    </div>
                </div>
        		<div class="col-md-12 hidden-sm">
                    <img class="img-responsive center-block" src="../../../static/images/page-img/mt5-web/MT5-webtrader.png?v3.0" alt="mt5 webtrader screenshot">
                </div>
        	</div>
            <div class="greenRed-btns top50 text-center">
                <router-link to="/register" class="btn btn-solid btn-green btn-block">
        			<i class="fa fa-pencil-square-o"></i>
        			Create an account		</router-link>
        		<div class="dis20"></div>
        	 <router-link to="/mt5-html" class="btn btn-solid btn-red btn-block">
        			<i class="fa fa-download"></i>
        			Visit MT5 WebTrader		</router-link>
        	</div>
        </div>
        <!--section class="section top80">
        	<div class="container-fluid metatrader">
        		<div class="row">
        			<div class="col-md-12 text-justify mx-2">
                        <h2 class="text-center big">NOBLE SKY MT5-1 platform,Multiple trading varieties</h2>
        				<img class="img-responsive center-block top30" src="../../../static/images/page-img/mt5-web/MT5-webtrader-half.png?v3.0" alt="mt5 webtrader screenshot">
        			</div>
        		</div>
        	</div>
        </section-->
        <div class="container-fluid">
        	<!--div class="container-fluid">
        		<div class="dis30 visible-xs visible-sm"></div>
        		<div class="row btn-a-box">
        			<div class="col-12 py-2 text-center">
                        <router-link to="/register" class="btn-a crate-account-btn">
        					<i class="fa fa-pencil-square-o"></i>
        					Create an account				</router-link>
        			</div>

        			<div class="col-12 py-2 text-center">
        				<router-link to="/mt5-html" class="btn-a download-btn">
        					<i class="fa fa-download"></i>
        					Visit MT5 WebTrader				</router-link>
        			</div>
        			<div class="dis20"></div>
        			<p class="text-center">Access to global financial markets</p>
        		</div>
        	</div-->
        	<div class="row">
        		<hr>
        	</div>
        	<div class="container-fluid metatrader top50">
        		<div class="row">
        			<div class="col-xs-12">
        				<h2>
        					<i class="tfxfont3 xmInstall-pc sm red"></i>
        					How to use NOBLE SKY MT5 WebTrader				</h2>
        				<ul class="arrows top30">
        					<li>
        						Click on <router-link to="/mt5-html">Here</router-link> Enter the terminal.					</li>
        					<li>
        						Enter your real or simulated account login information.					</li>
        				</ul>
        				<div class="dis20"></div>
        				<p>
No need to download any software, you can use NOBLE SKY MT5 WebTrader to log in to a simulated or real account for online trading. NOBLE SKY MT5 WebTrader trading is compatible with MT5. Allow one-click operation to open and close positions, set pending orders, place orders, set profit and stop loss and draw graphs.</p>
        			</div>
        			<div class="col-xs-12 top80">
        				<h2>
        					<i class="tfxfont3 xmInstall-pc sm red"></i>
        					How to use NOBLE SKY MT5 WebTrader				</h2>
        				<p>
Just enter the NOBLE SKY account and password, select the trading server, and click the login button. After successfully connecting to the selected server and logging in, you will immediately access your account and start trading.</p>
        			</div>
        		</div>
        	</div>
        </div>

        <div id="faq">
            <div class="container-fluid top80 text-center">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Common problems</h2>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="accordionText" class="hidden"> </div>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btnAccordion pull-right" data-parent="#accordion1"> </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row top20">
                    <div class="col-md-12 text-justify mx-2">
                        <div class="panel-group" id="accordion1">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">How to access the MT5 platform?</h4>
                                    <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a1collapse1" class="panel-collapse collapse">
                                    <div class="panel-body gray">
                                        <p>You need to have a Noble Sky MT5 trading account to trade on the MT5 platform. Create Noble Sky MT5 account <router-link to="/register">click here</router-link>。</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">How to verify my MT5 account?</h4>
                                    <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a1collapse1" class="panel-collapse collapse">
                                    <div class="panel-body gray">
                                        <p>Click CRM -> "Register" to create an MT5 account, create and log in for authentication, you need to provide the authentication documents we need (for example, identification and address proof).</p>
                                    </div>
                                </div>
                            </div>



                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">What commodities can I trade on MT5?</h4>
                                    <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a1collapse1" class="panel-collapse collapse">
                                    <div class="panel-body gray">
                                        <p>
                                            In the MT5 trading terminal you can trade all of Noble Sky's commodities, including foreign exchange, commodities, securities indices, precious metal CFDs and energy CFDs.                              </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><div class="container-fluid metatrader top80 hidden-xs hidden-sm hidden-l-sm">
            <div class="row">
                <div class="col-md-12 text-justify mx-2">
                    <h2><i class="tfxfont3 xmMobile-devices sm red"></i> Also applies to</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="feature-item7 noborder">
                    <router-link to="/mt5" class="device">
                        <i class="tfxfont3 xmPc"></i>
                        <p class="text-center top20">
                            PC system MT5               </p>
                    </router-link>
                </div>


                <div class="feature-item7 noborder">
                    <router-link to="/mt5-webtrader" class="device">
                        <i class="tfxfont3 xmLaptop"></i>
                        <p class="text-center top20">
                            MT5 WebTrader                </p>
                     </router-link>
                </div>
                <div class="feature-item7 noborder">
                    <router-link to="/mt5-ipad" class="device">
                        <i class="tfxfont3 xmIpad"></i>
                        <p class="text-center top20">
                            MT5 for iPad               </p>
                     </router-link>
                </div>
                <div class="feature-item7 noborder">
                    <router-link to="/mt5-iphone" class="device">
                        <i class="tfxfont3 xmIphone"></i>
                        <p class="text-center top20">
                            MT5 for iPhone               </p>
                     </router-link>
                </div>
                <div class="feature-item7 noborder">
                    <router-link to="/mt5-android" class="device">
                        <i class="tfxfont3 xmAndroid-phone"></i>
                        <p class="text-center top20">
                            Android MT5                </p>
                     </router-link>
                </div>
                <!-- <div class="feature-item7 noborder">
                    <router-link to="/mt5">
                        <i class="tfxfont3 xmAndroid-tablet"></i>
                        <p class="text-center top20">
                            Android Tablet MT5                </p>
                    </router-link>
                </div> -->
            </div>

            </div>
            <div class="dis70"></div>


        </div>




        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },




    };
  },
   metaInfo: {
      title: 'Mt5 webtrader-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },
  mounted(){

      let element = document.querySelectorAll(".panel-heading");



      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){


               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }


    document.documentElement.scrollTop = 0


  },



  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     }
  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-md-2 {
       width: 16.66666667%;
   }
   .col-md-3 {
       width: 25%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }
   .img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
       display: block;
       max-width: 100%;
       height: auto;
   }


   .dis10 {
       height: 10px;
       clear: both;
   }
   .dis20 {
       height: 20px;
       clear: both;
   }

   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
    display: none !important;
}

 .greenRed-btns{
    .btn{color: #fff;text-align: center;}
    .btn.btn-green{background-color: #74c109;}
    .btn.btn-green:hover{background-color: #29a643;}
    .btn.btn-red{background-color: #d51820;}
    .btn.btn-red:hover{background-color: #b30000;}
    .btn-outline{
       color: #d51820;
       border:1px solid #d51820;
       font-size: 24px;
       padding: 8px 18px !important;
    }
    .btn-outline:hover{
      background-color: #d51820;
      color: #fff;
    }

 }
.greenRed-btns .btn.btn-red {
    font-size: 24px;
    padding: 10px 20px !important;
}

.greenRed-btns .btn.btn-green {
    font-size: 30px;
    padding: 15px 20px !important;
}
.btn-a-box{text-align: center;padding-top: 50px;}
.btn-a{
  display: inline-block;
  width: 450px;
  background-color: #74c109;
  color: #fff;
  font-size: 24px;
  padding:10px 20px;
}
.btn-a:hover{background-color: #29a643;}
.btn-a.download-btn{background-color: #d51820;}
.btn-a.download-btn:hover{background-color:#b30000 ;}

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }

   #tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
       font-size: 50px;
       margin-top: -25px;
       margin-left: 0;
       right: 20px;
   }
   .collapse {
        display: block;
    }
   .tab-pane .dis30{height: 50px;}
   .panel-collapse.showFlag{display: none;}

   
   footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

</style>
