<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <div class="site-canvas">


        <div class="container-fluid top-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 ">
                        <h1 class="ltr text-left">
                            MetaTrader 5 (MT5)                </h1>
                        <ol class="breadcrumb">
                            <li class="home"><router-link to="/" class="home">NOBLE SKY</router-link></li>
        <li class="post post-page current-item">MetaTrader 5 (MT5)</li>
                        </ol>
                    </div>

                    <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                        <div class="option-nav">
                                                <router-link to="/contact">
                                                  <i class="contact"></i>
                                                  <span>contact us</span></router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid ">
            <div class="row top80">
                <div class="col-sm-12">
                    <h2>
                        Why Noble sky MT5 is better？            </h2>
                    <div class="quote-msg top30">
                        <p>
                            <i class="quote-right "></i>

Noble sky MT5 platform provides all necessary functions, making MT5 an ideal multi-asset management platform. Foreign exchange and CFD contracts, gold, crude oil and stock indexes can be traded on the same platform, no order rejection, no requotes, and leverage can be flexibly selected from 1:1 to 200:1.                </p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-6 col-md-12 top40">
                            <h3>Noble sky MT5 features</h3>
                            <ul class="checks top35">
                                <li>

More than 100 trading commodities, including stock index index CFD, foreign exchange, precious metal CFD and energy CFD。                        </li>
                                <li>
                                                The spread is as low as 0.6 points                        </li>
                                <li>Full EA function</li>
                                <li>One-click trading</li>
                                <li>Support all order types</li>
                                <li>More than 80 technical analysis tools</li>
                                <li>Latest offer with market depth</li>
                                <li>Allow lock</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 top60 hidden-sm">
                    <img class="img-responsive center-block" src="../../../static/images/page-img/mt5/mt5-pc.png?v3.0" alt="mt5 pc screenshot">
                </div>
            </div>
             <div class="greenRed-btns top50 text-center">
                <router-link to="/register" class="btn btn-solid btn-green btn-block">
                    <i class="fa fa-pencil-square-o"></i>
                    Create an account        </router-link>
                <div class="dis20"></div>
                <a href="https://download.mql5.com/cdn/web/hk.noble.sky/mt5/hknobleskytreasure5setup.exe" class="btn btn-solid btn-red btn-block">
                    <i class="fa fa-download"></i>
                    download        </a>
                 <div class="dis20"></div>
                 <router-link :to="{name:'register',params:{regType:2}}" class="btn btn-outline btn-block">
                     <i class="fa fa-pencil-square-o"></i>
                     Create a demo account         </router-link>
            </div>
        </div>
        <section class="section top80 hidden-xs hidden-sm hidden-l-sm">
            <div class="container-fluid metatrader">
                <div class="row">
                    <div class="col-md-12 text-justify mx-2">
                        <h2 class="text-center big">Noble sky MT5-1 platform, multiple trading varieties</h2>
                        <img class="img-responsive center-block top30" src="../../../static/images/page-img/mt5/mt5-pc-half.png?v3.0" alt="mt5 pc screenshot">
                    </div>
                </div>
            </div>
        </section>
        <div class="container-fluid">
            <div class="container-fluid hidden-xs hidden-sm hidden-l-sm">
                <div class="dis30 visible-xs visible-sm"></div>
                <div class="row btn-a-box">
                    <div class="col-12 py-2 text-center">
                        <router-link to="/register" class="btn-a crate-account-btn">
                            <i class="fa fa-pencil-square-o"></i>
                            Create an account                </router-link>
                    </div>

                    <div class="col-12 py-2 text-center">
                        <a href="https://download.mql5.com/cdn/web/hk.noble.sky/mt5/hknobleskytreasure5setup.exe" class="btn-a download-btn">
                            <i class="fa fa-download"></i>
                            download                </a>
                    </div>
                    <div class="dis20"></div>
                    <p class="text-center">
                        Access to global financial markets            </p>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="container-fluid metatrader">
                <div class="row top50 hidden-xs hidden-sm hidden-l-sm">
                    <div class="col-sm-7 col-md-8">
                        <h2>
                            <i class="tfxfont3 xmInstall-pc sm red"></i>
                            How to install Noble sky MT5                </h2>
                        <ul class="arrows top30">
        	                <li>Click on<a href="https://download.mql5.com/cdn/web/hk.noble.sky/mt5/hknobleskytreasure5setup.exe">Here</a> (.exe file)Download terminal</li>
                            <li>After downloading, run the NOBLE SKY.exe file.</li>
                            <li>When running the program for the first time, you will see the login window.</li>
                            <li>Enter your real account or demo account login information.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid metatrader">
            <div class="row top80">
                <div class="col-md-12 text-justify mx-2">
                    <h2>
                        <i class="tfxfont3 xmZoom sm red"></i>
                        Main features of Noble sky MT5            </h2>
                </div>
                <div class="col-sm-12 ">
                    <ul class="arrows">
                        <li>Multi-asset investment platform with more than 100 trading varieties</li>
                        <li>100 charts can be displayed at the same time</li>
                        <li>Supports all order types, including current price orders, pending orders, take profit stop loss and trailing stop loss</li>
                        <li>More than 80 technical indicators and 40 analysis tools</li>
                    </ul>
                </div>
                <div class="col-sm-12 ">
                    <ul class="arrows">
                        <!--<li></li>-->
                        <li>Excellent built-in MQL5 development environment</li>
                        <li>Applicable to Android &amp; IOS system mobile terminal transactions</li>
                        <li>Support web trading on Windows and Linux operating systems</li>
                        <li>Internal mail system</li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul class="arrows">
                        <li>Multi-currency tester and alerts</li>
                    </ul>
                </div>
            </div>
            <div class="row top80 hidden-xs hidden-sm hidden-l-sm">
                <div class="col-sm-6 col-md-7">
                    <h2>
                        <i class="tfxfont3 xmGears sm red"></i>
                        Noble sky MT5 system requirements            </h2>
                   <!-- <div class="col-md-6 visible-xs">
                        <img class="img-responsive center-block" src="../../../static/images/page-img/mt5/mt5-pc-small.png?v3.0" alt="mt5 pc screenshot">
                    </div> -->
                    <ul class="arrows top30">
                        <li><strong>operating system:</strong>It is recommended that 64-bit versions of Windows 10 or Microsoft Windows 7 or higher are used for the best results.</li>
                        <li><strong>processor:</strong>Support SSE2 for all CPUs (Pentium 4/Athlon 64 and above)</li>
                        <li>Other hardware requirements depend on the platform used (for example, the load of running MQL5 applications, the type of commodities selected and the number of charts)</li>
                    </ul>
                </div>
                <div class="col-sm-12 hidden-xs top30">
                   <img class="img-responsive center-block" src="../../../static/images/page-img/mt5/mt5-pc.png?v3.0" alt="mt5 pc screenshot">
                </div>
            </div>
        </div>
        <div class="container-fluid metatrader">
            <div class="row top80 hidden-xs hidden-sm hidden-l-sm">
                <div class="col-md-12 text-justify mx-2">
                    <h2><i class="tfxfont3 xmTrash sm red"></i> How to uninstall Noble sky MT5 on PC</h2>
                    <ul class="arrows">
                        <li>
                            <span class="red mt4_steps"><strong>step 1:</strong></span>
                            Click Start→All Programs→Noble sky MT5→Uninstall                </li>
                        <li>
                            <span class="red mt4_steps"><strong>Step 2:</strong></span>
                            Follow the steps on the screen to start the uninstallation until the uninstallation process is complete                </li>
                        <li>
                            <span class="red mt4_steps"><strong>Step 3:</strong></span>
                            Click My Computer → click the C drive or root driver to install the operating system → click the program folder → select the Noble sky MT5 folder and delete                </li>
                        <li>
                            <span class="red mt4_steps"><strong>Step 4:</strong></span>
                            Restart the computer                </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="faq">
            <div class="container-fluid top80 text-center">
                <div class="row">
                    <div class="col-md-6">
                        <h2>common problem</h2>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="accordionText" class="hidden"> </div>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btnAccordion pull-right" data-parent="#accordion1"> </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row top20">
                    <div class="col-md-12 text-justify mx-2">
                        <div class="panel-group" id="accordion1">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">How to access the MT5 platform?</h4>
                                    <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a1collapse1" class="panel-collapse collapse">
                                    <div class="panel-body gray">
                                        <p>You need to have a Noble Sky MT5 trading account to trade on the MT5 platform. Create Noble Sky MT5 account<router-link to="/register">click here</router-link>。</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">How to verify my MT5 account?</h4>
                                    <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a1collapse1" class="panel-collapse collapse">
                                    <div class="panel-body gray">
                                        <p>Click CRM -> "Register" to create an MT5 account, create and log in for authentication, you need to provide the authentication documents we need (for example, identification and address proof).</p>
                                    </div>
                                </div>
                            </div>



                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">What commodities can I trade on MT5?</h4>
                                    <i class="fa fa-angle-down pull-right"></i>
                                </div>
                                <div id="a1collapse1" class="panel-collapse collapse">
                                    <div class="panel-body gray">
                                        <p>
                                            In the MT5 trading terminal you can trade all of Noble Sky's commodities, including foreign exchange, commodities, securities indices, precious metal CFDs and energy CFDs.                              </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><div class="container-fluid metatrader top80 hidden-xs hidden-sm hidden-l-sm">
            <div class="row">
                <div class="col-md-12 text-justify mx-2">
                    <h2><i class="tfxfont3 xmMobile-devices sm red"></i> Also applies to</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="feature-item7 noborder">
                    <router-link to="/mt5" class="device">
                        <i class="tfxfont3 xmPc"></i>
                        <p class="text-center top20">
                            PC system MT5                </p>
                    </router-link>
                </div>


                <div class="feature-item7 noborder">
                    <router-link to="/mt5-webtrader" class="device">
                        <i class="tfxfont3 xmLaptop"></i>
                        <p class="text-center top20">
                            MT5 WebTrader                </p>
                     </router-link>
                </div>
                <div class="feature-item7 noborder">
                    <router-link to="/mt5-ipad" class="device">
                        <i class="tfxfont3 xmIpad"></i>
                        <p class="text-center top20">
                            MT5 for iPad                </p>
                     </router-link>
                </div>
                <div class="feature-item7 noborder">
                    <router-link to="/mt5-iphone" class="device">
                        <i class="tfxfont3 xmIphone"></i>
                        <p class="text-center top20">
                            MT5 for iPhone                </p>
                     </router-link>
                </div>
                <div class="feature-item7 noborder">
                    <router-link to="/mt5-android" class="device">
                        <i class="tfxfont3 xmAndroid-phone"></i>
                        <p class="text-center top20">
                            Android MT5                </p>
                     </router-link>
                </div>
                <!-- <div class="feature-item7 noborder">
                    <router-link to="/mt5">
                        <i class="tfxfont3 xmAndroid-tablet"></i>
                        <p class="text-center top20">
                            Android Tablet MT5                </p>
                    </router-link>
                </div> -->
            </div>

            </div>
            <div class="container-fluid metatrader hidden-xs hidden-sm hidden-l-sm">
                <div class="row top50">
                    <div class="col-md-12 text-justify mx-2">
                        <h2><i class="tfxfont3 xmZoom sm red"></i> About MetaTrader 5 (MT5)</h2>
                        <p>The online trading platform MetaTrader 5, also commonly known as MT5, is an upgraded version of the well-known MetaTrader 4 (MT4). it is from<em>MetaQuotes Software Corp.</em>Developed and released a beta version in 2010. Over the years, <em>MetaQuotes</em>Continuous investment in development, testing and improvement has made MT5 a new generation of more malleable trading platforms.</p>
                        <p>The greater advantage that MT5 has over the previous generation is its flexibility. It can flexibly provide more trading commodities through different settings of multiple asset classes, all of which can be in the same interface and the same trading account In the transaction.</p>
                        <p>MetaTrader 5 (MT5) The possibilities of well-known chart packages and automated trading have been raised to a whole new level. All the functions of MetaTrader 4 (MT4) have been completely retained and upgraded to a more complex back-end infrastructure to support traders to conduct multiple commodity transactions in various asset classes.</p>
                        <div class="row top30"></div>
                        <h3>Multi-asset trading via MT5</h3>
                        <div class="row top30"></div>
                        <p>
                            MT5 provides online investors with<a href="http://crm.hknstpm.com:9999/#">Foreign exchange</a>
(Currency trading), stock index, precious metals, energy to commodity contracts for difference (CFDs)And other asset class trading options.                </p>
                        <p>Whether it is a beginner, a senior or a professional online trader, MT5 has opened up a new vision for it, not only at the transaction level, but also allows traders to have a clearer view in different markets and different asset classes. Awareness.</p>
                        <p>In addition, in the 21st century, the ability of online investors to trade various financial assets from one account provides them with the advantage of strategic asset allocation (or asset management). The main purpose is to allocate investment capital to various In assets, and based on market fluctuations and the short-term or long-term performance of these assets to manage risks.</p>
                        <div class="row top30"></div>
                        <h3>Advantages of MT5 online trading</h3>
                        <div class="row top30"></div>
                        <p>The MT5 multifunctional platform contains powerful performance. They are all developed with the most advanced technology. Several main standards are retained. The irreplaceable icon package, the possibility and flexibility of automated trading (algorithmic trading), and multi Kind of market support.</p>
                        <p>For beginners and experienced traders, MT5 ensures that the performance and functions of the platform meet the highest expectations of any online investor today. Including various types of pending orders (buy limit price, buy stop loss, sell limit price, sell stop price, buy stop loss limit price and sell stop loss limit price); a transaction with an unlimited number of The order database, as well as the most advanced programming language MQL5, allows traders to edit programs and indicators that are suitable for their personal trading preferences and financial asset trading preferences.</p>
                        <div class="row top30"></div>
                        <h3>Trading via MT5 on mobile</h3>
                        <div class="row top30"></div>
                        <p>The MT5 application is suitable for iOS and Android devices, and you can access your account anytime and anywhere. Its functions include unparalleled mobile charts and more than 30 built-in indicators, as well as more than 24 technical options for analysis objects.</p>
                    </div>
                </div>
            </div>


        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){

      let element = document.querySelectorAll(".panel-heading");



      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){


               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }


     document.documentElement.scrollTop = 0


  },



  components: {
    pageHeader,
    pageFooter
  },


  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     }
  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }

   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }
   .img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
       display: block;
       max-width: 100%;
       height: auto;
   }



   .dis20 {
       height: 20px;
       clear: both;
   }


   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }

 .greenRed-btns{
    .btn{color: #fff;text-align: center;}
    .btn.btn-green{background-color: #74c109;}
    .btn.btn-green:hover{background-color: #29a643;}
    .btn.btn-red{background-color: #d51820;}
    .btn.btn-red:hover{background-color: #b30000;}
    .btn-outline{
       color: #d51820;
       border:1px solid #d51820;
       font-size: 24px;
       padding: 8px 18px !important;
    }
    .btn-outline:hover{
      background-color: #d51820;
      color: #fff;
    }

 }
.greenRed-btns .btn.btn-red {
    font-size: 24px;
    padding: 10px 20px !important;
}

.greenRed-btns .btn.btn-green {
    font-size: 30px;
    padding: 15px 20px !important;
}
.btn-a-box{text-align: center;padding-top: 50px;}
.btn-a{
  display: inline-block;
  width: 450px;
  background-color: #74c109;
  color: #fff;
  font-size: 24px;
  padding:10px 20px;
}
.btn-a:hover{background-color: #29a643;}
.btn-a.download-btn{background-color: #d51820;}
.btn-a.download-btn:hover{background-color:#b30000 ;}





   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }

    #tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
        font-size: 50px;
        margin-top: -25px;
        margin-left: 0;
        right: 20px;
    }
    .collapse {
        display: block;
    }
   .tab-pane .dis30{height: 50px;}
   .panel-collapse.showFlag{display: none;}

   
   footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

</style>
