<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 ">
                  <h1 class="ltr text-left">Privacy policy</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">Privacy policy</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span> Contact Us</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid top80 text-center regulation">
            <!-- <div class="row">
              <div class="col-md-12 text-justify mx-2">
                <h2>相关法律文件</h2></div>
            </div> -->
            <div class="privacy-box">
                             <p>Please read this privacy policy carefully. By using our products or services, you agree that you have reached the age of 18 and have fully understood and accepted all terms and contents of this Privacy Policy. If you do not agree to this Privacy policy, you may not use our products or services.</p>
                             <h3>Scope of Personal Information</h3>
                             <p>This privacy policy, "personal information" refers to our from personal information collected can be used to identify specific personal identity, which can be divided into personal information can be used alone (such as name, id card information) and cannot be used alone and must be combined with other information to use personal information (e.g., location information, the vehicles). The personal information we collect may include both types of information. Personal information that can be used independently will only be collected with your prior notice and consent. Personal Information that cannot be used in isolation may be collected, used, transferred, and disclosed by us for any purpose other than combined use.</p>
                             <p>We may collect you "personal information" including but not limited to your name, mailing address, phone number, E-mail address, and other contact information, age, date of birth, gender, education, occupation, language, zip code, area code, personal image, interest preference information, id card, driver's license information, credit card information, the only device identifier, location information, vehicle status, behavior, etc.</p>

                             <h3>Means of Personal Information Collection</h3>
                             <p>We will collect and store your personal information in a variety of ways:</p>
                             <p>Information that you voluntarily provide to us when you visit or participate in our official website or other online services (such as when you contact us via our website or email for questions, comments, or online surveys).</p>
                             <p>When you sign up for our offline services;</p>
                             <p>When you download or use applications developed by us or our designated companies;</p>
                             <p>When you follow our social media;</p>
                             <p>When you provide information to representatives of our customer service center;</p>
                             <p>We may also collect information about you from other sources and add it to our customer database.</p>

                             <h5>Collect information through Cookies</h5>
                             <p>We use Cookies and other tracking technology to keep track of how our customers use our website. Cookies are specific identifiers for your device. By identifying your device, we can recommend personalized products and advertisements for you (including affiliate websites that provide advertising content from this website).</p>
                             <p>The information we collect through Cookies is classified and summarized to provide more targeted and valuable product information and services to different groups of customers. The information collected through Cookies is personal information that cannot be used in isolation, and you understand and agree that we use the information collected through Cookies in combination with your other information. Most web browsers automatically turn on Cookies, but you can always adjust your browser Settings to choose to turn off Cookies. However, Cookies can enable you to enjoy our better and more personalized services. If you turn off cookies, you may not be able to fully experience or experience all the services provided on our website. Therefore, we recommend that you set it to the open state.</p>

                             <h5>Collect information through the call center</h5>
                             <p>When you call our service hotline, in order to improve the quality of service and to follow up on your requests, we may collect personal information from you during the call or record the call through electronic media means. You understand and agree that we collect your personal information during the voice call and record the call.</p>


                             <h3>The consequences of refusing to provide personal information</h3>
                             <p>You may not provide your personal information, if you choose not to provide your personal information, we may not be able to provide our products or services to you, or we may not be able to respond to the problems you encounter when using our products or services. We will not be responsible for any loss you may suffer as a result.</p>

                             <h3>How do we use your personal information</h3>
                             <p>We will use the Personal Information collected for the following purposes (the "Personal Information Collection Purposes") :</p>
                             <p>Manage our products and services, provide you with our products and services, and timely communicate with you about your use of our products and services;</p>
                             <p>Support the performance and operation of our services, respond to your inquiries and requests, and handle your transactions;</p>
                             <p>Provide after-sales service and support to you and receive your feedback;</p>
                             <p>Keep you informed of our latest products, services, derivatives and services;</p>
                             <p>Use your personal information for internal purposes, such as data analysis and research, to improve our products, services and communication with customers, and solve customers' problems in a timely manner;</p>
                             <p>Use personal information to send you important notifications about product/service security. As such information is of vital importance to your personal safety, we strongly recommend that you do not refuse to receive such information;</p>
                             <p>To investigate fraud that has occurred or may occur or to prevent fraud or other potential illegal activities; And other ways you agree.</p>
                             <p>In some cases, to provide and improve our products, services, content and advertising, we may also combine your personal information and non-personal information for analysis and research.</p>
                             <p>We will not use your personal Information in contravention of the above personal Information collection purposes or outside the scope of this Privacy Policy. </p>

                             <h3>Disclose and share your personal information with third parties</h3>
                             <p>We respect your personal privacy and comply with relevant laws and regulations. We promise to keep your personal information collected strictly confidential and will not sell your personal information to others. We will only share your Personal Information for personal information collection purposes with the following third parties that comply with or at least provide the same protective practices as this Privacy Policy. Unless otherwise stated, these third parties do not collect, use, or transfer personal information on our behalf. Therefore, we are not responsible for the collection, use, or transfer of personal information by such third parties.</p>

                             <h3>Processing and storage of personal information</h3>
                             <p>We will not process, alter, or damage your personal information in violation of the purpose of your personal information collection or beyond the scope of this Privacy Policy.</p>
                             <p>When we store your personal data, we put in place reasonable and adequate security measures to protect your personal information from unauthorized access, disclosure and loss, including but not limited to electronic security measures and physical security measures.</p>

                             <h3>Integrity and update of personal information</h3>
                             <p>We offer some easy ways to ensure that your personal information is accurate, complete, and up-to-date. We will retain your personal information for such period as is necessary to achieve the purposes set forth in this Privacy Policy, except where such retention is required or permitted by law for a longer period.</p>

                             <h3>Select</h3>
                             <p>We may send you marketing information by E-mail, telephone, mobile phone/text message (including SMS and MMS), or letter, including but not limited to: informing you of the latest information of our products or services, inviting you to participate in our marketing activities, or sending announcements about our products or services.</p>

                             <h3>Children</h3>
                             <p>We will not knowingly collect personal information of a child under the age of 18. If we find that we have collected personal information of children under the age of 18 without parental consent, we will take steps to delete such information as soon as possible.</p>

                             <h3>Third parties collect personal information from you through our products and services</h3>
                             <p>Our products and services may contain links to third-party websites, products, and services. Our products and services may also use or provide products or services from third parties. Such personal information (which may contain location data or contact information, etc.) collected by third parties through our systems, products, and services shall be used, processed, stored, transferred, retained, and destroyed in accordance with the third party's privacy policies and regulations. If we do not capture or collect your personal information in this process, we are not responsible for it, and we hope that you can understand the privacy policy provisions of these third parties; However, if in the process, we, therefore, capture or collect your personal information, we will strictly abide by the terms of this Privacy Policy.</p>

                             <h3>Update</h3>
                             <p>We reserve the right to amend and update this Privacy Policy at any time. If we make significant changes to our Privacy policy, we will post the latest privacy policy on our website as soon as possible. We will also communicate the latest privacy policy to our agents. You can contact our agents for details. Unless otherwise stated, the latest and effective privacy policy applies to you and all your personal information.</p>

                             <h3>Contact us</h3>
                             <p>If you have any questions or queries regarding the above policy or the protection of your personal information, or if you wish to access the content of your personal information held by us, or if you wish to make corrections to the personal information provided by you, please contact us through our customer service. We will reply to your inquiry or request as soon as possible. The response is free unless the cost of providing the response or the frequency of the request for the response is unreasonable.</p>
                             <p>Please read this Privacy Policy carefully. When you have finished reading and continue to provide your personal information, or purchase our products or use our services, you have fully understood and accepted all terms and contents of this Privacy Policy.</p>



                        </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-8 {
       width: 66.66666667%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 25px;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: center;padding: 10px !important;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29a643;}
   }

   .nav-flexbox-tabs {padding: 10px !important;
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


 //  a:focus, a:visited {
  //      color: #d51820;
  //  }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}

.privacy-box{
   h3{font-size: 24px !important;font-weight: bold;margin:50px 0 10px;color: #000 !important;}
   h5{font-size: 18px;font-weight: bold;margin:30px 0 10px;color: #387ee2;}
   p{font-size: 14px;margin-bottom: 10px;}
}



footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}



</style>
