<template>
		<div class="wrap">
        <pageHeader pageName="register" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage"
        @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <main>
            <div class=".scroll-view-flag" style="height: 1px;"></div>
            <div class="box" v-if="account!=''&&account!=undefined">
                 <i class="icon icon-selected"></i>
                 <span>{{language[curLanguage][71]}},&nbsp;&nbsp;{{' '+language[curLanguage][73]}}:<em>{{account}}</em>&nbsp;{{' '+language[curLanguage][74]}}:<em>{{pwd}}</em></span>
                 <p></p>
            </div>
        </main>


		</div>
</template>


<script>
import pageHeader from '../../components/pageHeader.vue'
import {RegisterLanguage} from '../../utils/language'





export default {
  name: "chart",
  data: function() {


    return {


        curCoinType:1,
        curLanguage:2,

        language:RegisterLanguage,
        account:'1111',
        pwd:'111'



    };
  },
   metaInfo() {
       return{
          title: this.curLanguage==1?'申请成功 - N Sky':'Successful application - N Sky',
       }

   },
  created(){


   const storeCoinType = this.localStore.getItem('curCoinType');
   const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   this.account = this.$route.params.account;
   this.pwd = this.$route.params.pwd;

  },
  mounted(){
     this.scrollView();
  },
  components: {
   pageHeader
  },

  methods: {
    scrollView(){
    		  document.querySelector(".scroll-view-flag").scrollIntoView(false);


    },
    changeLanguage(val){
      this.curLanguage = val;
    },



  }

};
</script>





<style scoped lang="scss">

 .wrap{overflow: hidden;}

 main{min-height: calc(100vh - 60px);position: relative;}

 .box{width: 500px;margin: 100px auto;border:1px solid #eee;height: 200px;padding:30px 15px 15px;text-align: center;font-size: 18px;
   i{display: block;font-size: 24px;color: #05c19e;width:50px;height: 50px;line-height: 50px;margin:0 auto 20px;}
   em{color: #409eff;}
 }

  h4, .h4, h5, .h5, h6, .h6 {
      margin-top: 0;
      margin-bottom: 0;
  }
</style>
