<template>
    <div class="wrap" style="background: rgb(14, 14, 35);">
      <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <main>



            <div class="w-1200 theme-black verify">
              <div class="col-12 right">
                <h3><i class="icon icon-dotted"></i><router-link to="/my">{{language[curLanguage][1]}}</router-link></h3>
              </div>
              
                <div class="verify-level-1 row pwdChange"  style="width: 100%;">
                  <div class="col-12">
                    <el-form :model="pwdInfo" :rules="rules" ref="pwdInfoForm" class="demo-ruleForm pwdChange user-box m-auto" style=" width: 60%;">
                      <div class="row" style="--delay: 1.5s;">
                        <div class="col-12 left p-1" style="background: #10122b;">
                          <h5>{{language[curLanguage][10]}}</h5>
                        </div>
                        <div class="info-cell left col-12" style="background: radial-gradient(circle, #1a2049 0%, #13162f 100%);">
                          <ul>
                            <li>
                              <el-form-item :label="language[curLanguage][2]" prop="pwd">
                                <el-input v-model.trim="pwdInfo.pwd" type="password" :placeholder="language[curLanguage][3]"></el-input>
                              </el-form-item>
                            </li>
                            <li>
                              <el-form-item :label="language[curLanguage][4]" prop="newPwd">
                                <el-input v-model.trim="pwdInfo.newPwd" type="password" :placeholder="language[curLanguage][5]"></el-input>
                              </el-form-item>
                            </li>
                            <li>
                              <el-form-item :label="language[curLanguage][6]" prop="confirmPwd">
                                <el-input v-model.trim="pwdInfo.confirmPwd" type="password" :placeholder="language[curLanguage][7]"></el-input>
                              </el-form-item>
                            </li>

                          </ul>
                        </div>
                      </div>

                    </el-form>

                  </div>
                
                  <div class="col-12 user-box">
                    <div class="btn-box m-auto text-center" style="--delay: 1.8s; width:65%">

                      <button @click="submitPwd('pwdInfoForm')">{{language[curLanguage][9]}}</button>

                    </div>
                  </div>
               

                </div>


            </div>



        </main>
    </div>
</template>


<script>
import qs from 'qs'
import pageHeader from '../../components/pageHeader.vue'
import {changePwd} from '../../utils/language'
import md5 from 'js-md5';
import {apiStateList} from '../../utils/result-state'
export default {
  name: "changePwd",

  data: function() {

    var validateConfirmPwd = (rule, value, callback) => {
           if (value === '') {
              callback(new Error('请再次输入密码'));
            } else if (value !== this.pwdInfo.newPwd) {
              callback(new Error('两次密码输入不一致'));
            } else {
              callback();
            }
        }
    return {
        lang:'',
        isLogin:false,
        curCoinType:1,
        curLanguage:2,
        pwdInfo:{
            pwd:'',
            newPwd:'',
            confirmPwd:''
        },

        userLoginInfo:{},
        userInfo:{},

//         rules: {
//           pwd:[
//             {required: true, message: '请输入旧密码', trigger: 'blur'}
//           ],
//            newPwd:[
//              {required: true, message: '新密码不能为空', trigger: 'blur'}
//            ],
//            confirmPwd:[
//              {required: true,validator: validateConfirmPwd, trigger: 'blur' }
//            ]
//
//         },

        language:changePwd,
        resultStateList:apiStateList
    };
  },
   metaInfo() {
       return{
          title: this.curLanguage==1?'修改密码 - N Sky':'Change Password - N Sky',
       }

   },
  created(){

       this.isLogin = this.util.isLogin();
       if(!!this.isLogin){
           this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
           this.userInfo = JSON.parse(this.localStore.getItem('userInfo'));
           this.userCountry = JSON.parse(this.localStore.getItem('userCountry'));
            console.log(this.userCountry)
       }else{
           this.$router.push({name:'login'});
           return
       }




       if(!this.userInfo){
            this.$router.push({name:'my'});
            return
       }

       const storeCoinType = this.localStore.getItem('curCoinType');
       const storeLanguage = this.localStore.getItem('curLanguage');

       this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
       this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

      this.handleCommand(this.curLanguage)

  },

  components: {
   pageHeader
  },
  computed: {


      rules() {

        var validateConfirmPwd = (rule, value, callback) => {
               if (value === '') {
                  callback(new Error(this.language[this.curLanguage][7]));
                } else if (value !== this.pwdInfo.newPwd) {
                  callback(new Error(this.language[this.curLanguage][11]));
                } else {
                  callback();
                }
            }

        return {


                  pwd:[
                    {required: true, message:  this.$t("changePwd.pwd"), trigger: 'blur'}
                  ],
                   newPwd:[
                     {required: true, message:  this.$t("changePwd.newPwd"), trigger: 'blur'}
                   ],
                   confirmPwd:[
                     {required: true,validator: validateConfirmPwd, trigger: 'blur' }
                   ]
          };
      }
    },
  methods: {
    getStateCodeText(code){
          let text = this.resultStateList.find(item=>{
             return item.code == code
          })
          if(this.curLanguage==1){
            return text.cn
          }else{
            return text.en
          }
    
    },
    handleCommand(command) {
          // this.$message("click on item " + command);
          switch (command) {
            case 1: {
              this.lang = "zh";
              this.$i18n.locale = this.lang;
              break;
            }
            case 2: {
              this.lang = "en";
              this.$i18n.locale = this.lang;
              break;
            }

            default:
              break;
          }
        },
      changeCoinType(val){
        this.curCoinType = val;
      },
      changeLanguage(val){
        console.log(val)
        this.curLanguage = val;
        this.handleCommand(this.curLanguage)
      },

     submitPwd(formName){
           ////////////////

           this.$refs[formName].validate((valid) => {
             if (valid) {

               const api = this.$api.url.changePwd;


                        const params = {
                           Uid:this.userLoginInfo.userID,
                           Token:this.userLoginInfo.session,
                           Device:'web',
                           NewPwd:md5(this.pwdInfo.newPwd),
                           OldPwd:md5(this.pwdInfo.pwd)
                        }

                         this.$axios.post(api,params)
                        .then((res)=>{
                            if(res.data.code==0){
                                  this.$message({
                                    message:this.language[this.curLanguage][12],
                                    type: "success",
                                    center: true,
                                    duration:1800
                                  })
                                 this.$router.push({name:'my'});
                              // this.getUserVerify1()

                            }else{
                              let resultMsg = this.getStateCodeText(res.data.code)
                              this.$message({
                                message:this.language[this.curLanguage][13]+" " +this.language[this.curLanguage][14]+resultMsg,
                                type: "error",
                                center: true,
                                duration:1800
                              })
                            }


                        }).catch((error)=>{
                            this.$message({
                              message: error,
                              type: "error",
                              center: true,
                            duration:1800
                            })
                          })


             } else {
               console.log('error submit!!');
               return false;
             }
           });


     },

      userLogout(){
         this.$router.push({name:'login'});
      }

  }

};
</script>





<style scoped lang="scss">
:root {
    --delay: 0s;
  }

  .wrap{min-height: 100vh;background: #16233c;padding-bottom: 100px;}
  main{border-top: 1px solid #000;color: #fff;}
  .w-1200{width:1200px;margin:30px auto 0;
     h3{height: 40px;line-height: 40px;color: #fff;font-size: 18px;
      a{color: #fff;}
      i{font-size: 24px;margin-right: 5px;}
     }
  }
 li{
     label,span{color:#aeb9d8}
 }
 .row{margin-top: 50px;padding-bottom: 15px;
   h5{font-size: 16px;margin-bottom: 15px;}
 }
 .info-cell{border:1px solid #57658a;padding:30px;
   ul{width:650px;}
 }
 .btn-box{
     margin-top: 30px;
     button{width:400px;height: 50px;border-radius: 3px;background:#387ee2;color: #fff;font-size: 16px;cursor: pointer;
     -webkit-transition:background .2s ease 0s;transition:background .2s ease 0s;}
     button:hover{background:#2b6ecd;}
     button.dasable{background: #163663;color: #aaa;cursor:not-allowed}
 }



 h4, .h4, h5, .h5, h6, .h6 {
     margin-top: 0;
     margin-bottom: 0;
 }


.user-box > * {
    animation: top 1s var(--delay) both;
          // --webkitAnimationDelay: top var(--delay) both;
          // --mozAnimationDelay: top var(--delay) both;
          // --animationDelay:top var(--delay) both;
  }
   @keyframes left {
    0% {
      transform: translateX(-30px);
      opacity: 0;
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes top {
    0% {
      transform: translateY(-30px);
      opacity: 0;
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }

</style>
