<template>
		<div class="wrap">
      <pageHeader pageName="login" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @userLogout="userLogout"
      @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
			<main>
        <div class="main-boxy">
              
              <!-- <div class="slider-cont">
                <div class="img-txt">
                  <div class="img-layer"></div>
                  <img style="height: 100%;" src="../../../static/images/What-is-Forex-Trading.jpg">
                </div>
              </div> -->
              <div class="form-cont">
               <h3><i class="fas fa-user-tie"></i> {{language[curLanguage][1]}}</h3>
              <div class="top-buttons">
                <router-link to="/register"><button class="to-signup">{{language[curLanguage][15]}}</button></router-link>
                <button class="to-signin top-active-button">{{language[curLanguage][9]}}</button>
              </div>
             
              <div class="form form-signup">
                <!--<form >-->
                  <el-form :model="loginForm" :rules="rules" ref="loginForm" class="demo-ruleForm">
                      <el-form-item :label="language[curLanguage][2]" prop="email">
                        <el-input v-model.trim="loginForm.email" :placeholder="language[curLanguage][3]" @keyup.enter.native="submitLoginInfo('loginForm')">  </el-input>
                      </el-form-item>
                      <el-form-item :label="language[curLanguage][5]" prop="pwd">
                        <el-input v-model.trim="loginForm.pwd" type="password" auto-complete="off" :placeholder="language[curLanguage][6]" @keyup.enter.native="submitLoginInfo('loginForm')">  </el-input>
                      </el-form-item>
                      <!-- <div class="pwd-link">
                          <a href="javascript:">{{language[curLanguage][8]}}</a>
                      </div> -->



                  </el-form>
                  <div class="row" style="width:100%; justify-content: center;">
                    <input type="submit" @click="submitLoginInfo('loginForm')"  class="form-btn" v-bind:value="language[curLanguage][9]">
                  </div>
                <!--</form>-->
              </div>
            </div>
            </div>
              <!-- <div class="login-box">
                  <h3>{{language[curLanguage][1]}}</h3>
                  <el-form :model="loginForm" :rules="rules" ref="loginForm" class="demo-ruleForm">
                      <el-form-item :label="language[curLanguage][2]" prop="email">
                        <el-input v-model.trim="loginForm.email" :placeholder="language[curLanguage][3]" @keyup.enter.native="submitLoginInfo('loginForm')">  </el-input>
                      </el-form-item>
                      <el-form-item :label="language[curLanguage][5]" prop="pwd">
                        <el-input v-model.trim="loginForm.pwd" type="password" auto-complete="off" :placeholder="language[curLanguage][6]" @keyup.enter.native="submitLoginInfo('loginForm')">  </el-input>
                      </el-form-item> -->
                      <!-- <div class="pwd-link">
                          <a href="javascript:">{{language[curLanguage][8]}}</a>
                      </div> -->



                  <!-- </el-form>
                  <div class="btn-box"> -->
                     <!-- <button @click="submitLoginInfo('loginForm')">{{language[curLanguage][9]}}</button> -->
                     <!-- <span @click="submitLoginInfo('loginForm')">aaaaaa</span> -->
                  <!-- </div>
              </div> -->

			</main>
		</div>
</template>


<script>
import pageHeader from '../../components/pageHeader.vue'
import {LoginLanguage} from '../../utils/language'
import md5 from 'js-md5';
import moment from 'moment'
import {apiStateList} from '../../utils/result-state'
export default {
  name: "login",
  data: function() {
    
//     var validateEmail = (rule, value, callback) => {
//             console.log(this.util.isEmail(value))
//             if(!this.util.isEmail(value)){
//               callback(new Error('邮箱格式不正确'))
//             }else{
//               callback();
//             }
//
//         }

    return {
      head:['登录','Sign in','Giriş Yap','تسجيل الدخول','ورود به سیستم'],
         isLogin:false,
         headShowUserName:'',
         loginForm: {
            email: '',
            pwd: '',
        },
        curCoinType:1,
        curLanguage:2,
        language:LoginLanguage,
        Lang:'',
        resultStateList:apiStateList

        // rules: {
        //   // email: [
        //   //   { required: true, message:'', trigger: 'blur' },
        //   //   { validator: validateEmail, trigger: 'blur' }
        //   // ],
        //   pwd:[
        //     {required: true, message: '', trigger: 'blur'}
        //   ]
        // }

    };
  },
   metaInfo() {return {
      // 

      title: this.head[this.curLanguage-1]+'-N Sky',
      }

  },
  created(){





      if(this.localStore.getItem('registerID') != undefined){

          this.localStore.removeItem('registerID')
          this.localStore.removeItem('registerForm')
      }

    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

  // this.handleCommand(this.curLanguage)

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
      this.$router.push({name:'my'});
   }




   // this.rules.email[0].message = this.language[this.curLanguage][4];
   // this.rules.pwd[0].message = this.language[this.curLanguage][7];


  },

  components: {
   pageHeader
  },

  computed: {
      rules() {
        return {
          email: [
            {
              required: true,
              message: this.$t("login.email"),
              trigger: "blur"
            }
            // {
            //   pattern: /^(?=.*\d)(?=.*[a-zA-Z])(?=.*[\W_]).{6,16}$/,
            //   message: "输入6-16位包含数字、字母、特殊字符的密码",
            //   trigger: "blur"
            // }
          ],
        };
      }
    },

  methods: {
      getStateCodeText(code){
            let text = this.resultStateList.find(item=>{
               return item.code == code
            })
            if(this.curLanguage==1){
              return text.cn
            }else{
              return text.en
            }
      
      },
      handleCommand(command) {
            // this.$message("click on item " + command);
            switch (command) {
              case 1: {
                this.lang = "zh";
                this.$i18n.locale = this.lang;
                break;
              }
              case 2: {
                this.lang = "en";
                this.$i18n.locale = this.lang;
                break;
              }

              default:
                break;
            }
          },

      changeCoinType(val){
        this.curCoinType = val;
      },
      changeLanguage(val){
        console.log(val)
        this.curLanguage = val;
        this.handleCommand(this.curLanguage)
      },
      submitLoginInfo(formName){
        let that = this;
        this.$refs[formName].validate((valid) => {
          if (valid) {
              const api = this.$api.url.login;
              const params = {
                 Device:'web',
                 Name:this.loginForm.email,
                 Pwd:md5(this.loginForm.pwd)
              }

               this.$axios.get(api,{params:params})
              .then((res)=>{
                        if(res.data.code==0){



                         const rest = JSON.parse(res.data.data)

                         this.localStore.setItem('userLoginInfo',{userName:this.loginForm.email,session:rest.u_token,userID:rest.u_id,userType:rest.u_type});
                         this.$refs.pageHead.loginSuccess();

                         this.$message({
                           message:this.language[this.curLanguage][11],
                           type: "success",
                           center: true,
                           duration:2000
                         })


                         let fromPage = this.localStore.getItem('fromPage')

                         if(this.$route.query.page!=undefined){
                             fromPage = this.$route.query.page
                         }

                         if(!!fromPage){

                            this.$router.push({name:fromPage});
                            this.localStore.removeItem('fromPage');
                         }else{
                            this.$router.push({name:'coinstrad'});
                         }


                  }else if(res.data.code==2006){
                    this.$message({
                      message:this.language[this.curLanguage][13],
                      type: "error",
                      center: true,
                      duration:2000
                    })
                  }else{
                    let resultMsg = this.getStateCodeText(res.data.code)
                    this.$message({
                      message:this.language[this.curLanguage][14]+' '+this.language[this.curLanguage][10]+': '+resultMsg,
                      type: "error",
                      center: true,
                      duration:2000
                    })
                  }

              }).catch((error)=>{
                  this.$message({
                    message: error,
                    type: "error",
                    center: true,
                  duration:2000
                  })
                })



          } else {
            console.log('error submit!!');
            return false;
          }
        });


      },
      userLogout(){
         this.$router.push({name:'login'});
      }

  }

};
</script>



<style scoped lang="scss">

 .wrap{min-height: 100vh;overflow: hidden;background:#0f0f24;}


 .login-box{width:500px;margin:100px auto;background: #fff;padding:30px 50px;border-radius: 5px;
   h3{margin-bottom: 30px;font-size: 20px;text-align: center;}
   .el-form-item{margin-bottom: 20px;}

   .btn-box{margin-top: 40px;
      button{width: 100%;height: 50px;line-height: 50px;color: #fff;font-size: 16px;background: #409eff;border-radius: 4px;
      -webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;cursor: pointer;
      }
      button:active{background:#2992fe; }
    }
    .pwd-link{text-align: right;
      a{color: #409eff;}
    }

 }


  h4, .h4, h5, .h5, h6, .h6 {
      margin-top: 0;
      margin-bottom: 0;
  }


    ::-webkit-scrollbar{
      background:#fff;width:0;height:0;display:none;
  }
  ::-webkit-scrollbar-thumb {
    background: #fff;
    width: 0;
    height: 0;
    display: none;
  }



</style>
