<template>
    <div class="wrap" style="background: rgb(14, 14, 35);">
      <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <main>
            <div class="w-1200 theme-black verify">
                <h3><i class="icon icon-dotted"></i><router-link :to="{name:'my',query:{type:1}}">{{language[curLanguage][1]}}</router-link></h3>
                <div class="remarks" v-if="lv3State==2">
                    <p><i class="icon icon-tip"></i>{{language[curLanguage][5]}}：{{remarks}}</p>
                </div>
                <div class="verify-level-2 clearfix">
                    <div class="upload-box" :class="{border:uploadImg.imgGroup.img0.url!=''}" v-loading="uploadImg.imgGroup.img0.uploadStatu">
                       <i class="icon icon-del" @click="delImg(0)" v-if="lv3State!=1"></i>
                       <div class="img-box" v-if="lv3State==1">
                          <img :src="uploadImg.imgGroup.img0.url" class="avatar" v-if="uploadImg.imgGroup.img0.url!=''" />
                       </div>

                        <el-upload
                          class="avatar-uploader"
                          :action="uploadImg.uploadURL"
                          :headers="uploadImg.uploadHead"
                          :show-file-list="false"
                          :before-upload="beforeUploadImg0"
                          :http-request="upload0"
                          :on-success="handlePhotosSuccess"
                          :on-preview="handlePhotosPreview"
                          :on-remove="handleRemove" v-else>
                          <img v-if="uploadImg.imgGroup.img0.url!=''" :src="uploadImg.imgGroup.img0.url" class="avatar">
                          <i v-else class="avatar-uploader-icon">
                              <span>{{language[curLanguage][2]}}</span>
                          </i>
                        </el-upload>
                        <el-dialog :visible.sync="dialogVisible">
                          <img width="100%" :src="dialogImageUrl" alt="">
                        </el-dialog>

                    </div>

                    <div class="upload-box" :class="{border:uploadImg.imgGroup.img1.url!=''}" v-loading="uploadImg.imgGroup.img1.uploadStatu">
                        <i class="icon icon-del" @click="delImg(1)" v-if="lv3State!=1"></i>
                        <div class="img-box" v-if="lv3State==1">
                           <img :src="uploadImg.imgGroup.img1.url" class="avatar" v-if="uploadImg.imgGroup.img1.url!=''" />
                        </div>
                        <el-upload
                          class="avatar-uploader"
                          :action="uploadImg.uploadURL"
                          :headers="uploadImg.uploadHead"
                          :show-file-list="false"
                          :before-upload="beforeUploadImg1"
                          :http-request="upload1"
                          :on-success="handlePhotosSuccess"
                          :on-preview="handlePhotosPreview"
                          :on-remove="handleRemove" v-else>
                          <img v-if="uploadImg.imgGroup.img1.url!=''" :src="uploadImg.imgGroup.img1.url" class="avatar">
                          <i v-else class="avatar-uploader-icon IDcard2">
                              <span>{{language[curLanguage][2]}}</span>
                          </i>
                        </el-upload>

                    </div>

                    <div class="upload-box" :class="{border:uploadImg.imgGroup.img2.url!=''}" v-loading="uploadImg.imgGroup.img2.uploadStatu">

                        <i class="icon icon-del" @click="delImg(2)" v-if="lv3State!=1"></i>
                        <div class="img-box" v-if="lv3State==1">
                           <img :src="uploadImg.imgGroup.img2.url" class="avatar" v-if="uploadImg.imgGroup.img2.url!=''" />
                        </div>

                        <el-upload
                          class="avatar-uploader"
                          :action="uploadImg.uploadURL"
                          :headers="uploadImg.uploadHead"
                          :show-file-list="false"
                          :before-upload="beforeUploadImg2"
                          :http-request="upload2"
                          :on-success="handlePhotosSuccess"
                          :on-preview="handlePhotosPreview"
                          :on-remove="handleRemove" v-else>
                          <img v-if="uploadImg.imgGroup.img2.url!=''" :src="uploadImg.imgGroup.img2.url" class="avatar">
                          <i v-else class="avatar-uploader-icon IDcard3">
                              <span>{{language[curLanguage][2]}}</span>
                          </i>
                        </el-upload>

                    </div>
                    <div class="upload-box" :class="{border:uploadImg.imgGroup.img3.url!=''}" v-loading="uploadImg.imgGroup.img3.uploadStatu">
                        <i class="icon icon-del" @click="delImg(3)" v-if="lv3State!=1"></i>
                        <div class="img-box" v-if="lv3State==1">
                           <img :src="uploadImg.imgGroup.img3.url" class="avatar" v-if="uploadImg.imgGroup.img3.url!=''" />
                        </div>
                        <el-upload
                          class="avatar-uploader"
                          :action="uploadImg.uploadURL"
                          :headers="uploadImg.uploadHead"
                          :show-file-list="false"
                          :before-upload="beforeUploadImg2"
                          :http-request="upload3"
                          :on-success="handlePhotosSuccess"
                          :on-preview="handlePhotosPreview"
                          :on-remove="handleRemove" v-else>
                          <img v-if="uploadImg.imgGroup.img3.url!=''" :src="uploadImg.imgGroup.img3.url" class="avatar">
                          <i v-else class="avatar-uploader-icon IDcard3">
                              <span>{{language[curLanguage][2]}}</span>
                          </i>
                        </el-upload>

                    </div>
                    <div class="upload-box" :class="{border:uploadImg.imgGroup.img4.url!=''}" v-loading="uploadImg.imgGroup.img4.uploadStatu">
                        <i class="icon icon-del" @click="delImg(4)" v-if="lv3State!=1"></i>
                        <div class="img-box" v-if="lv3State==1">
                           <img :src="uploadImg.imgGroup.img4.url" class="avatar" v-if="uploadImg.imgGroup.img4.url!=''" />
                        </div>
                        <el-upload
                          class="avatar-uploader"
                          :action="uploadImg.uploadURL"
                          :headers="uploadImg.uploadHead"
                          :show-file-list="false"
                          :before-upload="beforeUploadImg4"
                          :http-request="upload4"
                          :on-success="handlePhotosSuccess"
                          :on-preview="handlePhotosPreview"
                          :on-remove="handleRemove" v-else>
                          <img v-if="uploadImg.imgGroup.img4.url!=''" :src="uploadImg.imgGroup.img4.url" class="avatar">
                          <i v-else class="avatar-uploader-icon IDcard3">
                              <span>{{language[curLanguage][2]}}</span>
                          </i>
                        </el-upload>

                    </div>

                </div>
                <div class="btn-box" v-if="lv3State!=1">
                    <p style="color: #aeb9d8;margin-bottom: 20px;">
                      <i style="color: #fff;">{{language[curLanguage][6]}}</i><br />
                      <span>1.{{language[curLanguage][7]}}</span><br />
                      <span>2.{{language[curLanguage][8]}}</span><br />
                      <span>3.{{language[curLanguage][9]}}</span><br />
                      <span>4.{{language[curLanguage][10]}}</span>
                    </p>
                    <p style="margin-bottom: 20px;" class="verify-checkbox"><el-checkbox v-model="checked">{{language[curLanguage][3]}}</el-checkbox></p>

                    <button @click="submitVerifyInfo(1)" class="aaaaaaa" :class="{dasable:!checked}" v-if="lv3State==-1">{{language[curLanguage][4]}}</button>
                    <button @click="submitVerifyInfo(2)" :class="{dasable:!checked}" v-else>{{language[curLanguage][11]}}</button>
                </div>





            </div>

        </main>
    </div>
</template>


<script>

import pageHeader from '../../components/pageHeader.vue'
import {verify3} from '../../utils/language'
import {apiStateList} from '../../utils/result-state'
export default {
  name: "chart",
  data: function() {
    return {

        isLogin:false,
        curCoinType:1,
        curLanguage:2,
        language:verify3,
        userLoginInfo:{},
        userInfo:{},
        ui_id:'',
        uploadImg:{
            uploadURL:this.$api.imgUploadURL,
            uploadHead:{
            	'Content-Type':'application/x-www-form-urlencoded; charset=UTF-8'
            },
            imgFile:null,
            baseData:null,
            imgGroup:{
                img0:{
                   uploadStatu:false,
                   url:''
                },
                img1:{
                   uploadStatu:false,
                   url:''
                },
                img2:{
                   uploadStatu:false,
                   url:''
                },
                img3:{
                   uploadStatu:false,
                   url:''
                },
                img4:{
                   uploadStatu:false,
                   url:''
                }
            },
            uploadType:0,
            fileIsImg:false,
            imgMaxWidth:1000,
            imgMaxHeight:1600
        },

        remarks:'',
        checked:'',
        dialogImageUrl: '',
        dialogVisible: false,
        resultStateList:apiStateList,
        lv2State:-1,
        lv3State:-1
    };
  },
   metaInfo() {
       return{
          title: this.curLanguage==1?'三级实名认证-N Sky':'User three level authentication - N Sky',
       }
   
   },
  created(){

   const storeLanguage = this.localStore.getItem('curLanguage');
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage
   this.isLogin = this.util.isLogin();
   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       this.userInfo = JSON.parse(this.localStore.getItem('userInfo'));
   }else{
       this.$router.push({name:'login'});
       return;
   }
   this.lv2State =  this.localStore.getItem('userLv2State');
   this.lv3State =  this.localStore.getItem('userLv3State');

   if(!!this.userInfo){
       if(this.lv2State!=1){
           this.$router.push({name:'verifyLv2'});
           return;
       }
   }else{
        this.$router.push({name:'my'});
        return;
   }

   console.log(this.lv3State)
   if(this.lv3State!=-1){
     this.getUserVerify3();
   }


  },

  components: {
   pageHeader
  },
  methods: {
    getStateCodeText(code){
          let text = this.resultStateList.find(item=>{
             return item.code == code
          })
          if(this.curLanguage==1){
            return text.cn
          }else{
            return text.en
          }
    
    },
     changeCoinType(val){
       this.curCoinType = val;
     },
     changeLanguage(val){
       console.log(val)
       this.curLanguage = val;
     },
     beforeUploadImg0(file){
          console.log(file)
          this.uploadImg.imgGroup.img0.uploadStatu=true;
          // this.uploadImg.uploadType=0;
          const isIMG =  file.type.indexOf('image/')!=-1;
          this.uploadImg.imgFile = file;
          const fileIsTrue = !!isIMG;
          this.uploadFilter(fileIsTrue,0);
          return fileIsTrue;
     },
     beforeUploadImg1(file){
          console.log(file)
          this.uploadImg.imgGroup.img1.uploadStatu=true;
          // this.uploadImg.uploadType=1;
          const isIMG =  file.type.indexOf('image/')!=-1;
          this.uploadImg.imgFile = file;
          console.log(this.uploadImg.imgFile)
          // const fileIsTrue = !!isIMG||!!isWord||!!isPDF||!!isVideo;
          const fileIsTrue = !!isIMG;
          this.uploadFilter(fileIsTrue,1);
          return fileIsTrue;
     },
      beforeUploadImg2(file){
          console.log(file)
          this.uploadImg.imgGroup.img2.uploadStatu=true;
          // this.uploadImg.uploadType=2;
          const isIMG =  file.type.indexOf('image/')!=-1;
          this.uploadImg.imgFile = file;
          const fileIsTrue = !!isIMG;
          this.uploadFilter(fileIsTrue,2);
          return fileIsTrue;
     },
     beforeUploadImg3(file){
          console.log(file)
          this.uploadImg.imgGroup.img3.uploadStatu=true;
          const isIMG =  file.type.indexOf('image/')!=-1;
          this.uploadImg.imgFile = file;
          const fileIsTrue = !!isIMG;
          this.uploadFilter(fileIsTrue,3);
          return fileIsTrue;
     },
     beforeUploadImg4(file){
          console.log(file)
          this.uploadImg.imgGroup.img4.uploadStatu=true;
          const isIMG =  file.type.indexOf('image/')!=-1;
          this.uploadImg.imgFile = file;
          const fileIsTrue = !!isIMG;
          this.uploadFilter(fileIsTrue,4);
          return fileIsTrue;
     },
    uploadFilter(fileType,type){
          if (!fileType) {
            this.$message.error(this.language[this.curLanguage][13]);
            this.uploadImg.imgGroup['img'+type].uploadStatu=true;
          }
      },
   upload0(){

      this.uploadStart().then(data=>{
            if(data.data.code!=0){
               this.$message({
                 message: this.language[this.curLanguage][14],
                 type: "error",
                 center: true
               })
               this.uploadImg.imgGroup.img0.uploadStatu=false;
            }

           if(data.data.code==0){
                this.handlePhotosSuccess(data.data.result,0);
            }

      });
   },

   upload1(){
     this.uploadStart().then(data=>{
           if(data.data.code!=0){
              this.$message({
                message: this.language[this.curLanguage][14],
                type: "error",
                center: true
              })
              this.uploadImg.imgGroup.img1.uploadStatu=false;
           }

          if(data.data.code==0){
               this.handlePhotosSuccess(data.data.result,1);
           }

     });
   },
   upload2(){
      this.uploadStart().then(data=>{
            if(data.data.code!=0){
               this.$message({
                 message:this.language[this.curLanguage][14],
                 type: "error",
                 center: true
               })
               this.uploadImg.imgGroup.img2.uploadStatu=false;
            }

           if(data.data.code==0){
                this.handlePhotosSuccess(data.data.result,2);
            }

      });
   },
   upload3(){
      this.uploadStart().then(data=>{
            if(data.data.code!=0){
               this.$message({
                 message:this.language[this.curLanguage][14],
                 type: "error",
                 center: true
               })
               this.uploadImg.imgGroup.img3.uploadStatu=false;
            }

           if(data.data.code==0){
                this.handlePhotosSuccess(data.data.result,3);
            }

      });
   },
   upload4(){
      this.uploadStart().then(data=>{
            if(data.data.code!=0){
               this.$message({
                 message:this.language[this.curLanguage][14],
                 type: "error",
                 center: true
               })
               this.uploadImg.imgGroup.img4.uploadStatu=false;
            }

           if(data.data.code==0){
                this.handlePhotosSuccess(data.data.result,4);
            }

      });
   },
	uploadStart(){
           var promise = new Promise((resolve, reject)=>{
                     const that=this

                     var img = new Image()
                     var reader = new FileReader();

                     console.log(this.uploadImg.imgFile);

                     reader.readAsDataURL(this.uploadImg.imgFile);
                     reader.onload=function(){
                        img.src = this.result;
                     }

                     img.onload=function(){
                         that.uploadImg.baseData = that.getBase64Image(this);


                           that.$axios.post(that.uploadImg.uploadURL,{file:that.uploadImg.baseData})
                           .then((res)=>{
                                 resolve(res);

                           })

                     }
                })

				return promise;

	 },

     handlePhotosSuccess(fileName,upType) {

      		const fileURL = fileName
            this.uploadImg.imgGroup['img'+upType].url = fileURL

     			this.uploadImg.imgGroup['img'+upType].uploadStatu = false;
//                 this.verifyFormData2.img.splice(upType,1,fileURL);
//                 console.log(this.verifyFormData2.img);
//      			if(upType==1||upType==2||upType==3){
//      				this.verifyFormData2.img.push(fileURL);
//      			}else{
//      				this.verifyFormData3.img.push(fileURL);
//      			}




     			// this.photos.fileType.splice(photosIndex,1,false);

     			 // this.videoPlayTime = 0;
      },
     delImg(type){
         this.uploadImg.imgGroup['img'+type].url = '';
         this.uploadImg.imgGroup['img'+type].uploadStatu=false;
     },

//      beforeUploadImg2(file){
//         console.log(file);
//      },
//      beforeUploadImg3(file){
//         console.log(file);
//      },
	  handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePhotosPreview(file) {
        this.dialogImageUrl = file.url;
        this.dialogVisible = true;
      },

      getBase64Image(img) {
            var canvas = document.createElement("canvas");
            var context = canvas.getContext('2d');
            //原始尺寸
            var originWidth  = img.width;
            var originHeight  = img.height;

            //最大尺寸限制
            var maxWidth = this.uploadImg.imgMaxWidth, maxHeight = this.uploadImg.imgMaxHeight;
            // 目标尺寸
            var targetWidth = originWidth, targetHeight = originHeight;

             // 图片尺寸超过设定的限制
            if (originWidth > maxWidth || originHeight > maxHeight) {
                if (originWidth / originHeight > maxWidth / maxHeight) {
                    // 更宽，按照宽度限定尺寸
                    targetWidth = maxWidth;
                    targetHeight = Math.round(maxWidth * (originHeight / originWidth));
                } else {
                    targetHeight = maxHeight;
                    targetWidth = Math.round(maxHeight * (originWidth / originHeight));
                }
            }

            // canvas对图片进行缩放
            canvas.width = targetWidth;
            canvas.height = targetHeight;
            // 清除画布
            context.clearRect(0, 0, targetWidth, targetHeight);
            // 图片压缩
            context.drawImage(img, 0, 0, targetWidth, targetHeight);

    // 				 //修复ios上传图片的时候 被旋转的问题
    // 				if( img!= "" && Orientation != 1){
    // 				  switch(Orientation){
    // 				    case 6://需要顺时针（向左）90度旋转
    // 				        this.rotateImg(img,'left',canvas);
    // 				        break;
    // 				    case 8://需要逆时针（向右）90度旋转
    // 				        this.rotateImg(img,'right',canvas);
    // 				        break;
    // 				    case 3://需要180度旋转
    // 				        this.rotateImg(img,'right',canvas);//转两次
    // 				        this.rotateImg(img,'right',canvas);
    // 				        break;
    // 				  }
    // 				}

            var dataURL = canvas.toDataURL("image/jpeg", 0.8);
            return dataURL;

      	  },
          getUserVerify3(){
              const api = this.$api.url.userVerify1;
              const params = {
                 Device:'web',
                 Uid:this.userLoginInfo.userID,
                 Token:this.userLoginInfo.session
              }
              this.$axios.get(api,{params:params})
              .then((res)=>{
                  if(res.data.code==0){
                      let data = JSON.parse(res.data.data).info3
                      this.lv3State = data.ui_state;
                      this.localStore.setItem('userInfo',this.userInfo);
                      let imgURL = [];
                      if(data.ui_address_img.indexOf('|')>=0){
                          imgURL = data.ui_address_img.split('|')
                      }else if(data.ui_address_img.indexOf('|')<0&&data.ui_address_img.length>0){
                          imgURL[0] = data.ui_address_img;
                      }
                      console.log(imgURL);
                      imgURL.forEach((item,index)=>{
                          this.uploadImg.imgGroup['img' + index].url = item;
                      })

                      this.ui_id = data.ui_id;
                      this.remarks = data.ui_remarks
                  }else if(res.data.code==1011){

                        this.$refs.pageHead.logout();
                        this.isLogin = false;
                        this.$router.push({name:'login'});
                  }else{
                    let resultMsg = this.getStateCodeText(res.data.code)
                    this.$message({
                      message:this.language[this.curLanguage][15]+" " +this.language[this.curLanguage][12]+resultMsg,
                      type: "error",
                      center: true,
                      duration:1800
                    })
                  }

              }).catch((error)=>{
                  this.$message({
                    message: error,
                    type: "error",
                    center: true,
                  duration:1800
                  })
                })
          },
          submitVerifyInfo(type){
                    if(!this.checked){return;}
                    let imgURL=''
                    for(let i=0;i<5;i++){

                        if(this.uploadImg.imgGroup['img'+i].url==''){

                            continue
                        }
                        imgURL= imgURL + this.uploadImg.imgGroup['img'+i].url+'|'
                    }

                    if(imgURL.length==0){
                        this.$message({
                          message:this.language[this.curLanguage][16],
                          type: "error",
                          center: true,
                          duration:1800
                        })
                        return;
                    }

                    imgURL = imgURL.substring(0,imgURL.length-1)
                    console.log(imgURL)

                    const api = this.$api.url.userVerify3;
                    const params = {
                        Action:type==1?0:1,
                        Uid:this.userLoginInfo.userID,
                        Token:this.userLoginInfo.session,
                        Device:'web',
                        Address_Img:imgURL
                     }


                      this.$axios.post(api,params)
                     .then((res)=>{
                         if(res.data.code==0){

                            this.$message({
                              message:type==1?this.language[this.curLanguage][17]:this.language[this.curLanguage][18],
                              type: "success",
                              center: true,
                              duration:1800
                            })

                            this.$router.push({name:'my',query:{type:1}});
                         }else{
                           let resultMsg = this.getStateCodeText(res.data.code)
                           this.$message({
                             message:this.language[this.curLanguage][19]+" " +this.language[this.curLanguage][12]+resultMsg,
                             type: "error",
                             center: true,
                             duration:1800
                           })
                         }

                     }).catch((error)=>{
                         this.$message({
                           message: error,
                           type: "error",
                           center: true,
                         duration:1800
                         })
                       })
          },
          userLogout(){
             this.$router.push({name:'login'});
          }





  }

};
</script>



<style scoped lang="scss">

  .wrap{min-height: 100vh;background: #16233c;padding-bottom: 100px;}
  main{border-top: 1px solid #000;color: #fff;}
  .w-1200{width:1200px;margin:30px auto 0;
     h3{height: 40px;line-height: 40px;color: #fff;font-size: 18px;
      a{color: #fff;}
      i{font-size: 24px;margin-right: 5px;}
     }
     .verify-level-2{margin-top: 55px;}
  }

 .row{margin-top: 50px;padding-bottom: 15px;
   h5{font-size: 16px;margin-bottom: 15px;}
 }
 .info-cell{border:1px solid #57658a;padding:30px;
   ul{width:650px;}
 }
 .btn-box{
     margin-top: 30px;
     button{width:400px;height: 50px;border-radius: 3px;background:#387ee2;color: #fff;font-size: 16px;cursor: pointer;
     -webkit-transition:background .2s ease 0s;transition:background .2s ease 0s;}
     button:hover{background:#2b6ecd;}
     button.dasable{background: #163663;color: #aaa;cursor:not-allowed}
 }


  .upload-box{float:left;margin-right:25px;margin-bottom: 30px;width:220px;height: 300px;position: relative;
    .img-box{width:100%;height: 100%;}
    img{max-width:100%;max-height: 100%;}
  }
  .upload-box .icon-del{position: absolute;right:15px;top:15px;font-size: 18px;color: #8c939d;cursor: pointer;}
  .upload-box .icon-del:hover{color: #fff;}
  .upload-box .avatar{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);width:auto;height: auto;max-width: 100%;max-height: 100%;}
  .upload-box.border{border: 1px solid #57658a;}
  .upload-box:last-child{margin-right: 0}
  .avatar-uploader-icon span{font-size: 16px;color: #fff;}
  .avatar-uploader-icon {
    display: block;
    font-size: 28px;
    color: #8c939d;
    width: 220px;
    height: 300px;
    padding-top:240px;
    text-align: center;
    background: url(../../../static/images/camera.png) no-repeat center 45px;
  }

.remarks{margin-top: 30px;color:#fff;
    i{color:#f00;font-size: 18px;margin-right: 10px;}
  }

  h4, .h4, h5, .h5, h6, .h6 {
      margin-top: 0;
      margin-bottom: 0;
  }


</style>
