<template>
  <div id="app">
    <router-view/>
       <div style="" id="tickerDiv" class="ccpw-container ccpw-ticker-cont ccpw-footer-ticker-fixedbar">

         <iframe style="width:110vw!important; border:none!important;" src="../static/html/TickerTape.html" @load="refRem" ></iframe>
</div>
</div>
<!--</div>                    
  </div>-->
</template>

<script>
  import $ from 'jquery'
  import VueSlickCarousel from 'vue-slick';
  //import * as mdb from 'mdb-ui-kit'; 
export default {
  name: 'App',
    data: function () {
      return {

        slickOptions2: {
          speed: 5000,
          autoplay: true,
          autoplaySpeed: 0,
          centerMode: true,
          cssEase: 'linear',
          slidesToShow: 1,
          slidesToScroll: 1,
          variableWidth: true,
          infinite: true,
          initialSlide: 1,
          arrows: false,
          buttons: false,
          draggable: false,
          pauseOnHover: true,
          swipe: false,
          touchMove: false,

          // variableWidth: true,
          responsive: [
            {
              breakpoint: 620,
              settings: {
                arrows: true
              }
            },
            {
              breakpoint: 345,
              settings: {
                arrows: true
              }
            }
          ]
        },
      }
    },
    components: {
      VueSlickCarousel
    }, mounted() {
      var apple = [];
    
    //var xmlhttp = new XMLHttpRequest();
    //xmlhttp.onreadystatechange = function () {
    //  if (this.readyState == 4 && this.status == 200) {
    //    var myObj = JSON.parse(this.responseText);
    //    apple = JSON.parse(this.responseText);
    //    $("#ccpw-ticker-widget-4449 li").each(function (i, e2) {
    //      var CurCode = $(e2).attr("class");
    //      var ratesArr = apple.rates;
    //      $(apple).each(function (i, e) {
    //        $(e2).find(".name").text("USD / " + CurCode);
    //        $(e2).find(".price").text(e.rates[CurCode]);
    //      });
    //    });
    //  }
    //};
    //var xmlhttp2 = new XMLHttpRequest();
    //xmlhttp2.onreadystatechange = function () {
    //  if (this.readyState == 4 && this.status == 200) {
    //    var myObj = JSON.parse(this.responseText);
    //    apple = JSON.parse(this.responseText);
    //    $("#ccpw-ticker-widget-4449 li .coin-container2").each(function (i, e2) {
    //      var CurCode = $(e2).parent().attr("class");
    //      var CurCodemain = $(e2).parent().data("id");
    //      CurCode = CurCode
    //      var ratesArr = apple.rates;
    //      $(apple).each(function (i, e) {
    //        $(e2).find(".name").text(CurCodemain + " / " + CurCode);
    //        $(e2).find(".price").text(e.rates[CurCode]);
    //      });
    //    });
    //  }
    //};

    //var xmlhttp3 = new XMLHttpRequest();
    //xmlhttp3.onreadystatechange = function () {
    //  if (this.readyState == 4 && this.status == 200) {
    //    var myObj = JSON.parse(this.responseText);
    //    apple = JSON.parse(this.responseText);
    //    $("#ccpw-ticker-widget-4449 li .coin-container3").each(function (i, e2) {
    //      var CurCode = $(e2).parent().attr("class");
    //      var CurCodemain = $(e2).parent().data("id");
    //      CurCode = CurCode
    //      var ratesArr = apple.rates;
    //      $(apple).each(function (i, e) {
    //        $(e2).find(".name").text(CurCodemain + " / " + CurCode);
    //        $(e2).find(".price").text(e.rates[CurCode]);
    //      });
    //    });
    //  }
    //};
    //xmlhttp.open("GET", "https://api.exchangerate-api.com/v4/latest/USD", true);
    //xmlhttp.send();
    //xmlhttp3.open("GET", "https://api.exchangerate-api.com/v4/latest/GBP", true);
    //xmlhttp3.send();

    //xmlhttp2.open("GET", "https://api.exchangerate-api.com/v4/latest/EUR", true);
    //xmlhttp2.send();
    //// });
    },
    methods: {
      refRem() {
      //  $('#widget-ticker-tape-container a').removeAttr('href');
      },
    },
  watch:{
    $route (to, from){
      var url=window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
        if(url=="login"||url=="register"||"my" || "coinstrad"){
          $("#tickerDiv").css("opacity","0");
        }
        else{
          $("#tickerDiv").css("opacity","1");
        }
    }
  } 
};

</script>
<style>
  /*@import '../node_modules/mdb-ui-kit/css/mdb.min.css';*/
   /* @import '../static/css/products/bootstrap.min.css';
  @import '../node_modules/bootstrap-vue/dist/bootstrap-vue.min.css';
  @import url('https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css');*/
    @import '../static/css/products/counter.css';
    @import '../static/css/products/pills.css';
    /* @import '../static/css/products/chartStyle.css'; */
    @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
    @import '../static/css/products/tradersStyle.css';

  @import url('https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css');
  @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
  @import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css');
    @import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
    @import '../static/css/products/chart.css';
    @import '../static/css/products/productPage.css';
    @import '../static/css/home-products.css';
    @import '../static/css/ticker.css';
    @import '../static/css/signup-signin.css';
    @import '../static/css/trader-profileStyles.css';


  body {
    font-size: initial;
  }
  h1, .h1 {
    font-size: inherit;
  }
  .h3, h3 {
    font-size: unset!important;
  }
  .in-pricing-1 {
    padding: 0px 25px;
  }
  header .right .language{
      z-index:9999!important;
  }
</style>
