<template>
  <div class="wrap" @click="hideMenu"  style="direction:rtl; text-align:right;">
    <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

    <div class="site-canvas">

      <div class="container-fluid top-bar"  style="direction:rtl; text-align:right;">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-9">
              <h1 class="ltr text-left">درباره ی ما</h1>
              <ol class="breadcrumb">
                <li class="home">
                  <router-link to="/" class="home">NOBLE SKY</router-link>
                </li>
                <li class="post post-page current-item">درباره ی ما</li>
              </ol>
            </div>
            <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
              <div class="option-nav">
                <router-link to="/contact">
                  <i class="contact"></i>
                  <span>تماس با ما</span>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="api-tutorials video-player"></div>
      -->
      <div class="container top80 about-xm"  style="direction:rtl; text-align:right;">
        <div class="box-border">
          <div class="box-border1">
            <small>برای سرمایه گذاران بی تجربه</small>
            <h4>ارائه ی ضمانت های حرفه ای</h4>
            <p class="big">خدمات مالی و حضانت از آن ها. </p>
          </div>
          <div class="visible-sm visible-xs dis20"></div>
          <div class="box-border1">
            <small>برای سرمایه گذاران باتجربه</small>
            <h4>کسب تجربه ی جدید و عالی </h4>
            <p class="big">اجرای فوق العاده سریع سفارشات بدون ریکوت و ریجکشن </p>
          </div>
          <div class="visible-sm visible-xs dis20"></div>
          <div class="box-border1">
            <small>برای سرمایه گذاران برنامه نویس</small>
            <h4>ارائه ی برنامه ی MT5 سفارشی</h4>
            <p class="big">مشاوره ی رایگان، سفارشی سازی رایگان و شناسایی محصولات مالی و درآمدزا </p>
          </div>
        </div>
      </div>
      <section class=""  style="direction:rtl; text-align:right;">
        <section class="section bottom top80"  style="direction:rtl; text-align:right;">
          <div class="container-fluid">
            <div class="container about-xm">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="big text-center">تشکیلاتی عظیم و منصف.</h2>
                  <p class="text-center">با انتخاب Noble Sky، کارگزاری امین، عادل و مشتری مدار در سراسر جهان را انتخاب کرده اید </p>
                </div>
                <div class="col-md-12 top80">
                  <h2>
                    <span class="red">شناخته شده در دنیا</span>, بی نقص, حرفه ای
                  </h2>
                </div>
                <div class="col-md-8">
                  <p>Noble Sky از زمان تاسیس خود در سال 2009 ، با بیش از 500000 مشتری، به شرکت سرمایه گذاری مشهور در سطح بین المللی و پیشرو در صنعت تبدیل شده است. </p>
                  <p>در حال حاضر Noble Sky  دارای بیش از 150 متخصص باتجربه در زمینه مالی می باشد. </p>
                  <p> امنیت وجوه مشتری اولویت اصلی ما در Noble Sky  است. برای اطمینان خاطر مشتری ها درباره ی ایمنی وجوه سرمایه گذاری شده، حساب های شرکت و وجوه مشتری را به طور جداگانه در بانک ها پس انداز میکنیم. </p>
                </div>
                <div class="col-md-4" style="direction:ltr;text-align:left;">

                  <ul class="checks" style="direction:ltr;text-align:left;">
                    <li style="direction:rtl;text-align:left;">با بیش از 500000 مشتری</li>
                    <li style="direction:ltr;text-align:left;">مشتری هایی از 196 کشور مختلف</li>
                    <li style="direction:ltr;text-align:left;">روش های پرداختی مختلف امن و مطمئن</li>
                    <li style="direction:ltr;text-align:left;">پلتفرم جامع و کامل معاملاتی MT5 با توابع کامل</li>
                    <li style="direction:ltr;text-align:left;">پشتیبانی از مدیریت مالی بین کاربران</li>
                    <li style="direction:ltr;text-align:left;">خدمات خصوصی مشتری</li>
                  </ul>
                </div>
                <div class="col-md-12 top80 hidden-xs hidden-sm">
                  <h2>
                    بی طرف، صادق و کاملا مطمئن
                  </h2>
                  <div class="dis30"></div>
                  <div class="box-border">
                    <div class="box-border2">
                      <div class="text-center">
                        <i class="tfxfont3 xmStamp fs100 red"></i>
                      </div>
                      تجارت در Noble Sky به معنای تجارت با یک فروشنده ی صادق و منصف می باشد.<p>
                        ما بین ارزش خالص دارایی مشتری و حجم سرمایه گذاری مشتری ها
                        فرقی قائل نمی شویم. برای اطمینان از برابری معاملات، محیط تجارت برای همه مشتریان یکسان است.
                      </p>
                    </div>
                    <div class="box-border2">
                      <div class="text-center">
                        <i class="tfxfont3 xmClock fs100 red"></i>
                      </div>
                      <p class="top20">اجرای دستورات بدون ریکوت و ریجکشن به مشتریان این اطمینان را می دهد که در محیطی امن و قابل اعتماد معامله می کنند. </p>
                      <p> همچنین 99.35% معاملات در عرض 1 ثانیه بدون ریکوت و ریجکشن اجرا می شوند.</p>
                      <p>
                        مدل تجارت ما متکی بر فلسفه ی تجارت ماست:
                        زمانی وارد می شویم و سرمایه گذاری میکنیم که همه ی بازار را در کنترل داشته باشیم.
                      </p>
                    </div>
                    <div class="box-border2">
                      <div class="text-center">
                        <i class="tfxfont3 xmSafe fs100 red"></i>
                      </div>
                      <p class="top20">امنیت وجوه مشتری اولویت اصلی ما در Noble Sky است. برای اطمینان خاطر مشتری ها درباره ی ایمنی وجوه سرمایه گذاری شده، حساب های شرکت و وجوه مشتری را به طور جداگانه در بانک ها پس انداز میکنیم. </p>
                      <p>
                        از حساب مشتریان خرده فروش به میزان 20،000 یورو از صندوق های جبران سرمایه گذار محافظت می شود. همچنین تمام مشتریان
                        <strong>از مزایای پشتیبانی از بالانس منفی </strong> بهره مند می باشند که از میزان زیان بالاتر از بالانس حساب آن ها جلوگیری میکند.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 top80">
                  <h2>      <span class="red">مردم محور</span> شرکتی </h2>
                  <p>ماموریت Noble Sky  ارائه خدمات معامله گری اصولی به تمام مشتریان، اعم از حقیقی یا حقوقی است، تا دانش و فناوری نوآورانه، معاملات کم هزینه، نظارت بر امنیت مالی، ابزارهای جامع تحقیقاتی بازار، دوره های آموزشی پیشرفته و خدمات خاص مشتری را به همه سرمایه گذاران ارائه دهد.</p>
                  <p>رشد سودآوری و پایداری آن برای ما از اهمیت بالایی برخوردار است.</p>
                  <p>ما حرفه ای و مسئولیت پذیر می باشیم و برای رسیدن به این هدف در مقیاس جهانی از روش های ذیل بهره می بریم؛</p>
                  <p>استراتژی های مدیریت بازار و فناوری جهانی را در زمینه ی تجاری و بازارهای ما پیاده سازی کنید؛</p>
                  <p>با همکاری مشترک آینده ی درخشان خود را بسازید. ما با مشتریان، شرکا و سایر شرکای تجاری خود در شرکت و همچنین در سراسر ادارات و مناطق همکاری می کنیم.</p>
                </div>
                <div class="col-md-6 hidden-xs hidden-sm" style="margin-top:135px!important;">
                  <img src="../../../static/images/page-img/about/about-map-grey.png" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
          <div class="dis60"></div>
        </section>
        <div class="dis80 hidden-xs hidden-sm"></div>
        <div class="container"  style="direction:rtl; text-align:right;">
          <div class="row">
            <div class="col-md-12 top50">
              <h2>چرا Noble Sky?</h2>
              <p>Noble Sky کارمندان را برای توسعه پایدار پرورش می دهد. کارمندان ما از فرهنگ های مختلف انتخاب شده اند تا با تنوع فرهنگ مشتری، ملیت، دین و قومیت های مختلف به بهترین شکل در ارتباط باشند. پلتفرم معاملاتی پیشرفته و محیط معامله گری منعطف ما تمام نیازهای جهانی مشتریان رو برآورده می کند. تخصص ما از تجربیات گسترده و درک عمیق بازارهای مالی جهانی حاصل می شود. ما متعهد به ارائه خدمات درجه یک تجارت ارز از جمله CFD ،شاخص سهام ،فلزات گرانبها و انرژی هستیم.</p>
              <p>فلسفه ی تجاری که از آن تبعیت میکنیم ساده است  و صرفا به دنبال اعتماد، وفاداری و جلب رضایت مشتری می باشد. اعتبار ما شهرت ما است که هر دو از توانایی ما در ارائه خدمات با توجه به نیازها و انتظارات مشتری ناشی می شود. با در نظر گرفتن روند صنعت و نوآوری های فن آوری به نیازهای متنوع و پیچیده مشتریان خود پاسخ می دهیم. هرگز از سفارشات مشتری ها غافل نمی شویم و به همین دلیل اسپرد کم ارائه داده و بالاترین عملکرد را داریم.</p>
            </div>
          </div>
        </div>
        <div class="container top60 box-text-btn hidden-xs hidden-sm"  style="direction:rtl; text-align:right;">
          <div class="row"  style="direction:rtl; text-align:right;">
            <div class="col-sm-12 col-md-9">
              <p>
                بدون قیمت گذاری مجدد در مبادلات ارزی،, انجام مبادلات بر اساس نرخ واقعی لحظه ای
                <br>پلتفرم MT5 قابل نصب در تمام دستگاه ها
              </p>
            </div>
            <div class="col-sm-12 col-md-3">
              <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">افتتاح حساب</router-link>
            </div>
          </div>
        </div>

      </section>
      <div class="dis70"></div>

    </div>


    <pageFooter />
  </div>
</template>

<script>

  import pageHeader from '../../components/pageHeaderTFX.vue'
  import pageFooter from '../../components/pageFooterTFX.vue'
  import { languageCode } from '../../utils/lan-code'




  export default {
    name: "my-acount",
    data: function () {
      return {
        isLogin: false,
        userLoginInfo: '',
        curCoinType: 1,
        curLanguage: 2,
        // language:coinstrad,

        userInfo: {
          configure: {
          }
        },

        tableIndex: 0,
        queryIndex: 0,
        queryIndexFlag: false




      };
    },
    metaInfo: {
      title: 'About-NOBLE SKY',
    },
    created() {



      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');

      this.curCoinType = !!storeCoinType ? storeCoinType : this.$api.defaultCoinType;
      this.curLanguage = !!storeLanguage ? storeLanguage : this.$api.defaultLanguage;

      if (this.curLanguage != 2) {
        let pName = this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[this.curLanguage]
        this.$router.push({ name: pNameStr });
      }





      this.isLogin = this.util.isLogin();

      if (!!this.isLogin) {
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
        // this.getUserInfo();
      }


      // this.getSystemTradMode()

      // this.getUserAsset()
      // this.getCoinList();
      // this.getUserOrder();
      // this.getUserOrder2();
      // this.settingAPIDataLanguage();
      // this.getcurrency()



    },

    mounted() {
      document.documentElement.scrollTop = 0
    },

    components: {
      pageHeader,
      pageFooter
    },

    methods: {
      changeLanguage(val) {
        console.log(this.curLanguage)
        let pName = this.curLanguage == 1 ? this.$route.name : this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[val]
        this.$router.push({ name: pNameStr });
      },

      hideMenu() {
        this.$refs.pageHead.hideMenu();
      },
      handleTableIndex(val) {
        this.tableIndex = val
      },
      handleQueryIndex(val) {
        if (val === this.queryIndex) {
          this.queryIndexFlag = !this.queryIndexFlag
        } else {
          this.queryIndex = val
          this.queryIndexFlag = true
        }

      }


    }


  };
</script>





<style scoped lang="scss">
  h2 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .container {
    width: 1170px;
    margin: 0 auto;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .top20 {
    margin-top: 20px !important;
  }

  .top30 {
    margin-top: 30px !important;
  }

  .top40 {
    margin-top: 40px !important;
  }

  .top50 {
    margin-top: 50px !important;
  }

  .top60 {
    margin-top: 60px !important;
  }

  .top80 {
    margin-top: 80px !important;
  }


  .text-center {
    text-align: center !important;
  }

  .center-block {
    float: none !important;
  }

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    display: none;
  }


  .dis20 {
    height: 20px;
    clear: both;
  }

  .dis30 {
    height: 30px;
    clear: both;
  }

  .dis40 {
    height: 40px;
    clear: both;
  }

  .dis60 {
    height: 60px;
    clear: both;
  }



  .site-canvas .top-bar .breadcrumb {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .site-canvas .top-bar {
    background-color: #e8e8e8;
    padding: 20px 0 20px 0;
    margin: 0;
  }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
    clear: both;
  }

  .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
  }



  .box-text-btn {
    text-align: right;
    .row

  {
    margin-left: -15px;
    margin-right: -15px;
  }

  .btn-full {
    background-color: #74c109;
    display: inline-block;
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
    width: 247px;
    text-align: center;
  }

    .btn-full:hover {
      background-color: #29A643;
    }

  }

  .nav-flexbox-tabs {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
  }

    .nav-flexbox-tabs > li {
      width: 213px;
      text-align: center;
      background-color: #fff;
      margin-bottom: 15px;
      margin-right: 15px;
      border: 1px solid #cbcbcb;
    }

      .nav-flexbox-tabs > li.active {
        background-color: #d51820;
      }

      .nav-flexbox-tabs > li > a, .nav-flexbox-tabs > li > button {
        color: #000;
      }

      .nav-flexbox-tabs > li.active a, .nav-flexbox-tabs > li.active button {
        color: #fff;
      }


  a:focus, a:visited {
    color: #d51820;
  }

  .nav-flexbox-tabs a, .nav-flexbox-tabs button {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #000;
    line-height: normal;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    min-height: 38px;
    padding: 0 15px;
  }




  .nav-tabs {
    border: 0;
    font-size: 0;
    margin-bottom: 30px;
  }

  #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
    position: relative;
    margin-bottom: 0;
    z-index: 9;
  }

  #tabs2, #tabs3, #tabs4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }





  .nav > li {
    position: relative;
    display: block;
  }

  .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
  }

  .nav-tabs > li {
    width: 50%;
  }

  #tabs2.nav-tabs > li, #tabs3.nav-tabs > li, #tabs4.nav-tabs > li {
    float: none;
    width: 100%;
  }

  #tabs2.nav-tabs > li, #tabs3.nav-tabs > li, #tabs4.nav-tabs > li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }



  .collapse {
    display: block;
  }

  .panel-default > .panel-heading i.fa-angle-up {
    color: #d51820 !important;
  }

  #tabContent .panel-default > .panel-heading i.fa.fa-angle-up, .panel-default > .panel-heading i.fa.fa-angle-up, #tabContent .panel-default > .panel-heading i.fa.fa-angle-down, .panel-default > .panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-up, .panel-default > .panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-down, .panel-default > .panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
  }

  .tab-pane .dis30 {
    height: 50px;
  }


  footer {
    height: 300px;
    background-color: #333;
    text-align: center;
  }

    footer .cell {
      padding-top: 100px;
      font-size: 26px;
      color: #fff;
    }


  .about-xm .box-border1 h4 {
    font-family: "regular","regular_ext",sans-serif;
    font-size: 33px;
    color: #d51820;
    margin: 25px 0;
  }

  .about-xm .box-border1 small, .about-xm .box-border1 p.big {
    font-size: 18px;
    font-weight: 300;
  }
</style>
