<template>
  <div class="wrap" @click="hideMenu" style="direction: rtl; text-align: right">
    <pageHeader
      @userLogout="userLogout"
      ref="pageHead"
      :defaultCoinType="curCoinType"
      :defaultLanguage="curLanguage"
      @changeCoinType="changeCoinType"
      @changeLanguage="changeLanguage"
    />
    <div class="site-canvas">
      <div class="container-fluid top-bar">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-9">
              <h1 class="ltr text-right">انواع حساب  های معاملاتی</h1>
              <ol class="breadcrumb">
                <li class="home">
                  <router-link to="/" class="home">NOBLE SKY</router-link>
                </li>
                <li class="post post-page current-item">انواع حساب  های معاملاتی</li>
              </ol>
            </div>
            <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
              <div class="option-nav">
                <router-link to="/contact">
                  <i class="contact"></i>
                  <span> تماس با ما</span></router-link
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row text-center hidden-xs hidden-sm hidden-l-sm top80">
          <div class="feature-item6">
            <i class="tfxfont3 xmHigh-bars red fs100"></i>
            <p class="top30">محیطی بی نظیر برای تجارت</p>
          </div>
          <div class="feature-item6">
            <i class="tfxfont3 xmArrows red fs100"></i>
            <p class="top30">	حجم های معاملاتی استاندارد یا میکرو</p>
          </div>
          <div class="feature-item6">
            <i class="tfxfont3 xmChart red fs100"></i>
            <p class="top30">دسترسی نا محدود در استفاده از متاتریدر5 و مشاوران خبره </p>
          </div>
          <div class="feature-item6">
            <i class="tfxfont3 xmInfinity red fs100"></i>
            <p class="top30">	به روز رسانی های رایگان بازار و تحلیل های تکنیکی</p>
          </div>
          <div class="feature-item6">
            <i class="tfxfont3 xmScale red fs100"></i>
            <p class="top30">کیفیت یکسان در اجرای دستورات در تمام حساب ها</p>
          </div>
          <div class="feature-item6">
            <i class="tfxfont3 xmGlobe red fs100"></i>
            <p class="top30">	پشتیبانی خدمات مشتری چندزبانه و مدیرحساب شخصی</p>
          </div>
        </div>
        <div class="dis60 hidden-xs"></div>
        <div class="dis40 visible-xs"></div>
        <div class="row">
          <div class="col-md-12">
            <h2>انواع حساب  های معاملاتی</h2>
            <div class="dis40 hidden-xs"></div>
            <!-- <div class="divTable clone-11 sharesAccount" style="height: 1265px;">
                                      <div class="area-11" style="height: 1265px;">
                                        <h3 class="titleRed">Micro account</h3>
                                        <div class="content">
                                          <ul class="area-5" style="height: 104px;">
                                            <li class="title">Optional base currency</li>
                                            <li class="text">USD</li></ul>
                                          <ul class="area-4" style="height: 104px;">
                                            <li class="title">Contract size</li>
                                            <li class="text">1 lot = 1,000 units</li></ul>
                                          <ul class="area-2" style="height: 146px;">
                                            <li class="title">Leverage*</li>
                                            <li class="text">1:1 to 1:100 </li></ul>
                                          <ul>
                                            <li class="title">Negative balance protection policy</li>
                                            <li class="text">
                                              <i class="fa fa-check"></i>
                                            </li>
                                          </ul>
                                          <ul class="area-6" style="height: 84px;">
                                            <li class="title">Spreads on mainstream currency pairs</li>
                                            <li class="text">As low as 1 point</li></ul>
                                          <ul>
                                            <li class="title">Handling fee</li>
                                            <li class="text">
                                              <i class="fa fa-times"></i>
                                            </li>
                                          </ul>
                                          <ul>
                                            <li class="title">Maximum number of open/pending orders for a single client</li>
                                            <li class="text">200 orders</li></ul>
                                          <ul class="area-7" style="height: 84px;">
                                            <li class="title">Minimum transaction volume</li>
                                            <li class="text">
                                              <br>0.1 lot (MT5)
                                              <br></li></ul>
                                          <ul class="area-8" style="height: 84px;">
                                            <li class="title">Limits per lot</li>
                                            <li class="text">100 lots</li></ul>
                                          <ul>
                                            <li class="title">Hedging allowed</li>
                                            <li class="text">
                                              <i class="fa fa-check"></i>
                                            </li>
                                          </ul>

                                          <ul>
                                            <li class="title">Minimum deposit</li>
                                            <li class="text">5 USD</li></ul>
                                        </div>
                                        <div class="content">
                                          <ul>
                                            <li class="text-center">
                                              <div class="dis20"></div>
                                              <router-link to="/register" class="btn btn-solid btn-red center-block">Create an account</router-link>
                                              <div class="dis20"></div>
                                            </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div> -->
            <div class="divTable clone-11 sharesAccount" style="height: 1265px">
              <div class="area-11" style="height: 1265px">
                <h3 class="titleRed">حساب استاندارد</h3>
                <div class="content">
                  <ul class="area-5" style="height: 104px">
                    <li class="title">ارز پایه</li>
                    <li class="text">USD</li>
                  </ul>
                  <ul class="area-4" style="height: 104px">
                    <li class="title">میزان قرارداد</li>
                    <li class="text">1lot = 100،000units</li>
                  </ul>
                  <ul class="area-2" style="height: 146px">
                    <li class="title">اهرم*</li>
                    <li class="text">1:1 to 1:100</li>
                  </ul>
                  <ul>
                    <li class="title">حمایت از بالانس منفی</li>
                    <li class="text">
                      <i class="fa fa-check"></i>
                    </li>
                  </ul>
                  <ul class="area-6" style="height: 84px">
                    <li class="title">اسپرد در جفت ارزهای رایج</li>
                    <li class="text">As low as 1 point</li>
                  </ul>
                  <ul>
                    <li class="title">کمیسیون</li>
                    <li class="text">
                      <i class="fa fa-times"></i>
                    </li>
                  </ul>
                  <ul>
                    <li class="title">
                      حداکثر تعداد دستورات باز یا در انتظار یک مشتری
                    </li>
                    <li class="text">200 orders</li>
                  </ul>
                  <ul class="area-7" style="height: 84px">
                    <li class="title">حداقل حجم در معامله</li>
                    <li class="text">0.01 lot</li>
                  </ul>
                  <ul class="area-8" style="height: 84px">
                    <li class="title">حداقل تعداد در هر حجم</li>
                    <li class="text">50 lots</li>
                  </ul>
                  <ul>
                    <li class="title">اجازه ی قفل پوزیشن</li>
                    <li class="text">
                      <i class="fa fa-check"></i>
                    </li>
                  </ul>

                  <ul>
                    <li class="title">حداقل دپازیت</li>
                    <li class="text">100 USD</li>
                  </ul>
                </div>
                <div class="content">
                  <ul>
                    <li class="text-center">
                      <div class="dis20"></div>

                      <router-link
                        to="/register"
                        class="btn btn-solid btn-red center-block"
                        >افتتاح حساب جديد</router-link
                      >
                      <div class="dis20"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="dis10"></div>
            <small class="atnotecn"
              >* دامنه استفاده از اهرم بر اساس مقدار کل وجوه در تمام حسابهای تجاری موجود در گروه Noble Sky محاسبه می شود. </small
            >
          </div>
        </div>
      </div>
      <div class="container top115 option-type info">
        <div class="row">
          <div class="col-md-12">
            <i class="info"></i>
            <p class="text-center">
              جدول بالا صرفا اطلاعات مرجع می باشد. از اینکه برای هر مشتری راه حل مناسبی در نظر گرفته اییم خرسندیم. در صورتیکه ارز انتخابی دپازیت دلار نباشد مبلغی که در حساب نشان داده می شود معادل دلاری ارز واریزی خواهد بود.
            </p>
            <div class="top80"></div>
            <p class="text-center">
              يلطفاً در نظر داشته باشید که برای اطمینان از عملکرد خوب سرور و دستیابی به استانداردهای ما در 
              <span class="text-underline">سیاست اجرای سفارشات</span> ، حسابهایی که مدت زیادی است غیرفعال بوده اند 
              <a
                href="https://www.xm.com/assets/pdf/terms/NBS_Client-Agreement-Terms-and-Conditions-of-Business.pdf"
              >
                بسته شده و بایگانی می شوند </a>            </p>
            <p class="text-center">
              در صورتیکه در 
              <a href="https://www.xm.com/cn">بازار ارز</a>  تازه وارد می باشید 
              <strong> <a href="/cn/forex-demo">حساب آزمایشی</a></strong> برای بررسی پتانسیل معامله گری شما مناسب تر می باشد. می توانید با پول مجازی بدون اینکه دچار ریسک شده باشید، از آنجاییکه سود و زیان در لحظه اتفاق میافتد، معامله کنید. بعد از اینکه استراتژی های معاملاتی مختلف را امتحان کردید و تشخیص روند بازار و نحوه ی اجرای دستورات را آموختید نوبت قدم بعدی یعنی افتتاح حساب واقعی و معامله با پول واقعی می باشد.
            </p>
          </div>
        </div>
      </div>
      <div data-v-14b223d0="" class="container top80">
        <div data-v-14b223d0="" class="row">
          <div data-v-14b223d0="" class="col-md-12">
            <div data-v-14b223d0="" id="accordion1" class="panel-group">
              <div data-v-14b223d0="" class="panel panel-default">
                <div data-v-14b223d0="" class="panel-heading">
                  <h4 data-v-14b223d0="" class="panel-title">
                    <font style="vertical-align: inherit"
                      ><font style="vertical-align: inherit"
                        >حساب معامله در فارکس چیست؟</font
                      ></font
                    >
                  </h4>
                  <i data-v-14b223d0="" class="fa pull-right fa-angle-down"></i>
                </div>
                <div
                  data-v-14b223d0=""
                  id="a1collapse1"
                  class="panel-collapse collapse"
                >
                  <div class="panel-body gray">
                    <p >
                       حساب ارزی که افتتاح کرده اید حساب معامله گری شما محسوب می شود. این حساب مشابه حساب بانکی شما می باشد با این تفاوت که عمدتا برای معامله ی ارزها به کار گرفته می شود.
                    </p>
                    <p>
                     همانطور که گفته شد، حساب های استاندارد برای معاملات ارزهای خارجی در اختیار معامله گران قرار می دهد
                    </p>
                    <p >
                      در نظر داشته باشید که شما می توانید از تمام پلتفرم های Noble Sky برای تبادلات خارجی و معامله ی ارزها استفاده کنید.
                    </p>
                    <p>
                     بطور خلاصه شما می توانید از طرق ذیل وارد حساب معامله گری خود شوید:>
                    </p>
                    <ul data-v-14b223d0="" class="ftr-faq">
                      <li data-v-14b223d0="">
                        <font style="vertical-align: inherit"
                          ><font style="vertical-align: inherit"
                            >1.CRM</font
                          ></font
                        >
                      </li>
                      <li data-v-14b223d0="">
                        <font style="vertical-align: inherit"
                          ><font style="vertical-align: inherit"
                            >2. پلتفرم  MT5</font
                          ></font
                        >
                      </li>
                    </ul>
                    <p data-v-14b223d0="">
                      هنگام ثبت حساب معامله گری ارزهای خارجی در Noble Sky نیاز به تکمیل و ارسال تعدادی اطلاعات اولیه جهت اطمینان از اطلاعات حساب شما می باشد و این کار برای اطمینان از امنیت سرمایه و جزئیات حساب شما می باشد.
                    </p>
                    <p data-v-14b223d0="">
                     بعد از افتتاح حساب معامله گری شما وارد سی آر ام نوبل اسکای شده و می توانید اطلاعات حساب متاتریدر5، مبلغ دپازیت و مبلغ برداشت های خود را مشاهده و تایید نمایید..
                    </p>
                    <p data-v-14b223d0="">
                      جزئیات ورود به حساب کاربری شما و پلتفرم متاتریدر5 شما بایستی با یکدیگر همخوانی داشته باشند. هر گونه دپازیت، برداشت و یا هر تغییری که در سی آر ام ایجاد میکنید در متاتریدر5 شما نیز منعکس می شود.
                    </p>
                  </div>
                </div>
              </div>
              <div data-v-14b223d0="" class="panel panel-default">
                <div data-v-14b223d0="" class="panel-heading">
                  <h4 data-v-14b223d0="" class="panel-title">
                    <font style="vertical-align: inherit"
                      ><font style="vertical-align: inherit"
                        >حساب معاملاتی چنددارایی چیست؟
                      </font></font
                    >
                  </h4>
                  <i data-v-14b223d0="" class="fa pull-right fa-angle-up"></i>
                </div>
                <div
                  data-v-14b223d0=""
                  id="a1collapse1"
                  class="panel-collapse collapse"
                >
                  <div  class="panel-body gray">
                    <p >
                     حساب معاملاتی چنددارایی مشابه حساب بانکی شما می باشد با این تفاوت که این حساب با هدف معامله ی ارزهای خارجی، سهام، شاخص ها و شاخص های انرژی و فلزات افتتاح گردیده است.
                    </p>
                    <p>
                      در نظر داشته باشید حساب های معاملاتی چند دارایی تنها در متاتریدر5 قابل استفاده می باشد و قابل دسترس معامله گران آنلاین می باشد.
                    </p>
                    <p data-v-14b223d0="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >بطور کلی حساب معامله گری چنددارایی <strong>™Noble Sky</strong> در موارد زیر قابل استفاده می باشد:</font
                        ></font
                      >
                    </p>
                    <ul data-v-14b223d0="" class="ftr-faq">
                      <li data-v-14b223d0="">
                        <font style="vertical-align: inherit"
                          ><font style="vertical-align: inherit"
                            >1. ورود به  CRM</font
                          ></font
                        >
                      </li>
                      <li data-v-14b223d0="">
                        <font style="vertical-align: inherit"
                          ><font style="vertical-align: inherit"
                            >2. ورود به پلتفرم  MT5</font
                          ></font
                        >
                      </li>
                      <li data-v-14b223d0="">
                        <font style="vertical-align: inherit"
                          ><font style="vertical-align: inherit"
                            >3.  ورود به ترمینال وب <strong>™Noble Sky</strong></font
                          ></font
                        >
                      </li>
                    </ul>
                    <p>
                      هنگام ثبت حساب معامله گری ارزهای خارجی در <strong>™Noble Sky</strong> نیاز به تکمیل و ارسال تعدادی اطلاعات اولیه جهت اطمینان از اطلاعات حساب شما می باشد و این کار برای اطمینان از امنیت سرمایه و جزئیات حساب شما می باشد.
                    </p>
                    <p data-v-14b223d0="">
                      بعد از افتتاح حساب معامله گری شما وارد سی آر ام <strong>™Noble Sky</strong> شده و می توانید اطلاعات حساب متاتریدر5، مبلغ دپازیت و مبلغ برداشت های خود را مشاهده و تایید نمایید.
                    </p>
                    <p data-v-14b223d0="">
                      اطلاعات ورود به حساب شما با پلتفرم معاملاتی MT5 شما مطابقت دارد و برای انجام معاملات از آن استفاده میکنید. هر گونه تغییر در CRM، واریز یا برداشت در پلتفرم شما نمایش داده میشود.
                    </p>
                  </div>
                </div>
              </div>
              <div data-v-14b223d0="" class="panel panel-default">
                <div data-v-14b223d0="" class="panel-heading">
                  <h4 data-v-14b223d0="" class="panel-title">
                    <font style="vertical-align: inherit"
                      ><font style="vertical-align: inherit"
                        >چرا متاتریدر5؟
                      </font></font
                    >
                  </h4>
                  <i data-v-14b223d0="" class="fa pull-right fa-angle-up"></i>
                </div>
                <div
                  data-v-14b223d0=""
                  id="a1collapse3"
                  class="panel-collapse collapse"
                >
                  <div data-v-14b223d0="" class="panel-body gray">
                    <p data-v-14b223d0="">
                      مشتریانی که متاتریدر5 را انتخاب می کنند می توانند طیف وسیعی از معاملات شامل ارزهای خارجی، سهام، شاخص ها، طلا و نفت خام را مبادله کنند. 
                    </p>
                    <p data-v-14b223d0="">
                     علاوه بر ورود به نسخه رایانه MT5 (قابل دسترس برای بارگیری) و برنامه مربوطه، حساب MT5 همچنین می تواند وارد سیستم عامل وب شود.
                    </p>
                    <p data-v-14b223d0="">
                      همانطور که قبلا گفته شد حساب های استاندارد در پلتفرم متاتریدر5 قابل معامله می باشند.
                    </p>
                  </div>
                </div>
              </div>
              <div data-v-14b223d0="" class="panel panel-default">
                <div data-v-14b223d0="" class="panel-heading">
                  <h4 data-v-14b223d0="" class="panel-title">
                    آیا میتوان همزمان چند حساب داشت؟
                  </h4>
                  <i data-v-14b223d0="" class="fa pull-right fa-angle-up"></i>
                </div>
                <div
                  data-v-14b223d0=""
                  id="a1collapse1"
                  class="panel-collapse collapse"
                >
                  <div data-v-14b223d0="" class="panel-body gray">
                    <p data-v-14b223d0="">
                     با هر کارت شناسایی فقط میتوان یک حساب واقعی ایجاد کرد.
                    </p>
                  </div>
                </div>
              </div>
              <div data-v-14b223d0="" class="panel panel-default">
                <div data-v-14b223d0="" class="panel-heading">
                  <h4 data-v-14b223d0="" class="panel-title">
                    چگونه حساب معامله گری را مدیریت کنیم؟
                  </h4>
                  <i data-v-14b223d0="" class="fa pull-right fa-angle-up"></i>
                </div>
                <div
                  data-v-14b223d0=""
                  id="a1collapse1"
                  class="panel-collapse collapse"
                >
                  <div data-v-14b223d0="" class="panel-body gray">
                    <p data-v-14b223d0="">
                     شما می توانید احراز هویت اطلاعات حساب ، فعال کردن حساب متا تریدر 5 و مبالغ دپازیت و برداشت را از طریق سی آر ام <strong>™Noble Sky</strong> انجام دهید
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dis70"></div>
    </div>

    <pageFooter />
  </div>
</template>


<script>
import pageHeader from "../../components/pageHeaderTFX.vue";
import pageFooter from "../../components/pageFooterTFX.vue";
import { languageCode } from "../../utils/lan-code";

export default {
  name: "my-acount",
  data: function () {
    return {
      isLogin: false,
      userLoginInfo: "",
      curCoinType: 1,
      curLanguage: 2,
      // language:coinstrad,

      userInfo: {
        configure: {},
      },

      tableIndex: 0,
      queryIndex: 0,
      queryIndexFlag: false,
    };
  },
  metaInfo: {
    title: "نوع الحساب-NOBLE SKY",
  },
  created() {
    const storeCoinType = this.localStore.getItem("curCoinType");
    const storeLanguage = this.localStore.getItem("curLanguage");

    this.curCoinType = !!storeCoinType
      ? storeCoinType
      : this.$api.defaultCoinType;
    this.curLanguage = !!storeLanguage
      ? storeLanguage
      : this.$api.defaultLanguage;

    if (this.curLanguage != 2) {
      let pName = this.$route.name.substring(0, this.$route.name.length - 2);
      let pNameStr = pName + languageCode[this.curLanguage];
      this.$router.push({ name: pNameStr });
    }

    this.isLogin = this.util.isLogin();

    if (!!this.isLogin) {
      this.userLoginInfo = JSON.parse(this.localStore.getItem("userLoginInfo"));
      // this.getUserInfo();
    }

    // this.getSystemTradMode()

    // this.getUserAsset()
    // this.getCoinList();
    // this.getUserOrder();
    // this.getUserOrder2();
    // this.settingAPIDataLanguage();
    // this.getcurrency()
  },

  mounted() {
    let element = document.querySelectorAll(".panel-heading");

    console.log(element);
    console.log("aaaaaaaaaaa");

    for (let i = 0; i < element.length; i++) {
      (function (m) {
        let panel = element[m].parentNode.getElementsByClassName(
          "panel-collapse"
        )[0];

        panel.classList.add("showFlag");

        element[m].addEventListener("click", function () {
          console.log("aaaaaaaaa");
          this.getElementsByClassName("pull-right")[0].classList.toggle(
            "fa-angle-down"
          );
          this.getElementsByClassName("pull-right")[0].classList.toggle(
            "fa-angle-up"
          );

          panel.classList.toggle("showFlag");
        });
      })(i);
    }

    document.documentElement.scrollTop = 0;
  },

  components: {
    pageHeader,
    pageFooter,
  },

  methods: {
    changeLanguage(val) {
      console.log(this.curLanguage);
      let pName =
        this.curLanguage == 1
          ? this.$route.name
          : this.$route.name.substring(0, this.$route.name.length - 2);
      let pNameStr = pName + languageCode[val];
      this.$router.push({ name: pNameStr });
    },
    hideMenu() {
      this.$refs.pageHead.hideMenu();
    },
    handleTableIndex(val) {
      this.tableIndex = val;
    },
    handleQueryIndex(val) {
      if (val === this.queryIndex) {
        this.queryIndexFlag = !this.queryIndexFlag;
      } else {
        this.queryIndex = val;
        this.queryIndexFlag = true;
      }
    },
  },
};
</script>





<style scoped lang="scss">
.text{
  direction:ltr
}
h2 {
  margin-top: 0;
  margin-bottom: 30px;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.col-md-12 {
  width: 100%;
}
.col-md-9 {
  width: 75%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-sm-4 {
  width: 33.33333333%;
}
.top115 {
  margin-top: 115px !important;
}
.top30 {
  margin-top: 30px !important;
}
.top50 {
  margin-top: 50px !important;
}
.top60 {
  margin-top: 60px !important;
}
.top80 {
  margin-top: 80px !important;
}

.text-center {
  text-align: center !important;
}

.center-block {
  float: none !important;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
  display: none;
}

.dis20 {
  height: 20px;
  clear: both;
}
.dis30 {
  height: 30px;
  clear: both;
}
.dis60 {
  height: 60px;
  clear: both;
}

.site-canvas .top-bar .breadcrumb {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.site-canvas .top-bar {
  background-color: #e8e8e8;
  padding: 20px 0 20px 0;
  margin: 0;
}

.area-11 .btn.btn-solid {
  background-color: #74c109;
  color: #fff;
  height: 40px;
  line-height: 40px;
  display: block;
  font-size: 24px;
}
.area-11 .btn.btn-solid:hover {
  background-color: #29A643;
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
  float: left;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  float: left;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}

.box-text-btn {
  text-align: right;
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .btn-full {
    background-color: #74c109;
    display: inline-block;
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
    width: 247px;
    text-align: center;
  }
  .btn-full:hover {
    background-color: #29A643;
  }
}

.nav-flexbox-tabs {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.nav-flexbox-tabs > li {
  width: 213px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 15px;
  margin-right: 15px;
  border: 1px solid #cbcbcb;
}

.nav-flexbox-tabs > li.active {
  background-color: #d51820;
}

.nav-flexbox-tabs > li > a,
.nav-flexbox-tabs > li > button {
  color: #000;
}
.nav-flexbox-tabs > li.active a,
.nav-flexbox-tabs > li.active button {
  color: #fff;
}

a:focus,
a:visited {
  color: #d51820;
}

.nav-flexbox-tabs a,
.nav-flexbox-tabs button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #000;
  line-height: normal;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  min-height: 38px;
  padding: 0 15px;
}

.nav-tabs {
  border: 0;
  font-size: 0;
  margin-bottom: 30px;
}

#tabs2,
#tabs3,
#tabs4,
#PaymentMethodTab {
  position: relative;
  margin-bottom: 0;
  z-index: 9;
}

#tabs2,
#tabs3,
#tabs4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav > li {
  position: relative;
  display: block;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li {
  width: 50%;
}

#tabs2.nav-tabs > li,
#tabs3.nav-tabs > li,
#tabs4.nav-tabs > li {
  float: none;
  width: 100%;
}

#tabs2.nav-tabs > li,
#tabs3.nav-tabs > li,
#tabs4.nav-tabs > li {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.collapse {
  display: block;
}

.panel-default > .panel-heading i.fa-angle-up {
  color: #d51820 !important;
}
#tabContent .panel-default > .panel-heading i.fa.fa-angle-up,
.panel-default > .panel-heading i.fa.fa-angle-up,
#tabContent .panel-default > .panel-heading i.fa.fa-angle-down,
.panel-default > .panel-heading i.fa.fa-angle-down,
#PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-up,
.panel-default > .panel-heading i.fa.fa-angle-up,
#PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-down,
.panel-default > .panel-heading i.fa.fa-angle-down {
  font-size: 50px;
  margin-top: -25px;
  margin-left: 0;
  right: 20px;
}

.tab-pane .dis30 {
  height: 50px;
}
.panel-collapse.showFlag {
  display: none;
}

.btnAccordion.pull-right {
  display: none;
}

footer {
  height: 300px;
  background-color: #333;
  text-align: center;
}
footer .cell {
  padding-top: 100px;
  font-size: 26px;
  color: #fff;
}

.divTable.sharesAccount {
  width: 100%;
  margin-bottom: 0;
}
</style>
