<template>
  <div class="wrap" @click="hideMenu" style="direction:rtl;text-align:right;">
    <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

    <div class="site-canvas">

      <div class="container-fluid top-bar" style="direction:rtl;text-align:right;">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-9">
              <h1 class="ltr text-left">سوالات متداول</h1>
              <ol class="breadcrumb">
                <li class="home">
                  <router-link to="/" class="home">NOBLE SKY</router-link>
                </li>
                <li class="post post-page current-item">سوالات متداول</li>
              </ol>
            </div>
            <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
              <div class="option-nav">
                <router-link to="/contact">
                  <i class="contact"></i>
                  <span>تماس با ما     </span>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container faq hidden-xs hidden-sm hidden-l-sm" style="direction:rtl;text-align:right;">
        <div class="row top80">
          <div class="col-md-12">
            <h2>انواع سوالات متداول</h2>
          </div>
        </div>
        <div class="row top20">
          <div class="col-12">
            <ul class="features">
              <li class="col-xs-12 col-sm-3 col-md-3">
                <a class="scroll" href="#section-1">مشکلات مربوط به اطلاعات صادر شده</a>
              </li>
              <li class="col-xs-12 col-sm-3 col-md-3">
                <a class="scroll" href="#section-2">حساب معامله گری</a>
              </li>
              <li class="col-xs-12 col-sm-3 col-md-3">
                <a class="scroll" href="#section-3">واریز / برداشت</a>
              </li>
              <li class="col-xs-12 col-sm-3 col-md-3">
                <a class="scroll" href="#section-4">حساب معامله گری </a>
              </li>
              <li class="col-xs-12 col-sm-3 col-md-3">
                <a class="scroll" href="#section-5">عملکرد پشتیبانی Noble Sky </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="section-1" class="container top80" style="direction:rtl;text-align:right;">
        <div class="row">
          <div class="col-md-6">
            <h2> احراز هویت </h2>
            <div id="accordionText"> </div>
          </div>
          <div class="col-md-6">
            <button type="button" class="btnAccordion pull-right" data-parent="#accordion1"> </button>
          </div>
        </div>
        <div class="row top20">
          <div class="col-md-12">
            <div class="panel-group" id="accordion1">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> در صورت تمایل به سرمایه گذاری در شرکت شما چه مدارک و اطلاعاتی مورد نیاز می باشد؟ </h4>
                  <i class="fa pull-right fa-angle-down"></i>
                </div>
                <div id="a1collapse1" class="panel-collapse collapse showFlag" aria-expanded="false">
                  <div class="panel-body gray">
                    <p> مرحله ی 1: اطلاعات اولیه، اطلاعات هویتی، آدرس و سایر مواد متنی مورد نیاز است </p>
                    <p> مرحله ی 2: بارگذاری نسخه ی کپی دو صفحه اول پاسپورت معتبر یا سایر مدارک معتبر شناسایی تایید شده (مانند کارت شناسایی، گواهینامه ی رانندگی و غیره) و تصویر مدرک شناسایی معتبر .مدرک شناسایی بایستی حاوی نام مشتری، تاریخ اجرا، آدرس مشتری و تاریخ تولد باشد.</p>
                    <p> مرحله ی 3: بارگذاری مدرک معتبر نشان دهنده ی آدرس که  میتواند شامل قبوض رسمی (برق، گاز، آب، تلفن، اینترنت یا حساب بانکی) که حاوی آدرس هست باشد. تاریخ ذکر شده ی قبض باید متعلق به 6 ماه اخیر بوده و نشان دهنده ی آدرس ثبت شده ی شما باشد. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">برای احراز هویت چرا نیاز به بارگزاری اطلاعات می باشد؟？</h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a1collapse2" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p> از آنجاییکه شرکت Noble Sky به صورت قانونی ثبت شده است، تمام فعالیت های ما مطابق با قوانین مراجع اصلی قانونی ما CGSE و SVGFSA است. قوانین ما را ملزم به گردآوری اطلاعات مشتری،کارت شناسایی معتبر و مدرک معتبر دال بر آدرس (با حداقل اعتبار لازم) میکند. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> درصورت تایید حساب اول  و افتتاح حساب دوم آیا نیاز به بارگزاری مجدد اطلاعات تکمیلی می باشد؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a1collapse3" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p> بله، مجوزهای  هر حساب جداگانه مورد بررسی قرار میگیرند. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">آیا میتوانم اطلاعات شخصی را تغییر بدهم؟  </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a1collapse4" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p> اطلاعات شخصی تکمیل شده در مرحله ی اول قبل از بررسی اطلاعات تکمیلی ثانویه قابل تغییر می باشند. پس از تایید ثانویه اطلاعات، اطلاعات شخصی قابل تغییر نیستند. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="section-2" class="container top50" style="direction:rtl;text-align:right;">
        <div class="row">
          <div class="col-md-6">
            <h2> حساب معامله گری </h2>
            <div id="accordionText"> </div>
          </div>
          <div class="col-md-6">
            <button type="button" class="btnAccordion pull-right" data-parent="#accordion2"> </button>
          </div>
        </div>
        <div class="row top20">
          <div class="col-md-12">
            <div class="panel-group" id="accordion2">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> چگونه حساب واقعی ایجاد کنم؟</h4>
                  <i class="fa pull-right fa-angle-down"></i>
                </div>
                <div id="a2collapse1" class="panel-collapse collapse showFlag" aria-expanded="false">
                  <div class="panel-body gray">
                    <p> مراحل ایجاد حساب بسیار آسان و سریع میباشد. بر روی گزینه ی CRM کلیک کنید، گزینه ی register را در قسمت بالای سمت راست صفحه انتخاب کنید، اطلاعات را وارد نمایید و برای احراز اطلاعات وارد CRM شوید. پس از تکمیل احراز اطلاعات میتوانید حساب خود را فعال کرده و مبلغ دپازیت را واریز نمایید.  </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">معمولا افتتاح حساب به چقدر زمان نیاز دارد؟?</h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse2" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p> در صورت تکمیل اطلاعات بطور مشخص  صحیح کمتر از 30 دقیقه زمان نیاز است.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> معامله کردن را چگونه آغاز کنیم؟</h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse3" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p> در صورت ایجاد حساب واقعی و تکمیل مرحله ی تایید احراز هویت شخص، پس از تکمیل مرحله ی اول اطلاعات می توانید حساب فارکس را فعال کنید (spot assets). </p>
                    <p>
                      مرحله ی فعال سازی: در صفحه ی assets گزینه ی activate را فعال کنید. پسوورد رمز ورود به Metatrader 5  و رمز سپرده گذار را تنظیم کرده و روی confirm activation  کلیک کنید;
                    </p><p> پس از افتتاح حساب موفقیت آمیز، شماره حساب نمایش داده خواهد شد. حساب فوق الذکر "inactive" بوده و در انتظار فعال شدن می باشد. پس از فعال سازی "activated" نشان داده خواهد شد.</p>
                        <p>پس از فعال سازی حساب میتوانید مبلغ دپازیت را از طریق صفحه ی واریز و برداشت در CRM واریز کنید. می توانید بطور همزمان پلتفرم را دانلود کنید. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> کدام نوع حساب ها در شرکت شما موجود میباشد؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse4" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>
                      <strong>حساب استاندارد: </strong> : یک لات استاندارد برابر است با 100000 واحد ارز پایه.
                      <br>
                    </p>
                    <p>
                      برای کسب اطلاعات بیشتر
                      <em>
                        <router-link to="/account-types"> اینجا را کلیک کنید.  </router-link>
                      </em>。
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> چگونه حساب Noble Sky خود تحت نظر نمایندگی ثبت کنم ؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse5" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p> برای ثبت حساب Noble Sky تحت نظر نمایندگی در مرحله ی اول بایستی کد معرف را از نماینده ی خود دریافت کنید. </p>برای ثبت حساب Noble Sky تحت نظر نمایندگی در مرحله ی اول بایستی کد معرف را از نماینده ی خود دریافت کنید.
                    <p>  در زمان تکمیل فرم بخش کد معرف را تکمیل کنید. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> حداقل سپرده در حساب معامله گری چیست؟</h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse6" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>حداقل مبلغ واریز / برداشت حساب استاندارد 100 دلار می باشد. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> حساب سنتی هم دارید؟ آیا مبلغ سپرده به سنت نشان داده می شود؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse7" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>خیر. ما تنها حساب دلاری داریم. مبلغ سپرده ی شما دقیقا میزان مبلغی که شما اریز کرده اید نشان داده میشود. در صورت واریز 100 دلار میزان بالانس شما نیز 100 دلار می باشد.  </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <strong>آیا شما حساب مینی دارید؟</strong> </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse8" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>
                      خیر. در Noble Sky حساب استاندارد وجود دارد. بااین وجود شما می توانید حداقل سایز لات (10000 واحد) با کم کردن حجم حساب استاندارد خود (حجم لات) به 0.1 (0.1*100000 واحد= 10000 واحد) را ایجاد کنید.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> حساب نانو دارید؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse9" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>
                      خیر، در Noble Sky فقط حساب استاندارد وجود دارد.
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> آیا من میتوانم حساب شرکتی ثبت کنم؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse11" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p> متاسفانه در Noble Sky این مورد وجود ندارد. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> از حساب دمو به چه مدت میتوان استفاده کرد؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse12" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>
                      در
                      <strong>NOBLE SKY</strong> از حساب دمو می توان بطور همیشگی استفاده کرد. اما در صورت وارد نشدن به حساب بیشتر از 90 روز حساب دمو شما غیرفعال خواهد شد.همچنین شما میتوانید حساب دمو جدید هر زمانی که بخواهید افتتاح کنید.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> آیا ممکن است میزان ضرر من بیشتر از مبلغ سپرده باشد؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse13" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p> خیر، میزان ضرر شما از مبلغ سپرده ی شما بیشتر نخواهد شد. در صورت منفی شدن بالانس شما روی یک جفت ارز خاص سیستم بطور اتوماتیک بالانس حساب شما را تا واریز بعدی شما صفر خواهد کرد.</p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> آیا حساب سپرده دارای امنیت میباشد؟</h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse15" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>
                      به منظور محافظت از مشتریان وسرمایه ی آن ها از  قوانین و مقررات عملیات محدود جهانی Noble Sky پیروی کنید:
                    </p>
                    <ul>
                      <li>
                        <span style="text-decoration:underline;"> ایزوله سازی وجه مشتری </span>
                      </li>
                    </ul>
                    <p> کلیه وجوه مشتری در حساب بانکی جداگانه خود مشتری از شرکت نگهداری می شود. این وجوه در ترازنامه ذکر شده و بنابراین در صورت ورشکستگی شرکت از آن برای بازپرداخت بدهی به طلبکاران استفاده نمی شود. </p>
                    <ul>
                      <li>
                        <span style="text-decoration:underline;">حساب بانکی</span>
                      </li>
                    </ul>
                    <p>ما تحت سازمان موسسات بانکی حساب های مشتری را اداره و نگهداری می کنیم. </p>
                    <ul>
                      <li>
                        <span style="text-decoration:underline;"> سیستم قانونی </span>
                      </li>
                    </ul>
                    <p> از آنجاییکه ما به عنوان ارائه دهنده خدمات تضمینی تحت نظارت و مجوز رسمی میباشیم، موظف به رعایت شرایط سختگیرانه ی مالی هستیم. طبق قانون ما موظف هستیم نقدینگی کافی برای پوشش سپرده های مشتریان، نوسانات احتمالی دارایی های ارزی شرکت و هرگونه هزینه های معوقه را داشته باشیم. بعلاوه یک حسابرس خارج از شرکت سالانه حسابرسی صورتهای مالی شرکت را انجام می دهد.  </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">چارت را چگونه میتوان دید؟</h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse16" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>
                      Please
                      بر روی یکی از سیمبل ها در مارکت واچ کلیک راست کنید و گزینه ی chart window را انتخاب کنید. به دفعات زیاد میتوانید هر نمادی را می توانید در پنجره نمودار بکشید و رها کنید.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">اسپردها در کارگزاری شما چگونه است؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse17" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p> اسپردهای Noble Sky شناور می باشد که پایین ترین آن 0.6 پیپس است. بدون تکرار قیمت پایه (quotation): مشتریان با قیمت مستقیم بازار کار میکنند.                          <a href="https://www.noblesky.com/cn/spreads">اینجا را کلیک کنید. </a> برای کسب اطلاعات بیشتر در مورد اسپردها  </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> ساعات معامله در شرکت شما چگونه است؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse18" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>ساعت 8:00 دوشنبه تا 17:00 جمعه به وقت گرینویچ (GMT+2)</p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">آیا از اخبار مربوط به معامله گری پشتیبانی میکنید؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse20" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p> بله </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> لوریج در Noble Sky چند است؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse21" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>1:1-1:200</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">مارجین، نسبت مارجین و مارجین موجود چیست؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse22" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p> مارجین میزانی از ارز پایه ی مورد نیاز برای بازکردن یک پوزیشن جدید یا بازنگهداشتن دستور باز می باشد. به عنوان مثال در صورت معامله ی ارزهای خارجی مارجین مورد نیاز یا استفاده شده برای یک پوزیشن = تعداد لات/ ها * سایز قرارداد / لوریج. نتیجه محاسبه به طور خودکار با ارز قبلی در جفت ارز نشان  داده شده و سپس به ارز پایه حساب شما تبدیل می شود. این مبلغ در MT5 شما نشان داده می شود.  </p>
                    <p> فرمول محاسبه ی مارجین مورد نیاز طلا و نقره لات * سایز قرارداد * قیمت بازار / لوریج می باشد و نتیجه ی معادله به دلار است.</p>
                    <p>
                      فرمول محاسبه ی مارجین مورد نیاز CFDها تعداد لات * سایز قرارداد * قیمت باز کردن پوزیشن * مارجین مورد نیاز. نتیجه ی معادله به دلار آمریکا می باشد. اطلاعات تکمیلی:
                    </p>
                    <p> فرمول محاسبه نسبت مارجین ارزش خالص / مارجین * 100%</p>
                    <p> مارجین موجود، میزان خالص دارایی شما منهای مارجین است که از آن برای باز یا نگه داشتن پوزیشن ها استفاده می شود. . </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> مارجین چگونه محاسبه می شود؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse23" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>فرمول محاسبه ی مارجین:</p>
                    <p>
                      (لات/ها * سایز قرارداد / لوریج). نتیجه ی معادله بر اساس ارز پایه ی جفت ارز نشان داده می شود.
                    </p><p> در حساب های استاندارد سایز قرارداد تمام ارزهای خارجی 100000 واحد می باشد. در حساب های میکرو، سایز قرارداد تمام ارزهای خارجی 1000 واحد می باشد. </p>
                    <p> به عنوان مثال اگر ارز پایه ی حساب شما دلار آمریکا می باشد لوریج آن 1:500 بوده و برای معامله ی 1 لات EURUSD مارجین با این فرمول محاسبه می شود:</p>
                    <p> (1 * 100 000/500) = 200 Euro</p>
                    <p> یورو ارز اول جفت ارز EURUSD است. اگر حساب شما دلاری باشد سیستم بطور خودکار 200 یورو را به دلار بر اساس نرخ لحظه ای تبدیل ارز تبدیل خواهد کرد </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> فرمول مارجین طلا / نقره چیست؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse24" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>
                      فرمول مارجین طلا / نقره
                      <strong> لات * سایز قرارداد * قیمت بازار / لوریج </strong>.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">فرمول مارجین CFD ها چیست؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse25" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>
                      فرمول مارجین CFD ها
                      <strong> لات * سایز قرارداد * قیمت لحظه ی باز کردن پوزیشن * مارجین. </strong>。برای کسب اطلاعات بیشتر
                      <a href="/#/cn/spreads">اینجا را کلیک کنید</a>。
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">نحوه ی محاسبه ی نرخ بهره ی شبانه جفت ارزه و طلا / نقره چگونه است؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse26" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>
                      برای آشنایی با هزینه ی بهره ی شبانه ,
                      <a href="/#/cn/overnight-positions">اینجا را کلیک کنید</a>。
                    </p>
                    <p>فرمول نرخ بهره ی شبانه تمام ارزهای خارجی و طلا و نقره به شرح ذیل می باشد: </p>
                    <p>
                      <strong>لات * پوزیشن خرید یا فروش * میزان پوینت</strong>
                    </p>
                    <p>
                      <span style="text-decoration:underline;"> به عنوان مثال در مورد جفت ارز EURUSD:</span>
                    </p>
                    <p>
                      با فرض اینکه ارز پایه ی مشتری دلار باشد
                      <br>خرید 1 لات EURUSD
                      <br>خرید = 3.68 –
                      <br> از آنجاییکه پوزیشن مورد نظر خرید میباشد، سیستم بطور خودکار سواپ پوزیشن خرید اعمال کرده که مبلغ معادل 3.68- است
                      <br>سایز پوینت = اندازه ی قرارداد کالا * حداقل قیمت نوسان
                      <br>سایز پوینت         EURUSD= 0.00001 * 100000 =  	1
                      <br> با وارد کردن اطلاعات در فرمول 1 * (3.68-) * 1 = 3.68-  USD به دست می آید
                      <br> بنابراین با خرید  1 لات EUR/USD نرخ بهره ی شبانه جفت ارز برابر با 3.68-  دلار می باشد.。
                    </p>
                    <p>
                      <span style="text-decoration:underline;"> </span>:
                    </p> مثال دیگری برای طلا:
                    <p>
                      با فرض ارز پایه ی مشتری به دلار
                      <br>  خرید 1 لات طلا                       <br>خرید = 2.17-
                      <br>  از آنجاییکه پوزیشن مورد نظر خرید میباشد، سیستم بطور خودکار سواپ پوزیشن خرید اعمال کرده و مبلغ معادل 2.17- است.                       <br> سایز پوینت = اندازه ی قرارداد کالا * حداقل قیمت نوسان                         <br>1 =  0.01 * 100= یک پوینت طلا
                      <br> با وارد کردن اطلاعات در فرمول 1 * (2.17-) * 1 = 2.17-  USD به دست می آید
                      <br> بنابراین با خرید  1 لات طلا نرخ بهره ی شبانه جفت ارز برابر با 2.17-  دلار می باشد.
                    </p>
                    <p> لطفا در نظر داشته باشید در صورتیکه ارز پایه ی حساب شما دلار می باشد، محاسبه ی نرخ بهره ی شبانه از دلار به یورو تغییر کرده و انجام میشود. نتیجه ی نرخ بهره ی شبانه همیشه با واحد ارز دوم اعلام میشود و سیستم در حساب معامله گری شما در نهایت در ارز پایه بیان میشود. </p>
                    <p>
                      مثال های فوق الذکر اطلاعات واقعی نبوده و فقط جنبه ی آموزشی دارند.  برای مشاهده ی جزئیات بیشتر نرخ بهره ی شبانه ارزهای خارجی                         <a href="/#/cn/forex-trading">اینجا  </a>， و طلا و نقره
                      <a href="/#/cn/precious-metals">اینجا را کلیک کنید.</a>。
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">آیا در شرکت شما اسکالپ مجاز میباشد؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse28" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p> بله </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> Stop-loss چیست؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse29" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>
                      Stop-loss اشاره به یک دستور برای بستن پوزیشنی است که میزان ضرر شما در آن معامله بیشتر از میزان تنظیم شده میباشد. Stop-loss دستور نقطه ای میباشد، زمانیکه بازار به نقطه ی تنظیم شده ی شما برسد پوزیشن بسته میشود. لطفا این نکته را در نظر داشته باشید زمان تنظیم این دستور باید فاصله ی معینی که بر اساس نرخ پایه میباشد را اعمال کنید. برای کسب اطلاعات بیشتر در مورد فواصل دستورات حد و ضرر جفت ارزها
                      <a href="/#/cn/forex-trading"> اینجا را کلیک کنید. </a>。
                    </p>
                    <p> زمانیکه روند بازار مناسب با معامله ی شما نمیباشد دستور Stop-loss میزان ضرر شما را کاهش میدهد. نقطه ی در نظر گرفته ی شما برای Stop-loss بایستی پایین تر از قیمت فروش در لحظه برای دستور خرید و یا بالاتر برای دستور فروش باشد. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">Take Profit به چه معنی می باشد؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse30" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>
                      Take profit دستوری است برای بستن پوزیشنی که قبلاً باز شده است که برای این کار میبایست قیمتی سود آور تر از قیمت لحظه ای خود را وارد کرده و لحظه ای که معامله به نقطه ی حد سود برسد، بسته خواهد شد. لطفا توجه داشته باشید هنگام تنظیم دستور stop/limit باید حد فاصل با قیمت فعلی بازار را در نظر بگیرید. برای آشنایی بیشتر با جزئیات نقطه ی حدفاصل جفت ارزها در limit and stop levels
                      <a href="/#/cn/forex-trading"> این بخش را مطالعه نمایید.    </a>。
                    </p>
                    <p> تنظیمات حد سود برای دستورهای فروش بایستی پایین تر از قیمت لحظه ای خرید یا بالاتر از قیمت لحظه ای فروش برای دستورهای خرید باشد. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> trailing stop-loss چیست؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse31" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>
                      trailing stop-loss نوعی stop-loss می باشد. این دستور در درصدی پایین تر از قیمت بازار برای دستور خرید، یا بالاتر از قیمت بازار برای دستور فروش تنظیم می شود و مطابق با قیمت بازار حرکت می کند. لطفا در نظر داشته باشید در زمان اجرای دستور stop-loss باید چند پوینت با قیمت لحظه ی اجرای دستور فاصله وجود داشته باشد. برای کسب اطلاعات بیشتر در مورد فواصل stop-loss جفت ارزها
                      <a href="/#/cn/forex-trading"> اینجا را کلیک کنید. </a>。
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <em> Offset closing </em>چیست
                    ?
                  </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse32" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>
                      <em> Offset closing </em> یکی از عملکردهای MT5  است که به شما امکان بستن دو پوزیشن در جهات مختلف یک نماد را بطور همزمان فراهم می آورد در نتیجه اختلاف بین دو معامله را میتوانید ذخیره کنید                         <em>خرید</em> نیاز است سینگل
                      <em>فروش</em> بستن سینگل,
                      <em>فروش</em> سینگل
                      <em>خرید</em>بستن سینگل
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    
                    <em>     دستور Offset در پوزیشن خرید  </em> چیست?
                  </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse33" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>
                      <em> Long position offset </em> یکی از عملکردهای MT5  است که به شما امکان بستن دو پوزیشن در جهات مختلف یک نماد را بطور همزمان فراهم می آورد در نتیجه اختلاف بین دو معامله را میتوانید ذخیره کنید                        <em>خرید</em> نیاز است سینگل
                      <em>فروش</em>，بستن سینگل
                      <em>فروش</em> دستورها بایستی
                      <em>خرید</em> دستورها بایستی پوزیشن ها را ببندد.
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">چگونه سود و زیان هر پوینت را محاسبه کنم؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse35" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>
                      مبلغ ارز پایه * پوینت ها = ارزش ارز پایه
                      <br>ارزش 1 پوینت EUR/USD = 1 لات (100000 یورو) * 0.0001 = 10 USD
                      <br>ارزش 1 پوینت USD/CHF = 1 لات (100000 دلار) * 0.0001 = 10 CHF
                      <br>ارزش 1 پوینت EUR/JPY = 1 لات (100000 یورو) * 0.01 =  JPY 1000
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">حداقل میزان لات در حساب استاندارد چقدر می باشد؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse36" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>مشخصات ذیل حجم هر معامله است که شما میتوانید در هر لحظه آن را هزینه کنید</p>
                    <p>حساب استاندارد:</p>
                    <p>
                      1 لات = 100000
                      <br>حداقل حجم معامله = 0.01
                      <br>حداکثر حجم معامله = 50
                      <br>حجم معامله = 0.01
                    </p>
                  </div>

                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">آیا هجینگ در شرکت شما مجاز میباشد? </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse37" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>بله مجاز هستید در حساب خود از لاک آپ (قفل کردن) بدون محدودیت و آزادانه استفاده کنید. پوزیشن لاک شده به این معنی میباشد که شما میتوانید بطور همزمان بر روی یک کالای مشابه دستور خرید و فروش اجرا کنید.  </p>
                    <p>در صورت لاک کردن پوزیشن، پیش پرداخت پوزیشن لاک شده تنها برای لات بالای یکطرفه ی پوزیشن شارژ خواهد شد. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">لوریج چیست؟ چگونه عمل می کند؟ کمترین مبلغ پرداخت شده، بالاترین میزان لوریج، بزرگترین ریسک چیست؟</h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse38" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>لوریج برای بالا بردن میزان بالانس شما استفاده می شود. میتوانید از مارجین های کمتر برای باز کردن پوزیشن های بزرگ تر با استفاده از لوریج انجام دهید. همچنین می توانید با استفاده از لوریج سود بیشتری کسب کنید، اما از آنجاییکه پوزیشن باز شده بسیار بزرگ می باشد (اندازه ی لات)، میزان ریسک هم بالا می رود. </p>
                    <p>به عنوان مثال:</p>
                    <p>بالانس حساب: 100 دلار</p>
                    <p>لوریج حساب: 1:100</p>
                    <p>سرمایه ی شما به میزان 100 * 100 دلار = 10000 دلار افزایش پیدا خواهد کرد (جایگزین سرمایه ی اصلی میشود). </p>
                  </div>
                </div>
              </div>

              <!-- <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">How to calculate the profit of CFDs? </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse40" class="panel-collapse collapse">
                  <div class="panel-body gray">
                    <p>The profit calculation formula is as follows:
                      <br>(closing price-opening price) * lot size * contract size
                      <br>CFD lot sizes are different, read more
                      <a href="/#/cn/spreads">Please click here</a>. </p></div>
                </div>
              </div> -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">اسلیپیج دارید؟</h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse41" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>در صورت معامله با کارگزاری ما به سختی شاهد اسلیپیج خواهید بود. با این وجود هنگام انتشار برخی اخبار مهم اقتصادی به دلیل افزایش / کاهش سریع قیمت های بازار ممکن است جایی که سفارش شما اجرا می شود با درخواست شما متفاوت باشد. </p>
                    <p>در Noble Sky سفارش شما در جهتی که بیشتر به نفع شماست اجرا می شود. </p>
                    <p>
                      برای کسب اطلاعات بیشتر در مورد استراتژی اجرای دستورات Noble Sky
                      <a href="/#/cn/execution-policy ">اینجا را کلیک کنید. </a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">آیا یک نفر میتواند بیشتر از یک حساب معاملاتی داشته باشد؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse42" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>با یک کارت شناسایی فقط میتوان یک حساب واقعی ثبت کرد. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">آیا حساب ها با بالانس منفی بسته می شوند؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse43" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>
                      مطابق با قوانین شرکت بعد از 90 روز حسابی که بالانس آن صفر شده باشد بطور خودکار بسته شده و امکان استفاده ی مجدد از آن به هیچ وجه امکان پذیر نمی باشد. در صورتیکه حساب موجود شما بسته شده باشد و حساب معامله گری دیگری ساخت حساب جدید
                      <a href="/#/register">اینجا را کلیک کنید.</a> برای ثبت نام حساب جدید
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">در صورتیکه آنلاین نباشم آیا نیاز هست تمام پوزیشن های باز را ببندم؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse45" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>در صورت بستن پلتفرم، دستورات stop-loss و پندینگ ها حفظ میشوند. اما وقتی معاملات را در MT5 ببندید، تمام دستورات فاقد اعتبار خواهند بود. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">چگونه میتوانم سوابق معاملات را ببینم؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse46" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>شما می توانید سوابق معاملات را در پلتفرم MT5 مشاهده کنید. کافی است بر روی MT5-Toolbox کلیک راست کنید، گزینه ی Account History را انتخاب کرده، دوره ی زمانی مورد نظر را انتخاب کنید ( مانند: یک سال، یک ماه، یک هفته) و در نهایت کلیک راست کرده و گزینه ی Save Report.</p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">حداکثر مبلغی که میتوانم بطور آنلاین معامله کنم چه میزان میباشد؟</h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse47" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p> در کارگزاری Noble Sky هیچ محدودیتی در میزان مبلغ معاملات وجود ندارد، اما حداکثر تعداد لات در حساب استاندارد از 50 لات بیشتر نمی تواند باشد و حداکثر تعداد لات قابل معامله در یک معامله در حساب میکرو نباید از 100 میکرولات تجاوز کند.</p>
                    <p>چنانچه قصد معامله با لات های بیشتری دارید، باید تعداد دستورها را کاهش دهید.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">چنانچه قصد معامله با لات های بیشتری دارید، باید تعداد دستورها را کاهش دهید.</h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse48" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>در بازار آنی ارز خارجی، تاریخ واقعی دو روز دیرتر نشان داده می شود. به عنوان مثال، قیمت معاملات روز پنجشنبه، دوشنبه اعلام میشود  و قیمت معاملات روز جمعه، سه شنبه. بنابراین چهارشنبه ها برای جبران نرخ بهره ی شبانه ی آخر هفته سه برابر محاسبه میشود ( از آنجاییکه معامله در آخر هفته متوقف شده است، نیاز نیست سود شبانه ی تعلق گرفته در همان روز پرداخت شود).</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">برای مبادلات ارزی راهنمایی میکنید؟ چگونه میتوانم اساس معاملات ارزهای خارجی را یاد بگیرم؟</h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse49" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>مدیریت حساب  <strong>NOBLE SKY</strong> هر مشتری  کاملا به عهده ی خود مشتری می باشد، که نه تنها می تواند از چت آنلاین، ایمیل، تلفن و سایر پشتیبانی های فنی جامع بهره مند شود، بلکه می تواند دوره های آموزش یادگیری مقدماتی MetaTrader5 را نیز به صورت یک به یک فرا بگیرد. .</p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">آیا مشتری از کشورهایی آمریکایی قبول میکنید؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse50" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>طبق قانون فرانک  Frank Actکه اخیراً توسط کنگره ایالات متحده تصویب شده است، کمیسیون معاملات آتی کالاها دیگر به شهروندان آمریکایی اجازه افتتاح حساب های تجاری با ما را نمی دهد. </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">one-click trading چیست و چگونه میتوان از آن استفاده کرد؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse52" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>one-click trading به شما امکان باز کردن پوزیشن تنها با یک کلیک را میدهد. زمانیکه قصد بستن پوزیشنی را داشته باشید one-click  عمل نکرده و بایستی آن را بطور دستی ببندید.  </p>
                    <p>one-click trading در گوشه ی بالای سمت چپ نمودار قابل رویت میباشد. در صورت کلیک بر روی one-click       trading   در بخش بالای سمت چپ صفحه نمایش داده خواهد شد.     </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">آیا امکان تغییر نوع حساب وجود دارد؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse53" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>
                      متاسفانه امکان تغییر نوع حساب وجود ندارد.  بعد از ورود به
                      <router-link to="/login">CRM</router-link>و افزودن حساب جدید نوع حساب مورد نظر خود را انتخاب کنید.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">چگونه میتوانم پسوورد خود را تغییر دهم؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse54" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>در صورت فراموش کردن پسوورد حساب خود با مرکز خدمات مشتریان تماس گرفته و درخواست تغییر پسوورد بدهید. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">آیا میتوانم ارز پایه ی حساب خود را تغییر بدهم؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse55" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>متاسفانه ارز پایه فقط دلار میباشد.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">آیا باینری آپشن نیز ارائه میدهید؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a2collapse56" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>خیر, موجود نمیباشد. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="section-3" class="container top50" style="direction:rtl;text-align:right;">
        <div class="row">
          <div class="col-md-6">
            <h2>واریز / برداشت</h2>
            <div id="accordionText"> </div>
          </div>
          <div class="col-md-6">
            <button type="button" class="btnAccordion pull-right" data-parent="#accordion3"> </button>
          </div>
        </div>
        <div class="row top20">
          <div class="col-md-12">
            <div class="panel-group" id="accordion3">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">از کدام یک از روش های واریز / برداشت استفاده میکنید؟ </h4>
                  <i class="fa pull-right fa-angle-down"></i>
                </div>
                <div id="a3collapse1" class="panel-collapse collapse showFlag" aria-expanded="false">
                  <div class="panel-body gray">
                    <p>واریز / برداشت را از طریق ارز مجازی تتریوم انجام میدهیم. </p>
                    <p>پس از افتتاح حساب وارد CRM شده و مراحل احراز هویت و مدارک جهت فعال سازی حساب خود را انجام دهید. بعد از تکمیل این مرحله میتوانید وارد گزینه ی واریز / برداشت شده و طبق دستورالعمل اقدام کنید. </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">کمترین و بیشترین میزان واریز / برداشت چقدر میباشد؟ </h4>
                  <i class="fa pull-right fa-angle-down"></i>
                </div>
                <div id="a3collapse3" class="panel-collapse collapse showFlag" aria-expanded="false">
                  <div class="panel-body gray">
                    <p>کمترین و بیشترین میزان واریز / برداشت 100 دلار ( یا معادل 100 دلار هر ارز دیگری) می باشد. اما مبلغ دقیق به روش پرداخت و وضعیت حساب شما بستگی دارد. </p>
                  </div>
                </div>
              </div>


              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">آیا در هر زمان از شبانه روز امکان برداشت وجود دارد؟ </h4>
                  <i class="fa pull-right fa-angle-down"></i>
                </div>
                <div id="a3collapse6" class="panel-collapse collapse showFlag" aria-expanded="false">
                  <div class="panel-body gray">
                    <p>حساب شما قبل از برداشت مبلغ بایستی تایید شده باشد. در مرحله ی اول وارد CRM شده و اطلاعات خود را آپلود نمایید : هویتی ( کارت شناسایی، پاسپورت، گواهینامه ی رانندگی) و تایید آدرس (فیش آب، برق، گاز و دفترچه حساب بانکی) که شامل آدرس و نام شما و مربوط به 3 ماه اخیر و در مورد قبوض بالای 6 ماه نباشد.  </p>
                    <p>پس از این مرحله وارد CRM شوید و گزینه ی برداشت را انتخاب کرده و درخواست برداشت خود را برای ما ارسال کنید. درخواست برداشت شما طی 24 ساعت روز کاری توسط پشتیبانی مرکز خدمات مشتری انجام میپذیرد. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">در صورت داشتن پوزیشن باز آیا امکان برداشت وجود دارد؟ </h4>
                  <i class="fa pull-right fa-angle-down"></i>
                </div>
                <div id="a3collapse7" class="panel-collapse collapse showFlag" aria-expanded="false">
                  <div class="panel-body gray">
                    <p>بله، البته منهای سود موجود در حساب های باز. </p>

                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">چقدر طول میکشد مبلغ واریزی سپرده در حساب اعمال شود؟ </h4>
                  <i class="fa pull-right fa-angle-down"></i>
                </div>
                <div id="a3collapse8" class="panel-collapse collapse showFlag" aria-expanded="false">
                  <div class="panel-body gray">
                    <p>واریزی های از طریق تتریوم در همان روز کاری اعمال می شوند.  </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">بعد از درخواست برداشت چقدر طول میکشد تا مبلغ به حساب واریز شود؟</h4>
                  <i class="fa pull-right fa-angle-down"></i>
                </div>
                <div id="a3collapse9" class="panel-collapse collapse showFlag" aria-expanded="false">
                  <div class="panel-body gray">
                    <p>پشتیبانی درخواست شما را طی 24 ساعت انجام میدهند. برداشت از طریق تتریوم در همان روز انجام میشود. </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">آیا هزینه های جانبی در واریز یا برداشت وجود دارد؟ </h4>
                  <i class="fa pull-right fa-angle-down"></i>
                </div>
                <div id="a3collapse11" class="panel-collapse collapse showFlag" aria-expanded="false">
                  <div class="panel-body gray">
                    <p>در واریز یا برداشت شما متحمل پرداخت هیچگونه مبلغ اضافی نمیشوید، و هزینه ی اضافی واریز یا برداشت شخص سوم تحت کنترل ما نمیباشد. </p>
                    <p>در زمان واریز وجه، میزان دریافتی تتریوم را به ارز پایه ی حساب شما تبدیل میکنیم. </p>
                    <p>در زمان برداشت نیز مبلغ مورد نظر شما را به شماره کیف پولی که اعلام کرده اید انتقال میدهیم. مبلغ واقعی دریافتی منوط به مبلغ دریافتی شخص ثالث میباشد. </p>
                  </div>
                </div>
              </div>




              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">آیا امکان انتقال مبلغ سپرده ی حساب من به حساب های سایر مشتریان وجود دارد؟ </h4>
                  <i class="fa pull-right fa-angle-down"></i>
                </div>
                <div id="a3collapse16" class="panel-collapse collapse showFlag" aria-expanded="false">
                  <div class="panel-body gray">
                    <p>نخیر امکان پذیر نمیباشد. انتقال مبلغ سپرده بین حساب مشتریان مختلف غیرقانونی میباشد. </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">آیا میتوانم مبلغ سپرده را به حساب دیگری انتقال بدهم؟ </h4>
                  <i class="fa pull-right fa-angle-down"></i>
                </div>
                <div id="a3collapse19" class="panel-collapse collapse showFlag" aria-expanded="false">
                  <div class="panel-body gray">
                    <p>بله شما میتوانید درخواست انتقال داخلی بین حساب های مشترک با نام یکسان داشته باشید. این نکته را مدنظر قرار دهید که حساب ها بایستی به یک نام و هر دو مورد تایید شرکت باشند. </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">آیا کمیسیون یا سایر هزینه های جانبی کسر میکنید؟ </h4>
                  <i class="fa pull-right fa-angle-down"></i>
                </div>
                <div id="a3collapse22" class="panel-collapse collapse showFlag" aria-expanded="false">
                  <div class="panel-body gray">
                    <p>
                      <در Noble Sky هیچگونه هزینه ی اضافی یا کمیسیون در واریز یا برداشت وجود ندارد.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="section-4" class="container top50" style="direction:rtl;text-align:right;">
        <div class="row">
          <div class="col-md-6">
            <h2>پلتفرم معاملاتی</h2>
            <div id="accordionText"> </div>
          </div>
          <div class="col-md-6">
            <button type="button" class="btnAccordion pull-right" data-parent="#accordion4"> </button>
          </div>
        </div>
        <div class="row top20">
          <div class="col-md-12">
            <div class="panel-group" id="accordion4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">تفاوت بین حساب دمو و واقعی چیست؟ </h4>
                  <i class="fa fa-angle-down pull-right"></i>
                </div>
                <div id="a4collapse1" class="panel-collapse collapse showFlag">
                  <div class="panel-body gray">
                    <p>اگرچه تمام ویژگی ها و عملکردهای حساب واقعی در حساب آزمایشی وجود دارد، اما بخاطر داشته باشید که حساب آزمایشی نمی تواند شرایط واقعی بازار را فراهم کند. مهم ترین نکته این است که اجرای دستور در حساب دمو هیچ تاثیری در بازار نخواهد داشت. برعکس دستورهای ثبت شده در حساب های واقعی تحت تأثیر بازار قرار خواهند گرفت و همچنین بر قیمت های بازار تأثیر می گذارند به ویژه زمانی که حجم سفارش زیاد باشد. سرعت اجرای دستورات حساب دمو و واقعی در Noble Sky یکی میباشد. </p>
                    <p>
                      بعلاوه ویژگی های مختلف روانشناختی کاربران تعیین می کند که آیا آنها از یک حساب آزمایشی سود می برند یا یک حساب واقعی. این جنبه ارزیابی حساب دمو را تحت تاثیر قرار میدهد. برای نتیجه گیری از حساب آزمایشی توصیه می کنیم که کاربران محتاط باشند و از خودآموزی اجتناب کنند. برای کسب اطلاعات بیشتر در مورد حساب دمو لطفا ثبت نام کنید.

                      <i class="fa fa-angle-down pull-right"></i>
                    </p>
                  </div>
                  <div id="a4collapse6" class="panel-collapse collapse">
                    <div class="panel-body gray">
                      <p>در صورت داشتن هرگونه سوال با مدیر حساب خود از طریق ایمیل یا چت آنلاین هر زمان که خواستید تماس بگیرید و سوالات خود در مورد معاملات MT5 را بپرسید. از اینکه بتوانیم راهنمایی های لازم و اطلاعات بیشتر بطور خصوصی در اختیار شما قرار دهیم بسیار خرسند میشویم.  </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"> فقط 8 جفت ارز را در MT4  میبینم. چطور میتوانم بقیه ی جفت ارزها را ببینم؟ </h4>
                    <i class="fa fa-angle-down pull-right"></i>
                  </div>
                  <div id="a4collapse7" class="panel-collapse collapse showFlag">
                    <div class="panel-body gray">
                      <p>وارد پلتفرم MT5 خود شوید ; Market window -&gt; کلیک راست  -&gt; برگشت به صفحه ی اصلی پلتفرم و مشاهده ی تمام نمادهای موجود </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"> آیا امکان تغییر منطقه ی زمانی (time zone) در متاتریدر وجود دارد؟ </h4>
                    <i class="fa fa-angle-down pull-right"></i>
                  </div>
                  <div id="a4collapse8" class="panel-collapse collapse showFlag">
                    <div class="panel-body gray">
                      <p>نخیر، زمان در پلتفرم ما ثابت می باشد. در زمستان GMT+ 8 و در تابستان GMT+ 7  میباشد. </p>

                    </div>
                  </div>
                </div>


                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"> چگونه به پلتفرم MT5 دسترسی پیدا کنم؟</h4>
                    <i class="fa fa-angle-down pull-right"></i>
                  </div>
                  <div id="a4collapse13" class="panel-collapse collapse showFlag">
                    <div class="panel-body gray">
                      <p>برای معامله با پلتفرم MT5 بایستی یک حساب معامله گری MT5 در Noble Sky داشته باشید. برای ایجاد حساب MT5 Noble Sky                         <a href="/#/register">اینجا را کلیک کنید.</a>. </p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">چگونه میتوانم تایید حساب MT5 بگیرم؟</h4>
                    <i class="fa fa-angle-down pull-right"></i>
                  </div>
                  <div id="a4collapse15" class="panel-collapse collapse showFlag">
                    <div class="panel-body gray">
                      <p>کلیک روی  CRM -&gt; "Register" برای ایجاد حساب  MT5 , ایجاد حساب و ورود به حساب. برای احراز هویت بایستی مدارک مورد نیاز ( مانند مدارک شناسایی و آدرس) را بارگزاری نمایید. </p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">چه محصولاتی را میتوانم در MT5 معامله کنم؟</h4>
                    <i class="fa fa-angle-down pull-right"></i>
                  </div>
                  <div id="a4collapse17" class="panel-collapse collapse showFlag">
                    <div class="panel-body gray">
                      <p>در ترمینال متاتریدر5 Noble Sky شما قادر به معامله ی تمام کالاها شامل ارزهای خارجی، فلزات گران بها و انرژی ها میباشید.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"> چگونه کالاها را در پلتفرم پیدا کنم؟ </h4>
                    <i class="fa fa-angle-down pull-right"></i>
                  </div>
                  <div id="a4collapse18" class="panel-collapse collapse showFlag">
                    <div class="panel-body gray">
                      <p>پسوند نام تجاری محصول بر اساس نوع حساب شما نشان داده میشود. مثال های زیر را برای تسهیل در معاملات خود با اسم صحیح محصول مطالعه نمایید:</p>                     <ul>
                        <li>حساب استاندارد: نام محصول بطور نرمال ادا میشود (بدون مورد خاص) مانند EURUSD، GBPUSD</li>
                        <li>•Micro (MICRO) account: add micro at the end of the product name, such as EURUSDmicro, GBPUSDmicro</li>
                      </ul>
                      <p> در صورتیکه کالاهایی که میتوانید در پلتفرم معامله کنید را مشاهده نمیکنید لطفا بر روی Market Quotation پنجره کلیک راست کنید >  trading varities را انتخاب کنید > کالای مورد نظر را انتخاب کنید> بر روی Display  کلیک کنید. همچنین میتوانید با کلیک راست و انتخاب گزینه ی Show All این کار را انجام دهید. </p>
                      <p> لطفا در نظر داشته باشید که با توجه به انواع حساب، مواردی که به رنگ خاکستری نشان داده میشوند قابل معامله نمیباشند. بهتر است در پنجره "Market Quote" راست کلیک کرده و برای ساده سازی صفحه "Hide" را انتخاب کنید. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="section-5" class="container top50">
          <div class="row">
            <div class="col-md-6">
              <h2>عملکرد پشتیبانی Noble Sky</h2>
              <div id="accordionText"> </div>
            </div>
            <div class="col-md-6">
              <button type="button" class="btnAccordion pull-right" data-parent="#accordion5"> </button>
            </div>
          </div>
          <div class="row top20">
            <div class="col-md-12">
              <div class="panel-group" id="accordion5">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"> Noble Sky کدام خدمات را پشتیبانی میکند؟ </h4>
                    <i class="fa fa-angle-down pull-right"></i>
                  </div>
                  <div id="a5collapse1" class="panel-collapse collapse showFlag">
                    <div class="panel-body gray">
                      <p> معامله ی جفت ارزهای خارجی، فلزات گران بها و انرژی ها </p>
                      <ul>
                        <li> حداقل سپرده 100 دلار</li>

                        <li>پشتیبانی از بالانس منفی</li>
                        <li>بدون ریکوت و ریجکشن</li>
                        <li>اسپردهای بسیار پایین نزدیک به صفر</li>
                        <li>پایین ترین نرخ پایه ی پوینت</li>
                        <li>استفاده ی یک حساب از چندین ترمینال معاملاتی مختلف</li>
                        <li>اجرای آنی دستورات</li>
                        <li>امکان شارژ 100 % اتوماتیک حساب در 24 ساعت 7روز هفته</li>
                        <li>سرعت بالای شارژ حساب بدون پرداخت هزینه ی جانبی</li>
                        <li>جوایز و هدایای همیشگی</li>
                        <li>حساب دمو نامحدود رایگان با سرمایه مجازی 100000 دلاری و دسترسی به چندین پلتفرم بطور همزمان</li>
                        <li> سیگنال های حرفه ای و دقیق دو نوبت در روز </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dis70"></div>

      </div>


    </div>

    <pageFooter />
  </div>
</template>




<script>

  import pageHeader from '../../components/pageHeaderTFX.vue'
  import pageFooter from '../../components/pageFooterTFX.vue'
  import { languageCode } from '../../utils/lan-code'





  export default {
    name: "my-acount",
    data: function () {
      return {
        isLogin: false,
        userLoginInfo: '',
        curCoinType: 1,
        curLanguage: 2,
        // language:coinstrad,

        userInfo: {
          configure: {
          }
        },

        tableIndex: 0,
        queryIndex: 0,
        queryIndexFlag: false




      };
    },
    metaInfo: {
      title: 'FAQ-NOBLE SKY',
    },
    created() {



      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');

      this.curCoinType = !!storeCoinType ? storeCoinType : this.$api.defaultCoinType;
      this.curLanguage = !!storeLanguage ? storeLanguage : this.$api.defaultLanguage;

      if (this.curLanguage != 2) {
        let pName = this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[this.curLanguage]
        this.$router.push({ name: pNameStr });
      }

      this.isLogin = this.util.isLogin();

      if (!!this.isLogin) {
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
        // this.getUserInfo();
      }


      // this.getSystemTradMode()

      // this.getUserAsset()
      // this.getCoinList();
      // this.getUserOrder();
      // this.getUserOrder2();
      // this.settingAPIDataLanguage();
      // this.getcurrency()



    },

    mounted() {

      let element = document.querySelectorAll(".panel-heading");



      for (let i = 0; i < element.length; i++) {

        (function (m) {

          let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

          panel.classList.add('showFlag')

          element[m].addEventListener('click', function () {


            this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
            this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

            panel.classList.toggle('showFlag')


          })


        })(i)



      }


      document.documentElement.scrollTop = 0


    },




    components: {
      pageHeader,
      pageFooter
    },

    methods: {
      changeLanguage(val) {
        console.log(this.curLanguage)
        let pName = this.curLanguage == 1 ? this.$route.name : this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[val]
        this.$router.push({ name: pNameStr });
      },
      hideMenu() {
        this.$refs.pageHead.hideMenu();
      },
      handleTableIndex(val) {
        this.tableIndex = val
      },
      handleQueryIndex(val) {
        if (val === this.queryIndex) {
          this.queryIndexFlag = !this.queryIndexFlag
        } else {
          this.queryIndex = val
          this.queryIndexFlag = true
        }

      }


    }


  };
</script>





<style scoped lang="scss">
  h2 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .container {
    width: 1170px;
    margin: 0 auto;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .top30 {
    margin-top: 30px !important;
  }

  .top50 {
    margin-top: 50px !important;
  }

  .top60 {
    margin-top: 60px !important;
  }

  .top80 {
    margin-top: 80px !important;
  }


  .text-center {
    text-align: center !important;
  }

  .center-block {
    float: none !important;
  }

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    display: none;
  }


  .dis20 {
    height: 20px;
    clear: both;
  }

  .dis30 {
    height: 30px;
    clear: both;
  }

  .dis60 {
    height: 60px;
    clear: both;
  }



  .site-canvas .top-bar .breadcrumb {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .site-canvas .top-bar {
    background-color: #e8e8e8;
    padding: 20px 0 20px 0;
    margin: 0;
  }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
    clear: both;
  }

  .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
  }



  .box-text-btn {
    text-align: right;
    .row

  {
    margin-left: -15px;
    margin-right: -15px;
  }

  .btn-full {
    background-color: #74c109;
    display: inline-block;
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
    width: 247px;
    text-align: center;
  }

    .btn-full:hover {
      background-color: #29A643;
    }

  }

  .nav-flexbox-tabs {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
  }

    .nav-flexbox-tabs > li {
      width: 213px;
      text-align: center;
      background-color: #fff;
      margin-bottom: 15px;
      margin-right: 15px;
      border: 1px solid #cbcbcb;
    }

      .nav-flexbox-tabs > li.active {
        background-color: #d51820;
      }

      .nav-flexbox-tabs > li > a, .nav-flexbox-tabs > li > button {
        color: #000;
      }

      .nav-flexbox-tabs > li.active a, .nav-flexbox-tabs > li.active button {
        color: #fff;
      }


  a:focus, a:visited {
    color: #d51820;
  }

  .nav-flexbox-tabs a, .nav-flexbox-tabs button {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #000;
    line-height: normal;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    min-height: 38px;
    padding: 0 15px;
  }




  .nav-tabs {
    border: 0;
    font-size: 0;
    margin-bottom: 30px;
  }

  #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
    position: relative;
    margin-bottom: 0;
    z-index: 9;
  }

  #tabs2, #tabs3, #tabs4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }





  .nav > li {
    position: relative;
    display: block;
  }

  .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
  }

  .nav-tabs > li {
    width: 50%;
  }

  #tabs2.nav-tabs > li, #tabs3.nav-tabs > li, #tabs4.nav-tabs > li {
    float: none;
    width: 100%;
  }

  #tabs2.nav-tabs > li, #tabs3.nav-tabs > li, #tabs4.nav-tabs > li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }



  .collapse {
    display: block;
  }

  .panel-default > .panel-heading i.fa-angle-up {
    color: #d51820 !important;
  }

  #tabContent .panel-default > .panel-heading i.fa.fa-angle-up, .panel-default > .panel-heading i.fa.fa-angle-up, #tabContent .panel-default > .panel-heading i.fa.fa-angle-down, .panel-default > .panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-up, .panel-default > .panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-down, .panel-default > .panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
  }

  .tab-pane .dis30 {
    height: 50px;
  }

  .panel-collapse.showFlag {
    display: none;
  }

  .btnAccordion.pull-right {
    display: none;
  }

  footer {
    height: 300px;
    background-color: #333;
    text-align: center;
  }

    footer .cell {
      padding-top: 100px;
      font-size: 26px;
      color: #fff;
    }
</style>
