<template>
  <div class="wrap" @click="hideMenu" style="direction:rtl;text-align:right;">
    <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

    <div class="site-canvas" style="direction:rtl;text-align:right;">

      <div class="container-fluid top-bar" style="direction:rtl;text-align:right;">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-9">
              <h1 class="ltr text-left">مارجین و لوریج                                                                                                       </h1>
              <ol class="breadcrumb">
                <li class="home">
                  <router-link to="/" class="home">NOBLE SKY</router-link>
                </li>
                <li class="post post-page current-item">مارجین و لوریج                                                                                                       </li>
              </ol>
            </div>
            <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
              <div class="option-nav">
                <router-link to="/contact">
                  <i class="contact"></i>
                  <span>تماس با ما</span>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container hidden-xs hidden-sm hidden-l-sm" style="direction:rtl;text-align:right;">
        <h2 class="top80">لوریج استثنایی 1:200</h2>
        <div class="row text-center top50">
          <div class="feature-item4">
            <i class="tfxfont3 xmLeverage-200 fs100 red"></i>
            <p>         لوریج متغیر بین 1:200- 1:1</p>
          </div>
          <div class="feature-item4">
            <i class="tfxfont3 xmLock-check fs100 red"></i>
            <p>پشتیبانی بالانس منفی</p>
          </div>
          <div class="feature-item4">
            <i class="tfxfont3 xmClock fs100 red"></i>
            <p>   نظارت در شرایط پرخطر زمان واقعی</p>
          </div>
          <div class="feature-item4">
            <i class="tfxfont3 xmStop-sign fs100 red"></i>
            <p>بدون دستکاری مارجین هنگام شب و یا آخر هفته</p>
          </div>
        </div>
      </div>
      <div class="dis80 visible-xs" style="direction:rtl;text-align:right;"></div>
      <div class="dis60 hidden-xs" style="direction:rtl;text-align:right;"></div>
      <div class="container" style="direction:rtl;text-align:right;">
        <div class="box-text-btn">
          <div class="row">
            <div class="col-sm-12 col-md-9">
              <p>
                <br>
                فارکس، فلزات گران بها و انرژی ها را در Noble Sky معامله کنید
              </p>
            </div>
            <div class="col-sm-12 col-md-3">
              <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">افتتاح حساب</router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="container top80" style="direction:rtl;text-align:right;">
        <div class="row">
          <div class="col-md-12">
            <h2>لوریج های مختلف از 1:1 تا 1:200</h2>
            <p>Noble Sky به مشتریان خود امکان بهره مندی همزمان مارجین و لوریج 1:1 تا 1:200 در معاملاتشان را میدهد.</p>
            <h2 class="top50">مارجین</h2>
            <p>میزان موجودی درگیر شده برای پوشش هر گونه خطر اعتباری در طول معامله است.</p>
            <p>
              مارجین به عنوان درصدی از اندازه پوزیشن (به عنوان نمونه 5٪ یا 1٪) بیان میشود,
              و تنها دلیل واقعی برای داشتن مقداری مبلغ در حساب خود برای اطمینان از مارجین کافی است. به عنوان مثال با 1% مارجین، پوزیشن 1،000،000 دلاری نیاز به مبلغ دپازیت 10،000 دلاری دارد.
            </p>
            <p>بنابراین برای باز کردن معامله ی جدید، سطح مارجین حساب شما بایستی معادل 100% یا بیشتر باشد؛ به عبارت دیگر معاملات جدید در حساب باید به طور کامل به هجینگ منجر شود.</p>
          </div>
          <div class="col-md-12 top50">
            <h2>لوریج</h2>
            <p>استفاده از لوریج به معنی بیشتر شدن پوزیشن های معامله ی شما نسبت به مبلغ موجود در حساب شما میباشد. مبلغ لوریج تناسبی نشان داده میشود، مثلا 1:50، 1:100. فرض کنید موجودی حساب شما 1000 $ میباشد و حجم قرارداد USD/JPY،  100،000 دلار است در نتیجه لوریج شما برابر با 1:100 خواهد بود. </p>
            <p>چگونه میتوان 100 برابر مبلغ موجودی حساب معامله کرد؟ در Noble Sky کمک هزینه اعتباری کوتاه مدت رایگان در اختیار شما قرار داده میشود تا با آن معامله انجام دهید: که شما را قادر می سازد مقداری بیشتر از ارزش حساب خود را بخرید. بدون لوریج شما تنها میتوانید به اندازه ی 1000 $ خرید یا فروش کنید. </p>
            <p>Noble Sky نسبت لوریج اعمال شده در حساب مشتری را دائما کنترل میکند و حق تغییر و اصلاح آن را برای خود محفوظ میدارد (یعنی کاهش نسبت لوریج) ، و تمام موارد را در اختیار خود و بدون هیچ اطلاع رسانی موردی و یا در تمام یا هر حساب مشتری در صورت لزوم میبیند. </p>
          </div>
          <div class="col-md-12 top50">
            <h2>لوریج Noble Sky </h2>
            <p>میزان لوریج شما در Noble Sky که 1:1 تا 1:200 میباشد بستگی به نوع حسابی که افتتاح کرده اید دارد. میزان مارجین طی هفته یا شبانه ی آخر هفته تغییر نمیکند. بعلاوه در Noble Sky شما حق درخواست افزایش یا کاهش میزان لوریج انتخابی خود زمان افتتاح حساب را دارید. </p>
          </div>
          <div class="col-md-12 top50">
            <h2>خطرات لوریج</h2>
            <p>از یک سو با استفاده از لوریج، حتی از یک سرمایه گذاری اولیه نسبتاً کوچک می توانید به سود قابل توجهی برسید. و از طرف دیگر اگر موفق به مدیریت ریسک مناسب نشوید متحمل زیان زیادی خواهید شد. </p>
            <p>به همین دلیل است که Noble Sky لوریج های مختلفی را برای کمک به شما ارائه کرده است تا بتوانید میزان خطر مورد نظر خود را انتخاب کنید. در عین حال، ما معاملات نزدیک به لوریج 1:100 را به دلیل خطر بالایی که شامل آن است، توصیه نمی کنیم.</p>
          </div>
          <div class="col-md-12 top50">
            <h2>کنترل مارجین</h2>
            <p>Aدر Noble Sky میتوانید میزان خطر احتمالی زمان واقعی حساب خود را با کنترل میزان مارجین درگیر و آزاد کنترل کنید. </p>
            <p>از محاسبه ی میزان مارجین درگیر و مارجین آزاد اکوئیتی به دست می آید. مارجین درگیر به میزان مبلغ مورد نیاز برای معامله که باید پرداخت شود گفته میشود (به عنوان مثال اگر حساب خود را در لوریج 1:200 تنظیم کنید، مارجینی که باید کنار بگذارید 0.5 درصد از اندازه مامله ی شماست). مارجین آزاد مابقی مبلغ موجود در حساب شما است و با توجه به میزان اکوئیتی شما در نوسان میباشد. با احتساب مارجین آزاد میتوانید پوزیشن های بیشتری باز کنید و ضررهای خود را جبران کنید.</p>
          </div>
          <div class="col-md-12 top50">
            <h2>مارجین کال</h2>
            <p>اگرچه هر مشتری مسئول کامل نظارت بر معامله های حساب خود است، سیاست مارجین کال  Noble Sky حداکثر ریسک ممکن شما را تضمین کند تا از اکوئیتی حساب شما تجاوز نکند.</p>
            <p>به محض کاهش اکوئیتی حساب شما به پایین تر از 50% مارجین مورد نیاز معاملات باز شما، با هشدار مارجین کال به شما متذکر میشویم که اکوئیتی شما برای باز کردن پوزیشن های جدید کافی نمیباشد.</p>
            <!-- <p>As soon as your account equity drops below 50% of the margin needed to maintain your open positions, we will attempt to notify you with a margin call warning you that you do not have sufficient equity to support open positions.</p>
            -->
          </div>
          <div class="col-md-12 top50">
            <h2>سطح استاپ اوت</h2>
            <p>استاپ اوت به سطحی از اکوئیتی اطلاق میشود که در آن پوزیشن های باز بطور خودکار بسته میشوند. استاپ اوت حساب مشتری زمانی فرا میرسد که اکوئیتی حساب برابر یا زیر ۲۰٪ مارجین مورد نیاز قرار گیرد.</p>
          </div>
        </div>
      </div>
      <div class="dis70"></div>

    </div>

    <pageFooter />
  </div>
</template>


<script>

  import pageHeader from '../../components/pageHeaderTFX.vue'
  import pageFooter from '../../components/pageFooterTFX.vue'
  import { languageCode } from '../../utils/lan-code'





  export default {
    name: "my-acount",
    data: function () {
      return {
        isLogin: false,
        userLoginInfo: '',
        curCoinType: 1,
        curLanguage: 2,
        // language:coinstrad,

        userInfo: {
          configure: {
          }
        },

        tableIndex: 0,
        queryIndex: 0,
        queryIndexFlag: false




      };
    },
    metaInfo: {
      title: 'الهامش والرافعة المالية-NOBLE SKY',
    },
    created() {



      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');

      this.curCoinType = !!storeCoinType ? storeCoinType : this.$api.defaultCoinType;
      this.curLanguage = !!storeLanguage ? storeLanguage : this.$api.defaultLanguage;

      if (this.curLanguage != 2) {
        let pName = this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[this.curLanguage]
        this.$router.push({ name: pNameStr });
      }

      this.isLogin = this.util.isLogin();

      if (!!this.isLogin) {
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
        // this.getUserInfo();
      }


      // this.getSystemTradMode()

      // this.getUserAsset()
      // this.getCoinList();
      // this.getUserOrder();
      // this.getUserOrder2();
      // this.settingAPIDataLanguage();
      // this.getcurrency()



    },

    mounted() {
      document.documentElement.scrollTop = 0
    },

    components: {
      pageHeader,
      pageFooter
    },

    methods: {
      changeLanguage(val) {
        console.log(this.curLanguage)
        let pName = this.curLanguage == 1 ? this.$route.name : this.$route.name.substring(0, this.$route.name.length - 2)
        let pNameStr = pName + languageCode[val]
        this.$router.push({ name: pNameStr });
      },
      hideMenu() {
        this.$refs.pageHead.hideMenu();
      },
      handleTableIndex(val) {
        this.tableIndex = val
      },
      handleQueryIndex(val) {
        if (val === this.queryIndex) {
          this.queryIndexFlag = !this.queryIndexFlag
        } else {
          this.queryIndex = val
          this.queryIndexFlag = true
        }

      }


    }


  };
</script>





<style scoped lang="scss">
  .xmLeverage-200.fs100 {
    width: 150px;
    height: 100px;
    display: block;
    // background: url(../../../static/images/ico-200-1.png) no-repeat center 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .container {
    width: 1170px;
    margin: 0 auto;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .top20 {
    margin-top: 20px !important;
  }

  .top30 {
    margin-top: 30px !important;
  }

  .top40 {
    margin-top: 40px !important;
  }

  .top50 {
    margin-top: 50px !important;
  }

  .top60 {
    margin-top: 60px !important;
  }

  .top80 {
    margin-top: 80px !important;
  }


  .text-center {
    text-align: center !important;
  }

  .center-block {
    float: none !important;
  }

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    display: none;
  }


  .dis20 {
    height: 20px;
    clear: both;
  }

  .dis30 {
    height: 30px;
    clear: both;
  }

  .dis40 {
    height: 40px;
    clear: both;
  }

  .dis60 {
    height: 60px;
    clear: both;
  }



  .site-canvas .top-bar .breadcrumb {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .site-canvas .top-bar {
    background-color: #e8e8e8;
    padding: 20px 0 20px 0;
    margin: 0;
  }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
    clear: both;
  }

  .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
  }



  .box-text-btn {
    text-align: right;
    .row

  {
    margin-left: -15px;
    margin-right: -15px;
  }

  .btn-full {
    background-color: #74c109;
    display: inline-block;
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
    width: 247px;
    text-align: center;
  }

    .btn-full:hover {
      background-color: #29A643;
    }

  }

  .nav-flexbox-tabs {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
  }

    .nav-flexbox-tabs > li {
      width: 213px;
      text-align: center;
      background-color: #fff;
      margin-bottom: 15px;
      margin-right: 15px;
      border: 1px solid #cbcbcb;
    }

      .nav-flexbox-tabs > li.active {
        background-color: #d51820;
      }

      .nav-flexbox-tabs > li > a, .nav-flexbox-tabs > li > button {
        color: #000;
      }

      .nav-flexbox-tabs > li.active a, .nav-flexbox-tabs > li.active button {
        color: #fff;
      }


  a:focus, a:visited {
    color: #d51820;
  }

  .nav-flexbox-tabs a, .nav-flexbox-tabs button {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #000;
    line-height: normal;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    min-height: 38px;
    padding: 0 15px;
  }




  .nav-tabs {
    border: 0;
    font-size: 0;
    margin-bottom: 30px;
  }

  #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
    position: relative;
    margin-bottom: 0;
    z-index: 9;
  }

  #tabs2, #tabs3, #tabs4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }





  .nav > li {
    position: relative;
    display: block;
  }

  .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
  }

  .nav-tabs > li {
    width: 50%;
  }

  #tabs2.nav-tabs > li, #tabs3.nav-tabs > li, #tabs4.nav-tabs > li {
    float: none;
    width: 100%;
  }

  #tabs2.nav-tabs > li, #tabs3.nav-tabs > li, #tabs4.nav-tabs > li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }



  .collapse {
    display: block;
  }

  .panel-default > .panel-heading i.fa-angle-up {
    color: #d51820 !important;
  }

  #tabContent .panel-default > .panel-heading i.fa.fa-angle-up, .panel-default > .panel-heading i.fa.fa-angle-up, #tabContent .panel-default > .panel-heading i.fa.fa-angle-down, .panel-default > .panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-up, .panel-default > .panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default > .panel-heading i.fa.fa-angle-down, .panel-default > .panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
  }

  .tab-pane .dis30 {
    height: 50px;
  }


  .wrap > footer {
    height: 300px;
    background-color: #333;
    text-align: center;
  }

    .wrap > footer .cell {
      padding-top: 100px;
      font-size: 26px;
      color: #fff;
    }
  p {
    margin-bottom: 2em;
  }
</style>
