<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />





        <div class="site-canvas" style="direction: rtl; text-align: right">


          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="rtl text-right">
                    MT5 آیفون
                  </h1>
                  <ol class="breadcrumb">
                    <li class="home"><router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item"> MT5 آیفون    </li>
                  </ol>
                </div>

                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>تماس با ما</span>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container hidden-xs hidden-sm hidden-l-sm">
            <div class="row top80">
              <div class="col-sm-12 col-md-6">
                <h2>چرا معامله در MT5 با استفاده از آیفون؟</h2>
                <div class="quote-msg top30">
                  <p>
                    <i class="quote-right "></i>
                      با کمک  معامله گر MT5 Noble Sky شما به طور مستقیم می توانید وارد حساب کاربری خود از طریق برنامه آیفون شوید. کافی است که نام کاربری و رمز عبور برای ورود به حساب خود را وارد کنید.
                  </p>
                </div>
                <div class="clearfix">
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-12 top40">
                    <h3>ویژگی های معامله گر  MT5 Noble Sky:</h3>
                    <ul class="checks top35">
                      <li>
                       	بیش از ۱۰۰ کالای تجاری از جمله شاخص سهام CFD، ارز خارجی، CFD فلزات گرانبها و CFD انرژی.
                      </li>
                      <li>100%  انطباق با آیفون</li>
                      <li>	دارای تمام عملکردهای حساب MT5</li>
                      <li>	پشتیبانی از انواع سفارش</li>
                      <li>	ساخته شده در بازار ابزار تجزیه و تحلیل</li>
                    </ul>
                    <div class="row top70 mobile-btn-box">
                      <div class="col-sm-8 col-md-8 text-center">
                        <router-link to="/register" class="btn btn-solid btn-green-mobile btn-block">
                          <i class="fa fa-pencil-square-o"></i>
                          افتتاح حساب
                        </router-link>
                      </div>
                      <div class="col-sm-4 col-md-4">
                        <a href="/goto/mt5-appstore-xmbz" class="btn-appstore" target="_blank">
                          <img src="../../../static/images/page-img/mt5-iphone/app-store.png">
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-sm-6 visible-sm">
            <img src="../../../static/images/page-img/mt5-iphone/mt5-iphone.png?v2.0" class="img-responsive center-block">
          </div> -->
                </div>
              </div>
              <div class="col-md-6 top60 hidden-sm">
                <img class="img-responsive center-block" src="../../../static/images/page-img/mt5-iphone/mt5-iphone.png?v2.0" alt="mt5 iphone screenshot">
              </div>
            </div>
          </div>
          <section class="section top80">
            <div class="container metatrader">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="text-center big">انواع ترید های متعدد پلتفرم Noble Sky MT5   </h2>
                  <p class="text-center">کاملا برای آیفون طراحی شده</p>
                  <img src="/static/img/mt5-iphone-half.a0a9372.png" alt="لقطة شاشة mt5 iphone" class="img-responsive center-block top30">
                </div>
              </div>
            </div>
          </section>
          <div class="container-fluid">
            <div class="container">
              <div class="dis30 visible-xs visible-sm"></div>
              <div class="row btn-a-box">
                <div class="col-sm-6 col-md-6 col-sm-offset-2 col-md-offset-2 text-center">
                  <router-link to="/register" class="btn-a crate-account-btn">
                    <i class="fa fa-pencil-square-o"></i>
                    افتتاح حساب
                  </router-link>
                </div>
                <div class="col-sm-4 col-md-4 text-center">
                  <div class="dis20 visible-xs"></div>
                  <a href="/goto/mt5-appstore-xmbz" class="center-block pull-left btn-appstore" target="_blank">
                    <img src="../../../static/images/page-img/mt5-iphone/app-store.png">
                  </a>
                </div>
                <div class="dis20"></div>
                <p class="text-center">دسترسی به بازارهای مالی جهانی</p>
              </div>
            </div>
            <div class="row">
              <hr>
            </div>
            <div class="container metatrader">
              <div class="row top50">
                <div class="col-md-12">
                  <h2><i class="tfxfont3 xmInstall-pc sm red"></i> چگونه با  MT5 iPhone Noble Sky معامله کنیم؟</h2>
                </div>
                <div class="col-sm-12 col-md-4 top20">
                  <h3 class="red">مرحله اول</h3>
                  <ul class="arrows top20">
                    <li>اپ استور را در گوشی آیفون خود باز کنید، یا برای دانلود برنامه <a href="https://download.mql5.com/cdn/mobile/mt5/ios?server=HKNobleSkyTreasure-real">اینجا را کلیک کنید</a> .</li>
                    <li>MetaTrader5 را در نوار جستجوی اپ استور جستجو کنید</li>
                    <li> برای نصب نرم افزار بر روی آیپد روی آیکون MetaTrader5 کلیک کنید .</li>
                  </ul>
                </div>
                <div class="col-sm-12 col-md-4 top20">
                  <h3 class="red">مرحله دوم</h3>
                  <ul class="arrows top20">
                    <li>در این مرحله از شما خواسته می شود که حین ورود به سیستم یک حساب واقعی /یک حساب آزمایشی باز کنید. </li>
                    <li>با کلیک روی یا ورود به سیستم با حساب موجود/باز کردن یک حساب آزمایشی، پنجره جدیدی باز می شود.</li>
                    <li>HKNOBLESKY Treasure  در نوار جستجو،جستجو کنید.</li>
                    <li>اگر میخواهید یک حساب آزمایشی باز کنید رویDemo  SKYGlobal -  کلیک کنید; اگر یک حساب واقعی میخواهید باز کنید، روی NOBLE SKYGlobal-Real کلیک کنید.</li>
                  </ul>
                </div>
                <div class="col-sm-12 col-md-4 top20">
                  <h3 class="red">مرحله سوم</h3>
                  <ul class="arrows top20">
                    <li>نام کاربری و رمز عبور خود را وارد کنید.</li>
                    <li>معامله در آیفون را آغاز کنید.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div id="faq">
            <div class="container top80">
              <div class="row">
                <div class="col-md-6">
                  <h2>مشکلات رایج</h2>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <div id="accordionText" class="hidden"></div>
                    </div>
                    <div class="col-md-6"><button type="button" data-parent="#accordion1" class="btnAccordion pull-right"></button></div>
                  </div>
                </div>
              </div>
              <div class="row top20">
                <div class="col-md-12">
                  <div id="accordion1" class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">چگونه به پلتفرم MT5 دسترسی داشته باشیم؟</h4>
                        <i class="fa pull-right fa-angle-up"></i>
                      </div>
                      <div id="a1collapse1" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>برای معامله با پلتفرم MT5  نیاز به داشتن یک حساب در Noble Sky می باشد. برای افتتاح حساب <a href="#/register" class="">اینجا را کلیک کنید</a>.</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">  چگونه حسابMT5 خود را تایید کنم؟ </h4>
                        <i class="fa pull-right fa-angle-up"></i>
                      </div>
                      <div id="a1collapse1" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>
                            بر روی CRM کلیک کنید > برای ایجاد حساب در MT5 گزینه "Register " را انتخاب کنید، سپس بعد از ایجاد و ورود به سیستم برای احراز هویت، به ارائه اسناد احراز هویت نیاز دارید (به عنوان مثال، کارت شناسایی و اثبات آدرس).
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">در MT5 چه کالاهایی را می توانم معامله کنم؟</h4>
                        <i class="fa pull-right fa-angle-up"></i>
                      </div>
                      <div id="a1collapse1" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>
                            در ترمینال MT5 شما می توانید تمام کالاهای قابل معامله ی Noble Sky از جمله ارزهای خارجی، کالاها، شاخص های اوراق بهادار، CFDs فلزات گرانبها و CFDs انرژی ها را معامله کنید..
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container metatrader top80 hidden-xs hidden-sm hidden-l-sm">
            <div class="row">
              <div class="col-md-12">
                <h2><i class="tfxfont3 xmMobile-devices sm red"></i> این برنامه همچنین قابل استفاده در موارد زیر میباشد</h2>
              </div>
            </div>
            <div class="row text-center">
              <div class="feature-item7 noborder">
                <a href="/ir/mt5" class="device">
                  <i class="tfxfont3 xmPc"></i>
                  <p class="text-center top20">
                    كامپيوتر
                  </p>
                </a>
              </div>
              <div class="feature-item7 noborder">
                <a href="/ir/mt5-webtrader" class="device">
                  <i class="tfxfont3 xmLaptop"></i>
                  <p class="text-center top20">
                    MT5 WebTrader
                  </p>
                </a>
              </div>
              <div class="feature-item7 noborder">
                <a href="/ir/mt5-ipad" class="device">
                  <i class="tfxfont3 xmIpad"></i>
                  <p class="text-center top20">
                    آیپد
                  </p>
                </a>
              </div>
              <div class="feature-item7 noborder">
                <a href="/ir/mt5-iphone" class="device">
                  <i class="tfxfont3 xmIphone"></i>
                  <p class="text-center top20">
                    آیفون
                  </p>
                </a>
              </div>
              <div class="feature-item7 noborder">
                <a href="/ir/mt5-android" class="device">
                  <i class="tfxfont3 xmAndroid-phone"></i>
                  <p class="text-center top20">
                    اندروید
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="dis70"></div>


        </div>




        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },




    };
  },
   metaInfo: {
      title: 'Mt5-iphone-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },
  mounted(){

      let element = document.querySelectorAll(".panel-heading");



      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){


               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }


     document.documentElement.scrollTop = 0


  },



  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
    hideMenu(){
       this.$refs.pageHead.hideMenu();
    }
  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-8 {
       width: 66.66666667%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-md-2 {
       width: 16.66666667%;
   }
   .col-md-3 {
       width: 25%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }
   .img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
       display: block;
       max-width: 100%;
       height: auto;
   }


   .dis10 {
       height: 10px;
       clear: both;
   }
   .dis20 {
       height: 20px;
       clear: both;
   }

   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
    display: none !important;
}
.row.mobile-btn-box{margin-left: -15px;margin-right: -15px;margin-top: 70px;}
.btn-green-mobile{background-color: #74c109;width: 360px;height: 40px;line-height: 40px;font-size: 24px;display: inline-block;color: #fff;}
.btn-green-mobile:hover{background-color: #29A643;}
 .greenRed-btns{
    .btn{color: #fff;text-align: center;}
    .btn.btn-green{background-color: #74c109;}
    .btn.btn-green:hover{background-color: #29A643;}
    .btn.btn-red{background-color: #d51820;}
    .btn.btn-red:hover{background-color: #b30000;}
    .btn-outline{
       color: #d51820;
       border:1px solid #d51820;
       font-size: 24px;
       padding: 8px 18px !important;
    }
    .btn-outline:hover{
      background-color: #d51820;
      color: #fff;
    }

 }
.greenRed-btns .btn.btn-red {
    font-size: 24px;
    padding: 10px 20px !important;
}

.greenRed-btns .btn.btn-green {
    font-size: 30px;
    padding: 15px 20px !important;
}
.btn-a-box{text-align: center;padding-top: 50px;}
.btn-a{
  display: inline-block;
  width: 450px;
  background-color: #74c109;
  color: #fff;
  font-size: 24px;
  padding:10px 20px;
}
.btn-a:hover{background-color: #29A643;}
.btn-a.download-btn{background-color: #d51820;}
.btn-a.download-btn:hover{background-color:#b30000 ;}

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }

   #tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
       font-size: 50px;
       margin-top: -25px;
       margin-left: 0;
       right: 20px;
   }
   .collapse {
        display: block;
    }
   .tab-pane .dis30{height: 50px;}
   .panel-collapse.showFlag{display: none;}

    
   footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
  .btn-green-mobile {
    background-color: #74c109;
    width: auto;
    height: auto;
    line-height: 6px;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
    color: #fff;
  }
</style>
