<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <div class="site-canvas" dir="rtl">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">الطاقات</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link>
                    </li>
                    <li class="post post-page current-item">الطاقات</li>
                  </ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>اتصل بنا</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container top60 hidden-xs">
            <ul class="nav-flexbox-tabs">
              <li>
                <router-link to='/ar/forex-trading'>تداول الفوركس</router-link>
               </li>
              <!-- <li>
                 <router-link to='/stocks'>Stock CFDs</router-link>
                 <a href="https://www.noblesky.com/cn/stocks">Stock CFDs</a></li> -->
               <!-- <li>
                 <router-link to='/ar/commodities'>Commodities</router-link>
                </li>
               <li>
                 <router-link to='/ar/equity-indices'>Equity indices</router-link>
               </li> -->
               <li>
                 <router-link to='/ar/precious-metals'>المعادن الثمينة</router-link>
               </li>
               <li class="active">
                 <router-link to='/ar/energies'>الطاقات</router-link>
               </li>
            </ul>
          </div>
          <div class="dis50 visible-sm"></div>
          <div class="container hidden-xs">
            <h2 class="top30">مزايا تداول النفط وتداول الطاقات مع NOBLE SKY</h2>
            <div class="row text-center top50">
              <div class="feature-item6">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p class="top30">تقلبات عالية - حركة سعر أكبر</p>
              </div>
              <div class="feature-item6">
                <i class="tfxfont3 xmDrop fs100 red"></i>
                <p class="top30">تداول النفط - السلعة الأكثر تداولًا في جميع أنحاء العالم</p>
              </div>
              <div class="feature-item6 hidden-xs hidden-md">
                <i class="tfxfont3 xmHigh-bars fs100 red"></i>
                <p class="top30">قم بالبيع / الشراء وفقًا لتحركات السوق</p>
              </div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmLow-price fs100 red"></i>
                <p class="top30">
                  تداول بهامش منخفض يصل إلى
                  <br>5 دولارات أمريكية
                </p>
              </div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmCandlestick fs100 red"></i>
                <p class="top30">
                  لا يوجد تمويل خلال الليل على عقود الفروقات على النفط

                </p>
              </div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmPercent fs100 red"></i>
                <p class="top30">لا توجد رسوم إضافية مطبقة</p>
              </div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-sm-12 col-md-9"><br>تداول العملات الأجنبية والأسهم الفردية والسلع والمعادن الثمينة والطاقات ومؤشرات الأسهم في NOBLE SKY</div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">افتح حساب</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row">
              <div class="col-md-12">
                <h2>الطاقات - الفروق / الشروط</h2>
              </div>
            <div class="row">
              <div class="col-md-12">
                <ul id="tabs3" class="nav nav-tabs top20" role="tablist">
                  <li :class="{active:tableIndex===0}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex(0)">العقود مقابل الفروقات الآجلة</a>
                  </li>
                  <!-- <li :class="{active:tableIndex===1}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(1)">ساعات التداول</a>
                  </li>
                  <li :class="{active:tableIndex===2}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(2)">التقويم</a>
                  </li> -->
                </ul>
                <div id="tabContent" class="tab-content" >
                  <div id="futures" class="tab-pane active">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_0_wrapper" style="padding-bottom:2em;" class="dataTables_wrapper no-footer">
                        <div id="DataTables_Table_0_length" class="dataTables_length">
                          <label>
                            عرض

                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                            </select>
                            العناصر
                          </label>
                        </div>
                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                          <label>
                            بحث
                            <input type="search" placeholder="" aria-controls="DataTables_Table_0">
                          </label>
                        </div>
                        <table role="grid" cellspacing="0" width="100%" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" class="dataTB dataTable no-footer dtr-inline" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="الرمز: التنشيط لفرز العمود تنازليًا" class="sorting_asc" style="width: 96px;">رمز</th>
                              <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="الوصف: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 114px;">وصف</th>
                              <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="الحد الأدنى لتقلب السعر: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 77px;">
                                أدنى <br>تقلب في الأسعار

                              </th>
                              <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="قيمة الحد الأدنى لتقلب السعر: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 111px;">قيمة الحد الأدنى لتقلب السعر</th>
                              <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ينتشر منخفضًا مثل: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 43px;">فرق<br>منخفض يصل إلى</th>
                              <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="قيمة 1 لوت: تفعيل لفرز العمود تصاعديا" class="sorting" style="width: 87px;">قيمةالعقد</th>
                              <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="الحد الأدنى / الأقصى لحجم التداول: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 154px;">الحد الأدنى / الأقصى لحجم التداول</th>
                              <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="نسبة الهامش: التنشيط لفرز العمود تصاعديًا" class="sorting" style="width: 95px;">نسبة الهامش</th>
                              <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="مستويات الحد والإيقاف *: تفعيل لفرز العمود تصاعديًا" class="sorting" style="width: 103px;">مستويات الحد والوقف *</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">برينت</td>
                              <td>زيت خام برنت</td>
                              <td>0.01000</td>
                              <td>1 دولار أمريكي</td>
                              <td>0.05</td>
                              <td>100 برميل</td>
                              <td>1/400</td>
                              <td>1.5٪</td>
                              <td>0.1</td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">GSOIL</td>
                              <td>زيت غاز لندن</td>
                              <td>0.01000</td>
                              <td>0.04 دولار أمريكي</td>
                              <td>1.5</td>
                              <td>4 أطنان</td>
                              <td>1/500</td>
                              <td>3٪</td>
                              <td>2</td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">NGAS</td>
                              <td>غاز طبيعي</td>
                              <td>0.00100</td>
                              <td>1 دولار أمريكي</td>
                              <td>0.035</td>
                              <td>1000 ميجا</td>
                              <td>1/300</td>
                              <td>3٪</td>
                              <td>0.07</td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">نفط</td>
                              <td>زيت WTI</td>
                              <td>0.01000</td>
                              <td>1 دولار أمريكي</td>
                              <td>0.04</td>
                              <td>100 برميل</td>
                              <td>1/400</td>
                              <td>1.5٪</td>
                              <td>0.1</td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">زيت</td>
                              <td>WTI Oil Mini</td>
                              <td>0.01000</td>
                              <td>0.1 دولار أمريكي</td>
                              <td>0.04</td>
                              <td>10 برميل</td>
                              <td>1/4000</td>
                              <td>1.5٪</td>
                              <td>0.1</td>
                            </tr>
                          </tbody>
                        </table>
                        <div id="DataTables_Table_0_info" role="status" aria-live="polite" class="dataTables_info">إظهار 1 إلى 5 من أصل 5 إدخالات</div>
                        <div id="DataTables_Table_0_paginate" class="dataTables_paginate paging_simple_numbers"><a aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous" class="paginate_button previous disabled">السابق</a> <span><a aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="paginate_button current">1</a></span> <a aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next" class="paginate_button next disabled">التالى</a></div>
                      </div>
                    </div>
                  </div>
                  <!----> <!---->
                </div>

              </div>
            </div>
            <div class="dis60"></div>
            <div class="row">
              <div class="col-md-12" dir="rtl">
                <p>* أقل مستوى لعمليات الشراء المعلقة بسعر السوق الحالي.</p>
                <p>يتم حساب متطلبات الهامش لعقود الفروقات على النحو التالي: عدد العقود * حجم العقد * سعر الافتتاح * نسبة الهامش وليس بناءً على الرافعة المالية لحساب التداول الخاص بك.</p>
                <p>يكون الهامش دائمًا 50٪ عندما تقوم بتحويط صفقات عقود الفروقات وإذا كان مستوى الهامش لديك أعلى من 100٪.</p>
                <p>تواريخ التقويم إرشادية وقابلة للتغيير.</p>
                <p>تنطبق الفروق / الشروط المذكورة أعلاه على جميع أنواع حسابات تداول NOBLE SKY.</p>
                <p>يرجى ملاحظة أن شركتنا لا تقدم تمديد تلقائي للعقود الجديدة للأدوات المالية التي لها تاريخ انتهاء الصلاحية.</p>
                <p >نظراً لأن منصات التداول لا تدعم الأسعار السلبية للأدوات المالية، في حالة احتمال وصول سعر أي أداة طاقة (OIL, OILMn, BRENT, GSOIL و NGAS) إلى ال0، ستبدأ الشركة بإغلاق جميع المداولات المفتوحة بآخر سعر متاح.</p>
              </div>
            </div>
          </div>
            <div class="container top50">
              <h2>حول الطاقات</h2>
              <p>الميزة الأكثر شيوعًا لأسعار الطاقة هي التقلبات العالية ، والتي تنتج عن العديد من العوامل السياسية والبيئية التي تؤثر عليها. تؤثر العديد من عوامل العرض والطلب أيضًا على أسعار الطاقة ، أقواها هو النمو الاقتصادي العالمي. في أوقات الازدهار الاقتصادي ، يزداد الطلب على الطاقات ، بينما يحدث انخفاض في الاستهلاك عندما يتباطأ الاقتصاد.</p>
              <p>إلى جانب التغيرات الاقتصادية ، يمكن أن يكون للظروف المناخية القاسية أيضًا تأثير كبير على الطاقات ، مما يؤدي إلى انقطاع إمدادات النفط الخام أو الغاز الطبيعي أو زيت التدفئة. نتيجة لذلك ، يمكن أن تؤدي هذه الظروف إلى خفض أو زيادة الطلب على العديد من الخدمات الاستهلاكية المتعلقة بهذه الطاقات. علاوة على ذلك ، تتأثر أسعار الطاقة العالمية بشدة بعدم الاستقرار السياسي في بعض أكبر حقول الغاز الطبيعي في العالم.</p>
              <p>تداول النفط هو سوق معولم يعمل على مدار 24 ساعة ، وبأسعاره في حركة مستمرة. وهذا يجعلها أداة مثالية للمتداولين اليوميين الذين يبحثون عن حركات سريعة ويختارون العقود مقابل الفروقات باعتبارها أسهل طريقة لتداول أسعار النفط.</p>
            </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
      </div>
</template>


<script>


import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'




export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        tableIndex2:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'energies-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleTableIndex2(val){
         this.tableIndex2 = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }



  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }
   .dis80 {
       height: 80px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}



.row {
    margin-left: -15px;
    margin-right: -15px;
}

 
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
  .tab-content > .active {
    height: 2.5rem;
    width: auto;
  }

  .tab-content {
    height: 12em;
    width: auto;
  }
  p {
    margin-bottom: 2em;
  }
</style>
