<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" dir="rtl">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">الأسئلة الشائعة</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link>
                    </li>
                    <li class="post post-page current-item">الأسئلة الشائعة</li>
                  </ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>اتصل بنا</span>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container faq hidden-xs hidden-sm hidden-l-sm">
            <div class="row top80">
              <div class="col-md-12">
                <h2>أنواع الأسئلة الشائعة</h2>
              </div>
              <div class="row top20">
                <div class="col-12">
                  <ul class="features" dir="rtl">
                    <li class="col-xs-12 col-sm-3 col-md-3"><a href="#section-1" class="scroll">مشاكل بيانات المصادقة</a></li>
                    <li class="col-xs-12 col-sm-3 col-md-3"><a href="#section-2" class="scroll">حساب التداول</a></li>
                    <li class="col-xs-12 col-sm-3 col-md-3"><a href="#section-3" class="scroll">إيداع/سحب</a></li>
                    <li class="col-xs-12 col-sm-3 col-md-3"><a href="#section-4" class="scroll">منصة التداول </a></li>
                    <li class="col-xs-12 col-sm-3 col-md-3"><a href="#section-5" class="scroll">الدعم التقني لـNOBLE SKY</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div id="section-1" class="container top80">
              <div class="row">
                <div class="col-md-6">
                  <h2> مشاكل بيانات المصادقة </h2>
                  <div id="accordionText"> </div>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btnAccordion pull-right" data-parent="#accordion1"> </button>
                </div>
              </div>
              <div class="row top20">
                <div class="col-md-12">
                  <div class="panel-group" id="accordion1">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> إذا كنت أريد أن أكون عميلاً لديك، فما الوثائق أو المعلومات التي أحتاج إلى تقديمها؟ </h4>
                        <i class="fa pull-right fa-angle-down"></i>
                      </div>
                      <div id="a1collapse1" class="panel-collapse collapse showFlag" aria-expanded="false">
                        <div class="panel-body gray">
                          <p> شهادة المستوى الأول: المعلومات الأساسية ومعلومات الهوية ومعلومات العنوان والمواد النصية الأخرى مطلوبة </p>
                          <p> شهادة المستوى الثاني: قم بتحميل الصور الأمامية والخلفية لجواز سفر ساري المفعول أو وثائق هوية رسمية أخرى صادرة عن جهة رسمية</p>
                          <p>（مثل بطاقة الهوية ورخصة القيادة وما إلى ذلك) وصورة الهوية المحمولة باليد. يجب أن تتضمن شهادة الهوية اسم العميل وتاريخ السريان وعنوان العميل وتاريخ الميلاد</p>
                          <p>شهادة المستوى الثالث: تحتاج إلى رفع إثبات العنوان. يجب أن تكون فاتورة رسمية حديثة (مثل الكهرباء أو الغاز أو المياه أو الهاتف أو فاتورة الإنترنت أو كشف حساب مصرفي (يتضمن العنوان). يجب أن يكون التاريخ في غضون 6 أشهر ويجب أن يشير إلى عنوانك المسجل.</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> لماذا أحتاج إلى تحميل البيانات للمصادقة؟</h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a1collapse2" class="panel-collapse collapse showFlag">
                        <div class="panel-body gray">
                          <p dir="rtl">كشركة خاضعة للتنظيم القانوني ، يتم تنفيذ جميع عملياتنا وفقًا للوائح وكالتنا التنظيمية الرئيسية CGSE و SVGFSA. يتطلب الإشراف أن نجمع معلومات شهادة العميل ، وبطاقة هوية صالحة ، وإثبات عنوان حديث (خلال الأشهر الست الأخيرة).</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> إذا تم التحقق من حسابي الأول ، فهل أحتاج إلى تحميل معلومات التحقق مرة أخرى عندما أقوم بفتح حساب آخر؟ </h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a1collapse3" class="panel-collapse collapse showFlag">
                        <div class="panel-body gray">
                          <p> نعم ، يحتاج كل حساب إلى الخضوع لتدقيق الشهادة. </p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> هل يمكنني تغيير معلوماتي الشخصية؟ </h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a1collapse4" class="panel-collapse collapse showFlag">
                        <div class="panel-body gray">
                          <p>قبل مراجعة معلومات الشهادة الثانوية ، يمكن تغيير المعلومات الشخصية المعبأة في الشهادة الأساسية بحرية. بعد اجتياز تدقيق الشهادة الثانوية ، لا يمكن تغيير المعلومات الشخصية.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="section-2" class="container top50">
              <div class="row">
                <div class="col-md-6">
                  <h2> حساب التداول </h2>
                  <div id="accordionText"> </div>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btnAccordion pull-right" data-parent="#accordion2"> </button>
                </div>
              </div>
              <div class="row top20">
                <div class="col-md-12">
                  <div class="panel-group" id="accordion2">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> كيف أقوم بإنشاء حساب حقيقي؟ </h4>
                        <i class="fa pull-right fa-angle-down"></i>
                      </div>
                      <div id="a2collapse1" class="panel-collapse collapse showFlag" aria-expanded="false">
                        <div class="panel-body gray">
                          <p>خطوات إنشاء حساب بسيطة وسريعة. انقر فوق CRM ، واضغط على "تسجيل" في الزاوية اليسرى العليا ، واملأ معلومات التسجيل ، ثم قم بتسجيل الدخول إلى CRM للمصادقة. بعد اكتمال المصادقة ، يمكنك تفعيل الحساب وإيداع المعاملة.</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">كم من الوقت يستغرق إنشاء حساب؟</h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a2collapse2" class="panel-collapse collapse showFlag">
                        <div class="panel-body gray">
                          <p> إذا قمت بملء جميع المعلومات بشكل صحيح ، فلن يستغرق الأمر أكثر من 30 دقيقة. </p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> كيف تبدأ التداول؟</h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a2collapse3" class="panel-collapse collapse showFlag">
                        <div class="panel-body gray">
                          <p> إذا كنت قد أنشأت حسابًا حقيقيًا واجتازت تدقيق الشهادة ، فيمكنك تفعيل السلع بعد إكمال شهادة المستوى الأول. </p>
                          <p>عملية التفعيل: في صفحة السلع، اختر "انقر للتفعيل". قم بتعيين كلمة مرور تسجيل الدخول إلى MT5 وكلمة مرور للقراءة فقط ، وانقر فوق "تأكيد التفعيل". </p>
                          <p>بعد نجاح عملية الإنشاء، سيتم عرض رقم الحساب. الحساب الجاري في حالة "غير نشط" ، في انتظار التفعيل. بعد التفعيل ، يظهر الحساب "مفعل".</p>
                          <p>بعد تفعيل الحساب ، يمكنك إيداع الأموال في صفحة إيداع وسحب CRM. في الوقت نفسه ، يمكنك اختيار تنزيل منصة التداول للتداول. للاطلاع على الدليل المفصل لمنصة التداول <a>انقر هنا.</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> ما هي أنوع حساب التداول الذي تقدمه؟ </h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a2collapse4" class="panel-collapse collapse showFlag">
                        <div class="panel-body gray">
                          <p>
                            <strong>قياسي （حساب قياسي)</strong> ： حزمة قياسية واحدة تعادل 100،000 واحدة عملة
                            <!-- <br> <strong>حساب ميكروي （حساب ميكروي )</strong>حزمة ميكروية واحدة تعادل 1،000 واحدة عملة -->
                            <br> <br>
                          </p>
                          <p>
                            لمزيد من المعلومات يرجى
                            <em>
                              <router-link to="/account-types"> الضغط هنا </router-link>
                            </em>。
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> كيف أسجل حساب تداول NOBLE SKY الخاص بي لدى الوكيل؟ </h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a2collapse5" class="panel-collapse collapse showFlag">
                        <div class="panel-body gray">
                          <p> لتسجيل حساب تداول Noble Sky الخاص بك لدى وكيل ، تحتاج أولاً إلى الحصول على رمز الإحالة من وكيلك. </p>
                          <p> عند التسجيل ، املأ رمز الإحالة للتسجيل لدى الوكيل. </p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> ما هو الحد الأدنى للإيداع لحساب التداول؟ </h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a2collapse6" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>الحد الأدنى للحساب القياسي، للسحب والإيداع هو 5 دولارات</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">هل تقدمون حسابات بالسنت؟ هل الوديعة مبينة بالسنت؟</h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a2collapse7" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>نحن نقدم حسابات بالدولار الأمريكي. يتم عرض الإيداع الخاص بك كمبلغ الإيداع الفعلي. إذا قمت بإيداع 100 دولار أمريكي ، فسيتم عرض رصيد حسابك على أنه 100 دولار أمريكي.</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> هل تقدمون حسابات مصغرة؟ </h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a2collapse8" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>
                            تقدم NOBLE SKY حسابات STANDARD. ومع ذلك ، يمكنك الحصول على صفقات صغيرة الحجم (10000 وحدة) عن طريق تقليل حجم حسابك القياسي إلى 0.1 (0.1 × 100000 وحدة = 10000 وحدة) .
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> هل تقدمون حسابات نانوية؟ </h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a2collapse9" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>
                            تقدم NOBLE SKY حسابات قياسية.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">هل يمكنني الحصول على حساب شركات ؟</h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a2collapse11" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p> عذراً ، هذه الخدمة غير متوفرة. </p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> ما هي مدة استخدام الحساب التجريبي؟ </h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a2collapse12" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>
                            في
                            <strong>NOBLE SKY</strong> يمكن استخدام الحساب التجريبي بشكل دائم. ولكن إذا لم تقم بتسجيل الدخول لأكثر من 90 يومًا ، فسيتم إغلاق حسابك التجريبي.  يمكنك تسجيل حساب تجريبي جديد في أي وقت.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> هل من الممكن أن تكون خسارتي أكبر من مبلغ الإيداع؟ </h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a2collapse13" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>لا ، لا يمكن أن تتجاوز خسارتك للأموال مبلغ الإيداع السابق. عندما يصبح رصيدك سالبًا بسبب زوج عملات معين ، سيقوم نظامنا تلقائيًا بمسح رصيد حسابك إلى الصفر قبل إيداعك التالي.</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> هل أموالي آمنة</h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a2collapse15" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>
                            من أجل توفير الحماية لعملائنا ومن أجل أمان الإيداعات ، تتخذ شركة نوبل سكاي العالمية المحدودة الإجراءات التالية: التي تتبع القوانين واللوائح
                          </p>
                          <ul>
                            <li><span style="text-decoration: underline;"> عزل أموال العميل </span></li>
                          </ul>
                          <p>سيتم تحويل جميع أموال العملاء إلى حساب مصرفي منفصل لعميل الشركة. يتم الحفاظ على هذه الأموال خارج الميزانية العامة وبالتالي لن يتم استخدامها لسداد الدائنين في حالة إفلاس الشركة.</p>
                          <ul>
                            <li><span style="text-decoration: underline;">حساب البنك</span></li>
                          </ul>
                          <p> نحن ندير ونحافظ على حسابات العملاء تحت إشراف المؤسسات المصرفية. </p>
                          <ul>
                            <li><span style="text-decoration: underline;"> نظام تنظيمي </span></li>
                          </ul>
                          <p>بصفتنا مزودًا لخدمات الأوراق المالية تحت إشراف وترخيص رسميان ، فنحن ملزمون بتأمين التزامات مالية صارمة. لذلك ، وفقًا للمتطلبات القانونية ، نحتاج إلى ضمان سيولة كافية لدفع ودائع العملاء ، وتحمل تقلبات مركز العملة وأي ذمم دائنة. كما يقوم المدقق الخارجي بإجراء مراجعة سنوية للبيانات المالية للشركة.</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> كيف يمكنني أن أرى الرسم البياني؟</h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a2collapse16" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>يمكنك الضغط بالزر الأيمن علي رمز "مراقبة السوق" الذي ترغب برؤيته واختيار "نافذة الرسم البياني". ويمكنك أيضاً سجب وإفلات أي رمز في نافذة الرسم البياني.</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">ما هو السبريد الخاص بي؟ </h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a2collapse17" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>نقدم سبريد متغير تصل إلى 0.6 نقطة. نستخدم سياسة عدم تغيير: يحصل عملائنا على السعر الحالي في السوق مباشرة. يمكنك النقر                         <a href="https://www.noblesky.com/cn/spreads">هنا</a> معرفة المزيد حول التكلفة.</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> ما هي ساعات التداول الخاصة بنا؟ </h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a2collapse18" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>من الاثنين 08:00 حتى الجمعة 17:00 (GMT + 2)</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">هل تدعم بيانات الأخبار؟ </h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a2collapse20" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p> نعم نحن ندعمها</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">ما مقدار الرافعة مالية التي تقدمها ؟</h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a2collapse21" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p> نحن نقدم 1: 1 - 200: 1</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> ما هو الهامش / نسبة الهامش / الهامش المتاح؟ </h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a2collapse22" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>الهامش هو مقدار العملة الأساسية المطلوب لفتح حساب تداول أو الاحتفاظ به. على سبيل المثال ، عند تداول العملات الأجنبية ، الهامش المطلوب / المستخدم لمركز معين = عدد العقود * حجم العقد / الرافعة مالية. سيتم عرض نتيجة الحساب تلقائيًا بالعملة السابقة في زوج العملات ، ثم تحويلها إلى العملة الأساسية لحسابك. سيتم عرض هذا المبلغ على MT5 الخاص بك.</p>
                          <p> معادلة حساب متطلبات الهامش للذهب والفضة هي الحزمة * حجم العقد * سعر السوق / الرافعة مالية ، ويتم عرض نتيجة الحساب بالدولار الأمريكي.</p>
                          <p>
                            ممعادلة حساب الهامش المطلوب لعقد الفروقات هي عدد العقود * حجم العقد * سعر الافتتاح * متطلبات الهامش. نتائج الحساب معروضة بالدولار الأمريكي. المزيد من التفاصيل

                          </p>
                          <p> معادلة حساب نسبة الهامش هي صافي القيمة / الهامش * 100٪. </p>
                          <p> الهامش المتاح هو مقدار صافي رصيدك مطروحًا منه الهامش ، والذي يمكن استخدامه لفتح أو الاحتفاظ بالمداولات. </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"> كيف يحسب الهامش؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse23" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p> تكون صيغة حساب الهامش كما يلي:</p>
                        <p>
                          (العقود * حجم العقد / الرافعة مالية) تستند النتيجة إلى العملة الأولى من زوج العملات.

                        </p>
                        <p>بالنسبة للحسابات القياسية ، يبلغ حجم العقد لجميع عملات الصرف الأجنبي 100،000 وحدة. بالنسبة للحسابات الصغيرة ، فإن حجم العقد لجميع عملات الصرف الأجنبي هو 1000 وحدة.</p>
                        <p> على سبيل المثال ، إذا كانت العملة الأساسية لحساب التداول الخاص بك هي الدولار الأمريكي والرافعة مالية 1: 200 ، ثم تداول عقد واحد من EURUSD ، يتم حساب الهامش وفقًا للصيغة التالية:</p>
                        <p> (1 * 100000/200) = 500 يورو</p>
                        <p>اليورو هو العملة الأولى لزوج العملات EURUSD. نظرًا لأن حسابك عبارة عن حساب بالدولار الأمريكي ، فسيقوم النظام تلقائيًا بتحويل 500 يورو إلى دولار أمريكي بناءً على سعر الصرف في الوقت الفعلي.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"> ما هي معادلة هامش الذهب / الفضة؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse24" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          معادلة هامش الذهب / الفضة هي عدد
                          <strong>العقود * حجم العقد * سعر السوق / الرافعة مالية</strong> .
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">العقود مقابل الفروقات ما هي معادلة الهامش؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse25" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          صيغة الهامش <strong>لعقود</strong> الفروقات هي عدد العقود
                          <strong>* حجم العقد * سعر الافتتاح * متطلبات الهامش。</strong> لمعرفة المزيد
                          <a href="/ar/spreads">انقر هنا</a>。
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"> كيف تحسب الفائدة الليلية على أزواج العملات الأجنبية والذهب / الفضة؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse26" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          لفهم رسوم المعاملات الليلية ،
                          <a href="/ar/overnight-positions">انقر هنا</a>。
                        </p>
                        <p> معادلة الفائدة على المعاملات الليلية في جميع البورصات الأجنبية هي كما يلي ، بما في ذلك الذهب والفضة: </p>
                        <p><strong> الحزم * صفقة طويلة أو قصيرة * حجم النقطة </strong></p>
                        <p><span style="text-decoration: underline;">نذكر واحدة هنا EUR / USD من ال</span>أمثلة على أزواج العملات:</p>
                        <p>
                          العملة الأساسية للعميل هي دولار أمريكي
                          <br>شراء عقد واحد EUR / USD
                          <br>طويل = -3.68
                          <br>نظرًا لأن هذه صفقة شراء ، سيقوم النظام بتصنيف هذه المقايضة على أنها صفقة طويلة ، وسعرها الحالي هو -3.68
                          <br>حجم النقطة = حجم عقد السلع * الحد الأدنى من تقلبات السعر
                          <br>EUR / USD حجم النقطة = 100000 * 0.00001 = 1
                          <br>بإدخال هذه البيانات إلى المعادلة 1 * (-3.68) * 1 = -3.68 دولارًا أمريكيًا。
                          <br>لذا اذا اشتريت حزمة واحدة EUR / USD الفائدة الليلية على زوج العملات هي 3.68 USD。
                        </p>
                        <p><span style="text-decoration: underline;"></span>:</p>
                        مثال عن الذهب

                        <p>
                          العملة الأساسية للعميل هي
                          الدولار الأمريكي<br>   شراء <br>حزمة واحدة من الذهب                        بالدولار الأمريكي = -2.17
                          <br>  نظرًا لأن هذه صفقة شراء ، سيقوم النظام بتصنيف هذه الفائدة الليلية على أنها مركز طويل ، والسعر الحالي هو -2.17.                        <br>نقطة واحدة = حجم عقد السلع * الحد الأدنى لسعر التذبذب                           <br>للذهب نقطة واحدة = 100 * 0.01 = 1 ، عند
                          <br>بإدخال هذه البيانات في المعادلة ، ستكون هذه المعالة 1 * (-2.17) * 1 = -2.17 دولارًا أمريكيًا。
                          <br>وبالتالي فإن الفائدة الليلية على شراء حزمة واحدة من الذهب -2.17 دولار أمريكي。
                        </p>
                        <p>يرجى ملاحظة أنه إذا كانت العملة الأساسية في حساب التداول هي الدولار الأمريكي ، فسيكون حساب الفائدة الليلية من الدولار الأمريكي إلى اليورو. يتم دائمًا التعبير عن نتيجة حساب الفائدة الليلية بالعملة الثانية ، وسيقوم النظام بعرضها في حساب التداول في النهاية بالعملة الأساسية.</p>
                        <p>
                          المثال أعلاه لا يمثل البيانات الحالية وهو للتوضيح فقط.  لمعرفة سعر الفائدة الليلية الحالي للعملات الأجنبية انقر هنا<a href="https://www.nbstrader.com/#/cn/forex-trading"></a> ، الذهب والفضة انقر
                          <a href="/ar/precious-metals">هنا</a> .
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"> هل تسمحون بالمضاربة؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse28" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p> نعم ، نحن نسمح بذلك. </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"> ما هو وقف الخسارة؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse29" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>يشير وقف الخسارة إلى أمر إغلاق صفقة عندما تكون خسارة التداول أعلى من سعر الخسارة الذي حددته. وقف الخسارة هو الحد ، عندما يتم الوصول إلى سعر وقف الخسارة ، سيتم إغلاق الصفقة. يرجى ملاحظة أنه عند تحديد سعر وقف الخسارة ، فإنك تحتاج للوصول إلى قيمة معينة لوقف الخسارة بناءً على السعر الحالي. لمزيد من المعلومات حول قيمة وقف الربح والخسارة لأزواج العملات الأجنبية                           <a href="https://www.nbstrader.com/#/cn/forex-trading">يرجى الرجوع هنا</a>。</p>
                        <p>عندما لا يكون اتجاه السوق جيدًا بالنسبة لك ، يمكن أن يؤدي تحديد وقف الخسارة إلى تقليل خسارتك. يجب تعيين نقطة وقف الخسارة أقل من سعر البيع الحالي للصفقات الطويلة ، أو أعلى من سعر الشراء الحالي للصفقات القصيرة.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">ماذا يعني "جني الأرباح"؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse30" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>جني الأرباح يعني أنه عندما يصل السعر إلى سعر الربح الذي حدده العميل ، يتم تنفيذ أمر إغلاق الصفقة تلقائيًا. عندما يصل الربح إلى التوقعات ، سيتم إغلاق أمر جني الأرباح على الفور. يرجى ملاحظة أنه عند تحديد وقف الربح ، يجب الوصول إلى قيمة معينة بين وقف الربح والخسارة بناءً على السعر الحالي. لمزيد من المعلومات حول مسافة وقف الربح والخسارة لأزواج العملات الأجنبية.                                      <a href="https://www.nbstrader.com/#/cn/forex-trading">يرجى الرجوع هنا</a>。</p>
                        <p> يجب أن يكون إعداد نقطة جني الأرباح أقل من سعر الشراء الحالي للصفقات القصيرة ، أو أعلى من سعر البيع الحالي للصفقات الطويلة. </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"> ما هو وقف الخسارة المتحرك؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse31" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          وقف الخسارة المتحرك هو نوع من وقف الخسارة. يتم تحديده عند مستوى نسبة مئوية أقل من سعر السوق لصفقة طويلة أو أعلى من سعر السوق لصفقة قصيرة ، ويتحرك مع سعر السوق. يرجى ملاحظة أنه عند تعيين أمر إيقاف الخسارة ، يجب أن يكون بعيدًا عن سعر الأمر بقيمة معينة. تعرف على المزيد حول قيمة وقف الخسارة لأزواج العملات ،
                          <a href="/ar/forex-trading">يرجى الرجوع هنا</a>。
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        ما هو
                        <em>إغلاق العتبة</em> ؟
                      </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse32" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          <em>إغلاق العتبة </em> هي خدمة على منصة MT5 تسمح لك بإغلاق صفقتين مرتبتطين على نفس الأداة المالية في نفس الوقت والاحتفاظ بالفرق.                         <em>شراء</em> واحد يحتاج إلى
                          <em>إغلاق بيع</em>  واحد ،
                          <em>والبيع</em> يحتاج إلى
                          <em>إغلاق شراء</em> واحد
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        ما هو
                        <em>عتبة الصفقة الطويلة</em> ؟
                      </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse33" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          <em>عتبة المركز الطويل</em>   هو خدمة على منصة MT5 تسمح لك بإغلاق صفقتين مرتبطتين على نفس الأداة المالية في نفس الوقت والاحتفاظ بالفرق.                        يحتاج <em>شراء</em> واحد إلى
                          <em>بيع</em> واحد，
                          أوامر <em>البيع</em> المنفردة تحتاج إلى
                          أمر <em>شراء</em> لإغلاق التداول.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">كيف تحسب ربح وخسارة النقطة؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse35" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          مبلغ العملة الأساسية * النقاط = قيمة تسعير العملة <br>قيمة نقطة واحدة من يورو / دولار أمريكي = عقد واحد (100000 يورو) * 0.0001 = 10 دولار
                          أميريكي<br>قيمة نقطة واحدة من دولار أمريكي / فرنك سويسري = عقد واحد (100000 دولار أمريكي) * 0.0001 = 10 فرنك سويسري                           <br>قيمة نقطة يورو / الين الياباني = عقد واحد (100000 يورو) * 0.01 = 1000 ين ياباني
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">ما هو الحد الأدنى لحجم الحزمة للحسابات القياسية؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse36" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>فيما يلي حجم كل معاملة ، يمكنك إنفاق أي مبلغ</p>
                        <p>الحساب القياسي:</p>
                        <p>
                          1 حزمة = 100،000
                          <br>حجم الصفقة الأدنى = 0.01
                          <br>حجم الصفقة الأقصى = 50 حجم صفقة
                          <br>= 0.01
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">هل تسمحون بالتطويق؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse37" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>نحن نسمح بذلك. في نفس حساب التداول الخاص بك ، يمكنك قفل التداول بحرية. تعني الصفقة المطوقة أنك في صفقة شراء طويلة وقصيرة لنفس السلعة التجارية في نفس الوقت.</p>
                        <p>عندما تغلق صفقةً، سيتم تحصيل الدفعة المسبقة لموضع التطويق فقط مقابل دفعة كبيرة من جانب واحد. </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">ما هي الرافعة مالية؟ كيف يتم أداؤها؟ كلما قل المبلغ الذي يتم إنفاقه ، كلما زادت الرافعة مالية ،و زادت المخاطر؟</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse38" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>الرافعة مالية هي زيادة رصيدك. يمكنك استخدام هوامش أقل لإنشاء صفقات تداول أكبر من خلال الرافعة مالية. يمكنك حتى الحصول على المزيد من الأرباح من خلال الرافعة مالية ، ولكن نظرًا لأن صفقتك المفتوحة كبيرة جدًا (حجم الحزمة) ، فإن المخاطرة ستزداد.</p>
                        <p>فمثلا:</p>
                        <p>رصيد الحساب: 100 دولار أمريكي</p>
                        <p>الرافعة مالية للحساب: 1: 100</p>
                        <p>سيتم تكبير رأس مال التداول الخاص بك إلى 100 * 100 دولار أمريكي = 10000 دولار أمريكي لرأس المال القابل للتداول (لتحل محل 100 دولار أمريكي الأصلي). </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">هل لديك انزلاق؟</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse41" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>من الصعب جدًا رؤية الانزلاق عند التداول معنا. ومع ذلك ، عند نشر بعض الأخبار الاقتصادية الهامة ، بسبب الزيادة / الانخفاض السريع في أسعار السوق ، قد تختلف النقطة التي يتم فيها تنفيذ طلبك عن طلبك الفعلي.</p>
                        <p>في NOBLE SKY ، سيتم تنفيذ طلبك في الاتجاه الأكثر فائدة لك. </p>
                        <p>
                          لمزيد من المعلومات حول إستراتيجية تنفيذ NOBLE SKY ، يرجى
                          <a href="/ar/execution-policy">التحقق هنا.</a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">هل يمكنني فتح أكثر من حساب تداول؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse42" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>يمكن لبطاقة هوية واحدة فقط التحقق من حساب حقيقي واحد. </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">هل سيتم إغلاق الحسابات ذات الرصيد الصفري؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse43" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          وفقًا للوائح ، سيقوم النظام تلقائيًا بإغلاق حسابات التداول ذات الأرصدة الصفرية بعد 90 يومًا ولا يمكن إعادة فتحها للاستخدام. إذا تم إغلاق حسابك الجاري ولا توجد حسابات تداول أخرى متاحة ، فنحن نرحب بك للضغط
                          <a href="#/register">هنا</a> لتسجيل حساب تداول جديد.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">إذا كنت غير متصل بالإنترنت ، فهل أحتاج إلى إغلاق جميع الصفقات التي فتحتها؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse45" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>إذا قمت بإغلاق منصة التداول ، فسيستمر الاحتفاظ بأوامر وقف الربح والأوامر المعلقة. ولكن عند إغلاق نظام التداول MT5 ، فإن نظام التتبع (وقف الخسارة وجني الأرباح) ونظام التداول الذكي EA سيكونان غير صالحين.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">كيف يمكنني عرض سجل معاملاتي؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse46" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>يمكنك تصدير سجلات المعاملات في برنامج التداول MT5. فقط اذهب إلى MT5- "Toolbox" ، وانقر بزر الماوس الأيمن واختر "Account History" ، وحدد الفترة الزمنية (مثل: 1 سنة ، 1 شهر ، 1 أسبوع) ، ثم انقر بزر الماوس الأيمن فوق "Save Report".</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">ما هو الحد الأقصى للمبلغ الذي يمكنني التداول به عبر الإنترنت؟</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse47" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p> هنا ، لن يكون لديك حد لمبلغ الصفقة ، ولكن الحد الأقصى لعدد العقود التي يمكن تداولها في صفقة واحدة في حساب قياسي لن يتجاوز 50 عقدًا قياسيًا.</p>
                        <p>إذا كنت ترغب في تداول المزيد من الحزم في حسابك ، يمكنك محاولة تقليل أوامر التداول.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">لماذا الفائدة الليلية يوم الأربعاء ثلاثة أضعاف المعتاد؟</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse48" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>في سوق الصرف الأجنبي الفوري ، يكون تاريخ القيمة الفعلية بعد يومين. على سبيل المثال ، ينعكس السعر في يوم تداول الخميس يوم الاثنين ، وينعكس السعر في يوم تداول الجمعة يوم الثلاثاء. لذلك ، يتعين علينا يوم الأربعاء حساب الفائدة على المعاملات الليليلة لمدة ثلاثة أيام للتعويض عن الفائدة الليلية الناتجة عن عطلة نهاية الأسبوع (لا يلزم دفع الفائدة الليلية في يوم التسليم ، لأن التعاملات توقفت في عطلة نهاية الأسبوع).</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">هل تقدمون إرشادات بشأن الصرف الأجنبي؟ كيف أتعلم أساسيات تداول العملات الأجنبية؟</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse49" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>لكل عميل من عملاء <strong>NOBLE SKY</strong> مدير حساب شخصي خاص به ، والذي يمكنه توفير الدردشة عبر الإنترنت والبريد الإلكتروني والهاتف وغيرها من الدعم الفني الشامل ، و يمكنه أيضًا ترتيب دورات تدريبية أساسية فردية على MetaTrader5.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">هل تقبل عملاء الولايات المتحدة؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse50" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>وفقًا لقانون فرانك الذي أقره الكونغرس الأمريكي مؤخرًا ، لم تعد لجنة تداول السلع الآجلة تسمح للمواطنين الأمريكيين بفتح حسابات للتداول معنا. نحن نعتذر عن أي إزعاج.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">ما هو التداول بنقرة واحدة: كيفية استخدامه؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse52" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>يتيح لك التداول بنقرة واحدة إغلاق التداولات المفتوحة بنقرة واحدة. عندما تريد إغلاق تداول ما ، ما عليك سوى النقر مرة واحدة يدويًا.</p>
                        <p>يتم عرض التداول بنقرة واحدة في الجزء العلوي الأيسر من الرسم البياني الخاص بك. سيظهر في الزاوية العلوية اليسرى من النافذة عند النقر فوق التداول بنقرة واحدة.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">هل يمكنني تغيير نوع حسابي؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse53" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          للأسف ، لا يمكن تغيير نوع الحساب. ولكننا نرحب بك في تسجيل الدخول إلى
                          <a href="#/login" class="">CRM</a> أضف حسابًا جديدًا وحدد نوع الحساب المفضل لديك.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">كيف يمكنني إعادة تعيين كلمة المرور الخاصة بي؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse54" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>إذا نسيت كلمة مرور حساب التداول الخاص بك ، فيرجى الاتصال بخدمة العملاء أو الوكيل لتقديم طلب لإعادة تعيين كلمة المرور. </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">هل يمكنني تغيير العملة الأساسية لحسابي؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse55" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>لسوء الحظ ، يتم دعم الدولار الأمريكي فقط كعملة أساسية</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">هل تقدمون تداول الخيارات الثنائية؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse56" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>غير متوفر. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="section-3" class="container top50">
            <div class="row">
              <div class="col-md-6">
                <h2>إيداع / سحب</h2>
                <div id="accordionText"></div>
              </div>
              <div class="col-md-6"><button type="button" data-parent="#accordion3" class="btnAccordion pull-right"></button></div>
            </div>
            <div class="row top20">
              <div class="col-md-12">
                <div id="accordion3" class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">ما هي طريقة الإيداع / السحب التي يجب اختيارها؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a3collapse1" aria-expanded="false" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>نحن نقدم طرق الإيداع / السحب بالعملة الافتراضية USDT. </p>
                        <p>عند فتح حساب ، يرجى تسجيل الدخول إلى CRM لإكمال المصادقة وتفعيل الحساب. بعد الانتهاء ، يمكنك النقر فوق الإيداع والسحب واتباع التعليمات لإكمال العملية.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">ما هو الحد الأدنى والحد الأقصى لمبالغ الإيداع / السحب؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a3collapse3" aria-expanded="false" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>الحد الأدنى لمبلغ الإيداع / السحب هو 5 دولارات أمريكية (أو ما يعادلها). لكن المبلغ الفعلي لا يزال يعتمد على طريقة الدفع التي تختارها وحالة حساب التداول الخاص بك.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">هل يمكنني سحب الأموال في أي وقت؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a3collapse6" aria-expanded="false" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>يجب التحقق من حسابك قبل أن تتمكن من سحب الأموال. أولاً ، تحتاج إلى تسجيل الدخول إلى CRM لتحميل المعلومات الخاصة بك: الهوية (البطاقة الشخصية ، جواز السفر ، رخصة القيادة) وإثبات العنوان (الماء ، الكهرباء ، الغاز ، فاتورة تلفزيون الكابل أو كشف حساب بنكي) يحتوي على عنوانك واسمك في آخر 3 أشهر ولا يمكن أن تتجاوز الفاتورة 6 أشهر.</p>
                        <p>بعد اجتياز المصادقة ، يمكنك تسجيل الدخول إلى CRM ، وتحديد خيار السحب وإرسال طلب سحب إلينا. ستتم معالجة جميع عمليات السحب من خلال خدمة عملاء المكتب الإداري في غضون 24 ساعة من أيام العمل.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">إذا كان لا يزال لدي صفقات مفتوحة ، فهل يمكنني سحب الأموال؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a3collapse7" aria-expanded="false" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>نعم. ومع ذلك ، لا يمكن سحب الأرباح غير المسواة.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">متى ستصل أموال الإيداع الخاصة بي؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a3collapse8" aria-expanded="false" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>يمكن بشكل عام إيداع ودائع USDT في نفس يوم العمل. </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">متى يمكنني استلام الأموال بعد تقديم طلب السحب؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a3collapse9" aria-expanded="false" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>سيقوم المكتب الإداري بمعالجة طلب السحب الخاص بك في غضون 24 ساعة. تتوفر عمليات سحب USDT بشكل عام في نفس اليوم.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">هل توجد رسوم معالجة أخرى لعمليات الإيداع والسحب؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a3collapse11" aria-expanded="false" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>نحن لا نفرض أي رسوم أخرى على عمليات الإيداع والسحب ، كما أن رسوم الإيداع / السحب التي تتقاضاها أطراف ثالثة ليست تحت سيطرتنا. </p>
                        <p>عند إيداع الأموال ، سنقوم بتحويل USDT الفعلي المستلم إلى العملة الأساسية إلى حساب التداول الخاص بك. </p>
                        <p>عند سحب الأموال ، سنودع العملات المعدنية في عنوان محفظتك بالمبلغ الذي تقدمت به بالفعل. المبلغ الفعلي المستلم يخضع للمبلغ المستلم من قبل الطرف الثالث.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">هل يمكن تحويل الأموال الموجودة في حساب التداول الخاص بي إلى حسابات التداول الخاصة بعملاء آخرين؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a3collapse16" aria-expanded="false" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>هذا غير مسموح به. يحظر تحويل الأموال بين العملاء المختلفين.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">هل يمكنني تحويل الأموال إلى حساب آخر؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a3collapse19" aria-expanded="false" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>نعم. يمكنك التقدم بطلب التحويل الداخلي بين الحسابات بنفس الاسم. لكن يرجى ملاحظة أن الحساب يجب أن يكون حسابًا بنفس الاسم وقد تمت مصادقة كليهما.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">هل تتقاضى رسومًا أو عمولات إضافية؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a3collapse22" aria-expanded="false" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p><strong></strong>لا تتقاضى <strong>NOBLE SKY</strong> أي رسوم أو عمولات إيداع وسحب.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="section-4" class="container top50">
            <div class="row">
              <div class="col-md-6">
                <h2>منصة التداول</h2>
                <div id="accordionText"></div>
              </div>
              <div class="col-md-6"><button type="button" data-parent="#accordion4" class="btnAccordion pull-right"></button></div>
            </div>
            <div class="row top20">
              <div class="col-md-12">
                <div id="accordion4" class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">ما هو الفرق بين الحساب التجريبي والحساب الحقيقي؟ </h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse1" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>على الرغم من أن جميع ميزات ووظائف الحساب الحقيقي ستنعكس في الحساب التجريبي ، يرجى تذكر أن الحساب التجريبي لا يمكنه محاكاة ظروف السوق الحقيقية. النقطة الأكثر أهمية هي أن وضع الأوامر في الحساب التجريبي لن يكون له أي تأثير على السوق. على العكس من ذلك ، ستتأثر الأوامر الموضوعة على حسابات حقيقية بالسوق وستؤثر أيضًا على أسعار السوق ، خاصة عندما يكون حجم الأمر كبيرًا. سرعة تنفيذ الحساب التجريبي <strong>NOBLE SKY</strong> هي نفسها الحساب الحقيقي.</p>
                        <p>
                          بالإضافة إلى ذلك ، تحدد الخصائص النفسية المختلفة للمستخدمين أيضًا ما إذا كانوا يحققون ربحًا على حساب تجريبي أو حساب حقيقي. قد يؤثر هذا الجانب على تقييم الحساب التجريبي. بالنسبة لأي استنتاجات مستخلصة من الحساب التجريبي ، نوصي المستخدمين بالحذر وتجنب الرضا عن الذات. لمزيد من التفاصيل حول الحساب التجريبي ، يرجى تسجيل الدخول.
                          <i class="fa fa-angle-down pull-right"></i>
                        </p>
                      </div>
                      <div id="a4collapse6" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>إذا كانت لديك أي أسئلة ، فيمكنك الاتصال بمدير حسابك للتعرف على معاملات MT5 في أي وقت عبر البريد الإلكتروني أو الدردشة عبر الإنترنت. يسعدنا دائمًا أن نقدم لك شرحًا تفصيليًا وإرشادات خاصة.</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">يمكنني رؤية 8 أزواج عملات فقط على MT4. كيف يمكنني مشاهدة أزواج العملات الأخرى؟</h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a4collapse7" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p> قم بتسجيل الدخول إلى منصة MT5 الخاصة بك -&gt; نافذة السوق -&gt; انقر بزر الماوس الأيمن -&gt; إظهار الكل ← اسحب لأسفل وسترى جميع المنتجات المتاحة. </p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> هل يمكنني تغيير المنطقة الزمنية للميتاتريدر؟ </h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a4collapse8" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>لا يمكن تغييرها. وقت منصتنا ثابت. التوقيت هو GMT + 8 خلال فصل الشتاء و GMT + 7 خلال فصل الصيف.</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> كيفية الوصول إلى منصة MT5؟</h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a4collapse13" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>يجب أن يكون لديك حساب تداول في Noble Sky MT5 لتتمكن من التداول على منصة MT5. أنشئ حساب نوبل سكاي MT5                          <a href="https://www.nbstrader.com/#/register">انقر هنا</a> .</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">كيف يمكنني التحقق من حساب MT5 الخاص بي؟ </h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a4collapse15" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>انقر فوق CRM -&gt; "تسجيل" لإنشاء حساب MT5 أنشئ وقمم بتسجيل الدخول للمصادقة ، تحتاج إلى تقديم مستندات المصادقة التي نحتاجها (على سبيل المثال ، إثبات الهوية والعنوان). </p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">ما هي المنتجات التي يمكنني تداولها على MT5؟ </h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a4collapse17" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>في منصة التداول MT5 ، يمكنك تداول جميع سلع Noble Sky ، بما في ذلك العملات الأجنبية والسلع ومؤشرات الأوراق المالية وعقود الفروقات على المعادن الثمينة وعقود فروقات الطاقة. </p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> كيف تجد منتجات (خدمات) التداول على منصة التداول؟ </h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a4collapse18" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p>وفقًا لنوع حسابك ، سيتم تمييز لاحقة اسم المنتج التجاري بشكل خاص. يرجى مراجعة الأمثلة التالية لتسهيل المعاملات باستخدام اسم المنتج الصحيح:</p>
                          <ul>
                            <li>الحساب القياسي: يتم عرض اسم المنتج بشكل طبيعي (بدون ملاحظة خاصة) ، مثل EURUSD ، GBPUSD</li>
                            <!-- <li>• حساب Micro (MICRO): أضف ميكرو في نهاية اسم المنتج ، مثل EURUSDmicro و GBPUSDmicro</li> -->
                          </ul>
                          <p>إذا لم تتمكن من رؤية السلع التي يجب أن تتداولها على المنصة ، فالرجاء النقر بزر الماوس الأيمن في نافذة "عرض أسعار السوق" -&gt; تحديد أصناف تداول -&gt; حدد السلعة التي تريد تداولها في النموذج -&gt; انقر فوق "عرض". يمكنك أيضًا النقر بزر الماوس الأيمن وتحديد "إظهار الكل".</p>
                          <p>يرجى ملاحظة أنه نظرًا لاختلاف أنواع الحسابات ، فإن الأجزاء الموضحة باللون الرمادي هي سلع غير قابلة للتداول. يوصى بالنقر بزر الماوس الأيمن في نافذة "سعر السوق الحالي" واختيار "إخفاء" لتبسيط الشاشة.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="section-5" class="container top50">
              <div class="row">
                <div class="col-md-6">
                  <h2>الدعم التقني لـ NOBLE SKY</h2>
                  <div id="accordionText"></div>
                </div>
                <div class="col-md-6"><button type="button" data-parent="#accordion5" class="btnAccordion pull-right"></button></div>
              </div>
              <div class="row top20">
                <div class="col-md-12">
                  <div id="accordion5" class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"> ما هي الميزات التي يدعمها NOBLE SKY؟ </h4>
                        <i class="fa fa-angle-down pull-right"></i>
                      </div>
                      <div id="a5collapse1" class="panel-collapse collapse">
                        <div class="panel-body gray">
                          <p> يمكن تداول أزواج العملات الأجنبية والعقود مقابل الفروقات ومؤشرات الأسهم والمعادن الثمينة وسلع الطاقة </p>
                          <ul>
                            <li> الحد الأدنى للإيداع لا يقل عن 5 دولارات أمريكية </li>
                            <li> يمكنك اختيار فتح أكثر من حساب واحد </li>
                            <li>هناك سياسة حماية الرصيد السلبي</li>
                            <li>لا إعادة تسعير ولا رفض عمليات</li>
                            <li>التكلفة منخفضة وقريبة من الصفر</li>
                            <li>أدنى سعر نقطة أساس</li>
                            <li>يمكن لحساب واحد استخدام عدة محطات تداول</li>
                            <li>التنفيذ مباشرة</li>
                            <li>يتم إيداع الحساب آليًا بالكامل بنسبة 100٪ ومعالجة في الوقت المناسب على مدار الساعة طوال أيام الأسبوع</li>
                            <li>إيداع سريع بدون أي رسوم</li>
                            <li>أنشطة المكافآت دون انقطاع</li>
                            <li>حساب تجريبي مجاني غير محدود يحتوي على 100،000 دولار أمريكي من الأموال الافتراضية ، وإمكانية الوصول إلى منصات تداول متعددة في نفس الوقت</li>
                            <li> تقديم إشارات تداول احترافية مرتين في اليوم </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dis70"></div>
          </div>


        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'FAQ-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){

      let element = document.querySelectorAll(".panel-heading");



      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){


               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }


     document.documentElement.scrollTop = 0


  },




  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}
.panel-collapse.showFlag{display: none;}

.btnAccordion.pull-right{display: none;}

 
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

</style>
