<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" dir="rtl">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">المداولات الليلية</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link>
                    </li>
                    <li class="post post-page current-item">المداولات الليلية</li>
                  </ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>اتصل بنا</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <h2 class="top80">تمديد NOBLE SKY</h2>
            <div class="row text-center feature-icons">
              <div class="feature-item4">
                <i class="tfxfont3 xmArrow-circle fs100 red"></i>
                <p>معدلات مقايضة تنافسية</p>
              </div>
              <div class="feature-item4">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p>فائدة ليلية شفافة</p>
              </div>
              <div class="feature-item4 hidden-xs">
                <i class="tfxfont3 xmStrategy fs100 red"></i>
                <p>إستراتيجية تسليم التمديد لمدة 3 أيام</p>
              </div>
              <div class="feature-item4 hidden-xs">
                <i class="tfxfont3 xmPercent fs100 red"></i>
                <p>إتباع معدل الفائدةالحالي</p>
              </div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-sm-12 col-md-9"><br>تداول العملات الأجنبية والأسهم الفردية والسلع والمعادن الثمينة والطاقات ومؤشرات الأسهم في NOBLE SKY</div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">افتح حساب</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row">
              <div class="col-md-12">
                <h2>الفائدة الليلية</h2>
                <p>قد يتم احتساب فائدة التمديد على المداولات التي يتم الاحتفاظ بها طوال الليل. بالنسبة لسلع الصرف الأجنبي ، يعتمد المبلغ على المداولة الطويلة أو القصيرة ، بالإضافة إلى فرق سعر الفائدة بين أزواج العملات. لكن فيما يتعلق بالأسهم ومؤشرات الأسهم ، فإنه يعتمد فقط على المداولات القصيرة أو الطويلة.</p>
                <p>
                  يرجى ملاحظة أن السلع الفورية فقط ستتراكم عليها الفائدة الليلية.
                  سلع العقود الآجلة لها تاريخ انتهاء صلاحية فقط وليس لها فائدة ليلية.
                </p>
                <h2 class="top80">حول التمديد</h2>
                <p>تسليم التمديد هو عملية تمديد تاريخ تسليم فتح تداول (على سبيل المثال ، تاريخ تسليم صفقة منفذة). يسمح سوق الصرف الأجنبي بإتمام جميع المعاملات الفورية في غضون يومي عمل.</p>
                <p>ومع ذلك ، في تداول السلع بالهامش ، نظرًا لعدم وجود تسليم مادي ، يجب إغلاق جميع المداولات المفتوحة في نهاية كل يوم (22:00 بتوقيت جرينتش) وإعادة فتحها في يوم التداول التالي. يتم إنشاء ما يسمى بالفائدة الليلية بسبب هذه الآلية.</p>
                <p>تستند الفائدة على التمديد إلى عقد الفائدة على التمديد. بالنسبة للمتداولين ، يمكنها أن تكون التكلفة أو الفائدة. لن تقوم NOBLE SKY فعليًا بإغلاق وإعادة فتح المداولات ، ولكنها ستضيف فائدة ليلية إلى حساب التداول بناءً على معدل الفائدة الحالي.</p>
                <h2 class="top80">سياسة الدفع المؤجل في NOBLE SKY</h2>
                <p>بالنسبة للصفقات التي يتم الاحتفاظ بها بعد وقت الإغلاق الساعة 22:00 بتوقيت جرينتش في يوم التداول ، تضمن NOBLE SKY تزويد جميع العملاء بأفضل سعر فائدة لليلة واحدة وعرضها في حساب التداول. </p>
                <p>على الرغم من إغلاق السوق يومي السبت والأحد ، سيظل البنك يحتسب الفائدة على مداولات نهاية الأسبوع. من أجل تعديل هذه الفجوة ، تنص NOBLE SKY على أنه يجب تحصيل 3 أيام من الفائدة الليلية كل يوم أربعاء.</p>
                <h2 class="top80">طريقة حساب التمديد</h2>
                <h3><strong>العملات الأجنبية والمعادن النفيسة الفورية (الذهب والفضة)</strong></h3>
                <div class="dis10"></div>
                <p>
                  يتم تحديد سعر الفائدة الليلية للعملات الأجنبية والمعادن الثمينة الفورية من خلال سعر التسليم الفوري (غدًا وبعد غد) ، وتشمل عمولة NOBLE SKY.
                  يتم إنشاء <strong>معدل التسليم الفوري</strong> وفقًا لاختلاف معدل الفائدة بين العملات ، ولا <strong>يمكن</strong> التلاعب في NOBLE SKY
                  بشكل عشوائي.
                </p>
                <div class="dis10"></div>
                <div class="section-box small" style="font-size: 14px;">
                  <p><strong><u>على سبيل المثال:</u></strong></p>
                  على سبيل المثال: أنت تتداول زوج عملات USDJPY ، وسعر التسليم الفوري على النحو التالي:
                  <br>+ 0.5٪ لمداولات طويلة
                  <br>- 1.5٪ لمداولات قصيرة
                  <br>في ظل هذه الإعداد ، يكون سعر الفائدة في الولايات المتحدة أعلى من مثيله في اليابان. ستكون الفائدة الليلية على صفقات الشراء في هذا الزوج من العملات + 0.5٪ - عمولة NOBLE SKY.
                  <br>على العكس من ذلك ، يتم احتساب مداولات البيع على أنها -1.5٪ - عمولة NOBLE SKY.
                </div>
                <div class="dis10"></div>
                <p>طريقة الحساب كالتالي:</p>
                <div class="red section-box small" style="font-size: 14px;"><strong>حجم الصفقة X （+/- معدل التسليم الفوري - العمولة *</strong></div>
                <div class="dis10 "></div>
                <p>ما ورد أعلاه <strong>+/-</strong> يعتمد على فرق سعر الفائدة بين أزواج العملات.</p>
                <small>* المبلغ معروض بعملة التسعير.</small>
                <div class="dis20 "></div>
                <h3><strong>الأسهم ومؤشرات الأسهم</strong></h3>
                <div class="dis10 "></div>
                <p>يتم تحديد سعر الفائدة الليلية للأسهم وسلع مؤشرات الأسهم من خلال معدل الإقراض بين البنوك من الأسهم أو مؤشرات الأسهم (على سبيل المثال ، الأوراق المالية المدرجة في أستراليا ، أي ، يتم استخدام معدل فائدة القرض قصير الأجل بين البنوك الأسترالية) ، ويستند إلى المداولات الطويلة والقصيرة +/- عمولة NOBLE SKY.</p>
                <div class="dis10 "></div>
                <div class="section-box small " style="font-size: 14px;">
                  <p><strong><u>على سبيل المثال ：</u></strong></p>

                  على سبيل المثال: أنت تشتري Unilever (أسهم مدرجة في المملكة المتحدة) ، وسعر العرض قصير الأجل بين البنوك في المملكة المتحدة هو 1.5٪ طريقة حساب الفائدة الليلية على مداولتها الطويلة هي كما يلي:
                  <br>-1.5٪ / 365 - قسط NOBLE SKY اليومية على العكس من ذلك ، <br>يتم حساب مداولات البيع على أنه + 1.5٪ / 365-عمولة NOBLE SKY اليومي.
                </div>
                <div class="dis10 "></div>
                <p>يتم احتساب السعر اليومي على النحو التالي:</p>
                <div class="red section-box small " style="font-size: 14px;"><strong>حجم الصفقة X سعر الإغلاق X (+/- معدل عرض بين البنوك قصير الأجل- عمولة NOBLE SKY)</strong></div>
                <div class="dis10"></div>
                <p>
                  ما ورد أعلاه
                  <strong>+/-</strong> يعتمد على المداولة القصيرة أو الطويلة لسلعة التداول.
                </p>
                <h2 class="top80">التسليم المقرر</h2>
                <p>وقت بدء ونهاية يوم التداول هو 22:00 بتوقيت جرينتش. يتم الاحتفاظ بجميع عمليات الشراء التي تم الاحتفاظ بها بعد الساعة 22:00 بتوقيت جرينتش خلال الليل ، وستتم إضافة الفائدة الليلية. ولكن بعد الساعة 22:01 ، لا تدخل المداولة الجديدة ضمن هذه الفئة. على العكس من ذلك ، إذا فتحت مداولة في الساعة 21:59 ، فسيتم احتساب الفائدة الليلية فورًا بعد الساعة 22:00. لجميع المداولة المفتوحة في الساعة 22:00 بتوقيت جرينتش ، سيتم عرض الفائدة الليلية في حساب التداول خلال ساعة واحدة.</p>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: ' Overnight positions-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage;

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


.wrap> 
.wrap>footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}
  p {
    margin-bottom: 2em;
  }

</style>
