<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas" dir="rtl">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">سياسة الخصوية</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">سياسة الخصوصية</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span> اتصل بنا</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80 regulation">
            <!-- <div class="row">
              <div class="col-md-12">
                <h2>相关法律文件</h2></div>
            </div> -->
            <div class="privacy-box">
                             <p>يرجى قراءة سياسة الخصوصية هذه بعناية. باستخدامك لمنتجاتنا وخدماتنا، أنت توافق على أنك قد بلغت 18 عاماً على الأقل وفهمت ووافقت على كافة بنود ومحتويات سياسة الخصوصية هذه. إذا كنت لا توافق على سياسى الخصوصية هذه، لن تتمكن من استخدام منتجاتنا او خدماتنا.</p>
                             <h3>نطاق المعلومات الشخصية</h3>
                             <p>في سياسة الخصوصية هذه، "المعلومات الشخصية" تشير إلى نوع المعلومات الشخصية المجمعة التي يمكن أن تحدد هوية شخص معين، ويمكن أن تقسم إلى معلومات شخصية يمكن استخدامها بشكل مستقل (مثل الاسم، معلومات الهوية الشخصية) ومعلومات لا يمكن استخدامها بشكل مستقل ويجب دمجها مع معلومات أخرى(مثل معلومات الموقع، السيارة). المعلومات الشخصية التي يمكن استخدامها بشكل مستقل فقط سيتم جمعها بإشعارك وموافقتك المسبقين. المعلومات الشخصية التي لا يمكن استخدامها بشكل مستقل يمكن أن يتم تحصيلها، استخدامها، نقلها وكشفها من قبلنا لأي سبب غير الاستخدام المشترك. </p>
                             <p>قد نقوم بجمع "معلومات شخصية" تشمل على سبيل المثال لا الحصر، اسمك، عنوانك البريدي، رقم الهاتف، عنوان البريد الالكتروني، ومعلومات اتصال أخرى، العمر، تاريخ الميلاد، الجنس، المستوى التعليمي المهنة، الرمز البريدي، رمز المنطقة، الصورة الشخصية، معلومات التفضيلات، الهوية الشخصية، رخصة القيادة، معلومات البطاقة الائتمانيةـ معرف الجهاز المميزـ معلومات الموقع، حلاة السيارة، السلوك والخ.</p>

                             <h3>وسائل جمع  المعلومات الشخصية</h3>
                             <p>سنقوم بجمع وتخزين معلوماتك الشخصية بعدة وسائل</p>
                             <p>المعلومات التي تقدمها لنا بشكل طوعي عند زيارة أو المشاركة في موقعنا الرسمي أو خدماتنا الأخرى على الانترنت (على سبيل المثال عندما تتصل بنا عبر الموقع أو البريد الالكتروني للاستفسار أو التعليق أو الاستبيانات عبر الانترنت).</p>
                             <p>عندما تسجل لخدماتنا الغير متصلة بالانترنت</p>
                             <p>عندما تقوم بتحميل أو تستخدم التطبييقات المطورة من قبلنا أو الشركات الشريكة</p>
                             <p>عندما تتابعنا على وسائل التواصل الاجتماعي</p>
                             <p>عندما تقدم معلومات لممثي مركز خدمة العملاء</p>
                             <p>قد نقوم أيضاً بجمع معلومات عنك من مصادر أخرى ونضيفها إلى قاعدة بيانات العملاء</p>

                             <h5>جمع المعلومات من ملفات تعريف الارتباط</h5>
                             <p>نحن نستخدم ملفات تعريف الارتباط وتقنيات تتبع أخرى لنبقى على اطلاع على كيفية استخدام الزبائن لموقعنا. ملفات تعريف الارتباط هي محددات خاصة لجهازك. بتحديد جهازك، يمكننا ترشيح منتجات مخصصة وإعلانات لك(بما في ذلك المواقعا الشريكة التي تقدم إعلانات من هذا الموقع)</p>
                             <p>المعلومات التي نجمعها من خلال ملفات تعريف الارتباط سرية وملخصة لتقدم معلومات منتجات وخدمات أكثر قيمة وتوجه للمجموعات المختلفة من الزبائن. المعلومات التي نجمعها من خلال ملفات تعريف الارتباط والتي هي معلومات لا يمكن استخدامها بشكل مستقل، وانت تفهم و توافق على استخدامنا للمعلومات المجمعة عن طريق ملفات تعريف الارتباط. بكل الأحوال، ملفات تعريف الارتباط يمكن تفعيلها لتستمتع بخدمات أفضل وأكثر تخصيصاً. إذا قمت بتعطيل ملفات تعريف الارتباط، قد لا تتمكن من تجربة كل الخدمات المقدمة على موقعنا بشكل جزئي أو كامل. لذلك، نوصي بأن تبقي ملفات تعريف الارتباط مفعلة. </p>

                             <h5>جمع المعلومات عبر مركز الخدمة</h5>
                             <p>عندما تقوم بالاتصال بالرقم الخدمة الساخن، لتحسين جودة خدمتنا ولنبقى على اطلاع على طلباتك، قد نقوم بتجميع معلومات شخصية خلال المكالمة أو تسجيل المكالمة عبر وسائل الوسائط الرقمية.. أنت تفهم وتوافق على أننا نقوم بجمع معلومات شخصية أثناء المكالمة الصوتية ونقوم بتسجيل المكالمة.</p>


                             <h3>عواقب رفض تقديم معلومات شخصية</h3>
                             <p>بإمكانك الامتناع عن تقديم معلومات شخصية، إذا اخترت الامتناع عن تقديم معلومات شخصية، قد لا نتممكن من تقديم منتجاتنا وخدماتنا إليك، أو قد نكون غير قادرين على الاستجابة للمشاكل التي تواجهك عند استخدامك لمنتجاتنا أو خدماتنا. لن نكون مسؤولين عن أي خسارة قد تواجهها.</p>

                             <h3>كيف نقوم باستخدام معلوماتك الشخصية</h3>
                             <p>سنقوم باستخدام معلوماتك الشخصية المجمعة للأغراض التالية (أسباب جمع المعلومات الشخصية):</p>
                             <p>إدارة منتجاتنا وخدماتنا، تقديم منتجاتنا وخدماتنا لك، والتواصل معك في الوقت المناسب حول استخدامك لمنتجاتنا وخدماتنا.</p>
                             <p>دعم أداء ووظيفة خدماتنا، الاستجابة لتساؤلاتك وطلباتك، ومعالجة عملياتك.</p>
                             <p>تقديم خدمة ودعم مابعد البيع لك والحصول على تقييم منك.</p>
                             <p>إبقائك على اطلاع على آخر منتجاتنا، خدماتنا، والمشتقات.</p>
                             <p>استخدام المعلومات الشخصية لأغراض داخلية، على سبيل المثال تحليل البيانات و الأبحاث، لتحسين منتجاتنا وخدماتنا وتواصلنا مع الزبائ، ولحل مشاكل العملاء في الوقت المناسب.</p>
                             <p>استخدام المعلومات الشخصية لنرسل لك إشعارات مهمة حول أمان وحماية منتجاتنا/خدماتنا. مثل هذه المعلومات ذات أهمية عالية لسلامتك الشخصية، نوصي بشدة أن لا ترفض استلام مثل هذه المعلومات.</p>
                             <p>للتحقيق في عمليات الاحتيال التي حصلت أو قد تحصل ولمنع الاحتيال والأشكال الأخرى الممكنة للنشاطات الغير قانونية.</p>
                             <p>في بعض الحالات، لنقوم بتزويد وتحسين منتجاتنا، خدماتنا، محتوانا و إعلاناتنا، قد نقوم بجمع معلوماتك الشخصية مع معلوماتك الغير شخصية من أجل التحليل والبحث.</p>
                             <p>لن نستخدم معلومتك الشخصية فيما يخالف أسباب جمع المعلومات الشخصية آنفة الذكر أو خارج نطاق سياسية الخصوصية هذه. </p>

                             <h3>كشف ومشاركة معلوماتك الشخصية مع أطراف خارجية</h3>
                             <p>نحن نحترم خصوصيتك ونمتثل لقوانين وتشريعات متوافقة. نتعهد بأن نبقي معلومتك الشخصية المجمعة سرية للغاية ولن نقوم ببيع معلوماتك الشخصية للآخرين. سنقوم فقط بمشاركة معلوماتك الشخصية لأغراض جمع المعلومات الشخصية مع الأطراف الخارجية التي تمتثل أو على الأقل تقدم إجرائيات حماية تماثل المذكورة في سياسة الخصوصية هذه.  إذا لميتم ذكر خلاف ذلك، فإن هذه الأطراف الخارجية لن تقوم بجمع، استخدام أو نقل معلوماتك الشخصية بالنيابة عنا. لذلك، فنحن غير مسؤولين عن جمع، استخدام أو نقل معلوماتك الشخصية من قبل أطراف خارجية من هذا القبيل.</p>

                             <h3>معالجة وتخزين المعلومات الشخصية</h3>
                             <p>لن نقوم بمعالجة، تعديل، أو تخريب معلوماتك الشخصية في ما يخالف أغراض جمع المعلومات الشخصية أو خارج نطاق سياسة الخصوصية هذه.</p>
                             <p>عندما نقوم بتخزين معلوماتك الشخصية، نحن نضع إجرائات حماية منطقية وكافية لحماية معلوماتك الشخصية من الوصول الغير مصرح به، التعرض للإفشاء و الفقدان. تشمل على سبيل المثال لا الحصر وسائل الحماية الالكترونية والفيزيائية.</p>

                             <h3>سلامة وتحديث المعلومات الشخصية</h3>
                             <p>نحن نقدم وسائل سهلة لضمان صحة معلوماتك الشخصية، كاملة، ومحدثة. سنحتفظ بمعلوماتك الشخصية للمدة الضرورية لتحقيق الغاية المذكورة في سياسة الخصوصية هذه، إلا في الحالات عندما يكون الاحتفاظ بها لفترة أطول ضروري أو مسموح بشكل قانوني.</p>

                             <h3>الاختيار</h3>
                             <p>قد نرسل إليك معلومات تسويقية عبر البريد الالكتروني، الهاتف، مكالمات أو رسائل الجوال (بما يشمل الرسائل النصية و رسائل الوسائط المتعددة) أو رسائل بريدية. بما يشمل على سبيل المثال لا الحصر: إبلاغك بآخر المعلومات حول منتجاتنا أو خدماتنا، دعوتك للمشاركة في نشاطاتنا التسويقية، أو إرسالإعلانات عن منتجاتنا أو خدماتنا.</p>

                             <h3>الأطفال</h3>
                             <p>لن نقوم بجمع معلومات شخصية عن أطفال تحت سن ال18 عن دراية. إذا اكتشفنا أننا قمنا بجمع معلومات شخصية لطفل تحت ال18 عاماً بدون دراية الأهل، سنقوم باتخاذ كافة الإجرائات لحذف هذه المعلومات في أسرع وقت.</p>

                             <h3>الأطراف الخارجية تقوم بجمع معلومات شخصية عنك من خلال منتجاتنا وخدماتنا</h3>
                             <p>منتجاتنا وخدماتنا قد تحوي على روابط مواقع أطراف خارجية، منتجات، وخدمات. منتجاتنا وخدماتنا قد تستخدم أو تقدم منتجات وخدمات من أطراف خارجية أيضاً. معلومات شخصية من هذا القبيل (التي قد تحوي على بيانات الموقع أو معلومات التواصل، الخ.) التي تجمع من الأطراف الخارجية عبر نظامنا، منتجاتنا وخدماتنا ينبغي أن تستخدم، تعالج، تخزن، تنقل، يحتفظ بها، وتتلف، بما يتوافق مع سياسية خصوصية الطرف الخارجي وأحكامه. إذا لم نقم بجمع أو تحصيل معلوماتك الشخصية في هذه العملية، لن نكون مسؤولين عنها، ونأمل أن تتمكن من فهم أحكام سياسة الخصوصية لهذه الجهاات. على كل حال، إذا قمنا بجمع أو تحصيل معلوماتك الشخصية أثناء العملية، سنلتزم بشكل صارم بسياسة الخصوصية هذه.</p>

                             <h3>تحديث</h3>
                             <p>نحتفظ بحق تعديل وتحديث ساسية الخصوصية هذه في أي وقت. إذا قمنا بتغيرات جذرية على سياسة الخصوصية، سنقوم بنشر آخر سياسة خصوصية على موقعنا في أسرع وقت ممكن. سنوصل آخر سياسة خصوصية إلى وكلائنا. يمكنك أن تتواصل مع وكلائنا للحوصل على تفاصيل. إذا لم يذكر خلاف ذلك، آخر سياسة خصوصية فعالة ستكون مطبقة عليك وعلى معلوماتك الشخصية.</p>

                             <h3>تواصل معنا</h3>
                             <p>إذا كان لديك أي استفسار أو تساؤل حول سياسة الخصوصية أعلاه أو حماية معلوماتك الشخصية، أو إذا كنت ترغب في الوصول إلى محتوى معلوماتك الشخصية التي لدينا، أو إذا كنت ترغب في تصحيح معلوماتك الشخصبة التي تزودنا بها، يرجى التواصل معنا عبر خدمة الزبائن. سنقوم بالاجابة على تساؤلاتك أو طلباتك بأسرع وقت ممكن. الرد سيكون مجاني إلا إذا كانت تكلفة الاستجابة للطلب أو تكرار الطلب غير منطقي. </p>
                             <p>الرجاء قراءة سياسة الخصوصية هذه بعناية، عندما تنهي القراءة وتستمر بتزويدنا بمعلوماتك الشخصية، أو تقوم بشراء منتجاتنا أو استخدام خدماتنا، فأنت قد فهمت ووافقت بشكل كامل على البنود والأحكام المذكورة في سياسة الخصوصية هذه.</p>



                        </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'سياسة الخصوصية-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=2){
       let pName = this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-8 {
       width: 66.66666667%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}

.privacy-box{
   h3{font-size: 24px !important;font-weight: bold;margin:50px 0 10px;color: #000 !important;}
   h5{font-size: 18px;font-weight: bold;margin:30px 0 10px;color: #387ee2;}
   p{font-size: 14px;margin-bottom: 10px;}
}


 
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}



</style>
