@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

/*product boxes styling start*/


/* square container css */

.rowpad {
    padding-bottom: 3%;
}

header {
    height: 62px;
    line-height: 62px;
    background-color: #000;
}

.rightIcon {
    left: 2%!important;
    text-align: left;
}

.title {
    font-size: 30px;
}

.page-title {
    height: 75px;
    line-height: 50px;
    padding-top: 25px;
    width: 1200px;
    margin: 0 auto;
}

.page-title h3 {
    font-size: 24px !important;
}

.page-title .links {
    float: right;
}

.page-title .links a {
    margin-left: 20px;
    font-size: 14px;
    color: #888;
}

.page-title .links i {
    font-size: 18px;
    margin-right: 3px;
    position: relative;
    top: -1px;
}

.page-title .links .icon-product {
    margin-right: 3px;
}

.page-title .links .icon-record {
    margin-right: 2px;
}

.page-title a:hover {
    color: #ffb83c!important;
}

.filter {
    width: 1200px;
    text-align: center;
    margin-bottom: 30px;
}

.filter span,
.filter a {
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.filter .tab-head {
    height: 46px;
    line-height: 46px;
    border-bottom: 0px solid #eee!important;
    font-size: 20px;
}

.filter .tab-head span,
.filter .tab-head a {
    float: left;
    color: #fff!important;
    position: relative;
    padding: 0 20px;
    cursor: pointer;
}

.filter .tab-head span:hover,
.filter .tab-head a:hover {
    color: #FFF!important;
    background-color: #353748!important;
}

.filter .tab-head span.active,
.filter .tab-head a.active {
    color: #fff!important;
    background: #585a75;
}

.filter .tab-head span.active em,
.filter .tab-head a.active em {
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #585a75!important;
    left: 50%;
    bottom: -1px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 10;
}

.filter .tab-head span.active i,
.filter .tab-head a.active i {
    position: absolute;
    content: " ";
    display: block;
    height: 0;
    width: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #090909!important;
    left: -6px;
    top: 2px;
}

.filter .tab-head span.active:after,
.filter .tab-head a.active:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    /* background-color: #D51820; */
    bottom: -1px;
    left: 0;
}

header .width-cell {
    width: 1200px;
    margin: 0 auto;
}

header a {
    color: #fff;
}

header .left {
    float: left;
}

header .left a {
    margin-right: 15px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}

header .left a:hover {
    opacity: 1;
}

.filter .tab-head em,
.filter .tab-head a em {
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #d51820;
    left: 50%;
    bottom: -1px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 10;
}

header .right {
    float: right;
    position: relative;
    padding-right: 100px;
    padding-top: 15px;
}

header .right a {
    float: left;
    margin-right: 15px;
}

header .right a i {
    margin-right: 5px;
}

header .right .language,
header .right a {
    width: 100px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    color: #ccc;
    text-align: center;
}

header .right .create-account {
    width: 140px;
    background-color: #29a643;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: 0;
}

header .right .language {
    position: absolute;
    right: 0;
    top: 15px;
}

.width-cell {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.nav {
    height: 88px;
    line-height: 88px;
    background-color: #000;
    border-top: 1px solid #262628;
}

.nav a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-left: 16px;
}

.nav a:hover {
    color: #f00;
}

.nav .logo {
    float: left;
    padding-top: 6px;
    line-height: 0;
}

.filter .tab-head span.active em,
.filter .tab-head a:active em {
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #d51820;
    left: 50%;
    bottom: 0px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 10;
}

.filter .tab-head em,
.filter .tab-head a:active em {
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #d51820;
    left: 50%;
    bottom: -1px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 10;
}

.row-2 {
    padding-bottom: 30px;
}

.row-2>p {
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
}

.row-2>ul {
    width: 1200px;
    margin: 0 auto;
    margin-top: 45px;
    min-height: calc(100vh - 450px);
}

.row-2>ul li {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    height: 240px;
    margin-bottom: 20px;
    border-radius: 20px;
    position: relative;
}

.row-2>ul li .left {
    float: left;
    margin: 20px 0 0 35px;
    width: 950px;
}

.row-2>ul li .left .r1 {
    border-bottom: 1px solid #eee;
    height: 110px;
}

.row-2>ul li .left .avatar-fin {
    float: left;
    width: 420px;
    height: 110px;
}

.row-2>ul li .left .img-box {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
}

.row-2>ul li .left .img-box img {
    width: 100%;
    height: 100%;
}

.row-2>ul li .left .avatar-fin p {
    padding-left: 95px;
}

.row-2>ul li .left .avatar-fin p i {
    font-size: 20px;
    font-weight: bold;
    display: block;
    width: 100%;
    padding-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row-2>ul li .left .avatar-fin p span {
    color: #999;
    font-size: 15px;
    display: block;
    padding-top: 8px;
}

.row-2>ul li .left .txt {
    float: right;
    width: 530px;
    padding-top: 10px;
    font-size: 15px;
    color: #000;
}

.row-2>ul li .left .txt .cell {
    float: left;
    width: 50%;
    margin-bottom: 10px;
    padding-left: 15px;
}

.row-2>ul li .left .txt .cell.even {
    padding-left: 60px;
}

.row-2>ul li .left .txt .cell span {
    color: #999;
}

.row-2>ul li .left .txt .cell i {
    color: #000;
    margin-left: 10px;
}

.row-2>ul li .left .r2 .col {
    width: 33.3%;
    float: left;
    text-align: center;
}

.row-2>ul li .left .r2 .col i {
    font-size: 24px;
    color: #29a643;
    font-weight: bold;
    display: block;
    padding: 26px 0 8px;
}

.row-2>ul li .left .r2 .col:last-child i {
    color: #000;
}

.row-2>ul li .left .r2 .col span {
    color: #999;
    font-size: 15px;
}

.row-2>ul li .right {
    position: absolute;
    right: 0;
    top: 50%;
    width: 180px;
    -webkit-transform: translate(0, -50%);
}

.row-2>ul li .right button {
    width: 120px;
    height: 40px;
    border-radius: 50px;
    background-color: #29a643;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.row-2>ul li .right button.buy {
    margin-top: 35px;
}

.row-2>ul li .right button.details {
    background-color: #d51820;
}

.row-2>ul li .right button:hover {
    background-color: #238c38;
}

.row-2>ul li .right button.details:hover {
    background-color: #b30000;
}

.row-2 .more {
    text-align: center;
    margin-top: 40px;
}

.row-2 .more a {
    display: inline-block;
    width: 220px;
    height: 50px;
    line-height: 50px;
    border-radius: 60px;
    background-color: #29a643;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.row-2 .more a:hover {
    background-color: #238c38;
}

footer {
    height: 300px;
    background-color: #333;
    text-align: center;
}

footer .cell {
    padding-top: 100px;
    font-size: 26px;
    color: #fff;
}

.fin-pro-details .upper {
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 10px 0;
}

.fin-pro-details .item {
    width: 20%;
    float: left;
    padding: 5px 15px;
    color: #888;
}

.fin-pro-details .item i {
    color: #000;
    margin-left: 5px;
}

.fin-pro-details .under {
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #eee;
    border-radius: 3px;
}

.fin-pro-details .under h5 {
    font-size: 18px;
    color: #000;
}

.fin-pro-details .under p {
    padding: 15px 0;
}

.fin-pro-details .under a {
    color: #29a643;
    margin-right: 10px;
}

.fin-pro-details .under a:hover {
    text-decoration: underline;
}

.fin-pro-details .dialog-head-box {
    height: 35px;
    line-height: 35px;
    margin-bottom: 20px;
}

.fin-pro-details .dialog-head-box span {
    margin: 0 10px;
    font-size: 16px;
    color: #888;
    position: relative;
    float: left;
    cursor: pointer;
}

.fin-pro-details .dialog-head-box span.active {
    color: #000;
}

.fin-pro-details .dialog-head-box span.active:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #29a643;
    bottom: 0;
    left: 0;
}

.fin-pro-details .dialog-head-box a .active:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #29a643;
    bottom: 0;
    left: 0;
}

.fin-pro-details .dialog-head-box a ::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #29a643;
    bottom: 0;
    left: 0;
}

.fin-pro-details table {
    width: 100%;
}

.fin-pro-details th,
.fin-pro-details td {
    height: 50px;
    text-align: center;
}

.fin-pro-details th {
    background-color: #f5f5f5;
}

.fin-pro-details td {
    border-bottom: 1px solid #ddd;
}

.fin-pro-details .product-info,
.fin-pro-details .product-order-records,
.fin-pro-details .product-flows,
.fin-pro-details .product-trad-history {
    min-height: 230px;
}

.fin-pro-details .empty i {
    font-size: 60px;
    line-height: 80px;
}

.page-title {
    height: 75px;
    line-height: 50px;
    padding-top: 25px;
    width: 1200px;
    margin: 0 auto;
}

.page-title h3 {
    font-size: 24px;
    float: left;
}

.page-title .links {
    float: right;
}

.page-title .links a {
    margin-left: 20px;
    font-size: 14px;
    color: #888;
}

.page-title .links i {
    font-size: 18px;
    margin-right: 3px;
    position: relative;
    top: -1px;
}

.page-title .links .icon-product {
    margin-right: 3px;
}

.page-title .links .icon-record {
    margin-right: 2px;
}

.page-title a:hover {
    color: #000;
}

.filter {
    width: 1200px;
    margin: 10px auto 0;
}

.filter span,
.filter a {
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.filter .tab-head {
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #eee;
    font-size: 20px;
}

.filter .tab-head span,
.filter .tab-head a {
    float: left;
    color: #888;
    position: relative;
    padding: 0 20px;
    cursor: pointer;
}

.filter .tab-head span:hover,
.filter .tab-head a:hover {
    color: #000;
}

.filter .tab-head span.active,
.filter .tab-head a .active {
    color: #000;
}

.filter .tab-head span.active em,
.filter .tab-head a .active em {
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #d51820;
    left: 50%;
    bottom: -1px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 10;
}

.filter .tab-head span.active i,
.filter .tab-head a .active i {
    position: absolute;
    content: " ";
    display: block;
    height: 0;
    width: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    left: -6px;
    top: 2px;
}

.filter .tab-head span.active:after,
.filter .tab-head a .active:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #d51820;
    bottom: -1px;
    left: 0;
}

.filter .tab-content {
    margin-top: 30px;
}

.filter .tab-content span {
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    border: 1px solid #e5e5e5;
    color: #888;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.filter .tab-content span:hover {
    border-color: #29a643;
    color: #29a643;
}

.filter .tab-content span.active {
    border-color: #29a643;
    color: #29a643;
}

.filter .tab-content span.active i {
    position: absolute;
    right: -3px;
    bottom: -6px;
    line-height: normal;
    font-size: 24px;
}

.filter .tab-content a.active {
    border-color: #29a643;
    color: #29a643;
}

.filter .tab-content a.active i {
    position: absolute;
    right: -3px;
    bottom: -6px;
    line-height: normal;
    font-size: 24px;
}

.f-pro-pagination-box {
    text-align: center;
    margin: 50px 0 15px;
}

.check-tip {
    position: absolute;
    background: #555;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    bottom: 45px;
    left: 50%;
    line-height: 20px;
    letter-spacing: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.check-tip:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 5px;
    border-bottom-width: 0;
    border-top-color: #555;
    left: calc(50% - 5px);
    bottom: -5px;
}

.fin-pro-buy .buy-box-fin>p {
    height: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #777;
}

.fin-pro-buy .buy-box-fin span {
    color: #777;
    margin-right: 5px;
    display: inline-block;
    text-align: right;
    color: #888;
}

.fin-pro-buy .buy-box-fin li {
    height: 35px;
    line-height: 35px;
    margin-bottom: 20px;
    position: relative;
    width: 350px;
}

.fin-pro-buy .buy-box-fin li.lan-en {
    height: 70px;
}

.fin-pro-buy .buy-box-fin li.lan-en input {
    margin-left: 88px;
}

.fin-pro-buy .buy-box-fin input {
    height: 35px;
    border: 1px solid #ccc;
    width: 230px;
    padding: 0 10px;
    border-radius: 3px;
}

.fin-pro-buy .buy-box-fin input::-webkit-input-placeholder {
    color: #bbb;
}

.fin-pro-buy .buy-box-fin .btn {
    padding-left: 88px;
}

.fin-pro-buy .buy-box-fin button {
    width: 120px;
    height: 41px;
    background-color: #29a643;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
}

.fin-pro-buy .buy-box-fin button:hover {
    background-color: #238c38;
}

row-4 {
    padding: 0 0 50px;
}

.row-4 ul {
    width: 1200px;
    margin: 60px auto 0;
    min-height: calc(100vh - 450px);
}

.row-4 li {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eee;
}

.row-4 li:last-child {
    border: 0;
}

.row-4 li .title h5 {
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

.row-4 li .title p {
    color: #aaa;
    font-size: 14px;
    font-weight: normal;
    display: block;
    padding-top: 5px;
}

.row-4 li>p {
    font-size: 15px;
    margin-top: 5px;
}

.row-4 li>a {
    display: block;
    color: #29a643;
    margin-top: 5px;
}

.row-4 li>a:hover {
    color: #238c38;
}

.row-4 .more {
    text-align: center;
}

.row-4 .more a {
    display: inline-block;
    width: 120px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #29a643;
    border-radius: 3px;
    color: #29a643;
}

.row-4 .more a:hover {
    color: #238c38;
    border-color: #238c38;
}

.fin-pro-details .upper {
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 10px 0;
}

.fin-pro-details .item {
    width: 20%;
    float: left;
    padding: 5px 15px;
    color: #888;
}

.fin-pro-details .item i {
    color: #000;
    margin-left: 5px;
}

.fin-pro-details .under {
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #eee;
    border-radius: 3px;
    max-height: 410px;
    overflow: auto;
}

.fin-pro-details .under h5 {
    font-size: 18px;
    color: #000;
}

.fin-pro-details .under>div {
    word-break: normal;
    word-wrap: break-word;
}

.fin-pro-details .under p {
    padding: 15px 0;
}

.fin-pro-details .under a {
    color: #0097e8;
    margin-right: 10px;
}

.fin-pro-details .under a:hover {
    text-decoration: underline;
}

.article-pagination-box {
    text-align: center;
    margin: 50px 0 15px;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.empty {
    text-align: center;
    padding-top: 50px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

.empty i {
    font-size: 80px;
    color: #cecece;
    display: block;
    line-height: 100px;
}

.empty span {
    font-size: 16px;
    color: #aaa;
}

.row3 {
    display: flex;
    justify-content: space-between;
}

.card3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.65em 1em;
    background: var(--white);
    margin: 0.85rem;
    border-radius: var(--border-radius);
}

.card--dark {
    background: #eaeffd;
}

.card__header {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.card__title,
.card__sub-title {
    font-size: 0.6em;
    color: var(--gray);
    text-align: center;
    line-height: 1;
}

.card__title {
    text-transform: uppercase;
}

.card__title--notification {
    position: relative;
}

.card__title--notification::after {
    content: '';
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background: var(--green);
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(0.35rem);
}

.card__sub-title,
.card__sub-title a {
    color: var(--dark-gray);
}

.card__price,
.card__progess {
    font-size: 2em;
    font-family: 'Roboto Slab', serif;
    line-height: 1;
    padding: 0.45rem 0;
}

.card__progess {
    font-size: 1.75em;
}

.card__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card__inner>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__link {
    text-decoration: underline;
}

.graph {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 2.75em;
    position: relative;
}

.graph::after {
    content: '';
    width: 100%;
    height: 1px;
    margin: 0 auto;
    z-index: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: 1px dashed var(--gray);
}

.graph__line {
    flex: 1;
    background: var(--graph-grey);
    height: 20%;
    width: 0.7em;
    margin: 0 0.05rem;
    border-radius: 0.15rem;
    z-index: 1;
    position: relative;
}

.graph__line--active {
    background: var(--graph-purple);
}

.graph__line--active:nth-child(1) {
    height: 65%;
}

.graph__line--active:nth-child(2) {
    height: 55%;
}

.graph__line--active:nth-child(3) {
    height: 75%;
}

.graph__line--active:nth-child(4) {
    height: 45%;
}

.graph__line--active:nth-child(4) {
    height: 55%;
}

.graph__line--active:nth-child(5) {
    height: 65%;
}

.graph__line--active:nth-child(6) {
    height: 55%;
}


/******************************************** Animations ********************************************/

.card[data-animate-top] {
    animation: flyInTop var(--transition-duration);
}

.card[data-animate-bottom] {
    animation: flyInBottom var(--transition-duration);
}

@keyframes flyInTop {
    from {
        transform: translateY(-300%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes flyInBottom {
    from {
        transform: translateY(300%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.dribble {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: var(--white);
    transition: transform 0.3s ease-in-out;
}

.dribble:hover {
    transform: translateY(-0.5rem);
}


/*FAQ Styling*/

.transition,
p,
ul li i:before,
ul li i:after {
    transition: all 0.25s ease-in-out;
}

.flipIn,
h1,
ul li {
    animation: flipdown 0.5s ease both;
}

.no-select,
h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.para {
    color: rgba(48, 69, 92, .8);
    font-size: 13px;
    line-height: 20px;
    /* letter-spacinsg: 1px; */
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translateY(25%);
    /* margin-top: 14px; */
    z-index: 2;
    margin-bottom: 2rem;
}

.ulist {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
    color: #675b6d f0;
    width: 100%;
}

.ulist li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 18px;
    border-top: 1px dotted #dce7eb;
    text-shadow: 1px 1px dark-gray;
}

.ulist li:nth-of-type(1) {
    animation-delay: 0.5s;
}

.ulist li:nth-of-type(2) {
    animation-delay: 0.75s;
}

.ulist li:nth-of-type(3) {
    animation-delay: 1s;
}

.ulist li:nth-of-type(4) {
    animation-delay: 1.25s;
}

.ulist li:nth-of-type(5) {
    animation-delay: 1.5s;
}

.ulist li:last-of-type {
    padding-bottom: 0;
}

.ulist li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
}

.ulist li i:before,
.ulist li i:after {
    content: "";
    position: absolute;
    background-color: #ff6873;
    width: 3px;
    height: 9px;
}

.ulist li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}

.ulist li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}

.ulist li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.ulist li input[type=checkbox]:checked~p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

.ulist li input[type=checkbox]:checked~i:before {
    transform: translate(2px, 0) rotate(45deg);
}

.ulist li input[type=checkbox]:checked~i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }
    5% {
        opacity: 1;
    }
    80% {
        transform: rotateX(8deg);
    }
    83% {
        transform: rotateX(6deg);
    }
    92% {
        transform: rotateX(-3deg);
    }
    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}

.ulist li:hover,
.ulist li:active {
    color: #6aac0e;
    font-weight: 800;
}

.ulist li input[type=checkbox]:checked {
    color: #6aac0e;
    font-weight: 800;
}

a .prodBtn {
    color: #6aac0e;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a .prodBtn:hover {
    color: #74c109;
    text-decoration: underline;
}

::-moz-selection {
    /*    background: #74c109;*/
    color: #fff;
}

::selection {
    /*   background: #74c109;*/
    color: #fff;
}

.prodBtn {
    border-radius: 3px;
    min-width: 230px;
    position: relative;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    cursor: pointer;
    transition: box-shadow 0.4s, color 0.4s, background-color 0.4s, transform 0.4s;
    text-align: center;
    display: inline-block;
    padding: 1em;
    transform: translateY(0);
}

.prodBtn:focus,
.prodBtn:hover:focus {
    outline: none;
    box-shadow: none;
}

.prodBtn:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .25);
    text-decoration: none;
    transform: translateY(-2px);
}

.prodBtn.btn-primary {
    background: #6aac0e;
    color: #fff;
}

.prodBtn.btn-primary:hover {
    background: #74c109;
    color: #fff;
}

.prodBtn.btn-primary:focus {
    background: #74c109;
    color: #fff;
}

a .prodBtn {
    transition: color 0.4s;
}

a .prodBtn:hover {
    text-decoration: none;
    color: #74c109;
}

a.prodBtn:focus,
a.prodBtn:hover:focus {
    color: #74c109;
}

.btn-group .prodBtn {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 13px;
    padding-top: 24px;
    padding-bottom: 24px;
}

a .prodBtn {
    color: #009cfc;
}

.productBody {
    background-color: #211f23;
    background-repeat: no-repeat;
    *zoom: 1;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF53455B', endColorstr='#FF201E22');
    background-image: url('data:image/svg+xml; base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjAlIiByPSI3MCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1MzQ1NWIiLz48c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzIwMWUyMiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -moz-radial-gradient(top, circle, #53455b 0%, #201e22 70%);
    background-image: -webkit-radial-gradient(top, circle, #53455b 0%, #201e22 70%);
    background-image: radial-gradient(circle at top, #53455b 0%, #201e22 70%);
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    min-height: 100%;
    line-height: 1.5;
    padding: 2.5em 0;
}


/* .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
} */

.group:after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #333;
    font-size: 14px;
    overflow-x: hidden;
    line-height: 22px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 1.5%;
}

.pb-3,
.py-3 {
    padding-bottom: 1rem !important;
}

.pt-2,
.py-2 {
    padding-top: 0.5rem !important;
}

.text-center {
    text-align: center !important;
}

.pl-2,
.px-2 {
    padding-left: 0.5rem !important;
}

.pr-2,
.px-2 {
    padding-right: 0.5rem !important;
}

.pt-3,
.py-3 {
    padding-top: 1rem !important;
}

.pb-1,
.py-1 {
    padding-bottom: 0.25rem !important;
}

.pb-2,
.py-2 {
    padding-bottom: 0.5rem !important;
}

.data {
    color: #81878b;
    margin-top: 1em;
}

.data li {
    width: 32%;
    text-align: center;
    display: inline-block;
    font-size: 2em;
    border-right: solid 1px #bdc3c7;
}

.data li:last-child {
    border: none;
}

.data li span.title {
    display: block;
    text-transform: uppercase;
    font-size: 0.85em;
    margin-top: 0.6em;
    font-weight: 700;
}

.grid-1-5 {
    border: 2px solid #5d4e65;
    min-height: 350px;
    padding: 1.5em 0.6em;
    margin: 0em 4em;
    position: relative;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.container3 {
    display: flex;
    flex-direction: column;
    width: 800px;
}

header .right .customer.en[data-v-adedc7c0],
header .right .login.en[data-v-adedc7c0] {
    width: 200px;
    white-space: nowrap;
}

@media screen and (min-width: 700px) {
    .grid-1-5 {
        float: inherit;
        width: 85%;
    }
}

@media screen and (min-width: 800px) {
    .grid-1-5 {
        width: 85%;
    }
}

@media screen and (min-width: 1120px) {
    .grid-1-5 {
        width: 85%;
    }
    .grid-1-5:nth-child(odd),
    .grid-1-5:nth-child(3n+1) {
        clear: none;
    }
}

.grid-1-5:hover {
    background-color: #53455b;
    *zoom: 1;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF53455B', endColorstr='#FF201D22');
    background-image: url('data:image/svg+xml; base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUzNDU1YiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwMWQyMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #53455b), color-stop(100%, #201d22));
    background-image: -moz-linear-gradient(top, #53455b 0%, #201d22 100%);
    background-image: -webkit-linear-gradient(top, #53455b 0%, #201d22 100%);
    background-image: linear-gradient(to bottom, #53455b 0%, #201d22 100%);
    border-top: 2px solid #ec7a37;
    border-bottom: 2px solid #ff4f69;
    box-shadow: 0px 0px 10px 0px #323232;
    transform: scale(1.025);
    z-index: 2;
}

.grid-1-5:hover:before,
.grid-1-5:hover:after {
    content: "";
    position: absolute;
    background-color: #d4af37;
    *zoom: 1;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFd4af37', endColorstr='#FFFF4F68');
    background-image: url('data:image/svg+xml; base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2N2QzNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNGY2OCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f67d35), color-stop(100%, #ff4f68));
    background-image: -moz-linear-gradient(top, #d4af37 0%, #ff4f68 100%);
    background-image: -webkit-linear-gradient(top, #d4af37 0%, #ff4f68 100%);
    background-image: linear-gradient(to bottom, #d4af37 0%, #ff4f68 100%);
    top: -2px;
    bottom: -2px;
    width: 2px;
}

.grid-1-5:hover:before {
    left: -2px;
}

.grid-1-5:hover:after {
    right: -2px;
}

.grid-1-5:hover ul {
    color: goldenrod;
    font-size: 0.75em;
    list-style-type: none;
    padding: 0;
}

.grid-1-5:hover .button {
    background-color: #ee7a36;
    *zoom: 1;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEE7A36', endColorstr='#FFEB495D');
    background-image: url('data:image/svg+xml; base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlN2EzNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViNDk1ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ee7a36), color-stop(100%, #eb495d));
    background-image: -moz-linear-gradient(left, #ee7a36 0%, #eb495d 100%);
    background-image: -webkit-linear-gradient(left, #ee7a36 0%, #eb495d 100%);
    background-image: linear-gradient(to right, #ee7a36 0%, #eb495d 100%);
}


/* h2, h3, p, ul {
	 margin: 0;
}
 h2 {
	 font-size: 1em;
	 font-weight: 400;
	 margin: 0 0 0.5em;
}
 h3 {
	 font-size: 1.5em;
	 letter-spacing: 0.0625em;
	 margin: 0 0 0.3333333333333333em;
}
 */


/* p {
	 font-size: 0.875em;
}
*/

p,
ul {
    margin: 0 0 1.5em;
}

ul {
    font-size: 0.75em;
    list-style-type: none;
    padding: 0;
}

.uppercase,
.button,
h2 {
    text-transform: uppercase;
}


/*product boxes styling end */

.HeroLoadtext {
    margin-top: 25px;
    text-shadow: 2px 2px #000;
    -webkit-animation: fadein 4s;
    -moz-animation: fadein 4s;
    -ms-animation: fadein 4s;
    -o-animation: fadein 4s;
    animation: fadein 4s;
}

.HeroLoadtextSub {
    /* margin-top: 25px;
	 font-size: 21px;
	*/
    text-shadow: 2px 2px #000;
    text-align: center;
    -webkit-animation: fadein 8s;
    -moz-animation: fadein 8s;
    -ms-animation: fadein 8s;
    -o-animation: fadein 8s;
    animation: fadein 8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.section-light {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

.section-white {
    background-color: #fefefe;
    border-color: #f0f0f0;
}

.container2 {
    /* margin: 0;
	 padding: 0;
	*/
    /* background: #fefefe;
	*/
    font-weight: 400;
    line-height: 1.5;
    color: #343434;
    padding: 0rem 0rem !important;
    max-width: 1250px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container3 {
    /* margin: 0;
	 padding: 0;
	*/
    /* background: #fefefe;
	*/
    font-weight: 400;
    line-height: 1.5;
    color: #343434;
    padding: 8em 0em 5em 0em;
    max-width: 1250px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.LBrick {
    padding: 22px;
}

.RBrick {
    padding: 22px;
}

.overlay {
    position: absolute;
    transition: 0.5s ease;
    height: 450px;
    width: inherit!important;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.45;
}

.overlay2 {
    background: black;
    background-size: cover;
    height: inherit;
    width: 102vw;
    position: absolute;
    opacity: 0.45;
}

.container .overlay:hover {
    opacity: 0.45;
}

.overlayCI {
    position: absolute;
    transition: 0.5s ease;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.45;
}

.container .overlayCI:hover {
    opacity: 1;
}

.blueSectionBg {
    background-color: #d4efff 6b;
}

p {
    text-shadow: 0.31px 0.31px #000;
    font-family: 'Montserrat', sans-serif;
}


/* @media screen and (max-width:1200px) {
	 .hDIWSection {
		 height: 522px !important;
	}
}
*/


/*product boxes styling start*/


/* html {
	 box-sizing: border-box;
	 height: 100%;
}
 *, *:before, *:after {
	 box-sizing: inherit;
}
 productBody {
	 background-color: #211f23;
	 background-repeat: no-repeat;
	 *zoom: 1;
	 filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF53455B', endColorstr='#FF201E22');
	 background-image: url('data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjAlIiByPSI3MCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1MzQ1NWIiLz48c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzIwMWUyMiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	 background-size: 100%;
	 background-image: -moz-radial-gradient(top, circle, #53455b 0%, #201e22 70%);
	 background-image: -webkit-radial-gradient(top, circle, #53455b 0%, #201e22 70%);
	 background-image: radial-gradient(circle at top, #53455b 0%, #201e22 70%);
	 color: #fff;
	 font-family: 'Lato', sans-serif;
	 font-size: 100%;
	 min-height: 100%;
	 line-height: 1.5;
	 padding: 2.5em 0;
}
 */

.productBody {
    background-color: #211f23;
    background-repeat: no-repeat;
    *zoom: 1;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF53455B', endColorstr='#FF201E22');
    background-image: url('data:image/svg+xml; base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjAlIiByPSI3MCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1MzQ1NWIiLz48c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzIwMWUyMiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -moz-radial-gradient(top, circle, #53455b 0%, #201e22 70%);
    background-image: -webkit-radial-gradient(top, circle, #53455b 0%, #201e22 70%);
    background-image: radial-gradient(circle at top, #53455b 0%, #201e22 70%);
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    min-height: 100%;
    line-height: 1.5;
    padding: 2.5em 0;
}


/* .container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
} */

.group:after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #333;
    font-size: 14px;
    overflow-x: hidden;
    line-height: 22px;
}

.grid-1-5 {
    border: 2px solid #5d4e65;
    min-height: 350px;
    padding: 1.5em 0.6em;
    margin: 0em 4em;
    position: relative;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

header .right .customer.en[data-v-adedc7c0],
header .right .login.en[data-v-adedc7c0] {
    width: 200px;
    white-space: nowrap;
}

@media screen and (min-width: 700px) {
    .grid-1-5 {
        width: 85%;
    }
}

@media screen and (min-width: 800px) {
    .grid-1-5 {
        width: 85%;
    }
}

@media screen and (min-width: 1120px) {
    .grid-1-5 {
        width: 85%;
    }
    .grid-1-5:nth-child(odd),
    .grid-1-5:nth-child(3n+1) {
        clear: none;
    }
}

.grid-1-5:hover {
    background-color: #53455b;
    *zoom: 1;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF53455B', endColorstr='#FF201D22');
    background-image: url('data:image/svg+xml; base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUzNDU1YiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwMWQyMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #53455b), color-stop(100%, #201d22));
    background-image: -moz-linear-gradient(top, #53455b 0%, #201d22 100%);
    background-image: -webkit-linear-gradient(top, #53455b 0%, #201d22 100%);
    background-image: linear-gradient(to bottom, #53455b 0%, #201d22 100%);
    border-top: 2px solid #ec7a37;
    border-bottom: 2px solid #ff4f69;
    box-shadow: 0px 0px 10px 0px #323232;
    transform: scale(1.025);
    z-index: 2;
}

.grid-1-5:hover:before,
.grid-1-5:hover:after {
    content: "";
    position: absolute;
    background-color: #d4af37;
    *zoom: 1;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFd4af37', endColorstr='#FFFF4F68');
    background-image: url('data:image/svg+xml; base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2N2QzNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNGY2OCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f67d35), color-stop(100%, #ff4f68));
    background-image: -moz-linear-gradient(top, #d4af37 0%, #ff4f68 100%);
    background-image: -webkit-linear-gradient(top, #d4af37 0%, #ff4f68 100%);
    background-image: linear-gradient(to bottom, #d4af37 0%, #ff4f68 100%);
    top: -2px;
    bottom: -2px;
    width: 2px;
}

.grid-1-5:hover:before {
    left: -2px;
}

.grid-1-5:hover:after {
    right: -2px;
}

.grid-1-5:hover ul {
    color: goldenrod;
    font-size: 0.75em;
    list-style-type: none;
    padding: 0;
}

.grid-1-5:hover .button {
    background-color: #ee7a36;
    *zoom: 1;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEE7A36', endColorstr='#FFEB495D');
    background-image: url('data:image/svg+xml; base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlN2EzNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViNDk1ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ee7a36), color-stop(100%, #eb495d));
    background-image: -moz-linear-gradient(left, #ee7a36 0%, #eb495d 100%);
    background-image: -webkit-linear-gradient(left, #ee7a36 0%, #eb495d 100%);
    background-image: linear-gradient(to right, #ee7a36 0%, #eb495d 100%);
}


/* h2, h3, p, ul {
	 margin: 0;
}
 h2 {
	 font-size: 1em;
	 font-weight: 400;
	 margin: 0 0 0.5em;
}
 h3 {
	 font-size: 1.5em;
	 letter-spacing: 0.0625em;
	 margin: 0 0 0.3333333333333333em;
}
 */


/* p {
	 font-size: 0.875em;
}
*/

p,
ul {
    margin: 0 0 1.5em;
}

ul {
    font-size: 0.75em;
    list-style-type: none;
    padding: 0;
}

.uppercase,
.button,
h2 {
    text-transform: uppercase;
}


/*product boxes styling end */

.HeroLoadtext {
    margin-top: 25px;
    /* font-size: 21px;
	 text-align: center;
	*/
    text-shadow: 2px 2px #000;
    -webkit-animation: fadein 4s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s;
    /* Firefox < 16 */
    -ms-animation: fadein 4s;
    /* Internet Explorer */
    -o-animation: fadein 4s;
    /* Opera < 12.1 */
    animation: fadein 4s;
}

.HeroLoadtextSub {
    /* margin-top: 25px;
	 font-size: 21px;
	*/
    text-shadow: 2px 2px #000;
    text-align: center;
    -webkit-animation: fadein 8s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 8s;
    /* Firefox < 16 */
    -ms-animation: fadein 8s;
    /* Internet Explorer */
    -o-animation: fadein 8s;
    /* Opera < 12.1 */
    animation: fadein 8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.section-light {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

.section-white {
    background-color: #fefefe;
    border-color: #f0f0f0;
}

.container2 {
    /* margin: 0;
	 padding: 0;
	*/
    /* background: #fefefe;
	*/
    font-weight: 400;
    line-height: 1.5;
    color: #343434;
    padding: 1.4rem 0rem;
    max-width: 1250px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container3 {
    /* margin: 0;
	 padding: 0;
	*/
    /* background: #fefefe;
	*/
    font-weight: 400;
    line-height: 1.5;
    color: #343434;
    padding: 8em 0em 5em 0em;
    max-width: 1250px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.LBrick {
    padding: 22px;
}

.RBrick {
    padding: 22px;
}

.overlay {
    position: absolute;
    transition: 0.5s ease;
    height: 450px;
    width: inherit;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.45;
}

.blueSectionBg {
    background-color: #d4efff 6b;
}

p {
    text-shadow: 0.31px 0.31px #000;
    font-family: 'Montserrat', sans-serif;
}

h1,
.h1 {
    font-size: 36px;
}

.page-title {
    height: 75px;
    line-height: 50px;
    padding-top: 25px;
    width: 1200px;
    margin: 0 auto;
}

.page-title h3 {
    font-size: 24px;
    float: left;
}

.page-title .links {
    float: right;
}

.page-title .links a {
    margin-left: 20px;
    font-size: 14px;
    color: #fff;
}

.page-title .links i {
    font-size: 18px;
    margin-right: 3px;
    position: relative;
    top: -1px;
}

.page-title .links .icon-product {
    margin-right: 3px;
}

.page-title .links .icon-record {
    margin-right: 2px;
}

.page-title a:hover {
    color: #000;
}

.filter {
    width: 100%;
    /* margin: 10px auto 0;*/
}

.filter span,
.filter a {
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.filter .tab-head {
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    width: 100%;
    width: -webkit-fill-available;
}

.filter .tab-head span,
.filter .tab-head a {
    float: left;
    color: #888;
    position: relative;
    /*    padding: 0 20px;*/
    width: 25%;
    font-size: 18px;
    cursor: pointer;
}

.filter .tab-head span:hover,
.filter .tab-head a:hover {
    color: #000;
}

.filter .tab-head span.active,
.filter .tab-head a .active {
    color: #000;
}

.filter .tab-head span.active em,
.filter .tab-head a .active em {
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #d51820;
    left: 50%;
    bottom: -1px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 10;
}

.filter .tab-head span.active i,
.filter .tab-head a .active i {
    position: absolute;
    content: " ";
    display: block;
    height: 0;
    width: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    left: -6px;
    top: 2px;
}

.filter .tab-head span.active:after,
.filter .tab-head a .active:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #d51820;
    bottom: -1px;
    left: 0;
}

.filter .tab-content {
    margin-top: 30px;
}

.filter .tab-content span {
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    border: 1px solid #e5e5e5;
    color: #888;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.filter .tab-content span:hover {
    border-color: #29a643;
    color: #29a643;
}

.filter .tab-content span.active {
    border-color: #29a643;
    color: #29a643;
}

.filter .tab-content span.active i {
    position: absolute;
    right: -3px;
    bottom: -6px;
    line-height: normal;
    font-size: 24px;
}

.filter .tab-content a.active {
    border-color: #29a643;
    color: #29a643;
}

.filter .tab-content a.active i {
    position: absolute;
    right: -3px;
    bottom: -6px;
    line-height: normal;
    font-size: 24px;
}

.filter .tab-head span.active em,
.filter .tab-head a.active em {
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #d51820;
    left: 50%;
    bottom: -1px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 10;
}

.filter .tab-head a .active:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    /* background-color: #D51820; */
    bottom: -1px;
    left: 0;
}

.filter .tab-head a.active:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    /* background-color: #D51820; */
    bottom: -1px;
    left: 0;
}

.filter .tab-head a.active {
    color: #000;
}

.filter .tab-head a.active em {
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #d51820;
    left: 50%;
    bottom: -1px;
    transform: translate(-50%);
    z-index: 10;
}

.filter .tab-head a.active i {
    position: absolute;
    content: " ";
    display: block;
    height: 0;
    width: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    left: -6px;
    top: 2px;
}

::selection {
    /*    background: #74c109;*/
    color: #fff;
}

@media screen and (min-width:3000px) {
    #introductionHero {
        padding-top: 1%!important;
    }
    #peace h2,
    #depo {
        top: 6vh !important;
    }
    #peace .text-left {
        top: 1vh !important;
    }
    #peaceText,
    #depoText,
    #stocksText {
        padding: 3em !important;
    }
    #depoOverlay {
        width: 100%!important;
    }
    .container .container2 {
        padding: 0!important;
    }
    .row {
        padding-bottom: 1.5%;
    }
    #stocks h2 {
        top: 4vh !important;
    }
    #stocks .text-left {
        top: 0 !important;
    }
    #seesawOverlay {
        padding: 0
    }
    #productsCards {
        display: block;
        max-width: unset;
    }
    #cardsRow {
        display: flex;
    }
}