<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">关于我们</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">关于我们</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                  <router-link to="/contact">
                      <i class="contact"></i>
                      <span>联系我们</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="api-tutorials video-player"></div>
          -->
          <div class="container top80 about-xm">
            <div class="box-border">
              <div class="box-border1">
                <small>为无经验投资者</small>
                <h4>提供高手担保的</h4>
                <p class="big">安心托管与理财服务。</p></div>
              <div class="visible-sm visible-xs dis20"></div>
              <div class="box-border1">
                <small>为有经验投资者</small>
                <h4>提供完美交易体验</h4>
                <p class="big">超快速执行订单，无重复报价、无拒绝订单。</p></div>
              <div class="visible-sm visible-xs dis20"></div>
              <div class="box-border1">
                <small>为程序化投资者</small>
                <h4>提供MT5程序化定制</h4>
                <p class="big">免费咨询，免费定制，手把手实现您的金融生产线。</p></div>
            </div>
          </div>
          <section class="">
            <section class="section bottom top80">
              <div class="container-fluid">
                <div class="container about-xm">
                  <div class="row">
                    <div class="col-md-12">
                      <h2 class="big text-center">BIG. FAIR. HUMAN.</h2>
                      <p class="text-center">选择NOBLE SKY，您就选择了一个遍布全球、公平诚信、以人为本的经纪商。</p></div>
                    <div class="col-md-12 top80">
                      <h2>
                        <span class="red">遍布全球</span>, 卓越，专业</h2></div>
                    <div class="col-md-8">
                      <p>2009年成立至今，已经拥有超过500,000名客户， NOBLE SKY 已经发展为国际知名的投资公司，成为行业真正的领袖。</p>
                      <p>NOBLE SKY目前拥有150多位在金融领域拥有多年从业经验的专业人士。</p>
                      <p>除了专业知识，我们还提供全球高手发布个人产品平台，帮助无经验的投资者实现低风险高回报的投资体验，同时也让真正的高手实现个人品牌曝光，快速融资与超高回报，这是只有杰出的经纪商才能做到的。</p>
                    </div>
                    <div class="col-md-4">

                      <ul class="checks">
                        <li>超过 500,000名客户</li>
                        <li>客户遍布196个国家</li>
                        <li>多种安全支付方式</li>
                        <li>MT5交易平台，功能齐全</li>
                        <li>用户间互动理财模式支持</li>
                        <li>私人客户服务</li></ul>
                    </div>
                    <div class="col-md-12 top80 hidden-xs hidden-sm">
                      <h2>
                        <span class="red">公平诚信</span>, 值得信赖</h2>
                      <div class="dis30"></div>
                      <div class="box-border">
                        <div class="box-border2">
                          <div class="text-center">
                            <i class="tfxfont3 xmStamp fs100 red"></i>
                          </div>
                          <p class="top20">在NOBLE SKY交易， 意味着在一个公平诚信的交易商交易。</p>
                          <p>我们不区分客户的资产净值，投资大小，
                            所有客户的交易环境都是同样的，以保证平台交易的公平性。</p></div>
                        <div class="box-border2">
                          <div class="text-center">
                            <i class="tfxfont3 xmClock fs100 red"></i>
                          </div>
                          <p class="top20">NOBLE SKY严格执行无重复报价、无拒绝订单的原则，以保证给客户提供公平以及值得信赖的交易体验。</p>
                          <p>此外，99.35%的订单会在一秒内成交，无重复报价，无拒绝订单。</p>
                          <p>我们的商业模式依托于我们的公司经营理念：在
                            投资市场，执行力就是一切。</p></div>
                        <div class="box-border2">
                          <div class="text-center">
                            <i class="tfxfont3 xmSafe fs100 red"></i>
                          </div>
                          <p class="top20">在 NOBLE SKY 客户的资金安全是我们的首要任务。我们与世界顶级投资银行合作，公司账户和客户资金分开存放，以保证客户资金安全。</p>
                          <p>零售客户受到投资者赔偿资金的20,000欧元的保障。同时，所有客户都将享有
                            <strong>负余额保护</strong>政策，这使得客户损失永远不会大于其账户余额。</p></div>
                      </div>
                    </div>
                    <div class="col-md-6 top80">
                      <h2>
                        <span class="red">以人为本</span>的公司</h2>
                      <p>NOBLESKY的使命是为所有客户提供制度性的交易服务，不管他们是机构客户还是个人投资者，为所有投资者提供创新的专有技术、低成本的交易、资金安全监管、全面的市场研究工具、先进的教育课程和一流的客户服务。</p>
                      <p>我们关注有效益的可持续增长；</p>
                      <p>我们以负责、专业的态度通过以下方式在全球范围内实现这一目标；</p>
                      <p>在我们所在的业务领域和市场中实施全球市场和技术领先战略；</p>
                      <p>同心协力，共创辉煌：与我们的客户、合作伙伴和其他业务伙伴进行公司内部以及跨部门、跨区域的合作。</p>
                    </div>
                    <div class="col-md-6 hidden-xs hidden-sm" style="margin-top:135px!important;">
                      <img src="../../../static/images/page-img/about/about-map-grey.png" class="img-responsive"></div>
                  </div>
                </div>
              </div>
              <div class="dis60"></div>
            </section>
            <div class="dis80 hidden-xs hidden-sm"></div>
            <div class="container">
              <div class="row">
                <div class="col-md-12 top50">
                  <h2>为什么选择NOBLE SKY？</h2>
                  <p>NOBLESKY培养员工可持续性发展，我们的员工来自不同的文化背景，以应对客户文化、国籍、宗教、民族的多样性。我们的高级平台以及灵活的交易环境满足全球客户需求。我们的专业来源于广泛的经验以及对全球金融市场的深度了解。我们致力于提供最顶级的外汇交易服务，包括CFD、 股价指数、贵金属和能源。</p>
                  <p>我们遵循的经营理念很简单: 保证客户满意，我们就能赢得客户的信任和忠诚。 信誉是和可信度相关联的，两者都是来源于我们按照客户的需求和期望提供服务的能力。通过时刻关注行业动向和技术创新，我们才足以应对客户日益复杂化多样化的需求。在客户订单方面我们从来都不会怠慢，这正是为什么我们能够提供低点差，并且保持最高执行力的原因。</p>
                </div>
              </div>
            </div>
            <div class="container top60 box-text-btn hidden-xs hidden-sm">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <p>外汇交易无重复报价，并按实时报价执行交易
                    <br>16种交易平台可选，适用于所有设备。</p></div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">建立账户</router-link></div>
              </div>
            </div>

          </section>
          <div class="dis70"></div>

        </div>


         <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'



export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=1){
       let pName = this.$route.name
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }


   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },

     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-8 {
       width: 66.66666667%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top40 {
       margin-top: 40px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis40 {
       height: 40px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}


 
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}


.about-xm .box-border1 h4 {
    font-family: "regular","regular_ext",sans-serif;
    font-size: 33px;
    color: #d51820;
    margin: 25px 0;
}

.about-xm .box-border1 small, .about-xm .box-border1 p.big {
    font-size: 18px;
    font-weight: 300;
}


</style>
