<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />

        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">常见问题</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">常见问题</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>联系我们</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container faq hidden-xs hidden-sm hidden-l-sm">
            <div class="row top80">
              <div class="col-md-12">
                <h2>常见问题分类</h2></div>
            </div>
            <div class="row top20">
              <div class="col-12">
                <ul class="features">
                  <li class="col-xs-12 col-sm-3 col-md-3">
                    <a class="scroll" href="#section-1">认证资料问题</a></li>
                  <li class="col-xs-12 col-sm-3 col-md-3">
                    <a class="scroll" href="#section-2">交易账户</a></li>
                  <li class="col-xs-12 col-sm-3 col-md-3">
                    <a class="scroll" href="#section-3">入金/出金</a></li>
                  <li class="col-xs-12 col-sm-3 col-md-3">
                    <a class="scroll" href="#section-4">交易平台</a></li>
                  <li class="col-xs-12 col-sm-3 col-md-3">
                    <a class="scroll" href="#section-5">NOBLE SKY支持功能</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div id="section-1" class="container top80">
            <div class="row">
              <div class="col-md-6">
                <h2>认证资料问题</h2>
                <div id="accordionText"> </div></div>
              <div class="col-md-6">
                <button type="button" class="btnAccordion pull-right" data-parent="#accordion1"> </button></div>
            </div>
            <div class="row top20">
              <div class="col-md-12">
                <div class="panel-group" id="accordion1">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">如果我想成为你们的客户，我需要提供哪些认证资料？</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a1collapse1" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                         <p>一级认证：需提供基本信息、证件信息及地址信息等文字资料</p>
                         <p>二级认证：需上传有效护照或者由权威机构官方出具的其他身份证件的正反面照片</p>
                         <p>（如身份证，驾照等）及手持证件照片。身份证明必须包括客户的姓名，有效日期，客户的地址，出生年月日信息。</p>
                         <p>三级认证：需上传地址证明，必须是 近期的官方账单（如：电，煤气，水，电话，网费，或者银行结单（包含地址），日期必须是近 6 个月内的，并且有注明您的注册地址。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">为什么需要上传资料进行认证？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a1collapse2" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>作为一个合法的被监管公司，我们的所有运作是要按照我们主要监管机构CGSE和SVGFSA的规定来执行。监管要求我们必须收集客户的认证资料，有效的身份证和近期（近 6 个月内）的地址证明。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">如果我第一个账户已经通过认证，那么我再开设账户还需要重新上传认证资料吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a1collapse3" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>需要，每一个账户都需进行认证审核。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">我可以更改我的个人信息吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a1collapse4" class="panel-collapse collapse">
                      <div class="panel-body gray">
                          <p>二级认证资料审核前，可自由更改一级认证填写的个人信息。二级认证审核通过后，个人信息不可更改。</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="section-2" class="container top50">
            <div class="row">
              <div class="col-md-6">
                <h2>交易账户</h2>
                <div id="accordionText"> </div></div>
              <div class="col-md-6">
                <button type="button" class="btnAccordion pull-right" data-parent="#accordion2"> </button></div>
            </div>
            <div class="row top20">
              <div class="col-md-12">
                <div class="panel-group" id="accordion2">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">我如何建立一个真实账户？</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a2collapse1" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>建立账户的步骤简便快捷，点击CRM, 选择右上角的‘注册’按钮，填写注册信息，完成之后即可登录CRM进行认证，认证完成后，即可激活账户并入金交易。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">建立一个真实交易账户需要花多长时间？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse2" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>您如果正确填写完所有资料，所需时间不超过30分钟。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">如何开始交易？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse3" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>如果您已建立了真实账户并通过了认证审核，完成一级认证后，即可激活现货资产。</p>
                        <p>激活流程：在资产页面，选择‘点击开通’。设置MT5交易登录密码和只读密码，点击‘确认开通’。</p>
                        <p>开通成功后，显示账户编号，目前账户是‘未激活’状态，等待激活。激活后，账户显示‘已激活’。</p>
                        <p>激活账户后，即可在CRM出入金页面里进行入金。同时，您可 选择 下载交易平台，进行交易。详尽的交易平台指南 <a href="javascript:">点击这里。</a></p>
                     </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">你们提供什么交易账户类型？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse4" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          <strong>标准（STANDARD）账户：</strong>一标准手相当于 100,000 单位的基础货币
                          <br>
                          <!-- <strong>微型（MICRO）账户：</strong>一微型手相当于 1,000 单位的基础货币
                          <br> -->

                          <br></p>
                        <p>想要了解更多的信息，请
                          <em>
                            <router-link to="/account-types">点击这里</router-link></em>。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">我的NOBLE SKY交易账户该如何注册在代理之下？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse5" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>将您的Noble Sky交易账户注册在代理之下，需要先向您的代理获取推荐码。</p>
                        <p>在注册时，填写该推荐码，即可注册在该代理之下。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">交易账户的最少入金是多少？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse6" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>标准（STANDARD）账户的最低入/出金额是$100</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">你们提供美分账户吗？入金是以美分显示的吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse7" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>我们提供 美元账户。您的入金显示为实际的入金金额，如果入金100美元，您账户余额将显示为100美元。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">你们提供迷你账户吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse8" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          <strong>NOBLE SKY</strong> 提供标准账户。迷你手一般在10,000单位，您可在标准账户交易0.1手（0.1 x 100000 单位=10000单位）便可达到迷你手的效果</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">你们提供纳米账户吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse9" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          <strong>NOBLE SKY</strong>仅提供标准账户</p></div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">可以注册公司账户吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse11" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>很抱歉，不提供此项服务。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">模拟账户可以使用多长时间？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse12" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>在
                          <strong>NOBLE SKY</strong>模拟账户可以永久使用。但是如果您超过90天未登录的话，您的模拟账户将会被关闭。除此之外，您可以随时注册一个新的模拟账户。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">我的亏损有可能大于入金金额吗?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse13" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>不会的, 您亏损的资金不可能超过之前的入金金额。当您的余额因为某一个货币对而变成负数时，我们系统会在您下一次入金之前给您账户余额自动清零。</p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">我的资金安全吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse15" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          <strong>NOBLE SKY</strong>由
                          <em>NOBLE SKY Global Limited</em>经营，为了更好得依照法律法规来保护我们的客户以及客户的资金安全。
                          <strong>NOBLE SKY</strong>将采取以下措施：</p>
                        <ul>
                          <li>
                            <span style="text-decoration:underline;">客户资金隔离</span></li>
                        </ul>
                        <p>所有客户的资金都会被转入公司的客户隔离银行账户。这些资金被列入资产负债表外，因此在公司破产的情况下不会被用于偿还债权人。</p>
                        <ul>
                          <li>
                            <span style="text-decoration:underline;">银行账户</span></li>
                        </ul>
                        <p>我们在银行机构组织下进行操作维护客户的账户。</p>
                        <ul>
                          <li>
                            <span style="text-decoration:underline;">监管制度</span></li>
                        </ul>
                        <p>作为一家受正规监管与许可的证券服务供应商，我们有义务符合严格的财务要求。 因此，应法律要求，我们需要保证足够的流动资金来支付客户的入金，承担货币头寸的波动以及任何应付款项。 此外，外部审计师还会对公司的财务报表进行年度审计。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">如何查看图表？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse16" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>请您在
                          <em>市场报价</em>窗口右键点击想要查看的外汇对子，并且选择
                          <em>图表窗口</em>。您可以托动或者取消任意一个图表窗口。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">你们的点差是多少？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse17" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>我们提供浮动点差，低至0.6个点。无重复报价：客户可享受到最直接的市场价格。您可以点击
                          <a href="https://www.nbstrader.com/#/cn/spreads">这里</a>了解更多关于点差的信息 。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">你们的交易时间是什么？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse18" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>北京时间 周一05:05 到周六05:50。但是某些商品会有不同的交易时间(e.g. CFDs)，详情
                          <a href="javascript:">请点击这里</a>.</p></div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">你们支持新闻数据交易吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse20" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>是的，我们支持</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">你们提供的杠杆是多少？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse21" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>我们提供1:1 –200:1。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">什么是保证金/ 保证金比例/可用保证金？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse22" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>保证金是交易账户开仓或持仓所需要的基础货币金额，例如当交易外汇时，一个特定仓位的所需/已用保证金=手数*合约规模/杠杆。计算结果会先自动以货币对中的前一个货币呈现，接着再转换成您账户的基础货币，此金额会显示在您的MT5上。</p>
                        <p>黄金、白银的保证金需求计算公式为：手数*合约规模*市场报价/杠杆，计算结果以美元呈现。</p>
                        <p>差价合约的所需保证金计算公式为：手数*合约规模*开仓价格*保证金需求。计算结果以美元呈现。更多详情
                          <a href="https://www.nbstrader.com/#/cn/spreads">请点击这里</a>。</p>
                        <p>保证金比例计算公式为：净值/保证金*100%。</p>
                        <p>可用保证金是您的净值减去保证金后的金额，即可用于开仓或者持仓的资金。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">如何计算保证金?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse23" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>保证金计算公式如下:</p>
                        <p>(手数 * 合约规模/ 杠杆) 结果以货币对的第一个货币为准。</p>
                        <p>对于标准账户，所有外汇货币的合约规模是 100 000个单位。对于微型账户，所有外汇货币的合约规模是1 000 个单位。</p>
                        <p>例如，您交易账户的基础货币是美元，杠杆是1:500 ，那么交易一手 EURUSD，保证金按以下公式计算：</p>
                        <p>(1 * 100 000/500) = 200 欧元</p>
                        <p>欧元是货币对 EURUSD的第一个货币，由于您的账户是美元账户，系统将自动根据实时汇率将200 欧元转换成美元。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">黄金/白银保证金公式是什么？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse24" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>黄金/白银保证金公式是
                          <strong>手数 * 合约规模 * 市场价格/ 杠杆</strong>.</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">CFDs保证金公式是什么？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse25" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>差价合约的保证金公式是
                          <strong>手数*合约规模*开仓价格*保证金需求</strong>。了解更多详情
                          <a href="https://www.nbstrader.com/#/cn/spreads">请点击这里</a>。</p></div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">如何计算外汇对子和黄金/白银的隔夜利息？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse26" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>了解隔夜利息费用，
                          <a href="https://www.nbstrader.com/#/cn/overnight-positions">请点击这里</a>。</p>
                        <p>所有外汇中的隔夜利息公式如下，包括黄金和白银：</p>
                        <p>
                          <strong>手数 * 多头或空头头寸* 点数大小</strong></p>
                        <p>
                          <span style="text-decoration:underline;">在这里举一个 EUR/USD</span>的货币对的例子:</p>
                        <p>客户的基础货币是 USD
                          <br>买1手EUR/USD
                          <br>多头 = -3.68
                          <br>由于这是一个买入的仓位，系统将把这个隔夜利息归为多头头寸，它目前的价格是-3.68
                          <br>点数大小=商品合约大小*最小波动价格
                          <br>EUR/USD点数大小= 100 000 * 0.00001 = 1
                          <br>将数据代入公式中1 * (-3.68) * 1 = -3.68 USD。
                          <br>所以买1手EUR/USD货币对的隔夜利息为-3.68 USD。</p>
                        <p>
                          <span style="text-decoration:underline;">举一个黄金的例子</span>:</p>
                        <p>客户基础货币是 USD
                          <br>买入1手黄金
                          <br>多头= -2.17
                          <br>由于这是一个买入的仓位，系统将把这个隔夜利息归为多头头寸，目前价格是-2.17。
                          <br>1点=商品合约规模*最小波动价格
                          <br>黄金1点= 100 * 0.01 = 1
                          <br>将数据代入到公式中，这个式子将是1 * (-2.17) * 1 = -2.17 USD。
                          <br>所以买1手黄金的隔夜利息为 -2.17 USD。</p>
                        <p>请注意如果在交易账户中基础货币是美元，隔夜利息的计算将是从美元到欧元。隔夜利息的计算结果总是用第二个货币表示，并且在交易账户中的系统最终会用基础货币表示。</p>
                        <p>以上范例不代表当前数据，仅供参考。查看最新隔夜利息，外汇点击
                          <a href="https://www.nbstrader.com/#/cn/forex-trading">这里</a>，黄金和白银点击
                          <a href="https://www.nbstrader.com/#/cn/precious-metals">这里</a>。</p></div>
                    </div>
                  </div>
                  <!-- <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">在我的微型账户中，我开了0.01微型手的仓位然后平仓，为什么看不到利润呢？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse27" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>以下计算利润的公式可以帮助您：
                          <br>(平仓价格 – 开仓价格) *合约规模*手数</p>
                        <p>例如</p>
                        <p>您有一个微型账户（合约规模1000），您开0.01手的EUR/USD。
                          <br>开仓价格=1.29987， 平仓价格=1.29906
                          <br>以下是计算公式
                          <br>(1.29906-1.29887)*1000*0.01= 0.0019 USD (这个计算结果是以货币对第二个货币为准)。
                          <br>您可以看到， 0.0019 USD在平台上显示的是很小的盈利，我们只保留盈利部分小数点后2位。</p></div>
                    </div>
                  </div> -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">你们允许剥头皮吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse28" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>是的，我们允许。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">什么是止损？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse29" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>止损是指当某一订单出现亏损高于您设置的亏损价格时的平仓指令。止损是一个点位限制，当止损价格触及之后，订单就会被平仓。请注意，在设置止损价格时需要在现价的基础上达到一定的止盈损距离。关于外汇货币对止盈损距离的更多信息
                          <a href="https://www.nbstrader.com/#/cn/forex-trading">请参照这里</a>。</p>
                        <p>当市场走势对您不利时，设置止损可以减少您的损失。止损点的设定应于多单时低于当前卖价，或于空单时高于当前买价。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">什么是止盈？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse30" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>止盈是指当价格达到客户设定的盈利价格，从而自动执行平仓指令。当盈利已达到预期时，止盈订单就会立刻平仓。请注意，设置止盈损时需要在现价的基础上达到一定的止盈损距离。关于外汇货币对止盈损距离的更多信息
                          <a href="https://www.nbstrader.com/#/cn/forex-trading">请参照这里</a>。</p>
                        <p>止盈点的设定应于空单时低于当前买价，或于多单时高于当前卖价。</p>
                        </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">什么是追踪止损?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse31" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>追踪止损是止损的一种。它是设置在低于多单市价或者高于空单市价的百分比水平，且跟随市场价格移动。请注意，当设置止损订单时，需距离下单价格一定的点位。了解更多货币对的止损距离，
                          <a href="https://www.nbstrader.com/#/cn/forex-trading">请参照这里</a>。</p>
                        </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">什么是
                        <em>互抵平仓</em>?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse32" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          <em>互抵平仓</em>是MT5平台上的一个功能，允许您同时关闭同一金融工具上的两个相对仓位并保存一个差额。
                          <em>买</em>单需要以
                          <em>卖</em>单平仓，
                          <em>卖</em>单需要以
                          <em>买</em>单平仓。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">什么是
                        <em>多头互抵平仓</em>?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse33" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>
                          <em>多头互抵平仓</em>是MT5平台上的一个功能，允许您同时关闭同一金融工具上的两个相对仓位并保存一个差额。
                          <em>买</em>单需要以
                          <em>卖</em>单平仓，
                          <em>卖</em>单需要以
                          <em>买</em>单平仓。</p></div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">如何计算一点的盈亏？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse35" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>基础货币金额*点数=报价货币价值
                          <br>1点EUR/USD价值= 1 手(100 000 €)*0.0001= 10 USD
                          <br>1 点USD/CHF价值= 1 手 (100 000$)*0.0001=10 CHF
                          <br>1 点EUR/JPY价值=1 手(100 000 €)*0.01= 1000 JPY</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">标准账户最小手数是多少?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse36" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>以下是每笔交易量，您可以花费任意金额</p>
                        <p>标准账户：</p>
                        <p>1 手= 100,000
                          <br>最小交易量= 0.01
                          <br>最大交易量= 50
                          <br>交易量 = 0.01</p>
                        <!-- <p>微型账户:</p>
                        <p>1 手 = 1,000
                          <br>最小交易量= 0.01
                          <br>最大交易量= 100
                          <br>交易量= 0.01
                          <br>请注意CFDs 的最小交易手数为1标准手。</p> -->
                          </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">你们允许对冲吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse37" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>我们允许。在您的同一交易账户中，可以自由锁仓交易。锁仓是指您同时做多且做空同一种交易商品。</p>
                        <p>当您锁仓交易时，锁仓预付款只收取单边手数大的。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">什么是杠杆？它是如何执行的？花费的金额越少杠杆越高，风险就越大吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse38" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>杠杆是增加您的余额。您可以通过杠杆利用较低的保证金建立较大交易仓位。甚至可以通过杠杆获取更多的盈利，但是由于您开的仓位过大（手数大小），所以风险也会增加。</p>
                        <p>例如：</p>
                        <p>账户余额：100 USD</p>
                        <p>账户杠杆：1:100</p>
                        <p>你的交易资本将放大成100 * 100 USD = 10,000 USD 的可交易资本（取代原有的100 USD）。</p>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">如何计算CFDs盈利？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse40" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>盈利计算公式如下：
                          <br>（平仓价格-开仓价格）*手数*合约规模
                          <br>CFD手数规模不同，阅读更多信息
                          <a href="https://www.nbstrader.com/#/cn/spreads">请点击这里</a>。</p></div>
                    </div>
                  </div> -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">你们有滑点现象吗?</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse41" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>您在我们这里进行交易是很难遇见滑点现象的。 但是，当发表一些重大的经济新闻时，由于市场价格的迅速增长/下降，您定单执行的点位可能会与您的请求不同。</p>
                        <p>在 NOBLE SKY, 您的订单会向着最有利于您的方向执行。</p>
                        <p>更多 NOBLE SKY 执行策略的相关内容请
                          <a href="https://www.nbstrader.com/#/cn/execution-policy ">查看这里。</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">我可以开设超过一个的交易账户吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse42" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>一个身份证仅可以认证一个真实账户。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">零余额的账户会被关闭吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse43" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>依规定，系统会于90天后自动关闭零余额的交易账户且无法重新开启使用。如果您目前的账户已被关闭且没有其他可用的交易账户，欢迎您点击
                          <a href="https://www.nbstrader.com/#/register">这里</a>注册新的交易账户。</p></div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">如果我下线了，我需要关闭我开设的所有仓位吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse45" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>如果您关闭交易平台，止盈损和挂单仍然会保留。但是当您关闭MT5交易系统后，跟踪系统（止损，止盈）和EA智能交易系统将无效。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">如何查看我的交易记录？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse46" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>您可以在MT5交易软件中导出交易记录。只需在MT5的查看—「工具箱」，右键选择「账户历史」，设置时间段（如: 1年、1个月、1周），然后点击右键「储存报告」即可。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">我可以在线交易的最大金额是多少？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse47" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>在这里，您将没有交易金额的限制，但是您在标准账户单笔可交易的最大手数不得超过 50标准手，在微型账户单笔可交易的最大手数不得超过100微型手。</p>
                        <p>如果您想在您的账户中交易更多的手数，您可以试着减少交易订单。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">为什么周三的隔夜利息会是平时的三倍？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse48" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>在现货外汇市场中，实际体现价值的日期是在两天之后，例如，周四的交易日的价格是在周一体现，周五交易日的价格是在周二体现。 因此在周三我们要计算三天的隔夜利息来补偿周末所造成的隔夜利息（交割日不用支付隔夜利息，因为周末停止交易）。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">你们提供外汇指导吗？我怎样学习外汇交易的基础知识？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse49" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>每一个
                          <strong>NOBLE SKY</strong>客户都有他们自己的个人账户经理，他不仅能提供在线聊天，邮件，电话等全方位技术支持，还能够安排一对一的MetaTrader5基础学习培训课程。</p>
                        </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">你们接受美国客户吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse50" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>根据最近美国国会通过的弗兰克法案，商品期货交易委员会不再允许让美国公民开户与我们进行交易。为此带来的不便我们深表歉意。</p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">什么是一键交易：如何使用它？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse52" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>一键交易可以让您一键关闭开设的仓位。当您想关闭一个仓位时，您只需要手动点击一次即可。</p>
                        <p>一键交易显示在您图表的左上方。当您点击一键交易时它就会出现在窗口的左上角。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">我可以更改我的账户类型吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse53" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>很遗憾，账户类型无法更改。欢迎您登录
                          <router-link to="/login">CRM</router-link>添加新账户并选择您偏好的账户类型。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">如何重置密码？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse54" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>如果您忘记交易账户密码，请联系客服或代理申请重置密码。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">我可以更改账户的基础货币吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse55" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>很遗憾，仅支持USD作为基础货币</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">你们提供二元期权交易吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a2collapse56" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>不提供。</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="section-3" class="container top50">
            <div class="row">
              <div class="col-md-6">
                <h2>入金/出金</h2>
                <div id="accordionText"> </div></div>
              <div class="col-md-6">
                <button type="button" class="btnAccordion pull-right" data-parent="#accordion3"> </button></div>
            </div>
            <div class="row top20">
              <div class="col-md-12">
                <div class="panel-group" id="accordion3">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">选择哪种入金/出金方式？</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse1" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>我们提供虚拟币USDT入金/出金方式。</p>
                        <p>当您开立账户完成，请登录CRM完成认证并激活账户，完成后可点击出入金并依指示操作完成。</p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">最低和最高的入金/出金额分别为多少？</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse3" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>最低入金/出金额度为 100 USD (或等值面额)。 但实际金额仍需根据您选择的支付方式和交易账户状态而定。</p>
                      </div>
                    </div>
                  </div>


                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">我可以随时出金吗?</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse6" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>您的账户必须通过认证才可以出金。首先，您需要登录CRM上传您的资料：身份证明（身份证，护照，驾照）和近3个月的包含您的地址和姓名的地址证明（水，电，煤气，有线电视账单或银行账单），且账单不能超过6 个月。</p>
                        <p>认证通过后, 您便可以登录到CRM, 选择出金选项并向我们提出出金请求。所有出金将由我们的后台客服于工作日的24小时内处理。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">如果我还有未结头寸，我可以出金吗？</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse7" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>可以。但未结的盈利不可出金。</p>

                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">我的入金资金多久可以到帐？</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse8" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>USDT入金一般工作日当日可以到账。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">提交出金申请之后我多久可以收到资金？</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse9" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>后台将会在24小时内处理您的出金申请。USDT出金一般当天即可到账。</p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">出入金有其他手续费吗?</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse11" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>我们出入金不收取任何其他费用，第三方收取的充币/提币费用非我司控制。</p>
                        <p>入金时，我们将以实际收取到的USDT兑换成基础币种到您的交易账户。</p>
                        <p>出金时，我们将以您实际申请的金额充币到您的钱包地址，实际到账金额以第三方到账金额为准。</p>
                      </div>
                    </div>
                  </div>




                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">我交易账户里的资金可以转账到其他客户的交易账户中吗？</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse16" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>这个是不可以的。在不同的客户之间转移资金是被禁止的。</p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">我可以把资金转到另一个账户里吗？</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse19" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>可以。您可以申请同名账户间内部转账。但是请注意，账户必须为同名账户并且都通过认证。</p></div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">是否收取额外费用或佣金？</h4>
                      <i class="fa pull-right fa-angle-down"></i>
                    </div>
                    <div id="a3collapse22" class="panel-collapse collapse" aria-expanded="false" >
                      <div class="panel-body gray">
                        <p>
                          <strong>NOBLE SKY</strong>不收取任何出入金手续费和佣金。</p></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="section-4" class="container top50">
            <div class="row">
              <div class="col-md-6">
                <h2>交易平台</h2>
                <div id="accordionText"> </div></div>
              <div class="col-md-6">
                <button type="button" class="btnAccordion pull-right" data-parent="#accordion4"> </button></div>
            </div>
            <div class="row top20">
              <div class="col-md-12">
                <div class="panel-group" id="accordion4">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">模拟账户和真实账户有什么不同？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse1" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>虽然真实账户中的所有特点和功能都会体现在模拟账户中，但是请记住模拟账户做不到复制真实的市场情况。其中最重要的一点是模拟账户中的下单对市场不会有任影响。相反，真实账户下单会受到市场的影响也会同时影响市场价钱，尤其是在下单量大的情况
                          <strong>NOBLE SKY</strong>模拟账户的执行速度和真实账户是一样的。</p>
                        <p>另外，使用者不同的心里特征也决定了他们是否在模拟账户还是真实账户上盈利。这方面可能影响了模拟账户的评估。对于在模拟账户中得出的任何结论，我们建议使用者应谨慎对待和避免自满。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">我怎样查看我的交易记录？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse2" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>在您的键盘上按住Ctrl+T去打开终端窗口，然后选择
                          <em>历史</em>。右键点击就能够看见文本菜单，在这里您也可以以html file的形式保存交易记录。以便于您在登出交易平台时，方便查看。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">我可以用自动交易员和EA智能交易吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse3" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>是的，您可以。我们平台支持EA.</p>
                      </div>
                    </div>
                  </div>


                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">你们可以提供在线帮助/指导如何使用MT5平台吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse6" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>如果您有任何疑问，可以通过邮件，在线聊天随时与您的客户经理取得联系了解MT5的交易。我们随时乐意为您进行一对一的详细讲解与指导。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">我只可以在MT4上看到8个货币对。我该如何看到其他的货币对？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse7" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>登录您的MT5平台 -&gt;市场窗口 -&gt;右键 -&gt;显示全部 →向下滑动鼠标您就会看到所有可用商品。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">我能更改MetaTrader的时区？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse8" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>不行。 我们平台的时间是固定的，冬令时的时候是GMT+8，夏令时的时候是GMT+7。</p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">何谓买价和卖价，该如何在我的图表上显示开仓/平仓价位？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse10" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>每一个
                          <em>买单</em>都是在卖价上建立，在买价上关闭，每一个
                          <em>卖单</em>都是在买价上建立在卖价上关闭。所以，您只可以看到图表上的卖价线。为了您可以看到买价线，可以右键点击图表-&gt;属性-&gt;显示-&gt;并且标记出显示
                          <em>买入价线图</em>。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">你们提供MAC交易平台吗？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse11" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>不支持MAC版下载。可通过网页版进行交易。</p></div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">如何在MT5中，找到我可使用的服务器名称？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse12" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>点击“文件” - &gt;点击“开户”- &gt;在弹出窗口的“交易商列表”中点击“添加新交易商”，然后输入“NOBLE SKY（交易商名称）”并点击“搜索您的交易商“ 。</p>
                        <p>搜索完成后，可点击“取消”按钮关闭窗口。</p>
                        <p>接着，请再次点击“文件” - &gt;“登录到交易账户”，以查看您的服务器名称是否存在。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">怎样访问MT5平台？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse13" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>您需要有Noble Sky MT5交易账户才可以在MT5平台交易。创建Noble Sky MT5账户
                          <a href="https://www.nbstrader.com/#/register">点击这里</a>。</p></div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">怎样认证我的MT5账户呢？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse15" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>点击CRM - >“注册”创建一个MT5账户，创建并登录进行认证，您需要提供我们所需的认证文件（例如，身份证明和地址证明）。</p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">我可以在MT5上交易什么商品呢？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse17" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>在 MT5交易终端您可以交易Noble Sky所有的商品，包括外汇，贵金属差价合约和能源差价合约。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">如何在交易平台上找到交易商品？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a4collapse18" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>根据您的账户类型，交易商品名称字尾会特别加注。请查看下列范例，以利使用正确的商品名称进行交易：</p>
                        <ul>
                          <li>标准（STANDARD）账户：商品名称显示正常（无特殊加注），如EURUSD，GBPUSD</li>
                          <li>微型（MICRO）账户：商品名称字尾加注micro，如EURUSDmicro，GBPUSDmicro</li>
                        </ul>
                        <p>如果您在平台上无法看到应有的交易商品，请在「市场报价」窗口点击右键-&gt;选择交易品种-&gt;于表单中选择欲交易商品-&gt;点击「显示」。也可直接点击右键并选择「全部显示」。</p>
                        <p>请留意，因账户类型不同，灰色显示的部分为无法交易商品，建议于「市场报价」窗口点击右键选择「隐藏」，以简化画面。</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="section-5" class="container top50">
            <div class="row">
              <div class="col-md-6">
                <h2>NOBLE SKY支持功能</h2>
                <div id="accordionText"> </div></div>
              <div class="col-md-6">
                <button type="button" class="btnAccordion pull-right" data-parent="#accordion5"> </button></div>
            </div>
            <div class="row top20">
              <div class="col-md-12">
                <div class="panel-group" id="accordion5">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">哪些是 NOBLE SKY 支持的功能？</h4>
                      <i class="fa fa-angle-down pull-right"></i>
                    </div>
                    <div id="a5collapse1" class="panel-collapse collapse">
                      <div class="panel-body gray">
                        <p>可以交易外汇货币对，贵金属和能源商品</p>
                        <ul>
                          <li>最低入金不少于100美元</li>
                          <li>有负余额保护政策</li>
                          <li>无重复报价，无拒绝定单</li>
                          <li>点差低至零</li>
                          <li>最低基点价格</li>
                          <li>一个账户可使用多个交易终端</li>
                          <li>实时执行</li>
                          <li>账户入金100%全自动,24/7及时处理</li>
                          <!-- <li>账户入金100%全自动,24/7及时处理</li> -->
                          <li>快速入金无需任何费用</li>
                          <li>不间断的奖励活动</li>
                          <li>包含 100,000 美元虚拟资金的免费、无限制模拟账户，并且同时可以进入多个交易平台</li>
                          <li>每天2次提供专业的交易信号</li></ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=1){
       let pName = this.$route.name
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){

      let element = document.querySelectorAll(".panel-heading");



      for(let i=0;i<element.length;i++){

        (function(m){

             let panel = element[m].parentNode.getElementsByClassName('panel-collapse')[0]

             panel.classList.add('showFlag')

             element[m].addEventListener('click',function(){


               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-down')
               this.getElementsByClassName('pull-right')[0].classList.toggle('fa-angle-up')

               panel.classList.toggle('showFlag')


             })


        })(i)



      }


     document.documentElement.scrollTop = 0


  },




  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }


  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}
.panel-collapse.showFlag{display: none;}

.btnAccordion.pull-right{display: none;}

 
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

</style>
