<template>
		<div class="wrap" @click="hideMenu">
        <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
        <div class="site-canvas">

          <div class="container-fluid top-bar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <h1 class="ltr text-left">贵重金属</h1>
                  <ol class="breadcrumb">
                    <li class="home">
                      <router-link to="/" class="home">NOBLE SKY</router-link></li>
                    <li class="post post-page current-item">贵重金属</li></ol>
                </div>
                <div class="col-xs-6 col-sm-3 hidden-xs hidden-sm hidden-l-sm">
                  <div class="option-nav">
                    <router-link to="/contact">
                      <i class="contact"></i>
                      <span>联系我们</span></router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container top60 hidden-xs">
            <ul class="nav-flexbox-tabs">
              <li>
                <router-link to='/forex-trading'>外汇</router-link>
              </li>
             <!-- <li>
                <router-link to='/stocks'>股票差价合约</router-link>
                <a href="https://www.noblesky.com/cn/stocks">股票差价合约</a></li> -->
              <!-- <li>
                <router-link to='/commodities'>大宗商品</router-link>
               </li>
              <li>
                <router-link to='/equity-indices'>证券指数</router-link>
              </li> -->
              <li class="active">
                <router-link to='/precious-metals'>贵重金属</router-link>
              </li>
              <li>
                <router-link to='/energies'>能源</router-link>
              </li>
              <!-- <li>
                <router-link to='/shares'>股票</router-link>
                <a href="https://www.noblesky.com/cn/shares">股票</a></li> -->
            </ul>
            <div class="dis15"></div>
          </div>
          <div class="dis50 visible-sm"></div>
          <div class="container hidden-xs">
            <h2 class="top30">NOBLE SKY交易贵金属的优势</h2>
            <div class="row text-center top50">
              <div class="feature-item6">
                <i class="tfxfont3 xmGold fs100 red"></i>
                <p class="top30">在线黄金和白银
                  <br>交易无重复报价</p></div>
              <div class="feature-item6">
                <i class="tfxfont3 xmDollar-bag fs100 red"></i>
                <p class="top30">除外汇以外的优质投资</p></div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p class="top30">流动性市场</p></div>
              <div class="feature-item6 hidden-xs hidden-md">
                <i class="tfxfont3 xmChart fs100 red"></i>
                <p class="top30">同一账户操作多头/空头</p></div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmLeverage-100 fs100 red"></i>
                <p>杠杆高达100:1</p>
              </div>
              <div class="feature-item6 hidden-xs">
                <i class="tfxfont3 xmPercent fs100 red"></i>
                <p class="top30">交易零手续费</p></div>
            </div>
          </div>
          <div class="dis80 visible-xs"></div>
          <div class="dis60 hidden-xs"></div>
          <div class="container">
            <div class="box-text-btn">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <p>
                    <br>在NOBLE SKY交易外汇，个股，大宗商品，贵金属，能源和股指。</p></div>
                <div class="col-sm-12 col-md-3">
                  <router-link to="/register" class="btn btn-solid btn-full btn-red scroll">建立账户</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="container top80">
            <div class="row">
              <div class="col-md-12">
                <h2>贵金属 – 点差 / 条件</h2></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3>贵金属</h3>
                <ul id="tabs4" class="nav nav-tabs top20" role="tablist">
                  <li :class="{active:tableIndex===0}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex(0)">标准账户</a></li>
                  <!-- <li :class="{active:tableIndex===1}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(1)">微型账户</a></li> -->
                  <!-- <li :class="{active:tableIndex===2}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(2)">NOBLE SKY Ultra Low Standard账户</a></li>
                  <li :class="{active:tableIndex===3}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex(3)">NOBLE SKY Ultra Low Micro账户</a></li> -->
                </ul>
                <div id="tabContent" class="tab-content" >
                  <div class="tab-pane active" id="standard" v-if="tableIndex===0">
                    <div class="dis30"></div>
                    <div class="table-wrap">
                      <div id="DataTables_Table_0_wrapper" style="padding-bottom:2em;" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_0_length">
                          <label>展示
                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>商品</label>
                        </div>
                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                          <label>搜索
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_0"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th colspan="1" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 118px;" aria-sort="ascending" aria-label="货币对: activate to sort column descending">货币对</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 96px;" aria-label="最小波动幅度: activate to sort column ascending">最小波动
                                <br>幅度</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 83px;" aria-label="点差低至***: activate to sort column ascending">点差
                                <br>低至***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 124px;" aria-label="平均点差***: activate to sort column ascending">平均点差***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 136px;" aria-label="买单隔夜利息(点数)**: activate to sort column ascending">买单隔夜利息
                                <br>(点数)**</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 136px;" aria-label="卖单隔夜利息(点数)**: activate to sort column ascending">卖单隔夜利息
                                <br>(点数)**</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 89px;" aria-label="1手价值: activate to sort column ascending">1手价值</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" style="width: 127px;" aria-label="止盈损距离*: activate to sort column ascending">止盈损距离*</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">GOLD</td>
                              <td>0.01</td>
                              <td>0.3</td>
                              <td>0.45</td>
                              <td>-9.74</td>
                              <td>-5.58</td>
                              <td>100 oz</td>
                              <td>1</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">SILVER</td>
                              <td>0.001</td>
                              <td>0.03</td>
                              <td>0.045</td>
                              <td>-1.28</td>
                              <td>-0.6</td>
                              <td>5000 oz</td>
                              <td>0.14</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">显示 1 到 2 ，总共 2 项</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">上一步</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">下一步</a></div>
                      </div>
                    </div>
                    <div class="top80 row">
                      <div class="col-sm-12">
                        <p>
                          <b>最小/最大交易手数:</b>0.01/50(MT5)</p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="micro" v-if="tableIndex===1">
                    <div class="dis30"></div>
                    <div class="table-wrap">
                      <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_1_length">
                          <label>展示
                            <select name="DataTables_Table_1_length" aria-controls="DataTables_Table_1" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>商品</label>
                        </div>
                        <div id="DataTables_Table_1_filter" class="dataTables_filter">
                          <label>搜索
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_1"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th colspan="1" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" style="width: 0px;" aria-sort="ascending" aria-label="货币对: activate to sort column descending">货币对</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" style="width: 0px;" aria-label="最小波动幅度: activate to sort column ascending">最小波动
                                <br>幅度</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;" aria-label="点差低至***: activate to sort column ascending">点差
                                <br>低至***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;" aria-label="平均点差***: activate to sort column ascending">平均点差***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;" aria-label="买单隔夜利息(点数)**: activate to sort column ascending">买单隔夜利息
                                <br>(点数)**</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;" aria-label="卖单隔夜利息(点数)**: activate to sort column ascending">卖单隔夜利息
                                <br>(点数)**</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" style="width: 0px;" aria-label="1手价值: activate to sort column ascending">1手价值</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" style="width: 0px;" aria-label="止盈损距离*: activate to sort column ascending">止盈损距离*</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">GOLDmicro</td>
                              <td>0.01</td>
                              <td>0.3</td>
                              <td>0.35</td>
                              <td>-9.74</td>
                              <td>-5.58</td>
                              <td>1 oz</td>
                              <td>1</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">SILVERmicro</td>
                              <td>0.001</td>
                              <td>0.03</td>
                              <td>0.035</td>
                              <td>-1.28</td>
                              <td>-0.6</td>
                              <td>50 oz</td>
                              <td>0.14</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">显示 1 到 2 ，总共 2 项</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_1" data-dt-idx="0" tabindex="0" id="DataTables_Table_1_previous">上一步</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_1" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_1" data-dt-idx="2" tabindex="0" id="DataTables_Table_1_next">下一步</a></div>
                      </div>
                    </div>
                    <div class="top80 row">
                      <div class="col-sm-12">
                        <p>
                          <b>最小/最大交易手数:</b>0.1/100(MT5)</p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane " id="ultraLowStandard" v-if="tableIndex===2">
                    <div class="dis30"></div>
                    <div class="table-wrap">
                      <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_2_length">
                          <label>展示
                            <select name="DataTables_Table_2_length" aria-controls="DataTables_Table_2" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>商品</label>
                        </div>
                        <div id="DataTables_Table_2_filter" class="dataTables_filter">
                          <label>搜索
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_2"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_2" aria-describedby="DataTables_Table_2_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th colspan="1" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" style="width: 0px;" aria-sort="ascending" aria-label="货币对: activate to sort column descending">货币对</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" style="width: 0px;" aria-label="最小波动幅度: activate to sort column ascending">最小波动
                                <br>幅度</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 0px;" aria-label="点差低至***: activate to sort column ascending">点差
                                <br>低至***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 0px;" aria-label="平均点差***: activate to sort column ascending">平均点差***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 0px;" aria-label="买单隔夜利息(点数)**: activate to sort column ascending">买单隔夜利息
                                <br>(点数)**</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 0px;" aria-label="卖单隔夜利息(点数)**: activate to sort column ascending">卖单隔夜利息
                                <br>(点数)**</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" style="width: 0px;" aria-label="1手价值: activate to sort column ascending">1手价值</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" style="width: 0px;" aria-label="止盈损距离*: activate to sort column ascending">止盈损距离*</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">GOLD#</td>
                              <td>0.01</td>
                              <td>0.2</td>
                              <td>0.25</td>
                              <td>-9.74</td>
                              <td>-5.58</td>
                              <td>100 oz</td>
                              <td>0.5</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">SILVER#</td>
                              <td>0.001</td>
                              <td>0.022</td>
                              <td>0.025</td>
                              <td>-1.28</td>
                              <td>-0.6</td>
                              <td>5000 oz</td>
                              <td>0.04</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite">显示 1 到 2 ，总共 2 项</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_2_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_2" data-dt-idx="0" tabindex="0" id="DataTables_Table_2_previous">上一步</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_2" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_2" data-dt-idx="2" tabindex="0" id="DataTables_Table_2_next">下一步</a></div>
                      </div>
                    </div>
                    <div class="top80 row">
                      <div class="col-sm-12">
                        <p>
                          <b>最小/最大交易手数:</b>0.1/50(MT5)</p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="ultraLowMicro" v-if="tableIndex===3">
                    <div class="dis30"></div>
                    <div class="table-wrap">
                      <div id="DataTables_Table_3_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_3_length">
                          <label>展示
                            <select name="DataTables_Table_3_length" aria-controls="DataTables_Table_3" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>商品</label>
                        </div>
                        <div id="DataTables_Table_3_filter" class="dataTables_filter">
                          <label>搜索
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_3"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_3" aria-describedby="DataTables_Table_3_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th colspan="1" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" style="width: 0px;" aria-sort="ascending" aria-label="货币对: activate to sort column descending">货币对</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" style="width: 0px;" aria-label="最小波动幅度: activate to sort column ascending">最小波动
                                <br>幅度</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="点差低至***: activate to sort column ascending">点差
                                <br>低至***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="平均点差***: activate to sort column ascending">平均点差***</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="买单隔夜利息(点数)**: activate to sort column ascending">买单隔夜利息
                                <br>(点数)**</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 0px;" aria-label="卖单隔夜利息(点数)**: activate to sort column ascending">卖单隔夜利息
                                <br>(点数)**</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" style="width: 0px;" aria-label="1手价值: activate to sort column ascending">1手价值</th>
                              <th colspan="1" class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" style="width: 0px;" aria-label="止盈损距离*: activate to sort column ascending">止盈损距离*</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">GOLDm#</td>
                              <td>0.01</td>
                              <td>0.2</td>
                              <td>0.25</td>
                              <td>-9.74</td>
                              <td>-5.58</td>
                              <td>1 oz</td>
                              <td>0.5</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">SILVERm#</td>
                              <td>0.001</td>
                              <td>0.022</td>
                              <td>0.025</td>
                              <td>-1.28</td>
                              <td>-0.6</td>
                              <td>50 oz</td>
                              <td>0.04</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_3_info" role="status" aria-live="polite">显示 1 到 2 ，总共 2 项</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_3_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_3" data-dt-idx="0" tabindex="0" id="DataTables_Table_3_previous">上一步</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_3" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_3" data-dt-idx="2" tabindex="0" id="DataTables_Table_3_next">下一步</a></div>
                      </div>
                    </div>
                    <div class="top80 row">
                      <div class="col-sm-12">
                        <p>
                          <b>最小/最大交易手数:</b>0.1/50(MT5)</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container ">
            <div class="row">
              <div class="col-sm-12">
                <p>黄金和白银的保证金需求计算公式如下：手数*合约规模*市场价格/杠杆。</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p>
                  <strong>黄金 &amp; 白银交易时间
                    <br>(GMT+8时区) </strong>
                  <br>
                  <i class="fa fa-clock-o red"></i>周一 – 周四: 07:05 – 05:55（冬令时）；06:05 – 04:55（夏令时） 
                  <br>
                  <i class="fa fa-clock-o red"></i>周五: 07:05 – 05:50（冬令时）；06:05 – 04:50（夏令时）</p></div>
            </div>
            <div class="dis80"></div>
            <!-- <div class="row">
              <div class="col-md-12">
                <h3>其他贵金属</h3>
                <ul id="tabs3" class="nav nav-tabs top20" role="tablist">
                  <li :class="{active:tableIndex2===0}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="true" @click="handleTableIndex2(0)">差价合约 CFDs</a></li>
                  <li :class="{active:tableIndex2===1}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex2(1)">交易时间</a></li>
                  <li :class="{active:tableIndex2===2}">
                    <a href="javascript:" role="tab" data-toggle="tab" aria-expanded="false" @click="handleTableIndex2(2)">日历</a></li>
                </ul>
                <div id="tabContent" class="tab-content" >
                  <div class="tab-pane active" id="futures" v-if="tableIndex2===0">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_4_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_4_length">
                          <label>展示
                            <select name="DataTables_Table_4_length" aria-controls="DataTables_Table_4" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>商品</label>
                        </div>
                        <div id="DataTables_Table_4_filter" class="dataTables_filter">
                          <label>搜索
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_4"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_4" aria-describedby="DataTables_Table_4_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 97px;" aria-sort="ascending" aria-label="商品代码: activate to sort column descending">商品代码</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 78px;" aria-label="商品概述: activate to sort column ascending">商品概述</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 78px;" aria-label="最小波动幅度: activate to sort column ascending">最小波动
                                <br>幅度</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 112px;" aria-label="最小价格波动: activate to sort column ascending">最小价格波动</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 43px;" aria-label="点差最低: activate to sort column ascending">点差
                                <br>最低</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 118px;" aria-label="1手价值: activate to sort column ascending">1手价值</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 155px;" aria-label="最小/最大交易手数: activate to sort column ascending">最小/最大交易手数</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 95px;" aria-label="保证金比例: activate to sort column ascending">保证金比例</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" style="width: 104px;" aria-label="止盈损距离*: activate to sort column ascending">止盈损距离*</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">PALL</td>
                              <td>Palladium</td>
                              <td>0.01000</td>
                              <td>USD 0.1</td>
                              <td>4</td>
                              <td>10 Troy ounces</td>
                              <td>1/45</td>
                              <td>4.5 %</td>
                              <td>10</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">PLAT</td>
                              <td>Platinum</td>
                              <td>0.01000</td>
                              <td>USD 0.1</td>
                              <td>3</td>
                              <td>10 Troy ounces</td>
                              <td>1/100</td>
                              <td>4.5 %</td>
                              <td>8</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_4_info" role="status" aria-live="polite">显示 1 到 2 ，总共 2 项</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_4_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_4" data-dt-idx="0" tabindex="0" id="DataTables_Table_4_previous">上一步</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_4" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_4" data-dt-idx="2" tabindex="0" id="DataTables_Table_4_next">下一步</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="trading-hours" v-if="tableIndex2===1">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_5_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_5_length">
                          <label>展示
                            <select name="DataTables_Table_5_length" aria-controls="DataTables_Table_5" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>商品</label>
                        </div>
                        <div id="DataTables_Table_5_filter" class="dataTables_filter">
                          <label>搜索
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_5"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_5" aria-describedby="DataTables_Table_5_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-sort="ascending" aria-label="商品代码: activate to sort column descending">商品代码</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="商品概述: activate to sort column ascending">商品概述</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="服务器时间: activate to sort column ascending">服务器时间</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="工作日: activate to sort column ascending">工作日</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="周一开市: activate to sort column ascending">周一开市</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 0px;" aria-label="周五闭市: activate to sort column ascending">周五闭市</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">PALL</td>
                              <td>Palladium</td>
                              <td>GMT +3</td>
                              <td>01:05-23:55</td>
                              <td>01:05</td>
                              <td>23:10</td></tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">PLAT</td>
                              <td>Platinum</td>
                              <td>GMT +3</td>
                              <td>01:05-23:55</td>
                              <td>01:05</td>
                              <td>23:10</td></tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_5_info" role="status" aria-live="polite">显示 1 到 2 ，总共 2 项</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_5_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_5" data-dt-idx="0" tabindex="0" id="DataTables_Table_5_previous">上一步</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_5" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_5" data-dt-idx="2" tabindex="0" id="DataTables_Table_5_next">下一步</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="calendar" v-if="tableIndex2===2">
                    <div class="table-wrap top50">
                      <div id="DataTables_Table_6_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_6_length">
                          <label>展示
                            <select name="DataTables_Table_6_length" aria-controls="DataTables_Table_6" class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select>商品</label>
                        </div>
                        <div id="DataTables_Table_6_filter" class="dataTables_filter">
                          <label>搜索
                            <input type="search" class="" placeholder="" aria-controls="DataTables_Table_6"></label></div>
                        <table class="dataTB dataTable no-footer dtr-inline" role="grid" cellspacing="0" width="100%" id="DataTables_Table_6" aria-describedby="DataTables_Table_6_info" style="width: 100%;">
                          <thead>
                            <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-sort="ascending" aria-label="商品: activate to sort column descending">商品</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="状态: activate to sort column ascending">状态</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Feb20: activate to sort column ascending">Feb
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Mar20: activate to sort column ascending">Mar
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Apr20: activate to sort column ascending">Apr
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="May20: activate to sort column ascending">May
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Jun20: activate to sort column ascending">Jun
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Jul20: activate to sort column ascending">Jul
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Aug20: activate to sort column ascending">Aug
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Sep20: activate to sort column ascending">Sep
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Oct20: activate to sort column ascending">Oct
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Nov20: activate to sort column ascending">Nov
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Dec20: activate to sort column ascending">Dec
                                <br>20</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_6" rowspan="1" colspan="1" style="width: 0px;" aria-label="Jan21: activate to sort column ascending">Jan
                                <br>21</th></tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">Palladium
                                <br>(PALL)</td>
                              <td>开仓</td>
                              <td></td>
                              <td>22/11/19</td>
                              <td></td>
                              <td></td>
                              <td>21/02/20</td>
                              <td></td>
                              <td></td>
                              <td>21/05/20</td>
                              <td></td>
                              <td></td>
                              <td>25/08/20</td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">Palladium
                                <br>(PALL)</td>
                              <td>只可平仓</td>
                              <td></td>
                              <td>21/02/20</td>
                              <td></td>
                              <td></td>
                              <td>21/05/20</td>
                              <td></td>
                              <td></td>
                              <td>25/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">Palladium
                                <br>(PALL)</td>
                              <td>到期日期</td>
                              <td></td>
                              <td>24/02/20</td>
                              <td></td>
                              <td></td>
                              <td>22/05/20</td>
                              <td></td>
                              <td></td>
                              <td>26/08/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">Platinum
                                <br>(PLAT)</td>
                              <td>开仓</td>
                              <td></td>
                              <td></td>
                              <td>26/12/19</td>
                              <td></td>
                              <td></td>
                              <td>25/03/20</td>
                              <td></td>
                              <td></td>
                              <td>25/06/20</td>
                              <td></td>
                              <td></td>
                              <td>24/09/20</td></tr>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">Platinum
                                <br>(PLAT)</td>
                              <td>只可平仓</td>
                              <td></td>
                              <td></td>
                              <td>25/03/20</td>
                              <td></td>
                              <td></td>
                              <td>25/06/20</td>
                              <td></td>
                              <td></td>
                              <td>24/09/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr role="row" class="even">
                              <td tabindex="0" class="sorting_1">Platinum
                                <br>(PLAT)</td>
                              <td>到期日期</td>
                              <td></td>
                              <td></td>
                              <td>26/03/20</td>
                              <td></td>
                              <td></td>
                              <td>26/06/20</td>
                              <td></td>
                              <td></td>
                              <td>25/09/20</td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_6_info" role="status" aria-live="polite">显示 1 到 6 ，总共 6 项</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_6_paginate">
                          <a class="paginate_button previous disabled" aria-controls="DataTables_Table_6" data-dt-idx="0" tabindex="0" id="DataTables_Table_6_previous">上一步</a>
                          <span>
                            <a class="paginate_button current" aria-controls="DataTables_Table_6" data-dt-idx="1" tabindex="0">1</a></span>
                          <a class="paginate_button next disabled" aria-controls="DataTables_Table_6" data-dt-idx="2" tabindex="0" id="DataTables_Table_6_next">下一步</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="dis60"></div>
            <div class="row">
              <div class="col-md-12">
                <p>* 在当前市价的基础上，设置止盈或止损的最小点差距离。</p>
                <p>** 如果您有仓位持仓过夜的话，那么您会支付或者获取一些金额，该金额便是两个货币对之间产生的利息，也就是"隔夜利息swap"。在交易软件里面，“隔夜利息 swap”会自动转换成您的入金到账货币（账户货币）。系统在每天的 00.00（GMT+2时区，请注意可能是夏令时）进行计算，整个过程可能需要几分钟。从星期三到星期四是收取三倍隔夜利息。</p>
                <p>*** 此处显示的平均点差是在一天内计算出来的。它们是在正常的市场条件下计算得出的。然而，由于重要新闻公告的传播度扩大，在政治情况不明朗的时期，或者在闭市期间，抑或是在流动性较低的周末，意外事件的发生都可能会导致市场发生波动，从而造成点差扩大。当您在我们平台交易时，Trading Point是您的经纪商。我们会对你的交易进行匹配，并以当前市场点差超出上述水平的仓位和流动性供应商进行对冲。然而，在市场波动较大或是流动性差的情况下，我们的流动报价商所提供的报价的点差要高于正常水平，因此Trading Point 也会随之扩大点差。</p>
                <p>差价合约的保证金需求计算公式如下：手数*合约规模*开仓价格*保证金比例。保证金需求的计算与您
                  <a href="https://www.noblesky.com/cn/account-types">账户</a>杠杆无关。</p>
                <p>如果交易一个方向的商品，预付款比例需要高于100%，若使用差价合约锁仓交易的话，锁仓预付款只收取单边手数大的。</p>
                <p>日历日期仅供参考，可能会随时变更。</p>
              </div>
            </div>
          </div>
          <div class="container top50">
            <h2>黄金与贵金属交易市场</h2>
            <p>黄金以及其他的贵金属、原油、铜、汽油等商品在大宗商品市场中占有重要地位。均为合约交易商品。贵金属的合约包括期货、即期、远期和期权。</p>
            <p>交易期货合约的中介是期货交易所或期货市场。来自全球各地的交易者都可以交易约50个主要的商品，犹豫它们具有极高的经济价值和耐用性，黄金、白银、铂金、钯金等均为主要的交易资产。而亚洲是全球最大的贵金属交易市场（中国、印度、新加坡是这些商品的主要交易者），大宗商品交易多以欧美企业为主。最大的贵金属公司在加拿大和德国。</p>
            <p>除了货币对、
              <a href="https://www.noblesky.com/cn/equity-indices">指数</a>黄金等商品，其余贵金属的交易在期货交易市场中也很活跃。1天中24小时都可以交易，除了周末。一般来说，贵金属的交易方式有两种：现货合约和期货合约。现货合约涉及现货买卖，付款和交货，期货是标准合约，由双方同意买卖双方一定数量的贵金属价格约定（称为期货价格）在未来的日期交货及付款（称为交货日期）。期货买卖是指没有网上交易买卖商品的实际所有权。</p>
            <div class="row top30"></div>
            <h3>交易黄金和贵金属</h3>
            <div class="row top30"></div>
            <p>最经常交易的贵金属是黄金、铂金、钯金和银，这些商品交易量高是由于其保留的内在价值，无论经济条件如何。近几十年来，作为长期投资商品的贵金属在网上购买，甚至是实物所有权的偏好大幅增加。交易贵金属也为那些对短期投资感兴趣的人提供了机会，因为衍生品和交易所买卖合同是一种资本密集型和简单的方式来通过价格变动盈利。</p>
            <p>与大多数依赖于生产和消费水平的大宗商品不同，黄金交易价格并非如此：它们跟随着政治变化的脉搏，使得黄金有时可以充当避险市场。随着黄金、铂金、钯金和白银也成为有价值的资产，投资者将其视为市场不稳定时的价值储备。</p>
            <p>有几个因素影响价格波动，并可能导致贵金属市场波动。其中一个最重要的因素是全球性的金融机构，其投资的性质是是投机，并可能导致向上或向下的价格变动。影响市场的另一个因素是最终用户的趋势，主要由珠宝买家引发：珠宝的需求使得贵金属市场价格上涨。经济对市场价格也有影响。在全球表现良好的经济体中，财富水平与黄金和其他贵重金属首饰的需求直接相关：当投资者寻找投资风险较高的投资选择时，某些贵金属的价格会降低，而其他价格则上涨。并且，除了贵金属以外的其他金融资产的需求变化也有助于价格波动。</p>
            <div class="row top30"></div>
            <h3>黄金与其他贵金属的交易历史概要</h3>
            <div class="row top30"></div>
            <p>贵金属尤其是黄金一直是财富的象征。在史前时代，黄金被用于交换，几个世纪以来，无论是硬币的形式、金条或固定的纯度和重量的金元宝，黄金一直是一个有价值并抢手的资产。第一枚硬币是在公元前600年，货币交换使用了（标准金）长达30年代。作为高导电性和延展性的金属，黄金与其他元素不起反应，并将它应用于珠宝业、商业化学和电子医学。黄金作为货币仅在1976之后被菲亚特货币体系所取代，但直到今天，它仍然保持着坚实的投资资产。</p>
            <p>与黄金一样，4000多年来，白银也被用于货币兑换，白银一直持续到第十九世纪。工业、商业和消费需求使白银成为投资的强有力的资产，白银期货等衍生品在全球不同的交易所市场交易。随着网上交易的出现，为投资者提供了一个获得白银价格简单的方法。</p>
            <p>与古代文明以来的黄金交易和白银交易相比，铂金和钯金在金融领域的历史较短。然而，由于他们的稀缺性和每年的生产量，以及其在几个工业领域的各种用途，有时他们往往在价格会高于黄金，可能达到黄金的10倍价格。铂与财富相关，白色的金铂合金作为早在哥伦布发现美洲大陆的文明。第一次提到铂金在欧洲是在第十六世纪，自第十八世纪以来，它已被用于珠宝、电机、化工、牙科，甚至医学。</p>
            <p>与铂金类似，钯金在技术上也起着至关重要的作用。自第十九世纪欧洲发现以来，全球对钯金的需求在大幅度增涨，主要是在汽车工业，但它也被广泛应用于医药、电气工业、珠宝业。也作为投资资产。由于供应和需求（即价格决定的市场），在经济持续稳定的时代，铂金和钯金的价格可以和黄金一样，甚至更高，而在经济不稳定的时期，会低于黄金价格，使黄金成为在投资时更稳定的贵金属。</p>
            <div class="row top30"></div>
            <h3>今日黄金与贵金属交易</h3>
            <div class="row top30"></div>
            <p>自上世纪70年代以来，除了外汇货币对（
              <a href="https://www.noblesky.com/cn">外汇</a>）交易，贵金属已成为最受欢迎的投资商品，通货膨胀或经济/政治不确定性时期基于投资组合风险管理。长期投资黄金和其他贵金属是一个全世界都流行的投资方法。</p>
            <p>期货合约是所谓的衍生合约，意思是它们的价值来源于标的资产的表现。在贵金属期货投资的主要目的之一是风险缓解：鉴于合同买方和卖方的能力，以固定价格或利率提前为今后的交易，他们既可以确保激烈或突然的价格变动，可能会导致损失增加。</p>
            <p>贵金属的交易可以说是双向的：如果市场预期上升（上升趋势）交易可以通过购买期货合同（长）和出口贸易通过出售它；而如果有一个向下运动的预期（下跌趋势），交易可以通过卖出期货合约进入（做空）和出口贸易通过购买合同。也有可能交易多个期货合约，其中包括做几个单独的条目和出口，即，以不同的价格进入合同，以一个价格退出，或反过来。无论是向上还是向下的市场走势，双方交易的能力都允许投资者获得利润。</p>
          </div>
          <div class="dis70"></div>

        </div>

        <pageFooter />
		</div>
</template>


<script>

import pageHeader from '../../components/pageHeaderTFX.vue'
import pageFooter from '../../components/pageFooterTFX.vue'
import {languageCode} from '../../utils/lan-code'





export default {
  name: "my-acount",
  data: function() {
    return {
         isLogin:false,
         userLoginInfo:'',
         curCoinType:1,
         curLanguage:2,
         // language:coinstrad,

         userInfo:{
            configure:{
            }
         },

        tableIndex:0,
        tableIndex2:0,
        queryIndex:0,
        queryIndexFlag:false




    };
  },
   metaInfo: {
      title: 'Mt5-NOBLE SKY',
  },
  created(){



    const storeCoinType = this.localStore.getItem('curCoinType');
    const storeLanguage = this.localStore.getItem('curLanguage');

   this.curCoinType = !!storeCoinType?storeCoinType:this.$api.defaultCoinType;
   this.curLanguage = !!storeLanguage?storeLanguage:this.$api.defaultLanguage

   if(this.curLanguage!=1){
       let pName = this.$route.name
       let pNameStr = pName + languageCode[this.curLanguage]
       this.$router.push({name:pNameStr});
   }

   this.isLogin = this.util.isLogin();

   if(!!this.isLogin){
       this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
       // this.getUserInfo();
   }


   // this.getSystemTradMode()

   // this.getUserAsset()
   // this.getCoinList();
   // this.getUserOrder();
   // this.getUserOrder2();
   // this.settingAPIDataLanguage();
   // this.getcurrency()



  },

  mounted(){
     document.documentElement.scrollTop = 0
  },

  components: {
    pageHeader,
    pageFooter
  },

  methods: {
     changeLanguage(val){
       console.log(this.curLanguage)
       let pName = this.curLanguage==1?this.$route.name:this.$route.name.substring(0,this.$route.name.length-2)
       let pNameStr = pName + languageCode[val]
       this.$router.push({name:pNameStr});
     },
     hideMenu(){
        this.$refs.pageHead.hideMenu();
     },
     handleTableIndex(val){
         this.tableIndex = val
     },
     handleTableIndex2(val){
         this.tableIndex2 = val
     },
     handleQueryIndex(val){
         if(val === this.queryIndex){
            this.queryIndexFlag = !this.queryIndexFlag
         }else{
            this.queryIndex = val
            this.queryIndexFlag = true
         }

     }



  }


};
</script>





<style scoped lang="scss">
  h2 {
      margin-top: 0;
      margin-bottom: 30px;
  }
   .container{width: 1170px;margin: 0 auto;}
   .col-md-12{width: 100%;}
   .col-md-9 {
       width: 75%;
   }
   .col-md-6 {
       width: 50%;
   }
   .col-md-5 {
       width: 41.66666667%;
   }
   .col-md-4 {
       width: 33.33333333%;
   }
   .col-sm-4 {
       width: 33.33333333%;
   }

   .top20 {
       margin-top: 20px !important;
   }
   .top30 {
       margin-top: 30px !important;
   }
   .top50 {
       margin-top: 50px !important;
   }
   .top60 {
       margin-top: 60px !important;
   }
   .top80 {
       margin-top: 80px !important;
   }


  .text-center {
      text-align: center !important;
  }

   .center-block {
       float: none !important;
   }

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{display: none;}


   .dis20 {
       height: 20px;
       clear: both;
   }
   .dis30 {
       height: 30px;
       clear: both;
   }
   .dis60 {
       height: 60px;
       clear: both;
   }
   .dis80 {
       height: 80px;
       clear: both;
   }



   .site-canvas .top-bar .breadcrumb {
       padding: 0;
       margin: 0;
       background-color: transparent;
   }

   .site-canvas .top-bar {
       background-color: #e8e8e8;
       padding: 20px 0 20px 0;
       margin: 0;
   }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
   .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-header:after, .modal-footer:after {
       clear: both;
   }
   .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
       content: " ";
       display: table;
   }



   .box-text-btn{text-align: right;
      .row {
          margin-left: -15px;
          margin-right: -15px;
      }
      .btn-full{background-color: #74c109;display: inline-block;padding:0;height: 40px;line-height: 40px;font-size: 24px;color: #fff;width: 247px;text-align: center;}
      .btn-full:hover{background-color: #29A643;}
   }

   .nav-flexbox-tabs {
       padding: 0;
       margin: 0;
       list-style: none;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: flex-start;
   }

   .nav-flexbox-tabs>li {
       width: 213px;
       text-align: center;
       background-color: #fff;
       margin-bottom: 15px;
       margin-right: 15px;
       border: 1px solid #cbcbcb;
   }

   .nav-flexbox-tabs>li.active {
       background-color: #d51820;
   }

    .nav-flexbox-tabs>li>a, .nav-flexbox-tabs>li>button {
        color: #000;
    }
    .nav-flexbox-tabs>li.active a, .nav-flexbox-tabs>li.active button {
        color: #fff;
    }


   a:focus, a:visited {
       color: #d51820;
   }

   .nav-flexbox-tabs a, .nav-flexbox-tabs button {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #000;
       line-height: normal;
       vertical-align: middle;
       width: 100%;
       height: 100%;
       min-height: 38px;
       padding: 0 15px;
   }




   .nav-tabs {
       border: 0;
       font-size: 0;
       margin-bottom: 30px;
   }

   #tabs2, #tabs3, #tabs4, #PaymentMethodTab {
       position: relative;
       margin-bottom: 0;
       z-index: 9;
   }

  #tabs2, #tabs3, #tabs4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }





.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li {
    width: 50%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    float: none;
    width: 100%;
}

#tabs2.nav-tabs>li, #tabs3.nav-tabs>li, #tabs4.nav-tabs>li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



.collapse {
    display: block;
}

.panel-default>.panel-heading i.fa-angle-up {
    color: #d51820 !important;
}
#tabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #tabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-up, .panel-default>.panel-heading i.fa.fa-angle-up, #PaymentMethodTabContent .panel-default>.panel-heading i.fa.fa-angle-down, .panel-default>.panel-heading i.fa.fa-angle-down {
    font-size: 50px;
    margin-top: -25px;
    margin-left: 0;
    right: 20px;
}

.tab-pane .dis30{height: 50px;}



.row {
    margin-left: -15px;
    margin-right: -15px;
}


 
footer .cell{padding-top: 100px;font-size: 26px;color: #fff;}

  .table-wrap {
    display: contents !important;
    width: 100%;
  }

  .tab-content > .active {
    height: auto !important;
    width: auto;
  }

  .tab-content {
    height: auto !important;
  }

  .dataTables_paginate {
    height: auto !important;
  }
  p{
      margin-bottom:2em;
  }
</style>
