
<template>
   <!-- <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" /> -->
  <div class="wrap">
    <pageHeader @userLogout="userLogout" ref="pageHead" :defaultCoinType="curCoinType" :defaultLanguage="curLanguage" @changeCoinType="changeCoinType" @changeLanguage="changeLanguage" />
    <main v-bind:class="{rightToLeft:(curLanguage==4||curLanguage==5)}">
      <div class="row m-0" id="CrmRow">
        <div class="col-1" style="background:#0e0e23;">

          <div class="area"></div><nav class="main-menu">
            <ul>
              <li>
                <router-link to="/coinstrad">
                  <i class="fa fa-home fa-2x"></i>
                  <span class="nav-text">
                    {{lang[curLanguage][1]}}
                  </span>
                </router-link>

              </li>
              <li class="has-subnav">
                <router-link to="/trading-signals"  style="color:#4255d4">
                  <i class="fa fa-laptop fa-2x"></i>
                  <span class="nav-text">
                    {{lang[curLanguage][2]}}
                  </span>
                </router-link>

              </li>
              <li class="has-subnav">
                <router-link to="/coinstrad/technical">
                  <i class="fa fa-list fa-2x"></i>
                  <span class="nav-text">
                    {{lang[curLanguage][3]}}
                  </span>
                </router-link>

              </li>
              <li>
                <router-link to="/coinstrad/fx-calc">
                  <i class="fa fa-bar-chart-o fa-2x"></i>
                  <span class="nav-text">
                    {{lang[curLanguage][4]}}
                  </span>
                </router-link>
              </li>
              <li>
                <router-link to="/coinstrad/News">
                  <i class="fa fa-table fa-2x"></i>
                  <span class="nav-text">
                    {{lang[curLanguage][5]}}
                  </span>
                </router-link>
              </li>

              <!-- <li>
                <a href="#">
                  <i class="fa fa-info fa-2x"></i>
                  <span class="nav-text">
                    {{lang[curLanguage][6]}}
                  </span>
                </a>
              </li> -->
              <!-- <li>
                <a href="#">
                  <i class="fa fa-power-off fa-2x"></i>
                  <span class="nav-text">
                    {{lang[curLanguage][7]}}
                  </span>
                </a>
              </li> -->
            </ul>
          </nav>

        </div>
        <div  class="col-11 p-0 " style="background:#0e0e23">
          <div class="main-container col-12" :class="(curLanguage==4||curLanguage==5)? 'ml-1':''">
            <div class="header">
              <!--<div class="logo" style="background: url('../../../static/images/home-logo.png');width: 50%; background-position: center; height: 172px;background-size: contain;background-repeat: no-repeat;">-->
              <!--<span class=logo-det>OTC</span>-->
              <!--</div>-->

               <a href="javascript:" :class=" {active:pageType==1,'header-link ':'header-link active'}" @click="handlePageType(1)">
                <svg viewBox="-6 0 512 512" fill="currentColor">
                  <path d="M227.7 357.5a15.1 15.1 0 0021.3 0l54-54a15.1 15.1 0 10-21.4-21.3l-43.3 43.2-19.7-19.7a15.1 15.1 0 00-21.4 21.4zm0 0" />
                  <path d="M250.1 439.8a120.1 120.1 0 10-120-120c0 66.2 53.8 120 120 120zm0-209.7a89.9 89.9 0 010 179.5 89.9 89.9 0 010-179.5zm0 0" />
                  <path d="M451.3 32.2h-27.5v-17a15.1 15.1 0 00-30.3 0v17h-29.7v-17a15.1 15.1 0 00-30.2 0v17h-167v-17a15.1 15.1 0 00-30.2 0v17h-29.7v-17a15.1 15.1 0 00-30.2 0v17H48.9A49 49 0 000 81v382A49 49 0 0048.9 512h402.4a49 49 0 0049-48.9v-382a49 49 0 00-49-49zm18.7 431c0 10.2-8.4 18.6-18.7 18.6H49A18.7 18.7 0 0130.2 463V158H470zM30.2 81c0-10.3 8.4-18.7 18.7-18.7h27.6v17.1a15.1 15.1 0 0030.2 0v-17h29.7v17a15.1 15.1 0 0030.3 0v-17h166.9v17a15.1 15.1 0 0030.2 0v-17h29.7v17a15.1 15.1 0 0030.3 0v-17h27.5c10.3 0 18.7 8.3 18.7 18.6v46.6H30.2zm0 0" />
                </svg>
                {{language[curLanguage][1]}}
              </a>
              <a href="javascript:" :class=" {active:pageType==2,'header-link ':'header-link active'}" @click="handlePageType(2)">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                  <path d="M10 13a2 2 0 110-4 2 2 0 010 4zm0-2.5a.5.5 0 100 1 .5.5 0 000-1z" />
                  <path d="M20.3 11.8h-8.8a.8.8 0 010-1.6h8.8a.8.8 0 010 1.6zM8.5 11.8H3.7a.8.8 0 010-1.6h4.8a.8.8 0 010 1.6zM15 19a2 2 0 110-4 2 2 0 010 4zm0-2.5a.5.5 0 100 1 .5.5 0 000-1z" />
                  <path d="M20.3 17.8h-3.8a.8.8 0 010-1.6h3.8a.8.8 0 010 1.6zM13.5 17.8H3.7a.8.8 0 010-1.6h9.8a.8.8 0 010 1.6z" />
                  <path d="M21.3 23H2.6A2.8 2.8 0 010 20.2V3.9C0 2.1 1.2 1 2.8 1h18.4C22.9 1 24 2.2 24 3.8v16.4c0 1.6-1.2 2.8-2.8 2.8zM2.6 2.5c-.6 0-1.2.6-1.2 1.3v16.4c0 .7.6 1.3 1.3 1.3h18.4c.7 0 1.3-.6 1.3-1.3V3.9c0-.7-.6-1.3-1.3-1.3z" />
                  <path d="M23.3 6H.6a.8.8 0 010-1.5h22.6a.8.8 0 010 1.5z" />
                </svg>
                {{language[curLanguage][2]}}
              </a>
              <a href="javascript:" :class=" {active:pageType==3,'header-link ':'header-link active'}" @click="handlePageType(3)">
                <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                  <path d="M500 113.3C326.1 78.7 337.4 80.5 333.4 81.2L281 91.7A111.2 111.2 0 00176 17c-48.6 0-90 31.3-105 74.8L18 81.3A15 15 0 000 96v352a15 15 0 0012 14.7l162.2 32.2c3.6.4-7.6 2.3 161.8-31.6l158 31.4a15 15 0 0018-14.7V128a15 15 0 00-12-14.7zM176 47a81 81 0 0181 81c0 37.7-60.3 133.3-81 165-20.7-31.6-81-127.3-81-165a81 81 0 0181-81zM30 114.2l35.2 7a112 112 0 00-.2 6.8c0 25 16.4 65.4 50 123.4 19.7 33.9 39 63 46 73.2v137.1l-131-26zm161 210.4c7-10.2 26.3-39.3 46-73.2 33.6-58 50-98.4 50-123.4 0-2.3 0-4.6-.2-6.9l34.2-6.8v321.4l-130 26zm291 137.1l-131-26V114.3l131 26z" />
                  <path d="M176 175a47 47 0 10-.1-94.1 47 47 0 00.1 94zm0-64a17 17 0 110 34 17 17 0 010-34z" />
                </svg>
                {{language[curLanguage][3]}}
              </a>
              <!--<a :class=" {active:pageType==3,'header-link ':'header-link active'}" @click="handlePageType(3)">
                <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                  <path d="M76 240c12.1 0 23.1-4.8 31.2-12.6l44.2 22A44.9 44.9 0 00196 300a45 45 0 0040.6-64.4l60-60a45 45 0 0062.3-54l52.2-39.2a45 45 0 10-18-24l-52.2 39.2a45 45 0 00-65.5 56.8l-60 60a44.7 44.7 0 00-50.6 8.2l-44.2-22A44.9 44.9 0 0076 150a45 45 0 000 90zM436 30a15 15 0 110 30 15 15 0 010-30zm-120 90a15 15 0 110 30 15 15 0 010-30zM196 240a15 15 0 110 30 15 15 0 010-30zM76 180a15 15 0 110 30 15 15 0 010-30zm0 0" />
                  <path d="M497 482h-16V165a15 15 0 00-15-15h-60a15 15 0 00-15 15v317h-30V255a15 15 0 00-15-15h-60a15 15 0 00-15 15v227h-30V375a15 15 0 00-15-15h-60a15 15 0 00-15 15v107h-30V315a15 15 0 00-15-15H46a15 15 0 00-15 15v167H15a15 15 0 100 30h482a15 15 0 100-30zm-76-302h30v302h-30zm-120 90h30v212h-30zM181 390h30v92h-30zM61 330h30v152H61zm0 0" />
                </svg>
                {{language[curLanguage][66]}}
              </a>-->
              <div class="user-info">
                <!--<button class="button">
                  All
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                    <path d="M6 9l6 6 6-6" />
                  </svg>
                </button>-->
                <div class="user-name"> {{userInfo.u_email}}</div>

                <svg class="profile" viewBox="-42 0 512 512" fill="currentColor">
                  <path d="M210.4 246.6c33.8 0 63.2-12.1 87.1-36.1 24-24 36.2-53.3 36.2-87.2 0-33.9-12.2-63.2-36.2-87.2-24-24-53.3-36.1-87.1-36.1-34 0-63.3 12.2-87.2 36.1S87 89.4 87 123.3c0 33.9 12.2 63.2 36.2 87.2 24 24 53.3 36.1 87.2 36.1zm-66-189.3a89.1 89.1 0 0166-27.3c26 0 47.5 9 66 27.3a89.2 89.2 0 0127.3 66c0 26-9 47.6-27.4 66a89.1 89.1 0 01-66 27.3c-26 0-47.5-9-66-27.3a89.1 89.1 0 01-27.3-66c0-26 9-47.6 27.4-66zm0 0M426.1 393.7a304.6 304.6 0 00-12-64.9 160.7 160.7 0 00-13.5-30.3c-5.7-10.2-12.5-19-20.1-26.3a88.9 88.9 0 00-29-18.2 100.1 100.1 0 00-37-6.7c-5.2 0-10.2 2.2-20 8.5-6 4-13 8.5-20.9 13.5-6.7 4.3-15.8 8.3-27 11.9a107.3 107.3 0 01-66 0 119.3 119.3 0 01-27-12l-21-13.4c-9.7-6.3-14.8-8.5-20-8.5a100 100 0 00-37 6.7 88.8 88.8 0 00-29 18.2 114.4 114.4 0 00-20.1 26.3 161 161 0 00-13.4 30.3A302.5 302.5 0 001 393.7c-.7 9.8-1 20-1 30.2 0 26.8 8.5 48.4 25.3 64.4C41.8 504 63.6 512 90.3 512h246.5c26.7 0 48.6-8 65.1-23.7 16.8-16 25.3-37.6 25.3-64.4a437 437 0 00-1-30.2zm-44.9 72.8c-11 10.4-25.4 15.5-44.4 15.5H90.3c-19 0-33.4-5-44.4-15.5C35.2 456.3 30 442.4 30 424c0-9.5.3-19 1-28.1A272.9 272.9 0 0141.7 338a131 131 0 0110.9-24.7A84.8 84.8 0 0167.4 294a59 59 0 0119.3-12 69 69 0 0123.6-4.5c1 .5 3 1.6 6 3.6l21 13.6c9 5.6 20.4 10.7 34 15.1a137.3 137.3 0 0084.5 0c13.7-4.4 25.1-9.5 34-15.1a2721 2721 0 0027-17.2 69 69 0 0123.7 4.5 59 59 0 0119.2 12 84.5 84.5 0 0114.9 19.4c4.5 8 8.2 16.3 10.8 24.7a275.2 275.2 0 0110.8 57.8c.6 9 1 18.5 1 28.1 0 18.5-5.3 32.4-16 42.6zm0 0" />
                </svg>
                <div class="hour">{{ timestamp }}</div>
              </div>
            </div>

            <div v-if="pageType==1" class="body-tradingSignals">
              <div class="col-12 pt-1 pb-1">
                <h4 style="color: white !important;">{{language[curLanguage][4]}}</h4>
                <span><p class="m-0 pb-0">{{language[curLanguage][5]}}</p></span>
              </div>
              <div class="activity-links px-1 py-1" style="justify-content: center;">
                <div class="activity-link active">
                  <span :class="{active:pairType==0}" @click="handlePairType(0)"> <img src="../../../static/images/EURUSD.png" style="width:50px; border:none;" /> EUR/USD</span>
                </div> <div class="activity-link active">
                  <span :class="{active:pairType==1}" @click="handlePairType(1)"> <img src="../../../static/images/EURTRY.png" style="width:50px; border:none;" />USD/TRY</span>
                </div> <div class="activity-link active">
                  <span :class="{active:pairType==2}" @click="handlePairType(2)"> <img src="../../../static/images/USDJPY.png" style="width:50px; border:none;" />USD/JPY</span>
                </div> <div class="activity-link active">
                  <span :class="{active:pairType==3}" @click="handlePairType(3)"> <img src="../../../static/images/GBPUSD.png" style="width:50px; border:none;" />GBP/USD</span>
                </div>

              </div>
              <div class="row col-12">
                <div class="col-12">
                  <article class="blog-item ">
                    <div class="row" style="height: 690px;">
                    <a class="modal-open-lg col-6">
                      <span class="thumb-info thumb-info-centered-info">
                        <span class="thumb-info-wrapper">
                          <figure class="progressive" style="border:none;">
                            <iframe class="progressive__img progressive--is-loaded col-12 tradingSignals-border" width="1000" height="680" src="" target="_parent" alt="" style="border:none;"></iframe>

                          </figure>

                        </span>
                      </span>
                    </a>
                    <div class="col-6 techical-analysis" style="height: 660px">
                      <div class="user-box second-box my-0" style="height: 100%;">
                        <div class="card transectiony row m-0 tradingSignals-border" style="--delay: 1.2s">
                          <div class="hm-gradient">
                            <div>

                              <!--MDB Tables-->
                              <div class="container p-0 ">
                      <div class="card p-0" >
                         <div class="card-body p-0 ">
                           <div class="row pb-1" style="justify-content: center;">
                                 <h2 class="technical-text">{{language[curLanguage][6]}}</h2>
                            </div> 
                           <div class="row">
                             <div class="col-9">
                               <div class="row">
                                 <div class="col-12" style="margin-bottom: 20px;"><span class="technical-text">{{language[curLanguage][7]}} </span><span id="outlook-text">{{language[curLanguage][14 + outlookBoolean]}}</span></div>
                                 </div>
                               <div class="row">
                                 <div class="col-12"><h3 class="technical-text">{{language[curLanguage][8]}}</h3></div>
                                
                               </div>
                             </div>
                             <div v-if="outlookBoolean==0" id="outlook-animal" class="col-3 align-center"><img src="static\images\bear.png" style="max-height: 72px;" alt=""></div>
                             <div v-if="outlookBoolean!=0" id="outlook-animal" class="col-3 align-center"><img src="static\images\bull.png" style="max-height: 72px;" alt=""></div>
                             


                           </div>
                             <!--Table-->
                            <table class="table table-hover p-0"> 
                                <!--Table body-->
                                <tbody>
                                    <tr>
                                        <td>{{language[curLanguage][9]}}</td>
                                        <td v-if="outlookBoolean==0" id="outlook-arrow"><i class="fas fa-arrow-down"></i></td>
                                        <td v-if="outlookBoolean!=0" id="outlook-arrow"><i class="fas fa-arrow-up"></i></td>
                                        <td id="target-text"></td>
                                    </tr>
                                    <tr>
                                        <td>{{language[curLanguage][10]}}</td>
                                        <td v-if="outlookBoolean==0" id="outlook-arrow2"><i class="fas fa-arrow-down"></i></td>
                                        <td v-if="outlookBoolean!=0" id="outlook-arrow2"><i class="fas fa-arrow-up"></i></td>
                                        <td id="profit1-text"></td>
                                    </tr>
                                    <tr>
                                        <td>{{language[curLanguage][11]}}</td>
                                        <td v-if="outlookBoolean==0" id="outlook-arrow3"><i class="fas fa-arrow-down"></i></td>
                                        <td v-if="outlookBoolean!=0" id="outlook-arrow3"><i class="fas fa-arrow-up"></i></td>
                                        <td id="profit2-text"></td>
                                    </tr>
                                    <tr>
                                        <td><img src="static\images\entryPrice.png" style="max-height: 42px;" alt=""></td>
                                        <td>{{language[curLanguage][12]}}</td>
                                        <td id="entry-text"></td>
                                    </tr>
                                    <tr>
                                        <td><img src="static\images\stopLosss.png" style="max-height: 42px;" alt=""></td>
                                        <td>{{language[curLanguage][13]}}</td>
                                        <td id="stoploss-text"></td>
                                    </tr>

                                    
                                </tbody>
                                <!--Table body-->
                            </table>
                           
                            <!--Table-->
                         </div>
                      </div>
                   </div>
                              <!--MDB Tables-->
                            </div>

                          </div>
                        </div>
                      </div>


                    </div>
                    </div>
                    <div class="col-12" style="font-size:14px; color: white !important; font-weight: normal;font-style: italic;">
                      <span>{{language[curLanguage][16]}} </span><span id="ChartLastUpdated"></span>
                    </div>
                    <div class="col-12 pt-1">
                      <span class="technical-text" style="text-decoration: underline;">{{language[curLanguage][18]}}</span><br>
                      <span id="ChartSummary" style="font-size:14px; color: white !important; font-weight: normal;"></span>
                    </div>
                  </article>
                </div>

              </div>
              <div class="row col-12 py-1">
                <div class="col-12">
                  <h4 class="technical-text col-12 pt-2">
                   {{language[curLanguage][17]}}
                  </h4>
                 </div>
                <div class="col-12">
                  <span class="thumb-info thumb-info-centered-info">
                    <span class="thumb-info-wrapper">
                      <figure class="progressive">
                        <iframe class="progressive__img progressive--is-loaded col-12 px-0 tradingSignals-border" width="1000" height="600" src="./static/html/MarketSignalsFx.html" target="_parent" alt="" style="border:none;"></iframe>

                      </figure>

                    </span>
                  </span>
                </div>
              </div>
             
            </div>
            <div v-if="pageType==2" class="body-tradingSignals">
              <div class="col-12 pt-1 pb-1">
                <h4 style="color: white !important;">{{language[curLanguage][4]}}</h4>
                <span><p class="m-0 pb-0">{{language[curLanguage][5]}}</p></span>
              </div>
              <div class="activity-links px-1 py-1" style="justify-content: center;">
                <div class="activity-link active">
                  <span :class="{active:pairType==0}" @click="handlePairType(0)"> <img src="../../../static/images/BTCUSD-l1.png" style="width:50px; border:none;" /> BTC/USD</span>
                </div> <div class="activity-link active">
                  <span :class="{active:pairType==1}" @click="handlePairType(1)"> <img src="../../../static/images/ETHUSD-l1.png" style="width:50px; border:none;" />ETH/USD</span>
                </div> <div class="activity-link active">
                  <span :class="{active:pairType==2}" @click="handlePairType(2)"> <img src="../../../static/images/LTCUSD.png" style="width:50px; border:none;" />LTC/USD</span>
                </div>

              </div>
              <div class="row col-12">
                <div class="col-12">
                  <article class="blog-item ">
                    <div class="row" style="height: 690px;">
                    <a class="modal-open-lg col-6">
                      <span class="thumb-info thumb-info-centered-info">
                        <span class="thumb-info-wrapper">
                          <figure class="progressive" style="border:none;">
                            <iframe class="progressive__img progressive--is-loaded col-12 tradingSignals-border" width="1000" height="680" src="" target="_parent" alt="" style="border:none;"></iframe>

                          </figure>

                        </span>
                      </span>
                    </a>
                    <div class="col-6 techical-analysis" style="height: 660px">
                      <div class="user-box second-box my-0" style="height: 100%;">
                        <div class="card transectiony row m-0 tradingSignals-border" style="--delay: 1.2s">
                          <div class="hm-gradient">
                            <div>

                              <!--MDB Tables-->
                              <div class="container p-0 ">
                      <div class="card p-0" >
                         <div class="card-body p-0 ">
                           <div class="row pb-1" style="justify-content: center;">
                                 <h2 class="technical-text">{{language[curLanguage][6]}}</h2>
                            </div> 
                           <div class="row">
                             <div class="col-9">
                               <div class="row">
                                 <div class="col-12" style="margin-bottom: 20px;"><span class="technical-text">{{language[curLanguage][7]}} </span><span id="outlook-text">{{language[curLanguage][14 + outlookBoolean]}}</span></div>
                                 </div>
                               <div class="row">
                                 <div class="col-12"><h3 class="technical-text">{{language[curLanguage][8]}}</h3></div>
                                
                               </div>
                             </div>
                             <div v-if="outlookBoolean==0" id="outlook-animal" class="col-3 align-center"><img src="static\images\bear.png" style="max-height: 72px;" alt=""></div>
                             <div v-if="outlookBoolean!=0" id="outlook-animal" class="col-3 align-center"><img src="static\images\bull.png" style="max-height: 72px;" alt=""></div>
                             


                           </div>
                             <!--Table-->
                            <table class="table table-hover p-0"> 
                                <!--Table body-->
                                <tbody>
                                    <tr>
                                        <td>{{language[curLanguage][9]}}</td>
                                        <td v-if="outlookBoolean==0" id="outlook-arrow"><i class="fas fa-arrow-down"></i></td>
                                        <td v-if="outlookBoolean!=0" id="outlook-arrow"><i class="fas fa-arrow-up"></i></td>
                                        <td id="target-text"></td>
                                    </tr>
                                    <tr>
                                        <td>{{language[curLanguage][10]}}</td>
                                        <td v-if="outlookBoolean==0" id="outlook-arrow2"><i class="fas fa-arrow-down"></i></td>
                                        <td v-if="outlookBoolean!=0" id="outlook-arrow2"><i class="fas fa-arrow-up"></i></td>
                                        <td id="profit1-text"></td>
                                    </tr>
                                    <tr>
                                        <td>{{language[curLanguage][11]}}</td>
                                        <td v-if="outlookBoolean==0" id="outlook-arrow3"><i class="fas fa-arrow-down"></i></td>
                                        <td v-if="outlookBoolean!=0" id="outlook-arrow3"><i class="fas fa-arrow-up"></i></td>
                                        <td id="profit2-text"></td>
                                    </tr>
                                    <tr>
                                        <td><img src="static\images\entryPrice.png" style="max-height: 42px;" alt=""></td>
                                        <td>{{language[curLanguage][12]}}</td>
                                        <td id="entry-text"></td>
                                    </tr>
                                    <tr>
                                        <td><img src="static\images\stopLosss.png" style="max-height: 42px;" alt=""></td>
                                        <td>{{language[curLanguage][13]}}</td>
                                        <td id="stoploss-text"></td>
                                    </tr>

                                    
                                </tbody>
                                <!--Table body-->
                            </table>
                           
                            <!--Table-->
                         </div>
                      </div>
                   </div>
                              <!--MDB Tables-->
                            </div>

                          </div>
                        </div>
                      </div>


                    </div>
                    </div>
                    <div class="col-12" style="font-size:14px; color: white !important; font-weight: normal;font-style: italic;">
                      <span>{{language[curLanguage][16]}} </span><span id="ChartLastUpdated"></span>
                    </div>
                    <div class="col-12 pt-1">
                      <span class="technical-text" style="text-decoration: underline;">{{language[curLanguage][18]}}</span><br>
                      <span id="ChartSummary" style="font-size:14px; color: white !important; font-weight: normal;"></span>
                    </div>
                  </article>
                </div>

              </div>
             
            </div>
            <div v-if="pageType==3" class="body-tradingSignals">
              <div class="col-12 pt-1 pb-1">
                <h4 style="color: white !important;">{{language[curLanguage][4]}}</h4>
                <span><p class="m-0 pb-0">{{language[curLanguage][5]}}</p></span>
              </div>
              <div class="activity-links px-1 py-1" style="justify-content: center;">
                <div class="activity-link active">
                  <span :class="{active:pairType==0}" @click="handlePairType(0)"> <img src="../../../static/images/XAUUSD-l1.png" style="width:50px; border:none;" /> XAU/USD</span>
                </div> <div class="activity-link active">
                  <span :class="{active:pairType==1}" @click="handlePairType(1)"> <img src="../../../static/images/OILUSD-l1.png" style="width:50px; border:none;" />USD/OIL</span>
                </div>
                <div class="activity-link active">
                  <span :class="{active:pairType==2}" @click="handlePairType(2)"> <img src="../../../static/images/XAGUSD-l1.png" style="width:50px; border:none;" />XAG/USD</span>
                </div>

              </div>
              <div class="row col-12">
                <div class="col-12">
                  <article class="blog-item ">
                    <div class="row" style="height: 690px;">
                    <a class="modal-open-lg col-6">
                      <span class="thumb-info thumb-info-centered-info">
                        <span class="thumb-info-wrapper">
                          <figure class="progressive" style="border:none;">
                            <iframe class="progressive__img progressive--is-loaded col-12 tradingSignals-border" width="1000" height="680" src="" target="_parent" alt="" style="border:none;"></iframe>

                          </figure>

                        </span>
                      </span>
                    </a>
                    <div class="col-6 techical-analysis" style="height: 660px">
                      <div class="user-box second-box my-0" style="height: 100%;">
                        <div class="card transectiony row m-0 tradingSignals-border" style="--delay: 1.2s">
                          <div class="hm-gradient">
                            <div>

                              <!--MDB Tables-->
                              <div class="container p-0 ">
                      <div class="card p-0" >
                         <div class="card-body p-0 ">
                           <div class="row pb-1" style="justify-content: center;">
                                 <h2 class="technical-text">{{language[curLanguage][6]}}</h2>
                            </div> 
                           <div class="row">
                             <div class="col-9">
                               <div class="row">
                                 <div class="col-12" style="margin-bottom: 20px;"><span class="technical-text">{{language[curLanguage][7]}} </span><span id="outlook-text">{{language[curLanguage][14 + outlookBoolean]}}</span></div>
                                 </div>
                               <div class="row">
                                 <div class="col-12"><h3 class="technical-text">{{language[curLanguage][8]}}</h3></div>
                                
                               </div>
                             </div>
                             <div v-if="outlookBoolean==0" id="outlook-animal" class="col-3 align-center"><img src="static\images\bear.png" style="max-height: 72px;" alt=""></div>
                             <div v-if="outlookBoolean!=0" id="outlook-animal" class="col-3 align-center"><img src="static\images\bull.png" style="max-height: 72px;" alt=""></div>
                             


                           </div>
                             <!--Table-->
                            <table class="table table-hover p-0"> 
                                <!--Table body-->
                                <tbody>
                                    <tr>
                                        <td>{{language[curLanguage][9]}}</td>
                                        <td v-if="outlookBoolean==0" id="outlook-arrow"><i class="fas fa-arrow-down"></i></td>
                                        <td v-if="outlookBoolean!=0" id="outlook-arrow"><i class="fas fa-arrow-up"></i></td>
                                        <td id="target-text"></td>
                                    </tr>
                                    <tr>
                                        <td>{{language[curLanguage][10]}}</td>
                                        <td v-if="outlookBoolean==0" id="outlook-arrow2"><i class="fas fa-arrow-down"></i></td>
                                        <td v-if="outlookBoolean!=0" id="outlook-arrow2"><i class="fas fa-arrow-up"></i></td>
                                        <td id="profit1-text"></td>
                                    </tr>
                                    <tr>
                                        <td>{{language[curLanguage][11]}}</td>
                                        <td v-if="outlookBoolean==0" id="outlook-arrow3"><i class="fas fa-arrow-down"></i></td>
                                        <td v-if="outlookBoolean!=0" id="outlook-arrow3"><i class="fas fa-arrow-up"></i></td>
                                        <td id="profit2-text"></td>
                                    </tr>
                                    <tr>
                                        <td><img src="static\images\entryPrice.png" style="max-height: 42px;" alt=""></td>
                                        <td>{{language[curLanguage][12]}}</td>
                                        <td id="entry-text"></td>
                                    </tr>
                                    <tr>
                                        <td><img src="static\images\stopLosss.png" style="max-height: 42px;" alt=""></td>
                                        <td>{{language[curLanguage][13]}}</td>
                                        <td id="stoploss-text"></td>
                                    </tr>

                                    
                                </tbody>
                                <!--Table body-->
                            </table>
                           
                            <!--Table-->
                         </div>
                      </div>
                   </div>
                              <!--MDB Tables-->
                            </div>

                          </div>
                        </div>
                      </div>


                    </div>
                    </div>
                    <div class="col-12" style="font-size:14px; color: white !important; font-weight: normal;font-style: italic;">
                      <span>{{language[curLanguage][16]}} </span><span id="ChartLastUpdated"></span>
                    </div>
                    <div class="col-12 pt-1">
                      <span class="technical-text" style="text-decoration: underline;">{{language[curLanguage][18]}}</span><br>
                      <span id="ChartSummary" style="font-size:14px; color: white !important; font-weight: normal;"></span>
                    </div>
                  </article>
                </div>

              </div>
             
            </div>


          </div>
        </div>

      </div>
    </main>
  
  </div>
</template>







<script>

  import pageHeader from '../../components/pageHeader.vue'
  import { tradingSignals } from '../../utils/language'
  import { SideMenu } from '../../utils/language'
  import BigNumber from 'bignumber.js';
  import { apiStateList } from '../../utils/result-state'
  import '../../../static/css/my/my-styles.css'
  export default {
    name: "my-acount",
    data: function () {
      return {
        isLogin: false,
        userLoginInfo: '',
        curCoinType: 1,
        curLanguage: 2,
        charts:[],
        language: tradingSignals,
        lang: SideMenu,
        exchangePrice: '',
        outlookBoolean: undefined,
        userInfo: {
          configure: {

          }

        },
        orderList: {
          pageIndex: 1,
          pageSize: 10,
          total: 0,
          state: 0,
          data: [],
          loading: false,
          dialogVisible: false,
          dialogRefreshOrder: false
        },
        payState: {
          0: '待支付',
          1: '审核中',
          2: '成功',
          3: '用户关闭',
          4: '后台关闭'
        },
        orderCloseID: '',
        // closeTipState:false,
        closeTipChecked: false,
        openCoinDialog: false,
        openCoinDialogText: {
          text: '',
          btn1: '',
          btn2: '',
          type: 1
        },
        payType: {
          0: '一键买卖',
          1: '钱包转账'
        },
        inSystemType: {
          1: '现货交易',
          2: '期货交易',
          3: '股票交易',
          4: '黄金交易'

        },

        userBalanceSpot: {

        },
        userBalanceContract: {
        },
        defaultCoin: '',
        defaultSystemCoin: '',
        myCoupons: 0,
        myAsset: {
          actuals: [],
          futures: [],
          gold: [],
          shares: []
        },
        myAssetSpot: [],
        myAssetContract: [],
        myAssetFutures: [],
        assetSpotLoading: false,
        assetContractLoading: false,
        systemTradMode: [1, 2, 3, 4],
        systemTradModeCopy: [],
        changeToMode: '',
        changeFromMode: 0,
        isDisable: false,
        changeCode: '',
        changeAssetDialog: false,
        changeAssetTip: false,
        currencyStateTrueGroup: [],
        currencyIn: [],
        currencyOut: [],
        currencyTransfer: [],
        currencyExchange: [],
        currencyTake: [],
        openCoinTip: false,
        maskFlag: false,
        coinsChangeDialog: false,
        assetChangeQt: '',
        coinsChangeQt: '',
        coinsChangeSystem: 0,
        coinsTakeDialog: false,
        takeList: [],
        takeOrderList: [],
        takeOrderDialog: false,
        resultStateList: apiStateList,
        orderList2: [],

        openAssetGroup: {
          dialogFlag: false,
          pwd1: '',
          pwd2: '',
          pwd3: '',
          pwd4: '',
          type: null,
          tip1: false,
          tip2: false,
          tip3: false,
          tip4: false,
          tip5: false,
          tipEndTimer: null
        },
        assetStateFlag: false,
        assetRequestFlag: false,
        pageType:1,
        pairType:0,

        // openDialogDemoUser:false
      };
    },
    metaInfo() {
      return {
        title: this.curLanguage == 1 ? '出入金-Noble sky' : ' Trading Signals - Noble sky',
      }

    },
    created() {


      // let a = '{"actuals":[{"t_fid":1,"t_ccode":"USD","t_number":0.0,"t_frozen":0.0,"t_mid":"1514","t_uid":200002},{"t_fid":2,"t_ccode":"USDT","t_number":0.0,"t_frozen":0.0,"t_mid":"1514","t_uid":200002},{"t_fid":3,"t_ccode":"BTC","t_number":0.0,"t_frozen":0.0,"t_mid":"1514","t_uid":200002},{"t_fid":4,"t_ccode":"ETH","t_number":0.0,"t_frozen":0.0,"t_mid":"1514","t_uid":200002}],"futures":[{"t_fid":2,"t_ccode":"USD","t_number":100474.6600000,"t_frozen":0.0000000,"t_mid":"1461","t_uid":200002},{"t_fid":33,"t_ccode":"BTC","t_number":0.0000000,"t_frozen":0.0000000,"t_mid":"1461","t_uid":200002},{"t_fid":64,"t_ccode":"ETH","t_number":0.0000000,"t_frozen":0.0000000,"t_mid":"1461","t_uid":200002},{"t_fid":95,"t_ccode":"USDT","t_number":0.0000000,"t_frozen":0.0000000,"t_mid":"1461","t_uid":200002}],"gold":[],"shares":[]}'

      // console.log(JSON.parse(a))


      const storeCoinType = this.localStore.getItem('curCoinType');
      const storeLanguage = this.localStore.getItem('curLanguage');

      this.curCoinType = !!storeCoinType ? storeCoinType : this.$api.defaultCoinType;
      this.curLanguage = !!storeLanguage ? storeLanguage : this.$api.defaultLanguage

      this.isLogin = this.util.isLogin();
      if (!!this.isLogin) {
        this.userLoginInfo = JSON.parse(this.localStore.getItem('userLoginInfo'));
        this.getUserInfo();
      } else {
        this.$message({
          message: this.language[this.curLanguage][42],
          type: "error",
          center: true,
          duration: 2000
        })
        this.localStore.setItem('fromPage', 'coinstrad');
        this.$router.push({ name: 'login' });
        return;
      }

      this.orderTypeFlag = this.$route.params.payment;
      if (this.orderTypeFlag != undefined) {
        this.orderList.dialogRefreshOrder = true;
      }

      if (this.userLoginInfo.userType == 1) {

        this.$message({
          message: this.language[this.curLanguage][61],
          type: "error",
          center: true,
          duration: 2000
        })

        this.$router.push({ name: 'login' });
        return;
      }




      // this.getSystemTradMode()

      // this.getUserAsset()
     // this.getCoinList();
    //  this.getUserOrder();
   //   this.getUserOrder2();
     // this.settingAPIDataLanguage();
    //  this.getcurrency()
    },

     mounted() {
    window.scroll({
      top: 0,
      left: 0,
      behavior: 'smooth'
    });
    var ChartID = "";
    var summary = "";
    var outlook = 0;
    var chartIdIndex = 27;
    var outlookTextSelector = document.getElementById('outlook-text');
    var targetTextSelector = document.getElementById('target-text');
    var profit1TextSelector = document.getElementById('profit1-text');
    var profit2TextSelector = document.getElementById('profit2-text');
    var entryTextSelector = document.getElementById('entry-text');
    var stoplossTextSelector = document.getElementById('stoploss-text');
    var ChartLastUpdatedSelector = document.getElementById('ChartLastUpdated');




    var pair = "";
    this.$axios.get('https://docs.google.com/spreadsheet/pub?key=1xn0U9sCh3DnG7sJg7n4KMk0d1CCyWL2DiuWrX_sCj0o&range=A2:K62&single=true&gid=0&output=csv')
      .then((response) => {


        this.temp1 = this.csvToJson(response.data, ['ChartID', 'Summary', 'Pair','Outlook','Target', 'Profit1', 'Profit2', 'Entry', 'Stoploss', 'Language', 'LastUpdated']);
        console.log(this.temp1);
        // console.log( this.temp1);

        // debugger;

        var i = 1;
        //   var pair = this.temp1[1].Pair;

        //  document.getElementById("eurCurrent").innerText = this.temp1[1].Open;
        //for (i = 0; i < this.temp1.length; i++) {

        //   ChartID = this.temp1[i].ChartID;
        //   summary = this.temp1[i].Summary;

        //   pair = this.temp1[i].Pair;


        //  this.charts.push(this.temp1[i]);
        //  console.log(ChartID);
        //  console.log(summary);
        //  console.log(pair);
        //  this.setupCharts(ChartID, summary, pair);

        //}

        ChartID = this.temp1[chartIdIndex].ChartID;
        if (this.curLanguage == 3) {
          summary = this.temp1[chartIdIndex - 1].Summary;
        } else if (this.curLanguage == 1) {
          summary = this.temp1[chartIdIndex  + 1].Summary;
        } else if (this.curLanguage == 2) {
          summary = this.temp1[chartIdIndex].Summary;
        } else if (this.curLanguage == 4) {
          summary = this.temp1[chartIdIndex + 2].Summary;
        } else if (this.curLanguage == 5) {
          summary = this.temp1[chartIdIndex + 3].Summary;
        } else {
          summary = this.temp1[chartIdIndex].Summary;
        }


        pair = this.temp1[chartIdIndex].Pair;

        // fetching outlook from temp and then passing it to setup charts to set outlook flag on page load
        this.outlookBoolean = parseInt(this.temp1[chartIdIndex].Outlook);

        if(this.outlookBoolean){
          outlookTextSelector.style.color = '#1eee1e';
        }
        else {
          outlookTextSelector.style.color = 'red';
          } 
        
        targetTextSelector.innerText = this.temp1[chartIdIndex].Target;
        profit1TextSelector.innerText = this.temp1[chartIdIndex].Profit1;
        profit2TextSelector.innerText = this.temp1[chartIdIndex].Profit2;
        entryTextSelector.innerText = this.temp1[chartIdIndex].Entry;
        stoplossTextSelector.innerText = this.temp1[chartIdIndex].Stoploss;
        ChartLastUpdatedSelector.innerText = this.temp1[chartIdIndex].LastUpdated;


        this.charts.push(this.temp1[chartIdIndex]);
    
        this.setupCharts(ChartID, summary, pair, outlook);


      }
   

    );

  },

    components: {
      pageHeader
    },
    methods: {

      setupCharts(ID, Description, Pair, outlook) {
        var charty = document.getElementsByClassName("progressive--is-loaded")[0];
      document.getElementById("ChartSummary").innerText = Description;
        // src = "https://s.tradingview.com/embed/xKFeHG6e/?method=script&utm_source=localhost&utm_medium=widget&utm_campaign=chart&utm_term=undefined"
        //console.log("ID= " + ID);
        charty.src = "https://s.tradingview.com/embed/" + ID + "/?theme=dark&utm_source=localhost&utm_medium=widget&utm_campaign=chart&utm_term=undefined";

      },

      setupTables(outlookBoolean,target,profit1,profit2,entryprice,stoploss,lastupdated) {
        var outlookTextSelector = document.getElementById('outlook-text');
        var targetTextSelector = document.getElementById('target-text');
        var profit1TextSelector = document.getElementById('profit1-text');
        var profit2TextSelector = document.getElementById('profit2-text');
        var entryTextSelector = document.getElementById('entry-text');
        var stoplossTextSelector = document.getElementById('stoploss-text');
        var outlookArrowSelector = document.getElementById('outlook-arrow');
        var outlookArrowSelector2 = document.getElementById('outlook-arrow2');
        var outlookArrowSelector3 = document.getElementById('outlook-arrow3');
        var outlookAnimalSelector = document.getElementById('outlook-animal');
        var ChartLastUpdatedSelector = document.getElementById('ChartLastUpdated');



        // Setting the table html elements based on spreadsheet data

        targetTextSelector.innerText = target;
        profit1TextSelector.innerText = profit1;
        profit2TextSelector.innerText = profit2;
        entryTextSelector.innerText = entryprice;
        stoplossTextSelector.innerText = stoploss;
        ChartLastUpdatedSelector.innerText = lastupdated;


        if(outlookBoolean){

          outlookTextSelector.style.color = '#1eee1e';
          outlookTextSelector.innerText = this.language[this.curLanguage][14 + outlookBoolean];
          outlookArrowSelector.innerHTML = '<i class="fas fa-arrow-up" style="color: #ff9900;"></i>';
          outlookArrowSelector2.innerHTML = '<i class="fas fa-arrow-up" style="color: #ff9900;"></i>';
          outlookArrowSelector3.innerHTML = '<i class="fas fa-arrow-up" style="color: #ff9900;"></i>';
          outlookAnimalSelector.innerHTML = '<img src="static\\images\\bull.png" style="max-height: 72px;" alt="">';

        }
        else {
          outlookTextSelector.style.color = 'red';
          outlookTextSelector.innerText = this.language[this.curLanguage][14 + outlookBoolean];
          outlookArrowSelector.innerHTML = '<i class="fas fa-arrow-down" style="color: #ff9900;"></i>';
          outlookArrowSelector2.innerHTML = '<i class="fas fa-arrow-down" style="color: #ff9900;"></i>';
          outlookArrowSelector3.innerHTML = '<i class="fas fa-arrow-down" style="color: #ff9900;"></i>'; 
          outlookAnimalSelector.innerHTML = '<img src="static\\images\\bear.png" style="max-height: 72px;" alt="">';
          } 
        
        


      },

      recallChart() {
        var ChartID = "";
        var summary = "";
        var pair = "";
        var target = "";
        var profit1 = "";
        var profit2 = "";
        var entryprice = "";
        var stoploss = "";
        var lastupdated = "";
        
        var outlookBoolean = 0;
        
        this.$axios.get('https://docs.google.com/spreadsheet/pub?key=1xn0U9sCh3DnG7sJg7n4KMk0d1CCyWL2DiuWrX_sCj0o&range=A2:K62&single=true&gid=0&output=csv')
          .then((response) => {

            this.temp1 = this.csvToJson(response.data, ['ChartID', 'Summary', 'Pair','Outlook','Target', 'Profit1', 'Profit2', 'Entry', 'Stoploss', 'Language','LastUpdated']);
            console.log(this.temp1);


// switching the spreadsheet array index based on selected page and pair type and fetching the chart and spreadsheet entries
   if(this.pageType == 2){
        console.log(this.pageType);
        switch (this.pairType){
          case 0:
            this.chartIdIndex = 52;
            break;
          case 1:
            this.chartIdIndex = 57;
            break;
          case 2:
            this.chartIdIndex = 62;
            break;
            
        }
      }
      else if (this.pageType == 3){
        console.log(this.pageType);
        switch (this.pairType){
          case 0:
            this.chartIdIndex = 2;
            break;
          case 1:
            this.chartIdIndex = 32;
            break;
          case 2:
            this.chartIdIndex = 47;
            break;
          case 3:
          this.chartIdIndex = 17;
            
        }
      }
      else {
        console.log(this.pageType);
        switch (this.pairType){
          case 0:
            this.chartIdIndex = 27;
            break;
          case 1:
            this.chartIdIndex = 7;
            break;
          case 2:
            this.chartIdIndex = 22;
            break;
          case 3:
          this.chartIdIndex = 17;
            
        }
      }

//Using the fetched index to set chart parameters on the page
        
          outlookBoolean = parseInt(this.temp1[this.chartIdIndex].Outlook);
          console.log(outlookBoolean);
   
          ChartID = this.temp1[this.chartIdIndex].ChartID;
          summary = this.temp1[this.chartIdIndex].Summary;
          target = this.temp1[this.chartIdIndex].Target;
          profit1 = this.temp1[this.chartIdIndex].Profit1;
          profit2 = this.temp1[this.chartIdIndex].Profit2;
          entryprice = this.temp1[this.chartIdIndex].Entry;
          stoploss = this.temp1[this.chartIdIndex].Stoploss;
          lastupdated = this.temp1[this.chartIdIndex].LastUpdated;

          console.log(this.curLanguage);
          console.log(this.temp1[this.chartIdIndex].Summary);


            if (this.curLanguage == 3) {
          summary = this.temp1[this.chartIdIndex - 1].Summary;
        } else if (this.curLanguage == 1) {
          summary = this.temp1[this.chartIdIndex + 1].Summary;
        } else if (this.curLanguage == 2) {
          summary = this.temp1[this.chartIdIndex].Summary;
        } else if (this.curLanguage == 4) {
          summary = this.temp1[this.chartIdIndex + 2].Summary;
        } else if (this.curLanguage == 5) {
          summary = this.temp1[this.chartIdIndex + 3].Summary;
        } else {
          summary = this.temp1[this.chartIdIndex].Summary;
        }

          pair = this.temp1[this.chartIdIndex].Pair;
          
          

            //this.charts.push(this.temp1[0]);
            this.setupCharts(ChartID, summary, pair);
            this.setupTables(outlookBoolean,target,profit1,profit2,entryprice,stoploss,lastupdated);


          }


          );
      },
    //   // changeLanguage(val) {
    //   //   this.curLanguage=val;
    //   // console.log(this.curLanguage);
    //   // this.recallChart();
    // //   let pName =
    // //     this.curLanguage == 1
    // //       ? this.$route.name
    // //       : this.$route.name.substring(0, this.$route.name.length - 2);
    // //   let pNameStr = pName + languageCode[val];
    // //   this.$router.push({ name: pNameStr });
    // },
       hideMenu() {
      this.$refs.pageHead.hideMenu();
    },
    csvToJson(str, headerList, quotechar = '"', delimiter = ',') {
      const cutlast = (_, i, a) => i < a.length - 1;
      // const regex = /(?:[\t ]?)+("+)?(.*?)\1(?:[\t ]?)+(?:,|$)/gm; // no variable chars
      const regex = new RegExp(`(?:[\\t ]?)+(${quotechar}+)?(.*?)\\1(?:[\\t ]?)+(?:${delimiter}|$)`, 'gm');
      const lines = str.split('\n');
      const headers = headerList || lines.splice(0, 1)[0].match(regex).filter(cutlast);

      const list = [];

      for (const line of lines) {
        const val = {};
        for (const [i, m] of [...line.matchAll(regex)].filter(cutlast).entries()) {
          // Attempt to convert to Number if possible, also use null if blank
          val[headers[i]] = (m[2].length > 0) ? Number(m[2]) || m[2] : null;
        }
        list.push(val);
      }

      return list;

    },
    HistoryCSV2Json(result) {
      var array = result.toString().split("\r");

      let result2 = [];


      let headers = array[0].split(", ")
      var i = 1;
      for (i = 1; i < array.length - 1; i++) {
        let obj = {}


        let str = array[i]
        let s = ''


        let flag = 0
        for (let ch of str) {
          if (ch === '"' && flag === 0) {
            flag = 1
          }
          else if (ch === '"' && flag == 1) flag = 0
          if (ch === ', ' && flag === 0) ch = '|'
          if (ch !== '"') s += ch
        }


        let properties = s.split("|")

        for (let j in headers) {
          if (properties[j].includes(", ")) {
            obj[headers[j]] = properties[j].split(", ").map(item => item.trim())
          }
          else obj[headers[j]] = properties[j]
        }


        result2.push(obj)
      }
      return result2;

    },
    


      openAssetBefore(type) {
        
        if (this.userInfo.u_level < 1) {
          // debugger;
          this.openCoinDialogText.text = this.language[this.curLanguage][95]
          this.openCoinDialogText.btn1 = this.language[this.curLanguage][24]
          this.openCoinDialogText.btn2 = this.language[this.curLanguage][75]
          this.openCoinDialogText.type = type
          this.openCoinDialog = true
          return
        }
        // debugger;
        this.openAssetGroup.dialogFlag = !this.openAssetGroup.dialogFlag;
        this.openAssetGroup.type = type
        this.openAssetGroup.pwd1 = ''
        this.openAssetGroup.pwd2 = ''
        this.openAssetGroup.pwd3 = ''
        this.openAssetGroup.pwd4 = ''
      },
      openAsset() {
        if (!!this.isDisable) { return }
        const that = this;



        if (this.openAssetGroup.pwd1 == '' || !this.util.isValidPassword(this.openAssetGroup.pwd1) || this.openAssetGroup.pwd1.length < 8 || this.openAssetGroup.pwd1.length > 30) {

          that.openAssetGroup.tip1 = true;
          clearTimeout(that.openAssetGroup.tipEndTimer);
          that.openAssetGroup.tipEndTimer = setTimeout(() => {
            that.openAssetGroup.tip1 = false;
          }, 1000)
          return false;
        }
        if (this.openAssetGroup.pwd2 != this.openAssetGroup.pwd1) {

          that.openAssetGroup.tip2 = true;
          clearTimeout(that.openAssetGroup.tipEndTimer);
          that.openAssetGroup.tipEndTimer = setTimeout(() => {
            that.openAssetGroup.tip2 = false;
          }, 1000)
          return false;
        }

        if (this.openAssetGroup.pwd3 == this.openAssetGroup.pwd1) {

          that.openAssetGroup.tip5 = true;
          clearTimeout(that.openAssetGroup.tipEndTimer);
          that.openAssetGroup.tipEndTimer = setTimeout(() => {
            that.openAssetGroup.tip5 = false;
          }, 1000)
          return false;
        }

        if (this.openAssetGroup.pwd3 == '' || !this.util.isValidPassword(this.openAssetGroup.pwd3) || this.openAssetGroup.pwd3.length < 8 || this.openAssetGroup.pwd3.length > 30) {

          that.openAssetGroup.tip3 = true;
          clearTimeout(that.openAssetGroup.tipEndTimer);
          that.openAssetGroup.tipEndTimer = setTimeout(() => {
            that.openAssetGroup.tip3 = false;
          }, 1000)
          return false;
        }
        if (this.openAssetGroup.pwd4 != this.openAssetGroup.pwd3) {

          that.openAssetGroup.tip4 = true;
          clearTimeout(that.openAssetGroup.tipEndTimer);
          that.openAssetGroup.tipEndTimer = setTimeout(() => {
            that.openAssetGroup.tip4 = false;
          }, 1000)
          return false;
        }



        const api = this.$api.url.userFund;
        const params = {
          Uid: this.userLoginInfo.userID,
          Token: this.userLoginInfo.session,
          Device: 'web',
          System: this.openAssetGroup.type,
          MasterPass: this.openAssetGroup.pwd1,
          InvestorPass: this.openAssetGroup.pwd3

        }

        this.isDisable = true;
        this.coinsTakeDialog = true;
        this.$axios.post(api, params)
          .then((res) => {
            this.isDisable = false;
            if (res.data.code == 0) {
              this.$message({
                message: '开通成功！',
                type: "success",
                center: true,
                duration: 2000
              })

              this.openAssetGroup.dialogFlag = false;
              this.getUserAsset();
              this.getUserInfo();

            } else if (res.data.code == 1011 || res.data.code == 1006) {

              this.$refs.pageHead.logout();
              this.isLogin = false;
              this.$router.push({ name: 'login' });
            } else {
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message: resultMsg,
                type: "error",
                center: true,
                duration: 2000
              })
            }

          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })


      },

      refreshOrder() {
        this.getUserOrder()
        this.orderList.dialogRefreshOrder = false;
      },
      getStateCodeText(code) {
        let text = this.resultStateList.find(item => {
          return item.code == code
        })
        if (this.curLanguage == 1) {
          return text.cn
        } else {
          return text.en
        }

      },


      getcurrency() {
        // const api = this.$api.url.getcurrencysystem;
        const api = this.$api.url.currency_info;

        const params = {
          Uid: this.userLoginInfo.userID,
          Token: this.userLoginInfo.session,
          Device: 'web'
        }

        this.$axios.post(api, params)
          .then((res) => {
            if (res.data.code == 0) {

              let data = JSON.parse(res.data.data)

              this.currencyIn = data.in;
              this.currencyOut = data.out;
              this.currencyTransfer = data.transfer;
              this.currencyExchange = data.exchange;
              this.currencyTake = data.take;

              console.log(data)

              this.currencyStateTrueGroup = JSON.parse(res.data.data)
              // this.getUserAssetSpot();
              // this.getUserAssetContract();
              // this.getUserAssetFutures();
              this.getUserAsset()

            } else if (res.data.code == 1011 || res.data.code == 1006) {

            } else {
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message: '获取可入金币种失败' + this.language[this.curLanguage][39] + resultMsg,
                type: "error",
                center: true,
                duration: 2000
              })
            }

          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })
      },
      selectSysMode(val) {
        this.changeToMode = val
      },
      popupDivCoinsChange(code, system) {
        ////////
        this.changeCode = code;
        this.maskFlag = true;
        this.coinsChangeDialog = true;
        this.coinsChangeSystem = system;
        this.getatradesprice(code, 'USDT');

      },
      popupDivAssetChange(code, fromAsset) {
   
        let systemTradModeCopy = [];

        this.systemTradModeCopy.forEach(item => {

          systemTradModeCopy.push(item);

        })


        let sysModeIndex = systemTradModeCopy.findIndex(item => {
          return item == fromAsset
        })

        systemTradModeCopy.splice(sysModeIndex, 1);

        if (systemTradModeCopy.length > 0) {
          this.changeToMode = systemTradModeCopy[0]
        } else {
          console.log('111')
          this.changeAssetTip = true;
          return
        }

        this.changeCode = code;
        this.changeFromMode = fromAsset
        this.maskFlag = true;
        this.changeAssetDialog = true;



      },
 
      changeLanguage(val) {

        this.curLanguage = val;
        console.log(this.curLanguage);
        this.recallChart();
      //  this.settingAPIDataLanguage();
      },

      getUserInfo() {
        const api = this.$api.url.userVerify1;
        const params = {
          Device: 'web',
          Uid: this.userLoginInfo.userID,
          Token: this.userLoginInfo.session
        }
        this.$axios.get(api, { params: params })
          .then((res) => {
            if (res.data.code == 0) {
              let data = JSON.parse(res.data.data);
              this.userInfo = data

              if (this.userInfo.configure == null) {
                this.userInfo.configure = {
                  t_actuals_gid: null,
                  t_actuals_state: null,
                  t_actuals_uid: null,
                  t_futures_gid: null,
                  t_futures_state: null,
                  t_futures_uid: null,
                  t_other_gid: null,
                  t_other_state: null,
                  t_other_uid: null,
                  t_shares_gid: null,
                  t_shares_state: null,
                  t_shares_uid: null,
                  t_uid: null
                }
              }


              // this.userInfo.u_country = this.userCountry;
              this.localStore.setItem('userInfo', this.userInfo)


              if (data.configure.t_actuals_state == 2 || data.configure.t_futures_state == 2 || data.configure.t_shares_state == 2 || data.configure.t_other_state == 2) {
                this.assetStateFlag = true;
              }

            } else if (res.data.code == 1011 || res.data.code == 1006) {

              this.$refs.pageHead.logout();
              this.isLogin = false;
              this.$router.push({ name: 'login' });
            } else {
              let resultMsg = this.getStateCodeText(res.data.code);
              this.$message({
                message: this.language[this.curLanguage][44] + this.language[this.curLanguage][39] + resultMsg,
                type: "error",
                center: true,
                duration: 2000
              })
            }

          }).catch((error) => {
            this.$message({
              message: error,
              type: "error",
              center: true,
              duration: 2000
            })
          })

      },
 
    handlePageType(type){
       this.pageType = type;
       this.pairType = 0;
       console.log(type);
       console.log(this.pageType);
       this.recallChart();
    },
    handlePairType(type){
       this.pairType = type;
       this.recallChart();
    },
   
      handlePaginationIndex(val) {
        this.orderList.pageIndex = val;
        this.getUserOrder();

      },
      userLogout() {
        this.$router.push({ name: 'login' });
      }


    }

  };
</script>









<style scoped lang="scss">

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background: #0e0e23;
position:absolute;
box-shadow: 20px 17px 20px #1313136b;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}
.main-menu li:hover> a{
  color: #4255d4;
      background-color: #151939;
    }
    .main-menu:hover li:hover > a{
      color: #4255d4;
      background-color: #151939;
    }

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
padding-top: .25rem!important;
padding-bottom: .25rem!important;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#121229;
}
.area {
float: left;
background: #0e0e23;
width: 50%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}


.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 3.428571;
    vertical-align: top;
    border-top: 1px solid #252632;
}

.col-6 i {
    color: #ff9900;
}

.tradingSignals-border{
    border-radius: 0.7em;
}
.loginHistory{
    .tab{height: 35px;line-height: 35px;margin-bottom: 10px;
      span{float: left;margin-right: 15px;height: 35px;line-height: 35px;border-radius: 3px;padding:0 10px;cursor: pointer;}
      span.active{background: #387ee2;color: #fff;border-color: #387ee2}
}}

.account-cash {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 6px;
    padding-top: 16px;
    position: relative;
}

  #CrmRow {
    height: 100%;
    width:100%;
    background: linear-gradient(90deg, rgb(39, 40, 51) 0%, rgb(29, 30, 43) 100%) 0% 0% repeat scroll rgba(0, 0, 0, 0) !important;
    background: -o-linear-gradient(90deg, rgb(39, 40, 51) 0%, rgb(29, 30, 43) 100%) 0% 0% repeat scroll rgba(0, 0, 0, 0) !important;
    background: -webkit-linear-gradient(90deg, rgb(39, 40, 51) 0%, rgb(29, 30, 43) 100%) 0% 0% repeat scroll rgba(0, 0, 0, 0) !important;
  }
  .loginHistory.theme-black .el-table {
    background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
    background-color: #192741;
  }
   .loginHistory.theme-black .el-table td, .loginHistory.theme-black .el-table th.is-leaf{border-bottom-color:#20304c}
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

  $font-family: "Inter", sans-serif;
  $bg-color: #252954;
  $body-color: #9b9ca7;
  $main-bg: #0e0e23;
  :root {
    --delay: 0s;
  }

.tab-content{
  width:100%!important
}

  .fade {
    opacity: 1;
  }

  table th {
    padding: 0 !important;
    text-align: center;
  }

  .wrap {
    min-height: 100vh;
    background: #232c42;
    color: #aeb9d8
  }

  .w-1200 {
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 100px;
  }

  .btn-box {
    height: 50px;
    margin: 50px 0 15px;
    a,button

  {
    color: #fff;
    background: #05c19e;
    width: 100px;
    height: 40px;
    display: block;
    float: left;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    // margin-left: 20px;
    ;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
  }

  a:hover, button:hover {
    background: #04b695;
  }

  button:first-child {
    margin-left: 0;
  }

  button:nth-child(3) {
    margin-left: 50px;
  }

  a:last-child, button:nth-child(2), button:nth-child(4) {
    background: #e04545;
  }

    a:last-child:hover, button:nth-child(2):hover, button:nth-child(4):hover {
      background: #d63c3c
    }

  }

  .order-list, .asset-list {
    border-radius: 5px;
    overflow: hidden;
    min-height: 100px;
    .tab-head

  {
    height: 50px;
    background: #4e5d7e;
    border-radius: 5px 5px 0 0;
    span

  {
    float: left;
    height: 100%;
    position: relative;
    padding: 0 20px;
    line-height: 50px;
    cursor: pointer;
  }

  span:hover {
    color: #bec7e1;
  }

  span.active {
    color: #fff;
    &:before

  {
    content: ' ';
    position: absolute;
    width: 50%;
    height: 3px;
    background: #fff;
    left: 50%;
    bottom: 5px;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
  }

  }
  }

  .table {
    background-color: #151939;
    padding-bottom: 15px;
    table

  {
    width: 100%;
    th

  {
    border-bottom: 1px solid #3b455e;
    height: 50px;
    color: #7783a2;
  }

  td {
    height: 40px;
    text-align: center;
    span

  {
    color: #387ee2
  }

  i.order-type {
    margin-right: 10px;
    color: #fff;
    font-size: 12px;
    padding: 0 5px;
    float: left;
    border-radius: 50px;
    border: 1px solid #05c19e;
    color: #05c19e;
  }

    i.order-type.sell {
      border-color: #e04545;
      color: #e04545;
    }

  a, button {
    background: #05c19e;
    color: #fff;
    float: right;
    margin-left: 5px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
  }

  .en {
    width: 75px;
  }

  a:hover {
    background: #04b695;
  }

  button {
    background: #e04545;
  }

    button:hover {
      background: #d63c3c
    }

  }

  th:first-child, td:first-child {
    text-align: left;
    padding-left: 20px !important;
    width: 210px;
  }

  th:last-child, td:last-child {
    text-align: right;
    padding-right: 20px !important;
    width: 210px;
  }

  tr:nth-child(2) {
    td

  {
    height: 15px;
  }

  }
  }
  }

  .asset-empty {
    padding: 15px;
    background-color: #2f3b55;
    span

  {
    color: #0496FF;
    cursor: pointer;
  }

  }

  .empty {
    text-align: center;
    padding: 30px 0 20px;
  }

  }

  .asset-table-box .asset-list .table table {
    th,td

  {
    width: 150px;
  }

  .balance {
    width: unset!important;;
    text-align: left;
    padding-left: 15px;
  }

  th {
    background: #0e0e23;
  }

  td {
    border-bottom: 1px solid #3b455e;
  }

  tr:last-child, tr:nth-child(2) {
    td

  {
    border: 0
  }

  }
  }


  .table-head {
    color: #fff;
    font-size: 18px;
    margin: 25px 0 10px;
  }





  .mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    left: 0;
    top: 0;
  }

  .popup-div-ac {
    width: 500px;
    position: fixed;
    background: #181d41;
    padding: 10px 15px;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 10;
    box-shadow: 0px 0px 20px 6px #0000004d;

    li

  {
    position: relative;
    min-height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    color: #717d9b;
    i

  {
    color: #05c19e;
    padding: 0 10px;
  }

  i.currency {
    color: #aeb9d8;
  }

  input {
    color: #1d2145;
    height: 40px;
    margin-left: 10px;
    border-radius: 3px;
    width: 420px;
    padding-left: 10px;
  }

  button {
    width: 80px;
    height: 40px;
    background: #387ee2;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
  }

    button.cancel {
      background: #eee;
      color: #333;
      margin-right: 10px;
    }

  }

  li:last-child {
    text-align: center;
    padding: 20px 0 15px 0;
  }

  li:first-child {
    padding-bottom: 0;
  }

  .cell {
    float: left;
    height: 40px;
    line-height: 40px;
  }

  .ac-select {
    float: left;
    width: 110px
  }

  li.amount-input {
    position: relative;
    height: 40px;
  }

    li.amount-input span {
      float: left;
      width: 80px;
    }

    li.amount-input input {
      float: right;
      width: calc(100% - 80px);
      margin: 0;
      paddding: 0;
    }

    li.amount-input i {
      position: absolute;
      right: 20px;
      top: 0;
    }

  }



  .asset-table-box .asset-list .table table td span {
    cursor: pointer;
  }


  .asset-table-box .table-head {
    margin-top: 50px;
    span

  {
    margin-right: 30px;
  }

  i {
    font-size: 14px;
    color: #aeb9d8;
    margin-right: 20px;
    em

  {
    color: #fff;
  }

  em.state-ok {
    color: #05c19e;
  }

  em.state-no {
    color: #e04545;
  }

  }
  }

  .asset-table-box .asset-list .table table td span {
    margin-left: 5px;
    color: #fff;
  }

    .asset-table-box .asset-list .table table td span.buy {
      color: #05c19e;
    }

    .asset-table-box .asset-list .table table td span.change {
      color: #e04545;
    }

    .asset-table-box .asset-list .table table td span.take {
      color: #387ee2;
    }

  .asset-table-box .asset-list .table table td:last-child {
    width: 200px;
  }

  .asset-table-box .table table td:first-child, .asset-table-box .table table th:first-child {
    padding-left: 20px;
  }


  .popup-div-take {
    width: 500px;
    position: fixed;
    background: #2f3b55;
    padding: 10px 15px;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 10;
  }



  .nav-tab-head {
    height: 60px;
    border-bottom: 2px solid #263655;
    margin-top: 15px;
    padding-top: 20px;
    a

  {
    color: #aeb9d8;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 30px;
    font-size: 16px;
    position: relative;
  }

  a.active {
    color: #fff;
    min-width: 96px;
    background-color: #263655;
    padding: 0 15px;
    text-align: center;
    border-radius: 6px 6px 0 0;
  }

    a.active::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #0496FF;
      left: 0;
      bottom: 0;
    }



  a:hover {
    color: #fff;
  }

  }

  .open-asset-cell {
    li

  {
    margin-bottom: 20px;
    position: relative;
  }

  span {
    display: block;
    margin-bottom: 8px;
  }

  input {
    width: 100%;
    height: 45px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #111932;
    padding: 0 15px;
    color: #0e101f;
  }

  .check-tip {
    position: absolute;
    background: #fff;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    bottom: 45px;
    left: 50%;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
  }

    .check-tip:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      border-width: 5px;
      border-bottom-width: 0;
      border-top-color: #fff;
      left: calc(50% - 5px);
      bottom: -5px;
    }

  input::-webkit-input-placeholder {
    color: #707da1;
    opacity: .6;
  }

  }

  .asset-table-box.coupons {
    .asset-list

  {
    min-height: 50px;
    padding: 15px;
    background-color: #2f3b55;
    span

  {
    margin-right: 15px;
  }

  a {
    margin-left: 50px;
    color: #05C19E;
  }

    a:hover {
      color: #04b695;
    }

  }
  }

  ::-webkit-scrollbar {
    background: #fff;
    width: 0;
    height: 0;
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #fff;
    width: 0;
    height: 0;
    display: none;
  }
</style>

<style lang="scss">
  .el-dialog.take-dialog {
    width: 1000px !important;
    background: #0e101f!important;
  }
  // .el-dialog li{
  //   // background: #0e101f;
  // }

  .el-dialog, .el-pager li{
    background: #0e101f;
  }

  .el-dialog.take-dialog {
    li{
      // background: #0e101f;
    }
    .el-dialog__body

  {
    padding-top: 10px;
    table

  {
    width: 100%;
  }

  th, td {
    border-bottom: 1px solid #3b455e;
    height: 40px;
  }

  td {
    text-align: center;
  }

  tr:last-child {
    td

  {
    border-bottom: 0;
  }

  }

  .Order-number {
    text-align: left;
  }

  }
  }

  h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media screen and (min-width:1000px) and (max-width:1200px) {
    .w-1200 {
      padding-left: 3%;
    }
    .account-cash{
      font-size: 16px;
    }

    .order-list, .asset-table-box {
      width: 80%;
    }
  }

  @media screen and (min-width:1200px) and (max-width:1220px) {
    .w-1200 {
      padding-left: 5%;
    }
    .account-cash{
      font-size: 16px;
    }

    .order-list, .asset-table-box {
      width: 95%;
    }
  }
</style>



<style lang="scss">

  #CrmRow {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgb(39, 40, 51) 0%, rgb(29, 30, 43) 100%) 0% 0% repeat scroll rgba(0, 0, 0, 0) !important;
    background: -o-linear-gradient(90deg, rgb(39, 40, 51) 0%, rgb(29, 30, 43) 100%) 0% 0% repeat scroll rgba(0, 0, 0, 0) !important;
    background: -webkit-linear-gradient(90deg, rgb(39, 40, 51) 0%, rgb(29, 30, 43) 100%) 0% 0% repeat scroll rgba(0, 0, 0, 0) !important;
  }

  .loginHistory.theme-black .el-table {
    background-color: #192741;
  }

    .loginHistory.theme-black .el-table td, .loginHistory.theme-black .el-table th.is-leaf {
      border-bottom-color: #20304c
    }

  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

  $font-family: "Inter", sans-serif;
  $bg-color: #252954;
  $body-color: #9b9ca7;
  $main-bg: #0e0e23;
  :root {
    --delay: 0s;
  }

  * {
    outline: none;
    box-sizing: border-box;
  }

  .hidden {
    display: none !important;
  }

  html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

  img {
    max-width: 100%;
  }

  .left-side {
    width: 5em;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    padding: 117px 0 40px;
    animation: left 1s var(--delay) both;
    svg

  {
    width: 24px;
    cursor: pointer;
    & + svg

  {
    margin-top: 34px;
  }

  &:last-child {
    margin-top: auto;
  }

  &.active,
  &:hover {
    color: #4255d4;
  }

  }
  }

  @keyframes left {
    0% {
      transform: translateX(-30px);
      opacity: 0;
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes top {
    0% {
      transform: translateY(-30px);
      opacity: 0;
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }

  .main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 25px;
    overflow: visible;
    padding-left: 0;
  }

  .header {
    background: rgb(20, 24, 52);
    background: radial-gradient( circle, rgba(20, 24, 52, 1) 0%, rgba(19, 22, 47, 1) 100% );
    box-shadow: 0 16px 12px $main-bg;
    width: 100%;
    padding: 0 30px;
    animation: top 1s both;
    display: flex;
    align-items: center;
    border-radius: 6px;
    font-size: 15px;
    white-space: nowrap;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    &:before

  {
    content: "";
    width: 100%;
    height: 25px;
    position: absolute;
    top: -25px;
    left: 0;
    background-color: $main-bg;
  }

  &-link {
    color: $body-color;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 20px;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
    svg

  {
    width: 20px;
    margin-right: 14px;
  }

  &.active,
  &:hover {
    background: #11132c;
    border-bottom: 3px solid #4255d4;
  }

  }
  }

  .logo {
    padding: 20px 50px 20px 0;
    font-size: 16px;
    color: #e7e8ea;
    &-det

  {
    background: #4255d4;
    padding: 8px;
    margin-left: -2px;
    border-radius: 50%;
    font-size: 15px;
  }

  }

  .user-info {
    margin-left: auto;
    display: flex;
    align-items: center;
    svg

  {
    width: 20px;
  }

  .profile {
    margin: 0 20px 0 12px;
    width: 18px;
  }

  }

  .button {
    display: flex;
    align-items: center;
    color: $body-color;
    background: #1a1b3c;
    border: none;
    padding: 2px 12px;
    border-radius: 4px;
    margin-right: 20px;
    svg

  {
    margin-left: 10px;
    width: 16px;
  }

  }

  .user-box {
    margin-top: 25px;
    width:100%;
    display: flex;
    & + &

  {
    margin-top: 20px;
    .cards-wrapper

  {
    margin-left: 0;
    flex-grow: 1;
    max-width: none;
  }

  .today {
    margin-left: 30px;
  }

  .cards-header {
    padding: 20px 30px;
    justify-content: space-between;
  }

  }

  .cards-header,
  .cards-view {
    display: flex;
    // align-items: center;
    // justify-content: center;
    svg

  {
    width: 24px;
  }

  .title {
    margin: 0 16px;
    font-size: 15px;
  }

  &-date svg {
    width: 30px;
  }

  .cards-button {
    background: #15193c;
    padding: 10px 16px;
    margin-right: 0;
    svg

  {
    width: 16px;
    margin: 0 2px 0 0;
  }

  }

  .date-wrapper {
    display: flex;
    align-items: center;
    margin: auto;
    .title

  {
    margin: 0 16px;
  }

  }
  }
  }

  .cards-view > svg {
    margin-right: 12px;
  }

  .today {
    position: relative;
    &:before

  {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #ef415c;
    bottom: -8px;
    right: 50%;
    border-radius: 50%;
  }

  }

  .card {
    background: rgb(26, 32, 73);
    background: radial-gradient( circle, rgba(26, 32, 73, 1) 0%, rgba(19, 22, 47, 1) 100% );
    padding: 40px 30px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: unset;
    width: 100%;
    .title

  {
    font-size: 16px;
    font-weight: 500;
  }

  .subtitle {
    font-size: 13px;
    line-height: 1.6em;
  }

  & + & {
    // margin-left: 20px;
  }

  }

  .activity {
    max-height: unset;
    max-width: unset;
    .title

  {
    margin-bottom: 20px;
  }

  &-links {
    display: flex;
    align-items: center;
    margin-top: auto;
    font-size: 15px;
  }

  &-link {
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    + .activity-link

  {
    margin-left: 25px;
    &:before

  {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #ef415c;
    top: -2px;
    right: -8px;
    border-radius: 50%;
  }

  &:hover:after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    background: #4255d4;
    left: 0;
    bottom: 0;
  }

  &:hover {
    color: #bebec4;
    -webkit-text-stroke: 0.3px;
  }
  span {
    color: #bebec4;
    font-weight: 300;
  }

  }

  &.active {
    color: #bebec4;
    font-weight: 500;
    &:before

  {
    content: "";
    position: absolute;
    width:100%;
    height: 2px;
    background: #4255d4;
    left: 0;
    bottom: 0;
  }

  }
  }
  }

  .destination {
    display: flex;
    align-items: center;
    margin-top: auto;
    &-card

  {
    background: rgb(26, 29, 58);
    background: linear-gradient( 45deg, rgba(26, 29, 58, 1) 0%, rgba(33, 39, 82, 1) 100% );
    padding: 20px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 5px 5px 14px 4px #0e0e23;


    & + &

  {
    // margin-left: 20px;
    background: rgb(26, 29, 58);
    background: linear-gradient( 325deg, rgba(26, 29, 58, 1) 0%, rgba(33, 39, 82, 1) 100% );
  }

  }

  &-profile {
    display: flex;
    align-items: center;
    font-size: 14px;
    svg

  {
    width: 18px;
    flex-shrink: 0;
    margin-right: 8px;
  }

  }

  &-length {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 13px;
  }

  &-points {
    margin-top: 30px;
  }

  }

  .profile-img {
    width: 46px;
    height: 46px;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #bebec4;
    flex-shrink: 0;
  }

  .point {
    font-size: 14px;
    color: #bebec4;
    font-weight: 500;
  }

  .sub-point {
    font-size: 13px;
    margin-top: 4px;
  }

  .discount {
    max-width: 320px;
    width: 100%;
    .title

  {
    margin-bottom: 30px;
  }

  .subtitle {
    margin-bottom: 8px;
    &-count

  {
    font-size: 17px;
    color: #17a98a;
    font-weight: 500;
    & + .subtitle

  {
    margin-top: 20px;
  }

  &.dist {
    color: #e85471;
  }

  }
  }

  &-width-cell {
    display: flex;
  }

  &-chart {
    margin-left: auto;
  }

  &-profile {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }

  &-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 16px 0 12px;
  }

  &-name {
    font-weight: 500;
    font-size: 15px;
  }

  &-type {
    font-size: 13px;
    margin-top: 4px;
  }

  }

  .circle {
    width: 100px;
    height: 100px;
    border: 3px solid #5b5f78;
    border-radius: 50%;
    position: relative;
  }

  .pie {
    position: relative;
    width: 120px;
    height: 120px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    svg circle

  {
    fill: transparent;
    stroke: #4356d6;
    stroke-width: 14;
    stroke-dasharray: 275;
    stroke-dashoffset: 235;
    animation: pieChart 3.8s linear forwards;
  }

  }

  @keyframes pieChart {
    100% {
      stroke-dashoffset: 0;
    }
  }

  .counter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #3e50c5;
    font-weight: 500;
  }

  .offer-button {
    background: #4255d4;
    padding: 14px;
    text-align: center;
    justify-content: center;
    margin-top: auto;
    margin-right: 0;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
  }

  .cards {
    &-header

  {
    background: #10122b;
    border-radius: 6px 6px 0 0;
    padding: 20px 45px;
    font-size: 14px;
    font-weight: 500;
    &-date

  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg

  {
    color: #4154d1;
    background: #14183c;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
  }

  }
  }

  &-width-cell {
    margin-left: 20px;
    max-width: 305px;
    width: 100%;
  }

  &-hour {
    font-size: 26px;
    .am-pm

  {
    font-size: 15px;
    font-weight: 500;
  }

  }

  &.card {
    border-radius: 0 0 6px 6px;
    padding: 30px 20px;
    svg

  {
    width: 24px;
    margin-left: auto;
    color: #818394;
  }

  }

  &-head {
    display: flex;
    align-items: center;
  }

  }

  .degree {
    margin-top: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #818394;
    font-weight: 500;
    svg

  {
    width: 24px;
    margin-right: 12px;
  }

  }

  .items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    font-size: 13px;
    font-weight: 500;
    &.numbers

  {
    margin-top: 0;
  }

  }

  .item {
    flex: 0 1 calc(100% / 7);
    padding: 10px 5px;
    text-align: center;
    &.is-active

  {
    background: #4255d4;
    border-radius: 50%;
    color: #fff;
  }

  &.disable {
    color: #595b5b;
  }

  }

  .account {
    width: 100%;
    height: 275px;
    margin-top: auto;
    flex-grow: 0;
    position: relative;
    transition: 0.3s;
    // cursor: pointer;
    transition: .3s;
    &:hover

  {
    transform: scale(1.02);
  }

  &:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    box-shadow: -15px 0 0 0 #ef8741;
    background: #ef415c;
    top: 20px;
    left: 42px;
    border-radius: 50%;
  }

  &-width-cell {
    max-width: 310px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: center;
  }

  &-profile {
    margin: auto;
    position: relative;
    text-align: center;
    position: relative;
    img

  {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
    border: 3px solid #4255d3;
    padding: 5px;
  }

  .blob {
    position: absolute;
    border-radius: 50%;
    animation: fly 5.8s linear infinite alternate;
    &:nth-child(1)

  {
    width: 14px;
    height: 14px;
    top: 25px;
    left: -20px;
    background: #28327a;
    animation-delay: 0.9s;
  }

  &:nth-child(2) {
    width: 18px;
    height: 18px;
    background: #87344c;
    right: -20px;
    top: -20px;
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    width: 12px;
    height: 12px;
    background: #13645b;
    right: -35px;
    top: 50%;
    animation-delay: 1.8s;
  }

  }
  }

  &-name {
    margin: 20px 0 10px;
  }

  &-title {
    font-size: 14px;
  }

  &-cash {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 6px;
    padding-top: 16px;
    position: relative;
  //   &:before

  // {
  //   content: "";
  //   position: absolute;
  //   width: 5px;
  //   height: 5px;
  //   background: $body-color;
  //   right: 10px;
  //   border-radius: 50%;
  //   box-shadow: -10px 0 0 0 $body-color, 10px 0 0 0 $body-color;
  //   top: 24px;
  // }

  }

  &-income {
    font-size: 14px;
  }

  &-iban {
    margin-top: auto;
    font-weight: 500;
  }

  }

  .time {
    height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #9e5924;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    &.is-wait

  {
    background: #4255d3;
  }

  }

  .table .status {
    color: #1aa385;
    display: inline-flex;
    align-items: center;
    svg

  {
    margin-right: 6px;
    width: 22px;
    height: 22px;
    padding: 3px;
    border-radius: 4px;
    background-color: #142940;
    color: currentColor;
  }

  &.is-red {
    color: #d14b69;
    #f80a0a
    svg

  {
    background: #2e2142;
    color: currentcolor;
  }

  }

  &.is-wait {
    color: #3E4EC2;
    position: relative;
    &:before

  {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background: #0e0e23;
    border-radius: 4px;
  }

  svg {
    background-color: transparent;
    color: currentcolor;
    animation: turn 2s linear infinite both;
  }

  }
  }

  @keyframes turn {
    100% {
      transform: rotate(1turn);
    }
  }

  .table {
    text-align: left;
    padding: 0;
    box-shadow: 0px 1px 20px 0px black;
    th

  {
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 16px;
    &:nth-child(n+5)

  {
    padding: 0 10px 16px;
  }

  &:first-child {
    padding-left: 36px;
  }

  }

  td {
    font-size: 15px;
    vertical-align: middle;
    padding: 8px 0;
    &:last-of-type

  {
    width: 100px;
  }

  &:nth-child(n+5) {
    padding: 0 10px;
  }

  &:nth-last-of-type(2) svg {
    width: 16px;
  }

  }

  input {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid $body-color;
    vertical-align: middle;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 16px;
    transition: .25s;
    background-size: 0;
    background-position: center;
    &:checked

  {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='%23fff' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    background-color: $bg-color;
    background-size: 12px;
    background-repeat: no-repeat;
  }

  }
  }

  @keyframes fly {
    40% {
      transform: translate(-6px, -6px);
    }

    60% {
      transform: translate(-12px, -2px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  .transection {
    flex-shrink: 0;
    max-width: 310px;
    width: 100%;
    margin-left: 20px;
    &-header

  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
  }

  .is-wait {
    color: #3E4EC2;
  }

  }

  .credit {
    &-width-cell

  {
    margin-top: auto;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    svg

  {
    width: 38px;
    padding: 3px;
    border-radius: 6px;
    margin-right: 12px;
  }

  path {
    width: 24px;
  }

  }

  &-money {
    margin-left: auto;
    &.is-active

  {
    color: #1aa385;
  }

  &.is-cancel {
    color: #d14b69;
  }

  .is-wait {
    color: #3E4EC2;
  }

  }

  &-status {
    font-size: 13px;
    font-weight: normal;
  }

  &-type {
    color: #e7e8ea;
    margin-bottom: 6px;
  }

  }

  @media screen and (max-width: 1500px) {
    .width-cell {
      max-width: 1200px;
    }
    .account-cash{
      font-size: 16px;
    }

    .activity {
      width: 100%;
      max-width: none;
    }

    // .discount {
    //   width: 48%;
    //   max-width: none;
    //   height: 100%;
    // }

  //   .first-box {
  //     flex-wrap: wrap;
  //     .cards-wrapper

  // {
  //   width: 67%;
  //   max-width: none;
  //   margin: 20px 0;
  //   .item.is-active

  // {
  //   background: none;
  //   color: inherit;
  // }

  // }

  // .account-wrapper {
  //   max-width: none;
  //   width: calc(33% - 20px);
  //   margin: 20px 0 20px 20px;
  // }

  // }

  // .second-box {
  //   flex-wrap: wrap;
  //   .cards-wrapper

  // {
  //   margin-top: 40px;
  //   width: 66%;
  // }

  // }

  // .transection {
  //   margin-top: 40px;
  //   max-width: none;
  //   width: 30%;
  // }

  }

  @media screen and (max-width: 1200px) {
    .time {
      display: none;
    }
  }

  @media screen and (max-width: 1060px) {
    .user-info {
      .button, .hour

  {
    display: none;
  }

  }
  }

  @media screen and (max-width: 1020px) {
    .user-box .cards-view {
      display: none;
    }

    .user-box .cards-header .cards-button {
      display: none;
    }

    .cards-header-date {
      margin: auto;
    }
  }

  @media screen and (max-width: 930px) {
    .second-box .cards-wrapper {
      width: 100%;
    }

    .transection {
      width: 100%;
      margin-left: 0;
      height: 100%;
      margin-top: 20px;
    }

    .header-link {
      display: none;
    }

    .user-info .profile {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 850px) {
    .activity-card,
    .discount {
      width: 100%;
    }

    .user-box .discount {
      margin-left: 0;
      margin-top: 20px;
    }

    .left-side {
      display: none;
    }

    .main-container {
      padding-left: 25px;
    }

    .activity-links,
    .destination {
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 720px) {
    .first-box .account-wrapper {
      display: none;
    }

    .first-box .cards-wrapper {
      width: 100%;
    }

    .second-box .cards.card {
      overflow-y: auto;
    }
  }

  @media screen and (max-width: 420px) {
    .destination-card + .destination-card {
      display: none;
    }
  }


  .user-box > * {
    animation: top 1s var(--delay) both;
  }
  .operation button {
    color: #fbf6ed;
    background: transparent;
  }
    .operation button i {
      color: red !important;
      background: #fbf6ed;
      font-size: larger;
      border-radius: 360px;
    }
    body .el-select-dropdown{
      position: fixed;
    }
  .table-hover>tbody>tr:hover {
    background-color: #121229 !important;
}
  .technical-text {
    color: white;
  }
  .thumb-info-wrapper{
    border:none;
  }
</style>
